<template>
    <app-modal-order-return />
</template>

<script>
    import ModalOrderReturn from '@/components/modal/OrderReturn.vue'

    export default {
        async asyncData({ store, route }) {
            await Promise.all([
                await store.dispatch('return/getReturnedData', route.params.id),
                await store.dispatch('order/getOrder', route.params.id)
            ])
            return
        },
        components: {
            'app-modal-order-return': ModalOrderReturn
        },
        transition: 'slide',
    }
</script>