<template>
    <modal-terminal />
</template>

<script>
import ModalTerminal from "@/components/admin/modal/Terminal";
export default {
    name: "EditTerminal",
    transition: "slide",
    layout: "admin",
    components: {
        ModalTerminal,
    },
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch("store/getStores", "all"),
            store.dispatch("terminal/getTerminal", route.params.id),
        ]);
    },
};
</script>
