<template>
    <section>
        <!-- <div class="d-flex align-items-center justify-content-end mb-3">
            <p class="mb-0 mr-2">Have Credit Line:</p>
            <label class="switch">
                <input type="checkbox" v-model="isCreditLine" />
                <span class="slider"></span>
            </label>
        </div> -->
        <div class="fillter-responsive--wrapper mt-3">
            <b-card>
                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Company"
                                    v-model="company"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Builders Code"
                                    v-model="buildersCode"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Name"
                                    v-model="name"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Phone Number"
                                    v-model="phoneNumber"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Billing Address"
                                    v-model="billingAddress"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Delivery Address"
                                    v-model="shippingAddress"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mr-auto">
                        <div class="form-group mb-0 mr-3">
                            <div class="icon icon-left">
                                <input
                                    type="text"
                                    class="form-control form-icon"
                                    placeholder="Search Email"
                                    v-model="email"
                                    @keyup="search"
                                />
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" @click="resetFillter">
                            Reset Filter
                        </button>
                    </div>
                </div>
            </b-card>
        </div>
        <div class="mt-3">
            <admin-table-customer
                ref="searchCustomer"
                :admin="false"
                @set-perpage="setPerpage"
                :isCompany="true"
                :name="name"
                :buildersCode="buildersCode"
                :company="company"
                :phoneNumber="phoneNumber"
                :billingAddress="billingAddress"
                :shippingAddress="shippingAddress"
                :email="email"
            />
        </div>
    </section>
</template>
<script>
import AdminTableCustomer from "@/components/admin/table/Customer.vue";
import { mapState, mapMutations, mapActions } from "vuex";
import _ from "lodash";

export default {
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch("customer/getCustomers", {
                isCompany: true,
                perpage: 10,
            }),
        ]);
        return;
    },
    components: {
        "admin-table-customer": AdminTableCustomer,
    },
    data() {
        return {
            isCreditLine: false,
            name: "",
            company: "",
            buildersCode: "",
            phoneNumber: "",
            billingAddress: "",
            shippingAddress: "",
            email: "",
            action: false,
            showFillter: true,
            perpage: 10,
        };
    },
    beforeRouteLeave(to, from, next) {
        this.SET_CUSTOMER_PAGE(1);
        next();
    },
    destroyed() {
        this.SET_CUSTOMER_SELECTED(null);
    },
    computed: {
        ...mapState("customer", {
            customer: (state) => {
                return {
                    selected: state.selected,
                    page: state.page,
                };
            },
        }),
    },
    watch: {
        isCreditLine() {
            this.search();
        },
    },
    methods: {
        ...mapMutations(["SET_LOADING_TABLE"]),
        ...mapMutations("customer", [
            "SET_CUSTOMER_SELECTED",
            "SET_CUSTOMER_TABLE_DEFAULT",
            "SET_CUSTOMER_PAGE",
        ]),
        ...mapActions("customer", ["getCustomers", "searchCustomer"]),
        setPerpage(value) {
            this.perpage = value;
        },
        resetFillter() {
            this.name = "";
            this.company = "";
            this.buildersCode = "";
            this.phoneNumber = "";
            this.billingAddress = "";
            this.shippingAddress = "";
            this.email = "";
            this.getCustomers({
                isCompany: true,
                has_credit_line: this.isCreditLine,
                perpage: this.perpage,
            });
        },
        goToIndividual() {
            this.$router.push({ name: "customers-individual" });
        },
        toCreate() {
            localStorage.setItem(
                "history-route-customer",
                this.$router.currentRoute.name
            );
            this.$router.push({ name: "customers-create" });
        },
        search: _.debounce(function (e) {
            this.SET_LOADING_TABLE(true);
            if (this.customer.page == 1) {
                this.$store
                    .dispatch("customer/searchCustomer", {
                        name: this.name,
                        isCompany: true,
                        buildersCode: this.buildersCode,
                        company: this.company,
                        phoneNumber: this.phoneNumber,
                        billingAddress: this.billingAddress,
                        shippingAddress: this.shippingAddress,
                        email: this.email,
                        perpage: this.perpage,
                        isCompany: true,
                        has_credit_line: this.isCreditLine,
                    })
                    .then(() => {
                        this.SET_LOADING_TABLE(false);
                    });
            } else {
                this.SET_CUSTOMER_PAGE(1);
            }
        }, 800),
    },
    transition: "slide",
    layout: "admin",
};
</script>
<style scoped>
select.form-control {
    height: calc(1.96875rem + 9px);
}
</style>

