<template>
  <div class="reset-password">
    <div class="card-default card-default__sm">
      <h4 class="text-blue">Forgot your Password?</h4>
      <p class="text-gray">Enter your email address you're using for your account bellow and we will send you a
        password reset link</p>
      <div class="form-group">
        <input type="text" v-model="email" class="form-control form-control__lg" placeholder="Input your email address" v-validate="'required|email'" :class="{'input': true, 'is-invalid': errors.has('email'), 'form-control':true }" name="email" data-vv-as="email" data-vv-validate-on="blur">
        <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
        <p class="text-danger" v-if="error_validate.email">{{ error_validate.email[0] }}</p>
      </div>
      <p class="alert alert-success" v-if="message != ''">{{ message }}</p>
      <button class="btn btn-primary btn-lg" @click.prevent="submit">Request Reset Link</button>
      <nuxt-link tag='a' to="/login" class="text-gray">Back to Sign</nuxt-link>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState, mapMutations } from 'vuex'
  export default {
    auth: false,
    data() {
      return {
        email: ''
      }
    },
    created(){
      this.SET_MESSAGE('')
    },
    computed: {
      ...mapState(['message']),
      ...mapState('reset-password', {
        error_validate: state => state.validate
      }),
    },
    methods: {
      ...mapActions('reset-password', ['sendResetPassword']),
      ...mapMutations(['SET_MESSAGE']),
      ...mapMutations('reset-password', ['CLEAR_ERROR']),
      submit() {
        this.$validator.validate().then(result => {
          if (result){
            this.sendResetPassword(this.email).then((res) => {
            this.SET_MESSAGE(res.message)
            this.email = ''
          })
          this.SET_MESSAGE('')
          }
        })
      }
    },
    destroyed() {
      this.SET_MESSAGE('')
      this.CLEAR_ERROR()
    },
  }
</script>
<style>

</style>