$unassign-color: #3D464C;

$truck-1 : #81D4FA;
$truck-2 : #32CD32;
$truck-3 : #EAA500;
$truck-4 : #3B96CC;
$truck-5 : #9B1616;
$truck-6 : #00A7AC;
$truck-7 : #5F4EAF;
$truck-8 : #FFD500;
$truck-9 : #F07167;
$truck-10 : #8FB69B;
$truck-11 : #0239A9;
$truck-12 : #37140F;
$truck-13 : #602D17;

$truckColors : (
    $truck-1,
    $truck-2,
    $truck-3,
    $truck-4,
    $truck-5,
    $truck-6,
    $truck-7,
    $truck-8,
    $truck-9,
    $truck-10,
    $truck-11,
    $truck-12,
    $truck-13,
);


@each $truckColor in $truckColors{
    .truck-#{unquote("\\" + $truckColor)}{
        border-color: $truckColor !important;
        border-width: 2px !important;
        @media (min-width: 1367px){
            border-width: 4px !important;
        }
        i{
            color: $truckColor;
        }
    }
}

.route{
    &__wrapper{
        max-height: 600px;
        min-height: 150px;
        overflow-y: auto;
    }
}
.btn-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: -27px;
}
.gm-ui-hover-effect{
    outline: none !important;
}
.arrow__change{
    position: absolute;
    top: -12px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
.unassign__stop{
    border: 2px solid $unassign-color;
    @media (min-width: 1367px){
        border-width: 4px;
    }
}
.header__sticky{
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    margin-bottom: -1px;
}
.timeline__routing-changelog{
    .timeline{
        &__items{
            &-left{
                flex-basis: 25%;
            }
            &-right{
                flex-basis: 75%;
            }
            &::before{
                left: 25%;
            }
            &::after{
                left: 25%;
                margin-left: -11px;
            }
        }
    }
}

.draggable__list{
    &.sortable-fallback{
        max-width: 360px;
    }
}

.reschedule-log__wrapper{
    border: 2px solid $gray-300;
    @media (min-width: 1367px){
        border-width: 4px;
    }
    max-height: 350px;
    overflow-y: auto;
}