<template>
    <div>
        <app-table
            :items="conditionData.data"
            :fields="fields"
            :busy="loadingTable"
            @row-clicked="selectCondition"
            hover
            show-empty
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle" />
            </div>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <app-total :data="conditionData.meta" @itemPerPage="setPerPage" />
            <app-pagination
                align="right"
                :total-rows="conditionData.meta.total"
                v-model="conditionData.meta.current_page"
                :per-page="conditionData.meta.per_page"
                @change="setPage"
                v-if="
                    conditionData.data.length > 0 &&
                    conditionData.meta.last_page > 1
                "
            />
        </div>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from "@/components/utilities/TotalRecord";

import { mapState } from "vuex";

export default {
    name: "ConditionTable",
    data() {
        return {
            fields: [
                {
                    key: "name",
                    label: "Name",
                    thStyle: {
                        width: "350px",
                    },
                },
                {
                    key: "description",
                    label: "Description",
                },
            ],
        };
    },
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
    },
    computed: {
        ...mapState("condition", {
            conditionData: (state) => state.conditions,
        }),
        ...mapState(["loadingTable"]),
    },
    methods: {
        setPage(val) {
            this.$emit("changePage", val);
        },
        setPerPage(val) {
            this.$emit("changePerpage", val);
        },
        selectCondition(item) {
            this.$router.push({
                name: "settings-condition-edit-id",
                params: { id: item.id },
            });
        },
    },
};
</script>
