<template>
    <div>
        <app-table :items="customer.items" :busy="loadingTable" :fields="fields" hover @row-clicked="setSelected" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="credit-line" slot-scope="row">
                <p>{{ row.item.customer_credit ? '$' + row.item.customer_credit.credit_limit:'$0.00' }}</p>
            </template>
            <!-- <template slot="billingAddress" slot-scope="row">
                <div>{{ row.item.formatted_billing_address | formattedAddress }}</div>
            </template>
            <template slot="shippingAddress" slot-scope="row">
                <div v-for="(address, i) in row.item.formatted_shipping_address" :key="i">
                    <div>{{address | formattedAddress}}</div>
                </div>
            </template> -->
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="customer.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="customer.meta.total" v-model="customer.page" :per-page="customer.meta.per_page" @change="setPage" v-if="customer.items && customer.meta.last_page > 1"/>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import { mapState, mapMutations, mapActions } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return{
            id:'',
            customer_name:'',
            fields: [
                {
                    key: 'name',
                    label: 'Contact Name'
                },
                {
                    key: 'phoneNumber',
                    label: 'Phone Number',
                    // thStyle: {
                    //     width: '170px !important'
                    // }
                },
                {
                    key: 'email',
                    label: 'Email',
                },
                {
                    key: 'credit-line',
                    label: 'Credit Line',
                },
            ],
            modalCustomerDelete: false,
            perpage: 10
        }
    },
    watch: {
        'customer.page': function() {
            this.getResponse()
        }
    },
    props: {
        admin: {
            type: Boolean,
            default: false
        },
        credit: {
            type: Boolean,
            default: true
        }
    },
    filters: {
        formattedAddress: function (value) {
            if (value.number != '' && value.street != '' && value.city != '' && value.state != '' && value.postal_code != '' && value.country != '') {
                return value.number + ' ' + value.street + ', ' + value.city + ', ' + value.state + ' ' + value.postal_code + ', ' + value.country
            }
            return ''
        }
    },
    computed: {
        ...mapState('customer', {
            customer: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta,
                    page: state.page
                }
            }
        }),
        ...mapState(['loadingTable'])
    },
    methods:{
        ...mapMutations('customer', [
            'SET_CUSTOMER_PAGE',
            'SET_CUSTOMER_SELECTED',
        ]),
        setPage(value) {
            this.SET_CUSTOMER_PAGE(value)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_CUSTOMER_PAGE(1)
            this.getResponse()
        },
        getResponse(){
            this.searchCustomer({
                name: this.$attrs.name,
                company: this.$attrs.company,
                isCompany: this.credit ? 'credit' : '', 
                phoneNumber: this.$attrs.phoneNumber, 
                billingAddress: this.$attrs.billingAddress, 
                shippingAddress: this.$attrs.shippingAddress, 
                email: this.$attrs.email,
                credit: this.credit ? 'credit' : '', 
                perpage: this.perpage 
            })
        },
        ...mapActions('customer', [
            'getCustomers',
            'searchCustomer'
        ]),
        setSelected(item, index) {
            this.SET_CUSTOMER_SELECTED(item)
            localStorage.setItem('history-route-customer', this.$router.currentRoute.name)
            this.$router.push({name:'customers-detail-credit-line-id', params:{ 'id': item.customer_code}})
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
    .content-txt{
        color: #e83e8c;
    }
    .red{
        color: red;
    }
    .red:hover{
        color: red; 
    }
</style>



