<template>
    <div>
        <app-table :items="formatedItems" :busy="loadingTable" :fields="fields" fixed show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="price" slot-scope="row">
                <span v-money :key="row.item.price">{{row.item.price}}</span>
            </template>
            <template slot="order_no" slot-scope="row">
                <a href="javascript:void(0)" class="text-primary" @click="goToOrder(row.item)">{{row.item.order_no}}</a>
            </template>
            <template slot="price" slot-scope="row">
                <span v-money :key="row.item.price">{{row.item.price}}</span>
            </template>
            <template slot="status" slot-scope="row">
                <no-ssr>
                    <app-select
                        v-model="row.item.status_selected"
                        :options="status.options"
                        label="name"
                        track-by="value"
                        placeholder="Change Status"
                        :hide-selected="true"
                        :allow-empty="false"
                        :show-labels="false"
                        @input="handleChangeStatus(row.item)" />
                </no-ssr>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="meta" @itemPerPage="setPerPage" />
            <app-pagination v-if="items.length > 0 && meta.last_page > 1" align="right" :total-rows="meta.total" v-model="meta.current_page" @change="setPage" :per-page="meta.per_page"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
import Select from 'vue-multiselect'

export default {
    data: () => ({
        fields: [
            {
                key: 'order_date'
            },
            {
                key: 'order_no'
            },
            {
                key: 'product_model',
                label: 'Model'
            },
            {
                key: 'product_name',
                thStyle: {
                    width: '300px'
                }
            },
            {
                key: 'price',
            },
            {
                key: 'status',
            }
        ],
        status: {
            options: [
                {
                    name: 'Open',
                    value: 0
                },
                {
                    name: 'Resolved',
                    value: 1
                },
                {
                    name: 'Not a Product / Others',
                    value: 2
                }
            ]
        }
    }),
    computed: {
        ...mapState('customItemReport', {
            items: state => state.data.items,
            meta: state => state.data.meta
        }),
        ...mapState(['loadingTable']),
        formatedItems(){
            return this.items.map(v => {
                return{
                    ...v,
                    status_selected: {
                        name: v.custom_status == 0 ? 'Open' : v.custom_status == 1 ? 'Resolved' : 'Not a Product / Others',
                        value: v.custom_status
                    }
                }
            })
        },
    },
    methods: {
        ...mapActions({
            changeStatus: 'customItemReport/changeStatus'
        }),
        handleChangeStatus(item){
            this.changeStatus({
                id: item.id,
                status: item.status_selected.value
            })
            .then(() => {
                this.$emit('fetchData')
            })
        },
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_no}})
        },
        setPerPage(value){
            this.$emit('setPerPage', value)
        },
        setPage(value){
            this.$emit('setPage', value)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-select' : Select
    }
}
</script>



