<template>
    <div>
        <app-table :items="arrayItem" :busy="loadingTable" :fields="field_daily" hover show-empty foot-clone @row-clicked="setSelected">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="subtotal" slot-scope="row">
                <p :class="'mb-0'">{{ row.item.date_returned != '-' ? '-':'' }}<span v-money>{{ row.item.sale_price }}</span></p>
            </template>
            <template slot="tax" slot-scope="row">
                <p :class="'mb-0'">{{ row.item.date_returned != '-' ? '-':'' }}<span v-money>{{ row.item.tax }}</span></p>
            </template>
            <template slot="total" slot-scope="row">
                <p :class="'mb-0'">{{ row.item.date_returned != '-' ? '-':'' }}<span v-money>{{ row.item.item_total }}</span></p>
            </template>

            <template slot="date_paid_in_full" slot-scope="row">
                <div :key="row.field.label">{{ row.item.date_sold }}</div>
            </template>

            <!-- FOOTER -->
            <template slot="FOOT_date_sold" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_date_delivered" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_date_returned" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_delivery_method" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_location" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_subtotal" slot-scope="row">
                <span v-money :key="row.field.label + subtotal">{{ subtotal }}</span>
            </template>
            <template slot="FOOT_tax" slot-scope="row">
                <span v-money :key="row.field.label + totalTax">{{ totalTax }}</span>
            </template>
            <template slot="FOOT_total" slot-scope="row">
                <span v-money :key="row.field.label + itemTotal">{{ itemTotal }}</span>
            </template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('accounting', {
            field_daily: state => state.field_daily,
            item_daily: state => state.item_daily
        }),
        arrayItem() {
            let vm = this
            return this._.map(this.item_daily.data, function(item, key) {
                let assignVariant = item.date_returned != '-' ? { _rowVariant: 'danger' }:''
                return vm._.assignIn(item, assignVariant)
            })
        },
        totalTax() {
            return this.item_daily.meta.total_tax
        },
        itemTotal() {
            return this.item_daily.meta.item_total
        },
        subtotal() {
            return this.item_daily.meta.total_price
        }
    },
    methods: {
        ...mapActions('accounting', ['getDaily']),
        ...mapMutations('accounting',[
            'SET_DAILY_SELECTED'
        ]),
        setSelected(item, index){
            this.SET_DAILY_SELECTED(item)
            this.$emit('row-clicked')
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



