<template>
    <div>
        <div class="d-flex align-items-center mt-3">
            <div class="d-flex flex-row mr-3">
                <div></div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div>
                        <p></p>
                        <p class="font-weight-bold w-100">
                            Total Amount :
                            <span v-money :key="item.total">{{
                                item.total
                            }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <app-table
            :items="item.data.data"
            :busy="loadingTable"
            :fields="filterField"
            fixed
            show-empty
            @row-clicked="goToOrder"
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="order_no" slot-scope="row">
                <a
                    href="javascript:void(0)"
                    class="text-primary"
                    @click="goToOrder(row.item)"
                    >{{ row.item.order_no }}</a
                >
            </template>
            <template slot="amount" slot-scope="row">
                <span v-money :key="row.item.amount">{{
                    row.item.amount
                }}</span>
            </template>
            <template slot="amount" slot-scope="row">
                <span v-money :key="row.item.amount">{{
                    row.item.amount
                }}</span>
            </template>
            <template slot="amount_received" slot-scope="row">
                <span v-if="selected.index !== `selected-${row.index}`" v-money :key="row.item.amount_received">
                    {{ row.item.amount_received }}
                </span>
                <a
                    v-if="selected.index !== `selected-${row.index}`"
                    class="text-primary"
                    role="button"
                    v-b-tooltip.hover
                    title="Edit Amount Received"
                    @click="toggelEditAmountReceived(row)"
                >
                    <i class="fa fa-edit"></i>
                </a>
                <price-input v-if="selected.index === `selected-${row.index}`" v-model="selected.row.amount_received" @blur="updateAmountRecevied"></price-input>
            </template>
            <template slot="date_accepted_formatted" slot-scope="row">
                <template v-if="!removeMultipleIndex.includes(row.index)">
                    <span>{{ row.item.date_accepted_formatted }}</span>
                    <a
                        class="text-primary"
                        role="button"
                        v-b-tooltip.hover
                        title="Edit Date Accepted"
                        @click="toggleEditDateAccepted(row.index)"
                    >
                        <i class="fa fa-edit"></i>
                    </a>
                </template>
                <template v-if="removeMultipleIndex.includes(row.index)">
                    <app-datepicker
                        v-model="row.item.date_accepted_formatted"
                        mode="single"
                        @input="
                            editDateAccepted(
                                row.item.id,
                                row.index,
                                'date_accepted_formatted',
                                $event
                            )
                        "
                    >
                        <template
                            :type="inputState.type"
                        >
                            <div class="icon icon-right w-date-accepted">
                                <input
                                    v-model="row.item.date_accepted_formatted"
                                    :id="`data-accepted-${row.index}`"
                                    type="text"
                                    placeholder="Select Date"
                                    class="form-control form-icon"
                                    readonly
                                />
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </template>
            </template>
            <template slot="notes" slot-scope="row">
                <div
                    class="d-flex align-items-start"
                    v-if="row.item.credit_memo"
                >
                    <p class="mb-0">{{ row.item.credit_memo }}</p>
                    <a
                        href="javascript:void(0)"
                        class="text-primary d-flex align-items-center ml-2"
                        @click="showModalMemo(row.item)"
                        ><i class="fas fa-edit mr-1"></i> Edit</a
                    >
                </div>
                <a
                    href="javascript:void(0)"
                    class="text-primary d-flex align-items-center"
                    @click="showModalMemo(row.item)"
                    v-else
                    ><i class="fas fa-plus mr-1"></i> Add</a
                >
            </template>
            <template slot="status" slot-scope="row">
                <a
                    href="javascript:void(0)"
                    class="badge badge-success rounded"
                    :class="row.item.status === 1 ? 'badge-success' : 'badge-danger'"
                    v-b-tooltip.hover.noninteractive
                    :title="`Click to ${row.item.status === 1 ? 'Resolve' : 'Open'}`"
                    @click="
                        changeStatus(
                            row.item.status,
                            row.index,
                            'status',
                            row.item.id
                        )
                    ">
                    <i
                        class="fas"
                        :class="row.item.status === 1 ? 'fa-arrow-right' : 'fa-arrow-left'"
                    />
                </a>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3" v-if="item.data.data && item.data.data.length > 0">
            <app-total :data="item.data" @itemPerPage="setPerPage" />
            <app-pagination v-if="item.data.data && item.data.data.length > 0 && item.data.last_page > 1" align="right" :total-rows="item.data.total" v-model="item.data.current_page" @input="setPage" :per-page="item.data.per_page"></app-pagination>
        </div>
        <app-modal
            size="lg"
            :customTitle="true"
            :show="modalMemo"
            @hide="hideModalMemo"
        >
            <template slot="modal-title">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">Notes</h5>
                </div>
            </template>
            <div class="form-group">
                <textarea
                    name="memo"
                    id="memo"
                    cols="30"
                    rows="5"
                    class="form-control resize-none"
                    :class="{ 'is-invalid': errors.has('memo') }"
                    v-validate="'required'"
                    v-model="tempData.credit_memo"
                />
                <span class="text-danger" v-if="errors.has('memo')">{{
                    errors.first("memo")
                }}</span>
            </div>
            <template slot="modal-footer">
                <button
                    class="btn btn-outline-danger mr-auto"
                    @click="showDeleteMemo"
                    v-if="tempData.isEdit"
                >
                    Delete
                </button>
                <button
                    class="btn btn-primary px-4"
                    @click="saveMemo"
                    :disabled="isLoading"
                >
                    <div class="px-2" v-if="isLoading">
                        <b-spinner variant="light" small></b-spinner>
                    </div>
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal
            size="md"
            title="Delete"
            :show="modalDeleteMemo"
            @hide="hideDeleteMemo"
        >
            <h6 class="my-3">Are you sure want to delete this notes?</h6>
            <template slot="modal-footer">
                <button
                    class="btn btn-outline-primary mr-3"
                    @click="hideDeleteMemo"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-danger"
                    @click="deleteMemo"
                    :disabled="isLoading"
                >
                    <div class="px-2" v-if="isLoading">
                        <b-spinner variant="light" small></b-spinner>
                    </div>
                    <span v-else>Delete</span>
                </button>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from '@/components/utilities/TotalRecord'
import Modal from "@/components/utilities/Modal";
import PriceInput from '@/components/utilities/PriceInput.vue'

import { uniqueArraySingleDimension } from "@/utils/unique-array-single-dimension.js";

import { mapState, mapActions } from "vuex";
import Select from "vue-multiselect";

export default {
    name: "DamageAllowanceReport",
    props: {
        type: {
            type: String,
            required: true,
        }
    },
    data() {
        return {
            isLoading: false,
            tempData: {
                id: null,
                notes: "",
                isEdit: false,
            },
            selected: {
                index: null,
                row: null,
            },
            modalMemo: false,
            modalDeleteMemo: false,
            collectionShowEditDateAccepted: [],
        };
    },
    computed: {
        ...mapState("accounting", {
            item: (state) => state.item_damage_allowance_report,
            field: (state) => state.field_damage_allowance_report,
        }),
        ...mapState(["loadingTable"]),
        formatedItems() {
            return this.item.data.map((v) => {
                return {
                    ...v,
                    status_selected: {
                        name: v.status === 1 ? "Open" : "Resolved",
                        value: v.status,
                    },
                };
            });
        },
        damageAllowanceReportStatus() {
            if (
                this.$route.name ===
                "reports-damage-allowance-report-index-open"
            )
                return [
                    {
                        id: 1,
                        name: "Open",
                    },
                    {
                        id: 2,
                        name: "Resolved",
                    },
                ];
            if (
                this.$route.name ===
                "reports-damage-allowance-report-index-resolved"
            )
                return [
                    {
                        id: 1,
                        name: "Open",
                    },
                    {
                        id: 2,
                        name: "Resolved",
                    },
                ];
        },
        filterField() {
            return this.field.filter((column) => {
                return column.filter.includes(this.type)
            })
        },
        removeMultipleIndex() {
            return this.collectionShowEditDateAccepted.filter(
                uniqueArraySingleDimension
            );
        },
    },
    methods: {
        ...mapActions("order", [
            "putDamage",
            "saveDamageMemo",
            "deleteDamageMemo",
            "putDamageAllowanceReport",
        ]),
        setPage(value){
            this.$emit('page', value)
        },
        toggelEditAmountReceived(row) {
            this.selected.index = `selected-${row.index}`;
            this.selected.row = { ...row.item };
        },
        async updateAmountRecevied() {
            const payload = {
                id: this.selected.row.id,
                amount_received: this.selected.row.amount_received,
            }

            const result = await this.putDamageAllowanceReport(payload);

            if (result.status === "success") {
                this.$emit("getData");
                this.$root.$bvToast.toast(`Amount Received Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });

                this.selected.index = null;
                this.selected.row = null;

                return;
            }
            if (result.status === "failed") {
                this.$root.$bvToast.toast(`Amount Received Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });

                return;
            }
        },
        setPerPage(value){
            this.$emit('perpage', value)
        },
        goToOrder(item) {
            localStorage.setItem(
                "history-route-order",
                this.$router.currentRoute.name
            );
            this.$router.push({
                name: "my-orders-edit-id",
                params: { id: item.order_no },
            });
        },
        async changeStatus(value, index, key, id) {
            const status = value === 1 ? 2 : 1
            const payloadCommit = {
                index: index,
                key: key,
                value: status,
            };

            const payloadAction = {
                id: id,
                [key]: status,
            };

            this.$store.commit(
                "accounting/SET_DAMAGE_ALLOWANCE_REPORT_EACH_KEY",
                payloadCommit
            );

            const result = await this.putDamageAllowanceReport(payloadAction);

            if (result.status === "success") {
                this.$emit("getData");
                this.collectionShowEditDateAccepted = [];
                this.$root.$bvToast.toast(`Status Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });

                return;
            }
            if (result.status === "failed") {
                this.$root.$bvToast.toast(`Status Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });

                return;
            }
        },
        toggleEditDateAccepted(index) {
            this.collectionShowEditDateAccepted = [
                ...this.collectionShowEditDateAccepted,
                index,
            ];
        },
        async editDateAccepted(id, index, key, value) {
            const payloadCommit = {
                index: index,
                key: key,
                value: this.moment(value).format("MM/DD/YYYY"),
            };

            const payloadAction = {
                id: id,
                date_accepted: this.moment(value).format("YYYY-MM-DD"),
            };

            this.$store.commit(
                "accounting/SET_DAMAGE_ALLOWANCE_REPORT_EACH_KEY",
                payloadCommit
            );

            const result = await this.putDamageAllowanceReport(payloadAction);

            if (result.status === "success") {
                this.$emit("getData");
                this.collectionShowEditDateAccepted = [];
                this.$root.$bvToast.toast(`Date Accepted Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });

                return;
            }
            if (result.status === "failed") {
                this.$root.$bvToast.toast(`Date Accepted Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });

                return;
            }
        },
        showDeleteMemo() {
            this.modalDeleteMemo = true;
            this.modalMemo = false;
        },
        hideDeleteMemo() {
            this.modalDeleteMemo = false;
            this.tempData.id = null;
            this.tempData.credit_memo = "";
        },
        deleteMemo() {
            this.isLoading = true;
            this.deleteDamageMemo(this.tempData.id).then(() => {
                this.$emit("getData");
                this.isLoading = false;
                this.hideDeleteMemo();
            });
        },
        showModalMemo(item) {
            this.tempData.id = item.id;
            this.tempData.credit_memo = item.credit_memo;
            item.credit_memo != null
                ? (this.tempData.isEdit = true)
                : (this.tempData.isEdit = false);
            this.modalMemo = true;
        },
        hideModalMemo() {
            this.modalMemo = false;
            this.tempData.id = null;
            this.tempData.credit_memo = "";
            this.$validator.reset();
        },
        saveMemo() {
            this.$validator.validate().then((result) => {
                if (result) {
                    this.isLoading = true;
                    this.saveDamageMemo(this.tempData).then(() => {
                        this.$emit("getData");
                        this.isLoading = false;
                        this.hideModalMemo();
                    });
                }
            });
        },
    },
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-modal": Modal,
        "app-select": Select,
        'app-total':TotalRecord,
        "price-input": PriceInput,
    },
};
</script>
<style scoped>
.total .flex-row:first-child {
    margin-right: 40px;
}
.total .flex-row:last-child {
    margin-right: 25px;
}
.w-date-accepted {
    width: 130px;
}
</style>



