<template>
    <div>
        <app-table :items="items_schedule_delivery.data" fixed :fields="field_schedule_delivery" :busy="isLoading" hover @row-clicked="setSelected" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="status" slot-scope="row">
                <span class="alert alert-danger mb-0 rounded-lg py-0 px-2 small" v-if="row.item.scanout_status === 1">Not Scanned</span>
                <span class="alert alert-warning mb-0 rounded-lg py-0 px-2 small" v-else-if="row.item.scanout_status === 2">Partially Scanned</span>
                <span class="alert alert-success mb-0 rounded-lg py-0 px-2 small" v-else>Scan Completed</span>
            </template>
            <template slot="order" slot-scope="row">
                <span>{{row.item.order}}</span>
            </template>
            <template slot="requested_time" slot-scope="row">
                <div v-html="row.item.requested_time"></div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3" v-if="items_schedule_delivery.meta && !isLoading">
            <app-total :value="perpage" :data="items_schedule_delivery.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" v-if="items_schedule_delivery.data.length > 0 && items_schedule_delivery.meta.last_page > 1" :total-rows="items_schedule_delivery.meta.total" :per-page="items_schedule_delivery.meta.per_page" @change="setPage" v-model="items_schedule_delivery.meta.current_page"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return {
            isLoading: false,
            perpage: 50,
            is_scroll: false,
        }
    }, 
    computed: {
        ...mapState('orderSchedule', {
            field_schedule_delivery: state => state.field_schedule_delivery,
            items_schedule_delivery: state => state.items_schedule_delivery,
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
    watch: {
        page(){
            this.getResponse()
        }
    },
    props: ['start','end','delivery_method_id','location','sales','search'],
    methods: {
        ...mapMutations('orderSchedule',[
            'SET_SELECTED_DELIVERY',
            'SET_SCHEDULE_DELIVERY_PAGE'
        ]),
        ...mapActions('orderSchedule',['getScheduleDeliveryFeed']),
        setPage(val) {
            this.SET_SCHEDULE_DELIVERY_PAGE(val)
        },
        setSelected(item, index){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            localStorage.setItem('delivery_date', this.moment(item.delivery, 'MM/DD/YYYY').format('YYYY-MM-DD'))
            this.$router.push({name: 'my-orders-delivery-id', params: { id: item.order }})
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
        },
        getResponse(){
            this.isLoading = true
            let start = this.start ? this.moment(this.start).format('Y-MM-DD') : ''
            let end = this ? this.moment(this.end).format('Y-MM-DD') : ''
            this.getScheduleDeliveryFeed({
                date : {start: start, end: end},
                delivery_method: this.delivery_method_id,
                perpage: this.perpage,
                location: this.location,
                sales: this.sales,
                q: this.search,
            })
            .then( () => {
                this.isLoading = false
            })
        }
    },
    destroyed() {
        this.SET_SCHEDULE_DELIVERY_PAGE(1)
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



