<template>
    <div>
        <app-table
            :items="deliveryMethod.items"
            :fields="fields"
            show-empty
            class="delivery-method__table"
            fixed
        >
            <template slot="abbreviation" slot-scope="row">
                <span>{{row.item.abbreviation ? row.item.abbreviation : '-'}}</span>
            </template>
            <template slot="delivery_method_name" slot-scope="row">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0">{{ row.item.delivery_method_name }}</p>
                    </div>
                </div>
            </template>
            <template slot="make_as_default" slot-scope="row">
                <no-ssr>
                    <p-check
                        class="p-switch p-fill"
                        color="primary"
                        v-model="row.item.is_default"
                        @change="makeDefault(row.item)"
                    ></p-check>
                </no-ssr>
                <!-- <p class="mb-0">{{ row.item.is_default }}</p> -->
            </template>
            <template slot="is_pickup" slot-scope="row">
                <no-ssr>
                    <p-check
                        class="p-switch p-fill"
                        color="primary"
                        v-model="row.item.is_pickup"
                        @change="changePickup(row.item)"
                    ></p-check>
                </no-ssr>
            </template>
            <template slot="delivery_type" slot-scope="row">
                <app-select
                    v-width="'200px'"
                    :disabled="row.item.has_order"
                    placeholder="Select Delivery Type"
                    v-model="row.item.type_selected"
                    :options="deliveryMethod.deliveryType"
                    track-by="id"
                    label="name"
                    :show-labels="false"
                    :allow-empty="false"
                    @input="changeDeliveryType(row.item)" />
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link
                        tag="a"
                        class="mr-3"
                        :to="{
                            name: 'settings-delivery-settings-delivery-methods-edit-id',
                            params: { id: row.item.delivery_method_id },
                        }"
                        v-b-tooltip.hover
                        title="Edit Delivery Method"
                        ><i class="fa fa-edit"></i
                    ></nuxt-link>
                    <a v-if="!row.item.has_order"
                        href="#"
                        :readonly="!row.item.has_order"
                        class="mr-3 red"
                        @click="
                            showModalDeleteDelivery(
                                row.item.delivery_method_id,
                                row.item.delivery_method_name
                            )
                        "
                        v-b-tooltip.hover
                        title="Delete Delivery Method"
                    >
                        <i class="fa fa-trash"></i>
                    </a>
                    <i v-else
                        v-b-tooltip.hover
                        title="Unable To Delete Delivery Method"
                        class="fa fa-trash gray">
                    </i>
                </div>
            </template>
        </app-table>
        <app-modal
            size="lg"
            title="Delivery Method Default"
            centered
            @hide="closeModalDefault"
            v-model="modalDefault"
        >
            <template>
                <h5 class="mt-0 mb-4">
                    Are you sure to make
                    <span class="content-txt">{{ delivery_method_name }}</span>
                    a delivery method default ?
                </h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="setDefault">
                        Yes
                    </div>
                    <div class="btn btn-danger" @click="closeModalDefault">
                        Cancel
                    </div>
                </div>
            </div>
        </app-modal>
        <app-modal
            size="lg"
            title="Delete Warranty"
            centered
            @hide="closeModalDeleteDelivery"
            v-model="modalDeleteDelivery"
        >
            <template>
                <h5 class="mt-0 mb-4">
                    Are you sure to delete delivery method
                    <span class="content-txt">{{ delivery_method_name }}</span>
                    ?
                </h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteDelivery">
                        Delete
                    </div>
                    <div
                        class="btn btn-primary"
                        @click="closeModalDeleteDelivery"
                    >
                        Cancel
                    </div>
                </div>
            </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="deliveryMethod.meta" @itemPerPage="setPerPage" />
            <app-pagination
                align="right"
                :total-rows="deliveryMethod.meta.total"
                v-model="deliveryMethod.meta.current_page"
                :per-page="deliveryMethod.meta.per_page"
                @change="setPage"
                v-if="deliveryMethod.items && deliveryMethod.meta.last_page > 1"
            ></app-pagination>
        </div>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import { mapActions, mapState, mapMutations } from "vuex";
import PrettyCheck from "pretty-checkbox-vue/check";
import Select from 'vue-multiselect';
import TotalRecord from "@/components/utilities/TotalRecord";

export default {
    created() {
        // this.getDeliveryMethods()
    },
    data() {
        return {
            fields: [
                {
                    key: "delivery_method_name",
                    label: "Delivery Method Name",
                },
                {
                    key: 'abbreviation'
                },
                {
                    key: "email",
                    label: "Email",
                },
                {
                    key: "delivery_type",
                },
                {
                    key: "make_as_default",
                    label: "Make As Default",
                },
                {
                    key: "action",
                    label: "Action",
                },
            ],
            delivery_method_id: null,
            delivery_method_name: null,
            modalDefault: false,
            modalDeleteDelivery: false,
            perpage: 10,
        };
    },
    computed: {
        ...mapState("deliveryMethod", {
            deliveryMethod: (state) => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta,
                    page: state.page,
                    deliveryType: state.deliveryType
                };
            },
        }),
    },
    watch: {
        "deliveryMethod.page": function () {
            this.getDeliveryMethods({
                perpage: this.perpage,
            });
        },
    },
    methods: {
        ...mapActions("deliveryMethod", [
            "getDeliveryMethods",
            "deleteDeliveryMethod",
            "putDeliveryMethodDefault",
            "updatePickup",
            "updateDeliveryType"
        ]),
        ...mapMutations("deliveryMethod", ["SET_DELIVERY_METHOD_PAGE"]),
        setPage(value) {
            this.SET_DELIVERY_METHOD_PAGE(value);
        },
        setPerPage(value) {
            this.perpage = value;
            // this.$emit('set-perpage', value)
            if (this.deliveryMethod.page == 1) {
                this.getDeliveryMethods({
                    perpage: this.perpage,
                });
            } else {
                this.SET_DELIVERY_METHOD_PAGE(1);
            }
        },
        showModalDefault(delivery_method_id, delivery_method_name) {
            this.delivery_method_id = delivery_method_id;
            this.delivery_method_name = delivery_method_name;
            this.modalDefault = true;
        },
        closeModalDefault() {
            this.modalDefault = false;
        },
        setDefault() {
            this.putDeliveryMethodDefault({
                delivery_method_id: this.delivery_method_id,
                is_default: true,
            }).then(() => {
                this.modalDefault = false;
            });
        },
        showModalDeleteDelivery(delivery_method_id, delivery_method_name) {
            this.delivery_method_id = delivery_method_id;
            this.delivery_method_name = delivery_method_name;
            this.modalDeleteDelivery = true;
        },
        closeModalDeleteDelivery() {
            this.modalDeleteDelivery = false;
        },
        makeDefault(item) {
            if (item.is_default == true) {
                this.putDeliveryMethodDefault({
                    delivery_method_id: item.delivery_method_id,
                    is_default: item.is_default,
                });
            } else {
                this.putDeliveryMethodDefault({
                    delivery_method_id:
                        this.deliveryMethod.items[1].delivery_method_id,
                    is_default: true,
                });
            }
        },
        changePickup(item) {
            this.updatePickup({
                id: item.delivery_method_id,
                is_pickup: item.is_pickup ? 1 : 0,
            });
        },
        deleteDelivery() {
            this.deleteDeliveryMethod(this.delivery_method_id).then(() => {
                this.modalDeleteDelivery = false;
                this.delivery_method_id = null;
                this.delivery_method_name = null;
            });
        },
        changeDeliveryType(item){
            this.updateDeliveryType({id: item.delivery_method_id, type_id: item.type_selected.id})
        }
    },
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-modal": Modal,
        "p-check": PrettyCheck,
        "app-total": TotalRecord,
        'app-select': Select
    },
};
</script>
<style scoped>
.red {
    color: red;
}
.red:hover {
    color: red;
}
.blue {
    color: #2996cc;
}
.content-txt {
    color: #e83e8c;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>





