<template>
    <div>
        <app-table
            :fields="fields"
            :items="deliveryCapacity.data"
            :busy="loadingTable"
            @row-clicked="editCapacity"
            hover
            show-empty
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="date" slot-scope="row">
                <span>{{ moment(row.item.date).format("L") }}</span>
            </template>
            <template slot="action" slot-scope="row">
                <a
                    role="button"
                    class="text-danger"
                    @click="showModalDelete(row.item)"
                    ><i class="fas fa-trash"></i
                ></a>
            </template>
        </app-table>
        <no-ssr>
            <div class="d-flex justify-content-between align-items-center">
                <app-total :data="meta" @itemPerPage="setPerPage" />
                <app-pagination
                    align="right"
                    :total-rows="meta.total"
                    v-model="meta.current_page"
                    :per-page="meta.per_page"
                    @change="setPage"
                    v-if="meta.last_page > 1"
                ></app-pagination>
            </div>
        </no-ssr>
        <app-modal
            title="Delete delivery capacity"
            :show="modalDelete"
            @hide="hideModalDelete()"
        >
            <h5 class="my-3">
                Are you sure want to delete this delivery capacity?
            </h5>
            <template slot="modal-footer">
                <div class="d-flex align-items-center">
                    <button
                        class="btn btn-outline-primary mr-3"
                        @click="hideModalDelete()"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        @click="doDeleteDeliveryCapacity"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import Modal from "@/components/utilities/Modal";

import { mapState, mapActions } from "vuex";

export default {
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-modal": Modal,
    },
    data: () => ({
        fields: [
            {
                key: "date",
                thStyle: {
                    width: "250px",
                },
            },
            {
                key: "capacity",
                thStyle: {
                    width: "250px",
                },
            },
            {
                key: "information",
            },
            {
                key: "action",
            },
        ],
        page: 1,
        perPage: 10,
        modalDelete: false,
        selectedId: null,
    }),
    props: {
        deliveryMethods: {
            type: Object,
            default: null
        }
    },
    computed: {
        ...mapState("delivery", {
            deliveryCapacity: (state) => state.deliveryCapacity,
        }),
        ...mapState(["loadingTable"]),
        meta() {
            const { data, ...rest } = this.deliveryCapacity;
            return rest;
        },
    },
    methods: {
        ...mapActions({
            getDeliveryCapacity: "delivery/getDeliveryCapacity",
            deleteDeliveryCapacity: "delivery/deleteDeliveryCapacity",
        }),
        fetchDeliveryCapacity() {
            this.getDeliveryCapacity({
                page: this.page,
                perpage: this.perPage,
                delivery_method_id: this.deliveryMethods ? this.deliveryMethods.delivery_method_id : null
            });
        },
        showModalDelete(row) {
            this.modalDelete = true;
            this.selectedId = row.id;
        },
        hideModalDelete() {
            this.modalDelete = false;
            this.selectedId = null;
        },
        async doDeleteDeliveryCapacity() {
            const result = await this.deleteDeliveryCapacity(this.selectedId);

            if (result.status === "success") {
                this.fetchDeliveryCapacity();
                this.hideModalDelete();

                this.$root.$bvToast.toast(`Data Deleted`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }

            if (result.status !== "success") {
                this.fetchDeliveryCapacity();
                this.hideModalDelete();

                this.$root.$bvToast.toast(`Data Failed To Delete`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });
            }
        },
        setPerPage(value) {
            this.page = 1
            this.perPage = value;
            this.fetchDeliveryCapacity();
        },
        setPage(value) {
            this.page = value;
            this.fetchDeliveryCapacity();
        },
        editCapacity(item) {
            this.$router.push({
                name: "settings-delivery-settings-delivery-capacity-edit-id",
                params: { id: item.id },
            });
        },
    },
};
</script>

<style>
</style>
