<template>
    <div>
        <app-table :items="deliveryTimes.items" :fields="fields" :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="day" slot-scope="data">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0">{{ data.item.day }}</p>
                    </div>
                </div>
            </template>
            <template slot="is_active" slot-scope="data">
                <no-ssr>
                    <p-check class="p-switch p-fill" color="primary" v-model="data.item.is_active" @change="toggle(data.item)"><span class="font-weight-500 text-gray">{{data.item.is_active ? 'On' : 'Off'}}</span></p-check>
                </no-ssr>
            </template>
            <template slot="capacity" slot-scope="data">
                <input type="number" class="form-control" v-width="'80px'" :disabled="!data.item.is_active" v-model="data.item.capacity" @input="updateCapacity(data.item)">
            </template>
            <template slot="is_active_service_call" slot-scope="data">
                <no-ssr>
                    <p-check class="p-switch p-fill" color="primary" v-model="data.item.is_active_service_call" @change="toggle(data.item)"><span class="font-weight-500 text-gray">{{data.item.is_active_service_call ? 'On' : 'Off'}}</span></p-check>
                </no-ssr>
            </template>
        </app-table>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapActions, mapState } from 'vuex'
import PrettyCheck from 'pretty-checkbox-vue/check'
import { debounce } from 'lodash'

export default {
    data(){
        return{
            fields : [
                {
                    key:'day', label: 'Day'
                },
                {
                    key:'is_active',
                    label: 'Active?'
                },
                {
                    key: 'capacity',
                    label: 'Stop Limit'
                },
                {
                    key: 'is_active_service_call',
                    label: 'Service Call'
                },
            ],
            delivery_times_id: null,
        }
    },
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('deliveryTimes', {
            deliveryTimes: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta,
                    page: state.page
                }
            }
        })
    },
    methods:{
        ...mapActions('deliveryTimes', ['getDeliveryTimes', 'putDeliveryTime','putDeliveryTimeCapacity']),
        toggle(item){
            this.putDeliveryTime({
                id: item.id,
                is_active: item.is_active,
                is_active_service_call: item.is_active_service_call,
            })
        },
        updateCapacity: debounce( function(data) {
            this.putDeliveryTimeCapacity({
                id: data.id,
                capacity: data.capacity
            })
        }, 500)
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'p-check': PrettyCheck,
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red;
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>





