<template>
    <div>
        <app-table :items="employee.items" :busy="loadingTable" :fields="employee.fields" @row-clicked="setSelected" hover show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="photo" slot-scope="row">
                <div class="image-wrapper image-wrapper--square" :style="{'background-image': 'url(' + row.item.dp + ')' }" v-if="row.item.photo != null">
                </div>
                <div class="image-wrapper image-wrapper--square" :style="{'background-image': 'url(https://via.placeholder.com/100)' }" v-else>
                </div>
            </template>
            <template slot="first_name" slot-scope="row">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0 mr-3">{{ row.item.first_name + ' ' + row.item.last_name }}</p>
                    </div>
                    <div class="flex-row" v-b-tooltip.hover title="User Admin" v-if="row.item.is_admin == 1">
                        <i class="fa fa-check blue" aria-hidden="true"></i>
                    </div>
                </div>
            </template>
            <template slot="is_sales_person" slot-scope="row">
                <no-ssr>
                    <p-check class="p-switch p-fill" v-model="row.item.is_sales_person" color="success" @change="changeSalesPerson(row.item)">
                        <div class="hidden-lable" style="color: transparent;">&nbsp; Sales Preson</div>
                    </p-check>
                </no-ssr>  
            </template>
            <!-- <template slot="user_store" slot-scope="row">
                    <p>{{ row.item.store.store_name }}</p>
            </template> -->
            <!-- <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/admin/settings/employees/set-password/' + row.item.user_id" v-b-tooltip.hover title="Change Password"><i class="fa fa-key"></i></nuxt-link>
                    <nuxt-link tag="a" class="mr-3" :to="'/admin/settings/employees/edit/' + row.item.user_id" v-b-tooltip.hover title="Edit Employee"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="#" class="mr-3 red" @click="showModalDeleteEmployee(row.item.user_id, row.item.email, row.item.first_name, row.item.last_name)" v-b-tooltip.hover title="Delete Employee">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template> -->
        </app-table>
        <!-- <app-modal size="lg" title="Delete Employee" centered @hide="closeModalDeleteEmployee" v-model="modalDeleteEmployee">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete This Employee ?</h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Email</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ email }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ first_name }} {{ last_name }}</h5>
                    </div>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="deleteEmployee">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteEmployee">Cancel</div>
                    </div>
                </div>
        </app-modal> -->
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="employee.meta" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="employee.meta.total" v-model="employee.meta.current_page" :per-page="employee.meta.per_page" @change="setPage" v-if="employee.items && employee.meta.last_page >1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import PrettyCheck from 'pretty-checkbox-vue/check'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return{
            user_id:'',
            email:'',
            first_name: '',
            last_name: '',
            perpage: 10
        }
    },
    computed:{
        ...mapState('employee',{
            employee: state =>{
                return{
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta,
                    selected: state.selected
                }
            },
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
     watch: {
        page() {
            this.getResponse()
        }
    },
    methods:{
        ...mapActions('employee',[
            'getEmployees',
            'updateSalesPerson',
            'destroyEmployee'
        ]),
        ...mapMutations('employee', [
            'SET_EMPLOYEE_PAGE',
            'SET_EMPLOYEE_SELECTED'
        ]),
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse():''
            this.SET_EMPLOYEE_PAGE(1)
        },
        getResponse(){
            let status = this.$route.name == 'settings-employees-index-active' ? 'active':'archive'
            this.getEmployees({
                status: status,
                search: this.$parent.$parent.query,
                perpage: this.perpage
            })
        },
        setSelected(item, index, $event) {
            let user = this.employee.items[index]
            // if ($event.target.children.length > 0 && $event.target.children[0].className == 'p-switch p-fill pretty') {
            //     user.is_sales_person = !user.is_sales_person
            //     this.updateSalesPerson({ user_id: user.user_id, is_sales_person: user.is_sales_person, type_update: 'location' })
            // } else {
            //     if (event.target.className == 'state p-success') {
            //         user.is_sales_person = !user.is_sales_person
            //         this.updateSalesPerson({ user_id: user.user_id, is_sales_person: user.is_sales_person, type_update: 'location' })
            //     } else {
            //         this.SET_EMPLOYEE_SELECTED(item)
            //         localStorage.setItem('history-page', 'settings-employees-index-active/' + this.employee.meta.current_page)
            //         this.$router.push({
            //             name: 'settings-employees-edit-id', params: { id: this.employee.selected.user_id }
            //         })
            //     }
            // }
            this.SET_EMPLOYEE_SELECTED(item)
            localStorage.setItem('history-page', 'settings-employees-index-active/' + this.employee.meta.current_page)
            this.$router.push({
                name: 'settings-employees-edit-id', params: { id: this.employee.selected.user_id }
            })
        },
        changeSalesPerson(index){
            this.updateSalesPerson({ user_id: index.user_id, is_sales_person: index.is_sales_person, type_update: 'location' })
        },
        setPage(val) {
            this.SET_EMPLOYEE_PAGE(val)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord,
        'p-check': PrettyCheck
    }
}
</script>
<style lang="scss" scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.image-wrapper{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    &--square{
        border-radius: 0 !important;
    }
}
</style>





