<template>
    <div>
        <app-table :items="employee.items" :busy="loadingTable" :fields="fields" @row-clicked="setSelected" hover show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="first_name" slot-scope="row">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0 mr-3">{{ row.item.first_name + ' ' + row.item.last_name }}</p>
                    </div>
                    <div class="flex-row" v-b-tooltip.hover title="User Admin" v-if="row.item.is_admin == 1">
                        <i class="fa fa-check blue" aria-hidden="true"></i>
                    </div>
                </div>
            </template>
            <template slot="is_sales_person" slot-scope="row">
                <no-ssr>
                    <p-check class="p-switch p-fill" v-model="row.item.is_sales_person" disabled color="success"></p-check>
                </no-ssr>  
            </template>
        </app-table>
        <app-modal size="lg" title="Request Access" centered @hide="closeModalAccess" v-model="modalAccess">
            <template v-if="employee.selected">
                <p>Name: <strong>{{ employee.selected.fullname }}</strong></p>
                <p>Email: <strong>{{ employee.selected.email }}</strong></p>
                <p>Password: <strong>{{ employee.selected.access_password }}</strong></p>
                <p>Valid Until: <strong>{{ employee.selected.access_valid_date }}</strong></p>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="requestAccess" :disabled="isLoading">{{ isLoading ? 'Loading...':'Request Access' }}</div>
                        <div class="btn btn-primary" @click="closeModalAccess">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="employee.meta" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="employee.meta.total" v-model="employee.meta.current_page" :per-page="employee.meta.per_page" @change="setPage" v-if="employee.items && employee.meta.last_page >1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import PrettyCheck from 'pretty-checkbox-vue/check'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return {
            isLoading: false,
            user_id:'',
            email:'',
            first_name: '',
            last_name: '',
            perpage: 10,
            modalAccess: false,
            fields: [
                {
                    key: 'first_name',
                    label: 'Name'
                },
                {
                    key: 'job_title',
                    label: 'Job Title'
                },
                {
                    key: 'email',
                    label: 'Email'
                },
                {
                    key: 'phone_number',
                    label: 'Mobile Phone',
                    thStyle:{
                        width: '200px !important'
                    }
                },
                {
                    key: 'extension_number',
                    label: 'Direct Line',
                    thStyle:{
                        width: '210px !important'
                    }
                }
            ],
        }
    },
    computed:{
        ...mapState('employee',{
            employee: state =>{
                return {
                    items: state.items,
                    meta: state.meta,
                    selected: state.selected
                }
            },
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
     watch: {
        page() {
            this.getResponse()
        }
    },
    methods:{
        ...mapActions('employee',[
            'getEmployees',
            'destroyEmployee',
            'requestAccessPassword'
        ]),
        ...mapMutations('employee', [
            'SET_EMPLOYEE_PAGE',
            'SET_EMPLOYEE_SELECTED'
        ]),
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse():''
            this.SET_EMPLOYEE_PAGE(1)
        },
        getResponse(){
            this.getEmployees({
                status: 'active',
                search: this.$attrs.query,
                perpage: this.perpage
            })
        },
        setSelected(item, index) {
            this.SET_EMPLOYEE_SELECTED(item)
            this.modalAccess = true
        },
        setPage(val) {
            this.SET_EMPLOYEE_PAGE(val)
        },
        closeModalAccess() {
            this.modalAccess = false
        },
        requestAccess() {
            let vm = this
            this.isLoading = true
            this.requestAccessPassword(this.employee.selected.user_id)
            .then((res) => {
                this.employee.selected = res.data
                vm.$forceUpdate()
                this.isLoading = false
            })
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord,
        'p-check': PrettyCheck
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>





