<template>
    <div>
        <transition name="slide" mode="out-in">
            <b-alert
                :variant="alert.variant"
                class="alert-notif alert-notif--offset-top alert-notif--center"
                :show="alert.dismissCountDown"
                @dismissed="alert.dismissCountDown = 0"
                @dismiss-count-down="countDownChanged"
                fade
            >
                {{ alert.message }}
            </b-alert>
        </transition>
        <app-table
            :fields="fieldsData.esl"
            :items="eslItem.data"
            :busy="loading"
            show-empty
            fixed
            hover
            @row-clicked="setSelected"
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_checkbox">
                <b-form-checkbox
                    id="selectAll"
                    name="selectAll"
                    @input="selectAll"
                />
            </template>
            <template slot="checkbox" slot-scope="row">
                <b-form-checkbox
                    :id="'select-' + row.index"
                    v-model="selectedData"
                    :value="row.item"
                    :name="'select-' + row.index"
                />
            </template>
            <template slot="screenSize" slot-scope="row">
                <span v-if="row.item.screenSize.length == 0">-</span>
                <span v-else>{{ row.item.screenSize.size }}</span>
            </template>
            <template slot="screenSize" slot-scope="row">
                <span v-if="row.item.screenSize.length == 0">-</span>
                <span v-else>{{ row.item.screenSize.size }}</span>
            </template>
            <template slot="correspond.gatewayMac" slot-scope="row">
                <span>{{
                    row.item.correspond != null
                        ? row.item.correspond.gatewayMac
                        : "-"
                }}</span>
            </template>
            <template slot="product.id" slot-scope="row">
                <template v-if="row.item.product != undefined">
                    <span>{{
                        row.item.product.length != 0 ? row.item.product.id : "-"
                    }}</span>
                </template>
                <template v-else>
                    <span>-</span>
                </template>
            </template>
            <template slot="type" slot-scope="row">
                <span
                    :class="row.item.type != 0 ? 'text-success' : 'text-danger'"
                    >{{ row.item.type != 0 ? "Online" : "Offline" }}</span
                >
            </template>
            <template slot="correspond" slot-scope="row">
                <span>{{
                    row.item.correspond != null
                        ? moment(
                              new Date(row.item.correspond.createTime)
                          ).format("MM/DD/YYYY HH:mm")
                        : "-"
                }}</span>
            </template>
            <template slot="lastupdate" slot-scope="row">
                <span>{{
                    row.item.lastupdate != null
                        ? moment(new Date(row.item.lastupdate)).format(
                              "MM/DD/YYYY HH:mm"
                          )
                        : "-"
                }}</span>
            </template>
            <template slot="action" slot-scope="row">
                <div class="d-flex align-items-center">
                    <a
                        href="javascript:void(0)"
                        class="text-primary mr-3 mb-n1"
                        @click="showModalBind(row.item)"
                        ><i class="material-icons">insert_link</i></a
                    >
                    <a
                        href="javascript:void(0)"
                        class="text-danger"
                        @click="showModalDelete(row.item)"
                        ><i class="fa fa-trash mt-n1"></i
                    ></a>
                </div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <div
                class="d-flex align-items-center"
                v-if="eslItem.data.length > 0"
            >
                <app-total @itemPerPage="setPerPage" :showCount="false" />
                <p class="mb-0 ml-1">of {{ eslItem.meta.total }} Items</p>
            </div>
            <app-pagination
                v-if="eslItem.data.length > 0"
                align="right"
                :total-rows="eslItem.meta.total"
                :per-page="eslItem.meta.size"
                @input="setPage"
                v-model="eslItem.meta.pageNum"
            ></app-pagination>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0 my-3" v-if="tempData != null">
                Are you sure want to delete ESL {{ tempData.mac }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteEsl"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteEsl"
                        @click="deleteEsl"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal title="Bind" :show="modalBind" @hide="hideModalBind">
            <h6 class="my-3" v-if="tempData != null">
                Are you sure to bind the ESL with the mac address
                {{ tempData.mac }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-secondary mr-3"
                        :disabled="isBindEsl"
                        @click="hideModalBind"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-primary"
                        :disabled="isBindEsl"
                        @click="bindEsl"
                    >
                        OK
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from "@/components/utilities/TotalRecord";
import Modal from "@/components/utilities/Modal";
import { mapState, mapGetters, mapActions } from "vuex";
export default {
    data: () => ({
        selectedData: [],
        modalDelete: false,
        modalBind: false,
        isBindEsl: false,
        isDeleteEsl: false,
        tempData: null,
        alert: {
            variant: "success",
            dismissCountDown: 0,
            dismissSec: 5,
            message: "",
        },
    }),
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
        "app-modal": Modal,
    },
    props: {
        loading: {
            type: Boolean,
            default: false,
        },
    },
    watch: {
        selectedData(value) {
            value.length > 0
                ? this.$emit("setSelected", this.selectedData)
                : this.$emit("setSelected", this.selectedData);
        },
    },
    computed: {
        ...mapState(["loadingTable"]),
        ...mapState("priceTag", {
            location(state) {
                return state.location;
            },
        }),
        ...mapGetters({
            fieldsData: "priceTag/fields",
            eslItem: "priceTag/eslItem",
        }),
    },
    methods: {
        ...mapActions({
            deleteEslDevice: "priceTag/deleteEslDevice",
            singleBindEsl: "priceTag/singleBindEsl",
        }),
        showAlert(message, variant) {
            this.alert.dismissCountDown = this.alert.dismissSec;
            this.alert.variant = variant;
            this.alert.message = message;
        },
        countDownChanged(value) {
            this.alert.dismissCountDown = value;
        },
        showModalBind(item) {
            this.tempData = item;
            this.modalBind = true;
        },
        hideModalBind() {
            this.tempData = null;
            this.modalBind = false;
        },
        bindEsl() {
            this.isBindEsl = true;
            this.singleBindEsl({ mac: this.tempData.mac }).then(() => {
                this.isBindEsl = false;
                this.hideModalBind();
                this.showAlert(
                    "Success bind to gateway, please refresh the page to get the latest status!",
                    "success"
                );
            });
        },
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempData = null;
            this.modalDelete = false;
        },
        async deleteEsl() {
            this.isDeleteEsl = true;
            await this.deleteEslDevice(this.tempData.uuid)
                .then(() => {
                    this.isDeleteEsl = false;
                    this.$emit("getEslData");
                    this.hideModalDelete();
                })
                .catch((error) => {
                    this.isDeleteEsl = false;
                });
        },
        setPage(value) {
            this.$emit("setPage", value);
        },
        setPerPage(value) {
            this.$emit("setPerPage", value);
        },
        selectAll(value) {
            value
                ? (this.selectedData = this.eslItem.data)
                : (this.selectedData = []);
        },
        setSelected(item) {
            localStorage.setItem("esl-device-selected", JSON.stringify(item));
            this.$router.push({
                name: "settings-digital-price-tags-esl-show-id",
                params: { id: item.mac },
            });
        },
    },
};
</script>

<style>
</style>
