<template>
<div>
    <app-table :fields="fields" :items="floorModel.data" :busy="loadingTable" show-empty>
        <div slot="table-busy" class="text-center text-blue my-2">
            <b-spinner class="align-middle"></b-spinner>
        </div>
        <template slot="image" slot-scope="row">
            <div class="floor-model__image position-relative text-center">
                <img :src="row.item.image" :alt="row.item.sku" class="image-primary mx-auto">
                <div class="floor-model__hovered p-4 card-default bg-white d-flex align-items-center justify-content-center">
                    <img :src="row.item.image" :alt="row.item.sku" class="img-fluid">
                </div>
            </div>
        </template>
    </app-table>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <app-total :data="floorModel.meta" @itemPerPage="setPerPage" />
        <app-pagination v-if="floorModel.data.length > 0 && floorModel.meta.last_page >1" align="right" :total-rows="floorModel.meta.total" v-model="floorModel.meta.current_page" @change="setPage" :per-page="floorModel.meta.per_page"></app-pagination>
    </div>
</div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState} from 'vuex'
export default {
    components: {
        'app-table':Table,
        'app-pagination':Pagination,
        'app-total':TotalRecord
    },
    data: () => ({
        fields: [
            {
                key: 'store_name',
                label: 'Location'
            },
            {
                key: 'image',
                label: 'Picture',
                thStyle: {
                    width: '150px'
                }
            },
            {
                key: 'brand_name',
                label: 'Brand'
            },
            {
                key: 'category',
            },
            {
                key: 'sku',
                label: 'Model Number'
            },
            {
                key: 'total_sold',
                label: 'Quantity Sold'
            },
            {
                key: 'total_delivery',
                label: 'Quantity Delivered'
            }
        ]
    }),
    computed: {
        ...mapState('accounting', {
            floorModel: state => state.floor_model
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        setPerPage(value){
            this.$emit('setPerPage', value)
        },
        setPage(value){
            this.$emit('setPage', value)
        }
    }
}
</script>

<style lang="scss">
.floor-model{
    &__image{
        &:hover{
            .floor-model__hovered{
                visibility: visible;
                opacity: 1;
                margin-top: 0;
            }
        }
        .image-primary{
            max-width: 80px;
            max-height: 80px;
            object-fit: contain;
        }
    } 
    &__hovered{
        position: absolute;
        top: -270%;
        left: -30%;
        min-width: 200px;
        visibility: hidden;
        margin-top: 15px;
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: 99;
        img{
            max-width: 150px;
            max-height: 250px;
            min-height: 250px;
            object-fit: contain;
        }
    }
}
</style>