<template>
    <div>
        <transition name="slide" mode="out-in">
            <b-alert
                :variant="alert.variant"
                class="alert-notif alert-notif--offset-top alert-notif--center"
                :show="alert.dismissCountDown"
                @dismissed="alert.dismissCountDown = 0"
                @dismiss-count-down="countDownChanged"
                fade
            >
                {{ alert.message }}
            </b-alert>
        </transition>
        <app-table
            :fields="fieldsData.gateway"
            :items="gatewayItem.data"
            :busy="loading"
            show-empty
            hover
            @row-clicked="setSelected"
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="mode" slot-scope="row">
                <span
                    :class="
                        row.item.mode != '离线' ? 'text-success' : 'text-danger'
                    "
                    >{{ row.item.mode != "离线" ? "Online" : "Offline" }}</span
                >
            </template>
            <template slot="subModel" slot-scope="row">
                <span>{{
                    row.item.subModel != null ? row.item.subModel : "-"
                }}</span>
            </template>
            <template slot="updateTime" slot-scope="row">
                <span>{{
                    row.item.updateTime != null
                        ? moment(new Date(row.item.updateTime)).format(
                              "MM/DD/YYYY HH:mm"
                          )
                        : "-"
                }}</span>
            </template>
            <template slot="wifiVersion" slot-scope="row">
                <span>{{
                    row.item.wifiVersion != null ? row.item.wifiVersion : "-"
                }}</span>
            </template>
            <template slot="bleVersion" slot-scope="row">
                <span>{{
                    row.item.bleVersion != null ? row.item.bleVersion : "-"
                }}</span>
            </template>
            <template slot="action" slot-scope="row">
                <div class="d-flex align-items-center">
                    <a
                        href="javascript:void(0)"
                        class="text-warning mr-3"
                        @click="showModalReboot(row.item)"
                        ><i class="fas fa-power-off"></i
                    ></a>
                    <a
                        href="javascript:void(0)"
                        class="text-danger"
                        @click="showModalDelete(row.item)"
                        ><i class="fa fa-trash mt-n1"></i
                    ></a>
                </div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <div
                class="d-flex align-items-center"
                v-if="gatewayItem.data.length > 0"
            >
                <app-total @itemPerPage="setPerPage" :showCount="false" />
                <p class="mb-0 ml-1">of {{ gatewayItem.meta.total }} Items</p>
            </div>
            <app-pagination
                v-if="gatewayItem.data.length > 0"
                align="right"
                :total-rows="gatewayItem.meta.total"
                :per-page="gatewayItem.meta.size"
                @input="setPage"
                v-model="gatewayItem.meta.pageNum"
            ></app-pagination>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0 my-3" v-if="tempData != null">
                Are you sure want to delete gateway {{ tempData.name }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteGateway"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteGateway"
                        @click="removeGateway"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal title="Restart" :show="modalReboot" @hide="hideModalReboot">
            <h6 class="mb-0 my-3" v-if="tempData != null">
                Are you sure want to restart gateway {{ tempData.name }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-secondary mr-3"
                        :disabled="isReboot"
                        @click="hideModalReboot"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-primary"
                        :disabled="isReboot"
                        @click="rebootGatewayHandler"
                    >
                        OK
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from "@/components/utilities/TotalRecord";
import Modal from "@/components/utilities/Modal";
import { mapGetters, mapActions } from "vuex";

export default {
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
        "app-modal": Modal,
    },
    data: () => ({
        isDeleteGateway: false,
        modalDelete: false,
        isReboot: false,
        modalReboot: false,
        tempData: null,
        alert: {
            variant: "success",
            dismissCountDown: 0,
            dismissSec: 5,
            message: "",
        },
    }),
    props: {
        loading: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapGetters({
            fieldsData: "priceTag/fields",
            gatewayItem: "priceTag/gatewayItem",
        }),
    },
    methods: {
        ...mapActions({
            deleteGateway: "priceTag/deleteGateway",
            rebootGateway: "priceTag/rebootGateway",
        }),
        showAlert(message, variant) {
            this.alert.dismissCountDown = this.alert.dismissSec;
            this.alert.variant = variant;
            this.alert.message = message;
        },
        countDownChanged(value) {
            this.alert.dismissCountDown = value;
        },
        setPage(value) {
            this.$emit("setPage", value);
        },
        setPerPage(value) {
            this.$emit("setPerPage", value);
        },
        setSelected(item) {
            localStorage.setItem("esl-gateway-selected", JSON.stringify(item));
            this.$router.push({
                name: "settings-digital-price-tags-gateway-edit-id",
                params: { id: item.mac },
            });
        },
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempData = null;
            this.modalDelete = false;
        },
        removeGateway() {
            this.isDeleteGateway = true;
            this.deleteGateway(this.tempData.uuid).then(() => {
                this.isDeleteGateway = false;
                this.hideModalDelete();
                this.$emit("getGateway");
            });
        },
        showModalReboot(item) {
            this.tempData = item;
            this.modalReboot = true;
        },
        hideModalReboot() {
            this.tempData = null;
            this.modalReboot = false;
        },
        rebootGatewayHandler() {
            this.isReboot = true;
            this.rebootGateway({ mac: this.tempData.mac }).then(() => {
                this.isReboot = false;
                this.hideModalReboot();
                this.showAlert(
                    "The gateway is restarting, please wait a minutes then refresh page to get the lastest status!",
                    "success"
                );
            });
        },
    },
};
</script>

<style>
</style>
