<template>
    <div>
        <app-table :fields="fieldsData.history" :items="historyItem.data" :busy="loading" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="createTime" slot-scope="row">
                <span>{{row.item.createTime != null ? moment(new Date(row.item.createTime)).format('MM/DD/YYYY HH:mm')   : '-'}}</span>
            </template>
            <template slot="result" slot-scope="row">
                <span>{{row.item.result | resultStatus(logsFilter.results)}}</span>
            </template>
            <template slot="operation" slot-scope="row">
                <span>{{row.item.operation == 1 ? 'Update ESL' : 'Upgrade ESL'}}</span>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" v-if="historyItem.data.length > 0">
                <app-total @itemPerPage="setPerPage" :showCount="false"/>
                <p class="mb-0 ml-1">of {{historyItem.meta.total}} Items</p>
            </div>
            <app-pagination v-if="historyItem.data.length > 0"  align="right" :total-rows="historyItem.meta.total" :per-page="historyItem.meta.size" @input="setPage" v-model="historyItem.meta.pageNum"></app-pagination>
        </div>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapGetters} from 'vuex'

export default {
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord
    },
    props: {
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapGetters({
            fieldsData: 'priceTag/fields',
            historyItem: 'priceTag/historyItem',
            logsFilter: 'priceTag/logsFilter'
        }),
    },
    filters: {
        resultStatus(value, logsFilter){
            let index = logsFilter.findIndex(v => {return v.id == value})
            if(index != -1){
                return logsFilter[index].name
            }
        }
    },
    methods: {
        setPerPage(value){
            this.$emit('setPerPage', value)
        },
        setPage(value){
            this.$emit('setPage', value)
        }
    }
}
</script>

<style>

</style>