<template>
    <div>
        <app-table 
            :items="modifiedRebateItems" 
            :fields="fields" 
            :per-page="rebateQuote ? rebateQuotePage.perPage : 10" 
            :current-page="rebateQuote ? rebateQuotePage.currentPage : 1" 
            :filter="filter"
            :busy="loadingTable"
            @filtered="onFilter"
            show-empty
            >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="check" slot-scope="row">
                <b-form-checkbox
                    class="text-center"
                    :id="'checkbox' + row.item.id"
                    v-model="row.item.is_selected"
                    :name="'checkbox' + row.item.id"
                    @change="setRebateSelected(row.item, row.index, $event)"
                >
                </b-form-checkbox>
            </template>
            <template slot="amount" slot-scope="row">
                <p class="mb-0"><span v-if="row.item.type == 1">$</span>{{ row.item.amount }}<span v-if="row.item.type == 0">%</span></p>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center" v-if="!rebateQuote">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/instant-rebate/edit/' + row.item.id" v-b-tooltip.hover title="Edit Rebate"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="javascript:void(0)" class="mr-3 red" @click="showModalDeleteRebate(row.item.id)" v-b-tooltip.hover title="Delete Rebate">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
                <a href="javascript:void(0)" class="d-flex align-items-center" @click.prevent="editRebate(row.item.id)" v-else>
                    <i class="fas fa-pencil-alt"></i>
                    <p class="mb-0 ml-2">Edit</p>
                </a>
            </template>
        </app-table>
        <app-modal title="Delete Rebate" centered @hide="closeModalDeleteRebate" :show="modalDeleteRebate">
            <h6 class="my-3">Are you sure want to delete this rebate?</h6>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="closeModalDeleteRebate">Cancel</button>
                    <button class="btn btn-danger" @click="deleteRebate">Delete</button>
                </div>
            </div>
        </app-modal>
        <div class="d-flex align-items-center" :class="rebateQuote ? 'justify-content-between' : 'justify-content-end'">
            <!-- <app-total :data="message.meta" @itemPerPage="setPerPage"/> -->
            <div class="badge badge-info" v-if="rebateQuote">{{rebateSelected.length}} Rebate Selected</div>
            <app-pagination class="mb-0" align="right" :total-rows="rows" v-model="rebateQuotePage.currentPage" :per-page="rebateQuotePage.perPage" v-if="rebateQuote"></app-pagination>
            <app-pagination  align="right" :total-rows="rebate.meta.total" v-model="rebate.meta.current_page" :per-page="rebate.meta.per_page" @change="setPage" v-else-if="rebate.items && rebate.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/components/utilities/Modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
import _ from 'lodash'

export default {
    created() {
        this.rebateSelected = _.clone(this.rebateItems)
        this.setTableData()
        this.SET_REBATE_PAGE(1)
        if(this.rebateQuote){
            this.rows = this.rebate.items.length
        }
    },
    data(){
        return {
            modifiedRebateItems: [],
            modalDeleteRebate: false,
            perpage:10,
            rows: 0,
            rebateQuotePage : {
                perPage : 5,
                currentPage : 1
            },
            id: '',
            rebateSelected: []
        }
    },
    props:{
        rebateQuote:{
            type: Boolean,
            default: false
        },
        filter:{
            type: String
        }
    },
    computed: {
        ...mapState('rebate', {
            rebate: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            rebateItems : state => state.rebateSelected,
            page: state => state.page
        }),
        fields(){
            let fieldsQuote = [...this.rebate.fields]
            fieldsQuote.unshift({ key:'check', label:'', thStyle: {width: '80px'}})
            return this.rebateQuote ? fieldsQuote : this.rebate.fields
        },
        ...mapState(['loadingTable'])
    },
    watch: {
        page() {
            this.getRebateData({
                page: this.page
            }).then(() => {
                this.setTableData()
            })
        },
        'rebate.items' : function(){
            this.setTableData()
        }
    },
    methods:{
        ...mapActions('rebate', ['getRebateData', 'destroyRebate']),
        ...mapMutations('rebate',['SET_REBATE_PAGE' , 'SET_REBATE_SELECTED']),
        onFilter(filteredItems){
            this.rows = filteredItems.length
            this.rebateQuotePage.currentPage = 1
        },
        setPage(val) {
            this.SET_REBATE_PAGE(val)
        },
        setTableData(){
            this.modifiedRebateItems = _.clone(this.rebate.items)
            if(this.rebateQuote){
                let self = this
                this.modifiedRebateItems = _.map(this.modifiedRebateItems, function(item){
                    self.rebateSelected.forEach(function(value){
                        if(item.id == value.id){
                            item.is_selected = true
                        }
                    })
                    return item
                })
            }
        },
        showModalDeleteRebate(id){
            this.id = id
            this.modalDeleteRebate= true
        },
        setPerPage(value){
            this.perpage = value
            if (this.page == 1){
                this.getRebateData({
                    perpage: this.perpage
                })
            } else {
                this.SET_REBATE_PAGE(1)
            }
        },
        closeModalDeleteRebate(){
            this.modalDeleteRebate= false
        },
        deleteRebate(){
            this.destroyRebate(this.id).then(() => {
                this.modalDeleteRebate= false
            })
        },
        setRebateSelected(item, index, $event){
            if($event){
                this.rebateSelected.push(item)
            }else{
                let idx = _.findIndex(this.rebateSelected, function(val) {
                    return val.id == item.id && val.name == item.name
                })
                this.rebateSelected.splice(idx, 1)
            }
        },
        saveRebate(){
            this.SET_REBATE_SELECTED(this.rebateSelected)
        },
        editRebate(id){
            this.$emit('change', id)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
    .red{
        color: red;
    }
    .red:hover{
        color: red; 
    }
    .blue{
        color: #2996cc;
    }
    .content-txt{
        color: #e83e8c;
    }
    .fade-enter-active{
    transition: opacity .5s;  
    }
    .fade-leave-active {
    transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
</style>