<template>
    <div>
        <app-table :items="install.items" :fields="install.fields" show-empty>
            <template slot="install_price" slot-scope="row">
                <p class="mb-0">${{ row.item.install_price | currency}}</p>
            </template>
            <template slot="show_detail" slot-scope="row">
                <b-button size="sm btn-success" @click.stop="row.toggleDetails" class="mr-2">
                    {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
                <b-card>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <b>Category</b>
                        </div>
                        <div class="col-4 mb-3">
                            <b>Sub Category</b>
                        </div>
                        <div class="col-4 mb-3">
                            <b>Detail Category</b>
                        </div>
                    </div>
                    <div class="row" v-for="details in row.item.detail_install" :key="details.id">
                        <div class="col-4 mb-2">
                            {{ details.category_name }}
                        </div>
                        <div class="col-4 mb-2">
                            {{ details.subcategory_name }}
                        </div>
                        <div class="col-4">
                            {{ details.detail_category_name }}
                        </div>
                    </div>
                </b-card>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/installs/edit/' + row.item.install_id" v-b-tooltip.hover title="Edit Install"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="#" class="mr-3 red" @click="showModalDeleteInstalls( row.item.install_id, row.item.install_name )" v-b-tooltip.hover title="Delete Install">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal title="Delete Installs" centered @hide="closeModalDeleteInstalls" :show="modalDeleteInstalls">
            <h6 class="my-3">Are you sure to delete this install?</h6>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="closeModalDeleteInstalls">Cancel</button>
                    <button class="btn btn-danger" @click="deleteInstalls">Delete</button>
                </div>
            </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="install.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="install.meta.total" v-model="install.meta.current_page" :per-page="install.meta.per_page" @change="setPage" v-if="install.items && install.meta.last_page >1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/components/utilities/Modal'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return{
            install_name:'',
            modalDeleteInstalls: false,
            perpage:10,
        }
    },
    filters: {
        currency(value) {
            return parseFloat(value).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
        }
    },
    computed:{
        ...mapState('install', {
            install: state =>{
                return{
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                } 
            },
            page: state => state.page
        })
    },
    watch: {
        page() {
            this.getInstalls({
                perpage: this.perpage
            })
        }
    },
    methods:{
        ...mapActions('install',[
            'getInstalls',
            'deleteInstall'
        ]),
        ...mapMutations('install',['SET_INSTALL_PAGE']),
        setPage(val) {
            this.SET_INSTALL_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            if(this.page == 1){
                this.getInstalls({
                    perpage: this.perpage
                })
            }
            this.SET_INSTALL_PAGE(1)
        },
        showModalDeleteInstalls(install_id, install_name){
            this.install_id = install_id;
            this.install_name = install_name;
            this.modalDeleteInstalls= true;
        },
        closeModalDeleteInstalls(){
            this.modalDeleteInstalls= false;
        },
        deleteInstalls(){
             this.deleteInstall(this.install_id).then(() => {
                this.modalDeleteInstalls= false;
                if((this.install.meta.from ==  this.install.meta.to) && (this.page >= 1)){
                    this.setPage(this.page -1)
                }
            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
</style>





