<template>
    <div>
        <app-table 
            :items="item.data" 
            :busy="loading" 
            :fields="field" 
            show-empty 
            class="table__clone-header" 
            @row-clicked="goToOrder" 
            hover>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template v-slot:thead-top>
                <b-tr>
                    <b-th variant="light" colspan="8"></b-th>
                    <b-th variant="light">Total Install Price :</b-th>
                    <b-th variant="light"><div :key="item.meta.total" v-money>{{ item.meta.total }}</div></b-th>
                </b-tr>
            </template>
            <template slot="install_price" slot-scope="row">
                <div v-money :key="row.item.install_price" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.install_price }}</div>
            </template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState } from 'vuex'

export default {
    props: {
        loading: Boolean,
        default: false
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_install_report,
            field: state => state.field_install_report
        })
    },
    methods: {
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_number}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



