<template>
    <div>
        <div class="d-flex align-items-end mb-3">
            <div class="border rounded p-3" v-width="'250px'">
                <div class="flex-row">
                    <h6 class="mb-3 font-weight-700 text-uppercase">On Inventory :</h6>
                    <template v-if="isLoading">
                        <div class="text-center m-5">
                            <b-spinner variant="primary" />
                        </div>
                    </template>
                    <template v-else-if="inventoryAdjustment.inventory_information && !isLoading">
                        <div class="d-flex align-items-center mb-2">
                            <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Available Stock :</label>
                            <div class="position-relative">
                                <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.quantity, type: 'quantity'})">
                                <spinner-input v-if="loadingInput['quantity']" />
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Requested Stock :</label>
                            <div class="position-relative">
                                <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.pending_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.pending_quantity, type: 'pending_quantity'})">
                                <spinner-input v-if="loadingInput['pending_quantity']" />
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <label class="flex-grow-1 mr-3 mb-0 font-weight-500">On Order Stock :</label>
                            <div class="position-relative">
                                <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.ordered_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.ordered_quantity, type: 'ordered_quantity'})">
                                <spinner-input v-if="loadingInput['ordered_quantity']" />
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Reserved Stock :</label>
                            <div class="position-relative">
                                <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.tagged_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.tagged_quantity, type: 'tagged_quantity'})">
                                <spinner-input v-if="loadingInput['tagged_quantity']" />
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="alert alert-info">No inventory data</div>
                    </template>
                </div>
            </div>
            <span class="ml-auto font-weight-600">Want to tag a new model number? <a href="javascript:void(0)" class="text-primary font-weight-normal" @click="showModalNewTag">Click Here</a></span>
        </div>
        <app-table :fields="fields" :items="inventoryAdjustment.data" :busy="isLoading" :bordered="true" show-empty>
            <template v-slot:thead-top>
                <tr>
                    <th colspan="3" class="border-bottom"></th>
                    <th colspan="4" class="text-center">Inventory Stock per Order</th>
                    <th colspan="3" class="text-center">Delivery Information</th>
                    <th colspan="2" class="text-center"></th>
                </tr>
            </template>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="pending_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="mr-2">{{row.item.pending_quantity}}</span>
                    <div class="d-flex align-items-center">
                        <div class="pr-2 mr-2" :class="{'border-right' : row.item.available > 0}" v-if="row.item.pending_quantity">
                            <a href="javascript:void(0)" class="badge badge-danger rounded text-uppercase d-inline-block" @click="showModalTag(row.item, false, 'requested')">Untag</a>
                        </div>
                        <div class="flex-row" v-if="row.item.available > 0">
                            <a href="javascript:void(0)" class="badge badge-primary rounded text-uppercase d-inline-block" @click="showModalTag(row.item, true, 'requested')">Tag</a>
                        </div>
                    </div>
                </div>
            </template>
            <template slot="ordered_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="mr-2">{{row.item.ordered_quantity}}</span>
                    <div class="d-flex align-items-center">
                        <div class="pr-2 mr-2" :class="{'border-right' : row.item.available > 0}" v-if="row.item.ordered_quantity">
                            <a href="javascript:void(0)" class="badge badge-danger rounded text-uppercase d-inline-block" @click="showModalTag(row.item, false, 'on-order')">Untag</a>
                        </div>
                        <div class="flex-row" v-if="row.item.available > 0">
                            <a href="javascript:void(0)" class="badge badge-primary rounded text-uppercase d-inline-block" @click="showModalTag(row.item, true, 'on-order')">Tag</a>
                        </div>
                    </div>
                </div>
            </template>
            <template slot="tagged_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="mr-2">{{row.item.tagged_quantity}}</span>
                    <div class="d-flex align-items-center">
                        <div class="pr-2 mr-2" :class="{'border-right' : row.item.available > 0}" v-if="row.item.tagged_quantity > 0">
                            <a href="javascript:void(0)" class="badge badge-danger rounded text-uppercase d-inline-block" @click="showModalTag(row.item, false, 'reserved')">Untag</a>
                        </div>
                        <div class="flex-row" v-if="row.item.available > 0">
                            <a href="javascript:void(0)" class="badge badge-primary rounded text-uppercase d-inline-block" @click="showModalTag(row.item, true, 'reserved')">Tag</a>
                        </div>
                    </div>
                </div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3" v-if="inventoryAdjustment.data.length > 0">
            <app-total :data="inventoryAdjustment.meta" @itemPerPage="setPerPage" />
            <app-pagination v-if="inventoryAdjustment.data.length > 0 && inventoryAdjustment.meta.last_page >1" align="right" :total-rows="inventoryAdjustment.meta.total" v-model="inventoryAdjustment.meta.current_page" @change="setPage" :per-page="inventoryAdjustment.meta.per_page"></app-pagination>
        </div>
        <div class="border rounded p-3 mt-3" v-width="'250px'">
            <div class="flex-row">
                <h6 class="mb-3 font-weight-700 text-uppercase">On Inventory :</h6>
                <template v-if="isLoading">
                    <div class="text-center m-5">
                        <b-spinner variant="primary" />
                    </div>
                </template>
                <template v-else-if="inventoryAdjustment.inventory_information && !isLoading">
                    <div class="d-flex align-items-center mb-2">
                        <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Available Stock :</label>
                        <div class="position-relative">
                            <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.quantity, type: 'quantity'})">
                            <spinner-input v-if="loadingInput['quantity']" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Requested Stock :</label>
                        <div class="position-relative">
                            <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.pending_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.pending_quantity, type: 'pending_quantity'})">
                            <spinner-input v-if="loadingInput['pending_quantity']" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label class="flex-grow-1 mr-3 mb-0 font-weight-500">On Order Stock :</label>
                        <div class="position-relative">
                            <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.ordered_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.ordered_quantity, type: 'ordered_quantity'})">
                            <spinner-input v-if="loadingInput['ordered_quantity']" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label class="flex-grow-1 mr-3 mb-0 font-weight-500">Reserved Stock :</label>
                        <div class="position-relative">
                            <input type="number" class="form-control" v-model.number="inventoryAdjustment.inventory_information.tagged_quantity" v-width="'80px'" @input="handleUpdateQty({quantity: inventoryAdjustment.inventory_information.tagged_quantity, type: 'tagged_quantity'})">
                            <spinner-input v-if="loadingInput['tagged_quantity']" />
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="alert alert-info">No inventory data</div>
                </template>
            </div>
        </div>
        <app-modal :customTitle="true" :show="modalTag" @hide="hideModalTag">
            <template slot="modal-title" v-if="tempData">
                <h6 class="mb-0 text-capitalize font-weight-600" v-if="tempData.is_tag">Tag {{tempData.type.replace('-', ' ')}} Stock</h6>
                <h6 class="mb-0 text-capitalize font-weight-600" v-else>Untag {{tempData.type.replace('-', ' ')}} Stock</h6>
            </template>
            <template v-if="tempData">
                <div class="form-group" v-if="location">
                    <label for="#" class="font-weight-600">Location</label>
                    <input type="text" class="form-control" v-model="location.store_name" readonly>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Order Number</label>
                    <input type="text" class="form-control" v-model="tempData.order_no" readonly>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Model Number</label>
                    <input type="text" class="form-control" v-model="tempData.model" readonly>
                </div>
                <template v-if="tempData.type == 'on-order' && tempData.is_tag">
                    <div class="form-group">
                        <div class="d-flex align-items-center mb-2">
                            <label class="font-weight-600 mr-auto mb-0">Date</label>
                            <p-check class="p-switch p-fill" color="primary" v-model="isTBD"><span class="font-weight-600">TBD</span></p-check>
                        </div>
                        <div class="icon icon-left">
                            <no-ssr>
                                <app-datepicker mode="single" :class="{'datepicker-disabled' : isTBD}" :min-date="new Date()" v-model="EstimatedDate" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-600">Purchase Order Number</label>
                        <input class="form-control" v-model="purchaseOrderNumber">
                    </div>
                </template>
                <div class="form-group">
                    <label for="#" class="font-weight-600">How many do you want to {{tempData.is_tag ? 'tag' : 'untag'}}?</label>
                    <input type="number" :min="1" :max="tempData.is_tag ? tempData.available : tempData.max_untag" class="form-control" v-model.number="tagQty">
                </div>
                <!-- <div class="alert alert-danger" v-if="tempData.type == 'reserved'">
                    <p class="mb-0 font-weight-500">You need to manually edit the available stock quantity after you change it</p>
                </div> -->
            </template>
            <template slot="modal-footer">
                <div class="d-flex align-items-center">
                    <button class="btn btn-danger mr-3" :disabled="isTagging" @click="hideModalTag">Cancel</button>
                    <button class="btn btn-primary" :disabled="isTagging || tagQty <= 0" @click="saveTag">Save</button>
                </div>
            </template>
        </app-modal>
        <app-modal  :customTitle="true" :show="modalNewTag" @hide="hideModalNewTag">
            <div class="alert alert-danger mb-3" v-if="isError.error">
                <p class="mb-0">{{isError.message}}</p>
            </div>
            <template slot="modal-title">
                <h6 class="mb-0 font-weight-600">Add new tag</h6>
            </template>
            <div class="form-group">
                <label for="#" class="font-weight-600">Type</label>
                <no-ssr>
                    <app-select
                        :options="type.options"
                        v-model="type.selected"
                        placeholder="Select Type"
                        label="name"
                        track-by="id"
                        :show-labels="false"
                        :allow-empty="false"
                        @input="handleInputType" />
                </no-ssr>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label for="#" class="font-weight-600 mr-auto">Model Number</label>
                    <p-check class="p-switch p-fill" color="primary" v-model="isWithoutOrder" v-if="isTypeId == 'on-order'"><span class="font-weight-600">Without Order No</span></p-check>
                </div>
                <div class="position-relative">
                    <app-select
                        ref="modelForm"
                        label="product_id"
                        track-by="product_id"
                        placeholder="Type model"
                        v-model="product_selected"
                        :loading="isFetchProduct"
                        :preserve-search="true"
                        :internal-search="false"
                        :show-no-results="false"
                        :show-no-options="false"
                        :show-labels="false"
                        :options="products"
                        :searchable="true"
                        @search-change="findModel"
                        @input="handleInputModel"
                    />
                </div>
            </div>
            <div class="form-group" v-if="!isWithoutOrder">
                <label for="#" class="font-weight-600">Order No</label>
                <no-ssr>
                    <app-select
                        :options="listOrder"
                        v-model="newtag.order"
                        :loading="isGetOrder"
                        label="order_no"
                        track-by="order_no"
                        :show-labels="false"
                        :allow-empty="false"
                        placeholder="Select Order No"
                        @input="handleInputOrder"
                    />
                </no-ssr>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600 d-flex align-items-center">Quantity <span class="badge badge-info ml-auto rounded" v-if="newtag.order">Max quantity : {{newtag.order.available_quantity}}</span></label>
                <input type="number" :min="1" :max="isWithoutOrder ? '' : newtag.order ? newtag.order.available_quantity : 1" class="form-control" v-model.number="newtag.quantity">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Condition</label>
                <input type="text" class="form-control" v-model="newtag.condition" readonly v-if="!isWithoutOrder">
                <template v-else>
                    <no-ssr>
                        <app-select
                            v-model="condition_selected"
                            :options="conditions"
                            :allow-empty="false"
                            track-by="id"
                            label="name"
                            class="mr-3"
                            placeholder="Select Condition"
                            :show-labels="false" />
                    </no-ssr>
                </template>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Location</label>
                <no-ssr>
                    <app-select
                        :options="stores"
                        v-model="newtag.location"
                        label="store_name"
                        track-by="store_id"
                        :show-labels="false"
                        :allow-empty="false"
                    />
                </no-ssr>
            </div>
            <template v-if="type.selected">
                <template v-if="type.selected.id == 'on-order'">
                    <div class="form-group">
                        <div class="d-flex align-items-center mb-2">
                            <label class="font-weight-600 mr-auto mb-0">Date</label>
                            <no-ssr>
                                <p-check class="p-switch p-fill" color="primary" v-model="isTBD"><span class="font-weight-600">TBD</span></p-check>
                            </no-ssr>
                        </div>
                        <div class="icon icon-left">
                            <no-ssr>
                                <app-datepicker mode="single" :class="{'datepicker-disabled' : isTBD}" :min-date="new Date()" v-model="EstimatedDate" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-600">Purchase Order Number</label>
                        <input class="form-control" v-model="purchaseOrderNumber">
                    </div>
                </template>
            </template>
            <template slot="modal-footer">
                <div class="d-flex align-items-center">
                    <button class="btn btn-danger mr-3" :disabled="isDisableSave" @click="hideModalNewTag">Cancel</button>
                    <button class="btn btn-primary" :disabled="isDisableSave" @click="saveNewTag">Save</button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState, mapActions} from 'vuex'
import SpinnerInput from '@/components/utilities/SpinnerInput'
import Select from 'vue-multiselect'
import PrettyCheck from 'pretty-checkbox-vue/check'
import Modal from '@/components/utilities/Modal'
import { DatePicker } from 'v-calendar'
import _ from 'lodash'

export default {
    data: () => ({
        isFetchProduct: false,
        product_selected: null,
        products: [],
        condition_selected: null,
        isTypeId: '',
        isWithoutOrder: false,
        listOrder: [],
        isError: {
            message: null,
            error: false
        },
        isDisableSave: false,
        isGetOrder: false,
        newtag: {
            order: null,
            model: null,
            condition: null,
            quantity: 1,
            location: null,
        },
        modalNewTag: false,
        isTBD: true,
        EstimatedDate: new Date(),
        purchaseOrderNumber: null,
        isTagging: false,
        tagQty: 1,
        modalTag: false,
        tempData: null,
        loadingInput: [],
        available_stock: 0,
        isLoading: false,
        type: {
            selected: null,
            options: [
                {
                    id: 'requested',
                    name: 'Requested'
                },
                {
                    id: 'on-order',
                    name: 'On Order'
                },
                {
                    id: 'reserved',
                    name: 'Reserved'
                },
            ]
        },
        fields: [
            {
                key: 'order_no',
            },
            {
                key: 'model',
            },
            {
                key: 'available',
                label: 'Available to Tag'
            },
            {
                key: 'total_qty',
                label: 'All Qty'
            },
            {
                key: 'pending_quantity',
                label: 'Requested'
            },
            {
                key: 'ordered_quantity',
                label: 'On Order'
            },
            {
                key: 'tagged_quantity',
                label: 'Reserved'
            },
            {
                key: 'delivery.open',
                label: 'Open'
            },
            {
                key: 'delivery.pending',
                label: 'Pending'
            },
            {
                key: 'delivery.delivered',
                label: 'Delivered'
            },
            {
                key: 'total_scanout',
                label: 'Scan Out'
            },
            {
                key: 'delivery.return',
                label: 'Returned'
            }
        ]
    }),
    computed: {
        ...mapState('inventory', {
            inventoryAdjustment : state => state.inventoryAdjustment,
            conditions : state => state.conditions
        }),
        ...mapState('store', {
            stores: state => state.items
        }),
    },
    watch: {
        tagQty(){
            if(this.tempData){
                if(this.tempData.is_tag){
                    if(this.tagQty > this.tempData.available) this.tagQty = this.tempData.available
                    else if(this.tagQty <= 0 && this.tagQty != '') this.tagQty = 0
                }else{
                    if(this.tagQty > this.tempData.max_untag) this.tagQty = this.tempData.max_untag
                    else if(this.tagQty <= 0 && this.tagQty != '') this.tagQty = 0
                }
            }
        },
        isWithoutOrder(val){
            if(val) this.newtag.order = null
        },
        isTBD(value){
            value ? this.EstimatedDate = null : this.EstimatedDate = new Date()
        },
        'newtag.order' : function(){
            if(this.newtag.order != null ){
                this.newtag.condition = this.newtag.order.condition.name
                if(this.newtag.order.$isDisabled){
                    this.newtag.quantity = 0
                    this.isError.error = true
                    this.isError.message = 'There is no available quantity to tag on this order'
                    this.isDisableSave = true
                }else{
                    this.isError.error = false
                    this.isError.message = null
                    this.isDisableSave = false
                }
            }
        },
        'newtag.quantity' : function(){
            if(this.newtag.order != null && !this.isWithoutOrder){
                if(this.newtag.quantity > this.newtag.order.available_quantity){
                    this.newtag.quantity = this.newtag.order.available_quantity
                }else if(this.newtag.quantity <= 1 && !this.newtag.order.$isDisabled){
                    this.newtag.quantity = 1
                }else if(this.newtag.quantity <= 0 && this.newtag.order.$isDisabled){
                    this.newtag.quantity = 0
                }
            }else if(this.newtag.quantity <= 0 && this.newtag.quantity != ''){
                this.newtag.quantity = 0
            }
        }
    },
    props: {
        location: {
            type: Object
        }
    },
    methods: {
        setPage(value){
            this.$emit('setPage', value)
        },
        setPerPage(value){
            this.$emit('setPerPage', value)
        },
        ...mapActions({
            updateQtyGeneral: 'inventory/updateQtyGeneral',
            tagInventory: 'inventory/tagInventory',
            untagInventory: 'inventory/untagInventory',
            getOrderNewTag: 'inventory/getOrderNewTag',
            postNewTag: 'inventory/postNewTag',
            getProductOrder: 'product/getProductOrder',
        }),
        findModel: _.debounce(function(val){
            if(val.length > 0){
                this.isFetchProduct = true
                this.getProductOrder({product_id: val, search_type: 'model_number'})
                .then(response => {
                    this.products = response.data
                    this.isFetchProduct = false
                })
                .catch(error => {
                    this.products = []
                    this.isFetchProduct = false
                })
            }
        }, 500),
        handleInputOrder(){
            this.newtag.quantity = 1
        },
        handleInputType(){
            this.isTypeId = this.type.selected.id
        },
        handleInputModel(){
            this.newtag.model = this.product_selected.product_id
            this.isGetOrder = true
            this.getOrderNewTag({model_number : this.newtag.model})
            .then(response => {
                this.listOrder = response
                if(!this.isWithoutOrder){
                    this.newtag.order = response[0]
                }
                this.isError.message = null
                this.isError.error = false
                this.isDisableSave = false
                this.isGetOrder = false
            })
            .catch(error => {
                this.isError.message = error.response.data.message
                this.isError.error = true
                this.isGetOrder = false
                this.isDisableSave = true
                this.newtag.order = null
            })
        },
        showModalNewTag(){
            this.isTBD ? this.EstimatedDate = null : this.EstimatedDate = new Date()
            let warehouseStore = this.stores.filter(v => {return v.is_warehouse == true})
            this.newtag.location = warehouseStore[0]
            this.modalNewTag = true
        },
        hideModalNewTag(){
            this.product_selected = null
            this.modalNewTag = false
            this.isDisableSave = false
            this.isWithoutOrder = false
            this.isError.error = false
            this.isError.message = null
            this.type.selected = null
            this.newtag.order = null
            this.listOrder = []
            this.newtag.quantity = 1
            this.newtag.model = null
            this.newtag.location = null
            this.purchaseOrderNumber = null
        },
        showModalTag(item, is_tag, type){
            let maxUntag = 0
            if(!is_tag){
                if(type == 'requested') maxUntag = item.pending_quantity
                else if(type == 'on-order') maxUntag = item.ordered_quantity
                else maxUntag = item.tagged_quantity
            }
            this.tempData = {...item, is_tag: is_tag, type: type, max_untag: maxUntag}
            this.isTBD ? this.EstimatedDate = null : this.EstimatedDate = new Date()
            this.modalTag = true
        },
        hideModalTag(){
            this.modalTag = false
            this.tagQty = 1
            this.tempData = null
        },
        handleUpdateQty: _.debounce(function(value){
            this.loadingInput[value.type] = true
            this.$forceUpdate()
            this.updateQtyGeneral({
                id: this.inventoryAdjustment.inventory_information.id,
                quantity: value.quantity != '' ? value.quantity : 0,
                field_name : value.type
            })
            .then(() => {
                this.loadingInput[value.type] = false
                this.$forceUpdate()
            })
        }, 500),
        saveTag(){
            if(this.tempData.is_tag){
                this.isTagging = true
                this.tagInventory({
                    id: this.tempData.id,
                    quantity: this.tagQty,
                    type: this.tempData.type,
                    estimated_availability: this.EstimatedDate,
                    purchase_order_number: this.purchaseOrderNumber
                })
                .then(() => {
                    this.$emit('getData')
                    this.isTagging = false
                    this.hideModalTag()
                })
            }else{
                this.isTagging = true
                this.untagInventory({
                    id: this.tempData.id,
                    quantity: this.tagQty,
                    is_from: this.tempData.is_from,
                    type: this.tempData.type
                })
                .then(() => {
                    this.$emit('getData')
                    this.isTagging = false
                    this.hideModalTag()
                })
            }
        },
        saveNewTag(){
            this.isDisableSave = true
            this.postNewTag({
                type: this.type.selected.id,
                order_no: !this.isWithoutOrder ? this.newtag.order.order_no : null,
                quantity: this.newtag.quantity,
                detail_order_id: !this.isWithoutOrder ? this.newtag.order.detail_order_id : null,
                available_condition: !this.isWithoutOrder ? this.newtag.order.available_condition : this.condition_selected.id,
                model: this.newtag.model,
                store_id: this.newtag.location.store_id,
                estimated_availability: this.EstimatedDate,
                purchase_order_number: this.purchaseOrderNumber
            })
            .then(() => {
                this.$emit('getData')
                this.hideModalNewTag()
            })
        }
    },
    components: {
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
        'app-modal' : Modal,
        'app-datepicker': DatePicker,
        'p-check' : PrettyCheck,
        'app-select' : Select,
        SpinnerInput
    }
}
</script>

<style>

</style>
