<template>
    <div>
        <div class="d-flex align-items-center" v-if="modelSelected.length > 0">
            <!-- <button class="btn btn-outline-danger d-flex align-items-center py-3 px-4" @click="showModalDelete">
                <i class="fas fa-trash"></i>
                <p class="mb-0 ml-2">Delete</p>
            </button> -->
            <button class="btn btn-outline-primary d-flex align-items-center py-3 px-4 ml-3" @click="showModalEdit">
                <i class="fas fa-pencil-alt"></i>
                <p class="mb-0 ml-2">Change to Ordered</p>
            </button>
        </div>
        <button class="btn btn-primary mb-3" v-if="itemSelected.length > 0" @click="showModalBulk">Bulk Need To Order</button>
        <app-table :items="inventory.items.data" :busy="loadingTable" :fields="fields" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_checkbox" slot-scope="data">
                <div :key="data.field.label">
                    <b-form-checkbox v-model="isSelectAll" @change="handleSelectAll" />
                </div>
            </template>
            <template slot="checkbox" slot-scope="row">
                <b-form-checkbox
                    :id="'item-'+row.index"
                    :name="'item-'+row.index"
                    v-model="itemSelected"
                    :value="row.item"
                />
            </template>
            <template slot="order_no" slot-scope="row">
                <a href="javascript:void(0)" class="text-primary" @click="goToOrder(row.item)" v-if="row.item.order_no">{{row.item.order_no}}</a>
                <span v-else>-</span>
            </template>
            <template slot="order_by" slot-scope="row">
                {{ row.item.order_by ? row.item.order_by : '-' }}
            </template>
            <template slot="estimated_date" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="mr-2">{{row.item.estimated_date != null ? row.item.estimated_date : '-'}}</span>
                    <a href="javascript:void(0)" class="text-primary" v-if="row.item.estimated_date == null" @click="showOrderedEstimated(row.item)"><i class="fas fa-edit"></i></a>
                </div>
            </template>
            <template slot="purchase_order_number" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="mr-2">{{row.item.purchase_order_number != null ? row.item.purchase_order_number : '-'}}</span>
                    <a href="javascript:void(0)" class="text-primary"  @click="showModalPurchase(row.item)"><i class="fas fa-edit"></i></a>
                </div>
            </template>
            <template slot="pending_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <p class="mb-0">{{row.item.pending_quantity}}</p>
                    <a v-if="row.item.pending_quantity > 0" href="javascript:void(0)" class="badge badge-success rounded ml-2" @click="showModalEstimatedDate(row.item)"><i class="fas fa-arrow-right"></i></a>
                </div>
            </template>
            <template slot="action" slot-scope="row">
                <button class="btn btn-danger" v-if="inventoryAdjustment" :disabled="isLoadingDelete" @click="deleteItem(row.item)">Delete</button>
            </template>
        </app-table>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalDelete" :disabled="isLoadingDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="deleteItem" :disabled="isLoadingDelete">Delete</button>
                </div>
            </div>
        </app-modal>
        <!-- <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="deleteItem">Delete</button>
                </div>
            </div>
        </app-modal> -->
        <app-modal title="Select Estimated Date" centered :show="modalEstimated" @hide="hideModalEstimated">
            <div class="form-group">
                <label class="font-weight-600">Quantity</label>
                <input type="number" class="form-control" :min="1" :max="selectedQty" v-model="quantity">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-600 mr-auto mb-0">Est. Availability Date</label>
                        <div ref="datepickerEstimatedDate">
                            <no-ssr>
                                <app-datepicker mode="single" :popoverVisibility="popoverVisibility" :min-date="new Date()" @dayclick="selectDate('estimatedDate')" v-model="EstimatedDate" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon"  @click="handleClickFormDate" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="backordered" v-model="backordered">
                            <label class="custom-control-label" for="backordered">Backordered</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-600 mr-auto mb-0">Scheduled Arrival Date</label>
                        <div ref="datepickerWarehouseArrival">
                            <no-ssr>
                                <app-datepicker mode="single" :popoverVisibility="popoverVisibility" :min-date="new Date()" @dayclick="selectDate('warehouseArrival')" v-model="warehouseArrival" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon"  @click="handleClickFormDate" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-600">Purchase Order Number</label>
                <input class="form-control" v-model="purchaseOrderNumber">
            </div>
            <div class="form-group">
                <label class="font-weight-600">Cost</label>
                <price-input v-model.number="cost" />
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" :disabled="isUpdating" @click="hideModalEstimated">Cancel</button>
                    <button class="btn btn-outline-primary" :disabled="isUpdating" @click.prevent="updateEstimatedDate">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal title="Edit Estimated Date" :show="modalOrderedEstimated" @hide="hideOrderedEstimated">
            <div class="form-group">
                <label class="font-weight-600 mr-auto mb-2">Date</label>
                <no-ssr>
                    <app-datepicker mode="single" :min-date="new Date()" v-model="EstimatedDate" is-required>
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" :disabled="isLoading" @click="hideOrderedEstimated">Cancel</button>
                    <button class="btn btn-outline-primary" :disabled="isLoading" @click="saveEstimatedOrderedDate">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal title="Edit Purchase Order Number" :show="modalPurchase" @hide="hideModalPurchase">
            <div class="form-group">
                <label class="font-weight-600">Purchase Order Number</label>
                <input class="form-control" v-model="purchaseOrderNumber">
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" :disabled="isLoading" @click="hideModalPurchase">Cancel</button>
                    <button class="btn btn-outline-primary" :disabled="isLoading" @click="savePurchase">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Bulk Need to Order" :noBorder="true" :show="modalBulk" @hide="hideModalBulk">
            <div class="row">
                <div class="col-12">
                    <b-form-group
                        id="pon"
                        label="Purchase Order Number"
                        label-class="font-weight-bold"
                        label-for="pon"
                    >
                        <b-form-input
                            id="pon"
                            v-model="form.pon"
                            type="text"
                            placeholder="Enter Purchase Order Number"
                            :class="{ 'is-invalid': errors.has('Title') }"
                        ></b-form-input>
                    </b-form-group>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-600 mr-auto mb-0">Est. Availability Date</label>
                        <div ref="datepickerEstimatedDate">
                            <no-ssr>
                                <app-datepicker mode="single" :popoverVisibility="popoverVisibility" :min-date="new Date()" @dayclick="selectDateBulk('estimatedDate')" v-model="form.estimatedDate" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon"  @click="handleClickFormDate" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                        <div class="custom-control custom-checkbox mt-2">
                            <input type="checkbox" class="custom-control-input" id="backordered" v-model="form.backordered">
                            <label class="custom-control-label" for="backordered">Backordered</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-weight-600 mr-auto mb-0">Scheduled Arrival Date</label>
                        <div ref="datepickerWarehouseArrival">
                            <no-ssr>
                                <app-datepicker mode="single" :popoverVisibility="popoverVisibility" :min-date="new Date()" @dayclick="selectDateBulk('warehouseArrival')" v-model="form.warehouseArrival" is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" id="date" class="form-control form-icon"  @click="handleClickFormDate" :value='inputValue'
                                                readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                    </div>
                </div>
            </div>
            <app-table :fields="bulkFields" :items="selectedItemFormated">
                <template slot="qty_selected" slot-scope="row">
                    <input type="number" class="form-control" :min="1" :max="row.item.pending_quantity" v-model.number="row.item.qty_selected" @input="validateMaxQty(row.item)">
                </template>
                <template slot="cost" slot-scope="row">
                    <input type="number" class="form-control" :min="1" :max="row.item.cost" v-model.number="row.item.cost">
                </template>
            </app-table>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end mb-2">
                    <button class="btn btn-danger mr-3" :disabled="isLoadingBulk" @click="hideModalBulk">Cancel</button>
                    <button class="btn btn-primary" :disabled="isLoadingBulk" @click="saveBulk">Save</button>
                </div>
            </template>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="inventory.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="inventory.items.data.length > 0 && inventory.meta.last_page >1" align="right" :total-rows="inventory.meta.total" v-model="inventory.meta.current_page" @change="setPage" :per-page="inventory.meta.per_page"></app-pagination>
        </div>
    </div>
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex';
import Modal from '@/components/utilities/Modal'

import TotalRecord from '@/components/utilities/TotalRecord'
import PrettyCheck from 'pretty-checkbox-vue/check'
import PriceInput from '@/components/utilities/PriceInput'


export default {
    data(){
        return {
            form: {
                pon: null,
                estimatedDate: null,
                warehouseArrival: null,
                backordered: false,
            },
            selectedItemFormated: [],
            bulkFields: [
                {
                    key: 'order_no',
                },
                {
                    key: 'model'
                },
                {
                    key: 'qty_selected',
                    label: 'Qty',
                    thStyle:{
                        width: '150px'
                    }
                },
                {
                    key: 'cost',
                    thStyle:{
                        width: '125px'
                    }
                },
            ],
            isLoadingBulk: false,
            modalBulk: false,
            totalQty: 0,
            itemSelected: [],
            isSelectAll: false,
            fields: [
                {
                    key: 'checkbox',
                    label: '',
                },
                {
                    key: 'date',
                    label: 'Date In',
                },
                {
                    key: 'order_no',
                    label: 'Order No',
                },
                {
                    key: 'customer_name',
                },
                {
                    key: 'location',
                    label: 'Location',
                },
                {
                    key: 'model',
                    label: 'Model',
                },
                {
                    key: 'brand',
                    label: 'Brand',
                },
                {
                    key: 'category',
                    label: 'Category',
                },
                {
                    key: 'pending_quantity',
                    label: 'Need To Order',
                },
                {
                    key: 'action',
                    label: '',
                },
            ],
            checkModel: false,
            modalEdit: false,
            modelSelected: [],
            modalDelete: false,
            modalSuccess: false,
            perpage: 10,
            page: 1,
            storeSelected: null,
            tempData: null,
            modalEstimated: false,
            currentPage: 1,
            rows: 0,
            perPage: 5,
            currentStock: {},
            selectedInventory: null,
            EstimatedDate: null,
            warehouseArrival: null,
            backordered: false,
            purchaseOrderNumber: '',
            quantity: 1,
            selectedQty: 0,
            order_id : null,
            modalOrderedEstimated: false,
            orderedSelected: null,
            isLoading: false,
            isUpdating: false,
            modalPurchase: false,
            popoverVisibility: 'focus',
            isLoadingDelete: false,
            modalDelete: false,
            inventoryAdjustment: false,
            cost: 0
        }
    },
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('inventory', {
            inventory(state) {
                return {
                    items: state.items_order_report,
                    meta: state.items_order_report.meta
                }
            }
        }),
    },
    created() {
        let indexFeature = this.$auth.user.features.findIndex(v => {return v.name === 'Inventory Adjustment'})
        if(indexFeature != -1) this.inventoryAdjustment = true
        else this.inventoryAdjustment = false
        if(this.$route.name == 'order-report-index-ordered'){
            this.fields = [
                {
                    key: 'date',
                    label: 'Date Ordered',
                },
                {
                    key: 'order_no',
                    label: 'Order No',
                },
                {
                    key: 'order_by',
                    label: 'Ordered By',
                },
                {
                    key: 'location',
                    label: 'Location',
                },
                {
                    key: 'model',
                    label: 'Model',
                },
                {
                    key: 'brand',
                    label: 'Brand',
                },
                {
                    key: 'category',
                    label: 'Category',
                },
                {
                    key: 'ordered_quantity',
                    label: 'Ordered',
                },
                {
                    key: 'purchase_order_number',
                    label: 'Purchase Order Number',
                },
                {
                    key: 'estimated_date',
                    label: 'Estimated Date',
                }
            ]
        }
    },
    props: {
        location_id: {
            type: String
        },
        product_id: {
            type: String
        },
        brand: {
            type: Array
        },
        category_name: {
            type: String
        },
        subcategory_name: {
            type: String
        },
        detail_category_name: {
            type: String
        },
        status:{
            type: String
        },
        date: {
            type: Object,
            default : () => ({}),
        }
    },
    watch: {
        page(){
            this.getResponse()
        },
        itemSelected(){
            if(this.itemSelected === this.inventory.items.data) this.isSelectAll = true
            else this.isSelectAll = false
        }
    },
    methods: {
        validateMaxQty(item){
            if(item.qty_selected >= item.pending_quantity) item.qty_selected = item.pending_quantity
            else if(item.qty_selected < 0) item.qty_selected = 1
        },
        showModalBulk(){
            this.totalQty = _.sumBy(this.itemSelected, (o) => {return o.pending_quantity})
            this.selectedItemFormated = this.itemSelected.map(v => {
                return {
                    ...v,
                    cost: 0,
                    estimated_date: null,
                    purchase_order_number: null,
                    qty_selected: v.pending_quantity,
                }
            })
            this.modalBulk = true
        },
        hideModalBulk(){
            this.itemSelected = []
            this.selectedItemFormated = []
            this.modalBulk = false
            this.form.pon = null;
            this.form.estimatedDate = null;
            this.form.warehouseArrival = null;
            this.form.backordered = false;
        },
        saveBulk(){
            this.isLoadingBulk = true
            let data = []
            data = this.selectedItemFormated.map(o => {
                return {
                    ...o,
                    pending_quantity: o.qty_selected,
                    estimated_date: this.form.estimatedDate,
                    warehouse_arrival_date: this.form.warehouseArrival,
                    backordered: this.form.backordered ? 1 : 0,
                    purchase_order_number: this.form.pon,
                }
            })

            this.moveBulkOnOrder({data: data})
            .then(() => {
                this.getResponse()
                .then(() => {
                    this.isLoadingBulk = false
                    this.hideModalBulk()
                })
            })
        },
        handleSelectAll(value){
            if(value) this.itemSelected = this.inventory.items.data
            else this.itemSelected = []
        },
        showModalPurchase(item){
            this.orderedSelected = item
            this.purchaseOrderNumber = item.purchase_order_number
            this.modalPurchase = true
        },
        hideModalPurchase(){
            this.modalPurchase = false
            this.orderedSelected = null
            this.purchaseOrderNumber = null
        },
        savePurchase(){
            this.isLoading=true
            this.putEstimatedDate({
                id: this.orderedSelected.id,
                purchase_order_number: this.purchaseOrderNumber
            })
            .then(() => {
                this.getResponse()
                .then(() => {
                    this.isLoading=false
                    this.hideModalPurchase()
                })
            })
        },
        handleClickFormDate(){
            this.popoverVisibility = 'visible'
        },
        handleClickFormDateBulk() {
            this.popoverVisibility = 'visible'
        },
        selectDate(type) {
            this.popoverVisibility = 'focus';

            if (type === 'estimatedDate') {
                this.warehouseArrival = null;

                return;
            }
            if (type === 'warehouseArrival') {
                this.EstimatedDate = null;
                this.backordered = false;

                return;
            }
        },
        selectDateBulk(type) {
            this.popoverVisibility = 'focus';

            if (type === 'estimatedDate') {
                this.form.warehouseArrival = null;

                return;
            }
            if (type === 'warehouseArrival') {
                this.form.estimatedDate = null;
                this.form.backordered = false;

                return;
            }
        },
        handleBlurDate(){
            const datepickerEstimatedDate = this.$refs.datepickerEstimatedDate;
            const datepickerWarehouseArrival = this.$refs.datepickerWarehouseArrival;
            document.addEventListener('click', e => {
                let isClickInside = datepickerEstimatedDate.contains(e.target)
                if (!isClickInside) {
                    this.popoverVisibility = 'focus'
                }
            })
            document.addEventListener('click', e => {
                let isClickInside = datepickerWarehouseArrival.contains(e.target)
                if (!isClickInside) {
                    this.popoverVisibility = 'focus'
                }
            })
        },
        saveEstimatedOrderedDate(){
            this.isLoading=true
            this.putEstimatedDate({
                id: this.orderedSelected.id,
                estimated_date: this.moment(this.EstimatedDate).format('YYYY-MM-DD')
            })
            .then(() => {
                this.getResponse()
                .then(() => {
                    this.isLoading=false
                    this.hideOrderedEstimated()
                })
            })
        },
        showOrderedEstimated(item){
            this.orderedSelected = item
            this.modalOrderedEstimated = true
        },
        hideOrderedEstimated(){
            this.orderedSelected = null
            this.modalOrderedEstimated = false
        },
        ...mapMutations('inventory',[
            'SET_AVAILABLE_SELECTED',
            'SET_INVENTORY_PAGE'
        ]),
        ...mapMutations(['SET_LOADING_TABLE']),
        ...mapActions('inventory', ['getCurrentInventory', 'deleteCurrentInventory', 'updateOrderReportStatus','getInventoryOrderReport', 'movePendingToOrdered', 'putEstimatedDate', 'moveBulkOnOrder', 'untagInventory']),
        selectAllItem(){
            this.checkModel ? this.modelSelected = this.inventory.items : this.modelSelected = []
        },
        showModalEstimatedDate(val){
            this.selectedInventory = val.id
            this.selectedQty = val.pending_quantity
            this.quantity = val.pending_quantity
            this.modalEstimated = true
            this.order_id = val.order_id
            this.$nextTick(() => {
                this.handleBlurDate()
            })
        },
        hideModalEstimated(){
            this.selectedInventory = null
            this.quantity = 1
            this.purchaseOrderNumber = null
            this.EstimatedDate = null
            this.warehouseArrival = null;
            this.backordered = false;
            this.modalEstimated = false
            this.cost = 0
        },
        updateEstimatedDate(){
            this.isUpdating= true
            this.movePendingToOrdered({
                id: this.selectedInventory,
                estimated_date: this.EstimatedDate != null ? this.moment(this.EstimatedDate).format('YYYY-MM-DD') : null,
                warehouse_arrival_date: this.warehouseArrival != null ?this.moment(this.warehouseArrival).format('YYYY-MM-DD') : null,
                backordered: this.backordered ? 1 : 0,
                purchase_order_number: this.purchaseOrderNumber,
                quantity: this.quantity,
                order_id : this.order_id,
                cost : this.cost,
            })
            .then( () => {
                this.getResponse()
                .then(() => {
                    this.hideModalEstimated()
                    this.isUpdating= false
                })
            })
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.getResponse()
        },
        setPage(val) {
            this.page = val
            this.$emit('setPage', val)
        },
        goToOrder(item, index){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({
                name:'my-orders-edit-id', params: { id: item.order_no }
            })
        },
        getResponse(){
            return new Promise((resolve, reject) => {
                this.$forceUpdate()
                this.getInventoryOrderReport({
                    page: this.page,
                    store_id: this.store_id,
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand,
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    start_date: this.date !== null ? this.moment(this.date.start).format('L') : null,
                    end_date: this.date !== null ? this.moment(this.date.end).format('L') : null,
                    perpage: this.perpage,
                    status: this.status
                })
                .then(() => resolve())
            })
        },
        setSelected(item, index){
            this.SET_AVAILABLE_SELECTED(item)
            this.$emit('row-clicked')
        },
        showModalDelete(item){
            this.tempData = item
            this.modalDelete = true
        },
        hideModalDelete(){
            this.tempData = null
            this.modalDelete = false
        },
        deleteItem(item){
            this.isLoadingDelete = true
            this.untagInventory({
                id: item.order_id,
                inventory_id: item.inventory_id,
                quantity: item.pending_quantity,
                is_from: item.is_from,
                type: 'requested'
            })
            .then(() => {
                this.getResponse()
                .then(() => {
                    this.isLoadingDelete = false
                    // this.hideModalDelete()
                })

            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-modal' : Modal,
        'p-check': PrettyCheck,
        PriceInput
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



