<template>
    <div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="row justify-content-end mb-2 mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Total Deposit Amount</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600" v-money :key="item_jon_report.total_deposit">{{item_jon_report.total_deposit}}</span></div>
                </div>
                <div class="row justify-content-end mb-2 mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Quote Total</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600"  v-money :key="item_jon_report.total">{{item_jon_report.total}}</span></div>
                </div>
            </div>
        </div>
        <app-table :items="item_jon_report.data" :busy="loadingTable" :fields="field_jon_report" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="quote_no" slot-scope="row">
                <p :key="row.item.quote_no">{{ row.item.quote_no }}</p>
            </template>
            <template slot="deposit_amount" slot-scope="row">
                <p v-money :key="row.item.deposit_amount">{{ row.item.deposit_amount }}</p>
            </template>
            <template slot="total" slot-scope="row">
                <p v-money :key="row.item.total">{{ row.item.total }}</p>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="item_jon_report.meta" @itemPerPage="setPerPage" :value="perpage"/>
            <app-pagination class="mb-0" v-if="item_jon_report.meta && item_jon_report.meta.total > 0" v-model="page" :total-rows="item_jon_report.meta.total" :per-page="item_jon_report.meta.per_page" @change="setPage"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item_jon_report: state => state.item_jon_report,
            field_jon_report: state => state.field_jon_report
        }),
        ...mapState(['loadingTable'])
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    },
    props: ['page','perpage'],
    methods: {
        setPage(val) {
            this.$emit('setPage', val)
        },
        setPerPage(val){
            this.$emit('setPerpage', val)
        }
    },
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



