<template>
    <div>
        <app-table
            :items="items.data"
            :busy="isLoadTable"
            :fields="fields"
            hover
            @row-clicked="setSelected"
            show-empty
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_time" slot-scope="data">
                <strong
                    >{{ data.field.label }}
                    <span class="small font-weight-600">(Minutes)</span></strong
                >
            </template>
            <template slot="HEAD_install_time" slot-scope="data">
                <strong
                    >{{ data.field.label }}
                    <span class="small font-weight-600">(Minutes)</span></strong
                >
            </template>
            <template slot="categories" slot-scope="data">
                <div
                    v-for="(item, indexItem) in data.item.categories"
                    class="align-items-baseline d-flex flex-column flex-wrap"
                >
                    <span
                        class="border rounded px-2 bg-white mb-2 d-block"
                        v-b-tooltip.hover.html="
                            tooltipsContent(item.subcategory)
                        "
                        :key="indexItem"
                        >{{ item.category_name }}</span
                    >
                </div>
            </template>
            <template slot="sub-categories" slot-scope="data">
                <template
                    v-for="(category, categoryIndex) in data.item.categories"
                >
                    <div
                        v-for="(
                            subCategory, subCategoryIndex
                        ) in category.subcategory"
                        :key="`sub-category-index-${subCategoryIndex}`"
                        class="d-flex flex-wrap"
                    >
                        <span
                            class="item border rounded bg-white mr-2 mb-2 px-2"
                            v-b-tooltip.hover.html="
                                tooltipSubCategory(
                                    subCategory.detail_category_name
                                )
                            "
                            :key="subCategoryIndex"
                            >{{ subCategory.subcategory_name }}</span
                        >
                    </div>
                </template>
            </template>
            <!-- <template slot="time" slot-scope="data">
                <input type="number" class="form-control" v-width="'80px'" v-model.number="data.item.time" @input="handleInputLoadTime(data.item)" v-if="type === 'load-time'">
                <span v-else>{{data.item.time}}</span>
            </template>
            <template slot="install_time" slot-scope="data">
                <input type="number" class="form-control" v-width="'80px'" v-model.number="data.item.install_time" @input="handleInputLoadTime(data.item)" v-if="type === 'load-time'">
                <span v-else>{{data.item.install_time}}</span>
            </template> -->
            <template slot="action" slot-scope="data">
                <a
                    href="javascript:void(0)"
                    class="text-danger"
                    @click="showModalDelete(data.item.id)"
                    ><i class="fas fa-trash-alt"></i
                ></a>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="items.meta" @itemPerPage="setPerPage" />
            <app-pagination
                align="right"
                :total-rows="items.meta.total"
                v-model="page"
                :per-page="items.meta.per_page"
                @change="setPage"
                v-if="items.data && items.meta.last_page > 1"
            />
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="my-4">Are you sure want to delete this data?</h6>
            <template slot="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a
                        href="javascript:void(0)"
                        class="text-primary mr-4 font-weight-600"
                        @click="hideModalDelete"
                        >Cancel</a
                    >
                    <button
                        class="btn btn-danger btn-sm"
                        :disabled="isDelete"
                        @click="handleDelete"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import { mapActions, mapState } from "vuex";
import _ from "lodash";
import Modal from "@/components/utilities/Modal";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from "@/components/utilities/TotalRecord";

export default {
    data: () => ({
        tempId: null,
        modalDelete: false,
        isLoadTable: false,
        isDelete: false,
        page: 1,
        perpage: 10,
    }),
    computed: {
        ...mapState("deliveryTimes", {
            loadTime: (state) => state.loadTime,
            unloadTime: (state) => state.unloadTime,
        }),
        fields() {
            const fields = [
                {
                    key: "categories",
                    thStyle: {
                        width: "400px",
                    },
                    available: ["load-time", "unload-time"],
                },
                {
                    key: "sub-categories",
                    thStyle: {
                        width: "400px",
                    },
                    label: "Sub Categories",
                    available: ["unload-time"],
                },
                {
                    key: "time",
                    label: this.$route.name.includes("delivery-install-time")
                        ? "Delivery Time"
                        : "Load Time",
                    available: ["load-time", "unload-time"],
                },
                {
                    key: "install_time",
                    available: ["unload-time"],
                },
                {
                    key: "action",
                    label: "",
                    available: ["load-time", "unload-time"],
                },
            ];

            const mappedColumn = fields.filter((field) => {
                return field.available.includes(this.type);
            });

            return mappedColumn;
        },
        items() {
            const { data, ...meta } =
                this.$route.name ==
                "settings-delivery-settings-index-load-times"
                    ? this.loadTime
                    : this.unloadTime;
            return {
                data: data,
                meta: meta,
            };
        },
    },
    props: {
        type: {
            type: String,
            default: "load-time",
        },
    },
    methods: {
        ...mapActions({
            updateLoadTime: "deliveryTimes/updateLoadTime",
            updateUnloadTime: "deliveryTimes/updateUnloadTime",
            deleteDeliveryTime: "delivery/deleteDeliveryTime",
            getUnloadTimes: "deliveryTimes/getUnloadTimes",
            getLoadTimes: "deliveryTimes/getLoadTimes",
        }),
        handleInputLoadTime: _.debounce(function (item) {
            this.updateLoadTime({
                id: item.id,
                time: item.time == "" ? 0 : item.time,
                install_time: item.install_time == "" ? 0 : item.install_time,
            });
        }, 500),
        setSelected(item) {
            if (this.$route.name.includes("delivery-install-time")) {
                this.$router.push({
                    name: "settings-delivery-settings-delivery-install-time-edit-id",
                    params: { id: item.id },
                });
            } else {
                this.$router.push({
                    name: "settings-delivery-settings-load-times-edit-id",
                    params: { id: item.id },
                });
            }
        },
        tooltipsContent(subcategories) {
            if (subcategories.length > 0) {
                return `
                    <div class="text-left">
                        <ul class="pl-3 my-0">
                            ${subcategories
                                .map(
                                    (item) => `
                                <li>${item.subcategory_name}</li>
                                ${
                                    item.detail_category_name.length > 0
                                        ? `
                                    <ul class="pl-3 my-0">
                                        ${item.detail_category_name
                                            .map(
                                                (detail) => `<li>${detail}</li>`
                                            )
                                            .join("")}
                                    </ul>
                                `
                                        : ``
                                }
                            `
                                )
                                .join("")}
                        </ul>
                    </div>
                `;
            }
            return "";
        },
        tooltipSubCategory(detailCategories) {
            if (detailCategories.length > 0) {
                return `
                    <div class="text-left">
                    ${
                        detailCategories.length < 2
                            ? detailCategories[0]
                            : detailCategories.toString()
                    }
                    </div>
                `;
            }
        },
        showModalDelete(id) {
            this.tempId = id;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempId = null;
            this.modalDelete = false;
        },
        handleDelete() {
            this.isDelete = true;
            this.deleteDeliveryTime(this.tempId).then(() => {
                this.fetchData().then(() => {
                    this.isDelete = false;
                    this.hideModalDelete();
                });
            });
        },
        fetchData() {
            return new Promise((resolve, reject) => {
                this.isLoadTable = true;
                if (this.$route.name.includes("delivery-install-time")) {
                    this.getUnloadTimes({
                        page: this.page,
                        perpage: this.perpage,
                    }).then(() => {
                        this.isLoadTable = false;
                        resolve();
                    });
                } else {
                    this.getLoadTimes({
                        page: this.page,
                        perpage: this.perpage,
                    }).then(() => {
                        this.isLoadTable = false;
                        resolve();
                    });
                }
            });
        },
        setPerPage(value) {
            this.perpage = value;
            this.fetchData();
        },
        setPage(value) {
            this.page = value;
            this.fetchData();
        },
    },
    components: {
        "app-table": Table,
        "app-modal": Modal,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
    },
};
</script>
