<template>
    <div>
        <app-table :fields="fieldsData.location" :items="listLocation" :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="current_location" slot-scope="row">
                <div class="badge cursor-pointer" :class="row.item.id == location.id ? 'badge-success' : 'badge-secondary'" @click="handleLocationChange(row.item)">
                    {{ row.item.id == location.id ? 'Active' : 'Set to Active'}}
                </div>
            </template>
        </app-table>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
export default {
    components: {
        'app-table' : Table
    },
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('priceTag', {
            location(state){
                return state.location
            }
        }),
        ...mapGetters({
            fieldsData : 'priceTag/fields',
            listLocation : 'priceTag/listLocation'
        })
    },
    methods: {
        ...mapMutations('priceTag', ['SET_LOCATION_SELECTED']),
        ...mapActions({
            setActiveStore: 'priceTag/setActiveStore'
        }),
        handleLocationChange(item){
            this.SET_LOCATION_SELECTED(item)
            this.setActiveStore(item)
        }
    }
}
</script>

<style>

</style>