<template>
    <div>
        <app-table :items="product.items" :fields="product.fields" hover @row-clicked="setSelected" show-empty>
            <template slot="cost" slot-scope="row">
                <p v-money class="mb-0">{{ row.item.cost }}</p>
            </template>
            <template slot="msrp_price" slot-scope="row">
                <p v-money class="mb-0">{{ row.item.msrp_price }}</p>
            </template>
            <template slot="is_taxed" slot-scope="row">
                <p class="mb-0" v-if="row.item.is_taxed == 1">Yes</p>
                <p class="mb-0" v-else>No</p>
            </template>
            <template slot="show_detail" slot-scope="row">
                <b-button size="sm btn-success" @click.stop="row.toggleDetails" class="mr-2">
                    {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button>
                </template>
                <template slot="row-details" slot-scope="row">
                    <b-card>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <b>Category</b>
                            </div>
                            <div class="col-4 mb-3">
                                <b>Sub Category</b>
                            </div>
                            <div class="col-4 mb-3">
                                <b>Detail Category</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                {{ row.item.category_name }}
                            </div>
                            <div class="col-4">
                                {{ row.item.subcategory_name}}
                            </div>
                            <div class="col-4">
                                {{ row.item.detail_category_name}}
                            </div>
                        </div>
                    </b-card>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/manage-product/edit/' + row.item.product_id" v-b-tooltip.hover title="Edit Product"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="#" class="mr-3 red" @click="showModalDeleteProduct(row.item.product_id, row.item.brand)" v-b-tooltip.hover title="Delete Product">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal size="lg" title="Delete Product" centered @hide="closeModalDeleteProduct" v-model="modalDeleteProduct">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete This Product ?</h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Model</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ product_id }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ brand }}</h5>
                    </div>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="deleteProduct">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteProduct">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="product.meta" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="product.meta.total" :per-page="product.meta.per_page" @change="setPage" v-if="product.items && product.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>

import { mapState, mapActions, mapMutations} from 'vuex'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return{
            perpage: 10,
            search: {
                product_id: ''
            },
            product_id:'',
            brand:'',
            modalDeleteProduct: false,
        }
    },
    computed:{
        ...mapState('product', {
            product: state =>{
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        })
    },
    watch: {
        page() {
            this.getProducts({ product_id: '' })
        }
    },
    methods:{
        ...mapActions('product',[
            'getProducts',
            'deleteProduct'
        ]),
        ...mapMutations('product', [
            'SET_PRODUCT_PAGE',
            'SET_PRODUCT_SELECTED'
        ]),
        setSelected(item, index) {
            this.SET_PRODUCT_SELECTED(item)
            this.$emit('row-clicked')
        },
        setPage(val) {
            this.SET_PRODUCT_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.SET_PRODUCT_PAGE(1)
            this.getProducts({
                perpage: this.perpage
            })
        },
        showModalDeleteProduct(product_id, brand){
            this.product_id = product_id
            this.brand = brand
            this.modalDeleteProduct= true;
        },
        closeModalDeleteProduct(){
            this.modalDeleteProduct= false;
        },
        deleteProduct(){
            this.deleteProduct(this.product_id).then(() => {
                this.modalDeleteProduct= false;
            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>





