<template>
    <div>
        <app-table :items="message.items" :fields="message.fields" show-empty>
            <template slot="message" slot-scope="row">
                <div v-html="row.item.message"></div>
            </template>
            <template slot="active_date" slot-scope="row">
                <p>{{ moment(row.item.start_date).format('L') }} - {{ moment(row.item.end_date).format('L') }}</p>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/website-message/edit/' + row.item.id" v-b-tooltip.hover title="Edit Message"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="javascript:void(0)" class="mr-3 red" @click="showModalDeleteMessage(row.item.id)" v-b-tooltip.hover title="Delete Message">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal title="Delete Message" centered @hide="closeModalDeleteMessage" :show="modalDeleteMessage">
            <h6 class="my-3">Are you sure want to delete this message?</h6>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="closeModalDeleteMessage">Cancel</button>
                    <button class="btn btn-danger" @click="deleteMessage">Delete</button>
                </div>
            </div>
        </app-modal>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/components/utilities/Modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data(){
        return {
            modalDeleteMessage: false,
            perpage:10,
            id: ''
        }
    },
    computed: {
        ...mapState('message', {
            message: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        })
    },
    watch: {
        page() {
            this.getMessageData({
                perpage: this.perpage
            })
        }
    },
    methods:{
        ...mapActions('message', ['getMessageData', 'destroyMessage']),
        ...mapMutations('message',['SET_MESSAGE_PAGE']),
        setPage(val) {
            this.SET_MESSAGE_PAGE(val)
        },
        showModalDeleteMessage(id){
            this.id = id
            this.modalDeleteMessage= true
        },
        setPerPage(value){
            this.perpage = value
            if (this.page == 1){
                this.getMessageData({
                    perpage: this.perpage
                })
            }else {
                this.SET_MESSAGE_PAGE(1)
            }
        },
        closeModalDeleteMessage(){
            this.modalDeleteMessage= false
        },
        deleteMessage(){
            this.destroyMessage(this.id).then(() => {
                this.modalDeleteMessage= false
            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>