<template>
    <div>
        <app-table :items="meta.items" :busy="loadingTable" :fields="meta.fields" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="description" slot-scope="row">
                <p class="mb-0">{{row.item.description != "" ? row.item.description : '-' }}</p>
            </template>
            <template slot="keyword" slot-scope="row">
                <p class="mb-0">{{row.item.keyword != "" ? row.item.keyword : '-' }}</p>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/meta/edit/' + row.item.id" v-b-tooltip.hover title="Edit Meta"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="javascript:void(0)" class="mr-3 red" @click="showModalDeleteMeta(row.item.id, row.item.title)" v-b-tooltip.hover title="Delete Meta">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal title="Delete Meta" centered @hide="closeModalDeleteMeta" :show="modalDeleteMeta">
            <h6 class="my-3">Arr you sure want to delete this meta?</h6>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="closeModalDeleteMeta">Cancel</button>
                    <button class="btn btn-danger" @click="deleteMeta">Delete</button>
                </div>
            </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="meta.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="meta.meta.total" v-model="meta.meta.current_page" :per-page="meta.meta.per_page" @change="setPage" v-if="meta.items && meta.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/components/utilities/Modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data(){
        return {
            modalDeleteMeta: false,
            perpage:10,
            id: '',
            title: ''
        }
    },
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('meta', {
            meta: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        })
    },
    watch: {
        page() {
            this.getMetaData({
                perpage: this.perpage
            })
        }
    },
    methods:{
        ...mapActions('meta', ['getMetaData', 'destroyMeta']),
        ...mapMutations('meta',['SET_META_PAGE']),
        setPage(val) {
            // this.isLoading = true;
            this.SET_META_PAGE(val)
        },
        showModalDeleteMeta(id, title){
            this.id = id
            this.title = title
            this.modalDeleteMeta= true
        },
        setPerPage(value){
            this.perpage = value
            // this.$emit('set-perpage', value)
            if (this.page == 1){
                this.getMetaData({
                    perpage: this.perpage
                })
            }else {
                this.SET_META_PAGE(1)
            }
            
        },
        closeModalDeleteMeta(){
            this.modalDeleteMeta= false
        },
        deleteMeta(){
            this.destroyMeta(this.id).then(() => {
                this.modalDeleteMeta= false
            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>