<template>
    <div>
        <app-table hover :items="items_order_feed.data" :busy="loadingTable" :fields="fields" @row-clicked="setSelected" show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_order_date">
                <div class="d-flex align-items-center cursor-pointer" @click="sort = !sort">
                    <strong>Order Date</strong>
                    <i class="fas ml-3" :class="sort ? 'fa-long-arrow-alt-up' : 'fa-long-arrow-alt-down'"></i>
                </div>
            </template>
            <template slot="total" slot-scope="row">
                <div v-money :key="row.item.total" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.total }}</div>
            </template>
            <template slot="order_date" slot-scope="row">
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" class="d-inline-block px-3 py-1 text-dark ml-n3" @click="row.toggleDetails">
                        <i class="fas" :class="row.item._showDetails ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    </a>
                    <span>{{row.item.date}}</span>
                </div>
            </template>
            <template slot="order" slot-scope="row">
                <div class="d-flex align-items-center">
                    <p class="mb-0">{{ row.item.order }}</p>
                    <i class="fas fa-home text-success ml-2" v-if="row.item.house_deal == 1"></i>
                </div>
            </template>
            <template slot="delivery_date" slot-scope="row">
                <p v-html="row.item.delivery_date"></p>
            </template>
            <template slot="delivered_on" slot-scope="row">
                <p v-html="row.item.delivery_date"></p>
            </template>
            <template slot="requested_time" slot-scope="row">
                <p v-html="row.item.requested_time"></p>
            </template>
            <template slot="balance_due" slot-scope="row">
                <div v-html="row.item.balance_due"></div>
            </template>
            <template slot="schedule_delivery" slot-scope="row">
                <div v-html="row.item.schedule_delivery"></div>
            </template>
            <template slot="completed" slot-scope="row">
                <div v-html="row.item.completed"></div>
            </template>
            <template v-slot:row-details="row">
                <div class="row ml-2">
                    <div class="col-md-4">
                        <table class="table table-sm table-detail">
                            <thead>
                                <tr>
                                    <th>Model Number</th>
                                    <th>Quantity</th>
                                    <th>Scheduled Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="row.item.scheduled.length > 0">
                                    <tr v-for="(item, indexItem) in row.item.scheduled" :key="indexItem">
                                        <td>{{item.model_number}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.schedule_date}}</td>
                                    </tr>
                                </template>
                                <tr v-else>
                                    <td colspan="3" class="text-center">There are no records to show</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </template>
            <!-- Footer -->
            <template slot="FOOT_order_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_order" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_customer" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_sales_person" slot-scope="row">
                <div :key="row.field.label">
                    Total
                </div>
            </template>
            <template slot="FOOT_total" slot-scope="row">
                <div  v-money :key="row.field.label + items_order_feed.total">
                    {{ items_order_feed.total }}
                </div>
            </template>
            <template slot="FOOT_balance_due" slot-scope="row">
                <span v-money :key="row.field.label + items_order_feed.balance_due_total">
                    {{ items_order_feed.balance_due_total }}
                </span>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="items_order_feed.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="items_order_feed.data.length > 0 && items_order_feed.meta.last_page > 1"  align="right" :total-rows="items_order_feed.meta.total" :per-page="items_order_feed.meta.per_page" @change="setPage" v-model="items_order_feed.meta.current_page"></app-pagination>
        </div>
        <!-- <div v-if="items_order_feed.data == ''" class="d-flex justify-content-center mt-3">
            <p>There are no records to show</p>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <h5>Total</h5>
            </div>
            <div class="col-4">
                <h5 v-money>{{ items_order_feed.total }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Total Balance Due</h5>
            </div>
            <div class="col-4">
                <h5 v-money>{{ items_order_feed.balance_due_total }}</h5>
            </div>
        </div> -->
    </div>
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
    created() {
        if (this.$route.name == 'order-closed') {
            this.fields = ['order_date', 'delivery_date', 'requested_time', 'order', 'customer', 'sales_person', 'total']
        } else if (this.$route.name == 'order-completed') {
            this.fields = ['order_date', 'delivered_on', 'order', 'customer', 'sales_person', 'total']
        }
    },
    data: function(){
        return{
            perpage: 10,
            fields: [ 'order_date', 'order', 'customer', 'sales_person', 'total'],
            sort: true
        }
    },
    methods: {
        ...mapMutations('order',[
            'SET_ORDER_SELECTED',
            'SET_ORDER_PAGE'
        ]),
        ...mapActions('order', [
            'getOrderFeed'
        ]),
        setPage(val) {
            this.SET_ORDER_PAGE(val)
            this.getResponse()
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse():''
            this.SET_ORDER_PAGE(1)
        },
        setSelected(item, index){
            this.SET_ORDER_SELECTED(item)
            // this.$emit('row-clicked')
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({
                name:'my-orders-edit-id', params: { id: this.order.selected.order }
            })
        },
        getResponse(){
            let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
            let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
            console.log(this.filter)
            this.getOrderFeed({
                from : start,
                to : end,
                location: this.location,
                sales: this.sales,
                perpage: this.perpage,
                page: this.page,
                status: this.status,
                house_deal: this.house_deal,
                has_reserved: this.filter.has_reserved,
                has_no_tag: this.filter.has_no_tag,
                delivery_method: this.filter.delivery_method,
                sort: this.sort
            })
        }
    },
    computed: {
        ...mapState('order', {
            // field_order_feed: state => state.field_order_feed,
            items_order_feed: state => state.items_order_feed,
            order(state) {
                return {
                    selected: state.selected
                }
            },
            filter : state => state.filter,
            page: state => state.page
        }),
        ...mapState(['loadingTable']),
        status(){
            if(this.$route.name == 'order-index-all'){
                return ''
            }else if(this.$route.name == 'order-index-open'){
                return 'open'
            }else if(this.$route.name == 'order-index-closed'){
                return 'completed'
            }else{
                return 'closed'
            }
        }
    },
    watch: {
        sort(){
            this.$emit('getData', this.sort)
        }
    },
    props: {
        date: {
            type: Object
        },
        sales: {
             type: String
        },
        location: {
             type: String
        },
        house_deal: {
            type: Boolean,
            default: false
        }
    },
    destroyed() {
        // this.SET_ORDER_PAGE(1)
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
    }
}
</script>
<style scoped>
    .total .ml-5{
        margin-left: 6rem !important;
    }
    .flex-row:nth-child(2) .ml-5{
        margin-left: 4rem !important;
    }
</style>



