<template>
  <div>
      <div class="container mt-5">
        <client-only>
            <draggable :list="usersData" tag="div" class="row" @change="updateSort">
                <div class="col-lg-3" v-for="(employee, index) in usersData" :key="index">
                    <div class="staff-person">
                        <div class="staff-person__img mb-3" v-lazy="employee.dp" :data-src="employee.dp"  :style="{'background-image': 'url(' + employee.dp + ')' }" v-if="employee.dp != null">
                        </div>
                        <div class="staff-person__img mb-3" style="background-image: url('/icon/profile.png')" v-else>
                        </div>
                        <div class="staff-person__contact text-center">
                            <h5 class="text-blue mb-1">{{employee.fullname}}</h5>
                            <p class="text-gray mb-1">{{employee.job_title}}</p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a :href="'mailto:'+ employee.email" class="text-gray mr-2">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <!-- <a :href="'tel:'+ employee.phone_number" class="text-gray">
                                    <i class="fa fa-phone"></i>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </draggable>
        </client-only>
      </div>
      <!-- <table class="table mt-3 table-sort">
        <thead>
          <tr>
            <th scope="col" style="width: 100px;"></th>
            <th scope="col" style="width: 100px;"></th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <no-ssr>
            <draggable :list="usersData" tag="tbody" @change="updateSort">
                <tr v-for="item in usersData" :key="item.fullname">
                    <td>
                        <div class="humberger">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="employee-detail">
                            <div class="employee-detail__image" :style="{'background-image': 'url(' + item.dp + ')' }"></div>
                            <div class="employee-detail__job">
                            </div>
                        </div>
                    </td>
                    <td>{{ item.fullname }}</td>
                    <td>{{ item.job_title }}</td>
                    <td>{{ item.email }}</td>
                </tr>
            </draggable>
        </no-ssr>
      </table> -->
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import { mapActions, mapState, mapMutations } from 'vuex'
  import PrettyCheck from 'pretty-checkbox-vue/check'
  export default {
    components: {
      draggable,
      'p-check': PrettyCheck
    },
    data() {
      return {
        usersData:[]
      }
    },
    mounted(){
        this.usersData = this.employees.items
    },
    computed:{
         ...mapState('employee',{
            employees: state =>{
                return{
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta,
                    selected: state.selected
                }
            },
        })
    },
    methods:{
        ...mapActions('employee',['postSort','getEmployees']),
        updateSort(){
            let users = []
            // for(var i in this.usersData){
                // users.push(this.usersData[i].user_id)
            // }
            this.usersData.forEach(user => {
                    users.push(user.user_id)
            })
            this.postSort(users).then(res =>{
                this.getEmployees({
                    type: 'frontend'
                })
            })
        }
    }
  }
</script>

<style lang="scss">
.table-sort tbody tr:hover{
    cursor: ns-resize;
}
.employee-detail{
    box-shadow: 0px 1px 5px 3px rgba(221, 221, 221, 0.33);
    border-radius: 10px;
    &__image{
        width: 100px;
        height: 80px;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__job{
        text-align: center;
        padding: 10px 5px;
        font-size: 10px;
    }
}
.humberger div {
    width: 20px;
    height: 2px;
    background: #949090;
    margin: auto;
    margin-bottom: 5px;
    &:last-child{
        margin-bottom: 0;
    }
}

.staff{
    &-person{
        margin-bottom: 40px;
        &__img{
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 100%;
            margin: auto;
            background-size: cover;
            background-position: center;
        }
        &:hover{
            cursor: move;
        }
    }
}
</style>