<template>
    <div>
        <app-table 
        :items="item_outstanding_orders" 
        :busy="loading" 
        :fields="field_outstanding_orders"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        no-local-sorting
        foot-clone
        show-empty 
        hover 
        @row-clicked="goToOrder">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="price" slot-scope="row">
                <span v-money :key="row.item.price">{{row.item.price}}</span>
            </template>
            <template slot="total" slot-scope="row">
                <span v-money :key="row.item.total">{{row.item.total}}</span>
            </template>
            <template slot="cost" slot-scope="row">
                <span v-money :key="row.item.cost">{{row.item.cost}}</span>
            </template>
            <template slot="total_cost" slot-scope="row">
                <span v-money :key="row.item.total_cost">{{row.item.total_cost}}</span>
            </template>
            <template v-for="field in field_outstanding_orders">
                <template 
                    :slot="`FOOT_${field.key}`" 
                    v-if="field.key != 'price' && field.key != 'total' && field.key != 'cost' && field.key != 'total_cost'">
                    <span :key="field.key"></span>
                </template>
            </template>
            <template slot="FOOT_price"><div>Total</div></template>
            <template slot="FOOT_total"><div v-money :key="meta_outstanding_orders.total_price_perpage">{{meta_outstanding_orders.total_price_perpage}}</div></template>
            <template slot="FOOT_cost"><div>Total</div></template>
            <template slot="FOOT_total_cost"><div v-money :key="meta_outstanding_orders.total_cost_perpage">{{meta_outstanding_orders.total_cost_perpage}}</div></template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="meta_outstanding_orders" @itemPerPage="setPerPage"/>
            <app-pagination v-if="item_outstanding_orders.length > 0 && meta_outstanding_orders.last_page > 1"  align="right" :total-rows="meta_outstanding_orders.total" :per-page="meta_outstanding_orders.per_page" @input="setPage" v-model="meta_outstanding_orders.current_page"></app-pagination>
        </div>  
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState, mapActions } from 'vuex'

export default {
    data() {
        return {
            sortBy: '',
            sortDesc: true,
        }
    },
    props: {
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapState('accounting', {
            item_outstanding_orders: state => state.item_outstanding_orders,
            meta_outstanding_orders: state => state.meta_outstanding_orders,
            field_outstanding_orders: state => state.field_outstanding_orders
        })
    },
    methods: {
        setPerPage(value){
            this.$emit('setPerPage', value)
        },
        setPage(value){
            this.$emit('setPage', value)
        },
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({name: 'my-orders-edit-id', params: {id: item.order_no}})
        }
    },
    watch:{
        sortBy(){
            this.$emit('setSortBy', this.sortBy)
        },
        sortDesc(){
            this.$emit('setSortDesc', this.sortDesc)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
    }
}
</script>



