<template>
    <div>
        <app-table :items="item" :busy="loadingTable" :fields="field" show-empty hover @row-clicked="goToOrder">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="order_by" slot-scope="data">
                <span>{{data.item.ordered_by.fullname}}</span>
            </template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_part_report,
            field: state => state.field_part_report
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_no}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



