<template>
    <div>
        <app-table :items="items.data" :busy="loadingTable" :fields="fields" show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="order_no" slot-scope="row">
                <div>
                    <a href="#" class="text-primary font-weight-bold" @click.prevent="goToOrder(row.item.order_no, row.item.is_order)">{{row.item.order_no}}</a>
                </div>
            </template>
            <template slot="amount" slot-scope="row">
                <div v-money :key="row.item.amount">{{row.item.is_refund == 1 ? '-':''}}{{row.item.amount}}</div>
            </template>
            <template slot="FOOT_payment_date"><div></div></template>
            <template slot="FOOT_order_no"><div></div></template>
            <template slot="FOOT_payment_method"><div>Total</div></template>
            <template slot="FOOT_amount"><div v-money :key="items.total_amount">{{items.total_amount}}</div></template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="items" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="items.total" v-model="items.current_page" :per-page="items.per_page" @change="setPage" v-if="items.last_page > 1"></app-pagination>
        </div>
    </div>
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState} from 'vuex'
export default {
    data(){
        return {
            perpage : 10,
            page : 1
        }
    },
    computed:{
        ...mapState(['loadingTable']),
        ...mapState('payment', {
            items : state => state.items,
            fields : state => state.fields,
        })
    },
    props: {
        params: {
            type: Object,
            default: () => ({}),
        }
    },
    watch:{
        params: {
            handler() {
                this.page = 1
                this.getData()
            },
            deep: true,
        }
    },
    methods: {
        getData(){
            let store = this.params.store_selected ? this.params.store_selected.store_id : ''
            let salesPerson = this.params.sales_person_selected ? this.params.sales_person_selected.user_id : ''
            this.$store.dispatch('payment/getPaymentData',{
                start: this.params.date ? this.moment(this.params.date.start).format('Y-MM-DD') : null,
                end: this.params.date ? this.moment(this.params.date.end).format('Y-MM-DD') : null,
                page:this.page,
                location: store,
                sales_person: salesPerson,
                perpage : this.perpage,
                payment_method : this.params.payment_method_selected.map(v => v.payment_method.toUpperCase())
            })
        },
        setPage(val){
            this.page = val
            this.getData()
        },
        setPerPage(value){
            this.perpage = value
            this.page = 1
            this.getData()
        },
        goToOrder(id, is_order){
            if(is_order){
                localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                let routeData = this.$router.resolve({ name: 'my-orders-edit-id', params: {id : id}});
                window.open(routeData.href, '_blank');
            } else {
                localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
                let routeData = this.$router.resolve({ name: 'my-quotes-edit-id', params: {id : id}});
                window.open(routeData.href, '_blank');
            }
        },
    },
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord
    }
}
</script>
