<template>
    <div>
        <app-table :items="inventory.items" :busy="loadingTable" :fields="fields" hover @row-clicked="setSelected" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="average_cost" slot-scope="row">
                <p class="mb-0" v-money>{{ row.item.average_cost }}</p>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="inventory.meta" @itemPerPage="setPerPage" />
            <app-pagination v-if="inventory.items.length > 0 && inventory.meta.last_page > 1" align="right" :total-rows="inventory.meta.total" v-model="inventory.meta.current_page" @change="setPage" :per-page="inventory.meta.per_page"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data: function(){
        return{
            fields: [ { key: 'store', label: 'Location' }, 'model', 'brand', 'stock', 'estimated_availability', 'average_cost'],
            perpage: 10
        }
    },
    props:{
        store_id: {
            type: String
        },
        product_id: {
            type: String
        },
        brand: {
            type: String
        },
        category_name: {
            type: String
        },
        subcategory_name: {
            type: String
        },
        detail_category_name: {
            type: String
        }
    },
    watch: {
        page(){
            this.fetchPendingInventory()
        },
        store_id() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        product_id() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        brand() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        category_name() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        subcategory_name() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        detail_category_name() {
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        }
    },
    computed:{
        ...mapState('inventory',{
            inventory(state) {
                return {
                    items: state.items_pending,
                    meta: state.meta
                }
            },
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
    methods:{
        ...mapMutations('inventory', [
            'SET_INVENTORY_SELECTED',
            'SET_INVENTORY_PAGE'
        ]),
        ...mapMutations(['SET_LOADING_TABLE']),
        ...mapActions('inventory', [
            'fillterPendingInventory'
        ]),
        setSelected(item, index){
            this.SET_INVENTORY_SELECTED(item)
            this.$emit('row-clicked')
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_INVENTORY_PAGE(1)
            this.fetchPendingInventory()
        },
        setPage(val) {
            this.SET_INVENTORY_PAGE(val)
        },
        fetchPendingInventory(){
            this.SET_LOADING_TABLE(true)
            this.fillterPendingInventory({
                store_id: this.store_id,
                product_id: this.product_id,
                brand: this.brand,
                category_name: this.category_name,
                subcategory_name: this.subcategory_name,
                detail_category_name: this.detail_category_name,
                perpage: this.perpage
            }).then( () =>{
                this.SET_LOADING_TABLE(false)
            })
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.content-txt{
    color: #e83e8c;
}
.popover-container > input{
    background-color: #ebedef !important;
    display: block;
    width: 100%;
    height: calc(1.96875rem + 2px);
    padding: 19px 16px;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #c2c7cc;
    border-radius: 0.25rem;
}
</style>





