<template>
    <div>
        <app-table
            :fields="fieldsData.product"
            :items="productItem.data"
            :busy="loadingTable"
            show-empty
            fixed
            hover
            @row-clicked="editProduct"
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_checkbox">
                <b-form-checkbox
                    id="selectAll"
                    name="selectAll"
                    @input="selectAll"
                />
            </template>
            <template slot="checkbox" slot-scope="row">
                <b-form-checkbox
                    :id="'select-' + row.index"
                    v-model="selectedData"
                    :value="row.item"
                    :name="'select-' + row.index"
                />
            </template>
            <template slot="label6" slot-scope="row">
                <span v-money :key="row.item.label6">{{
                    row.item.label6
                }}</span>
            </template>
            <template slot="label5" slot-scope="row">
                <span>{{
                    row.item.label5 != null ? row.item.label5 : "-"
                }}</span>
            </template>
            <template slot="status" slot-scope="row">
                <span>{{
                    row.item.status === "未绑定" ? "Unbound" : "Bound"
                }}</span>
            </template>
            <template slot="action" slot-scope="row">
                <a
                    href="javascript:void(0)"
                    class="text-danger"
                    @click="showModalDelete(row.item)"
                    ><i class="fa fa-trash"></i
                ></a>
                <!-- <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" class="text-primary mr-3" @click="editProduct(row.item)"><i class="fa fa-edit"></i></a>
                </div> -->
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <div
                class="d-flex align-items-center"
                v-if="productItem.data.length > 0"
            >
                <app-total @itemPerPage="setPerPage" :showCount="false" />
                <p class="mb-0 ml-1">
                    of {{ productItem.meta.totalCount }} Items
                </p>
            </div>
            <app-pagination
                v-if="
                    productItem.data.length > 0 &&
                    productItem.meta.totalPage > 1
                "
                align="right"
                :total-rows="productItem.meta.totalCount"
                :per-page="productItem.meta.size"
                @input="setPage"
                v-model="productItem.meta.page"
            ></app-pagination>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0 my-3" v-if="tempData != null">
                Are you sure want to delete product {{ tempData.id }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteProduct"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteProduct"
                        @click="removeProduct"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import TotalRecord from "@/components/utilities/TotalRecord";
import Modal from "@/components/utilities/Modal";
import { mapState, mapGetters, mapActions } from "vuex";
export default {
    data: () => ({
        selectedData: [],
        modalDelete: false,
        isDeleteProduct: false,
        tempData: null,
    }),
    components: {
        "app-table": Table,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
        "app-modal": Modal,
    },
    watch: {
        selectedData(value) {
            value.length > 0
                ? this.$emit("setSelected", this.selectedData)
                : this.$emit("setSelected", this.selectedData);
        },
    },
    computed: {
        ...mapState(["loadingTable"]),
        ...mapState("priceTag", {
            location(state) {
                return state.location;
            },
        }),
        ...mapGetters({
            fieldsData: "priceTag/fields",
            productItem: "priceTag/productItem",
        }),
    },
    methods: {
        ...mapActions({
            deleteProduct: "priceTag/deleteProduct",
        }),
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempData = null;
            this.modalDelete = false;
        },
        async removeProduct() {
            this.isDeleteProduct = true;
            await this.deleteProduct(this.tempData.id)
                .then(() => {
                    this.isDeleteProduct = false;
                    this.$emit("getProductData");
                    this.hideModalDelete();
                })
                .catch((error) => {
                    this.isDeleteProduct = false;
                });
        },
        setPage(value) {
            this.$emit("setPage", value);
        },
        setPerPage(value) {
            this.$emit("setPerPage", value);
        },
        editProduct(item) {
            // localStorage.setItem('esl-product-selected', JSON.stringify(item))
            this.$router.push({
                name: "settings-digital-price-tags-product-edit-id",
                params: { id: item.id },
            });
        },
        selectAll(value) {
            value
                ? (this.selectedData = this.productItem.data)
                : (this.selectedData = []);
        },
    },
};
</script>

<style>
</style>
