<template>
    <div class="position-relative">
        <transition name="fade">
            <div class="loader-wrapper card-loader" v-if="loadingCost">
                <div class="text-center mb-5 text-primary">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
            </div>
        </transition>
        <app-table :items="item.data.data" :fields="field" :busy="loading"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        no-local-sorting
        show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="date_sold" slot-scope="row">
                <span :key="row.item.date_sold" v-if="row.item.child">
                    <a href="javascript:void(0)" @click="row.toggleDetails">
                        <i class="fas fa-lg" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                        <!-- <p class="mb-0 ml-2 font-weight-600">Info Detail</p> -->
                        <span class="text-dark">{{ row.item.date_sold }}</span>
                    </a>
                </span>
                <span v-else>
                    <span class="text-dark">{{ row.item.date_sold }}</span>
                </span>
            </template>
            <template slot="brand" slot-scope="row">
                <div v-if="row.item.child">
                    <!-- {{row.item[0].brand}} -->
                    <p class="badge badge-success mb-0">Package Pricing</p>
                </div>
                <div v-else>
                    {{row.item.brand}}
                </div>
            </template>
            <template slot="model_number" slot-scope="row">
                <div>
                    <p v-if="row.item.child" class="badge badge-success mb-0">Package Pricing</p>
                    <p class="mb-0" :key="row.item.model_number" v-else-if="row.item.model_number == '-'"><span class="badge badge-danger mb-0">Partial return</span></p>
                    <p class="mb-0" v-else :key="row.item.model_number">{{ row.item.model_number }}</p>
                </div>
            </template>
            <template slot="order_number" slot-scope="row">
                <div>
                    <a href="#" class="text-primary font-weight-bold" @click.prevent="goToOrder(row.item.order_number)">{{row.item.order_number}}</a>
                </div>
            </template>
            <template slot="quantity" slot-scope="row">
                <div>
                    {{row.item.quantity}}
                </div>
            </template>
            <template slot="cost" slot-scope="row">
                <div>
                    <price-input :value="row.item.cost" v-model="row.item.cost" @blur="updateCost(row.item, row.index)"></price-input>
                    <!-- <p v-else v-money :key="row.item.cost">{{ row.item.cost }}</p> -->
                </div>
            </template>
            <template slot="price" slot-scope="row">
                <div>
                    <!-- <div :key="row.item.price" v-if="row.item.price_type == 'text'" ><p class="badge badge-success mb-0">Package Pricing</p></div> -->
                    <div v-money :key="row.item.price">{{row.item.type == 'return' ? '-' : ''}}{{ row.item.price }}</div>
                </div>
            </template>
            <template slot="total_price" slot-scope="row">
                <div>
                    <!-- <div :key="row.item.price" v-if="row.item.price_type == 'text'" ><p class="badge badge-success mb-0">Package Pricing</p></div> -->
                    <div v-money :key="row.item.total_price">{{row.item.type == 'return' ? '-' : ''}}{{ row.item.total_price }}</div>
                </div>
            </template>
            <template slot="profit_margin" slot-scope="row">
                <div :key="row.item.profit_margin"><span v-money>{{row.item.type == 'return' ? '-' : ''}}{{ row.item.profit_margin }}</span> <span>({{row.item.type == 'return' ? '-' : ''}}{{row.item.profit_margin_percent}}%)</span></div>
            </template>
            <template v-slot:row-details="row">
                <div class="mt-n3 ml-5 mb-2">
                    <div>
                        <p class="font-weight-600 mb-2">Detail products</p>
                        <app-table :items="row.item.child" :fields="field_child" small></app-table>
                    </div>
                </div>
            </template>
            <template slot="FOOT_date_sold"><div></div></template>
            <template slot="FOOT_order_number"><div></div></template>
            <template slot="FOOT_brand"><div></div></template>
            <template slot="FOOT_model_number"><div></div></template>
            <template slot="FOOT_store_location"><div></div></template>
            <template slot="FOOT_sales_person"><div>Total</div></template>
            <template slot="FOOT_quantity"><div :key="'quantity-' + item.total_quantity">{{item.total_quantity}}</div></template>
            <template slot="FOOT_cost"><div v-money :key="'cost-' + item.total_cost">{{item.total_cost}}</div></template>
            <!-- <template slot="FOOT_price"><div>Total</div></template> -->
            <template slot="FOOT_price"><div v-money :key="'price-' + item.price">{{ item.price }}</div></template>
            <template slot="FOOT_total_price"><div v-money :key="'total-price-' + item.total_price">{{ item.total_price }}</div></template>
            <!-- <template slot="FOOT_profit_margin"><div><span v-money :key="profit_margin_total">{{profit_margin_total}}</span> <span :key="profit_margin_total_percentage">({{profit_margin_total_percentage}}%)</span> </div></template> -->
            <template slot="FOOT_profit_margin"><div><span v-money :key="'margin-' + item.total_profit_margin">{{item.total_profit_margin}}</span> <span :key="item.total_profit_margin_percentage"></span>({{item.total_profit_margin_percentage}}%) </div></template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="item.data.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="item.data.meta.total" v-model="item.data.meta.current_page" :per-page="item.data.meta.per_page" @change="setPage" v-if="item.data.data && item.data.meta.last_page > 1"/>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import PriceInput from '@/components/utilities/PriceInputEmpty.vue'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecordBig'
import _ from 'lodash'
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
    data: function(){
        return{
            page: 1,
            perpage: 10,
            loadingCost : false,
            sortBy: '',
            sortDesc: true,
        }
    },
    props: {
        loading: {
            type: Boolean,
            default: false
        }
    },
    watch:{
        sortBy(){
            this.getData({pageChange: false, isLoading: true})
        },
        sortDesc(){
            this.getData({pageChange: false, isLoading: true})
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_profit_report,
            field: state => state.field_profit_report,
            field_child: state => state.field_profit_child_report,
        }),
        // total_cost(){
        //     return this._.sumBy(this.item.data, function(val){
        //         return Number(val.cost)
        //     })
        // },
        // total_price(){
        //     return this._.sumBy(this.item.data, function(val){
        //         return Number(val.price)
        //     })
        // },
        // profit_margin_total(){
        //     let vm = this
        //     let order = this._.filter(this.item.data.data, function(val){
        //         return val.type == 'order'
        //     })
        //     let total_order =  this._.sumBy(order, function(val){
        //         return Number(vm.profit_margin(val))
        //     })
        //     let return_order = this._.filter(this.item.data.data, function(val){
        //         return val.type == 'return'
        //     })
        //     let total_return_order =  this._.sumBy(return_order, function(val){
        //         return Number(vm.profit_margin(val))
        //     })
        //     return total_order - total_return_order
        // },
        // profit_margin_total_percentage(){
        //     return this._.round(((this.total_price - this.total_cost) / this.total_price) * 100)
        // }
    },
    methods: {
        ...mapActions('accounting', ['updateCostProfitReport','getProfitReport']),
        ...mapMutations(['SET_LOADING_TABLE']),
        goToOrder(id){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {id : id}})
        },
        updateCost(val, index){
            this.loadingCost = true
            this.updateCostProfitReport({
                sku: val.model_number,
                cost: val.cost,
                type: val.type,
                order_number: val.order_number,
                order_return_no: val.order_return_no,
                price_type: val.price_type,
                date: this.moment(val.date_sold).format('Y-MM')
            })
            .then(() => {
                this.getData({pageChange: false, isLoading: false})
            })
        },
        getData(config){
            this.$parent.getData(config)
        },
        setPerPage(value){
            this.perpage = value
            this.page = 1
            this.getData({pageChange: false, isLoading: true})
            
        },
        setPage(value){
            this.page = value
            this.getData({pageChange: false, isLoading: true})
        }
        // profit_margin(val){
        //     if((val.price == 0 || val.quantity == 0) && val.model_number != '-'){
        //         return 0
        //     } else {
        //         if(val.model_number != '-'){
        //             return (val.quantity * val.price) - (val.quantity * val.cost)
        //         } else {
        //             return val.price
        //         }
        //     }
        // },
        // profit_margin_percent(val){
        //     if((val.price == 0 || val.quantity == 0) && val.model_number != '-'){
        //         return 0
        //     } else {
        //         if(val.model_number != '-'){
        //             return this._.round(((((val.quantity * val.price) - (val.quantity * val.cost)) / (val.quantity * val.price)) * 100))
        //         } else {
        //             return 100 - this._.round(((val.subtotal - val.price) / val.subtotal) * 100)
        //         }
        //     }
        // },

    },
    components:{
        'app-table': Table,
        'price-input': PriceInput,
        'app-pagination': Pagination,
        'app-total': TotalRecord
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



