<template>
    <div>
        <app-table :items="items_quote.data" :busy="loadingTable" :fields="field_quote" @row-clicked="setSelected" class="table__clone-header" hover show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <!-- <template v-slot:thead-top>
                <b-tr>
                    <b-th variant="light" colspan="4"></b-th>
                    <b-th variant="light">Total</b-th>
                    <b-th variant="light"><div :key="items_quote.total" v-money>{{ items_quote.total }}</div></b-th>
                    <b-th variant="light"><div :key="items_quote.sum_deposit" v-money>{{ items_quote.sum_deposit }}</div></b-th>
                    <b-th variant="light"><div :key="items_quote.sum_balance_due" v-money>{{ items_quote.sum_balance_due }}</div></b-th>
                </b-tr>
            </template> -->
            <template slot="order" slot-scope="row">
                <p class="mb-0" v-if="row.item.order == null"> - </p>
                <p class="mb-0" v-else>{{ row.item.order }}</p>
            </template>
            <template slot="status" slot-scope="row">
                <span v-html="row.item.status"></span>
            </template>
            <template slot="total" slot-scope="row">
                <p class="mb-0" :key="row.item.total" v-money>{{ row.item.total }}</p>
            </template>
            <template slot="deposit" slot-scope="row">
                <p class="mb-0" :key="row.item.deposit" v-money>{{ row.item.deposit }}</p>
            </template>
            <template slot="balance_due" slot-scope="row">
                <p class="mb-0" :key="row.item.balance_due" v-money>{{ row.item.balance_due }}</p>
            </template>
            <template slot="FOOT_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_quote" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_order" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_customer" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_sales_person" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_store_location" slot-scope="row"><div :key="row.field.label">Total</div></template>
            <template slot="FOOT_total" slot-scope="row">
                <p :key="row.field.label"><span v-money :key="items_quote.total">{{ items_quote.total }}</span></p>
            </template>
            <template slot="FOOT_deposit" slot-scope="row">
                <p :key="row.field.label"><span v-money :key="items_quote.sum_deposit">{{ items_quote.sum_deposit }}</span></p>
            </template>
            <template slot="FOOT_balance_due" slot-scope="row">
                <p :key="row.field.label"><span v-money :key="items_quote.sum_balance_due">{{ items_quote.sum_balance_due }}</span></p>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="items_quote.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="items_quote.data.length > 0 && items_quote.meta.last_page > 1"  align="right" :total-rows="items_quote.meta.total" :per-page="items_quote.meta.per_page" @change="setPage" v-model="items_quote.meta.current_page"></app-pagination>
        </div>  
        <!-- <div class="d-flex align-items-center justify-content-end total mb-3 mt-3">
            <div class="flex-row flex-row__custom">
                <h5 class="ml-2 text-center">Total</h5>
            </div>
            <div class="flex-row flex-row__custom">
                <h5 class="text-center" v-money>{{ items_quote.total }}</h5>
            </div>
        </div> -->
        <!-- <app-pagination  align="right" :total-rows="20" :per-page="10"></app-pagination> -->
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapActions, mapState, mapMutations } from 'vuex';

export default {
    data: function(){
        return {
            field_quote: [
                { key: 'date', label: 'Date' },
                { key: 'quote', label: 'Quote' },
                // { key: 'order', label: 'Order' },
                { key: 'customer', label: 'Customer' },
                { key: 'sales_person', label: 'Sales Person', thStyle:'width: 150px !important' },
                { key: 'store_location', label: 'Location' },
                // { key: 'status', label: 'Status' },
                { key: 'total', label: 'Total' },
                { key: 'deposit', label: 'Deposit' },
                { key: 'balance_due', label: 'Balance Due' } 
            ],
            perpage: 10
        }
    },
    computed: {
        ...mapState('order', {
            items_quote: state => state.items_quote,
            page: state => state.page
        }),
         ...mapState('quote', {
            quote(state) {
                return {
                    selected: state.selected
                }
            }
        }),
        ...mapState(['loadingTable'])
    },
    watch: {
        page(){
            this.getResponse()
        }
    },
    props: {
        date: {
            type: Object
        },
        sales: {
             type: String
        },
        location: {
             type: String
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
    },
    methods:{
        ...mapMutations('quote', [
            'SET_QUOTE_SELECTED'
        ]),
        ...mapMutations('order', [
            'SET_ORDER_PAGE'
        ]),
        ...mapActions('order', [
            'getQuoteFeed'
        ]),
        setPage(val) {
            this.SET_ORDER_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse():''
            this.SET_ORDER_PAGE(1)
        },
        getResponse(){
            let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
            let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
            let type = this.$route.name == 'quotes-index-active' ? 'active' : 'expired'
            
            this.getQuoteFeed({
                from: start,
                to: end,
                location: this.location,
                sales: this.sales,
                perpage: this.perpage,
                type: type
            })
        },
        setSelected(item, index){
            this.SET_QUOTE_SELECTED(item)
            this.$router.push({
                name: 'my-quotes-edit-id', params: { id: this.quote.selected.quote }
            })
            localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
        }
    },
    destroyed() {
        this.SET_ORDER_PAGE(1)
    }
}
</script>
<style scoped>
    .flex-row__custom{
        flex-basis: 10%;
    }
</style>



