<template>
    <div>
        <app-table :items="items_return.data" :busy="loadingTable" :fields="field_return" show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="date" slot-scope="row">
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" class="d-inline-block px-3 py-1 text-dark ml-n3" @click="row.toggleDetails">
                        <i class="fas" :class="row.item._showDetails ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    </a>
                    <span>{{row.item.date}}</span>
                </div>
            </template>
            <template slot="order" slot-scope="row">
                <a href="javascript:void(0)" @click="setSelected(row.item)">{{row.item.order}}</a>
            </template>
            <template slot="note" slot-scope="row">
                <p v-html="row.item.note" class="mb-0"></p>
            </template>
            <template slot="refund_amount" slot-scope="row">
                <p v-money class="text-danger mb-0" :key="row.item.refund_amount">{{ row.item.refund_amount }}</p>
            </template>
            <template v-slot:row-details="row">
                <div class="mt-n3 pl-4">
                    <p class="mb-0 font-weight-600">Serial Number :</p>
                    <ul class="mb-0 pl-3">
                        <li v-for="(serial, index) in row.item.serial_number" :key="index">{{serial.serial_number}}</li>
                    </ul>
                </div>
            </template>
            <template slot="action" slot-scope="row">
                <nuxt-link class="btn btn-primary" :to="{ name: 'return-feed-restock', params: { 'model': row.item.model } }">Re-stock</nuxt-link>
            </template>
            <template slot="FOOT_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_order" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_model" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_quantity" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_refund_method" slot-scope="row"><div :key="row.field.label">Total</div></template>
            <template slot="FOOT_refund_amount" slot-scope="row"><div v-money :key="row.index+items_return.total">{{ items_return.total }}</div></template>
            <template slot="FOOT_refund_reason" slot-scope="row"><div :key="row.field.label"></div></template>
        </app-table>
        <!-- <div class="d-flex align-items-center">
            <div class="flex-row mr-4">
                <h5>Total Refund Amount</h5>
            </div>
            <div class="flex-row">
                <h5 v-money>{{ items_return.total }}</h5>
            </div>
        </div> -->
        <!-- <app-pagination  align="right" :total-rows="20" :per-page="10"></app-pagination> -->
    </div>
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapActions, mapState, mapMutations } from 'vuex';

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('order', {
            field_return: state => state.field_return,
            items_return: state => state.items_return
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        ...mapMutations('order', [
            'SET_ORDER_SELECTED'
        ]),
        setSelected(item, index){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .red{
        color:red;
    }
</style>



