<template>
    <div>
        <app-table :fields="formatedFields" :items="returnedInventory.data" :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="reason" slot-scope="row">
                <span>
                    <div :key="row.item.reason" class="d-flex gap">
                        <span>{{row.item.reason}}</span>
                        <a href="#" @click="openEditReason(row.item)" v-if="$route.name == 'inventory-index-returned-inventory-index-pending'"><i class="fas fa-edit"></i></a>
                    </div>
                </span>
            </template>
            <template slot="status" slot-scope="row">
                <span>{{row.item.status == 0 ? 'Pending' : 'Resolved'}}</span>
            </template>
            <template slot="mark_as_resolved" slot-scope="row">
                <a href="javascript:void(0)" class="btn btn-primary rounded py-2" @click="showModalResolve(row.item)"><i class="fas fa-arrow-right"></i></a>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="returnedInventory.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="returnedInventory.meta.total" v-model="returnedInventory.meta.current_page" :per-page="returnedInventory.meta.per_page" @change="setPage" v-if="returnedInventory.data && returnedInventory.meta.last_page > 1"/>
        </div>
        <app-modal size="lg" title="Edit Reason" centered @hide="modalReason = false" :show="modalReason">
            <template>
                <div class="form-group">
                    <!-- <label for="external-note">Edit Reason</label> -->
                    <textarea id="external-note" :class="{'input': true}" class="form-control" name="reason" cols="30" rows="6" v-model="selected_return.reason"></textarea>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="submitReason">Save</button>
                    <button class="btn btn-outline-primary" @click="modalReason = false">Cancel</button>
                </div>
            </div>
        </app-modal>
        <app-modal title="Resolved Stock" size="lg" :hideFooter="true" :show="modalResolve" @hide="hideModalResolve">
            <div class="row">
                <div class="form-group col-5">
                    <label for="#" class="font-weight-600">Put Back to available stock?</label>
                    <b-form-group class="sb-radio__button mb-0 mr-3">
                        <b-form-radio-group
                            v-model="resolveType.selected"
                            :options="resolveType.options"
                            button-variant="outline-primary"
                            name="radio-btn-outline"
                            buttons/>
                    </b-form-group>
                </div>
            </div>
            <div class="form-group" v-if="resolveType.selected != 0">
                <label for="#" class="font-weight-600">Condition:</label>
                <no-ssr>
                    <app-select
                        v-model="condition_selected"
                        :options="conditions"
                        :allow-empty="false"
                        :preserve-search="true"
                        placeholder="Select Condition"
                        label="name"
                        track-by="id"
                        :show-labels="false"
                        :preselect-first="true"
                        v-width="'270px'">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Resolved Notes:</label>
                <textarea name="resolvedNote" class="resize-none form-control" v-model="resolveNote" id="resolvedNote" cols="30" rows="5"></textarea>
            </div>
            <div v-if="resolveType.selected === 1 && condition_selected.id !== 1" class="form-group">
                <label for="pictures" class="font-weight-600">Pictures</label>
                <div class="form-upload-file mt-3">
                    <UploadFile
                        v-for="(picture, index) in pictures"
                        :key="`upload-file-${index}`"
                        :preview-file="picture.previewFile"
                        :is-multiple="true"
                        @removeFile="removeFile(index)"
                        @selectFile="addFilePicture($event)"
                    />
                    <template v-if="pictures.length < 5">
                        <UploadFile
                            :is-multiple="true"
                            @selectFile="addFilePicture($event)"
                        />
                    </template>
                </div>
            </div>
            <div v-if="resolveType.selected === 1 && condition_selected.id !== 1" class="form-group">
                <label for="pictures" class="font-weight-600">Description</label>
                <textarea class="form-control resize-none" v-model="description"></textarea>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-3">
                <a href="javascript:void(0)" class="text-gray d-inline-block mr-4 font-weight-600" @click="hideModalResolve" :class="{disabled : isSubmitLoading}">Cancel</a>
                <button class="btn btn-primary px-4 ml-3" :disabled="isSubmitLoading" @click="handleSaveResolve">Save</button>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Select from 'vue-multiselect'
import Modal from '@/components/utilities/Modal'
import UploadFile from '@/components/utilities/UploadFile'

import {mapState, mapActions} from 'vuex'
export default {
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord,
        'app-modal' : Modal,
        'app-select' : Select,
        UploadFile,
    },
    data: () => ({
        modalReason: false,
        selected_return: {
            id: null,
            reason: null
        },
        fields: [
            // {
            //     key: 'location'
            // },
            {
                key: 'model'
            },
            {
                key: 'serial_number'
            },
            {
                key: 'order_no'
            },
            // {
            //     key: 'condition_string.name',
            //     label: 'Condition'
            // },
            {
                key: 'quantity',
                label: 'Qty'
            },
            {
                key: 'status'
            },
            {
                key: 'reason',
                thStyle: {
                    width: '300px'
                }
            },
            {
                key: 'return_date',
                label: 'Date Returned'
            },
            {
                key: 'mark_as_resolved',
                label: 'Mark as Resolved'
            },
            {
                key: 'note',
                label: 'Resolved Notes'
            }
        ],
        modalResolve: false,
        resolveType: {
            selected: 0,
            options: [
                {text: 'No, Resolved only', value: 0},
                {text: 'Yes, Put Back', value: 1}
            ]
        },
        pictures: [],
        description: null,
        resolveNote: null,
        condition_selected: null,
        isSubmitLoading: false,
        tempData: null
    }),
    mounted() {
        this.$store.dispatch('inventory/getConditions');
    },
    computed: {
        formatedFields(){
            if(this.$route.name.includes('returned-inventory-index-pending')){
                return this.fields.filter(v => v.key != 'note')
            }else{
                return this.fields.filter(v => v.key != 'mark_as_resolved' && v.key != 'return_date')
            }
        },
        ...mapState('inventory', {
            returnedInventory: state => state.returnedInventory,
            conditions: state => state.conditions
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        ...mapActions({
            moveReturnedInventory: 'inventory/moveReturnedInventory',
        }),
        ...mapActions('inventory', [
            'updateInventoryReturnReason'
        ]),
        openEditReason(item){
            this.selected_return = {
                id: item.id,
                reason: item.reason
            }
            this.modalReason = true
        },
        submitReason(){
            this.updateInventoryReturnReason(this.selected_return).then(() => {
                this.modalReason = false
                this.$parent.fetchReturned()
            })
        },
        removeFile(index) {
            this.pictures.splice(index, 1);
        },
        addFilePicture(payload) {
            if ([...payload].length > 5 || [...payload].length + this.pictures.length > 5 ) {
                this.$root.$bvToast.toast(`You can select max 5 images`, {
                    title: "Choose file failed!",
                    variant: "danger",
                    solid: true,
                });
                return;
            }

            if ([...payload].length <= 5) {
                this.isPicturesLengthNull = false;
                this.pictures = [...this.pictures, ...payload];

                return;
            }
        },
        handleSaveResolve(){
            this.isSubmitLoading = true;

            let formData = new FormData();

            formData.append('is_put_back', this.resolveType.selected);
            formData.append('note', this.resolveNote);
            formData.append('_method', 'PUT');
            formData.append('condition', this.condition_selected.id);
            if (this.resolveType.selected === 1 && this.condition_selected.id !== 1) {
                for (let index = 0; index < this.pictures.length; index++) {
                    formData.append('photo_upload[]', this.pictures[index].file);
                }
                formData.append('description', this.description);
            }
            const payload = {
                id: this.tempData.id,
                form: formData,
            };

            this.moveReturnedInventory(payload)
            .then(() => {
                this.$emit('getData')
                this.hideModalResolve()
                this.$root.$bvToast.toast(`Resolved Stock Updated`, {
                    title: 'Success!',
                    variant: "success",
                    solid: true,
                });
                this.isSubmitLoading = false
            })
        },
        setPerPage(value){
            this.$emit('changePerpage', value)
        },
        setPage(value){
            this.$emit('changePage', value)
        },
        showModalResolve(item){
            this.tempData = item
            this.condition_selected = {
                name: item.condition_string.name,
                id: item.condition_string.value
            }
            this.modalResolve = true
        },
        hideModalResolve(){
            this.tempData = null;
            this.condition_selected = null;
            this.resolveType.selected = 0;
            this.resolveNote = null;
            this.pictures = [];
            this.description = null;
            this.modalResolve = false;
        }
    }
}
</script>

<style lang="scss" scoped>
    .form-upload-file {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
</style>
