<template>
    <div>
        <app-table :items="item.data" :busy="loadingTable" :fields="field" show-empty @row-clicked="goToOrder" hover>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <!-- <template slot="install_price" slot-scope="row">
                <div v-money :key="i+item" v-for="(item, i) in row.item.install_price">{{ item }}</div>
            </template> -->
            <template slot="order_number" slot-scope="row">
                <nuxt-link tag="a" :to="{name: 'my-orders-edit-id', params: {id: row.item.order_number}}">{{row.item.order_number}}</nuxt-link>
                <!-- <div v-money :key="row.item.revenue" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.revenue }}</div> -->
            </template>
            <template slot="revenue" slot-scope="row">
                <div v-money :key="row.item.revenue" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.revenue }}</div>
            </template>
            <template slot="install" slot-scope="row">
                <div v-money :key="row.item.install" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.install }}</div>
            </template>
            <template slot="warranty" slot-scope="row">
                <div v-money :key="row.item.warranty" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.warranty }}</div>
            </template>
            <template slot="delivery_charge" slot-scope="row">
                <div v-money :key="row.item.delivery_charge" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.delivery_charge }}</div>
            </template>
            <template slot="total_revenue" slot-scope="row">
                <div v-money :key="row.item.total_revenue" >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.total_revenue }}</div>
            </template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_revenue_report,
            field: state => state.field_revenue_report
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_number}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



