<template>
    <div>
        <app-table :items="item.data" :busy="loadingTable" :fields="field" show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="model_number" slot-scope="row">
                <p class="mb-0" :key="row.item.model_number" v-if="row.item.model_number == '-'"><span class="badge badge-danger mb-0">Partial return</span></p>
                <p v-else :key="row.item.model_number">{{ row.item.model_number }}</p>
            </template>
            <template slot="order_number" slot-scope="row">
                <a href="#" class="text-primary font-weight-bold" @click.prevent="goToOrder(row.item.order_number)">{{row.item.order_number}}</a>
            </template>
            <template slot="revenue" slot-scope="row">
                <div :key="row.item.revenue" v-if="row.item.revenue_type == 'text' && row.item.revenue == 0" ><p class="badge badge-success mb-0">Package Pricing</p></div>
                <div v-money :key="row.item.revenue" v-else >{{row.item.type == 'return' ? '-' : ''}}{{ row.item.revenue }}</div>
            </template>
            <template slot="FOOT_date_sold"><div></div></template>
            <template slot="FOOT_order_number"><div></div></template>
            <template slot="FOOT_brand"><div></div></template>
            <template slot="FOOT_model_number"><div></div></template>
            <template slot="FOOT_store_location"><div></div></template>
            <template slot="FOOT_sales_person"><div>Total</div></template>
            <template slot="FOOT_quantity"><div :key="item.total_quantity">{{item.total_quantity}}</div></template>
            <!-- <template slot="FOOT_price"><div>Total</div></template> -->
            <template slot="FOOT_revenue"><div v-money :key="item.total">{{ item.total }}</div></template>
            <template slot="FOOT_delivery_date"><div></div></template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_sales_by_product,
            field: state => state.field_sales_by_product
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        goToOrder(id){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {id : id}})
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



