<template>
    <div>
        <app-table :items="scanout_report.data" :busy="loadingTable" :fields="fields" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="name" slot-scope="row">
                <div class="d-flex align-items-center gap0-5">
                    <a v-if="selected !== `selected-${row.index}`" href="javascript:void(0)" class="text-primary font-weight-600" @click="row.toggleDetails">
                        <i class="fas mr-2" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                        {{row.item.name}}
                    </a>
                    <input v-if="selected === `selected-${row.index}`" v-model="row.item.name" type="text" class="form-control" @blur="changeName(row.item.id, row.item.name)">
                    <i class="fas fa-edit text-primary" role="button" @click="selectEdit(row.index)"></i>
                </div>
            </template>
            <template v-slot:row-details="row">
                <app-table
                    stripped
                    :items="row.item.detail"
                    :fields="
                        $route.name === 'bulk-inventory-index-log'
                        ? fieldsDetail.filter(field => {return field.key !== 'order_no' && field.key !== 'customer_name' && field.key !== 'serial_number'})
                        : $route.name === 'deliveries-scan-out-index-log'
                        ? fieldsDetail.filter(field => {return field.key !== 'customer_name' && field.key !== 'quantity'})
                        : fieldsDetail
                    "
                    small
                    show-empty
                />
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="scanout_report.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="scanout_report.data.length > 0 && scanout_report.meta.last_page > 1"  align="right" :total-rows="scanout_report.meta.total" :per-page="scanout_report.meta.per_page" @change="setPage" v-model="scanout_report.meta.current_page"></app-pagination>
        </div>
    </div>
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState } from 'vuex'

export default {
    name: 'ScantOutReport',
    props: {
        handleFilter: {
            type: Function,
            default: () => ({}),
        },
    },
    data: () => ({
        fields: [
            {
                key: 'name',
                label: 'Report Name',
                thStyle: {
                    width: '400px'
                }
            },
            {
                key: 'quantity',
                label: 'Total Quantity',
                thStyle: {
                    width: '300px'
                }
            },
            {
                key: 'date',
                label: 'Requested Date',
            }
        ],
        fieldsDetail: [
            {
                key: 'order_no',
                thStyle: {
                    width: '250px'
                }
            },
            {
                key: 'model',
                thStyle: {
                    width: '250px'
                }
            },
            {
                key: 'serial_number',
                thStyle: {
                    width: '250px'
                }
            },
            {
                key: 'customer_name',
                thStyle: {
                    width: '250px'
                }
            },
            {
                key: 'sales_person',
                thStyle: {
                    width: '250px'
                }
            },
            {
                key: 'quantity',
            },
            {
                key: 'scanned_by',
                thStyle: {
                    width: '250px'
                }
            },
        ],
        selected: null,
    }),
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('bulkInventory', {
            scanout_report: state => state.scanout_report
        })
    },
    methods: {
        selectEdit(value) {
            this.selected = `selected-${value}`;
        },
        changeName(id, name) {
            const payload = {
                id,
                payload: name,
            };

            this.$store.dispatch(`bulkInventory/updateScanLog`, payload)
            .then(() => {
                this.$root.$bvToast.toast(`Date Report Name Updated!`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
                this.selected = null;
                this.handleFilter();
            });
        },
        setPage(value){
            this.$emit('setPage', value)
        },
        setPerPage(value){
            this.$emit('setPerPage', value)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
    }
}
</script>
<style lang="scss" scoped>
.gap0-5 {
    gap: 0.5rem;
}
</style>
