<template>
    <div class="position-relative">
        <app-table :items="item_sell" :fields="field_sell" :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="meta_sell" @itemPerPage="setPerPage" :value="perpage"/>
            <app-pagination class="mb-0" v-if="meta_sell.total > 0" v-model="page" :total-rows="meta_sell.total" :per-page="perpage" @change="setPage"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState } from 'vuex'

export default {
    data: () => ({
        page:1,
        perpage: 10
    }),
    computed: {
        ...mapState('accounting', {
            item_sell: state => state.item_sell,
            field_sell: state => state.field_sell,
            meta_sell: state => state.meta_sell
        }),
        ...mapState(['loadingTable'])
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord
    },
    methods: {
        setPerPage(value){
            this.perpage = value
            this.$emit('setPerPage', value)
        },
        setPage(value){
            this.page = value
            this.$emit('setPage', value)
        }
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



