<template>
    <div>
        <app-table :fields="fields" :busy="loadingTable" :items="items" class="table__custom--header" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template v-slot:thead-top>
                <b-tr>
                    <b-th colspan="3"></b-th>
                    <b-th colspan="6" class="text-center">Stock Movement</b-th>
                </b-tr>
            </template>
            <template slot="date" slot-scope="row">
                <div>{{ row.item.date_format }}</div>
            </template>
            <template slot="reference" slot-scope="row">
                <div v-if="row.item.reference == 0">
                    <nuxt-link tag="a" :to="{name: 'my-orders-edit-id', params: {'id': row.item.reference_name}}" class="font-weight-600 text-primary" @click.native="setHistoryRoute">{{row.item.reference_name}}</nuxt-link>
                </div>
                <div v-else>{{row.item.reference_name}}</div>
            </template>
            <template slot="stock_type" slot-scope="row">
                <div class="d-flex align-items-center" :class="row.item.stock_type == 0 ? 'text-primary' : row.item.stock_type == 1 ? 'text-warning' : 'text-success'">
                    <i class="fas fa-circle"></i>
                    <p class="mb-0 ml-2">{{row.item.stock_name}}</p>
                </div>
            </template>
        </app-table>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import {mapState} from 'vuex'
export default {
    components: {
        'app-table' : Table
    },
    data: () => ({
        fields: [
            {
                key: 'date'
            },
            {
                key: 'username'
            },
            {
                key: 'reference',
                label: 'Reference'
            },
            {
                key: 'stock_type',
                label: 'Stock Type Added'
            },
            {
                key: 'stock_amount',
                label: 'Stock Amount'
            },
            {
                key: 'pending_quantity',
                label: 'Requested Stock'
            },
            {
                key: 'ordered_quantity',
                label: 'On Order'
            },
            {
                key: 'available_quantity',
                label: 'Available'
            }, 
            {
                key: 'tagged_quantity',
                label: 'Reserved'
            },
        ]
    }),
    computed: {
        ...mapState('inventory', {
            items: state => state.items_movement
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        setHistoryRoute() {
            localStorage.setItem('history-route-order', this.$route.path)
        }
    }
}
</script>

<style>

</style>