<template>
    <div>
        <app-table :items="store.items" :fields="store.fields" @row-clicked="setSelected" hover show-empty>
            <template slot="manager" slot-scope="data">
                <p class="mb-0">{{data.item.user != null ? data.item.user.fullname : '-'}}</p>
            </template>
            <template slot="store_name" slot-scope="data">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0 mr-3">
                            {{ data.item.store_name }}
                        </p>
                    </div>
                    <div class="flex-row" v-b-tooltip.hover title="Warehouse" v-if="data.item.is_warehouse">
                        <i class="fa fa-check blue" aria-hidden="true"></i>
                    </div>
                </div>
            </template>
            <template slot="is_request_default" slot-scope="row">
                <no-ssr>
                    <p-check class="p-switch p-fill" color="primary" v-model="row.item.is_request_default" @change="updateDefault(row.item)"></p-check>
                </no-ssr>   
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="store.meta" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="store.meta.total" :per-page="store.meta.per_page" @change="setPage" v-if="store.items && store.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>

import { mapState, mapMutations, mapActions } from 'vuex'

import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import TotalRecord from '@/components/utilities/TotalRecord'
import PrettyCheck from 'pretty-checkbox-vue/check'

export default {
    data(){
        return{
            perpage: 10
        }
    },
    computed: {
        ...mapState('store', {
            store: state => {
                return {
                    fields: [
                        {
                            key: 'store_code',
                            label: 'Location Code',
                            thStyle:{
                                width: '130px'
                            }
                        },
                        {
                            key: 'store_name',
                            label: 'Location Name',
                            thStyle:{
                                width:'300px'
                            }
                        },
                        {
                            key: 'slug',
                            label: 'Slug',
                        },
                        {
                            key: 'store_phone_number',
                            label: 'Location Phone Number',
                        },
                        {
                            key: 'store_fax',
                            label: 'Location Fax'
                        },
                        {
                            key: 'store_address',
                            label: 'Location Address',
                            thStyle:{
                                width: '300px !important'
                            }
                        },
                        {
                            key:'manager',
                            label:'Manager'
                        },
                        {
                            key:'is_request_default',
                            label:'Request Location Default'
                        }
                    ],
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        }),
    },
    watch: {
        page() {
            this.getStores()
        }
    },
    methods:{
        ...mapActions('store', [
            'getStores',
            'updateRequestLocationDefault'
        ]),
        ...mapMutations('store', [
            'SET_STORE_PAGE',
            'SET_STORE_SELECTED'
        ]),
        setPerPage(value){
            this.perpage = value
            this.SET_STORE_PAGE(1)
            this.getStores({
                type:'',
                perpage: this.perpage
            })
        },
        updateDefault(item){
            this.updateRequestLocationDefault({
                store_id: item.store_id,
                is_request_default: item.is_request_default 
            }).then(() => {
                this.getStores()
            })
        },
        setSelected(item, index) {
            this.SET_STORE_SELECTED(item)
            this.$router.push({ name: 'settings-locations-edit-id', params: { id: item.store_id } })
        },
        setPage(val) {
            this.SET_STORE_PAGE(val)
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord,
        'p-check': PrettyCheck
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
</style>





