<template>
    <div>
        <app-table :items="items" :busy="loadingTable" :fields="fields" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template v-slot:thead-top>
                <b-tr>
                    <b-th variant="light"></b-th>
                    <b-th variant="light">Total</b-th>
                    <b-th variant="light"><div v-money :key="total.revenue">{{total.revenue}}</div></b-th>
                    <b-th variant="light"><div v-money :key="total.return">{{total.return}}</div></b-th>
                    <b-th variant="light"><div v-money :key="total.total_revenue">{{total.total_revenue}}</div></b-th>
                    <b-th variant="light"><div v-money :key="total.tax">{{total.tax}}</div></b-th>
                    <b-th variant="light"><div v-money :key="total.total">{{total.total}}</div></b-th>
                </b-tr>
            </template>
            <template slot="revenue" slot-scope="row">
                <div v-money :key="row.item.revenue">{{row.item.revenue}}</div>
            </template>
            <template slot="return" slot-scope="row">
                <div v-money :key="row.item.return">{{row.item.return}}</div>
            </template>
            <template slot="total_revenue" slot-scope="row">
                <div v-money :key="row.item.total_revenue">{{row.item.total_revenue}}</div>
            </template>
            <template slot="tax_price" slot-scope="row">
                <div v-money :key="row.item.tax_price">{{row.item.tax_price}}</div>
            </template>
            <template slot="total" slot-scope="row">
                <div v-money :key="row.item.total">{{ row.item.total}}</div>
                <!-- <div v-money :key="row.item.revenue + row.item.tax_price">{{ parseFloat(row.item.revenue) + parseFloat(row.item.tax_price)}}</div> -->
            </template>
            <!-- <template slot="FOOT_order_date"><div></div></template>
            <template slot="FOOT_total_qty"><div>Total</div></template>
            <template slot="FOOT_revenue"><div v-money :key="total.revenue">{{total.revenue}}</div></template>
            <template slot="FOOT_tax_price"><div v-money :key="total.tax">{{total.tax}}</div></template>
            <template slot="FOOT_total"><div v-money :key="total.total">{{total.total}}</div></template> -->
        </app-table>
        <!-- <div class="d-flex justify-content-between align-items-center">
            <app-total :data="items" @itemPerPage="setPerPage" />
            <app-pagination  align="right" :total-rows="items.total" v-model="items.current_page" :per-page="items.per_page" @change="setPage" v-if="items.last_page > 1"></app-pagination>
        </div> -->
    </div>  
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState} from 'vuex'
export default {
    data(){
        return {
            perpage : 10,
            page : 1
        }
    },
    computed:{
        ...mapState(['loadingTable']),
        ...mapState('accounting', {
            items : state => state.item_summary_report,
            fields : state => state.field_summary_report,
            total : state => state.total_summary_report
        })
    },
    props: {
        location: {
            type: Object
        },
        date: {
            type: Object,
        },

    },
    watch:{
        location(){
            this.page = 1
            this.getSummary()
        },
        date(){
            this.page = 1
            this.getSummary()
        }
    },
    methods: {
        // goToOrder(item){
        //     this.$router.push({name : 'my-orders-edit-id', params: {'id' : item.order_no}})
        //     localStorage.setItem('history-route-order', this.$router.currentRoute.name)
        // },
        getSummary(){
            this.$store.dispatch('accounting/getSummary',{
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ? this.moment(this.date.end).format('Y-MM-DD') : null,
                page:this.page,
                perpage : this.perpage,
                store_id : this.location != null ? this.location.store_id : ''
            })
        },
        setPage(val){
            this.page = val
            this.getSummary()
        },
        setPerPage(value){
            this.perpage = value
            this.getSummary()
        }
    },
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord
    }
}
</script>