<template>
<div>
    <app-table :items="driverData.data" :fields="fields" :busy="loadingTable" @row-clicked="selectDriver" hover show-empty>
        <div slot="table-busy" class="text-center text-blue my-2">
            <b-spinner class="align-middle" />
        </div>
        <template slot="email" slot-scope="row">
            <span>{{row.item.email ? row.item.email : '-'}}</span>
        </template>
        <template slot="truck_no" slot-scope="row">
            <span>{{row.item.truck_no ? row.item.truck_no : '-'}}</span>
        </template>
        <template slot="delivery_method" slot-scope="row">
            <span>{{row.item.delivery_method ? row.item.delivery_method.delivery_method_name : '-'}}</span>
        </template>
    </app-table>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <app-total :data="driverData.meta" @itemPerPage="setPerPage"/>
        <app-pagination  align="right" :total-rows="driverData.meta.total" v-model="driverData.meta.current_page" :per-page="driverData.meta.per_page" @change="setPage" v-if="driverData.data.length > 0 && driverData.meta.last_page > 1" />
    </div>
</div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState} from 'vuex'
export default {
    data: () => ({
        fields: [
            {
                key: 'name',
                thStyle: {
                    width: '25%'
                }
            },
            {
                key: 'email'
            },
            {
                key: 'truck_no',
                label: 'Default Truck #'
            },
            {
                key: 'delivery_method',
                label: 'Default Delivery Method'
            }
        ]
    }),
    computed: {
        ...mapState('driver', {
            driverData: state => state.drivers_data
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        setPage(val){
            this.$emit('changePage', val)
        },
        setPerPage(val){
            this.$emit('changePerpage', val)
        },
        selectDriver(item){
            this.$router.push({name: 'settings-delivery-settings-index-driver-edit-id', params: {id: item.id}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    }
}
</script>

<style>

</style>