<template>
    <app-table :items="timeLimits" :fields="fieldTimeLimits">
        <template slot="hour" slot-scope="row">
            <input
                id="hour"
                v-model="row.item.hour"
                type="number"
                name="hour"
                class="form-control"
                :min="0"
                :max="12"
                @blur="changeTimeLimit(row.item)"
            />
        </template>
        <template slot="minute" slot-scope="row">
            <input
                id="minute"
                v-model="row.item.minute"
                type="number"
                name="minute"
                class="form-control"
                :min="0"
                :max="60"
                @blur="changeTimeLimit(row.item)"
            />
        </template>
    </app-table>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";

export default {
    name: "TableTimeLimit",
    components: {
        "app-table": Table,
    },
    computed: {
        ...mapState("timeLimit", {
            timeLimits: (state) => state.timeLimits,
            fieldTimeLimits: (state) => state.fields,
        }),
    },
    methods: {
        ...mapActions({
            putTimeLimit: "timeLimit/putTimeLimit",
        }),
        async changeTimeLimit(row) {
            const { id, hour, minute } = row;
            const payload = { id, hour, minute };
            const result = await this.putTimeLimit(payload);

            if (result.status === "success") {
                this.$root.$bvToast.toast(`Data Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (result.status !== "success") {
                this.$root.$bvToast.toast(`Data Update Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });
            }
        },
    },
};
</script>
