<template>
    <div>
        <div class="d-flex justify-content-end mb-3 mt-4">
            <p class="mb-0 font-weight-bold w-100 text-right">TOTAL AMOUNT OF TAX   : <span :key="Math.random().toString(36).substring(7) + item_tax.total_amount" v-money>{{ item_tax.total_amount }}</span></p>
        </div>
        <!-- <div class="d-flex align-items-center my-5">
            <div class="flex-row col-8"></div>
            <div class="flex-row col-4">
                <div class="d-flex">
                    <div class="font-weight-bold w-100 text-right mr-3">
                        <p>TOTAL AMOUNT OF TAX   : <span :key="Math.random().toString(36).substring(7) + item_tax.total_amount" v-money>{{ item_tax.total_amount }}</span></p>
                        <p>TIMELY PAYMENT 2%     : <span :key="Math.random().toString(36).substring(7) + item_tax.payment" v-money>{{ item_tax.payment }}</span></p>
                        <p>PAY THIS AMOUNT       : <span :key="Math.random().toString(36).substring(7) + item_tax.pay_amount" v-money>{{ item_tax.pay_amount }}</span></p>
                    </div>
                </div>
            </div>
        </div> -->
        <app-table :items="item_tax.data.data" :busy="loadingTable" :fields="field_tax" hover show-empty @row-clicked="setSelected">
            <template slot="HEAD_total_revenue" slot-scope="row">
                <div class="d-flex align-items-center">
                    <strong>{{ row.label }}</strong>
                    <span class="ml-2 d-inline-block">(<span v-money :key="item_tax.total_revenue">{{item_tax.total_revenue}}</span>)</span>
                </div>
            </template>
            <template slot="HEAD_gross_receipt">
                <div class="d-flex align-items-center">
                    <strong>Gross Receipts</strong>
                    <span class="ml-2 d-inline-block">(<span v-money :key="item_tax.total_gross_receipt">{{item_tax.total_gross_receipt}}</span>)</span>
                </div>
            </template>
            <template slot="HEAD_adjustments" slot-scope="row">
                <div class="d-flex align-items-center">
                    <strong>{{ row.label }}</strong>
                    <span class="ml-2 d-inline-block">(<span v-money :key="item_tax.total_adjustment">{{item_tax.total_adjustment}}</span>)</span>
                </div>
            </template>
            <template slot="HEAD_taxable_sales" slot-scope="row">
                <div class="d-flex align-items-center">
                    <strong>{{ row.label }}</strong>
                    <span class="ml-2 d-inline-block">(<span v-money :key="item_tax.total_taxable_sales">{{item_tax.total_taxable_sales}}</span>)</span>
                </div>
            </template>
            <template slot="HEAD_tax_rate" slot-scope="row">
                <div class="d-flex align-items-center">
                    <strong>{{ row.label }}</strong>
                    <span class="ml-2 d-inline-block">(<span :key="item_tax.total_tax_rate">{{item_tax.total_tax_rate.toFixed(4)}}</span>)</span>
                </div>
            </template>
            <template slot="HEAD_amount_of_tax" slot-scope="row">
                <div class="d-flex align-items-center">
                    <strong>{{ row.label }}</strong>
                    <span class="ml-2 d-inline-block">(<span v-money :key="item_tax.total_amount">{{item_tax.total_amount}}</span>)</span>
                </div>
            </template>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="total_revenue" slot-scope="row">
                <p :class="'mb-0'" v-money :key="row.item.total_revenue">{{ row.item.total_revenue }}</p>
            </template>
            <template slot="gross_receipt" slot-scope="row">
                <p :class="'mb-0'" v-money :key="row.item.gross_receipt">{{ row.item.gross_receipt }}</p>
            </template>
            <template slot="adjustments" slot-scope="row">
                <p :class="'mb-0'" v-money :key="row.item.adjustments" class="text-danger">-{{ row.item.adjustments }}</p>
            </template>
            <template slot="taxable_sales" slot-scope="row">
                <p :class="'mb-0'" v-money :key="row.item.taxable_sales">{{ row.item.taxable_sales }}</p>
            </template>
            <template slot="tax_rate" slot-scope="row">
                <p :class="'mb-0'" key="row.item.tax_rate">{{ row.item.tax_rate }}</p>
            </template>
            <template slot="amount_of_tax" slot-scope="row">
                <p :class="'mb-0'" v-money :key="row.item.amount_of_tax">{{ row.item.amount_of_tax }}</p>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="item_tax.data.meta" @itemPerPage="setPerPage" :value="perpage"/>
            <app-pagination class="mb-0" v-if="item_tax.data.meta && item_tax.data.meta.total > 0" v-model="page" :total-rows="item_tax.data.meta.total" :per-page="perPage" @change="setPage"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
    data: function(){
        return {
            // page: 1,
            // perpage: 25
        }
    },
    computed: {
        ...mapState('accounting', {
            field_tax: state => state.field_tax,
            item_tax: state => state.item_tax
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        ...mapMutations('accounting',[
            'SET_TAX_SELECTED'
        ]),        
        setSelected(item) {
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({
                name:'my-orders-edit-id', params: { id: item.order_number }
            })
        },
        setPage(val) {
            this.$emit('setPage', val)
        },
        setPerPage(val){
            this.$emit('setPerpage', val)
        }
    },
    props: ['page','perpage'],
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



