<template>
<div>
    <app-table :items="terminalData.data" :fields="fields" :busy="loadingTable" @row-clicked="selectTerminal" hover show-empty>
        <div slot="table-busy" class="text-center text-blue my-2">
            <b-spinner class="align-middle" />
        </div>
    </app-table>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <app-total :data="terminalData.meta" @itemPerPage="setPerPage"/>
        <app-pagination  align="right" :total-rows="terminalData.meta.total" v-model="terminalData.meta.current_page" :per-page="terminalData.meta.per_page" @change="setPage" v-if="terminalData.data.length > 0 && terminalData.meta.last_page > 1" />
    </div>
</div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import {mapState} from 'vuex'
export default {
    data: () => ({
        fields: [
            {
                key: 'store.store_name',
                label: 'Location',
                thStyle: {
                    width: '350px'
                }
            },
            {
                key: 'terminal_name'
            }
        ]
    }),
    computed: {
        ...mapState('terminal', {
            terminalData: state => state.terminal
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        setPage(val){
            this.$emit('changePage', val)
        },
        setPerPage(val){
            this.$emit('changePerpage', val)
        },
        selectTerminal(item){
            this.$router.push({name: 'settings-terminal-edit-id', params: {id: item.id}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    }
}
</script>

<style>

</style>