<template>
    <div>
        <app-table :items="truck.items" :fields="truck.fields" show-empty>
            <template slot="truck_leader" slot-scope="row">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0 mr-3">{{ row.item.truck_name }}</p>
                    </div>
                </div>
            </template>
            <template slot="truck_is_active" slot-scope="row">
                <p class="mb-0" v-if="row.item.truck_is_active == true">Active</p>
                <p cslass="mb-0" v-else>Inactive</p>
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/truck/edit/' + row.item.truck_id" v-b-tooltip.hover title="Edit Truck"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="#" class="mr-3 red" @click="showModalDeleteTruck(row.item.truck_id, row.item.truck_name)" v-b-tooltip.hover title="Delete Truck">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal size="lg" title="Delete Truck" centered @hide="closeModalDeleteTruck" v-model="modalDeleteTruck">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete Truck <span class="content-txt">{{ truck_name }}</span> ?</h5>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="deleteTruck">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteTruck">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="truck.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="truck.meta.total" v-model="truck.meta.current_page" :per-page="truck.meta.per_page" @change="setPage" v-if="truck.items && truck.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import { mapActions, mapState, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    data(){
        return{
            // fields: [ 'truck_leader', 'action'],
            modalDeleteTruck: false,
            truck_id: null,
            truck_name: null,
            perpage:10
        }
    },
    created() {
        // this.getTrucks()
    },
    computed: {
        ...mapState('truck', {
            truck: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        })
    },
    watch: {
        page() {
            this.getTrucks({
                perpage: this.perpage
            })
        }
    },
    methods:{
        ...mapActions('truck', ['getTrucks', 'destroyTruck']),
        ...mapMutations('truck',['SET_TRUCK_PAGE']),
        setPage(val) {
            this.isLoading = true;
            this.SET_TRUCK_PAGE(val)
        },
        showModalDeleteTruck(truck_id, truck_name){
            this.truck_id = truck_id
            this.truck_name = truck_name
            this.modalDeleteTruck= true
        },
        setPerPage(value){
            this.perpage = value
            // this.$emit('set-perpage', value)
            if (this.page == 1){
                this.getTrucks({
                    perpage: this.perpage
                })
            }else {
                this.SET_TRUCK_PAGE(1)
            }
            
        },
        closeModalDeleteTruck(){
            this.modalDeleteTruck= false
        },
        deleteTruck(){
            this.destroyTruck(this.truck_id).then(() => {
                this.modalDeleteTruck= false
            })
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total':TotalRecord
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
.fade-enter-active{
  transition: opacity .5s;  
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>