<template>
    <div>
        <app-table :items="upcCodeList.data" :fields="fields" :busy="loadingTable">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle" />
            </div>
            <template slot="upc" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span class="d-inline-block mr-3">{{row.item.upc}}</span>
                    <a href="javascript:void(0)" class="text-primary" @click="showModalUpc(row.item)"><i class="fas fa-edit"></i></a>
                </div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <app-total :data="upcCodeList.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="upcCodeList.meta.total" v-model="upcCodeList.meta.current_page" :per-page="upcCodeList.meta.per_page" @change="setPage" v-if="upcCodeList.data.length > 0 && upcCodeList.meta.last_page > 1" />
        </div>
        <app-modal title="Edit Upc Code" :show="modalUpc" @hide="hideModalUpc">
            <template v-if="tempData">
                <div class="form-group">
                    <label for="#" class="font-weight-600">Upc Code</label>
                    <input type="text" class="form-control" name="upc" v-model="tempData.upc" disabled>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">New Upc Code</label>
                    <input type="text" class="form-control" :class="{'is-invalid' : errors.has('newUpc')}" ref="newUpc" name="newUpc" v-model="newUpc" v-validate="'required'" data-vv-as="new upc code">
                    <span class="text-danger" v-if="errors.has('newUpc')">{{errors.first('newUpc')}}</span>
                </div>
            </template>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-outline-danger mr-3" @click="hideModalUpc" :disabled="isSaveUpc">Cancel</button>
                    <button class="btn btn-primary" @click="saveUpc" :disabled="isSaveUpc">Save</button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Modal from '@/components/utilities/Modal'
import {mapActions, mapState} from 'vuex'
export default {
    data: () => ({
        fields: [
            {
                key: 'model',
            },
            {
                key: 'upc',
                label: 'Upc Code'
            }
        ],
        modalUpc: false,
        tempData: null,
        newUpc: null
    }),
    computed: {
        ...mapState('upc', {
            upcCodeList: state => state.upc_list
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        ...mapActions({
            updateUpcCode: 'upc/updateUpcCode'
        }),
        setPage(val){
            this.$emit('changePage', val)
        },
        setPerPage(val){
            this.$emit('changePerpage', val)
        },
        showModalUpc(item){
            this.tempData = item
            this.modalUpc = true
            this.$nextTick(() => {
                this.$refs.newUpc.focus()
            })
        },
        hideModalUpc(){
            this.tempData = null
            this.newUpc = null
            this.modalUpc = false
            this.errors.clear()
        },
        saveUpc(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isSaveUpc = true
                    this.updateUpcCode({id: this.tempData.id, upc: this.newUpc, model: this.tempData.model})
                    .then(() => {
                        this.isSaveUpc = false
                        this.hideModalUpc()
                        this.$emit('getData')
                    })
                }
            })
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-modal': Modal
    }
}
</script>

<style>

</style>