<template>
    <div class="user-permission">
        <app-table :items="users.data" :fields="fields" @head-clicked="isSelectAll = !isSelectAll">
            <template slot="HEAD_selected" slot-scope="data">
                <div :key="data.field.label">
                    <b-form-checkbox v-model="isSelectAll">
                    </b-form-checkbox>
                </div>
            </template>
            <template slot="house_deal" slot-scope="row">
                <button class="btn btn-circle p-2" :class="row.item.user_feature_permission[0].status == 1 ? 'btn-success': 'btn-secondary'" v-if="row.item.user_feature_permission.length > 0" @click="changeHouseDeal(row.item)"><i class="fas fa-home fa-lg"></i></button>
                <span v-else>-</span>
            </template>
            <template slot="selected" slot-scope="row">
                <b-form-checkbox :id="'user-'+row.index" 
                    :name="'user-'+row.index" 
                    v-model="row.item.is_select" 
                    :value="true" 
                    :unchecked-value="false" 
                    @change="updateSelected(row.index, $event)">
                </b-form-checkbox>
            </template>
            <template slot="fullname" slot-scope="row">
                <div class="d-flex align-items-center">
                    <div class="flex-row">
                        <p class="mb-0 mr-3">{{ row.item.fullname }}</p>
                    </div>
                    <div class="flex-row" v-b-tooltip.hover title="User Admin" v-if="row.item.is_admin == 1">
                        <i class="fa fa-check blue" aria-hidden="true"></i>
                    </div>
                </div>
            </template>
            <template slot="role" slot-scope="row">
                {{ row.item.role ? row.item.role.role:'-' }}
            </template>
            <template slot="role_access_menu" slot-scope="row">
                <!-- <b-button size="sm" @click="row.toggleDetails" @click.prevent="getInactive(row.item.user_id)">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button> -->
                <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-1" role="tab" @click="getUserPermission(row.item.user_id)">
                        <b-button block href="#" v-b-toggle="'accordion-' + row.item.user_id">Show Detail</b-button>
                    </b-card-header>
                    <b-collapse :id="'accordion-' + row.item.user_id" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <!-- <label for="#" class="font-weight-bold">Feature :</label>
                            <div class="row">
                                <div class="mb-4 col-12">
                                    <div class="list-group-item d-flex align-items-center" v-for="(item, i) in user_feature" :key="i">
                                        {{item.parent.name}}
                                        <p-check disabled class="p-switch p-fill ml-auto" color="success" v-model="item.status"></p-check>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-6">
                                    <label class="font-weight-bold mb-4">Active Menu :</label>
                                    <b-card class="mb-4" v-if="activeAdmin.length > 0">
                                        <b-badge variant="danger" class="mb-2 badge-offset-top">Admin</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in activeAdmin" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                                <!-- <b-button v-b-toggle="'collapse--inner'+itemSub.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                                </b-button> -->
                                                            </div>
                                                            <!-- <b-collapse :id="'collapse--inner'+itemSub.id">
                                                                <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                                    <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                                        {{ itemSubMenu.menu }}
                                                                    </li>
                                                                </ul>
                                                            </b-collapse> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                    <b-card v-if="activeEmployee.length > 0">
                                        <b-badge variant="info" class="mb-2 badge-offset-top">Employee</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in activeEmployee" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                                <!-- <b-button v-b-toggle="'collapse--inner'+itemSub.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                                </b-button> -->
                                                            </div>
                                                            <!-- <b-collapse :id="'collapse--inner'+itemSub.id">
                                                                <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                                    <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                                        {{ itemSubMenu.menu }}
                                                                    </li>
                                                                </ul>
                                                            </b-collapse> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                </div>
                                <div class="col-6">
                                    <label class="font-weight-bold mb-4">Inactive Menu :</label>
                                    <b-card class="mb-4" v-if="inactiveAdmin.length > 0">
                                        <b-badge variant="danger" class="mb-2 badge-offset-top">Admin</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in inactiveAdmin" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                                <!-- <b-button v-b-toggle="'collapse--inner'+itemSub.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                                </b-button> -->
                                                            </div>
                                                            <!-- <b-collapse :id="'collapse--inner'+itemSub.id">
                                                                <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                                    <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                                        {{ itemSubMenu.menu }}
                                                                    </li>
                                                                </ul>
                                                            </b-collapse> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                    <b-card v-if="inactiveEmployee.length > 0">
                                        <b-badge variant="info" class="mb-2 badge-offset-top">Employee</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in inactiveEmployee" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                                <!-- <b-button v-b-toggle="'collapse--inner'+itemSub.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                                </b-button> -->
                                                            </div>
                                                            <!-- <b-collapse :id="'collapse--inner'+itemSub.id">
                                                                <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                                    <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                                        {{ itemSubMenu.menu }}
                                                                    </li>
                                                                </ul>
                                                            </b-collapse> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                </div>
                            </div>  
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </template>

            <template slot="row-details" slot-scope="row">
                <!-- <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block href="#" v-b-toggle="'accordion-' + row.item.user_id" variant="info">Accordion 1</b-button>
                    </b-card-header>
                    <b-collapse :id="'accordion-' + row.item.user_id" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <p>I start opened because <code>visible</code> is <code>true</code></p>
                        </b-card-body>
                    </b-collapse>
                </b-card> -->

                <b-card class="p-4">
                    <div class="row">
                        <div class="col-6">
                            <label class="font-weight-bold">Active Menu :</label>
                            <ul class="menu-list">
                                <li class="menu-list__item" v-for="(item, i) in row.item.user_permission" :key="i">
                                    <div class="d-flex align-items-center">
                                        {{ item.navigation.name }}
                                        <b-badge variant="danger" class="ml-2" v-if="item.navigation.status == 1">Admin</b-badge>
                                        <b-badge variant="info" class="ml-2" v-else>Employee</b-badge>
                                         <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.navigation.child.length > 0">
                                         </b-button>
                                    </div>
                                    <b-collapse :id="'collapse'+item.id">
                                        <ul class="menu-list__item--inner" v-if="item.navigation.child.length > 0">
                                            <li v-for="(itemSub, i) in item.navigation.child" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ itemSub.name }}  
                                                    <!-- <b-button v-b-toggle="'collapse--inner'+itemSub.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                    </b-button> -->
                                                </div>
                                                <!-- <b-collapse :id="'collapse--inner'+itemSub.id">
                                                    <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                        <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                            {{ itemSubMenu.menu }}
                                                        </li>
                                                    </ul>
                                                </b-collapse> -->
                                            </li>
                                        </ul>
                                    </b-collapse>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold">Inactive Menu :</label>
                            <ul class="menu-list">
                                <li class="menu-list__item" v-for="(item, i) in inactive" :key="i">
                                    <div class="d-flex align-items-center">
                                        {{ item.name }}
                                         <b-button v-b-toggle="'collapse-inactive'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="item.subMenu != null">
                                         </b-button>
                                    </div>
                                    <b-collapse :id="'collapse-inactive'+item.id">
                                        <ul class="menu-list__item--inner" v-if="item.subMenu != null">
                                            <li v-for="(itemSub, i) in item.subMenu" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ itemSub.menu }}  
                                                    <b-button v-b-toggle="'collapse-inactive--inner'+row.item.id+i" class="ml-2 btn-rounded btn-rounded__sm btn-success btn-collapse" v-if="itemSub.subMenu != null">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse-inactive--inner'+i">
                                                    <ul class="menu-list__item--inner" v-if="itemSub.subMenu != null">
                                                        <li v-for="(itemSubMenu, i) in itemSub.subMenu" :key="i">
                                                            {{ itemSubMenu.menu }}
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-collapse>
                                </li>
                            </ul>
                        </div>
                    </div>            
                </b-card>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="users.meta" v-if="typeof users.meta != 'undefined'" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="users.meta.total" v-model="users.meta.current_page" :per-page="users.meta.per_page" v-if="typeof users.meta != 'undefined' && users.meta.last_page > 1" @change="setPage"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex';
import TotalRecord from '@/components/utilities/TotalRecord'
import PrettyCheck from 'pretty-checkbox-vue/check'

export default {
    data: function(){
        return{
            // active: [],
            activeAdmin: [],
            activeEmployee: [],
            inactiveAdmin: [],
            inactiveEmployee: [],
            // inactive: [],
            isSelectAll: false,
            selected: [],
            perpage: 10,
            fields: [
                {
                    key:'selected',
                    label: 'Selected',
                    thStyle: {
                        width: '100px'
                    }
                }, 
                {
                    key:'fullname',
                    label:'Name',
                    thStyle: {
                        width: '235px',
                    }
                },
                {
                    key:'role',
                    label:'Role',
                    thStyle: {
                        width: '150px',
                    }
                },
                {
                    key:'house_deal',
                    label:'House Deal Button',
                    thStyle: {
                        width: '200px',
                    }
                },
                {
                    key:'role_access_menu',
                    label:'Role Access Menu',
                    // thStyle: {
                    //     "text-align": 'center'
                    // }
                }
            ],
        }
    },
    mounted() {
        localStorage.setItem('user_select', JSON.stringify(this.selected))
    },
    computed: {
        ...mapState('permission', {
            users: state => state.users,
            user_feature: state => state.user_feature,
            page: state => state.page,
        })
    },
    watch:{
        page(){
            this.getResponse()
        },
        selected(){
            localStorage.setItem('user_select', JSON.stringify(this.selected))
            this.$emit('change', this.selected)
        },
        isSelectAll(val){
            let _ = this
            _.users.data.forEach(function(value){
                val == true ? _.selected.push(value) : _.selected = []
                value.is_select = val
            });
        }
    },
    methods: {
        ...mapActions('permission', [
            'getUsers',
            'getInactiveMenu',
            'getUserFeature',
            'setHouseDealPerimission'
        ]),
        ...mapMutations('permission', ['SET_PAGE']),
        changeHouseDeal(item){
            this.setHouseDealPerimission({
                user_id : item.user_id,
                status : item.user_feature_permission[0].status == 1 ? 0 : 1
            }).then(() => {
                this.getUsers()
                .then(() => {
                    this.$auth.fetchUser()
                })
            })
        },
        getUserPermission(user_id){
            this.getInactiveMenu(user_id).then(res =>{
                this.inactive = res.data.inactive
                this.active = res.data.active
                this.activeAdmin = res.data.active.filter(i => i.status == true)
                this.activeEmployee = res.data.active.filter(i => i.status == false)
                this.inactiveAdmin = res.data.inactive.filter(i => i.status == true)
                this.inactiveEmployee = res.data.inactive.filter(i => i.status == false)
            })
            // this.getUserFeature(user_id);
        },
        setPage(val) {
            this.SET_PAGE(val)
        },
        updateSelected(index, $event) {
            let data = this.users.data[index]
            this._.findIndex(this.selected, function(o) { return o.user_id == data.user_id })
            $event == true ? this.selected.push(data):this.selected.splice(index, 1);
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse(): this.SET_PAGE(1)
            
        },
        getResponse(){
            this.getUsers({
                search: this.$attrs.search,
                perpage: this.perpage
            })
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'p-check': PrettyCheck,
    }
}
</script>
<style>
.blue{
    color: #2996cc;
}
.user-permission .table td{
    vertical-align: unset;
}
.badge-offset-top{
    position: absolute;
    top: -7px;
}
</style>





