<template>
    <div class="user-permission__wrapper">
        <app-table :items="roles" :fields="fields">
            <template slot="name" slot-scope="row">
                {{ row.item.role }}
            </template>
            <template slot="actions" slot-scope="row">
                <nuxt-link class="btn btn-warning btn-sm" :to="{ name: 'settings-user-permission-role-edit-id', params: {id: row.item.id} }">Edit</nuxt-link>
                <div class="btn btn-danger mr-3" @click="openModalDeleteRole(row.item)">Delete</div>
            </template>
            <template slot="role_access_menu" slot-scope="row">
                <!-- <b-button size="sm" @click="row.toggleDetails" @click.prevent="getInactive(row.item.user_id)">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </b-button> -->
                <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-1" role="tab" @click="getUserPermission(row.item.id)">
                        <b-button block href="#" v-b-toggle="'accordion-' + row.item.id">Show Detail</b-button>
                    </b-card-header>
                    <b-collapse :id="'accordion-' + row.item.id" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <label for="#" class="font-weight-bold">Feature :</label>
                            <div class="row">
                                <div class="mb-4 col-12">
                                    <div class="list-group-item d-flex align-items-center" v-for="(item, i) in features" :key="i">
                                        {{item.name}}
                                        <!-- <div>{{item.status == 1 ? "Active": "Inactive"}}</div> -->
                                        <p-check disabled class="p-switch p-fill ml-auto" color="success" v-model="item.status"></p-check>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="font-weight-bold mb-4">Active Menu :</label>
                                    <b-card class="mb-4" v-if="activeAdmin.length > 0">
                                        <b-badge variant="danger" class="mb-2 badge-offset-top">Admin</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in activeAdmin" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                    <b-card v-if="activeEmployee.length > 0">
                                        <b-badge variant="info" class="mb-2 badge-offset-top">Employee</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in activeEmployee" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <div class="d-flex align-items-center" v-if="itemSub.status == true">
                                                                {{ itemSub.name }}  
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                </div>
                                <div class="col-6">
                                    <label class="font-weight-bold mb-4">Inactive Menu :</label>
                                    <b-card class="mb-4" v-if="inactiveAdmin.length > 0">
                                        <b-badge variant="danger" class="mb-2 badge-offset-top">Admin</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in inactiveAdmin" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <!-- <div class="d-flex align-items-center" v-if="itemSub.status == true"> -->
                                                                {{ itemSub.name }}  
                                                            <!-- </div> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                    <b-card v-if="inactiveEmployee.length > 0">
                                        <b-badge variant="info" class="mb-2 badge-offset-top">Employee</b-badge>
                                        <ul class="menu-list">
                                            <li class="menu-list__item" v-for="(item, i) in inactiveEmployee" :key="i">
                                                <div class="d-flex align-items-center">
                                                    {{ item.name }}
                                                    <b-button v-b-toggle="'collapse'+item.id" class="ml-2 btn-rounded btn-rounded__sm btn-collapse" v-if="item.child.length > 0">
                                                    </b-button>
                                                </div>
                                                <b-collapse :id="'collapse'+item.id">
                                                    <ul class="menu-list__item--inner" v-if="item.child.length > 0">
                                                        <li v-for="(itemSub, i) in item.child" :key="i">
                                                            <!-- <div class="d-flex align-items-center" v-if="itemSub.status == true"> -->
                                                                {{ itemSub.name }}  
                                                            <!-- </div> -->
                                                        </li>
                                                    </ul>
                                                </b-collapse>
                                            </li>
                                        </ul>
                                    </b-card>
                                </div>
                            </div>  
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </template>
        </app-table>
        <app-modal size="lg" title="Delete role" @hide="closeDeleteModalRole" :show="deleteModalRole">
            <template>
                <h6 class="mt-0 mb-3">Are you sure to delete this role?</h6>
                <div class="bg-light rounded p-3">
                    <p class="mb-1 font-weight-600">Role Name: <span class="text-danger">{{selectedRole ? selectedRole.role : ''}}</span></p>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger mr-3" @click="deleteSelectedRole">Delete</button>
                        <button class="btn btn-primary" @click="closeDeleteModalRole">Cancel</button>
                    </div>
                </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <app-total :data="meta" v-if="typeof meta != 'undefined'" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="meta.total" v-model="meta.current_page" :per-page="meta.per_page" v-if="typeof meta != 'undefined' && meta.last_page > 1" @change="setPage"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex';
import TotalRecord from '@/components/utilities/TotalRecord'
import Modal from '@/components/utilities/Modal'
import PrettyCheck from 'pretty-checkbox-vue/check'

export default {
    data: function(){
        return{
            selected: [],
            perpage: 10,
            deleteModalRole: false,
            selectedRole: null,
            fields: ['name', 'role_access_menu', 'actions'],
            activeAdmin: [],
            activeEmployee: [],
            inactiveAdmin: [],
            inactiveEmployee: [],
            features: []
        }
    },
    computed: {
        ...mapState('role', {
            roles: state => state.items,
            page: state => state.page,
            meta: state => state.meta
        })
    },
    watch:{
        // page(){
        //     this.getResponse()
        // },
        // selected(){
        //     localStorage.setItem('user_select', JSON.stringify(this.selected))
        //     this.$emit('change', this.selected)
        // },
        // isSelectAll(val){
        //     let _ = this
        //     _.users.data.forEach(function(value){
        //         val == true ? _.selected.push(value) : _.selected = []
        //         value.is_select = val
        //     });
        // }
    },
    methods: {
        ...mapActions('role', ['getMenu','deleteRole','getRoles']),
        setPage(val) {
            this.SET_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse(): this.SET_PAGE(1)
        },
        getUserPermission(id) {
            this.getMenu(id).then(res =>{
                this.inactive = res.data.inactive
                this.active = res.data.active
                this.activeAdmin = res.data.active.filter(i => i.status == true)
                this.activeEmployee = res.data.active.filter(i => i.status == false)
                this.inactiveAdmin = res.data.inactive.filter(i => i.status == true)
                this.inactiveEmployee = res.data.inactive.filter(i => i.status == false)
                this.features = res.data.feature
            })
        },
        closeDeleteModalRole(){
            this.deleteModalRole = false
        },
        openModalDeleteRole(val){
            this.selectedRole = val
            this.deleteModalRole = true
        },
        deleteSelectedRole(){
            this.deleteRole(this.selectedRole.id).then(res => {
            this.selectedRole = null
            this.closeDeleteModalRole()
            this.getRoles()
            })
        }
        // getResponse(){
        //     this.getUsers({
        //         search: this.$attrs.search,
        //         perpage: this.perpage
        //     })
        // }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'p-check': PrettyCheck,
        'app-modal': Modal
    }
}
</script>
<style>
.blue{
    color: #2996cc;
}
.user-permission__wrapper .table td{
    vertical-align: unset;
}
.badge-offset-top{
    position: absolute;
    top: -7px;
}
.user-permission__wrapper .custom-control-label::before,
.user-permission__wrapper .custom-control-label::after{
    top: -10px !important;
}
</style>





