<template>
    <div>
        <app-table :items="item.data" :busy="loadingTable" :fields="field" show-empty hover @row-clicked="goToOrder">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <!-- <template slot="warranty_price" slot-scope="row">
                <div v-money :key="i+item" v-for="(item, i) in row.item.warranty_price">{{ item }}</div>
            </template> -->
            <template slot="cost" slot-scope="row">
                <div v-money :key="row.item.cost">{{row.item.type == 'return' ? '-' : ''}}{{ row.item.cost }}</div>
            </template>
            <template slot="warranty_price" slot-scope="row">
                <div v-money :key="row.item.warranty_price">{{row.item.type == 'return' ? '-' : ''}}{{ row.item.warranty_price }}</div>
            </template>
            <template slot="profit" slot-scope="row">
                <div v-money :key="row.item.profit">{{row.item.type == 'return' ? '-' : ''}}{{ row.item.profit }}</div>
            </template>
        </app-table>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_warranty_report,
            field: state => state.field_warranty_report
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_number}})
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style scoped>
    .total .flex-row:first-child{
        margin-right: 40px;
    }
    .total .flex-row:last-child{
        margin-right: 25px;
    }
</style>



