<template>
    <div>
        <app-table :items="warranty.items" :fields="fields" show-empty :busy="loadingTable" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" ref="warrantyTable">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="cost" slot-scope="row">
                <price-input v-model="row.item.cost" :key="row.item.warranty_id" v-width="'120px'" @blur="updateWarranty(row.item)"></price-input>
            </template>
            <template slot="warranty_price" slot-scope="row">
                <price-input v-model="row.item.warranty_price" :key="row.item.warranty_id" v-width="'120px'" @blur="updateWarranty(row.item)"></price-input>
            </template>
            <template slot="product_price_range" slot-scope="row">
                <div class="d-flex align-items-center" >
                    <span class="d-flex align-items-center" :key="row.item.warranty_id"><p class="mb-0" v-money >{{ row.item.product_from_range }}</p><p class="mb-0">&nbsp;-&nbsp;</p><p class="mb-0" v-money >{{ row.item.product_to_range}}</p></span>
                </div>
            </template>
            <template slot="status" slot-scope="row">
                <p-check class="p-switch p-fill mb-4 mt-2 d-block" v-model="row.item.status" color="primary" @change="updateWarranty(row.item)" />
            </template>
            <template slot="action" slot-scope="row">
                <div class="dis-flex align-items-center">
                    <a href="javascript:void(0)" class="mr-3" @click="duplicate(row)" v-b-tooltip.hover title="Duplicate Warranty">
                        <i class="fa fa-copy"></i>
                    </a>
                    <nuxt-link tag="a" class="mr-3" :to="'/settings/warranties/edit/' + row.item.warranty_id" v-b-tooltip.hover title="Edit Warranty"><i class="fa fa-edit"></i></nuxt-link>
                    <a href="javascript:void(0)" class="mr-3 red" @click="showModalDeleteWarranties( row.item.warranty_id, row.item.warranty_code, row.item.warranty_name, row.item.sku )" v-b-tooltip.hover title="Delete Warranty">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </template>
        </app-table>
        <app-modal size="lg" title="Delete Warranty" centered @hide="closeModalDeleteWarranties" v-model="modalDeleteWarranties">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete Warranty ?</h5>
                <div class="row">
                    <div class="col-3">
                        <h5>SKU</h5>
                    </div>
                    <div class="col-8">
                        <h5 class="content-txt">
                            {{ sku }}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h5>Name</h5>
                    </div>
                    <div class="col-8">
                        <h5 class="content-txt">
                            {{ warranty_name }}
                        </h5>
                    </div>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="deleteWarranties">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteWarranties">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="warranty.meta" @itemPerPage="setPerPage" />
            <app-pagination align="right" :total-rows="warranty.meta.total" v-model="warranty.meta.current_page" :per-page="warranty.meta.per_page" @change="setPage" v-if="warranty.items && warranty.meta.last_page > 1"></app-pagination>
        </div>
    </div>    
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import TotalRecord from '@/components/utilities/TotalRecord'
import PriceInput from '@/components/utilities/PriceInput'
import PrettyCheck from 'pretty-checkbox-vue/check'

export default {
    data: function(){
        return{
            perpage:10,
            sortBy: '',
            sortDesc: false,
            warranty_name:'',
            warranty_code:'',
            sku : "",
            modalDeleteWarranties: false,
            items: null,
            fields: [
                {
                    key: 'sku',
                    label: 'SKU'
                },
                {
                    key: 'warranty_name',
                    label: 'Plan Type'
                },
                {
                    key: 'type_of_appliance',
                    label: 'Type of Appliance'
                },
                {
                    key: 'cost',
                    label: 'Cost',
                    sortable: true
                },
                {
                    key: 'warranty_price',
                    label: 'Warranty Price',
                    sortable: true
                },
                {
                    key: 'product_price_range',
                    label: 'Product Price Range',
                    sortable: true
                },
                {
                    key: 'status',
                    label: 'Inlcude on Epic Report',
                },
                {
                    key: 'action',
                    label: 'Action'
                }
            ],
        }
    },
    props: {
        category_filter: {
            type: [ String, Object ]
        },
        subcategory_filter: {
            type: [ String, Object ]
        },
        detail_category_filter: {
            type: [ String, Object ]
        },
        search_filter: {
            type: [ String, Object ]
        },
    },
    computed:{
        ...mapState('warranty', {
            warranty: state => {
                return {
                    fields: state.fields,
                    items: state.items,
                    meta: state.meta
                }
            },
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
    created(){
        this.items =  this.warranty.items
    },
    watch: {
        page() {
            this.getWarranties({
                perpage: this.perpage
            })
        },
        sortBy(){
            this.getResponse()
        },
        sortDesc(){
            this.getResponse()
        }
    },
    methods:{
        ...mapActions('warranty', [
            'getWarranties',
            'destroyWarranty',
            'putWarranty'
        ]),
        ...mapMutations(['SET_LOADING_TABLE']),
        ...mapMutations('warranty', ['SET_WARRANTY_PAGE']),
        updateWarranty(item){
            this.putWarranty(item)
            .then(() => {
                this.getWarranties({
                    perpage: this.perpage,
                    category_name: this.category_filter != '' ? this.category_filter.category_name:'', 
                    subcategory_name: this.subcategory_filter != '' ? this.subcategory_filter.subcategory_name:'',
                    detail_category_name: this.detail_category_filter != '' ? this.detail_category_filter.detail_category_name:'', 
                    search: this.search_filter != '' ? this.search_filter:'' 
                })
            })
        },
        setPage(val) {
            this.isLoading = true;
            this.SET_WARRANTY_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            if(this.page == 1){
                this.getWarranties({
                    perpage: this.perpage,
                    category_name: this.category_filter != '' ? this.category_filter.category_name:'', 
                    subcategory_name: this.subcategory_filter != '' ? this.subcategory_filter.subcategory_name:'',
                    detail_category_name: this.detail_category_filter != '' ? this.detail_category_filter.detail_category_name:'',
                    search: this.search_filter != '' ? this.search_filter:'' 
                })
            }
            this.SET_WARRANTY_PAGE(1)
        },
        async getResponse(){
            this.SET_LOADING_TABLE(true)
                await this.SET_WARRANTY_PAGE(1)
                await this.getWarranties({
                    perpage: this.perpage,
                    category_name: this.category_filter != '' ? this.category_filter.category_name:'', 
                    subcategory_name: this.subcategory_filter != '' ? this.subcategory_filter.subcategory_name:'',
                    detail_category_name: this.detail_category_filter != '' ? this.detail_category_filter.detail_category_name:'', 
                    sortBy: this.sortBy != '' ? this.sortBy:'', 
                    sortDesc: this.sortDesc != '' ? this.sortDesc:'',
                    search: this.search_filter != '' ? this.search_filter:'' 
                })
            .then( () =>{
                this.SET_LOADING_TABLE(false)
            })
        },
        showModalDeleteWarranties(warranty_id, warranty_code, warranty_name, sku){
            this.modalDeleteWarranties= true;
            this.warranty_id = warranty_id;
            this.warranty_code = warranty_code;
            this.warranty_name = warranty_name;
            this.sku = sku
        },
        closeModalDeleteWarranties(){
            this.modalDeleteWarranties= false;
        },
        deleteWarranties(){
            this.destroyWarranty(this.warranty_id).then(() => {
                this.modalDeleteWarranties= false;
                this.getWarranties({
                    perpage: this.perpage
                })
            })
        },
        // sortingChanged(){
            // if(this.sortBy == 'warranty_price'){
            //     if(this.sortDesc){
            //         this.items.sort(function(a, b) {
            //             return parseFloat(a.warranty_price) - parseFloat(b.warranty_price);
            //         });
            //     }else{
            //         this.items.sort(function(a, b) {
            //             return parseFloat(b.warranty_price) - parseFloat(a.warranty_price);
            //         });
            //     }
            // }else{
            //     if(this.sortDesc){
            //         this.items.sort(function(a, b) {
            //             return parseFloat(a.product_to_range) - parseFloat(b.product_to_range);
            //         });
            //     }else{
            //         this.items.sort(function(a, b) {
            //             return parseFloat(b.product_to_range) - parseFloat(a.product_to_range);
            //         });
            //     }
            // }
            // this.$refs.warrantyTable.refresh()
        // },
        duplicate(row) {
            localStorage.setItem('duplicate-warranties', JSON.stringify(row.item))
            this.$router.push({ name: 'settings-warranties-create' })
        }
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-modal': Modal,
        'app-total': TotalRecord,
        'p-check': PrettyCheck,
        PriceInput
    }
}
</script>
<style scoped>
.red{
    color: red;
}
.red:hover{
    color: red; 
}
.blue{
    color: #2996cc;
}
.content-txt{
    color: #e83e8c;
}
</style>





