<template>
    <div>
        <!-- <div class="mb-3" v-if="item.data.length > 0">
            <p class="mb-0 font-weight-bold">Total data : {{item.data.length}}</p>
            <p class="mb-0 font-weight-bold">Total warranty cost : <span v-money :key="item.total_warranty_cost">{{item.total_warranty_cost}}</span></p>
        </div> -->
        <div class="row mb-3">
            <div class="col-6">
                <p class="mb-0 font-weight-bold">Total data : {{item.data.length}}</p>
            </div>
            <div class="col-6">
                <p class="mb-0 font-weight-bold text-right">Total warranty cost : <span v-money :key="item.total_warranty_cost">{{item.total_warranty_cost}}</span></p>
            </div>
        </div>
        <app-table :items="item.data" :busy="loadingTable" :fields="field" show-empty hover @row-clicked="goToOrder" class="table-epic-report">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_formatted_delivery_date" slot-scope="row">
                <div class="d-flex align-items-start">
                    <strong>{{ row.label }}</strong>
                    <i class="fa fa-info-circle text-primary cursor-pointer mt-1 ml-2" v-b-tooltip.hover title="Product Purchase Date"></i>
                </div>
            </template>
            <template slot="HEAD_formatted_order_number" slot-scope="row">
                <div class="d-flex align-items-start">
                    <strong>{{ row.label }}</strong>
                    <i class="fa fa-info-circle text-primary cursor-pointer mt-1 ml-2" v-b-tooltip.hover title="Order Number"></i>
                </div>
            </template>
            <template slot="warranty_price" slot-scope="row">
                <span :key="row.index + row.item.warranty_price" v-money>{{row.item.warranty_price }}</span>
            </template>
        </app-table>
        <div class="mt-3" v-if="item.data.length > 0">
            <p class="mb-0 font-weight-bold">Total data : {{item.data.length}}</p>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions } from 'vuex'

export default {
    data: function(){
        return{
            
        }
    },
    computed: {
        ...mapState('accounting', {
            item: state => state.item_warranty_epic_report,
            field: state => state.field_warranty_epic_report
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        goToOrder(item){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            // this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.formatted_order_number}})
            let routeData = this.$router.resolve({ name: 'my-orders-edit-id', params: {id : item.formatted_order_number}});
            window.open(routeData.href, '_blank');
        },
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination
    }
}
</script>
<style lang="scss">
.total .flex-row:first-child{
    margin-right: 40px;
}
.total .flex-row:last-child{
    margin-right: 25px;
}
.table-epic-report{
    position: relative;
    .table-warning, 
    .table-warning > th, 
    .table-warning > td{
        background-color: #fff !important;    
        border-color: #d6d9dc !important;
        opacity: .7;
    }
    .table-warning{
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 0;
            margin-top: 35px;
        }
    }
}
</style>



