<template>
    <app-modal-customer show />
</template>

<script>
import ModaCustomer from "@/components/modal/Customer.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("customer/getCustomer", route.params.id);
        return;
    },
    components: {
        "app-modal-customer": ModaCustomer,
    },
    transition: "slide",
    layout: "admin",
};
</script>
