<template>
    <section>
        <h3 class="font-weight-600 mb-0">Instant Rebate</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-instant-rebate-create'}">Add Instant Rebate</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-rebate></admin-table-rebate>
        </div>
    </section>
</template>
<script>
    import { mapMutations } from 'vuex'
    import AdminTableRebate from '@/components/admin/table/InstantRebate.vue'

    export default {
        async asyncData ({ store }) {
            await store.commit('rebate/SET_REBATE_PERPAGE', 10),
            await store.dispatch('rebate/getRebateData', '')
            return
        },
        components:{
            'admin-table-rebate': AdminTableRebate,
        },
        transition: 'slide',
        layout: 'admin',
        destroyed() {
            this.$store.commit('rebate/SET_REBATE_PERPAGE', 5)
        },
    }
</script>
<style scoped>
</style>

