<template>
    <div>
        <div
            class="mb-3"
            v-for="rule in ruleData" :key="rule.id">
            <label :for="rule.id" class="mb-2 d-block">
                {{rule.description}}
            </label>
            <p-check  :id="rule.id" class="p-switch p-fill mb-3"  color="primary" v-model="rule.status" @change="changeRule(rule)"/>
        </div>
    </div>
</template>

<script>
import PrettyCheck from "pretty-checkbox-vue/check"
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    name: 'DeliveryRules',
    components: {
        "p-check": PrettyCheck,
    },
    async asyncData({store}){
        await store.dispatch('rule/getRule',{rule: 'Scan out Rule'}),
        await store.dispatch('rule/getRule',{rule: 'Lock Closed Delivery Status'})
    },
    destroyed(){
        this.CLEAR_RULE()
    },
    computed: {
        ...mapGetters({
            ruleData: "rule/ruleData",
        }),
    },
    methods: {
        ...mapMutations({
            CLEAR_RULE: "rule/CLEAR_RULE",
        }),
        ...mapActions({
            updateRule : 'rule/updateRule'
        }),
        changeRule(rule){
            this.updateRule({ id: rule.id, status: rule.status ? 1 : 0 });
        }
    }
}
</script>

<style>

</style>

