<template>
    <div>
        <app-modal-rebate edit />
    </div>
</template>

<script>
import ModalRebate from "@/components/admin/modal/Rebate.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("rebate/getRebate", route.params.id);
        return;
    },
    components: {
        "app-modal-rebate": ModalRebate,
    },
    transition: "slide",
    layout: "admin",
};
</script>
