<template>
    <div>
        <div class="alert alert-warning text-center" role="alert">
            Any item under $175 is not included on the commission report.
        </div>
        <h3 class="font-weight-600 mb-0">Commission</h3>
        <div class="d-flex align-items-center mt-4">
            <div class="d-flex flex-row">
                <div class="form-group mb-0 mr-2">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text"
                                        placeholder="Select date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <!-- <div class="form-group mb-0 mr-3">
                    <no-ssr><app-select
                        v-model="sales_selected"
                        v-width="'230px'"
                        :options="sales_person"
                        :close-on-select="true"
                        :hide-selected="true"
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person"
                        label="fullname"
                        track-by="user_id"
                        :preselect-first="false"
                    >
                    </app-select></no-ssr>
                </div> -->
                <div class="form-group mb-0">
                    <no-ssr><app-select
                        v-model="store_selected"
                        v-width="'250px'"
                        :options="stores"
                        :close-on-select="true"
                        :hide-selected="true"
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location"
                        label="store_name"
                        track-by="store_id"
                        :preselect-first="false"
                        @input="filterData"
                    >
                    </app-select></no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf" :disabled="isLoadingPDF">
                            <b-spinner small v-if="isLoadingPDF"></b-spinner>
                            <div v-else>
                                Export PDF
                            </div>
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv" :disabled="isLoadingCSV">
                            <b-spinner small v-if="isLoadingCSV"></b-spinner>
                            <div v-else>
                                Export CSV
                            </div>
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex flex-row align-items-center">
                <a href="#" class="btn btn-outline-primary mr-3">Import</a>
                <a href="#" class="btn btn-outline-primary mr-3">Export</a>
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name: 'sale-create' }">Create a Sale</nuxt-link>
            </div> -->
        </div>
        <div class="mt-3">
            <app-table-sale @row-clicked="showAction"/>
        </div>
        <!-- <app-action-sale v-model="action"/> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import TableSale from '@/components/table/Sale.vue'
    // import ActionSale from '@/components/action/Sale.vue'

    import Select from 'vue-multiselect'
    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

    ;

    export default {
        async asyncData ({ store, route }) {
            // if (route.query.today == 'true') {
                let date = {
                    start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    end: new Date(new Date().getFullYear(), new Date().getMonth()+1, 0)
                }
                await Promise.all([
                    // store.dispatch('sale/getSales', date),
                    store.dispatch('store/getStores', 'all'),
                    store.dispatch('store/getManagers')
                ])
            // } else {
            //     await store.dispatch('sale/getSales')
            // }
            return
        },
        destroyed() {
            this.SET_SALE_SELECTED(null)
        },
        data() {
            return {
                date: {
                    start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    end: new Date(new Date().getFullYear(), new Date().getMonth()+1, 0)
                },
                sales_selected:'',
                store_selected:'',
                isLoadingPDF: false,
                isLoadingCSV: false
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('store', {
                // sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            ...mapState('sale', {
                sale(state) {
                    return {
                        selected: state.selected
                    }
                }
            }),
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person
            }),
        },
        methods: {
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations('sale', [
                'SET_SALE_SELECTED'
            ]),
            ...mapActions('sale', [
                'getSales'
            ]),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations(['SET_LOADING_TABLE']),
            showAction(item) {
                // this.action = true
                // window.location.href = item.links
                // this.$router.push({
                //     name: 'edit-discount',
                //     params: {
                //         'id': item.id
                //     }
                // })
            },
            resetFilter(){
                this.date = {
                    start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    end: new Date(new Date().getFullYear(), new Date().getMonth()+1, 0),
                },
                this.sales_selected = ''
                this.store_selected = ''
                this.filterData()
            },
            filterData(){
                this.SET_LOADING_TABLE(true)
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getSales({
                    start: this.moment(this.date.start).format('L'),
                    end: this.moment(this.date.end).format('L'),
                    store: store,
                    sales: this.sales_selected ? this.sales_selected.user_id:''
                }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            viewPdf() {
                this.isLoadingPDF = true
                this.getPDF({
                    type: 'commission',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    sales: this.sales_selected ? this.sales_selected.user_id:'',
                    store: this.store_selected ? this.store_selected.store_id : ''
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                    this.isLoadingPDF = false
                })
            },
            getCsv(){
                this.isLoadingCSV = true
                this.getCSV({
                    type: 'commission',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    sales: this.sales_selected ? this.sales_selected.user_id:'',
                    store: this.store_selected ? this.store_selected.store_id : ''
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                        end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    })
                    this.isLoadingCSV = false
                })
            }
        },
        watch: {
            date: {
                immediate: true,
                handler(newValue, oldValue) {
                    if (typeof oldValue != 'undefined') {
                        this.filterData()
                    }
                }
            },
            sales_selected: {
                immediate: true,
                handler() {
                    this.filterData()
                }
            }
        },
        components: {
            'app-table-sale': TableSale,
            'app-select': Select,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
