<template>
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Digital Price Tag</h3>
            <div class="d-flex align-items-center">
                <p class="mb-0 text-nowrap mr-2">Current Location :</p>
                <app-select
                    v-model="locationSelected"
                    placeholder="Choose Location"
                    track-by="id"
                    label="name"
                    :show-labels="false"
                    :allow-empty="false"
                    :options="listLocation"
                    v-width="'250px'"
                    @input="handleInputLocation"
                >
                    <template slot="singleLabel" slot-scope="props">
                        <span class="text-primary"
                            ><i class="fas fa-map-marker-alt mr-1"></i>
                            {{ props.option.name }}</span
                        >
                    </template>
                </app-select>
            </div>
        </div>
        <div class="mt-3">
            <b-tabs contentClass="mt-4">
                <b-tab
                    title="Location"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-location',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-location'
                    "
                ></b-tab>
                <b-tab
                    title="Overview"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-overview',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-overview'
                    "
                ></b-tab>
                <b-tab
                    title="Product"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-product',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-product'
                    "
                ></b-tab>
                <b-tab
                    title="Digital Price Tags"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-esl',
                        })
                    "
                    :active="
                        $route.name == 'settings-digital-price-tags-index-esl'
                    "
                ></b-tab>
                <b-tab
                    title="Gateway"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-gateway',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-gateway'
                    "
                ></b-tab>
                <b-tab
                    title="History"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-history',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-history'
                    "
                ></b-tab>
                <b-tab
                    title="Template"
                    @click="
                        $router.push({
                            name: 'settings-digital-price-tags-index-template',
                        })
                    "
                    :active="
                        $route.name ==
                        'settings-digital-price-tags-index-template'
                    "
                ></b-tab>
            </b-tabs>
        </div>
        <nuxt-child />
    </div>
</template>

<script>
import AppSelect from "vue-multiselect";
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";

export default {
    layout: "admin",
    transition: "slide",
    components: {
        AppSelect,
    },
    async asyncData({ store }) {
        await store.dispatch("priceTag/authPriceTag").then(async () => {
            await store.dispatch("priceTag/getActiveStore");
            await store.dispatch("priceTag/getPriceTagStores");
        });
    },
    computed: {
        ...mapGetters({
            listLocation: "priceTag/listLocation",
        }),
        ...mapState("priceTag", {
            location: (state) => state.location,
        }),
        locationSelected: {
            set(newValue) {
                this.SET_LOCATION_SELECTED(newValue);
            },
            get() {
                return this.location;
            },
        },
    },
    methods: {
        ...mapMutations("priceTag", ["SET_LOCATION_SELECTED"]),
        ...mapActions({
            setActiveStore: "priceTag/setActiveStore",
        }),
        handleInputLocation() {
            this.setActiveStore(this.location);
        },
    },
};
</script>

<style>
</style>
