<template>
    <div>
        <app-modal-customer show />
    </div>
</template>

<script>
import { mapActions } from "vuex";

import ModaCustomer from "@/components/modal/CustomerCreditLine.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("customer/getCustomer", route.params.id);
        return;
    },
    components: {
        "app-modal-customer": ModaCustomer,
    },
    transition: "slide",
    layout: "admin",
};
</script>
