<template>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="form-group mb-0">
                <label for="#" class="font-weight-600">Transfer from :</label>
                <app-select
                    v-model="location_from"
                    placeholder="Select Location"
                    :options="stores"
                    track-by="store_id"
                    label="store_name"
                    :show-labels="false"
                    v-width="'250px'"
                    v-validate="'required'"
                    name="transferFrom"
                    data-vv-as="transfer from"
                    :class="{'is-invalid' : errors.has('transferFrom')}"
                />
                <span class="text-danger" v-if="errors.has('transferFrom')">{{errors.first('transferFrom')}}</span>
            </div>
            <div class="mx-4 mt-4">
                <i class="fas fa-long-arrow-alt-right fa-lg text-gray"></i>
            </div>
            <div class="form-group mb-0">
                <label for="#" class="font-weight-600">Transfer to :</label>
                <app-select
                    v-model="location_to"
                    placeholder="Select Location"
                    :options="storesToList"
                    track-by="store_id"
                    label="store_name"
                    :show-labels="false"
                    v-width="'250px'"
                    v-validate="'required'"
                    name="transferTo"
                    data-vv-as="transfer to"
                    :class="{'is-invalid' : errors.has('transferTo')}"
                />
                <span class="text-danger" v-if="errors.has('transferTo')">{{errors.first('transferTo')}}</span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="border rounded p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="#" class="font-weight-600">Model / Order Number :</label>
                                <input type="text" class="form-control" :class="{'is-invalid' : errors.has('modelNumber')}" v-model="model_number" v-validate="'required'" name="modelNumber" data-vv-as="model / order number">
                                <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="#" class="font-weight-600">Condition :</label>
                                <app-select
                                    v-model="condition_selected"
                                    :options="conditions"
                                    placeholder="Select Condition"
                                    track-by="id"
                                    label="name"
                                    :show-labels="false"
                                    v-validate="'required'"
                                    name="condition"
                                    :class="{'is-invalid' : errors.has('condition')}"
                                />
                                <span class="text-danger" v-if="errors.has('condition')">{{errors.first('condition')}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary px-4" :disabled="isScan" @click="scanModel">
                            <span class="mx-2" v-if="isScan">
                                <b-spinner variant="light" small />
                            </span>
                            <span v-else>Scan</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center my-3">
            <h5 class="mb-0 font-weight-600">Preview Data</h5>
            <button class="btn btn-primary px-4 ml-auto" :disabled="isProcess" @click="handleProcess">
                <span class="mx-3" v-if="isProcess">
                    <b-spinner variant="light" small />
                </span>
                <span v-else>Process</span>
            </button>
        </div>
        <app-table :fields="fields" :items="previewTransfer.data" :busy="isLoadingTable" fixed show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="order_no" slot-scope="row">
                <span>{{row.item.order_no ? row.item.order_no : '-'}}</span>
            </template>
            <template slot="store_from" slot-scope="row">
                <span>{{row.item.store_from.store_name}}</span>
            </template>
            <template slot="store_to" slot-scope="row">
                <span>{{row.item.store_to.store_name}}</span>
            </template>
            <template slot="quantity" slot-scope="row">
                <span v-if="row.item.order_no">{{row.item.quantity}}</span>
                <input type="number" :min="1" :max="row.item.max_quantity" class="form-control" v-model.number="row.item.quantity" @input="handleInputQty(row.item)" v-else>
            </template>
            <template slot="action" slot-scope="row">
                <a href="javascript:void(0)" class="text-danger" @click="showModalDelete(row.item)"><i class="fas fa-trash-alt"></i></a>
            </template>
        </app-table>
        <div class="d-flex align-items-center justify-content-between" v-if="previewTransfer.data.length > 0">
            <app-total :data="previewTransfer.meta" :value="tablePreview.perPage" @itemPerPage="setPerPagePreview"/>
            <app-pagination align="right" :total-rows="previewTransfer.meta.total" v-model="tablePreview.currentPage" :per-page="previewTransfer.meta.per_page" @input="setPagePreview" />
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="my-3">Are you sure want to delete this model?</h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0)" class="text-gray font-weight-600 mr-4" @click="hideModalDelete">Cancel</a>
                    <button class="btn btn-danger" @click="handleDelete" :disabled="isDelete">
                        <span class="mx-3" v-if="isDelete">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Delete</span>
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal title="List Model Number" :show="modalOrder" @hide="hideModalOrder" size="lg">
            <p class="mb-3 font-weight-600" v-if="listModel.length > 0">Model selected : {{listModel.length}}</p>
            <app-table 
                :fields="fieldModel" 
                :items="listModel" 
                :per-page="tableOrder.perPage"
                :current-page="tableOrder.currentPage"
                show-empty>
                <template slot="HEAD_checkbox">
                    <b-form-checkbox v-model="selectAll" @change="handleSelectAll" />
                </template>
                <tempplate slot="checkbox" slot-scope="row">
                    <b-form-checkbox v-model="model_selected" :value="row.item" @change="handleSelectModel" />
                </tempplate>
            </app-table>
            <div class="d-flex align-items-center justify-content-between" v-if="listModel.length > 10">
                <div class="d-flex align-items-center">
                    <app-total :data="{ to: 0, from: 0, total: 0,}" :value="tableOrder.perPage" @itemPerPage="setPerPageOrder"/>
                    <p class="mb-0 ml-1">of {{listModel.length}} items</p>
                </div>
                <app-pagination
                    v-model="tableOrder.currentPage"
                    :total-rows="listModel.length"
                    :per-page="tableOrder.perPage"
                    class="mb-0" />
            </div>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0)" class="text-gray font-weight-600 mr-4" @click="hideModalOrder">Cancel</a>
                    <button class="btn btn-primary px-4" :disabled="isSave" @click="handleAddModel">
                        <span class="mx-3" v-if="isSave">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Add</span>
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSuccess" @hide="modalSuccess = false">
            <div class="px-5 text-center">
                <img src="/icon/success.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Success!</h5>
                <p class="my-3">Your data has been successfully transfered</p>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalWarning" @hide="modalWarning = false">
            <div class="px-4 text-center">
                <h5 class="mb-0 font-weight-normal">Are you sure want to leave this page? <br> unsaved data will be lost!</h5>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="modalWarning = false">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" :disabled="isDelete" @click="leave">
                        <b-spinner variant="light" small v-if="isDelete" />
                        <span v-else>Leave</span>
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalUnavailable" @hide="modalUnavailable = false">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-3">Oops!</h5>
                <h6 class="mb-5">{{errorMessage}}</h6>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Modal from '@/components/utilities/Modal'
import Select from 'vue-multiselect'
import _ from 'lodash'
import {mapState, mapActions} from 'vuex'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-select' : Select,
        'app-table' : Table,
        'app-modal' : Modal,
        'app-pagination': Pagination,
        'app-total':TotalRecord
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('inventory/getConditions'),
            store.dispatch('inventory/getPreviewTransfer')
        ])
    },
    beforeRouteLeave(to, from, next) {
        this.routePath = to
        if(this.previewTransfer.data.length > 0) {
            this.modalWarning = true
            next(false)
        }else{
            next()
        }
    },
    data:() => ({
        errorMessage: null,
        modalUnavailable: false,
        isDelete: false,
        modalWarning: false,
        routePath: null,
        modalSuccess: false,
        isLoadingTable: false,
        modalDelete: false,
        temporaryData: null,
        isScan: false,
        isProcess: false,
        selectAll: false,
        modalOrder: false,
        location_from : null,
        location_to: null,
        condition_selected: null,
        model_number: null,
        fields: [
            {
                key: 'model'
            },
            {
                key: 'order_no'
            },
            {
                key: 'condition_name',
                label: 'Condition'
            },
            {
                key: 'quantity'
            },
            {
                key: 'store_from'
            },
            {
                key: 'store_to'
            },
            {
                key: 'action'
            }
        ],
        fieldModel : [
            {
                key: 'checkbox'
            },
            {
                key: 'model'
            },
            {
                key: 'quantity'
            }
        ],
        listModel: [],
        model_selected: [],
        tableOrder: {
            perPage: 10,
            currentPage: 1
        },
        tablePreview: {
            perPage: 10,
            currentPage: 1
        }
    }),
    computed: {
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('inventory', {
            conditions: state  => state.conditions,
            previewTransfer: state  => state.previewTransfer,
        }),
        storesToList(){
            if(this.location_from) return this.stores.filter(v => v.store_id != this.location_from.store_id)
            else return []
        }
    },
    watch: {
        model_selected(value){
            value.length === this.listModel.length ? this.selectAll = true : this.selectAll = false
        }
    },
    methods: {
        ...mapActions({
            checkTransfer: 'inventory/checkTransfer',
            saveTransfer: 'inventory/saveTransfer',
            getPreviewTransfer: 'inventory/getPreviewTransfer',
            updateQtyTransfer: 'inventory/updateQtyTransfer',
            processTransfer: 'inventory/processTransfer',
            deleteTransfer: 'inventory/deleteTransfer'
        }),
        showModalOrder(){
            this.modalOrder = true
        },
        hideModalOrder(){
            this.modalOrder = false
        },
        handleSelectAll(value){
            if(value) this.model_selected = this.listModel
            else this.model_selected = []
        },
        setPerPageOrder(value){
            this.tableOrder.currentPage = 1
            this.tableOrder.perPage = value
        },
        setPerPagePreview(value){
            this.tablePreview.currentPage = 1
            this.tablePreview.perPage = value
            this.fetchPreviewData()
        },
        setPagePreview(value){
            this.tablePreview.currentPage = value
            this.fetchPreviewData()
        },
        fetchPreviewData(){
            return new Promise((resolve, reject) => {
                this.isLoadingTable = true
                this.getPreviewTransfer({
                    page: this.tablePreview.currentPage,
                    perpage: this.tablePreview.perPage
                })
                .then(() =>{
                    this.isLoadingTable = false
                    resolve()
                })
            })
        },
        resetInput(){
            this.model_number = null
            this.condition_selected = null
            this.$validator.reset()
        },
        scanModel(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isScan = true
                    this.checkTransfer({
                        model: this.model_number,
                        from_store: this.location_from.store_id,
                        to_store: this.location_to.store_id,
                        condition: this.condition_selected.id
                    })
                    .then(response => {
                        if(response.order_number){
                            if(!response.exist){
                                this.modalUnavailable = true
                                this.errorMessage = response.message
                            }else{
                                this.listModel = response.data
                                this.model_selected = this.listModel
                                if(this.listModel.length == 0) this.selectAll = false
                                this.showModalOrder()
                            }
                            this.isScan = false
                        }else{
                            this.saveTransfer({
                                type: 'default',
                                model: this.model_number,
                                from_store: this.location_from.store_id,
                                to_store: this.location_to.store_id,
                                condition: this.condition_selected.id
                            })
                            .then(response => {
                                if(response.status == 400){
                                    this.modalUnavailable = true
                                    this.errorMessage = response.message
                                    this.isScan = false
                                }else{
                                    this.fetchPreviewData()
                                    .then(() => {
                                        this.isScan = false
                                        this.resetInput()
                                    })
                                }
                            })
                        }
                    })
                    .catch(error => {
                        this.isScan = false
                    })
                }
            })
        },
        handleAddModel(){
            this.isSave = true
            this.saveTransfer({
                type: 'order',
                from_store: this.location_from.store_id,
                to_store: this.location_to.store_id,
                data: this.model_selected
            })
            .then(() => {
                this.fetchPreviewData()
                .then(() => {
                    this.resetInput()
                    this.hideModalOrder()
                    this.isSave = false
                })
            })
        },
        showModalDelete(item){
            this.temporaryData = item
            this.modalDelete = true
        },
        hideModalDelete(){
            this.temporaryData = null
            this.modalDelete = false
        },
        handleDelete(){
            this.isDelete = true
            this.deleteTransfer(this.temporaryData.id)
            .then(() => {
                this.fetchPreviewData()
                .then(() => {
                    this.isDelete = false
                    this.hideModalDelete()
                })
            })
        },
        handleInputQty(item){
            if(Number(item.quantity >= item.max_quantity)) item.quantity = item.max_quantity
            if(item.quantity != ''){
                this.updateQty(item)
            }
        },
        updateQty: _.debounce(function(item){
            this.updateQtyTransfer({
                id: item.id,
                quantity: item.quantity
            })
        }, 500),
        handleProcess(){
            this.isProcess = true
            this.processTransfer()
            .then(() => {
                this.tablePreview.currentPage = 1
                this.fetchPreviewData()
                .then(() => {
                    this.isProcess = false
                    this.modalSuccess = true
                })
            })
        },
        leave(){
            this.isDelete = true
            this.deleteTransfer('all')
            .then(() => {
                this.getPreviewTransfer()
                .then(() => {
                    this.modalWarning = false
                    this.isDelete = false
                    this.$router.push({name: this.routePath.name})
                })
            })
        }
    }
}
</script>

<style>

</style>