<template>
    <ModalCondition></ModalCondition>
</template>

<script>
import ModalCondition from "@/components/admin/modal/Condition.vue";

export default {
    name: "EditCondition",
    transition: "slide",
    layout: "admin",
    components: {
        ModalCondition,
    },
    async asyncData({store, route}){
        await Promise.all([
            store.dispatch('condition/getCondition', route.params.id),
        ])
    },
};
</script>
