<template>
    <section>
        <h3 class="font-weight-600 mb-0">Deposit Report</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="No date selected" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="store_selected" 
                        v-width="'250px'"
                        :options="stores" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                    >
                    </app-select></no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <!-- <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div> -->
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <jon-slyman-table :page="page" :perpage="perpage" @setPerpage="setPerpage" @setPage="setPage"></jon-slyman-table>
        </div>
    </section>
</template>
<script>
    import JonSlymanTable from '@/components/admin/table/JonSlymanReport.vue'
    import { mapActions, mapMutations, mapState} from 'vuex'
     
    import Select from 'vue-multiselect'
    import _ from 'lodash'
    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }
     ;

    export default {
        async asyncData({store}) {
            // var today = new Date();
            // var dd = today.getDate();
            // var mm = today.getMonth() + 1;
            // var yyyy = today.getFullYear();
            // if (dd < 10) {
            //     dd = '0' + dd;
            // }

            // if (mm < 10) {
            //     mm = '0' + mm;
            // }
            // var today = yyyy + '-' + mm + '-' + dd;
            await Promise.all([
                 store.dispatch('accounting/getJonSlymanReport', {
                    from: null,
                    to: null,
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
            ])
        },
        data() {
            return {
                date: null,
                sales_selected:'',
                store_selected:'',
                page: 1,
                perpage: 25,
            }
        },
        components:{
            'jon-slyman-table': JonSlymanTable,
            'app-select': Select,
        },
        watch: {
            date: {
                handler: function(newValue) {
                    this.page = 1
                    this.getResponse()
                },
                deep: true
            },
            sales_selected(){
                this.page = 1
                this.getResponse()
            },
            store_selected(){
                this.page = 1
                this.getResponse()
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            // ...mapState('brand', {
            //     brands: state => state.brands
            // }),
        },
        methods: {
            ...mapMutations(['SET_LOADING_TABLE']),
            resetFilter() {
                this.date = null
                this.sales_selected = ''
                this.store_selected = ''
                this.page = 1
                this.perpage = 25
                this.getResponse()
            },
            ...mapActions('accounting', ['getJonSlymanReport', 'getPDF','downloadCSV','getCSV']),
            getResponse() {
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getJonSlymanReport({
                    from: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    to: this.date ? this.moment(this.date.end).format('Y-MM-DD') : null,  
                    store: store,
                    sales_person: sales_person,
                    page: this.page,
                    perpage: this.perpage
                }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            setPage(val){
                this.page = val
                this.getResponse()
            },
            setPerpage(val){
                this.page = 1,
                this.perpage = val
                this.getResponse()
            },
            // viewPdf() {
            //     let from = this.moment(this.date.start).format('Y-MM-DD')
            //     let to = this.moment(this.date.end).format('Y-MM-DD')
            //     let brands = this.brand_selected.map(function(value){
            //         return value.brand_name
            //     })
            //     this.getPDF({
            //         type: 'sell-throughs',
            //         from: from,
            //         to: to, 
            //         brands: brands
            //     })
            //     .then((res) => {
            //         printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
            //     })
            // },
            // getCsv(){
            //     let from = this.moment(this.date.start).format('Y-MM-DD')
            //     let to = this.moment(this.date.end).format('Y-MM-DD')
            //     let brands = this.brand_selected.map(function(value){
            //         return value.brand_name
            //     })
            //     this.getCSV({ 
            //         type: 'sell-throughs',
            //         from: from,
            //         to: to, 
            //         brands: brands
            //     })
            //     .then((res) => {
            //         this.downloadCSV({
            //             url: this.pdfUrl,
            //             start: from,
            //             end: to
            //         })
            //     })
            // }
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scooped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

