<template>
    <div class="p-xl-5 p-4">
        <app-loader v-if="loading" />
        <template v-else>
            <h3 class="mb-4">Routing Changelog</h3>
            <div class="d-flex align-items-center">
                <div class="mr-5">
                    <p class="mb-3">Date</p>
                    <h5 class="mb-0 font-weight-600">{{moment(deliveryRouting.date).format('L HH:mm A')}}</h5>
                </div>
                <div class="mr-3">
                    <p class="mb-3">Edited by</p>
                    <h5 class="mb-0 font-weight-600">{{deliveryRouting.user.fullname}}</h5>
                </div>
            </div>
            <div class="mt-4">
                <div class="mb-3 d-flex align-items-center">
                    <p class="font-weight-700 mb-0 mr-3">Total Truck : {{deliveryRouting.total_truck}}</p>
                    <p class="font-weight-700 mb-0 mr-3">Total Stops : {{deliveryRouting.total_stop}}</p>
                    <p class="font-weight-700 mb-0 mr-3">Total Pieces : {{deliveryRouting.total_pieces}}</p>
                </div>
                <no-ssr>
                    <gmap-map
                        v-if="!loading"
                        style="width: 100%; height: 80vh"
                        :center="{
                            lat: parseFloat(storeWarehouse.lat),
                            lng: parseFloat(storeWarehouse.lng)
                        }"
                        :zoom="10"
                        :options="{
                            styles: helper.mapStyle,
                            mapTypeControl: false,
                            streetViewControl: false
                        }"
                        ref="map">
                        <gmap-marker
                            :position="{lat: parseFloat(storeWarehouse.lat), lng: parseFloat(storeWarehouse.lng) }"
                            :icon="{ url : require('~/static/icon/ico-start.png'), scaledSize: {width: 30, height: 38}}"
                            :clickable="true"
                            :google="mapAPI"
                            @click="infoWindowStore = true">
                            <gmap-info-window
                                @closeclick="infoWindowStore = false"
                                :opened="infoWindowStore">
                                <h6 class="mb-2 font-weight-600">Store Address</h6>
                                <p class="mb-0">{{storeWarehouse.store_address}}</p>
                            </gmap-info-window>
                        </gmap-marker>
                    </gmap-map>
                </no-ssr>
            </div>
            <div class="table-responsive d-xl-block d-lg-none mt-4">
                <table class="table table-bordered table--align-top mb-0">
                    <tbody>
                        <template v-for="indexVehicle in deliveryRouting.total_truck">
                            <tr :key="indexVehicle" v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length > 0">
                                <th width="20%">
                                    <template v-if="indexVehicle == 1">
                                        <p class="mb-0 ml-4"> 
                                            <span class="font-weight-700 d-inline-block ml-2">Average Time:</span>
                                            <span class="alert alert-warning rounded-lg small d-inline-block ml-2 py-0 px-2 mb-0">{{deliveryRouting.average_time}}</span>
                                        </p>
                                    </template>
                                </th>
                                <template v-for="(item, indexTruck) in formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3)">
                                    <td width="20%" class="bg-light" :key="indexTruck">
                                        <p class="font-weight-600 mb-3">Truck {{item.truck}}</p>
                                        <div class="border rounded px-3 py-2 w-100 flex-grow-1 bg-white mb-3 truck-border-width" :class="`truck-${item.color}`" v-if="item.driver">
                                            <span class="d-block font-weight-600 small" :class="{'mb-1' : (item.driver.length - 1) != indexDriver }" v-for="(driver, indexDriver) in item.driver" :key="driver.id">{{driver.name}}</span>
                                        </div>
                                        <truck-box :data="item" />
                                    </td>
                                </template>
                                <template v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length <= 2" >
                                    <td colspan="1" width="20%" class="bg-light" v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length <= 1"></td>
                                    <td colspan="1" width="20%" class="bg-light"></td>
                                </template>
                            </tr>
                            <tr :key="indexVehicle" v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length > 0">
                                <th width="20%">
                                    <span class="ml-3 pl-3" v-if="indexVehicle == 1">Destination Route</span>
                                </th>
                                <template v-for="(item, indexTruck) in formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3)">
                                    <td :key="indexTruck">
                                        <div
                                            class="border w-100 rounded p-3 bg-white mb-3 draggable__list truck-border-width"
                                            :class="`truck-${item.color}`"
                                            v-for="(truckDest, indexTruckDest) in item.routes" :key="`dest${indexTruckDest}`">
                                            <p class="font-weight-700 mb-2">{{indexTruckDest + 1 + '. ' + truckDest.order[0].ship_name}}</p>
                                            <div class="alert alert-info rounded-lg mb-2 px-2 py-1 small d-inline-block" v-if="truckDest.is_custom">Manual Stop</div>
                                            <div class="mb-2">
                                                <div
                                                    class="d-flex align-items-center"
                                                    :class="{'mb-1' : truckDest.order.length - 1 != indexOrder}"
                                                    v-for="(order, indexOrder) in truckDest.order"
                                                    :key="order.id">
                                                    <span class="text-primary font-weight-600">{{truckDest.is_custom ? order.order_no : `# ${order.order_no}`}}</span>
                                                    <div
                                                        class="alert rounded-lg d-flex align-items-center small cursor-pointer p-0 py-0 mb-0 ml-2"
                                                        :class="order.delivery_note.length > 0 ? 'alert-warning' : 'alert-light bg-light'"
                                                        @click="showModalNote({...item, index_route: indexTruckDest, is_unassign: false, order: order})">
                                                        <span class="ml-2">Notes</span>
                                                        <div class="counter counter--sm ml-2 mr-1 my-1" :class="order.delivery_note.length > 0 ? 'counter-brown' : 'counter-light'">{{order.delivery_note.length}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mb-0 small text-primary"> {{ formatAddress(truckDest.address_formatted) }}</p>
                                            <p class="mb-0 small">
                                                <span class="font-weight-600">Estimated Time: </span>{{truckDest.estimated_time ? truckDest.estimated_time : '-'}} 
                                                <span class="font-weight-600">Distance: </span>{{truckDest.distance ? truckDest.distance : '-'}}
                                            </p>
                                            <p class="mb-0 small">
                                                <span class="font-weight-600">Start Time: </span>{{truckDest.start_time ? truckDest.start_time : '-'}} 
                                                <span class="font-weight-600">End Time: </span>{{truckDest.end_time ? truckDest.end_time : '-'}}
                                            </p>
                                            <div class="bg-light rounded py-2 px-3 mt-2 d-flex align-items-center justify-content-between" v-b-tooltip.hover :title="getListModel(truckDest)">
                                                <p class="mb-0"><span class="font-weight-600">Pieces:</span>  {{truckDest.quantity}}</p>
                                                <span class="d-inline-block cursor-pointer text-primary small" @click="showModalDetail(truckDest, indexTruck, indexTruckDest)"><u>see details</u></span>
                                            </div>
                                        </div>
                                    </td>
                                </template>
                                <template v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length <= 2" >
                                    <td colspan="1" width="20%" v-if="formatedDeliveryRoute.slice((indexVehicle - 1) * 3, indexVehicle * 3).length <= 1"></td>
                                    <td colspan="1" width="20%"></td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

            <!-- TABLET LAYOUT -->
            <div class="table-responsive border rounded-lg mt-4 d-xl-none d-lg-block">
                <table class="table table-bordered table-align-middle table-max-content mb-0 table-rounded">
                    <thead class="bg-white">
                        <tr>
                            <th width="20%" class="sticky-left bg-white sticky-column">
                                <p class="mb-0 ml-4"> 
                                    <span class="font-weight-700 d-inline-block ml-2">Average Time:</span>
                                    <span class="alert alert-warning rounded-lg d-inline-block ml-2 py-0 px-2 mb-0 small">{{deliveryRouting.average_time}}</span>
                                </p>
                            </th>
                            <th><h6 class="font-weight-700">Destination Route</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, indexTruck) in formatedDeliveryRoute" :key="indexTruck">
                            <td class="sticky-left bg-white sticky-column">
                                <h5 class="font-weight-600 mb-3">Truck {{item.truck}}</h5>
                                <div class="border rounded px-3 py-2 w-100 flex-grow-1 bg-white mb-3 truck-border-width" :class="`truck-${item.color}`" v-if="item.driver">
                                    <span class="d-block font-weight-600 small" :class="{'mb-1' : (item.driver.length - 1) != indexDriver }" v-for="(driver, indexDriver) in item.driver" :key="driver.id">{{driver.name}}</span>
                                </div>
                                <div class="border rounded px-3 py-4 destination__list--truck rounded flex-grow-1 truck-border-width" :class="`truck-${item.color}`">
                                    <p class="mb-0 small"><span class="font-weight-600">Start: </span>{{item.start_address}}</p>
                                    <p class="mb-0 small"><span class="font-weight-600">Start Time: </span>{{item.start_time}} <span class="font-weight-600">End Time: </span>{{item.end_time}}</p>
                                    <p class="mb-0 small"><span class="font-weight-600">Total Distance: </span>{{item.total_distance.toFixed(2)}} <span class="font-weight-600">Total Time: </span>{{item.total_time}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center destination__wrapper">
                                    <div class="border destination__list rounded p-3 mr-4 bg-white" v-for="(truckDest, indexTruckDest) in item.routes" :key="`dest${indexTruckDest}`">
                                        <h5 class="font-weight-700">{{indexTruckDest + 1 + '. ' + truckDest.order[0].ship_name}}</h5>
                                        <div class="alert alert-info rounded-lg mb-2 px-2 py-1 small d-inline-block" v-if="truckDest.is_custom">Manual Stop</div>
                                        <div class="mb-2">
                                            <div
                                                class="d-flex align-items-center"
                                                :class="{'mb-1' : truckDest.order.length - 1 != indexOrder}"
                                                v-for="(order, indexOrder) in truckDest.order"
                                                :key="order.id">
                                                <span class="text-primary font-weight-600">{{truckDest.is_custom ? order.order_no : `# ${order.order_no}`}}</span>
                                                <div
                                                    class="alert rounded-lg d-flex align-items-center small cursor-pointer p-0 py-0 mb-0 ml-2"
                                                    :class="order.delivery_note.length > 0 ? 'alert-warning' : 'alert-light bg-light'"
                                                    @click="showModalNote({...item, index_route: indexTruckDest, is_unassign: false, order: order})">
                                                    <span class="ml-2">Notes</span>
                                                    <div class="counter counter--sm ml-2 mr-1 my-1" :class="order.delivery_note.length > 0 ? 'counter-brown' : 'counter-light'">{{order.delivery_note.length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0 small"><span class="font-weight-600">Address: </span> {{ formatAddress(truckDest.address_formatted) }}</p>
                                        <p class="mb-0 small">
                                            <span class="font-weight-600">Estimated Time: </span>{{truckDest.estimated_time ? truckDest.estimated_time : '-'}} 
                                            <span class="font-weight-600">Distance: </span>{{truckDest.distance ? truckDest.distance : '-'}}
                                        </p>
                                        <p class="mb-0 small">
                                            <span class="font-weight-600">Start Time: </span>{{truckDest.start_time ? truckDest.start_time : '-'}} 
                                            <span class="font-weight-600">End Time: </span>{{truckDest.end_time ? truckDest.end_time : '-'}}
                                        </p>
                                        <div class="bg-light rounded py-2 px-3 mt-2 d-flex align-items-center justify-content-between">
                                            <p class="mb-0"><span class="font-weight-600">Pieces:</span>  {{truckDest.quantity}}</p>
                                            <span class="d-inline-block cursor-pointer text-primary small" @click="showModalDetail(truckDest, indexTruck, indexTruckDest)"><u>see details</u></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END TABLET LAYOUT -->

            <app-modal title="Detail Order" size="lg" :hideFooter="true" :show="modalDetail" @hide="hideModalDetail">
                <template v-if="tempData && modalDetail">
                    <div class="mb-4" v-for="(order, indexOrder) in tempData.order" :key="indexOrder">
                        <h5 class="font-weight-700 mb-3" v-if="order.order_no != '' && !tempData.is_custom">
                            <a href="javascript:void(0)" @click="gotoOrder(order.order_no)">#{{order.order_no}}</a>
                        </h5>
                        <h5 class="font-weight-700 mb-3" v-else>#{{order.order_no}}</h5>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h6 class="font-weight-700">Customer Name: </h6>
                                    <p class="mb-0">{{order.ship_name}}</p>
                                </div>
                                <div class="mb-3">
                                    <h6 class="font-weight-700">Address: </h6>
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-0">{{tempData.is_custom ? order.ship_address : order.formatted_shipping_address.name}} </p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6 class="font-weight-700">Phone Number: </h6>
                                    <p class="mb-0">{{tempData.is_custom ? order.phone_number : order.ship_phone_number}}</p>
                                </div>
                            </div>
                            <div class="col-md-6" v-if="!tempData.is_custom">
                                <div class="mb-3">
                                    <h6 class="font-weight-700">Total Appliances: </h6>
                                    <template v-for="(appliance, indexAppliance) in order.total_appliance">
                                        <p class="mb-0" :key="order.order_no + indexAppliance">{{appliance.total + ' ' + appliance.name}}</p>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <template v-if="!tempData.is_custom">
                            <div class="border rounded p-3 mb-2" v-for="(value, key, indexDetail) in order.detail_order" :key="`detail-appliance${indexDetail + order.order_no}`">
                                <div class="d-flex align-items-center cursor-pointer collapsible__wrapper" v-b-toggle="`collapse${order.order_no + indexDetail}`">
                                    <i class="fas fa-caret-right mr-2"></i>
                                    <span class="font-weight-700">{{ sumBy(value, (item) => item.qty) + ' ' + key}}</span>
                                    <div class="d-flex align-items-center flex-wrap ml-2">
                                        <div class="badge badge-light rounded text-dark border mr-2" v-for="(item, indexItem) in value.slice(0, 6)" :key="indexItem">{{item.model_number}}</div>
                                        <span class="counter counter-blue ml-1" v-if="value.slice(6).length > 0">+{{value.slice(6).length}}</span>
                                    </div>
                                </div>
                                <b-collapse :id="`collapse${order.order_no + indexDetail}`">
                                    <div class="mt-3">
                                        <app-table small :head-variant="'light'" :fields="fieldPieces" :items="value" show-empty />
                                    </div>
                                </b-collapse>
                            </div>
                        </template>
                        <template v-else>
                            <app-table small :head-variant="'light'" :fields="manualStop.field.filter(o => o.key != 'action')" :items="order.detail_order" />
                        </template>
                    </div>
                </template>
            </app-modal>
            <app-modal size="xl" :customTitle="true" hide-footer :show="modalNote" @hide="hideModalNote">
                <template slot="modal-title" v-if="modalNote">
                    <h5 class="mb-0">Delivery Notes</h5>
                </template>
                <div class="px-2" v-if="tempData && modalNote">
                    <div class="form-group mb-4">
                        <label for="#" class="font-weight-600 d-block">{{tempData.routes[tempData.index_route].is_custom ? 'Order Info' : 'Order Number'}}</label>
                        <span>{{tempData.routes[tempData.index_route].is_custom ? tempData.order.order_no : `# ${tempData.order.order_no}`}}</span>
                    </div>
                    <div class="form-group">
                        <app-table
                            :fields="deliveryNotes.fields"
                            :items="deliveryNotes.items"
                            show-empty>
                            <template slot="notes" slot-scope="data">
                                <span>{{data.item.note}}</span>
                            </template>
                            <template slot="date" slot-scope="data">
                                <span>{{ moment(data.item.date_note).format('L')}}</span>
                            </template>
                        </app-table>
                    </div>
                </div>
            </app-modal>
        </template>
    </div>
</template>

<script>
import TruckBox from '@/components/deliveryRouting/TruckBox'
import AppTable from '@/node_modules/bootstrap-vue/es/components/table/table'
import AppModal from '@/components/utilities/Modal'
import AppLoader from '@/components/utilities/Loader'
import sumBy from 'lodash/sumBy'
import * as VueGoogleMaps from '@/node_modules/vue2-google-maps'
import helper from '@/helper'
import {mapState, mapActions} from 'vuex'

export default {
    transition: 'slide',
    components: {
        TruckBox,
        AppModal,
        AppTable,
        AppLoader
    },
    async asyncData({store, route}){
        await store.dispatch('store/getStores', 'all')
    },
    data: () => ({
        deliveryRouting: null,
        helper,
        sumBy,
        infoWindowStore: false,
        modalDetail: false,
        modalNote: false,
        tempData: null,
        fieldPieces: [
            {
                key: 'model_number'
            },
            {
                key: 'name',
                thStyle: {
                    width: '500px'
                }
            },
            {
                key: 'qty'
            }
        ],
        manualStop: {
            field: [
                {
                    key: 'product'
                },
                {
                    key: 'description'
                },
                {
                    key: 'amount',
                    thStyle: {
                        width: '200px'
                    }
                },
                {
                    key: 'quantity',
                    thStyle: {
                        width: '110px'
                    }
                },
                {
                    key: 'total'
                },
                {
                    key: 'action'
                }
            ],
            items: []
        },
        deliveryNotes: {
            fields: [
                {
                    key: 'notes',
                },
                {
                    key: 'date'
                }
            ],
            items: []
        },
        polylines: [],
        mapMarkers: [],
        infoWindows: [],
        loading: true,
        map: null
    }),
    computed: {
        mapAPI : VueGoogleMaps.gmapApi,
        formatedDeliveryRoute(){
            if(this.deliveryRouting.data.length > 0){
                let data = [...this.deliveryRouting.data]
                let formatedData = data.map(o => {
                    return{ 
                        ...o, 
                        routes: o.routes.slice(1, -1),
                    }
                })
                return formatedData
            }
            return []
        },
        ...mapState('store', {
            stores : state => state.items
        }),
        storeWarehouse(){
            let storeWarehouse = this.stores.filter(v => {return v.is_warehouse == true})
            return storeWarehouse[0]
        },
    },
    async mounted(){
        await this.fetchData()
        this.generateRoute()
    },
    methods: {
        ...mapActions({
            showDeliveryRoutingLog: 'delivery/showDeliveryRoutingLog' 
        }),
        async fetchData(){
            const response = await this.showDeliveryRoutingLog(this.$route.params.id)
            this.deliveryRouting = response
            this.loading = false
        },
        formatAddress(address){
            return address.replace(/<br>/g, '')
        },
        getListModel(item){
            let listModels = []
            item.order.forEach(order => {
                Object.keys(order.detail_order).forEach(key => {
                    if(!item.is_custom){
                        order.detail_order[key].forEach(model => {
                            listModels.push(model.model_number)
                        })
                    }else{
                        listModels.push(order.detail_order[key].product)
                    }
                })
            })
            return listModels.join(', ')
        },
        gotoOrder(order_no){
            this.$router.push({name: 'my-orders-edit-id', params: {id: order_no}})
            this.hideModalDetail()
        },
        showModalDetail(item, truck_idx, route_idx){
            this.modalDetail = true
            this.tempData = {
                is_custom: truck_idx ? item.is_custom : false,
                order: item.order,
                truck_idx: truck_idx,
                route_idx: route_idx
            }
        },
        hideModalDetail(){
            this.modalDetail = false
            this.tempData = null
        },
        showModalNote(truckData){
            let data = {...truckData, edit: truckData.order.delivery_note.length > 0 ? true :  false}
            this.tempData = data
            this.deliveryNotes.items = truckData.order.delivery_note
            this.modalNote = true
        },
        hideModalNote(){
            this.modalNote = false
            this.deliveryNotes.items = []
            this.tempData = false
        },
        generateRoute(){
            this.$nextTick(() => {
                this.$refs.map.$mapPromise.then((val) => {
                    let bounds = new google.maps.LatLngBounds()
    
                    this.map = val
    
                    this.formatedDeliveryRoute.forEach((item, key) => {
                        let path = item.routes.map(route => {
                            return {
                                lat: route.location.latitude,
                                lng: route.location.longitude
                            }
                        })
                        path.unshift(item.store_location)
                        path.push(item.store_location)
                        this.polylines[`truck${item.truck}`] = new google.maps.Polyline({
                            path: path,
                            geodesic: true,
                            strokeColor: item.color,
                            strokeOpacity: 1,
                            strokeWeight: 3,
                        })
                        this.polylines[`truck${item.truck}`].setMap(this.map)
    
                        item.routes.forEach((route) => {
                            bounds.extend({
                                lat: route.location.latitude,
                                lng: route.location.longitude
                            })
                        })
                        this.map.fitBounds(bounds)
    
                        this.generateMarkers(item)
                    })
                })
            })
        },
        generateMarkers(truckData) {
            truckData.routes.forEach((route, indexRoute) => {
                const marker = new google.maps.Marker({
                    id: `marker-${truckData.truck}-${indexRoute}`,
                    position: {
                        lat: route.location.latitude,
                        lng: route.location.longitude
                    },
                    map: this.map,
                    icon: {
                        url : require(`~/static/icon/truck-${truckData.color.split('#')[1]}.png`),
                        scaledSize: {
                            width: 30,
                            height: 38
                        }
                    },
                    label: {
                        color: '#fff',
                        fontWeight: 'bold',
                        fontSize: '14px',
                        text: `${indexRoute + 1}`
                    }
                })                
                this.mapMarkers.push(marker)

                this.createInfoWindow(truckData, route, indexRoute)
            })
        },
        createInfoWindow(truckData, route, indexRoute) {
            const infoWindowId = `marker-${truckData.truck}-${indexRoute}`
            const infoWindowContent = `
                <div class="mb-2">
                    <h6 class="mb-1 font-weight-600">Truck Number</h6>
                    <p class="mb-0">${truckData.truck}</p>
                </div>
                ${truckData.driver ? `
                    <div class="mb-2">
                        <h6 class="mb-1 font-weight-600">Driver's Name</h6>
                        ${truckData.driver.map(driver => `
                            <p class="mb-1">${driver.name}</p>
                        `).join('')}
                    </div>
                ` : ``
                }
                <div class="mb-2">
                    <h6 class="mb-1 font-weight-600">Order No</h6>
                    ${route.order.map(order => `
                        <p class="mb-1">${order.order_no}</p>
                    `).join('')}
                </div>
                ${!route.is_custom ? `
                    <div class="mb-2">
                        <h6 class="mb-1 font-weight-600">Total Appliances</h6>
                        ${route.order.map(order => {
                            return order.total_appliance.map((totalAppliance) => `
                                <p class="mb-1">${totalAppliance.total} ${totalAppliance.name}</p>
                            `).join('')
                        }).join('')}
                    </div>
                ` : ``}
                <h6 class="mb-1 font-weight-600">Address</h6>
                <p class="mb-0">${this.formatAddress(route.address_formatted)}</p>
            `
            const infoWindow = new google.maps.InfoWindow({
                content: infoWindowContent
            })
            this.infoWindows.push({id: infoWindowId, infoWindowData: infoWindow})

            this.mapMarkers.forEach((marker, indexMarker) => {
                const indexInfoWindow = this.infoWindows.findIndex(item => item.id === marker.id)
                if(indexInfoWindow != -1){
                    marker.addListener('click', () => {
                        this.infoWindows[indexInfoWindow].infoWindowData.open({
                            anchor: marker,
                            map: this.map,
                            shouldFocus: false
                        })
                    })
                }
            })
        },
    }
}
</script>