<template>
    <div>
        <h3 class="font-weight-bold mb-0">
            Customer Notifications Settings
        </h3>

        <div class="mt-3 mb-4">
            <b-tabs>
                <b-tab title="Email" @click="$router.push({ name: 'settings-notifications-index-customer-notifications-index-email' })" :active="$route.name.includes('email')"></b-tab>
                <b-tab title="SMS" @click="$router.push({ name: 'settings-notifications-index-customer-notifications-index-sms' })" :active="$route.name.includes('sms')"></b-tab>
            </b-tabs>
        </div>

        <NuxtChild />
    </div>
</template>

<script>
export default {
    name: 'CostumerSetting',
    transition: 'slide',
    layout: 'admin',
};
</script>
