<template>
    <div>
        <app-modal-message />
    </div>
</template>

<script>
import ModalMessage from "@/components/admin/modal/Message.vue";

export default {
    components: {
        "app-modal-message": ModalMessage,
    },
    transition: "slide",
    layout: "admin",
};
</script>
