<template>
  <div class="reset-password">
    <div class="card-default card-default__sm">
      <h4 class="text-blue mb-3">Reset Password</h4>
      <div class="form-group">
        <input type="password" class="form-control form-control__lg" placeholder="New Password" v-model="reset.password" v-validate="'required|min:6'" :class="{'input': true, 'is-invalid': errors.has('password'), 'form-control':true }" name="password" ref="password" data-vv-validate-on="blur">
        <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
        <p class="text-danger" v-if="error_validate.password">{{ error_validate.password[0] }}</p>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control__lg" placeholder="Confirm Password" v-model="reset.password_confirmation" v-validate="'required|confirmed:password'" :class="{'input': true, 'is-invalid': errors.has('confirm'), 'form-control':true }" name="confirm" id="confirm" data-vv-as="password confirmation" data-vv-validate-on="disable">
        <span v-show="errors.has('confirm')" class="text-danger">{{ errors.first('confirm') }}</span>
      </div>
      <p class="alert alert-success" v-html="message" v-show="message"></p>
      <div class="card border-danger mb-3" v-if="error_validate.token">
          <div class="card-body text-danger">
              <p class="card-text text-center">Reset password expired. Please request new email</p>
          </div>
      </div>
      <button class="btn btn-primary btn-lg" @click.prevent="submit">Change Password</button>
      <nuxt-link tag='a' to="/login" class="text-gray">Back to Sign</nuxt-link>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState, mapMutations } from 'vuex'
  export default {
    auth: false,
    data() {
      return {
        reset: {
          password: '',
          password_confirmation: '',
          token: this.$route.params.id
        }
      }
    },
    mounted() {
      this.SET_MESSAGE('')
    },
    computed: {
      ...mapState(['message']),
      ...mapState('reset-password', {
        error_validate: state => state.validate
      })
    },
    methods: {
      ...mapActions('reset-password', ['changePassword']),
      ...mapMutations('reset-password', ['CLEAR_ERROR']),
      ...mapMutations(['SET_MESSAGE']),
      submit() {
        this.$validator.validate().then(result => {
          if (result){
            this.changePassword(this.reset).then((res) => {
              this.SET_MESSAGE(res.data)
              setTimeout(() => {
                this.$router.push({
                  name: 'login'
                })
              }, 1000)
            })
          }
        })
      }
    },
    destroyed() {
      this.reset = {
        password: '',
        password_confirmation: '',
        token: ''
      }
      this.SET_MESSAGE('')
      this.CLEAR_ERROR()
    },
  }
</script>
<style>

</style>