<template>
    <div>
        <h3 class="font-weight-600 mb-4">Upc Code</h3>
        <div class="form-group">
            <div class="icon icon-left">
                <input type="text" class="form-control form-icon" placeholder="Search" v-model="search" @input="handleInputSearch" v-width="'250px'">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <TableUpc @changePage="changePage" @changePerpage="changePerpage" @getData="fetchUpcCode" />
    </div>
</template>

<script>
import TableUpc from '@/components/admin/table/UpcCode'
import {mapActions} from 'vuex'
import _ from 'lodash'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        TableUpc
    },
    async asyncData({store}){
        await store.dispatch('upc/getUpcCodes', { search: null, page: 1, perpage: 10})
    },
    data: () => ({
        search: '',
        page: 1,
        perpage: 10
    }),
    methods: {
        ...mapActions({
            getUpcCodes: 'upc/getUpcCodes'
        }),
        handleInputSearch: _.debounce(function(){
            this.page = 1
            this.fetchUpcCode()
        }, 500),
        changePage(value){
            this.page = value
            this.fetchUpcCode()
        },
        changePerpage(value){
            this.page = 1
            this.perpage = value
            this.fetchUpcCode()
        },
        fetchUpcCode(){
            this.getUpcCodes({
                search: this.search,
                page: this.page,
                perpage: this.perpage
            })
        }
    }
}
</script>

<style>

</style>