<template>
    <div>
        <div class="d-flex align-items-start mb-3">
            <p>Use a scanner to scan each model number into system</p>
            <div class="ml-auto">
                <button class="btn btn-primary mr-3" @click="showModalRegister">Register UPC Code</button>
                <button class="btn btn-primary" @click="showModalRegisterModel">Register Model Number</button>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3">
            <div class="d-flex align-items-center mr-3">
                <input type="text" class="form-control mr-3 form-control--uppercase" ref="inputForm" v-width="'300px'" placeholder="Model number" v-model="temporary_models" @input="handleInputModel">
                <b-spinner variant="primary" small v-if="isLoading"></b-spinner>
            </div>
            <div class="form-inline">
                <label for="#" class="flex-grow-1">Report Name :</label>
                <input type="text" class="form-control ml-2" v-model="reportName" :size="reportName.length">
            </div>
        </div>
        <textarea class="form-control text-uppercase resize-none" ref="textArea" cols="30" rows="10" v-model="models" :disabled="isLoading"></textarea>
        <div class="text-right">
            <button class="btn px-5 py-3 mt-4" :class="models.length > 0 ? 'btn-primary' : 'btn-secondary'" :disabled="models.length == 0 || loading" @click="postModel">
                <div class="px-3" v-if="loading">
                    <b-spinner variant="light" small></b-spinner>
                </div>
                <p class="mb-0 px-3" v-else>Process</p>
            </button>
        </div>
        <hr class="my-5">
        <table-bulk-inventory :reportName="reportName" :loadingTable="loading" @loadTable="setTableLoading" @reset="models = ''" />
        <app-modal :noBorder="true" :show="modalWarning" @hide="hideModalWarning">
            <div class="px-4 text-center">
                <h5 class="mb-0 font-weight-normal">Are you sure want to leave this page? <br> unsaved data will be lost!</h5>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalWarning">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="leaveBulk">Leave</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="md" title="Register UPC Code" :show="modalRegister" @hide="hideModalRegister">
            <div class="form-group">
                <label for="#" class="font-weight-600">UPC Code</label>
                <input type="text" class="form-control" v-model="register.upc" :class="{'is-invalid' : errors.has('upcCode')}" v-validate="'required'" name="upcCode" data-vv-as="upc code">
                <span class="text-danger" v-if="errors.has('upcCode')">{{errors.first('upcCode')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Number</label>
                <app-select
                    label="product_id" 
                    track-by="product_id"
                    placeholder="Choose model number"
                    :open-direction="'bottom'"
                    :options="productOptions" 
                    :searchable="true"
                    :loading="isFetchProduct" 
                    :preserve-search="true" 
                    :internal-search="false" 
                    :options-limit="300" 
                    :max-height="600" 
                    :show-no-options="false" 
                    :show-labels="false"
                    :show-no-results="false"
                    v-model="register.model_number"
                    @search-change="getProduct($event)"
                    v-validate="'required'"
                    name="modelNumber"
                    :class="{'is-invalid' : errors.has('modelNumber')}"
                    data-vv-as="model number"
                    class="select-product">
                    <template slot="option" slot-scope="props">
                        <div class="option__desc">
                            <span class="option__title">
                                {{ props.option.product_id }}
                            </span>
                            <br>
                            <span class="option__small">{{ props.option.brand }}</span>
                        </div>
                    </template>
                </app-select>
                <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
            </div>
            <template slot="modal-footer">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegister" :disabled="isRegister">Cancel</button>
                <button class="btn btn-primary" @click="submitRegister" :disabled="isRegister">
                    <b-spinner variant="light" small v-if="isRegister" />
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal size="md" title="Register Model Number" :hideFooter="true" :show="modalRegisterModel" @hide="hideModalRegisterModel">
            <div class="form-group">
                <label for="#" class="font-weight-600">Scan Model from Barcode</label>
                <input type="text" class="form-control" ref="barcodeInput" v-model="modelBarcode" @input="handleInputBarcode">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Number</label>
                <input type="text" class="form-control" v-model="register_model.model_number" v-validate="'required'" name="modelNumber" data-vv-as="model number" :class="{'is-invalid' : errors.has('modelNumber')}">
                <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">UPC Code</label>
                <input type="text" class="form-control" v-model="register_model.upc" name="upc">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Name</label>
                <input type="text" class="form-control" v-model="register_model.model_name" v-validate="'required'" name="modelName" data-vv-as="model name" :class="{'is-invalid' : errors.has('modelName')}">
                <span class="text-danger" v-if="errors.has('modelName')">{{errors.first('modelName')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Brand Name</label>
                <app-select
                    track-by="brand_name"
                    label="brand_name"
                    :show-labels="false"
                    :options="brands"
                    v-model="register_model.brand"
                    placeholder="Select Brand"
                    v-validate="'required'"
                    name="brand"
                    :class="{'is-invalid' : errors.has('brand')}"
                />
                <span class="text-danger" v-if="errors.has('brand')">{{errors.first('brand')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Appliance Type</label>
                <no-ssr>
                    <app-select
                        track-by="category_id"
                        label="category_name"
                        :show-labels="false"
                        :options="categories"
                        v-model="register_model.category"
                        placeholder="Select Appliance Type"
                        v-validate="'required'"
                        name="applianceType"
                        data-vv-as="appliance type"
                        :class="{'is-invalid' : errors.has('applianceType')}"
                        @input="handleInputCategory"
                    />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('applianceType')">{{errors.first('applianceType')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Sub Categories</label>
                <no-ssr>
                    <app-select
                        v-model="register_model.subcategory" 
                        :options="subcategories" 
                        :show-labels="false"
                        :loading="isFetchSubCategories"
                        placeholder="Select Sub Categories" 
                        label="subcategory_name" 
                        track-by="subcategory_name" 
                        :preselect-first="false"
                        v-validate="'required'"
                        name="subCategories"
                        data-vv-as="sub category"
                        :class="{'is-invalid' : errors.has('subCategories')}"
                        @input="handleInputSubCategory" />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('subCategories')">{{errors.first('subCategories')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Detail Categories</label>
                <no-ssr>
                    <app-select
                        v-model="register_model.detailcategory" 
                        :options="detailcategories" 
                        :show-labels="false"
                        :loading="isFetchDetailCategories"
                        placeholder="Select Detail Categories" 
                        label="detail_category_name" 
                        track-by="detail_category_name" 
                        :preselect-first="false"
                        v-validate="'required'"
                        name="detailCategories"
                        data-vv-as="detail category"
                        :class="{'is-invalid' : errors.has('detailCategories')}" />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('detailCategories')">{{errors.first('detailCategories')}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-4">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegisterModel" :disabled="isRegisterModel">Cancel</button>
                <button class="btn btn-primary" type="submit"  @click="submitRegisterModel" :disabled="isRegisterModel">
                    <b-spinner variant="light" small v-if="isRegisterModel" />
                    <span v-else>Save</span>
                </button>
            </div>
        </app-modal>
    </div>
</template>

<script>
import TableBulkInventory from '@/components/table/BulkInventory'
import Modal from '@/components/utilities/Modal'
import _ from 'lodash'
import {mapActions, mapState} from 'vuex'
import Select from 'vue-multiselect'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        TableBulkInventory,
        'app-modal' : Modal,
        'app-select': Select,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('store/getStores', {type:'all'}),
            store.dispatch('brand/getBrands'),
            store.dispatch('category/getCategories'),
            store.dispatch('bulkInventory/getBulkInventory', {
                invalid: 0,
                type: 1
            }),
            store.dispatch('inventory/getConditions')
        ])
    },
    destroyed() {
        this.routePath = null
    },
    data: () => ({
        reportName: '',
        modelBarcode: '',
        models: '',
        loading: false,
        isLoading: false,
        modalWarning: false,
        temporary_models: '',
        routePath: null,
        register: {
            upc: null,
            model_number: null
        },
        modalRegister:false,
        isRegister: false,
        isFetchProduct: false,
        modalRegisterModel : false,
        isRegisterModel: false,
        register_model: {
            model_name: null,
            model_number: null,
            brand: null,
            category: null,
            subcategory: null,
            detailcategory: null,
            upc: null,
        },
    }),
    computed: {
        ...mapState('bulkInventory', {
            items: state => state.items
        }),
        ...mapState('product', {
            productOptions: state => state.items
        }),
        ...mapState('rws', {
            brands: state => state.items
        }),
        ...mapState('category', {
            categories: state => state.categories,
            subcategories: state => state.subcategories,
            detailcategories: state => state.detailcategories
        }),
        ...mapState('brand', {
            brands: state => state.brands
        }),
    },
    beforeRouteLeave(to, from, next) {
        this.routePath = to
        if(this.items.length > 0) {
            this.showModalWarning()
            next(false)
        }else{
            next()
        }
    },
    mounted(){
        this.$refs.inputForm.focus()
        this.reportName = this.moment(new Date()).format('L')
    },
    watch: {
        temporary_models(){
            this.isLoading = true
        },
        models(){
            this.isLoading = false
        }
    },
    methods: {
        ...mapActions('bulkInventory', ['postBulkInventory', 'getBulkInventory' ,'deleteBulkInventory' ,'getBulkInventory', 'registerUpc', 'registerModel']),
        ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
        ...mapActions('product', ['getProductOrder']),
        handleInputCategory(){
            this.register_model.subcategory = null
            this.register_model.detailcategory = null
            this.isFetchSubCategories = true
            this.getSubCategories(this.register_model.category.category_name)
            .then(() => {
                this.isFetchSubCategories = false
            })
        },
        handleInputSubCategory(){
            this.isFetchDetailCategories = true
            this.getDetailCategories({ category_name: this.register_model.category.category_name, subcategory_name: this.register_model.subcategory.subcategory_name })
            .then(() => {
                this.isFetchDetailCategories = false
            })
        },
        handleInputBarcode: _.debounce(function(){
            if(this.modelBarcode.length > 0){
                this.register_model.model_number = this.modelBarcode.replace('-', '')
            }
        }, 300),
        getProduct: _.debounce(function($event) {
            this.isFetchProduct = true
            this.getProductOrder({product_id: $event, search_type: ''})
            .then(() => {
                this.isFetchProduct = false
            })
        }, 500),
        showModalRegister(){
            this.isRegister = false
            this.modalRegister = true
        },
        hideModalRegister(){
            this.modalRegister = false
            this.register.upc = null
            this.register.model_number = null
            this.errors.clear()
        },
        postModel(){
            return new Promise((resolve, reject) => {
                let formatedModels = this.models.replace(/\n/g, ",");
                this.loading = true
                this.postBulkInventory({models: formatedModels})
                .then(() => {
                    this.getBulkInventory({
                        invalid: 0,
                        type: 1
                    }).then(() => {
                        this.models = ''
                        resolve(this.loading = false)
                    })
                })
            })
        },
        handleInputModel: _.debounce(function(){
            let model = this.temporary_models
            this.models += model + '\n'
            this.temporary_models = ''
            let textarea = this.$refs.textArea
            textarea.scrollTop = textarea.scrollHeight
            this.$refs.inputForm.focus()
        }, 1000),
        showModalRegisterModel(){
            this.modalRegisterModel = true
            this.$nextTick(() => {
                this.$refs.barcodeInput.focus()
            })
        },
        hideModalRegisterModel(){
            this.modalRegisterModel = false
            this.$refs.inputForm.focus()
            this.modelBarcode = ''
            this.register_model.model_number = null
            this.register_model.model_name = null
            this.register_model.brand = null
            this.register_model.category = null
            this.register_model.upc = null
            this.register_model.subcategory = null
            this.register_model.detailcategory = null
            this.errors.clear()
        },
        setTableLoading(value)  {
            this.loading = value
        },
        hideModalWarning() {
            this.modalWarning = false
            this.isLeave = false
        },
        showModalWarning() {
            this.modalWarning = true
        },
        leaveBulk() {
            this.deleteBulkInventory({
                id: 'all'
            }).then(() => {
                this.getBulkInventory({
                        invalid: 0,
                        type: 1
                    }).then(() => {
                    this.modalWarning = false
                    this.$router.push({name: this.routePath.name})
                })
            }) 
        },
        submitRegister(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isRegister = true
                    this.registerUpc({
                        upc: this.register.upc,
                        model_number: this.register.model_number.product_id
                    })
                    .then(() => {
                        this.isRegister = false
                        this.hideModalRegister()
                    })
                    .catch(() => {
                        this.isRegister = false
                    })
                }
            })
        },
         submitRegisterModel(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isRegisterModel = true
                    this.registerModel({
                        raw_model: this.modelBarcode,
                        model_name: this.register_model.model_name,
                        model_number: this.register_model.model_number,
                        category: this.register_model.category.category_id,
                        brand_id: this.register_model.brand.brands,
                        detail_category_id: this.register_model.detailcategory.id,
                        upc: this.register_model.upc
                    })
                    .then(() => {
                        this.isRegisterModel = false
                        this.hideModalRegisterModel()
                    })
                    .catch(() => {
                        this.isRegisterModel = false
                    })
                }
            })
        },
    }
}
</script>

<style>

</style>