<template>
    <PageModal />
</template>

<script>
import PageModal from "@/components/admin/modal/DeliveryTime";
export default {
    name: "AddDeliveryLoadTime",
    transition: "slide",
    layout: "admin",
    async asyncData({ store }) {
        await store.dispatch("category/getCategories");
    },
    components: {
        PageModal,
    },
};
</script>
