<template>
    <create-delivery-method></create-delivery-method>
</template>

<script>
import CreateDeliveryMethod from "@/components/admin/modal/DeliveryMethod";

export default {
    name: "PageCreateDeliveryMethod",
    layout: "admin",
    components: {
        CreateDeliveryMethod,
    },
};
</script>
