<template>
    <div>
        <app-modal-message edit />
    </div>
</template>

<script>
import ModalMessage from "@/components/admin/modal/Message.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("message/getMessage", route.params.id);
        return;
    },
    components: {
        "app-modal-message": ModalMessage,
    },
    transition: "slide",
    layout: "admin",
};
</script>
