$prefix: 'sly';
$border-radius: 18px;
$font-weight: 400;

$sizes: ("lg", "md", "sm");
$heights: (34px, 28px, 20px);
$fontSizes: (16px, 14px, 12px);
$paddings: (6px 12px 6px 12px, 4px 8px 4px 8px, 2px 6px 2px 6px);

$colorVariants: ("success", "warning", "error", "primary", "grey", "purple", "brown-light");
$colors: (#20bf6b, #f7b731, #eb3b5a, #0055c0, #757575, #6c5ce7, #523100);
$bgColors: (#e5fbef, #fef5e2, #fce3e8, #f0f6ff, #f5f5f5, #e7e4fb, #FDF2D1);
