<template>
    <div>
        <app-modal-assign-manager />
    </div>
</template>

<script>
import ModalAssignManager from "@/components/admin/modal/AssignManager.vue";
export default {
    async asyncData({ store, route }) {
        await store.dispatch("store/getStore", route.params.id);
        await store.dispatch("store/getManagers", route.params.id);
        return;
    },
    components: {
        "app-modal-assign-manager": ModalAssignManager,
    },
    transition: "slide",
    layout: "admin",
};
</script>
