<template>
    <div>
        <h3 class="font-weight-600 mb-4">Custom Item Report</h3>
        <div class="d-flex align-items-center mb-3">
            <div class="icon icon-left mr-3">
                <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Order No" @input="searchOrder">
                <i class="fas fa-search"></i>
            </div>
            <no-ssr>
                <app-select
                    v-model="store_selected" 
                    v-width="'250px'"
                    :options="stores" 
                    :preserve-search="true"
                    :show-labels="false"
                    placeholder="Location" 
                    label="store_name" 
                    track-by="store_id" 
                    :preselect-first="false"
                    @input="handleInputLocation">
                </app-select>
            </no-ssr>
            <button class="btn btn-primary ml-auto" @click="reset">Reset Filter</button>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Open" @click="$router.push({ name : 'reports-custom-item-report-index-open'})" :active="$route.name == 'reports-custom-item-report-index-open'"></b-tab>
                <b-tab title="Resolved" @click="$router.push({ name : 'reports-custom-item-report-index-resolved'})" :active="$route.name == 'reports-custom-item-report-index-resolved'"></b-tab>
                <b-tab title="Not a Product / Others" @click="$router.push({ name : 'reports-custom-item-report-index-others'})" :active="$route.name == 'reports-custom-item-report-index-others'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild ref="child" :location="store_selected" :search="search" @clearFilter="clearFilter" />
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import CustomItemTable from '@/components/admin/table/CustomItemReport'
import {mapActions, mapState} from 'vuex'
import _ from 'lodash'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-select' : Select,
        'app-table-report' : CustomItemTable
    },
    async asyncData({store, $auth}){
        await Promise.all([
            store.dispatch('store/getStores', 'all'),
        ])
    },
    data: () => ({
        date: {
            start: null,
            end: null
        },
        store_selected: null,
        search: '',
        page: 1,
        perpage: 10
    }),
    computed: {
        ...mapState('store', {
            stores : state => state.items
        })
    },
    methods: {
        ...mapActions({
            getCustomItemReport : 'customItemReport/getCustomItemReport'
        }),
        handleInputLocation: _.debounce(function(){
            this.fetchChild()
        }, 200),
        fetchChild(){
            this.$refs.child.page = 1
            this.$refs.child.fetchReport()
        },
        searchOrder: _.debounce(function(){
            this.fetchChild()
        }, 500),
        clearFilter(){
            this.store_selected = null
            this.search = null
        },
        reset(){
            this.$refs.child.page = 1
            this.store_selected = null
            this.search = null
            this.fetchChild()
        }
    }
}
</script>

<style>

</style>