<template>
    <div>
        <BackLink :link="{name: 'settings-brands-index-active-brands'}" :title="selectedBrand === null ? 'Add Group Brand' : 'Update Group Brand'" />
        <div class="card-default">
            <FormGroupBrand />
        </div>
    </div>
</template>

<script>

// Packages
import { mapState } from "vuex";

// Components
import BackLink from '@/components/utilities/BackLink';
import FormGroupBrand from '@/components/admin/form/FormGroupBrand';

export default {
    name: 'AddGroupBrand',
    head: {
        title: 'Settings - POS Slyman Brothers Appliance Centers of Missouri'
    },
    components: {
        BackLink,
        FormGroupBrand,
    },
    computed: {
        ...mapState('brand', {
            availableBrands: state => state.availableBrands,
            selectedBrand: state => state.selectedBrand,
        }),
    },
    transition: 'slide',
    layout: 'admin',
}
</script>
