<template>
    <div>
        <h3 class="font-weight-600 mb-0">Profit Report</h3>
        <div class="d-flex align-items-center">
            <div class="d-flex">
                <div class="form-group mb-0 mr-3">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getData({pageChange: true, isLoading: true})">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <b-input-group append="%">
                        <b-form-input v-model="profit" id="profit" type="number" step="0.01" min="0.00" placeholder="Profit" append="%" @input="searchProfit"></b-form-input>
                    </b-input-group>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <!-- <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div> -->
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <div class="form-group mb-0">
                <no-ssr><app-select
                    v-model="store_selected"
                    v-width="'250px'"
                    :options="stores"
                    :show-labels="false"
                    placeholder="Location"
                    label="store_name"
                    track-by="store_id"
                    :preselect-first="false"
                    @input="getData({pageChange: true, isLoading: true})"
                >
                </app-select></no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr><app-select
                    v-model="sales_selected"
                    v-width="'230px'"
                    :options="sales_person"
                    :show-labels="false"
                    placeholder="Sales Person"
                    label="fullname"
                    track-by="user_id"
                    :preselect-first="false"
                    @input="getData({pageChange: true, isLoading: true})"
                >
                </app-select></no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                 <no-ssr>
                    <app-select
                        placeholder="Select Brand"
                        v-width="'280px'"
                        v-model="brand_selected"
                        class="multiselect__group"
                        ref="brandFilter"
                        label="name"
                        track-by="brand_id"
                        group-values="child"
                        group-label="name"
                        @select="$refs.brandFilter.deactivate()"
                        :close-on-select="true"
                        :group-select="true"
                        :multiple="true"
                        :options="brands"
                        :show-labels="false"
                        @input="getData({pageChange: true, isLoading: true})">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Model #" @input="searchAction">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex ml-3 align-items-center mt-2">
                  <p-check class="p-switch p-fill" v-model="custom_product_only" @change="getData({pageChange: true, isLoading: true})" color="primary"></p-check>
                  <p class="mb-0 ml-2">Custom Product Only</p>
            </div>
        </div>
        <div class="mt-3">
            <app-table-profit-report :loading="isLoadingTable" ref="table"/>
        </div>
        <!-- <app-action-sale v-model="action"/> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableProfitReport from '@/components/admin/table/ProfitReport'
    import { debounce } from 'lodash'

    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

    export default {
        async fetch ({ store, route }) {
            var today = new Date().toLocaleString("en-us", {timeZone: "America/Chicago"});
            await Promise.all([
                store.dispatch('accounting/getProfitReport',{
                    start: today,
                    end: today
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
                store.dispatch('brand/getBrandNames')
            ])
        },
        data() {
            return {
                custom_product_only: false,
                search: null,
                date: {
                    start: new Date(),
                    end: new Date()
                },
                // date: null,
                profit: null,
                with_warranty: false,
                sales_selected:'',
                brand_selected : [],
                store_selected:'',
                isLoading2: false,
                isLoadingTable : false
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            ...mapState('brand', {
                brands: state => state.brands
            }),
        },
        methods: {
            ...mapActions('accounting', ['getProfitReport']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapActions('brand',['getBrands']),
            ...mapMutations(['SET_LOADING_TABLE']),

            searchChange: debounce(function(event){
                this.isLoading2 = true
                this.getBrands(event).then( () =>{
                    this.isLoading2 = false
                })
            }, 500),
            getData(config){
                this.isLoadingTable = config.isLoading
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                let brands = this.brand_selected.map(function(value){
                    return value.name
                })
                if(config.pageChange){
                    this.$refs.table.page = 1
                }
                this.getProfitReport({
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    profit_percent: this.profit,
                    sales_person: sales_person,
                    brands : brands,
                    search: this.search,
                    custom_product_only: this.custom_product_only,
                    page: this.$refs.table.page,
                    perpage: this.$refs.table.perpage,
                    sortBy: this.$refs.table.sortBy,
                    desc: this.$refs.table.sortDesc,
                }).then( ()=>{
                    this.isLoadingTable = false
                    this.$refs.table.loadingCost = false
                })
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.profit = null;
                this.store_selected = ''
                this.sales_selected = ''
                this.brand_selected = []
                this.search = null
                this.$refs.table.page = 1
                this.$refs.table.perpage = 10
                this.getData({pageChange: true, isLoading: true})
            },
            searchAction: debounce(function(e){
                if(this.search != null){
                    this.getData({pageChange: true, isLoading: true})
                }
            }, 800),
            searchProfit: debounce(function() {
                if (this.profit !== null) this.getData({pageChange: true, isLoading: true});
            }, 500),
            // viewPdf() {
            //     let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            //     this.getPDF({
            //         type: 'profit-report',
            //         search: this.search,
            //         start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
            //         end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
            //         with_warranty: this.with_warranty,
            //         sales_person: sales_person,
            //     })
            //     .then((res) => {
            //         printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
            //     })
            // },
            getCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                let brands = this.brand_selected.map(function(value){
                    return value.brand_name
                })
                this.getCSV({
                    type: 'profit-report',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    profit: this.profit,
                    sales_person: sales_person,
                    brands : brands,
                    search: this.search,
                    custom_product_only: this.custom_product_only,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        name: 'Profit-Report'
                    })
                })
            }
        },
        components: {
            'app-table-profit-report': TableProfitReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
