<template>
    <app-modal-order />
</template>

<script>
    import { mapMutations } from 'vuex'

    import ModalOrder from '@/components/modal/Order.vue'

    export default {
        async fetch({ store, app }) {
            await Promise.all([
                store.dispatch('customer/getCustomers'),
                store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
                store.dispatch('salesPerson/getSalesPersonStore', app.$auth.$state.user)
            ])
        },
        beforeRouteLeave(to, from, next) {
            this.SET_ORDER_DATA_DEFAULT()
            this.SET_CUSTOMER_TABLE_DEFAULT()
            this.SET_CUSTOMER_ERRORS(null)
            this.SET_SALES_PERSON_TABLE_DEFAULT()
            next()
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_DATA_DEFAULT',
            ]),
            ...mapMutations('customer', [
                'SET_CUSTOMER_TABLE_DEFAULT',
                'SET_CUSTOMER_ERRORS',
            ]),
            ...mapMutations('salesPerson', [
                'SET_SALES_PERSON_TABLE_DEFAULT',
            ])
        },
        components: {
            'app-modal-order': ModalOrder,
        },
        // props:{
        //     open:{
        //         type: Boolean,
        //         default: false
        //     }
        // },
        transition: 'slide',
    }
</script>