<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center">
                <div class="icon icon-left">
                    <input
                        type="text"
                        class="
                            form-control form-icon
                            rounded-top-right--0
                            rounded-bottom-right--0
                        "
                        v-model="search"
                        v-width="'250px'"
                        placeholder="Search"
                        @keypress.enter="searchProduct"
                    />
                    <i class="fas fa-search"></i>
                </div>
                <button
                    class="
                        btn btn-primary
                        rounded-top-left--0
                        rounded-bottom-left--0
                    "
                    @click="searchProduct"
                >
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <button
                    class="btn btn-outline-danger mr-3"
                    v-if="dataSelected.length > 0"
                    @click="showDeleteModal"
                >
                    Delete
                </button>
                <nuxt-link
                    tag="a"
                    :to="{ name: 'settings-digital-price-tags-product-create' }"
                    class="btn btn-primary"
                    ><span><i class="fas fa-plus"></i></span> New
                    Product</nuxt-link
                >
            </div>
        </div>
        <table-product
            @setPage="changePage"
            @setPerPage="changePerPage"
            @setSelected="catchSelected"
            @getProductData="fetchProductData"
        />
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0" v-if="dataSelected.length > 0">
                Are you sure want to delete {{ dataSelected.length }} product?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteProduct"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteProduct"
                        @click="deleteProduct"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import TableProduct from "@/components/admin/table/ProductPriceTag";
import Modal from "@/components/utilities/Modal";
import { mapActions, mapMutations, mapState } from "vuex";
import _ from "lodash";

export default {
    transition: "slide",
    data: () => ({
        search: "",
        page: 1,
        perpage: 10,
        modalDelete: false,
        isDeleteProduct: false,
        dataSelected: [],
    }),
    components: {
        TableProduct,
        "app-modal": Modal,
    },
    async created() {
        await this.fetchProductData();
    },
    watch: {
        location() {
            this.fetchProductData();
        },
        search(value) {
            if (value.length == 0) this.fetchProductData();
        },
    },
    computed: {
        ...mapState("priceTag", {
            location: (state) => state.location,
        }),
    },
    methods: {
        ...mapMutations(["SET_LOADING_TABLE"]),
        ...mapActions({
            getPriceTagProduct: "priceTag/getPriceTagProduct",
            deleteProductBatch: "priceTag/deleteProductBatch",
        }),
        showDeleteModal() {
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.modalDelete = false;
        },
        async deleteProduct() {
            this.isDeleteProduct = true;
            let data = this.dataSelected.map((i) => {
                return i.id;
            });
            await this.deleteProductBatch({ data: data })
                .then(() => {
                    this.isDeleteProduct = false;
                    this.dataSelected = [];
                    this.hideModalDelete();
                    this.fetchProductData();
                })
                .catch((error) => {
                    this.isDeleteProduct = false;
                    this.hideModalDelete();
                });
        },
        catchSelected(value) {
            this.dataSelected = value;
        },
        changePage(value) {
            this.page = value;
            this.fetchProductData();
        },
        changePerPage(value) {
            this.perpage = value;
            this.fetchProductData();
        },
        async fetchProductData() {
            this.SET_LOADING_TABLE(true);
            await this.getPriceTagProduct({
                perpage: this.perpage,
                page: this.page,
                search: this.search,
            })
                .then(() => {
                    this.SET_LOADING_TABLE(false);
                })
                .catch((error) => {
                    this.SET_LOADING_TABLE(false);
                });
        },
        searchProduct: _.debounce(function () {
            this.SET_LOADING_TABLE(true);
            this.fetchProductData().then(() => {
                this.SET_LOADING_TABLE(false);
            });
        }, 500),
    },
};
</script>

<style>
</style>
