<template>
    <div><modal-delivery-capacity></modal-delivery-capacity></div>
</template>

<script>
import ModalDeliveryCapacity from "@/components/admin/modal/DeliveryCapacity";

export default {
    name: "CreatePageDeliveryCapacity",
    layout: "admin",
    transitions: "slide",
    components: {
        ModalDeliveryCapacity,
    },
    async asyncData({store}){
        await store.dispatch("deliveryMethod/getDeliveryMethods", {type: 'all'})
    }
};
</script>
