<template>
    <div>
        <h3 class="font-weight-600 mb-3">User Permission</h3>
        <div class="d-flex aling-items-center mb-3">
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="searchBox" v-width="'250px'" @keyup="search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" :to="{ name:'settings-user-permission-edit-id' , params:{ user_id : selected != '' ? selected[0].user_id : '', id: selected != '' ? selected[0].user_id : ''}}" class="btn btn-primary" v-if="totalSelect > 0">Edit Access</nuxt-link>
            </div>
            <div class="flex-row ml-2">
                <nuxt-link tag="a" :to="{ name:'settings-user-permission-role'}" class="btn btn-primary">Show Group Role</nuxt-link>
            </div>
        </div>
        <div>
            <app-table-user-permission @change="getValue" @set-perpage="setPerpage" :search="searchBox"/>
        </div>
    </div>
</template>
<script>
import UserPermission from '@/components/admin/table/UserPermission.vue'
import _ from 'lodash'
import { mapState, mapMutations } from 'vuex';

export default {
    async asyncData({route, store}) {
        await store.dispatch('permission/getUsers')
        return
    },
    data(){
        return{
            searchBox: '',
            totalSelect: 0,
            perpage: 10,
            selected:''
        }  
    },
    computed: {
        ...mapState('permission', {
            page: state => state.page
        })
    },
    methods: {
        ...mapMutations('permission', ['SET_PAGE']),
        search: _.debounce(function (e) {
            this.page == 1 ? this.$store.dispatch('permission/getUsers', { search: this.searchBox, perpage: this.perpage }) : this.SET_PAGE(1)
        }, 800),
        getValue(val) {
            this.totalSelect = val.length
            val.length == 1 ? this.selected = val : ''
        },
        setPerpage(value){
            this.perpage = value
        },
    },
    components:{
        'app-table-user-permission': UserPermission
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

