<template>
    <div>
        <app-modal-installs />
    </div>
</template>

<script>
import ModalInstalls from "@/components/admin/modal/Installs.vue";

export default {
    async asyncData({ store, route, _ }) {
        return await store.dispatch("category/getCategories");
    },
    components: {
        "app-modal-installs": ModalInstalls,
    },
    transition: "slide",
    layout: "admin",
};
</script>
