<template>
    <section>
        <h3 class="font-weight-600 mb-0">Outstanding Orders</h3>
        <div class="d-flex align-items-center mt-3 flex-wrap">
            <div class="form-group">
                <no-ssr>
                    <app-select
                        v-model="store_selected"
                        v-width="'250px'"
                        :options="stores"
                        :close-on-select="true"
                        :hide-selected="true"
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location"
                        label="store_name"
                        track-by="store_id"
                        :preselect-first="false"
                        :show-labels="false"
                        @input="getResponse(true)" />
                </no-ssr>
            </div>
            <div class="form-group ml-3">
                <no-ssr>
                    <app-select
                    v-model="sales_selected"
                    v-width="'230px'"
                    :options="sales_person"
                    :close-on-select="true"
                    :preserve-search="true"
                    :show-labels="false"
                    placeholder="Sales Person"
                    label="fullname"
                    track-by="user_id"
                    :preselect-first="false"
                    @input="getResponse(true)" />
                </no-ssr>
            </div>
            <div class="form-group ml-3">
                <no-ssr>
                    <app-select
                    v-model="type.selected"
                    :options="type.options"
                    v-width="'250px'"
                    :close-on-select="true"
                    :preserve-search="true"
                    :show-labels="false"
                    placeholder="Select Type"
                    label="name"
                    track-by="id"
                    :preselect-first="false"
                    @input="getResponse(true)" />
                </no-ssr>
            </div>
            <div class="form-group ml-3">
                <no-ssr>
                    <app-select
                        placeholder="Select Brand"
                        v-model="brand_selected"
                        v-width="'250px'"
                        class="multiselect__group"
                        ref="brandFilter"
                        label="name"
                        track-by="brand_id"
                        group-values="child"
                        group-label="name"
                        :close-on-select="true"
                        :group-select="true"
                        :multiple="true"
                        :options="brands"
                        :show-labels="false"
                        @select="$refs.brandFilter.deactivate()"
                        @input="getResponse(true)">
                    </app-select>
                </no-ssr>
            </div>
            <div class="flex-row ml-auto mb-3">
                <button class="btn btn-primary" @click="resetFilter">Reset Filter</button>
            </div>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-end mb-3">
                <div class="d-flex align-items-center justify-content-end mr-4">
                    <h6 class="font-weight-normal mb-0 mr-2">Total Price :</h6>
                    <b-spinner variant="primary" small v-if="loading.total" />
                    <h5 class="mb-0 font-weight-600 mb-0" :key="outstanding_orders_total.total_price" v-else v-money>{{outstanding_orders_total.total_price}}</h5>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <h6 class="font-weight-normal mb-0 mr-2">Total Cost :</h6>
                    <b-spinner variant="primary" small v-if="loading.total" />
                    <h5 class="mb-0 font-weight-600 mb-0" :key="outstanding_orders_total.total_cost" v-else v-money>{{outstanding_orders_total.total_cost}}</h5>
                </div>
            </div>
            <outstanding-orders :loading="loading.table" @setPerPage="changePerPage" @setPage="changePage" @setSortBy="setSortBy" @setSortDesc="setSortDesc"/>
        </div>
    </section>
</template>
<script>
import OutstandingOrders from '@/components/admin/table/OutstandingOrders'
import { mapActions, mapMutations, mapState} from 'vuex'
import Select from 'vue-multiselect'
import _ from 'lodash'

export default {
    async asyncData({store}) {
        await Promise.all([
            store.dispatch('accounting/getOutstangingOrders', {store_id: '', page: 1, perpage: 10 }),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('store/getManagers'),
            store.dispatch('brand/getBrandNames'),
        ])
    },
    data() {
        return {
            loading: {
                total: false,
                table: false,
            },
            store_selected:'',
            sales_selected:'',
            perpage: 10,
            page: 1,
            sortBy: '',
            sortDesc: true,
            type: {
                selected: null,
                options: [
                        {
                        id : 1,
                        name : 'Not Yet Requested'
                    },
                    {
                        id : 2,
                        name : 'Requested'
                    },
                    {
                        id : 3,
                        name : 'On Order'
                    },
                    {
                        id : 4,
                        name : 'In Stock & Reserved'
                    }
                ]
            },
            brand_selected: '',
        }
    },
    components:{
        OutstandingOrders,
        'app-select': Select,
    },
    computed: {
        ...mapState('store', {
            sales_person: state => state.sales_person,
            stores : state => state.items
        }),
        ...mapState('accounting', {
            outstanding_orders_total: state => state.outstanding_orders_total,
        }),
        ...mapState('brand', {
            brands: state => state.brands
        }),
    },
    mounted(){
        this.getTotal()
    },
    methods: {
        ...mapMutations(['SET_LOADING_TABLE']),
        resetFilter() {
            this.store_selected = ''
            this.sales_selected = ''
            this.brand_selected = ''
            this.type.selected = null
            this.page = 1
            this.perpage = 10
            this.getResponse()
        },
        ...mapActions('accounting', ['getOutstangingOrders']),
        async getTotal(){
            this.loading.total = true
            await this.getOutstangingOrders({
                total: 1,
                store_id: this.store_selected ? this.store_selected.store_id : null,
                sales_person: this.sales_selected ? this.sales_selected.user_id : null,
                type: this.type.selected ? this.type.selected.id : null
            })
            this.loading.total = false
        },
        getResponse(reset_page = false) {
            this.getTotal()
            this.loading.table = true
            if(reset_page){
                this.page = 1
            }
            let store = this.store_selected ? this.store_selected.store_id : ''
            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            this.getOutstangingOrders({
                perpage: this.perpage,
                page: this.page,
                store_id: store,
                sales_person: sales_person,
                brand: this.brand_selected.length > 0 ? this.brand_selected.map(v => {return v.name}) : [],
                sortBy: this.sortBy,
                desc: this.sortDesc,
                type: this.type.selected ? this.type.selected.id : null
            }).then( () =>{
                this.loading.table = false
            })
        },
        changePerPage(value){
            this.perpage = value
            this.getResponse()
        },
        changePage(value){
            this.page = value
            this.getResponse()
        },
        setSortBy(value){
            this.sortBy = value
            this.getResponse()
        },
        setSortDesc(value){
            this.sortDesc = value
            this.getResponse()
        }
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

