<template>
    <div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <h3 class="font-weight-600 text-center mb-4">RWS Integration</h3>
                <p class="text-center mb-4">Pelase select at least one brand, after that choose 'Option' and then click 'Check Status'</p>
                <div class="row justify-content-center mb-2">
                    <div class="col-md-9">
                        <div class="card card__rws position-relative p-3 h-100" ref="textArea" @click="onShowHideBrand">
                            <div class="multiselect__tag--wrapper" v-if="brandSelected.length > 0">
                                <span class="multiselect__tag rws__brand--selected bg-primary" v-for="(item, index) in brandSelected" :key="index">
                                    <span>{{item.name}}</span> 
                                    <i aria-hidden="true" tabindex="1" class="multiselect__tag-icon" @click.stop="removeBrand(index)"></i>
                                </span>
                            </div>
                            <p class="my-0 text-gray" v-else>Select Brand...</p>
                        </div>
                        <div class="position-relative">
                            <div class="card rws__options bg-white pt-3"
                            v-if="isShowBrand"
                            v-closable="{
                                exclude: ['textArea'],
                                handler: 'onShowHideBrand'
                            }">
                                <div class="px-3">
                                    <input type="text" class="form-control" placeholder="Search brand..." v-model="searchBrand">
                                    <div class="d-flex justify-content-between mt-3" v-if="filteredBrand.length > 0">
                                        <div class="text-primary cursor-pointer" @click="selelctAll"><h6 class="font-weight-600 mb-0">Select All</h6></div>
                                        <div class="text-primary cursor-pointer" @click="clear"><h6 class="font-weight-600 mb-0">Clear</h6></div>
                                    </div>
                                </div>
                                <div class="rws__options--wrapper mt-3 pl-3 pb-3" v-if="filteredBrand.length > 0">
                                    <div class="custom-control rws__options--item custom-checkbox mb-3" v-for="(item, index) in filteredBrand" :key="index">
                                        <input type="checkbox" v-model="brandSelected" :value="item" class="custom-control-input" :id="'brand' + index ">
                                        <label class="custom-control-label cursor-pointer ml-2" :for="'brand' + index ">{{item.name}}</label>
                                    </div>
                                </div>
                                <p class="text-center mt-4" v-else>Brand not found</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" v-model="mode" value="0" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label cursor-pointer" for="customRadio1">Only update price</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" v-model="mode" value="1" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label cursor-pointer" for="customRadio2">Update all data</label>
                        </div>
                        <button class="btn btn-primary btn-lg py-3 px-4 mt-3" :disabled="mode == null" @click="checkStatus"><h6 class="mb-0">Check Status</h6></button>
                    </div>
                </div>
                <hr class="my-4">
                <div class="bg-light position-relative rws__brand--progress rounded p-4 mt-2">
                    <transition name="fade">
                        <div class="loader-wrapper card-loader" v-if="isLoadingProgress">
                            <div class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </transition>
                    <template v-if="progressData.length > 0 && !isLoadingProgress">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="font-weight-600 mb-2">Option : </p>
                                <!-- <p>Only Update Price</p> -->
                                <div v-for="(item, i) in rws_log" :key="i">
                                    <p>{{item.option}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="font-weight-600 mb-2">Date & Time Checked : </p>
                                <!-- <p>04/04/2020 01:44PM</p> -->
                                <div v-for="(item, i) in rws_log" :key="i">
                                    <p>{{item.date}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row border-bottom pb-3 mt-4 mx-0">
                            <div class="col-md-6 p-0">
                                <p class="font-weight-600 mb-0">Brands Name</p>
                            </div>
                            <div class="col-md-6 p-0">
                                <p class="font-weight-600 mb-0">Status</p>
                            </div>
                        </div>
                        <div class="row border-bottom py-3 rws__brand mx-0" v-for="(item, index) in progressData" :key="index">
                            <div class="col-md-6 p-0">
                                <p class="mb-0">{{item.name}}</p>
                            </div>
                            <div class="col-md-6 p-0">
                                <p class="font-weight-600 mb-0" :class="item.status === 'In Progress' ? 'text-warning' : 'text-success'">{{item.status}}</p>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <app-modal :show="isWarningModal" @hide="hideWarningModal" :hideFooter="true" :noBorder="true" modalClass="modal__rws--warning">
            <div class="text-center">
                <img src="/icon/warning-icon.svg" width="100" alt="">
                <h5 class="my-4 font-weight-bold">Attention!</h5>
                <p class="mb-4">Please wait until the previous process finished</p>
            </div>
        </app-modal>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Modal from '@/components/utilities/Modal'
export default {
    transition: 'slide',
    layout: 'admin',
    components: {
        'app-modal' : Modal
    },
    async fetch({store}){
        await Promise.all([
            store.dispatch('rws/getBrandRWS'),
            store.dispatch('rws/getProgress'),
            store.dispatch('rws/getRWSLog')
        ])
    },
    data: () => {
        return {
            isShowBrand : false,
            searchBrand: '',
            isLoadingProgress: false,
            mode: null,
            isWarningModal: false,
            brandSelected: []
        }
    },
    computed: {
        ...mapState('rws' , {
            brandData : state => state.brands,
            progressData : state => state.progressData,
            rws_log: state => state.log
        }),
        filteredBrand() {
            return this.brandData.filter((item) => {
                return this.searchBrand.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v));
            });
        }
    },
    methods: {
        ...mapActions('rws', ['getRWSseed', 'getProgress','getRWSLog','deleteUpdatedProgress']),
        hideWarningModal() {
            this.isWarningModal = false
        },
        showWarningModal() {
            this.isWarningModal = true
        },
        checkStatus() {
            this.deleteUpdatedProgress()
            .then(() => {
                let index = this.progressData.findIndex(v=> v.status === "In Progress")
                if(index == -1){
                    this.isLoadingProgress = true
                    let brand = []
                    this.brandSelected.forEach(v => {
                        brand.push(v.brand_id)
                    })
                    this.getRWSseed({ 
                        brand: brand,
                        mode: this.mode
                    }).then(() =>{
                        this.getProgress()
                        this.getRWSLog()
                        this.isLoadingProgress = false
                    })
                }else{
                    this.showWarningModal()
                }
            })
        },
        selelctAll() {
            this.brandSelected = this.filteredBrand
        },
        clear() {
            this.brandSelected = []
        },
        removeBrand(index) {
            this.brandSelected.splice(index, 1)
        },
        onShowHideBrand() {
            this.isShowBrand = !this.isShowBrand
        }
    },
    // destroyed() {
    //     this.deleteUpdatedProgress()
    // }
}
</script>

<style>

</style>