<template>
    <div>
        <app-modal-product edit />
    </div>
</template>

<script>
    import ModalProduct from '@/components/admin/modal/Product.vue'

    export default {
        async asyncData({ store, route}){
            let { data } = await store.dispatch('product/getProduct', route.params.id)
            await store.dispatch('category/getCategories', route.params.id)
            await store.dispatch('category/getSubCategories', data.category_name)
            await store.dispatch('category/getDetailCategories', { category_name: data.category_name, subcategory_name: data.subcategory_name })
            return
        },
        components: {
            'app-modal-product': ModalProduct,
        },
        transition: 'slide',
    }
</script>