<template>
    <div>
        <h3 class="font-weight-600 mb-0">Transfer Inventory</h3>
        <b-tabs class="my-4">
            <b-tab title="Transfer" @click="$router.push({ name : 'inventory-transfer-inventory-index-transfer'})" :active="$route.name == 'inventory-transfer-inventory-index-transfer'"></b-tab>
            <b-tab title="Transfer Log" @click="$router.push({ name : 'inventory-transfer-inventory-index-transfer-log'})" :active="$route.name == 'inventory-transfer-inventory-index-transfer-log'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </div>
</template>

<script>
export default {
    transition: 'slide',
    layout: 'admin',
    created(){
        console.log(this.$route.name)
    }
}
</script>

<style>

</style>