<template>
    <modal-terminal />
</template>

<script>
import ModalTerminal from "@/components/admin/modal/Terminal";
export default {
    name: "AddTerminal",
    transition: "slide",
    layout: "admin",
    components: {
        ModalTerminal,
    },
    async asyncData({ store }) {
        await Promise.all([store.dispatch("store/getStores", "all")]);
    },
};
</script>
