<template>
    <div class="login">
        <app-loader v-if="reLogin"/>
        <transition name="slide">
            <div class="card-default card-default__sm" v-if="!isLoggedIn">
                <div class="d-flex justify-content-center mb-5">
                    <img src="/slymanbros-logo.png" id="logo">
                </div>
                <div class="alert alert-warning w-100 mb-4" v-if="logoutMessage.length > 0">
                    <p class="mb-0">You have been signed out because you are logged into another device.</p>
                </div>
                <div class="alert alert-warning" v-if="isSafari">
                    Currently Slymanbros's back office is only supported in <a href="https://www.google.com/chrome/" target="_blank"><strong>Google Chrome</strong></a>
                </div>
                <template v-else>
                    <div class="mb-3">
                        <div class="alert alert-success" v-if="$route.query.from == 'register'">
                            Congratulations ! Your email has been registered
                        </div>
                        <template v-if="!formLogin">
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control form-control__lg" v-validate="'required|email'" :class="{'input': true, 'is-invalid': errors.has('email'), 'form-control':true }" name="email" id="email" v-model="data.email" data-vv-validate-on="blur">
                                <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control form-control__lg" v-model="data.password" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('password'), 'form-control':true }" name="password" id="password">
                                <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                            </div>
                        </template>
                        <template v-else>
                            <no-ssr><app-select
                                v-model="store_selected"
                                v-width="'100%'"
                                :options="stores"
                                :close-on-select="true"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                :select-label="'Select'"
                                placeholder="Location"
                                label="store_name"
                                track-by="store_id"
                                :preselect-first="false"
                                @input="selectStore"
                                v-validate="'required'" :class="{'is-invalid': errors.has('store') }" name="store" id="store"
                            >
                            </app-select></no-ssr>
                            <span v-show="errors.has('store')" class="text-danger">{{ errors.first('store') }}</span>
                        </template>
                    </div>
                    <button class="btn btn-primary btn-lg w-100 mb-4" :disabled="isLoading" @click.prevent="submit">
                        <b-spinner small v-if="isLoading"></b-spinner>
                        <div v-if="!isLoading">
                            Sign In
                        </div>
                    </button>
                    <button class="btn btn-google btn-lg w-100 mb-4" v-if="!formLogin" @click.prevent="googleAuth">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-row mr-3">
                                <img src="/google-logo.svg" width="20px" alt="icon-google">
                            </div>
                            <div class="flex-row">
                                Sign In with Google
                            </div>
                        </div>
                    </button>
                    <div class="card border-danger mb-3" v-if="error != null">
                        <div class="card-body text-danger">
                            <p class="card-text text-center">{{ error }}</p>
                        </div>
                    </div>
                    <nuxt-link tag='a' to='/reset-password' class="reset-password-link mb-3">Forgot Password?</nuxt-link>
                </template>
                <!-- <nuxt-link tag='a' to='/sign-up' class="reset-password-link">Don't have an account? Sign Up</nuxt-link> -->
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapActions, mapState, mapMutations } from 'vuex'
    import { detect } from 'detect-browser'
    import Select from 'vue-multiselect'
    import Loader from '@/components/utilities/Loader'

    // Utils
    import { __titleCase } from "@/utils/kebab-case-to-snake-case.js";

    export default {
        head() {
            return {
                title: `${this.headTitle}`,
            }
        },
        async asyncData({store}) {
            await store.dispatch('sign-up/getStores', 'all')
            return
        },
        data() {
            return {
                data: {
                    email: null,
                    password: null,
                    store_id: null,
                    is_admin: 0,
                    type: 'default'
                },
                isLoggedIn: false,
                isLoading: false,
                formLogin: false,
                store_selected: null,
                isSafari: false,
                validated: null,
                error: null,
                reLogin: false
            }
        },
        destroyed(){
            this.reLogin = false
        },
        created(){
            if(this.$route.query){
                let token = this.$route.query.token
                if(token){
                    this.reLogin = true
                }
            }
        },
        mounted() {
            localStorage.removeItem('email-login')
            if(this.$route.query){
                let token = this.$route.query.token
                if(token){
                    this.checkIn(token)
                    .then(res => {
                        if(res.status == 401) {
                            this.$router.push('/login')
                            this.reLogin = false
                            this.$root.$bvToast.toast(`Invalid Token`, { title: 'Failed!', variant:'danger', solid: true})
                        }else{
                            this.$auth.setUserToken(token)
                        }
                    })
                }else if(this.$auth.loggedIn){
                    this.$router.push('/')
                }
            }
            this.isSafari = detect().name == 'safari'
            // if(/apple/i.test(navigator.vendor)) this.isSafari = true
            // else this.isSafari = false
            window.addEventListener('message', this.onMessage, false)
        },
        computed: {
            headTitle() {
                const route = this.$route.path;
                const routeSplit = route.split('/').filter((route) => route !== '');

                return `${__titleCase(routeSplit[0]) === undefined ? `POS - Slyman Brothers Appliance Centers of Missouri` : `${__titleCase(routeSplit[0])} - POS Slyman Brothers Appliance Centers of Missouri`}`
            },
            ...mapState(['api_token']),
            ...mapState(['logoutMessage']),
            ...mapState('sign-up', {
                stores: state => state.items
            })
        },
        methods: {
            ...mapActions('sign-up', ['validateLogin', 'socialAuth']),
            ...mapActions(['checkIn']),
            ...mapMutations(['SET_LOGOUT_MESSAGE']),
            validation(){
                this.error = null
                this.$validator.validateAll()
                if (this.errors.items.length <= 0){
                    this.validated = true
                } else {
                    this.validated = false
                }
            },
            googleAuth() {
                const newWindow = this.openWindow('', 'message')
                this.socialAuth('google').then((res) => {
                    newWindow.location.href = res
                })
            },
            onMessage (e) {
                if (e.data.status == 'success') {
                    this.data.email = e.data.email
                    this.data.type = 'social-auth'
                    this.isLoggedIn = true
                    this.$auth.loginWith('local', {
                        data: this.data
                    }).then(() => {
                        this.$router.push('/')
                    })
                } else if (e.data.status == 'failed') {
                    this.error = 'Your email is not registered'
                }
            },
            openWindow (url, title, options = {}) {
                if (typeof url === 'object') {
                    options = url
                    url = ''
                }

                options = { url, title, width: 600, height: 720, ...options }

                const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screen.left
                const dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screen.top
                const width = window.innerWidth || document.documentElement.clientWidth || window.screen.width
                const height = window.innerHeight || document.documentElement.clientHeight || window.screen.height

                options.left = ((width / 2) - (options.width / 2)) + dualScreenLeft
                options.top = ((height / 2) - (options.height / 2)) + dualScreenTop

                const optionsStr = Object.keys(options).reduce((acc, key) => {
                    acc.push(`${key}=${options[key]}`)
                    return acc
                }, []).join(',')

                const newWindow = window.open(url, title, optionsStr)

                if (window.focus) {
                    newWindow.focus()
                }

                return newWindow
            },
            submit() {
                this.validation()
                if (this.validated){
                    this.isLoading = true
                    this.SET_LOGOUT_MESSAGE('')
                    if (!this.formLogin) {
                        //refactor later
                        this.validateLogin(this.data).then((res) => {
                            this.formLogin = res.status == 'success'
                            this.store_selected = res.status == 'success' ? res.data:null
                            this.data.store_id = res.status == 'success' ? res.data.store_id:null
                            this.error = res.status == 'error' ? res.data:null
                            res.status == 422 ? this.error = res.data.message: ''
                            this.isLoading = false
                            // this.isLoading = false
                            if (res.status == 'error' && res.data == 'You are currently logged into another computer, please log out of that computer and try again') {
                                if (confirm('do you want to end all sessions?')) {
                                    let data = Object.assign({ delete_session: 'yes' }, this.data)
                                    this.validateLogin(data).then((val) => {
                                        this.formLogin = val.status == 'success'
                                        this.store_selected = val.status == 'success' ? val.data:null
                                        this.data.store_id = val.status == 'success' ? val.data.store_id:null
                                        this.error = val.status == 'error' ? val.data:null
                                    })
                                }
                            }
                        })
                    } else {
                        this.$auth.loginWith('local', {
                            data: this.data
                        }).then(() => {
                            this.$auth.fetchUser()
                            .then(() => {
                                localStorage.setItem('email-login', this.data.email)
                                this.$router.push({ path: '/', query: { login: true } })
                            })
                        }).catch(error => {
                            this.error = error.response.data.message
                        })
                    }
                }
            },
            selectStore() {
                this.data.store_id = this.store_selected.store_id
            }
        },
        components: {
            'app-select': Select,
            'app-loader' : Loader
        },
        beforeDestroy () {
            window.removeEventListener('message', this.onMessage)
        }
    }
</script>

<style>
    .login{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .reset-password-link{
        width: 100%;
        display: block;
        text-align: center;
        color: #85898c;
    }
    .login .multiselect__tags{
        min-height: 48px;
        padding: 10px 40px 0 8px;
    }
    .login .multiselect__select{
        top: 7px;
    }
</style>
