<template>
    <div>
        <app-modal-announcement />
    </div>
</template>

<script>
    import ModalAnnouncement from '@/components/modal/Announcement'

    export default {
        async asyncData({store, route}){
            await Promise.all([
                store.dispatch('announcement/getAnnouncement', route.params.id)
            ])
        },
        components: {
            'app-modal-announcement': ModalAnnouncement,
        },
        transition: "slide",
        layout: "admin",
    }
</script>