<template>
    <section>
        <h3 class="font-weight-600 mb-0">Tax Report</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0 mr-4">
                    <no-ssr>
                        <app-select
                            v-width="'250px'"
                            v-model="location_selected" 
                            :options="stores" 
                            :show-labels="false"
                            placeholder="Select Location" 
                            label="store_name" 
                            track-by="store_id"
                            @input="fillterLocation" />
                    </no-ssr>
                </div>
                <div class="form-group mb-0" v-if="location_selected">
                    <div class="icon icon-left">
                        <no-ssr>
                            <app-datepicker mode="range" v-model="date" v-width="'250px'">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter"> Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-tax-report :date="date" :location="location" :page="page" :perpage="perpage" @setPerpage="setPerpage" @setPage="setPage" />
        </div>
    </section>
</template>
<script>
    import AdminTableTaxReport from '@/components/admin/table/TaxReport.vue'
    import Select from 'vue-multiselect'
    import { mapActions, mapState, mapMutations } from 'vuex'
     
    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }
     ;
    export default {
        async asyncData({store}) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = yyyy + '-' + mm + '-' + dd;
            await store.dispatch('accounting/getTax', {
                from: today,
                to: today,
                location: '',
            })
            let stores_data = await store.dispatch('store/getStores', 'all')
            return{
                stores : stores_data.data,
            }
        },
        data() {
            return {
                date: null,
                page: 1,
                perpage: 25,
                stores: [],
                location:'',
                location_selected:'',
                action: false
            }
        },
        watch: {
            date: {
                handler: function(newValue) {
                    this.page = 1
                    this.generateTax(this.moment(newValue.start).format('Y-MM-DD'), this.moment(newValue.end).format('Y-MM-DD'), this.location_selected != '' ? this.location_selected.store_id:'', this.page, this.perpage )
                },
                deep: true
            },
            location_selected(){
                if(this.date != null){
                    this.page = 1
                    this.generateTax(this.moment(this.date.start).format('Y-MM-DD'), this.moment(this.date.end).format('Y-MM-DD'), this.location_selected != '' ? this.location_selected.store_id:'', this.page, this.perpage )
                }
            }
        },
        components:{
            'admin-table-tax-report': AdminTableTaxReport,
            'app-select': Select
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            })
        },
        methods: {
            ...mapActions('accounting', ['getTax', 'getPDF','getCSV','downloadCSV']),
            ...mapMutations(['SET_LOADING_TABLE']),
            fillterLocation(){
                this.location = this.location_selected.store_id
            },
            showAction(){
                this.action = true
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                }
                this.location = ''
                this.location_selected=''
            },
            generateTax(from, to, store_id, page, perpage) {
                this.SET_LOADING_TABLE(true)
                this.getTax({ from: from, to: to, store_id: store_id, page: page, perpage: perpage }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            setPage(val){
                this.page = val
                this.generateTax(this.moment(this.date.start).format('Y-MM-DD'), this.moment(this.date.end).format('Y-MM-DD'), this.location_selected != '' ? this.location_selected.store_id:'', this.page, this.perpage )
            },
            setPerpage(val){
                this.page = 1,
                this.perpage = val
                this.generateTax(this.moment(this.date.start).format('Y-MM-DD'), this.moment(this.date.end).format('Y-MM-DD'), this.location_selected != '' ? this.location_selected.store_id:'', this.page, this.perpage )
            },
            viewPdf() {
                this.getPDF({ type: 'tax', from: this.moment(this.date.start).format('Y-MM-DD'), to: this.moment(this.date.end).format('Y-MM-DD'), store_id: this.location_selected != '' ? this.location_selected.store_id:'' })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                this.getCSV({ 
                    type: 'tax-report', 
                    from: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    to: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store_id: this.location_selected != '' ? this.location_selected.store_id:''
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                        end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    })
                })
            },
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scooped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

