<template>
    <div>
        <BackLink :link="historyRouteOrder" title="Delivery" />
        <app-form-delivery />
    </div>
</template>

<script>
import BackLink from '@/components/utilities/BackLink'
import FormDelivery from '@/components/form/Delivery'
import { mapActions } from 'vuex'

export default {
    async asyncData ({ store, route }) {
        await Promise.all([
            store.dispatch('deliveryDetail/getDeliveryDetails', route.params.id),
            store.dispatch('delivery/getDelivery', route.params.id),
            store.dispatch('deliveryTimes/getDeliveryTimes'),
            store.dispatch('deliveryDetail/getDeliveryBooked', {order_no: route.params.id, past_date: 0}),
            store.dispatch('deliveryDetail/getDeliveryBooked', {order_no: route.params.id, past_date: 1}),
            store.dispatch('deliveryDetail/getScheduleOff'),
            store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
            store.dispatch('store/getStores', 'all')
        ])
    },
    data: () => ({
        routeOrder: null,
        historyRouteOrder: {
            name: 'index'
        }
    }),
    mounted(){
        this.backRoute()
        this.listenDeliveryChange()
    },
    methods: {
        ...mapActions({
            'getDeliveryDetails' : 'deliveryDetail/getDeliveryDetails'
        }),
        getHistoryOrder(){
            return new Promise((resolve, reject) =>{
                this.routeOrder = localStorage.getItem('history-route-order')
                resolve()
            })
        },
        backRoute(){
            this.getHistoryOrder()
            .then(() => {
                if(this.routeOrder){
                    if(this.routeOrder.includes('product-search-id')) this.historyRouteOrder = JSON.parse(this.routeOrder)
                    else if(this.routeOrder.includes('/customers/detail')) this.historyRouteOrder = {path: this.routeOrder}
                    else this.historyRouteOrder = {name: this.routeOrder}
                }else{
                    this.historyRouteOrder = {name: 'index'}
                }
            })
        },
        listenDeliveryChange(){
             Echo.private(`refresh-delivery-page-${this.$route.params.id}`)
            .listen('RefreshDeliveryPage', (e) => {
                this.getDeliveryDetails(this.$route.params.id)
            })
        },
        removeListen(){
            Echo.private(`refresh-delivery-page-${this.$route.params.id}`)
            .stopListening('RefreshDeliveryPage')
        }
    },
    destroyed(){
        this.removeListen()
    },
    components: {
        BackLink,
        'app-form-delivery' : FormDelivery
    },
    transition: 'slide',
    layout: 'admin'
}
</script>
