<template>
    <div>
        <app-modal-product />
    </div>
</template>

<script>
    import ModalProduct from '@/components/admin/modal/Product.vue'

    export default {
        async asyncData({ store, route}){
            return await store.dispatch('category/getCategories', route.params.id)
        },
        components: {
            'app-modal-product': ModalProduct,
        },
        transition: 'slide',
    }
</script>