<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon rounded-top-right--0 rounded-bottom-right--0" v-model="search" v-width="'250px'" placeholder="Search" @keypress.enter="searchLocation">
                    <i class="fas fa-search"></i>
                </div>
                <button class="btn btn-primary rounded-top-left--0 rounded-bottom-left--0" @click="searchLocation"><i class="fas fa-search"></i></button>
            </div>
            <!-- <nuxt-link tag="a" to="#" class="btn btn-primary"><span><i class="fas fa-plus"></i></span> New Store</nuxt-link> -->
        </div>
        <table-location />
    </div>
</template>

<script>
import TableLocation from '@/components/admin/table/LocationPriceTag'
import {mapActions, mapMutations} from 'vuex'
import _ from 'lodash'

export default {
    transition: 'slide',
    data: () => ({
        search: ''
    }),
    components: {
        TableLocation
    },
    watch: {
        search(value){
            if(value.length == 0) this.searchLocation()
        }
    },
    methods: {
        ...mapMutations(['SET_LOADING_TABLE']),
        ...mapActions({
            getPriceTagStores: 'priceTag/getPriceTagStores'
        }),
        searchLocation: _.debounce(function(){
            this.SET_LOADING_TABLE(true)
            this.getPriceTagStores({search: this.search})
            .then(() => {
                this.SET_LOADING_TABLE(false)
            })
        })
    }
}
</script>

<style>

</style>