<template>
    <div>
        <h3 class="font-weight-600 mb-0">Product Conditions</h3>
        <div class="text-right">
            <nuxt-link
                tag="a"
                :to="{ name: 'settings-condition-create' }"
                class="btn btn-primary"
                >Add New Condition</nuxt-link
            >
        </div>
        <ConditionTable class="mt-4" @changePerpage="setPerPage" @changePage="setPage" />
    </div>
</template>

<script>
import ConditionTable from '@/components/admin/table/Condition.vue';

import { mapActions } from "vuex";

export default {
    name: "Condition",
    transition: "slide",
    layout: "admin",
    components: {
        ConditionTable,
    },
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch("condition/getConditions", {
                perpage: 10,
                page: 1,
                store_id: null,
            }),
        ]);
    },
    data: () => ({
        perpage: 10,
        page: 1,
    }),
    methods: {
        ...mapActions({
            getConditions: "condition/getConditions",
        }),
        setPerPage(val) {
            this.perpage = val;
            this.fetchCondition();
        },
        setPage(val) {
            this.page = val;
            this.fetchCondition();
        },
        fetchCondition() {
            this.getConditions({
                page: this.page,
                perpage: this.perpage,
            });
        },
        resetFilter() {
            this.store_selected = null;
            this.fetchCondition();
        },
    },
};
</script>
