<template>
    <div class="mt-3">
        <h4 class="font-weight-bold mb-4">Calendar</h4>
        <no-ssr><app-calendar :defaultView="'month'" :events="eventFromated" @event-created="addEvent" @event-selected="showEvent"></app-calendar></no-ssr>
        <app-modal @hide="hideModalDelete" title="Delete event" size="md" centered v-model="modalDelete">
            <h5 class="mb-0">Are you sure want to delete this event?</h5>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-outline-primary mr-3" @click="hideModalDelete" :disabled="isLoading">Cancel</button>
                    <button class="btn btn-danger" @click.prevent="destroyEvent" :disabled="isLoading">
                        <div class="px-2" v-if="isLoading">
                            <b-spinner variant="light" small></b-spinner>
                        </div>
                        <span v-else>Delete</span>
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal @hide="modal = false" size="lg" centered v-model="modal">
            <template slot="modal-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h5 class="mb-0 font-weight-500">{{id != null ? 'Edit' : 'New' }} event</h5>
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="mr-2" @click="showModalDelete" v-if="id != null"><i class="far fa-trash-alt text-gray"></i></a>
                        <button type="button" aria-label="Close" class="close" @click="modal= false">×</button>
                    </div>
                </div>
            </template>
            <div class="form-group" v-if="modal">
                <label for="name" class="font-weight-bold" :class="{ 'text-danger': errors.has('eventName') }">Event Name</label>
                <input type="text" id="name" class="form-control" v-model="event_name" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('eventName'), 'form-control':true}" name="eventName" data-vv-as="event name">
                <span v-show="errors.has('eventName')" class="text-danger">{{ errors.first('eventName') }}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-bold">Who sees this event?</label>
                <no-ssr>
                    <app-select 
                        placeholder="Type" 
                        :options="type.options" 
                        :searchable="false" 
                        :internal-search="false" 
                        :show-labels="false"
                        :allow-empty="false"
                        label="label"
                        trackBy="id"
                        :preselect-first="true"
                        :openDirection="'bottom'"
                        v-model="type.selected">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="dateStart" class="font-weight-bold" :class="{ 'text-danger': validateDateStart }">Date Start</label>
                    <no-ssr><app-datepicker v-model="date.start" mode="single">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="11/20/2018" id="dateStart" class="form-control form-icon" ref="dateStart" name="dateStart"  :value="inputValue" readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker></no-ssr>
                    <span v-show="validateDateStart" class="text-danger">The date start field must be before date end.</span>
                </div>
                <div class="form-group col-6">
                    <label for="dateEnd" class="font-weight-bold" :class="{ 'text-danger': validateDateEnd }">Date End</label>
                    <no-ssr><app-datepicker v-model="date.end" mode="single">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="11/20/2018" id="dateEnd" class="form-control form-icon" :value="inputValue" readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker></no-ssr>
                    <span v-show="validateDateEnd" class="text-danger">The date end field must be after date start.</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 d-flex flex-column">
                    <label for="startTime" class="font-weight-bold" :class="{ 'text-danger': errors.has('startTime') }">Start Time</label>
                    <el-time-picker
                        class="w-100"
                        v-model="startTime"
                        placeholder="00:00:00">
                    </el-time-picker>
                    <span v-show="errors.has('startTime')" class="text-danger">{{ errors.first('startTime') }}</span>
                </div>
                <div class="form-group col-6 d-flex flex-column">
                    <label for="endTime" class="font-weight-bold" :class="{ 'text-danger': errors.has('endTime') }">End Time</label>
                    <el-time-picker
                        class="w-100"
                        v-model="endTime"
                        placeholder="00:00:00">
                    </el-time-picker>
                    <span v-show="errors.has('endTime')" class="text-danger">{{ errors.first('endTime') }}</span>
                </div>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary" @click="modal = false" :disabled="isLoading">Cancel</button>
                    <button class="btn btn-primary" @click.prevent="submitEvent" :disabled="isLoading">
                        <div class="px-2" v-if="isLoading">
                            <b-spinner variant="light" small />
                        </div>
                        <span v-else>Save</span>
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    // import { FullCalendar } from 'vue-full-calendar'
    let FullCalendar
    // import ActionLocation from '@/components/action/Location.vue'
     
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import { mapState, mapActions } from 'vuex'
    import Select from 'vue-multiselect'

    if (process.client) {
        FullCalendar = require('vue-full-calendar').FullCalendar
    }

     

    export default {
        async asyncData({ store }) {
            return await store.dispatch('calendar/getCalendar')
        },
        data() {
            return {
                id: null,
                isLoading: false,
                temp_id: null,
                modalDelete: false,
                event_name: '',
                date: {
                    start: null,
                    end: null
                },
                startTime: new Date().setTime(1597770000000),
                endTime: new Date().setTime(1597770000000),
                time: {
                    start: new Date(2016, 9, 10, 18, 40),
                    end: new Date(2016, 9, 10, 18, 40),
                },
                modal: false,
                validateDateStart: null,
                validateDateEnd: null,
                validated: null,
                type: {
                    selected: null,
                    options: [
                        {
                            label: 'Company',
                            id: 0
                        },
                        {
                            label: 'Creator',
                            id: 1
                        }
                    ]
                }
            }
        },
        computed: {
            ...mapState('calendar', {
                events: state => state.events
            }),
            eventFromated(){
                return this.events.map(i => {
                    return {
                        id: i.id,
                        start: i.start_event_datetime,
                        end: i.end_event_datetime,
                        title: i.title
                    }
                })
            }
        },
        watch: {
            modal(){
                if(this.modal == false){
                    this.event_name = ''
                    this.validateDateStart = null
                    this.validateDateEnd = null
                    this.validated = null
                    this.date.start = null
                    this.date.end = null
                    this.type.selected = null
                    this.startTime = new Date().setTime(1597770000000)
                    this.endTime = new Date().setTime(1597770000000)
                    this.id = null
                }
                this.errors.clear()
                
            }
        },
        methods: {
            ...mapActions('calendar', ['addNewEvent', 'updateEvent', 'getCalendar', 'deleteEvent']),
            showModalDelete(){ 
                this.temp_id = this.id
                this.modalDelete = true
                this.modal = false
            },
            hideModalDelete(){
                this.temp_id = null
                this.modalDelete = false
            },
            destroyEvent(){
                this.isLoading = true
                this.deleteEvent(this.temp_id)
                .then(() => {
                    this.getCalendar().then(() => {
                        this.isLoading = false
                        this.hideModalDelete()
                    })
                })
            },
            addEvent(date) {
                this.date.start = new Date(date.start.format('YYYY-MM-DD'))
                this.date.end = new Date(date.end.format('YYYY-MM-DD'))
                this.modal = true
            },
            showEvent(value){
                this.id = value.id
                this.event_name = value.title
                this.date.start = new Date(value.start) 
                this.date.end = new Date(value.end) 
                this.startTime = new Date(value.start)
                this.endTime = new Date(value.end)
                let type = this.type.options.filter(i => {return i.id === value.type})
                this.type.selected = type
                this.modal = true
            },
            async validation(){
                await this.$validator.validateAll()
                if (this.errors.items.length <= 0 && !this.validateDateStart && !this.validateDateEnd){
                    this.validated = true
                } else {
                    this.validated = false
                }
            },
            async submitEvent() {
                await this.validation()
                if(this.validated){
                    this.isLoading = true
                    if(this.id != null){
                        this.updateEvent({
                            id: this.id,
                            event_name: this.event_name,
                            start: this.moment(this.date.start).format('YYYY-MM-DD'),
                            end: this.moment(this.date.end).format('YYYY-MM-DD') ,
                            start_time: this.moment(this.startTime).format('HH:mm:ss'),
                            end_time: this.moment(this.endTime).format('HH:mm:ss'),
                            type: this.type.selected.id
                        }).then(() => {
                            this.isLoading = false
                            this.getCalendar()
                            this.modal = false
                        })
                    }else{
                        this.addNewEvent({
                            event_name: this.event_name,
                            start: this.moment(this.date.start).format('YYYY-MM-DD'),
                            end: this.moment(this.date.end).format('YYYY-MM-DD') ,
                            start_time: this.moment(this.startTime).format('HH:mm:ss'),
                            end_time: this.moment(this.endTime).format('HH:mm:ss'),
                            type: this.type.selected.id
                        }).then(() => {
                            this.isLoading = false
                            this.modal = false
                        })
                    }
                }
            }
        },
        components: {
            'app-modal': Modal,
            'app-calendar': FullCalendar,
            'app-select': Select
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
<style>

</style>