<template>
    <div>
        <h3 class="font-weight-bold mb-0">
            All Notification Settings
        </h3>

        <div class="mt-3 mb-4">
            <b-tabs>
                <b-tab title="Internal Notifications" @click="$router.push({ name: 'settings-notifications-index-internal-notifications' })" :active="$route.name.includes('internal-notifications')"></b-tab>
                <b-tab title="Customer Notifications" @click="$router.push({ name: 'settings-notifications-index-customer-notifications-index-email' })" :active="$route.name.includes('customer-notifications')"></b-tab>
            </b-tabs>
        </div>

        <NuxtChild />
    </div>
</template>

<script>
export default {
    name: 'Notifications',
    transition: 'slide',
    layout: 'admin',
}
</script>
