<template>
    <div>
        <h3 class="font-weight-600 mb-4">Stock Movement - {{model}}</h3>
        <div class="d-flex align-items-center mb-4">
            <app-select
                v-model="reference.selected" 
                :options="reference.options" 
                :close-on-select="true" 
                :clear-on-select="false" 
                :preserve-search="true"
                :preselect-first="false"
                :show-labels="false"
                placeholder="Select Reference" 
                label="label" 
                track-by="id" 
                v-width="'250px'"
                class="mr-3"
                @input="filterStockMovement"
            />
            <app-select
                v-model="stockType.selected" 
                :options="stockType.options" 
                :close-on-select="true" 
                :clear-on-select="false" 
                :preserve-search="true"
                :preselect-first="false"
                :show-labels="false"
                placeholder="Choose Stock Type" 
                label="label" 
                track-by="id" 
                v-width="'250px'"
                class="mr-3"
                @input="filterStockMovement"
            />
            <button class="btn btn-primary" @click="reset">Reset Filter</button>
        </div>
        <TableMovement />
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import TableMovement from '@/components/admin/table/StockMovement'
import {mapActions, mapState} from 'vuex'
export default {
    transition: 'slide',
    layout: 'admin',
    components: {
        'app-select': Select,
        TableMovement
    },
    async fetch({store, route}){
        await Promise.all([
            store.dispatch('inventory/getStockMovement', {
                inventory_id: route.params.id,
                stock_type: '',
                reference: ''
            })
        ])
    },
    data: () => ({  
        reference: {
            options: [
                {
                    id: 0,
                    label: 'Order',
                },
                {
                    id: 1,
                    label: 'Single Inventory',
                },
                {
                    id: 2,
                    label: 'Bulk Inventory',
                },
                {
                    id: 3,
                    label: 'Ordered Stock',
                },
                {
                    id: 5,
                    label: 'Change Stock'
                }
            ],
            selected: null
        },
        stockType: {
            options: [
                {
                    id: 0,
                    label: 'Tagged Stock'
                },
                {
                    id: 1,
                    label: 'Pending Stock'
                },
                {
                    id: 2,
                    label: 'Available Stock'
                }
            ],
            selected: null
        }
    }),
    computed: {
        ...mapState('inventory', {
            model: state => state.stock_movement_model
        })
    },
    methods: {
        ...mapActions('inventory', ['getStockMovement']),
        reset() {
            this.reference.selected = null
            this.stockType.selected = null
            this.filterStockMovement()
        },
        filterStockMovement() {
            this.getStockMovement({
                inventory_id : this.$route.params.id,
                stock_type: this.stockType.selected != null ? this.stockType.selected.id : '',
                reference: this.reference.selected != null ? this.reference.selected.id : ''        
            })
        }
    }
}
</script>

<style>

</style>