<template>
    <app-modal-change-location/>
</template>

<script>
    import ModalChangeLocation from '@/components/modal/ChangeLocation.vue'

    export default {
        name: 'ChangeLocation',
        head: {
            title: 'Change Location - POS Slyman Brothers Appliance Centers of Missouri'
        },
        async asyncData ({ store }) {
            await store.dispatch('store/getStores')
            await store.dispatch('dashboard/getStoreActive')
            return
        },
        components: {
            'app-modal-change-location': ModalChangeLocation,
        },
        transition: 'slide',
    }
</script>
