<template>
    <div>
        <transition name="fade">
            <div class="bg-overlay" v-if="value" @click.prevent="$emit('input', false)"></div>
        </transition>
        <transition name="slide-left">
            <div class="card card-popup chat__action p-4" v-if="value">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="font-weight-600 mb-0" v-if="addPeople">Add people</h4>
                    <h4 class="font-weight-600 mb-0" v-else>{{edit ? 'Edit' : 'Create'}} group</h4>
                    <a href="#" class="h1 font-weight-300 mb-0 text-dark" @click.prevent="$emit('input', false)">&times;</a>
                </div>
               <div class="form-group">
                   <label for="#">Group name</label>
                   <input type="text" class="form-control" v-model="groupName" :disabled="addPeople">
               </div>
               <div class="form-group" v-if="!edit">
                   <label for="#">Assigned</label>
                   <no-ssr>
                       <app-select
                        v-model="groupAssign"
                        placeholder="Select"
                        :select-label="''"
                        :label="addPeople ? 'sender_name' : 'name'"
                        track-by="user_id"
                        :multiple="true"
                        :options="memberOptions"
                        :taggable="true"
                       >
                        <template slot="option" slot-scope="props">
                            <div class="d-flex align-items-center">
                                <div class="chat__contact--item-image">
                                    <img :src="addPeople ? 'https://images.slymanmedia.com/50x,fit,q100/' + props.option.photo : 'https://images.slymanmedia.com/50x,fit,q100/' + props.option.image" alt="" class="img-fluid rounded-circle">
                                </div>
                                <h6 class="mb-0 ml-3">{{addPeople ? props.option.sender_name : props.option.name}}</h6>
                            </div>
                        </template>
                       </app-select>
                   </no-ssr>
               </div>
               <template v-if="addPeople || edit">
                    <label for="#" class="mt-1">{{edit ? 'Manage member' : 'Member'}}</label>
                    <div class="card card__member mb-3 p-3">
                        <template v-for="(member, index) in groupSelected.member">
                            <div class="card__member--item d-flex align-items-center py-2" :key="index" v-if="member.is_admin != 1">
                                <div class="chat__contact--item-image">
                                    <img :src="'https://images.slymanmedia.com/50x,fit,q100/' + member.photo" alt="" class="img-fluid rounded-circle">
                                </div>
                                <h6 class="mb-0 ml-3">{{member.sender_name}} </h6>
                                <div class="badge badge-danger ml-auto cursor-pointer rounded" v-if="edit" @click="deleteMember(index)">Delete</div>
                            </div>
                        </template>
                    </div>
               </template>
               <div class="d-flex align-items-center mt-3" v-if="addPeople || edit">
                    <div class="chat__contact--item-image">
                        <img :src="'https://images.slymanmedia.com/50x,fit,q100/' + adminGroup[0].photo" alt="" class="img-fluid rounded-circle">
                    </div>
                    <h6 class="mb-0 ml-3">{{adminGroup[0].sender_name}} </h6>
                    <div class="badge badge-primary ml-2 p-2">Creator</div>
               </div>
               <div class="d-flex align-items-center mt-3" v-else>
                    <div class="chat__contact--item-image">
                        <img :src="'https://images.slymanmedia.com/50x,fit,q100/' + $auth.$state.user.display_picture" alt="" class="img-fluid rounded-circle">
                    </div>
                    <h6 class="mb-0 ml-3">{{$auth.$state.user.fullname}} </h6>
                    <div class="badge badge-primary ml-2 p-2">Creator</div>
               </div>
               <div class="d-flex align-items-center mt-auto mb-5">
                   <button class="btn btn-dark-blue w-100" :disabled="isLoading" @click="submitGroup">
                        <b-spinner small v-if="isLoading"></b-spinner>
                        <template v-else>
                            <template v-if="edit">
                                Update
                            </template>
                            <template v-else>
                                Add
                            </template>
                        </template>
                   </button>
                   <button class="btn btn-outline-dark-blue w-100 ml-2" @click.prevent="$emit('input', false)">Cancel</button>
               </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Select from 'vue-multiselect'

    export default {
        components: {
            'app-select' : Select
        },
        data() {
            return {
                groupName: null,
                groupAssign: [],
                isLoading: false
            }
        },
        watch:{
            value(){
                this.edit || this.addPeople ? this.groupName = this.groupSelected.name : this.groupName = null
            }
        },
        computed: {
            ...mapState('chat', {
                chatList: state => state.chatList,
                groupSelected: state => state.groupSelected
            }),
            memberOptions(){
                if(this.addPeople){
                    return this.groupSelected.non_member
                }else{
                    return this.chatList.user
                }
            },
            adminGroup(){
                return this.groupSelected.member.filter(v=> {return v.is_admin == 1})
            }
        },
        methods: {
            ...mapActions('chat', ['createGroupChat','getChatList', 'updateGroup', 'getConversation' ,'addPeopleGroup']),
            deleteMember(index){
                this.groupSelected.member.splice(index, 1)
            },
            submitGroup(){
                this.isLoading = true
                if(this.edit){
                    let member = []
                    this.groupSelected.member.forEach(v =>{
                        member.push(v.user_id)
                    })
                    this.updateGroup({
                        group_name : this.groupName,
                        user_id : this.groupSelected.user_id,
                        member : member
                    }).then(() =>{
                        this.getConversation({
                            sender_id: this.$auth.$state.user.user_id,
                            receiver_id: this.groupSelected.user_id,
                            page: 1,
                            with_conv: false
                        }).then(() =>{
                            this.getChatList({
                                id : this.$auth.$state.user.user_id,
                                q : ""
                            }).then(() =>{
                                this.$emit('input', false)
                                this.isLoading = false
                            })
                        })
                    })
                }else if(this.addPeople){
                    let member = []
                    this.groupAssign.forEach(v =>{
                        member.push(v.user_id)
                    })
                    this.addPeopleGroup({
                        user_id : this.groupSelected.user_id,
                        member : member
                    }).then(() =>{
                        this.getConversation({
                            sender_id: this.$auth.$state.user.user_id,
                            receiver_id: this.groupSelected.user_id,
                            page: 1,
                            with_conv: false
                        }).then(() =>{
                            this.getChatList({
                                id : this.$auth.$state.user.user_id,
                                q : ""
                            }).then(() =>{
                                this.$emit('input', false)          
                                this.isLoading = false
                                this.groupAssign = []
                            })
                        })
                    })
                }else{
                    let member = []
                    this.groupAssign.forEach(v =>{
                        member.push(v.user_id)
                    })
                    this.createGroupChat({
                        group_name : this.groupName,
                        user_id : this.$auth.$state.user.user_id,
                        member : member
                    }).then(() =>{
                        // this.getChatKey(this.$auth.$state.user.user_id)
                        this.getChatList({
                            id : this.$auth.$state.user.user_id,
                            q : ""
                        }).then(() =>{
                            this.$emit('input', false)
                            this.isLoading = false
                            this.groupAssign = [] 
                        })
                    }) 
                }
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            },
            addPeople: {
                type: Boolean,
                default: false
            },
            edit: {
                type: Boolean,
                default: false
            }
        }
    }
</script>