<template>
    <transition name="slide">
        <div class="card card-popup" v-if="value">
            <div class="card-header bg-white d-flex align-items-center">
                <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                <h4 class="text-center font-weight-bold w-100 mb-0">{{ customer.selected.name }}</h4>
            </div>
            <div class="card-body bg-gray-100">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <h5>{{ customer.selected.id }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <h5>{{ customer.selected.name }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Company / Builder Code</label>
                            <h5>{{ customer.selected.company == '' ? '-' : customer.selected.company }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <h5>{{ customer.selected.phoneNumber == '' ? '-' : customer.selected.phoneNumber }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Billing Address</label>
                            <h5>{{ customer.selected.billingAddress == '' ? '-' : customer.selected.billingAddress }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Delivery Address</label>
                            <h5>{{ customer.selected.shippingAddress == '' ? '-' : customer.selected.shippingAddress }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <h5>{{ customer.selected.email == '' ? '-' : customer.selected.email }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white d-flex align-items-stretch p-0">
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'customer-edit-id', params: { id: customer.selected.id } }">
                    <span class="font-weight-bold">Edit</span>
                </nuxt-link>
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'customer-show-id', params: { id: customer.selected.id  } }">
                    <span class="font-weight-bold">Detail</span>
                </nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                show: true
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('customer', {
                customer(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>