<template>
    <transition name="slide">
        <div class="card card-popup" v-if="value">
            <div class="card-header bg-white d-flex align-items-center">
                <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                <h4 class="text-center font-weight-bold w-100 mb-0">{{ inventory.selected.model }}</h4>
            </div>
            <div class="card-body bg-gray-100">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Location</label>
                            <h5>{{ inventory.selected.location }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <h5>{{ inventory.selected.model }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Condition</label>
                            <h5>{{ inventory.selected.condition }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Brand</label>
                            <h5>{{ inventory.selected.brand }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <h5>{{ inventory.selected.category }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Sub Category</label>
                            <h5>{{ inventory.selected.subCategory }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Detail Category</label>
                            <h5>{{ inventory.selected.detailCategory }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Available Stock</label>
                            <h5>{{ inventory.selected.availableStock }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Pending Stock</label>
                            <h5>{{ inventory.selected.pendingStock }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Backorder Stock</label>
                            <h5>{{ inventory.selected.backOrderStock }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Average Cost</label>
                            <h5 v-money>{{ inventory.selected.averageCost }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer bg-white d-flex align-items-stretch p-0">
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'customer-edit-id', params: { id: customer.selected.id } }">
                    <span class="font-weight-bold">Edit</span>
                </nuxt-link>
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'customer-show-id', params: { id: customer.selected.id  } }">
                    <span class="font-weight-bold">Detail</span>
                </nuxt-link>
            </div> -->
        </div>
    </transition>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                show: true
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>