<template>
    <transition name="slide">
        <div class="card card-popup" v-if="value">
            <div class="card-header bg-white d-flex align-items-center">
                <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                <h4 class="text-center font-weight-bold w-100 mb-0">{{ order.selected.order_no }}</h4>
            </div>
            <div class="card-body bg-gray-100">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Order Date</label>
                            <h5>{{ order.selected.order_date }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Customer</label>
                            <h5>{{ order.selected.bill_name }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <h5>{{ order.selected.bill_phone_number }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Total</label>
                            <h5 v-money>{{ order.selected.total }}</h5>
                        </div>
                        <div class="form-group" v-if="order.selected.scheduled != ''">
                            <label>Schedule Delivery</label>
                            <h5 v-html="order.selected.scheduled"></h5>
                        </div>
                        <div class="form-group">
                            <label>Balance Due</label>
                            <h5 v-html="order.selected.balance_due"></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white d-flex align-items-stretch p-0">
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name:'order-view'}">
                    <span class="font-weight-bold">View Order</span>
                </nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                show: true
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            },
            open: {
                type: Boolean,
                default: false
            },
            completed: {
                type: Boolean,
                default: false
            },
            closed: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('order', {
                order(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>