<template>
    <transition name="slide">
        <div class="card card-popup" v-if="value">
            <div class="card-header bg-white d-flex align-items-center">
                <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                <h4 class="text-center font-weight-bold w-100 mb-0">{{ quote.selected.quote_no }}</h4>
            </div>
            <div class="card-body bg-gray-100">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Quote Date</label>
                            <h5>{{ quote.selected.quote_date }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Quote</label>
                            <h5>{{ quote.selected.quote_no }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Customer</label>
                            <h5>{{ quote.selected.bill_name }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <h5>{{ quote.selected.store.store_name }}</h5>
                        </div>
                        <div class="form-group">
                            <label>Expiration Date</label>
                            <h5>{{ quote.selected.valid_quote_date}}</h5>
                        </div>
                        <div class="form-group">
                            <label>Total</label>
                            <h5 v-money>{{ quote.selected.total}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white d-flex align-items-stretch p-0">
                <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'quotes-view-id', params: { id: quote.selected.quote_no } }">
                    <span class="font-weight-bold">View Quote</span>
                </nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                show: true
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('quote', {
                quote(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>