<template>
    <div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="store" :class="{ 'text-danger': errors.has('store') }" class="font-weight-600">Location</label>
                <no-ssr>
                    <app-select
                        v-model="store_selected"
                        :options="items"
                        :close-on-select="true"
                        :clear-on-select="false"
                        :hide-selected="false"
                        :preserve-search="true"
                        placeholder="Select Location"
                        label="store_name"
                        track-by="store_id"
                        :allow-empty="false"
                        deselect-label=""
                        :preselect-first="false"
                        :show-labels="false"
                        @input="onChangeStore($event)"
                        v-validate="'required'" :class="{'is-invalid': errors.has('store')}" name="store" data-vv-as="store">
                    </app-select>
                </no-ssr>
                <span v-show="errors.has('store')" class="text-danger">{{ errors.first('store') }}</span>
            </div>
            <!-- <div class="col-6">
                <label for="stockLevel" :class="{ 'text-danger': errors.has('stockLevel') }">Stock Level</label>
                <no-ssr><app-select
                    v-model="stocks.stock_selected"
                    :options="stocks.data"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    placeholder="Select Stock Level"
                    label="stock_name"
                    track-by="stock_type"
                    :preselect-first="false"
                    :allow-empty="false"
                    deselect-label=""
                    @input="onChangeStock"
                    v-validate="'required'" :class="{'is-invalid': errors.has('stockLevel')}" name="stockLevel" data-vv-as="stock level"
                >
                </app-select></no-ssr>
                <span v-show="errors.has('stockLevel')" class="text-danger">{{ errors.first('stockLevel') }}</span>
            </div> -->
            <div class="col-6" autocomplete="off">
                <label for="model" :class="{ 'text-danger': errors.has('model')}" class="font-weight-600">Model</label>
                <no-ssr>
                    <app-select
                        v-model="product_selected"
                        id="ajax"
                        label="product_id"
                        track-by="product_id"
                        placeholder="Type model"
                        open-direction="bottom"
                        :loading="isLoading"
                        :options="products"
                        :multiple="false"
                        :searchable="true"
                        :select-label="'Select'"
                        :internal-search="false"
                        :clear-on-select="true"
                        :close-on-select="true"
                        :options-limit="300"
                        :limit="3"
                        :max-height="600"
                        :show-no-results="false"
                        :show-no-options="false"
                        :show-labels="false"
                        :hide-selected="true"
                        @search-change="asyncFind"
                        @input="changeProductId"
                        ref="modelFinder"
                        v-validate="'required'" :class="{'is-invalid': errors.has('model')}" name="model" data-vv-as="model">
                        <span slot="caret" v-show="false"></span>
                        <template slot="singleLabel" slot-scope="props">
                            <div class="d-flex flex-column">
                                <span class="text-uppercase">{{ props.option.product_id }}</span>
                                <span class="option__title">{{ props.option.brand }} - {{ props.option.short_description }}</span>
                            </div>
                        </template>
                        <template slot="option" slot-scope="props">
                            <div class="option__desc">
                                <span class="option__title">
                                    {{ props.option.product_id }}
                                </span>
                                <br>
                                <span class="option__small">{{ props.option.brand }} - {{ props.option.short_description }}</span>
                            </div>
                        </template>
                    </app-select>
                </no-ssr>
                <span v-show="errors.has('model')" class="text-danger">{{ errors.first('model') }}</span>
            </div>
            <div class="col-6" v-if="stock_type == 1">
                <label for="#" class="font-weight-600">Condition</label>
                <no-ssr>
                    <app-select
                        v-model="condition.selected"
                        :options="conditions"
                        :allow-empty="false"
                        :preserve-search="true"
                        placeholder="Select Condition"
                        label="name"
                        track-by="id"
                        :show-labels="false"
                        :preselect-first="true"
                        @input="fillterCondition">
                    </app-select>
                </no-ssr>
            </div>
            <!-- <div class="col-6" v-else>
                <label for="#" class="font-weight-600">Estimated Availability</label>
                <div class="icon icon-left">
                    <no-ssr>
                        <app-datepicker mode="single" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary calendar-icon"></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </div>
            </div> -->
            <div class="col-12" v-if="showFormNewCondition">
                <hr class="mt-3 mb-3">
            </div>
            <template v-if="showFormNewCondition">
                <div class="col-md-6">
                    <div class="form-group--inner mb-3">
                        <label for="#" class="font-weight-600">Regular Price</label>
                        <no-ssr>
                            <vue-numeric currency="$" class="form-control" v-model="regular_price" v-bind:precision="2"></vue-numeric>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group--inner mb-3">
                        <label for="#" class="font-weight-600">Our Price</label>
                        <no-ssr>
                            <vue-numeric currency="$" class="form-control" v-model="our_price" v-bind:precision="2"></vue-numeric>
                        </no-ssr>
                    </div>
                </div>
            </template>
            <div class="col-12">
                <hr class="mt-3 mb-3">
            </div>
            <div class="col-6">
                <div class="form-group--inner mb-3">
                    <label for="#" class="font-weight-600" v-if="stock_type == 0">Pending Stock</label>
                    <label for="#" class="font-weight-600" v-else-if="stock_type == 1">Available Stock</label>
                    <label for="#" class="font-weight-600" v-else>Back Order Stock</label>
                    <input type="text" class="form-control" disabled v-model="stock.stock">
                </div>
                <div class="form-group-inner mb-3">
                    <label for="addStock" :class="{ 'text-danger': errors.has('addStock') }" class="font-weight-600">Add Stock</label>
                    <input type="number" class="form-control" v-model.number="new_stock" :min="0" v-validate="'required|numeric'" :class="{'input': true, 'is-invalid': errors.has('addStock'), 'form-control':true}" name="addStock" data-vv-as="add stock">
                    <span v-show="errors.has('addStock')" class="text-danger">{{ errors.first('addStock') }}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group--inner mb-3">
                    <label for="#" class="font-weight-600">Current Cost <span class="small">(per unit)</span></label>
                    <no-ssr>
                        <vue-numeric disabled currency="$" class="form-control" v-model="stock.cost" v-bind:precision="2"></vue-numeric>
                    </no-ssr>
                </div>
                <div class="form-group-inner mb-3">
                    <label for="newCost" class="font-weight-600" :class="{ 'text-danger': errors.has('newCost') }">New Cost <span class="small">(per unit)</span></label>
                    <no-ssr>
                        <vue-numeric v-validate="'required'" currency="$" :class="{'input': true, 'is-invalid': errors.has('newCost'), 'form-control':true }" name="newCost" id="newCost" data-vv-as="new cost" v-model="new_cost" v-bind:precision="2"></vue-numeric>
                    </no-ssr>
                    <span v-show="errors.has('newCost')" class="text-danger">{{ errors.first('newCost') }}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group--inner mb-3">
                    <label for="#" class="font-weight-600">New Total Stock</label>
                    <input type="text" class="form-control" disabled v-model="cal_new_stock">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group--inner mb-3">
                    <label for="#" class="font-weight-600">New Cost <span class="small">(per unit)</span></label>
                    <no-ssr>
                        <vue-numeric disabled currency="$" class="form-control" v-model="cal_new_cost" v-bind:precision="2"></vue-numeric>
                    </no-ssr>
                </div>
            </div>
            <div class="col-12">
                <hr class="mt-3 mb-3">
            </div>
            <template v-if="showFormNewCondition && new_stock === 1">
                <div class="form-group col-md-12">
                    <div class="form-group--inner mb-3">
                        <label for="#" class="font-weight-600">Description</label>
                        <textarea class="form-control resize-none" v-model="description"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group--inner mb-3">
                        <label for="#" class="font-weight-600">Photo Upload</label>
                        <div class="dropable-form">
                            <b-form-file
                                multiple
                                placeholder="Choose a file or drop it here..."
                                drop-placeholder="Drop file here..."
                                accept="image/png, image/jpeg, image/jpg, image/heic"
                                @input="handleInputFile"
                            >
                                <template slot="file-name">
                                    Choose a file or drop it here...
                                </template>
                            </b-form-file>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <transition name="fade" mode="out-in">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100" key="1" v-if="isCompressing">
                            <b-spinner variant="primary" class="mb-2" />
                            <p>Compressing...</p>
                        </div>
                        <div key="2" v-else>
                            <div
                                class="d-flex align-items-center"
                                v-for="(file, indexFile) in files"
                                :key="indexFile"
                                :class="{ 'mt-2': indexFile !== 0 }">
                                <div class="flex-row">
                                    <i class="far fa-file-image text-gray fa-lg"></i>
                                </div>
                                <div class="flex-row mx-3 flex-grow-1">
                                    <p class="mb-1 text-gray">{{file.name}}</p>
                                </div>
                                <div class="flex-row">
                                    <a href="javascript:void(0)" class="text-gray" @click="files.splice(indexFile, 1)"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </template>
            <div class="col-6">
                <label for="#" class="font-weight-600">Type</label>
                <no-ssr>
                    <app-select
                        v-model="type.selected"
                        :options="type.options"
                        :preserve-search="true"
                        :allow-empty="false"
                        :show-labels="false"
                        placeholder="Select Type"
                        label="name"
                        track-by="value"
                        @input="handleInputType">
                    </app-select>
                </no-ssr>
            </div>
            <template v-if="type.selected.value == 0">
                <div class="col-6">
                    <label for="#" class="font-weight-600">Purchase Order Number</label>
                    <input type="text" class="form-control" v-model="po_number">
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="#" class="font-weight-600">Estimated Availability</label>
                        <p-check class="p-switch p-fill" color="primary" v-model="isTBD"><span class="font-weight-600">TBD</span></p-check>
                    </div>
                    <div ref="datepickerArea">
                        <no-ssr>
                            <app-datepicker mode="single" :popoverVisibility="popoverVisibility"  @dayclick="popoverVisibility = 'focus'" :min-date="new Date()" :popoverDirection="'top'" v-model="date">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" @click="handleClickFormDate" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary calendar-icon"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
            </template>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-outline-danger mr-3" @click="resetToZero">Reset to 0 (zero)</button>
            <button class="btn btn-primary px-4" :disabled="isLoadingAdd || isDisableButton || isCompressing" @click="submit">
                <span class="mx-2" v-if="isLoadingAdd">
                    <b-spinner variant="light" small></b-spinner>
                </span>
                <span v-else>Add</span>
            </button>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import { FILE } from '@/types/consts/file';

import Select from 'vue-multiselect'
import VueNumeric from 'vue-numeric'
import PrettyCheck from 'pretty-checkbox-vue/check'
import _ from 'lodash'

import {config} from '@/constant/compressor'
let heic2any
let Compressor
if (process.browser) {
    heic2any = require('heic2any')
    Compressor = require('compressorjs')
}

export default {
    data() {
        return {
            isCompressing: false,
            files: [],
            fileSizeValidation:  FILE.size,
            popoverVisibility: 'focus',
            isLoading: false,
            isTBD: true,
            po_number: null,
            validated: null,
            product_selected:'',
            products:[],
            product_id: '',
            store_id: '',
            store_selected: '',
            new_stock: 1,
            new_cost: '',
            stock_type: 1,
            available_condition: 1,
            is_reset: 0,
            regular_price: '',
            our_price: '',
            description: '',
            date: null,
            isLoadingAdd: false,
            condition:{
                selected: null
            },
            type: {
                selected: {
                    name: 'Available Stock',
                    value: 1
                },
                options: [
                    {
                        name: 'On Order Stock',
                        value: 0
                    },
                    {
                        name: 'Available Stock',
                        value: 1
                    }
                ]
            }
        }
    },
    watch: {
        isTBD(value){
            value ? this.date = null : this.date = new Date()
        },
        store_id() {
            if (this.product_id != '' && this.store_id != '') {
                this.getPendingStock({
                    product_id: this.product_id,
                    pkProduct: this.product_selected.pkProduct,
                    store_id: this.store_id,
                    type: this.stock_type,
                    available_condition: this.available_condition
                })
            }
        },
        product_id() {
            if (this.product_id != '' && this.store_id != '') {
                this.getPendingStock({
                    product_id: this.product_id,
                    pkProduct: this.product_selected.pkProduct,
                    store_id: this.store_id,
                    type: this.stock_type,
                    available_condition: this.available_condition
                })
            }
        },
        isSizeNotValid(value) {
            console.log(value);
            this.SET_DISABLE_BUTTON(value);
        },
        // 'condition.selected': {
        //     handler(value) {
        //         if (value.id === 1) {
        //             this.description = '';
        //             this.files = [];
        //         }
        //     },
        //     deep: true,
        // },
        // new_stock(value) {
        //     if (value > 1) {
        //         this.description = '';
        //         this.files = [];
        //     }
        // }
    },
    created() {
        let indexCondition = this.conditions.findIndex(o => o.name == 'New')
        if(indexCondition != -1 ) this.condition = this.conditions[indexCondition]
        let warehouse = this._.findIndex(this.items, function(o) {
            return o.is_warehouse == true
        })

        if (warehouse == -1) {
            let store = this.$auth.$state.user.store
            this.store_selected = store
            this.store_id = store.store_id
        } else {
            this.store_selected = this.items[warehouse]
            this.store_id = this.items[warehouse].store_id
        }
    },
    methods: {
        handleInputFile($event) {
            if ($event.length > 5 || $event.length + this.files.length > 5 ) {
                this.$root.$bvToast.toast(`You can select max 5 images`, {
                    title: "Choose file failed!",
                    variant: "danger",
                    solid: true,
                });
                return;
            }

            if ($event.length <= 5) {
                this.isCompressing = true
                $event.map(file => {
                    if(file.name.toLowerCase().includes('.heic')){
                        const imageType = 'image/jpeg'
                        const imagePath = URL.createObjectURL(file)
                        fetch(imagePath)
                        .then(res => res.blob())
                        .then(blob => heic2any({
                            blob,
                            toType: imageType
                        }))
                        .then(result => {
                            this.compressImage(result, file.name)
                        })
                    }
                    else{
                        this.compressImage(file, file.name)
                    }
                })
                return;
            }
        },
        compressImage(image, filename){
            const _this = this
            new Compressor(image, {
                ...config,
                success(result) {
                    const file = new File(
                        [result],
                        `${filename.replace('.heic', '.jpeg')}`,
                    )
                    _this.files.push(file)
                    _this.isCompressing = false
                }
            })
        },
        handleInputType(){
            if(this.type.selected.value == 0){
                this.$nextTick(() => {
                    this.handleBlurDate()
                })
            }
        },
        handleClickFormDate(){
            if(this.isTBD){
                this.isTBD = false
                this.popoverVisibility = 'visible'
            }
        },
        handleBlurDate(){
            const parent = this.$refs.datepickerArea
            document.addEventListener('click', e => {
                let isClickInside = parent.contains(e.target)
                if (!isClickInside) {
                    this.popoverVisibility = 'focus'
                }
            })
        },
        changeProductId(){
            this.product_id = this.product_selected == null ? '' : this.product_selected.product_id
        },
        asyncFind: _.debounce(function(val){
            if (val.length > 1){
                this.isLoading = true
                this.$store.dispatch('product/getProductOrder', {product_id: val, search_type: ''}).then((response) => {
                    this.products = response.data
                    this.isLoading = false
                })
            }else{
                this.products = []
            }
        }, 500),
        ...mapActions('product', ['getProducts']),
        ...mapActions('store', ['getStores']),
        ...mapActions('inventory', ['getPendingStock','addStockInventory']),
        ...mapActions('product', ['getProducts']),
        ...mapActions('salesPerson', ['getSalesPersonStore']),
        ...mapMutations('inventory', ['ASSIGN_POST_STOCK']),
        ...mapMutations('salesPerson', ['SET_SALES_PERSON_SELECTED']),
        ...mapMutations('product', ['SET_PRODUCT_TABLE_DEFAULT']),
        ...mapMutations(['SET_SAVE_LOADING']),
        ...mapMutations(['SET_DISABLE_BUTTON']),
        onChangeStore(val){
            this.store_id = this.store_selected.store_id
            this.SET_SALES_PERSON_SELECTED(val)
        },
        fillterCondition(){
            this.available_condition = this.condition.selected.id
            if (this.product_id != '' && this.store_id != '') {
                this.getPendingStock({
                    product_id: this.product_id,
                    pkProduct: this.product_selected.pkProduct,
                    store_id: this.store_id,
                    type: this.stock_type,
                    available_condition: this.available_condition
                })
            }
        },
        submit() {
            return new Promise((resolve, reject) => {
                let formData = new FormData()
                formData.append('store_id', this.store_id)
                formData.append('product_id', this.product_id)
                formData.append('pkProduct', this.product_selected.pkProduct)
                formData.append('stock_type', this.type.selected.value)
                formData.append('new_stock', this.new_stock)
                formData.append('new_cost', this.new_cost)
                formData.append('is_reset', this.is_reset)
                formData.append('available_condition', this.available_condition)
                formData.append('estimated_availability', this.isTBD ? null : this.moment(this.date).format('YYYY-MM-DD'))
                if (this.available_condition == 1) {
                    formData.append('regular_price', '');
                    formData.append('our_price', '');
                }
                if (this.available_condition != 1) {
                    formData.append('regular_price', this.regular_price)
                    formData.append('our_price', this.our_price)
                }
                if (this.available_condition != 1 && this.new_stock === 1) {
                    formData.append('description', this.description);
                    for (let i = 0; i < this.files.length; i++) {
                        formData.append('photo_upload[]', this.files[i]);
                    }
                }
                if (this.available_condition == 1 && this.new_stock == 1) {
                    formData.append('description', '');
                    formData.append('photo_upload[]', '');
                }
                if (this.available_condition == 1 && this.new_stock > 1) {
                    formData.append('description', '');
                    formData.append('photo_upload[]', '');
                }
                if (this.available_condition != 1 && this.new_stock > 1) {
                    formData.append('description', '');
                    formData.append('photo_upload[]', '');
                }
                formData.append('purchase_order_number', this.po_number)
                this.ASSIGN_POST_STOCK(formData)
                this.$validator.validate().then(result => {
                    if(result){
                        this.isLoadingAdd = true;
                        this.validated = true
                        this.addStockInventory()
                        .then(() => {
                            this.isLoadingAdd = false;
                            this.$router.push({ name: 'inventory-index-current-inventory' })
                            this.stock.stock = 0
                            this.stock.avg_cost = 0
                            this.stock.cost = 0
                            resolve()
                        })
                        .catch(error =>{
                            reject(error)
                        })
                    } else {
                        this.validated = false
                    }
                })
            })
        },
        resetToZero() {
            this.is_reset = 1
            this.new_stock = 0
            this.new_cost = 0
            this.stock.stock = 0
            this.stock.avg_cost = 0
            this.stock.cost = 0
        },
    },
    computed: {
        ...mapState(['isDisableButton']),
        ...mapState('salesPerson', {
            store: state => state.store
        }),
        ...mapState('store', {
            items: state => state.items
        }),
        ...mapState('inventory', {
            stock: state => state.stock,
            post_stock: state => state.post_stock,
            conditions: state => state.conditions
        }),
        product_items() {
            return this._.map(this.$store.state.product.items, function(item, key) {
                return item.product_id
            })
        },
        cal_new_stock() {
            return parseFloat(this.stock.stock) + parseFloat(this.new_stock == '' ? 0:this.new_stock)
        },
        cal_new_cost: {
            get() {
                return parseFloat(this.new_cost == '' ? 0:this.new_cost).toFixed(2)
            },
            set() {

            }
        },
        isSizeNotValid() {
            let isSizeNotValid = false;

            if (this.files.length > 0) isSizeNotValid =  this.files.some((file) => file.size > this.fileSizeValidation);
            return isSizeNotValid;
        },
        showFormNewCondition() {
            if(this.condition.selected){
                return this.condition.selected.id != 1 && this.stock_type == 1
            }
        }
    },
    components:{
        'app-select': Select,
        'p-check': PrettyCheck,
        VueNumeric
    },
}
</script>
<style>
    .calendar-icon{
        z-index: 0 !important;
    }
</style>


