<template>
    <div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="#">Location Code</label>
                <input type="text" class="form-control" v-model="store_code" readonly>
            </div>
            <div class="form-group col-6">
                <label for="#">Location Name</label>
                <input type="text" class="form-control" v-model="store_name" readonly >
            </div>
            <div class="form-group col-12">
                <label for="#">Location Address</label>
                <input type="text" class="form-control" v-model="store_address" readonly>
            </div>
            <div class="form-group col-12">
                <label for="Manager"  :class="{ 'text-danger': errors.has('Manager') }">Manager</label>
                <app-select
                    v-validate="'required'"
                    data-vv-name="Manager"
                    data-vv-as="manager"
                    :class="{'input': true, 'is-invalid': errors.has('Manager') }"
                    v-model="person" 
                    :options="sales_person" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    @input="changeManager"
                    placeholder="Select Manager" 
                    label="fullname" 
                    track-by="user_id" 
                    :preselect-first="true"
                >
                </app-select>
                <span v-show="errors.has('Category')" class="text-danger">{{ errors.first('Manager') }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Select from 'vue-multiselect'
export default {
    components:{
        'app-select': Select
    },
    created() {
        if(typeof this.$route.params.id != 'undefined'){
            this.store_id = this.$route.params.id
            this.store_code = this.store.store_code
            this.store_name = this.store.store_name
            this.store_address = this.store.store_address,
            this.person ={
                fullname: this.store.user != null ? this.store.user.fullname : ''
            } 
        }
    },
    data(){
        return {
            store_id: null,
            store_code: null,
            store_name: null,
            store_address: null,
            // sales_person_selected: null,
            person: null
        }
    },
    destroyed(){
        this.SET_STORE_DATA(null)  
    },
    computed: {
        ...mapState('store', {
            store: state => state.data
        }),
        ...mapState('store', {
            sales_person: state => state.sales_person
        })
    },
    methods:{
        ...mapActions('store', ['getStore', 'getManagers']),
        ...mapMutations('store', [
            'SET_STORE_DATA',
            'SET_STORE_DATA_DEFAULT',
        ]),
        submit() {
            this.$emit('dataManager', {
                store_id: this.store_id,
                manager: this.person.user_id
            })
        },
        changeManager(){
            // this.person = this.sales_person_selected.user_id
        }
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


