<template>
    <div>
        <div class="form-group">
            <label for="name" class="font-weight-700">Name</label>
            <input
                id="name"
                type="text"
                class="form-control"
                v-model="form.name"
                v-validate="'required'"
                name="condition-name"
                data-vv-as="Condition Name"
                :class="{ 'is-invalid': errors.has('condition-name') }"
            />
            <span class="text-danger" v-if="errors.has('condition-name')">{{
                errors.first("condition-name")
            }}</span>
        </div>
        <div class="form-group">
            <label for="description" class="font-weight-700">Description</label>
            <textarea
                id="description"
                v-model="form.description"
                name="condition-description"
                rows="5"
                class="form-control"
            />
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
    data: () => ({
        form: {
            name: "",
            description: "",
        },
    }),
    computed: {
        ...mapState("condition", {
            conditionSelected: (state) => state.conditionSelected,
        }),
    },
    created() {
        if (this.$route.params.id) {
            const { name, description } = this.conditionSelected;

            this.form.name = name;
            this.form.description = description;
        }
    },
    methods: {
        ...mapActions({
            postCondition: "condition/postCondition",
            putCondition: "condition/putCondition",
        }),
        submit() {
            return new Promise((resolve, reject) => {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.$store.commit("SET_SAVE_LOADING", true);

                        if (this.$route.params.id != null) {
                            this.putCondition({
                                id: this.$route.params.id,
                                name: this.form.name,
                                description: this.form.description,
                            }).then(() => {
                                this.$store.commit("SET_SAVE_LOADING", false);

                                this.$root.$bvToast.toast(`Date Saved`, {
                                    title: "Success!",
                                    variant: "success",
                                    solid: true,
                                });

                                resolve();
                            });
                        } else {
                            this.postCondition({
                                name: this.form.name,
                                description: this.form.description,
                            }).then(() => {
                                this.$store.commit("SET_SAVE_LOADING", false);

                                this.$root.$bvToast.toast(`Date Saved`, {
                                    title: "Success!",
                                    variant: "success",
                                    solid: true,
                                });

                                resolve();
                            });
                        }
                    }
                });
            });
        },
    },
};
</script>
