<template>
    <div>
        <div class="row">
            <div class="col-12">
                <b-alert variant="danger" class="mb-3" :show="error">{{
                    error
                }}</b-alert>
                <div class="form-group">
                    <label for="deliveryMethod">Select Delivery Method</label>
                    <app-select
                        placeholder="Select Delivery Method"
                        v-model="delivery_method"
                        :options="deliveryMethods"
                        :searchable="false"
                        track-by="delivery_method_id"
                        label="delivery_method_name"
                        :show-labels="false"
                        v-validate="'required'"
                        name="deliveryMethod"
                        data-vv-as="delivery method"
                        :class="{ 'is-invalid': errors.has('deliveryMethod') }"
                    />
                    <span class="text-danger" v-if="errors.has('deliveryMethod')">{{
                        errors.first("deliveryMethod")
                    }}</span>
                </div>
                <div class="form-group">
                    <label for="#">Select Date</label>
                    <no-ssr>
                        <app-datepicker mode="single" v-model="date">
                            <template
                                :type="inputState.type"
                                slot-scope="{ inputValue }"
                            >
                                <div class="icon icon-right">
                                    <input
                                        type="text"
                                        id="date"
                                        class="form-control form-icon"
                                        :value="inputValue"
                                        readonly
                                    />
                                    <i
                                        class="far fa-calendar-alt text-primary"
                                    ></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </div>
                <div class="form-group">
                    <label
                        for="#"
                        :class="{ 'text-danger': errors.has('capacity') }"
                        >Set Capacity</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        v-model="capacity"
                        v-validate="'required|numeric|min_value:1'"
                        :class="{ 'is-invalid': errors.has('capacity') }"
                        name="capacity"
                    />
                    <span class="text-danger" v-if="errors.has('capacity')">{{
                        errors.first("capacity")
                    }}</span>
                </div>
                <div class="form-group">
                    <label for="#">Information</label>
                    <textarea
                        cols="30"
                        rows="5"
                        class="form-control resize-none"
                        v-model="information"
                    ></textarea>
                </div>
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-primary"
                        :disabled="loading"
                        @click.prevent="submit"
                    >
                        <b-spinner small v-if="loading" />
                        <div v-else>Save</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Select from 'vue-multiselect'

export default {
    components: {
        'app-select' : Select
    },
    data: () => ({
        date: new Date(),
        capacity: null,
        information: null,
        error: null,
        delivery_method: null,
        loading: false
    }),
    computed: {
        ...mapState("delivery", {
            deliveryCapacitySelected: (state) => state.deliveryCapacitySelected,
        }),
        ...mapState("deliveryMethod", {
            deliveryMethods: state => state.items 
        }),
    },
    created() {
        if (this.$route.params.id != undefined) {
            this.date = new Date(this.deliveryCapacitySelected.date);
            this.capacity = this.deliveryCapacitySelected.capacity;
            this.information = this.deliveryCapacitySelected.information;
        }
    },
    methods: {
        ...mapActions({
            saveDelieryCapacity: "delivery/saveDelieryCapacity",
            updateDelieryCapacity: "delivery/updateDelieryCapacity",
        }),
        submit() {
            return new Promise(() => {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        if (this.$route.params.id != undefined) {
                            this.updateDelieryCapacity({
                                id: this.$route.params.id,
                                date: this.moment(this.date).format(
                                    "YYYY-MM-DD"
                                ),
                                capacity: this.capacity,
                                information: this.information,
                                delivery_method_id: this.delivery_method.delivery_method_id
                            })
                                .then(() => {
                                    this.error = null;

                                    this.$root.$bvToast.toast(`Data Updated`, {
                                        title: "Success!",
                                        variant: "success",
                                        solid: true,
                                    });
                                    this.$router.push({
                                        name: "settings-delivery-settings-index-delivery-limit-index-capacity",
                                    });
                                    this.loading = false
                                })
                                .catch((error) => {
                                    this.error = error.data.errors.date[0];
                                    this.loading = false
                                });
                        } else {
                            this.saveDelieryCapacity({
                                date: this.moment(this.date).format(
                                    "YYYY-MM-DD"
                                ),
                                capacity: this.capacity,
                                information: this.information,
                                delivery_method_id: this.delivery_method.delivery_method_id
                            })
                                .then(() => {
                                    this.loading = false
                                    this.error = null;

                                    this.$root.$bvToast.toast(`Data Saved`, {
                                        title: "Success!",
                                        variant: "success",
                                        solid: true,
                                    });
                                    this.$router.push({
                                        name: "settings-delivery-settings-index-delivery-limit-index-capacity",
                                    });
                                })
                                .catch((error) => {
                                    this.loading = false
                                    this.error = error.data.errors.date[0];
                                });
                        }
                    } else {
                        reject();
                    }
                });
            });
        },
    },
};
</script>

<style>
</style>
