<template>
    <div>
        <div class="form-group">
            <label for="#" class="font-weight-600">Time <span class="small">(Minutes)</span></label>
            <input type="number" class="form-control" :min="0" v-model.number="time">
        </div>
        <div class="form-group" v-if="$route.name.includes('delivery-install-time')">
            <label for="#" class="font-weight-600">Install Time <span class="small">(Minutes)</span></label>
            <input type="number" class="form-control" :min="0" v-model.number="install_time">
        </div>
        <button class="btn btn-primary my-3" @click="addCategoryList">Add Category</button>
        <div class="bg-light rounded py-3 px-4 mb-3">
            <div class="row">
                <div class="col-3">
                    <h6 class="font-weight-600 mb-0">Category</h6>
                </div>
                <div class="col-3">
                    <h6 class="font-weight-600 mb-0">Sub Category</h6>
                </div>
                <div class="col-3 col-offset-2">
                    <h6 class="font-weight-600 mb-0">Detail Category</h6>
                </div>
            </div>
        </div>
        <div class="row mb-3" v-for="(item, indexItem) in category_list" :key="indexItem">
            <div class="col-3">
                <app-select
                    data-vv-as="category"
                    v-model="item.category_selected" 
                    v-validate="'required'"
                    :name="`category${indexItem}`"
                    :options="categories" 
                    :show-labels="false"
                    placeholder="Select Categories"
                    label="category_name"  
                    track-by="category_id" 
                    @input="handleSelectCategory(item)" />
                <span class="text-danger" v-if="errors.has(`category${indexItem}`)">{{errors.first(`category${indexItem}`)}}</span>
            </div>
            <div class="col-3">
                <app-select
                    v-model="item.subcategory.selected" 
                    :options="item.subcategory.options" 
                    :loading="item.subcategory.loading"
                    :show-labels="false"
                    :name="`subcategory${indexItem}`"
                    placeholder="Select Sub Categories"
                    label="subcategory_name"  
                    track-by="id"
                    @input="handleSelectSubCategory(item)" />
            </div>
            <div class="col-3">
                <app-select
                    v-model="item.detailcategory.selected" 
                    :options="item.detailcategory.options" 
                    :loading="item.detailcategory.loading"
                    :name="`detailcategory${indexItem}`"
                    :show-labels="false"
                    placeholder="Select Detail Categories"
                    label="detail_category_name"  
                    track-by="id" />
            </div>
            <div class="col-2" v-if="indexItem != 0">
                <button class="btn btn-outline-danger btn-sm" @click="category_list.splice(indexItem, 1)"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import {mapState, mapActions} from 'vuex'
export default {
    data: () => ({
        category_list: [],
        time: 0,
        install_time: 0
    }),
    created(){
        if(this.$route.params.id){
            this.time = this.deliveryTimeSelected.time
            this.install_time = this.deliveryTimeSelected.install_time
            this.deliveryTimeSelected.categories.forEach(item => {
                let indexCategory = this.allcategories.findIndex(o => o.id == item.category_id)
                let indexSubCategory = this.allcategories[indexCategory].subcategory.findIndex(i => i.id == item.subcategory_id)
                const existingSubCategory = {
                    id: item.subcategory_id,
                    subcategory_name: item.subcategory_name
                }
                const existingDetailCategory = {
                    id: item.detail_category_id,
                    detail_category_name: item.detail_category_name
                }
                this.category_list.push({
                    category_selected: {
                        category_id: item.category_id,
                        category_name: item.category_name
                    },
                    subcategory: {
                        selected: item.subcategory_id ? existingSubCategory : null,
                        options: item.subcategory_id ? this.allcategories[indexCategory].subcategory : [],
                        loading: false
                    },
                    detailcategory: {
                        selected: item.detail_category_id ? existingDetailCategory : null,
                        options: item.detail_category_id ? this.allcategories[indexCategory].subcategory[indexSubCategory].detail_category : [],
                        loading: false
                    },
                })  
            })
        }else{
            this.addCategoryList()
        }
    },
    components: {
        'app-select': Select
    },
    computed: {
        ...mapState('category', {
            categories: state => state.categories,
            allcategories: state => state.allcategories
        }),
        ...mapState('delivery', {
            deliveryTimeSelected: state => state.deliveryTimeSelected
        })
    },
    methods: {
        ...mapActions({
            getSubCategories: 'category/getSubCategories',
            getDetailCategories: 'category/getDetailCategories',
            postDeliveryTime: 'delivery/postDeliveryTime',
            updateDeliveryTime: 'delivery/updateDeliveryTime',
        }),
        addCategoryList(){
            this.category_list.push({
                category_selected: null,
                subcategory: {
                    selected: null,
                    options: [],
                    loading: false
                },
                detailcategory: {
                    selected: null,
                    options: [],
                    loading: false
                },
            })
        },
        handleSelectCategory(item){
            item.subcategory.loading = true
            item.subcategory.selected = null
            item.subcategory.options = []
            item.detailcategory.selected = null
            item.detailcategory.options = []
            if(item.category_selected){
                this.getSubCategories(item.category_selected.category_name)
                .then(response => {
                    item.subcategory.options = response.data
                    item.subcategory.loading = false
                })
            }else{
                item.subcategory.options = []
                item.subcategory.loading = false
            }
        },
        handleSelectSubCategory(item){
            item.detailcategory.loading = true
            item.detailcategory.selected = null
            item.detailcategory.options = []
            if(item.subcategory.selected){
                this.getDetailCategories({category_name: item.category_selected.category_name, subcategory_name: item.subcategory.selected.subcategory_name})
                .then(response => {
                    item.detailcategory.options = response.data
                    item.detailcategory.loading = false
                })
            }else{
                item.detailcategory.options = []
                item.detailcategory.loading = false
            }
        },
        submit(){
            return new Promise((resolve, reject) => {
                this.$validator.validateAll().then(result => {
                    let categories = this.category_list.map(item => {
                        return {
                            category_name: item.category_selected.category_name,
                            category_id: item.category_selected.category_id,
                            subcategory_id: item.subcategory.selected ? item.subcategory.selected.id : null,
                            subcategory_name: item.subcategory.selected ? item.subcategory.selected.subcategory_name : null,
                            detail_category_id: item.detailcategory.selected ? item.detailcategory.selected.id : null,
                            detail_category_name: item.detailcategory.selected ? item.detailcategory.selected.detail_category_name : null
                        }
                    })
                    if(this.$route.params.id){
                        this.updateDeliveryTime({
                            id: this.$route.params.id,
                            time: this.time,
                            install_time: this.install_time,
                            type: this.$route.name.includes('delivery-install-time') ? 0 : 1,
                            categories: categories    
                        })
                        .then(() => {
                            resolve()
                        })
                    }else{
                        this.postDeliveryTime({
                            time: this.time,
                            install_time: this.install_time,
                            type: this.$route.name.includes('delivery-install-time') ? 0 : 1,
                            categories: categories
                        })
                        .then(() => {
                            resolve()
                        })
                    }
                })
            })
        }
    }
}
</script>

<style>

</style>