<template>
    <div>
        <div class="card border-danger mb-3" v-if="delivery.errors">
            <div class="card-body text-danger">
                <p
                    class="card-text"
                    :key="index"
                    v-for="(item, index) in delivery.errors"
                >
                    {{ item[0] }}
                </p>
            </div>
        </div>
        <div class="form-row row">
            <div class="form-group col-12">
                <label
                    for="DeliveryName"
                    class="font-weight-600"
                    >Delivery Name</label
                >
                <input
                    v-validate="'required'"
                    :class="{
                        input: true,
                        'is-invalid': errors.has('DeliveryName'),
                        'form-control': true,
                    }"
                    type="text"
                    name="DeliveryName"
                    id="DeliveryName"
                    data-vv-as="delivery name"
                    placeholder="Delivery Name"
                    v-model="delivery_method_name"
                />
                <span v-show="errors.has('DeliveryName')" class="text-danger">{{
                    errors.first("DeliveryName")
                }}</span>
            </div>
            <div class="form-group col-12">
                <label
                    for="DeliveryEmail"
                    class="font-weight-600"
                    >Email</label
                >
                <input
                    class="form-control"
                    type="text"
                    name="DeliveryEmail"
                    id="DeliveryEmail"
                    placeholder="Email"
                    v-model="delivery_method_email"
                />
                <span
                    v-show="errors.has('DeliveryEmail')"
                    class="text-danger"
                    >{{ errors.first("DeliveryEmail") }}</span
                >
            </div>
            <div class="form-group col-12">
                <label for="abbreviation" class="font-weight-600">
                    Abbreviation
                </label>
                <input
                    type="text"
                    class="form-control"
                    :class="{'is-invalid' : errors.has('abbreviation')}"
                    name="abbreviation"
                    id="abbreviation"
                    v-model="abbreviation"
                    v-validate="'required|max:4'"
                    @input="onInputAbb"
                />
                <span
                    v-show="errors.has('abbreviation')"
                    class="text-danger"
                    >{{ errors.first("abbreviation") }}</span
                >
            </div>
        </div>
        <div class="text-right">
            <button
                type="button"
                class="btn btn-primary"
                :disabled="loadingSave"
                @click.prevent="submit"
            >
                <b-spinner small v-if="loadingSave"></b-spinner>
                <div v-else>Save</div>
            </button>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from "vuex";

export default {
    created() {
        if (this.$route.params.id) {
            this.delivery_method_id = this.$route.params.id;
            this.delivery_method_name = this.response.delivery_method_name;
            this.delivery_method_email = this.response.email;
            this.abbreviation = this.response.abbreviation;
            this.is_default = this.response.is_default == 1 ? true : false;
        }
    },
    props: {
        edit_default: {
            type: Boolean,
            default: false,
        },
        response: {
            type: Object,
        },
    },
    data() {
        return {
            delivery_method_id: "",
            delivery_method_name: "",
            delivery_method_email: "",
            is_default: "",
            abbreviation: ""
        };
    },
    computed: {
        ...mapState(["loadingSave"]),
        ...mapState("deliveryMethod", {
            delivery(state) {
                return {
                    errors: state.errors,
                };
            },
        }),
    },
    methods: {
        ...mapActions("deliveryMethod", [
            "postDeliveryMethod",
            "putDeliveryMethodDefault",
            "putDeliveryMethod",
        ]),
        ...mapMutations("deliveryMethod", [
            "SET_DELIVERY_METHOD_DATA",
            "SET_DELIVERY_METHOD_DATA_DEFAULT",
            "SET_DELIVERY_METHOD_ERRORS",
        ]),
        ...mapMutations(["SET_SAVE_LOADING"]),
        onInputAbb($event){
            this.abbreviation = $event.target.value.toUpperCase()
        },
        submit() {
            this.$validator.validate().then((result) => {
                if (result) {
                    this.SET_SAVE_LOADING(true);
                    if (this.$route.params.id) {
                        this.putDeliveryMethod({
                            delivery_method_id: this.$route.params.id,
                            delivery_method_name: this.delivery_method_name,
                            email: this.delivery_method_email,
                            abbreviation: this.abbreviation
                        }).then(() => {
                            this.SET_SAVE_LOADING(false);
                            this.$router.push({
                                name: "settings-delivery-settings-index-delivery-methods",
                            });
                        });
                    } else {
                        this.postDeliveryMethod({
                            delivery_method_id: this.delivery_method_id,
                            delivery_method_name: this.delivery_method_name,
                            email: this.delivery_method_email,
                            abbreviation: this.abbreviation
                        }).then(() => {
                            this.SET_SAVE_LOADING(false);
                            this.$router.push({
                                name: "settings-delivery-settings-index-delivery-methods",
                            });
                        });
                    }
                }
            });
        },
    },
    destroyed() {
        this.SET_DELIVERY_METHOD_DATA_DEFAULT(),
            this.SET_DELIVERY_METHOD_ERRORS(null);
    },
};
</script>


