<template>
    <div>
        <div class="form-group">
            <label for="#" class="font-weight-600">Name</label>
            <input type="text" class="form-control" v-model="name" name="name" v-validate="'required'" :class="{'is-invalid' : errors.has('name')}">
            <span class="text-danger" v-if="errors.has('name')">{{errors.first('name')}}</span>
        </div>
        <div class="form-group">
            <label for="#" class="font-weight-600">Email</label>
            <input type="text" class="form-control" v-model="email" name="email" v-validate="'required'" :class="{'is-invalid' : errors.has('email')}">
            <span class="text-danger" v-if="errors.has('email')">{{errors.first('email')}}</span>
        </div>
        <div class="form-group">
            <label for="#" class="font-weight-600">Default Truck #</label>
            <input type="number" class="form-control" v-model="truck_no" name="truck_no">
        </div>
        <div class="form-group" >
            <label for="#" class="font-weight-600">Select delivery method</label>
            <no-ssr>
                <app-select
                    label="delivery_method_name"
                    track-by="delivery_method_name"
                    placeholder="Set delivery method"
                    :options="deliveryMethodsRouting"
                    :show-labels="false"
                    v-model="delivery_method_selected"
                    />
            </no-ssr>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import Select from 'vue-multiselect'
export default {
    data: () => ({
        name: null,
        email: null,
        truck_no: null,
        delivery_method_selected: {
            delivery_method_id: null,
            delivery_method_name: null,
        },
    }),
    created(){
        if(this.$route.params.id){
            this.name = this.driver_selected.name
            this.email = this.driver_selected.email
            this.truck_no = this.driver_selected.truck_no
            if(this.driver_selected.delivery_method){
                this.delivery_method_selected =  this.driver_selected.delivery_method
            }
        }
    },
    computed: {
        ...mapState('driver', {
            driver_selected: state => state.driver_selected
        }),
        ...mapState('delivery', {
            deliveryMethodsRouting: state => state.deliveryMethodsRouting,
        }),
    },
    components:{
        'app-select': Select,
    },
    methods: {
        ...mapActions({
            postDriver: 'driver/postDriver',
            putDriver: 'driver/putDriver'
        }),
        submit(){
            return new Promise((resolve, reject) => {
                this.$validator.validateAll().then(result => {
                    if(result){
                        if(this.$route.params.id){
                            this.putDriver({
                                id: this.$route.params.id,
                                name: this.name,
                                delivery_method_id: this.delivery_method_selected.delivery_method_id,
                                email: this.email,
                                truck_no: this.truck_no    
                            })
                            .then(() => {
                                resolve()
                            })
                        }else{
                            this.postDriver({
                                name: this.name,
                                delivery_method_id: this.delivery_method_selected.delivery_method_id,
                                email: this.email,
                                truck_no: this.truck_no
                            })
                            .then(() => {
                                resolve()
                            })
                        }
                    }else{
                        reject()
                    }
                })
            })
        }
    }
}
</script>

<style>

</style>