<template>
    <div>
        <div class="card border-danger mb-3" v-if="employee.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in employee.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <template autocomplete="off">
                <div class="form-group col-6">
                    <label for="FirstName" :class="{ 'text-danger': errors.has('FirstName') }">First Name</label>
                    <input v-validate="'required|alpha'" :class="{'input': true, 'is-invalid': errors.has('FirstName'), 'form-control':true }" name="FirstName" data-vv-as="first name" id="FirstName" type="text" placeholder="First Name" v-model="first_name" autocomplete="disabled">
                    <span v-show="errors.has('FirstName')" class="text-danger">{{ errors.first('FirstName') }}</span>
                </div>
                <div class="form-group col-6">
                    <label for="LastName" :class="{ 'text-danger': errors.has('LastName') }">Last Name</label>
                    <input v-validate="'required|alpha'" :class="{'input': true, 'is-invalid': errors.has('LastName'), 'form-control':true }" name="LastName" data-vv-as="last name" id="LastName" type="text" placeholder="Last Name" v-model="last_name" autocomplete="disabled">
                    <span v-show="errors.has('LastName')" class="text-danger">{{ errors.first('LastName') }}</span>
                </div>
                <div class="form-group col-12">
                    <label for="JobTitle" :class="{ 'text-danger': errors.has('JobTitle') }">Job Title</label>
                    <input :class="{'input': true, 'is-invalid': errors.has('JobTitle'), 'form-control':true }" name="JobTitle" data-vv-as="job title" id="JobTitle" type="text" placeholder="Job Title" v-model="job_title" autocomplete="disabled">
                    <span v-show="errors.has('JobTitle')" class="text-danger">{{ errors.first('JobTitle') }}</span>
                </div>
                <div class="form-group col-12">
                    <label for="JobDescription">Job Description</label>
                    <textarea class="form-control" name="JobDescription" id="JobDescription" rows="5" placeholder="Job Description" v-model="job_description"></textarea>
                </div>
                <div class="form-group col-6 mb-0">
                    <label for="email" :class="{ 'text-danger': errors.has('email') }">Email</label>
                    <input v-validate="'required|email'" :class="{'input': true, 'is-invalid': errors.has('email'), 'form-control':true }" name="email" type="text" id="email" placeholder="Email" v-model="email">
                    <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
                </div>
                <div class="form-group col-6 mb-0">
                    <label for="StorePhone" :class="{ 'text-danger': errors.has('PhoneNumber') }">Mobile Phone</label>
                    <app-phone-input v-model="phone_number" :label="''" v-validate="'required'" name="PhoneNumber" data-vv-as="mobile phone number" :placeholder="'Mobile Phone Number'" :error="errors.has('PhoneNumber')" :autocomplete="'disabled'"></app-phone-input>
                    <span v-show="errors.has('PhoneNumber')" class="text-danger">{{ errors.first('PhoneNumber') }}</span>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="show_phone_invoice" @change="phoneInvoice">
                        <label class="custom-control-label" for="customCheck1">Show on invoive ?</label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="ExtensionNumber" :class="{ 'text-danger': errors.has('ExtensionNumber') }">Direct Line</label>
                    <input v-validate="'max:15'" :class="{'input': true, 'is-invalid': errors.has('ExtensionNumber'), 'form-control':true }" type="text" name="ExtensionNumber" data-vv-as="direct line" id="ExtensionNumber" placeholder="Direct Line" v-model="extension_number" autocomplete="disabled">
                    <span v-show="errors.has('ExtensionNumber')" class="text-danger">{{ errors.first('ExtensionNumber') }}</span>
                </div>
                <div class="form-group col-12">
                    <label for="DefaultStore" :class="{ 'text-danger': errors.has('DefaultStore') }">Default Location</label>
                    <app-select
                        v-validate="'required'"
                        data-vv-name="DefaultStore"
                        data-vv-as="default location"
                        :class="{'input': true, 'is-invalid': errors.has('DefaultStore') }"
                        v-model="default_store"
                        :options="store"
                        :close-on-select="true"
                        :clear-on-select="false"
                        :hide-selected="true"
                        :preserve-search="true"
                        placeholder="Select Location"
                        label="store_name"
                        track-by="store_id"
                        :preselect-first="edit == true ? true:false"
                        autocomplete="disabled"
                        id="example"
                    >
                    </app-select>
                    <span v-show="errors.has('DefaultStore')" class="text-danger">{{ errors.first('DefaultStore') }}</span>
                </div>
                <template v-if="!edit">
                    <div class="form-group col-12">
                        <label for="#" :class="{ 'text-danger': errors.has('Role') }">Role</label>
                        <app-select
                            v-validate="'required'"
                            data-vv-name="Role"
                            data-vv-as="role"
                            :class="{'input': true, 'is-invalid': errors.has('Role') }"
                            v-model="role_selected"
                            :options="roles"
                            :close-on-select="true"
                            :clear-on-select="false"
                            :show-labels="false"
                            @input="roleChange"
                            placeholder="Select Role"
                            label="role"
                            track-by="id"
                        >
                        </app-select>
                        <span v-show="errors.has('Role')" class="text-danger">{{ errors.first('Role') }}</span>
                    </div>
                    <div class="form-group col-12">
                        <div class="row" v-if="role_selected != null">
                            <div class="col-md-6">
                                <label for="#">Active Menu</label>
                                <div class="border rounded p-4">
                                    <div class="text-center" v-if="isFetchMenu">
                                        <b-spinner variant="primary" size="lg" />
                                    </div>
                                    <div v-for="menu in activeMenu" :key="menu.id" v-else>
                                        <div class="border rounded py-2 px-3 mb-2">{{menu.name}}</div>
                                        <template v-if="menu.child.length > 0">
                                            <div class="border rounded py-2 px-3 ml-5 mb-2 d-flex align-items-center justify-content-between" v-for="child in menu.child" :key="child.id">
                                                <span>{{child.name}}</span>
                                                <p-check class="p-switch p-fill" color="success" v-model="child.status" disabled></p-check>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="#">Inactive Menu</label>
                                <div class="border rounded p-4">
                                    <div class="text-center" v-if="isFetchMenu">
                                        <b-spinner variant="primary" size="lg" />
                                    </div>
                                    <div v-for="menu in inactiveMenu" :key="menu.id" v-else>
                                        <div class="border rounded py-2 px-3 mb-2">{{menu.name}}</div>
                                        <template v-if="menu.child.length > 0">
                                            <div class="border rounded py-2 px-3 ml-5 mb-2 d-flex align-items-center justify-content-between" v-for="child in menu.child" :key="child.id">
                                                <span>{{child.name}}</span>
                                                <p-check class="p-switch p-fill" color="success" v-model="child.status" disabled></p-check>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="!edit">
                    <div class="form-group col-12">
                        <label for="passowrd" :class="{ 'text-danger': errors.has('password') }">Password</label>
                        <div class="input-password__wrapper">
                            <input v-validate="{ required: true, password: true }" name="password" id="password" :type="passwordField" placeholder="Password" ref="password" v-model="password" :class="{'input': true, 'password is-invalid': errors.has('password'), 'form-control':true }">
                            <a role="button" class="text-gray input-password__show" @click="switchVisibility"><i class="fa fa-eye"></i></a>
                        </div>
                        <no-ssr>
                            <password v-model="password" :strength-meter-only="true" :secureLength="10" @score="showScore" />
                        </no-ssr>
                        <p :class="{'text-danger': this.score == 'Weak', 'text-password--orange':this.score == 'Normal', 'text-password--light-green':this.score == 'Strong', 'text-password--green':this.score == 'Very Strong'}">{{score}}</p>
                        <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                    </div>
                    <div class="form-group col-12">
                        <label for="ConfirmPassword" :class="{ 'text-danger': errors.has('password_confirmation') }">Confirm Password</label>
                        <input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" placeholder="Confirm Password" id="ConfirmPassword" data-vv-as="password" :class="{'input': true, 'is-invalid': errors.has('password_confirmation'), 'form-control':true }" v-model="password_confirmation">
                        <span v-show="errors.has('password_confirmation')" class="text-danger">{{ errors.first('password_confirmation') }}</span>
                    </div>
                </template>
                <div class="form-group col-12">
                    <label for="">Photo</label>
                    <input type="file" class="form-control upload-document" ref="file" @change="handleFileUpload" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps">
                </div>
                <div class="form-group col-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" v-model="is_display" id="set-display-photo">
                        <label class="custom-control-label" for="set-display-photo">Display on /our-team page?</label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="set-sales-person" v-model="is_sales_person" @change="isSalesPerson">
                        <label class="custom-control-label" for="set-sales-person">Set as Sales Person</label>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import { Validator } from 'vee-validate';
import Password from 'vue-password-strength-meter'
import Select from 'vue-multiselect'
import PrettyCheck from 'pretty-checkbox-vue/check'
import PhoneInput from '@/components/utilities/PhoneInput.vue'

export default {
    data(){
        return{
            isFetchMenu: false,
            activeMenu: [],
            inactiveMenu: [],
            role_selected: null,
            user_id:'',
            first_name: '',
            last_name: '',
            job_title: null,
            job_description: '',
            email: null,
            phone_number: null,
            show_phone_invoice: false,
            extension_number: null,
            default_store: null,
            password: null,
            is_admin: false,
            is_sales_person: false,
            password_confirmation: null,
            photo: '',
            is_display: false,
            value: '',
            passwordField :'password',
            score:''
        }
    },
    created(){
        Validator.extend('password', {
            getMessage: field => 'Password must have at least one uppercase letter and one number',
            validate: value => {
                var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})")
                return strongRegex.test(value);
            }
        });
        if (typeof this.$route.params.id != 'undefined') {
            this.user_id = this.$route.params.id
            this.first_name = this.employee.data.first_name
            this.last_name = this.employee.data.last_name
            this.job_title = this.employee.data.job_title,
            this.job_description = this.employee.data.job_description,
            this.email = this.employee.data.email,
            this.phone_number = this.employee.data.phone_number,
            this.show_phone_invoice = this.employee.data.show_phone_invoice == 1 ? true:false,
            this.extension_number = this.employee.data.extension_number,
            this.default_store = this.employee.data.store_backup,
            this.password = this.employee.data.password,
            this.password_confirmation = this.employee.data.password_confirmation,
            this.is_sales_person = this.employee.data.is_sales_person,
            this.is_display = this.employee.data.show_photo == 1 ? this.is_display = true : this.is_display = false
        }
    },
    watch: {
        phone_number(){
            this.formatPhoneNumber()
        }
    },
    computed:{
        ...mapState('store', {
            store: state => state.items
        }),
        ...mapState('role', {
            roles: state => state.items
        }),
        ...mapState('permission', {
            navigation: state => state.navigation,
        }),
        ...mapState('employee',{
            employee(state){
                return{
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },
    methods:{
        ...mapActions('role', ['getMenu']),
        roleChange(){
            this.isFetchMenu = true
            this.getMenu(this.role_selected.id).then(res => {
                this.activeMenu = res.data.active
                this.inactiveMenu = res.data.inactive
                this.isFetchMenu = false
            })
        },
        showScore (score) {
            if(score <= 1){
                this.score = "Weak"
            }else if(score == 2){
                this.score = "Normal"
            }else if(score == 3){
                this.score = "Strong"
            }else if(score == 4){
                this.score = "Very Strong"
            }
        },
        switchVisibility(){
            this.passwordField = this.passwordField === 'password' ? 'text' : 'password'
        },
        formatEmail() {
            let first_name = this.first_name != null ? this.first_name.replace(/\s/g, ''):''
            let last_name = this.last_name != null ? this.last_name.replace(/\s/g, ''):''
            if (first_name != '' || last_name != '') {
                if (first_name != '' && last_name != '') {
                    this.email = first_name + '.' + last_name + '@slymanbros.com'
                } else {
                    this.email = first_name + last_name + '@slymanbros.com'
                }
            } else {
                this.email = null
            }
        },
        formatPhoneNumber(){
                var numbers = this.phone_number.replace(/\D/g, ''),
                    char = {3:'-',6:'-'};
                this.phone_number = '';
                for (var i = 0; i < numbers.length; i++) {
                    this.phone_number += (char[i]||'') + numbers[i];
                }
        },
        isSalesPerson() {
            this.is_sales_person = this.is_sales_person == true
        },
        phoneInvoice(){
            if( this.show_phone_invoice == true){
                this.show_phone_invoice = 1
            }else if(this.show_phone_invoice == false){
                this.show_phone_invoice = 0
            }
        },
        ...mapMutations('employee', [
            'SET_EMPLOYEE_DATA',
            'SET_EMPLOYEE_DATA_DEFAULT',
            'SET_EMPLOYEE_ERRORS'
        ]),
        ...mapActions('employee',[
            'saveEmployee',
            'updateEmployee'
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        handleFileUpload() {
            this.photo = this.$refs.file.files[0];
        },
        submit() {
            this.$validator.validate().then(result => {
                if (result) {
                    this.SET_SAVE_LOADING(true)
                    let formData = new FormData()
                    formData.append('user_id', this.user_id)
                    formData.append('first_name', this.first_name)
                    formData.append('last_name', this.last_name)
                    formData.append('job_title', this.job_title)
                    formData.append('job_description', this.job_description)
                    formData.append('email', this.email)
                    formData.append('phone_number', this.phone_number)
                    formData.append('show_phone_invoice', this.show_phone_invoice == true ? this.show_phone_invoice = 1 : this.show_phone_invoice = 0)
                    formData.append('extension_number', this.extension_number)
                    formData.append('store_default', JSON.stringify(this.default_store))
                    formData.append('is_sales_person', this.is_sales_person)
                    formData.append('is_display', this.is_display)
                    formData.append('image', this.photo)
                    if(!this.edit){
                        formData.append('role_id', this.role_selected.id)
                        formData.append('navigations', JSON.stringify(this.activeMenu))
                    }
                    formData.append('type_update', 'employee')

                    if(typeof this.$route.params.id != 'undefined'){
                        this.updateEmployee(formData).then(() => {
                            this.$auth.fetchUser()
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-employees-index-active'
                            })
                        })
                    }else{
                        formData.append('password', this.password)
                        formData.append('password_confirmation', this.password_confirmation)
                        this.saveEmployee(formData).then(() => {
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-employees-index-active'
                            })
                        })
                    }
                }
            })
        }
    },
    props:{
        edit:{
            type: Boolean,
            default: false
        },
        response: {
            type: Object
        }
    },
    components:{
        'app-select': Select,
        Password,
        'app-phone-input': PhoneInput,
        'p-check': PrettyCheck,
    }
}
</script>
<style>
    .multiselect.is-invalid .multiselect__tags{
        border-color: #f44336 !important;
    }
</style>



