<template>
    <div>
        <div class="form-group">
            <label for="group-name" class="font-weight-600">Group Name</label>
            <input
                v-model="form.name"
                data-vv-name="name"
                data-vv-as="Group Name"
                v-validate="'required'"
                id="group-name"
                type="text"
                class="form-control"
                placeholder="Group Name"
            >
            <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
        </div>
        <div class="form-group">
            <label for="group-child" class="font-weight-600">Brands</label>
            <Select
                v-model="form.child"
                data-vv-name="child"
                data-vv-as="Group Child"
                v-validate="'required'"
                name="group-child"
                :options="availableBrands"
                :show-labels="false"
                placeholder="Select Brands"
                :multiple="true"
                label="name"
                track-by="id"
            />
            <span v-if="errors.has('child')" class="text-danger">{{ errors.first('child') }}</span>
        </div>
        <div class="d-flex gap justify-content-end">
            <button
                class="btn btn-outline-primary"
                @click="$router.push({ name: 'settings-brands-index-active-brands' })"
            >
                Cancel
            </button>
            <button
                v-if="selectedBrand === null"
                class="btn btn-primary"
                @click="postGroupBrand"
            >
                Save
            </button>
            <button
                v-if="selectedBrand !== null"
                class="btn btn-primary"
                @click="updateGroupBrand"
            >
                Update
            </button>
        </div>
    </div>
</template>

<script>

// Packages
import { mapState } from "vuex";
import Select from 'vue-multiselect'

export default {
    name: 'FormGroupBrandIndex',
    components: {
        Select,
    },
    data() {
        return {
            form: {
                name: null,
                child: null,
            }
        }
    },
    mounted() {
        this.$store.dispatch("brand/getAvaiableBrand");
        if (this.selectedBrand !== null) {
            this.form = this.selectedBrand;
        }
    },
    destroyed() {
        this.$store.commit(`brand/ASSIGN_SELECTED_BRAND`, null);
    },
    computed: {
        ...mapState('brand', {
            availableBrands: state => state.availableBrands,
            selectedBrand: state => state.selectedBrand,
        }),
    },
    methods: {
        postGroupBrand() {
            this.$validator.validate().then(result =>{
                if (result) {
                    this.$store.dispatch(`brand/postBrandGroup`, this.form)
                    .then(() => {
                        this.$root.$bvToast.toast(`Date Saved`, {
                            title: "Success!",
                            variant: "success",
                            solid: true,
                        });

                        this.$router.push({ name: 'settings-brands-index-active-brands' });
                    })
                }
            });
        },
        updateGroupBrand() {
            this.$validator.validate().then(result => {
                if (result) {
                    const payload = {
                        id: this.form.id,
                        form: this.form,
                    }

                    this.$store.dispatch(`brand/updateBrandGroup`, payload)
                    .then(() => {
                        this.$root.$bvToast.toast(`Date Updated`, {
                            title: "Success!",
                            variant: "success",
                            solid: true,
                        });

                        this.$router.push({ name: 'settings-brands-index-active-brands' });
                    })
                }
            })
        }
    }
}
</script>
<style lang="scss" scoped>
.gap {
    gap: 1rem;
}
</style>
