<template>
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label for="hour">Hour</label>
                <input
                    id="hour"
                    v-model="timeLimit.hour"
                    type="number"
                    name="hour"
                    class="form-control"
                    :min="0"
                    @blur="changeTimeLimit()"
                />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="minute">Minute</label>
                <input
                    id="minute"
                    v-model="timeLimit.minute"
                    type="number"
                    name="hour"
                    class="form-control"
                    :min="0"
                    :max="60"
                    @blur="changeTimeLimit()"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
    name: "FormTimeLimit",
    computed: {
        ...mapState("timeLimit", {
            timeLimit: (state) =>
                state.timeLimits.reduce((timeLimit) => {
                    return timeLimit;
                }),
        }),
    },
    methods: {
        ...mapActions({
            putTimeLimit: "timeLimit/putTimeLimit",
        }),
        async changeTimeLimit() {
            const { id, hour, minute } = this.timeLimit;
            const payload = { id, hour, minute };
            const result = await this.putTimeLimit(payload);

            if (result.status === "success") {
                this.$root.$bvToast.toast(`Data Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (result.status !== "success") {
                this.$root.$bvToast.toast(`Data Update Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });
            }
        },
    },
};
</script>
