<template>
    <div>
        <div class="form-group">
            <label
                for="name"
                class="font-weight-600"
                :class="{ 'text-danger': errors.has('name') }"
                >Name</label
            >
            <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                v-model="name"
                v-validate="'required'"
                :class="{ 'is-invalid': errors.has('name') }"
            />
            <span v-show="errors.has('name')" class="text-danger">{{
                errors.first("name")
            }}</span>
        </div>
        <div class="form-group">
            <label
                for="mac"
                class="font-weight-600"
                :class="{ 'text-danger': errors.has('name') }"
                >Mac Address</label
            >
            <input
                type="text"
                class="form-control"
                id="mac"
                name="mac"
                v-model="mac"
                v-validate="'required'"
                :class="{ 'is-invalid': errors.has('mac') }"
                :disabled="$route.params.id != null"
            />
            <span v-show="errors.has('mac')" class="text-danger">{{
                errors.first("mac")
            }}</span>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    data: () => ({
        name: null,
        mac: null,
        uuid: "",
    }),
    mounted() {
        if (this.$route.params.id != null) {
            const data = localStorage.getItem("esl-gateway-selected");
            const parsedData = JSON.parse(data);
            this.name = parsedData.name;
            this.mac = parsedData.mac;
            this.uuid = parsedData.uuid;
        }
    },
    methods: {
        ...mapActions({
            createGateway: "priceTag/createGateway",
            updateGateway: "priceTag/updateGateway",
        }),
        saveGateway() {
            this.$validator.validate().then((result) => {
                if (result) {
                    this.$emit("setLoading", true);
                    if (this.$route.params.id != null) {
                        this.updateGateway({
                            mac: this.mac,
                            name: this.name,
                            uuid: this.uuid,
                        }).then(() => {
                            this.$emit("setLoading", false);
                            this.$router.push({
                                name: "settings-digital-price-tags-index-gateway",
                            });
                        });
                    } else {
                        this.createGateway({
                            mac: this.mac,
                            name: this.name,
                            uuid: this.uuid,
                        }).then(() => {
                            this.$emit("setLoading", false);
                            this.$router.push({
                                name: "settings-digital-price-tags-index-gateway",
                            });
                        });
                    }
                }
            });
        },
    },
};
</script>

<style>
</style>
