<template>
    <div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="InstallName" :class="{ 'text-danger': errors.has('InstallName') }">Name</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('InstallName'), 'form-control':true }" type="text" name="InstallName" id="InstallName" data-vv-as="name" placeholder="Name" v-model="install_name">
                <span class="text-danger">{{ errors.has('InstallName') ? errors.first('InstallName') : install.errors && install.errors.install_name ? install.errors.install_name[0] : '' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="Description">Description</label>
                <input :class="{'input': true, 'form-control':true }" type="text" name="Decription" id="Decription" v-model="description">
            </div>
            <div class="form-group col-12">
                <label for="Price" :class="{ 'text-danger': errors.has('Price') }">Price</label>
                <price-input v-validate="'required|formatted_number'" :value="install_price" v-model="install_price" name="install_price"></price-input>
                <span class="text-danger">{{ errors.has('Price') ? errors.first('Price') : install.errors && install.errors.install_price ? install.errors.install_price[0] : '' }}</span>
            </div>
            <button class="btn btn-primary ml-1" @click="addRow">Add Category</button>
        </div>
        <div class="bg-light rounded p-3 mx-0 row mt-4">
            <div class="col-3">
                <h6 class="mb-0">Category</h6>
            </div>
            <div class="col-3">
                <h6 class="mb-0">Sub Category</h6>
            </div>
            <div class="col-3 col-offset-2">
                <h6 class="mb-0">Detail Category</h6>
            </div>
        </div>
        <div class="category-form row mt-4" v-for="(install_cat, index) in detail_install" v-bind:key="index">
            <div class="col-3">
                <app-select
                    v-validate="'required'"
                    data-vv-name="Category"
                    data-vv-as="category"
                    :class="{'input': true, 'is-invalid': errors.has('Category') }"
                    v-model="install_cat.category_name_selected" 
                    :options="categories" 
                    :show-labels="false"
                    :close-on-select="true" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Categories"
                    @input="changeSub(index)"
                    label="category_name"  
                    track-by="category_name" 
                    :preselect-first="edit == true ? true:false"
                >
                </app-select>
                <span v-show="errors.has('Category')" class="text-danger">{{ errors.first('Category') }}</span>
            </div>
            <div class="col-3">
                <app-select
                    v-model="install_cat.subcategory_name_selected" 
                    :options="install_cat.subcategories" 
                    :close-on-select="true" 
                    :show-labels="false"
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Sub Categories"
                    @input="changeDetail(index)" 
                    label="subcategory_name" 
                    track-by="subcategory_name" 
                    :preselect-first="edit == true ? true:false"
                >
                </app-select>
                <span v-show="errors.has('SubCategory')" class="text-danger">{{ errors.first('SubCategory') }}</span>
            </div>
            <div class="col-3">
                <app-select
                    v-model="install_cat.detail_category_name_selected" 
                    :options="install_cat.detailcategories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :show-labels="false"
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Detail Categories"
                    label="detail_category_name" 
                    track-by="detail_category_name" 
                    :preselect-first="edit == true ? true:false"
                    @input="onChange(index)" 
                >
                </app-select>
                <span v-show="errors.has('DetailCategory')" class="text-danger">{{ errors.first('DetailCategory') }}</span>
            </div>
            <div class="col-2">
                <button class="btn btn-danger float-right" @click="deleteRow(index)"> <i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import Select from 'vue-multiselect'
import { Validator } from 'vee-validate';
import PriceInput from '@/components/utilities/PriceInput.vue'

export default {
    created() {
        if(typeof this.$route.params.id != 'undefined'){
            this.install_id = this.$route.params.id
            this.install_name = this.install.data.data.install_name
            this.description = this.install.data.data.description
            this.install_price = this.install.data.data.install_price
            this.detail_install = this._.map(this.install.data.data.detail_install, function(item) {
                return {
                    id: item.id,
                    install_id: item.install_id,
                    category_name: item.category_name,
                    category_name_selected: { category_name: item.category_name },
                    subcategory_name: item.subcategory_name,
                    subcategory_name_selected: { subcategory_name: item.subcategory_name },
                    subcategories: item.subcategories,
                    detail_category_name: item.detail_category_name,
                    detail_category_name_selected: { detail_category_name: item.detail_category_name },
                    detailcategories: item.detailcategories
                }
            })
        }
        Validator.extend('formatted_number', {
            getMessage: field => 'The install price field may only contain numeric character',
            validate: value => {
                var regex = new RegExp("^\\d*(\\.\\d{1,2})?$")
                return regex.test(value);
            }
        });
    },
    props: {
        edit:{
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            install_id : '',
            install_name: null,
            description: null,
            install_price: 0,
            detail_install: [
                {
                    categories: [],
                    subcategories: [],
                    detailcategories: [],
                    category_name: '',
                    category_name_selected:'',
                    subcategory_name: '',
                    subcategory_name_selected:'',
                    detail_category_name: '',
                    detail_category_name_selected:'',
                }
            ]
        }
    },
    computed: {
        ...mapState('category', {
            categories: state => state.categories
        }),
        ...mapState('install', {
            install(state){
                return{
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },
    destroyed(){
        this.SET_INSTALL_ERRORS(null)
    },
    methods: {
        ...mapActions('install', ['postInstall', 'putInstall']),
        ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
        ...mapMutations('install',[
            'SET_INSTALL_PAGE',
        ]),
        addRow() {
            this.detail_install.push({
                categories: [],
                subcategories: [],
                detailcategories: [],
                category_name: '',
                category_name_selected:'',
                subcategory_name: '',
                subcategory_name_selected:'',
                detail_category_name: '',
                detail_category_name_selected:'',
            })
        },
        deleteRow(index) {
            this.detail_install.splice(index,1)
        },
        setPage(val) {
            this.SET_INSTALL_PAGE(val)
        },
        ...mapMutations('install', [
            'SET_INSTALL_DATA',
            'SET_INSTALL_DATA_DEFAULT',
            'SET_INSTALL_ERRORS'
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        submit() {
            this.$validator.validate().then((result)=>{
                if(result){
                    this.SET_SAVE_LOADING(true)
                    if(typeof this.$route.params.id != 'undefined'){
                        this.putInstall({
                            install_id : this.install_id,
                            install_name: this.install_name, 
                            description: this.description, 
                            install_price: this.install_price,
                            detail_install: this.detail_install         
                        }).then((res) =>{
                            this.SET_SAVE_LOADING(false)
                            if (typeof res.error == 'undefined'){
                                this.setPage(1)
                                this.$router.push({
                                    name: 'settings-installs'
                                })
                            }
                        })
                    }else{
                        this.postInstall({
                            install_name: this.install_name, 
                            description: this.description, 
                            install_price: this.install_price,
                            detail_install: this.detail_install         
                        }).then((res) =>{
                            this.SET_SAVE_LOADING(false)
                            if (typeof res.error == 'undefined'){
                                this.setPage(1)
                                this.$router.push({
                                    name: 'settings-installs'
                                })
                            }
                        })
                    }
                }
            })
        },
        changeSub(index) {
            let category_name = this.detail_install[index].category_name_selected.category_name
            this.detail_install[index].category_name = category_name
            this.getSubCategories(category_name).then((res) => {
                this.detail_install[index].subcategories = res.data
            })
        },
        changeDetail(index) {
            let category_name = this.detail_install[index].category_name_selected.category_name
            let subcategory_name = this.detail_install[index].subcategory_name_selected != null? this.detail_install[index].subcategory_name_selected.subcategory_name : ''
            this.detail_install[index].subcategory_name = subcategory_name
            this.getDetailCategories({ category_name: category_name, subcategory_name: subcategory_name }).then((res) => {
                this.detail_install[index].detailcategories = res.data
            })
        },
        onChange(index){
            let detail_category_name = this.detail_install[index].detail_category_name_selected != null ? this.detail_install[index].detail_category_name_selected.detail_category_name : ''
            this.detail_install[index].detail_category_name = detail_category_name
        }
    },
    components:{
        'app-select': Select,
        'price-input': PriceInput,
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
    .category-label{
        background: #ddd;
        padding: 20px;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .category-label h5{
        margin-bottom: 0;
    }
</style>


