<template>
    <div>
        <div class="card border-danger mb-3" v-if="message.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in message.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="content" :class="{ 'text-danger': errors.has('content') }">Website Message</label>
                <no-ssr>
                    <vue-editor v-model="content" :class="{'is-invalid': errors.has('content')}" :editor-toolbar="customToolbar"></vue-editor>
                </no-ssr>
                <input  v-validate="'required'" class="input-hidden" style="display:none;" :class="{'input': true, 'is-invalid': errors.has('content'), 'form-control':true }" type="text" name="content" id="content" data-vv-as="content" placeholder="Website Message" v-model="content">
                <span v-show="errors.has('content')" class="text-danger">{{ errors.first('content') }}</span>
            </div>
            <div class="form-group col-12">
                <no-ssr>
                    <app-datepicker mode="range" v-model="date">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" v-validate="'required'" id="date" class="form-control form-icon" name="start_date" data-vv-as="date" :class="{'is-invalid': errors.has('start_date')}" :value='inputValue'
                                readonly>
                                <i class="far fa-calendar-alt text-primary" v-if="!errors.has('start_date')"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
                <span v-show="errors.has('start_date')" class="text-danger">{{ errors.first('start_date') }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
let VueEditor
if (process.client) {
    VueEditor = require('vue2-editor').VueEditor
}
 

 

export default {
    created() {
        if (typeof this.$route.params.id != 'undefined') {
            this.id = this.$route.params.id
            this.content = this.message.data.message
            this.date = {
                start: new Date(this.message.data.start_date),
                end: new Date(this.message.data.end_date),
            }
        }
    },
    data() {
        return {
            id: '',
            content: '',
            date: null,
            text: null,
            customToolbar: [
                ["bold", "italic", "underline"],
                ["link"]
            ]
        }
    },
    computed:{
        ...mapState('message', {
            message(state) {
                return {
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },
    methods: {
        ...mapActions('message',[
            'saveMessage',
            'updateMessage'
        ]),
        ...mapMutations('message', [
            'SET_MESSAGE_DATA',
            'SET_MESSAGE_DATA_DEFAULT',
            'SET_MESSAGE_TABLE_DEFAULT',
            'SET_MESSAGE_ERRORS'
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        submit() {
            this.$validator.validate().then((result) =>{
                if(result){
                    this.SET_SAVE_LOADING(true)
                    if(typeof this.$route.params.id != 'undefined'){
                        this.updateMessage({
                            id: this.$route.params.id,
                            content: this.content,
                            start_date: this.moment(this.date.start).format('Y-MM-DD'),
                            end_date: this.moment(this.date.end).format('Y-MM-DD'),
                        }).then(() =>{
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-website-message'
                            })
                        })
                    } else {
                        this.saveMessage({
                            content: this.content,
                            start_date: this.moment(this.date.start).format('Y-MM-DD'),
                            end_date: this.moment(this.date.end).format('Y-MM-DD'),
                        }).then(() =>{
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-website-message'
                            })
                        })
                    }
                }
            })
        }
    },
    components: {
        VueEditor
    },
    destroyed() {
        this.SET_MESSAGE_DATA_DEFAULT(),
        this.SET_MESSAGE_ERRORS(null)
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


