<template>
    <div>
        <b-alert variant="success" class="alert-notif" :show="dismissCountDown" dismissible @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged" fade>
            Keyword history cleared
            <!-- <b-progress
                class="mt-2"
                variant="success"
                :max="dismissSecs"
                :value="dismissCountDown"
                height="2px"
            ></b-progress> -->
        </b-alert>
        <div class="card border-danger mb-3" v-if="meta.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in meta.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="title" :class="{ 'text-danger': errors.has('title') }">Meta Title</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('title'), 'form-control':true }" type="text" name="title" id="title" data-vv-as="title" placeholder="Meta Title" v-model="title" @blur="checkTitle">
                <p class="samll text-warning mt-2 mb-0" v-if="warningTitle"><i class="fas fa-info-circle"></i> It is recommended if the title have 30-36 letters for good results, ignore this if you don't want it.</p>
                <span v-show="errors.has('title')" class="text-danger">{{ errors.first('title') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="description" :class="{ 'text-danger': errors.has('description') }">Meta Description</label>
                <textarea cols="5" rows="5" :class="{'input': true, 'is-invalid': errors.has('description'), 'form-control':true }" name="description" id="description" data-vv-as="description" v-model="description" @blur="checkDescription"></textarea>
                <p class="samll text-warning mt-2 mb-0" v-if="warningDescription"><i class="fas fa-info-circle"></i> It is recommended if the description have 70-320 letters for good results, ignore this if you don't want it.</p>
                <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="keyword">Keyword</label>
                <div class="d-flex align-items-start justify-content-center">
                    <app-select v-model="keyword" tag-placeholder="Add this as new keyword" placeholder="Search or add a keyword" :options="options" :multiple="true" tag-position="bottom" :taggable="true" @tag="addTag"></app-select>
                    <button class="btn btn-primary btn-sm ml-2 w-25" @click="clear">Clear Keyword History</button>
                </div>
                <!-- <input :class="{'form-control':true }" type="text" name="keyword" id="keyword" v-model="keyword"> -->
                <!-- <span v-show="errors.has('keyword')" class="text-danger">{{ errors.first('keyword') }}</span> -->
            </div>
            <div class="form-group col-12">
                <label for="url" :class="{ 'text-danger': errors.has('url') }">Meta Title</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('url'), 'form-control':true }" type="text" name="url" id="url" data-vv-as="url" placeholder="/url" v-model="url">
                <span v-show="errors.has('url')" class="text-danger">{{ errors.first('url') }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import Select from 'vue-multiselect'
export default {
    components:{
        'app-select': Select
    },
    created() {
        if (typeof this.$route.params.id != 'undefined') {
            this.id = this.$route.params.id
            this.title = this.meta.data.title
            this.description = this.meta.data.description
            this.url = this.meta.data.url
            this.keyword = this.meta.data.keyword != "" ? this.meta.data.keyword.split(',') : []
        }
    },
    mounted(){
        let historyKeyword = JSON.parse(localStorage.getItem('keywordOptions'))
        this.options = historyKeyword != null ? historyKeyword : []
    },
    data() {
        return {
            id: '',
            title: '',
            description: '',
            url: '',
            keyword: [],
            options: [],
            dismissSecs: 5,
            dismissCountDown: 0,
            showDismissibleAlert: false,
            warningTitle: false,
            warningDescription: false
        }
    },
    computed:{
        ...mapState('meta', {
            meta(state) {
                return {
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },
    methods: {
        checkTitle(){
            this.title.length >= 30 ? this.warningTitle = false : this.warningTitle = true
        },
        checkDescription(){
            this.description.length >= 70 ? this.warningDescription = false : this.warningDescription = true
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        showAlert() {
            this.dismissCountDown = this.dismissSecs
        },
        clear(){
            localStorage.removeItem("keywordOptions");  
            this.options = []
            this.showAlert()
        },
        addTag (newTag) {
            this.options.push(newTag)
            this.keyword.push(newTag)
            localStorage.setItem('keywordOptions', JSON.stringify(this.options))
        },
        ...mapActions('meta',[
            'saveMeta',
            'updateMeta'
        ]),
        ...mapMutations('meta', [
            'SET_META_DATA',
            'SET_META_DATA_DEFAULT',
            'SET_META_TABLE_DEFAULT',
            'SET_META_ERRORS'
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        submit() {
            this.$validator.validate().then((result) =>{
                if(result){
                    this.SET_SAVE_LOADING(true)
                    if(typeof this.$route.params.id != 'undefined'){
                        this.updateMeta({
                            id: this.$route.params.id,
                            title : this.title,
                            description : this.description,
                            url: this.url,
                            keyword: this.keyword
                        }).then(() =>{
                            this.$router.push({
                                name: 'settings-meta'
                            })
                            this.SET_SAVE_LOADING(false)
                        })
                    } else {
                        this.saveMeta({
                            title : this.title,
                            description : this.description,
                            url: this.url,
                            keyword: this.keyword
                        }).then(() =>{
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-meta'
                            })
                        })
                    }
                }
            })
        }
    },
    destroyed() {
        this.SET_META_DATA_DEFAULT(),
        this.SET_META_ERRORS(null)
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


