<template>
    <div>
        <template v-if="isEsl">
            <div class="form-group">
                <label for="#" :class="{ 'text-danger': errors.has('template') }">Template</label>
                <app-select
                    v-model="templateSelected"
                    placeholder="Choose Template"
                    label="demoName"
                    :options="templateList"
                    :show-labels="false"
                    :open-direction="'bottom'"
                    name="template"
                    v-validate="'required'"
                    :class="{'is-invalid': errors.has('template')}"
                />
                <span v-show="errors.has('template')" class="text-danger">{{ errors.first('template') }}</span>
            </div>
        </template>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-quotes">
                    <label for="Id" :class="{ 'text-danger': errors.has('id') }">ID</label>
                    <app-select
                        v-model="selectedProduct"
                        :options="product.items"
                        :show-labels="false"
                        label="product_id"
                        track-by="product_id"
                        placeholder="Type to search"
                        ref="searchProduct"
                        class="select-product"
                        :show-no-results="false"
                        :show-no-options="false"
                        :preserve-search="true"
                        :internal-search="false"
                        :loading="isLoading"
                        v-validate="'required'"
                        name="id"
                        @search-change="getProducts"
                        @input="setProduct">
                        <span slot="caret" v-show="false"></span>
                        <template slot="singleLabel" slot-scope="props">
                            <span class="option__title">{{ props.option.product_id }}</span>
                        </template>
                        <template slot="option" slot-scope="props">
                            <div class="d-flex align-items-start">
                                <img v-lazy="props.option.image" width="50" height="50">
                                <div class="ml-2">
                                    <p class="mb-1">{{ props.option.product_id }}</p>
                                    <p class="mb-0 break-word">{{ props.option.brand + ' ' + props.option.short_description }}</p>
                                </div>
                            </div>
                        </template>
                    </app-select>
                    <span v-show="errors.has('id')" class="text-danger">{{ errors.first('id') }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" name="number" v-model="form.label3">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" v-model="form.label4">
        </div>
        <!-- <div class="form-group">
            <label for="nameAbbr">Name Abbr</label>
            <input type="text" class="form-control" id="nameAbbr" name="nameAbbr" v-model="form.label5">
        </div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Price</label>
                    <price-input :value="form.label6" v-model="form.label6" :disabled="form.label50 == 'true'" @blur="formatPrice" @input="handleUpdatePrice" />
                    <b-spinner variant="primary" class="mt-2" small v-if="isLoadingPrice"></b-spinner>
                    <b-form-checkbox
                        v-model="form.label50"
                        class="mt-2 d-flex align-items-center"
                        :disabled="competitive_price == 0"
                        value="true"
                        unchecked-value="false"
                        v-if="competitive_price > 0"
                        @input="handleInputCompetitive">
                        <span class="cursor-pointer">Use the lowest competitive price</span>
                    </b-form-checkbox>
                    <span class="mt-2 d-inline-block" v-else-if="competitive_price == 0 && selectedProduct != null && !isLoadingPrice">Product is not for sale at Lowe's & Home Depot</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" id="brand" name="brand" v-model="form.label7">
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="spesification">Spesification</label>
            <textarea name="spesification" id="spesification" cols="30" rows="5" class="form-control resize-none" v-model="form.label8"></textarea>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="text" class="form-control" id="grade" name="grade" v-model="form.label9">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="unit">Unit</label>
                    <input type="text" class="form-control" id="unit" name="unit" v-model="form.label10">
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="placeOrigin">Place of Origin</label>
                    <input type="text" class="form-control" id="placeOrigin" name="placeOrigin" v-model="form.label11">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="supplier">Supplier</label>
                    <input type="text" class="form-control" id="supplier" name="supplier" v-model="form.label12">
                </div>
            </div>
        </div> -->
        <div class="form-group">
            <label for="placeholder1">Category</label>
            <input type="text" class="form-control" id="placeholder1" name="placeholder1" v-model="form.label13">
        </div>
        <div class="form-group">
            <label for="placeholder2">Detail Category</label>
            <input type="text" class="form-control" id="placeholder2" name="placeholder2" v-model="form.label14">
        </div>
        <div class="form-group">
            <label for="placeholder3">Feature 1</label>
            <div class="d-flex align-items-center">
                <app-select
                    v-model="selectedFeature.feature1"
                    placeholder="Choose Feature"
                    :options="selectedProduct != null ? selectedProduct.features : []"
                    :show-labels="false"
                    :show-no-results="false"
                    :show-no-options="false"
                    :loading="isLoading"
                    :allow-empty="true"
                    :searchable="false"
                    @input="setFeature1"
                    v-show="!isEditFeature1"
                />
                <input type="text" class="form-control" ref="fieldFeature1" v-model="tempEdit.feature1" v-show="isEditFeature1">
                <div class="flex-row ml-3" v-if="selectedFeature.feature1 != null">
                    <a href="javascript:void(0)" class="text-primary" @click="editFeature1" v-if="!isEditFeature1"><i class="fas fa-edit"></i></a>
                    <div class="d-flex align-items-center" v-else>
                        <a href="javascript:void(0)" class="mr-3 text-danger" @click="hideEditFeature1"><i class="fas fa-times"></i></a>
                        <a href="javascript:void(0)" class="text-primary" @click="saveFeature1"><i class="fas fa-check"></i></a>
                    </div>
                </div>
            </div>
            <!-- <input type="text" class="form-control" id="placeholder3" name="placeholder3" v-model="form.label15"> -->
        </div>
        <div class="form-group">
            <label for="placeholder4">Feature 2</label>
            <div class="d-flex align-items-center">
                <app-select
                    v-model="selectedFeature.feature2"
                    :loading="isLoading"
                    placeholder="Choose Feature"
                    :options="selectedProduct != null ? selectedProduct.features : []"
                    :show-labels="false"
                    :show-no-results="false"
                    :show-no-options="false"
                    :allow-empty="true"
                    :searchable="false"
                    @input="setFeature2"
                    v-show="!isEditFeature2"
                />
                <input type="text" class="form-control" ref="fieldFeature2" v-model="tempEdit.feature2" v-show="isEditFeature2">
                <div class="flex-row ml-3" v-if="selectedFeature.feature2 != null">
                    <a href="javascript:void(0)" class="text-primary" @click="editFeature2" v-if="!isEditFeature2"><i class="fas fa-edit"></i></a>
                    <div class="d-flex align-items-center" v-else>
                        <a href="javascript:void(0)" class="mr-3 text-danger" @click="hideEditFeature2"><i class="fas fa-times"></i></a>
                        <a href="javascript:void(0)" class="text-primary" @click="saveFeature2"><i class="fas fa-check"></i></a>
                    </div>
                </div>
            </div>
            <!-- <input type="text" class="form-control" id="placeholder4" name="placeholder4" v-model="form.label16"> -->
        </div>
        <div class="form-group">
            <label for="placeholder5">Additional Info 1</label>
            <input type="text" class="form-control" id="placeholder5" name="placeholder5" v-model="form.label17">
        </div>
        <div class="form-group">
            <label for="placeholder6">Additional Info 2</label>
            <input type="text" class="form-control" id="placeholder6" name="placeholder6" v-model="form.label18">
        </div>
        <div class="form-group">
            <label for="barcode">Barcode</label>
            <input type="text" class="form-control" id="barcode" name="barcode" v-model="form.barcode">
        </div>
        <div class="form-group">
            <label for="qrcode">QR Code</label>
            <input type="text" class="form-control" id="qrcode" name="qrcode" v-model="form.qrcode" disabled>
        </div>
        <!-- <template v-if="$route.params.id != null">
            <div class="form-group">
                <label for="barcodetext">Barcode Text</label>
                <input type="text" class="form-control" id="barcodetext" name="barcodetext" disabled v-model="form.label1">
            </div>
            <div class="form-group">
                <label for="qrcodetext">QR Code Text</label>
                <input type="text" class="form-control" id="qrcodetext" name="qrcodetext" disabled v-model="form.label2">
            </div>
        </template> -->
    </div>
</template>

<script>
import PriceInput from '@/components/utilities/PriceInput'
import Select from 'vue-multiselect'
import _ from 'lodash'
import {mapActions, mapState, mapGetters} from 'vuex'
export default {
    components: {
        PriceInput,
        'app-select' : Select
    },
    props: {
        isEsl: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        // isLowestPrice: false,
        old_price: 0,
        isLoadingPrice: false,
        selectedProduct: null,
        templateSelected: null,
        competitive_price: 0,
        isLoading: false,
        isEditFeature1 : false,
        isEditFeature2 : false,
        selectedFeature: {
            feature1: null,
            feature2: null
        },
        tempEdit: {
            feature1: null,
            feature2: null
        },
        form: {
            id: null,
            label1: null,
            label2: null,
            label3: null,
            label4: null,
            label5: null,
            label6: 0,
            label7: null,
            label8: null,
            label9: null,
            label10: null,
            label11: null,
            label12: null,
            label13: null,
            label14: null,
            label15: null,
            label16: null,
            label17: null,
            label18: null,
            label50: null,
            barcode: null,
            qrcode: null
        }
    }),
    async created(){
        if(this.$route.params.id != null && !this.isEsl){
            this.isLoading = true
            await this.getPriceTagProduct({search:this.$route.params.id})
            .then(res => {
                const data = res.data.rows[0]
                this.form = data
                this.selectedFeature.feature1 = data.label15
                this.selectedFeature.feature2 = data.label16
                this.old_price = data.label6
                this.selectedProduct = {
                    product_id : data.id,
                    features: []
                }
                this.$emit('fetchTemplate', data)
                this.findProducts({product_id: data.id, search_type: 'model_number'})
                .then(() => {
                    this.selectedProduct = this.product.items[0]
                    this.isLoading = false
                })
                this.fetchLowestPrice(data.id, data.label7, false)
            })
        }
    },
    watch: {
        isEditFeature1(value){
            if(value){
                this.$nextTick(() => {
                    this.$refs.fieldFeature1.focus()
                })
            }
        },
        isEditFeature2(value){
            if(value){
                this.$nextTick(() => {
                    this.$refs.fieldFeature2.focus()
                })
            }
        },
        // 'form.label50': function(value){
        //     value ? this.form.label6 = this.competitive_price : this.form.label6 = 0
        // }
    },
    computed: {
        ...mapState('product', {
            product(state) {
                return {
                    items: state.items
                }
            }
        }),
        ...mapGetters({
            templateList: 'priceTag/templateList',
            productSelected: 'priceTag/productSelected'
        }),
    },
    methods: {
        ...mapActions({
            addPriceTagProduct: 'priceTag/addPriceTagProduct',
            updatePriceTagProduct: 'priceTag/updatePriceTagProduct' ,
            findProducts : 'product/getProductOrder',
            getLowestPrice : 'product/getLowestPrice',
            getPriceTagProduct: 'priceTag/getPriceTagProduct',
        }),
        handleInputCompetitive(value){
            value == 'true' ? this.form.label6 = this.competitive_price : this.form.label6 = this.old_price
        },
        handleUpdatePrice: _.debounce(function(){
            this.$emit('refreshTemplate', this.form)
        }, 800),
        formatPrice(val){
            this.form.label6 = Number(val).toFixed(2)
        },
        getProducts: _.debounce( function(e) {
            this.isLoading = true
            if (this.$refs.searchProduct.$el.querySelector(".multiselect__input").className.split(' ').indexOf('uppercase') === -1) {
                let product = this.$refs.searchProduct.$el.querySelector(".multiselect__input")
                product.className = product.className + ' uppercase'
            }
            this.findProducts({product_id: e, search_type: 'model_number'})
            .then(() => {
                this.isLoading = false
            })
        }, 500),
        setProduct(){
            this.form.id = this.selectedProduct.product_id
            this.form.label3 = this.selectedProduct.product_id
            this.form.label4 = this.selectedProduct.short_description
            this.form.label7 = this.selectedProduct.brand
            this.form.label13 = this.selectedProduct.category
            this.form.label14 = this.selectedProduct.detail_category
            this.form.barcode = this.selectedProduct.product_id
            // this.form.qrcode = this.selectedProduct.product_id
            let subcategory_slug = this.selectedProduct.category_slug == "dishwashers" ? "" : this.selectedProduct.subcategory_slug+"/"
            this.form.qrcode = "https://slymanbros.com/"+this.selectedProduct.category_slug+"/"+subcategory_slug+this.selectedProduct.detail_category_slug+"/"+this.selectedProduct.product_id
            // this.form.qrcode = this.selectedProduct.product_id
            this.fetchLowestPrice(this.selectedProduct.product_id, this.selectedProduct.brand, true)
        },
        fetchLowestPrice(product_id, brand, from_product){
            this.isLoadingPrice = true
            this.getLowestPrice({
                sku: product_id,
                brand: brand
            })
            .then(response => {
                let price = response.lowest_price != null ? response.lowest_price.price : 0
                this.competitive_price = price
                if(this.competitive_price > 0 && from_product){
                    this.form.label50 = 'true'
                    this.form.label6 = this.competitive_price
                }
                this.isLoadingPrice = false
            })
        },
        setFeature1(){
            this.form.label15 = this.selectedFeature.feature1
        },
        setFeature2(){
            this.form.label16 = this.selectedFeature.feature2
        },
        editFeature1(){
            this.isEditFeature1 = true
            this.tempEdit.feature1 = this.selectedFeature.feature1
        },
        hideEditFeature1(){
            this.isEditFeature1 = false
        },
        saveFeature1(){
            this.selectedFeature.feature1 = this.tempEdit.feature1
            this.setFeature1()
            this.hideEditFeature1()
        },
        editFeature2(){
            this.isEditFeature2 = true
            this.tempEdit.feature2 = this.selectedFeature.feature2
        },
        hideEditFeature2(){
            this.isEditFeature2 = false
        },
        saveFeature2(){
            this.selectedFeature.feature2 = this.tempEdit.feature2
            this.setFeature2()
            this.hideEditFeature2()
        },
        submit(){
            return new Promise((resolve, reject) => {
                this.$validator.validate().then(result => {
                    if(result){
                        this.$emit('setLoading', true)
                        let goods = []
                        goods.push(this.form)
                        if(this.$route.params.id != null && !this.isEsl){
                            this.updatePriceTagProduct(this.form)
                            .then(() => {
                                this.$router.push({name: 'settings-digital-price-tags-index-product'})
                                this.$emit('setLoading', false)
                                resolve()
                            })
                            .catch(error => {
                                this.$emit('setLoading', false)
                            })
                        }else{
                            this.addPriceTagProduct({goods: goods})
                            .then(() => {
                                if(!this.isEsl){
                                    this.$router.push({name: 'settings-digital-price-tags-index-product'})
                                }
                                this.$emit('setLoading', false)
                                this.isEsl ? resolve({...this.form, templateSelected : this.templateSelected}) : resolve()
                            })
                            .catch(error => {
                                this.$emit('setLoading', false)
                            })
                        }
                    }
                })
            })
        }
    }
}
</script>

<style>

</style>
