<template>
    <div>
        <div class="card border-danger mb-3" v-if="product.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in product.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="ProductName" :class="{ 'text-danger': errors.has('ProductName') }">Product Name</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('ProductName'), 'form-control':true }" type="text" name="ProductName" id="ProductName" data-vv-as="product name" placeholder="Product Name" v-model="short_description">
                <span v-show="errors.has('ProductName')" class="text-danger">{{ errors.first('ProductName') }}</span>
                <!-- <input type="text" class="form-control" placeholder="Product Name" v-model="short_description"> -->
            </div>
            <div class="form-group col-12">
                <label for="Model" :class="{ 'text-danger': errors.has('Model') }">Model</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('Model'), 'form-control':true }" type="text" name="Model" id="Model" data-vv-as="model" placeholder="Model" v-model="product_id" :readonly="edit == true">
                <span v-show="errors.has('Model')" class="text-danger">{{ errors.first('Model') }}</span>
                <!-- <input type="text" class="form-control" placeholder="Model" v-model="product_id" :readonly="edit == true"> -->
            </div>
            <div class="form-group col-12">
                <label for="Barcode" :class="{ 'text-danger': errors.has('Barcode') }">Barcode</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('Barcode'), 'form-control':true }" type="text" name="Barcode" id="Barcode" data-vv-as="barcode" placeholder="Barcode" v-model="barcode">
                <span v-show="errors.has('Barcode')" class="text-danger">{{ errors.first('Barcode') }}</span>
                <!-- <input type="text" class="form-control" placeholder="Barcode" v-model="barcode"> -->
            </div>
            <div class="form-group col-12">
                <label for="Cost" :class="{ 'text-danger': errors.has('Cost') }">Cost</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('Cost'), 'form-control':true }" type="text" name="Cost" id="Cost" data-vv-as="cost" placeholder="Cost" v-model="cost" @keypress="isNumber($event)">
                <span v-show="errors.has('Cost')" class="text-danger">{{ errors.first('Cost') }}</span>
                <!-- <input type="text" class="form-control" placeholder="Cost" v-model="cost"> -->
            </div>
            <div class="form-group col-12">
                <label for="Price" :class="{ 'text-danger': errors.has('Price') }">Price</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('Price'), 'form-control':true }" type="text" name="Price" id="Price" data-vv-as="price" placeholder="Price" v-model="msrp_price" @keypress="isNumber($event)">
                <span v-show="errors.has('Price')" class="text-danger">{{ errors.first('Price') }}</span>
                <!-- <input type="text" class="form-control" placeholder="Price" v-model="msrp_price"> -->
            </div>
            <div class="form-group col-12">
                <label for="#">Taxed</label>
                <div class="form-group--inner">
                    <div class="radio">
                        <label><input type="radio" name="optradio" checked value="1" v-model="is_taxed"> Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="2" v-model="is_taxed"> No</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="Category" :class="{ 'text-danger': errors.has('Category') }">Category</label>
                <app-select
                    v-validate="'required'"
                    data-vv-name="Category"
                    data-vv-as="category"
                    :class="{'input': true, 'is-invalid': errors.has('Category') }"
                    v-model="category_name" 
                    :options="categories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    @input="subCategory" 
                    placeholder="Select Categories" 
                    label="category_name" 
                    track-by="category_name" 
                    :preselect-first="edit"
                    id="Category"
                >
                </app-select>
                <span v-show="errors.has('Category')" class="text-danger">{{ errors.first('Category') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="SubCategory" :class="{ 'text-danger': errors.has('SubCategory') }">Sub Category</label>
                <app-select
                    v-validate="'required'"
                    data-vv-name="SubCategory"
                    data-vv-as="sub category"
                    :class="{'input': true, 'is-invalid': errors.has('SubCategory') }"
                    v-model="subcategory_name" 
                    :options="subcategories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    @input="detailCategory" 
                    placeholder="Select Categories" 
                    label="subcategory_name" 
                    track-by="subcategory_name" 
                    :preselect-first="edit"
                    id="SubCategory"
                >
                </app-select>
                <span v-show="errors.has('SubCategory')" class="text-danger">{{ errors.first('SubCategory') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="DetailCategory" :class="{ 'text-danger': errors.has('DetailCategory') }">Detail Category</label>
                <app-select
                    v-validate="'required'"
                    data-vv-name="DetailCategory"
                    data-vv-as="detail category"
                    :class="{'input': true, 'is-invalid': errors.has('DetailCategory') }"
                    v-model="detail_category_name" 
                    :options="detailcategories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true" 
                    placeholder="Select Detail Categories" 
                    label="detail_category_name" 
                    track-by="detail_category_name" 
                    :preselect-first="edit"
                    id="DetailCategory"
                >
                </app-select>
                <span v-show="errors.has('DetailCategory')" class="text-danger">{{ errors.first('DetailCategory') }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import Select from 'vue-multiselect'
export default {
    created() {
        if (typeof this.$route.params.id != 'undefined') {
            this.product_id = this.$route.params.id
            this.short_description = this.product.data.short_description
            this.barcode = this.product.data.barcode
            this.cost = this.product.data.cost
            this.msrp_price = this.product.data.msrp_price
            this.is_taxed = this.product.data.is_taxed
            this.category_name = { category_name: this.product.data.category_name }
            this.subcategory_name = { subcategory_name: this.product.data.subcategory_name }
            this.detail_category_name = { detail_category_name: this.product.data.detail_category_name }
            // this.getSubCategories(this.product.data.category_name)
            // this.getDetailCategories({ category_name: this.product.data.category_name, subcategory_name: this.product.data.subcategory_name })
        }
    },
    data(){
        return{
            product_id: '',
            short_description: null,
            barcode: null,
            cost: null,
            msrp_price: null,
            is_taxed: 1,
            category_name: '',
            subcategory_name: '',
            detail_category_name: '',
            isLoading: true
        }
    },
    props:{
        edit:{
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapState('category', {
            categories: state => state.categories,
            subcategories: state => state.subcategories,
            detailcategories: state => state.detailcategories
        }),
        ...mapState('product', {
            product(state){
                return{
                    data : state.data,
                    errors: state.errors
                }
            }
        })
    },
    destroyed(){
        this.SET_PRODUCT_DATA(null)
        this.SET_PRODUCT_ERRORS(null)
    },
    methods:{
        ...mapActions('product', [
            'postProduct',
            'putProduct' 
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        ...mapMutations('product', [
            'SET_PRODUCT_DATA',
            'SET_PRODUCT_DATA_DEFAULT',
            'SET_PRODUCT_ERRORS'
        ]),
        ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
        submit() {
            this.$validator.validate().then((result) =>{
                if (result){
                    this.SET_SAVE_LOADING(true)
                    if (typeof this.$route.params.id != 'undefined') {
                        this.putProduct({
                            product_id: this.product_id, 
                            short_description: this.short_description,
                            barcode: this.barcode,
                            cost: this.cost,
                            msrp_price: this.msrp_price,
                            is_taxed: this.is_taxed,
                            category_name: this.category_name.category_name,
                            subcategory_name: this.subcategory_name.subcategory_name,
                            detail_category_name: this.detail_category_name.detail_category_name            
                        }).then(() =>{
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-manage-product'
                            })
                        })
                    }else{
                        this.postProduct({
                            product_id: this.product_id, 
                            short_description: this.short_description,
                            barcode: this.barcode,
                            cost: this.cost,
                            msrp_price: this.msrp_price,
                            is_taxed: this.is_taxed,
                            category_name: this.category_name.category_name,
                            subcategory_name: this.subcategory_name.subcategory_name,
                            detail_category_name: this.detail_category_name.detail_category_name            
                        }).then(() =>{
                            this.SET_SAVE_LOADING(false)
                            this.$router.push({
                                name: 'settings-manage-product'
                            })
                        })
                    }
                }
            })
        },
        subCategory() {
            if (this.category_name.category_name) {
                this.getSubCategories(this.category_name.category_name).then(() => {
                    this.subcategory_name = ''
                })
            }
        },
        detailCategory() {
            if (this.category_name.category_name && this.subcategory_name.subcategory_name) {
                this.getDetailCategories({ category_name: this.category_name.category_name, subcategory_name: this.subcategory_name.subcategory_name })
                .then(() => {
                    this.detail_category_name = ''
                })
            }
        }
    },
    components:{
        'app-select': Select
    }
}
</script>
<style>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


