<template>
    <div>
        <div class="card border-danger mb-3" v-if="rebate.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in rebate.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="name" :class="{ 'text-danger': errors.has('name') }">Name</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('name'), 'form-control':true }" type="text" name="name" id="name" data-vv-as="name" v-model="name">
                <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="type" :class="{ 'text-danger': errors.has('type') }">Type</label><br>
                <b-form-radio v-model="type" :value="false">Percentage</b-form-radio>
                <b-form-radio v-model="type" :value="true">Dollar</b-form-radio>
                <span v-show="errors.has('type')" class="text-danger">{{ errors.first('type') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="amount" :class="{ 'text-danger': errors.has('amount') }">Amount</label>
                <!-- <div class="input-group mb-3" v-if="!type">
                    <input type="text" class="form-control" v-model="amount" @keypress="isNumber($event)">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">%</span>
                    </div>
                </div> -->
                <div class="icon icon-right" v-if="!type">
                    <input type="text" class="form-control" v-model="amount" @keypress="isNumber($event)">
                    <i class="fas fa-percent"></i>
                </div>
                <price-input :value="amount" v-model="amount" @keypress="isNumber($event)" v-else></price-input>
                <!-- <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('amount'), 'form-control':true }" type="text" name="amount" id="amount" data-vv-as="amount" v-model="amount"> -->
                <span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import PriceInput from '@/components/utilities/PriceInput.vue'

 

 

export default {
    created() {
        if (typeof this.$route.params.id != 'undefined' && !this.rebate.newRebates) {
            this.id = this.rebate.data.id
            this.name = this.rebate.data.name
            this.amount = this.rebate.data.amount
            this.type = this.rebate.data.type == 1
        }
    },
    props:{
        rebateQuote:{
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            id: '',
            name: null,
            amount: 0,
            type: false
        }
    },
    computed:{
        ...mapState('rebate', {
            rebate(state) {
                return {
                    data: state.data,
                    errors: state.errors,
                    newRebates : state.newRebates
                }
            }
        })
    },
    methods: {
        ...mapActions('rebate',[
            'saveRebate',
            'updateRebate',
            'saveCustomRebate',
            'updateCustomRebate'
        ]),
        ...mapMutations('rebate', [
            'SET_REBATE_DATA',
            'SET_REBATE_DATA_DEFAULT',
            'SET_REBATE_TABLE_DEFAULT',
            'SET_REBATE_ERRORS',
            'SET_REBATE_CUSTOM_SELECTED',
            'SET_NEW_REBATES'
        ]),
        ...mapMutations(['SET_SAVE_LOADING']),
        submit(type = 'rebate', order_no = '') {
            let redirectPush = order_no == '' ? '':{type: 'all', order_no: order_no}
            return new Promise((resolve, reject) =>{
                this.$validator.validate().then((result) =>{
                    if(result){
                        this.SET_SAVE_LOADING(true)
                        if (type == 'rebate') {
                            if(typeof this.$route.params.id != 'undefined' && !this.rebate.newRebates){
                                this.updateRebate({
                                    id: this.id,
                                    name: this.name,
                                    amount: this.amount,
                                    type: this.type,
                                }).then(() =>{
                                    this.SET_SAVE_LOADING(false)
                                    if(!this.rebateQuote){
                                        this.$router.push({
                                            name: 'settings-instant-rebate'
                                        })
                                    }else{
                                        this.$store.dispatch('rebate/getRebateData', redirectPush)
                                    }
                                })
                            } else if(this.rebate.newRebates){
                                this.saveRebate({
                                    name: this.name,
                                    amount: this.amount,
                                    type: this.type
                                }).then(() =>{
                                    this.SET_SAVE_LOADING(false)
                                    if(!this.rebateQuote){
                                        this.$router.push({
                                            name: 'settings-instant-rebate'
                                        })
                                    }else{
                                        this.$store.dispatch('rebate/getRebateData', redirectPush)
                                    }
                                })
                            }
                        } else if (type == 'quote') {
                            if(typeof this.$route.params.id != 'undefined' && !this.rebate.newRebates){
                                this.updateCustomRebate({
                                    id: this.id,
                                    name: this.name,
                                    order_no: order_no,
                                    amount: this.amount,
                                    type: this.type,
                                }).then(() =>{
                                    this.SET_SAVE_LOADING(false)
                                    if(!this.rebateQuote){
                                        this.$router.push({
                                            name: 'settings-instant-rebate'
                                        })
                                    }else{
                                        this.$store.dispatch('rebate/getRebateData', redirectPush)
                                    }
                                })
                            } else if(this.rebate.newRebates){
                                this.saveCustomRebate({
                                    name: this.name,
                                    order_no: order_no,
                                    amount: this.amount,
                                    type: this.type
                                }).then(() =>{
                                    this.SET_SAVE_LOADING(false)
                                    if(!this.rebateQuote){
                                        this.$router.push({
                                            name: 'settings-instant-rebate'
                                        })
                                    }else{
                                        this.$store.dispatch('rebate/getRebateData', redirectPush)
                                    }
                                })
                            }
                        }
                        resolve()
                    }
                })
            })
        }
    },
    components: {
        'price-input': PriceInput,
    },
    destroyed() {
        this.SET_NEW_REBATES(false)
        this.SET_REBATE_DATA_DEFAULT(),
        this.SET_REBATE_ERRORS(null)
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


