<template>
    <div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="#">Email</label>
                <input type="email" class="form-control" v-model="email" readonly>
            </div>
            <div class="form-group col-6">
                <label for="#">First Name</label>
                <input type="text" class="form-control" v-model="first_name" readonly>
            </div>
            <div class="form-group col-6">
                <label for="#">Last Name</label>
                <input type="text" class="form-control" v-model="last_name" readonly>
            </div>
            <div class="form-group col-12">
                <label for="passowrd" :class="{ 'text-danger': errors.has('password') }">New Password</label>
                <div class="input-password__wrapper">
                    <input v-validate="{ required: true, password: true }" name="password" id="password" :type="passwordField" placeholder="Password" ref="password" v-model="password" :class="{'input': true, 'is-invalid': errors.has('password'), 'form-control':true }">
                    <a href="#" class="text-gray input-password__show" @click="switchVisibility"><i class="fa fa-eye"></i></a>
                </div>
                <no-ssr>
                    <password v-model="password" :strength-meter-only="true" :secureLength="10" @score="showScore" />
                </no-ssr>
                <p :class="{'text-danger': this.score == 'Weak', 'text-password--orange':this.score == 'Normal', 'text-password--light-green':this.score == 'Strong', 'text-password--green':this.score == 'Very Strong'}">{{score}}</p>
                <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
            </div>
            <div class="form-group col-12">
                <label for="ConfirmPassword" :class="{ 'text-danger': errors.has('password_confirmation') }">Confirm New Password</label>
                <input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" placeholder="Confirm Password" id="ConfirmPassword" data-vv-as="password" :class="{'input': true, 'is-invalid': errors.has('password_confirmation'), 'form-control':true }" v-model="password_confirmation">
                <span v-show="errors.has('password_confirmation')" class="text-danger">{{ errors.first('password_confirmation') }}</span>
            </div>
            <!-- <div class="form-group col-12">
                <label for="#">New Password</label>
                <input type="password" class="form-control" v-model="password" placeholder="New Password">
            </div>
            <div class="form-group col-12">
                <label for="#">Confirm New Password</label>
                <input type="password" class="form-control" v-model="password_confirmation" placeholder="Confirm New Password">
            </div> -->
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import Password from 'vue-password-strength-meter'
import { Validator } from 'vee-validate'
export default {
    components:{
        Password
    },
    data(){
        return{
            user_id: '',
            email: '',
            first_name: null,
            last_name: null,
            password: '',
            password_confirmation: '',
            passwordField :'password',
            score:''
        }
    },
    created(){
        Validator.extend('password', {
            getMessage: field => 'Password must have at least one uppercase letter and one number',
            validate: value => {
                var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})")
                return strongRegex.test(value);
            }
        });
        if(this.employee.data){
            this.user_id = this.$route.params.id
            this.first_name = this.employee.data.first_name
            this.last_name = this.employee.data.last_name
            this.email = this.employee.data.email
        }
    },
    computed:{
        ...mapState('employee',{
            employee(state){
                return{
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },  
    // destroyed(){
    //     this.SET_EMPLOYEE_DATA(null)
    // },
    methods:{
        ...mapMutations('employee', [
            'SET_EMPLOYEE_DATA',
            'SET_EMPLOYEE_DATA_DEFAULT'
        ]),
        ...mapActions('employee',[
            'updatePassword'
        ]),
        switchVisibility(){
            this.passwordField = this.passwordField === 'password' ? 'text' : 'password'
        },
        showScore (score) {
            if(score <= 1){
                this.score = "Weak"
            }else if(score == 2){
                this.score = "Normal"
            }else if(score == 3){
                this.score = "Strong"
            }else if(score == 4){
                this.score = "Very Strong"
            }
        },
        submit() {
            this.$validator.validate().then(result => {
                if(result){
                    this.updatePassword({
                        user_id: this.user_id,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    }).then(() =>{
                        this.$router.push({
                             name: 'settings-employees-edit-id', params:{id: this.user_id}
                        })
                    })
                }
            })
        }
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


