<template>
    <div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="#">Max Height Image Size (px)</label>
                <input type="text" class="form-control" placeholder="Max Height" value="70" v-model="max_height">
                <div class="small content-txt mt-2">Default : 150</div>
            </div>
             <div class="form-group col-12">
                <label for="#">Max Width Image Size (px)</label>
                <input type="text" class="form-control" placeholder="Max Height" value="70" v-model="max_width">
                <div class="small content-txt mt-2">Default : 200</div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex'
export default {
    created() {
        this.max_width = this.settings.max_width
        this.max_height = this.settings.max_height
    },
    data(){
        return{
            max_height: null,
            max_width: null
        }
    },
    computed: {
        ...mapState('product', {
            settings: state => state.settings
        })
    },
    methods:{
        ...mapMutations('product', [
            'SET_SETTING_DATA',
            'SET_SETTING_DATA_DEFAULT'
        ]),
         submit() {
            this.SET_SETTING_DATA({ 
                max_height: this.max_height,
                max_width: this.max_width
            })
        }
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
    .content-txt{
        color: #e83e8c;
    }
</style>


