<template>
    <div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="StoreCode" :class="{ 'text-danger': errors.has('StoreCode') || data.check_store_code && (store.errors != null && store.errors.store_code) }">Location Code</label>
                <input  v-validate="'required|numeric'" :class="{'input': true, 'is-invalid': errors.has('StoreCode') || data.check_store_code && (store.errors != null && store.errors.store_code), 'form-control':true }" type="text" name="StoreCode" id="StoreCode" data-vv-as="location code" placeholder="Location Code" v-model="data.store_code" @blur="validateCode">
                <span class="text-danger">{{ errors.has('StoreCode') ? errors.first('StoreCode'): data.check_store_code && store.errors != null && store.errors.store_code ? store.errors.store_code[0]:'' }}</span>
            </div>
            <div class="form-group col-6">
                <label for="StoreName" :class="{ 'text-danger': errors.has('StoreName') }">Location Name</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('StoreName') || !data.check_store_code && (store.errors != null && store.errors.store_name), 'form-control':true }" type="text" name="StoreName" id="StoreName" data-vv-as="location name" placeholder="Location Name" v-model="data.store_name">
                <span class="text-danger">{{ errors.has('StoreName') ? errors.first('StoreName'): !data.check_store_code && store.errors != null && store.errors.store_name ? store.errors.store_name[0]:'' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="StorePhone" :class="{ 'text-danger': errors.has('StorePhone') }">Location Phone Number</label>
                <app-phone-input v-model="data.store_phone_number" :label="''" v-validate="'required'" name="StorePhone" data-vv-as="location phone" :placeholder="'Location Phone Number'" :error="errors.has('StorePhone')"></app-phone-input>
                <span class="text-danger">{{ errors.has('StorePhone') ? errors.first('StorePhone'): !data.check_store_code && store.errors != null && store.errors.store_phone_number ? store.errors.store_phone_number[0]:'' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="StoreFax" :class="{ 'text-danger': errors.has('StoreFax') }">Location Fax</label>
                <app-phone-input v-model="data.store_fax" :label="''" v-validate="'required'" name="StoreFax" data-vv-as="location fax" :placeholder="'Location Fax'" :error="errors.has('StoreFax')"></app-phone-input>
                <span class="text-danger">{{ errors.has('StoreFax') ? errors.first('StoreFax'): !data.check_store_code && store.errors != null && store.errors.store_fax ? store.errors.store_fax[0]:'' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="StoreAddress" :class="{ 'text-danger': errors.has('StoreAddress') }">Location Address</label>
                <div class="icon icon-right">
                    <gmap-autocomplete class="form-control form-icon" language='en' :class="{'input': true, 'is-invalid': errors.has('StoreAddress') || !data.check_store_code && (store.errors != null && store.errors.store_address), 'form-control':true }" name="StoreAddress" id="StoreAddress" data-vv-as="location address" :value="data.store_address" placeholder="Location Address" @place_changed="setStoreAddress" autocomplete="disabled"></gmap-autocomplete>
                    <i class="fas fa-map-marker" v-if="!errors.has('StoreAddress')"></i>
                </div>
                <!-- <span v-show="errors.has('StoreAddress')" class="text-danger">{{ errors.first('StoreAddress') }}</span> -->
                <span class="text-danger">{{ errors.has('StoreAddress') ? errors.first('StoreAddress'): !data.check_store_code && store.errors != null && store.errors.store_address ? store.errors.store_address[0]:'' }}</span>
            </div>
            <div class="form-group col-6">
                <label for="StoreTax" :class="{ 'text-danger': errors.has('StoreTax') }">Location Tax Percentage</label>
                <div class="icon icon-right">
                    <input  v-validate="'required'" @keypress="isNumber($event)" :class="{'input': true, 'is-invalid': errors.has('StoreTax') || !data.check_store_code && (store.errors != null && store.errors.store_tax_percentage), 'form-control':true }" type="text" name="StoreTax" id="StoreTax" data-vv-as="location tax percentage" placeholder="Location Tax Percentage" v-model="data.store_tax_percentage">
                    <i class="fas fa-percent" v-if="!errors.has('StoreTax')"></i>
                </div>
                <span class="text-danger">{{ errors.has('StoreTax') ? errors.first('StoreTax'): !data.check_store_code && store.errors != null && store.errors.store_tax_percentage ? store.errors.store_tax_percentage[0]:'' }}</span>
            </div>
            <!-- <div class="form-group col-6">
                <label for="StripeFee" :class="{ 'text-danger': errors.has('StripeFee') }">Location Stripe Fee</label>
                <div class="icon icon-right">
                    <input  v-validate="'required'" @keypress="isNumber($event)" :class="{'input': true, 'is-invalid': errors.has('StripeFee') || !data.check_store_code && (store.errors != null && store.errors.store_tax_percentage), 'form-control':true }" type="text" name="StripeFee" id="StripeFee" data-vv-as="location tax percentage" placeholder="Stripe Fee" v-model="data.stripe_fee">
                    <i class="fas fa-percent" v-if="!errors.has('StripeFee')"></i>
                </div>
                <span class="text-danger">{{ errors.has('StripeFee') ? errors.first('StripeFee'): !data.check_store_code && store.errors != null && store.errors.store_tax_percentage ? store.errors.store_tax_percentage[0]:'' }}</span>
            </div> -->
            <div class="form-group col-12">
                <label for="Manager"  :class="{ 'text-danger': errors.has('Manager') }">Manager</label>
                <app-select
                    v-validate="'required'"
                    data-vv-name="Manager"
                    data-vv-as="manager"
                    :class="{'input': true, 'is-invalid': errors.has('Manager') }"
                    v-model="data.person" 
                    :options="store.sales_person" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Manager" 
                    label="fullname" 
                    track-by="user_id" 
                    :preselect-first="true"
                >
                </app-select>
                <span v-show="errors.has('Category')" class="text-danger">{{ errors.first('Manager') }}</span>
            </div>
            <div class="form-group col-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="set-admin" v-model="data.is_warehouse">
                    <label class="custom-control-label" for="set-admin">Set as Warehouse</label>
                </div>
            </div>
            <div class="form-group col-12">
                <b-form-checkbox 
                    v-model="data.show_on_website"
                    id="showWebsite"
                    name="showWebsite"
                    :value="1"
                    :unchecked-value="0">
                    Show on Website
                </b-form-checkbox>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Select from 'vue-multiselect'
import PhoneInput from '@/components/utilities/PhoneInput.vue'

export default {
    created(){
        if (typeof this.$route.params.id != 'undefined') {
            this.data.store_id = this.store.data.store_id
            this.data.store_code = this.store.data.store_code
            this.data.store_name = this.store.data.store_name
            this.data.store_phone_number = this.store.data.store_phone_number
            this.data.store_address = this.store.data.store_address
            this.data.store_fax = this.store.data.store_fax
            this.data.store_tax_percentage = this.store.data.store_tax_percentage
            this.data.store_postal_code = this.store.data.store_postal_code
            this.data.is_warehouse = this.store.data.is_warehouse
            this.data.show_on_website = this.store.data.show_on_website
            // this.data.stripe_fee = this.store.data.stripe_fee
            this.data.person = {
                user_id: this.store.data.user != null ? this.store.data.user.user_id:'',
                fullname: this.store.data.user != null ? this.store.data.user.fullname : ''
            }
        }
    },
    data(){
        return {
            data: {
                store_code: null,
                store_name: null,
                store_phone_number: null,
                store_fax: null,
                store_address: null,
                store_tax_percentage: null,
                store_postal_code: null,
                // stripe_fee: '0.20',
                check_store_code: false,
                is_warehouse: false,
                person: '',
                show_on_website: 0,
                type: false
            }
        }
    },
    props:{
        edit:{
            type: Boolean,
            default: false
        }
    },
    destroyed(){
        this.SET_STORE_ERRORS(null)
        this.SET_STORE_DATA(null)
    },
    computed:{
        ...mapState('store', {
            store(state) {
                return {
                    data: state.data,
                    sales_person: state.sales_person,
                    errors: state.errors
                }
            }
        }),
    },
    methods:{
        ...mapMutations(['SET_SAVE_LOADING']),
        ...mapActions('store', [
            'getStore',
            'postStore',
            'updateStore'
        ]),
        ...mapMutations('store', [
            'SET_STORE_DATA',
            'SET_STORE_DATA_DEFAULT',
            'SET_STORE_ERRORS'
        ]),
        validateCode() {
            this.data.check_store_code = true
            if (typeof this.$route.params.id == 'undefined') {
                this.submitPostStore(false)
            } else {
                this.submitUpdateStore(false)
            }
        },
        submitPostStore(val) {
            this.data.type = val
            this.postStore(this.data).then((res) => {
                if (res.status == 'success') {
                    this.SET_SAVE_LOADING(false)
                    this.$router.push({
                        name: 'settings-locations'
                    })
                }
            })
        },
        submitUpdateStore(val) {
            this.data.type = val
            this.updateStore(this.data).then((res) => {
                if (res.status == 'success') {
                    this.SET_SAVE_LOADING(false)
                    this.$router.push({
                        name: 'settings-locations'
                    })
                }
            })
        },
        submit(){
            this.data.check_store_code = false
            this.$validator.validate().then(result => {
                if (result){
                    this.SET_SAVE_LOADING(true)
                    if(typeof this.$route.params.id != 'undefined'){
                        this.submitUpdateStore(true)
                    }else{
                        this.submitPostStore(true)
                    }
                }
            })
        },
        setStoreAddress($event){
            let address_components = $event.address_components
            let index_postal = _.findIndex(address_components, function(val) {
                return val.types[0] == 'postal_code'
            })
            this.data.store_postal_code = index_postal == -1 ? '' : address_components[index_postal].long_name
            if ($event.formatted_address == null) {
                this.data.store_address = $event.name
            } else {
                this.data.store_address = $event.formatted_address
            }
        },
    },
    components:{
        'app-select': Select,
        'app-phone-input': PhoneInput
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


