<template>
    <div>
        <div class="form-group">
            <label for="#" class="font-weight-700">Location</label>
            <no-ssr>
                <app-select
                v-model="store_selected" 
                :options="stores" 
                :show-labels="false"
                :preselect-first="false"
                placeholder="Select Location" 
                label="store_name" 
                track-by="store_id" 
                @input="fetchTerminal"
                v-validate="'required'"
                :class="{'is-invalid' : errors.has('location')}"
                name="location" />
            </no-ssr>
            <span class="text-danger" v-if="errors.has('location')">{{errors.first('location')}}</span>
        </div>
        <div class="form-group">
            <label for="#" class="font-weight-700">Terminal Name</label>
            <input type="text" class="form-control" v-model="terminal_name" v-validate="'required'" name="terminal_name" data-vv-as="terminal name" :class="{'is-invalid' : errors.has('terminal_name')}">
            <span class="text-danger" v-if="errors.has('terminal_name')">{{errors.first('terminal_name')}}</span>
        </div>
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import {mapState, mapActions} from 'vuex'
export default {
    components: {
        'app-select': Select,
    },
    data: () => ({
        store_selected: null,
        terminal_name: null
    }), 
    computed: {
        ...mapState('store', {
            stores : state => state.items
        }),
        ...mapState('terminal', {
            terminalSelected : state => state.terminal_selected
        })
    },
    created(){
        if(this.$route.params.id && this.terminalSelected){
            this.store_selected = this.terminalSelected.store
            this.terminal_name = this.terminalSelected.terminal_name
        }
    },
    methods: {
        ...mapActions({
            postTerminal: 'terminal/postTerminal',
            putTerminal: 'terminal/putTerminal'
        }),
        submit(){
            return new Promise((resolve, reject) => {
                this.$validator.validateAll().then(result => {
                    if(result){
                        if(this.$route.params.id != null){
                            this.putTerminal({
                                id: this.$route.params.id,
                                store_id: this.store_selected ? this.store_selected.store_id : null,
                                terminal_name: this.terminal_name
                            })
                            .then(() => {
                                resolve()
                            })
                        }else{
                            this.postTerminal({
                                store_id: this.store_selected ? this.store_selected.store_id : null,
                                terminal_name: this.terminal_name
                            })
                            .then(() => {
                                resolve()
                            })
                        }
                    }
                })
            })
        }
    }
}
</script>

<style>

</style>