<template>
    <div>
        <div class="card border-danger mb-3" v-if="truck.errors != null">
            <div class="card-body text-danger">
                <p class="card-text" :key="index" v-for="(item, index) in truck.errors">{{ item[0] }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="TruckLeader" :class="{ 'text-danger': errors.has('TruckLeader') }">Truck Leader</label>
                <input  v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('TruckLeader'), 'form-control':true }" type="text" name="TruckLeader" id="TruckLeader" data-vv-as="truck leader" placeholder="Truck Leader" v-model="truck_name">
                <span v-show="errors.has('TruckLeader')" class="text-danger">{{ errors.first('TruckLeader') }}</span>
                <!-- <input type="text" class="form-control" v-model="truck_name" placeholder="Truck Leader"> -->
            </div>
            <div class="form-group col-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="active" v-model="truck_is_active">
                    <label class="custom-control-label" for="active">Active</label>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
export default {
    created() {
        if (typeof this.$route.params.id != 'undefined') {
            this.truck_id = this.$route.params.id
            this.truck_name = this.truck.data.truck_name
            this.truck_is_active = this.truck.data.truck_is_active == 1 ? true:false
        }
    },
    data() {
        return {
            truck_id: '',
            truck_name: '',
            truck_is_active : true
        }
    },
    computed:{
        ...mapState('truck', {
            truck(state) {
                return {
                    data: state.data,
                    errors: state.errors
                }
            }
        })
    },
    methods: {
        ...mapActions('truck',[
            'saveTruck',
            'updateTruck'
        ]),
        ...mapMutations('truck', [
            'SET_TRUCK_DATA',
            'SET_TRUCK_DATA_DEFAULT',
            'SET_TRUCK_ERRORS'
        ]),
        submit() {
            this.$validator.validate().then((result) =>{
                if(result){
                    if(typeof this.$route.params.id != 'undefined'){
                        this.updateTruck({
                            truck_id : this.truck_id,
                            truck_name : this.truck_name,
                            truck_is_active: this.truck_is_active == true ? 1:0
                        }).then(() =>{
                            this.$router.push({
                                name: 'settings-truck'
                            })
                        })
                    }else{
                        this.saveTruck({
                            truck_id : this.truck_id,
                            truck_name : this.truck_name,
                            truck_is_active: this.truck_is_active == true ? 1:0
                        }).then(() =>{
                            this.$router.push({
                                name: 'settings-truck'
                            })
                        })
                    }
                }
            })
        }
    },
    destroyed() {
        this.SET_TRUCK_DATA_DEFAULT(),
        this.SET_TRUCK_ERRORS(null)
    }
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>


