z<template>
    <div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="Category" :class="{ 'text-danger': errors.has('SKU') }">SKU</label>
                <input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('sku'), 'form-control':true }" type="text" name="SKU" id="SKU" data-vv-as="sku" placeholder="SKU" v-model="sku">
                <span class="text-danger">{{ errors.has('sku') ? errors.first('sku') : warranty.errors && warranty.errors.sku ? warranty.errors.sku[0] : '' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="Category" :class="{ 'text-danger': errors.has('WarrantyName') }">Warranty Name</label>
                <input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('WarrantyName'), 'form-control':true }" type="text" name="WarrantyName" id="WarrantyName" data-vv-as="warranty name" placeholder="Warranty Name" v-model="warranty_name">
                <span class="text-danger">{{ errors.has('WarrantyName') ? errors.first('WarrantyName') : warranty.errors && warranty.errors.warranty_name ? warranty.errors.warranty_name[0] : '' }}</span>
            </div>
            
            <div class="form-group col-12">
                <label for="WarrantyPrice" :class="{ 'text-danger': errors.has('WarrantyPrice') }">Warranty Price</label>
                <vue-numeric v-validate="'required'" currency="$" :class="{'input': true, 'is-invalid': errors.has('WarrantyPrice'), 'form-control':true }" name="WarrantyPrice" id="WarrantyPrice" data-vv-as="warranty price" v-model="warranty_price" v-bind:precision="2"></vue-numeric>
                <span class="text-danger">{{ errors.has('WarrantyPrice') ? errors.first('WarrantyPrice') : warranty.errors && warranty.errors.warranty_price ? warranty.errors.warranty_price[0] : '' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="WarrantyPrice" :class="{ 'text-danger': errors.has('WarrantyPrice') }">Warranty Cost</label>
                <vue-numeric v-validate="'required'" currency="$" :class="{'input': true, 'is-invalid': errors.has('WarrantyCost'), 'form-control':true }" name="WarrantyCost" id="WarrantyCost" data-vv-as="warranty cost" v-model="warranty_cost" v-bind:precision="2"></vue-numeric>
                <span class="text-danger">{{ errors.has('WarrantyCost') ? errors.first('WarrantyCost') : warranty.errors && warranty.errors.warranty_cost ? warranty.errors.warranty_cost[0] : '' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="TypeofAppliance" :class="{ 'text-danger': errors.has('TypeofAppliance') }">Type of Appliance</label>
                <input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('TypeofAppliance'), 'form-control':true }" type="text" name="TypeofAppliance" id="TypeofAppliance" data-vv-as="Type of Appliance" placeholder="Type of Appliance" v-model="type_of_appliance">
                <span class="text-danger">{{ errors.has('TypeofAppliance') ? errors.first('TypeofAppliance') : warranty.errors && warranty.errors.type_of_appliance ? warranty.errors.type_of_appliance[0] : '' }}</span>
            </div>
            <div class="form-group col-12">
                <label for="#" class="mb-5">Product Price Range ( $0 - $35,000 )</label>
                <no-ssr><vue-slider :disabled="status" :key="status" v-model="value" ref="slider" v-bind="options"></vue-slider></no-ssr>
                <div class="d-flex align-items-center mt-4">
                    <div class="flex-row mr-3">
                        <vue-numeric v-validate="'required|max_value:'+value[1]" :readonly="status" currency="$"  :class="{'input': true, 'is-invalid': errors.has('MinRange'), 'form-control':true }" name="MinRange" id="MinRange" data-vv-as="min range" v-model="value[0]" v-bind:precision="2" separator="," ></vue-numeric>
                        <span class="text-danger">{{ errors.has('MinRange') ? errors.first('MinRange') : warranty.errors && warranty.errors.product_from_range ? warranty.errors.product_from_range[0] : '' }}</span>
                    </div>
                    <div class="flex-row mr-3">
                        <vue-numeric  v-validate="'required|min_value:'+value[0]"  currency="$"  :class="{'input': true, 'is-invalid': errors.has('MaxRange'), 'form-control':true }"  name="MaxRange" id="MaxRange" data-vv-as="min range" v-model="value[1]" v-bind:precision="2" separator="," ></vue-numeric>
                        <span class="text-danger">{{ errors.has('MaxRange') ? errors.first('MaxRange') : warranty.errors && warranty.errors.product_to_range ? warranty.errors.product_to_range[0] : '' }}</span>
                    </div>
                    <div class="flex-row">
                        <b-form-checkbox
                            id="checkbox-1"
                            v-model="status"
                            name="checkbox-1">
                            Price range more than $20,000
                        </b-form-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <p-check class="p-switch p-fill mb-4 mt-2 d-block" v-model="inlcude_epic" color="primary">Include on Epic Report</p-check>
        <button class="btn btn-primary ml-1" @click="addRow">Add Category</button>
        <div class="bg-light p-3 rounded row mt-4 mx-0">
            <div class="col-3">
                <h6 class="mb-0">Category</h6>
            </div>
            <div class="col-3">
                <h6 class="mb-0">Sub Category</h6>
            </div>
            <div class="col-3 col-offset-2">
                <h6 class="mb-0">Detail Category</h6>
            </div>
        </div>
        <div class="category-form row mt-4" v-for="(warranty_cat, index) in detail_warranty" v-bind:key='index'>
            <div class="col-3">
                <app-select
                    v-validate="'required'"
                    data-vv-name="Category"
                    data-vv-as="category"
                    :class="{'input': true, 'is-invalid': errors.has('Category') }"
                    v-model="warranty_cat.category_name_selected" 
                    :options="categories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Categories"
                    @input="changeSub(index)"
                    label="category_name"  
                    track-by="category_name" 
                    :preselect-first="edit == true ? true:false"
                >
                </app-select>
                <span v-show="errors.has('Category')" class="text-danger">{{ errors.first('Category') }}</span>
            </div>
            <div class="col-3">
                <app-select
                    v-model="warranty_cat.subcategory_name_selected" 
                    :options="warranty_cat.subcategories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Sub Categories"
                    @input="changeDetail(index)" 
                    label="subcategory_name" 
                    track-by="subcategory_name" 
                    :preselect-first="edit == true ? true:false"
                >
                </app-select>
                <span v-show="errors.has('SubCategory')" class="text-danger">{{ errors.first('SubCategory') }}</span>
            </div>
            <div class="col-3">
                <app-select    
                    v-model="warranty_cat.detail_category_name_selected" 
                    :options="warranty_cat.detailcategories" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Detail Categories"
                    label="detail_category_name" 
                    track-by="detail_category_name" 
                    :preselect-first="edit == true ? true:false"
                    @input="onChange(index)" 
                >
                </app-select>
                <span v-show="errors.has('DetailCategory')" class="text-danger">{{ errors.first('DetailCategory') }}</span>
            </div>
            <div class="col-2">
                <button class="btn btn-danger float-right" @click="deleteRow(index)"> <i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</template>
<script>

import { mapState, mapMutations, mapActions } from 'vuex'
import { Validator } from 'vee-validate'
import VueNumeric from 'vue-numeric'
import Select from 'vue-multiselect'
import PrettyCheck from 'pretty-checkbox-vue/check'
import NoSSR from 'vue-no-ssr'
let components = {
    'no-ssr': NoSSR,
    VueNumeric,
    'app-select': Select,
    'p-check': PrettyCheck,
}

if (process.browser) {
    let VueSlider = require('vue-slider-component')
    components['vue-slider'] = VueSlider
}

export default {
    watch:{
        status(){
            if(this.status){
                this.value[0] = 20000
                this.value[1] = 35000
            }
        }
    },
    created() {
        if(typeof this.$route.params.id != 'undefined'){
            this.warranty_id = this.$route.params.id
            this.type_of_appliance = this.warranty.data.type_of_appliance
            this.sku = this.warranty.data.sku
            this.warranty_name = this.warranty.data.warranty_name
            this.warranty_cost = parseFloat(this.warranty.data.cost)
            this.warranty_price = parseFloat(this.warranty.data.warranty_price)
            this.value[0] = parseFloat(this.warranty.data.product_from_range)
            this.value[1] = parseFloat(this.warranty.data.product_to_range)
            this.inlcude_epic = this.warranty.data.status
            this.detail_warranty = this._.map(this.warranty.data.detail_warranty, function(item) {
                return {
                    id: item.id,
                    warranty_id: item.warranty_id,
                    category_name: item.category_name,
                    category_name_selected: { category_name: item.category_name },
                    subcategory_name: item.subcategory_name,
                    subcategory_name_selected: { subcategory_name: item.subcategory_name },
                    subcategories: item.subcategories,
                    detail_category_name: item.detail_category_name,
                    detail_category_name_selected: { detail_category_name: item.detail_category_name },
                    detailcategories: item.detailcategories
                }
            })
        }
        Validator.extend('formatted_number', {
            getMessage: field => 'The warranty price field may only contain numeric character',
            validate: value => {
                var regex = new RegExp("^\\d*(\\.\\d{1,2})?$")
                return regex.test(value);
            }
        });
    },
    mounted() {
        let row = JSON.parse(localStorage.getItem('duplicate-warranties'))
        if (row) {
            this.warranty_name = row.warranty_name
            this.type_of_appliance = row.type_of_appliance
            this.warranty_price = parseFloat(row.warranty_price)
            this.value[0] = parseFloat(row.product_from_range)
            this.value[1] = parseFloat(row.product_to_range)
            this.inlcude_epic = row.status
            
            this.detail_warranty = this._.map(row.detail_warranty, function(item) {
                return {
                    id: item.id,
                    warranty_id: item.warranty_id,
                    category_name: item.category_name,
                    category_name_selected: { category_name: item.category_name },
                    subcategory_name: item.subcategory_name,
                    subcategory_name_selected: { subcategory_name: item.subcategory_name },
                    subcategories: item.subcategories,
                    detail_category_name: item.detail_category_name,
                    detail_category_name_selected: { detail_category_name: item.detail_category_name },
                    detailcategories: item.detailcategories
                }
            })
        }
    },
    props: {
        edit:{
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            status : false,
            inlcude_epic : false,
            sku : null,
            warranty_name: null,
            warranty_price: 0.00,
            warranty_cost: 0.00,
            type_of_appliance: '',
            product_from_range: null,
            product_to_range: null,
            // categories: [],
            categoryData: [
                'Cooking',
                'Refrigeration',
                'Dishwashers',
                'Laundry',
                'Food Disposal',
                'Outdoor Cooking',
                'Air Conditioning'
            ],
            value: [
                0,
                500
            ],
            options:{
                width: "100%",
                height: 8,
                dotSize: 16,
                min: 0,
                max: 35000,
                disabled: false,
                show: true,
                useKeyboard: true,
                tooltip: "always",
                formatter: v => `$${('' + v).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`,
                enableCross: false,
                mergeFormatter: "${value1} ~ ${value2}",
            },
            detail_warranty: []
        }
    },
    computed: {
        ...mapState('category', {
            categories: state => state.categories
        }),
        ...mapState('warranty', {
            warranty(state) {
                return {
                    data: state.data,
                    errors: state.errors
                }
            },
        })
    },
    destroyed(){
        this.SET_WARRANTY_ERRORS(null)
        localStorage.removeItem('duplicate-warranties')
    },
    methods: {
        ...mapMutations(['SET_SAVE_LOADING']),
        ...mapActions('warranty', ['postWarranty', 'putWarranty']),
        ...mapMutations('warranty', [
            'SET_WARRANTY_DATA',
            'SET_WARRANTY_DATA_DEFAULT',
            'SET_WARRANTY_ERRORS'
        ]),
        ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
        addRow() {
            this.detail_warranty.push({
                categories: [],
                subcategories: [],
                detailcategories: [],
                category_name: '',
                category_name_selected:'',
                subcategory_name: '',
                subcategory_name_selected:'',
                detail_category_name: '',
                detail_category_name_selected:'',
            })
        },
        submit() {
            this.$validator.validate().then((result)=>{
                if(result){
                    this.SET_SAVE_LOADING(true)
                    if(typeof this.$route.params.id != 'undefined'){
                        this.putWarranty({
                            sku : this.sku,
                            warranty_id: this.warranty_id, 
                            warranty_name: this.warranty_name, 
                            category: this.categories,
                            status: this.inlcude_epic ? 1 : 0,
                            // warranty_code: this.warranty_code, 
                            warranty_price: this.warranty_price,
                            cost: this.warranty_cost,
                            type_of_appliance: this.type_of_appliance,
                            product_from_range: this.value[0],
                            product_to_range: this.value[1],  
                            detail_warranty: this.detail_warranty              
                        }).then((res) =>{
                            if (typeof res.error == 'undefined'){
                                this.SET_SAVE_LOADING(false)
                                this.$router.push({
                                    name: 'settings-warranties'
                                })
                            }
                        })
                    }else{
                        this.postWarranty({
                            sku : this.sku,
                            warranty_id: this.warranty_id, 
                            warranty_name: this.warranty_name, 
                            category: this.categories,
                            status: this.inlcude_epic ? 1 : 0,
                            // warranty_code: this.warranty_code, 
                            warranty_price: this.warranty_price,
                            cost: this.warranty_cost,
                            type_of_appliance: this.type_of_appliance,
                            product_from_range: this.value[0],
                            product_to_range: this.value[1],   
                            detail_warranty: this.detail_warranty             
                        }).then((res) =>{
                            if(typeof res.error == 'undefined'){
                                this.SET_SAVE_LOADING(false)
                                this.$router.push({
                                    name: 'settings-warranties'
                                })
                            }
                        }).catch( () => {
                            this.SET_SAVE_LOADING(false)
                        })
                    }
                }
            })
        },
        deleteRow(index) {
            this.detail_warranty.splice(index,1)
        },
        changeSub(index) {
            let category_name = this.detail_warranty[index].category_name_selected.category_name
            this.detail_warranty[index].category_name = category_name
            this.getSubCategories(category_name).then((res) => {
                this.detail_warranty[index].subcategories = res.data
            })
        },
        changeDetail(index) {
            let category_name = this.detail_warranty[index].category_name_selected.category_name
            let subcategory_name = this.detail_warranty[index].subcategory_name_selected != null? this.detail_warranty[index].subcategory_name_selected.subcategory_name : ''
            this.detail_warranty[index].subcategory_name = subcategory_name
            this.getDetailCategories({ category_name: category_name, subcategory_name: subcategory_name }).then((res) => {
                this.detail_warranty[index].detailcategories = res.data
            })
        },
        onChange(index){
            let detail_category_name = this.detail_warranty[index].detail_category_name_selected != null ? this.detail_warranty[index].detail_category_name_selected.detail_category_name : ''
            this.detail_warranty[index].detail_category_name = detail_category_name
        }
    },
    components
}
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
    .category-label{
        background: #ddd;
        padding: 20px;
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .category-label h5{
        margin-bottom: 0;
    }
</style>