<template>
    <app-modal-preview :isLoading="loading" />
</template>

<script>
import ModalPreview from '@/components/modal/DeliveryPreview.vue'
export default {
    data: () => ({
        loading: false
    }),
    created() {
        this.loading = true
    },
    beforeMount(){
        this.getPreviewData()
        .then(() => {
            this.loading = false
        })
    },
    methods:{
        async getPreviewData(){
            let data = JSON.parse(localStorage.getItem('params'))
            return Promise.all([
                await this.$store.dispatch('orderSchedule/getCsvPreview', {
                    date: {
                        start: data.date.start,
                        end: data.date.end
                    }, 
                    location: data.location ? data.location.store_id : null,
                    sales: data.sales ? data.sales.user_id : null,
                    delivery_method: data.delivery_method ? data.delivery_method.delivery_method_id : null,
                    q: data.q ? data.q : null
                }),
            ])
        }
    },
    components: {
        'app-modal-preview' : ModalPreview
    },
    transition: 'slide',
    layout: 'admin'
}
</script>

<style>

</style>