<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ inventory.selected.store }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ inventory.selected.store }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <h5>{{ inventory.selected.model}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <h5>{{ inventory.selected.short_description}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Condition</label>
                                <h5>{{ inventory.selected.condition }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <h5>{{ inventory.selected.brand}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <h5>{{ inventory.selected.category}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sub Category</label>
                                <h5>{{ inventory.selected.sub_category}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Detail Category</label>
                                <h5>{{ inventory.selected.detail_category}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                <h5>{{ inventory.selected.stock}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Average Cost</label>
                                <h5 v-money>{{ inventory.selected.average_cost }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalChangeLocation( inventory.selected.model, inventory.selected.short_description, inventory.selected.location_id, inventory.selected.store )" >
                        <span class="font-weight-bold">Change Location</span>
                    </a>
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalStockDelete( inventory.selected.model, inventory.selected.short_description, inventory.selected.condition, inventory.selected.store, inventory.selected.stock )" >
                        <span class="font-weight-bold">Delete</span>
                    </a>
                </div>
            </div>
        </transition>
        <app-modal size="lg" title="Delete Available Inventory" centered @hide="closeModalStockDelete" v-model="modalStockDelete">
            <template>
                <div class="row">
                    <div class="col-2">
                        <h5>Model #</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ model }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ short_description }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Condition</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ condition }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Location</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ store }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Total Stock</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ stock }}</h5>
                    </div>
                </div>
                <h5>Are You Sure to Delete This Inventory ?</h5>        
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteStock">Delete</div>
                    <div class="btn btn-primary" @click="closeModalStockDelete">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Edit Inventory Location" centered @hide="closeModalChangeLocation" v-model="modalChangeLocation">
            <template>
                <div class="row">
                    <div class="col-2">
                        <h5>Model #</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ model }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ short_description }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Location</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="content-txt">{{ store }}</h5>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <no-ssr><app-select
                        v-validate="'required'"
                        name="location"
                        data-vv-as="location"
                        :class="{'is-invalid' : errors.has('location')}"
                        v-model="location_selected" 
                        :options="stores" 
                        :close-on-select="true" 
                        :clear-on-select="false" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        placeholder="Select Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                        id="example"
                        @input="onChangeLocation"
                    >
                    </app-select></no-ssr>
                    <span v-show="errors.has('location')" class="text-danger">{{ errors.first('location') }}</span>
                    <!-- <select class="form-control" v-model="locations_id">
                        <option v-for="(item, index) in stores" :key="index" :value="item.store_id">{{item.store_name}}</option>
                    </select> -->
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="updateLocation">Save</div>
                    <div class="btn btn-danger" @click="closeModalChangeLocation">Cancel</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Select from 'vue-multiselect'
    export default {
        data() {
            return {
                show: true,
                model:'',
                location_selected:'',
                short_description:'',
                condition:'',
                locations_id: '',
                store:'',
                stock:'',
                // stores:[],
                modalStockDelete: false,
                modalChangeLocation: false
            }
        },
        // created(){
        //     this.$store.dispatch('store/getStores').then((response) => {
        //         this.stores = response.data
        //     })
        // },
        props: {
            value: {
                type: Boolean,
                default: false
            },
            store_id: {
                type: String
            },
            location_id: {
                type: String
            },
            product_id: {
                type: String
            },
            brand: {
                type: String
            },
            category_name: {
                type: String
            },
            subcategory_name: {
                type: String
            },
            detail_category_name: {
                type: String
            },
            available_condition: {
                type: String
            }
        },
        computed: {
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        selected: state.selected
                    }
                }
            }),
             ...mapState('store', {
                stores: state => state.items
            })
        },
        methods:{
            ...mapActions('inventory', ['getCurrentInventory', 'updateCurrentInventory', 'deleteCurrentInventory']),
            showModalStockDelete(model, short_description, condition, store, stock){
                this.modalStockDelete= true;
                this.model = model
                this.short_description = short_description
                this.condition = condition
                this.store = store
                this.stock = stock
            },
            closeModalStockDelete(){
                this.modalStockDelete= false;
            },
            onChangeLocation(){
                this.locations_id = this.location_selected.store_id
            },
            deleteStock(){
                this.deleteCurrentInventory({
                    'product_id': this.model,
                    'store_id': this.inventory.selected.store_id,
                    'available_condition': this.inventory.selected.available_condition
                }).then((response) => {
                    this.getCurrentInventory({
                        'store_id': this.store_id,
                        'location_id': this.location_id,
                        'product_id': this.product_id,
                        'brand': this.brand,
                        'category_name': this.category_name,
                        'subcategory_name': this.subcategory_name,
                        'detail_category_name': this.detail_category_name,
                        'available_condition': this.available_condition
                    }).then((response) => {
                        this.modalStockDelete= false
                        this.$emit('input', false)
                    })
                })
            },
            showModalChangeLocation(model, short_description, location_id, store){
                this.modalChangeLocation= true;
                this.model = model
                this.short_description = short_description
                this.locations_id = location_id
                this.store = store
            },
            closeModalChangeLocation(){
                this.modalChangeLocation= false;
            },
            updateLocation(){
                this.$validator.validate().then(result =>{
                    if(result){
                        this.updateCurrentInventory({
                            'product_id': this.model,
                            'store_id': this.inventory.selected.store_id,
                            'location_id': this.locations_id
                        }).then((response) => {
                            this.getCurrentInventory({
                                'store_id': this.store_id,
                                'location_id': this.location_id,
                                'product_id': this.product_id,
                                'brand': this.brand,
                                'category_name': this.category_name,
                                'subcategory_name': this.subcategory_name,
                                'detail_category_name': this.detail_category_name,
                                'available_condition': this.available_condition
                            }).then(() => {
                                this.modalChangeLocation= false;
                                this.$emit('input', false)
                            })
                        })
                    }
                })
            },
        },
        components:{
            'app-modal': Modal,
            'app-select': Select
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
