<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ customer.selected.name }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Customer Code</label>
                                <h5>{{ customer.selected.id }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <h5>{{ customer.selected.name}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <h5>{{ customer.selected.phoneNumber }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Billing Address</label>
                                <h5>{{ customer.selected.billingAddress}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Delivery Address (Default)</label>
                                <h5>{{ customer.selected.shippingAddress}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalCustomerDelete(customer.selected.id, customer.selected.name)" >
                        <span class="font-weight-bold">Delete</span>
                    </a>
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/admin/customers/detail/' + customer.selected.id">
                        <span class="font-weight-bold">Detail</span>
                    </nuxt-link>
                </div>
            </div>
        </transition>
        <app-modal size="lg" title="Delete Customer" centered @hide="closeModalCustomerDelete" v-model="modalCustomerDelete">
            <template>
                <h5>Are you sure to delete customer <span class="content-txt">{{ customer_name }}</span> ?</h5>        
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteCustomer">Delete</div>
                    <div class="btn btn-primary" @click="closeModalCustomerDelete">Cancel</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                show: true,
                customer_code:'',
                customer_name:'',
                modalCustomerDelete: false
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('customer', {
                customer(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        },
        methods:{
            ...mapActions('customer',[
                'destroyCustomer'
            ]),
            showModalCustomerDelete(id, name){
                this.customer_code = id;
                this.customer_name = name;
                this.modalCustomerDelete= true;
            },
            closeModalCustomerDelete(){
                this.modalCustomerDelete= false;
            },
            deleteCustomer(){
                this.destroyCustomer(this.customer_code).then(() => {
                    this.modalCustomerDelete= false;
                    this.$emit('input', false)
                })
                this.modalStockDelete= false;
                console.log('deleted')
            },
        },
        components:{
            'app-modal': Modal
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
