<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ accounting.selected.date_sold}}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Date Sold</label>
                                <h5>{{ accounting.selected.date_sold }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Date Delivered</label>
                                <h5>{{ accounting.selected.date_delivered}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Date Returned</label>
                                <h5>{{ accounting.selected.date_returned }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Delivery Method</label>
                                <h5>{{ accounting.selected.delivery_method}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ accounting.selected.location}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sales Person</label>
                                <h5>{{ accounting.selected.sales_person }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Order Number</label>
                                <h5>{{ accounting.selected.order_number }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Customern Name</label>
                                <h5>{{ accounting.selected.customer_name }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model Number</label>
                                <h5>{{ accounting.selected.model_number }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <h5>{{ accounting.selected.quantity }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sale Price</label>
                                <h5 v-money>{{ accounting.selected.sale_price }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Tax</label>
                                <h5 v-money>{{ accounting.selected.tax }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Item Total</label>
                                <h5>{{ accounting.selected.item_total }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                show: true,
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('accounting', {
                accounting(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
