<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ employee.selected.fullname }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name</label>
                                <h5>{{ employee.selected.fullname }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Job Title</label>
                                <h5>{{ employee.selected.job_title}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <h5>{{ employee.selected.email }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Mobile Phone</label>
                                <h5>{{ employee.selected.phone_number}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Direct Line</label>
                                <h5>{{ employee.selected.extension_number}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Default Location</label>
                                <h5>{{ employee.selected.store != null ? employee.selected.store.store_name:'-' }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sales Person</label>
                                <h5>{{ employee.selected.is_sales_person }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/admin/settings/employees/edit/' + employee.selected.user_id">
                        <span class="font-weight-bold">Edit</span>
                    </nuxt-link>
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalDeleteEmployee(employee.selected.user_id, employee.selected.fullname, employee.selected.email)" v-if="!employee.selected.is_deleted">
                        <span class="font-weight-bold">Delete</span>
                    </a>
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/admin/settings/employees/set-password/' + employee.selected.user_id">
                        <span class="font-weight-bold">Change Password</span>
                    </nuxt-link>
                </div>
            </div>
        </transition>
        <app-modal size="lg" title="Delete Employee" centered @hide="closeModalDeleteEmployee" v-model="modalDeleteEmployee">
            <template>
                <b-alert :show="countRelated > 0">You can't delete this employee</b-alert>
                <h5 class="mt-0 mb-4">Are You Sure to Delete This Employee ?</h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Email</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ email }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ fullname }}</h5>
                    </div>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger mr-3" @click="deleteEmployee" :disabled="countRelated > 0">Delete</button>
                        <button class="btn btn-primary" @click="closeModalDeleteEmployee">Cancel</button>
                    </div>
                </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                show: true,
                user_id:'',
                fullname:'',
                email:'',
                modalDeleteEmployee: false
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('employee', {
                employee(state) {
                    return {
                        selected: state.selected
                    }
                }
            }),
            countRelated() {
                // if (this.employee.selected != null) {
                //     let employee = this.employee.selected
                //     return parseInt(employee.calendar_count) + parseInt(employee.customer_count) + parseInt(employee.delivery_order_notes_count) + parseInt(employee.order_another_agent_count) + parseInt(employee.order_count) + parseInt(employee.order_notes_count) + parseInt(employee.order_return_count) + parseInt(employee.quote_another_agent_count) + parseInt(employee.quote_count) + parseInt(employee.quote_notes_count) + parseInt(employee.quote_request_count) + parseInt(employee.store_manager_count) + parseInt(employee.user_delete_inventory_count)
                // }
                return 0
            }
        },
        methods:{
            ...mapActions('employee',[
                'destroyEmployee'
            ]),
            showModalDeleteEmployee(user_id, fullname, email){
                this.user_id = user_id
                this.email = email
                this.fullname = fullname
                this.modalDeleteEmployee= true;
            },
            closeModalDeleteEmployee(){
                this.modalDeleteEmployee= false;
            },
            deleteEmployee(){
                this.destroyEmployee(this.user_id).then(() => {
                    this.modalDeleteEmployee= false;
                    this.$emit('input', false)
                })
            },
        },
        components:{
            'app-modal': Modal
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
