<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ order.selected.order}}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Date</label>
                                <h5>{{ order.selected.date }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Order</label>
                                <h5>{{ order.selected.order}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Customer</label>
                                <h5>{{ order.selected.customer }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sales Person</label>
                                <h5>{{ order.selected.sales_person }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Total</label>
                                <h5 v-money>{{ order.selected.total}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Balance Due</label>
                                <div class="normalize-font" v-html="order.selected.balance_due"></div>
                            </div>
                            <div class="form-group" v-if="order.selected.completed != '' ">
                                <label>Completed</label>
                                <div v-html="order.selected.completed"></div>
                            </div>
                            <div class="form-group">
                                <label>Schedule Delivery</label>
                                <div class="normalize-font" v-html="order.selected.schedule_delivery"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name:'order-view-id', params: { id: this.order.selected.order }}">
                        <span class="font-weight-bold">View Order</span>
                    </nuxt-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                show: true,
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('order', {
                order(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
.normalize-font{
    font-size: 17px;
}
</style>

