<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ item.selected.delivery }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Order</label>
                                <h5>{{ item.selected.order }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Customer</label>
                                <h5>{{ item.selected.customer}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Of Pieces</label>
                                <h5>{{ item.selected.of_pieces }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <h5>{{ item.selected.zip_code}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Delivery</label>
                                <h5>{{ item.selected.delivery}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Requested Time</label>
                                <h5 v-html="item.selected.requested_time"></h5>
                            </div>
                            <div class="form-group">
                                <label>Truck</label>
                                <h5>{{ item.selected.truck}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/admin/schedule-delivery/show-delivery/' + item.selected.order ">
                        <span class="font-weight-bold">Detail</span>
                    </nuxt-link>
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/admin/schedule-delivery/load-truck/' + reformatedDate ">
                        <span class="font-weight-bold">Load Truck</span>
                    </nuxt-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                show: true,
                reformatedDate:''
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('orderSchedule', {
                item(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        },
        watch:{
            item(){
                if(this.item.selected != null){
                    let deliveryDate = this.item.selected.delivery;
                    this.reformatedDate = this.moment(deliveryDate, 'MM/DD/YYYY').format('YYYY-MM-DD')
                }
            }
        },
        methods:{
            
        },
        components:{
            'app-modal': Modal
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
