<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ inventory.selected.model }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ inventory.selected.store }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <h5>{{ inventory.selected.model}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <h5>{{ inventory.selected.brand }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <h5>{{ inventory.selected.category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sub Category</label>
                                <h5>{{ inventory.selected.sub_category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Detail Category</label>
                                <h5>{{ inventory.selected.detail_category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                <h5>{{ inventory.selected.stock}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Estimated Availability</label>
                                <h5>{{ inventory.selected.estimated_availability}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Average Cost</label>
                                <h5 v-money>{{ inventory.selected.average_cost}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalDeletePending( inventory.selected.store_id, inventory.selected.model, inventory.selected.short_description, inventory.selected.store, inventory.selected.stock )">
                    <span class="font-weight-bold">Delete</span>
                    </a>
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalEstimatedPending( inventory.selected.store_id, inventory.selected.model, inventory.selected.short_description, inventory.selected.store, inventory.selected.stock, inventory.selected.estimated_availability )">
                        <span class="font-weight-bold">Estimated Availability</span>
                    </a>
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalRecievedPending( inventory.selected.store_id, inventory.selected.model, inventory.selected.short_description, inventory.selected.store, inventory.selected.stock )">
                        <span class="font-weight-bold">Received</span>
                    </a>
                </div>
            </div>
        </transition>
        <app-modal size="lg" title="Delete Pending Inventory" centered @hide="closeModalDeletePending" v-model="modalDeletePending">
            <template>
                <div class="row">
                    <div class="col-2">
                        <h5>Model #</h5> 
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ product_id }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ short_description }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Location</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ store }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Stock</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ stock }}</h5>
                    </div>
                </div>
                <h5 class="mt-3">Are you sure to delete this Inventory ?</h5>        
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deletePending">Delete</div>
                    <div class="btn btn-primary" @click="closeModalDeletePending">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Stock Estimated Availability" centered @hide="closeModalEstimatedPending" v-model="modalEstimatedPending">
            <template>
                <div class="row">
                    <div class="col-2">
                        <h5>Model #</h5> 
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ product_id }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ short_description }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Location</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ store }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h5>Stock</h5>
                    </div>
                    <div class="col-8 mb-2 content-txt">
                        <h5>{{ stock }}</h5>
                    </div>
                </div>
                <no-ssr><app-datepicker mode="single" v-model="date">
                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                        <div class="icon icon-right">
                            <input type="text" placeholder="Insert New Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                            <i class="far fa-calendar-alt text-primary"></i>
                        </div>
                    </template>
                </app-datepicker></no-ssr>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="saveEstimatedPending">Save</div>
                    <div class="btn btn-danger" @click="closeModalEstimatedPending">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Received Stock" centered @hide="closeModalRecievedPending" v-model="modalRecievedPending">
            <template>
                <div class="row">
                    <div class="col-3">
                        <h5>Model #</h5> 
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ product_id }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h5>Name</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ short_description }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h5>Location</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ store }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h5>Total Pending Stock</h5>
                    </div>
                    <div class="col-8 content-txt">
                        <h5>{{ stock }}</h5>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <input  v-validate="'required|numeric|max:15'" :class="{'input': true, 'is-invalid': errors.has('RecievedStock'), 'form-control':true }" type="text" name="RecievedStock" id="RecievedStock" data-vv-as="recieved stock" v-model="recieved_stock">
                    <span v-show="errors.has('RecievedStock')" class="text-danger">{{ errors.first('RecievedStock') }}</span>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="saveRecievedPending">Save</div>
                    <div class="btn btn-danger" @click="closeModalRecievedPending">Cancel</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
     
     
    export default {
        components:{
            'app-modal': Modal,
             
        },
        data() {
            return {
                show: true,
                product_id:'',
                short_description:'',
                store:'',
                recieved_stock:'',
                stock:'',
                date: new Date(),
                modalDeletePending: false,
                modalEstimatedPending: false,
                modalRecievedPending: false
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        methods:{
            ...mapActions('inventory',[
                'destroyPendingStock',
                'getPendingInventory',
                'changeEstimatedAvailability',
                'recievedBackOrderStock'
            ]),
            showModalDeletePending(store_id, model, short_description, store, stock){
                this.store_id = store_id
                this.product_id = model
                this.short_description = short_description
                this.store = store
                this.stock = stock
                this.modalDeletePending = true;
            },
            closeModalDeletePending(){
                this.modalDeletePending = false;
            },
            deletePending(){
                this.destroyPendingStock({
                    store_id : this.store_id,
                    product_id : this.product_id,
                }).then(() =>{
                    this.modalDeletePending = false;
                    this.$emit('input', false);
                    this.getPendingInventory()
                })
            },
            showModalEstimatedPending(store_id, model, short_description, store, stock, estimated_availability){
                this.modalEstimatedPending = true;
                this.store_id = store_id
                this.product_id = model
                this.short_description = short_description
                this.store = store
                this.stock = stock
                // this.date = estimated_availability
            },
            closeModalEstimatedPending(){
                this.modalEstimatedPending = false;
            },
            saveEstimatedPending(){
                // let estimated_availability = this.moment(this.date).format('DD-MM-Y')
                let estimated_availability = this.moment(this.date).format('Y-MM-DD')
                this.changeEstimatedAvailability({
                    store_id : this.store_id,
                    product_id : this.product_id,
                    stock_type : '0',
                    estimated_availability : estimated_availability
                }).then(() =>{
                    this.modalEstimatedPending = false;
                    this.$emit('input', false)
                    this.getPendingInventory()
                })
            },
            showModalRecievedPending(store_id, model, short_description, store, stock){
                this.modalRecievedPending = true;
                this.store_id = store_id
                this.product_id = model
                this.short_description = short_description
                this.store = store
                this.stock = stock
            },
            closeModalRecievedPending(){
                this.modalRecievedPending = false;
                this.recieved_stock = ''
            },
            saveRecievedPending(){
                this.$validator.validate().then(result => {
                    if (result) {
                        this.recievedBackOrderStock({
                            store_id : this.store_id,
                            model : this.product_id,
                            stock_type : '2',
                            quantity : this.recieved_stock,
                            available_condition : '1',
                            pending_stock: this.stock
                        }).then(() =>{
                            this.getPendingInventory().then(() => this.closeModalRecievedPending(), this.$emit('input', false))
                        })
                    }
                })
            }
        },
        computed: {
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
