<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ product.selected.product_id }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Product Name</label>
                                <h5>{{ product.selected.short_description }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <h5>{{ product.selected.product_id}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Barcode</label>
                                <h5>{{ product.selected.barcode }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Cost</label>
                                <h5>{{ product.selected.cost}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <h5>{{ product.selected.msrp_price }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Taxed</label>
                                <h5 v-if="product.selected.is_taxed == 1 ">Yes</h5>
                                <h5 v-else>No</h5>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <h5>{{ product.selected.category_name }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sub Category</label>
                                <h5>{{ product.selected.subcategory_name }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Detail Category</label>
                                <h5>{{ product.selected.detail_category_name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="'/settings/manage-product/edit/' + product.selected.product_id">
                        <span class="font-weight-bold">Edit</span>
                    </nuxt-link>
                    <a href="#" class="text-center d-flex flex-fill justify-content-center align-items-center border-right" @click="showModalDeleteProduct(product.selected.product_id, product.selected.short_description)" >
                        <span class="font-weight-bold">Delete</span>
                    </a>
                </div>
            </div>
        </transition>
         <app-modal size="lg" title="Delete Product" centered @hide="closeModalDeleteProduct" v-model="modalDeleteProduct">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete This Product ?</h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Model</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ product_id }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ short_description }}</h5>
                    </div>
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="destroyProduct">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteProduct">Cancel</div>
                    </div>
                </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                show: true,
                product_id:'',
                short_description:'',
                modalDeleteProduct: false
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('product', {
                product(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        },
        methods:{
            ...mapActions('product', [
                'getProducts',
                'deleteProduct'
            ]),
            showModalDeleteProduct(product_id, short_description){
                this.product_id = product_id
                this.short_description = short_description
                this.modalDeleteProduct= true;
            },
            closeModalDeleteProduct(){
                this.modalDeleteProduct= false;
            },
            destroyProduct(){
                this.deleteProduct(this.product_id).then(() => {
                    this.getProducts({ product_id: '' }).then(() => {
                        this.modalDeleteProduct= false;
                        this.$emit('input', false)
                    })
                })
            },
        },
        components:{
            'app-modal': Modal
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
