<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ return_feed.selected.order}}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Date</label>
                                <h5>{{ return_feed.selected.date }}</h5>
                            </div>
                            <div class="form-group">
                                <label>order</label>
                                <h5>{{ return_feed.selected.order}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <h5>{{ return_feed.selected.model }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <h5>{{ return_feed.selected.quantity}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ return_feed.selected.refund_method }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Note</label>
                                <h5 v-html="return_feed.selected.note">{{ return_feed.selected.note }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Refund Amount</label>
                                <h5>{{ return_feed.selected.refund_amount }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Refund Reason</label>
                                <h5>{{ return_feed.selected.refund_reason }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex align-items-stretch p-0">
                    <nuxt-link class="text-center d-flex flex-fill justify-content-center align-items-center border-right" :to="{ name: 'return-feed-restock', params: { 'model': return_feed.selected.model } }">Re-stock</nuxt-link>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                show: true,
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('order', {
                return_feed(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
