<template>
    <div>
        <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a
                        href="#"
                        class="h1 font-weight-300 mb-0"
                        @click.prevent="$emit('input', false)"
                        >&times;</a
                    >
                    <h4 class="text-center font-weight-bold w-100 mb-0">
                        {{ store.selected.store_name }}
                    </h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Location Code</label>
                                <h5>{{ store.selected.store_code }}</h5>
                                <!-- <h5>{{ store.selected.store_id }}</h5> -->
                            </div>
                            <div class="form-group">
                                <label>Location Name</label>
                                <h5>{{ store.selected.store_name }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location Phone Number</label>
                                <h5>{{ store.selected.store_phone_number }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location Fax</label>
                                <h5>{{ store.selected.store_fax }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location Address</label>
                                <h5>{{ store.selected.store_address }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Manager</label>
                                <h5>
                                    {{
                                        store.selected.user != null
                                            ? store.selected.user.fullname
                                            : "-"
                                    }}
                                </h5>
                            </div>
                            <div class="form-group">
                                <label>Tax Percentage</label>
                                <h5>
                                    {{ store.selected.store_tax_percentage }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="card-footer bg-white d-flex align-items-stretch p-0"
                >
                    <nuxt-link
                        class="
                            text-center
                            d-flex
                            flex-fill
                            justify-content-center
                            align-items-center
                            border-right
                        "
                        :to="'stores/edit/' + store.selected.store_id"
                    >
                        <span class="font-weight-bold">Edit</span>
                    </nuxt-link>
                    <a
                        href="#"
                        class="
                            text-center
                            d-flex
                            flex-fill
                            justify-content-center
                            align-items-center
                            border-right
                        "
                        @click="
                            showModalDeleteStore(
                                store.selected.store_id,
                                store.selected.store_name,
                                store.selected.store_code
                            )
                        "
                    >
                        <span class="font-weight-bold">Delete</span>
                    </a>
                    <nuxt-link
                        class="
                            text-center
                            d-flex
                            flex-fill
                            justify-content-center
                            align-items-center
                            border-right
                        "
                        :to="'stores/assign-manager/' + store.selected.store_id"
                    >
                        <span class="font-weight-bold">Assign Manager</span>
                    </nuxt-link>
                    <a
                        href="#"
                        class="
                            text-center
                            d-flex
                            flex-fill
                            justify-content-center
                            align-items-center
                            border-right
                        "
                        @click="
                            showModalWarehouse(
                                store.selected.store_id,
                                store.selected.is_warehouse,
                                store.selected.store_name
                            )
                        "
                    >
                        <span class="font-weight-bold">Set Warehouse</span>
                    </a>
                </div>
            </div>
        </transition>
        <app-modal
            size="lg"
            title="Delete Location"
            centered
            @hide="closeModalDeleteStore"
            v-model="modalDeleteStore"
            v-if="modalDeleteStore"
        >
            <template>
                <b-alert :show="countRelated > 0"
                    >This location cannot be deleted</b-alert
                >
                <h5 class="mt-0 mb-4">
                    Are you sure to delete this location ?
                </h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Location Code</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ store_code }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ store_name }}</h5>
                    </div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button
                        class="btn btn-danger mr-3"
                        @click="removeStore"
                        :disabled="countRelated > 0"
                    >
                        Delete
                    </button>
                    <button
                        class="btn btn-primary"
                        @click="closeModalDeleteStore"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal
            size="lg"
            title="Warehouse Confirm"
            centered
            @hide="closeModalWarehouse"
            v-model="modalWarehouse"
            v-if="modalWarehouse"
        >
            <template>
                <h5 class="mt-0 mb-4">
                    Are you sure to make
                    <span class="content-txt">{{ store_name }}</span> as a
                    warehouse ?
                </h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="setWarehouse">
                        Yes
                    </div>
                    <div class="btn btn-primary" @click="closeModalWarehouse">
                        Cancel
                    </div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";

export default {
    data() {
        return {
            show: true,
            store_id: "",
            store_code: "",
            store_name: "",
            is_warehouse: "",
            modalDeleteStore: false,
            modalWarehouse: false,
        };
    },
    props: {
        value: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapState("store", {
            store(state) {
                return {
                    selected: state.selected,
                };
            },
        }),
        countRelated() {
            if (this.store.selected != null) {
                let store = this.store.selected;
                parseInt(store.check_in_count) +
                    parseInt(store.inventory_location_count) +
                    parseInt(store.order_count) +
                    parseInt(store.quote_count) +
                    parseInt(store.quote_request_count) +
                    parseInt(store.stock_inventory_count) +
                    parseInt(store.user_count);
            }
            return 0;
        },
    },
    methods: {
        ...mapActions("store", ["deleteStore", "getStores", "selectWarehouse"]),
        showModalWarehouse(store_id, is_warehouse, store_name) {
            this.modalWarehouse = true;
            this.store_name = store_name;
            this.store_id = store_id;
            this.is_warehouse = is_warehouse;
            // console.log(store_name)
        },
        closeModalWarehouse() {
            this.modalWarehouse = false;
        },
        setWarehouse() {
            this.is_warehouse = 1;
            this.selectWarehouse({
                is_warehouse: this.is_warehouse,
                store_id: this.store_id,
            }).then(() => {
                this.getStores();
                this.modalWarehouse = false;
                this.$emit("input", false);
            });
        },
        showModalDeleteStore(store_id, store_name, store_code) {
            this.modalDeleteStore = true;
            this.store_id = store_id;
            this.store_code = store_code;
            this.store_name = store_name;
        },
        closeModalDeleteStore() {
            this.modalDeleteStore = false;
        },
        removeStore() {
            if (this.countRelated == 0) {
                this.deleteStore(this.store_id).then(() => {
                    this.getStores();
                    this.modalDeleteStore = false;
                    this.$emit("input", false);
                });
            }
        },
    },
    components: {
        "app-modal": Modal,
    },
};
</script>
<style scoped>
.content-txt {
    color: #e83e8c;
}
</style>
