<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ inventory.selected.order }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Order</label>
                                <h5>{{ inventory.selected.order }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ inventory.selected.store}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <h5>{{ inventory.selected.model }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <h5>{{ inventory.selected.brand}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <h5>{{ inventory.selected.category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Sub Category</label>
                                <h5>{{ inventory.selected.sub_category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Detail Category</label>
                                <h5>{{ inventory.selected.detail_category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                <h5>{{ inventory.selected.stock }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Average Cost</label>
                                <h5 v-money>{{ inventory.selected.average_cost }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                show: true,
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
