<template>
    <div>
         <transition name="slide">
            <div class="card card-popup" v-if="value">
                <div class="card-header bg-white d-flex align-items-center">
                    <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$emit('input', false)">&times;</a>
                    <h4 class="text-center font-weight-bold w-100 mb-0">{{ accounting.selected.location }}</h4>
                </div>
                <div class="card-body bg-gray-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{ accounting.selected.location }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <h5>{{ accounting.selected.zip_code}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <h5>{{ accounting.selected.category }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Gross Reciepts</label>
                                <h5 v-money>{{ accounting.selected.gross_reciepts}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Adjustments</label>
                                <h5 v-money>{{ accounting.selected.adjustments}}</h5>
                            </div>
                            <div class="form-group">
                                <label>Taxable Sales</label>
                                <h5 v-money>{{ accounting.selected.taxable_sales }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Tax Rate</label>
                                <h5 v-money>{{ accounting.selected.tax_rate }}</h5>
                            </div>
                            <div class="form-group">
                                <label>Amount of Tax</label>
                                <h5 v-money>{{ accounting.selected.amount_of_tax }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('accounting', {
                accounting(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        }
    }
</script>
<style scoped>
.content-txt{
    color: #e83e8c;
}
</style>
