<template>
    <div>
        <h3 class="font-weight-600 mb-4">Floor Model</h3>
        <label for="#" class="font-weight-600">Sale History</label>
        <div class="d-flex align-items-start mb-4">
            <div class="mr-3">
                <no-ssr>
                    <app-select
                        v-model="sale.selected"
                        label="label"
                        trackBy="value"
                        placeholder="Sale History"
                        v-width="'140px'"
                        :show-labels="false"
                        :allow-empty="false"
                        :options="sale.options"
                        @input="fetchFloorModel" />
                </no-ssr>
            </div>
            <div class="mr-3">
                <no-ssr>
                    <app-select
                        v-model="store_selected"
                        label="store_name"
                        trackBy="store_id"
                        placeholder="Location"
                        v-width="'250px'"
                        :show-labels="false"
                        :preselect-first="true"
                        :options="storeOptions"
                        @input="fetchFloorModel" />
                </no-ssr>
            </div>
            <div class="mr-3">
                 <no-ssr>
                    <app-select
                        placeholder="All Brand" 
                        v-model="brand_selected" 
                        class="multiselect__group"
                        ref="brandFilter"
                        label="name" 
                        track-by="brand_id" 
                        group-values="child"
                        group-label="name"
                        v-width="'280px'"
                        @select="$refs.brandFilter.deactivate()"
                        :close-on-select="true"
                        :group-select="true"
                        :multiple="true"
                        :options="brands"
                        :show-labels="false"
                        @input="fetchFloorModel">
                    </app-select>
                </no-ssr>
            </div>
            <div class="mr-3">
                <no-ssr>
                    <app-select
                        v-model="category_selected"
                        label="category_name" 
                        track-by="category_name" 
                        placeholder="Categories"
                        v-width="'200px'"
                        :show-labels="false"
                        :options="categories"
                        @input="fetchFloorModel" />
                </no-ssr>
            </div>
            <div class="icon icon-left">
                <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search" @input="searchFloorModel">
                <i class="fas fa-search"></i>
            </div>
            <button class="btn btn-primary ml-auto" :disabled="store_selected == null && brand_selected.length == 0 && category_selected == null && search.length == 0" @click="resetFilter">Reset Filter</button>
        </div>
        <table-floor-model @setPerPage="changePerPage" @setPage="changePage" />
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import TableFloorModel from '@/components/admin/table/FloorModel'
import {mapState, mapActions} from 'vuex'
import _ from 'lodash'
export default{
    transition: 'slide',
    layout: 'admin',
    components: {
        'app-select': Select,
        TableFloorModel
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('store/getStores', 'all'),
            store.dispatch('brand/getBrandNames'),
            store.dispatch('category/getCategories'),
            store.dispatch('accounting/getFloorModel', {
                last:90,
                store_id:null,
                brand_id:null,
                category:null,
                perpage: 10,
                q:null,
                page: 1
            })
        ])
    },
    data: () => ({
        search: '',
        sale: {
            selected: {
                value: 90,
                label: '90 Days'
            },
            options: [
                {
                    value: 90,
                    label: '90 Days'
                },
                {
                    value: 120,
                    label: '120 Days'
                },
                {
                    value: 360,
                    label: '360 Days'
                }
            ]
        },
        store_selected: null,
        brand_selected: [],
        category_selected: null,
        perpage: 10,
        page: 1
    }),
    computed: {
        ...mapState('store', {
            stores : state => state.items
        }),
        ...mapState('brand', {
            brands: state => state.brands
        }),
        ...mapState('category', {
            categories: state => state.categories
        }),
        storeOptions(){
            let store = [{store_name: 'All Location', store_id: null}, ...this.stores]
            return store
        }
    },
    methods: {
        ...mapActions('accounting',['getFloorModel']),
        fetchFloorModel(){
            this.getFloorModel({
                last:this.sale.selected.value,
                store_id:this.store_selected ? this.store_selected.store_id : null,
                brand_id:this.brand_selected.length > 0 ? this.brand_selected.map(v => {return v.name}) : [],
                category:this.category_selected ? this.category_selected.category_name : null,
                perpage: this.perpage,
                page: this.page,
                q:this.search
            })
        },
        searchFloorModel: _.debounce(function(){
            this.fetchFloorModel()
        }, 500),
        changePerPage(value){
            this.perpage = value
            this.fetchFloorModel()
        },
        changePage(value){
            this.page = value
            this.fetchFloorModel()
        },
        resetFilter(){
            this.store_selected = {store_name: 'All Location', store_id: null}
            this.brand_selected = []
            this.category_selected = null
            this.search = ''
            this.fetchFloorModel()
        }
    }
}
</script>