<template>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="mr-3">
                <no-ssr>
                    <app-datepicker mode="single" v-model="date" @input="fetchInventoryMatchLog">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right" v-width="'220px'">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <div class="mr-3">
                <app-select
                    v-model="location_selected" 
                    :options="stores" 
                    :show-labels="false"
                    :searchable="false"
                    v-width="'250px'"
                    placeholder="Select Location" 
                    label="store_name" 
                    track-by="store_id"
                    @input="fetchInventoryMatchLog" />                
            </div>
        </div>
        <app-table :fields="fields" :items="inventoryMatchLog.data" fixed :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
             <template slot="date" slot-scope="row">
                <a href="javascript:void(0)" class="text-primary font-weight-600" @click="row.toggleDetails">
                    <i class="fas mr-2" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                    {{row.item.date}}
                </a>
            </template>
            <template v-slot:row-details="row">
                <app-table stripped :items="row.item.detail_logs" :fields="fieldsDetail" small show-empty>
                    <template slot="stock_type" slot-scope="row">
                        <div class="d-flex align-items-center" :class="row.item.stock_type == 0 ? 'text-primary' : row.item.stock_type == 1 ? 'text-warning' : 'text-success'">
                            <i class="fas fa-circle"></i>
                            <p class="mb-0 ml-2">{{row.item.stock_name}}</p>
                        </div>
                    </template>
                </app-table>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="inventoryMatchLog.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="inventoryMatchLog.data.length > 0 && inventoryMatchLog.meta.last_page > 1" align="right" :total-rows="100" :per-page="inventoryMatchLog.meta.per_page" @input="setPage" v-model="currentPage"></app-pagination>
        </div>  
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Select from 'vue-multiselect'

export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord,
        'app-select' : Select,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('store/getStores', 'all'),
            store.dispatch('inventory/getInventoryMatchLog', {
                date: new Date().toLocaleDateString(),
                page: 1,
                perpage: 10,
                store: null
            })
        ])
    },  
    data: () => ({
        location_selected: null,
        date: new Date(),
        fields: [
            {
                key: 'date',
            },
            {
                key: 'username',
            },
            {
                key: 'store.store_name_only',
                label: 'Location'
            },
            {
                key: 'model',
            },
            {
                key: 'condition_name',
                label: 'Condition'
            },
            {
                key: 'quantity',
            },
            {
                key: 'in_stock',
            },
        ],
        fieldsDetail: [
            {
                key: 'model'
            },
            {
                key: 'stock_type'
            },
            {
                key: 'stock_amount'
            },
            // {
            //     key: 'pending_quantity',
            //     label: 'Requested'
            // },
            // {
            //     key: 'ordered_quantity',
            //     label: 'On Order'
            // },
            // {
            //     key: 'available_quantity',
            //     label: 'Available'
            // },
            // {
            //     key: 'tagged_quantity',
            //     label: 'Reserved'
            // }
        ],
        currentPage: 1,
        perPage: 10,
    }),
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('inventory', {
            inventoryMatchLog : state => state.inventoryMatchLog
        }),
    },
    methods: {
        ...mapActions({
            getInventoryMatchLog: 'inventory/getInventoryMatchLog'
        }),
        setPage(value){
            this.currentPage = value
            this.fetchInventoryMatchLog()
        },
        setPerPage(value){
            this.currentPage = 1
            this.perPage = value
            this.fetchInventoryMatchLog()
        },
        fetchInventoryMatchLog(){
            this.getInventoryMatchLog({
                page: this.currentPage,
                perpage: this.perPage,
                date: this.moment(this.date).format('L'),
                store_id: this.location_selected ? this.location_selected.store_id : null
            })   
        }
    }
}
</script>

<style>

</style>