<template>
    <div>
        <h3 class="font-weight-600 mb-0">Warranty Report</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getData">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right" v-width="'220px'">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="store_selected"
                        v-width="'200px'"
                        :options="stores"
                        :close-on-select="true"
                        :hide-selected="true"
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location"
                        label="store_name"
                        track-by="store_id"
                        :preselect-first="false"
                        @input="getData"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="sales_selected"
                        v-width="'200px'"
                        :options="sales_person"
                        :close-on-select="true"
                        :hide-selected="true"
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person"
                        label="fullname"
                        track-by="user_id"
                        :preselect-first="false"
                        @input="getData"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr>
                        <app-select
                            v-model="category_selected"
                            v-width="'200px'"
                            :options="categories"
                            :close-on-select="true"
                            :hide-selected="true"
                            :preserve-search="true"
                            :select-label="'Select'"
                            placeholder="Main Categories"
                            label="category_name"
                            track-by="category_id"
                            :preselect-first="false"
                            @input="getData"
                        >
                        </app-select>
                    </no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <!-- <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getEpicCsv">Export EPIC CSV</button>
                    </div> -->
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <p-check class="mr-3 p-switch p-fill" v-model="delivered_only" @change="getData" color="primary"><p class="mb-0 ml-2 mr-2">Delivered Only</p></p-check>
            <p-check class="mr-3 p-switch p-fill" v-model="is_custom" @change="getData" color="primary"><p class="mb-0 ml-2 mr-2">Custom Warranties</p></p-check>
            <p-check class="mr-3 p-switch p-fill" v-model="is_custom_product" @change="getData" color="primary"><p class="mb-0 ml-2 mr-2">Custom Product</p></p-check>

            <!-- <div class="form-group mb-0 mr-3 ml-3">
                <no-ssr><app-select
                    v-width="'200px'"
                    v-model="delivery_method"
                    :options="deliveries"
                    :close-on-select="true"
                    :hide-selected="true"
                    :preserve-search="true"
                    :select-label="'Select'"
                    placeholder="Select Delivery Method"
                    label="delivery_method_name"
                    track-by="delivery_method_id"
                    :preselect-first="false"
                    id="example"
                    @input="getData"
                >
                </app-select></no-ssr>
            </div> -->
            <!-- <div class="form-group mb-0 ml-3">
                <app-select v-model="brand_selected" class="tagging-product select-product" :preserve-search="true" tag-placeholder="Select brand" placeholder="Search brand" label="brand_name" track-by="brands" :select-label="''" :searchable="true" :options="brands" :multiple="true" :taggable="true" @input="getData($event)" :loading="isLoading2" @search-change="searchChange($event)"></app-select>
            </div> -->
            <!-- <div class="form-group mb-0 ml-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'200px'" placeholder="Search Model #" @input="searchAction">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="row justify-content-end mb-2 mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Warranty Revenue</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600" v-money :key="item.revenue_total">{{item.revenue_total}}</span></div>
                </div>
                <div class="row justify-content-end mb-2 mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Warranty Cost</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600"  v-money :key="item.total_cost">{{item.total_cost}}</span></div>
                </div>
                <div class="row justify-content-end mb-2 mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Warranty Profit</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600" v-money :key="item.profit_total">{{item.profit_total}}</span></div>
                </div>
                <div class="row justify-content-end mx-0">
                    <div class="col-4 px-0"><p class="mb-0 font-weight-600">Warranty Quantity</p></div>
                    <div class="col-1 px-0"><span class="font-weight-600">:</span></div>
                    <div class="col-3 px-0 text-right"><span class="font-weight-600" :key="item.qty_total">{{item.qty_total}}</span></div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-warranty/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableWarrantyReport from '@/components/admin/table/WarrantyReport.vue'
    import _ from 'lodash'

    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     ;

    export default {
        async fetch ({ store, route }) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            await Promise.all([
                store.dispatch('accounting/getWarrantyReport',{
                    start: today,
                    end: today
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
                store.dispatch('category/getCategories')
                // store.dispatch('deliveryMethod/getDeliveryMethods'),
                // store.dispatch('brand/getBrands')
            ])
        },
        data() {
            return {
                // search: null,
                // delivery_method: '',
                date: {
                    start: new Date(),
                    end: new Date()
                },
                // date: null,
                sales_selected:'',
                // brand_selected : [],
                store_selected:'',
                category_selected: null,
                isLoading2: false,
                delivered_only: false,
                is_custom: false,
                is_custom_product: false,
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl,
                item: state => state.item_warranty_report,
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            // ...mapState('brand', {
            //     brands: state => state.brands
            // }),
            ...mapState('deliveryMethod', {
                deliveries: state => state.items
            }),
            ...mapState('category', {
                categories: state => state.categories,
            }),
        },
        methods: {
            ...mapActions('accounting', ['getWarrantyReport']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            // ...mapActions('brand',['getBrands']),
            ...mapMutations(['SET_LOADING_TABLE']),

            // searchChange: _.debounce(function(event){
            //     this.isLoading2 = true
            //     this.getBrands(event).then( () =>{
            //         this.isLoading2 = false
            //     })
            // }, 300),
            getData(){
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                let category = this.category_selected ? this.category_selected.category_name : ''
                this.getWarrantyReport({
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only,
                    is_custom : this.is_custom,
                    category : category,
                    is_custom_product: this.is_custom_product
                    // delivery_method_id: delivery_method_id,
                    // search: this.search,
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.store_selected = ''
                this.sales_selected = ''
                this.category_selected = ''
                this.delivered_only = false
                this.is_custom = false
                this.getData()
            },
            // searchAction: _.debounce(function(e){
            //     if(this.search != null){
            //         this.getData()
            //     }
            // }, 500),
            viewPdf() {
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getPDF({
                    type: 'warranty-report',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getCSV({
                    type: 'warranty-report',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                        end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    })
                })
            },
            getEpicCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getCSV({
                    type: 'warranty-epic-report',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                        end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    })
                })
            }
        },
        components: {
            'app-table-warranty': TableWarrantyReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
