<template>
    <div>
        <app-modal-stores />
    </div>
</template>

<script>
import ModalStore from "@/components/admin/modal/Stores.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("store/getManagers");
        return;
    },
    components: {
        "app-modal-stores": ModalStore,
    },
    transition: "slide",
    layout: "admin",
};
</script>
