<template>
    <div>
        <div class="card p-4">
            <div class="d-flex align-items-center justify-content-between pointer" @click="collapse.nextDay = !collapse.nextDay">
                <div class="d-flex">
                    <h6 class="font-weight-bold mb-0 mr-3">
                        Next Day Delivery Cut Off Time
                    </h6>
                    <no-ssr>
                        <toggle-button
                            v-model="status"
                            class="mb-0"
                            color="#0055C0"
                            :sync="true"
                            :labels="true"
                            @change="changeRule"
                        />
                    </no-ssr>
                </div>
                <i class="fas" :class="collapse.nextDay ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>
            <b-collapse v-model="collapse.nextDay" :id="'accordion-cut-off'" accordion="my-accordion" role="tabpanel">
                <div class="form-group mt-3">
                    <label for="#" class="font-weight-600 d-block">Time</label>
                    <el-time-picker
                        :disabled="!status"
                        format="hh:mm A"
                        value-format="hh:mm A"
                        class="w-150px"
                        v-model="time"
                        placeholder="00:00"
                        @change="handleInputTime">
                    </el-time-picker>
                </div>
            </b-collapse>
        </div>
        <div class="card p-4 mt-3">
            <div class="d-flex align-items-center justify-content-between pointer" @click="collapse.damageWaiver = !collapse.damageWaiver">
                <div class="d-flex">
                    <h6 class="font-weight-bold mb-0 mr-3">
                        Damage Waiver
                    </h6>
                    <no-ssr>
                        <toggle-button
                            v-model="form.status"
                            class="mb-0"
                            color="#0055C0"
                            :sync="true"
                            :labels="true"
                            @change="updateStatus($event.value);saveDamageWaiverSetting()"
                        />
                    </no-ssr>
                </div>
                <i class="fas " :class="collapse.damageWaiver ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>
            <b-collapse v-model="collapse.damageWaiver" :id="'accordion-damage-waiver'" accordion="my-accordion" role="tabpanel">
                <b-form class="mt-3">
                    <b-form-group
                        id="title"
                        label="Title"
                        label-class="font-weight-bold"
                        label-for="title"
                    >
                        <b-form-input
                            id="title"
                            v-model="form.title"
                            v-validate="'required'"
                            data-vv-name="Title"
                            data-vv-as="Title"
                            type="text"
                            placeholder="Enter title"
                            :class="{ 'is-invalid': errors.has('Title') }"
                            @input="updateTitle"
                            @blur="saveDamageWaiverSetting"
                        ></b-form-input>
                        <span v-if="errors.has('Title')" class="text-danger">{{ errors.first("Title")}}</span>
                    </b-form-group>

                    <b-form-group
                        id="text"
                        label="Agreement"
                        label-class="font-weight-bold"
                        label-for="text"
                    >
                        <b-form-textarea
                            id="text"
                            v-model="form.text"
                            v-validate="'required'"
                            data-vv-name="Agreement"
                            data-vv-as="Agreement"
                            placeholder="Enter your agreement"
                            :class="{ 'is-invalid': errors.has('Agreement') }"
                            rows="9"
                            @input="updateText"
                            @blur="saveDamageWaiverSetting"
                        ></b-form-textarea>
                        <span v-if="errors.has('Agreement')" class="text-danger">{{ errors.first("Agreement")}}</span>
                    </b-form-group>
                </b-form>
            </b-collapse>
        </div>
        <div class="card p-4 mt-3">
            <div class="d-flex align-items-center justify-content-between pointer" @click="collapse.maxDrive = !collapse.maxDrive">
                <h6 class="font-weight-bold mb-0 mr-3">
                    Max Drive Time
                </h6>
                <i class="fas " :class="collapse.maxDrive ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>
            <b-collapse v-model="collapse.maxDrive" :id="'max-drive-time'" accordion="my-accordion" role="tabpanel">
                <div class="row mt-3">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="hour">Hour</label>
                            <input
                                id="hour"
                                v-model="timeLimit.hour"
                                type="number"
                                name="hour"
                                class="form-control"
                                :min="0"
                                @blur="changeTimeLimit()"
                            />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="minute">Minute</label>
                            <input
                                id="minute"
                                v-model="timeLimit.minute"
                                type="number"
                                name="hour"
                                class="form-control"
                                :min="0"
                                :max="60"
                                @blur="changeTimeLimit()"
                            />
                        </div>
                    </div>
                </div>
            </b-collapse>
        </div>
        <div class="card p-4 mt-3">
            <div class="d-flex align-items-center justify-content-between pointer" @click="collapse.deliveryRules = !collapse.deliveryRules">
                <h6 class="font-weight-bold mb-0 mr-3">
                    Delivery Rules
                </h6>
                <i class="fas " :class="collapse.deliveryRules ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>
            <b-collapse v-model="collapse.deliveryRules" :id="'delivery-rules'" accordion="my-accordion" role="tabpanel">
                <div
                    v-for="(rule, index) in filterRule"
                    :key="index"
                    class="mb-3"
                >
                    <label :for="rule.id" class="mb-2 d-block">
                        {{rule.description}}
                    </label>
                    <no-ssr>
                        <toggle-button
                            v-model="rule.status"
                            class="mb-0"
                            color="#0055C0"
                            :sync="true"
                            :labels="true"
                            @change="changeRuleRules(rule)"
                        />
                    </no-ssr>
                </div>
            </b-collapse>
        </div>
    </div>
</template>

<script>

// Packages
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex';

// Types
import { TYPES } from "@/types/store/damageWaiver";

export default {
    name: 'GeneralSetting',
    async asyncData({store}){
        await Promise.all([
            await store.dispatch('rule/getRule', {rule: 'Delivery Cut Off Time'}),
            await store.dispatch('rule/getRule',{rule: 'Scan out Rule'}),
            await store.dispatch('rule/getRule',{rule: 'Lock Closed Delivery Status'}),
            store.dispatch("damageWaiver/getDamageWaiverSetting"),
            store.dispatch("timeLimit/getTimeLimits"),
        ])
    },
    data: () => ({
        time: null,
        status: false,
        collapse: {
            nextDay: false,
            damageWaiver: false,
            maxDrive: false,
            deliveryRules: false,
        }
    }),
    destroyed(){
        let indexCutOff = this.ruleData.findIndex(o => {return o.rule == 'Delivery Cut Off Time'})
        if(indexCutOff != -1) this.removeRule(indexCutOff)
        this.CLEAR_RULE()
    },
    created(){
        this.time = this.rules[0].rule_detail
        this.status = this.rules[0].status == 1 ? true : false
        this.getDamageWaiverSetting();
    },
    computed: {
        ...mapGetters({
            ruleData: "rule/ruleData",
        }),
        ...mapState({
            form: (state) => state.damageWaiver.form,
        }),
        ...mapState("timeLimit", {
            timeLimit: (state) =>
                state.timeLimits.reduce((timeLimit) => {
                    return timeLimit;
                }),
        }),
        filterRule() {
            return this.ruleData.filter((rule) => rule.id !== 3);
        },
        rules(){
            return this.ruleData.filter(o => {return o.rule == 'Delivery Cut Off Time'})
        },
    },
    methods: {
        ...mapActions({
            updateRule: 'rule/updateRule'
        }),
        ...mapMutations({
            removeRule : 'rule/REMOVE_RULE'
        }),
        ...mapActions({
            putTimeLimit: "timeLimit/putTimeLimit",
        }),
        ...mapMutations({
            CLEAR_RULE: "rule/CLEAR_RULE",
        }),
        handleInputTime(){
            this.changeRule()
        },
        changeRule(){
            this.updateRule({
                id: this.rules[0].id,
                rule_detail: this.time,
                status: this.status ? 1 : 0
            })
        },
        changeRuleRules(rule){
            this.updateRule({ id: rule.id, status: rule.status ? 1 : 0 });
        },
        updateTitle(value) {
            this.$store.commit(
                `damageWaiver/${TYPES.SET_DAMAGE_WAIVER_TITLE}`,
                value
            );
        },
        updateText(value) {
            this.$store.commit(`damageWaiver/${TYPES.SET_DAMAGE_WAIVER_TEXT}`, value);
        },
        updateStatus(event) {
            this.$store.commit(
                `damageWaiver/${TYPES.SET_DAMAGE_WAIVER_STATUS}`,
                event
            );
        },
        async getDamageWaiverSetting() {
            const result = await this.$store.dispatch(
                "damageWaiver/getDamageWaiverSetting"
            );

            if (result.status !== 200) {
                this.$root.$bvToast.toast(`Something Error`, {
                title: "Error!",
                variant: "danger",
                solid: true,
                });
            }
        },
        async changeTimeLimit() {
            const { id, hour, minute } = this.timeLimit;
            const payload = { id, hour, minute };
            const result = await this.putTimeLimit(payload);

            if (result.status === "success") {
                this.$root.$bvToast.toast(`Data Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (result.status !== "success") {
                this.$root.$bvToast.toast(`Data Update Failed`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });
            }
        },
        async saveDamageWaiverSetting() {
            const result = await this.$store.dispatch(
                "damageWaiver/saveDamageWaiverSetting",
                this.form
            );

            if (result.status !== 200) {
                this.$root.$bvToast.toast(`Something Error`, {
                title: "Error!",
                variant: "danger",
                solid: true,
                });
            }

            if (result.status === 200) {
                this.$root.$bvToast.toast(`Damage Waiver Setting Saved`, {
                title: "Success!",
                variant: "success",
                solid: true,
                });
            }
        },

    }
}
</script>
<style lang="scss" scoped>
.w-150px {
    width: 150px;
}
</style>
