<template>
    <section>
        <admin-table-our-team />
    </section>
</template>
<script>
    import AdminTableOurTeam from '@/components/admin/table/OurTeam.vue'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    // import ActionEmployee from '@/components/admin/action/Employees.vue'
    import { mapActions, mapState, mapMutations } from 'vuex'
    import _ from 'lodash'

    export default {
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('employee/getEmployees', {
                    type:'frontend'
                })
            ])
            return
        },
        data() {
            return {
                action: false,
                modalInvite: false,
                email: '',
                query: '',
                perpage: 10
            }
        },
        mounted () {
            localStorage.setItem('history-page', 'settings-employees-index-our-team/1')
        },
        methods: {
            ...mapMutations('employee', ['SET_EMPLOYEE_PAGE']),
            setPerpage(val){
                this.perpage = val
            },
        },
        destroyed() {
            this.$emit('clear-search')
            this.SET_EMPLOYEE_PAGE(1)
        },
        components:{
            'admin-table-our-team': AdminTableOurTeam,
            'app-modal': Modal,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

