<template>
    <div>
        <h3 class="font-weight-600 mb-0">Accounting Summary Report</h3>

        <card-border
            v-if="paramsReport.store"
            variant="transparent"
            class="mt-3 border d-flex"
        >
            <img
                :src="companyLogo"
                id="logo"
                alt="slymanbros-logo"
                class="mr-3"
                width="100"
                height="100"
            />
            <div class="d-block">
                <h5>{{ paramsReport.store.store_name }}</h5>
                <p class="mb-1">{{ paramsReport.store.store_address }}</p>
                <p class="mb-1">{{ paramsReport.store.store_phone_number }}</p>
            </div>
        </card-border>

        <div class="bg-primary-light text-primary p-2 mt-3 text-center rounded">
            <i class="fas fa-info-circle"></i>
            This data saved and recorded on the last day of each month at 11:59
            PM
        </div>

        <div class="d-flex align-items-center justify-content-between mt-3">
            <div class="d-flex align-items-center">
                <no-ssr>
                    <app-select
                        v-model="paramsReport.store"
                        v-width="'250px'"
                        name="location"
                        placeholder="Select Location"
                        label="store_name"
                        track-by="store_id"
                        class="mr-3"
                        :options="stores"
                        :close-on-select="true"
                        :clear-on-select="false"
                        :hide-selected="true"
                        :preserve-search="true"
                        :preselect-first="false"
                        @input="doGetReportList"
                    >
                    </app-select>
                </no-ssr>
                <no-ssr>
                    <toggle-button
                        v-model="paramsReport.live"
                        class="mb-0 mr-3"
                        color="#0055C0"
                        :sync="true"
                        :labels="true"
                        @change="doGetReportList"
                    />
                </no-ssr>
                <p class="mb-0 text-nowrap mr-2">Live Data</p>
                <i
                    class="fas fa-info-circle"
                    v-b-tooltip.hover.noninteractive
                    title="If on, showing current month data"
                >
                </i>
            </div>
            <div v-if="paramsReport.store" class="d-flex">
                <button class="btn btn-outline-primary mr-3" @click="doGetCsv">
                    Export CSV
                </button>
                <button class="btn btn-outline-primary" @click="doGetPdf">
                    Export PDF
                </button>
            </div>
        </div>

        <div v-if="!paramsReport.live" class="mt-3 d-block">
            <no-ssr>
                <app-select
                    v-model="paramsMonth.year"
                    v-width="'150px'"
                    name="year"
                    placeholder="Select Year"
                    :options="futureYears"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="true"
                    :preserve-search="true"
                    :preselect-first="false"
                    @input="selectYear"
                >
                </app-select>
            </no-ssr>
            <div class="mt-3 d-flex gap">
                <card-border
                    v-for="(year, index) in yearList"
                    :key="index"
                    v-width="'100px'"
                    variant="transparent"
                    class="cursor-pointer"
                    :class="{
                        'text-white bg-primary':
                            year.date === paramsReport.date,
                    }"
                    @click="selectDate(year.date)"
                >
                    <div class="text-center">
                        <span class="font-weight-bold">{{
                            year.dateFormatted
                        }}</span>
                        <sub class="font-weight-600">{{
                            year.endingNumber
                        }}</sub>
                        <p class="font-weight-600 mb-0">
                            {{ year.monthFormatted }}
                        </p>
                    </div>
                </card-border>
            </div>
        </div>

        <div v-if="paramsReport.store" class="mt-3">
            <div class="row">
                <div class="col-4">
                    <card-border
                        class="cursor-pointer"
                        variant="purple"
                        @click="goTo('reports-account-receivables-index-all')"
                    >
                        <p class="font-weight-600 text-secondary">
                            Account Receivables (Total)
                        </p>
                        <h5
                            v-money
                            :key="items.accountReceive"
                            class="text-black font-weight-bold"
                        >
                            {{ items.accountReceive }}
                        </h5>
                    </card-border>
                </div>
                <div class="col-4">
                    <card-border
                        class="cursor-pointer"
                        variant="red"
                        @click="goTo('reports-deposit-report')"
                    >
                        <p class="font-weight-600 text-secondary">
                            Deposits (Total)
                        </p>
                        <h5
                            v-money
                            :key="items.deposit"
                            class="text-black font-weight-bold"
                        >
                            {{ items.deposit }}
                        </h5>
                    </card-border>
                </div>
                <div class="col-4">
                    <card-border
                        class="cursor-pointer"
                        variant="green"
                        @click="goTo('inventory-index-current-inventory')"
                    >
                        <p class="font-weight-600 text-secondary">
                            Inventory (Total Cost)
                        </p>
                        <h5
                            v-money
                            :key="items.inventory"
                            class="text-black font-weight-bold"
                        >
                            {{ items.inventory }}
                        </h5>
                    </card-border>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Components
import CardBorder from "@/components/utilities/CardBorder.vue";

// Packages
import { mapState, mapActions } from "vuex";
import Select from "vue-multiselect";

// mixins
import downloadFile from "@/mixins/download-file.js";

export default {
    name: "AccountingSummaryReport",
    transition: "slide",
    layout: "admin",
    mixins: [downloadFile],
    components: {
        CardBorder,
        "app-select": Select,
    },
    asyncData({ store }) {
        store.dispatch("store/getStores");
    },
    computed: {
        ...mapState("store", {
            stores: (state) => state.items,
        }),
        ...mapState("accountingSummaryReport", {
            yearList: (state) => state.yearList,
            items: (state) => state.items,
        }),
        companyLogo() {
            return this.$auth.user.companies
                ? this.$auth.user.companies.link
                : "/slymanbros-logo.png";
        },
        futureYears() {
            let years = [];
            let currentYear = new Date().getFullYear() - 1;
            const countYear = currentYear + 2;

            for (currentYear; currentYear <= countYear; currentYear++) {
                years.push(currentYear);
            }

            return years;
        },
    },
    data() {
        return {
            paramsReport: {
                live: true,
                store: null,
                date: null,
            },
            paramsMonth: {
                year: new Date().getFullYear(),
            },
            company: null,
        };
    },
    mounted() {
        this.getDateList(this.paramsMonth);
    },
    methods: {
        ...mapActions("accountingSummaryReport", [
            "getDateList",
            "getReport",
            "getReportPdf",
            "getReportCsv",
        ]),
        selectDate(date) {
            if (this.paramsReport.date === date) {
                this.paramsReport.date = null;
            }
            if (this.paramsReport.date !== date) {
                this.paramsReport.date = date;
            }

            this.doGetReportList();
        },
        selectYear() {
            this.getDateList(this.paramsMonth);
        },
        goTo(routeName) {
            this.$router.push({
                name: routeName,
            });
        },
        doGetPdf() {
            const mappedParams = {
                live: this.paramsReport.live,
                store: this.paramsReport.store.store_id,
                date: this.paramsReport.live ? null : this.paramsReport.date,
            };

            this.getReportPdf(mappedParams).then(({ data }) => {
                const splitLink = data.split("/");

                this.downloadFile({
                    url: data,
                    name: splitLink[splitLink.length - 1],
                });
            });
        },
        doGetCsv() {
            const mappedParams = {
                live: this.paramsReport.live,
                store: this.paramsReport.store.store_id,
                date: this.paramsReport.live ? null : this.paramsReport.date,
            };

            this.getReportCsv(mappedParams).then(({ data }) => {
                const splitLink = data.split("/");

                this.downloadFile({
                    url: data,
                    name: splitLink[splitLink.length - 1],
                });
            });
        },
        doGetReportList() {
            const mappedParams = {
                live: this.paramsReport.live,
                store: this.paramsReport.store.store_id,
                date: this.paramsReport.live ? null : this.paramsReport.date,
            };

            this.getReport(mappedParams);
        },
    },
};
</script>
