<template>
    <app-modal-view-order :returned="returned" :return_payment="return_payment"/>
</template>

<script>
    import ModalViewOrder from '@/components/modal/ViewOrder.vue'

    export default {
        data(){
            return{
                returned: [],
                return_payment:[]
            }
        },
        async fetch({ store, route, app }) {
            await Promise.all([
                store.dispatch('order/getOrder', route.params.id)
                .then((response) => {
                    store.commit('customer/SET_CUSTOMER_SELECTED', response.customer)
                    store.commit('salesPerson/SET_SALES_PERSON_SELECTED', response.sales_person)
                    this.returned = response.returned
                    this.return_payment = response.return_payment
                }),
                store.dispatch('customer/getCustomers'),
                store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
                store.dispatch('store/getStores', 'all')
            ])
            store.commit('install/SET_INSTALL_FIELDS', [
                {
                    key: 'install_name',
                    label: 'Name'
                },
                {
                    key: 'description',
                    label: 'Description'
                },
                {
                    key: 'install_price',
                    label: 'Price'
                }
            ])
            return
        },
        components: {
            'app-modal-view-order': ModalViewOrder
        },
        transition: 'slide',
    }
</script>