<template>
    <div>
        <div class="d-flex justify-content-end mb-3">
            <nuxt-link
                tag="a"
                :to="{ name: 'settings-delivery-settings-load-times-add' }"
                class="btn btn-primary"
                ><i class="fas fa-plus"></i> Add Load Time</nuxt-link
            >
        </div>
        <LoadTimes />
    </div>
</template>
<script>
import LoadTimes from "@/components/admin/table/LoadTimes";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("deliveryTimes/getLoadTimes");
    },
    components: {
        LoadTimes,
    },
    transition: "slide",
    layout: "admin",
};
</script>
<style scoped>
</style>

