<template>
    <div>
        <div class="navbar navbar-light navbar__top py-0 border-bottom">
            <span class="navbar-title text-gray">Welcome to POS Slymanbros!</span>
            <div class="ml-auto d-flex align-items-center">
                <b-nav-item-dropdown left no-caret class="d-flex align-items-center bg-primary">
                    <template slot="button-content">
                        <div class="d-flex align-items-center py-2 text-white">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                            {{ auth.store }}
                        </div>
                    </template>
                    <template v-for="(item, i) in store">
                        <b-dropdown-item href="#" v-if="item.store_name != auth.store" :key="i" @click.prevent="changeLocation(item.store_id)">{{ item.store_name }}</b-dropdown-item>
                    </template>
                </b-nav-item-dropdown>
            </div>
        </div>
        <div class="navbar navbar-light py-xl-2 py-1 justify-content-start border-bottom">
            <button class="btn btn-secondary mr-4 navbar-dark d-xl-none" @click="collapseMenu = !collapseMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand mr-2">
                <nuxt-link tag="a" :to="{ name: 'index' }">
                    <img src="/slymanbros-logo.png" id="logo" alt="slymanbros-log" class="d-xl-block d-none">
                    <img src="/slymanbros-logo-small.svg" id="logo" alt="slymanbros-log" class="d-xl-none d-block">
                </nuxt-link>
            </div>
            <div class="d-flex align-items-center mx-3 flex-grow-1">
                <nuxt-link tag="a" :to="{name: 'my-quotes-create'}" class="btn btn-primary px-4" @click.prevent="setHistoryQuote">Start a Quote</nuxt-link>
                <div class="ml-3 flex-grow-1 position-relative" ref="searchArea">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" placeholder="Search everything" v-model="search" @focus="isSearchFocus = true" @blur="handleBlurSearch" @input="handleSearch">
                        <i class="fas fa-search" />
                        <spinner-input v-if="isFetchSearch" />
                    </div>
                    <transition name="slide" mode="in-out">
                        <div class="search__card rounded bg-white mt-2 py-3" v-if="isSearch">
                            <template v-if="searchResult.length > 0">
                                <template v-for="(result, indexResult) in searchResult">
                                    <div :class="{'mb-3' : searchResult.length - 1 != indexResult}" :key="`${result.type + indexResult}`">
                                        <h6 class="mb-1 text-gray font-weight-700 px-4 text-capitalize search__title" v-if="result.data.length > 0">{{result.type.replace('_', ' ')}}</h6>
                                        <template v-for="(child, indexChild) in result.data">
                                            <span class="search__list cursor-pointer px-4 py-2 d-block text-dark" :key="`resultChild${indexChild + indexResult}`" @click="submitSearch(result, child)">{{child.name}}</span>
                                        </template>
                                    </div>
                                </template>
                            </template>
                            <template v-else>
                                <h6 class="mb-0 text-gray font-weight-600 px-4">Oops! data not found. Consider changing the search query.</h6>
                            </template>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="d-flex align-items-center ml-auto">
                <div class="notification mx-2 position-relative" ref="notificationArea">
                    <a href="javascript:void(0)" class="notification__icon d-inline-block position-relative" @click="showNotification">
                        <div class="counter counter-green" v-if="notification.data.counter > 0">{{notification.data.counter}}</div>
                        <i class="fas fa-bell text-gray"></i>
                    </a>
                    <div class="notification__menu card-default p-0" :class="{'notification__menu--show' : isShowNotification}">
                        <div class="notifcation__header d-flex align-items-center px-4 py-3">
                            <h6 class="font-weight-600 mb-0">{{isSettingNotification ? 'Notification Settings' : 'My Notifications'}}</h6>
                            <div class="ml-auto d-flex align-items-center">
                                <transition name="scale">
                                    <b-dropdown right variant="link" toggle-class="text-decoration-none p-0" class="no-transition" no-caret v-if="!isSettingNotification">
                                        <template #button-content>
                                            <a href="javascript:void(0)" class="notification__icon">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                        </template>
                                        <b-dropdown-item class="d-flex align-items-center" @click="handleReadAll">
                                            <i class="far fa-envelope-open mr-2"></i>
                                            <span>Mark all as read</span>
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </transition>
                                <a href="javascript:void(0)" class="notification__icon ml-3" @click="isSettingNotification = !isSettingNotification">
                                    <transition name="scale" mode="out-in">
                                        <i class="fas fa-arrow-left fa-lg" key="1" v-if="isSettingNotification"></i>
                                        <i class="fas fa-cog fa-lg" key="2" v-else></i>
                                    </transition>
                                </a>
                            </div>
                        </div>
                        <transition name="slide-fade" mode="out-in">
                            <div class="notification__menu--inner notification__setting d-flex flex-column" key="1" v-if="isSettingNotification">
                                <div class="px-4 py-2">
                                    <b-form-checkbox v-model="setting.status" value="1" unchecked-value="0" class="mb-2 text-gray" v-for="(setting, indexSetting) in notification.setting" :key="indexSetting">
                                        <span class="cursor-pointer">{{setting.name}}</span>
                                    </b-form-checkbox>
                                </div>
                                <div class="border-top d-flex align-items-center justify-content-end px-4 py-3 mt-auto">
                                    <a href="javascript:void(0)" class="text-gray d-inline-block mr-3" @click="isSettingNotification = false">Cancel</a>
                                    <button class="btn btn-primary" :disabled="isSaveSetting" @click="handleSaveSetting">Save</button>
                                </div>
                            </div>
                            <div key="2" v-else>
                                <transition name="slide" mode="out-in">
                                    <div class="notification__menu--inner" v-if="isLoadingNotification" key="1">
                                        <div class="notification__item px-4 py-3" v-for="index in 4" :key="index">
                                            <div class="ph-row my-1">
                                                <div class="ph-col-6"></div>
                                                <div class="ph-col-12 mb-0"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification__menu--inner" @scroll="handleScrollNotification" ref="notificationInner" v-else-if="notification.data.data.length > 0" key="2">
                                        <div
                                            v-for="(item, indexItem) in notification.data.data"
                                            class="notification__item cursor-pointer px-4 py-2"
                                            :class="{'is--read' : item.opened == 1}"
                                            :key="indexItem"
                                            @click="handleClickNotification(item)">
                                            <p class="text-gray mb-0">{{item.title}}</p>
                                            <p class="mb-0 text-primary">{{item.content}}</p>
                                            <div class="d-flex justify-content-between align-items-center mt-1">
                                                <Badge v-if="item.priority === 1" size="sm" variant="success">
                                                    Low Priority
                                                </Badge>
                                                <Badge v-if="item.priority === 2" size="sm" variant="warning">
                                                    High Priority
                                                </Badge>
                                                <Badge v-if="item.priority === 3" size="sm" variant="error">
                                                    Urgent
                                                </Badge>
                                                <span class="text-right small text-gray mb-0 mt-2">{{item.date}}</span>
                                            </div>
                                        </div>
                                        <transition name="slide">
                                            <div class="notification__loading py-2" v-if="isLoadingPageNotification">
                                                <b-spinner variant="primary" small />
                                            </div>
                                        </transition>
                                    </div>
                                    <div class="notification__menu--inner d-flex flex-column px-4 pb-4" v-else>
                                        <div class="d-block text-gray text-center my-auto py-3">
                                            <img src="/icon/empty.png" alt="empty - icon" width="100">
                                            <span class="d-block mt-3">There are no notifications to show</span>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </transition>
                        <p v-if="notification.data.data.length > 0" class="text-primary pointer text-center font-weight-bold" @click="showBottomSheet">View All Notifications</p>
                    </div>
                </div>
                <b-nav-item-dropdown right no-caret class="d-flex align-items-center">
                    <template slot="button-content">
                        <div class="d-flex align-items-center">
                            <div class="image-wrapper mr-2" :style="{'background-image': `url(${auth.display_picture ? auth.display_picture : '/icon/profile-user.svg'})`}" />
                            {{ auth.name }} ({{auth.extension_number}})
                        </div>
                    </template>
                    <b-dropdown-item :to="{ name: 'my-profile-id', params:{'id': auth.user_id}}">Profile</b-dropdown-item>
                    <b-dropdown-item href="#" @click.prevent="logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </div>
        </div>
        <div class="d-xl-block d-none">
            <div class="navbar navbar-dark bg-dark justify-content-start flex-wrap">
                <template v-for="(menu, i) in auth.navigation" >
                    <b-nav-item-dropdown
                        :right="auth.navigation.length - 1 == i ? true : false"
                        caret
                        :text="menu.name"
                        :key="i"
                        v-if="menu.child.length > 0 && menu.type === 1"
                        class="d-flex align-items-center">
                        <template v-for="(child, i) in menu.child">
                            <div :key="i" v-if="child.child.length > 0">
                                <span class="dropdown-item cursor-pointer d-flex align-items-center justify-content-between" @click="handleShowHideChild(i)">
                                    {{child.name}}
                                    <i class="fas fa-sm ml-3" :class="collapseChild[`child${i}`] ? 'fa-chevron-down' : 'fa-chevron-right' "></i>
                                </span>
                                <b-collapse :id="`collapse-${i}`" class="dropdown__child" v-model="collapseChild[`child${i}`]">
                                    <template v-for="(subChild, index) in child.child">
                                        <b-dropdown-item
                                            :key="index"
                                            :to="{ name: subChild.slug == '#' ? '' : subChild.slug }"
                                            :class="{active:subChild.slug == $route.name}"
                                            @click.native="handleShowHideChild(i)">
                                            {{subChild.name}}
                                        </b-dropdown-item>
                                    </template>
                                </b-collapse>
                            </div>
                            <b-dropdown-item
                                :key="i"
                                :to="{ name: child.slug == '#' ? '' : child.slug }"
                                :class="{active:child.slug == $route.name}"
                                v-else-if="child.status"
                                @click.native="selected = child.id">
                                {{child.name}}
                            </b-dropdown-item>
                        </template>
                    </b-nav-item-dropdown>
                    <nuxt-link
                        :key="i"
                        tag="a"
                        class="nav-link"
                        :class="{active:menu.slug == $route.name}"
                        :to="{ name: menu.slug == '#' ? '' : menu.slug  }"
                        @click.native="selected = menu.id" v-else>
                        {{menu.name}}
                    </nuxt-link>
                </template>
            </div>
        </div>
        <div class="navbar__collapse" :class="{show: collapseMenu}">
            <div class="navbar__collapse--menu py-3">
                <template v-for="(menu, i) in auth.navigation" >
                    <div class="menu-child" :key="i" v-if="menu.child.length > 0 && menu.type != 2">
                        <a href="javascript:void(0)" class="nav-link px-4 text-white d-flex align-items-center" @click="handleShowParrentChild(i)">
                            {{menu.name}}
                            <i class="fas fa-sm ml-auto  text-white" :class="collapseParrentChild[`parrentCollapse${i}`] ? 'fa-chevron-down' : 'fa-chevron-right' "></i>
                        </a>
                        <b-collapse :id="`parrentCollapse-${i}`" v-model="collapseParrentChild[`parrentCollapse${i}`]">
                            <template v-for="(child, indexChild) in menu.child">
                                <div class="menu-subchild" :key="indexChild" v-if="child.child.length > 0">
                                    <a href="javascript:void(0)" class="nav-link pr-4 pl-5 text-white d-flex align-items-center" @click="handleShowHideChild(i)">
                                        {{child.name}}
                                        <i class="fas fa-sm ml-auto text-white" :class="collapseChild[`child${i}`] ? 'fa-chevron-down' : 'fa-chevron-right' "></i>
                                    </a>
                                    <b-collapse :id="`collapse-${i}`" class="dropdown__child pl-4" v-model="collapseChild[`child${i}`]">
                                        <template v-for="(subChild, indexSubChild) in child.child">
                                            <nuxt-link
                                                :key="indexSubChild"
                                                tag="a"
                                                class="nav-link text-white pr-4 pl-5"
                                                :to="{ name: subChild.slug == '#' ? '' : subChild.slug  }"
                                                @click.native="collapseMenu = false">
                                                {{subChild.name}}
                                            </nuxt-link>
                                        </template>
                                    </b-collapse>
                                </div>
                                <nuxt-link
                                    :key="indexChild"
                                    tag="a"
                                    class="nav-link text-white pr-4 pl-5"
                                    :to="{ name: child.slug == '#' ? '' : child.slug  }"
                                    @click.native="collapseMenu = false"
                                    v-else-if="child.status">
                                    {{child.name}}
                                </nuxt-link>
                            </template>
                        </b-collapse>
                    </div>
                    <nuxt-link :key="i" tag="a" class="nav-link text-white px-4" :class="{active:menu.slug == $route.name}" :to="{ name: menu.slug == '#' ? '' : menu.slug  }" @click.native="collapseMenu = false" v-else>{{menu.name}}</nuxt-link>
                </template>
            </div>
            <div class="navbar__collapse--backdrop" @click="collapseMenu = !collapseMenu"></div>
        </div>
    </div>
</template>

<script>
    import SpinnerInput from '@/components/utilities/SpinnerInput'
    import Badge from '@/components/utilities/Badge'

    import { mapActions, mapState } from 'vuex';

    import _ from 'lodash'
    export default {
        components: {
            SpinnerInput,
            Badge,
        },
        data() {
            return {
                isLoadingPageNotification: false,
                isSaveSetting: false,
                isSettingNotification: false,
                isLoadingNotification: false,
                collapseParrentChild: [],
                collapseMenu: false,
                collapseChild: [],
                search: '',
                searchResult: [],
                isFetchSearch: false,
                isSearchFocus: false,
                isSearch: false,
                account: {
                    selected: 0,
                    options: [
                        {text: 'Slymanbros.com', value: 0},
                        {text: 'Appliance.io', value: 1}
                    ]
                },
                isLoading: false,
                selected: null,
                auth: {
                    name: '',
                    store: '',
                    is_admin: false,
                    display_picture: null,
                    extension_number: null,
                    user_id: null,
                    navigation: []
                }
            }
        },
        props:{
            store:{
                type: Array
            }
        },
        computed: {
            ...mapState('product', {
                product(state) {
                    return {
                        items: state.items,
                    }
                }
            }),
            ...mapState('orderSchedule', {
                counter : state => state.countNewItem
            }),
            ...mapState(['hostname', 'notification', 'isShowNotification']),
            ...mapState(['switchAvailability']),
            isSwitchAvailbility() {
                const result = Object.values(this.switchAvailability);
                const someSwitchAvailability = result.some((element) => element === true)

                return someSwitchAvailability;
            },
        },
        created() {
            let auth = this.$auth.$state.user
            this.auth.name = auth.fullname
            this.auth.display_picture = auth.display_picture
            this.auth.store = auth.store.store_name
            this.auth.is_admin = auth.is_admin
            this.auth.navigation = auth.navigations
            this.auth.extension_number = auth.extension_number
            this.auth.user_id = auth.user_id
            var features = auth.features

            this.account.selected = this.hostname === '127.0.0.1:2020' ? 0 : 1
        },
        mounted(){
            this.handleBlurNotification()
        },
        watch: {
            '$auth.$state.user': {
                handler: function(newValue) {
                    let auth = this.$auth.$state.user
                    this.auth.name = auth.fullname
                    this.auth.display_picture = auth.display_picture
                    this.auth.store = !auth ? '':auth.store.store_name
                    this.auth.is_admin = auth.is_admin
                    this.auth.extension_number = auth.extension_number
                    this.auth.user_id = auth.user_id
                },
                deep: true
            },
            collapseMenu(){
                if(!this.collapseMenu){
                    this.collapseParrentChild = []
                    this.collapseChild = []
                }
            }
        },
        methods:{
            showBottomSheet() {
                this.$store.commit('SET_SHOW_BOTTOM_SHEET', true);
                this.$store.commit('SET_SHOW_NOTIFICATION', false);

                this.$store.dispatch("getMessageCenter");
            },
            handleReadAll(){
                this.readAllNotifications()
                .then(() => {
                    this.getUserNotification()
                })
            },
            handleScrollNotification: _.debounce(function($event){
                if($event.target.scrollTop === $event.target.scrollHeight - $event.target.offsetHeight){
                    let page = this.notification.data.meta.current_page
                    if(page != this.notification.data.meta.last_page) {
                        this.isLoadingPageNotification = true
                        this.getUserNotification({page: page + 1})
                        .then(() => {
                            this.isLoadingPageNotification = false
                        })
                    }
                }
            }, 500),
            handleClickNotification(item){
                this.readNotification({id: item.id, opened: 1})
                .then(() => {
                    if(item.link) this.$router.push(item.link)
                    this.showNotification()
                    this.getUserNotification()
                })
            },
            handleSaveSetting(){
                this.isSaveSetting = true
                this.updateUserSetting({
                    id: this.$auth.user.user_id,
                    setting: this.notification.setting
                })
                .then(() => {
                    this.isSaveSetting = false
                    this.$root.$bvToast.toast(`Your notification settings has been saved`, { title: 'Success!', variant:'success', solid: true})
                })
            },
            showNotification(){
                this.$store.commit('TOGGLE_SHOW_NOTIFICATION');
                if(this.isShowNotification){
                    this.isLoadingNotification = true
                    this.getUserNotification()
                    .then(() => {
                        this.isLoadingNotification = false
                    })
                }
            },
            setHistoryQuote(){
                localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
            },
            handleShowHideChild(index){
                this.collapseChild[`child${index}`] = !this.collapseChild[`child${index}`]
                this.$forceUpdate()
            },
            handleShowParrentChild(index){
                this.collapseParrentChild[`parrentCollapse${index}`] = !this.collapseParrentChild[`parrentCollapse${index}`]
                this.$forceUpdate()
            },
            doSwitchApp(type){
                let url = '';

            if (type === 'pos' && this.hostname !== '127.0.0.1:2020') {
                url = 'https://api.slymanbros.com/api/switch';

                const payload = {
                    email: this.$auth.$state.user.email,
                    url: url,
                }

                this.$store.dispatch('switchApp', payload).then((response) => {
                    window.location.href = `https://pos.slymanbros.com/login?token=${response}`
                })
                return;
            }
            if (type === 'pos' && this.hostname === '127.0.0.1:2020') {
                url = 'https://api.slymanbros.slymanmedia.com/api/switch';

                const payload = {
                    email: this.$auth.$state.user.email,
                    url: url,
                }

                this.$store.dispatch('switchApp', payload).then((response) => {
                    window.location.href = `https://slymanbros.slymanmedia.com/login?token=${response}`
                })
                return;
            }
            if (type === 'dataApp') {
                url = 'https://api.data-slymanbros.slyman.com/api/switch';

                const payload = {
                    email: this.$auth.$state.user.email,
                    url: url,
                }

                this.$store.dispatch('switchApp', payload).then((response) => {
                    window.location.href = `https://data-slymanbros.slyman.com/login?token=${response.token}`
                })
                return;
            }
            },
            ...mapActions({
                changeStoreLocation: 'dashboard/changeStoreLocation',
                getStoreActive: 'dashboard/getStoreActive',
                searchAction: 'dashboard/searchAction',
                updateUserSetting: 'updateUserSetting',
                getUserNotification: 'getUserNotification',
                readAllNotifications: 'readAllNotifications',
                readNotification: 'readNotification',
            }),
            ...mapActions(['switchApp']),
            changeLocation(id){
                this.changeStoreLocation({user_id : this.$auth.$state.user.user_id, store_id :id}).then( () =>{
                    this.getStoreActive().then(() => {
                        this.$auth.fetchUser()
                        this.$store.dispatch('dashboard/getTodayRevenue')
                        var d = new Date();
                        var currentYear = d.getFullYear();
                        this.$store.dispatch('dashboard/getMonthlyChart', {user_id : this.$auth.$state.user.user_id, month:'', year: currentYear, type:'chart'})
                    })
                })
            },
            handleSearch: _.debounce(function() {
                if(this.search.length > 0){
                    this.isFetchSearch = true
                    this.searchAction({q: this.search, type: 'all'})
                    .then(res => {
                        this.isFetchSearch = false
                        this.isSearch = true
                        if(res[0].type == '404') this.searchResult = []
                        else this.searchResult = res
                    })
                }else{
                    this.searchResult = []
                    this.isSearch = false
                    this.isFetchSearch = false
                }
            }, 800),
            handleBlurSearch(){
                const parent = this.$refs.searchArea
                document.addEventListener('click', e => {
                    let isClickInside = parent.contains(e.target)
                    if (!isClickInside) {
                        this.isSearch = false
                        this.isSearchFocus = false
                        if(this.search.length > 0) this.search = ''
                    }
                })
            },
            handleBlurNotification(){
                const parent = this.$refs.notificationArea
                document.addEventListener('click', e => {
                    let isClickInside = parent.contains(e.target)
                    if (!isClickInside) {
                        this.$store.commit('SET_SHOW_NOTIFICATION', false);
                        this.isSettingNotification = false
                    }
                })
            },
            submitSearch(result, child){
                if(result.type == 'product'){
                    this.$router.push({ name: 'product-search-id', params:{id: child.product_id}})
                }else if(result.type == 'orders' || result.type == 'delivery_address' || result.type == 'serial_number'){
                    localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                    this.$router.push({
                        name: 'my-orders-edit-id', params: {'id' : child.order_no}
                    })
                }else if(result.type == 'quotes'){
                    localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
                    this.$router.push({
                        name: 'my-quotes-edit-id', params: {'id' : child.quote_no}
                    })
                }else{
                    localStorage.setItem('history-route-customer', this.$router.currentRoute.name)
                    this.$router.push({
                        name: 'customers-detail-id', params: {'id' : child.customer_code}
                    })
                }
                this.isSearch = false
                this.search = ''
            },
            closeDropdown(){
                document.querySelector('.dropdown-menu.show').classList.remove('show')
            },
            goToPage(slug){
                this.$router.push({ name: slug})
                this.closeDropdown()
            },
            async logout() {
                await this.$auth.logout()
                this.$router.push('/login')
            },
        }
    }
</script>
<style lang="scss">
.display-flex {
    display: flex;
}
</style>
