<template>
    <section>
        <admin-table-quotes class="mt-3" @set-perpage="setPerpage" :sales="sales" :location="location" :date="date" ref="table"/>
    </section>
</template>
<script>
    import AdminTableQuotes from '@/components/admin/table/Quotes.vue'
    import { mapActions, mapState, mapMutations } from 'vuex'

    export default {
        destroyed(){
            this.$emit('clear-search')
        },
        async asyncData({store}) {
            await Promise.all([
                store.dispatch('order/getQuoteFeed', {
                    page: 1,
                    location: '',
                    sales: '',
                    type: 'expired'
                })  
            ])
        },
        data() {
            return {
                date: null,
                location: '',
                sales: '',
                sales_selected:'',
                stores: [],
                store_selected:'',
                perpage: 10
            }
        },
        watch: {
            date: {
                handler: function(newValue) {
                    if(this.$refs.table.page == 1){
                        this.generateQuoteFeed()
                    }
                    this.SET_ORDER_PAGE(1)
                },
                deep: true
            },
            location() {
                if(this.$refs.table.page == 1){
                    this.generateQuoteFeed()
                }
                this.SET_ORDER_PAGE(1)
            },
            sales() {
                if(this.$refs.table.page == 1){
                    this.generateQuoteFeed()
                }
                this.SET_ORDER_PAGE(1)
            }
        },
        computed: {
            ...mapState('store', {
                sales_person: state => state.sales_person
            })
        },
        methods: {
            generateQuoteFeed() {
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
                this.getQuoteFeed({ 
                    from: start,
                    to: end,
                    location: this.location, 
                    sales: this.sales, 
                    perpage: this.perpage,
                    type: 'expired' 
                })
            },
            ...mapActions('order', ['getQuoteFeed']),
            ...mapMutations('order', [
                'SET_ORDER_PAGE'
            ]),
            setPerpage(val){
                this.perpage = val
            },
            fillterSales(){
                this.sales = this.sales_selected.user_id
            },
            fillterStore(){
                this.location = this.store_selected.store_id
            },
            ...mapActions('store', ['getStores', 'getManagers']),
        },
        components:{
            'admin-table-quotes': AdminTableQuotes,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scooped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

