<template>
    <div>
        <div class="form-group">
            <label for="#" :class="{'text-danger' : errors.has('title')}">Title</label>
            <input type="text" class="form-control" :class="{'is-invalid' : errors.has('title')}" v-model="title" v-validate="'required'" name="title" data-vv-as="title">
            <span class="text-danger" v-if="errors.has('title')">{{errors.first('title')}}</span>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <b-form-radio v-model="type" class="mb-1" :value="0">Information</b-form-radio>
            <b-form-radio v-model="type" :value="1">Alert</b-form-radio>
        </div>
        <div class="form-group">
            <label for="#" :class="{'text-danger' : errors.has('announcement')}">Announcement</label>
            <textarea class="resize-none form-control" :class="{'is-invalid' : errors.has('announcement')}" v-validate="'required'" name="announcement" data-vv-as="announcement" rows="7" placeholder="Type here..." v-model="announcement"></textarea>
            <span class="text-danger" v-if="errors.has('announcement')">{{errors.first('announcement')}}</span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-0">
                        <label for="#">Start date - End date</label>
                        <div class="icon icon-left">
                            <no-ssr><app-datepicker mode="range" :popoverDirection="'top'" v-model="date">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker></no-ssr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="type">Add Picture</label>
                <a href="javascript:void(0)" class="text-danger font-weight-600" v-if="picture" @click="picture = null">Remove</a>
            </div>
            <FileUpload
                v-model="picture"
                size="lg"
                id="picture"
                preview>
                <template slot="placeholder">
                    <div class="text-center text-gray">
                        <i class="fas fa-cloud-upload-alt fa-3x mb-2" />
                        <p class="mb-2">Drop your image here</p>
                        <p class="mb-2">Or</p>
                        <label for="picture" class="text-primary font-weight-600 cursor-pointer mb-2">Browse File</label>                        
                        <p class="mb-0">Supports format file: <span class="font-weight-600">JPEG, PNG</span></p>
                    </div>
                </template>
            </FileUpload>
        </div>
        <div class="form-group d-flex flex-column">
            <label>Pop-up Announcement</label>
            <p-check class="p-switch p-fill" color="primary" :true-value="1" :false-value="0" v-model="pop_up" />
        </div>
    </div>
</template>

<script>
 
import {mapActions, mapState} from 'vuex'
import PrettyCheck from 'pretty-checkbox-vue/check'
import FileUpload from '@/components/utilities/FileUpload'
 
export default {
    components: {
        'p-check': PrettyCheck,
        FileUpload
    },
    created(){
        if(this.$route.params.id){
            this.title = this.announcementData.data.title
            this.announcement = this.announcementData.data.announcement
            this.type = this.announcementData.data.type
            this.date.start = new Date(this.announcementData.data.start_date)
            this.date.end = new Date(this.announcementData.data.end_date)
            this.picture = this.announcementData.data.picture
            this.pop_up = this.announcementData.data.pop_up
        }
    },
    data() {
        return {
            title:  null,
            announcement: null,
            type : 0,
            date: {
                start: new Date(),
                end: new Date()
            },
            picture: null,
            pop_up: 0
        }
    },
    computed:{
        ...mapState('announcement', {
            announcementData: state =>{
                return {
                    data: state.data
                }
            }
        })
    },
    methods: {
        ...mapActions('announcement', [
            'postAnnouncement',
            'updateAnnouncement'
        ]),
        submit(){
            return new Promise((resolve, reject) => {
                let formData = new FormData()            
                formData.append('title', this.title)
                formData.append('announcement', this.announcement)
                formData.append('type', this.type)
                formData.append('start_date', this.moment(this.date.start).format('Y-M-D'))
                formData.append('end_date', this.moment(this.date.end).format('Y-M-D'))
                formData.append('picture', this.picture)
                formData.append('pop_up', this.pop_up)
                this.$validator.validateAll().then(result =>{
                    if(result){
                        if(this.$route.params.id){
                            formData.append('_method', 'PUT')
                            this.updateAnnouncement({id: this.$route.params.id, formData})
                            .then( () =>{
                                this.$router.push({ name : 'settings-announcement'})
                                resolve()
                            })
                            .catch(error => {
                                reject(error)
                            })
                        }else{
                            this.postAnnouncement(formData)
                            .then( () =>{
                                this.$router.push({ name : 'settings-announcement'})
                                resolve()
                            })
                            .catch(error => {
                                reject(error)
                            })
                        }
                    }
                })
            })
        }
    }
}
</script>

<style>

</style>