<template>
    <div>
        <div class="form-group">
            <label for="email" class="font-weight-bold">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email" v-model="store_active.email" readonly>
        </div>
        <div class="form-group">
            <label for="first-name" class="font-weight-bold">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Firts Name" v-model="store_active.first_name" readonly>
        </div>
        <div class="form-group">
            <label for="last-name" class="font-weight-bold">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name" v-model="store_active.last_name" readonly>
        </div>
        <div class="form-group">
            <label for="default-location" class="font-weight-bold">Default Location</label>
            <input type="text" class="form-control" id="default-location" placeholder="Default Location" v-model="store_active.store.store_name" readonly>
        </div>
        <div class="form-group">
            <label for="store-location" class="font-weight-bold">Change Location</label>
            <no-ssr><app-select
                v-model="location_selected" 
                :options="stores" 
                :close-on-select="true" 
                :clear-on-select="false" 
                :hide-selected="true" 
                :preserve-search="true"
                placeholder="Select Location" 
                label="store_name" 
                track-by="store_id" 
                :preselect-first="false"
                @input="onChange"
            >
            </app-select></no-ssr>
            <!-- <select class="form-control" v-model="location">
                <option value="">Choose</option>
                <option v-for="(row, index) in stores" :key="index" :value="row.store_id">{{ row.store_name }}</option>
            </select> -->
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Select from 'vue-multiselect'
    export default {
        components:{
            'app-select': Select
        },
        data() {
            return {
                location: '',
                location_selected:''
            }
        },
        computed: {
            ...mapState('dashboard', {
                store_active: state => state.store_active
            }),
            ...mapState('store', {
                stores: state => state.items
            })
        },
        methods: {
            submit() {
                this.$emit('newlocation', this.location)
            },
            onChange(){
                this.location = this.location_selected.store_id
            }
        }
    }
</script>

<style>

</style>
