<template>
    <div>
        <div class="customer-view" v-if="show">
            <b-card class="card-default border-0 rounded-lg p-5">
                <div class="row mb-5">
                    <div class="col-6">
                        <h4 class="font-weight-600 mb-4">Billing Information</h4>
                        <hr>
                        <app-address-format 
                            :is_company="is_company"
                            :company="company"
                            :builders_code="builders_code"
                            :name="firstName + ' ' + lastName"
                            :address="data.formatted_billing_address ? data.formatted_billing_address.formatted:''"
                            :phone_number="phoneNumber.data[0]"
                        ></app-address-format>
                    </div>
                    <div class="col-6">
                        <h4 class="font-weight-600 mb-4">Delivery Information</h4>
                        <hr>
                        <app-address-format 
                            :is_company="is_company"
                            :company="company"
                            :builders_code="builders_code"
                            :name="firstName + ' ' + lastName"
                            :address="data.formatted_shipping_address.length > 0 ? data.formatted_shipping_address[0].formatted:''"
                            :phone_number="shippingAddress.phoneNumber.number == null ? '':shippingAddress.phoneNumber.number"
                        ></app-address-format>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 v-money class="font-weight-600 mb-1">{{data.customer_credit_used}}</h3>
                        <p class="text-gray">Used Balance</p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="mb-0 font-weight-600">Credit Limit</h5>
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 font-weight-600 mr-2" v-money v-if="data.customer_credit != null" :key="data.customer_credit.credit_limit">{{data.customer_credit.credit_limit}}</h5>
                                <h5 class="mb-0 font-weight-600 mr-2" v-money v-else>0</h5>
                                <a href="#" @click="isEditCredit = !isEditCredit"> 
                                    <div v-if="!isEditCredit">
                                        <i class="far fa-edit"></i> Edit
                                    </div>
                                    <div v-else>
                                        <i class="fas fa-times"></i> Cancel
                                    </div>
                                </a>
                            </div>
                        </div>
                        <b-progress :value="precentBalance" height="7px" variant="success" class="mb-2"></b-progress>
                        <p class="text-gray">You're using <span class="text-success font-weight-600"> {{precentBalance}}%</span> of your account's limit</p>
                        <transition name="slide">
                            <div v-if="isEditCredit">
                                <div class="row">
                                    <div class="form-group mb-0 col-6">
                                        <label for="#" class="font-weight-bold">Credit Limit :</label>
                                        <price-input :value="creditLimit" v-model="creditLimit" @blur="checkCreditLimit(creditLimit)"></price-input>
                                        <p class="small text-danger mt-2 mb-0" v-if="warningCredit">The credit limit cannot be decreased</p>
                                    </div>
                                    <div class="form-group mb-0 col-6">
                                        <label for="#" class="font-weight-bold" :class="{ 'text-danger': errors.has('terms') }">Terms :</label>
                                        <no-ssr>
                                            <app-select 
                                                v-validate="'required'"
                                                :class="{'is-invalid': errors.has('terms')}"
                                                name="terms"
                                                data-vv-as="terms"
                                                placeholder="Terms" 
                                                :options="terms.options" 
                                                :searchable="true" 
                                                :loading="isLoading" 
                                                :internal-search="false"
                                                :options-limit="300" 
                                                :max-height="600" 
                                                :show-no-results="false" 
                                                :show-no-options="false" 
                                                :show-labels="false"
                                                :preselect-first="false"
                                                :openDirection="'bottom'"
                                                v-model="terms.selected">
                                            </app-select>
                                            <span v-show="errors.has('terms')" class="text-danger">{{ errors.first('terms') }}</span>
                                        </no-ssr>
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-3" @click="saveCreditLimit">Save</button>
                            </div>
                        </transition>
                    </div>
                </div>
            </b-card>
            <div class="mt-5">
                <h3 class="mb-4">Credit History</h3>
                <app-table :items="customer.data.customer_history_credit" :fields="fields_credit" @row-clicked="rowClicked" show-empty hover>
                    <template slot="amount" slot-scope="row">
                        <p v-money :class="'mb-0'" :key="row.item.amount">{{ row.item.amount }}</p>
                    </template>
                    <template slot="order_no" slot-scope="row">
                        <span class="text-primary font-weight-bold">{{ row.item.order_no }}</span>
                    </template>
                    <template slot="balance_due" slot-scope="row">
                        <p v-money :class="'mb-0'" :key="row.item.balance_due">{{ row.item.balance_due }}</p>
                    </template>
                    <template slot="payment_date" slot-scope="row">
                        <p :key="row.item.payment_date">{{ row.item.payment_date }}</p>
                    </template>
                    <template slot="type" slot-scope="row">
                        <p :class="'mb-0'" :key="row.item.type">{{ row.item.type == 1 ? 'In':'Out' }}</p>
                    </template>
                    <template slot="status" slot-scope="row">
                        <p :class="'mb-0'" :key="row.item.status"><b-badge pill :variant="row.item.status == 'Paid' ? 'success' : 'danger'" >{{row.item.status}}</b-badge></p>
                    </template>
                </app-table>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Select from 'vue-multiselect'
    import PhoneInput from '@/components/utilities/PhoneInput.vue'
    import FormatAddress from '@/components/utilities/Address.vue'
    import PriceInput from '@/components/utilities/PriceInput.vue'

    export default {
        components:{
            'app-table': Table,
            'app-modal': Modal,
            'app-select': Select,
            'app-phone-input': PhoneInput,
            'app-address-format': FormatAddress,
            'price-input': PriceInput,
        },
        // mounted(){
        //     this.is_company ? this.setCompanyBilling() : this.setIndividualBilling()
        // },
        created() {
            if(this.$route.name != 'my-quotes-create' && this.$route.name != 'my-quotes-edit-id'){
                // this.reset()
                if(this.data && (this.show == true || this.edit == true)) {
                    this.is_company  = this.data.is_company
                    this.builders_code = this.data.builders_code
                    this.firstName = this.data.firstName
                    this.lastName = this.data.lastName
                    this.company = this.data.company
                    // this.extensionNumber = this.data.extension_number
                    this.phone_number = this.data.phone_number
                    this.email = this.data.email
                    this.secondAddressLine = this.data.formatted_billing_address ? this.data.formatted_billing_address.suite:''
                    this.billingStreetNumber =  this.data.formatted_billing_address.number
                    this.billingStreetName = this.data.formatted_billing_address.street
                    this.billingCity =  this.data.formatted_billing_address ? this.data.formatted_billing_address.city:''
                    this.billingState =  {
                        name : this.data.formatted_billing_address.state
                    }
                    this.billingPostalCode =  this.data.formatted_billing_address.postal_code
                    this.billingCountry =  this.data.formatted_billing_address.country
                    this.billing_street = this.billingStreetNumber + ' ' + this.billingStreetName

                    
                    this.shippingAddress.city = this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].city:''
                    this.shippingAddress.country = this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].country:''
                    this.shippingAddress.street_number = this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].number:''
                    this.shippingAddress.postal_code = this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].postal_code:''
                    this.shippingAddress.state = {
                        name : this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].state:''
                    }
                    if(this.data.shippingAddress.length > 0){
                        this.shippingAddress.street_name = this.data.shippingAddress[0].street
                    }
                    this.shippingAddress.secondAddressLine = this.data.shippingAddress.length > 0 ? this.data.shippingAddress[0].suite:''
    
                    this.shippingAddress.default = this._.findIndex(this.data.shippingAddress, function(obj) {
                        return obj.is_default == 1
                    })
                    this.shippingAddress.data = this.data.shippingAddress
                    this.phoneNumber.data = this.data.phoneNumber
                    this.tax_exempt = this.data.tax_exempt
                    this.tax = {
                        id_number: this.data.tax_id_number
                    }
                    this.sameAsDelivery = this.data.shippingAddress.length == 0
                    this.phoneNumber.number = this.phoneNumber.data[0]
                    this.phoneNumber.secondNumber = this.phoneNumber.data[1]
                    this.shippingAddress.phoneNumber.number = this.data.ship_home_number
                    this.shippingAddress.phoneNumber.secondNumber = this.data.phone_number
                    this.shippingAddress.email = this.data.ship_email
                    this.shippingAddress.street = this.shippingAddress.street_number + ' ' + this.shippingAddress.street_name
                    if(this.data.customer_credit != null){
                        this.creditLimit = this.data.customer_credit.credit_limit
                        this.terms.selected = this.data.customer_credit.term
                    }
                }
                this.data.is_company == true ? this.setCompanyBilling() : this.setIndividualBilling()
            }
            
        },
        // destroyed() {
        //     if (this.edit == true){
        //         this.SET_CUSTOMER_DATA_DEFAULT()
        //     }
        // },
        filters: {
            formattedAddress: function (value) {
                if (value.number != '' && value.street != '' && value.city != '' && value.state != '' && value.postal_code != '' && value.country != '') {
                    return value.street_number + ' ' + value.street_name + ', ' + value.city + ', ' + value.state + ' ' + value.postal_code + ', ' + value.country
                }
                return ''
            }
        },
        data() {
            return {
                sortBy: '',
                sortDesc: true,
                filed_exists_data: ['name', 'address', 'phone_number'],
                isEditCredit: false,
                warningCredit: false,
                creditLimit: 0,
                streetNumber: null,
                isCustomAddress : false,
                customAddress: null,
                builders_code : null,
                is_company: false,
                billing_street: '',
                isIndividual: true,
                isCompanyBilling : false,
                isCompanyDelivery: false,
                stateSelected: null,
                alternativePhone: false,
                country : {
                    selected:'',
                    data :['United States']
                },
                terms :{
                    options : ['NET 30', 'NET 60', 'NET 90'],
                    selected : null
                },
                isLoading : false,
                matchedDataLoading: false,
                // fields_credit: ['payment_date', 'order_no', 'amount', 'type', 'balance_due', 'status'],
                fields_credit: [
                    {
                        key: 'payment_date', 
                        label: 'Payment Date',
                        sortable: true,
                    },
                    {
                        key: 'order_no', 
                        label: 'Order No',
                        sortable: true,
                    }, 
                    {
                        key: 'amount', 
                        label: 'Amount',
                        // sortable: true,
                    }, 
                    {
                        key: 'formatted_payment_method', 
                        label: 'Payment Method',
                        // sortable: true,
                    },
                    {
                        key: 'type', 
                        label: 'Type',
                        // sortable: true,
                    },
                    {
                        key: 'balance_due', 
                        label: 'Balance Due',
                        // sortable: true,
                    }, 
                    {
                        key: 'status', 
                        label: 'Status',
                        // sortable: true,
                    }
                ],
                buildersCode: null,
                secondAddressLine:'',
                validated: null,
                validating: null,
                validateBilling: false,
                validatePhoneNumber : false,
                validateShippingAddress : false,
                deliveryDifferent: false,
                sameAsDelivery : true,
                firstName: null,
                lastName: null,
                company: null,
                extensionNumber: null,
                phone_number: null,
                email: null,
                billingStreetNumber: null,
                billingStreetName : null,
                billingCity: null,
                billingState: null,
                billingAddress:null,
                billingPostalCode: null,
                billingCountry: null,
                // billingAddressSelected: null,
                deliveryAddressSelected: null,
                editBilling: false,
                shippingAddress: {
                    street:'',
                    company: null,
                    buildersCode: null,
                    phoneNumber: {
                        alternativeNumber: null,
                        secondNumber : null,
                        number: null,
                        edit: null,
                        data: []
                    },
                    alternativePhone: false,
                    firstName : null,
                    lastName : null,
                    email : null,
                    secondAddressLine: '',
                    name: null,
                    postal_code: null,
                    street_number: null,
                    street_name: null,
                    city: null,
                    state: null,
                    country: null,
                    edit: null,
                    default: null,
                    data: [
                        {
                            ship_name : '',
                            name: '', 
                            is_default: '',
                            number: '',
                            street : '',
                            state : '',
                            country : '',
                            city : '',
                            suite:'',
                            postal_code: '',
                            phone_number:'',
                            ship_home_number:'',
                            ship_email:'',
                        }
                    ]
                },
                phoneNumber: {
                    alternativeNumber: null,
                    secondNumber : null,
                    number: null,
                    edit: null,
                    data: []
                },
                shipPhoneNumber: {
                    number: null,
                    edit: null,
                    data: []
                },
                tax_exempt: false,
                tax: {
                    id_number: '',
                    file: ''
                },
                showModalExistsCustomer: false,
                selectedExistingData: null
            }
        },
        props: {
            data: {
                type: Object,
                default() {
                    return null
                }
            },
            show: {
                type: Boolean,
                default: false
            },
            edit: {
                type: Boolean,
                default: false
            },
            order: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('customer', {
                customer(state) {
                    return {
                        data: state.data,
                        errors: state.errors
                    }
                },
                exists_data: state => state.exists_data
            }),
            states() {
                return this.$store.state.province.provinces
            },
            'shippingAddress.data[0].name': function(){
                if(this.sameAsDelivery){
                    return this.billingAddress
                }
            },
            'shippingAddress.data[0].phone_number': function(){
                if(this.sameAsDelivery){
                    return this.phoneNumber.number
                }else{
                    return this.shippingAddress.phoneNumber.number
                }
            },
            'shippingAddress.data[0].ship_home_number': function(){
                if(this.sameAsDelivery){
                    return this.phoneNumber.secondNumber
                }else{
                    return this.shippingAddress.phoneNumber.secondNumber
                }
            },
            'shippingAddress.data[0].ship_email': function(){
                if(this.sameAsDelivery){
                    return this.email
                }
            },
            precentBalance(){
                let limit = this.customer.data.customer_credit ? this.customer.data.customer_credit.credit_limit:0
                if (limit > 0) {
                    return Math.floor(Number(this.customer.data.customer_credit_used) / Number(limit) * 100) 
                }
                return 0
            },
        },
        watch:{
            'shippingAddress.alternativePhone' : function(val){
                if(val == false){
                    this.shippingAddress.phoneNumber.secondNumber = null
                }
            },
            'shippingAddress.firstName' : function(){
                if(this.sameAsDelivery == false){
                    this.shippingAddress.data[0].ship_name = this.shippingAddress.firstName + ' ' + this.shippingAddress.lastName
                }
            },
            'shippingAddress.lastName' : function(){
                if(this.sameAsDelivery == false){
                    this.shippingAddress.data[0].ship_name = this.shippingAddress.firstName + ' ' + this.shippingAddress.lastName
                }
            },
            // 'shippingAddress.phoneNumber.number' : function(){
            //     this.formatShippingPhoneNumber()
            // },
            // 'shippingAddress.phoneNumber.secondNumber' : function(){
            //     this.formatShippingSecondNumber()
            // },
            'shippingAddress.secondAddressLine' : function(){
                this.formattedShippingAddress()
            },
            'shippingAddress.street_name' : function(){
                this.formattedShippingAddress()
            },
            'shippingAddress.postal_code' : function(){
                this.formattedShippingAddress()
            },
            'shippingAddress.state' : function(){
                this.formattedShippingAddress()
            },
            'shippingAddress.city'(){
                this.formattedShippingAddress()
            },
            'stateSelected' : function(){
                this.formattedBillingAddress()
            },
            secondAddressLine(){
                this.formattedBillingAddress() 
            },
            billingStreetName(){
                this.formattedBillingAddress()
            },
            billingCity(){
                this.formattedBillingAddress()
            },
            billingPostalCode(){
                this.formattedBillingAddress()
            },
            billingState(){
                this.formattedBillingAddress()
            },
            billingCountry(){
                this.formattedBillingAddress()
            },
            alternativePhone(val){
                if(val == false){
                    this.phoneNumber.secondNumber = null
                }
            },
            // 'phoneNumber.secondNumber' : function(){
            //     this.formatSecondPhoneNumber()
            // },
            // 'phoneNumber.number' : function(){
            //     this.formatPhoneNumber()
            // }
        },
        methods: {
            ...mapActions('province',['getProvinces']),
            ...mapActions('customer', ['checkMatchedData','postCreditLimit' ,'editCreditLimit']),
            ...mapMutations('customer', [
                'SET_CUSTOMER_DATA',
                'SET_CUSTOMER_DATA_DEFAULT',
                'SET_CUSTOMER_DATA_QUOTE',
                'SET_CUSTOMER_CREDIT'
            ]),
            rowClicked(item){
                localStorage.setItem('history-route-order', this.$router.currentRoute.path)
                this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.order_no}})
            },
            checkCreditLimit(val){
                if(this.data.customer_credit != null){
                    if( Number(val) < Number(this.data.customer_credit.credit_limit) ){
                        this.creditLimit = this.data.customer_credit.credit_limit
                        this.warningCredit = true
                        setTimeout( () =>{
                            this.warningCredit = false    
                        }, 4000)
                    }
                }
            },
            changeCustomAddress(){
                this.isCustomAddress = !this.isCustomAddress
            },
            saveCreditLimit(){
                this.$validator.validateAll().then(result => {
                    if(result){
                        this.editCreditLimit({
                            customer_code: this.$route.params.id,
                            term: this.terms.selected,
                            credit_limit: this.creditLimit 
                        }).then( () =>{
                            this.$store.dispatch('customer/getCustomer', this.$route.params.id)
                            this.isEditCredit = false
                        })
                    }
                })
            },
            submit() {
                return new Promise((resolve, reject) => {
                    this.formattedShippingAddress()
                    this.formattedBillingAddress()
                    // if(this.$router.name != 'quotes-create'){
                    //     this.shippingAddress.company = this.company
                    //     this.shippingAddress.buildersCode = this.buildersCode
                    //     this.shippingAddress.firstName = this.firstName
                    //     this.shippingAddress.lastName = this.lastName
                    // }
                    this.phoneNumber.data = []
                    if (this.phoneNumber.data.length < 3) {
                        if (this.phoneNumber.number != null && this.phoneNumber.number.length == 12) {
                            this.phoneNumber.data.push({'number': this.phoneNumber.number, 'type': 1}) //primary
                        }

                        if (this.phoneNumber.secondNumber != null && this.phoneNumber.secondNumber.length == 12) {
                            this.phoneNumber.data.push({'number': this.phoneNumber.secondNumber, 'type': 2}) //home number
                        }

                        if (this.phoneNumber.alternativeNumber != null && this.phoneNumber.secondNumber.length == 12) {
                            this.phoneNumber.data.push({'number': this.phoneNumber.alternativeNumber, 'type': 3}) //aternative
                        }
                    }

                    let stateBilling = this.billingState ? this.billingState.name:''
                    // let billingAddress = this.billingStreetName + ', ' + this.billingCity + ', ' + this.secondAddressLine + ', ' + stateBilling + ', ' + this.billingPostalCode + ', ' + this.billingCountry 
                    if(this.$router.name != 'quotes-create' && this.sameAsDelivery == false){
                        this.shippingAddress.data[0].phone_number = this.shippingAddress.phoneNumber.number
                        this.shippingAddress.data[0].ship_home_number = this.shippingAddress.phoneNumber.secondNumber
                        this.shippingAddress.data[0].ship_email = this.shippingAddress.email
                    }
                    let vm = this
                    this.$validator.validateAll().then(result => {
                        if (result && vm.billingStreetName != '' && vm.billingStreetName != null) {
                            this.SET_CUSTOMER_DATA({
                                // phone_number: this.phone_number,
                                firstName: this.firstName,
                                lastName: this.lastName,
                                builders_code: this.buildersCode,
                                company: this.company,
                                email: this.email,
                                billingPostalCode: this.billingPostalCode,
                                billingAddress: this.billingAddress,
                                shippingDefault: this.shippingAddress.default,
                                shippingAddress: this.shippingAddress.data,
                                extension_number: this.extensionNumber,
                                phoneNumber: this.phoneNumber.data,
                                shipPhoneNumber: this.shipPhoneNumber.data,
                                tax_exempt: this.tax_exempt,
                                tax: this.tax,
                                sameAsDelivery: this.sameAsDelivery,
                                orderUpdate : this.edit == true ? false :''
                            })
                            this.SET_CUSTOMER_DATA_QUOTE (this.$data)
                            resolve()
                            this.$emit('validating', true)
                        }
                    })
                })
            },
            reset() {
                this.firstName = null
                this.lastName = null
                this.company = null
                // this.phone_number = null
                this.email = null
                this.billingAddress = null
                this.billingPostalCode = null
                this.shippingAddress = {
                    name: null,
                    postal_code: null,
                    street_number: null,
                    street_name: null,
                    city: null,
                    state: null,
                    country: null,
                    edit: null,
                    default: null,
                    data: []
                }
                this.phoneNumber = {
                    number: null,
                    edit: null,
                    data: []
                },
                this.shipPhoneNumber = {
                    number: null,
                    edit: null,
                    data: []
                }
                this.tax_exempt = false
            },
            formattedBillingAddress() {
                // if (this.billingStreetNumber != null && this.billingStreetName != null && this.billingCity != null && this.stateSelected != null && this.billingPostalCode != null && this.billingCountry != null) {
                //     this.billingAddress = this.billingStreetName + ', ' + this.billingCity + ', ' + this.secondAddressLine + ' ' + this.stateSelected.name + ' ' + this.billingPostalCode + ', ' + this.billingCountry 
                // }else{
                //     this.billingAddress = ''
                // }

                let street_address = this.isCustomAddress ? this.customAddress:this.billingStreetName

                if (this.isCustomAddress) {
                    this.billingStreetName = this.customAddress
                }

                if (this.billingStreetName != '' && this.billingCity != '' && this.billingState != null && this.billingPostalCode != '' && this.billingCountry !='') {
                    this.billingStreetNumber = this.billingStreetNumber != '' && this.billingStreetNumber != null ? this.billingStreetNumber:'000'
                    this.billingAddress = this.billingStreetNumber + ', ' + street_address + ', ' + this.billingCity + ', ' + this.secondAddressLine + ', ' + this.billingState.name + ', ' + this.billingPostalCode + ', ' + this.billingCountry 
                } else {
                    this.billingAddress = ''
                }
            },
            formattedShippingAddress() {
                if (this.shippingAddress.street_name != '' && this.shippingAddress.city != '' && this.shippingAddress.state != null && this.shippingAddress.postal_code != '' && this.shippingAddress.country !='' && this.shippingAddress.data.length > 0) {
                    this.shippingAddress.street_number = this.shippingAddress.street_number != '' ? this.shippingAddress.street_number:'000'
                    this.shippingAddress.data[0].name = this.shippingAddress.street_number + ', ' + this.shippingAddress.street_name + ', ' + this.shippingAddress.city + ', ' + this.shippingAddress.secondAddressLine + ', ' + this.shippingAddress.state.name + ', ' + this.shippingAddress.postal_code + ', ' + this.shippingAddress.country 
                } else {
                    this.shippingAddress.street_number = ''
                    this.shippingAddress.length > 0 ? this.shippingAddress.data[0].name = '':''
                }
            },
            setBillingAddress($event) {
                let address = this.getAddress($event)
                this.billingCity = address.city
                this.billingCountry = address.country
                this.billingStreetName = address.street
                this.billingStreetNumber = address.number
                this.billingPostalCode = address.postal_code
                this.billing_street = this.billingStreetNumber + ' ' + this.billingStreetName
                this.billingState = {
                    name : address.state
                }
                this.formattedBillingAddress()
                // this.billingAddress = this.billingStreetName + ', ' + this.billingCity + ', ' + this.billingState + ' ' + this.billingPostalCode + ', ' + this.billingCountry
            },
            addPhone() {
                if (this.phoneNumber.number != '' && this.phoneNumber.number != null) {
                    this.phoneNumber.data.push(this.phoneNumber.number)
                }
                this.phoneNumber.number = null
            },
            editPhone(item, index) {
                this.phoneNumber.edit = index
                this.phoneNumber.number = item
            },
            updatePhone() {
                this.phoneNumber.data[this.phoneNumber.edit] = this.phoneNumber.number
                this.phoneNumber.number = null
                this.phoneNumber.edit = null
            },
            removePhone(index) {
                this.phoneNumber.data.splice(index, 1)
            },
            addShipPhone() {
                if (this.shipPhoneNumber.number != '' && this.shipPhoneNumber.number != null && this.shipPhoneNumber.data.length < 1) {
                    this.shipPhoneNumber.data.push(this.shipPhoneNumber.number)
                }
                this.shipPhoneNumber.number = null
            },
            editShipPhone(item, index) {
                this.shipPhoneNumber.edit = index
                this.shipPhoneNumber.number = item
            },
            updateShipPhone() {
                this.shipPhoneNumber.data[this.shipPhoneNumber.edit] = this.shipPhoneNumber.number
                this.shipPhoneNumber.number = null
                this.shipPhoneNumber.edit = null
            },
            removeShipPhone(index) {
                this.shipPhoneNumber.data.splice(index, 1)
            },
            setShippingAddress($event) {
                let address = this.getAddress($event)
                this.shippingAddress.city = address.city
                this.shippingAddress.country = address.country
                this.shippingAddress.state = {
                    name : address.state
                }
                this.shippingAddress.street_name = address.street
                this.shippingAddress.street_number = address.number
                this.shippingAddress.postal_code = address.postal_code
                this.shippingAddress.street = this.shippingAddress.street_number + ' ' + this.shippingAddress.street_name
                this.formattedShippingAddress()
                if (this.shippingAddress.data.length > 0) {
                    this.shippingAddress.data[0].name = this.shippingAddress.name, 
                    this.shippingAddress.data[0].is_default = 1,
                    this.shippingAddress.data[0].number = this.shippingAddress.street_number
                    this.shippingAddress.data[0].street = this.shippingAddress.street_name
                    this.shippingAddress.data[0].state = this.shippingAddress.state
                    this.shippingAddress.data[0].country = this.shippingAddress.country
                    this.shippingAddress.data[0].city = this.shippingAddress.city
                    this.shippingAddress.data[0].postal_code= this.shippingAddress.postal_code
                }
            },
            checkBoxClicked(){
                this.sameAsDelivery = !this.sameAsDelivery
            },
            handleFileUpload() {
                this.tax.file = this.$refs.file.files[0];
            },
            setIndividualBilling(){
                this.isIndividualBilling = true;
                this.isCompanyBilling = false;
            },
            setCompanyBilling(){
                this.isIndividualBilling = false;
                this.isCompanyBilling = true;
            },
            setIndividualDelivery(){
                this.isIndividualDelivery = true;
                this.isCompanyDelivery = false;
            },
            setCompanyDelivery(){
                this.isIndividualDelivery = false;
                this.isCompanyDelivery = true;
            },
            setOrderSelected(item){
                // localStorage.setItem('history-route-order', 'customers-individual')
                localStorage.setItem('history-route-order', this.$router.currentRoute.path)
                this.$router.push({ name:'my-orders-edit-id', params:{'id':item.order_no}})
            },
            setQuoteSelected(item){
                // localStorage.setItem('history-route-quote', 'customers-individual')
                localStorage.setItem('history-route-order', this.$router.currentRoute.path)
                this.$router.push({ name:'my-quotes-edit-id', params:{'id':item.quote_no}})
            },
        }
    }
</script>

<style>
.upload-document{
    padding: 7px 16px;
    height: calc(1.96875rem + 8px);
}
</style>
