<template>
    <div v-if="form !== null">
        <b-form>
            <!-- <b-form-group
                id="status"
                label="Notification Type"
                label-class="font-weight-bold"
                label-for="status"
            >
                <b-form-input
                    id="name"
                    v-model="form.name"
                    type="text"
                    placeholder="Enter name notification type"
                    :disabled="true"
                />
            </b-form-group> -->
            <b-form-group
                id="status"
                label="Priority Level"
                label-class="font-weight-bold"
                label-for="status"
            >
                <b-form-select
                    v-model="form.priorityForm"
                    :options="optionTypes"
                    v-validate="'required'"
                    data-vv-name="status"
                    data-vv-as="Priority Level"
                    type="text"
                    placeholder="Enter status email"
                    :class="{ 'is-invalid': errors.has('status') }"
                />
                <span v-if="errors.has('status')" class="text-danger">
                    {{ errors.first("status") }}
                </span>
            </b-form-group>
            <b-form-group
                id="recipients"
                label="Recipients"
                label-class="font-weight-bold"
                label-for="recipients"
            >
                <Select
                    v-model="form.recipients"
                    v-validate="'required'"
                    data-vv-name="receipients"
                    data-vv-as="Recipients"
                    :class="{
                        'is-invalid': errors.has('receipients'),
                    }"
                    :options="listRecipient"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="true"
                    :preserve-search="true"
                    :multiple="true"
                    placeholder="Select Recepients"
                    track-by="user_id"
                    label="fullname"
                    :preselect-first="true"
                />
                <span v-if="errors.has('recipients')" class="text-danger">
                    {{ errors.first("recipients") }}
                </span>
            </b-form-group>

            <h5 class="font-weight-bold mb-3">
                Email Notification
            </h5>

            <b-form-group
                id="subject"
                label="Subject"
                label-class="font-weight-bold"
                label-for="subject"
            >
                <b-form-input
                    id="subject"
                    v-model="form.subject"
                    type="text"
                    v-validate="'required'"
                    data-vv-name="subject"
                    data-vv-as="Subject"
                    placeholder="Enter subject email"
                    :class="{ 'is-invalid': errors.has('subject') }"
                    :disabled="!form.isSubjectEditable"
                />
                <span v-if="errors.has('subject')" class="text-danger">
                    {{ errors.first("subject") }}
                </span>
            </b-form-group>
            <b-form-group
                id="body"
                label="Body"
                label-class="font-weight-bold"
                label-for="body"
            >
                <no-ssr>
                    <vue-editor
                        v-model="form.body"
                        v-validate="'required'"
                        data-vv-name="body"
                        data-vv-as="Email Template"
                    />
                </no-ssr>
            </b-form-group>

            <div class="text-right">
                <b-button
                    type="button"
                    variant="primary"
                    class="w-11rem"
                    @click="saveInternalNotificationType"
                >
                    <template v-if="!isLoading">
                        Save Changes
                    </template>
                    <b-spinner variant="light" small v-if="isLoading" />
                </b-button>
            </div>
        </b-form>

        <app-table :fields="fields" :items="selectedNotification.variable" :busy="selectedId === null" show-empty class="mt-4">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="code" slot-scope="row">
                <span :ref="`code-${row.item.id}`">{{ row.item.variable }}</span>
                <a
                    href="javascript:void(0)"
                    class="ml-2"
                    v-b-tooltip.hover title="Copy"
                    @click="copy(row.item.id)"
                >
                    <i class="fa fa-copy"></i>
                </a>
            </template>
            <template slot="description" slot-scope="row">
                {{ row.item.description }}
            </template>
        </app-table>
    </div>
</template>

<script>
// Package
import { mapState, mapGetters } from "vuex";
import Select from "vue-multiselect";
import Table from '@/node_modules/bootstrap-vue/es/components/table/table';

let VueEditor
if (process.client) {
    VueEditor = require('vue2-editor').VueEditor
}

export default {
    name: "FormCustomerNotificationType",
    components: {
        Select,
        VueEditor,
        'app-table': Table,
    },
    props: {
        selectedNotification: {
            type: Object,
            default: () => ({}),
        },
    },
    data() {
        return {
            form: null,
            fields: ['code', 'description'],
        };
    },
    computed: {
        ...mapState("internalNotifications", {
            optionTypes: (state) => state.optionTypes,
        }),
        ...mapGetters({
            listRecipient: 'internalNotifications/mapListRecipient',
        }),
    },
    mounted() {
        this.duplicateSelectedNotification();
    },
    methods: {
        copy(id) {
            const code = this.$refs[`code-${id}`].innerHTML;

            navigator.clipboard.writeText(code).then(() => {
                this.$root.$bvToast.toast(`Copied`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            })
        },
        duplicateSelectedNotification() {
            this.form = this.selectedNotification;
        },
        saveInternalNotificationType() {
            const payload = {
                id: this.form.id,
                name: this.form.name,
                subject: this.form.subject,
                body: this.form.body,
                priority: this.form.priorityForm,
                recipients: this.form.recipients,
            }

            this.$store.dispatch('internalNotifications/updateInternalNotificationType', payload)
            .then(() => {
                this.$emit(`resetForm`);

                this.$root.$bvToast.toast(`Notification ${this.form.name} updated!`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            });
        }
    },
};
</script>
