<template>
    <div>
        <b-form>
            <template v-if="form.status === '1'">
                <b-form-group
                    v-if="selectedNotification.use_time === 1"
                    id="adjust-time"
                    :label="
                        selectedNotification.id !== 15 ? 'Hours Before'
                            : 'Email will be sent every'
                    "
                    label-class="font-weight-bold"
                    label-for="adjust-time"
                    v-width="'300px'"
                >
                    <b-input-group>
                        <b-form-input
                            id="adjust-time"
                            v-model="formTime.hour"
                            type="text"
                            placeholder="Enter adjust notification time sent email"
                            @input="updateFormTime($event, 'hour')"
                            @blur="updateTime"
                        ></b-form-input>
                        <template #append>
                            <b-input-group-text class="bg-white">{{ selectedNotification.id === 15 ? 'Weeks' : 'Hours' }}</b-input-group-text>
                        </template>
                    </b-input-group>
                    <template #description>
                        <template v-if="selectedNotification.id !== 15">
                            Based on a route start time of <b>{{ selectedNotification.time }}</b>
                        </template>
                    </template>
                </b-form-group>
                <b-form-group
                    v-if="type === 'email'"
                    id="subject"
                    label="Subject"
                    label-class="font-weight-bold"
                    label-for="subject"
                >
                    <b-form-input
                        id="subject"
                        v-model="form.subject"
                        v-validate="'required'"
                        data-vv-name="subject"
                        data-vv-as="Subject"
                        type="text"
                        placeholder="Enter subject email"
                        :class="{ 'is-invalid': errors.has('subject') }"
                        @input="updateForm($event, 'subject')"
                    ></b-form-input>
                    <span v-if="errors.has('subject')" class="text-danger">{{
                        errors.first("subject")
                    }}</span>
                </b-form-group>
                <b-form-group
                    id="body"
                    :label="[[type === 'email' ? 'Email template' : 'Text Messaging Template' ]]"
                    label-class="font-weight-bold"
                    label-for="body"
                >
                    <template v-if="type === 'email'">
                        <no-ssr>
                            <vue-editor
                                v-model="form.body"
                                v-validate="'required'"
                                data-vv-name="body"
                                data-vv-as="Email Template"
                                @input="updateForm($event, 'body')"
                            />
                        </no-ssr>
                    </template>
                    <template v-if="type === 'sms'">
                        <b-form-textarea
                            id="text"
                            v-model="form.body"
                            v-validate="'required'"
                            data-vv-name="body"
                            data-vv-as="Text Messaging Template"
                            placeholder="Enter your content"
                            :class="{ 'is-invalid': errors.has('body') }"
                            rows="9"
                            @input="updateForm($event, 'body')"
                        ></b-form-textarea>
                    </template>
                    <span v-if="errors.has('body')" class="text-danger">{{
                        errors.first("body")
                    }}</span>
                </b-form-group>
                <div class="text-right">
                    <b-button
                        type="button"
                        variant="primary"
                        class="w-11rem"
                        @click="saveCustomNotification"
                    >
                        <template v-if="!isLoading">
                            Save Changes
                        </template>
                        <b-spinner variant="light" small v-if="isLoading" />
                    </b-button>
                </div>
            </template>
        </b-form>

        <app-table v-if="form.status === '1'"  :fields="fields" :items="selectedNotification.variable" :busy="selectedId === null" show-empty class="mt-4">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="code" slot-scope="row">
                <span :ref="`code-${row.item.id}`">{{ row.item.variable }}</span>
                <a
                    href="javascript:void(0)"
                    class="ml-2"
                    v-b-tooltip.hover title="Copy"
                    @click="copy(row.item.id)"
                >
                    <i class="fa fa-copy"></i>
                </a>
            </template>
            <template slot="description" slot-scope="row">
                {{ row.item.description }}
            </template>
        </app-table>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table';

import { TYPES } from "@/types/store/customerNotification";
import { mapState } from 'vuex';

let VueEditor
if (process.client) {
    VueEditor = require('vue2-editor').VueEditor
}

export default {
    name: "FormCustomerNotification",
    props: {
        type: {
            type: String,
            default: 'email',
        },
        selectedId: {
            type: Number,
            default: null,
        },
        selectedNotification: {
            type: Object,
            default: () => ({}),
        },
    },
    components: {
        'vue-editor': VueEditor,
        'app-table': Table,
    },
    data() {
        return {
            fields: ['code', 'description'],
            isLoading: false,
        };
    },
    computed: {
        ...mapState({
            form: (state) => state.customerNotification.form,
            formTime: (state) => state.customerNotification.formTime,
        }),
    },
    mounted() {
        this.$validator.reset();

        this.getTemplateCustomerNotification();
    },
    methods: {
        copy(id) {
            const code = this.$refs[`code-${id}`].innerHTML;

            navigator.clipboard.writeText(code).then(() => {
                this.$root.$bvToast.toast(`Copied`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            })
        },
        updateForm(value, key) {
            const payload = {
                value,
                key,
            }
            this.$store.commit(`customerNotification/${TYPES.SET_FORM_CUSTOMER_EMAIL_EACH}`, payload);
        },
        updateFormTime(value, key) {
            const payload = {
                value,
                key,
            }
            this.$store.commit(`customerNotification/${TYPES.SET_FORM_CUSTOMER_EMAIL_EACH}`, payload);
        },
        getTemplateCustomerNotification() {
            const payload = {
                subject: this.selectedNotification.subject || null,
                body: this.selectedNotification.body || null,
                status: this.selectedNotification.status,
            };

            const payloadTime = {
                hour: this.selectedNotification.hour || null,
            }

            this.$store.commit(`customerNotification/${TYPES.SET_FORM_CUSTOMER_NOTIFICATION}`, payload);
            this.$store.commit(`customerNotification/${TYPES.SET_FORM_TIME_CUSTOMER_NOTIFICATION}`, payloadTime);
        },
        async saveCustomNotification() {
            this.$validator.validate().then(async result => {
                if (result) {
                    this.isLoading = true;

                    const payload = {
                        id: this.selectedId,
                        type: this.type,
                    }
                    const resultNotification = await this.$store.dispatch(`customerNotification/saveCustomerNotification`, payload);

                    if (resultNotification.status === 200) {
                        this.isLoading = false;

                        this.$root.$bvToast.toast(`Customer Notification Setting ${this.selectedNotification.name} Saved`, {
                            title: "Success!",
                            variant: "success",
                            solid: true,
                        });
                    }
                    if (resultNotification.status !== 200) {
                        this.$root.$bvToast.toast(`Something Error`, {
                            title: "Error!",
                            variant: "danger",
                            solid: true,
                        });
                    }
                }
            });
        },
        async updateTime() {
            const payload = {
                id: this.selectedId,
                type: this.type,
            }

            const resultUpdateTime = await this.$store.dispatch(`customerNotification/updateTimeCustomerNotification`, payload);

            if (resultUpdateTime.status === 200) {
                this.isLoading = false;

                this.$root.$bvToast.toast(`Update time ${this.selectedNotification.name} updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (resultUpdateTime.status !== 200) {
                this.$root.$bvToast.toast(`Something Error`, {
                    title: "Error!",
                    variant: "danger",
                    solid: true,
                });
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.w-11rem {
    width: 11rem;
}
</style>
