<template>
  <div>
    <b-form>
      <b-form-group
        id="title"
        label="Title"
        label-class="font-weight-bold"
        label-for="title"
      >
        <b-form-input
          id="title"
          v-model="form.title"
          v-validate="'required'"
          data-vv-name="Title"
          data-vv-as="Title"
          type="text"
          placeholder="Enter title"
          :class="{ 'is-invalid': errors.has('Title') }"
          @input="updateTitle"
        ></b-form-input>
        <span v-if="errors.has('Title')" class="text-danger">{{
          errors.first("Title")
        }}</span>
      </b-form-group>

      <b-form-group
        id="text"
        label="Agreement"
        label-class="font-weight-bold"
        label-for="text"
      >
        <b-form-textarea
          id="text"
          v-model="form.text"
          v-validate="'required'"
          data-vv-name="Agreement"
          data-vv-as="Agreement"
          placeholder="Enter your agreement"
          :class="{ 'is-invalid': errors.has('Agreement') }"
          rows="9"
          @input="updateText"
        ></b-form-textarea>
        <span v-if="errors.has('Agreement')" class="text-danger">{{
          errors.first("Agreement")
        }}</span>
      </b-form-group>

      <b-form-group
        id="status"
        label="Status"
        label-class="font-weight-bold"
        label-for="status"
      >
        <pretty-check
          class="p-switch p-fill"
          color="primary"
          v-model="form.status"
          @change="updateStatus"
        ></pretty-check>
      </b-form-group>

      <b-button type="button" variant="primary" @click="saveDamageWaiverSetting"
        >Save Changes</b-button
      >
    </b-form>
  </div>
</template>

<script>
import PrettyCheck from "pretty-checkbox-vue/check";
import { TYPES } from "@/types/store/damageWaiver";

import { mapState } from "vuex";

export default {
  name: "DamageWaiverForm",
  components: {
    PrettyCheck,
  },
  computed: {
    ...mapState({
      form: (state) => state.damageWaiver.form,
    }),
  },
  methods: {
    updateTitle(value) {
      this.$store.commit(
        `damageWaiver/${TYPES.SET_DAMAGE_WAIVER_TITLE}`,
        value
      );
    },
    updateText(value) {
      this.$store.commit(`damageWaiver/${TYPES.SET_DAMAGE_WAIVER_TEXT}`, value);
    },
    updateStatus(value) {
      this.$store.commit(
        `damageWaiver/${TYPES.SET_DAMAGE_WAIVER_STATUS}`,
        value
      );
    },
    async getDamageWaiverSetting() {
      const result = await this.$store.dispatch(
        "damageWaiver/getDamageWaiverSetting"
      );

      if (result.status !== 200) {
        this.$root.$bvToast.toast(`Something Error`, {
          title: "Error!",
          variant: "danger",
          solid: true,
        });
      }
    },
    async saveDamageWaiverSetting() {
      const result = await this.$store.dispatch(
        "damageWaiver/saveDamageWaiverSetting",
        this.form
      );

      if (result.status !== 200) {
        this.$root.$bvToast.toast(`Something Error`, {
          title: "Error!",
          variant: "danger",
          solid: true,
        });
      }

      if (result.status === 200) {
        this.$root.$bvToast.toast(`Damage Waiver Setting Saved`, {
          title: "Success!",
          variant: "success",
          solid: true,
        });
      }
    },
  },
  async created() {
    await this.getDamageWaiverSetting();
  },
};
</script>
