<template>
    <div class="form-delivery">
        <transition name="slide-down">
            <b-alert variant="success" class="alert-notif--top" show fade v-show="noteAlert">
                <div class="d-flex align-items-center">
                    <i class="far fa-check-circle fa-lg mr-2"></i>
                    <p class="mb-0">A note has been added to your delivery</p>
                </div>
            </b-alert>
        </transition>
        <b-tabs>
            <b-tab title="Order" @click="gotoOrder"></b-tab>
            <b-tab title="Delivery" @click="gotoDelivery" active></b-tab>
            <b-tab title="Changelog" @click="gotoChangelog"></b-tab>
        </b-tabs>
        <div class="d-flex justify-content-end mt-3">
            <div class="form-group mb-0">
                <label class="font-weight-bold mb-1">Sales Person:</label>
                <h5 class="font-weight-600 mb-0">{{ delivery.sales_person.fullname }}</h5>
            </div>
        </div>
        <div class="mt-3">
            <div class="card mb-3">
                <div class="card-body p-5">
                    <h4 class="font-weight-600 mb-3">Order #{{ delivery.order_no }}</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <h4 class="font-weight-600 mb-0">Delivery Information</h4>
                                <!-- <a href="#">Edit</a> -->
                            </div>
                            <hr>

                            <app-address-format
                                :is_company="delivery.customer.is_company"
                                :company="delivery.customer.company"
                                :builders_code="delivery.customer.builders_code"
                                :name="delivery.bill_name"
                                :address="delivery.formatted_shipping_address ? delivery.formatted_shipping_address.formatted:''"
                                :phone_number="delivery.ship_phone_number"
                                ></app-address-format>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex align-items-center">
            <nuxt-link tag="a" :to="{name: 'my-orders-scan-out-id', params: {'id': this.$route.params.id}}" class="btn btn-primary ml-auto mb-n5 px-4">Scan Out Delivery</nuxt-link>
        </div> -->
        <b-alert show variant="danger" v-if="delivery.balance_due > 0 && delivery.total > 0">
            <h4 class="alert-heading">Warning!</h4>
            <hr>
            <p>There is currently an unpaid balance on this order. In order to schedule delivery please collect the entire amount owed.</p>
        </b-alert>
        <template v-else>
            <!-- <template v-if="individualScan">
                <div class="scanout__button" v-if="(deliveryStatusTab == 1 && pendingPieces > 0) || (deliveryStatusTab == 2 && deliveredPieces > 0)">
                    <button class="btn btn-primary" @click="showHideModalConfirm">Scan-out delivery items</button>
                </div>
            </template> -->
            <b-tabs content-class="mt-4" v-model="deliveryStatusTab" ref="tabDelivery">
                <b-tab active @click="setOpen">
                    <template v-slot:title>
                        <div class="d-flex align-items-center">
                            <div>Open</div>
                            <div class="counter counter-red ml-2">{{openPieces}}</div>
                        </div>
                    </template>
                    <app-table-delivery-detail ref="deliveryTable1" :statusData="0" @getIndex="receivedIndex" v-bind:order_no="delivery.order_no" v-bind:disableDayOfWeek="disableDayOfWeek" open/>
                </b-tab>
                <b-tab>
                    <template v-slot:title>
                        <div class="d-flex align-items-center">
                            <div>Scheduled</div>
                            <div class="counter counter-red ml-2">{{scheduledPieces}}</div>
                        </div>
                    </template>
                    <app-table-delivery-detail ref="deliveryTable2" :statusData="3" @getIndex="receivedIndex" v-bind:order_no="delivery.order_no" v-bind:disableDayOfWeek="disableDayOfWeek" pending/>
                </b-tab>
                <b-tab>
                    <template v-slot:title>
                        <div class="d-flex align-items-center">
                            <div>In-Transit</div>
                            <div class="counter counter-red ml-2">{{inTransitPieces}}</div>
                        </div>
                    </template>
                    <app-table-delivery-detail ref="deliveryTable3" :statusData="4" @getIndex="receivedIndex" v-bind:order_no="delivery.order_no" v-bind:disableDayOfWeek="disableDayOfWeek" in-transit/>
                </b-tab>
                <b-tab>
                    <template v-slot:title>
                        <div class="d-flex align-items-center">
                            <div>Delivered</div>
                            <div class="counter counter-red ml-2">{{deliveredPieces}}</div>
                        </div>
                    </template>
                    <app-table-delivery-detail ref="deliveryTable4" :statusData="1" @getIndex="receivedIndex" v-bind:order_no="delivery.order_no" v-bind:disableDayOfWeek="disableDayOfWeek" closed/>
                </b-tab>
                <b-tab>
                    <template v-slot:title>
                        <div class="d-flex align-items-center">
                            <div>Returned</div>
                            <div class="counter counter-red ml-2">{{returnedPieces}}</div>
                        </div>
                    </template>
                    <app-table-delivery-detail ref="deliveryTable5" @getIndex="receivedIndex" v-bind:order_no="delivery.order_no" v-bind:disableDayOfWeek="disableDayOfWeek" returned/>
                </b-tab>
            </b-tabs>
        </template>
        <div class="card mt-4">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h6 class="mb-0 align-self-end font-weight-600">Notes</h6>
                            <a href="javascript:void(0)" @click="showModalNote"><i class="fas fa-plus"></i> Add</a>
                        </div>
                        <div v-if="delivery.delivery_notes.length > 0">
                            <div class="notes-wrapper">
                                <div class="d-flex align-items-center mb-3" v-for="(row, index) in delivery.delivery_notes" :key="'deliveryNotes' + index">
                                    <div class="bs-callout bs-callout-primary w-100 mb-0 mt-0">
                                        <sup class="badge badge-secondary mb-1">{{ row.user.fullname }} - {{ moment(row.date_created).format('M/D/Y h:mm a') }}</sup>
                                        <p>{{row.note}}</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" @click="showModalEditNote(row.id, row.note)"><i class="fas fa-edit ml-2 mr-2"></i></a>
                                        <a href="#" @click="showModalDeleteNote(row.id)" class="red"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-modal size="lg" title="Add Notes" centered @hide="closeModalNote" :show="modalNote">
            <template>
                <div class="form-group mt-3">
                    <label for="delivery-note-add">Add Delivery Note</label>
                    <textarea id="delivery-note-add" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('delivery-note-add'), 'form-control':true }" type="text" name="delivery-note-add" data-vv-as="delivery note" cols="30" rows="6" v-model="notes"></textarea>
                    <span v-show="errors.has('delivery-note-add')" class="text-danger">{{ errors.first('delivery-note-add') }}</span>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="saveNote">Add</div>
                    <div class="btn btn-outline-primary" @click="closeModalNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Edit Note" centered @hide="closeModalEditNote" :show="modalEditNote">
            <template>
                <div class="form-group">
                    <label for="delivery-note-edit">Edit Delivery Note</label>
                    <textarea id="delivery-note-edit" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('delivery-note-edit'), 'form-control':true }" type="text" name="delivery-note-edit" data-vv-as="delivery note" cols="30" rows="6" v-model="selected_note"></textarea>
                    <span v-show="errors.has('delivery-note-edit')" class="text-danger">{{ errors.first('delivery-note-edit') }}</span>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="submitNote">Save</div>
                    <div class="btn btn-outline-primary" @click="closeModalEditNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Delete Delivery Note" centered @hide="closeModalDeleteNote" :show="modalDeleteNote">
            <template>
                <h5>Are you sure to delete this note ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteNote">Delete</div>
                    <div class="btn btn-outline-primary" @click="closeModalDeleteNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalConfirm" @hide="showHideModalConfirm">
            <div class="px-4 text-center">
                <img src="/icon/warning-icon.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-5 font-weight-500">This will scan all items on {{deliveryStatusTab == 1 ? 'Pending' : 'Delivered'}} status <br> Are you sure you want to continue?</h5>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" :disabled="isScan" @click="showHideModalConfirm">Cancel</button>
                    <button class="btn btn-primary w-100 ml-3" :disabled="isScan" @click="scanItems">
                        <b-spinner variant="light" small v-if="isScan" />
                        <span v-else>Continue</span>
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Modal from '@/components/utilities/Modal'
import TableDeliveryDetail from '@/components/table/DeliveryDetail.vue'
import Select from 'vue-multiselect'
import FormatAddress from '@/components/utilities/Address.vue'
import sumBy from 'lodash/sumBy'

export default {
    created(){
        let indexFeature = this.$auth.user.features.findIndex(v => {return v.name === 'Individual Order Scan Out'})
        if(indexFeature != -1) this.individualScan = true
        else this.individualScan = false
    },
    mounted() {
        for (let index = 0; index < this.dayDelivery.length; index++) {
            if(this.dayDelivery[index].is_active == 0){
                this.disableDayOfWeek.weekdays.push(this.dayDelivery[index].day_of_week)
            }
        }
        if(this.$route.params.status != undefined){
            this.deliveryStatusTab = this.$route.params.status
        }
    },
    computed: {
        ...mapState('delivery', {
            delivery: state => state.data
        }),
        ...mapState('deliveryDetail', {
            deliveries: state => state.items
        }),
        ...mapState('deliveryTimes', {
            dayDelivery: state => state.items
        }),
        openPieces(){
            const openItems = this.deliveries.filter(item => item.status == 0)
            return sumBy(openItems, item => {return item.qty})
        },
        scheduledPieces(){
            const scheduledItems = this.deliveries.filter(item => item.status == 3)
            return sumBy(scheduledItems, item => {return item.qty})
        },
        inTransitPieces(){
            const inTransitItems = this.deliveries.filter(item => item.status == 4)
            return sumBy(inTransitItems, item => {return item.qty})
        },
        deliveredPieces(){
            const deliveredItems = this.deliveries.filter(item => item.status == 1)
            return sumBy(deliveredItems, item => {return item.qty})
        },
        returnedPieces(){
            const returnedItems = this.deliveries.filter(item => item.status == 2)
            return sumBy(returnedItems, item => {return item.qty})
        }
    },
    watch: {
        deliveryStatusTab(){
            this.$refs[`deliveryTable${this.deliveryStatusTab + 1}`].clearAllBulkDelivery()
        }
    },
    data() {
        return {
            individualScan : false,
            isScan: false,
            modalConfirm : false,
            deliveryStatusTab: 0,
            noteAlert: false,
            date: new Date(),
            time: {
                selected: null,
                data: [
                    // 'AM',
                    // 'PM',
                    'All Day'
                ]
            },
            disableDayOfWeek: {
                weekdays: []
            },
            selected_note_id:'',
            selected_note : '',
            modalNote: false,
            modalEditNote: false,
            modalDeleteNote: false,
            notes: null
        }
    },
    props: {
        data: {
            type: Object,
            default() {
                return null
            }
        },
        show: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        ...mapActions('orderSchedule', ['postNotes']),
        ...mapActions('delivery',['getDelivery']),
        ...mapActions('bulkInventory',['scanDeliveryItems']),
        scanItems(){
            this.isScan = true
            this.scanDeliveryItems({id: this.$route.params.id, status: this.deliveryStatusTab == 2 ? 1 : 3})
            .then(() => {
                this.getDeliveryDetails(this.$route.params.id)
                .then(() => {
                    this.isScan = false
                    this.showHideModalConfirm()
                })
            })
        },
        showHideModalConfirm(){
            this.modalConfirm = !this.modalConfirm
        },
        setOpen(){
            this.$refs.deliveryTable1.setLocation()
        },
        gotoChangelog(){
            this.$router.push({ name:'my-orders-changelog-id', params:{'id': this.$route.params.id}})
        },
        showNoteAlert(){
            this.noteAlert = true
            setTimeout( () =>{
                this.noteAlert = false
            }, 4000)
        },
        showModalNote(){
            this.modalNote = true;
            this.errors.clear()
        },
        closeModalNote(){
            return new Promise((resolve, reject) =>{
                this.notes = null
                this.modalNote = false;
                resolve()
            })
        },
        saveNote(){
            this.$validator.validate('delivery-note-add').then(result => {
                if(result){
                    this.postNotes({
                        notes : [{
                            order_no : this.$route.params.id,
                            user_id : this.delivery.sales_person.user_id,
                            from_note : 'DELIVERY NOTE',
                            note: this.notes
                        }]
                    }).then(() => {
                        this.getDelivery(this.$route.params.id)
                        this.closeModalNote().then(this.showNoteAlert())
                    })
                }
            })
        },
        showModalEditNote(id, note){
            this.selected_note_id = id
            this.selected_note = note
            this.modalEditNote= true;
            this.errors.clear()
        },
        closeModalEditNote(){
            this.modalEditNote= false;
        },
        submitNote(){
            this.$validator.validate('delivery-note-edit').then(result => {
                if(result){
                    this.updateNote({
                        id : this.selected_note_id,
                        note : this.selected_note
                    }).then(() =>{
                        this.getDelivery(this.$route.params.id)
                        this.modalEditNote= false;
                    })
                }
            })
        },
        showModalDeleteNote(id){
            this.selected_note_id = id
            this.modalDeleteNote= true;
        },
        closeModalDeleteNote(){
            this.modalDeleteNote= false;
        },
        deleteNote(){
            this. destroyNote({
                id : this.selected_note_id
            }).then(() =>{
                this.getDelivery(this.$route.params.id)
                this.modalDeleteNote= false;
            })
        },
        gotoOrder(){
            this.$router.push({ name :'my-orders-edit-id', params:{ 'id': this.$route.params.id}})
        },
        gotoDelivery(){
            this.$router.push({ name:'delivery-schedule-delivery-id', params:{'id': this.$route.params.id}})
        },
        ...mapMutations('customer', [
            'SET_CUSTOMER_DATA',
            'SET_CUSTOMER_DATA_DEFAULT'
        ]),
        ...mapActions('deliveryDetail', ['setScheduleDelivery']),
        ...mapActions('deliveryTimes', ['getDeliveryTimes']),
        ...mapActions('delivery', ['getDelivery']),
        ...mapActions('deliveryDetail', ['getDeliveryDetails']),
        ...mapActions('orderSchedule', [
            'updateNote',
            'destroyNote'
        ]),
        receivedIndex(val) {
            let vm = this
            this._.forEach(val, function(value) {
                vm.date != null ? vm.deliveries[value].deliveryDate = vm.moment(vm.date).format('L'):''
                vm.time.selected != null ? vm.deliveries[value].requestTime = vm.time.selected:''
            })
            this.setScheduleDelivery(this.delivery.order_no).then(() => this.date = new Date(), this.time.selected = null)
        },
        changeDate() {
            this.setDelivery()
        },
        setDelivery() {
            // if (this.delivery == 0 && this.delivery.payment.length > 0) {
                let indexTab = this.$refs.tabDelivery.currentTab
                this.$refs['deliveryTable' + indexTab].emitIndex()
            // }
        },
        changeTime() {
            this.setDelivery()
        },
        submit() {
            this.SET_CUSTOMER_DATA({
                firstName: this.firstName,
                lastName: this.lastName,
            })
        },
    },
    components: {
        'app-table-delivery-detail': TableDeliveryDetail,
        'app-select': Select,
        'app-address-format': FormatAddress,
        'app-modal': Modal,
    }
}
</script>

<style>
.scanout__button{
    position: absolute;
    right: 0;
}
</style>
