<template>
    <div>
        <div class="form-group">
            <label for="name" class="font-weight-bold">Install Name:</label>
            <input type="text" class="form-control" id="name" v-model="name">
        </div>
        <div class="form-group">
            <label for="price" class="font-weight-bold">Install Price:</label>
            <!-- <input type="number" class="form-control" id="price" v-model="price"> -->
            <price-input :value="price" v-model="price" @keypress="isNumber($event)"></price-input>
        </div>
        <div class="text-right" v-if="saveButton">
            <a href="#" class="btn btn-primary" @click="submit">Save</a>
        </div>
    </div>
</template>

<script>
    import { mapMutations } from 'vuex'
    import PriceInput from '@/components/utilities/PriceInput.vue'

    export default {
        data() {
            return {
                name: null,
                price: 0,
            }
        },
        props: {
            saveButton: {
                type: Boolean,
                default: true
            }
        },
        methods: {
            ...mapMutations('install', [
                'SET_INSTALL_DATA'
            ]),
            submit() {
                this.SET_INSTALL_DATA({
                    install_id: null,
                    install_name: this.name,
                    install_price: this.price,
                    detail_install: [
                        {
                            id: null,
                            install_id: null,
                            category_name: null,
                            subcategory_name: null,
                            detail_category_name: null,
                        }
                    ]
                })

                this.reset()
            },
            reset() {
                this.name = null
                this.price = 0
            }
        },
        components: {
            'price-input': PriceInput
        }
    }
</script>

<style>

</style>
