<template>
	<div>
		<template v-if="blockChypCreditCard || blockChypPhonePayment">
			<b-alert :variant="stripeLog.variant" :show="stripeLog.message.length > 0">
				<i class="fas fa-info-circle mr-1"></i>
				<span>{{stripeLog.message}}</span>
			</b-alert>
			<div class="d-flex align-items-center justify-content-center py-4" v-if="isFetchTerminal">
				<b-spinner variant="primary"></b-spinner>
			</div>
			<b-card v-if="listReader.length > 0">
				<div class="d-flex align-items-center flex-wrap">
					<button class="btn btn-outline-primary btn-sm px-4 mr-2 mb-3" :class="{'active' : reader == connectedReader}" v-for="(reader, index) in listReader" :key="index" @click="connectToReader(reader)">{{reader.terminal_name}}</button>
				</div>
				<template v-if="connectedReader">
					<div class="row">
						<div class="form-group col-6">
							<label for="#">Date</label>
							<no-ssr>
								<app-datepicker mode="single" v-model="repayment.payment_date" :popoverVisibility="'hidden'">
									<template :type='inputState.type' slot-scope='{ inputValue }'>
										<div class="icon icon-right">
											<input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' disabled>
											<i class="far fa-calendar-alt text-primary"></i>
										</div>
									</template>
								</app-datepicker>
							</no-ssr>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6">
							<label for="#">Amount</label>
							<div class="icon icon-left">
								<input type="text" class="form-control form-icon w-100" name="amount" v-validate="'required|decimal:3'" v-model="repayment.amount" @keypress="isNumber($event)">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
						</div>
						<div class="form-group col-6">
							<label>Notes</label>
							<input type="text" class="form-control" v-model="repayment.note">
						</div>
					</div>
					<button class="btn btn-success btn-sm" @click="down(1)">Paid in full</button>
				</template>
			</b-card>
		</template>
		<template v-else>
			<div class="d-flex justify-content-between">
				<div class="form-group">
					<label>{{blockChypInvoice ? 'Due Date' : 'Date'}}</label>
					<div class="icon icon-left">
						<no-ssr>
							<app-datepicker mode="single" v-model="repayment.payment_date" :popoverVisibility="'hidden'">
								<template :type='inputState.type' slot-scope='{ inputValue }'>
									<div class="icon icon-right">
										<input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue'
											disabled>
										<i class="far fa-calendar-alt text-primary"></i>
									</div>
								</template>
							</app-datepicker>
						</no-ssr>
					</div>
				</div>
				<div class="balanace-wrapper">
					<div v-if="accountCredit" class="text-right">
						<h5 v-money class="font-weight-600 mb-0" :key="accountCreditBalance">{{accountCreditBalance}}</h5>
						<p class="text-gray small">Your credit balance</p>
					</div>
				</div>
			</div>
			<template v-if="blockChypInvoice">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="#">Email</label>
							<input type="text" class="form-control" v-model="email" v-validate="'required|email'" name="email" :class="{'is-invalid' : errors.has('email')}">
							<span class="text-danger" v-if="errors.has('email')">{{errors.first('email')}}</span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="#">CC</label>
							<input type="text" class="form-control" v-model="cc_email">
						</div>
					</div>
				</div>
			</template>
			<template v-else>
				<div class="form-row">
					<div class="form-group col-6">
						<label for="#">Amount</label>
						<div class="icon icon-left">
							<input type="text" class="form-control form-icon w-100" autocomplete="off" name="amount" v-validate="'required|decimal:3'"
								v-model="repayment.amount" @keypress="isNumber($event)">
							<i class="fas fa-dollar-sign"></i>
						</div>
						<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
					</div>
					<div class="form-group col-6" v-if="credit">
						<label>Approval Code</label>
						<input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('TransactionNumber'), 'form-control':true }" name="TransactionNumber" data-vv-as="transaction number" type="text" v-model="repayment.note">
						<span v-show="errors.has('TransactionNumber')" class="text-danger">{{ errors.first('TransactionNumber') }}</span>
					</div>
					<div class="form-group col-6" v-else-if="check">
						<label>Check Number</label>
						<input v-validate="'required|numeric'" :class="{'input': true, 'is-invalid': errors.has('CheckNumber'), 'form-control':true }" name="CheckNumber" data-vv-as="check number" type="text" v-model="repayment.note">
						<span v-show="errors.has('CheckNumber')" class="text-danger">{{ errors.first('CheckNumber') }}</span>
					</div>
                    <div class="form-group col-6" v-else-if="synchronyFinancing">
						<label>Promo Code</label>
                        <input
                            type="text"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('promoCode')}"
                            name="promoCode"
                            id="promoCode"
                            class="form-control"
                            data-vv-as="promo code"
                            v-model="repayment.note"
                        >
                        <span v-show="errors.has('promoCode')" class="text-danger">
                            {{ errors.first('promoCode') }}
                        </span>
					</div>
					<div class="form-group col-6" v-else>
						<label>Notes</label>
						<input type="text" class="form-control" v-model="repayment.note">
					</div>
				</div>
				<div class="d-flex mb-3">
					<button class="btn btn-success btn-sm" @click="down(1)">Paid in full</button>
				</div>
			</template>
			<div class="form-row" v-if="credit || check">
				<div class="form-group col-6">
					<label for="#">Notes</label>
					<input type="text" class="form-control" v-model="repayment.note2">
				</div>
			</div>
            <template v-else-if="synchronyFinancing">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="#">Authorization Code</label>
                        <input
                            type="text"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('authorizationCode')}"
                            name="authorizationCode"
                            id="authorizationCode"
                            data-vv-as="authorization code"
                            class="form-control"
                            v-model="repayment.note2"
                        >
                        <span v-show="errors.has('authorizationCode')" class="text-danger">
                            {{ errors.first('authorizationCode') }}
                        </span>
                    </div>
                    <div class="form-group col-6">
                        <label for="#">Term Length</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="repayment.term_length"
                        >
                    </div>
                </div>
            </template>
		</template>

	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
	data() {
		return{
			stripeLog : {
				message: '',
				variant: 'info'
			},
			cc_email: null,
			card_number: null,
			connectedReader: null,
			isFetchTerminal: false,
			listReader: [],
			repayment: {
				payment_date: new Date(),
				amount: 0,
				note: null,
				note2: null,
				order_no: null,
                term_length: null,
				payment_method: 'repayment_credit_line: ',
				card_number: null,
				card_brand: null
			},
		}
	},
	props:{
		active:{
			type: Boolean,
			default: false
		},
		credit:{
			type: Boolean,
			default: false
		},
		cash:{
			type: Boolean,
			default: false
		},
		accountCredit:{
			type: Boolean,
			default: false
		},
		check:{
			type: Boolean,
			default: false
		},
		other:{
			type: Boolean,
			default: false
		},
		balance: {
			type: Number,
			required: true
		},
		accountCreditBalance: {
			type: Number,
			default: 0.00
		},
		blockChypCreditCard:{
			type: Boolean,
			default: false
		},
		blockChypPhonePayment:{
			type: Boolean,
			default: false
		},
		blockChypInvoice: {
			type: Boolean,
			default: false
		},
        synchronyFinancing: {
            type: Boolean,
            default: false
        },
		customerEmail: {
			type: String,
			default: ''
		}
	},
	watch: {
		'repayment.amount'(){
			let disabled = ((this.repayment.amount > this.getBalanceDueCreditLine) || this.repayment.amount <= 0)
			this.$emit('disableButton', disabled)
		},
		active(){
			this.active == false ? this.repayment.amount = 0 : ''
		}
	},
	computed: {
		...mapState('order', {
			order: state => state.data
		}),
	},
	methods: {
		...mapActions('order', ['getOrder','postRepaymentCreditLine']),
		...mapActions({
			createPaymentIntent: 'quote/createPaymentIntent',
			getTerminal: 'quote/getTerminal',
			sendStripeInvoice: 'quote/sendStripeInvoice',
		}),
		...mapMutations(['SET_SAVE_LOADING']),
		fetchTerminalBlockchyp(){
			this.isFetchTerminal = true
			this.getTerminal({store_id: this.order.store_id})
			.then(res => {
				if(res.data.length > 0) this.listReader = res.data
				else this.setStripeLog('Terminal not found', 'info')
				this.isFetchTerminal = false
			})
		},
		setStripeLog(message, variant){
			this.stripeLog.message = message
			this.stripeLog.variant = variant
		},
		connectToReader(selectedReader){
			this.connectedReader = selectedReader
		},
		down(percent) {
			this.repayment.amount = (this.balance * percent).toFixed(2)
		},
		submit() {
			if(this.blockChypInvoice){
				this.sendBlockchypInvoice()
				return
			}
			if(this.blockChypCreditCard || this.blockChypPhonePayment){
				this.SET_SAVE_LOADING(true)
				this.submitBlockChyp()
				return
			}
			this.$validator.validate().then((result) => {
				if (result) {
					this.SET_SAVE_LOADING(true)
					this.submitRepayment()
				}
			})
		},
		sendBlockchypInvoice(){
			this.$validator.validateAll().then(result => {
				if(result){
					this.SET_SAVE_LOADING(true)
					this.sendStripeInvoice({
						id: this.$route.params.id,
						email: this.email,
						cc: this.cc_email,
						due_date: this.moment(this.repayment.payment_date).format('L'),
						type: 'credit-line'
					})
					.then(async() => {
						await this.getOrder(this.$route.params.id)
						this.SET_SAVE_LOADING(false)
						this.$emit('closeModal', false)
						window.scrollTo(0, 0);
					})
				}
			})
		},
		submitRepayment(){
			let payment_method = ''
			if(this.credit) payment_method = 'credit_card'
			else if(this.check) payment_method = 'check'
			else if(this.other) payment_method = 'other'
			else if(this.accountCredit) payment_method = 'account_credit'
			else if(this.cash) payment_method = 'cash'
			else if(this.blockChypCreditCard) payment_method = 'blockchyp_credit_card'
            else if(this.synchronyFinancing) payment_method = 'synchrony_payment'
			else payment_method = 'phone_payment'
			this.repayment.payment_method += payment_method
			this.postRepaymentCreditLine({...this.repayment, payment_date : this.moment(this.repayment.payment_date).format('Y-MM-DD') })
			.then( () => {
				this.getOrder(this.$route.params.id)
				this.$emit('closeModal', false)
				this.$emit('pay', payment_method)
				this.SET_SAVE_LOADING(false)
			})
		},
		submitBlockChyp(){
			this.setStripeLog('Capturing payment...', 'info')
			this.createPaymentIntent({
				amount: this.repayment.amount,
				store_id: this.order.store_id,
				note: this.repayment.note,
				payment_date: this.moment(this.repayment.payment_date).format('Y-MM-DD'),
				terminal_name: this.connectedReader.terminal_name,
				quote_no: this.$route.params.id,
				type: this.blockChypCreditCard ? 'terminal' : 'card',
				payment_type: 'order'
			})
			.then(response => {
				if(!response.data.approved){
					this.setStripeLog(response.data.responseDescription, 'danger')
					this.SET_SAVE_LOADING(false)
				}else{
					let last4 = response.data.maskedPan.split('*')
					this.repayment.note2 = response.data.transactionId
					this.repayment.card_number = last4[last4.length - 1]
					this.repayment.card_brand = response.data.paymentType
					this.submitRepayment()
				}
			})
		},
		reset() {
			this.email = null
			this.cc_email = null
			this.repayment = {
				payment_date: new Date(),
				amount: 0,
				note: null,
				note2: null,
				order_no: null,
				payment_method: 'repayment_credit_line: '
			}
		},
	},
	created(){
		this.$emit('disableButton', true)
		this.repayment.order_no = this.$route.params.id
	},
	mounted(){
		if(this.blockChypInvoice){
			this.$emit('disableButton', false)
			this.email = this.customerEmail
		}
		if(this.blockChypCreditCard || this.blockChypPhonePayment){
			this.fetchTerminalBlockchyp()
		}
	},
	destroyed() {
		this.reset()
	}
}
</script>

<style>

</style>

