<template>
	<div>
		<b-alert show variant="danger" v-if="(creditLine || accountCredit) && Number(balance) > Number(customerCreditBalance)">
			<p class="mb-0" v-if="creditLine">The amount you filled exceeds the credit balance limit, please repayment credit line first to unlock other payment methods!</p>
			<p class="mb-0" v-else>The amount you filled exceeds the credit balance limit!</p>
		</b-alert>
		<template v-if="blockChypCreditCard || blockChypPhonePayment">
			<b-alert :variant="stripeLog.variant" :show="stripeLog.message.length > 0">
				<i class="fas fa-info-circle mr-1"></i>
				<span>{{stripeLog.message}}</span>
			</b-alert>
			<div class="d-flex align-items-center justify-content-center py-4" v-if="isFetchTerminal">
				<b-spinner variant="primary"></b-spinner>
			</div>
			<b-card v-if="listReader.length > 0">
				<div class="d-flex align-items-center flex-wrap">
					<button class="btn btn-outline-primary btn-sm px-4 mr-2 mb-3" :class="{'active' : reader == connectedReader}" v-for="(reader, index) in listReader" :key="index" @click="connectToReader(reader)">{{reader.terminal_name}}</button>
				</div>
				<template v-if="connectedReader">
					<div class="row">
						<div class="form-group col-6">
							<label for="#">Date</label>
							<no-ssr>
								<app-datepicker mode="single" v-model="payment_date" :popoverVisibility="'hidden'">
									<template :type='inputState.type' slot-scope='{ inputValue }'>
										<div class="icon icon-right">
											<input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' disabled>
											<i class="far fa-calendar-alt text-primary"></i>
										</div>
									</template>
								</app-datepicker>
							</no-ssr>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6">
							<label for="#">Amount</label>
							<div class="icon icon-left">
								<input type="text" class="form-control form-icon w-100" autocomplete="off" name="amount" disabled v-validate="'required|decimal:3'" v-model="balance" @keypress="isNumber($event)">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
						</div>
						<div class="form-group col-6">
							<label>Notes</label>
							<input type="text" class="form-control" v-model="note">
						</div>
					</div>
				</template>
			</b-card>
		</template>
		<template v-else>
			<div class="d-flex justify-content-between">
				<div class="form-group">
					<label>{{blockChypInvoice ? 'Due Date' : 'Date'}}</label>
					<div class="icon icon-left">
						<no-ssr>
							<app-datepicker mode="single" v-model="payment_date" :popoverVisibility="'hidden'">
								<template :type='inputState.type' slot-scope='{ inputValue }'>
									<div class="icon icon-right">
										<input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue'
											disabled>
										<i class="far fa-calendar-alt text-primary"></i>
									</div>
								</template>
							</app-datepicker>
						</no-ssr>
					</div>
				</div>
				<div class="balanace-wrapper" v-if="creditLine || accountCredit">
					<div class="text-right">
						<h5 v-money class="font-weight-600 mb-0" :key="customerCreditBalance">{{customerCreditBalance}}</h5>
						<p class="text-gray small">Your credit balance</p>
					</div>
				</div>
			</div>
			<template v-if="blockChypInvoice">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="#">Email</label>
							<input type="text" class="form-control" v-model="email" v-validate="'required|email'" name="email" :class="{'is-invalid' : errors.has('email')}">
							<span class="text-danger" v-if="errors.has('email')">{{errors.first('email')}}</span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="#">CC</label>
							<input type="text" class="form-control" v-model="cc_email">
						</div>
					</div>
				</div>
			</template>
			<template v-else>
				<div class="form-row">
					<div class="form-group col-6">
						<label for="#">Amount</label>
						<div class="icon icon-left">
							<input type="text" class="form-control form-icon w-100" name="amount" disabled v-validate="'required|decimal:3'"
								v-model="balance" @keypress="isNumber($event)">
							<i class="fas fa-dollar-sign"></i>
						</div>
						<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
					</div>
					<div class="form-group col-6" v-if="credit">
						<label>Approval Code</label>
						<input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('TransactionNumber'), 'form-control':true }" name="TransactionNumber" data-vv-as="transaction number" type="text" v-model="note">
						<span v-show="errors.has('TransactionNumber')" class="text-danger">{{ errors.first('TransactionNumber') }}</span>
					</div>
					<div class="form-group col-6" v-else-if="check">
						<label>Check Number</label>
						<input v-validate="'required|numeric'" :class="{'input': true, 'is-invalid': errors.has('CheckNumber'), 'form-control':true }" name="CheckNumber" data-vv-as="check number" type="text" v-model="note">
						<span v-show="errors.has('CheckNumber')" class="text-danger">{{ errors.first('CheckNumber') }}</span>
					</div>
                    <div class="form-group col-6" v-else-if="synchronyFinancing">
						<label>Promo Code</label>
                        <input
                            type="text"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('promoCode')}"
                            name="promoCode"
                            id="promoCode"
                            class="form-control"
                            data-vv-as="promo code"
                            v-model="note"
                        >
                        <span v-show="errors.has('promoCode')" class="text-danger">
                            {{ errors.first('promoCode') }}
                        </span>
                    </div>
					<div class="form-group col-6" v-else-if="!creditLine">
						<label>Notes</label>
						<input type="text" class="form-control" v-model="note">
					</div>
				</div>
				<div class="form-row" v-if="credit || check">
					<div class="form-group col-6">
						<label for="#">Notes</label>
						<input type="text" class="form-control" v-model="note2">
					</div>
				</div>
                <template v-else-if="synchronyFinancing">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="#">Authorization Code</label>
                        <input
                            type="text"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('authorizationCode')}"
                            name="authorizationCode"
                            id="authorizationCode"
                            data-vv-as="authorization code"
                            class="form-control"
                            v-model="note2"
                        >
                        <span v-show="errors.has('authorizationCode')" class="text-danger">
                            {{ errors.first('authorizationCode') }}
                        </span>
                    </div>
                    <div class="form-group col-6">
                        <label for="#">Term Length</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="term_length"
                        >
                    </div>
                </div>
            </template>
			</template>
		</template>
	</div>
</template>

<script>

	import { mapState, mapMutations, mapActions } from 'vuex'



	export default {
		data() {
			return{
				stripeLog : {
					message: '',
					variant: 'info'
				},
				listReader: [],
				connectedReader: null,
				isFetchTerminal: false,
				payment_date: new Date(),
				amount: 0,
				note: null,
				note2: null,
				order_no: null,
				creditLineError: false,
				email: null,
				cc_email: null,
				card_number: null,
				card_brand: null,
                term_length: null
			}
		},
		props:{
			active:{
				type: Boolean,
				default: false
			},
			credit:{
				type: Boolean,
				default: false
			},
			check:{
				type: Boolean,
				default: false
			},
			other:{
				type: Boolean,
				default: false
			},
			balance: {
				type: Number,
				required: true
			},
			creditLine: {
				type: Boolean,
				default: false
			},
			accountCredit: {
				type: Boolean,
				default: false
			},
			customerData: {
				type: Object
			},
			blockChypInvoice:{
				type: Boolean,
				default: false
			},
			blockChypCreditCard:{
				type: Boolean,
				default: false
			},
			blockChypPhonePayment:{
				type: Boolean,
				default: false
			},
            synchronyFinancing: {
                type: Boolean,
                default: false,
            },
			customerEmail: {
				type: String
			},
		},
		computed: {
			customerCreditBalance(){
				if(this.creditLine){
					return Math.abs(Number(this.customerData.customer_credit.credit_limit) - Math.abs(this.customerData.customer_credit_used))
				}else if(Number(this.customerData.account_credit) != 0){
					return Math.abs(Number(this.customerData.account_credit) - Math.abs(this.customerData.customer_credit_used))
				}else{
					return 0
				}
			},
			...mapState('order', {
                subOrder(state) {
                    return {
                        data: state.subOrder,
                        detailData : state.subOrder.detail_order,
                    }
                }
            }),
		},
		watch: {
			amount(){
				if(this.accountCredit || this.creditLine){
					if(Number(this.balance) > Number(this.customerCreditBalance)){
						this.$emit('disableApply', true)
					}else{
						this.$emit('disableApply', false)
					}
				}
			}
		},
		methods: {
			...mapActions('order', ['getOrder', 'getSubOrder','payInstallWarranty', 'changeStatusSubOrder']),
			...mapActions('quote', ['sendStripeInvoice']),
			...mapMutations(['SET_SAVE_LOADING']),
			connectToReader(selectedReader){
				this.connectedReader = selectedReader
			},
			...mapActions({
				createPaymentIntent: 'quote/createPaymentIntent',
				getTerminal: 'quote/getTerminal',
			}),
			fetchTerminalBlockchyp(){
				this.isFetchTerminal = true
				this.getTerminal({store_id: this.subOrder.data.order.store_id})
				.then(res => {
					if(res.data.length > 0) this.listReader = res.data
					else this.setStripeLog('Terminal not found', 'info')
					this.isFetchTerminal = false
				})
			},
			setStripeLog(message, variant){
				this.stripeLog.message = message
				this.stripeLog.variant = variant
			},
			submit() {
				if(this.blockChypInvoice){
					this.sendBlockchypInvoice()
				}else if(this.blockChypCreditCard || this.blockChypPhonePayment){
					this.SET_SAVE_LOADING(true)
					this.submitBlockChyp()
				}else{
					this.$validator.validate().then((result) => {
						if (result) {
							this.SET_SAVE_LOADING(true)
							this.submitPayInstallWarranty()
						}
					})
				}
			},
			submitPayInstallWarranty(){
				let payment_method =  (this.credit ? 'credit_card' : (this.check ? 'check' : (this.other ? 'other' : this.accountCredit ? 'account_credit':'cash')))
				this.payInstallWarranty({
					amount : this.balance,
					payment_date : this.payment_date,
					payment_method: this.synchronyFinancing ? 'synchrony_payment' : this.blockChypCreditCard ? 'blockchyp_credit_card' : this.blockChypPhonePayment ? 'phone_payment' : this.creditLine ? 'credit_line' : payment_method,
					note : this.note,
					note2 : this.note2,
                    term_length: this.term_length,
					order_no : this.$route.params.id,
					card_number : this.card_number,
					card_brand: this.card_brand
				})
				.then( () => {
					this.changeStatusSubOrder(this.$route.params.id).then(() =>{
						this.getSubOrder(this.$route.params.id)
						this.getOrder(this.$route.params.id)
						this.$emit('closeModal', false)
						this.$emit('pay', this.blockChypCreditCard ? 'blockchyp_credit_card' : this.blockChypPhonePayment ? 'phone_payment' : this.creditLine ? 'credit_line' : payment_method)
						this.SET_SAVE_LOADING(false)
					})
				})
			},
			submitBlockChyp(){
				this.setStripeLog('Capturing payment...', 'info')
				this.createPaymentIntent({
					amount: this.balance,
					store_id: this.subOrder.data.order.store_id,
					note: this.note,
					payment_date: this.moment(this.payment_date).format('Y-MM-DD'),
					terminal_name: this.connectedReader.terminal_name,
					quote_no: this.$route.params.id,
					type: this.blockChypCreditCard ? 'terminal' : 'card',
					payment_type: 'order'
				})
				.then(response => {
					if(!response.data.approved){
						this.setStripeLog(response.data.responseDescription, 'danger')
						this.SET_SAVE_LOADING(false)
					}else{
						let last4 = response.data.maskedPan.split('*')
						this.note2 = response.data.transactionId
						this.card_number = last4[last4.length - 1]
						this.card_brand = response.data.paymentType
						this.submitPayInstallWarranty()
					}
				})
			},
			sendBlockchypInvoice(){
				this.$validator.validateAll().then(result => {
					if(result){
						this.SET_SAVE_LOADING(true)
						this.sendStripeInvoice({
							id: this.$route.params.id,
							email: this.email,
							cc: this.cc_email,
							due_date: this.moment(this.payment_date).format('L'),
							type: 'order'
						})
						.then(() => {
							this.SET_SAVE_LOADING(false)
							this.$emit('closeModal', false)
							this.getSubOrder(this.$route.params.id)
						})
					}
				})
			},
			reset() {
				this.payment_date= new Date(new Date().toLocaleString("en-US", {timeZone: "America/Chicago"}))
				this.amount= 0
				this.note= null
				this.note2= null
				this.order_no= null
			},
		},
		components:{

		},
		created(){
			this.order_no = this.$route.params.id
		},
		mounted(){
			if(this.accountCredit || this.creditLine){
				if( Number(this.balance) > Number(this.customerCreditBalance)){
					this.$emit('disableApply', true)
				}else{
					this.$emit('disableApply', false)
				}
			}else{
				this.$emit('disableApply', false)
			}
			if(this.blockChypInvoice){
				this.email = this.customerEmail
			}
			if(this.blockChypCreditCard || this.blockChypPhonePayment){
				this.fetchTerminalBlockchyp()
			}
		},
		destroyed() {
			this.reset()
			// this.SET_SAVE_LOADING(false)
		}
	}
</script>

<style>

</style>

