<template>
    <div class="form-quotes">
        <div class="d-flex align-items-center mb-3" :class="quote.user ? 'justify-content-between' : 'justify-content-end'">
            <div class="flex-row" v-if="quote.user">
                <b-tabs class="tab-no-border">
                    <b-tab title="Quote" :active="$route.name == 'online-quotes-id'"></b-tab>
                    <b-tab title="Changelog" @click="gotoChangelog"></b-tab>
                </b-tabs>
            </div>
            <button class="btn btn-success mr-3" @click="assignSales">Assign Sales Person</button>
        </div>

        <app-modal title="Assign Sales Person" centered :show="showModal" @hide="showModal = false">
            <div class="form-group">
                <label for="">Sales Person</label>
                <app-select
                v-model="selectedSales"
                :show-labels="false"
                trackBy="user_id"
                label="fullname"
                :options="sales_person" />
                <p class="text-danger" v-if="errors_sales.sales_person">{{ errors_sales.sales_person[0] }}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" id="tax_exempted" v-model="tax_exempted">
                <label for="tax_exempted"> Tax Exempted</label>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" :disabled="selectedSales == null || isAssignSales" @click="submitSalesPerson">
                        <span class="mx-3" v-if="isAssignSales">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Assign</span>
                    </button>
                    <!-- <div class="btn btn-danger" @click="showModal = false">No</div> -->
                </div>
            </div>
        </app-modal>

        <div :class="'card p-4'">
            <div class="row">
                <div class="col-6">
                    <div class="expiration-date__wrapper">
                        <h2 class="font-weight-600 mb-2">Quotes Confirmation</h2>
                    </div>
                    <div class="d-flex flex-row align-items-center mt-3 mb-4">
                        <div class="form-inline mb-0">
                            <label class="font-weight-bold mr-3">Sales Person : {{ quote.user ? quote.user.fullname:'-' }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-5">
                            <h5 class="text-lg-right">Phone : {{ quote.store.store_phone_number }}</h5>
                        </div>
                        <div class="col-7">
                            <!-- <h5 class="text-lg-right">Slymanbros (O'fallon, MO)</h5> -->
                            <!-- <h5 class="text-lg-right">52 Crossroads Plaza</h5>
                            <h5 class="text-lg-right">O'fallon, Mo 63368</h5> -->
                            <h5 class="text-lg-right">{{quoteAddress[0]}}</h5>
                            <h5 class="text-lg-right">{{quoteAddress[1]}}</h5>
                            <h5 class="text-lg-right">{{quoteAddress[2]}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card mb-3" :class="{'outline--blue': $route.name =='online-quotes-id'}">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex justify-content-between">
                                    <h4 class="font-weight-600 mb-0">Billing Information</h4>
                                    <!-- <a href="#" @click.prevent="changeBillingAddress" v-if="customer.selected != null && customerTab.edit == false"><i class="fas fa-edit"></i> Edit</a> -->
                                    <!-- <a href="#" @click="isEditBilling" v-if="editBilling == false"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="#" @click="editBilling = false" v-else><i class="fas fa-times"></i> Cancel edit</a> -->
                                </div>
                                <hr>
                                <div>
                                    <app-address-format 
                                        :is_company="quote.company_name != ''"
                                        :company="quote.company_name"
                                        :builders_code="quote.builders_code"
                                        :name="quote.customer_name"
                                        :address="quote.address"
                                        :phone_number="quote.phone_number"
                                        ></app-address-format>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-between">
                                    <h4 class="font-weight-600 mb-0">Delivery Information</h4>
                                    <!-- <a href="#" @click="isEditDelivery" v-if="editDelivery == false"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="#" @click="editDelivery = false" v-else><i class="fas fa-times"></i> Cancel edit</a> -->
                                </div>
                                <hr>
                                <div>
                                    <app-address-format 
                                        :is_company="quote.company_name != ''"
                                        :company="quote.company_name"
                                        :builders_code="quote.builders_code"
                                        :name="quote.customer_name"
                                        :address="quote.address"
                                        :phone_number="quote.phone_number"
                                        ></app-address-format>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <app-table :items="detail_quote" :fields="fields" show-empty>
                        <template slot="product" slot-scope="data">
                            <input type="text" class="form-control mb-1 uppercase" v-model="detail_quote[data.index].product_id" :disabled="true">
                        </template>
                        <template slot="description" slot-scope="data">
                            {{ data.item.product.short_description }}
                        </template>
                        <template slot="price" slot-scope="data">
                            <price-input :value="detail_quote[data.index].price" v-model="detail_quote[data.index].price" disabled></price-input>
                            <!-- <price-input :value="0" v-model="price" :key="data.row.index" disabled></price-input> -->
                        </template>
                        <template slot="qty" slot-scope="data">
                            <input type="text" min="1" :class="{'form-control': true, 'is-invalid': detail_quote[data.index].quantity  == 0}" v-model="detail_quote[data.index].quantity" disabled>
                        </template>
                        <template slot="total" slot-scope="data">
                            <!-- <span v-money :key="data.index">{{ data.item.product.msrp_price * data.item.quantity }}</span> -->
                            <span v-money :key="data.index">{{ price * data.item.quantity }}</span>
                        </template>
                    </app-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FormatAddress from '@/components/utilities/Address.vue'
import { mapState, mapMutations, mapActions } from 'vuex'
import PrettyCheck from 'pretty-checkbox-vue/check';
import Select from 'vue-multiselect'
import Tab from '@/components/utilities/Tab.vue'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Modal from '@/components/utilities/Modal'
import PriceInput from '@/components/utilities/PriceInput.vue'
import TableInstall from '@/components/table/Install.vue'
import ModalHaulAway from '@/components/modal/HaulAway.vue'
export default {
    created() {
        if (this.quote) {
            let address = this.quote.store.store_address.split(',')
            let temp = this.quote.store.store_name.slice(0, -1)
            let temp2 = address[2].split(' ')
            let store_name = temp +', ' + temp2[1]+')'
            this.quoteAddress = [store_name,address[0], address[1]+','+address[2]]
            this.detail_quote.forEach(element => {
                element.price = 0
            });
        }
    },
    data() {
        return {
            quoteAddress: '',
            isAssignSales: false,
            showModal: false,
            fields: [
                {
                    key: 'product',
                    label: 'Product',
                    thStyle: {
                        width: '250px'
                    },
                },
                {
                    key: 'description',
                    label: 'Description',
                    thStyle: {
                        width: '300px'
                    }
                },
                {
                    key: 'price',
                    label: 'Price',
                    thStyle: {
                        width: '250px'
                    }
                },
                {
                    key: 'qty',
                    label: 'Qty',
                    thStyle: {
                        width: '100px'
                    }
                },
                {
                    key: 'total',
                    label: 'Total',
                    thStyle: {
                        width: '100px'
                    }
                },
            ],
            // selectedQuote: '',
            selectedSales: null,
            tax_exempted: false,
            price: 0
        }
    },
    computed: {
        ...mapState('quoteRequest', {
            quote: state => state.quote,
            detail_quote: state => state.detail_quote,
            errors_sales: state => state.errors
        }),
        ...mapState('salesPerson', {
            sales_person: state => state.items
        })
    },
    methods: {
        ...mapActions('salesPerson', ['getSalesPersons']),
        ...mapActions('quoteRequest', ['assignSalesPerson', 'getRequestQuote']),
        ...mapActions('changelog', ['postChangelog','postOnlineChangelog']),
        submitChangelog(item){
            return new Promise((resolve, reject) =>{
                this.postChangelog({
                    order_no : this.$route.params.id,
                    user_id : this.quote.user ? this.quote.user.user_id : this.$auth.state.user.user_id,
                    type: 0,
                    note : item.note  
                }).then(() =>{
                    resolve()
                })
            })
        },
        gotoChangelog(){
            this.$router.push({ name : 'online-quotes-changelog-id' , params: {'id' : this.$route.params.id}})
        },
        assignSales() {
            this.getSalesPersons().then(() => {
                this.showModal = true
            })
        },
        submitSalesPerson() {
            this.isAssignSales = true
            this.assignSalesPerson({
                id: this.$route.params.id,
                sales_person: this.selectedSales.user_id,
                tax_exempted: this.tax_exempted
            }).then((response) => {
                if(this.quote.user){
                    this.submitChangelog({
                        note : `Change sales person to <span class="text-primary">${this.selectedSales.fullname}</span>`
                    }).then(() =>{
                        this.showModal = false
                        this.isAssignSales = false
                        this.selectedSales = null
                        this.getRequestQuote(this.$route.params.id)
                    })
                }else{
                    this.submitChangelog({
                        note : `Online quote <span class="text-primary text-uppercase">${response.data.quote_no}</span> created`
                    }).then(() =>{
                        this.submitChangelog({
                            note : `<span class="text-primary">${this.$auth.state.user.fullname}</span> assign quote <span class="text-primary">${response.data.quote_no}</span> to <span class="text-primary">${this.selectedSales.fullname}</span>`
                        }).then(() =>{
                            this.submitChangelog({
                                note : `Online quote <span class="text-primary">${response.data.quote_no}</span> emailed to <span class="text-primary">${this.selectedSales.email}</span>`
                            }).then(() =>{
                                this.postOnlineChangelog({
                                    id: this.$route.params.id,
                                    quote_no: response.data.quote_no
                                }).then(() =>{
                                    this.showModal = false
                                    this.isAssignSales = false
                                    this.selectedSales = null
                                    this.$router.push({ name: 'online-quotes-index-not-assigned' })
                                })
                            })
                        })
                    })
                }
            })
        }
    },
    components: {
        'app-table': Table,
        'app-select': Select,
        'app-tab': Tab,
        'app-modal': Modal,
        'app-haul-away':ModalHaulAway,
        'price-input': PriceInput,
        'p-check': PrettyCheck,
        'app-address-format': FormatAddress,
        TableInstall
    },
}
</script>