<template>
	<div>
		<b-alert show variant="primary" v-if="this.customer_change && this.allowed && !creditLine && type != 'blockchyp_credit_card'"><p class="mb-0">Customer change : <span v-money>{{this.customer_change}}</span></p></b-alert>
		<b-alert show variant="danger" v-if="!this.allowed"><p class="mb-0"><span>Please input amount less than or equal than balance due</span></p></b-alert>
		<b-alert show variant="warning" v-if="credit && mode != 'Return'"><p class="mb-0">Warning, please avoid running credit cards over $10,000. Recommend financing or check payments instead.</p></b-alert>
		<b-alert show variant="danger" v-if="creditLineError"><p class="mb-0">The amount you filled exceeds the credit balance limit!</p></b-alert>
		<b-alert show variant="warning" v-if="warning_return_package && mode == 'Return'"><p class="mb-0">This amount is excluded from the product price because of package pricing</p></b-alert>
		<template v-if="type == 'blockchyp_credit_card' || type == 'phone_payment'">
			<b-alert :variant="stripeLog.variant" :show="stripeLog.message.length > 0">
				<i class="fas fa-info-circle mr-1"></i>
				<span>{{stripeLog.message}}</span>
			</b-alert>
			<div class="d-flex align-items-center justify-content-center py-4" v-if="isFetchTerminal">
				<b-spinner variant="primary"></b-spinner>
			</div>
			<b-card v-if="listReader.length > 0">
				<div class="d-flex align-items-center flex-wrap">
					<button class="btn btn-outline-primary btn-sm px-4 mr-2 mb-3" :class="{'active' : reader == connectedReader}" v-for="(reader, index) in listReader" :key="index" @click="connectToReader(reader)">{{reader.terminal_name}}</button>
				</div>
				<template v-if="connectedReader">
					<div class="row">
						<div class="form-group col-6">
							<label>Date</label>
							<div class="icon icon-left">
								<no-ssr>
									<app-datepicker mode="single" v-model="date" is-required>
										<template :type='inputState.type' slot-scope='{ inputValue }'>
											<div class="icon icon-right">
												<input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue'
													readonly>
												<i class="far fa-calendar-alt text-primary"></i>
											</div>
										</template>
									</app-datepicker>
								</no-ssr>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6">
							<label for="#">Amount</label>
							<div class="icon icon-left">
								<input type="text" class="form-control form-icon w-100" name="amount" v-validate="'required|decimal:3'"
									v-model="amount" @keypress="isNumber($event)" :readonly="mode == 'addProductToOrder' || creditLine">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
						</div>
						<div class="col-md-6">
							<label for="note">Note</label>
							<input type="text" class="form-control" id="note" v-model="note">
						</div>
					</div>
					<div class="d-flex mt-3">
						<button class="btn btn-success btn-sm mr-2" @click="down(0.5)" v-if="!creditLine">50% Down</button>
						<button class="btn btn-success btn-sm" @click="down(1)" v-if="!creditLine">Paid in full</button>
					</div>
				</template>
			</b-card>
		</template>
		<template v-else>
			<div class="d-flex justify-content-between">
				<div class="form-group">
					<label>Date</label>
					<div class="icon icon-left">
						<no-ssr>
							<app-datepicker mode="single" v-model="date" is-required>
								<template :type='inputState.type' slot-scope='{ inputValue }'>
									<div class="icon icon-right">
										<input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue'
											readonly>
										<i class="far fa-calendar-alt text-primary"></i>
									</div>
								</template>
							</app-datepicker>
						</no-ssr>
					</div>
				</div>
				<div class="balanace-wrapper" v-if="mode !== 'Return'">
					<div v-if="creditLine || accountCredit" class="text-right">
						<h5 v-money class="font-weight-600 mb-0" :key="creditLimitBalance">{{creditLimitBalance}}</h5>
						<p class="text-gray small">Your credit balance</p>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-6">
					<label for="#">Amount</label>
					<div class="icon icon-left">
						<input type="text" class="form-control form-icon w-100" autocomplete="off" name="amount" v-validate="'required|decimal:3'"
							v-model="amount" @keypress="isNumber($event)" :readonly="mode == 'addProductToOrder' || creditLine">
						<i class="fas fa-dollar-sign"></i>
					</div>
					<span v-show="errors.has('amount')" class="text-danger">{{ errors.first('amount') }}</span>
				</div>
				<div class="form-group col-6" v-if="credit && !creditLine && mode != 'Return'">
					<label>Approval Code</label>
					<input v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('TransactionNumber'), 'form-control':true }" name="TransactionNumber" data-vv-as="transaction number" type="text" v-model="note">
					<span v-show="errors.has('TransactionNumber')" class="text-danger">{{ errors.first('TransactionNumber') }}</span>
				</div>
				<div class="form-group col-6" v-else-if="check">
					<label>Check Number</label>
					<input v-validate="'required|numeric'" :class="{'input': true, 'is-invalid': errors.has('CheckNumber'), 'form-control':true }" name="CheckNumber" data-vv-as="check number" type="text" v-model="note">
					<span v-show="errors.has('CheckNumber')" class="text-danger">{{ errors.first('CheckNumber') }}</span>
				</div>
                <div class="form-group col-6" v-else-if="type === 'synchrony_payment'">
                    <label>Promo Code</label>
					<input
                        type="text"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('promoCode')}"
                        name="promoCode"
                        id="promoCode"
                        class="form-control"
                        data-vv-as="promo code"
                        v-model="note"
                    >
                    <span v-show="errors.has('promoCode')" class="text-danger">
                        {{ errors.first('promoCode') }}
                    </span>
                </div>
				<div class="form-group col-6" v-else-if="!creditLine && mode != 'Return'">
					<label>Notes</label>
					<input type="text" class="form-control" v-model="note">
				</div>
			</div>
			<div class="d-flex mb-3" v-if="mode == 'Order' && !refund">
				<button class="btn btn-success btn-sm mr-2" @click="down(0.5)" v-if="!creditLine">50% Down</button>
				<button class="btn btn-success btn-sm" @click="down(1)" v-if="!creditLine">Paid in full</button>
			</div>
		</template>
		<div class="form-row" v-if="other">
			<div class="form-group col-6">
				<label for="#">Other Method Description</label>
				<input type="text" class="form-control" v-validate="'required'" name="description" :class="{'is-invalid': errors.has('description')}" v-model="note2">
				<span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
			</div>
		</div>
		<div class="form-row" v-if="credit || check">
			<div class="form-group col-6">
				<label for="#">Notes</label>
				<input type="text" class="form-control" v-model="note2">
			</div>
		</div>
        <template v-else-if="type === 'synchrony_payment'">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="#">Authorization Code</label>
                    <input
                        type="text"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('authorizationCode')}"
                        name="authorizationCode"
                        id="authorizationCode"
                        data-vv-as="authorization code"
                        class="form-control"
                        v-model="note2"
                    >
                    <span v-show="errors.has('authorizationCode')" class="text-danger">
                        {{ errors.first('authorizationCode') }}
                    </span>
                </div>
                <div class="form-group col-6">
                    <label for="#">Term Length</label>
                    <input
                        type="text"
                        class="form-control"
                        v-model="termLength"
                    >
                </div>
            </div>
        </template>
	</div>
</template>

<script>
	import { mapMutations, mapActions, mapState } from 'vuex'
	export default {
		created() {
			if (this.mode == "addProductToOrder") {
				this.amount = parseFloat(this.balance).toFixed(2)
			} else if (this.mode == 'Return') {
				this.amount = this.return_total

				if (this.returnCreditLine && this.amount > this.remain_credit_line) {
					this.$emit('disabled', true)
				}
			}
			if(this.creditLine){
				this.amount = this.balance
            }
            if(this.edit_payment && this.type == this.change_payment.payment_method){
                this.amount = this.change_payment.amount
                this.note = this.change_payment.note
                this.note2 = this.change_payment.note2
                this.date = new Date(new Date(this.change_payment.payment_date).toLocaleString())
            }
		},
		data() {
			return{
                termLength: null,
				isFetchTerminal: false,
				date: new Date(new Date().toLocaleString("en-US", {timeZone: "America/Chicago"})),
				name: null,
				address_zip: null,
				amount: null,
				note: null,
				note2: null,
				customer_change:null,
				creditLineError: false,
				isPercent : null,
				terminal: null,
				isFetchReader: false,
				listReader: [],
				stripeLog : {
					message: '',
					variant: 'info'
				},
				isConnectReader: false,
				connectedReader: null,
				isLoadStripeElement: false,
				stripe: null,
				cardType: '',
				cardData: {
					cardNumber: null,
					cvc:null,
					expiry: null
				},
				error: {
					cardNumber: {
						is_error : false,
						message: ''
					},
					expiry: {
						is_error : false,
						message: ''
					}
				},
				card: null
			}
		},
		props:{
			credit:{
				type: Boolean,
				default: false
			},
			creditLine:{
				type: Boolean,
				default: false
			},
			accountCredit:{
				type: Boolean,
				default: false
			},
			returnAccountCredit:{
				type: Boolean,
				default: false
			},
			returnCreditLine: {
				type: Boolean,
				default: false
			},
			check:{
				type: Boolean,
				default: false
			},
			other:{
				type: Boolean,
				default: false
			},
			refund: {
				type: Boolean,
				default: false
			},
			balance: {
				type: Number,
				required: true
			},
			mode: {
				type: String,
				default: 'Order'
			},
			accountCreditBalance: {
				type: Number,
				default: 0.00
			},
			customerData:{
				type: Object
			},
			creditUsed:{
				type: Number
			},
			return_total: {
				type: Number,
				default: 0.00
			},
			remain_credit_line: {
				type: Number,
				default: 0.00
			},
			edit_payment:{
				type: Boolean,
				default: false
            },
            change_payment:{
                type: Object,
                defalut: {}
            },
            type:{
                type: String,
                default: null
            },
			warning_return_package: {
				type : Boolean,
				default: false
			},
			isReturnPartial: {
				type: Boolean,
				default: false
			}
		},
		computed: {
			customerChange() {
				return this.amount > this.balance ? this.balance - this.amount:0.00
			},
			allowed() {
				let amountString = parseFloat(this.amount).toFixed(2).toString()
				let balanceString = parseFloat(this.balance).toFixed(2).toString()

				let balance = amountString.length == balanceString.length ? this.balance.toFixed(2):this.balance
				if ((this.credit || this.check || this.other) && this.amount > balance && this.mode != 'Return') {
					return false
				}
				return true
			},
			creditLimitBalance(){
				if (this.accountCredit) {
					return Math.abs(this.accountCreditBalance)
				}
				return Math.abs(Number(this.customerData.credit_limit) - Math.abs(this.creditUsed))
			},
			...mapState('order', {
				recordPaymentData(state){
					return state.recordPayment.data
				}
			}),
			...mapState('quote', {
				quote: state => state.quote
			}),
            paymentMethods(){
                if(this.refund) return 'refund'
                if(this.credit) return 'credit_card'
                if(this.check) return 'check'
                if(this.other) return 'other'
                if(this.creditLine) return 'credit_line'
                if(this.accountCredit) return 'account_credit'
                if(this.cash) return 'cash'
            }
		},
		watch:{
			amount(){
				if(this.mode === 'Return' && !this.isReturnPartial){
					if(this.amount > this.return_total) this.amount = this.return_total
				}
				else if(!this.isReturnPartial){
					if(this.amount > this.balance) this.amount = this.balance
				}

				this.$emit('disabled', false)
				if((this.creditLine || this.accountCredit) && this.mode !== 'Return'){
					if(this.amount > Number(this.creditLimitBalance) ){
						this.creditLineError = true
						this.$emit('disabled', true)
					} else{
						this.creditLineError = false
						this.$emit('disabled', false)
					}
				}

				this.returnCreditDisabledButton()
			},
		},
		mounted(){
			if(this.type == 'blockchyp_credit_card' || this.type == 'phone_payment'){
				this.fetchTerminalBlockchyp()
			}
		},
		methods: {
			...mapMutations('order', [
				'SET_ORDER_RECORD_PAYMENT_DATA',
				'SET_ORDER_RECORD_PAYMENT_ERRORS'
			]),
			...mapMutations([
				'SET_LOADING_PAYMENT',
				'SET_SAVE_LOADING'
			]),
			...mapActions({
				createPaymentIntent: 'quote/createPaymentIntent',
				getTerminal: 'quote/getTerminal',
			}),
			connectToReader(selectedReader){
				this.connectedReader = selectedReader
			},
			setStripeLog(message, variant){
				this.stripeLog.message = message
				this.stripeLog.variant = variant
			},
			down(percent) {
				this.amount = (this.balance * percent).toFixed(2)
				percent == 0.2 ? this.isPercent = '20%' : this.isPercent = '50%'
				if(percent == 0.2){
					this.isPercent = '20%'
				}else if(percent == 0.5){
					this.isPercent = '50%'
				}else{
					this.isPercent = 'Paid in full'
				}
			},
			submit() {
				this.$validator.validateAll().then((result) => {
					let amount = this.type == 'blockchyp_credit_card' && this.customer_change > 0 ? this.amount - this.customer_change : this.amount
					if (result && this.allowed) {
						this.SET_SAVE_LOADING(true)

						this.SET_ORDER_RECORD_PAYMENT_DATA({
							order_no: this.$route.params.id,
							amount: amount,
							payment_method: this.type ? this.type : this.paymentMethods,
							payment_date: this.moment(this.date).format('Y-MM-DD'),
							note: this.note,
							note2: this.note2,
                            term_length: this.termLength,
							customer_change: this.type == 'blockchyp_credit_card' ? 0 : this.customerChange,
							status: this.customerChange == 0.00 ? false:true
						})
					}
					if(result && (this.type == 'blockchyp_credit_card' || this.type == 'phone_payment')){
						this.setStripeLog('Capturing payment...', 'info')
						this.createPaymentIntent({
							amount: amount,
							store_id: this.quote.store_id,
							note: this.note,
							payment_date: this.moment(this.date).format('Y-MM-DD'),
							terminal_name: this.connectedReader.terminal_name,
							quote_no: this.$route.params.id,
							type: this.type == 'blockchyp_credit_card' ? 'terminal' : 'card'
						})
						.then(response => {
							if(!response.data.approved){
								this.setStripeLog(response.data.responseDescription, 'danger')
								this.SET_SAVE_LOADING(false)
							}else{
								let last4 = response.data.maskedPan.split('*')
								const {note2, ...rest} = this.recordPaymentData
								this.SET_ORDER_RECORD_PAYMENT_DATA({...rest, note2: response.data.transactionId, card_number: last4[last4.length - 1], card_brand: response.data.paymentType})
								this.$emit('pay', {payment_method : this.type == 'blockchyp_credit_card' ? 'blockchyp_credit_card' : 'phone_payment', percentage : this.isPercent})
								this.$emit('payment', result === this.allowed)
							}
						})
					}else{
						this.$emit('pay', {payment_method : this.type == 'blockchyp_credit_card' ? 'blockchyp_credit_card' : this.paymentMethods , percentage : this.isPercent})
						this.$emit('payment', result === this.allowed)
					}
				})
			},
			reset() {
				this.date = new Date(new Date().toLocaleString("en-US", {timeZone: "America/Chicago"})),
				this.amount = null
				this.note = null
				this.note2 = null
				this.customer_change = null
				this.creditLineError = false
				this.SET_ORDER_RECORD_PAYMENT_DATA(null)
			},
			returnCreditDisabledButton() {
				if (this.returnCreditLine) {
					if (this.mode == 'Return' && parseFloat(this.amount) > this.remain_credit_line) { // trying to fix return creditline always disabled
						this.$emit('disabled', true)
					}
					 else {
						this.$emit('disabled', false)
					}
				}
			},
			fetchTerminalBlockchyp(){
				this.isFetchTerminal = true
				this.getTerminal({store_id: this.quote.store_id})
				.then(res => {
					if(res.data.length > 0) this.listReader = res.data
					else this.stripeLog('Terminal not found', 'info')
					this.isFetchTerminal = false
				})
			}
		},
		destroyed() {
			if (this.mode != 'Order') {
				this.reset()
			}
			this.SET_SAVE_LOADING(false)
		}
	}
</script>

