<template>
    <div>
        <h3 class="font-weight-600 mb-0">Announcement</h3>
        <div class="d-flex align-items-center justify-content-between mt-4">
            <div class="form-group mb-0">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon" v-model="q" v-width="'250px'" placeholder="Search Announcement">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-announcement-create'}">Add New Announcement</nuxt-link>
        </div>
        <div class="mt-3">
            <app-table :search="q" />
        </div>
    </div>
</template>

<script>
import TableAnnouncement from '@/components/table/Announcement'
export default {
    async asyncData({store}){
        await Promise.all([
            store.dispatch('announcement/getAnnouncements', {perpage : 10, q: ''})
        ])
    },
    components : {
        'app-table' : TableAnnouncement
    },
    data() {
        return {
            q: ''
        }
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

<style>

</style>