<template>
    <app-modal-view-quotes/>
</template>

<script>
    import ModalQuotes from '@/components/modal/ViewQuotes.vue'

    export default {
        async fetch({ store, route, app }) {
            await Promise.all([
                store.dispatch('quote/getQuote', route.params.id)
                .then((response) => {
                    store.commit('customer/SET_CUSTOMER_SELECTED', response.customer)
                    store.commit('salesPerson/SET_SALES_PERSON_SELECTED', response.sales_person)
                }),
                store.dispatch('customer/getCustomers'),
                store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
                store.dispatch('store/getStores', 'all')
            ])
            store.commit('install/SET_INSTALL_FIELDS', [
                {
                    key: 'install_name',
                    label: 'Name'
                },
                {
                    key: 'description',
                    label: 'Description'
                },
                {
                    key: 'install_price',
                    label: 'Price'
                }
            ])
            return
        },
        components: {
            'app-modal-view-quotes': ModalQuotes
        },
        transition: 'slide',
    }
</script>