<template>
    <div ref="bottomPage">
        <div class="d-flex align-items-center mt-3">
            <div class="d-flex flex-row">
                <div class="form-group d-flex align-items-center mb-0 mr-3">
                    <button class="btn btn-primary mr-3" @click="prevDate">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <div class="icon icon-left">
                        <no-ssr>
                            <app-datepicker
                                mode="single"
                                v-model="singleDate"
                                @input="handleInputDate"
                            >
                                <template
                                    :type="inputState.type"
                                    slot-scope="{ inputValue }"
                                >
                                    <div class="icon icon-right">
                                        <input
                                            type="text"
                                            placeholder="11/20/2018"
                                            id="date"
                                            class="form-control form-icon"
                                            :value="inputValue"
                                            readonly
                                            v-width="'220px'"
                                        />
                                        <i
                                            class="
                                                far
                                                fa-calendar-alt
                                                text-primary
                                            "
                                        ></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                    <button class="btn btn-primary ml-3" @click="nextDate">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <button
                    class="btn btn-outline-primary"
                    v-if="savedRoute"
                    @click="
                        $router.push({
                            name: 'deliveries-index-routing',
                            params: {
                                from_deliveries: true,
                                delivery_date: singleDate,
                                delivery_method: delivery_method,
                            },
                        })
                    "
                >
                    Load Route
                </button>
            </div>
            <div class="d-flex gap flex-row ml-auto">
                <button
                    class="btn btn-outline-primary"
                    @click="previewPdf"
                    :disabled="items_schedule_delivery.data.length == 0 || loadingPdf"
                >
                    <span class="mx-2" v-if="loadingPdf">
                        <b-spinner small variant="primary" />
                    </span>
                    <template v-if="!loadingPdf">
                        Print PDF
                    </template>
                </button>
                <button
                    class="btn btn-outline-primary"
                    @click="gotoPreview"
                    :disabled="items_schedule_delivery.data.length == 0"
                >
                    Preview CSV
                </button>
                <button class="btn btn-primary" @click.prevent="resetFilter">
                    Reset Filter
                </button>
            </div>
        </div>
        <div class="d-flex align-items-xl-center flex-column flex-xl-row mt-3">
            <div class="d-flex flex-row mb-3 mb-xl-0">
                <div class="form-group mb-0 mr-3">
                    <no-ssr>
                        <app-select
                            v-width="'250px'"
                            placeholder="Select Delivery Method"
                            label="delivery_method_name"
                            track-by="delivery_method_id"
                            v-model="delivery_method"
                            :options="deliveries"
                            :preserve-search="true"
                            :select-label="'Select'"
                            :preselect-first="false"
                            :allow-empty="false"
                            :show-labels="false"
                            @input="filterDeliveryMethod"
                        >
                        </app-select>
                    </no-ssr>
                </div>
                <div class="form-group mb-0 mr-3">
                    <no-ssr>
                        <app-select
                            v-model="sales_selected"
                            v-width="'230px'"
                            placeholder="Sales Person"
                            label="fullname"
                            track-by="user_id"
                            :options="sales_person"
                            :show-labels="false"
                            :preserve-search="true"
                            :preselect-first="false"
                            :allow-empty="false"
                            @input="fillterSales"
                        >
                        </app-select>
                    </no-ssr>
                </div>
                <div class="form-group mb-0">
                    <no-ssr>
                        <app-select
                            v-model="store_selected"
                            v-width="'250px'"
                            placeholder="Location"
                            label="store_name"
                            track-by="store_id"
                            :show-labels="false"
                            :options="stores"
                            :preserve-search="true"
                            :preselect-first="false"
                            :allow-empty="false"
                            @input="fillterStore"
                        >
                        </app-select>
                    </no-ssr>
                </div>
                <div class="d-flex flex-row mr-xl-4">
                    <div class="form-group mb-0 ml-3">
                        <input
                            type="text"
                            class="form-control"
                            v-model="search"
                            placeholder="Search..."
                            @input="asyncFind"
                        />
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <h6 class="font-weight-bold mb-0 mr-3">
                    Total Stops :
                    <span
                        ><b-spinner
                            variant="primary"
                            small
                            v-if="deliveryCountLoading"
                        ></b-spinner>
                        <span v-else>{{
                            deliveryCountData.total_order
                        }}</span></span
                    >
                </h6>
                <h6 class="font-weight-bold mb-0">
                    Total Pieces :
                    <span
                        ><b-spinner
                            variant="primary"
                            small
                            v-if="deliveryCountLoading"
                        ></b-spinner>
                        <span v-else>{{
                            deliveryCountData.total_pieces
                        }}</span></span
                    >
                </h6>
            </div>
        </div>
        <div class="border rounded p-3 my-3">
            <div
                class="
                    d-flex
                    align-items-start
                    justify-content-between
                    mb-3
                    cursor-pointer
                "
                v-b-toggle.collapse-1
            >
                <h5 class="mb-0">Total Appliances</h5>
                <i class="fas fa-sort-down fa-lg text-gray"></i>
            </div>
            <b-collapse id="collapse-1">
                <div class="row">
                    <div class="col-md-3">
                        <b-spinner
                            variant="primary"
                            small
                            class="mt-2"
                            v-if="deliveryContentLoading"
                        ></b-spinner>
                        <ul class="pl-3 mb-0" v-else>
                            <li
                                v-for="(item, indexContent) in deliveryContent"
                                :key="'content-' + indexContent"
                            >
                                {{ item.total + " " + item.name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </b-collapse>
        </div>
        <div class="mt-3">
            <admin-table-delivery
                ref="deliveryTable"
                :start="date.start"
                :end="date.end"
                :delivery_method_id="
                    delivery_method_id ? delivery_method_id : ''
                "
                :sales="sales"
                :location="location"
                :search="search"
                @set-perpage="setPerpage"
            />
        </div>
    </div>
</template>

<script>
import AdminTableDelivery from "@/components/admin/table/Delivery.vue";
import UnscannedItems from "@/components/UnscannedItems";
import { mapActions, mapState, mapMutations } from "vuex";
import Select from "vue-multiselect";
import debounce from "lodash/debounce";
export default {
    async asyncData({ store, params }) {
        await Promise.all([
            store.dispatch("deliveryMethod/getDeliveryMethods",  {type : "all"}),
            store.dispatch("store/getStores", "all"),
            store.dispatch("store/getManagers"),
        ]);
    },
    beforeRouteEnter(to, from, next) {
        next((_this) => {
            if (from.name) {
                if (
                    from.name.includes("my-orders") ||
                    from.name === "deliveries-scan-out-index-scan"
                )
                    _this.isFromOrder = true;
                else _this.isFromOrder = false;
            } else {
                _this.isFromOrder = false;
            }
        });
    },
    beforeRouteLeave(to, from, next) {
        if (to.name) {
            if (
                !to.name.includes("my-orders-delivery") &&
                to.name != "deliveries-scan-out-index-scan"
            ) {
                localStorage.removeItem("deliveries-filter");
            }
        }
        next();
    },
    destroyed() {
        this.isFromOrder = false;
        this.SET_UNSCANNED_ITEMS(null);
    },
    data() {
        return {
            isFromOrder: false,
            loadingPdf: false,
            savedFilter: {
                singleDate: new Date(),
                delivery_method: null,
                sales_selected: null,
                store_selected: null,
                search: null,
            },
            deliveryCountLoading: false,
            deliveryCountData: {
                total_order: null,
                total_pieces: null,
            },
            date: {
                start: new Date(),
                end: new Date(),
            },
            deliveryContentLoading: false,
            truck: "",
            trucks: [],
            truck_selected: "",
            delivery_method_id: null,
            delivery_method: null,
            search: null,
            action: false,
            perpage: 50,
            store_selected: "",
            sales_selected: null,
            sales: null,
            location: null,
            singleDate: new Date(),
        };
    },
    created() {
        this.singleDate =
            this.$route.params.date != undefined
                ? new Date(this.$route.params.date)
                : new Date();
        if (this.$route.params.delivery_method != undefined) {
            let indexDelivery = this.deliveries.findIndex((o) => {
                return (
                    o.delivery_method_id == this.$route.params.delivery_method
                );
            });
            if (indexDelivery != -1) {
                this.delivery_method = this.deliveries[indexDelivery];
                this.delivery_method_id = this.delivery_method
                    ? this.delivery_method.delivery_method_id
                    : null;
            }
        }
        this.CLEAR_SAVED_ROUTE();
    },
    async mounted() {
        this.fillFilter();
        await Promise.all([
            this.fetchDeliveryContent(),
            this.fetchDeliveryCount(),
            this.generateScheduleDelivery(),
            this.getUnscanItem({
                delivery_date: this.moment(this.singleDate).format("L"),
            }),
        ]);
    },
    computed: {
        ...mapState("orderSchedule", {
            page: (state) => state.page,
            fileUrl: (state) => state.fileUrl,
            items_schedule_delivery: (state) => state.items_schedule_delivery,
        }),
        ...mapState("deliveryMethod", {
            deliveries: (state) => state.items,
        }),
        ...mapState("store", {
            stores: (state) => state.items,
            sales_person: (state) => state.sales_person,
        }),
        ...mapState("delivery", {
            deliveryContent: (state) => state.deliveryContent,
            savedRoute: (state) => state.savedRoute,
        }),
    },
    watch: {
        isFromOrder() {
            this.fillFilter();
        },
    },
    methods: {
        ...mapMutations("orderSchedule", ["SET_SCHEDULE_DELIVERY_PAGE"]),
        ...mapMutations(["SET_LOADING_TABLE"]),
        ...mapMutations("delivery", [
            "CLEAR_SAVED_ROUTE",
            "SET_UNSCANNED_ITEMS",
        ]),
        ...mapActions("truck", ["getTrucks"]),
        ...mapActions("orderSchedule", [
            "getScheduleDeliveryFeed",
            "getCSV",
            "getCSVAlt",
            "downloadCSV",
            "getCsvPreview",
        ]),
        ...mapActions("delivery", [
            "getDeliveryContent",
            "getDeliveryCount",
            "loadDeliveryRoute",
            "getUnscanItem",
            "getScheduleDeliveryPDF",
        ]),
        async filterDeliveries() {
            await Promise.all([
                this.fetchDeliveryContent(),
                this.fetchDeliveryCount(),
                this.generateScheduleDelivery(),
            ])
        },
        previewPdf() {
            this.loadingPdf = true;

            this.getScheduleDeliveryPDF({
                start: this.moment(this.singleDate).format("Y-MM-DD"),
                end: this.moment(this.singleDate).format("Y-MM-DD"),
                user_id: this.$auth.$state.user.user_id,
                user_name: this.$auth.$state.user.fullname,
                delivery_method: this.delivery_method
                    ? this.delivery_method.delivery_method_id
                    : null,
            }).then((response) => {
                this.loadingPdf = false;
                window.open(`${response.data}`);
            });
        },
        fillFilter() {
            let dataFilter = JSON.parse(
                localStorage.getItem("deliveries-filter")
            );
            if (this.isFromOrder) {
                if (dataFilter) {
                    this.singleDate = new Date(dataFilter.singleDate);
                    this.delivery_method = dataFilter.delivery_method;
                    this.sales_selected = dataFilter.sales_selected;
                    this.store_selected = dataFilter.store_selected;
                    this.search = dataFilter.search;
                    this.delivery_method_id = this.delivery_method
                        ? this.delivery_method.delivery_method_id
                        : null;
                    this.sales = this.sales_selected
                        ? this.sales_selected.user_id
                        : null;
                    this.location = this.store_selected
                        ? this.store_selected.store_id
                        : null;
                }
            } else {
                localStorage.removeItem("deliveries-filter");
            }
        },
        prevDate() {
            this.singleDate = new Date(
                this.singleDate.setDate(this.singleDate.getDate() - 1)
            );
            this.handleInputDate();
        },
        nextDate() {
            this.singleDate = new Date(
                this.singleDate.setDate(this.singleDate.getDate() + 1)
            );
            this.handleInputDate();
        },
        handleInputDate: debounce(function () {
            this.saveFilter();
            this.fetchDeliveryCount();
            this.generateScheduleDelivery();
            this.getUnscanItem({
                delivery_date: this.moment(this.singleDate).format("L"),
            });
            this.fetchLoadedRoute();
        }, 800),
        saveFilter() {
            this.savedFilter.singleDate = this.moment(this.singleDate).format(
                "L"
            );
            localStorage.setItem(
                "deliveries-filter",
                JSON.stringify(this.savedFilter)
            );
        },
        fetchLoadedRoute() {
            this.loadDeliveryRoute({
                delivery_date: this.moment(this.singleDate).format("L"),
                delivery_method: this.delivery_method
                    ? this.delivery_method.delivery_method_id
                    : null,
            });
        },
        async fetchDeliveryContent() {
            this.deliveryContentLoading = true;
            await this.getDeliveryContent({
                start: this.moment(this.date.start).format("L"),
                end: this.moment(this.date.end).format("L"),
                delivery_method: this.delivery_method
                    ? this.delivery_method.delivery_method_id
                    : null,
                perpage: this.perpage,
                location: this.location,
                sales: this.sales,
                q: this.search,
            }).then(() => {
                this.deliveryContentLoading = false;
            });
        },
        async fetchDeliveryCount() {
            this.deliveryCountLoading = true;
            await this.getDeliveryCount({
                start: this.moment(this.singleDate).format("L"),
                end: this.moment(this.singleDate).format("L"),
                delivery_method: this.delivery_method
                    ? this.delivery_method.delivery_method_id
                    : null,
                perpage: this.perpage,
                location: this.location,
                sales: this.sales,
                q: this.search,
            }).then((response) => {
                this.deliveryCountData = response;
                this.deliveryCountLoading = false;
            });
        },
        gotoPreview() {
            localStorage.setItem(
                "params",
                JSON.stringify({
                    date: {
                        start: this.moment(this.singleDate).format("Y-M-D"),
                        end: this.moment(this.singleDate).format("Y-M-D"),
                    },
                    location: this.store_selected ? this.store_selected : null,
                    sales: this.sales_selected ? this.sales_selected : null,
                    delivery_method: this.delivery_method
                        ? this.delivery_method
                        : null,
                    q: this.search,
                })
            );
            this.$router.push({
                name: "deliveries-preview",
            });
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow =
                    Math.max(
                        window.pageYOffset,
                        document.documentElement.scrollTop,
                        document.body.scrollTop
                    ) +
                        window.innerHeight ===
                    document.documentElement.offsetHeight;
                if (bottomOfWindow) {
                    this.$refs.deliveryTable.is_scroll = true;
                    this.SET_SCHEDULE_DELIVERY_PAGE(this.page + 1);
                }
            };
        },
        generateScheduleDelivery() {
            this.$refs.deliveryTable.isLoading = true;
            this.page == 1
                ? this.getScheduleDeliveryFeed({
                    date: {
                        start: this.moment(this.singleDate).format("Y-M-D"),
                        end: this.moment(this.singleDate).format("Y-M-D"),
                    },
                    delivery_method: this.delivery_method_id,
                    perpage: this.perpage,
                    location: this.location,
                    sales: this.sales,
                    q: this.search,
                }).then(() => {
                        this.$refs.deliveryTable.isLoading = false
                })
                : this.SET_SCHEDULE_DELIVERY_PAGE(1);
        },
        setPerpage(val) {
            this.perpage = val;
            this.generateScheduleDelivery();
        },
        resetFilter() {
            this.date = {
                start: new Date(),
                end: new Date(),
            };
            this.singleDate = new Date();
            this.delivery_method = null;
            this.delivery_method_id = null;
            this.sales = null;
            this.location = null;
            this.sales_selected = null;
            this.store_selected = null;
            this.search = null;
            localStorage.removeItem("deliveries-filter");
        },
        filterDeliveryMethod() {
            this.delivery_method_id = this.delivery_method.delivery_method_id;
            this.savedFilter.delivery_method = this.delivery_method;
            this.saveFilter();
            this.filterDeliveries();
            this.fetchLoadedRoute();
        },
        fillterSales() {
            console.log(1);
            this.savedFilter.sales_selected = this.sales_selected;
            this.sales = this.sales_selected.user_id;
            this.saveFilter();
            this.filterDeliveries();
        },
        fillterStore() {
            this.savedFilter.store_selected = this.store_selected;
            this.location = this.store_selected.store_id;
            this.saveFilter();
            this.filterDeliveries();
        },
        showAction() {
            this.action = true;
        },
        asyncFind: debounce(function (val) {
            this.savedFilter.search = this.search;
            this.saveFilter();
            this.filterDeliveries();
        }, 800),
        getCsv() {
            this.getCSV({
                start: this.moment(this.singleDate).format("Y-MM-DD"),
                end: this.moment(this.singleDate).format("Y-MM-DD"),
                delivery_method: this.delivery_method_id,
                location: this.location ? this.location : null,
                sales: this.sales ? this.sales : null,
                q: this.search,
                user_id: this.$auth.$state.user.user_id,
                user_name: this.$auth.$state.user.fullname,
                sales_person_name: this.sales_selected
                    ? this.sales_selected.fullname
                    : null,
                delivery_method_name: this.delivery_method
                    ? this.delivery_method.delivery_method_name
                    : null,
                location_name: this.store_selected
                    ? this.store_selected.format_store_name
                    : null,
            }).then((res) => {
                this.downloadCSV({
                    url: this.fileUrl,
                    start: this.moment(this.singleDate).format("Y-MM-DD"),
                    end: this.moment(this.singleDate).format("Y-MM-DD"),
                });
            });
        },
        getCsvAlt() {
            this.getCSVAlt({
                start: this.moment(this.singleDate).format("Y-MM-DD"),
                end: this.moment(this.singleDate).format("Y-MM-DD"),
                delivery_method: this.delivery_method_id,
                location: this.location ? this.location : null,
                sales: this.sales ? this.sales : null,
                q: this.search,
            }).then((res) => {
                this.downloadCSV({
                    url: this.fileUrl,
                    start: this.moment(this.singleDate).format("Y-MM-DD"),
                    end: this.moment(this.singleDate).format("Y-MM-DD"),
                });
            });
        },
    },
    components: {
        "admin-table-delivery": AdminTableDelivery,
        "app-select": Select,
        UnscannedItems,
    },
    transition: "slide",
    layout: "admin",
};
</script>
<style scoped>
select.form-control {
    height: calc(1.96875rem + 9px);
}
.gap {
    gap: 1rem;
}
</style>
