<template>
    <div>
        <h4 class="font-weight-bold mb-4">Company Directory</h4>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <h5 class="font-weight-bold">Locations</h5>
        </div>
        <div class="mt-3">
            <app-table-location @row-clicked="showAction"/>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <h5 class="font-weight-bold">Employees</h5>
            <div class="d-flex flex-row">
                <a href="javascript:void(0)" @click="exportCSV" class="btn btn-primary btn-sm mr-2">Export</a>
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-employee @row-clicked="showAction" :search="search" ref="table"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import TableLocation from '@/components/table/Location.vue'
    import TableEmployee from '@/components/table/Employee.vue'
    // import ActionLocation from '@/components/action/Location.vue'

    export default {
        async asyncData({ store }) {
            await store.dispatch('location/getLocations')
            await store.dispatch('employee/getEmployees', {status: 'active'})
            return
        },
        created() {
            this.SET_LOCATION_FIELDS([
                {
                    key: 'name',
                    label: 'Name'
                },
                {
                    key: 'address',
                    label: 'Address'
                },
                {
                    key: 'phoneNumber',
                    label: 'Phone Number'
                },
                {
                    key: 'faxNumber',
                    label: 'Fax Number'
                },
                {
                    key: 'manager',
                    label: 'Manager'
                },
                {
                    key: 'code',
                    label: 'Location Code'
                }
            ])
            this.SET_EMPLOYEE_FIELDS([
                {
                    key: 'first_name',
                    label: 'First Name'
                },
                {
                    key: 'last_name',
                    label: 'Last Name'
                },
                {
                    key: 'job_title',
                    label: 'Job Title'
                },
                {
                    key: 'email',
                    label: 'Email'
                },
                {
                    key: 'phone_number',
                    label: 'Mobile Number'
                },
                {
                    key: 'default_store',
                    label: 'Location'
                },
                {
                    key: 'extension_number',
                    label: 'Direct Line'
                },
            ])
            // this.getLocations()
        },
        destroyed() {
            this.SET_LOCATION_FIELDS_DEFAULT()
            this.SET_LOCATION_FIELDS_DEFAULT()
            this.SET_EMPLOYEE_PAGE(1)
            this.SET_LOCATION_PAGE(1)
        //     this.SET_LOCATION_SELECTED(null)
        },
        data() {
            return {
                search: ''
            }
        },
        computed: {
            ...mapState('employee', {
                employee: state => {
                    return {
                        page: state.page
                    }
                }
            })
            // ...mapState('location', {
            //     location(state) {
            //         return {
            //             selected: state.selected
            //         }
            //     }
            // })
        },
        methods: {
            ...mapMutations('location', [
                'SET_LOCATION_SELECTED',
                'SET_LOCATION_FIELDS',
                'SET_LOCATION_FIELDS_DEFAULT',
                'SET_LOCATION_PAGE'
            ]),
            ...mapActions('location', [
                'getLocations'
            ]),
            ...mapMutations('employee', [
                'SET_EMPLOYEE_SELECTED',
                'SET_EMPLOYEE_FIELDS',
                'SET_EMPLOYEE_PAGE',
                'SET_EMPLOYEE_FIELDS_DEFAULT'
            ]),
            ...mapActions('employee', [
                'getEmployees',
                'getEmployeeCSV'
            ]),
            ...mapActions('orderSchedule', ['downloadCSV']),
            exportCSV() {
                this.getEmployeeCSV().then((res) => {
                    this.downloadCSV({
                        url: res.data,
                        start: this.moment(new Date()).format('Y-MM-DD'),
                        end: this.moment(new Date()).format('Y-MM-DD'),
                        type: 'company'
                    })
                })
            },
            showAction(item) {
                // this.action = true
                // window.location.href = item.links
                // this.$router.push({
                //     name: 'edit-discount',
                //     params: {
                //         'id': item.id
                //     }
                // })
            }
        },
        watch: {
            search: {
                immediate: true,
                handler(newValue, oldValue) {
                        if(this.employee.page == 1){
                            if (typeof oldValue != 'undefined') {
                                this.getEmployees({
                                    search: this.search
                                })
                            }
                        } else {
                            this.SET_EMPLOYEE_PAGE(1)
                        }
                }
            }
        },
        components: {
            'app-table-location': TableLocation,
            'app-table-employee': TableEmployee,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>