<template>
    <div>
        <app-table :items="account_receivable.items" :busy="loadingTable" :fields="account_receivable.fields"
         show-empty foot-clone hover @row-clicked="goToOrder">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="balance_due" slot-scope="row">
                <p v-money class="mb-0" :key="row.item.balance_due">{{ row.item.balance_due }}</p>
            </template>
            <template slot="firstMonth" slot-scope="row">
                <p v-money class="mb-0"  :key="row.item.firstMonth">{{ row.item.firstMonth }}</p>
            </template>
            <template slot="secondMonth" slot-scope="row">
                <p v-money class="mb-0" :key="row.item.secondMonth">{{ row.item.secondMonth }}</p>
            </template>
            <template slot="thirdMonth" slot-scope="row">
                <p v-money class="mb-0" :key="row.item.thirdMonth">{{ row.item.thirdMonth }}</p>
            </template>
            <template slot="moreMonths" slot-scope="row">
                <p v-money class="mb-0" :key="row.item.moreMonths">{{ row.item.moreMonths }}</p>
            </template>
            <template slot="total" slot-scope="row">
                <p v-money class="mb-0" :key="row.item.total">{{ row.item.total }}</p>
            </template>
            <template slot="status" slot-scope="row">
                <p class="mb-0" :key="row.item.status"><b-badge pill :variant="row.item.status == 'Paid' ? 'success' : 'danger'" >{{row.item.status}}</b-badge></p>
            </template>

            <!-- FOOTER -->
            <template slot="FOOT_customer_name" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_sales_person" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_store" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_invoice" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_status" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_invoice_date" slot-scope="row"><div :key="row.label">Total</div></template>
            <template slot="FOOT_balance_due" slot-scope="row"><div :key="account_receivable.meta.total_balance_due" v-money >{{account_receivable.meta.total_balance_due}}</div></template>
            <template slot="FOOT_firstMonth" slot-scope="row">
                <div v-money :key="account_receivable.meta.total_firstMonth">{{account_receivable.meta.total_firstMonth}}</div>
            </template>
            <template slot="FOOT_secondMonth" slot-scope="row">
                <div :key="account_receivable.meta.total_secondMonth" v-money>{{account_receivable.meta.total_secondMonth}}</div>
            </template>
            <template slot="FOOT_thirdMonth" slot-scope="row">
                <div :key="account_receivable.meta.total_thirdMonth" v-money>{{account_receivable.meta.total_thirdMonth}}</div>
            </template>
            <template slot="FOOT_moreMonths" slot-scope="row">
                <div :key="account_receivable.meta.total_moreMonths" v-money>{{account_receivable.meta.total_moreMonths}}</div>
            </template>
             <template slot="FOOT_total" slot-scope="row">
                <div :key="account_receivable.meta.total_amount" v-money>{{account_receivable.meta.total_amount}}</div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="account_receivable.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="account_receivable.meta.total" v-model="account_receivable.meta.current_page" :per-page="account_receivable.meta.per_page" @change="setPage" v-if="account_receivable.items && account_receivable.meta.last_page > 1"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'

    export default {
        destroyed() {
            
        },
        computed: {
            ...mapState('accountReceivables', {
                account_receivable: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                }
            }),
            ...mapState(['loadingTable'])
        },
        methods: {
            ...mapMutations('accountReceivables', [
                'SET_ACCOUNT_PAGE',
                'SET_ACCOUNT_PERPAGE'
            ]),
            goToOrder(item){
                if(item.type == 'order'){
                    localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                    this.$router.push({ name: 'my-orders-edit-id', params: {'id' : item.invoice}})
                } else {
                    localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
                    this.$router.push({ name: 'my-quotes-edit-id', params: {'id' : item.invoice}})
                }
            },
            setPage(value) {
                this.SET_ACCOUNT_PAGE(value)
                this.$parent.getReport()
            },
            setPerPage(value){
                this.SET_ACCOUNT_PAGE(1)
                this.SET_ACCOUNT_PERPAGE(value)
                this.$parent.getReport()
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total': TotalRecord
        }
    }
</script>

<style>

</style>
