<template>
    <div>
        <app-table :fields="announcement.fields" :items="announcement.items" :busy="loadingTable" hover @row-clicked="setSelected" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="picture" slot-scope="row">
                <a href="javascript:void(0)" v-if="row.item.picture" @click="showLightbox(row.item)">
                    <img :src="row.item.picture" alt="picture-announcement" width="150" class="rounded">
                </a>
                <span v-else>-</span>
            </template>
            <template slot="start_date" slot-scope="row">
                <div>{{moment(row.item.start_date).format('MM/DD/YYYY')}}</div>
            </template>
            <template slot="end_date" slot-scope="row">
                <div>{{moment(row.item.end_date).format('MM/DD/YYYY')}}</div>
            </template>
            <template slot="announcement" slot-scope="row">
                <div>{{row.item.announcement | truncate(150)}}</div>
            </template>
            <template slot="status" slot-scope="row">
                <div class="badge badge-danger" v-if="row.item.type == 1">Alert</div>
                <div class="badge badge-info" v-else>Information</div>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center" v-if="announcement.meta != undefined">
            <app-total :data="announcement.meta" @itemPerPage="setPerPage"/>
            <app-pagination  align="right" :total-rows="announcement.meta.total" v-model="announcement.meta.current_page" :per-page="announcement.meta.per_page" @change="setPage" v-if="announcement.items && announcement.meta.last_page > 1"></app-pagination>
        </div>
        <Lightbox v-model="lightbox" :image="pictureSelected" @close="hideLightbox" @prev="prev" @next="next"/>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import TotalRecord from '@/components/utilities/TotalRecord'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Lightbox from '@/components/utilities/Lightbox'
import _ from 'lodash'
import {mapState, mapMutations, mapActions} from 'vuex'
export default {
    data(){
        return{
            perpage:10,
            pictureSelected: null,
            lightbox: false,
        }
    },
    props:{
        search: {
            type: String,
        }
    },
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord,
        Lightbox
    },
    computed: {
        ...mapState('announcement', {
            announcement : state =>{
                return {
                    fields : state.fields,
                    items : state.items,
                    meta : state.meta
                }
            },
            page : state => state.page
        }),
        ...mapState(['loadingTable'])
    },
    watch:{
        page(){
            this.getResponse()
        },
        search: _.debounce(function(){
            this.getResponse()
        }, 800)
    },
    methods:{
        ...mapMutations('announcement', ['SET_ANNOUNCEMENT_PAGE']),
        setPerPage(value){
            this.perpage = value
            this.getResponse()
        },
        setPage(val){
            this.SET_ANNOUNCEMENT_PAGE(val)
        },
        getResponse(){
            this.$store.dispatch('announcement/getAnnouncements', {perpage : this.perpage, q: this.search})
        },
        setSelected(item){
            this.$router.push({name: 'settings-announcement-edit-id', params: {'id' : item.id}})
        },
        showLightbox(row){
            this.lightbox = true
            this.pictureSelected = row.picture
        },
        hideLightbox(){
            this.lightbox = false
            this.rowSelected = null
        },
    }
}
</script>
