<template>
    <div>
        <app-table :items="data.data" :fields="fields" :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="name" slot-scope="row">
                <p class="mb-0">{{ row.item.first_name + ' ' + row.item.last_name }}</p>
            </template>
            <template slot="schedule" slot-scope="row">
                <!-- <p class="mb-0">{{ row.item.schedule_date + ' ' + row.item.schedule_time }}</p> -->
                <p class="mb-0">{{ row.item.formatted_time }}</p>
            </template>
            <template slot="showroom" slot-scope="row">
                <p class="mb-0">{{ row.item.store.store_name }}</p>
            </template>
            <template slot="type_of_project" slot-scope="row">
                <p class="mb-0">{{ row.item.type }}</p>
            </template>
            <template slot="budget" slot-scope="row">
                <p class="mb-0" v-money>{{ row.item.budget }}</p>
            </template>
            <template slot="sales_person" slot-scope="row">
                <div class="d-flex align-items-center" v-if="row.item.sales_person != null">
                    <p class="mb-0">{{row.item.sales_person.fullname}}</p>
                    <a href="javascript:void(0)" class="text-primary ml-auto" @click="showModalSalesPerson(row.item.id)"><i class="fas fa-edit"></i></a>
                </div>
                <button class="btn btn-primary btn-sm" @click="showModalSalesPerson(row.item.id)" v-else>Assign sales person</button>
                <!-- <p class="mb-0">{{ row.item.sales_person ? row.item.sales_person.fullname:'-' }}</p> -->
            </template>
            <template slot="brand_name" slot-scope="row">
                <button class="btn btn-primary btn-sm mr-2" @click="row.toggleDetails">
                {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                </button>
            </template>

            <template slot="row-details" slot-scope="row">
                <b-card class="p-3">
                    <h5 class="font-weight-bold">List Brand Selected</h5>
                    <ul>
                        <li v-for="(brand, index) in row.item.list_brand" :key="index">
                            {{brand}}
                        </li>
                    </ul>
                    <!-- {{row.item.brand_name}} -->
                </b-card>
            </template>
        </app-table>
        <app-modal title="Assign sales person" @hide="hideModalSalesPerson" :show="modalSalesPerson">
            <app-select
                placeholder="Choose sales person"
                track-by="user_id"
                label="fullname"
                :show-labels="false"
                :preselect-first="false"
                :options="salesPerson"
                v-model="salesPersonSelected"
            ></app-select>
            <div slot="modal-footer">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click="setSalesPerson" :disabled="isLoading">
                        <div class="mx-2" v-if="isLoading">
                            <b-spinner class="align-middle" small variant="light"></b-spinner>
                        </div>
                        <span v-else>Save</span>
                    </button>
                    <button class="btn btn-danger" :disabled="isLoading" @click="hideModalSalesPerson">Cancel</button>
                </div>
            </div>
        </app-modal>
        <div class="d-flex justify-content-between align-items-center" v-if="data.meta != undefined">
            <app-total :data="data.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="data.data.length > 0 && data.meta.last_page > 1"  align="right" :total-rows="data.meta.total" :per-page="data.meta.per_page" @change="setPage" v-model="data.meta.current_page"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Modal from '@/components/utilities/Modal'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
 
import Select from 'vue-multiselect'
import moment from 'moment'

 

export default {
    data: function(){
        return{
            fields: [ 'name', 'phone_number', 'email', 'sales_person', 'schedule', 'showroom', 'type_of_project', 'brand_name', 'budget'],
            perpage: 10,
            modalSalesPerson: false,
            salesPersonSelected: null
        }
    },
    computed: {
        ...mapState('appointment', {
            data: state => state.data,
            page: state => state.page
        }),
        ...mapState('salesPerson', {
            salesPerson: state => state.items
        }),
        ...mapState(['loadingTable'])
    },
    props: {
        search: {
            type: String
        }
    },
    watch: {
        page(){
            this.getAppointment({
                search : this.search
            })
        }
    },
    methods: {
        ...mapMutations('appointment', ['SET_PAGE']),
        ...mapActions('appointment', ['assignSalesPerson', 'getAppointment']),
        setSalesPerson(){
            this.isLoading = true
            this.assignSalesPerson({
                id: this.temp_id,
                sales_id: this.salesPersonSelected.user_id
            }).then(() =>{
                this.getAppointment({
                    page: this.page,
                    perpage: 10,
                    search: '',
                    method: this.$route.name == 'online-appointments-index-in-store' ? 'in-store' : 'phone'
                }).then(() =>{
                    this.isLoading = false
                    this.hideModalSalesPerson()
                })
            })
        },
        showModalSalesPerson(id){
            this.temp_id = id
            this.modalSalesPerson = true
        },
        hideModalSalesPerson(){
            this.temp_id = null
            this.salesPersonSelected = null
            this.modalSalesPerson = false
        },
        setPage(val) {
            this.SET_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_PAGE(1)
            this.getAppointment({ search: this.search, method: 'in-store' })
        },
        
    },
    
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-modal': Modal,
        'app-select' : Select
    }
}
</script>
<style scoped>
    
</style>



