<template>
    <div>
        <h3 class="font-weight-600 mb-4">Preview Data</h3>
        <div class="d-flex justify-content-end align-items-center mb-4">
            <div class="form-row d-flex align-items-center" v-if="modelSelected.length > 0">
                <button class="btn btn-outline-danger d-flex align-items-center py-3 px-4" @click="showModalDelete">
                    <i class="fas fa-trash"></i>
                    <p class="mb-0 ml-2">Delete</p>
                </button>
                <button class="btn btn-outline-primary d-flex align-items-center py-3 px-4 ml-3" @click="showModalEdit">
                    <i class="fas fa-pencil-alt"></i>
                    <p class="mb-0 ml-2">Edit info</p>
                </button>
            </div>
            <div class="form-row d-flex align-items-end ml-auto">
                <div class="form-group mr-3 mt-2">
                    <p-check class="p-switch p-fill" @change="setIsUnvalid" color="primary"><span class="font-weight-600 ml-1">Unvalidated Models</span></p-check>
                </div>
                <div class="form-group mb-0 mr-3">
                    <label for="#" class="font-weight-600">Type</label>
                    <app-select
                        v-model="typeAllSelected"
                        placeholder="Set all type"
                        :options="types"
                        label="label" 
                        track-by="id" 
                        :deselect-label="''"
                        :select-label="''"
                        :show-labels="false"
                        v-width="'200px'"
                        @input="setAllType"
                    >
                    </app-select>
                </div>
                <div class="form-group mb-0 mr-3">
                    <label for="#" class="font-weight-600">Estimated availability</label>
                    <p class="my-2" v-if="isAvailable == 1 || isAvailable == null" v-width="'200px'">-</p>
                    <div v-else>
                        <no-ssr>
                            <app-datepicker mode="single" v-model="allEstimatedDate" :min-date="nextDay" :disabled-dates="{weekdays: [1]}" @input="setAllEstimated" v-width="'200px'">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Estimated date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="icon icon-left search__bulk">
                        <input type="text" class="form-control form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Model">
                        <i class="fas fa-search d-flex align-items-center px-3"></i>
                    </div>
                </div>
                <button class="btn px-5 py-3 ml-3" @click="saveInventory" :class="items.length > 0 ? 'btn-primary' : 'btn-secondary'" :disabled="items.length == 0 || isLoadingSubmit">
                    <b-spinner variant="light" class="mx-5" small v-if="isLoadingSubmit" />
                    <span class="d-flex align-items-center" v-else>
                        <i class="fas fa-plus"></i>
                        <p class="mb-0 px-3">Add Inventory</p>
                    </span>
                </button>
            </div>
        </div>
        <p class="mb-3 font-weight-600" v-if="totalPieces > 0">Total Pieces : {{totalPieces}}</p>
        <div class="position-relative">
            <app-table 
                :items="items" 
                :busy="loadingTable" 
                :current-page="currentPage"
                :per-page="perPage"
                :fields="fields" 
                :filter="search"
                @filtered="onFiltered"
                :no-border-collapse="true"
                :head-variant="'light'"
                show-empty
                class="table__bulk-inventory"
                >
                <div slot="table-busy" class="text-center text-blue my-2">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
                <template slot="HEAD_check" slot-scope="data">
                    <div class="text-center ml-3" :key="data.field.label">
                        <b-form-checkbox v-model="checkModel" @input="selectAllItem" />
                    </div>
                </template>
                <template slot="HEAD_new_cost" slot-scope="data">
                    <div :key="data.field.label">
                        New Cost <span class="small">(per unit)</span>
                    </div>
                </template>
                <template slot="check" slot-scope="row">
                    <div class="text-center ml-3">
                        <b-form-checkbox v-model="modelSelected" :value="row.item" />
                    </div>
                </template>
                <template slot="product_detail.category" slot-scope="row">
                    <p class="mb-0" v-if="typeof row.item.product_detail === 'string'">-</p>
                    <p class="mb-0" v-else>{{row.item.product_detail.category}}</p>
                </template>
                <template slot="product_detail.brand" slot-scope="row">
                    <p class="mb-0" v-if="typeof row.item.product_detail === 'string'">-</p>
                    <p class="mb-0" v-else>{{row.item.product_detail.brand}}</p>
                </template>
                <template slot="model" slot-scope="row">
                    <div class="d-flex align-items-center position-relative">
                        <app-select
                        label="product_id" 
                        track-by="product_id"
                        placeholder="Type to edit"
                        :options="productOptions" 
                        :searchable="true"
                        :loading="isLoading" 
                        :preserve-search="true" 
                        :internal-search="false" 
                        :options-limit="300" 
                        :max-height="600" 
                        :show-no-options="false" 
                        :show-labels="false"
                        :show-no-results="false"
                        v-model="row.item.product_selected"
                        @search-change="getProduct($event)"
                        @input="updateProductModel(row.item)"
                        :ref="`searchProduct${row.index}`"
                        @open="fillSelectedValue(row.index, row.item.product_selected)"
                        v-width="'165px'"
                        class="mt-4 search__bulk">
                            <template slot="option" slot-scope="props">
                                <div class="option__desc">
                                    <span class="option__title">
                                        {{ props.option.product_id }}
                                    </span>
                                    <br>
                                    <span class="option__small">{{ props.option.brand }}</span>
                                </div>
                            </template>
                        </app-select>
                        <!-- <input type="text" class="form-control mt-4" v-model="row.item.model" :disabled="true" v-width="'180px'"> -->
                        <div class="d-flex align-items-center mt-4" v-if="!row.item.is_valid">
                            <div class="notvalid__model">
                                <a href="javascript:void(0)" class="text-danger ml-3">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>
                                <div class="notvalid__model--alert text-white bg-danger p-2 small">
                                    Unable to validate. Please double check to make sure this is a valid model number
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" @click="row.toggleDetails" class="text-primary d-flex align-items-center mt-2">
                        <i class="fas fa-lg" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                        <p class="mb-0 ml-2 font-weight-600">Info Detail</p>
                    </a>
                </template>
                <template v-slot:row-details="row">
                    <div class="ml-4 pl-5 mt-n3 mb-2 d-flex align-items-center">
                        <div class="mr-5">
                            <p class="font-weight-600 mb-2">Brand</p>
                            <p class="mb-0 text-gray">{{row.item.product_detail.brand ? row.item.product_detail.brand : '-'}}</p>
                        </div>
                        <div class="mr-5">
                            <p class="font-weight-600 mb-2">Category</p>
                            <p class="mb-0 text-gray">{{row.item.product_detail.category ? row.item.product_detail.category : '-'}}</p>
                        </div>
                        <div>
                            <p class="font-weight-600 mb-2">Product Detail</p>
                            <p class="mb-0 text-gray">{{row.item.product_detail.short_description ? row.item.product_detail.short_description : '-'}}</p>
                        </div>
                    </div>
                </template>
                <template slot="location" slot-scope="row">
                    <app-select
                        class="select-content--expand"
                        v-model="row.item.store"
                        :options="stores"
                        label="store_name" 
                        track-by="store_id" 
                        :deselect-label="''"
                        :select-label="''"
                        :show-labels="false"
                        @input="updateStoreItem(row.item)"
                    >
                    </app-select>
                </template>
                <template slot="type" slot-scope="row">
                    <app-select
                        v-model="row.item.type"
                        :options="types"
                        label="label" 
                        track-by="id" 
                        :deselect-label="''"
                        :preselect-first="true"
                        :select-label="''"
                        :show-labels="false"
                        v-width="'160px'"
                        @input="updatePerItem(row.item)">
                    </app-select>
                </template>
                <template slot="estimated_availability" slot-scope="row">
                    <p class="mb-0" v-if="row.item.type.id == 1" v-width="'155px'">-</p>
                    <div v-else>
                        <no-ssr>
                            <app-datepicker mode="single" :popoverDirection="'top'" v-model="row.item.estimated_availability" :min-date="nextDay" :disabled-dates="{weekdays: [1]}" @input="updatePerItem(row.item)" v-width="'155px'">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Estimated date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </template>
                <template slot="condition" slot-scope="row">
                    <app-select
                        class="select-content--expand"
                        v-model="row.item.condition"
                        :options="conditions"
                        label="name"
                        track-by="id"
                        :show-labels="false"
                        @input="updateConditionItem(row.item)">
                    </app-select>
                </template>
                <template slot="stock" slot-scope="row">
                    <input type="number" min="0" class="form-control pr-1" v-model="row.item.stock" @blur="updateStockItem(row.item)" v-width="'70px'">
                </template>
                <template slot="new_cost" slot-scope="row">
                    <price-input :value="row.item.cost" v-model="row.item.cost" @blur="updateCostItem(row.item)"></price-input>
                </template>
                <template slot="action" slot-scope="row">
                    <a href="javascript:void(0)" class="text-danger">
                        <i class="fas fa-trash-alt" @click="deletePerItem(row.item)"></i>
                    </a>
                </template> 
            </app-table>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="d-flex align-items-center">
                <app-total :data="bulk.meta" :value="perPage" @itemPerPage="setPerPage"/>
                <p class="mb-0 ml-1">of {{totalRows}} items</p>
            </div>
            <app-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                class="mb-0"
            >
            </app-pagination>
        </div>
        <app-modal title="Change the selected data" :hideFooter="true" :show="modalEdit" @hide="hideModalEdit">
            <div class="p-3">
                <div class="form-group">
                    <label for="#" class="font-weight-600">Location</label>
                    <app-select
                        v-model="storeSelected"
                        :options="stores"
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="true"
                        :deselect-label="''"
                        :select-label="''"
                        :show-labels="false"
                    >
                    </app-select>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Condition</label>
                    <app-select
                        v-model="conditionSelected"
                        :options="conditions"
                        :preselect-first="true"
                        track-by="id"
                        label="name"
                        :show-labels="false" />
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Stock</label>
                    <input type="number" min="0" class="form-control" v-model="stockSelected">
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">New Cost <span class="small font-weight-light">(per unit)</span></label>
                    <price-input v-model="priceSelected"></price-input>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-5">
                    <button class="btn btn-outline-danger flex-grow-1" :disabled="loadingSave" @click="hideModalEdit">Cancel</button>
                    <button class="btn btn-primary ml-3 flex-grow-1" :disabled="loadingSave" @click="updateSelectedItem">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="deleteItem">Delete</button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalInvalid" @hide="hideModalInvalid">
            <div class="px-4 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-5 font-weight-normal">This scan contains invalid model number(s). You can correct these now or go back later in inventory to correct these. <br> Are you sure you want to continue?</h5>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" @click="hideModalInvalid" :disabled="isLoadingBypass">Cancel</button>
                    <button class="btn btn-primary w-100 ml-3" @click="bypassInventory" :disabled="isLoadingBypass">
                        <b-spinner variant="light" small v-if="isLoadingBypass" />
                        <span v-else>Bypass and continue</span>
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSuccess" @hide="hideModalSuccess">
            <div class="px-5 text-center">
                <img src="/icon/success.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Success!</h5>
                <p class="my-3">Your data has been successfully added</p>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import TotalRecord from '@/components/utilities/TotalRecord'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import PriceInput from '@/components/utilities/PriceInput'
import Modal from '@/components/utilities/Modal'
import Select from 'vue-multiselect'
import {mapState, mapActions, mapMutations} from 'vuex'
 
import PrettyCheck from 'pretty-checkbox-vue/check'
import _ from 'lodash'
 
export default {
    data: () => ({
        isLoadingBypass: false,
        isLoadingSubmit: false,
        loadingSave : false,
        isUnvalid: false,
        isAvailable: null,
        typeAllSelected: null,
        allEstimatedDate: null,
        search: '',
        checkModel: false,
        modalEdit: false,
        modalDelete: false,
        modalSuccess: false,
        modalInvalid: false,
        storeSelected: null,
        conditionSelected: null,
        priceSelected: 0,
        modelSelected: [],
        store: [],
        isEdit: [],
        stockSelected: 0,
        tempData: null,
        perPage: 50,
        currentPage: 1,
        // conditions:["New" , "New Open Box" , "Floor Model", "Manufacture Refurbished", "Scratch and Dent", "Home Show Model Used"],
        types: [
            {
                label: 'Available Stock',
                id: 1
            },
            // {
            //     label: 'Pending Stock',
            //     id: 0
            // }
        ],
        bulk: {
            meta: {
                to: 0,
                from: 0,
                total: 0,
            }
        },
        isLoading: false
    }),
    props: {
        loadingTable: {
            type: Boolean,
            default: false
        },
        reportName: {
            type: String
        }
    },
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-select': Select,
        'app-modal' : Modal,
        'price-input': PriceInput,
        'app-total' : TotalRecord,
        'p-check': PrettyCheck,
    },
    computed: {
        ...mapState('bulkInventory', {
            fields: state => state.fields,
            items: state => state.items
        }),
        ...mapState('inventory', {
            conditions : state => state.conditions
        }),
        ...mapState('product', {
            productOptions: state => state.items
        }),
        ...mapState('store', {
            stores: state => state.items
        }),
        totalRows() {
            return this.items.length
        },
        nextDay() {
            let date = new Date();
            date.setDate(date.getDate() + 1)
            return date
        },
        totalPieces(){
            return _.sumBy(this.items, (item) => parseFloat(item.stock))
        }
    },
    methods: {
        fillSelectedValue(index, product){
            this.$refs['searchProduct' + index].search = product.product_id
        },
        ...mapActions('bulkInventory', ['updateBulkInventory', 'getBulkInventory', 'deleteBulkInventory', 'saveBulkInventory']),
        ...mapActions('product', ['getProductOrder']),
        ...mapMutations('bulkInventory', ['SET_UNVALIDATE_DATA']),
        getDefaultBulk() {
            return new Promise((resolve, reject) => {
                this.getBulkInventory({
                    invalid: 0,
                    type: 1
                })
                .then(resolve())
            })
        },
        setAllEstimated(){
            this.items.forEach(i => {
                i.estimated_availability = this.allEstimatedDate
            })
            this.updateBulkInventory({
                id: 'all',
                estimated_availability: this.moment(this.allEstimatedDate).format('YYYY-MM-DD')
            }).then(() => {
                this.getDefaultBulk()
            })
        },
        setAllType() {
            this.isAvailable = this.typeAllSelected.id
            this.items.forEach(i => {
                i.type = this.typeAllSelected
            })
            this.updateBulkInventory({
                id: 'all',
                type: this.typeAllSelected.id
            }).then(() => {
                this.getDefaultBulk()
            })
        },
        getProduct: _.debounce(function($event) {
            this.isLoading = true
            this.getProductOrder({product_id: $event, search_type: ''})
            .then(() => {
                this.isLoading = false
            })
        }, 500),
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        setPerPage(value) {
            this.perPage = value
            this.currentPage = 1
        },
        saveInventory() {
            let indexInvalid = this.items.findIndex(v => {return v.is_valid == false})
            if(indexInvalid != -1){
                this.showModalInvalid()
            }else{
                this.isLoadingSubmit = true
                this.saveBulkInventory({group_name: this.reportName})
                .then(() => {
                    this.getDefaultBulk()
                    .then(() =>{
                        this.$emit('reset')
                        this.allEstimatedDate = null
                        this.typeAllSelected = null
                        this.showModalSuccess()
                        this.isLoadingSubmit = false
                    })
                })
            }
        },
        bypassInventory() {
            this.isLoadingBypass = true
            this.saveBulkInventory()
            .then(() => {
                this.getDefaultBulk()
                .then(() =>{
                    this.hideModalInvalid()
                    this.$emit('reset')
                    this.allEstimatedDate = null
                    this.typeAllSelected = null
                    this.isLoadingBypass = false
                    this.showModalSuccess()
                })
            })
        },
        deletePerItem(item) {
            this.tempData = item
            this.showModalDelete()
        },
        deleteItem() {
            let id = []
            if(this.modelSelected.length > 0){
                this.modelSelected.forEach(v => {
                    id.push(v.id)
                })
            }
            this.deleteBulkInventory({
                id: this.checkModel ? 'all' : id.length > 0 ? id : this.tempData.id
            }).then(() => {
                this.getDefaultBulk()
                .then(() => {
                    this.tempData = null
                    this.modelSelected = []
                    this.checkModel = false
                    this.hideModalDelete()
                })
            })
        },
        selectAllItem(){
            this.checkModel ? this.modelSelected = this.items : this.modelSelected = []
        },
        updateSelectedItem(){
            return new Promise((resolve, reject) => {
                let id = []
                this.modelSelected.forEach(o => {
                    id.push(o.id)
                })
                this.loadingTable = true
                this.loadingSave = true
                this.updateBulkInventory({
                    id: this.checkModel ? 'all' : id, 
                    condition: this.conditionSelected.id,
                    cost: this.priceSelected,
                    stock: this.stockSelected,
                    store_id: this.storeSelected.store_id,
                    type: 1
                }).then(() => {
                    this.getDefaultBulk()
                    .then(() => {
                        this.modelSelected = []
                        this.checkModel = false
                        this.storeSelected = null
                        this.conditionSelected = null
                        this.priceSelected = 0
                        this.stockSelected = 0
                        this.hideModalEdit()
                        this.loadingTable = false
                        this.loadingSave = false
                        resolve()
                    })
                })
            })
        },
        updatePerItem(data){
            return new Promise((resolve, reject) => {
                this.updateBulkInventory({
                    id: data.id,
                    stock: data.stock,
                    cost: data.cost,
                    condition: data.condition.id,
                    store_id: data.store.store_id,
                    type: data.type.id,
                    estimated_availability: data.estimated_availability ? this.moment(data.estimated_availability).format('YYYY-MM-DD') : null
                }).then(() => {
                    this.getDefaultBulk()
                    resolve()
                })
            })
        },
        updateProductModel(item){
            return new Promise((resolve, reject) => {
                this.updateBulkInventory({
                    id: item.id,
                    model : item.product_selected.product_id
                }).then(() => {
                    this.getDefaultBulk()
                    resolve()
                })
            })
        },
        updateCostItem(item){
            this.updatePerItem(item)
        },
        updateStockItem(item){
            this.updatePerItem(item)
        },
        updateConditionItem(item){
            this.updatePerItem(item)
        },
        updateStoreItem(item){
            this.updatePerItem(item)
        },
        showModalEdit(){
            this.modalEdit = true
        },
        hideModalEdit(){
            this.modalEdit = false
        },
        showModalDelete() {
            this.modalDelete = true
        },
        hideModalDelete(){
            this.modalDelete = false
        },
        showModalSuccess() {
            this.modalSuccess = true
        },
        hideModalSuccess() {
            this.modalSuccess = false
            this.$router.push({name: 'inventory-index-current-inventory'})
        },
        showModalInvalid() {
            this.modalInvalid = true
        },
        hideModalInvalid() {
            this.modalInvalid = false
        },
        setIsUnvalid(value) {
            this.$emit('loadTable', true)
            this.getBulkInventory({
                invalid: value ? 1 : 0,
                type: 1
            })
            .then(() => {
                this.$emit('loadTable', false)
            })
        }
    }
}
</script>

<style lang="scss">
.search__bulk{
    .form-control{
        height: calc(1.5em + 1rem + 14px);
    }
    .fas{
        bottom: 0;
    }
}
.search__bulk{
    .multiselect__input{
        text-transform: uppercase;
        &::placeholder{
            text-transform: none !important;
        }
    }
    .multiselect__single{
        text-transform: uppercase;
    }
}
.table__bulk-inventory{
    th,
    td{
        padding: 1rem .5rem;
    }
}
</style>