<template>
    <div>
        <b-tabs>
            <b-tab @click="setAsIndividual">
                <template slot="title">
                    <div class="d-flex align-items-center">
                        <img src="/customer/ico-individual.png" alt="" class="ico-customer">
                        <p class="mb-0 ml-3">Individual</p>                                    
                    </div>
                </template>
                <div class="form-group form-search__customer mt-3">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="name" @keyup="search" placeholder="First / Last Name">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <app-table :items="customer.items" :busy="loadingTable" :fields="fields" @row-clicked="setSelected" hover show-empty>
                    <div slot="table-busy" class="text-center text-blue my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="billingAddress" slot-scope="row">
                        <div>{{ row.item.formatted_billing_address | formattedAddress }}</div>
                    </template>
                    <template slot="shippingAddress" slot-scope="row">
                        <div v-for="(address, i) in row.item.formatted_shipping_address" :key="i">
                            <div>{{address | formattedAddress}}</div>
                        </div>
                    </template>
                </app-table>
                <div class="d-flex justify-content-between align-items-center">
                    <app-total :data="customer.meta" @itemPerPage="setPerPage"/>
                    <app-pagination align="right" :total-rows="customer.meta.total" v-model="customer.meta.current_page" :per-page="customer.meta.per_page" @change="setPage" v-if="customer.items && customer.meta.last_page > 1"/>
                </div>
            </b-tab>
            <b-tab @click="setAsCompany">
                <template slot="title">
                    <div class="d-flex align-items-center">
                        <img src="/customer/ico-company.png" alt="" class="ico-customer ico-company">
                        <p class="mb-0 ml-3">Company</p>                                    
                    </div>
                </template>
                <div class="form-group form-search__customer  mt-3">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="company" @keyup="search" placeholder="Company / Customer Name">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <app-table :items="customer.items" :busy="loadingTable" :fields="fields" @row-clicked="setSelected" hover show-empty>
                    <div slot="table-busy" class="text-center text-blue my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="billingAddress" slot-scope="row">
                        <div>{{ row.item.formatted_billing_address | formattedAddress }}</div>
                    </template>
                    <template slot="shippingAddress" slot-scope="row">
                        <div v-for="(address, i) in row.item.formatted_primary_address" :key="i">
                            <div>{{address | formattedAddress}}</div>
                        </div>
                    </template>
                </app-table>
                <div class="d-flex justify-content-between align-items-center">
                    <app-total :data="customer.meta" @itemPerPage="setPerPage"/>
                    <app-pagination align="right" :total-rows="customer.meta.total" v-model="customer.meta.current_page" :per-page="customer.meta.per_page" @change="setPage" v-if="customer.items && customer.meta.last_page > 1"/>
                </div>
            </b-tab>
        </b-tabs>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import _ from 'lodash'
    import TotalRecord from '@/components/utilities/TotalRecord'

    export default {
        data(){
            return{
                name:'',
                company: '',
                isCompany: false,
                perpage: 10,
                fields: [
                    {
                        key: 'name',
                        label: 'Name'
                    },
                    {
                        key: 'phone_number',
                        label: 'Phone Number',
                    },
                    {
                        key: 'email',
                        label: 'Email',
                    },
                ],
            }
        },
        props:{
            customerPage :{
                type: Boolean,
                default: false
            }
        },  
        computed: {
            ...mapState('customer', {
                customer: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        page: state.page
                    }
                }
            }),
            ...mapState(['loadingTable'])
        },
        filters: {
            formattedAddress: function (value) {
                if (value.number != '' && value.street != '' && value.city != '' && value.state != '' && value.postal_code != '' && value.country != '') {
                    return value.number + ' ' + value.street + ', ' + value.city + ', ' + value.state + ' ' + value.postal_code + ', ' + value.country
                }
                return ''
            }
        },
        watch: {
            'customer.page': function() {
                this.getResponse()
            },
            isCompany(){
                if(this.isCompany == true){
                    this.fields =  [
                        {
                            key: 'company',
                            label: 'Company'
                        },
                        {
                            key: 'name',
                            label: 'Name'
                        },
                        {
                            key: 'phoneNumber',
                            label: 'Phone Number',
                        },
                        {
                            key: 'email',
                            label: 'Email',
                        }
                    ]
                } else {
                    this.fields = [
                        {
                            key: 'name',
                            label: 'Name'
                        },
                        {
                            key: 'phoneNumber',
                            label: 'Phone Number',
                        },
                        {
                            key: 'email',
                            label: 'Email',
                        },
                    ]
                }
            }
        },
        methods: {
            ...mapMutations('customer', [
                'SET_CUSTOMER_SELECTED',
                'SET_CUSTOMER_PAGE',
                'SET_CUSTOMER_TABLE_DEFAULT',
            ]),
            ...mapMutations(['SET_LOADING_TABLE']),
            ...mapActions('customer', ['getCustomers']),
            setSelected(item, index) {
                this.SET_CUSTOMER_SELECTED(item)
                this.$emit('row-clicked')
                if(this.customerPage == true){
                    this.$router.push({ name:'customer-show-id', params:{ id: item.customer_code}})
                }
            },
            setAsIndividual(){
                this.isCompany = false
                this.company = ''
                this.customer.page == 1 ? this.getResponse() : this.SET_CUSTOMER_PAGE(1)
            },
            setAsCompany(){
                this.isCompany = true
                this.name = ''
                this.customer.page == 1 ? this.getResponse() : this.SET_CUSTOMER_PAGE(1)
            },
            setPage(value) {
                this.SET_CUSTOMER_PAGE(value)
            },
            setPerPage(value){
                this.perpage = value
                this.SET_CUSTOMER_PAGE(1)
                this.getResponse()
            },
            getResponse(){
                this.SET_LOADING_TABLE(true)
                this.getCustomers({
                    search: this.name,
                    company: this.company,
                    isCompany: this.isCompany,
                    perpage: this.perpage
                }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            search: _.debounce(function (e) {
                this.SET_CUSTOMER_PAGE(1)
                this.getResponse()
            }, 800)
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total':TotalRecord
        }
    }
</script>

<style scoped>

.form-search__customer{
    width: 250px;
}
.manage-customer .form-search__customer{
    margin-top: -55px;
}
</style>
