<template>
    <div>
        <transition name="slide-down">
            <b-alert variant="success" class="alert-notif--top" show fade v-show="changeStatusNotif">
                <div class="d-flex align-items-center">
                    <i class="far fa-check-circle fa-lg mr-2"></i>
                    <p class="mb-0">Your delivery status has changed <span v-if="statusSelected != null">to <span class="text-lowercase">{{statusSelected}}</span></span></p>
                </div>
            </b-alert>
        </transition>
        <b-alert variant="danger" class="alert-notif" :show="showAlertDate" dismissible fade>
            <b>Delivery date</b> must be selected first
        </b-alert>
        <b-alert variant="danger" class="alert-notif" :show="showAlert" dismissible fade>
            <b>Delivery method</b> must be selected first
        </b-alert>
        <b-alert variant="danger" class="alert-notif" :show="showAlertLocation" dismissible fade>
            <b>Location</b> must be selected first
        </b-alert>
        <b-alert variant="danger" class="alert-notif" :show="showAlertMaxQuantity" dismissible fade>
            <span v-if="alertMaxQuantity.quantity >= alertMaxQuantity.max_capacity">
                <b>Delivery Schedule</b> at {{alertMaxQuantity.date}} reaches {{alertMaxQuantity.quantity}} deliveries
            </span>
            <span v-else>
                <b>Delivery Schedule</b> at {{alertMaxQuantity.date}} can only receive {{alertMaxQuantity.max_capacity - alertMaxQuantity.quantity}} more deliveries
            </span>
        </b-alert>
        <b-alert variant="danger" class="alert-notif" :show="showAlertBooked" dismissible fade>
            <span>
                <b>Delivery Schedule</b> at {{alertBooked.date}} is booked
            </span>
        </b-alert>
        <!-- <div class="d-flex align-items-center justify-content-end mb-3" v-if="!returned">
            <div class="mr-3">
                <app-select
                    label="store_name"
                    track-by="store_name"
                    placeholder="Set all location"
                    :options="stores"
                    :searchable="true"
                    :allow-empty="false"
                    :show-labels="false"
                    :preselect-first="false"
                    v-model="all_store"
                    @input="setAllStore"
                    :disabled="!deliveryDetail.meta.batch"
                    v-width="'250px'"
                    >
                </app-select>
            </div>
            <div class="mr-3">
                <app-select
                    label="delivery_method_name"
                    track-by="delivery_method_name"
                    placeholder="Set all delivery method"
                    :options="deliveryMethod.items"
                    :searchable="true"
                    :allow-empty="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-labels="false"
                    :disabled="!deliveryDetail.meta.batch"
                    v-model="all_delivery_method"
                    @input="setAllDeliverymethod"
                    v-width="'250px'"
                    >
                </app-select>
            </div>
            <div class="mr-3">
                <app-select
                    placeholder="Set all status"
                    :options="statusOptions"
                    :allow-empty="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-labels="false"
                    label="name"
                    v-model="all_status"
                    :trackBy="'id'"
                    v-width="'200px'"
                    :disabled="!deliveryDetail.meta.batch"
                    @input="setAllStatus"
                    >
                    <template slot="singleLabel" slot-scope="{ option }"><strong class="text-capitalize">{{ option.name }}</strong></template>
                </app-select>
            </div>
            <div>
                <div class="icon icon-right" @click="handleClickDate" v-if="all_delivery_method == null || !deliveryDetail.meta.batch || all_delivery_method.type == 2">
                    <input type="text" placeholder="Set all date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                    <i class="far fa-calendar-alt text-primary"></i>
                </div>
                <template v-else>
                    <no-ssr>
                        <app-datepicker
                            v-model="all_deliveryDate"
                            mode="single"
                            :disabled-dates="all_delivery_method.type == 1 ? bookedDate : []"
                            :popover="{placement: 'top-end' }"
                            :attributes="attrs"
                            is-required
                            @input="setAllDeliveryDate">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Set all date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </template>
            </div>
        </div> -->
        <app-table :items="filltered_delivery" :fields="deliveryDetail.fields" :busy="loadingTable" @row-clicked="setSelected" class="table--align-top" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="serial_number" slot-scope="data">
                <span v-if="data.item.is_service_call">-</span>
                <div class="mb-2" v-else-if="data.item.serial_numbers.length != data.item.qty">
                    <a href="javascript:void(0)" @click="showModalSerial(data.item.id, false)"><i class="fas fa-plus"></i> Add</a>
                </div>
                <ul class="my-0 pl-3">
                    <li v-for="(item, indexSerial) in data.item.serial_numbers" class="mb-2" :key="indexSerial">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <span>{{item.serial_number}}</span>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="text-primary mr-2 d-inline-block" :class="{disabled: isDeleteSerial}" @click="editSerialNumber(item.id, item.serial_number)"><i class="fas fa-edit"></i></a>
                                <a href="javascript:void(0)" class="text-danger d-inline-block" :class="{disabled: isDeleteSerial}" @click="handleDeleteSerial(item.id)"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </template>
            <template slot="model" slot-scope="data">
                <div class="d-flex align-items-center mb-2">
                    <span class="text-uppercase mr-2">{{data.item.model}}</span>
                    <div class="badge badge-success" v-if="data.item.serial_numbers_qty > 0">{{data.item.serial_numbers_qty}} Scanned Out</div>
                </div>
                <span class="font-weight-600" v-if="!data.item.is_service_call">Condition: {{data.item.condition}}</span>
            </template>
            <template slot="location" slot-scope="data">
                <template v-if="data.item.status == 2">
                    <div>-</div>
                </template>
                <app-select
                    label="store_name"
                    track-by="store_name"
                    placeholder="Type to search"
                    class="select-content--expand"
                    :options="stores"
                    :searchable="true"
                    :preselect-first="false"
                    :allow-empty="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-labels="false"
                    v-model="data.item.store"
                    :disabled="data.item.is_service_call || data.item.is_on_the_way"
                    @input="handleInputLocation(data.item)"
                    v-else>
                </app-select>
            </template>
            <template slot="qty" slot-scope="data">
                <template v-if="data.item.status == 2 || data.item.is_service_call">
                    <div>{{data.item.qty}}</div>
                </template>
                <app-select
                    v-else
                    placeholder="Select Qty"
                    :options="data.item.qty_list"
                    :searchable="false"
                    :allow-empty="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-labels="false"
                    :disabled="data.item.is_on_the_way"
                    v-model="data.item.active_qty">
                </app-select>
            </template>
            <template slot="deliveryMethod" slot-scope="data">
                <template v-if="data.item.status == 2">
                    <div>-</div>
                </template>
                <app-select
                    label="delivery_method_name"
                    track-by="delivery_method_name"
                    placeholder="Delivery Method"
                    class="select-content--expand"
                    :options="deliveryMethod.items"
                    :searchable="true"
                    :allow-empty="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-labels="false"
                    :disabled="data.item.disable_row || data.item.is_on_the_way"
                    v-model="data.item.deliveryMethod"
                    @input="handleInputDeliveryMethod(data.item)"
                    v-else />
            </template>
            <template slot="installs" slot-scope="data">
                <div v-if="data.item.install.has_install">
                    <p class="mb-0"><strong>Install: </strong><br><span>{{ data.item.install.install_name }}</span></p>
                    <p class="mb-0"><strong>Price: </strong><br><span v-money>{{ data.item.install.install_price }}</span></p>
                </div>
                <div v-else>
                    -
                </div>
            </template>
            <template slot="status" slot-scope="data">
                <template v-if="data.item.status == 2">
                    <div class="text-capitalize font-weight-600">{{data.item.status_name}}</div>
                </template>
                <template v-else>
                    <no-ssr>
                        <app-select
                            placeholder="Status"
                            :options="data.item.deliveryMethod ? data.item.deliveryMethod.type == 2 && data.item.tag == 0 ? statusOptions.filter(v => v.id != 3) : statusOptions : []"
                            :disabled="data.item.disable_row || data.item.lock_status === 1"
                            :allow-empty="false"
                            :show-labels="false"
                            label="name"
                            :trackBy="'id'"
                            v-model="data.item.status_selected"
                            @input="changeStatusSelected(data.index, $event, data.item)"
                            v-width="'130px'">
                            <template slot="singleLabel" slot-scope="{ option }"><strong class="text-capitalize">{{ option.name }}</strong></template>
                        </app-select>
                    </no-ssr>
                </template>
            </template>
            <template slot="deliveryDate" slot-scope="data">
                <template v-if="data.item.status == 2 || (data.item.status == 1 && !data.item.deliveryDate)">
                    <div>-</div>
                </template>
                <template v-else>
                    <div v-if="data.item.status == 0 || editDeliveryDate[data.item.id]">
                        <div class="icon icon-right" v-if="data.item.deliveryMethod == null">
                            <input type="text" placeholder="Set date" id="date" class="form-control form-icon" :value='inputValue' readonly @click="handleShowAlert(data.item)">
                            <i class="far fa-calendar-alt text-primary"></i>
                        </div>
                        <template v-else>
                            <no-ssr>
                                <app-datepicker
                                    v-model="date[data.item.id]"
                                    mode="single"
                                    :popover="{placement: 'bottom-end' }"
                                    :disabled-dates="data.item.disable_row || data.item.tag == 0 ? pastBookedDate : data.item.deliveryMethod.type != 2 ? bookedDate : []"
                                    :attributes="attrs"
                                    @input="setDay(data.item, data.item.id, $event)"
                                    is-required>
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right">
                                            <input type="text" placeholder="Set date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </template>
                    </div>
                    <div class="d-flex align-items-center" v-else-if="data.item.deliveryDate || data.item.deliveryMethod.type == 3">
                        <p class="mb-0">{{data.item.deliveryDate}}</p>
                        <b-spinner class="ml-2" variant="primary" small v-if="data.item.loading" />
                        <a
                            href="javascript:void(0)"
                            class="ml-3"
                            v-b-tooltip.hover
                            title="Edit Delivery Date"
                            @click="toggleDelivery(data.item, data.item.id)"
                            v-if="!data.item.is_service_call && !data.item.is_on_the_way && !data.item.loading">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-start" v-if="data.item.deliveryDate == null && data.item.is_past_date">
                        <p class="mb-0">{{data.item.notes}}</p>
                        <a href="javascript:void(0)" class="ml-2" v-b-tooltip.hover title="Edit Notes" @click="changeInput(true, data.item)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </template>
                <span class="mt-2 d-inline-block" v-if="data.item.info != null">
                    <i class="fas fa-info-circle text-warning" v-b-tooltip.hover :title="data.item.info"></i>
                    <span class="text-gray small">{{data.item.info}}</span>
                </span>
            </template>
            <template slot="customerLink" slot-scope="data">
                <a v-if="data.item.customer_link !== null" :href="data.item.customer_link" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-external-link-alt text-primary"></i>
                </a>
                <template v-if="data.item.customer_link === null">
                    -
                </template>
            </template>
            <template slot="requestTime" slot-scope="data">
                <div class="d-flex align-items-center justify-content-between" v-if="editRequestTime[data.index]">
                    <no-ssr>
                        <app-select
                            placeholder="Type to search"
                            :options="time.data"
                            :searchable="false"
                            :close-on-select="true"
                            :preselect-first="false"
                            v-model="time.selected[data.index]" @input="updateRequestTime(data.index)" >
                        </app-select>
                    </no-ssr>
                </div>
                <div class="d-flex align-items-center" v-else-if="data.item.requestTime">
                    <p class="mb-0">{{ deliveryDetail.items[data.index].requestTime }}</p>
                    <a href="#" v-if="deliveryDetail.items[data.index].status == '0'" class="ml-3" v-b-tooltip.hover title="Edit Request Time" @click="toggleRequestTime(data.item, data.index)">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <a href="#" v-if="!deliveryDetail.items[data.index].requestTime && !editRequestTime[data.index]" class="ml-3" v-b-tooltip.hover title="Set Time Slot" @click="toggleRequestTime(data.item, data.index)">
                    <i class="fa fa-clock"></i> Set Time Slot
                </a>
            </template>
            <template #row-details="data">
                <div class="row">
                    <div class="col-3">
                        <strong class="d-block">Pre-Installation Photos</strong>
                        <div class="grid-container mt-3">
                            <div
                                v-for="(prePicture, index) in data.item.pre_install_picture"
                                class="picture__upload m-auto"
                                :key="`Pre Picture ${index}`"
                            >
                                <img
                                    class="picture__upload--image pointer"
                                    :src="`${prePicture.picture_asset}`"
                                    :alt="`Pre Picture - ${index}`"
                                    @click="openLightbox(data.item.pre_install_picture, index)"
                                >
                                <a
                                    href="javascript:void(0)"
                                    class="picture__upload--download text-white"
                                    @click="onDownloadPicture({
                                        id: prePicture.id,
                                        type: 'single',
                                        name: prePicture.id
                                    })"
                                >
                                    <i class="fas fa-download fa-sm" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <strong class="d-block">Post-Installation Photos</strong>
                        <div class="grid-container mt-3">
                            <div
                                v-for="(postPicture, index) in data.item.post_install_picture"
                                class="picture__upload m-auto"
                                :key="`Post Picture ${index}`"
                            >
                                <img
                                    class="picture__upload--image pointer"
                                    :src="`${postPicture.picture_asset}`"
                                    :alt="`Post Picture - ${index}`"
                                    @click="openLightbox(data.item.post_install_picture, index)"
                                >
                                <a
                                    href="javascript:void(0)"
                                    class="picture__upload--download text-white"
                                    @click="onDownloadPicture({
                                        id: postPicture.id,
                                        type: 'single',
                                        name: postPicture.id
                                    })"
                                >
                                    <i class="fas fa-download fa-sm" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <strong class="d-block">Driver Note</strong>
                        {{ data.item.driver_note ? data.item.driver_note.note : '-' }}
                    </div>
                    <div class="col-2">
                        <strong class="d-block">Driver(s)</strong>
                        <p class="mb-0">{{data.item.drivers.map(driver => driver.name).join(' & ')}}</p>
                    </div>
                    <div class="col-2">
                        <strong class="d-block">Time of Completion</strong>
                        {{ data.item.delivery_arrived_time ? data.item.delivery_arrived_time : '-' }}
                    </div>
                    <div v-if="data.item.pre_install_picture.length > 0 || data.item.post_install_picture.length > 0" class="col-12 mt-3">
                        <button
                            class="btn btn-outline-primary"
                            @click="onDownloadPicture({
                                id: data.item.id,
                                type: 'all'
                            })"
                        >
                            <i class="fas fa-download mr-2"></i>
                            Download All Pre & Post-installation Photos
                        </button>
                    </div>
                </div>
            </template>
        </app-table>
        <app-modal size="md" title="Note" :show="modalNote" @hide="hideModalNote">
            <div class="form-group">
                <label for="#" class="font-weight-600">Note</label>
                <textarea type="text" name="note" id="note" class="form-control resize-none" rows="4" v-model="notes" :class="{'is-invalid' : errors.has('note')}" v-validate="'required'" />
                <span class="text-danger" v-if="errors.has('note')">{{errors.first('note')}}</span>
            </div>
            <template slot="modal-footer">
                <button class="btn btn-outline-primary mr-3" :disabled="isLoadingNote" @click="hideModalNote">Cancel</button>
                <button class="btn btn-primary" @click="saveNote" :disabled="isLoadingNote">
                    <div class="px-2" v-if="isLoadingNote">
                        <b-spinner variant="light" small />
                    </div>
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal :title="isEditSerial ? 'Edit Serial Number' : 'Add Serial Number'" :show="modalSerial" @hide="hideModalSerial">
            <div class="form-group">
                <label for="#" class="font-weight-600">Serial Number</label>
                <input type="text" class="form-control" v-validate="'required'" :class="{'is-invalid' : errors.has('serialNumber')}" name="serialNumber" data-vv-as="serial number" v-model="tempSerialNumber">
                <span class="text-danger" v-if="errors.has('serialNumber')">{{errors.first('serialNumber')}}</span>
            </div>
            <template slot="modal-footer">
                <div class="d-flex align-items-center">
                    <button class="btn btn-danger mr-3" :disabled="isSavingSerial" @click="hideModalSerial">Cancel</button>
                    <button class="btn btn-primary" :disabled="isSavingSerial" @click="saveSerialNumber">Save</button>
                </div>
            </template>
        </app-modal>
        <app-pagination align="right" :total-rows="deliveryDetail.meta.total" :per-page="deliveryDetail.meta.per_page" @change="setPage" v-model="deliveryDetail.meta.current_page" v-if="deliveryDetail.meta.last_page > 1"/>
        <Lightbox v-model="selectImage" :image="imageSelected" :selected-index="selected.index" :selected-id="selected.id" :selected-name="selected.name" :downloadable="true" @download="onDownloadLightbox" @prev="prev" @next="next" @close="hideLightbox" />
        <app-modal :noBorder="true" :show="modal.bookedDeliveryMethod" @hide="hideModalBookedDeliveryMethod">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-3">Oops!</h5>
                <h6 class="mb-5">{{ errorMessage.bookedDeliveryMethod }}</h6>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table';
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination';
    import Modal from '@/components/utilities/Modal';
    import Select from 'vue-multiselect';
    import PrettyCheck from 'pretty-checkbox-vue/check';
    import _ from 'lodash';
    import Lightbox from '@/components/utilities/Lightbox';

    // Mixins
    import downloadFile from "@/mixins/download-image.js";

    export default {
        mixins: [downloadFile],
        destroyed() {
            this.SET_DELIVERY_DETAIL_SELECTED(null)
        },
        created(){
            this.setLocation()
            let features = this.$auth.$state.user.features
            var bypass_capacity_feature = this._.filter(features, (val) => {
                return val.name == "Bypass Delivery Capacity Limit"
            })
            this.is_bypass_capacity_feature = bypass_capacity_feature.length > 0 ? true : false
            this.attrs.forEach(v => {
                if(this.deliveryDetail.scheduleOff.length > 0){
                    v.dates = new Date(this.deliveryDetail.scheduleOff[0].date)
                    v.popover.label = `Delivery cut off time ${this.deliveryDetail.scheduleOff[0].time}`
                }else{
                    v.dot = false
                    v.dates = null
                }
            })
        },
        mounted() {
            this.getDateData()
            let indexStore = this._.findIndex(this.stores, function(o) {
                return o.store_name.includes('Fenton')
            })

            for (let index = 0; index < this.deliveryDetail.items.length; index++) {
                this.editDeliveryDate[index] = false
                this.editRequestTime[index] = false
                this.editQty[index] = false
                this.time.selected[index] = null
                let delivery_location = this.deliveryDetail.items[index].store
                !delivery_location ? this.deliveryDetail.items[index].store = this.stores[indexStore]:null
            }
        },
        data() {
            return {
                selectImage: false,
                imageSelected: '',
                isDeleteSerial: false,
                isEditSerial: false,
                isSavingSerial: false,
                tempDeliveryId: null,
                modalSerial: false,
                tempSerialNumber: null,
                isEditNote: false,
                notes: null,
                modalNote: false,
                tempIndex: null,
                isPastDate: [],
                all_deliveryDate: null,
                all_status: null,
                all_delivery_method: null,
                all_store: null,
                loadingTable: false,
                popoverVisibility: 'focus',
                changeStatusNotif: false,
                status : [
                    {id: 0, name: 'Open'},
                    {id: 3, name: 'Scheduled'},
                    {id: 4, name: 'In-Transit'},
                    {id: 1, name: 'Delivered'},
                ],
                statusSelected : null,
                checkbox: [],
                editDeliveryDate: [],
                editRequestTime: [],
                date: [],
                time: {
                    selected: [],
                    data: [
                        'AM',
                        'PM',
                        'All Day'
                    ]
                },
                editQty: [],
                showAlert: false,
                showAlertDate : false,
                showAlertLocation: false,
                showAlertMaxQuantity: false,
                alertMaxQuantity: {
                    quantity: 0,
                    max_capacity: 0,
                    date: null
                },
                alertBooked: {
                    date: null
                },
                showAlertBooked: false,
                is_bypass_capacity_feature: false,
                attrs: [
                    {
                        dot: 'red',
                        dates: new Date(),
                        popover: {
                            label: '',
                            visibility: 'hover',
                        },
                    }
                ],
                selected: {
                    index: null,
                    id: null,
                    name: null,
                    images: [],
                },
                modal: {
                    bookedDeliveryMethod: false,
                },
                errorMessage: {
                    bookedDeliveryMethod: '',
                }
            };
        },
        computed: {
            bookedDate(){
                return [
                    {
                        weekdays: []
                    },
                    ...this.deliveryDetail.bookedDate
                ]
            },
            pastBookedDate(){
                return [
                    {
                        weekdays: []
                    },
                    ...this.deliveryDetail.pastBookedDate
                ]
            },
            ...mapState('deliveryMethod', {
                deliveryMethod(state) {
                    return {
                        items: state.items
                    }
                }
            }),
            ...mapState('delivery', {
                delivery: state => state.data
            }),
            ...mapState('deliveryDetail', {
                deliveryDetail: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        selected: state.selected,
                        page: state.page,
                        bookedDate: state.bookedDate,
                        pastBookedDate: state.pastBookedDate,
                        scheduleOff: state.scheduleOff,
                    }
                },
                delivery_capacity: state => state.delivery_capacity
            }),
            ...mapState('store', {
                stores: state => state.items
            }),
            filltered_delivery(){
                if(this.open){
                    return _.filter(this.deliveryDetail.items, function(i) { return i.status == 0 })
                }else if(this.pending){
                    return _.filter(this.deliveryDetail.items, function(i) { return i.status == 3 })
                }else if(this.inTransit){
                    return _.filter(this.deliveryDetail.items, function(i) { return i.status == 4 })
                }else if(this.closed){
                    return _.filter(this.deliveryDetail.items, function(i) { return i.status == 1 }).map(item => {return {...item, _showDetails: true}});
                }else if(this.all){
                    return this.deliveryDetail.items
                }else if(this.returned){
                    return _.filter(this.deliveryDetail.items, function(i) { return i.status == 2 })
                }
            },
            statusOptions(){
                let filterOptions = this.status.filter(i =>{
                    if(this.open){
                        return i.id != 0
                    }else if(this.pending){
                        return i.id != 3
                    }else if(this.inTransit){
                        return i.id != 4
                    }else{
                        return i.id != 1
                    }
                })
                return filterOptions
            },
        },
        watch: {
            'deliveryDetail.page' : function() {
                this.getDeliveryDetails(this.$route.params.id)
            },
            'deliveryDetail.items': function(){
                this.getDateData()
            }
        },
        methods: {
            ...mapActions('changelog', ['postChangelog']),
            onDownloadPicture(data){
                const params = {
                    url: `order/delivery/download-all-picture/${data.id}`,
                    type: data.type,
                    name: data.name ? data.name : null
                }

                this.downloadImage(params)
            },
            isTableDetail(data) {
                if(data.is_service_call) return false

                const postInstallation = data.post_install_picture.length > 0;
                const preInstallation = data.pre_install_picture.length > 0;
                const driverNote = data.driver_note !== null;
                const deliveryArrivedTime = data.delivery_arrived_time !== null;


                return postInstallation || preInstallation || driverNote || deliveryArrivedTime;
            },
            hideModalBookedDeliveryMethod() {
                this.modal.bookedDeliveryMethod = false;
                this.errorMessage.bookedDeliveryMethod = '';
            },
            openLightbox(pictures, index) {
                const { id } = pictures[index];

                this.selected.id = id;
                this.selected.name = id;
                this.selectImage = true;
                this.selected.index = index;
                this.selected.images = pictures;
                const mappedPictureSelected = pictures.map((picture) => picture.picture_asset)
                this.imageSelected = mappedPictureSelected;
            },
            hideLightbox() {
                this.imageSelected = '';
                this.selectImage = false;
            },
            next() {
                this.selected.index += 1;
            },
            prev() {
                this.selected.index -= 1;
            },
            handleInputLocation(item){
                if(item.status == 1 || item.status == 3){
                    this.loadingTable = true
                    this.setScheduleDelivery(this.order_no)
                    .then(() => {
                        this.loadingTable = false
                    })
                }
            },
            onDownloadLightbox(payload) {
                const selectedImage = this.selected.images[this.selected.index];

                const params = {
                    url: `order/delivery/download-all-picture/${selectedImage.id}`,
                    type: payload.type,
                    name: selectedImage.picture ? selectedImage.picture : null
                }

                this.downloadImage(params)
            },
            clearAllBulkDelivery(){
                this.all_delivery_method = null
                this.all_status = null
                this.all_deliveryDate = null
            },
            editSerialNumber(id, serialNumber){
                this.tempSerialNumber = serialNumber
                this.showModalSerial(id, true)
            },
            handleDeleteSerial(id){
                this.isDeleteSerial = true
                this.deleteSerialNumber(id)
                .then(() => {
                    this.getDeliveryDetails(this.$route.params.id)
                    .then(() => {
                        this.isDeleteSerial = false
                        this.setLocation()
                    })
                })
            },
            showModalSerial(id, editSerial){
                this.isEditSerial = editSerial
                this.tempDeliveryId = id
                this.modalSerial = true
            },
            hideModalSerial(){
                this.modalSerial = false
                this.isEditSerial = false
                this.tempSerialNumber = null
                this.tempDeliveryId = null
            },
            saveSerialNumber(){
                this.$validator.validateAll().then(result => {
                    if(result){
                        this.isSavingSerial = true
                        if(this.isEditSerial){
                            this.updateSerialNumber({
                                id: this.tempDeliveryId,
                                serial_number: this.tempSerialNumber
                            })
                            .then(() => {
                                this.getDeliveryDetails(this.$route.params.id)
                                .then(() => {
                                    this.hideModalSerial()
                                    this.setLocation()
                                    this.isSavingSerial = false
                                })
                            })
                        }else{
                            this.postSerialNumber({
                                delivery_id: this.tempDeliveryId,
                                serial_number: this.tempSerialNumber
                            })
                            .then(() => {
                                this.getDeliveryDetails(this.$route.params.id)
                                .then(() => {
                                    this.hideModalSerial()
                                    this.setLocation()
                                    this.isSavingSerial = false
                                })
                            })
                        }
                    }
                })
            },
            async handleInputDeliveryMethod(item){
                if (item.status != 0) {
                    const response = await this.getDeliveryMaxCurrentQuantity({
                        order_no: this.$route.params.id,
                        delivery_method: item.deliveryMethod.delivery_method_id,
                        date: this.moment(item.deliveryDate).format('YYYY-MM-DD'),
                        store: item.store.store_id,
                    })

                    await this.getDeliveryDetails(this.$route.params.id);
                    if (response.is_booked) {
                        this.modal.bookedDeliveryMethod = true;
                        this.errorMessage.bookedDeliveryMethod = response.message;
                        return;
                    }
                }
                if(!item.disable_row && item.status === '0'){
                    this.getDeliveryBooked({order_no: this.$route.params.id, past_date : 0, delivery_method_id: item.deliveryMethod.delivery_method_id})
                }
                if(item.deliveryMethod.type == 2 && item.store != null && item.status != 1 && item.tag != 0){
                    item.status = 3
                    item.deliveryDate = null
                    this.updateDeliveryDate(item, item.id, '', item.status)
                }else if(item.store == null){
                    this.showAlertLocation = true
                    setTimeout( () =>{
                        this.showAlertLocation = false
                    }, 3000)
                }else if(item.deliveryMethod.type != 2 && item.status == 3){
                    if(this.date[item.id] == null){
                        this.editDeliveryDate[item.id] = true
                        this.date[item.id] = null
                        this.showAlertDate = true
                        setTimeout( () =>{
                            this.showAlertDate = false
                        }, 3000)
                    }else{
                        this.updateDeliveryDate(item, item.id, '', item.status)
                    }

                }else if(item.status == 1){
                    this.updateDeliveryDate(item, item.id, '', item.status)
                }else if(item.status == '0' && this.date[item.id]){
                    this.updateDeliveryDate(item, item.id, this.date[item.id])
                }
            },
            saveNote(){
                this.$validator.validate().then(result => {
                    if(result){
                        this.isLoadingNote = true
                        if(this.isEdit){
                            this.updatePastDate({
                                id: this.deliveryDetail.items[this.tempIndex].id,
                                notes: this.notes
                            })
                            .then(() => {
                                this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                    this.isLoadingNote = false
                                    this.hideModalNote()
                                    this.showNotification()
                                })
                            })
                        }else{
                            this.postPastDate({
                                id: this.deliveryDetail.items[this.tempIndex].id,
                                quantity : this.deliveryDetail.items[this.tempIndex].active_qty,
                                notes: this.notes,
                                delivery_method_id: this.deliveryDetail.items[this.tempIndex].deliveryMethod.delivery_method_id,
                                delivery_method_name: this.deliveryDetail.items[this.tempIndex].deliveryMethod.delivery_method_name,
                                delivery_location_from: this.deliveryDetail.items[this.tempIndex].store.store_id
                            })
                            .then(() => {
                                this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                    this.isLoadingNote = false
                                    this.hideModalNote()
                                    this.showNotification()
                                })
                            })
                        }
                    }
                })
            },
            changeInput($event, item){
                this.$forceUpdate()
                let indexDelivery = this.deliveryDetail.items.findIndex(v => {return v.id == item.id})
                if($event && indexDelivery != -1){
                    this.tempIndex = indexDelivery
                    if(item.is_past_date){
                        this.isEdit = true
                        this.notes = item.notes
                    }else{
                        this.isEdit = false
                    }
                    this.showModalNote()
                }
            },
            showModalNote(){
                this.modalNote = true
            },
            hideModalNote(){
                this.modalNote = false
                this.isPastDate[this.tempIndex] = false
                this.tempIndex = null
                this.notes = null
            },
            handleShowAlert(item){
                if(item.deliveryMethod == null){
                    this.showAlert = true
                    setTimeout( () =>{
                        this.showAlert = false
                        if(this.tempIndex != null){
                            this.isPastDate[this.tempIndex] = false
                            this.$forceUpdate()
                        }
                    }, 3000)
                }
            },
            handleClickDate(){
                if(this.all_delivery_method == null && this.deliveryDetail.meta.batch){
                    this.showAlert = true
                    setTimeout( () =>{
                        this.showAlert = false
                    }, 3000)
                }
            },
            setAllStore(){
                _.forEach(this.deliveryDetail.items, (i) =>{
                    if(this.statusData == Number(i.status) && !i.disable_row && !i.is_service_call){
                        if(i.is_past_date == false){
                            i.store = this.all_store
                        }
                    }
                })
            },
            setAllDeliverymethod(){
                _.forEach(this.deliveryDetail.items, (i) =>{
                    if(this.statusData == Number(i.status) && !i.disable_row && !i.is_service_call){
                        if(i.is_past_date == false){
                            i.deliveryMethod = this.all_delivery_method
                        }
                    }
                })
                this.getDeliveryBooked({order_no: this.$route.params.id, past_date : 0, delivery_method_id: this.all_delivery_method.delivery_method_id})
                if(this.all_deliveryDate != null){
                    this.setAllScheduleDelivery()
                }
            },
            setAllStatus(){
                _.forEach(this.deliveryDetail.items, (i) =>{
                    if(this.statusData == Number(i.status) && !i.disable_row && !i.is_service_call){
                        if(i.is_past_date == false){
                            i.status_selected = this.all_status
                        }
                    }
                })
                this.setAllScheduleDelivery()
            },
            setAllDeliveryDate(){
                _.forEach(this.deliveryDetail.items, (i) =>{
                    if(this.statusData == Number(i.status) && !i.disable_row && !i.is_service_call){
                        if(i.is_past_date == false){
                            i.deliveryDate = this.moment(this.all_deliveryDate).format('L')
                        }
                    }
                })
                if(this.all_delivery_method != null){
                    this.setAllScheduleDelivery()
                }else{
                    this.showAlert = true
                    setTimeout( () =>{
                        this.showAlert = false
                    }, 3000)
                }
            },
            setAllScheduleDelivery(){
                this.loadingTable = true
                if(this.all_status != null){
                    this.statusSelected = this.all_status.name
                }
                if(this.statusData == 0){
                    if(this.all_deliveryDate == null && this.all_delivery_method.type != 2){
                        this.showAlertDate = true
                        this.loadingTable = false
                        setTimeout(() =>{
                            this.showAlertDate = false
                        }, 3000)
                    }else if(this.all_status == null){
                        _.forEach(this.deliveryDetail.items, (i) =>{
                            if(this.statusData == i.status){
                                i.status_selected = {
                                    id: "3",
                                    name: "Scheduled"
                                }
                            }
                        })
                        let all_qty = _.sumBy(this.deliveryDetail.items,(i)=>{return i.active_qty})
                        this.getDeliveryMaxCurrentQuantity({date: this.moment( this.all_delivery_method.type == 2 ? new Date() : this.all_deliveryDate).format('L'), store: this.all_store.store_id})
                        .then((response) => {
                            // if((response.quantity < 50 && (all_qty + response.quantity <= 50)) || (this.all_delivery_method.delivery_method_id != 'DM0010')){
                            if((((response.quantity < response.max_capacity && (1 + response.quantity <= response.max_capacity) && (response.is_booked == false)) || this.is_bypass_capacity_feature == true) ) || (this.all_delivery_method.delivery_method_id != 'DM0010')){
                                this.setScheduleDeliveryBatch(this.$route.params.id)
                                .then( () =>{
                                    this.resetField()
                                    this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                        this.loadingTable = false
                                        this.showNotification()
                                    })
                                })
                            }else if(response.is_booked){
                                this.loadingTable = false
                                this.alertBooked = {
                                    date: this.moment(this.all_deliveryDate).format('L')
                                }
                                this.showAlertBooked = true
                                setTimeout( () =>{
                                    this.showAlertBooked = false
                                }, 3000)
                            } else {
                                this.loadingTable = false
                                this.alertMaxQuantity = {
                                    quantity: response.quantity,
                                    max_capacity: response.max_capacity,
                                    date: this.moment(this.all_deliveryDate).format('L')
                                }
                                this.showAlertMaxQuantity = true
                                setTimeout( () =>{
                                    this.showAlertMaxQuantity = false
                                }, 3000)
                            }
                        })
                    }else{
                        let all_qty = _.sumBy(this.deliveryDetail.items,(i)=>{return i.active_qty})
                        if(this.all_status.id == 3){
                            this.getDeliveryMaxCurrentQuantity({date: this.moment(this.all_delivery_method.type == 2 ? new Date() : this.all_deliveryDate).format('L'), store: this.all_store.store_id})
                            .then((response) => {
                                // if((response.quantity < 50 && (all_qty + response.quantity <= 50)) || (this.all_delivery_method.delivery_method_id != 'DM0010')){
                                if(((response.quantity < response.max_capacity && (1 + response.quantity <= response.max_capacity) && (response.is_booked == false)) || this.is_bypass_capacity_feature == true) || (this.all_delivery_method.delivery_method_id != 'DM0010')){
                                    this.setScheduleDeliveryBatch(this.$route.params.id)
                                    .then( () =>{
                                        this.resetField()
                                        this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                            this.loadingTable = false
                                            this.showNotification()
                                        })
                                    })
                                }else if(response.is_booked){
                                    this.loadingTable = false
                                    this.alertBooked = {
                                        date: this.moment(this.all_deliveryDate).format('L')
                                    }
                                    this.showAlertBooked = true
                                    setTimeout( () =>{
                                        this.showAlertBooked = false
                                    }, 3000)
                                } else {
                                    this.loadingTable = false
                                    this.alertMaxQuantity = {
                                        quantity: response.quantity,
                                        max_capacity: response.max_capacity,
                                        date: this.moment(this.all_deliveryDate).format('L')
                                    }
                                    this.showAlertMaxQuantity = true
                                    setTimeout( () =>{
                                        this.showAlertMaxQuantity = false
                                    }, 3000)
                                }
                            })
                        } else {
                            this.setScheduleDeliveryBatch(this.$route.params.id)
                            .then( () =>{
                                this.resetField()
                                this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                    this.loadingTable = false
                                    this.showNotification()
                                })
                            })
                        }
                    }
                }else{
                    this.setScheduleDeliveryBatch(this.$route.params.id)
                    .then( () =>{
                        this.resetField()
                        this.getDeliveryDetails(this.$route.params.id).then(() =>{
                            this.loadingTable = false
                            if(this.all_status != null){
                                this.showNotification()
                            }
                        })
                    })
                }
            },
            resetField(){
                this.all_store = null
                this.all_delivery_method = null
                this.all_status = null
                this.all_deliveryDate = null
            },
            setLocation(){
                let storeWarehouse = this.stores.filter(i => i.is_warehouse == true)
                this.deliveryDetail.items.forEach(v => {
                    if(v.store == null && v.status === '0'){
                        v.store = storeWarehouse[0]
                    }
                })
                this.all_store = storeWarehouse[0]
            },
            onClose(){
                this.popoverVisibility = 'focus'
            },
            setDeliveryLocation(data, store){
                this.submitChangelog({
                    note: `Change delivery location to <span class="text-blue">${store.store_name}</span> product <span class="text-blue text-uppercase">${data.model}</span>`
                })
            },
            submitChangelog(item){
                return new Promise((resolve, reject) =>{
                    this.postChangelog({
                        order_no : this.$route.params.id,
                        user_id : this.delivery.sales_person.user_id,
                        type: 1,
                        note : item.note
                    }).then( () =>{
                        resolve()
                    })
                })
            },
            getDateData(){
                let vm = this
                _.forEach(this.deliveryDetail.items, function(element) {
                    element.status == 0 ? vm.date[element.id] = null : vm.date[element.id] = element.deliveryDate == null?null:new Date(element.deliveryDate)
                })
            },
            // changeDeliveryStatus(item, $event){
            //     if($event){
            //         this.setDeliveryDate(item).then( () =>{
            //             this.updateDeliveryStatus({id: this.$route.params.id, data: item}).then( () =>{
            //                 this.getDeliveryDetails(this.$route.params.id)
            //             })
            //         })
            //     }
            // },
            // setDeliveryDate(item){
            //     return new Promise((resolve, reject) =>{
            //         item.deliveryDate = new Date(moment().tz('America/Chicago'))
            //         resolve()
            //     })
            // },
            changeDeliveryMethod(data){
                return new Promise((resolve, reject) => {
                    let temp_data = data
                    let indexDeliveryDetail = _.findIndex(this.deliveryDetail.items, {id: data.item.id})

                    if(data.item.deliveryDate != null){
                        this.setDeliveryMethod({
                            id: data.item.id,
                            delivery_method_id: data.item.deliveryMethod.delivery_method_id,
                            delivery_method_name: data.item.deliveryMethod.delivery_method_name
                        }).then(() => {
                            this.showAlert = false
                            if(data.item.model != undefined){
                                this.submitChangelog({
                                    note: `Change delivery method to <span class="text-blue">${data.item.deliveryMethod.delivery_method_name}</span> product <span class="text-blue text-uppercase">${data.item.model}</span>`
                                })
                            }
                            resolve()
                        })
                    }
                })
            },
            ...mapMutations('deliveryDetail', [
                'SET_DELIVERY_DETAIL_SELECTED',
                'SET_DELIVERY_DETAIL_PAGE',
                'SET_DELIVERY_DETAIL_ITEM',
                'SET_DELIVERY_METHOD_NULL',
            ]),
            ...mapActions('deliveryDetail', [
                'getDeliveryDetails',
                'setScheduleDelivery',
                'setDeliveryMethod',
                'subtmiDispatchTrack',
                'removeDeliveryDate',
                'updateDeliveryStatus',
                'setScheduleDeliveryBatch',
                'getDeliveryMaxCurrentQuantity',
                'postPastDate',
                'updatePastDate',
                'getDeliveryBooked',
                'postSerialNumber',
                'updateSerialNumber',
                'deleteSerialNumber',
            ]),
            setSelected(item, index) {
                this.SET_DELIVERY_DETAIL_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_DELIVERY_DETAIL_PAGE(value)
            },
            emitIndex() {
                this.$emit('getIndex', this.checkbox)
            },
            setDay(data, idx, $event){
                if(data.deliveryMethod.delivery_method_id == null){
                    this.showAlert = true
                    setTimeout( () =>{
                        this.showAlert = false
                    }, 3000)
                }else{
                    if(this.moment($event).format('L') != "Invalid date" || $event != undefined){
                        this.updateDeliveryDate(data, idx, $event)
                    }

                }
            },
            updateDeliveryDate(data, idx, $event, status){
                this.loadingTable = true
                let deliveryIdx = -1
                this._.forEach(this.deliveryDetail.items, function(item, key) {
                    if (idx == item.id) {
                        deliveryIdx = key
                    }
                })

                this.editDeliveryDate[idx] = false
                if(this.deliveryDetail.items[deliveryIdx].store != null){
                    this.getDeliveryMaxCurrentQuantity({date: this.moment($event ? $event : data.deliveryDate).format('L'), store: this.deliveryDetail.items[deliveryIdx].store.store_id})
                    .then((response) => {
                        if(((response.quantity < response.max_capacity && (1 + response.quantity <= response.max_capacity) && (response.is_booked == false)) || this.is_bypass_capacity_feature == true) || (this.deliveryDetail.items[deliveryIdx].deliveryMethod.delivery_method_id != 'DM0010')){
                            this.deliveryDetail.items[deliveryIdx].deliveryMethod = data.deliveryMethod
                            if (status == 0 || $event != '') {
                                this.deliveryDetail.items[deliveryIdx].deliveryDate = this.moment($event).format('L')
                            }
                            if ($event != '') {
                                this.deliveryDetail.items[deliveryIdx].status_selected.id == 0 ? this.deliveryDetail.items[deliveryIdx].status = 3 : this.deliveryDetail.items[deliveryIdx].status = this.deliveryDetail.items[deliveryIdx].status_selected.id
                            }
                            if(this.deliveryDetail.items[deliveryIdx].deliveryMethod.type == 2 && this.deliveryDetail.items[deliveryIdx].status == 0){
                                this.deliveryDetail.items[deliveryIdx].deliveryDate = null
                            }
                            this.setScheduleDelivery(this.order_no).then(() => {
                                this.getDeliveryDetails(this.$route.params.id).then(() => {
                                    // this.$set(this.editDeliveryDate, idx, false)
                                    // this.date[idx] = new Date()
                                    this.showAlert = false
                                    this.showNotification()
                                    // this.submitChangelog({
                                    //     note: `Change delivery status to <span class="text-blue text-uppercase">${this.deliveryDetail.items[deliveryIdx].deliveryMethod == null ? 'open' : this.deliveryDetail.items[deliveryIdx].deliveryMethod.type == 2 ? 'pending' : this.deliveryDetail.items[deliveryIdx].status_selected.name}</span> product <span class="text-blue text-uppercase">${this.deliveryDetail.items[deliveryIdx].model}</span>`
                                    // }).then(() =>{
                                    //     if(this.deliveryDetail.items[deliveryIdx].deliveryMethod){
                                    //         if(this.deliveryDetail.items[deliveryIdx].deliveryMethod.type != 2){
                                    //             this.submitChangelog({
                                    //                 note: `Set delivery date to <span class="text-blue">${this.moment(this.deliveryDetail.items[deliveryIdx].deliveryDate).format('L')}</span> product <span class="text-blue text-uppercase">${this.deliveryDetail.items[deliveryIdx].model}</span> with delivery method <span class="text-primary text-uppercase">${this.deliveryDetail.items[deliveryIdx].deliveryMethod.delivery_method_name}</span>`
                                    //             })
                                    //         }
                                    //     }
                                    // })
                                    let indexStore = this._.findIndex(this.stores, function(o) {
                                        return o.store_name.includes('Fenton')
                                    })

                                    for (let index = 0; index < this.deliveryDetail.items.length; index++) {
                                        let delivery_location = this.deliveryDetail.items[index].store
                                        !delivery_location ? this.deliveryDetail.items[index].store = this.stores[indexStore]:null
                                    }
                                    this.$store.dispatch('orderSchedule/getDeliveryCounter')
                                    this.loadingTable = false
                                    // if (this.deliveryDetail.items[deliveryIdx].deliveryMethod.delivery_method_name == 'Slyman Bros Local Delivery') {
                                    //     this.dispatchTrackAPISubmit(deliveryIdx, '0-3', '')
                                    // }
                                })
                            })
                        }else if(response.is_booked){
                            this.loadingTable = false
                            this.alertBooked = {
                                date: this.moment($event ? $event : data.deliveryDate).format('L')
                            }
                            this.showAlertBooked = true
                            setTimeout( () =>{
                                this.showAlertBooked = false
                            }, 3000)
                        } else {
                            this.loadingTable = false
                            this.alertMaxQuantity = {
                                quantity: response.quantity,
                                max_capacity: response.max_capacity,
                                date: this.moment($event).format('L')
                            }
                            this.showAlertMaxQuantity = true
                            setTimeout( () =>{
                                this.showAlertMaxQuantity = false
                            }, 3000)
                        }
                    })
                }else{
                    this.showAlertLocation = true
                    setTimeout( () =>{
                        this.showAlertLocation = false
                    }, 3000)
                }
            },
            dispatchTrackAPISubmit(deliveryIdx, from_to, change_log) {
                let data = this.deliveryDetail.items[deliveryIdx]
                // if (data.deliveryMethod.delivery_method_name == 'Slyman Bros Local Delivery') {
                    let note = ''
                    if (from_to == '0-3' || from_to == '0-2') {
                        note = '2 item model #'+ data.model +' has been added to Dispatch Track Order #' + this.delivery.order_no
                    } else if (from_to == '3-0') {
                        note = '2 item model #'+ data.model +' has been removed from Dispatch Track Order #' + this.delivery.order_no
                    } else if (from_to == '0-0') {
                        note = 'Item model #'+ data.model +' delivery method has been changed to '+ data.deliveryMethod.delivery_method_name +' and removed from Dispatch Track Order #' + this.delivery.order_no
                    }

                    this.subtmiDispatchTrack({
                        id: this.deliveryDetail.items[deliveryIdx].id,
                        store_id: this.deliveryDetail.items[deliveryIdx].store.store_id,
                        store_name: this.deliveryDetail.items[deliveryIdx].store.store_name,
                        from_to: from_to,
                        qty: this.deliveryDetail.items[deliveryIdx].qty,
                        type: 'delivery',
                        note: note,
                        change_log: change_log
                    })
                // }
            },
            updateRequestTime(idx){
                this.deliveryDetail.items[idx].requestTime = this.time.selected[idx]
                this.setScheduleDelivery(this.order_no).then(() => {
                    this.time.selected[idx] = null
                    // this.$set(this.editRequestTime, idx, false)
                    this.showAlert = false
                })
            },
            async toggleDelivery(data, idx){
                data['loading'] = true
                this.$forceUpdate()
                await this.getDeliveryBooked({
                    order_no: this.$route.params.id,
                    past_date : 0,
                    delivery_method_id: data.deliveryMethod.delivery_method_id
                })
                let deliveryIdx = -1
                this._.forEach(this.deliveryDetail.items, function(item, key) {
                    if (idx == item.id) {
                        deliveryIdx = key
                    }
                })

                if (!this.deliveryDetail.items[deliveryIdx].deliveryMethod.delivery_method_id) return this.showAlert = true
                this.date[idx] = new Date(data.deliveryDate)
                this.$set(this.editDeliveryDate, idx, true)
                data['loading'] = false
                this.$forceUpdate()
            },
            toggleRequestTime(data, idx){
                let deliveryIdx = _.findIndex(this.deliveryDetail.items, {id: data.id})

                if (!this.deliveryDetail.items[deliveryIdx].deliveryMethod.delivery_method_id) return this.showAlert = true
                this.$set(this.editRequestTime, deliveryIdx, true)
            },
            backIntoOpenDelivery(idx) {
                if (confirm('Are you sure?')) {
                    this.removeDeliveryDate({id: idx}).then(() => this.getDeliveryDetails(this.$route.params.id))
                }
            },
            showNotification(){
                this.changeStatusNotif = true
                this.setLocation()
                setTimeout( () =>{
                    this.changeStatusNotif = false
                }, 4000)
            },
            changeStatusSelected(index, item, dataSelected) {
                let filter = this.filltered_delivery[index]
                let indexDeliveryDetail = _.findIndex(this.deliveryDetail.items, {id: filter.id})
                this.statusSelected = item.name
                if (indexDeliveryDetail != -1) {
                    let data = this.deliveryDetail.items[indexDeliveryDetail]

                    if (data.status == 0) {
                        this.changeDeliveryMethod({
                            item: {
                                id: data.id,
                                deliveryMethod: data.deliveryMethod
                            }
                        }).then(() => {
                            if (data.status != item.id) {
                                if (!data.deliveryMethod.delivery_method_id) {
                                    return this.showAlert = true
                                } else if(!data.deliveryDate){
                                    this.showAlertDate = true
                                    setTimeout( () =>{
                                        this.showAlertDate = false
                                        // this.popoverVisibility = 'visible'
                                    }, 3000)
                                }else{
                                    data.status = item.id
                                    this.showNotification()
                                    this.updateDeliveryDate(data, data.id, '', data.status)
                                }
                            }
                        })
                    } else if (data.status == 1 || data.status == 4 || data.status == 3) {
                        if (data.status != item.id) {
                            this.loadingTable = true;
                            this.removeDeliveryDate({
                                id: data.id,
                                from_delivery_status: data.status,
                                delivery_status: item.id,
                                delivery_date: null,
                                item: dataSelected
                            })
                            .then(() => {
                                this.showNotification()
                                this.getDeliveryDetails(this.$route.params.id).then(() =>{
                                    this.loadingTable = false
                                })
                                this.SET_DELIVERY_METHOD_NULL(index);
                                this.submitChangelog({
                                    note: `Change delivery status to <span class="text-blue text-uppercase">${dataSelected.status_selected.name}</span> product <span class="text-blue text-uppercase">${dataSelected.model}</span>`
                                })
                            })
                        }
                    }
                }
            },
            openEditQty(index, data) {
                this.editQty[index] = !this.editQty[index]
                if(data){
                    let qty_data = []
                    for(let i = 1; i <= data.qty; i++){
                        qty_data.push(i)
                    }
                    data['qty_options'] = qty_data
                }
                this.$forceUpdate()
            },
            inputQty(row) {
                if (row.item.active_qty > row.item.qty) {
                    row.item.active_qty = row.item.qty
                }
                row.item.qty_options = []
                this.openEditQty(row.index)
            }
            // showModalDeliveryDate(){
            //     this.modalDeliveryDate= true
            // },
            // closeModalDeliveryDate(){
            //     this.modalDeliveryDate= false
            // },

        },
        props: {
            order_no: {
                type: String,
                default() {
                    return null
                }
            },
            disableDayOfWeek: {
                type: Object,
                default() {
                    return null
                }
            },
            open:{
                type: Boolean,
                default: false
            },
            closed:{
                type: Boolean,
                default: false
            },
            pending:{
                type: Boolean,
                default: false
            },
            inTransit:{
                type: Boolean,
                default: false
            },
            all:{
                type: Boolean,
                default: false
            },
            statusData:{
                type: Number,
                default: 0
            },
            returned:{
                type: Boolean,
                default: false
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-modal': Modal,
            'app-select': Select,
            'p-check' : PrettyCheck,
            Lightbox,
        }
    }
</script>

<style>
.form-delivery .tab-pane{
    position: static;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
}
</style>
