<template>
    <div>
        <app-table :items="delivery.items" :fields="delivery.fields" @row-clicked="setSelected" hover show-empty>
            <template slot="order" slot-scope="data">
                <a href="#">{{ data.item.order_no }}</a>
            </template>
            <template slot="customer" slot-scope="data">
                {{ data.item.order.bill_name }}
            </template>
            <template slot="deliveryDate" slot-scope="data">
                {{ data.item.delivery_date }}
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="delivery.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="delivery.meta.total" v-model="delivery.meta.current_page" :per-page="delivery.meta.per_page" @change="setPage" v-if="delivery.items && delivery.meta.last_page > 1"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'

    export default {
        destroyed() {
            this.SET_DELIVERY_SELECTED(null)
        },
        data() {
            return {
                perpage: 10
            }
        },
        computed: {
            ...mapState('delivery', {
                delivery: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        page: state.page
                    }
                }
            }),
        },
        watch: {
            'delivery.page': function() {
                this.getDeliveries({
                    search: this.search,
                    perpage: this.perpage
                })
            }
        },
        methods: {
            ...mapMutations('delivery', [
                'SET_DELIVERY_SELECTED',
                'SET_DELIVERY_PAGE'
            ]),
            ...mapActions('delivery', [
                'getDeliveries'
            ]),
            setSelected(item, index) {
                this.SET_DELIVERY_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_DELIVERY_PAGE(value)
            },
            setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_DELIVERY_PAGE(1)
            this.getDeliveries({
                search: this.search,
                perpage: this.perpage
            })
        },
        },
        props: {
            search: {
                type: String,
                default: null
            }
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total':TotalRecord
        }
    }
</script>

<style>

</style>
