<template>
    <div>
        <app-table :items="employee.items" :fields="employee.fields" @row-clicked="setSelected" show-empty>
            <template slot="default_store" slot-scope="row">
                <div>{{ row.item.store ? row.item.store.store_name:'' }}</div>
            </template>
        </app-table>
        <app-pagination align="right" :total-rows="employee.meta.total" v-model="employee.meta.current_page" :per-page="employee.meta.per_page" @change="setPage" v-if="employee.items && employee.meta.last_page > 1"/>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'

    export default {
        destroyed() {
            this.SET_EMPLOYEE_SELECTED(null)
        },
        computed: {
            ...mapState('employee', {
                employee: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                },
                page: state => state.page
            }),
        },
        watch: {
            page(){
                this.getEmployees({
                    search: this.$attrs.search
                })
            }
        },
        methods: {
            ...mapMutations('employee', [
                'SET_EMPLOYEE_SELECTED',
                'SET_EMPLOYEE_PAGE'
            ]),
            ...mapActions('employee',['getEmployees']),
            setSelected(item, index) {
                this.SET_EMPLOYEE_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_EMPLOYEE_PAGE(value)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination
        }
    }
</script>

<style>

</style>
