<template>
    <div>
        <b-alert variant="info" :show="install.existing.length > 0">
            Install that can not be selected is already exists in your order
        </b-alert>
        <app-table :items="install.items" :fields="install.fields.filter(o => o.key != 'action' && o.key != 'category')" @row-clicked="setSelected" hover show-empty>
            <template slot="install_name" slot-scope="data">
                <template v-if="order">
                    <!-- <div v-if="install.selected.length != 0"> -->
                    <div class="disabled-row" v-if="_.findIndex(install.existing, (item) => { return item.install_id == data.item.install_id }) != -1">{{ data.item.install_name }} <i class="fas fa-check text-success"></i></div>
                    <template v-else-if="install.selected != null">
                        <template v-if="_.findIndex(install.selected, (item) => { return item.install_id == data.item.install_id }) != -1">{{ data.item.install_name }} <i class="fas fa-check text-success"></i></template>
                        <template v-else>{{ data.item.install_name }}</template>
                    </template>
                    <template v-else>{{ data.item.install_name }}</template>
                </template>
                <template v-else>{{ data.item.install_name }}</template>
            </template>
            <template slot="install_price" slot-scope="data">
                <div class="disabled-row" v-if="_.findIndex(install.existing, (item) => { return item.install_id == data.item.install_id }) != -1" v-money>{{data.item.install_price}}</div>
                <span v-money v-else>{{ data.item.install_price }}</span>
            </template>
            <template slot="description" slot-scope="data">
                <div class="disabled-row" v-if="_.findIndex(install.existing, (item) => { return item.install_id == data.item.install_id }) != -1">{{data.item.description}}</div>
                <span v-else>{{ data.item.description }}</span>
            </template>
        </app-table>
        <app-pagination align="right" :total-rows="install.meta.total" :per-page="install.meta.per_page" @change="setPage" v-if="install.items && pagination == true"/>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import _ from 'lodash'

    export default {
        computed: {
            ...mapState('install', {
                install: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        page: state.page,
                        selected: state.selected,
                        existing: state.existing
                    }
                }
            }),
        },
        props: {
            pagination: {
                type: Boolean,
                default: true
            },
            order: {
                type: Boolean,
                default: false
            }
        },
        watch: {
            'install.page': function() {
                if(this.pagination == true) {
                    this.getInstalls()
                }
            }
        },
        methods: {
            ...mapMutations('install', [
                'SET_INSTALL_SELECTED',
                'SET_INSTALL_PAGE'
            ]),
            ...mapActions('install', [
                'getInstalls'
            ]),
            setSelected(item, index) {
                // this.SET_INSTALL_SELECTED(item)
                let checkExisting = _.findIndex(this.install.existing, (v) =>{
                    return v.install_id == item.install_id
                })
                if(checkExisting != 0){
                    this.$emit('row-clicked', item)
                }
            },
            setPage(value) {
                this.SET_INSTALL_PAGE(value)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination
        }
    }
</script>

<style>

</style>
