<template>
    <div>
        <div class="form-group">
            <div class="icon icon-left">
                <input type="text" class="form-control form-icon" v-width="'250px'" placeholder="Type Model" v-model="product_id" @keyup="search">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <app-table :items="inventory.items" :fields="fields" @row-clicked="setSelected" hover show-empty>
            <template slot="unit_cost" slot-scope="data">
                <span v-money :key="data.item.unit_cost">{{ data.item.unit_cost }}</span>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="inventory.meta" @itemPerPage="setPerPage" />
            <app-pagination align="right" :total-rows="inventory.meta.total" v-model="inventory.meta.current_page" :per-page="inventory.meta.per_page" @change="setPage" v-if="inventory.items && inventory.meta.last_page > 1"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'
    import _ from 'lodash'

    export default {
        data(){
            return{
                product_id: '',
                fields: [
                    {
                        key: 'location',
                        label: 'Location'
                    },
                    {
                        key: 'model',
                        label: 'Model #'
                    },
                    {
                        key: 'condition',
                        label: 'Condition'
                    },
                    {
                        key: 'brand',
                        label: 'Brand'
                    },
                    {
                        key: 'availableStock',
                        label: 'Available Stock'
                    },
                    {
                        key: 'pendingStock',
                        label: 'Pending Stock'
                    },
                    {
                        key: 'backOrderStock',
                        label: 'Back Order Stock'
                    },
                    {
                        key: 'unit_cost',
                        label: 'Unit Cost'
                    },
                ],
                perpage: 10
            }
        },
        // props:{
        //     location_id:{
        //         type: String
        //     },
        //     available_condition:{
        //         type: String
        //     },
        //     brand:{
        //         type: String
        //     },
        //     category_name:{
        //         type: String
        //     },
        //     subcategory_name:{
        //         type: String
        //     },
        //     detail_category_name:{
        //         type: String
        //     }
        // },
        watch: {
            page(){
                this.getResponse()
            },
            // location_id() {
            //     this.generateCurrentInventory()   
            // },
            // available_condition() {
            //     this.generateCurrentInventory()   
            // },
            // brand() {
            //     this.generateCurrentInventory()   
            // },
            // category_name() {
            //     this.generateCurrentInventory()   
            // },
            // subcategory_name() {
            //     this.generateCurrentInventory()   
            // },
            // detail_category_name() {
            //     this.generateCurrentInventory()   
            // },
        },
        destroyed() {
            this.SET_INVENTORY_SELECTED(null)
        },
        computed: {
            ...mapState('inventory', {
                inventory: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                },
                page: state => state.page
            }),
        },
        methods: {
            ...mapMutations('inventory', [
                'SET_INVENTORY_SELECTED',
                'SET_INVENTORY_PAGE'
            ]),
            ...mapActions('inventory', 
                ['fillterCurentInventory','getInventories']
            ),
            setPerPage(value){
                this.perpage = value
                this.$emit('set-perpage', value)
                this.page == 1 ? this.getResponse():''
                this.SET_INVENTORY_PAGE(1)
            },
            // generateCurrentInventory() {
            //     this.fillterCurentInventory({
            //         location_id: this.location_id,
            //         available_condition: this.available_condition,
            //         brand: this.brand,
            //         category_name: this.category_name,
            //         subcategory_name: this.subcategory_name,
            //         detail_category_name: this.detail_category_name,
            //     })
            // },
            setSelected(item, index) {
                this.SET_INVENTORY_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_INVENTORY_PAGE(value)
            },
            search: _.debounce(function (e) {
                this.page == 1 ? this.getResponse(1): this.SET_INVENTORY_PAGE(1)
            }, 1000),
            getResponse(){
                this.getInventories({
                    product_id: this.product_id,
                    perpage: this.perpage
                })
            }
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total':TotalRecord
        }
    }
</script>

<style>

</style>
