<template>
    <div>
        <app-table :items="data.data" :fields="fields" :busy="loadingTable" show-empty hover @row-clicked="setSelected">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="data.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="data.data.length > 0 && data.meta.last_page > 1"  align="right" :total-rows="data.meta.total" :per-page="data.meta.per_page" @change="setPage" v-model="data.meta.current_page"></app-pagination>
        </div>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
import moment from 'moment'

export default {
    data: function(){
        return{
            fields: [ 'name', 'email', 'city'],
            perpage: 10,
        }
    },
    computed: {
        ...mapState('kitchenUploads', {
            data: state => state.data,
            page: state => state.page
        }),
        ...mapState(['loadingTable'])
    },
    watch: {
         page(){
            if(this.$route.name == 'online-kitchen-uploads-pending'){
                this.getKitchenUploads({
                    status: 'pending',
                    perpage: this.perpage
                })
            } else if(this.$route.name == 'online-kitchen-uploads-approved') {
                this.getKitchenUploads({
                    type: 'approved',
                    perpage: this.perpage
                })
            } else{
                this.getKitchenUploads({
                    type: 'rejected',
                    perpage: this.perpage
                })
            }
        }
    },
    methods: {
        ...mapActions('kitchenUploads', ['getKitchenUploads']),
        ...mapMutations('kitchenUploads', ['SET_PAGE']),
        setSelected(item){
            this.$router.push({ name: 'online-kitchen-uploads-edit-id', params: {'id': item.id}})
        },
        setPage(val) {
            this.SET_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_PAGE(1)
            if(this.$route.name == 'online-kitchen-uploads-pending'){
                this.getKitchenUploads({
                    status: 'pending',
                    perpage: this.perpage
                })
            } else if(this.$route.name == 'online-kitchen-uploads-approved') {
                this.getKitchenUploads({
                    type: 'approved',
                    perpage: this.perpage
                })
            } else{
                this.getKitchenUploads({
                    type: 'rejected',
                    perpage: this.perpage
                })
            }
        },
        
    },
    
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
    }
}
</script>
<style scoped>
    
</style>



