<template>
    <div>
        <app-table :items="leaderboard.items" :busy="loadingTable" :fields="leaderboard.fields" @row-clicked="setSelected" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="rank" slot-scope="data">
                {{ data.index + 1 }}
            </template>
            <template slot="revenue" slot-scope="data">
                <span v-money :key="data.item.revenue">{{ data.item.revenue }}</span>
            </template>
            <template slot="returnRevenue" slot-scope="data">
                <span v-money :key="data.item.returnRevenue">{{ data.item.returnRevenue }}</span>
            </template>
            <template slot="netRevenue" slot-scope="data">
                <span v-money :key="data.item.netRevenue">{{ data.item.netRevenue }}</span>
            </template>
        </app-table>
        <!-- <div class="d-flex justify-content-between align-items-center">
            <app-total :data="leaderboard.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="leaderboard.meta.total" v-model="leaderboard.meta.current_page" :per-page="leaderboard.meta.per_page" @change="setPage" v-if="leaderboard.items && leaderboard.meta.last_page > 1"/>
        </div> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'

    export default {
        destroyed() {
            this.SET_LEADERBOARD_SELECTED(null)
        },
        data() {
            return {
                perpage: 10
            }
        },
        computed: {
            ...mapState('leaderboard', {
                leaderboard: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                },
                page: state => state.page
            }),
            ...mapState(['loadingTable'])
        },
        watch:{
            page(){
                this.getResponse()
            }
        },
        methods: {
            ...mapMutations('leaderboard', [
                'SET_LEADERBOARD_SELECTED',
                'SET_LEADERBOARD_PAGE'
            ]),
            ...mapActions('leaderboard', [
                'getLeaderboards'
            ]),
            setSelected(item, index) {
                this.SET_LEADERBOARD_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.page == 1 ? this.getResponse():''
            this.SET_LEADERBOARD_PAGE(1)
            },
            setPage(value) {
                this.SET_LEADERBOARD_PAGE(value)
            },
            getResponse(){
                this.getLeaderboards({
                    month: this.$attrs.month,
                    year: this.$attrs.year,
                    perpage: this.perpage
                })
            }
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total':TotalRecord
        }
    }
</script>

<style>

</style>
