<template>
    <div>
        <app-table :items="liveFeed.items" :busy="loadingTable" class="table-top" @row-clicked="setSelected" :fields="liveFeed.fields" small style="cursor: pointer;"
         show-empty>
            <template slot="invoice_number" slot-scope="row">
                <div class="d-flex align-items-center">
                    <i class="fas fa-circle text-primary fa-lg mr-3" v-if="row.item.is_new"></i>
                    <p class="mb-0 font-weight-bold" :key="row.item.invoice_number">{{ row.item.invoice_number }}</p>
                </div>
                <!-- <a href="#" class="d-flex align-items-center ml-5 mt-4" @click.prevent="row.toggleDetails">
                    <div>{{ row.detailsShowing ? 'Hide' : 'Show'}}  order detail</div>
                    <i class="fas fa-chevron-down icon-transition ml-2" :class="row.detailsShowing ? 'fa-rotate-180' : ''"></i>
                </a> -->
            </template>
            <template slot="invoice_date" slot-scope="row">
                <p class="mb-0 font-weight-bold"  :key="row.item.invoice_date">{{ row.item.invoice_date }}</p>
            </template>
            <template slot="store" slot-scope="row">
                <p class="mb-0 font-weight-bold" :key="row.item.store">{{ row.item.store }}</p>
            </template>
            <template slot="sales_person" slot-scope="row">
                <p class="mb-0 font-weight-bold" :key="row.item.sales_person">{{ row.item.sales_person }}</p>
            </template>
            <template slot="customer" slot-scope="row">
                <p class="mb-0 font-weight-bold" :key="row.item.customer">{{ row.item.customer }}</p>
            </template>
            <template slot="sub_total" slot-scope="row">
                <p v-money class="mb-0 font-weight-bold" :key="row.item.sub_total">{{ row.item.sub_total }}</p>
            </template>
            <template slot="warranty_total" slot-scope="row">
                <p v-money class="mb-0 font-weight-bold" :key="row.item.warranty_total">{{ row.item.warranty_total }}</p>
            </template>
            <template slot="install_total" slot-scope="row">
                <p v-money class="mb-0 font-weight-bold" :key="row.item.install_total">{{ row.item.install_total }}</p>
            </template>
            <template slot="tax_total" slot-scope="row">
                <p v-money class="mb-0 font-weight-bold" :key="row.item.tax_total">{{ row.item.tax_total }}</p>
            </template>
            <template slot="grand_total" slot-scope="row">
                <p v-money class="mb-0 font-weight-bold" :key="row.item.grand_total">{{ row.item.grand_total }}</p>
            </template>


            <!-- DETAIL ROW -->
            <template v-slot:row-details="row">
                <div class="ml-5" style="cursor: default;">
                    <p class="font-weight-bold">Order details</p>
                    <app-table striped outlined small :items="row.item.detail" :fields="fields" show-empty>
                        <template slot="item" slot-scope="row">
                            <p class="mb-0" :key="row.item.item">{{ row.item.item }}</p>
                        </template>
                        <template slot="qty" slot-scope="row">
                            <p class="mb-0" :key="row.item.qty">{{ row.item.qty }}</p>
                        </template>
                        <template slot="price" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.price">{{ row.item.price }}</p>
                        </template>
                        <template slot="total_price" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.total_price">{{ row.item.total_price }}</p>
                        </template>
                        <template slot="warranty" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.warranty">{{ row.item.warranty }}</p>
                        </template>
                        <template slot="install" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.install">{{ row.item.install }}</p>
                        </template>
                        <template slot="tax" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.tax">{{ row.item.tax }}</p>
                        </template>
                        <template slot="item_total" slot-scope="row">
                            <p class="mb-0" v-money  :key="row.item.item_total">{{ row.item.item_total }}</p>
                        </template>
                    </app-table>
                </div>
            </template>
            <!-- FOOTER -->
            <!-- <template slot="FOOT_customer_name" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_invoice" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_invoice_date" slot-scope="row"><div :key="row.label">Total</div></template>
            <template slot="FOOT_balance_due" slot-scope="row"><div :key="account_receivable.meta.total_balance_due" v-money >{{account_receivable.meta.total_balance_due}}</div></template>
            <template slot="FOOT_firstMonth" slot-scope="row">
                <div v-money :key="account_receivable.meta.total_firstMonth">{{account_receivable.meta.total_firstMonth}}</div>
            </template>
            <template slot="FOOT_secondMonth" slot-scope="row">
                <div :key="account_receivable.meta.total_secondMonth" v-money>{{account_receivable.meta.total_secondMonth}}</div>
            </template>
            <template slot="FOOT_thirdMonth" slot-scope="row">
                <div :key="account_receivable.meta.total_thirdMonth" v-money>{{account_receivable.meta.total_thirdMonth}}</div>
            </template>
            <template slot="FOOT_moreMonths" slot-scope="row">
                <div :key="account_receivable.meta.total_moreMonths" v-money>{{account_receivable.meta.total_moreMonths}}</div>
            </template> -->
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="liveFeed.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="liveFeed.meta.total" v-model="liveFeed.meta.current_page" :per-page="liveFeed.meta.per_page" @change="setPage" v-if="liveFeed.items && liveFeed.meta.last_page > 1"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'

    export default {
        destroyed() {
            
        },
        data() {
            return {
                fields: ['item', 'qty', 'price', 'total_price', 'warranty', 'install', 'tax', 'item_total', 'delivery_date']
            }
        },
        computed: {
            ...mapState('liveFeed', {
                liveFeed: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                }
            }),
            ...mapState(['loadingTable'])
        },
        methods: {
            ...mapMutations('liveFeed',['SET_LIVE_FEED_PAGE','SET_LIVE_FEED_PERPAGE']),
            setSelected(item, index) {
                localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                this.$router.push({
                    name: 'my-orders-edit-id', params: { id: item.invoice_number }
                })
            },
            setPage(value) {
                this.SET_LIVE_FEED_PAGE(value)
                this.$parent.getLiveFeed(false)
            },
            setPerPage(value){
                this.SET_LIVE_FEED_PERPAGE(value)
                this.$parent.getLiveFeed()
                // this.liveFeed.meta.current_page == 1 ? this.$parent.getLiveFeed() : this.SET_LIVE_FEED_PAGE(1)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total': TotalRecord
        }
    }
</script>

<style>

</style>
