<template>
    <div>
        <app-table :items="location.items" :fields="location.fields" @row-clicked="setSelected" show-empty>
            <template slot="manager" slot-scope="row">
                <p>{{ row.item.user ? row.item.user.fullname:'' }}</p>
            </template>
        </app-table>
        <app-pagination align="right" :total-rows="location.meta.total" v-model="location.meta.current_page" :per-page="location.meta.per_page" @change="setPage" v-if="location.items && location.meta.last_page > 1"/>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'

    export default {
        destroyed() {
            this.SET_LOCATION_SELECTED(null)
        },
        computed: {
            ...mapState('location', {
                location: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                    }
                },
                page: state => state.page
            }),
        },
        methods: {
            ...mapMutations('location', [
                'SET_LOCATION_SELECTED',
                'SET_LOCATION_PAGE'
            ]),
            setSelected(item, index) {
                this.SET_LOCATION_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_LOCATION_PAGE(value)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination
        }
    }
</script>

<style>

</style>
