<template>
    <div>
        <app-table :items="order.items" :fields="order.fields" :busy="loadingTable" @row-clicked="setSelected" hover show-empty foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="order_date" slot-scope="row">
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" class="d-inline-block px-3 py-1 text-dark ml-n3" @click="row.toggleDetails">
                        <i class="fas" :class="row.item._showDetails ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    </a>
                    <span>{{row.item.order_date}}</span>
                </div>
            </template>
             <template v-slot:row-details="row">
                 <div class="row ml-2">
                     <div class="col-md-4">
                        <table class="table table-sm table-detail">
                            <thead>
                                <tr>
                                    <th>Model Number</th>
                                    <th>Quantity</th>
                                    <th>Scheduled Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="row.item.scheduled.length > 0">
                                    <tr v-for="(item, indexItem) in row.item.scheduled" :key="indexItem">
                                        <td>{{item.model_number}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.schedule_date}}</td>
                                    </tr>
                                </template>
                                <tr v-else>
                                    <td colspan="3" class="text-center">There are no records to show</td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                 </div>
            </template>
            <template slot="order_no" slot-scope="data">
                <div class="d-flex align-items-center">
                    <span class="text-primary">{{ data.item.order_no }}</span>
                    <i class="fas fa-home text-success ml-2" v-if="data.item.house_deal == 1"></i>
                </div>
            </template>
            <template slot="schedule_date" slot-scope="data">
                {{ data.item.scheduled }}
            </template>
            <template slot="total" slot-scope="data">
                <span :key="data.item.total" v-money>{{ data.item.total }}</span>
            </template>
            <!-- <template slot="scheduled" slot-scope="data">
                <span v-html="data.item.scheduled" @click.stop></span>
            </template> -->
            <!-- <template slot="balance_due" slot-scope="data">
                <span :class="{ 'text-success': data.item.balance_due == 0 && data.item.payment > 0, 'text-danger': (data.item.balance_due > 0) || (data.item.balance_due == 0 && data.item.payment == 0) }" v-money>{{ data.item.balance_due }}</span>
            </template> -->
            <template slot="FOOT_order_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_order_no" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_bill_name" slot-scope="row"><div :key=" row.field.label"></div></template>
            <template slot="FOOT_bill_phone_number" slot-scope="row"><div :key=" row.field.label">Total</div></template>
            <template slot="FOOT_total" slot-scope="row">
                <div :key="row.field.label">
                    <span v-money :key="order.meta.sum_total">{{ order.meta.sum_total }}</span>
                </div>
            </template>
            <template slot="FOOT_balance_due" slot-scope="row">
                <span :key="row.field.label">
                    <span v-money :key="order.meta._sum_balance_due">{{ order.meta.sum_balance_due }}</span>
                </span>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="order.meta" @itemPerPage="setPerPage"/>
            <app-pagination align="right" :total-rows="order.meta.total" v-model="order.page" :per-page="order.meta.per_page" @change="setPage" v-if="order.items && order.meta.last_page > 1"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
    import TotalRecord from '@/components/utilities/TotalRecord'
    Array.prototype.insert = function ( index, item ) {
        this.splice( index, 0, item );
    };

    export default {
        destroyed() {
            this.SET_ORDER_SELECTED(null)
            this.SET_ORDER_PAGE(1)
        },
        data() {
            return {
                perpage: 10
            }
        },
        created() {
            if (this.order.fields.length == 6) {
                this.order.fields.splice(2, 1)
            }
        },
        computed: {
            ...mapState('order', {
                order: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        selected: state.selected,
                        page: state.page,
                        filter: state.filter
                    }
                }
            }),
            ...mapState(['loadingTable'])
        },
        props: {
            search: {
                type: String
            },
            start: {
                type: Date
            },
            end: {
                type: Date
            },
            house_deal: {
                type: Boolean
            },
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_SELECTED',
                'SET_ORDER_PAGE'
            ]),
            ...mapActions('order', ['getOrders']),
            setSelected(item, index) {
                this.SET_ORDER_SELECTED(item)
                localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                this.$router.push({
                    name: 'my-orders-edit-id', params: { id: this.order.selected.order_no }
                })
            },
            setPage(value) {
                this.SET_ORDER_PAGE(value)
                this.getResponse()
            },
            getResponse(){
                let start = this.start ? this.moment(this.start).format('Y-MM-DD'): ''
                let end = this.end ? this.moment(this.end).format('Y-MM-DD'): ''
                if(this.$route.name == "my-orders-index-all"){
                    this.getOrders({
                        search: this.search, 
                        status: '', 
                        perpage: this.perpage, 
                        start: start, 
                        end: end, 
                        has_reserved: this.order.filter.has_reserved,
                        has_no_tag: this.order.filter.has_no_tag,
                        house_deal: this.house_deal,
                        page: this.order.page
                    })
                }else if(this.$route.name == "my-orders-index-schedule-delivery"){
                    this.getOrders({
                        search: this.search, 
                        status: 'open', perpage: 
                        this.perpage, 
                        start: start, 
                        end: end,
                        has_reserved: this.order.filter.has_reserved,
                        has_no_tag: this.order.filter.has_no_tag,
                        house_deal: this.house_deal,
                        page: this.order.page
                    })
                } else if (this.$route.name == "my-orders-index-delivered"){
                    this.getOrders({
                        search: this.search, 
                        status: 'closed', 
                        perpage: this.perpage, 
                        start: start, 
                        end: end,
                        has_reserved: this.order.filter.has_reserved,
                        has_no_tag: this.order.filter.has_no_tag,
                        house_deal: this.house_deal,
                        page: this.order.page
                    }) 
                } else if(this.$route.name == "my-orders-index-pending-delivery"){
                    this.getOrders({
                        search: this.search, 
                        status: 'completed', 
                        perpage: this.perpage, 
                        start: start, 
                        end: end,
                        has_reserved: this.order.filter.has_reserved,
                        has_no_tag: this.order.filter.has_no_tag,
                        house_deal: this.house_deal,
                        page: this.order.page
                    }) 
                }
            },
            setPerPage(value){
                this.perpage = value
                this.$emit('set-perpage', value)
                this.SET_ORDER_PAGE(1)
                this.getResponse()
            }
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination,
            'app-total':TotalRecord
        }
    }
</script>

<style>

</style>
