<template>
    <app-table
        class="long-table"
        responsive
        show-empty
        :sticky-header="true"
        :no-border-collapse="true"
        :items="previewItems"
        :fields="previewFields"
        :head-variant="'light'"
    >
        <template slot="HEAD_product_model" slot-scope="data">
            <div :key="data.field.label" style="width: 120px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_phone_number" slot-scope="data">
            <div :key="data.field.label" style="width: 225px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_name" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_address" slot-scope="data">
            <div :key="data.field.label" style="width: 150px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_city" slot-scope="data">
            <div :key="data.field.label" style="width: 100px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_state" slot-scope="data">
            <div :key="data.field.label" style="width: 100px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_ship_postal_code" slot-scope="data">
            <div :key="data.field.label" style="width: 125px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_order_no" slot-scope="data">
            <div :key="data.field.label" style="width: 75px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_delivery_date" slot-scope="data">
            <div :key="data.field.label" style="width: 100px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_note1" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_note2" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_note3" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_mfg" slot-scope="data">
            <div :key="data.field.label" style="width: 100px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_billing_phone" slot-scope="data">
            <div :key="data.field.label" style="width: 170px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_billing_name" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_store_name" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_install" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
        <template slot="HEAD_sales_person" slot-scope="data">
            <div :key="data.field.label" style="width: 200px;">
                {{data.field.label}}
            </div>
        </template>
    </app-table>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import {mapState} from 'vuex'
export default {
    computed:{
        ...mapState('orderSchedule', {
            previewFields: state => state.preview.fields,
            previewItems: state => state.preview.items
        }),
    },
    components: {
        'app-table' : Table
    }
}
</script>

<style>

</style>