<template>
    <div>
        <app-table :items="items" :fields="fields" :busy="loadingTable" show-empty hover @row-clicked="setSelected" class="table__clone-header" foot-clone>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <!-- <template v-slot:thead-top>
                <b-tr>
                    <b-th variant="light" colspan="4"></b-th>
                    <b-th variant="light">Total</b-th>
                    <b-th variant="light"><div :key="meta.sum_total" v-money>{{ meta.sum_total }}</div></b-th>
                    <b-th variant="light"><div :key="meta.sum_deposit" v-money>{{ meta.sum_deposit }}</div></b-th>
                    <b-th variant="light"><div :key="meta.sum_balance_due" v-money>{{ meta.sum_balance_due }}</div></b-th>
                </b-tr>
            </template> -->
            <template slot="date" slot-scope="row">
                <p class="mb-0">{{ row.item.quote_date }}</p>
            </template>
            <template slot="quote" slot-scope="row">
                <div class="d-flex align-items-center">
                    <p class="mb-0 mr-2">{{ row.item.quote_no }}</p>
                    <div class="badge badge-success" v-if="row.item.online_quotes === '1' ">Online</div>
                </div>
            </template>
            <template slot="customer" slot-scope="row">
                <p class="mb-0">{{ row.item.customer }}</p>
            </template>
            <template slot="store_location" slot-scope="row">
                <p class="mb-0">{{ row.item.store.store_name }}</p>
            </template>
            <template slot="expiration_date" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span :class="{'text-danger': row.item.is_expired}" 
                        class="d-flex align-items-center centered-badge" 
                        v-html="$options.filters.inExpired(row.item.valid_quote_date, row.item.payment_count)">
                    </span>
                    <a style="padding-left: 20px" href="javascript:void(0)" 
                        v-if="(moment(row.item.valid_quote_date, ['MM-DD-YYYY', 'YYYY-MM-DD']).diff(moment(), 'days') + 1) < 0 && $route.name != 'my-quotes-index-active'" 
                        @click="openModal(row.item.quote_no)"><i class="fa fa-calendar"></i> Renew</a>
                </div>
            </template>
            <template slot="total" slot-scope="row">
                <p v-money :key="row.item.total" class="mb-0">{{ row.item.total }}</p>
            </template>
            <template slot="deposit" slot-scope="row">
                <p v-money :key="row.item.deposit" class="mb-0">{{ row.item.deposit }}</p>
            </template>
            <template slot="balance_due" slot-scope="row">
                <p v-money :key="row.item.balance_due" class="mb-0">{{ row.item.balance_due }}</p>
            </template>

            <template slot="FOOT_date" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_quote" slot-scope="row"><div :key="row.field.label"></div></template>
            <template slot="FOOT_customer" slot-scope="row"><div :key=" row.field.label"></div></template>
            <template slot="FOOT_store_location" slot-scope="row"><div :key=" row.field.label"></div></template>
            <template slot="FOOT_expiration_date" slot-scope="row"><div :key=" row.field.label">Total</div></template>
            <template slot="FOOT_total" slot-scope="row"><div :key="row.field.label" v-money>{{ meta.sum_total }}</div></template>
            <template slot="FOOT_deposit" slot-scope="row"><div :key="row.field.label" v-money>{{ meta.sum_deposit }}</div></template>
            <template slot="FOOT_balance_due" slot-scope="row"><div :key="row.field.label" v-money>{{ meta.sum_balance_due }}</div></template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="items.length > 0 && meta.last_page > 1"  align="right" :total-rows="meta.total" :per-page="meta.per_page" @change="setPage" v-model="meta.current_page"></app-pagination>
        </div>  

        <app-modal title="Change the Expiration Date" centered v-model="showModal">
            <div class="form-group">
				<label>Date</label>
				<div class="icon icon-left">
					<no-ssr>
						<app-datepicker mode="single" :min-date="new Date()" v-model="expiredDate" is-required>
							<template :type='inputState.type' slot-scope='{ inputValue }'>
								<div class="icon icon-right">
									<input type="text" id="date" class="form-control form-icon" :value='inputValue'
										readonly>
									<i class="far fa-calendar-alt text-primary"></i>
								</div>
							</template>
						</app-datepicker>
					</no-ssr>
				</div>
			</div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <div class="btn btn-danger" @click="showModal = false">Cancel</div>
                    <div class="btn btn-outline-primary" @click.prevent="updateExpired">Save</div>
                </div>
            </div>
        </app-modal>      
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
 
import moment from 'moment'

export default {
    data: function(){
        return{
            fields: [ 'date', 'quote', 'customer', 
            {
                key: 'store_location',
                label: 'Location'
            }, 
            {
                key:'expiration_date',
                label: 'Expires On'
            },
            , 'total', 'deposit', 'balance_due' ],
            showModal: false,
            quote_no: '',
            expiredDate: new Date(),
            perpage: 10
        }
    },
    computed: {
        ...mapState('quote', {
            items: state => state.items,
            meta: state => state.meta,
            page: state => state.page,
            quote(state) {
                return {
                    selected: state.selected
                }
            }
        }),
        ...mapState(['loadingTable'])
    },
    props: {
        search: {
            type: String
        }
    },
    watch: {
        page(){
            if(this.$route.name == 'my-quotes-index-active'){
                this.getQuotes({
                    search : this.search,
                    type: 'active',
                    perpage: this.perpage
                })
            } else {
                this.getQuotes({
                    search : this.search,
                    type: 'expired',
                    perpage: this.perpage
                })
            }
        }
    },
    methods: {
        ...mapActions('quote', ['getQuotes', 'changeExpiredDate']),
        ...mapMutations('quote', [
            'SET_QUOTE_PAGE',
            'SET_QUOTE_SELECTED'
        ]),
        setPage(val) {
            this.SET_QUOTE_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_QUOTE_PAGE(1)
            if(this.$route.name == 'my-quotes-index-active'){
                this.getQuotes({
                    search : this.search,
                    type: 'active',
                    perpage: this.perpage
                })
            } else {
                this.getQuotes({
                    search : this.search,
                    type: 'expired',
                    perpage: this.perpage
                })
            }
        },
        setSelected(item, index, event){
            let element = event.srcElement.nodeName
            
            if (element == 'A') {
                this.quote_no = item.quote_no
                this.expiredDate = new Date(item.valid_quote_date)
                this.showModal = true
            } else {
                // this.$emit('row-clicked')
                this.SET_QUOTE_SELECTED(item)
                localStorage.setItem('history-route-quote', this.$route.name)
                this.$router.push({
                    name: 'my-quotes-edit-id', params: { id: this.quote.selected.quote_no }
                })
            }
        },
        openModal(quote_no) {
            this.showModal = true
            this.quote_no = quote_no 
        },
        updateExpired() {
            this.changeExpiredDate({
                quote_no: this.quote_no,
                valid_quote_date: this.moment(this.expiredDate, ["MM-DD-YYYY", "YYYY-MM-DD"]).format('YYYY-MM-DD')
            }).then(() =>
                this.getQuotes({
                            search : this.search,
                            type: 'expired',
                            perpage: this.perpage
                        }).then(() => this.showModal = false )
            )
        }
    },
    filters: {
        inExpired: function (value, deposit) {
            let valid = moment(value, ["MM-DD-YYYY", "YYYY-MM-DD"])
            let now = moment()
            let diff_date = valid.diff(now, 'days') + 1

            let days = diff_date == 0 ? '0 days left':diff_date > 0 ? diff_date + ' days left':'Expired'
            let date = diff_date < 0 ? '':value
            let html = deposit > 0 ? ' <label class="badge badge-success">Deposit Received</label>':date + ' <sup class="badge badge-danger">'+ days +'</sup>'
            return html
        }
    },
    destroyed() {
        this.SET_QUOTE_PAGE(1)
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-modal': Modal,
         
    }
}
</script>
<style scoped>
    
</style>



