<template>
    <div>
        <app-table :items="items" :busy="loadingTable" :fields="fields" show-empty @row-clicked="viewQuotes" hover>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="date" slot-scope="row">
                <p class="mb-0">{{ row.item.date_request }}</p>
            </template>
            <template slot="sales_person" slot-scope="row">
                <p class="mb-0">{{ row.item.user != null ? row.item.user.fullname:'-' }}</p>
            </template>
            <template slot="customer" slot-scope="row">
                <p class="mb-0">{{ row.item.customer_name }}</p>
            </template>
            <template slot="company" slot-scope="row">
                <p class="mb-0">{{ row.item.company_name }}</p>
            </template>
            <template slot="store_location" slot-scope="row">
                <p class="mb-0">{{ row.item.store.store_name }}</p>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="items.length > 0 && meta.last_page > 1" align="right" :total-rows="meta.total" :per-page="meta.per_page" @change="setPage" v-model="meta.current_page"></app-pagination>
        </div>  

        <!-- <app-modal title="Change the Expiration Date" centered v-model="showModal">
            <div class="form-group">
				<label>Date</label>
				<div class="icon icon-left">
					<no-ssr>
						<app-datepicker mode="single" :min-date="new Date()" v-model="expiredDate">
							<template :type='inputState.type' slot-scope='{ inputValue }'>
								<div class="icon icon-right">
									<input type="text" id="date" class="form-control form-icon" :value='inputValue'
										readonly>
									<i class="far fa-calendar-alt text-primary"></i>
								</div>
							</template>
						</app-datepicker>
					</no-ssr>
				</div>
			</div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <div class="btn btn-danger" @click="showModal = false">Cancel</div>
                    <div class="btn btn-outline-primary" @click.prevent="updateExpired">Save</div>
                </div>
            </div>
        </app-modal>    -->
        <app-modal title="Assign Sales Person" centered v-model="showModal">
            <div class="form-group">
                <label for="">Sales Person</label>
                <select name="sales_person" class="form-control" v-model="selectedSales">
                    <option value="">Choose Sales Person</option>
                    <option v-for="(row, index) in sales_person" :key="index" :value="row.user_id">{{ row.fullname }}</option>
                </select>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary mr-3" @click="submitSalesPerson">Assign</div>
                    <!-- <div class="btn btn-danger" @click="showModal = false">No</div> -->
                </div>
            </div>
        </app-modal>
    </div>    
</template>
<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import { mapState, mapActions, mapMutations } from 'vuex'
import TotalRecord from '@/components/utilities/TotalRecord'
 
import moment from 'moment'

 

export default {
    data: function(){
        return{
            fields: [ 'date', 'sales_person', 'customer', 'phone_number', 'builders_code', 'company', 'email',
            {
                key: 'store_location',
                label: 'Location'
            }],
            showModal: false,
            quote_no: '',
            // expiredDate: new Date(),
            perpage: 10,
            selectedQuote: '',
            selectedSales: ''
        }
    },
    computed: {
        ...mapState('quoteRequest', {
            items: state => state.items,
            meta: state => state.meta,
            page: state => state.page,
            quote(state) {
                return {
                    selected: state.selected
                }
            }
        }),
        ...mapState('salesPerson', {
            sales_person: state => state.items
        }),
        ...mapState(['loadingTable'])
    },
    props: {
        search: {
            type: String
        }
    },
    watch: {
        page(){
            this.getRequestQuotes({
                search : this.search,
                perpage: this.perpage,
                type: this.$route.name == 'online-quotes-index-not-assigned' ? 'not-assigned' : 'assigned'
            })
        }
    },
    methods: {
        ...mapActions('quoteRequest', ['getRequestQuotes', 'assignSalesPerson']),
        ...mapActions('salesPerson', ['getSalesPersons']),
        ...mapMutations('quoteRequest', [
            'SET_QUOTE_PAGE',
            'SET_QUOTE_SELECTED'
        ]),
        setPage(val) {
            this.SET_QUOTE_PAGE(val)
        },
        setPerPage(value){
            this.perpage = value
            this.$emit('set-perpage', value)
            this.SET_QUOTE_PAGE(1)
            this.getRequestQuotes({
                search : this.search,
                perpage: this.perpage,
                type: this.$route.name == 'online-quotes-index-not-assigned' ? 'not-assigned' : 'assigned'
            })
        },
        assignSales(val) {
            this.selectedQuote = val
            this.getSalesPersons().then(() => {
                this.showModal = true
            })
        },
        viewQuotes(val) {
            localStorage.setItem('history-route-online-quotes', this.$router.currentRoute.name)
            this.$router.push({ name: 'online-quotes-id', params: { id: val.request_id } })
        },
        submitSalesPerson() {
            this.assignSalesPerson({
                id: this.selectedQuote.request_id,
                sales_person: this.selectedSales
            }).then(() => {
                this.getRequestQuotes({
                    search : this.search,
                    perpage: this.perpage,
                    type: this.$route.name == 'online-quotes-index-not-assigned' ? 'not-assigned' : 'assigned'
                })
                this.showModal = false
            })
        }
        // setSelected(item, index, event){
        //     let element = event.srcElement.nodeName
            
        //     if (element == 'A') {
        //         this.quote_no = item.quote_no
        //         this.expiredDate = new Date(item.valid_quote_date)
        //         this.showModal = true
        //     } else {
        //         // this.$emit('row-clicked')
        //         this.SET_QUOTE_SELECTED(item)
        //         this.$router.push({
        //             name: 'my-quotes-edit-id', params: { id: this.quote.selected.quote_no }
        //         })
        //     }
        // },
        // updateExpired() {
        //     this.changeExpiredDate({
        //         quote_no: this.quote_no,
        //         valid_quote_date: this.moment(this.expiredDate, ["MM-DD-YYYY", "YYYY-MM-DD"]).format('YYYY-MM-DD')
        //     }).then(() =>
        //         this.getQuotes({
        //                     search : this.search,
        //                     type: 'expired',
        //                     perpage: this.perpage
        //                 }).then(() =>
        //             this.showModal = false
        //         )
        //     )
        // }
    },
    // filters: {
    //     inExpired: function (value, deposit) {
    //         let valid = moment(value, ["MM-DD-YYYY", "YYYY-MM-DD"])
    //         let now = moment()
    //         let diff_date = valid.diff(now, 'days') + 1

    //         let days = diff_date == 0 ? '#':diff_date > 0 ? diff_date + ' days left':'Expired'
    //         let date = diff_date < 0 ? '':value
    //         let html = deposit > 0 ? ' <label class="badge badge-success">Deposit Received</label>':date + ' <sup class="badge badge-danger">'+ days +'</sup>'
    //         return html
    //     }
    // },
    destroyed() {
        this.SET_QUOTE_PAGE(1)
    },
    components:{
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
        'app-modal': Modal,
         
    }
}
</script>
<style scoped>
    
</style>



