    <template>
    <div>
        <app-table :items="sale.items" :busy="loadingTable" :fields="sale.fieldSales" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="sales_person" slot-scope="data">
                <p class="font-weight-bold text-blue">
                    <a href="javascript:void(0)" @click="data.toggleDetails">
                        <i class="fas " :class="{'fa-caret-down': data.item._showDetails, 'fa-caret-right': !data.item._showDetails}"></i>
                        {{ data.item.sales_person }}
                    </a>
                </p>
            </template>
            <template slot="revenue" slot-scope="data">
                <div class="font-weight-bold" :key="data.item.total" v-money>{{ data.item.total }}</div>
            </template>
            <template slot="total_warranty" slot-scope="data">
                <div class="font-weight-bold" :key="data.item.total_warranty" v-money>{{ data.item.total_warranty }}</div>
            </template>
            <template slot="total_profit_margin" slot-scope="data">
                <div class="font-weight-bold" :key="data.item.total_profit_margin" v-money>{{ data.item.total_profit_margin }}</div>
            </template>
            <template slot="profit_margin_percent" slot-scope="data">
                <div class="font-weight-bold">{{ data.item.total_profit_margin_percent }}%</div>
            </template>
            <template v-slot:row-details="row">
                <b-card>
                    <app-table :items="row.item.data" :fields="sale.fields" @row-clicked="setSelected" show-empty>
                        <template slot="order" slot-scope="data">
                            <div class="d-flex align-items-center">
                                <a href="#" @click.prevent="goToOrder(data.item.order)">{{data.item.order}}</a>
                                <i class="fas fa-home text-success ml-2" v-if="data.item.house_deal == 1"></i>
                            </div>
                        </template>
                        <template slot="revenue" slot-scope="data">
                            <del v-if="data.item.house_deal == 1"><div :key="data.item.revenue" v-money>{{ typeof data.item._rowVariant != 'undefined' ? '-':'' }}{{ data.item.revenue }}</div></del>
                            <div :key="data.item.revenue" v-money v-else>{{ typeof data.item._rowVariant != 'undefined' ? '-':'' }}{{ data.item.revenue }}</div>
                        </template>
                        <template slot="profit_margin" slot-scope="data">
                            <div :key="data.item.profit_margin" v-money>{{ typeof data.item._rowVariant != 'undefined' ? '-':'' }}{{ data.item.profit_margin }}</div>
                        </template>
                    </app-table>
                </b-card>
            </template>

            <!-- FOOTER -->
            <!-- <template slot="FOOT_createdDate" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_order" slot-scope="row"><div :key="row.label"></div></template>
            <template slot="FOOT_customer" slot-scope="row"><div :key="row.label">TOTAL</div></template>
            <template slot="FOOT_revenue" slot-scope="row">
                <div :key="sale.meta.grandtotal" v-money>{{ sale.meta.grandtotal }}</div>
            </template>
            <template slot="FOOT_paidDate" slot-scope="row"><div :key="row.label"></div></template> -->
        </app-table>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'

    export default {
        destroyed() {
            this.SET_SALE_SELECTED(null)
        },
        created(){
            if(this.$route.name == 'reports-total-items-under-175'){
                this.SET_SALE_FIELD_SALES_UNDER()
                this.SET_SALE_FIELDS_UNDER()
            } else {
                this.SET_SALE_FIELD_SALES_DEFAULT()
                this.SET_SALE_FIELDS_DEFAULT()
            }
        },
        computed: {
            ...mapState('sale', {
                sale: state => {
                    return {
                        fieldSales: state.fieldsSales,
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta
                    }
                }
            }),
            ...mapState(['loadingTable'])
        },
        methods: {
            goToOrder(id){
                localStorage.setItem('history-route-order', this.$router.currentRoute.name)
                if(this.$route.name == 'reports-commission' || this.$route.name == 'reports-total-items-under-175'){
                    let routeData = this.$router.resolve({ name: 'my-orders-edit-id', params: {id : id}});
                    window.open(routeData.href, '_blank');
                }else {
                    this.$router.push({ name: 'my-orders-edit-id', params: {id : id}})
                }
            },
            ...mapMutations('sale', [
                'SET_SALE_SELECTED',
                'SET_SALE_PAGE',
                'SET_SALE_FIELD_SALES_UNDER',
                'SET_SALE_FIELD_SALES_DEFAULT',
                'SET_SALE_FIELDS_DEFAULT',
                'SET_SALE_FIELDS_UNDER'
            ]),
            setSelected(item, index) {
                this.SET_SALE_SELECTED(item)
                this.$emit('row-clicked')
            },
            setPage(value) {
                this.SET_SALE_PAGE(value)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination
        }
    }
</script>

<style>

</style>
