<template>
    <div>
        <b-alert variant="info" :show="warranty.existing.length > 0">
            Warranty that can not be selected is already exists in your order
        </b-alert>
        <app-table :items="warranty.items" :fields="warranty.fields" @row-clicked="setSelected" hover show-empty>
            <template slot="name" slot-scope="data">
                <template v-if="order">
                    <div class="disabled-row" v-if="_.findIndex(warranty.existing, (item) => { return item.code == data.item.code }) != -1">{{ data.item.name }} <i class="fas fa-check text-success"></i></div>
                    <template v-else-if="warranty.selected != null">
                        <template v-if="_.findIndex(warranty.selected, (item) => { return item.code == data.item.code }) != -1">{{ data.item.name }} <i class="fas fa-check text-success"></i></template>
                        <template v-else>{{ data.item.name }}</template>
                    </template>
                    <template v-else>{{ data.item.name }}</template>
                </template>
                <template v-else>{{ data.item.name }}</template>
            </template>
            <template slot="price" slot-scope="data">
                <div class="disabled-row" v-if="_.findIndex(warranty.existing, (item) => { return item.code == data.item.code }) != -1" v-money>{{data.item.price}}</div>
                <span v-money v-else>{{ data.item.price }}</span>
            </template>
        </app-table>
        <app-pagination align="right" :total-rows="warranty.meta.total" :per-page="warranty.meta.per_page" @change="setPage" v-if="warranty.items && pagination == true"/>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'

    export default {
        computed: {
            ...mapState('warranty', {
                warranty: state => {
                    return {
                        fields: state.fields,
                        items: state.items,
                        meta: state.meta,
                        page: state.page,
                        selected: state.selected,
                        existing: state.existing
                    }
                }
            }),
        },
        props: {
            pagination: {
                type: Boolean,
                default: true
            },
            order: {
                type: Boolean,
                default: false
            }
        },
        watch: {
            'warranty.page': function() {
                if(this.pagination == true) {
                    this.getWarranties()
                }
            }
        },
        methods: {
            ...mapMutations('warranty', [
                'SET_WARRANTY_SELECTED',
                'SET_WARRANTY_PAGE'
            ]),
            ...mapActions('warranty', [
                'getWarranties'
            ]),
            setSelected(item, index) {
                // this.SET_WARRANTY_SELECTED(item)
                this.$emit('row-clicked', item)
            },
            setPage(value) {
                this.SET_WARRANTY_PAGE(value)
            },
        },
        components: {
            'app-table': Table,
            'app-pagination': Pagination
        }
    }
</script>

<style>

</style>
