<template>
    <div>
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="rounded esl__indicator esl__bg--blue px-4 py-3 text-white h-100 d-flex flex-column justify-content-center" :class="{'esl--loading' : isFetchGateway}">
                    <transition name="fade" mode="out-in" appear>
                        <div class="text-center my-4" key="1" v-if="isFetchGateway">
                            <b-spinner class="align-middle" variant="light"></b-spinner>
                        </div>
                        <div key="2" v-else-if="gatewayData != null && !isFetchGateway">
                            <div class="d-flex align-items-center mb-5">
                                <img src="/icon/gateway.svg" alt="Gateway">
                                <h5 class="mb-0 ml-3 font-weight-600">Gateway</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-auto">
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Online</span> {{gatewayData.online}}</h5>
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Offline</span> {{gatewayData.offline}}</h5>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rounded esl__indicator esl__bg--purple px-4 py-3 text-white h-100 d-flex flex-column justify-content-center" :class="{'esl--loading' : isFetchEsl}">
                    <transition name="fade" mode="out-in" appear>
                        <div key="1" class="text-center my-4" v-if="isFetchEsl">
                            <b-spinner class="align-middle" variant="light"></b-spinner>
                        </div>
                        <div key="2" v-else-if="eslData != null && !isFetchEsl">
                            <div class="d-flex align-items-center mb-5">
                                <img src="/icon/ESL.svg" alt="Gateway">
                                <h5 class="mb-0 ml-3 font-weight-600">Digital Price Tags</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-auto">
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Online</span> {{eslData.online}}</h5>
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Offline</span> {{eslData.offline}}</h5>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rounded esl__indicator esl__bg--cyan px-4 py-3 text-white h-100 d-flex flex-column justify-content-center" :class="{'esl--loading' : isFetchUpdate}">
                    <transition name="fade" mode="out-in" appear>
                        <div key="1" class="text-center my-4" v-if="isFetchUpdate">
                            <b-spinner class="align-middle" variant="light"></b-spinner>
                        </div>
                        <div key="2" v-else-if="updateData != null && !isFetchUpdate">
                            <div class="d-flex align-items-center mb-5">
                                <img src="/icon/update.svg" alt="Gateway">
                                <h5 class="mb-0 ml-3 font-weight-600">Update</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-auto">
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Succeeded</span> {{updateData.total_success}}</h5>
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Failed</span> 0</h5>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rounded esl__indicator esl__bg--pink px-4 py-3 text-white h-100 d-flex flex-column justify-content-center" :class="{'esl--loading' : isFetchUpdate}">
                    <transition name="fade" mode="out-in" appear>
                        <div key="1" class="text-center my-4" v-if="isFetchBattery">
                            <b-spinner class="align-middle" variant="light"></b-spinner>
                        </div>
                        <div key="2" v-else-if="batteryData != null && !isFetchBattery">
                            <div class="d-flex align-items-center mb-5">
                                <img src="/icon/battery.svg" alt="Gateway">
                                <h5 class="mb-0 ml-3 font-weight-600">Battery Level</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-auto">
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Normal</span> {{batteryData.normal}}</h5>
                                <h5 class="mb-0 font-weight-600"><span class="font-weight-normal small">Low</span> {{batteryData.low}}</h5>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="border rounded" :class="{'esl--loading' : isFetchUpdate}">
                    <div class="border-bottom py-3 px-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 font-weight-600">Updates Overview</h5>
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center mr-4">
                                    <i class="fas fa-circle esl__color--blue mr-2"></i>
                                    <p class="mb-0">Succeeded/ times</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-circle esl__color--orange mr-2"></i>
                                    <p class="mb-0">Updated/ times</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3 px-4 esl__chart--wrapper d-flex flex-column justify-content-center">
                        <transition name="fade" mode="out-in" appear> 
                            <div key="1" class="text-center my-4" v-if="isFetchUpdate">
                                <b-spinner class="align-middle" style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
                            </div>
                            <div key="2" v-else>
                                <no-ssr>
                                    <line-chart-esl :chart-data="datacollection"/>
                                </no-ssr>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border rounded" :class="{'esl--loading' : isFetchUpdate}">
                    <div class="border-bottom py-3 px-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 font-weight-600">Success Rate</h5>
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center mr-4">
                                    <i class="fas fa-circle esl__color--blue mr-2"></i>
                                    <p class="mb-0">Failed</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-circle esl__color--orange mr-2"></i>
                                    <p class="mb-0">Successful</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3 px-4 esl__chart--wrapper d-flex flex-column justify-content-center">
                        <transition name="fade" mode="out-in" appear> 
                            <div key="1" class="text-center my-4" v-if="isFetchUpdate">
                                <b-spinner class="align-middle" style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
                            </div>
                            <div key="2" v-else>
                                <no-ssr>
                                    <pie-chart-esl :chart-data="pieData"/>
                                </no-ssr>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import _ from 'lodash'

export default {
    transition: 'slide',
    data: () => ({
        isFetchGateway : false,
        isFetchEsl : false,
        isFetchUpdate: false,
        isFetchBattery: false,
        gatewayData: null,
        eslData: null,
        updateData: null,
        batteryData: null,
        datacollection: null,
        pieData: {
            labels: ["Failed", "Succeed"],
            datasets: [
                {
                    label: "Data One",
                    backgroundColor: ["#478DF8", "#FFC372"],
                    borderWidth: 0,
                    data: []
                }
            ]
        }
    }),
    async created(){
        await this.fetchData()
    },
    watch: {
        location(){
            this.fetchData()
        }
    },
    computed: {
        ...mapState('priceTag', {
            location: state => state.location
        })
    },
    methods: {
        ...mapActions({
            getOverviewGateway : 'priceTag/getOverviewGateway',
            getOverviewEsl : 'priceTag/getOverviewEsl',
            getOverviewUpdate : 'priceTag/getOverviewUpdate',
            getOverviewBattery : 'priceTag/getOverviewBattery'
        }),
        async fetchData(){
            await Promise.all([
                this.fetchOverviewGateway(),
                this.fetchOverviewEsl(),
                this.fetchOverviewUpdate(),
                this.fetchOverviewBattery()
            ])
        },
        async fetchOverviewGateway(){
            this.isFetchGateway = true
            await this.getOverviewGateway()
            .then(response => {
                this.gatewayData = response.data.body
                this.isFetchGateway = false
            })
        },
        async fetchOverviewEsl(){
            this.isFetchEsl = true
            await this.getOverviewEsl()
            .then(response => {
                this.eslData = response.data.body
                this.isFetchEsl = false
            })
        },
        async fetchOverviewUpdate(){
            this.isFetchUpdate = true
            await this.getOverviewUpdate()
            .then(response => {
                const data = response.data.body
                const totalSuccess = Object.values(data.success).reduce((a, b) => a + b, 0)
                const total = Object.values(data.total).reduce((a, b) => a + b, 0)
                this.updateData = {
                    total_success : totalSuccess,
                    total_failed: total - totalSuccess
                }

                this.pieData.datasets[0].data = [this.updateData.total_failed , this.updateData.total_success]
                
                let dataSuccess = Object.keys(data.success).map(key => {
                    const timestamp = key
                    return {value: data.success[key], date : timestamp}
                })
                let dataUpdated = Object.keys(data.total).map(key => {
                    const timestamp = key
                    return {value: data.total[key], date : timestamp}
                })
                let sortedDataSuccess = dataSuccess.sort((a, b) => {
                    return new Date(Number(a.date)) - new Date(Number(b.date))
                })
                let sortedDataUpdated = dataUpdated.sort((a, b) => {
                    return new Date(Number(a.date)) - new Date(Number(b.date))
                })
                let sortedLabels = data.labels.sort((a, b) => {
                    return new Date(Number(a)) - new Date(Number(b))
                })
                
                this.fillData(sortedLabels, sortedDataSuccess, sortedDataUpdated )
                this.isFetchUpdate = false
            })
        },
        async fetchOverviewBattery(){
            this.isFetchBattery = true
            await this.getOverviewBattery()
            .then(response => {
                this.batteryData = response.data.body
                this.isFetchBattery = false
            })
        },
        fillData(labels, dataSuccess, dataUpdated) {
            let formatedLabels = labels.map(v => {
                return this.moment(new Date(v)).format("L")
            })
            let formatedDataSuccess = dataSuccess.map(v => {
                return v.value
            })
            let formatedDataUpdated = dataUpdated.map(v => {
                return v.value
            })
            this.datacollection = {
                labels: [...formatedLabels],
                datasets: [
                    {
                        label: 'Succeeded/ times',
                        borderColor: "#478DF8",
                        pointBackgroundColor: "#478DF8",
                        pointBorderColor: "#478DF8",
                        backgroundColor: 'transparent',
                        pointRadius: 4,
                        pointHoverRadius: 8,
                        data: [...formatedDataSuccess]
                    }, {
                        label: 'Updated/ times',
                        borderColor: "#FFC372",
                        pointBackgroundColor: "#FFC372",
                        pointBorderColor: "#FFC372",
                        backgroundColor: 'transparent',
                        pointRadius: 4,
                        pointHoverRadius: 8,
                        data: [...formatedDataUpdated]
                    }
                ]
            }
        },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      }
    }
}
</script>

<style>

</style>