<template>
    <div class="my-notifications mt-3">
        <div v-for="(message, index) in messageCenter">
            <div class="d-flex justify-content-between" :key="`header-notification-${index}`">
                <h5 v-if="message.priority === 3" class="font-weight-500 mb-0">
                    Urgent Priority
                </h5>
                <h5 v-if="message.priority === 2" class="font-weight-500 mb-0">
                    High Priority
                </h5>
                <h5 v-if="message.priority === 1" class="font-weight-500 mb-0">
                    Low Priority
                </h5>
                <Badge v-if="message.priority === 1" variant="success">
                    {{ message.counter }}
                </Badge>
                <Badge v-if="message.priority === 2" variant="warning">
                    {{ message.counter }}
                </Badge>
                <Badge v-if="message.priority === 3" variant="error">
                    {{ message.counter }}
                </Badge>
            </div>
            <template v-if="message.data.length > 0">
                <div
                    v-for="(notification, notificationIndex) in message.data"
                    :key="`notification-${notificationIndex}`"
                >
                    <div
                        class="my-notification mt-3"
                        :class="mappedClass(notification.priority, notification.opened)"
                    >
                        <div class="my-notification__header mb-2">
                        <span class="title">{{ notification.title }}</span>
                        <b-dropdown
                            right
                            variant="link"
                            toggle-class="text-decoration-none p-0"
                            class="no-transition"
                            no-caret
                        >
                            <template #button-content>
                                <a href="javascript:void(0)" class="notification__icon">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                            </template>
                            <b-dropdown-item
                                class="d-flex align-items-center"
                                @click="handleReadNotification(notification)"
                            >
                                <i class="far fa-envelope-open mr-2"></i>
                                <span>Mark as read</span>
                            </b-dropdown-item>
                        </b-dropdown>
                    </div>
                    <p class="my-notification__description">
                        {{ notification.content }}
                    </p>
                    <p class="my-notification__date">
                        <i class="far fa-clock"></i> {{ notification.date }}
                    </p>
                    </div>
                </div>
            </template>
            <div v-if="message.data.length === 0">
                <div class="no-notifications">
                    <div>
                        <img src="/icon/empty.png" alt="empty - icon" width="100" class="d-block mx-auto">
                        <p v-if="message.priority === 3" class="mb-0 mt-3 font-weight-500">
                            There are no urgent priority to show
                        </p>
                        <p v-if="message.priority === 2" class="mb-0 mt-3 font-weight-500">
                            There are no high priority to show
                        </p>
                        <p v-if="message.priority === 1" class="mb-0 mt-3 font-weight-500">
                            There are no low priority to show
                        </p>
                    </div>
                </div>
            </div>
            <div v-if="message.meta.current_page !== message.meta.last_page" class="text-center mt-3">
                <button class="btn btn-primary" @click="doLoadMore(message.priority, index)">Load More</button>
            </div>
        </div>
    </div>
</template>

<script>

// Packages
import { mapState } from "vuex";

// Components
import Badge from '@/components/utilities/Badge'

export default {
    name: "MyNotification",
    components: {
        Badge,
    },
    data() {
        return {
            page: {
                urgentPriority: 1,
                highPriority: 1,
                lowPriority: 1,
            },
        };
    },
    computed: {
        ...mapState(["messageCenter"]),
    },
    methods: {
        mappedClass(priorityId, isOpened) {
            if (priorityId === 1 && !isOpened) return 'low active';
            if (priorityId === 2 && !isOpened) return 'high active';
            if (priorityId === 3 && !isOpened) return 'urgent active';

            if (priorityId === 1) return 'low';
            if (priorityId === 2) return 'high';
            if (priorityId === 3) return 'urgent';
        },
        doLoadMore(priorityId, index) {
            let pageKey = 'urgentPriorty';

            if (index === 0) {
                pageKey = 'urgentPriorty';
            }
            if (index === 1) {
                pageKey = 'highPriority';
            }
            if (index === 2) {
                pageKey = 'lowPriority';
            }

            this.page[pageKey] = this.page[pageKey] +1

            const payload = {
                id: priorityId,
                params: {
                    page: this.page[pageKey],
                },
                index,
            }

            this.$store.dispatch('pushNewNotification', payload);
        },
        handleReadNotification(item) {
            this.$store.dispatch('readNotification', { id: item.id, opened: 1 })
            .then(() => {
                this.$store.dispatch('getUserNotification');
            });
        },
    }
};
</script>
<style lang="scss" scoped>
.no-notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 1rem;
}
</style>
