<template>
    <PageModal />
</template>

<script>
import PageModal from "@/components/admin/modal/DeliveryTime";

export default {
    name: "EditDeliveryInstallTime",
    transition: "slide",
    layout: "admin",
    async asyncData({ store, params }) {
        await Promise.all([
            store.dispatch("delivery/showDeliveryTime", params.id),
            store.dispatch("category/getCategories"),
            store.dispatch("category/getAllCategories"),
        ]);
    },
    components: {
        PageModal,
    },
};
</script>
