<template>
    <div>
        <transition name="slide" mode="out-in">
            <b-alert :variant="alert.variant" class="alert-notif alert-notif--offset-top alert-notif--center" :show="alert.dismissCountDown" @dismissed="alert.dismissCountDown=0" @dismiss-count-down="countDownChanged" fade>
                {{alert.message}}
            </b-alert>
        </transition>
        <div class="d-flex align-items-center mb-4">
            <app-select
                v-model="filter.size"
                :options="templateFilter.size"
                label="name"
                trackBy="id"
                :loading="isLoadingFilter"
                :show-labels="false"
                :allow-empty="false"
                placeholder="Choose size"
                v-width="'200px'"
                class="mr-3"
                @input="fetchTemplateData"
            />
            <app-select
                v-model="filter.color"
                :options="templateFilter.color"
                label="name"
                trackBy="id"
                :loading="isLoadingFilter"
                :show-labels="false"
                :allow-empty="false"
                placeholder="Choose color"
                v-width="'200px'"
                class="mr-3"
                @input="fetchTemplateData"
            />
            <!-- <div class="d-flex align-items-center">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon rounded-top-right--0 rounded-bottom-right--0" v-model="search" v-width="'250px'" placeholder="Search" @keypress.enter="searchTemplate">
                    <i class="fas fa-search"></i>
                </div>
                <button class="btn btn-primary rounded-top-left--0 rounded-bottom-left--0" @click="searchTemplate"><i class="fas fa-search"></i></button>
            </div> -->
        </div>
        <div class="row mb-4" v-show="isLoading" :key="'3'">
            <div class="col-md-4">
                <div class="border rounded p-4">
                    <div class="ph-item mb-0">
                        <div class="ph-col-12">
                            <div class="ph-picture"></div>
                            <div class="ph-row">
                                <div class="ph-col-6 big"></div>
                                <div class="ph-col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border rounded p-4">
                    <div class="ph-item mb-0">
                        <div class="ph-col-12">
                            <div class="ph-picture"></div>
                            <div class="ph-row">
                                <div class="ph-col-6 big"></div>
                                <div class="ph-col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border rounded p-4">
                    <div class="ph-item mb-0">
                        <div class="ph-col-12">
                            <div class="ph-picture"></div>
                            <div class="ph-row">
                                <div class="ph-col-6 big"></div>
                                <div class="ph-col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="border rounded p-4">
                    <div class="ph-item mb-0">
                        <div class="ph-col-12">
                            <div class="ph-picture"></div>
                            <div class="ph-row">
                                <div class="ph-col-6 big"></div>
                                <div class="ph-col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row mb-4" v-show="!isLoading && templateItem.data.length > 1" key="2">
            <div class="col-md-4" v-for="(template, index) in templateItem.data" :key="index">
                <div class="border p-4 template__card d-flex flex-column h-100">
                    <div :id="'preview' + index" class="d-flex justify-content-center align-items-center preview-svg my-auto" />
                    <div class="mt-auto">
                        <h6 class="font-weight-600 mt-3">{{template.demoName}}</h6>
                        <p class="text-gray text-capitalize mb-3">{{template.screenSize.inch + '" ' + '(' + template.screenSize.width+ '*' + template.screenSize.height + ' ' + ' Black White ' + template.color + ', '}}{{template.orientation != 1 ? 'Horizontal' : 'Vertical'}})</p>
                        <button class="btn btn-outline-primary w-100" @click="showModalApply(template)">Apply Template</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-4" key="'3'" v-if="templateItem.data.length == 0 && !isLoading">
            <h6 class="mb-0 font-weight-600">Template not found!</h6>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" v-if="templateItem.data.length > 0">
                <app-total @itemPerPage="changePerPage" :showCount="false"/>
                <p class="mb-0 ml-1">of {{templateItem.meta.totalCount}} Items</p>
            </div>
            <app-pagination v-if="templateItem.data.length > 0"  align="right" :total-rows="templateItem.meta.totalCount" :per-page="templateItem.meta.size" @input="changePage" v-model="templateItem.meta.page"></app-pagination>
        </div>
        <app-modal :noBorder="true" :show="modalApply" @hide="hideModalApply">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3" v-if="tempData">This template will be applied to <br> all devices with screen {{tempData.screenSize.inch + '"'}}</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-primary w-50 btn-sm" :disabled="isApply" @click="applyTemplate">Yes, Apply to All</button>
                    <a href="javascript:void(0)" class="text-danger px-5 font-weight-600 w-50" @click="hideModalApply">Cancel</a>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Modal from '@/components/utilities/Modal'
import Select from 'vue-multiselect'
import {mapActions, mapGetters, mapState} from 'vuex'
import _ from 'lodash'

export default {
    transition: 'slide',
    components: {
        'app-select' : Select,
        'app-total': TotalRecord,
        'app-pagination': Pagination,
        'app-modal' : Modal
    },
    data: () => ({
        filter:{
            size: {
                id: 0,
                name: 'All sizes'
            },
            color: {
                id: 0,
                name: 'All colors'
            }
        },
        page: 1,
        perpage: 10,
        search: '',
        isLoading: false,
        isLoadingFilter: false,
        isApply: false,
        modalApply: false,
        tempData: null,
        alert: {
            variant: 'success',
            dismissCountDown: 0,
            dismissSec : 5,
            message: ''
        }
    }),
    computed: {
        ...mapGetters({
            templateFilter: 'priceTag/templateFilter',
            templateItem: 'priceTag/templateItem'
        }),
        ...mapState('priceTag', {
            location: state => state.location
        })
    },
    async mounted(){
        await this.fetchData()
        this.getIconCode('icofont-dollar')
    },
    watch: {
        location(){
            this.fetchData()
        },
        search(value){
            if(value.length == 0) this.fetchTemplateData()
        },
        isLoading(value){
            if(!value && this.templateItem.data.length > 0){
                this.templateItem.data.forEach((value, index) => {
                    let id = 'preview' + index
                    let element = document.getElementById(id)
                    const {inch, rgbtype, transpose, ...rest} = value.demoData
                    Object.entries(value.previewing).forEach(([key, valueText]) => {
                        if(valueText != null){
                            rest.text[key]['content'] = valueText
                        }
                    })
                    if(rest.text != undefined){
                        Object.entries(rest.text).forEach(([keyText, valueText]) => {
                            rest.text[keyText]['font-size'] = this.generateFontSize(rest.text[keyText]['font-size'])
                        })
                    }
                    if(rest.icons != undefined){
                        Object.entries(rest.icons).forEach(([keyIcon, valueIcon]) => {
                            rest.icons[keyIcon]['icon'] = valueIcon.content
                            rest.icons[keyIcon]['content'] = this.getIconCode(rest.icons[keyIcon]['icon'])
                            rest.icons[keyIcon]['font-size'] = this.generateFontSize(rest.icons[keyIcon]['font-size'])
                        })
                    }
                    if(rest.grapcodes != undefined){
                        if(rest.grapcodes.qrcode != undefined){
                            rest.grapcodes.qrcode['content'] = 'text'
                        }
                        if(rest.grapcodes.barcode != undefined){
                            rest.grapcodes.barcode['content'] = this.textToBase64Barcode('66666666666')
                            rest.grapcodes.barcode['width'] = 130
                            rest.grapcodes.barcode['height'] = 20
                        }
                    }
                    this.generateSvg(rest, element)
                })
            }
        }
    },
    methods: {
        ...mapActions({
            getTemplateFilter: 'priceTag/getTemplateFilter',
            getTemplateData: 'priceTag/getTemplateData',
            applyTemplateAll: 'priceTag/applyTemplateAll'
        }),
        countDownChanged(value){
            this.alert.dismissCountDown = value
        },
        showAlert(message, variant){
            this.alert.dismissCountDown = this.alert.dismissSec
            this.alert.variant = variant
            this.alert.message = message
        },
        async fetchData(){
            await Promise.all([
                this.fetchFilter(),
                this.fetchTemplateData()
            ])
        },
        async fetchFilter(){
            this.isLoadingFilter = true
            await this.getTemplateFilter()
            .then(() => {
                this.isLoadingFilter = false
            })
        },
        async fetchTemplateData(){
            this.isLoading = true
            await this.getTemplateData({
                page: this.page, 
                perpage: this.perpage, 
                color: this.filter.color.id != 0 ? this.filter.color.id : '', 
                size: this.filter.size.id != 0 ? this.filter.size.id : '', 
                search: this.search
            })
            .then(() => {
                this.isLoading = false
            })
        },
        searchTemplate(){
            this.fetchTemplateData()
        },
        changePerPage(value){
            this.perpage = value
            this.fetchTemplateData()
        },
        changePage(value){
            this.page = value
            this.fetchTemplateData()
        },
        showModalApply(item){
            this.tempData = item
            this.modalApply = true
        },
        hideModalApply(){
            this.tempData = null
            this.modalApply = false
        },
        applyTemplate(){
            this.isApply = true
            this.applyTemplateAll({demoId: this.tempData.demoId, screen_size: this.tempData.screenSize.inch})
            .then(() => {
                this.isApply = false
                this.hideModalApply()
                this.showAlert('Template successfully applied', 'success')
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.template__card{
    transition: all .3s ease-in-out;
    border-radius: .3rem;
    &:hover{
        box-shadow: 1px 1px 14px 8px rgba(221, 221, 221, 0.5);
        border-color: white !important;
    }
}
</style>