<template>
    <div>
        <h3 class="font-weight-600 mb-0">Commission</h3>
        <div class="d-flex justify-content-between mt-4">
            <div class="d-flex flex-row">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" 
                                        placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <!-- <a href="#" class="btn btn-outline-primary mr-3">Import</a>
                <a href="#" class="btn btn-outline-primary mr-3">Export</a> -->
                <!-- <nuxt-link tag="a" class="btn btn-primary" :to="{ name: 'sale-create' }">Create a Sale</nuxt-link> -->
            </div>
        </div>
        <div class="mt-3">
            <app-table-sale @row-clicked="showAction"/>
        </div>
        <!-- <app-action-sale v-model="action"/> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import TableSale from '@/components/table/Sale.vue'
    // import ActionSale from '@/components/action/Sale.vue'
     

     ;

    export default {
        async asyncData ({ store, route ,app}) {
            // if (route.query.today == 'true') {
                let date = {
                    start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    end: new Date(new Date().getFullYear(), new Date().getMonth()+1, 0)
                }
                await store.dispatch('sale/getSales', {
                    start: date.start,
                    end: date.end,
                    sales: app.$auth.$state.user.user_id
                    // sales: ''
                })
            // } else {
            //     await store.dispatch('sale/getSales')
            // }
            return
        },
        destroyed() {
            this.SET_SALE_SELECTED(null)
        },
        data() {
            return {
                date: {
                    start: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    end: new Date(new Date().getFullYear(), new Date().getMonth()+1, 0)
                }
            }
        },
        computed: {
            ...mapState('sale', {
                sale(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        },
        methods: {
            ...mapMutations('sale', [
                'SET_SALE_SELECTED'
            ]),
            ...mapActions('sale', [
                'getSales'
            ]),
            ...mapMutations(['SET_LOADING_TABLE']),
            showAction(item) {
                // this.action = true
                // window.location.href = item.links
                // this.$router.push({
                //     name: 'edit-discount',
                //     params: {
                //         'id': item.id
                //     }
                // })
            }
        },
        watch: {
            // search: {
            //     immediate: true,
            //     handler(newValue, oldValue) {
            //         this.getSales()
            //     }
            // },
            date: {
                immediate: true,
                handler(newValue, oldValue) {
                    if (typeof oldValue != 'undefined') {
                        this.SET_LOADING_TABLE(true)
                        this.getSales({
                            start: this.moment(this.date.start).format('L') ,
                            end: this.moment(this.date.end).format('L'),
                            sales: this.$auth.$state.user.user_id
                        }).then( () =>{
                            this.SET_LOADING_TABLE(false)
                        })
                    }
                }
            }
        },
        components: {
            'app-table-sale': TableSale,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>