<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Warranties</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-warranties-create'}">Create New Warranty</nuxt-link>
            </div>
        </div>
        <b-card class="mt-3">
            <div class="row mb-3">
                <div class="col-4">
                    <div class="form-group mb-0 mr-3">
                        <label for="">Category</label>
                        <app-select
                            :openDirection="'bottom'"
                            data-vv-name="Category"
                            data-vv-as="category"
                            :class="{'input': true, 'is-invalid': errors.has('Category') }"
                            v-model="category_selected"
                            :options="categories" 
                            :close-on-select="true" 
                            :clear-on-select="false" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            placeholder="Select Categories"
                            @input="changeSub"
                            label="category_name"  
                            track-by="category_name" 
                            :preselect-first="false"
                        >
                        </app-select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group mb-0 mr-3">
                        <label for="">Sub Category</label>
                        <app-select
                            :openDirection="'bottom'"
                            data-vv-name="SubCategory"
                            data-vv-as="sub_category"
                            :class="{'input': true, 'is-invalid': errors.has('SubCategory') }"
                            v-model="subcategory_selected"
                            :options="subcategories" 
                            :close-on-select="true" 
                            :clear-on-select="false" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            placeholder="Select Sub Categories"
                            @input="changeDetail"
                            label="subcategory_name"  
                            track-by="subcategory_name" 
                            :preselect-first="false"
                        >
                        </app-select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group mb-0 mr-3">
                        <label for="">Detail Category</label>
                        <app-select
                            :openDirection="'bottom'"
                            data-vv-name="DetailCategory"
                            data-vv-as="detail_category"
                            :class="{'input': true, 'is-invalid': errors.has('DetailCategory') }"
                            v-model="detailcategory_selected"
                            :options="detailcategories" 
                            :close-on-select="true" 
                            :clear-on-select="false" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            placeholder="Select Detail Categories"
                            @input="filterCategory"
                            label="detail_category_name"  
                            track-by="detail_category_name" 
                            :preselect-first="false"
                        >
                        </app-select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <div class="form-group mb-0 mr-3">
                        <div class="icon icon-left">
                            <input type="text" class="form-control form-icon" v-model="search" placeholder="Search SKU" @input="searchAction">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" @click="resetFilter"> Reset Filter</button>
                </div>
            </div>
        </b-card>
        <div class="mt-3">
            <admin-table-warranties :category_filter="category_selected" :subcategory_filter="subcategory_selected" :detail_category_filter="detailcategory_selected" :search_filter="search"></admin-table-warranties>
        </div>
    </section>
</template>
<script>
    import { mapMutations, mapState, mapActions } from 'vuex'
    import AdminTableWarranties from '@/components/admin/table/Warranties.vue'
    import Select from 'vue-multiselect'
    import _ from 'lodash'

    export default {
        async asyncData({store}){
            await store.dispatch('warranty/getWarranties')
            await store.dispatch('category/getCategories')
            return
        },
        mounted() {
            let categoryName = localStorage.getItem('warranty-category-name')
            let subCategoryName = localStorage.getItem('warranty-subcategory-name')
            let detailCategoryName = localStorage.getItem('warranty-detail-category-name')
            let search_filter = localStorage.getItem('warranty-search-filter')
            categoryName != null && categoryName != '' ? this.category_selected = {category_name : categoryName} : this.category_selected = ''
            subCategoryName != null && subCategoryName != '' ? this.subcategory_selected = {subcategory_name : subCategoryName} : this.subcategory_selected = ''
            detailCategoryName != null && detailCategoryName != 'undefined' && detailCategoryName != '' ? this.detailcategory_selected = {detail_category_name : detailCategoryName} : this.detailcategory_selected = ''
            search_filter != null && search_filter != 'undefined' && search_filter != '' ? this.search = search_filter : ''
            this.filterCategory()
        },
        data() {
            return {
                category_selected: '',
                subcategory_selected: '',
                detailcategory_selected: '',
                search: ''
            }
        },
        beforeRouteLeave(to, from, next) {
            this.SET_WARRANTY_TABLE_DEFAULT()
            next()
        },
        computed: {
            ...mapState('category', {
                categories: state => state.categories,
                subcategories: state => state.subcategories,
                detailcategories: state => state.detailcategories
            })
        },
        methods: {
            ...mapMutations('warranty', [
                'SET_WARRANTY_TABLE_DEFAULT',
            ]),
            ...mapActions('category', ['getSubCategories', 'getDetailCategories']),
            ...mapActions('warranty', ['getWarranties']),
            changeSub() {
                this.subcategory_selected = ''
                this.detailcategory_selected = ''
                this.getWarranties({ perpage: 10, category_name: this.category_selected != '' ?this.category_selected.category_name:'' })
                this.getSubCategories(this.category_selected.category_name).then(() => {
                    localStorage.setItem('warranty-category-name', this.category_selected.category_name)
                    localStorage.setItem('warranty-subcategory-name', this.subcategory_selected)
                    localStorage.setItem('warranty-detail-category-name', this.detailcategory_selected)
                })
            },
            changeDetail() {
                this.detailcategory_selected = ''
                this.getWarranties({ 
                    perpage: 10, 
                    category_name: this.category_selected != '' ? this.category_selected.category_name:'', 
                    subcategory_name: this.subcategory_selected != '' ? this.subcategory_selected.subcategory_name:''
                })
                this.getDetailCategories({ category_name: this.category_selected.category_name, subcategory_name: this.subcategory_selected.subcategory_name }).then(() => {
                    localStorage.setItem('warranty-subcategory-name', this.subcategory_selected.subcategory_name)
                    localStorage.setItem('warranty-detail-category-name', this.detailcategory_selected)
                })
            },
            filterCategory() {
                this.getWarranties({ 
                    perpage: 10, 
                    category_name: this.category_selected != '' ? this.category_selected.category_name:'', 
                    subcategory_name: this.subcategory_selected != '' ? this.subcategory_selected.subcategory_name:'',
                    detail_category_name: this.detailcategory_selected != '' ? this.detailcategory_selected.detail_category_name:'',
                    search: this.search 
                }).then(() => {
                    localStorage.setItem('warranty-detail-category-name', this.detailcategory_selected.detail_category_name)
                })
            },
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.filterCategory()
                    localStorage.setItem('warranty-search-filter', this.search)
                }
            }, 800),
            resetFilter() {
                this.category_selected = '',
                this.subcategory_selected = '',
                this.detailcategory_selected = ''
                this.search = ''

                localStorage.removeItem('warranty-category-name', '')
                localStorage.removeItem('warranty-subcategory-name', '')
                localStorage.removeItem('warranty-detail-category-name', '')
                localStorage.removeItem('warranty-search-filter', '')
                this.filterCategory()
            }
        },
        components:{
            'admin-table-warranties': AdminTableWarranties,
            'app-select': Select
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

