<template>
    <div>
        <div class="mt-3 border rounded p-4">
            <h4 class="mb-4">Latest Delivery Log</h4>
            <app-timeline :delivery="true" />
        </div>
    </div>
</template>

<script>
import Timeline from '@/components/utilities/Timeline'
export default {
    async fetch({store}){
        return Promise.all([
            await store.dispatch('delivery/getDeliveryLog', {page : 1})
        ])
    },
    components: {
        'app-timeline' : Timeline
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

<style>

</style>