<template>
    <section>
        <h3 class="font-weight-600 mb-0">Meta Data</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" placeholder="Search Meta /url" v-model="query" @keyup="search" v-width="'250px'">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-meta-create'}">Add New Meta</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-meta></admin-table-meta>
        </div>
    </section>
</template>
<script>
    import { mapMutations } from 'vuex'
    import AdminTableMeta from '@/components/admin/table/Meta.vue'
    import _ from 'lodash'
    export default {
        async asyncData ({ store }) {
            await store.dispatch('meta/getMetaData')
            return
        },
        data(){
            return{
                query: ''
            }
        },
        methods:{
            ...mapMutations(['SET_LOADING_TABLE']),
            search:_.debounce(function(e){
                this.SET_LOADING_TABLE(true)
                this.$store.dispatch('meta/searchMeta', this.query).then( response =>{
                    this.SET_LOADING_TABLE(false)
                })
            }, 800)
        },
        components:{
            'admin-table-meta': AdminTableMeta,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

