<template>
    <div>
        <div :class="{'d-flex align-items-center': is_company }">
            <img src="/customer/ico-company.png" alt="" class="ico-customer ico-company" v-if="is_company">
            <h5 class="mb-0 ml-1 gray" v-if="is_company">{{ company }}</h5>                            
        </div>
        <p class="mb-1 gray" v-if="is_company">{{ builders_code }}</p>
        <div :class="{'d-flex align-items-center': !is_company }">
            <img src="/customer/ico-individual.png" alt="" class="ico-customer" v-if="!is_company">  
            <h5 :class="{'ml-1': !is_company}" class="mb-0 gray">{{ name }}</h5>                                     
        </div>
        <p class="mb-1 gray" :class="{'cursor-pointer' : emailAction}" v-if="email != undefined || email != null" @click="showEmail">
            {{email}}
        </p>
        <div :class="{'card p-2 mb-2 d-flex align-items-start flex-row justify-content-between': change_delivery}">
            <p class="mb-1 gray" v-html="address ? address:''"></p>
            <a href="#" class="d-flex align-items-center" @click.prevent="changeDelivery" v-if="change_delivery">
                <i class="far fa-edit mr-1"></i>
                <div>Change Address</div>
            </a>
        </div>
        <p class="mb-1 gray">{{ phone_number }}</p>
    </div>
</template>

<script>
    export default {
        props: {
            change_delivery:{
                type: Boolean,
                default: false
            },
            company: {
                required: true
            },
            is_company: {
                type: Boolean,
                default: false
            },
            builders_code: {
                required: true
            },
            name: {
                type: String,
                required: true
            },
            email :{
                type: String
            },
            address: {
                type: String,
                required: true
            },
            phone_number: {
                // type: String,
                required: true
            },
            emailAction : {
                type: Boolean,
                default: false,
            }
        },
        methods:{
            changeDelivery(){
                this.$emit('show')
            },
            showEmail(){
                this.$emit('showEmail')
            }
        }
    }
</script>

<style scoped>
    .ml-1 {
        margin-left: 5px !important;
    }
</style>