<template>
    <div>
        <div v-if="link" class="d-flex gap mb-3">
            <nuxt-link
                tag="a"
                :to="link"
            >
                <h4 class="text-dark mb-0">
                    <i class="fas fa-arrow-left"></i>
                </h4>
            </nuxt-link>
            <h4 class="text-dark mb-0">{{ title }}</h4>
        </div>
        <div v-if="!link" class="d-flex gap mb-3">
            <a
                tag="a"
                class="pointer"
                @click="$emit('goBack')"
            >
                <h4 class="text-dark mb-0">
                    <i class="fas fa-arrow-left"></i>
                </h4>
            </a>
            <h4 class="text-dark mb-0">{{ title }}</h4>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
        },
        link: {
            type: Object,
            default: () => null,
        },
    },
};
</script>
<style lang="scss" scoped>
.gap {
    gap: 1rem;
}
</style>
