<template>
    <div :class="`sly-badge sly-badge--${size} sly-badge--${variant}`">
        <slot />
    </div>
</template>

<script>
export default {
    name: "Badge",
    props: {
        size: {
            type: String,
            default: "md",
        },
        variant: {
            type: String,
            default: "success",
        },
    },
};
</script>
