<template>
    <button :class="type">
        <slot />
    </button>
</template>

<script>
    export default {
        name: 'Button',
        props: ['type']
    }
</script>

<style scoped>
    button.primary {
        background: blue;
        color: white;
        width: 1000px;
        height: 1000px;
    }
</style>