<template>
    <div :class="`card-border mt-3 ${variant}`" @click="selectCard">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "CardBorder",
    props: {
        variant: {
            type: String,
            default: "info",
        },
    },
    methods: {
        selectCard() {
            this.$emit('click');
        }
    }
};
</script>

<style lang="scss" scoped>
.card-border {
    padding: 15px;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 19px rgba(103, 103, 103, 0.1);
    -webkit-box-shadow: 0px 4px 19px rgba(103, 103, 103, 0.1);
    -moz-box-shadow: 0px 4px 19px rgba(103, 103, 103, 0.1);

    &-sm {
        padding: 10px;
        font-size: 80%;
    }

    &-lg {
        padding: 35px;
        font-size: large;
    }

    &.transparent {
        border-color: transparent;
    }

    &.success {
        border-color: #80d651;
    }

    strong.title {
        color: #80d651;
    }

    &.info {
        border-color: #45abcd;
    }

    strong.title {
        color: #45abcd;
    }

    &.warning {
        border-color: #feaf20;
    }

    strong.title {
        color: #feaf20;
    }

    &.danger {
        border-color: #f44336;
    }

    strong.title {
        color: #f44336;
    }

    &.purple {
        border-color: #0056B9;
    }

    &.red {
        border-color: #E81C0D
    }

    &.green {
        border-color: #28A745;
    }

}
</style>
