<template>
    <div>
        <div class="chat__button cursor-pointer" @click="showContactList">
            <img src="/icon/chat_bubble.svg" alt="" class="icon__bubble">
            <!-- <div class="counter counter-red counter-unread" v-if="unseenChatCounter > 0"></div> -->
            <div class="counter counter-green" v-if="unseenChatCounter > 0">{{unseenChatCounter > 99 ? '99+' : unseenChatCounter}}</div>
        </div>
        <div class="chat__minimized--wrapper">
            <transition-group name="slide" mode="in-out" tag="div" class="d-flex flex-column-reverse">
                <div class="chat__minimized--item position-relative mb-3" 
                    v-for="(chat, index) in minimizedChat" :key="'index' + index">
                    <div class="chat__minimized--image" @click="openChatWindow(chat, index)">
                        <img :src="chat.image" alt="">
                    </div>
                    <div class="chat__minimized--close" @click="closeMinimized(index)">
                        <i class="fas fa-times text-white"></i>
                    </div>
                    <!-- <div class="counter counter-red">1</div> -->
                </div>
            </transition-group>
        </div>
        <div class="chat d-flex align-items-end flex-row-reverse">
            <transition name="slide" mode="out-in">
                <div class="chat__wrapper ml-2" v-if="contactList">
                    <div class="chat__header p-4">
                        <div class="d-flex align-items-center">
                            <input type="text" v-model="q" class="form-control form-control-sm pl-0" placeholder="Search people..." @input="handleSearch($event)" v-width="'210px'">
                            <div class="cursor-pointer ml-auto" @click="groupPanel = true">
                                <img src="/icon/group_add.svg" alt="">
                            </div>
                            <div class="cursor-pointer ml-3" @click="showContactList">
                                <i class="fas fa-times text-white"></i>
                            </div>
                        </div>
                    </div>
                    <b-tabs v-model="tabActive" class="px-3">
                        <b-tab title="Recent" active></b-tab>
                        <b-tab title="People"></b-tab>
                        <b-tab title="Group"></b-tab>
                    </b-tabs>
                    <div class="chat__contact chat__inner py-2">
                        <transition name="slide" mode="out-in">
                            <div v-if="tabActive == 0" key="index-1">
                                <template v-if="chatList != null">
                                    <template v-if="chatListRecentOnline.length > 0 && contactList">
                                        <div class="chat__online--count text-gray d-flex align-items-center px-3 my-2" v-if="q.length == 0 && userOnline > 0">
                                            <span>{{chatListRecentOnline.length}} Users are online</span>
                                        </div>
                                        <transition-group name="slide" mode="out-in">
                                            <div class="chat__contact--item cursor-pointer px-3 d-flex align-items-center" v-for="(item, i) in chatListRecentOnline" :key="'recent-'+i" @click="openChatWindow(item, i)">
                                                <div class="chat__contact--item-image position-relative">
                                                    <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                                    <!-- <no-ssr>
                                                        <clazy-load :src="item.image">
                                                        </clazy-load>
                                                    </no-ssr> -->
                                                    <template v-if="item.is_group != 1">
                                                        <div class="chat__contact--status" v-if="item.status == 'online'">
                                                            <i class="fas fa-circle fa-sm"></i>
                                                        </div>
                                                    </template>
                                                </div>
                                                <div class="chat__contact--item-name ml-3">
                                                    <h6 class="mb-0">{{item.name}}</h6>
                                                    <div class="small mb-0 text-gray d-flex align-items-center" v-if="item.chat != null">
                                                        <div class="mr-1" v-if="item.user_id != item.chat.sender_id && item.is_group != 1">
                                                            <template v-if="item.chat.status == 0">
                                                                <img src="/icon/check.svg" alt="" class="delivery__status--icon">
                                                            </template>
                                                            <template v-else-if="item.chat.status == 1">
                                                                <img src="/icon/check-double.svg" alt="" class="delivery__status--icon">
                                                            </template>
                                                            <template v-else>
                                                                <img src="/icon/check-double-success.svg" alt="" class="delivery__status--icon">
                                                            </template>
                                                        </div>
                                                        <p class="small mb-0" v-if="item.chat.attachment_id == null">
                                                            {{item.chat.body | truncate(40)}}
                                                        </p>
                                                        <div class="small mb-0 d-flex align-items-center" v-else>
                                                            <i class="fas fa-paperclip text-gray mr-1"></i>
                                                            <p class="my-0">Attachment</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="counter counter-red ml-auto" v-if="item.unread > 0">{{item.unread}}</div>
                                            </div>
                                        </transition-group>
                                    </template>
                                    <div class="chat__online--count text-gray d-flex align-items-center px-3 my-2" v-if="q.length == 0">
                                        <span>{{chatListRecentOffline.length}} Users are offline</span>
                                    </div>
                                    <transition-group name="slide" mode="out-in">
                                        <div class="chat__contact--item cursor-pointer px-3 d-flex align-items-center" v-for="(item, i) in chatListRecentOffline" :key="'recent-'+i" @click="openChatWindow(item, i)">
                                            <div class="chat__contact--item-image position-relative">
                                                <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                            </div>
                                            <div class="chat__contact--item-name ml-3">
                                                <h6 class="mb-0">{{item.name}}</h6>
                                                <div class="small mb-0 text-gray d-flex align-items-center" v-if="item.chat != null">
                                                    <div class="mr-1" v-if="item.user_id != item.chat.sender_id && item.is_group != 1">
                                                        <template v-if="item.chat.status == 0">
                                                            <img src="/icon/check.svg" alt="" class="delivery__status--icon">
                                                        </template>
                                                        <template v-else-if="item.chat.status == 1">
                                                            <img src="/icon/check-double.svg" alt="" class="delivery__status--icon">
                                                        </template>
                                                        <template v-else>
                                                            <img src="/icon/check-double-success.svg" alt="" class="delivery__status--icon">
                                                        </template>
                                                    </div>
                                                    <p class="small mb-0" v-if="item.chat.attachment_id == null">
                                                        {{item.chat.body | truncate(40)}}
                                                    </p>
                                                    <div class="small mb-0 d-flex align-items-center" v-else>
                                                        <i class="fas fa-paperclip text-gray mr-1"></i>
                                                        <p class="my-0">Attachment</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="counter counter-red ml-auto" v-if="item.unread > 0">{{item.unread}}</div>
                                        </div>
                                    </transition-group>                                
                                </template>
                                <template v-else>
                                    <p class="mb-0 text-center">User not found</p>
                                </template>
                            </div>
                            <div v-if="tabActive == 1" key="index-2">
                                <template v-if="chatList != null">
                                    <template v-if="chatListPeopleOnline.length > 0">
                                        <div class="chat__online--count text-gray d-flex align-items-center px-3 my-2" v-if="q.length == 0 && userOnline > 0">
                                            <span>{{chatListPeopleOnline.length}} Users are online</span>
                                        </div>
                                        <transition-group name="slide" mode="out-in">
                                            <div class="chat__contact--item cursor-pointer px-3 d-flex align-items-center" v-for="(item, i) in chatListPeopleOnline" :key="'user-'+i" @click="openChatWindow(item, i)">
                                                <div class="chat__contact--item-image position-relative">
                                                    <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                                    <div class="chat__contact--status" v-if="item.status == 'online'">
                                                        <i class="fas fa-circle fa-sm"></i>
                                                    </div>
                                                </div>
                                                <div class="chat__contact--item-name ml-3">
                                                    <h6 class="mb-0">{{item.name}}</h6>
                                                    <p class="small mb-0 text-gray"></p>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </template>
                                    <template v-if="chatListPeopleOffline.length > 0">
                                        <div class="chat__online--count text-gray d-flex align-items-center px-3 my-2" v-if="q.length == 0">
                                            <span>{{chatListPeopleOffline.length}} Users are offline</span>
                                        </div>
                                        <transition-group name="slide" mode="out-in">
                                            <div class="chat__contact--item cursor-pointer px-3 d-flex align-items-center" v-for="(item, i) in chatListPeopleOffline" :key="'user-'+i" @click="openChatWindow(item, i)">
                                                <div class="chat__contact--item-image position-relative">
                                                    <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                                    <div class="chat__contact--status" v-if="item.status == 'online'">
                                                        <i class="fas fa-circle fa-sm"></i>
                                                    </div>
                                                </div>
                                                <div class="chat__contact--item-name ml-3">
                                                    <h6 class="mb-0">{{item.name}}</h6>
                                                    <p class="small mb-0 text-gray"></p>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </template>
                                </template>
                                <template v-else>
                                    <p class="mb-0 text-center">User not found</p>
                                </template>
                            </div>
                            <div v-if="tabActive == 2" key="index-3">
                                <template v-if="chatList != null">
                                    <transition-group name="slide" mode="out-in">
                                        <div class="chat__contact--item cursor-pointer px-3 d-flex align-items-center" v-for="(item, i) in chatList.group" :key="'user-'+i" @click="openChatWindow(item, i)">
                                            <div class="chat__contact--item-image position-relative">
                                                <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                            </div>
                                            <div class="chat__contact--item-name ml-3">
                                                <h6 class="mb-0">{{item.name | truncate(30)}}</h6>
                                            </div>
                                        </div>
                                    </transition-group>
                                </template>
                                <template v-else>
                                    <p class="mb-0 text-center">User not found</p>
                                </template>
                            </div>
                        </transition>
                    </div>
                </div>
            </transition>
            <transition-group name="slide" mode="out-in" tag="div" class="d-flex align-items-end flex-row-reverse">
                <div class="chat__wrapper mx-2" 
                    v-for="(item, i) in conversation" :key="'chat' + i">
                    <div class="chat__expand position-relative" ref="chatAction">
                        <div class="chat__header d-flex align-items-center border-bottom py-3 px-4">
                            <div class="d-flex align-items-center py-1">
                                <div class="chat__contact--item-image position-relative">
                                    <img :src="item.image == 'https://via.placeholder.com/150' ? '/placeholder-user.png' : 'https://images.slymanmedia.com/50x,fit,q100/' + item.image" alt="" class="img-fluid rounded-circle">
                                    <template v-if="item.is_group != 1">
                                        <div class="chat__contact--status" v-if="item.status == 'online'">
                                            <i class="fas fa-circle fa-sm"></i>
                                        </div>
                                    </template>
                                </div>
                                <div class="flex-row ml-3">
                                    <p class="text-white mb-0" :key="item.name">{{item.name | truncate(15)}}</p>
                                    <template v-if="item.is_group != 1">
                                        <p class="text-white small mb-0" v-if="item.status == 'online'">Online</p>
                                        <p class="text-white small mb-0" v-else>Offline</p>
                                    </template>
                                </div>
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="flex-row">
                                    <i class="far fa-window-minimize text-white cursor-pointer" @click="minimizeChat(item, i)"></i>
                                </div>
                                <!-- <div class="flex-row ml-3">
                                    <i class="fas fa-expand text-white cursor-pointer"></i>
                                </div> -->
                                <div class="flex-row ml-3">
                                    <i class="fas fa-times cursor-pointer text-white" @click="closeChatWindow(item, i)"></i>
                                </div>
                                <div class="flex-row ml-3" v-show="item.is_group == 1">
                                    <i class="fas fa-ellipsis-v cursor-pointer text-white" @click.stop="onClose" @click="groupAction(item, i)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-default chat__group--action bg-white d-flex flex-column py-2 px-0" 
                            v-if="item.is_action && item.is_group != 0"
                            v-click-outside="onClose">
                            <div class="cursor-pointer chat__group--item px-4 py-2 text-dark" 
                                @click="editGroup(item)" 
                                @click.prevent="groupAction(item, i)"
                                v-if="item.member.findIndex(item => { return item.user_id == $auth.$state.user.user_id && item.is_admin == 1}) != -1">
                                Edit group
                            </div>
                            <div class="cursor-pointer chat__group--item px-4 py-2 text-dark" @click="addPeopleGroup(item)" @click.prevent="groupAction(item, i)">Add people</div>
                            <div class="cursor-pointer chat__group--item px-4 py-2 text-dark" 
                                @click="showLeaveModal(item)" 
                                @click.prevent="groupAction(item, i)"
                                v-if="item.member.findIndex(item => { return item.user_id == $auth.$state.user.user_id && item.is_admin == 1}) == -1">
                                Leave group
                            </div>
                            <div class="cursor-pointer chat__group--item px-4 py-2 text-danger" 
                                @click="showDeleteModal(item)" 
                                @click.prevent="groupAction(item, i)"
                                v-if="item.member.findIndex(item => { return item.user_id == $auth.$state.user.user_id && item.is_admin == 1}) != -1">
                                Delete group
                            </div>
                        </div>
                        <transition name="slide" mode="out-in">
                            <div class="alert__upload bg-danger text-white" v-if="tempDataChat[i].isUpload">
                                File uploading is in progress. Please wait.
                            </div>
                        </transition>
                        <div class="chat__inner chat__inner--chat p-2 bg-white position-relative" ref="chatArea" @scroll="handleScroll(item, i)">
                        <transition name="fade" mode="out-in">
                            <div class="spinner-wrapper spinner-wrapper__chat" key="index" v-if="tempDataChat[i].isLoading">
                                <div class="lds-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </transition>
                        <div :class="{'mt-4' : tempDataChat[i]}.isLoading">
                            <transition-group name="slide" mode="out-in" tag="div" class="d-flex flex-column chat__bubble--outter">
                                <div v-for="(chat, i) in item.data" :key="'chat' + i" ref="chatInner">
                                    <template v-if="chat.sender_id != $auth.$state.user.user_id">
                                        <div class="chat__bubble--wrapper">
                                            <div class="d-flex flex-column align-items-start" v-if="chat.attachment != null && chat.attachment_id != null">
                                                <div class="chat__bubble chat__bubble--left chat__bubble--attachment">
                                                    <p class="mb-1 mt-0 text-blue" v-if="item.is_group != 0">{{chat.sender_name}}</p>
                                                    <div class="chat__attachment--wrapper d-flex align-items-start">
                                                        <div class="chat__attachment--file mr-auto">
                                                            <div class="d-flex align-items-start" v-if="chat.attachment.file_type != 'image'">
                                                                <div class="chat__attachment--icon">
                                                                    <i class="far fa-file-video fa-3x text-warning" 
                                                                        v-if="chat.attachment.file_type == 'mp4' || chat.attachment.file_type == 'mov' || chat.attachment.file_type == 'mkv'"></i>
                                                                    <i class="far fa-file-pdf fa-3x text-danger" v-else-if="chat.attachment.file_type == 'pdf'"></i>
                                                                    <i class="far fa-file-archive fa-3x text-gray" v-else-if="chat.attachment.file_type == 'zip'"></i>
                                                                    <i class="far fa-file-audio fa-3x text-success" v-else-if="chat.attachment.file_type == 'mp3'"></i>
                                                                    <i class="far fa-file-alt fa-3x text-gray" v-else></i>
                                                                </div>
                                                                <div class="chat__attachment--text ml-2">
                                                                    <p class="mb-0 mt-0">{{ chat.attachment.file_name | truncate(18)}}</p>
                                                                    <p class="mb-0 mt-0">{{ Number(chat.attachment.file_size) | prettyBytes}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column" v-else>
                                                                <div class="chat__attachment--text">
                                                                    <p class="mb-0 mt-0">{{chat.attachment.file_name | truncate(25)}}</p>
                                                                    <p class="mb-0 mt-0">{{ Number(chat.attachment.file_size) | prettyBytes}}</p>
                                                                </div>
                                                                <a :href="chat.attachment.thumbnail" target="_blank" class="chat__attachment--image mt-2">
                                                                    <img :src="'https://images.slymanmedia.com/100,fit,q100/' + chat.attachment.thumbnail" alt="Slymanbros - Attachment">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a :href="chat.attachment.download_url" class="chat__attachment--dl ml-2" target="_blank" download>
                                                            <i class="fas fa-cloud-download-alt text-primary"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <template v-for="(bodyGrouped, index) in chat.body.split('@#@')">
                                                <div class="chat__bubble chat__bubble--left mb-1" :key="'body' + index">
                                                    <p class="mb-1 mt-0 text-blue" v-if="item.is_group != 0">{{chat.sender_name}}</p>
                                                    {{bodyGrouped}}
                                                </div>
                                            </template> -->
                                            <div class="chat__bubble chat__bubble--left mb-1" v-else>
                                                <p class="mb-1 mt-0 text-blue" v-if="item.is_group != 0">{{chat.sender_name}}</p>
                                                {{chat.body}}
                                            </div>
                                            <!-- <transition name="slide" mode="out-in" tag="div" class="d-flex flex-column align-items-start">
                                            </transition> -->
                                            <p class="small mb-0">{{chat.sent_time}}</p>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="chat__bubble--wrapper d-flex flex-column align-items-end">
                                            <div class="d-flex flex-column align-items-end" v-if="chat.attachment != null && chat.attachment_id != null">
                                                <div class="chat__bubble chat__bubble--right chat__bubble--attachment">
                                                    <div class="chat__attachment--wrapper d-flex align-items-start">
                                                        <div class="chat__attachment--file mr-auto">
                                                            <div class="d-flex align-items-start" v-if="chat.attachment.file_type != 'image'">
                                                                <div class="chat__attachment--icon">
                                                                    <i class="far fa-file-video fa-3x text-warning" 
                                                                        v-if="chat.attachment.file_type == 'mp4' || chat.attachment.file_type == 'mov' || chat.attachment.file_type == 'mkv'"></i>
                                                                    <i class="far fa-file-pdf fa-3x text-danger" v-else-if="chat.attachment.file_type == 'pdf'"></i>
                                                                    <i class="far fa-file-archive fa-3x text-gray" v-else-if="chat.attachment.file_type == 'zip'"></i>
                                                                    <i class="far fa-file-audio fa-3x text-success" v-else-if="chat.attachment.file_type == 'mp3'"></i>
                                                                    <i class="far fa-file-alt fa-3x text-gray" v-else></i>
                                                                </div>
                                                                <div class="chat__attachment--text text-white ml-2">
                                                                    <p class="mb-0 mt-0">{{ chat.attachment.file_name | truncate(18)}}</p>
                                                                    <p class="mb-0 mt-0">{{ Number(chat.attachment.file_size) | prettyBytes}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column" v-else>
                                                                <div class="chat__attachment--text text-white">
                                                                    <p class="mb-0 mt-0">{{chat.attachment.file_name | truncate(25)}}</p>
                                                                    <p class="mb-0 mt-0">{{ Number(chat.attachment.file_size) | prettyBytes}}</p>
                                                                </div>
                                                                <a :href="chat.attachment.thumbnail" target="_blank" class="chat__attachment--image mt-2">
                                                                    <img :src="'https://images.slymanmedia.com/100,fit,q100/' + chat.attachment.thumbnail" alt="Slymanbros - Attachment">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a :href="chat.attachment.download_url" class="chat__attachment--dl ml-2" target="_blank" :download="chat.attachment.file_name">
                                                            <i class="fas fa-cloud-download-alt text-primary"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <template v-for="(bodyGrouped, index) in chat.body.split('@#@')">
                                                <div class="chat__bubble chat__bubble-ed chat__bubble--right mb-1 text-white" :key="'body' + index">
                                                    {{bodyGrouped}}
                                                </div>
                                            </template> -->
                                            <div class="chat__bubble chat__bubble--right mb-1 text-white" v-else>
                                                {{chat.body}}
                                            </div>
                                            <div class="d-flex align-items-center justify-content-end">
                                                <p class="small mb-0 text-gray">{{chat.sent_time}}</p>
                                                <div class="ml-1" v-if="item.is_group != 1">
                                                    <template v-if="chat.status == 0">
                                                        <img src="/icon/check.svg" alt="" class="delivery__status--icon">
                                                    </template>
                                                    <template v-else-if="chat.status == 1">
                                                        <img src="/icon/check-double.svg" alt="" class="delivery__status--icon">
                                                    </template>
                                                    <template v-else>
                                                        <img src="/icon/check-double-success.svg" alt="" class="delivery__status--icon">
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </transition-group>
                            <transition name="slide" mode="out-in">
                                <div class="chat__typing d-flex align-items-start flex-column" v-if="item.is_typing" key="index">
                                    <div class="chat__bubble chat__bubble--left d-flex align-items-center">
                                        <i class="fas fa-circle fa-xs text-gray ml-1"></i>
                                        <i class="fas fa-circle fa-xs text-gray ml-1"></i>
                                        <i class="fas fa-circle fa-xs text-gray ml-1"></i>
                                    </div>
                                </div>
                            </transition>
                        </div>
                        </div>
                        <div class="text-area d-flex align-items-center border-top bg-light">
                            <div class="flex-row py-2 w-100">
                                <div class="chat__upload--wrapper d-flex align-items-center" v-if="item.attachment.length > 0">
                                    <div class="chat__upload--icon d-flex align-items-center justify-content-center">
                                        <i class="far fa-file-video fa-2x text-warning" 
                                            v-if="item.attachment[0].ext == 'mp4' || item.attachment[0].ext == 'mov' || item.attachment[0].ext == 'mkv'"></i>
                                        <i class="far fa-file-pdf fa-2x text-danger" v-else-if="item.attachment[0].ext == 'pdf'"></i>
                                        <i class="far fa-file-archive fa-2x text-gray" v-else-if="item.attachment[0].ext == 'zip'"></i>
                                        <i class="far fa-file-audio fa-2x text-success" v-else-if="item.attachment[0].ext == 'mp3'"></i>
                                        <i class="far fa-file-image fa-2x text-gray" 
                                            v-else-if="item.attachment[0].ext == 'png' || item.attachment[0].ext == 'jpg' || item.attachment[0].ext == 'jpeg' || item.attachment[0].ext == 'gif'"></i>
                                        <i class="far fa-file-alt fa-2x text-gray" v-else></i>
                                    </div>
                                    <div class="chat__upload--progress">
                                        <b-progress height="5px" class="w-100" variant="success" :value="item.attachment[0].progress"></b-progress>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="my-0 small">{{item.attachment[0].progress == 100 && item.attachment[0].id != null ? 'Uploaded' : 'Uploading'}} <span>{{item.attachment[0].progress + '%'}}</span></p>
                                            <transition name="slide-left">
                                                <p class="my-0 small cursor-pointer text-danger" @click="removeAttachment(item)" v-if="item.attachment[0].progress == 100 && item.attachment[0].id != null">Remove</p>
                                            </transition>
                                        </div>
                                    </div>
                                </div>
                                <textarea :name="'inputMessage-'+i" ref="textArea" class="form-control border-0" v-model="typing[i]" placeholder="Type message..." cols="30" rows="1" @focus="focusText(item, i)" @keypress.enter.exact.prevent="sendMessage(item.user_id, item, i)" @input="listenTyping(item, i)"></textarea>
                            </div>
                            <transition name="slide" mode="out-in">
                                <VEmojiPicker
                                    v-show="tempDataChat[i].isShowEmoji"
                                    labelSearch="Search"
                                    @select="selectEmoji($event, i)"
                                />
                            </transition>
                            <div class="d-flex align-items-center px-3">
                                <div class="flex-row cursor-pointer mr-3" @click="toggleEmoji(i)">
                                    <img src="/icon/emoji.svg" alt="" class="icon__chat--action">
                                </div>
                                <div class="flex-row">
                                    <label :for="'#attachFile' + i" class="cursor-pointer mb-0" :class="item.attachment.length > 0 ? 'attachment--disabled' : ''">
                                        <img src="/icon/icon_attach.svg" alt="" class="icon__chat--action">
                                    </label>
                                    <input type="file" class="form-control d-none" :id="'#attachFile' + i" @change="uploadHandler($event, item, i)">
                                </div>
                                <div class="flex-row cursor-pointer ml-3" @click="sendMessage(item.user_id, item, i)">
                                    <img src="/icon/icon_send.svg" alt="" class="icon__chat--action">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
        </div>
        <app-modal size="md" :title="'Confirm'" @hide="hideDeleteModal" :show="is_deleteGroup" modalClass="modal-chat">
            <h5 class="mb-1 text-center">Are you sure want to delete this group ?</h5>
            <div slot="modal-footer">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mr-3" @click="deleteGroup">Delete</button>
                    <button class="btn btn-outline-primary" @click="hideDeleteModal">Cancel</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="md" :title="'Confirm'" @hide="hideLeaveModal" :show="is_leaveGroup" modalClass="modal-chat">
            <h5 class="mb-1 text-center">Are you sure want to leave this group ?</h5>
            <div slot="modal-footer">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mr-3" @click="leaveGroup">Leave</button>
                    <button class="btn btn-outline-primary" @click="hideLeaveModal">Cancel</button>
                </div>
            </div>
        </app-modal>
        <action-chat v-model="groupPanel" :edit="is_editGroup" :addPeople="is_addPeopleGroup" />
    </div>
</template>

<script>
import {mapState, mapActions, mapMutations} from 'vuex'
import ActionChat from '@/components/action/Chat'
import Modal from '@/components/utilities/Modal'
import VEmojiPicker from 'v-emoji-picker'
import _ from 'lodash'

export default {
    components:{
        ActionChat,
        VEmojiPicker,
        'app-modal' : Modal,
    },
    watch: {
        groupPanel(val){
            if(!val){
                this.SET_GROUP_SELECTED(null)
                this.is_editGroup = false
                this.is_addPeopleGroup = false
            }
        }
    },
    created() {
        this.getOnlineStatus(this.$auth.$state.user.user_id)
        .then(() =>{
            this.getChatList({
                id : this.$auth.$state.user.user_id,
                q : ""
            })
        })
        
    },
    mounted() {
        // Echo.channel('user-online-status')
        // .listen("UserOnlineStatus", (e) => {
        //     this.SET_CHAT_LIST_DATA(e.data)
        // })
        this.getChatKey(this.$auth.$state.user.user_id
        ).then( (users) => {
            users.forEach( el => {
                Echo.private('chatroom-'+el)
                .listen("ChatSent", (e) => {
                    if(e.data.is_group == 1){
                        this.chatList.group.forEach((item, index) =>{
                            if(item.user_id == e.data.receiver_id && item.is_group == e.data.is_group){
                                if(e.data.sender_id != this.$auth.$state.user.user_id){
                                    this.requestNotification(e.data)
                                    let index = this.conversation.findIndex(o => {return o.user_id == e.data.receiver_id})
                                    if(index == -1){
                                        this.openChatWindow({user_id: e.data.receiver_id})
                                    }
                                }
                            }
                        })
                    }else if(e.data.sender_id != this.$auth.$state.user.user_id){
                        this.requestNotification(e.data)
                        let index = this.conversation.findIndex(o => {return o.user_id == e.data.sender_id})
                        if(index == -1) {
                            this.openChatWindow({user_id: e.data.sender_id})
                        }
                    }
                    if(e.data && this.conversation.length > 0){
                        if(this.conversation.find(item => item.user_id == e.data.receiver_id || item.user_id == e.data.sender_id)){
                            let index = this.conversation.findIndex(function(item) {
                                return (item.user_id == e.data.receiver_id || item.user_id == e.data.sender_id) && item.is_group == e.data.is_group
                            })
                            this.addMessageData(e.data).then(() =>{
                                this.scrollToEnd(index)
                            })
                        }
                    }
                    this.getChatList({
                        id : this.$auth.$state.user.user_id,
                        q : ""
                    })
                })
                Echo.private('chatseen-'+el)
                .listen("ChatSeen", (e) =>{
                    this.SET_SEEN_STATUS(e.data)
                    this.getChatList({
                        id : this.$auth.$state.user.user_id,
                        q : ""
                    })
                })
                Echo.private('typing-'+el)
                .listen("Typing", (e) => {
                    this.conversation.forEach((item, index) =>{
                        if(item.user_id == e.data.user.sender_id){
                            this.setTypingIndicator(e.data, index).then(() =>{
                                this.scrollToEnd(index)
                            })
                        }
                    })
                })
            })
            Echo.channel('group-update-' + this.$auth.$state.user.user_id)
            .listen("GroupSent", (e) => {
                console.log('group update')

                if(e.data.group_name === "new"){
                    console.log("group new created");
                    window.Echo.private('chatroom-'+e.data.channel)
                        .listen("ChatSent", (e) => {
                            if(this.conversation.find(item => item.user_id == e.data.receiver_id || item.user_id == e.data.sender_id)){
                                let index = this.conversation.findIndex(function(item) {
                                    return (item.user_id == e.data.receiver_id || item.user_id == e.data.sender_id) && item.is_group == e.data.is_group
                                })
                                this.addMessageData(e.data).then(() =>{
                                    this.scrollToEnd(index)
                                })
                            }
                            if(e.data.is_group == 1){
                                this.chatList.group.forEach((item, index) =>{
                                    if(item.user_id == e.data.receiver_id && item.is_group == e.data.is_group){
                                        if(e.data.sender_id != this.$auth.$state.user.user_id){
                                            this.requestNotification(e.data)
                                            let index = this.conversation.findIndex(o => {return o.user_id == e.data.receiver_id})
                                            if(index == -1){
                                                this.openChatWindow({user_id: e.data.receiver_id})
                                            }
                                        }
                                    }
                                })
                            }
                            this.getChatList({
                                id : this.$auth.$state.user.user_id,
                                q : ""
                            })
                        })
                }
                this.getChatList({
                    id : this.$auth.$state.user.user_id,
                    q : ""
                })
            })
        })
    },
    data: () => ({
        contactList: false,
        showDialog: false,
        is_editGroup: false,
        chatWindow: [],
        typing: [],
        is_deleteGroup: false,
        is_leaveGroup: false,
        temp_data: null,
        isLoading: false,
        deliveryStatus: false,
        tabActive: 0,
        groupPanel: false,
        is_addPeopleGroup: false,
        actionGroup : [],
        // tempDataChat: [],
        minimizedChat: [],
        emojis: '',
        q : ""
    }),
    methods: {
        ...mapMutations('chat', ['REMOVE_SELECTED_CONVERSATION_DATA','ADD_NEW_MESSAGE_DATA','SET_CHAT_LIST_DATA', 'SET_SEEN_STATUS', 'SET_GROUP_SELECTED', 'SET_TEMP_CHAT_DATA', 'REMOVE_TEMP_CHAT_DATA']),
        ...mapActions('chat',['getChatList','getChatKey','getConversation','postMessage', 'getOnlineStatus', 'chatSeenStatus', 'chatTypingStatus', 'deleteGroupChat', 'leaveGroupChat', 'uploadFile']),
        selectEmoji($event, i){
            if($event && this.typing[i] != undefined){
                this.typing[i] += $event.data
            }else{
                this.typing[i] = '' + $event.data
            }
            this.$forceUpdate()
        },
        toggleEmoji(i){
            this.tempDataChat[i].isShowEmoji = !this.tempDataChat[i].isShowEmoji
        },
        closeEmoji(i){
            this.tempDataChat[i].isShowEmoji = false
        },
        onClose(){
            if(this.conversation.length > 0){
                let index = this.conversation.findIndex(v=>{return v.is_action == true})
                if(index != -1){
                    this.conversation[index].is_action = false
                }
            }
        },
        // downloadFile(url, fileName){
        //     this.$axios.get(url, {
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'Access-Control-Allow-Origin': '*',
        //             'Access-Control-Allow-Headers' : 'Origin, X-Requested-With, Content-Type, Accept'
        //         },
        //         crossDomain: true,
        //         responseType: 'arraybuffer',
        //     }).then((response) => {
        //         const url = window.URL.createObjectURL(new Blob([response.data]));
        //         const link = document.createElement('a');
        //         link.href = url;
        //         link.setAttribute('download', fileName);
        //         document.body.appendChild(link);
        //         link.click();
        //     });
        // },
        removeAttachment(item){
            item.attachment.splice(0, 1)
        },
        uploadHandler(event, item, i){
            if(event.target.files.length > 0){
                let name = event.target.files[0].name
                let lastDot = name.lastIndexOf('.');
                let ext = name.substring(lastDot + 1)
                this.$refs.textArea[i].focus()
                item.attachment.push({
                    src: event.target.files[0],
                    progress: 0,
                    ext: ext,
                    id: null,
                    download_url: null,
                    file_name: null,
                    file_size: null,
                    file_type: null,
                    thumbnail: null
                })
                let formData = new FormData()
                formData.append('attachment', item.attachment[0].src)
                this.uploadFile({
                    attachment : formData,
                    data: item
                }).then(() =>{
                    this.tempDataChat[i].isUpload = false
                    this.$refs.textArea[i].focus()
                })
            }
        },
        closeMinimized(index){
            console.log('closed')
            this.minimizedChat.splice(index, 1)
        },
        minimizeChat(item, i){
            this.closeChatWindow(item)
            this.minimizedChat.push(item)
        },
        showLeaveModal(item){
            this.is_leaveGroup = true
            this.temp_data = item
        },
        hideLeaveModal(){
            this.is_leaveGroup = false
            this.temp_data = null
        },
        leaveGroup(){
            this.leaveGroupChat({
                group_id : this.temp_data.user_id,
                user_id : this.$auth.$state.user.user_id
            }).then(() =>{
                this.getChatList({
                    id : this.$auth.$state.user.user_id,
                    q : ""
                }).then(() =>{
                    this.closeChatWindow(this.temp_data)
                    this.hideLeaveModal()
                })
            })
        },
        showDeleteModal(item){
            this.is_deleteGroup = true
            this.temp_data = item
        },
        hideDeleteModal(){
            this.is_deleteGroup = false
            this.temp_data = null
        },
        deleteGroup(){
            this.deleteGroupChat(this.temp_data.user_id)
            .then(() =>{
                this.getChatList({
                    id : this.$auth.$state.user.user_id,
                    q : ""
                }).then(() =>{
                    this.closeChatWindow(this.temp_data)
                    this.hideDeleteModal()
                })
            })
        },
        addPeopleGroup(item){
            this.groupPanel = true
            this.is_addPeopleGroup = true
            this.SET_GROUP_SELECTED(item)
        },
        editGroup(item){
            this.groupPanel = true
            this.is_editGroup = true
            this.SET_GROUP_SELECTED(item)
        },
        groupAction(item, i){
            item.is_action  = !item.is_action
        },
        showContactList(){
            this.contactList = !this.contactList
        },
        addMessageData(data){
            return new Promise((resolve, reject) =>{
                resolve(this.ADD_NEW_MESSAGE_DATA(data))
            })
        },
        setTypingIndicator(data, index){
            return new Promise((resolve, reject) =>{
                resolve(this.conversation[index].is_typing = data.is_typing)
            })
        },
        listenTyping: _.debounce(function(item, i) {
            let user_id = item.user_id
            if(this.typing[i].length >= 1){
                this.postTypingStatus(user_id, true)
            }else{
                this.postTypingStatus(user_id, false)
            }
        }, 300),
        postTypingStatus(user_id, status){
             this.chatTypingStatus({
                sender_id : this.$auth.state.user.user_id,
                receiver_id: user_id,
                typing: status 
            })
        },
        focusText(item, i){
            // if(item.is_group != 1){
                this.chatSeenStatus({
                    sender_id: this.$auth.state.user.user_id,
                    receiver_id: item.user_id
                })
                this.closeEmoji(i)
            // }
        },
        handleScroll: _.debounce(function(value, i){
            let element = this.$refs.chatArea[i].scrollTop
            if(element == 0){
                this.tempDataChat[i].isLoading = true
                this.tempDataChat[i].page += 1
                this.getConversation({
                    sender_id: this.$auth.$state.user.user_id,
                    receiver_id: value.user_id,
                    page: this.tempDataChat[i].page,
                    with_conv: true
                }).then( () => {
                    this.tempDataChat[i].isLoading = false
                })
            }
        }, 500),
        handleSearch: _.debounce(function(e){
            this.getChatList({
                id : this.$auth.$state.user.user_id,
                q : this.q
            })
        }, 500),
        openChatWindow(value, i){
            this.showContactList()
            this.SET_TEMP_CHAT_DATA()
            if(!this._.find(this.conversation, function(el){return el.user_id == value.user_id})){
                this.getConversation({
                    sender_id: this.$auth.$state.user.user_id,
                    receiver_id: value.user_id,
                    page: 1,
                    with_conv: true
                }).then( () => {
                    this.conversation.forEach((item, index) =>{
                        if(item.user_id == value.user_id){
                            this.scrollToEnd(index)
                            this.$refs.textArea[index].focus()
                        }
                    })
                    if(this.minimizedChat.length > 0) {
                        this.minimizedChat.forEach((item, index) =>{
                            if(value.user_id == item.user_id){
                                this.closeMinimized(index)
                            }
                        })
                    }
                    // if(value.is_group == 0 ){
                        this.chatSeenStatus({
                            sender_id: this.$auth.state.user.user_id,
                            receiver_id: value.user_id
                        }).then(() =>{
                            this.getChatList({
                                id : this.$auth.$state.user.user_id,
                                q : ''
                            })
                        })
                    // }
                } )
            }
        },
        closeChatWindow(value, i){
            this.REMOVE_SELECTED_CONVERSATION_DATA(value)
            this.REMOVE_TEMP_CHAT_DATA(i)
        },
        scrollToEnd (i) {
            let elementInner = this.$refs.chatInner
            if(elementInner != undefined){
                let element = this.$refs.chatArea
                let lastIndex = elementInner.length - 1
                element[i].scrollTop = elementInner[lastIndex].offsetTop;
            }
        },
        sendMessage(user_id, item, i){
            this.postTypingStatus(user_id, false)
            this.closeEmoji(i)
            let chatBody = {
                id: 333,
                sender_id: this.$auth.$state.user.user_id,
                receiver_id: user_id,
                chat_type: "0",
                type: "0",
                body: this.typing[i] != undefined ? this.typing[i] : '',
                status: "0",
                deleted_at: null,
                created_at: new Date(),
                updated_at: new Date(),
                sent_time: this.moment(new Date()).format('M/D/Y h:mm a'),
                attachment: []
            }
            let typing = []
                this._.forEach(this.typing, function(value, idx){
                    if(idx == i){
                        typing[idx] = ''
                    } else{
                        typing[idx] = value
                    }
            })
            this.typing = typing
            if(item.attachment.length > 0){
                chatBody.attachment = item.attachment
                if(item.attachment[0].progress == 100 && item.attachment[0].id != null){
                    this.postMessage({
                        sender_id : this.$auth.$state.user.user_id,
                        receiver_id: user_id,
                        type: 0,
                        body: chatBody.body,
                        chat_type: 0,
                        attachment: chatBody.attachment
                    }).then(() =>{
                        this.postTypingStatus(user_id, false)
                        item.attachment = []
                    })
                }else{
                    this.tempDataChat[i].isUpload = true
                    setTimeout(() => {
                        this.tempDataChat[i].isUpload = false
                    }, 2000);
                }
            }else{
                this.postMessage({
                    sender_id : this.$auth.$state.user.user_id,
                    receiver_id: user_id,
                    type: 0,
                    body: chatBody.body,
                    chat_type: 0,
                    attachment: []
                }).then(() =>{
                    this.postTypingStatus(user_id, false)
                    item.attachment = []
                })
            }
        },
        requestNotification(data){
            if (Notification.permission === "granted") {
                let sender = data
                let senderName = sender.sender_name
                let vm = this
                let audio = new Audio('/notification.mp3');
                var notification = new Notification(senderName, {
                    body: sender.attachment != null ? 'Sent you an attachment' : sender.body,
                    icon: '/favicon/android-chrome-512x512.png'
                });
                notification.onshow = function(){
                    audio.play()
                }
                notification.onclick = function(){
                    if(sender.is_group == 1){
                        vm._.forEach(vm.chatList.group, (value, index) =>{
                            if(value.user_id == sender.receiver_id){
                                vm.openChatWindow({
                                    user_id: sender.receiver_id
                                }, index)
                            }
                        })
                    }else{
                        vm._.forEach(vm.chatList.user, (value, index) => {
                            if(value.user_id == sender.sender_id){
                                vm.openChatWindow({
                                    user_id: sender.sender_id
                                }, index)
                                vm.chatSeenStatus({
                                    sender_id: vm.$auth.state.user.user_id,
                                    receiver_id: sender.sender_id
                                })
                            }
                        })
                    }
                    notification.close()
                }
            }
            else if (Notification.permission !== "denied") {
                Notification.requestPermission()
            }
        }
    },
    computed: {
        ...mapState('chat', {
            chatList: state => state.chatList,
            userOnline: state => state.userOnline,
            conversation: state => state.conversation,
            tempDataChat: state => state.tempDataChat
        }),
        unseenChatCounter(){
            if(this.chatList != null){
                return _.sumBy(_.values(this.chatList.recent), 'unread');
            }
        },
        chatListRecentOffline() {
            if(this.chatList != null && this.chatList.recent != undefined) {
                let userOffline = this.chatList.recent.filter(v => {
                    return v.status  === 'offline'
                })
                let sortByUnread = userOffline.sort((a, b) => b.unread - a.unread);
                return sortByUnread
            }else{
                let empty = []
                return empty
            }
        },
        chatListRecentOnline() {
            if(this.chatList != null && this.chatList.recent != undefined) {
                let userOnline = this.chatList.recent.filter(v => {
                    return v.status  === 'online' || v.is_group == 1
                })
                let sortByUnread = userOnline.sort((a, b) => b.unread - a.unread);
                return sortByUnread
            }else{
                let empty = []
                return empty
            }
        },
        chatListPeopleOffline() {
            if(this.chatList != null && this.chatList.user != undefined) {
                let userOffline = this.chatList.user.filter(v => {
                    return v.status  === 'offline'
                })
                let sortByUnread = userOffline.sort((a, b) => b.unread - a.unread);
                return sortByUnread
            }else{
                let empty = []
                return empty
            }
        },
        chatListPeopleOnline() {
            if(this.chatList != null && this.chatList.user != undefined) {
                let userOnline = this.chatList.user.filter(v => {
                    return v.status  === 'online' || v.is_group == 1
                })
                let sortByUnread = userOnline.sort((a, b) => b.unread - a.unread);
                return sortByUnread
            }else{
                let empty = []
                return empty
            }
        }
    },
}
</script>

<style>

</style>