<template>
    <div class="dropable-form" :class="`dropable-form--${size}`">
        <b-form-file
            :id="id"
            :value="value"
            :placeholder="null"
            :multiple="multiple"
            accept="image/*"
            :drop-placeholder="null"
            @input="onInput">
            <template slot="file-name">
                <div class="d-flex flex-column align-items-center" v-if="value">
                    <img 
                        ref="imagePreview"                         
                        alt="image-preview" 
                        class="rounded mb-3" 
                        v-show="preview" 
                        width="150">
                    <span>{{value.name}}</span>
                </div>                
            </template>
        </b-form-file>
        <div class="dropable-form__content" v-if="!value">
            <slot name="placeholder" v-if="hasPlaceholderSlot" />
            <span class="text-gray" v-else-if="placeholder && !hasPlaceholderSlot">{{placeholder}}</span>
        </div>
        <div class="dropable-form__content" v-if="typeof value === 'string'">
            <img :src="value" alt="image-preview" width="150" class="rounded">
        </div>        
    </div>
</template>
<script>
export default {
    props: {
        multiple: {
            type: Boolean,
            default: false
        },
        placeholder: {
            type: String,
            default: 'Choose a file or drop it here'
        },
        id: {
            type: String,
            default: 'file-upload'
        },
        size: {
            type: String,
            default: 'md'
        },
        preview: {
            type: Boolean,
            default: false
        },
        value: [Object, String]
    },
    computed: {
        hasPlaceholderSlot() {
            return !!this.$slots.placeholder
        }
    },
    methods: {
        onInput(file){
            this.value = file
            this.$emit('input', this.value)
            if(this.preview && this.value){
                this.$nextTick(() => {
                    this.$refs.imagePreview.src = window.URL.createObjectURL(this.value)                    
                })
            }
        }
    }
}
</script>