<template>
    <transition name="fade" mode="out-in">
        <div class="lightbox" v-if="value">
            <a href="javascript:void(0)" class="lightbox__close" @click="$emit('close')">&times;</a>
            <div class="lightbox__content d-flex align-items-center flex-column justify-content-center">
                <transition name="fade" mode="out-in">
                    <div
                        class="lightbox__nav lightbox__prev btn btn-primary btn-circle"
                        v-if="mappedImage.length > 1 && selectedIndex != 0"
                        @click="prev">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </div>
                </transition>
                <transition name="fade" mode="out-in">
                    <div
                        class="lightbox__nav lightbox__next btn btn-primary btn-circle"
                        v-if="mappedImage.length > 1 && image.length - 1 != selectedIndex"
                        @click="next">
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </div>
                </transition>
                <transition
                    name="slide"
                    mode="out-in">
                    <img
                        v-for="number in [selectedIndex]"
                        :src="mappedImage[Math.abs(selectedIndex) % mappedImage.length]"
                        class="lightbox__image"
                        :key="number"
                    />
                </transition>
                <button
                    class="btn btn-primary mt-5"
                    @click="onDownload"
                    v-if="downloadable"
                >
                    <span>
                        <i class="fas fa-download mr-2"></i>
                        Download Picture
                    </span>
                </button>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    props: {
        value: {
            type: Boolean,
            default: false
        },
        image: {
            type: [String, Array],
            default: () => [],
        },
        selectedId: {
            type: [String, Number],
            default: null,
        },
        selectedName: {
            type: [String, Number],
            default: null,
        },
        selectedIndex: {
            type: Number,
            default: 0,
        },
        downloadable: {
            type: Boolean,
            default: false
        },
        type: {
            type: String,
            default: null
        }
    },
    computed: {
        mappedImage() {
            if (typeof this.image === 'string') {
                return [this.image];
            }
            return this.image;
        },
    },
    methods: {
        next() {
            if (this.image.length - 1 === this.selectedIndex) return;
            this.$emit('next');
        },
        prev() {
            if (this.selectedIndex === 0) return;
            this.$emit('prev');
        },
        onDownload(){
            if (this.type !== null) {
                this.$emit('download', {
                    index: this.selectedIndex,
                    type: this.type
                })
                return;
            }

            this.$emit('download', {
                id: this.selectedId,
                name: this.selectedName
            })
        }
    },
}
</script>
<style lang="scss" scoped>
.slide-leave-active,
.slide-enter-active {
    transition: .3s ease-in-out;
}
.slide-enter {
    transform: translate(100%, 0);
}
.slide-leave-to {
    transform: translate(-100%, 0);
}
</style>
