<template>
    <div 
        class="loader-wrapper"
        :class="variant === 'transparent' ? 'loader-transparent' : ''">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="mb-0">{{message}}</p>
    </div>
</template>
<script>
export default {
    name: 'ScreenLoader',
    props: {
        message: {
            type: String,
            default: 'Please wait...'
        },
        variant: {
            type: String,
            default : ''
        }
    }
}
</script>
<style lang="scss">
.loader-wrapper{
    background: #fff;
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    .lds-ring {
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        div{
          margin: 0;
          width: 60px;
          height: 60px;
        }
    }
}
.loader-transparent{
    background-color: rgba(#fff, .7) !important;
}
</style>
