<template>
    <transition name="fade">
      <div class="modal fade show sb-modal" :class="modalClass" aria-modal="true" style="display: block;" v-if="show" @click.self="hideModal">
          <div class="modal-dialog modal-dialog-centered" ref="modalArea" :class="'modal-' + size">
              <div class="modal-content">
                  <header class="modal-header" :class="{'border-bottom-0' : noBorder}" v-if="!hideHeader">
                      <div class="modal-title w-100" v-if="customTitle">
                        <slot name="modal-title" />
                      </div>
                      <h5 class="modal-title" v-else>{{title}}</h5>
                      <slot name="modal-close" v-if="customIconClose" />
                      <button type="button" aria-label="Close" class="close" v-else :disabled="disableClose" @click="hideModal">×</button>
                  </header>
                  <div class="modal-body" :class="{'modal-body--scrollable' : scrollable}">
                      <slot />
                  </div>
                  <div class="modal-footer" :class="{'border-top-0' :  noBorder}" v-if="!hideFooter">
                    <slot name="modal-footer" />
                  </div>
              </div>
          </div>
      </div>
    </transition>
</template>

<script>
  export default {
    props:{
      title:{
        type: String
      },
      size: {
        type: String
      },
      show:{
        type: Boolean,
        default: false
      },
      modalClass:{
        type: String
      },
      hideFooter :{
        type: Boolean,
        default: false
      },
      hideHeader :{
        type: Boolean,
        default: false
      },
      customTitle :{
        type: Boolean,
        default: false
      },
      customIconClose: {
        type: Boolean,
        default: false
      },
      noBorder: {
        type: Boolean,
        default: false
      },
      scrollable: {
        type: Boolean,
        default: false
      },
      disableClose: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      show(value){
        if(value){
          document.body.classList.add('modal-open') 
          this.$root.$el.append(this.$el) 
        }else{
          setTimeout(() => {
            this.$el.parentNode.removeChild(this.$el) 
            document.body.classList.remove('modal-open')
          }, 300)
        }
      }
    },
    methods:{
      hideModal(){
        if(this.show && !this.disableClose){
          this.$emit('hide')
        }
      }
    }
  }
</script>

<style>
.close:focus{
  outline: none !important;
}
.modal-dialog{
  position: relative;
  z-index: 1060;
}
.sb-modal::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
</style>