<template>
    <transition name="fade" mode="out-in">
        <div class="is-offline" v-show="isOffline">
            <transition name="slide-down" mode="out-in">
                <div class="offline-badge bg-danger py-3 px-4 text-white d-flex align-items-center" v-show="indicator">
                    <img src="/icon/wifi-off.svg" class="mr-3" alt="wifi - off">
                    <p class="mb-0">Your network is unavailable. Check your internet connection.</p>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
import {mapState} from 'vuex'
export default {
    data: () => ({
        indicator: false
    }),
    computed: {
        ...mapState(['isOffline'])
    },
    watch: {
        isOffline(value){
            if(value) {
                setTimeout(() => {
                    this.indicator = true
                }, 300)
            }else{
                this.indicator = false
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.is-offline{
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.offline-badge{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
</style>