<template>
    <div>
        <label for="#" class="font-weight-bold" v-if="label">{{ label }}</label>
        <div class="icon icon-right">
            <input type="text" class="form-control form-icon" :class="{'is-invalid': error}" :maxlength="'12'" v-model="displayValue" :placeholder="placeholder" :autocomplete="autocomplete">
            <i class="fas fa-phone" v-if="!isLoading && !error"></i>
            <div class="spinner-wrapper" v-else-if="isLoading">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- <span v-show="displayValue.length < 12" class="text-danger">You must add exactly 10 numbers</span> -->
    </div>
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            default: 'Mobile'
        },
        value: {
            required: true
        },
        placeholder:{
            type: String,
            default: ''
        },
        error:{
            type: Boolean,
            default: false
        },
        isLoading: {
            type: Boolean,
            default: false
        },
        autocomplete: {
            type: String,
            default: 'disabled'
        }
    },
    computed: {
        displayValue: {
            get() {
                return this.value == null ? '':this.value
            },
            set(value) {
                let val = ''
                if (value != null || value != '') {
                    let numbers = value.replace(/\D/g, ''),
                        char = {3:'-',6:'-'};
                    val = ''
                    for (var i = 0; i < numbers.length; i++) {
                        val += (char[i]||'') + numbers[i];
                    }
                }
                this.$emit('input', val)
            }
        }
    },
    // watch: {
    //     value() {
    //         if(this.value != null){
    //             var numbers = this.value.replace(/\D/g, ''),
    //                 char = {3:'-',6:'-'};
    //             this.value = '';
    //             for (var i = 0; i < numbers.length; i++) {
    //                 this.value += (char[i]||'') + numbers[i];
    //             }
    //         }
    //     }
    // },
}
</script>