<template>
    <div class="icon icon-left">
        <input type="text" 
            class="form-control form-icon outline--blue" 
            v-model="displayValue" 
            @blur="isInputActive = false, $emit('blur', $event.target.value)" 
            @focus="isInputActive = true" 
            @keypress="isNumber($event)" 
            :readonly="readonly"
            :disabled='disabled' />
        <i class="fas fa-dollar-sign"></i>
    </div>
</template>
<script>
export default {
    props: {
        value: {
            type: [String, Number],
            required: true
        },
        readonly: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            isInputActive: false
        }
    },
    computed: {
        displayValue: {
            get: function() {
                if (this.isInputActive) {
                    return this.value == 0 || this.value == 0.00 ? '': this.value == '' ? '' : this.value.toString()
                } else {
                    if(this.value == '' || this.value == 0){
                        return ''
                    } else {
                        return parseFloat(this.value).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                    }
                }
            },
            set: function(modifiedValue) {
                let newValue = modifiedValue
                if(modifiedValue == '' || modifiedValue == 0){
                    newValue = ''
                }
                else {
                    let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                    if (isNaN(newValue)) {
                        newValue = ''
                    }
                }
                this.$emit('input', newValue)
            }
        }
    }
}
</script>
