<template>
    <div class="icon icon-left">
        <input type="text" 
            class="form-control form-icon" 
            :class="{'is-invalid' : invalid, 'outline--blue' : !invalid}"
            v-model="displayValue" 
            @blur="isInputActive = false, $emit('blur', $event.target.value)" 
            @focus="isInputActive = true" 
            @keypress="isNumber($event)" 
            :readonly="readonly"
            :disabled='disabled' />
        <i class="fas fa-dollar-sign"></i>
    </div>
</template>
<script>
export default {
    props: {
        value: {
            type: [String, Number],
            required: true
        },
        readonly: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        invalid: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            isInputActive: false
        }
    },
    computed: {
        displayValue: {
            get: function() {
                if (this.isInputActive) {
                    return this.value == 0 || this.value == 0.00 ? '':this.value.toString()
                } else {
                    return parseFloat(this.value).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                }
            },
            set: function(modifiedValue) {
                let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                if (isNaN(newValue)) {
                    newValue = 0
                }
                this.$emit('input', newValue)
            }
        }
    }
}
</script>
