<template>
    <div>
        <app-modal :noBorder="true" :show="modalTimeOut" @hide="hideModalTimeOut" :hideFooter="true" :hideHeader="true">
            <button type="button" aria-label="Close" class="close" @click="hideModalTimeOut">×</button>
            <div class="text-center px-4 py-3">
                <!-- <h5 class="font-weight-600 mt-2 mb-4">Screen Timeout</h5> -->
                <img src="/icon/warning-icon.svg" width="90" class="my-4 mb-5">
                <h6 class="mb-3 font-weight-600">{{message}}</h6>
                <!-- <h1 class="mb-3"><span v-if="formatedTime[0] > 0 ">{{formatedTime[0] + ' min '}}</span>{{ + formatedTime[1] + ' secs'}}</h1>
                <h6 class="mb-4">Please click "Continue" to keep working or <br> click "Log Out" to end your session now</h6>
                <div class="d-flex align-items-center">
                    <button class="btn btn-secondary w-100 mr-3" @click="hideModalTimeOut">Logout</button>
                    <button class="btn btn-danger w-100" @click="activeUser">Continue</button>
                </div> -->
            </div>
        </app-modal>
    </div>
</template>

<script>
import Modal from '@/components/utilities/Modal'
import {mapState, mapMutations} from 'vuex'
export default {
    components: {
        'app-modal' : Modal
    },
    data: () => ({
        modalTimeOut: false,
        date: null,
        userSession: {
            isExpired: false,
            isContinue: false
        },
        localStorageSession: null
    }),
    props: {
        message: {
            type: String,
            default: ''
        }
    },
    // watch: {
    //     time(){
    //         if(this.time == '0:00' && this.modalTimeOut){
    //             this.logout()
    //             this.hideModalTimeOut()
    //         }
    //     },
    //     'localStorageSession.isExpired' : function(value) {
    //         if(value){
    //             this.showModalTimeOut()
    //         }
    //     },
    //     'localStorageSession.isContinue' : function(value) {
    //         if(value){
    //             this.hideModalTimeOut()
    //         }
    //     }
    // },
    created() {
        this.setTimer()
    },
    mounted(){
        this.inactiveTime()
        this.setSessionData()
        // setInterval(() => {
        //     this.date = this.moment(this.date.subtract(1, 'seconds'))
        // }, 1000)
        // setInterval(() => {
        //     let data = JSON.parse(localStorage.getItem('vuexSessionStorage'))
        //     this.localStorageSession = data.userSession
        // }, 100)
    },
    computed: {
        time(){
            return this.moment(this.date).format('m:ss');
        },
        formatedTime(){
            return this.time.split(':')
        },
        ...mapState(['sessionLocalStorage'])
    },
    methods: {
        ...mapMutations(['SET_USER_SESSION']),
        inactiveTime() {
            var t
            window.onload = resetTimer
            window.onmousemove = resetTimer
            window.onmousedown = resetTimer 
            window.ontouchstart = resetTimer
            window.onclick = resetTimer
            window.onkeypress = resetTimer
            window.addEventListener('scroll', resetTimer, true)
            let vm = this
            function idleFunction() {
                vm.userSession.isExpired = true
                vm.userSession.isContinue = false
                vm.setSessionData()
            }
            function resetTimer() {
                if(!vm.modalTimeOut) {
                    clearTimeout(t);
                    vm.userSession.isExpired = false
                    vm.userSession.isContinue = true
                    vm.setSessionData()
                    t = setTimeout(idleFunction, 1800000)
                }
            }
        },
        hideModalTimeOut() {
            this.modalTimeOut = false
            window.location.reload()
            // location.reload()
        },
        setTimer() {
            this.date = this.moment(90000)
        },
        showModalTimeOut() {
            this.modalTimeOut = true
            this.isHideModal = false
            this.setTimer()
        },
        async logout() {
            await this.$auth.logout()
            this.$router.push('/login')
        },
        activeUser() {
            this.userSession.isExpired = false
            this.userSession.isContinue = true
            this.setSessionData()
            this.hideModalTimeOut()
        },
        setSessionData(){
            this.SET_USER_SESSION(this.userSession)
        },
    }
}
</script>

<style>

</style>