<template>
    <div class="select--custom">
        <div class="select-wrapper" ref="arrowButton" @click="arrowOpenList">
            <input type="text" :disabled="$attrs.disabled" ref="button" class="form-control" placeholder="Sales Person" :value="optionValue" @focus="openList" v-if="!showPopup">
            <input type="text" ref="button" class="form-control" placeholder="Type..." @keyup="search" v-else>
            <div class="icon-right">
                <i class="fas fa-caret-down" ref="arrowButton" @click="arrowOpenList"></i>
            </div>
        </div>
        <div class="select-content"
            v-show="showPopup"
            v-if="optionLists.length > 0"
            v-closable="{
                exclude: ['button', 'arrowButton'],
                handler: 'onClose'
            }"
        >
            <ul class="select-content__inner">
                <li class="select-content__items" v-for="(item, i) in optionLists" :key="i" @click="selectValue(item)" :class="{'selected': item[filterBy] == optionFilter }">{{item[trackBy]}}</li>
                <li class="select-content__items text-center hovered" @click="loadData" v-if="showMore">
                    {{ !textMore ? 'More':'Less'  }}
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    name: 'SelectCustom',
    created() {
        this.getSelected()
    },
    mounted() {
        let vm = this
        let findSelected = this._.findIndex(this.options, function(item) {
            return item[vm.filterBy] == vm.value[vm.filterBy]
        })

        if (findSelected == -1) {
            this.loadData()
        }
    },
    updated() {
        this.getSelected()
    },
    data(){
        return {
            selected: null,
            showPopup: false,
            showContent: false,
            textMore: false,
            findList: ''
        }
    },
    watch: {
        value: {
            handler: function(newValue) {
                this.getSelected()
            },
            deep: true
        }
    },
    props:{
        trackBy:{
            type:String
        },
        filterBy: {
            type: String
        },
        options:{
            type: Array
        },
        value: {
            type: [Object, String],
            required: true
        },
        showMore:{
            type: Boolean,
            default: false
        },
        asyncFind:{
            type: Boolean,
            default: false
        },
        typeBy: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        optionLists() {
            let vm = this
            let options = this.options.filter(post => {
                return post[vm.trackBy].toLowerCase().includes(vm.findList.toLowerCase())
            })
            return this._.sortBy(options, function(o) {
                if (vm.selected != null) {
                    return o[vm.filterBy] == vm.selected[vm.filterBy]
                }
                return o[vm.filterBy]
            }).reverse()
        },
        optionValue() {
            let data = this.selected != null ? this.selected[this.trackBy]:null
            if(!data && this.$route.name != 'my-quotes-create'){
                let found = this.options.find(element => {
                    element.user_id == this.value.user_id
                })
                if(!found){
                    this.options.push(this.value)
                }
                return this.value.fullname
            }
            return data
        },
        optionFilter() {
            return this.selected != null ? this.selected[this.filterBy]:null
            
        }
    },
    methods:{
        openList() {
            this.showPopup = !this.showPopup
        },
        arrowOpenList() {
            this.$refs.button.focus()
        },
        getSelected() {
            let vm = this
            let data = this.options.filter(function(q) {
                return q[vm.filterBy] == vm.value[vm.filterBy]
            })
            this.selected = data.length > 0 ? this.typeBy && vm.value.is_sales_person ? data[0]:this.value:null
            // this.selected == null ? this.selected =  this.value :''
        },
        selectValue(val){
            this.selected = val
            this.showPopup = false
            this.$emit('input', this.selected)
        },
        loadData(){
            this.$emit('load-data-select-custom', this.textMore)
            this.textMore = !this.textMore
        },
        onClose () {
            this.showPopup = false
        },
        search($event) {
            let text = $event.target.value
            this.findList = text
        }
    }
}
</script>

