<template>
    <div class="spinner-wrapper" :class="position.length > 0 ? `spinner-wrapper--${position}` : ''">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        position:{
            type: String,
            default: ''
        }
    }
}
</script>

<style>

</style>