<template>
    <ul class="nav nav-tabs">
        <li class="nav-item" v-for="item in data" :key="item.name">
            <a href="#" class="nav-link" :class="{ 'active': value == item.to }" @click.prevent="$emit('input', item.to)" v-if="component">{{ item.name }}</a>
            <nuxt-link class="nav-link" active-class="active" :to="item.to" except v-else>{{ item.name }}</nuxt-link>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            data: Array,
            value: {
                type: String,
                default: null
            },
            component: {
                type: Boolean,
                default: false
            }
        },
    }
</script>

<style>

</style>
