<template>
    <div
        class="card-notification"
        :class="{
            'cursor-pointer' : notification.status === '1',
            'disable' : notification.status === '0',
            'active': notification.id === selectedId ,
        }"
    >
        <div class="card-notification__wrapper">
            <img class="card-notification__image" :src="`${notification.image_asset}`"></img>
            <div class="card-notification__content">
                <p class="card-notification__title">
                    {{ notification.name }}
                </p>
                <p-check v-if="isSwitch" class="p-switch p-fill" color="primary" v-model="notification.status" true-value="1" false-value="0" @change="changeStatus"></p-check>
            </div>
        </div>
    </div>
</template>

<script>

// Components
import PrettyCheck from 'pretty-checkbox-vue/check'

// Types
import { TYPES } from "@/types/store/customerNotification";

export default {
    name: "TabCustomerNotification",
    components: {
        'p-check': PrettyCheck,
    },
    props: {
        selectedId: {
            type: Number,
            default: null,
        },
        notification: {
            type: Object,
            default: () => ({}),
        },
        type: {
            type: String,
            default: 'email',
        },
        isSwitch: {
            type: Boolean,
            default: true,
        }
    },
    methods: {
        changeStatus(value) {
            const payload = {
                subject: this.notification.subject,
                body: this.notification.body,
                status: parseInt(value),
            }

            this.$store.commit(`customerNotification/${TYPES.SET_FORM_CUSTOMER_NOTIFICATION}`, payload);
            this.doSaveStatus();
        },
        async doSaveStatus() {
            const payload = {
                id: this.notification.id,
                type: this.type,
            }
            const resultNotification = await this.$store.dispatch(`customerNotification/saveCustomerNotification`, payload);

            if (resultNotification.status === 200) {
                this.isLoading = false;

                this.$root.$bvToast.toast(`Status Notification ${this.notification.name} updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (resultNotification.status !== 200) {
                this.$root.$bvToast.toast(`Something Error`, {
                    title: "Error!",
                    variant: "danger",
                    solid: true,
                });
            }
        }
    }
};
</script>
