<template>
    <div class="card-notification-type" :class="`${ internalNotificationType.wrapper_class } ${ internalNotificationType.id === selectedChildId ? 'active' : '' } ${internalNotificationType.id !== selectedChildId && selectedChildId !== null ? 'not-active' : ''}`">
        <img class="card-notification-type__image" :src="`${internalNotificationType.image_asset}`"></img>
        <span class="card-notification-type__title">
            {{ internalNotificationType.name }}
        </span>
    </div>
</template>

<script>

export default {
    name: "TabCustomerInternalNotificationType",
    props: {
        selectedChildId: {
            type: Number,
            default: null,
        },
        internalNotificationType: {
            type: Object,
            default: () => ({}),
        },
    },
};
</script>
