<template>
    <div>
        <div v-if="delivery">
            <div>
                <div class="timeline__wrapper d-flex justify-content-center align-items-center flex-column pb-5 ">
                    <div class="timeline__items d-flex align-items-start justify-content-center w-100" v-for="(item, i) in deliveryLog" :key="i">
                        <div class="timeline__items-left text-right">
                            <p class="mb-0">{{item.time}}</p>
                            <p class="mb-1 small">By {{item.user}}</p>
                        </div>
                        <div class="timeline__items-right pr-3">
                            <div class="card rounded mb-3" v-for="(log, index) in item.logs" :key="index">
                                <div class="cursor-pointer d-flex align-items-center text-primary p-4 collapse-delivery" v-b-toggle="'collapse-' + item.log_id + log.id">
                                    <i class="fas fa-caret-down fa-lg mr-3 ml-n1"></i>
                                    <p class="mb-0">Exported Delivery CSV</p>
                                </div>
                                <b-collapse :id="'collapse-' + item.log_id + log.id">
                                    <div class="row px-4 ml-2 pb-2">
                                        <div class="col-md-6">
                                            <p class="mb-3">Date Range : <b>{{moment(log.start_date_filter).format('MM/DD/YYYY')}} - {{moment(log.end_date_filter).format('MM/DD/YYYY')}}</b></p>
                                            <p class="mb-3">Delivery Method : {{log.delivery_method_filter ? log.delivery_method_filter : '-'}}</p>
                                            <p class="mb-3">Sales Person :  {{log.sales_person_filter ? log.sales_person_filter : '-'}}</p>
                                            <p class="mb-3">Location : {{log.location_filter ? log.location_filter : '-'}}</p>
                                            <p class="mb-3">Search : {{ log.search_filter ? log.search_filter : '-'}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-3">Total Order : <b>{{log.total_order}}</b></p>
                                            <p class="mb-3">Total Record : <b>{{log.total_data}}</b></p>
                                        </div>
                                    </div>
                                    <div class="border-top text-right px-3 py-2">
                                        <a :href="log.attachment" class="btn btn-primary" download>Download CSV</a>
                                    </div>
                                </b-collapse>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <app-pagination align="right" :total-rows="deliveryMeta.total" v-model="page" :per-page="deliveryMeta.per_page" @change="setPage"/>
                </div>
            </div>
        </div>
        <div v-else-if="epic">
            <div>
                <div class="timeline__wrapper d-flex justify-content-center align-items-center flex-column pb-5 ">
                    <div class="timeline__items d-flex align-items-start justify-content-center w-100" v-for="(item, i) in epic_log" :key="i">
                        <div class="timeline__items-left text-right">
                            <p class="mb-0">{{item.time}}</p>
                            <p class="mb-1 small">By {{item.user}}</p>
                        </div>
                        <div class="timeline__items-right pr-3">
                            <div class="card rounded mb-3" v-for="(log, index) in item.logs" :key="index">
                                <div class="cursor-pointer d-flex align-items-center text-primary p-4 collapse-delivery" v-b-toggle="'collapse-' + item.log_id + log.id">
                                    <i class="fas fa-caret-down fa-lg mr-3 ml-n1"></i>
                                    <p class="mb-0">Exported Delivery CSV</p>
                                </div>
                                <b-collapse :id="'collapse-' + item.log_id + log.id">
                                    <div class="row px-4 ml-2 pb-2">
                                        <div class="col-md-6">
                                            <p class="mb-3">Report Month : <b>{{moment(log.date_filter).format('MMMM YYYY')}}</b></p>
                                            <p class="mb-3">Sales Person :  {{log.sales_person_filter ? log.sales_person_filter : '-'}}</p>
                                            <p class="mb-3">Location : {{log.location_filter ? log.location_filter : '-'}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-3">Total Warranty : <b>{{log.total_warranty}}</b></p>
                                            <p class="mb-3">Total Record : <b>{{log.total_data}}</b></p>
                                            <p class="mb-3">Total Warranty Cost : <b><span v-money :key="log.total_warranty_cost">{{log.total_warranty_cost}}</span></b></p>
                                        </div>
                                    </div>
                                    <div class="border-top text-right px-3 py-2">
                                        <a :href="log.attachment" class="btn btn-primary" download>Download CSV</a>
                                    </div>
                                </b-collapse>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <app-pagination align="right" :total-rows="epic_meta.total" v-model="page" :per-page="epic_meta.per_page" @change="setPage"/>
                </div>
            </div>
        </div>
        <div class="timeline__outter" v-else>
            <div class="timeline__wrapper d-flex justify-content-center align-items-center flex-column">
                <div class="timeline__items d-flex align-items-start justify-content-center w-100" v-for="(item, i) in changelog.data" :key="i">
                    <div class="timeline__items-left text-right">
                        <p class="mb-0">{{item.formatted_time}}</p>
                        <p class="mb-1 small">By {{item.user}}</p>
                    </div>
                    <div class="timeline__items-right">
                        <ul class="mt-0 mb-0">
                            <li v-for="(log, index) in item.logs" :key="index">
                                <div v-html="log.note"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import _ from 'lodash'
export default {
    components : {
        'app-pagination' : Pagination
    },
    props: {
        delivery : {
            type: Boolean,
            default: false
        },
        epic: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        page : 1
    }),
    computed:{
        ...mapState('delivery', {
            deliveryLog : state => state.deliveryLog,
            deliveryMeta : state => state.deliveryMeta
        }),
        ...mapState('epic', {
            epic_log : state => state.epic_log,
            epic_meta : state => state.epic_meta
        }),
        ...mapState('changelog', {
            changelog : state => state.data
        })
    },
    methods: {
        ...mapActions('delivery', ['getDeliveryLog']),
        ...mapActions('epic', ['getEpicLog']),
        setPage(val){
            if(this.delivery){
                this.getDeliveryLog({
                    page : val
                })
            } else {
                this.getEpicLog({
                    page : val
                })
            }
        }
    }
}
</script>

<style>

</style>