<template>
    <div class="d-flex align-items-center">
        <div class="flex-row d-flex align-items-center">
            <app-select
                v-model="value"
                v-width="'80px'"
                :options="options"
                :searchable="false"
                :close-on-select="true"
                :show-labels="false"
                :allow-empty="false"
                @input="setPerPage"
            >
            </app-select>
            <p class="mb-0 ml-2">items per page</p>
        </div>
        <template v-if="showCount">
            <p class="mb-0 ml-3" v-if="data.total > 1">Showing {{data.from}} to {{data.to}} of {{data.total}} Items</p>
        </template>
    </div>
</template>
<script>
import Select from 'vue-multiselect'
export default {
    data(){
        return{
            // value: '10',
            options:['10','25','50']
        }
    },
    methods: {
        setPerPage(){
            this.$emit('itemPerPage', this.value)
        }
    },
    mounted(){
        const options = [...this.options, ...this.addOptions]
        this.options = options
    },
    components:{
        'app-select': Select
    },
    props:{
        value:{
            type: Number,
            default: 10
        },
        data:{
            type: Object
        },
        showCount: {
            type: Boolean,
            default: true
        },
        addOptions: {
            type: Array,
            default: []
        }
    }
}
</script>

