<template>
    <div>
        <div class="upload-file">
            <div class="upload-file__remove" @click="removeFile">
                <i v-if="previewFile" class="fas fa-times"></i>
            </div>
            <img v-if="previewFile" :src="previewFile" alt="image" class="upload-file__image" @click="showPopupImage">
            <b-spinner v-if="loading.upload" variant="primary"></b-spinner>
            <i v-if="!loading.upload && !previewFile" class="fas fa-plus fa-2x upload-file__select"  @click="openSelectFile"></i>
            <input
                v-show="false"
                type="file"
                name="file"
                id="upload-file"
                ref="uploadFile"
                :accept="accept"
                :multiple="isMultiple"
                @change="pickFile"
            >
        </div>

        <Lightbox v-model="isPopupImage" :image="previewFile" @close="hidePopupImage" />
    </div>
</template>

<script>

// Components
import Lightbox from '@/components/utilities/Lightbox'

// Consts
import { config } from '@/constant/compressor'

// Packages
let heic2any
let Compressor
if (process.browser) {
    heic2any = require('heic2any')
    Compressor = require('compressorjs')
}

export default {
    name: 'UploadFile',
    components: {
        Lightbox,
    },
    props: {
        accept: {
            type: String,
            default: 'image/png, image/jpeg, image/jpg, image/heic',
        },
        isMultiple: {
            type: Boolean,
            default: false,
        },
        files: {
            type: Array,
            default: () => [],
        },
        previewFile: {
            type: String,
            default: null,
        },
        maxFiles: {
            type: Number,
            default: 5,
        }
    },
    data() {
        return {
            isPopupImage: false,
            loading: {
                upload: false,
            }
        };
    },
    methods: {
        openSelectFile() {
            this.$refs.uploadFile.click();
        },
        showPopupImage() {
            this.isPopupImage = true;
        },
        hidePopupImage() {
            this.isPopupImage = false;
        },
        removeFile() {
            this.$emit('removeFile');
        },
        pickFile(event) {
            const files = event.target.files;

            if (files.length > this.maxFiles || files.length + this.files.length > this.maxFiles ) {
                this.$root.$bvToast.toast(`You can select max ${this.maxFiles} images`, {
                    title: "Choose file failed!",
                    variant: "danger",
                    solid: true,
                });
                return;
            }

            if (this.isMultiple) {
                [...files].map((file) => {
                    if(file.name.toLowerCase().includes('.heic')) {
                        this.loading.upload = true;
                        const imageType = 'image/jpeg'

                        fetch(this.changeToBlob(file))
                        .then(res => res.blob())
                        .then(blob => heic2any({
                            blob,
                            toType: imageType
                        }))
                        .then(result => {
                            this.compressImage(result, file.name);
                            this.loading.upload = false;
                        })
                    }
                    if(!file.name.toLowerCase().includes('.heic')) {
                        this.compressImage(file, file.name);
                    }
                })

            }
            if (!this.isMultiple) {
                if(files[0].name.toLowerCase().includes('.heic')) {
                    this.loading.upload = true;
                    const imageType = 'image/jpeg'

                    fetch(this.changeToBlob(files[0]))
                    .then(res => res.blob())
                    .then(blob => heic2any({
                        blob,
                        toType: imageType
                    }))
                    .then(result => {
                        this.compressImage(result, files[0].name);
                        this.loading.upload = false;
                    })
                }
                if(!files[0].name.toLowerCase().includes('.heic')) {
                    this.compressImage(files[0], files[0].name);
                }
            }
        },
        changeToBlob(file) {
            const urlCreator = window.URL || window.webkitURL;
            const urlFile = urlCreator.createObjectURL(file);

            return urlFile;
        },
        compressImage(image, filename){
            const _this = this
            new Compressor(image, {
                ...config,
                success(result) {
                    const file = new File(
                        [result],
                        `${filename.replace('.heic', '.jpeg')}`,
                    )

                    _this.$emit('selectFile', {
                        previewFile: _this.changeToBlob(file), file: file
                    })
                }
            })
        },
    },
}
</script>
