<template>
    <div>
        <app-modal-role-permission />
    </div>
</template>

<script>
import ModalRolePermission from "@/components/admin/modal/RolePermission.vue";

export default {
    async asyncData({ route, store }) {
        // await store.dispatch('permission/getUsers', { type: 'all' })
        // if(route.params.user_id != ''){
        //     await store.dispatch('permission/getInactiveMenu', route.params.user_id)
        // }
        await store.dispatch("permission/getNavigation");
        await store.dispatch("role/getRole", route.params.id);
        return;
    },
    components: {
        "app-modal-role-permission": ModalRolePermission,
    },
    transition: "slide",
    layout: "admin",
};
</script>
