<template>
    <div>
        <div class="tab-container">
            <tab-customer-notification
                v-for="(
                    internalNotification, notificationIndex
                ) in internalNotifications"
                :key="`notification-${notificationIndex}`"
                :notification="internalNotification"
                :selected-id="selectedId"
                :is-switch="false"
                @click.native="selectPriority(internalNotification.priority, internalNotification.id)"
            />
        </div>
        <transition name="fade">
            <div v-if="selectedPriority !== null" class="notification-type-container">
                <tab-customer-internal-notification-type
                    v-for="(internalNotificationType, internalNotificationTypeIndex) in selectNotifcationTypes()"
                    :key="`internal-notification-type-${internalNotificationTypeIndex}`"
                    :internal-notification-type="internalNotificationType"
                    :selected-child-id="selectedChildId"
                    @click.native="selectChildId(internalNotificationType.id, internalNotificationTypeIndex)"
                />
            </div>
        </transition>
        <transition name="fade">
            <div v-if="selectedPriority !== null && selectNotifcationTypes().length === 0" class="no-selected">
                No notification types
            </div>
        </transition>
        <transition name="fade">
            <div v-if="selectedChildId !== null">
                <form-customer-notification-type
                    :selected-notification="selectFormNotificationType()"
                    @resetForm="resetForm"
                />
            </div>
        </transition>
        <transition name="fade">
            <div v-if="selectedPriority === null" class="no-selected">
                Please select notification type above to edit
            </div>
        </transition>
    </div>
</template>

<script>

// Components
import TabCustomerNotification from "@/components/utilities/TabCustomerNotification.vue";
import TabCustomerInternalNotificationType from "@/components/utilities/TabCustomerInternalNotificationType.vue";
import FormCustomerNotificationType from "@/components/form/CustomerNotificationType.vue";

// Packages
import { mapState, mapGetters} from 'vuex';

export default {
    name: "InternalNotifications",
    transition: "slide",
    layout: "admin",
    async fetch({ store }) {
        await Promise.all([
            store.dispatch(`internalNotifications/getInternalNotifications`),
            store.dispatch(`internalNotifications/getListRecipient`),
        ]);
    },
    components: {
        TabCustomerNotification,
        TabCustomerInternalNotificationType,
        FormCustomerNotificationType,
    },
    data() {
        return {
            selectedId: null,
            selectedPriority: 0,
            selectedChildId: null,
        };
    },
    computed: {
        ...mapState('internalNotifications', {
            internalNotifications : state => state.internalNotifications,
        }),
        ...mapGetters({
            internalNotificationTypes: 'internalNotifications/mapInternalNotificationTypes',
        }),
    },
    methods: {
        selectPriority(priority, id) {
            this.selectedPriority = 0;
            this.selectedChildId = null;
            this.selectedId = null;

            this.$nextTick(() => {
                this.selectedPriority = priority;
                this.selectedId = id;
            })
        },
        selectChildId(id, index) {
            this.selectedChildId = null;

            this.$nextTick(() => {
                this.selectedChildId = id;
            })
        },
        selectNotifcationTypes() {
            return this.internalNotificationTypes.filter((internalNotificationType) => {
                return internalNotificationType.priority.includes(this.selectedPriority);
            });
        },
        selectFormNotificationType() {
            return this.internalNotificationTypes.find((internalNotificationType) => {
                return internalNotificationType.id === this.selectedChildId;
            });
        },
        resetForm() {
            this.selectedId = null;
            this.selectedPriority = 0;
            this.selectedChildId = null;
        },
    }
};
</script>
<style lang="scss" scoped>
.tab-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .tab-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (max-width: 992px) {
    .tab-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .tab-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.notification-type-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .notification-type-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (max-width: 992px) {
    .notification-type-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .notification-type-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.no-selected {
    height: 11rem;
    background-color: #f9f9f9;
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>
