<template>
    <div>
        <div class="d-flex justify-content-end mb-3">
            <nuxt-link
                tag="a"
                :to="{
                    name: 'settings-digital-price-tags-gateway-create',
                }"
                class="btn btn-primary"
                ><span><i class="fas fa-plus"></i></span> Add Gateway</nuxt-link
            >
        </div>
        <table-gateway
            @setPage="changePage"
            @setPerPage="chagePerPage"
            :loading="isLoading"
            @getGateway="fetchGatewayData"
        />
    </div>
</template>

<script>
import TableGateway from "@/components/admin/table/GatewayPriceTag";
import { mapActions, mapState } from "vuex";
export default {
    name: "GatewayList",
    transition: "slide",
    components: {
        TableGateway,
    },
    data: () => ({
        perpage: 10,
        page: 1,
        isLoading: false,
    }),
    async created() {
        await this.fetchGatewayData();
    },
    watch: {
        location() {
            this.fetchGatewayData();
        },
    },
    computed: {
        ...mapState("priceTag", {
            location: (state) => state.location,
        }),
    },
    methods: {
        ...mapActions({
            getGateway: "priceTag/getGateway",
        }),
        async fetchGatewayData() {
            this.isLoading = true;
            await this.getGateway({
                page: this.page,
                perpage: this.perpage,
            }).then(() => {
                this.isLoading = false;
            });
        },
        changePage(value) {
            this.page = value;
            this.fetchGatewayData();
        },
        chagePerPage(value) {
            this.perpage = value;
            this.fetchGatewayData();
        },
    },
};
</script>

<style>
</style>
