<template>
    <section>
        <app-table-order class="mt-3" @row-clicked="showAction" @set-perpage="setPerpage" :house_deal="house_deal" :search="search" :start="start" :end="end"/>
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import TableOrder from '@/components/table/Order.vue'

    export default {
        async asyncData({ store }) {
            await Promise.all([
                store.dispatch('order/getOrders', {
                    page: 1, 
                    status: 'open', 
                    perpage: 10 ,
                    house_deal: false,
                    has_reserved: store.state.order.filter.has_reserved,
                    has_no_tag: store.state.order.filter.has_no_tag
                })
            ])
            return
        },
        destroyed() {
            this.$emit('clear-search')
            this.SET_ORDER_SELECTED(null)
        },
        data() {
            return {
                // search: null,
                action: false,
                perpage: 10
            }
        },
        computed: {
            ...mapState('order', {
                order(state) {
                    return {
                        selected: state.selected
                    }
                }
            })
        },
        props: {
            search: {
                type: String
            },
            start: {
                type: Date
            },
            end: {
                type: Date
            },
            house_deal: {
                type: Boolean
            },
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_SELECTED',
                'SET_ORDER_PAGE'
            ]),
            ...mapActions('order', [
                'getOrders'
            ]),
            getPage(val) {
                this.page = val
            },
            setPerpage(value){
                this.perpage = value
            },
            showAction() {
                this.action = true;   
            },
        },
        components: {
            'app-table-order': TableOrder,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>