<template>
    <div class="sign-up">
        <div class="card-default card-default__sm d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center mb-2">
                <img src="/slymanbros-logo.png" id="logo">
            </div>
            <div class="form-signup" v-if="status == 'success'">
                <h4 class="text-blue mb-4">Sign Up</h4>
                <div class="form-group">
                    <input type="email" class="form-control form-control__lg" :class="{'is-invalid': errors_validation.email}" v-model="register.email" placeholder="Email Address" readonly>
                    <p class="text-danger">{{ errors_validation.email ? errors_validation.email[0]:'' }}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control__lg" v-model="register.first_name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control__lg" v-model="register.last_name" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control__lg" v-model="register.phone_number" placeholder="Mobile Phone Number">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="register.show_phone_invoice" @change="onInvoice">
                    <label class="custom-control-label" for="customCheck1">Show on Invoice</label>
                </div>
                <div class="form-group">
                    <no-ssr>
                        <app-select
                            v-model="selected_store" 
                            :options="stores" 
                            :close-on-select="true" 
                            :clear-on-select="false" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            placeholder="Default Location" 
                            label="store_name" 
                            track-by="store_id" 
                            :preselect-first="false"
                        >
                        </app-select>
                    </no-ssr>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control__lg" placeholder="Direct Line" v-model="register.extension_number">
                </div>
                <div class="form-group">
                    <div class="input-password__wrapper">
                        <input v-validate="{ required: true, password: true }" name="password" id="password" :type="passwordField" placeholder="Password" ref="password" v-model="register.password" :class="{'input': true, 'is-invalid': errors.has('password'), 'form-control':true, 'form-control__lg': true }">
                        <a href="#" class="text-gray input-password__show" @click="switchVisibility"><i class="fa fa-eye"></i></a>
                    </div>
                    <no-ssr>
                        <password v-model="register.password" :strength-meter-only="true" :secureLength="10" @score="showScore" />
                    </no-ssr>
                    <p :class="{'text-danger': this.score == 'Weak', 'text-password--orange':this.score == 'Normal', 'text-password--light-green':this.score == 'Strong', 'text-password--green':this.score == 'Very Strong'}">{{score}}</p>
                    <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                </div>
                <!-- <div class="form-group">
                    <input type="password" class="form-control form-control__lg" v-model="register.password" placeholder="Password">
                </div> -->
                <div class="form-group">
                    <input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" placeholder="Confirm Password" id="ConfirmPassword" data-vv-as="password" :class="{'input': true, 'is-invalid': errors.has('password_confirmation'), 'form-control':true, 'form-control__lg':true }" v-model="register.password_confirmation">
                    <span v-show="errors.has('password_confirmation')" class="text-danger">{{ errors.first('password_confirmation') }}</span>
                    <!-- <input type="password" class="form-control form-control__lg" v-model="register.password_confirmation" placeholder="Confirm Password"> -->
                </div>
            </div>
            <div class="alert alert-success" v-if="message.data.message">{{ message.data.message }}</div>
            <div class="alert alert-danger w-100 text-center" v-if="status != 'success'">Invited code has been Expired</div>
            <button class="btn btn-primary btn-lg" @click="submit" :disabled="status != 'success'" v-if="status == 'success'">Sign Up</button>
            <div class="text-center" style="padding-top: 20px !important" v-if="status == 'success'"><nuxt-link :to="{ name: 'login' }">Login</nuxt-link></div>
        </div>
    </div>    
</template>
<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import Select from 'vue-multiselect'
import Password from 'vue-password-strength-meter'
import { Validator } from 'vee-validate'
export default {
    auth:false,
    async asyncData({ store, route}){
        await store.dispatch('sign-up/getStores', 'all')
        let email = await store.dispatch('sign-up/getEmail', route.params.id)
        return { 
            register: {
                email: email.data,
                show_phone_invoice: 0,
                job_title: 'null',
                job_description: 'null',
                invited_employees: 'register'
            },
            status: email.status
         }
    },
    components: {
        'app-select': Select,
        Password
    },
    watch: {
        selected_store(val) {
            if (val != '') {
                this.register.store_default = val.store_id
            }
        }
    },
    data() {
        return {
            selected_store: '',
            register: {
                email: '',
                first_name: '',
                last_name: '',
                phone_number: '',
                show_phone_invoice: false,
                store_default: '',
                extension_number: '',
                password: '',
                password_confirmation: ''
            },
            passwordField :'password',
            score:''
        }
    },
    created(){
        Validator.extend('password', {
            getMessage: field => 'Password must have at least one uppercase letter and one number',
            validate: value => {
                var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})")
                return strongRegex.test(value);
            }
        });
    },
    computed:{
        ...mapState('sign-up', {
            stores: state => state.items,
            errors_validation: state => state.errors
        }),
        ...mapState(['message'])
    },
    methods: {
        ...mapActions('sign-up', ['registerInvited']),
        ...mapMutations(['SET_MESSAGE']),
        submit() {
            this.SET_MESSAGE('')
            this.registerInvited(this.register).then(() => {
                this.SET_MESSAGE('Registered Successfully')
                this.register = {
                    first_name: '',
                    last_name: '',
                    phone_number: '',
                    show_phone_invoice: 0,
                    store_default: '',
                    extension_number: '',
                    password: '',
                    password_confirmation: '',
                    job_title: 'null',
                    job_description: 'null'
                }
                this.$router.push({ name: 'login', query: { from: 'register' } })
            })
        },
        onInvoice() {
            if (this.register.show_phone_invoice == true) {
                this.register.show_phone_invoice = 1
            } else {
                this.register.show_phone_invoice = 0
            }
        },
        showScore (score) {
            if(score <= 1){
                this.score = "Weak"
            }else if(score == 2){
                this.score = "Normal"
            }else if(score == 3){
                this.score = "Strong"
            }else if(score == 4){
                this.score = "Very Strong"
            }
        },
        switchVisibility(){
            this.passwordField = this.passwordField === 'password' ? 'text' : 'password'
        }
    },
}
</script>
<style>
    .sign-up{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign-up .btn{
        width: 100%;
    }
    .sign-up .multiselect__tags{
        min-height: 48px;
        padding: 10px 40px 0 8px;
    }
    .sign-up .multiselect__select{
        top: 7px;
    }
    .sign-up #logo{
        display: none;
    }
    .text-password--orange{
        color: orange;
    }
    .text-password--light-green{
        color: #9acd32;
    }
    .text-password--green{
        color: green;
    }
</style>


