<template>
    <app-modal-set-password />
</template>

<script>
import ModalSetPassword from "@/components/admin/modal/SetPasswordEmployee.vue";

export default {
    // async asyncData ({ store, route }) {
    //     let data
    //     await store.dispatch('employee/getEmployee', route.params.id).then((response) => {
    //         data = response.data
    //     })
    //     return { response: data }
    // },
    async asyncData({ store, route }) {
        if (typeof route.params.id != "undefined") {
            await store.dispatch("employee/getEmployee", route.params.id);
        }
        return;
    },
    components: {
        "app-modal-set-password": ModalSetPassword,
    },
    transition: "slide",
    layout: "admin",
};
</script>
