<template>
    <div>
        <h3 class="font-weight-600 mb-0">Install Report</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr>
                            <app-datepicker mode="range" v-model="date" @input="getData">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
                <div class="d-flex ml-3 align-items-center">
                  <p-check class="p-switch p-fill" v-model="date_mode" @change="getData" color="primary"></p-check>
                  <p class="mb-0 ml-2 mr-2" v-if="date_mode">by Order Date</p>
                  <p class="mb-0 ml-2 mr-2" v-else>by Delivery Date</p>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <div class="form-group mb-0">
                <no-ssr>
                    <app-select
                        v-model="store_selected" 
                        v-width="'250px'"
                        :options="stores" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                        @input="getData">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr>
                    <app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                        @input="getData">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr>
                    <app-select
                        v-width="'250px'"
                        v-model="delivery_method" 
                        :options="deliveries" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Select Delivery Method" 
                        label="delivery_method_name" 
                        track-by="delivery_method_id" 
                        :preselect-first="false"
                        id="example"
                        @input="getData">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Model #" @input="searchAction">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-install :loading="loading"/>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import TableInstallReport from '@/components/admin/table/InstallReport.vue'
import _ from 'lodash'
    
import Select from 'vue-multiselect'
import PrettyCheck from 'pretty-checkbox-vue/check'

let printJs;
if (process.client) {
    printJs = require('print-js')
}

    ;

export default {
    async fetch ({ store, route }) {
        let date = {
            start: new Date(),
            end: new Date()
        }
        await Promise.all([
            store.dispatch('accounting/getInstallReport',{
                start: date.start,
                end: date.end,
                date_mode: true
            }),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('store/getManagers'),
            store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
        ])
    },
    data() {
        return {
            search: null,
            date_mode: true,
            delivery_method: '',
            date: {
                start: new Date(),
                end: new Date()
            },
            with_warranty: false,
            sales_selected:'',
            brand_selected : [],
            store_selected:'',
            loading: false,
            requestCount: 0
        }
    },
    computed: {
        ...mapState('accounting', {
            pdfUrl: state => state.pdfUrl
        }),
        ...mapState('store', {
            sales_person: state => state.sales_person,
            stores : state => state.items
        }),
        ...mapState('deliveryMethod', {
            deliveries: state => state.items
        }),
    },
    methods: {
        ...mapActions('accounting', ['getInstallReport']),
        ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
        getData(){
            this.loading = true
            this.requestCount++

            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            let store = this.store_selected ? this.store_selected.store_id : ''
            let delivery_method_id = this.delivery_method.delivery_method_id
            this.getInstallReport({
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                store: store,
                sales_person: sales_person,
                delivery_method_id: delivery_method_id, 
                search: this.search,
                date_mode: this.date_mode
            })
            .then(() =>{
                this.requestCount--
                if(this.requestCount == 0){
                    this.loading = false
                }
            })
        },
        resetFilter() {
            this.date = {
                start: new Date(),
                end: new Date()
            },
            this.store_selected = ''
            this.sales_selected = ''
            this.delivery_method = ''
            this.search = null
            this.date_mode = true
            this.getData()
        },
        searchAction: _.debounce(function(e){
            if(this.search != null){
                this.getData()
            }
        }, 500),
        viewPdf() {
            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            let store = this.store_selected ? this.store_selected.store_id : ''
            let delivery_method_id = this.delivery_method.delivery_method_id
            this.getPDF({ 
                type: 'install-report',
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                store: store,
                sales_person: sales_person,
                delivery_method_id: delivery_method_id, 
                search: this.search,
                date_mode: this.date_mode
            })
            .then((res) => {
                printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
            })
        },
        getCsv(){
            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            let store = this.store_selected ? this.store_selected.store_id : ''
            let delivery_method_id = this.delivery_method.delivery_method_id
            this.getCSV({ 
                type: 'install-report', 
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                store: store,
                sales_person: sales_person,
                delivery_method_id: delivery_method_id, 
                search: this.search,
                date_mode: this.date_mode
            })
            .then((res) => {
                this.downloadCSV({
                    url: this.pdfUrl,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                })
            })
        }
    },
    components: {
        'app-table-install': TableInstallReport,
        'app-select': Select,
        'p-check': PrettyCheck,
    },
    transition: 'slide',
    layout: 'admin'
}
</script>