<template>
    <div>
        <div class="d-flex align-items-start my-4">
            <no-ssr>
                <app-select
                    v-width="'300px'"
                    class="multiselect__group multiselect__group--no-indent mr-3"
                    v-model="poNumberSelected"
                    :internal-search="false"
                    placeholder="Search PO Number"
                    label="purchase_order_number"
                    track-by="purchase_order_number"
                    :show-labels="false"
                    :searchable="true"
                    :options="poNumberList"
                    :multiple="true"
                    :show-no-results="false"
                    @input="fetchManualScanout"
                    :loading="isLoadingPo"
                    @search-change="searchChange($event)"
                />
            </no-ssr>
            <div class="icon icon-left">
                <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Model">
                <i class="fas fa-search"></i>
            </div>
            <button class="btn btn-primary px-4 ml-auto" :disabled="isLoadingProcess" v-if="itemSelected.length > 0" @click="handleClickProcess">
                <b-spinner variant="light" small class="mx-3" v-if="isLoadingProcess" />
                <span v-else>Process</span>
            </button>
        </div>
        <div v-if="itemSelected.length !== 0" class="text-right font-weight-600">
            Selected: {{ itemSelected.length }} Pieces
        </div>
        <app-table
            :current-page="currentPage"
            :per-page="perPage"
            :fields="fields"
            fixed
            :filter="search"
            :busy="loadingTable"
            :items="manualScanoutData"
            show-empty
        >
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="HEAD_check">
                <b-form-checkbox v-model="selectAll" @change="handleSelectAll" />
            </template>
            <template slot="check" slot-scope="row">
                <b-form-checkbox v-model="itemSelected" :value="row.item" />
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center mt-3" v-if="manualScanoutData.length > 0">
            <div class="d-flex align-items-center">
                <app-total :data="scanout_meta.meta" :value="perPage" :addOptions="['100']" @itemPerPage="setPerPage"/>
                <p class="mb-0 ml-1">of {{totalRows}} items</p>
            </div>
            <app-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                class="mb-0"
            >
            </app-pagination>
        </div>
         <app-modal :noBorder="true" :show="modalSuccess" @hide="modalSuccess = false">
            <div class="px-5 text-center">
                <img src="/icon/success.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Success!</h5>
                <p class="my-3">Your items has been scaned in</p>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Modal from '@/components/utilities/Modal'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import TotalRecord from '@/components/utilities/TotalRecord'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import Select from 'vue-multiselect'
import _ from 'lodash'
import {mapActions, mapState} from 'vuex'
export default {
    transition: 'slide',
    layout: 'admin',
    components: {
        'app-select' : Select,
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord,
        'app-modal' : Modal
    },
    async asyncData({store}){
        await store.dispatch('bulkInventory/getManualScanOut')
    },
    data: () => ({
        isLoadingProcess: false,
        modalSuccess: false,
        perPage: 10,
        currentPage: 1,
        loadingTable: false,
        selectAll: false,
        itemSelected: [],
        poNumberSelected: [],
        search: '',
        isLoadingPo: false,
        fields: [
            {
                key: 'check',
                thStyle: {
                    width: '50px'
                }
            },
            {
                key: 'purchase_order_number'
            },
            {
                key: 'model'
            },
            {
                key: 'order_no'
            }
        ],
        scanout_meta: {
            meta: {
                to: 0,
                from: 0,
                total: 0,
            }
        },
    }),
    computed: {
        ...mapState('bulkInventory', {
            poNumberList: state => state.po_number_list,
            manualScanoutData: state => state.manual_scanout_data
        }),
        totalRows(){
            return this.manualScanoutData.length
        }
    },
    watch: {
        itemSelected(){
            if(this.manualScanoutData.length > 0){
                if(this.itemSelected.length === this.manualScanoutData.length) this.selectAll = true
                else this.selectAll = false
            }
        }
    },
    methods: {
        ...mapActions({
            getPoNumber : 'bulkInventory/getPoNumber',
            getManualScanOut : 'bulkInventory/getManualScanOut',
            postManualScanOut : 'bulkInventory/postManualScanOut'
        }),
        handleClickProcess(){
            this.isLoadingProcess = true
            this.postManualScanOut({
                data: this.itemSelected.map(o => o.id)
            })
            .then(() => {
                this.fetchManualScanout()
                .then(() => {
                    this.isLoadingProcess = false
                    this.itemSelected = []
                    this.selectAll = false
                    this.modalSuccess = true
                })
            })
            .catch(error => {
                this.isLoadingProcess = false
            })
        },
        setPerPage(value) {
            this.perPage = value
            this.currentPage = 1
        },
        fetchManualScanout(){
            return new Promise((resolve, reject) => {
                this.loadingTable = true
                this.getManualScanOut({
                    purchase_order_number: this.poNumberSelected.map(o => o.purchase_order_number)
                })
                .then(() => {
                    this.loadingTable = false
                    resolve()
                })
            })
        },
        handleSelectAll(value){
            if(value) this.itemSelected = this.manualScanoutData
            else this.itemSelected = []
        },
        searchChange: _.debounce(function($event) {
            this.isLoadingPo = true
            this.getPoNumber({q: $event})
            .then(() => {
                this.isLoadingPo = false
            })
        }, 500)
    }
}
</script>

<style>

</style>
