<template>
    <div>
        <h3 class="font-weight-600 mb-0">Bulk Inventory</h3>
        <b-tabs class="my-4">
            <b-tab title="Add Bulk Inventory" @click="$router.push({ name : 'bulk-inventory-index-add'})" :active="$route.name == 'bulk-inventory-index-add'"></b-tab>
            <b-tab title="PO # Scan in" @click="$router.push({ name : 'bulk-inventory-index-po-scan-in'})" :active="$route.name == 'bulk-inventory-index-po-scan-in'"></b-tab>
            <b-tab title="Bulk Inventory Log" @click="$router.push({ name : 'bulk-inventory-index-log'})" :active="$route.name == 'bulk-inventory-index-log'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </div>
</template>

<script>
export default {
    head: {
        title: 'Inventory - POS Slyman Brothers Appliance Centers of Missouri'
    },
    layout: 'admin',
    transition: 'slide',
}
</script>
