<template>
    <div>
        <app-modal-warranties />
    </div>
</template>

<script>
import ModalWarranties from "@/components/admin/modal/Warranties.vue";

export default {
    async asyncData({ store, route, _ }) {
        return await store.dispatch("category/getCategories");
    },
    components: {
        "app-modal-warranties": ModalWarranties,
    },
    transition: "slide",
    layout: "admin",
};
</script>
