<template>
    <div>
        <p class="mb-3">Use a scanner to scan each model number into system</p>
        <!-- <div class="d-flex align-items-start mb-2">
            <div class="ml-auto">
                <button class="btn btn-sm btn-primary mr-3" @click="showModalRegister">Register UPC Code</button>
                <button class="btn btn-sm btn-primary" @click="showModalRegisterModel">Register Model Number</button>
            </div>
        </div> -->
        <div class="d-flex align-items-start mb-4">
            <no-ssr>
                <div class="mr-3">
                    <app-select
                        label="delivery_method_name"
                        track-by="delivery_method_name"
                        placeholder="Select delivery method"
                        :options="deliveryMethods"
                        :show-labels="false"
                        v-model="delivery_method"
                        v-validate="'required'"
                        data-vv-as="delivery method"
                        name="deliveryMethod"
                        :class="{'is-invalid' : errors.has('deliveryMethod') && !modalRegister && !modalRegisterModel}"
                        v-width="'250px'"
                        @input="handleInputDeliveryMethod"
                    />
                    <span class="text-danger" v-if="errors.has('deliveryMethod') && !modalRegister && !modalRegisterModel">{{errors.first('deliveryMethod')}}</span>
                </div>
                <div class="mr-3">
                    <app-datepicker mode="single" v-model="date" v-if="!isPickUp" @input="handleInputDate">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right" v-width="'220px'">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </div>
                <div class="form-inline">
                    <label for="#" class="flex-grow-1">Report Name :</label>
                    <input type="text" class="form-control ml-2" v-model="reportName" :size="reportName.length">
                </div>
            </no-ssr>
        </div>
        <unscanned-items class="mb-4" />

        <div v-if="trucks.length > 0" class="container-trucks border rounded p-3 mb-4">
            <no-ssr>
                <carousel v-bind="options">
                    <slide v-for="(scanOutTruck, index) in trucks" :key="`truck-${index}`">
                        <div class="select-truck" :class="{'active': scanOutTruck.id === selectedTruck }" @click="selectTruck(scanOutTruck.id)">
                            <p class="select-truck__title">
                                Truck {{ scanOutTruck.truck }}
                            </p>
                            <p class="select-truck__title mb-1">Drivers</p>
                            <div v-if="scanOutTruck.driver.length > 0" class="select-truck__driver">
                                <span class="badge badge-pill badge-primary" v-for="(driver, driverIndex) in scanOutTruck.driver" :key="driverIndex">
                                    {{ driver.name }}
                                </span>
                            </div>
                            <template v-if="scanOutTruck.driver.length === 0">
                                -
                            </template>
                        </div>
                    </slide>
                </carousel>
            </no-ssr>
        </div>

        <div class="border rounded py-3 px-4">
            <div class="row align-items-end" v-for="(item, index) in scanoutModels" :key="index">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent" id="basic-addon">
                                    <i class="fa fa-arrow-right text-warning" aria-hidden="true"></i>
                                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="UPC Code/Model Number" ref="upcModel" v-model="item.model" :disabled="isScanOrder" @input="handleInputModel(index)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-0 ml-3">
                        <!-- <label for="#" class="font-weight-bold">Serial Number</label> -->
                        <input type="text" class="form-control" ref="serialNumber" placeholder="Serial Number" v-model="item.serial_number" :disabled="isScanOrder" @input="handleInputSerial(index)">
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary px-5 py-2" @click="fetchScanOrder" :disabled="isScanOrder">
                    <b-spinner variant="light" class="mx-1" small v-if="isScanOrder" />
                    <span v-else>Scan</span>
                </button>
                </div>
            </div>
        </div>

        <div v-if="showAlert.scanned" class="alert alert-warning mt-3" role="alert">
            UPC/Model box is designed for a scanner gun. Be prepared for odd behavior if you do not have one.
        </div>

        <hr class="my-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="font-weight-600">Preview Data</h5>
            <button class="btn btn-sm btn-primary px-3" :disabled="isSave" @click="save">
                <div class="mx-3" v-if="isSave">
                    <b-spinner variant="light" small />
                </div>
                <span v-else>Process</span>
            </button>
        </div>

        <template v-if="!selectedTruck">
            <app-table
                class="py-table--sm"
                :fields="fields"
                :items="items"
                :busy="loadingTable"
                :current-page="currentPage"
                :per-page="perPage"
                show-empty>
                <div slot="table-busy" class="text-center text-blue my-2">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
                <template slot="order_no" slot-scope="row">
                    <span class="d-inline-block">{{row.item.order_no}}</span>
                    <a href="javascript:void(0)" @click="row.toggleDetails" class="text-primary d-flex align-items-center mt-2">
                        <i class="fas fa-lg" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                        <p class="mb-0 ml-2 font-weight-600">Info Detail</p>
                    </a>
                </template>
                <template slot="model" slot-scope="row">
                    <div class="d-flex align-items-center position-relative">
                        <app-select
                            label="product_id"
                            track-by="product_id"
                            placeholder="Type to edit"
                            :options="productOptions"
                            :searchable="true"
                            :loading="isLoading"
                            :preserve-search="true"
                            :internal-search="false"
                            :options-limit="300"
                            :max-height="600"
                            :show-no-options="false"
                            :show-labels="false"
                            :show-no-results="false"
                            v-model="row.item.product_selected"
                            @search-change="getProduct($event)"
                            @input="updateItem(row.item)"
                            v-width="'100%'"
                            class="search__bulk">
                            <template slot="option" slot-scope="props">
                                <div class="option__desc">
                                    <span class="option__title">
                                        {{ props.option.product_id }}
                                    </span>
                                    <br>
                                    <span class="option__small">{{ props.option.brand }}</span>
                                </div>
                            </template>
                        </app-select>
                        <!-- <input type="text" class="form-control mt-4" v-model="row.item.model" :disabled="true" v-width="'180px'"> -->
                        <div class="d-flex align-items-center mt-4" v-if="!row.item.is_valid">
                            <div class="notvalid__model">
                                <a href="javascript:void(0)" class="text-danger ml-3">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>
                                <div class="notvalid__model--alert text-white bg-danger p-2 small" v-width="'325px'">
                                    {{row.item.invalid_message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-slot:row-details="row">
                    <div class="mt-n2 mb-2 d-flex align-items-center">
                        <div>
                            <p class="font-weight-600 mb-2">Product Detail</p>
                            <p class="mb-0 text-gray">{{row.item.product_detail.short_description ? row.item.product_detail.short_description : '-'}}</p>
                        </div>
                    </div>
                </template>
                <template slot="serial_number" slot-scope="row">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" v-model="row.item.serial_number" @blur="updateItem(row.item)">
                    </div>
                </template>
                <template slot="brand" slot-scope="row">
                    <p class="mb-0">{{row.item.product_detail.category ? row.item.product_detail.brand : '-'}}</p>
                </template>
                <template slot="category" slot-scope="row">
                    <p class="mb-0">{{row.item.product_detail.category ? row.item.product_detail.category : '-'}}</p>
                </template>
                <template slot="action" slot-scope="row">
                    <a href="javascript:void(0)" class="text-danger" @click="showModalDelete(row.item)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </template>
            </app-table>

            <div class="d-flex justify-content-between align-items-center mt-4" v-if="items.length > 1">
                <div class="d-flex align-items-center">
                    <app-total :data="scanout.meta" :value="50" @itemPerPage="setPerPage"/>
                    <p class="mb-0 ml-1">of {{totalRows}} items</p>
                </div>
                <app-pagination
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    class="mb-0" />
            </div>
        </template>

        <table v-if="selectedTruck" class="table">
            <thead>
                <tr>
                    <th scope="col">Order No</th>
                    <th scope="col">Model</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="isLoadingModelNumberByTrucks">
                    <td colspan="5" class="text-center">
                        <b-spinner></b-spinner>
                    </td>
                </tr>
                <template v-if="!isLoadingModelNumberByTrucks && modelNumberByTrucks.length > 0">
                    <tr v-for="(modelByTruck, index) in modelNumberByTrucks" :key="`model-number-by-truck-${index}`">
                        <td>
                            <p class="content-table mb-1" :class="{ 'text-success': isAllScanned(modelByTruck.detail_order) }">
                                {{ modelByTruck.order_no }}
                            </p>
                        </td>
                        <td class="align-center">
                            <p v-for="(detailOrder, index) in modelByTruck.detail_order" :key="`product-model-${index}`" class="mb-1 content-table" :class="{ 'text-success' : detailOrder.serial_number.length > 0 }">
                                {{ detailOrder.product_model }}
                            </p>
                        </td>
                        <td class="align-top">
                            <template v-for="(detailOrder, index) in modelByTruck.detail_order">
                                <template v-if="detailOrder.serial_number.length > 0">
                                    <input v-for="(orderSerialNumber, index) in detailOrder.serial_number" :key="`serial-number-${index}`" v-model="orderSerialNumber.serial_number" class="form-control mb-1" @blur="updateDetailOrderItem(orderSerialNumber)">
                                </template>
                                <p v-if="detailOrder.serial_number.length === 0" class="mb-1 content-table">
                                    -
                                </p>
                            </template>
                        </td>
                        <td class="align-center">
                            <p v-for="(detailOrder, index) in modelByTruck.detail_order" :key="`quantity-${index}`" class="mb-1 content-table">
                                {{ detailOrder.qty_left }}
                            </p>
                        </td>
                        <td class="align-center">
                            <div class="scan-out-status">
                                <Badge v-if="modelByTruck.status === 3" size="sm" variant="success">
                                    {{ modelByTruck.status_name }}
                                </Badge>
                                <Badge v-if="modelByTruck.status === 2" size="sm" variant="brown-light">
                                    {{ modelByTruck.status_name }}
                                </Badge>
                                <Badge v-if="modelByTruck.status === 1" size="sm" variant="error">
                                    {{ modelByTruck.status_name }}
                                </Badge>
                            </div>
                        </td>
                    </tr>
                </template>
                <tr v-if="!isLoadingModelNumberByTrucks && modelNumberByTrucks.length === 0">
                    <td colspan="5" class="text-center">
                        There are no records to show
                    </td>
                </tr>
            </tbody>
        </table>

        <app-modal size="lg" title="Order Number" :hide-footer="true" :show="modalOrder" @hide="hideModalOrder">
            <template v-if="items_order">
                <div class="d-flex align-items-center mb-3">
                    <div class="form-group mb-0 mr-3">
                        <div class="icon icon-left">
                            <input type="text" class="form-control form-icon" placeholder="Search" v-width="'200px'" v-model="searchOrder" @input="handleSearchOrder">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <app-table :fields="fieldsOrder" :items="items_order.data" show-empty :busy="isScanOrder" hover @row-clicked="selectOrder">
                    <div slot="table-busy" class="text-center text-blue">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="order_no" slot-scope="row">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{row.item.order_no}}</span>
                            <i class="fas fa-check text-success" v-if="row.item == selectedOrder"></i>
                        </div>
                    </template>
                </app-table>
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <div class="d-flex align-items-center">
                        <app-total :data="items_order.meta" @itemPerPage="setPerPageOrder"/>
                    </div>
                    <app-pagination
                        v-model="items_order.meta.current_page"
                        :total-rows="items_order.meta.total"
                        :per-page="items_order.meta.per_page"
                        @change="setPageOrder"
                        class="mb-0 ml-auto">
                    </app-pagination>
                </div>
            </template>
        </app-modal>
        <app-modal size="md" title="Register UPC Code" :show="modalRegister" @hide="hideModalRegister">
            <div data-vv-scope="registerUpc">
                <div class="form-group">
                    <label for="#" class="font-weight-600">UPC Code</label>
                    <input type="text" class="form-control" v-model="register.upc" :class="{'is-invalid' : errors.has('upcCode')}" v-validate="'required'" name="upcCode" data-vv-as="upc code">
                    <span class="text-danger" v-if="errors.has('upcCode')">{{errors.first('upcCode')}}</span>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Model Number</label>
                    <app-select
                        label="product_id"
                        track-by="product_id"
                        placeholder="Choose model number"
                        :open-direction="'bottom'"
                        :options="productOptions"
                        :searchable="true"
                        :loading="isLoading"
                        :preserve-search="true"
                        :internal-search="false"
                        :options-limit="300"
                        :max-height="600"
                        :show-no-options="false"
                        :show-labels="false"
                        :show-no-results="false"
                        v-model="register.model_number"
                        @search-change="getProduct($event)"
                        v-validate="'required'"
                        name="modelNumber"
                        :class="{'is-invalid' : errors.has('modelNumber')}"
                        data-vv-as="model number"
                        class="select-product">
                        <template slot="option" slot-scope="props">
                            <div class="option__desc">
                                <span class="option__title">
                                    {{ props.option.product_id }}
                                </span>
                                <br>
                                <span class="option__small">{{ props.option.brand }}</span>
                            </div>
                        </template>
                    </app-select>
                    <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
                </div>
            </div>
            <template slot="modal-footer">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegister" :disabled="isRegister">Cancel</button>
                <button class="btn btn-primary" @click="submitRegister" :disabled="isRegister">
                    <b-spinner variant="light" small v-if="isRegister" />
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="deleteItem">Delete</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="md" title="Register Model Number" :hideFooter="true" :show="modalRegisterModel" @hide="hideModalRegisterModel">
            <div class="form-group">
                <label for="#" class="font-weight-600">Scan Model from Barcode</label>
                <input type="text" class="form-control" ref="barcodeInput" v-model="modelBarcode" @input="handleInputBarcode">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Number</label>
                <input type="text" class="form-control" v-model="register_model.model_number" v-validate="'required'" name="modelNumber" data-vv-as="model number" :class="{'is-invalid' : errors.has('modelNumber')}">
                <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">UPC Code</label>
                <input type="text" class="form-control" v-model="register_model.upc" name="upc">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Name</label>
                <input type="text" class="form-control" v-model="register_model.model_name" v-validate="'required'" name="modelName" data-vv-as="model name" :class="{'is-invalid' : errors.has('modelName')}">
                <span class="text-danger" v-if="errors.has('modelName')">{{errors.first('modelName')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Brand Name</label>
                <app-select
                    track-by="brand_name"
                    label="brand_name"
                    :show-labels="false"
                    :options="brands"
                    v-model="register_model.brand"
                    placeholder="Select Brand"
                    v-validate="'required'"
                    name="brand"
                    :class="{'is-invalid' : errors.has('brand')}"
                />
                <span class="text-danger" v-if="errors.has('brand')">{{errors.first('brand')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Appliance Type</label>
                <no-ssr>
                    <app-select
                        track-by="category_id"
                        label="category_name"
                        :show-labels="false"
                        :options="categories"
                        v-model="register_model.category"
                        placeholder="Select Appliance Type"
                        v-validate="'required'"
                        name="applianceType"
                        data-vv-as="appliance type"
                        :class="{'is-invalid' : errors.has('applianceType')}"
                        @input="handleInputCategory"
                    />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('applianceType')">{{errors.first('applianceType')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Sub Categories</label>
                <no-ssr>
                    <app-select
                        v-model="register_model.subcategory"
                        :options="subcategories"
                        :show-labels="false"
                        :loading="isFetchSubCategories"
                        placeholder="Select Sub Categories"
                        label="subcategory_name"
                        track-by="subcategory_name"
                        :preselect-first="false"
                        v-validate="'required'"
                        name="subCategories"
                        data-vv-as="sub category"
                        :class="{'is-invalid' : errors.has('subCategories')}"
                        @input="handleInputSubCategory" />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('subCategories')">{{errors.first('subCategories')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Detail Categories</label>
                <no-ssr>
                    <app-select
                        v-model="register_model.detailcategory"
                        :options="detailcategories"
                        :show-labels="false"
                        :loading="isFetchDetailCategories"
                        placeholder="Select Detail Categories"
                        label="detail_category_name"
                        track-by="detail_category_name"
                        :preselect-first="false"
                        v-validate="'required'"
                        name="detailCategories"
                        data-vv-as="detail category"
                        :class="{'is-invalid' : errors.has('detailCategories')}" />
                </no-ssr>
                <span class="text-danger" v-if="errors.has('detailCategories')">{{errors.first('detailCategories')}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-4">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegisterModel" :disabled="isRegisterModel">Cancel</button>
                <button class="btn btn-primary" type="submit"  @click="submitRegisterModel" :disabled="isRegisterModel">
                    <b-spinner variant="light" small v-if="isRegisterModel" />
                    <span v-else>Save</span>
                </button>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSkipped" @hide="hideModalSkipped">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-5">These product models below cannot be added because not in tagged or in the order</h5>
                <ul>
                    <li v-for="(item, i) in skipped_model" :key="i">{{item}}</li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" @click="hideModalSkipped">Close</button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalInvalid" @hide="hideModalInvalid">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <!-- <h5 class="mt-4 mb-5">This process contain invalid model number <br> are you sure want to continue ?</h5> -->
                <h5 class="mt-4 mb-5">This process contain invalid model number</h5>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" @click="hideModalInvalid">Cancel</button>
                    <!-- <button class="btn btn-primary w-100 ml-3" @click="bypassSave">Bypass and continue</button> -->
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalUnavailable" @hide="hideModalUnavailable">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-3">Oops!</h5>
                <h6 class="mb-5">{{errorMessage}}</h6>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSuccess" @hide="hideModalSuccess">
            <div class="px-5 text-center">
                <img src="/icon/success.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Success!</h5>
                <p class="my-3">Your data has been successfully save</p>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalAlertSelectTruck" @hide="hideModalAlertSelectTruct">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Warning!</h5>
                <p class="my-3">Please process the exisiting scan out before selecting the truck.</p>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalWarning" @hide="hideModalWarning">
            <div class="px-4 text-center">
                <h5 class="mb-0 font-weight-normal">Are you sure want to leave this page? <br> unsaved data will be lost!</h5>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalWarning">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="leaveBulk">Leave</button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Modal from '@/components/utilities/Modal'
import Badge from '@/components/utilities/Badge'
import PrettyCheck from 'pretty-checkbox-vue/check'
import Select from 'vue-multiselect'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import TotalRecord from '@/components/utilities/TotalRecord'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import UnscannedItems from '@/components/UnscannedItems'
import {mapState, mapActions} from 'vuex'
import _ from 'lodash'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'p-check': PrettyCheck,
        'app-modal': Modal,
        'app-table' : Table,
        'app-select': Select,
        'app-total' : TotalRecord,
        'app-pagination' : Pagination,
        UnscannedItems,
        Badge,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('brand/getBrands'),
            store.dispatch('category/getCategories'),
            store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
            store.dispatch('bulkInventory/getBulkInventory', {
                type: 2
            })
        ])
    },
    data: () => ({
        isFetchDetailCategories: false,
        isFetchSubCategories: false,
        modalWarning: false,
        routePath: null,
        isFromDeliveries: false,
        reportName: '',
        modelBarcode: '',
        isPickUp: false,
        delivery_method: null,
        selectedTruck: null,
        errorMessage: null,
        isSave: false,
        modalUnavailable: false,
        isRegister: false,
        register: {
            upc: null,
            model_number: null
        },
        modalRegister: false,
        date: new Date(),
        selectedOrder: null,
        searchOrder: '',
        isScanOrder: false,
        perPageOrder: 10,
        pageOrder: 1,
        isDeliveryDate: true,
        modalOrder: false,
        modalSuccess: false,
        modalAlertSelectTruck: false,
        modalInvalid: false,
        loadingTable: false,
        tempData: null,
        modalDelete: false,
        modalSkipped: false,
        isProcess: false,
        routeOrder: null,
        routeQuote: null,
        isLoading: false,
        scanoutModels: [],
        perPage: 50,
        currentPage: 1,
        skipped_model: [],
        modalRegisterModel : false,
        isRegisterModel: false,
        register_model: {
            model_name: null,
            model_number: null,
            brand: null,
            category: null,
            subcategory: null,
            detailcategory: null,
            upc : null
        },
        scanout: {
            meta: {
                to: 0,
                from: 0,
                total: 0,
            }
        },
        fieldsOrder: [
            {
                key: 'order_no'
            },
            {
                key: 'product_model',
                label: 'Model'
            },
            {
                key: 'qty_left',
                label: 'Quantity'
            },
            {
                key: 'order_date'
            }
        ],
        fields: [
            {
                key: 'order_no',
                label: 'Order No'
            },
            {
                key: 'model',
                thStyle: {
                    width: '300px'
                }
            },
            {
                key: 'serial_number',
                thStyle: {
                    width: '300px'
                }
            },
            {
                key: 'order_no',
                label: 'Order No'
            },
            {
                key: 'brand',
                label: 'Brand'
            },
            {
                key: 'category',
                label: 'Category'
            },
            {
                key: 'stock',
                label: 'Quantity'
            },
            {
                key: 'action',
                label: ''
            }
        ],
        options: {
            perPage: 6,
            paginationEnabled: false,
            navigationEnabled: true,
            navigationPrevLabel: `
                <svg width="55" height="55" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_3837:4515)">
                        <circle cx="39" cy="35" r="19" transform="rotate(-180 39 35)" fill="#0056B9"/>
                    </g>
                    <path d="M39 43L40.41 41.59L34.83 36L47 36L47 34L34.83 34L40.41 28.41L39 27L31 35L39 43Z" fill="white"/>
                    <defs>
                        <filter id="filter0_d_3837:4515" x="0" y="0" width="78" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="10"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3837:4515"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3837:4515" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            `,
            navigationNextLabel: `
                <svg width="55" height="55" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_3837:4335)">
                        <circle cx="39" cy="35" r="19" fill="#0056B9"/>
                    </g>
                    <path d="M39 27L37.59 28.41L43.17 34H31V36H43.17L37.59 41.59L39 43L47 35L39 27Z" fill="white"/>
                    <defs>
                        <filter id="filter0_d_3837:4335" x="0" y="0" width="78" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="10"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3837:4335"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3837:4335" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            `,
            paginationEnabled: false
        },
        isLoadingModelNumberByTrucks: false,
        showAlert: {
            scanned: true,
        }
    }),
    beforeRouteLeave(to, from, next) {
        this.routePath = to
        if(this.items.length > 0) {
            this.showModalWarning()
            next(false)
        }else{
            next()
        }
    },
    beforeRouteEnter(to, from, next){
        next(_this => {
            if(from.name) _this.isFromDeliveries = true
            else _this.isFromDeliveries = false
        })
    },
    async created() {
        this.scanoutModels.push({
            id: null,
            date: null,
            model: null,
            serial_number: null,
            order_no: null
        })
        await this.getUnscanItem({delivery_date: this.moment(this.date).format('L') })
    },
    watch: {
        isFromDeliveries(){
            this.fillFilter()
        },
        delivery_method(){
            if(this.delivery_method){
                if(this.delivery_method.type == 2 || this.delivery_method.type == 3) this.isPickUp = true
                else this.isPickUp = false
            }
        },
        date(){
            if(this.delivery_method){
                this.fillReportName()
            }
        }
    },
    mounted(){
        this.$refs.upcModel[0].focus()
        this.fillFilter()
        if (this.delivery_method && this.date !== null) {
            this.getTrucks({delivery_date: this.moment(this.date).format('YYYY/MM/DD'), delivery_method: this.delivery_method.delivery_method_id})
        }
    },
    computed: {
        ...mapState('bulkInventory', {
            items : state => state.items_scanout,
            items_order: state => state.items_order
        }),
        ...mapState('product', {
            productOptions: state => state.items
        }),
        totalRows() {
            return this.items.length
        },
        ...mapState('category', {
            categories: state => state.categories,
            subcategories: state => state.subcategories,
            detailcategories: state => state.detailcategories
        }),
        ...mapState('delivery', {
            trucks: state => state.trucks,
            modelNumberByTrucks: state => state.modelNumberByTrucks,
        }),
        ...mapState('brand', {
            brands: state => state.brands
        }),
        ...mapState('deliveryMethod',  {
            deliveryMethods: state => state.items
        })
    },
    methods:{
        ...mapActions('bulkInventory', [
            'postScanOut' ,
            'getBulkInventory',
            'updateScanOut',
            'deleteBulkInventory',
            'saveBulkInventory',
            'getScanOrder',
            'registerUpc',
            'registerModel'
        ]),
        ...mapActions('deliveryDetail', [
            'updateSerialNumber',
        ]),
        ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
        ...mapActions('product', ['getProductOrder']),
        ...mapActions('delivery', ['getUnscanItem', 'getTrucks', 'getAllModelByTruck']),
        isAllScanned(detailOrders) {
            return detailOrders.every((detailOrder) => detailOrder.status === 3 )
        },
        handleInputDate(){
            this.getUnscanItem({delivery_date: this.moment(this.date).format('L') })
            if (this.delivery_method && this.date !== null) {
                this.getTrucks({delivery_date: this.moment(this.date).format('YYYY/MM/DD'), delivery_method: this.delivery_method.delivery_method_id})
            }
            this.resetTrucks();
        },
        handleInputCategory(){
            this.register_model.subcategory = null
            this.register_model.detailcategory = null
            this.isFetchSubCategories = true
            this.getSubCategories(this.register_model.category.category_name)
            .then(() => {
                this.isFetchSubCategories = false
            })
        },
        handleInputSubCategory(){
            this.isFetchDetailCategories = true
            this.getDetailCategories({ category_name: this.register_model.category.category_name, subcategory_name: this.register_model.subcategory.subcategory_name })
            .then(() => {
                this.isFetchDetailCategories = false
            })
        },
        fillReportName(){
            if(this.delivery_method){
                let date = new Date()
                if(this.delivery_method.is_pickup != 1) date = this.date
                this.reportName = this.delivery_method.delivery_method_name + ' - ' + this.moment(date).format('L')
            }
        },
        resetTrucks() {
            this.$store.commit('delivery/SET_TRUCKS', [])
            this.selectedTruck = null;
        },
        handleInputDeliveryMethod(){
            this.fillReportName()
            this.resetTrucks();
            if (this.delivery_method && this.date !== null) {
                this.getTrucks({delivery_date: this.moment(this.date).format('YYYY/MM/DD'), delivery_method: this.delivery_method.delivery_method_id})
            }
        },
        hideModalWarning() {
            this.modalWarning = false
            this.isLeave = false
        },
        showModalWarning() {
            this.modalWarning = true
        },
        leaveBulk() {
            this.deleteBulkInventory({
                id: 'all'
            }).then(() => {
                this.getBulkInventory({type: 2}).then(() => {
                    this.$router.push({name: this.routePath.name})
                    this.modalWarning = false
                })
            })
        },
        handleInputBarcode: _.debounce(function(){
            if(this.modelBarcode.length > 0){
                this.register_model.model_number = this.modelBarcode.replace('-', '')
            }
        }, 300),
        fillFilter(){
            let dataFilter = JSON.parse(localStorage.getItem('deliveries-filter'))
            if(this.isFromDeliveries){
                if(dataFilter){
                    this.date = new Date(dataFilter.singleDate)
                    this.delivery_method = dataFilter.delivery_method
                }
            }
        },
        hideModalUnavailable(){
            this.modalUnavailable = false
            this.errorMessage = null
            this.hideModalOrder()
            this.$refs.upcModel[0].focus()
        },
        submitRegister(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isRegister = true
                    this.registerUpc({
                        upc: this.register.upc,
                        model_number: this.register.model_number.product_id
                    })
                    .then(() => {
                        this.isRegister = false
                        this.hideModalRegister()
                    })
                    .catch(() => {
                        this.isRegister = false
                    })
                }
            })
        },
        showModalRegister(){
            this.isRegister = false
            this.modalRegister = true
        },
        hideModalRegister(){
            this.modalRegister = false
            this.register.upc = null
            this.register.model_number = null
            this.errors.clear()
        },
        selectOrder(item){
            this.isScanOrder = true
            this.selectedOrder = item
            this.process()
        },
        handleSearchOrder: _.debounce(function() {
            this.fetchScanOrder()
        }, 500),
        setPerPageOrder(value){
            this.perPageOrder = value
            this.fetchScanOrder()
        },
        setPageOrder(value){
            this.pageOrder = value
            this.fetchScanOrder()
        },
        showModalOrder(){
            this.modalOrder = true
        },
        hideModalOrder(){
            this.selectedOrder = null
            this.scanoutModels = [{
                id: null,
                date: null,
                model: null,
                serial_number: null,
                order_no: null
            }]
            this.modalOrder = false
            this.$refs.upcModel[0].focus()
        },
        getProduct: _.debounce(function($event) {
            this.isLoading = true
            this.getProductOrder({product_id: $event, search_type: ''})
            .then(() => {
                this.isLoading = false
            })
        }, 500),
        goBack() {
            let from_quote = localStorage.getItem('from_quote')
            if(from_quote){
                this.getHistoryQuote().then( () =>{
                    localStorage.removeItem('from_quote')
                    if(this.routeQuote.includes('/customers/detail')){
                        this.$router.push({ path: this.routeQuote})
                    }else {
                        this.$router.push({ name: this.routeQuote})
                    }
                })
            } else {
                localStorage.removeItem('from_quote')
                this.getHistoryOrder().then( () =>{
                    if(this.routeOrder.includes('/customers/detail')){
                        this.$router.push({ path: this.routeOrder})
                    }else {
                        this.$router.push({ name: this.routeOrder != "null" ? this.routeOrder : 'my-orders-index-all'})
                    }
                })
            }
        },
        getHistoryOrder(){
            return new Promise((resolve, reject) =>{
                this.routeOrder = localStorage.getItem('history-route-order')
                resolve()
            })
        },
        getHistoryQuote(){
            return new Promise((resolve, reject) =>{
                this.routeQuote = localStorage.getItem('history-route-quote')
                resolve()
            })
        },
        handleInputModel: _.debounce(function(index){
            this.showAlert.scanned = true;
            this.$validator.validateAll()
            let formatedValue = this.scanoutModels[index].model.split(' ')
            if(formatedValue[1] != undefined){
                let modelNumber
                let serialNumber
                if(formatedValue[1].includes(',')){
                    let formatedSerial = formatedValue[1].split(',')
                    let formatedModelNumber = formatedValue[0] + ' ' + formatedSerial[0]
                    modelNumber = formatedModelNumber.replace('.', '')
                    serialNumber = formatedSerial[1]
                }else if(formatedValue[1].length > 2){
                    modelNumber = formatedValue[0].replace('.', '')
                    serialNumber = formatedValue[1]
                }else{
                    modelNumber = this.scanoutModels[index].model
                    serialNumber = this.scanoutModels[index].serial_number
                }
                this.scanoutModels[index].model = modelNumber
                this.scanoutModels[index].serial_number = serialNumber
            }
            if(this.scanoutModels[index].model.length > 0 ){
                this.$refs.serialNumber[index].focus()
            }
        }, 300),

        fetchScanOrder(){
            return new Promise((resolve, reject) => {
                this.$validator.validateAll().then(result => {
                    if(result){
                        this.isScanOrder = true
                        this.getScanOrder({
                            perpage: this.perPageOrder,
                            page: this.pageOrder,
                            q: this.searchOrder,
                            start: !this.isPickUp ? this.moment(this.date).format('YYYY-MM-DD') : null,
                            end: !this.isPickUp ? this.moment(this.date).format('YYYY-MM-DD') : null,
                            model: this.scanoutModels[0].model,
                            serial_number: this.scanoutModels[0].serial_number,
                            delivery_method_id: this.delivery_method.delivery_method_id,
                            truck_id: this.selectedTruck,
                        })
                        .then(response => {
                            this.showAlert.scanned = false;
                            this.isScanOrder = false
                            if(response.status != 404){
                                this.errorMessage = null;
                                if(response.data.length == 1 && this.searchOrder.length == 0){
                                    this.selectedOrder = response.data[0]
                                    this.scanoutModels[0].id = response.data[0].id;
                                    this.scanoutModels[0].date = this.moment(this.date).format('L');
                                    this.process()
                                }else{
                                    this.showModalOrder()
                                }
                            }else{
                                this.errorMessage = response.message
                                this.modalUnavailable = true
                            }
                            this.$refs.upcModel[0].focus()
                            resolve(response)
                        });
                    }
                })
            })
        },
        handleInputSerial: _.debounce(function(index) {
            this.showAlert.scanned = true;
            this.$validator.validateAll().then(result => {
                if(result){
                    if(this.scanoutModels[index].serial_number.length > 0){
                        this.fetchScanOrder()
                    }
                }
            })
        }, 300),
        // handleInputSerial: _.debounce(function(index){
        //     if(!this.isProcess){
        //         if(this.scanoutModels[index].model != null && this.scanoutModels[index].serial_number != null) {
        //             if(this.scanoutModels[index].model.length > 0 && this.scanoutModels[index].serial_number.length > 0 || this.scanoutModels[index].model != null && this.scanoutModels[index].serial_number != null){
        //                 this.scanoutModels.push({
        //                     model: null,
        //                     serial_number: null,
        //                     order_no: this.$route.params.id
        //                 })
        //             }
        //         }
        //     }
        // }, 300),
        removeInput(index){
            this.scanoutModels.splice(index, 1)
        },
        process() {
            this.isProcess = true
            this.loadingTable = true
            this.scanoutModels[0].id = this.selectedOrder.id;
            this.scanoutModels[0].order_no = this.selectedOrder.order_no
            this.scanoutModels[0].date = this.moment(this.selectedOrder.order_date).format('YYYY-MM-DD')

            if (this.selectedTruck !== null) {
                this.postScanOut({
                    params: {
                        truck:this.selectedTruck
                    },
                    payload:this.scanoutModels[0],
                })
                .then((response) => {
                    this.skipped_model = response.models

                    this.isLoadingModelNumberByTrucks = true;
                    this.getAllModelByTruck(this.selectedTruck)
                    .then(() => {
                        this.isLoadingModelNumberByTrucks = false;
                        this.loadingTable = false
                        this.isProcess = false
                        this.isScanOrder = false
                        setTimeout(() => {
                            this.$refs.upcModel[0].focus()
                        }, 500)
                        this.hideModalOrder()
                    });

                    if(response.status == 'failed'){
                        this.showModalSkipped()
                    }

                    this.scanoutModels = [];
                    this.scanoutModels.push({
                        id: null,
                        date: null,
                        model: null,
                        serial_number: null,
                        order_no: null
                    })
                })
            }

            if (this.selectedTruck === null) {
                this.postScanOut({
                    payload: this.scanoutModels[0],
                })
                .then((response) => {
                    this.skipped_model = response.models
                    this.getBulkInventory({
                        type: 2
                    }).then(() => {
                        this.loadingTable = false
                        this.isProcess = false
                        this.isScanOrder = false
                        setTimeout(() => {
                            this.$refs.upcModel[0].focus()
                        }, 500)
                        this.hideModalOrder()
                    })

                    if(response.status == 'failed'){
                        this.showModalSkipped()
                    }

                    this.scanoutModels = [];
                    this.scanoutModels.push({
                        id: null,
                        date: null,
                        model: null,
                        serial_number: null,
                        order_no: null
                    })
                })
            }

        },
        hideModalDelete(){
            this.modalDelete = false
            this.tempData = null
        },
        showModalDelete(item){
            this.tempData = item
            this.modalDelete = true
        },
        deleteItem(){
            this.deleteBulkInventory({
                id: this.tempData.id
            })
            .then(() => {
                this.getBulkInventory({
                    type: 2
                })
                .then(() => {
                    this.hideModalDelete()
                })
            })
        },
        updateItem(item){
            this.updateScanOut({
                id: item.id,
                model: item.product_selected.product_id,
                serial_number: item.serial_number
            })
            .then(() => {
                this.getBulkInventory({
                    type: 2
                })
            })
        },
        updateDetailOrderItem(orderSerialNumber) {
            this.updateSerialNumber({
                id: orderSerialNumber.id,
                serial_number: orderSerialNumber.serial_number,
            }).then(() => {
                this.$root.$bvToast.toast(`Serial Number Updated`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            })
        },
        showModalSkipped(){
            this.modalSkipped = true
        },
        hideModalSkipped(){
            this.modalSkipped = false
        },
        showModalInvalid(){
            this.modalInvalid = true
        },
        hideModalInvalid(){
            this.modalInvalid = false
        },
        bypassSave(){
            this.isSave = true
            this.saveBulkInventory({group_name: this.reportName})
            .then(() => {
                this.hideModalInvalid()
                this.getBulkInventory({
                    type: 2
                })
                .then(() =>{
                    this.isSave = false
                    this.reportName = ''
                    this.loadingTable = false
                    this.showModalSuccess()
                })
            })
        },
        save() {
            let indexInvalid = this.items.findIndex(v => {return v.is_valid == false})
            if(indexInvalid != -1){
                this.showModalInvalid()
            }else{
                this.bypassSave()
            }
        },
        showModalSuccess() {
            this.modalSuccess = true
        },
        selectTruck(id) {
            if (this.items.length > 0) {
                this.modalAlertSelectTruck = true;
                return;
            }

            if (this.selectedTruck === id) {
                this.loadingTable = true;
                this.getBulkInventory({
                    type: 2
                }).then(() => {
                    this.loadingTable = false;
                    this.isProcess = false;
                    this.isScanOrder = false;
                    setTimeout(() => {
                        this.$refs.upcModel[0].focus()
                    }, 500)
                    this.hideModalOrder();
                })
                this.selectedTruck = null;
                this.isSave = false
                this.isLoadingModelNumberByTrucks = false;
                return;
            }

            if (this.selectedTruck !== id) {
                this.selectedTruck = id;
                this.isLoadingModelNumberByTrucks = true;
                this.getAllModelByTruck(this.selectedTruck)
                .then(() => {
                    this.isLoadingModelNumberByTrucks = false;
                });
                return;
            }
        },
        hideModalSuccess() {
            this.modalSuccess = false
            // this.$router.push({name: 'deliveries-index'})
        },
        hideModalAlertSelectTruct() {
            this.modalAlertSelectTruck = false
        },
        setPerPage(value) {
            this.perPage = value
            this.currentPage = 1
        },
        submitRegisterModel(){
            this.$validator.validateAll().then(result => {
                console.log(result)
                if(result){
                    this.isRegisterModel = true
                    this.registerModel({
                        raw_model: this.modelBarcode,
                        model_name: this.register_model.model_name,
                        model_number: this.register_model.model_number,
                        category: this.register_model.category.category_id,
                        brand_id: this.register_model.brand.brands,
                        detail_category_id: this.register_model.detailcategory.id,
                        upc: this.register_model.upc,
                    })
                    .then(() => {
                        this.isRegisterModel = false
                        this.hideModalRegisterModel()
                    })
                    .catch(() => {
                        this.isRegisterModel = false
                    })
                }
            })
        },
        showModalRegisterModel(){
            this.modalRegisterModel = true
            this.$nextTick(() => {
                this.$refs.barcodeInput.focus()
            })
        },
        hideModalRegisterModel(){
            this.$refs.upcModel[0].focus()
            this.modelBarcode = ''
            this.modalRegisterModel = false
            this.register_model.model_number = null
            this.register_model.model_name = null
            this.register_model.brand = null
            this.register_model.category = null
            this.register_model.upc = null
            this.register_model.subcategory = null
            this.register_model.detailcategory = null
            this.errors.clear()
        }
    },
}
</script>
<style lang="scss" scoped>
.container-trucks {
    .select-truck {
        display: block;
        border-radius: 10px;
        align-items: center;
        padding: 1rem;
        min-width: 170px;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &.active {
            border: 2px solid #0056b9;
            background-color: #ebf4fa;
        }

        &__title {
            font-size: 14px;
            font-weight: 700;
            color: #3d464c;
        }

        &__driver {
            display: flex;
            gap: 0.5rem;
        }
    }
}

.content-table {
    line-height: 3;
}

.scan-out-status {
    display: grid;
    gap: 2rem;
}

</style>
