<template>
    <div>
        <app-modal-customer :isFromQuoteOrder="isFromQuoteOrder" show />
    </div>
</template>

<script>
import ModaCustomer from "@/components/modal/Customer.vue";

export default {
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch("customer/getCustomer", route.params.id),
            store.dispatch("province/getProvinces"),
        ]);
        return;
    },
    data: () => ({
        isFromQuoteOrder: "",
    }),
    destroyed() {
        this.isFromQuoteOrder = "";
    },
    beforeRouteLeave(to, from, next) {
        if (to.name == "customers-index-individual")
            localStorage.removeItem("history-route-from");
        next();
    },
    beforeRouteEnter(to, from, next) {
        next((vm) => {
            if (
                from.name === "my-quotes-edit-id" ||
                from.name === "my-orders-edit-id"
            )
                vm.isFromQuoteOrder = from.path;
            else vm.isFromQuoteOrder = "";
        });
    },
    components: {
        "app-modal-customer": ModaCustomer,
    },
    transition: "slide",
    layout: "admin",
};
</script>
