<template>
    <section>
        <h3 class="font-weight-600 mb-0">Epic Report</h3>
        <b-tabs class="mt-4">
            <b-tab title="Epic Report" @click="$router.push({ name : 'reports-epic-report-index'})" :active="$route.name == 'reports-epic-report-index'"></b-tab>
            <b-tab title="Epic Report Log" @click="$router.push({ name : 'reports-epic-report-index-log'})" :active="$route.name == 'reports-epic-report-index-log'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </section>
</template>

<script>
export default {
    transition: 'slide',
    layout: 'admin'
}
</script>