<template>
    <div>
        <div class="d-flex align-items-center">
            <div class="flex-row ml-auto">
                <nuxt-link
                    tag="a"
                    class="btn btn-primary"
                    :to="{
                        name: 'settings-delivery-settings-delivery-methods-create',
                    }"
                    >Create New Delivery Method</nuxt-link
                >
            </div>
        </div>
        <div class="mt-3">
            <admin-table-delivery-method />
        </div>
    </div>
</template>
<script>
import { mapMutations } from "vuex";
import AdminTableDeliveryMethod from "@/components/admin/table/DeliveryMethod.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("deliveryMethod/getDeliveryMethods");
        await store.dispatch('deliveryMethod/getDeliveryType');
        return;
    },
    beforeRouteLeave(to, from, next) {
        this.SET_DELIVERY_METHOD_PAGE(1);
        next();
    },
    methods: {
        ...mapMutations("deliveryMethod", [
            "SET_DELIVERY_METHOD_TABLE_DEFAULT",
            "SET_DELIVERY_METHOD_PAGE",
        ]),
    },
    components: {
        "admin-table-delivery-method": AdminTableDeliveryMethod,
    },
    transition: "slide",
    layout: "admin",
};
</script>
<style scoped>
</style>

