<template>
    <section>
        <app-table-kitchen class="mt-3" @set-perpage="setPerpage" :search="search"/>
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import KitchenUploads from '@/components/table/KitchenUploads'

    export default {
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('kitchenUploads/getKitchenUploads', {
                    page: 1,
                    perpage: 10,
                    status: 'approved'
                })
            ])
            return
        },
        data() {
            return {
                search: null,
                action: false,
                perpage: 10
            }
        },
        methods: {
            getPage(val) {
                this.page = val
            },
            setPerpage(value){
                this.perpage = value
            },
        },
        components: {
            'app-table-kitchen': KitchenUploads,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>