<template>
    <div>
        <h3 class="font-weight-600 mb-0">Summary Report</h3>
        <div class="mt-3 d-flex align-items-center justify-content-between">
            <div class="form-group mb-0 mr-2">
                <div class="icon icon-left">
                    <no-ssr><app-datepicker mode="range" v-model="date" >
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker></no-ssr>
                </div>
            </div>
            <no-ssr>
                <app-select
                    v-model="store_selected" 
                    :options="stores" 
                    :close-on-select="true" 
                    :clear-on-select="false" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    placeholder="Select Location" 
                    label="store_name" 
                    track-by="store_id" 
                    :preselect-first="false"
                    id="example"
                    :select-label="''"
                    v-width="'250px'"
                >
                </app-select>
            </no-ssr>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewCSV">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-summary :location="store_selected" :date="date" />
        </div>
    </div>
</template>
<script>
import Select from 'vue-multiselect'
import TableSummary from '@/components/admin/table/SummaryReport'
import {mapState, mapActions} from 'vuex'
 

let printJs;
if (process.client) {
    printJs = require('print-js')
}

 

export default {
    async asyncData({store}){
        let date = {
                start: new Date(),
                end: new Date()
            }
        await Promise.all([
            store.dispatch('store/getStores', 'all'),
            store.dispatch('accounting/getSummary', {page: 1,
            perpage : 10,
            store_id : '',
            start: date.start,
            end: date.end,
            })
        ])
    },
    data(){
        return{
            date: {
                start: new Date(),
                end: new Date()
            },
            store_selected : null,
            // page: 1
        }
    },
    methods: {
        ...mapActions('accounting', ['getPDF', 'getSummary', 'getCSV', 'downloadCSV']),
        resetFilter(){
            this.store_selected=null
            this.date = {
                start: new Date(),
                end: new Date()
            }
        },
        // filterDateSummary() {
        //     this.getSummary({
        //         start_date: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
        //         end_date: this.date ? this.moment(this.date.end).format('Y-MM-DD') : null,
        //         page: 1, 
        //         perpage : 10, 
        //         store_id: this.store_selected != null ? this.store_selected.store_id:''
        //     })
        // },
        viewPdf() {
            this.getPDF({ 
                type: 'summary',
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                store_id : this.store_selected != null ? this.store_selected.store_id : ''
            })
            .then((res) => {
                printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
            })
        },
        viewCSV(){
            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            this.getCSV({ 
                type: 'summary', 
                start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                store_id : this.store_selected != null ? this.store_selected.store_id : ''
            })
            .then((res) => {
                this.downloadCSV({
                    name: 'summary-report',
                    url: this.pdfUrl
                })
            })
        }
    },
    computed:{
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('accounting', {
            pdfUrl: state => state.pdfUrl
        }),
    },
    components: {
        'app-select': Select,
        'app-table-summary': TableSummary,
    },
    transition: 'slide',
    layout: 'admin'
}
</script>