<template>
    <div class="login">
        <transition name="slide">
            <div class="card-default card-default__sm" v-if="!isLoggedIn">
                <div class="d-flex justify-content-center mb-5">
                    <img src="/slymanbros-logo.png" id="logo">
                </div>
                <div class="alert alert-warning" v-if="isSafari">
                    Currently Slymanbros's back office is only supported in <a href="https://www.google.com/chrome/" target="_blank"><strong>Google Chrome</strong></a>
                </div>
                <template v-else>
                    <div class="mb-3">
                        <template v-if="!formLogin">
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control form-control__lg" v-validate="'required|email'" :class="{'input': true, 'is-invalid': errors.has('email'), 'form-control':true }" name="email" id="email" v-model="data.email" data-vv-validate-on="blur">
                                <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control form-control__lg" v-model="data.password" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('password'), 'form-control':true }" name="password" id="password">
                                <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                            </div>
                        </template>
                        <template v-else>
                            <div class="form-group">
                                <input type="pin" placeholder="Input PIN" class="form-control form-control__lg" v-validate="'required'" :class="{'input': true, 'is-invalid': errors.has('pin'), 'form-control':true }" name="pin" id="pin" v-model="data.pin">
                                <span v-show="errors.has('pin')" class="text-danger">{{ errors.first('pin') }}</span>
                            </div>
                        </template>
                    </div>
                    <button class="btn btn-primary btn-lg w-100 mb-4" :disabled="isLoading" @click.prevent="submit">
                        <b-spinner small v-if="isLoading"></b-spinner>
                        <div v-if="!isLoading">
                            Sign In
                        </div>
                    </button>
                    <div class="card border-danger mb-3" v-if="error != null">
                        <div class="card-body text-danger">
                            <p class="card-text text-center">{{ error }}</p>
                        </div>
                    </div>
                </template>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'
    import { detect } from 'detect-browser'
    import Select from 'vue-multiselect'

    export default {
        async asyncData({store}) {
            await store.dispatch('sign-up/getStores', 'all')
            return
        },
        data() {
            return {
                data: {
                    email: null,
                    password: null,
                    store_id: 'User-Access',
                    pin: null,
                    is_admin: 3,
                    type: 'default',
                },
                isLoggedIn: false,
                isLoading: false,
                formLogin: false,
                isSafari: detect().name == 'safari',
                validated: null,
                error: null
            }
        },
        computed: {
            ...mapState(['api_token']),
            ...mapState('sign-up', {
                stores: state => state.items
            })
        },
        methods: {
            ...mapActions('sign-up', ['validateLogin', 'requestPINLogin', 'requestLoginWithPin', 'socialAuth']),
            submit() {
                let token = localStorage.getItem('auth._token.local').split(' ')
                this.error = null
                this.isLoading = true

                if (!this.formLogin) {
                    this.requestPINLogin({
                        email: this.data.email,
                        password: this.data.password
                    }).then((res) => {
                        if (res.status == 'success') {
                            this.formLogin = true
                            localStorage.setItem('backup_token', token[1])
                        } else if (res.status == 'expired') {
                            this.error = 'Your Password Has Been Expired'
                        }
                        this.isLoading = false
                    })
                } else {
                    this.requestLoginWithPin({
                        email: this.data.email,
                        pin: this.data.pin
                    }).then((res) => {
                        if (res.status == 'success') {
                            this.$auth.loginWith('local', {
                                data: this.data
                            }).then(() => {
                                this.$router.push('/')
                            })
                        } else {
                            this.error = 'Your PIN is Wrong'
                        }
                        this.isLoading = false
                    })
                }
            }
        },
        components: {
            'app-select': Select
        }
    }
</script>

<style>
    .login{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .reset-password-link{
        width: 100%;
        display: block;
        text-align: center;
        color: #85898c;
    }
    .login .multiselect__tags{
        min-height: 48px;
        padding: 10px 40px 0 8px;
    }
    .login .multiselect__select{
        top: 7px;
    }
</style>