<template>
    <div class="row">
        <div class="col-4" v-for="(row, index) in brands" :key="index">
            <div class="brand-category__wrapper mb-4">
                <div
                    class="
                        brand-category__brand-name
                        d-flex
                        justify-content-between
                    "
                >
                    <h5 class="mb-0">
                        <b>{{ row.brand_name }}</b>
                    </h5>
                    <p-check
                        class="p-switch p-fill"
                        v-model="row.is_active"
                        @change="brandChange(index)"
                        color="info"
                    ></p-check>
                </div>
                <b-card>
                    <div class="card-category--body">
                        <div
                            class="
                                d-flex
                                align-items-center
                                justify-content-end
                            "
                        >
                            <p class="mb-0 mr-2">Lock Price</p>
                            <p-check
                                class="p-switch p-fill"
                                v-model="row.is_lock"
                                @change="lockPrice(index)"
                                color="primary"
                            ></p-check>
                        </div>
                        <div class="form-group">
                            <div class="form-group--inner d-flex flex-column">
                                <p-check
                                    class="
                                        p-default
                                        p-curve
                                        p-thick
                                        p-smooth
                                        p-bigger
                                        mb-3
                                    "
                                    v-for="(
                                        detail, indexDetail
                                    ) in row.detail_brand"
                                    :key="indexDetail"
                                    color="primary-o"
                                    v-model="detail.is_active"
                                    @change="detailChange(index, indexDetail)"
                                    :disabled="
                                        row.is_active == true ? false : true
                                    "
                                >
                                    {{ detail.category_name }}
                                </p-check>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
// Packages
import PrettyCheck from "pretty-checkbox-vue/check";
import { mapActions, mapState } from "vuex";

export default {
    name: "FilterBrandsIndex",
    async asyncData({ store, route }) {
        await store.dispatch("brand/getBrands");
        return;
    },
    data() {
        return {
            lockPirce: false,
        };
    },
    computed: {
        ...mapState("brand", {
            brands: (state) => state.brands,
        }),
    },
    methods: {
        ...mapActions("brand", ["getBrands", "updateBrands", "updateDetail"]),
        brandChange(index) {
            this.updateBrands({
                brand_name: this.brands[index].brand_name,
                is_active: this.brands[index].is_active,
            });
        },
        detailChange(index, i) {
            this.updateDetail({
                brand_name: this.brands[index].detail_brand[i].brand_name,
                category_name: this.brands[index].detail_brand[i].category_name,
                is_active: this.brands[index].detail_brand[i].is_active,
            });
        },
        lockPrice(index) {
            this.updateBrands({
                brand_name: this.brands[index].brand_name,
                is_lock: this.brands[index].is_lock,
            });
        },
    },
    components: {
        "p-check": PrettyCheck,
    },
};
</script>

<style scoped lang="scss">
.brand-category {
    &__wrapper {
        .card {
            border-radius: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &__brand-name {
        background: #237fac;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.brand-category--wrapper .btn-primary {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
}
select.form-control {
    height: calc(1.96875rem + 9px);
}
.card-body {
    min-height: 215px;
    max-height: 230px;
}
</style>
