<template>
    <div>
        <BackLink :link="historyRouteOrder" title="Changelog" />
        <b-tabs content-class="mt-3">
            <b-tab title="Order" @click="$router.push({ name :'my-orders-edit-id', params:{ 'id': $route.params.id}})" />
            <b-tab title="Delivery" @click="$router.push({ name:'my-orders-delivery-id', params:{'id': $route.params.id}})" />
            <b-tab title="Changelog" active></b-tab>
        </b-tabs>
        <div class="border rounded p-4">
            <h4 class="mb-4">Latest Changelog</h4>
            <app-timeline />
        </div>
    </div>
</template>

<script>
import BackLink from '@/components/utilities/BackLink'  
import Timeline from '@/components/utilities/Timeline'

export default {
    async asyncData({store, route}){
        await Promise.all([
            store.dispatch('changelog/getChangelog', {id: route.params.id, type: 1})
        ])
    },
    components: {
        BackLink,
        'app-timeline': Timeline
    },
    data: () => ({
        routeOrder: null,
        historyRouteOrder: {
            name: 'index'
        }
    }),
     methods: {
        getHistoryOrder(){
            return new Promise((resolve, reject) =>{
                this.routeOrder = localStorage.getItem('history-route-order')
                resolve()
            })
        },
        backRoute(){
            this.getHistoryOrder()
            .then(() => {
                if(this.routeOrder){
                    if(this.routeOrder.includes('product-search-id')) this.historyRouteOrder = JSON.parse(this.routeOrder)
                    else if(this.routeOrder.includes('/customers/detail')) this.historyRouteOrder = {path: this.routeOrder}
                    else this.historyRouteOrder = {name: this.routeOrder}
                }else{
                    this.historyRouteOrder = {name: 'index'}
                }
            })
        }  
    },
    transition: 'slide',
    layout: 'admin'
}
</script>