<template>
    <div>
        <h3 class="font-weight-600 mb-0">Revenue Report</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getData">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="d-flex ml-3 align-items-center">
                  <p-check class="p-switch p-fill" v-model="install" @change="getData" color="primary"></p-check>
                  <p class="mb-0 ml-2 mr-2" >Include Install</p>
                </div>
                <div class="d-flex ml-3 align-items-center">
                  <p-check class="p-switch p-fill" v-model="warranty" @change="getData" color="primary"></p-check>
                  <p class="mb-0 ml-2 mr-2" >Include Warranty</p>
                </div>
                <div class="d-flex ml-3 align-items-center">
                  <p-check class="p-switch p-fill" v-model="delivery_charge" @change="getData" color="primary"></p-check>
                  <p class="mb-0 ml-2 mr-2" >Include Delivery Charge</p>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <!-- <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div> -->
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <div class="form-group mb-0">
                <no-ssr><app-select
                    v-model="store_selected" 
                    v-width="'250px'"
                    :options="stores" 
                    :close-on-select="true" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    :select-label="'Select'"
                    placeholder="Location" 
                    label="store_name" 
                    track-by="store_id" 
                    :preselect-first="false"
                    @input="getData"
                >
                </app-select></no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr><app-select
                    v-model="sales_selected" 
                    v-width="'230px'"
                    :options="sales_person" 
                    :close-on-select="true" 
                    :hide-selected="true" 
                    :preserve-search="true"
                    :select-label="'Select'"
                    placeholder="Sales Person" 
                    label="fullname" 
                    track-by="user_id" 
                    :preselect-first="false"
                    @input="getData"
                >
                </app-select></no-ssr>
            </div>
        </div>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div></div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div>
                        <p></p>
                        <p class="font-weight-bold w-100">Total Revenue : <span v-money :key="grand_total">{{grand_total}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-revenue/>
        </div>
        <!-- <app-action-sale v-model="action"/> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableRevenueReport from '@/components/admin/table/RevenueReport.vue'
    import _ from 'lodash'
     
    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     ;

    export default {
        async fetch ({ store, route }) {
            let date = {
                start: new Date(),
                end: new Date()
            }
            await Promise.all([
                store.dispatch('accounting/getRevenueReport',{
                    start: date.start,
                    end: date.end,
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
                store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
                // store.dispatch('brand/getBrands')
            ])
        },
        data() {
            return {
                date_mode: true,
                date: {
                    start: new Date(),
                    end: new Date()
                },
                // date: null,
                sales_selected:'',
                store_selected:'',
                install: false,
                warranty: false,
                delivery_charge: false,
                isLoading2: false,
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl,
                grand_total: state => state.item_revenue_report.grand_total,
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            // ...mapState('brand', {
            //     brands: state => state.brands
            // }),
            ...mapState('deliveryMethod', {
                deliveries: state => state.items
            }),
        },
        methods: {
            ...mapActions('accounting', ['getRevenueReport']),
            // ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations(['SET_LOADING_TABLE']),

            getData(){
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getRevenueReport({
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    install: this.install, 
                    warranty: this.warranty, 
                    delivery_charge: this.delivery_charge, 
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.store_selected = ''
                this.sales_selected = ''
                this.install = false,
                this.warranty = false,
                this.delivery_charge = false,
                this.getData()
            },
        },
        components: {
            'app-table-revenue': TableRevenueReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>