<template>
    <section>
        <div class="fillter-responsive--wrapper mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="location_selected"
                                :options="stores"
                                :show-labels="false"
                                placeholder="Select Location"
                                label="store_name"
                                track-by="store_id"
                                :preselect-first="false"
                                @input="fillterLocation">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input__check" ref="inputCheckArea">
                        <div class="border rounded input__check--form w-100 d-flex align-items-center flex-wrap" :class="{'input__check--filled' : typeSelected.length > 0}" @click.self="showDropdown = !showDropdown">
                            <template v-if="typeSelected.length > 0">
                                <div class="rounded bg-primary d-flex align-items-center px-2 py-1 mr-2 my-1 text-white" v-for="(item, indexItem) in typeSelected" :key="indexItem">
                                    {{item.name}}
                                    <i class="fas fa-times ml-2 cursor-pointer" @click="removeType(indexItem)"></i>
                                </div>
                            </template>
                            <span class="input__check--placeholder text-gray" @click.self="showDropdown = !showDropdown" v-else>Select Inventory Type</span>
                        </div>
                        <div class="bg-white rounded shadow input__check--menu mt-2 py-3 px-4" v-if="showDropdown">
                            <template v-for="(type, indexType) in listType">
                                <b-form-checkbox v-model="typeSelected" :value="type" :class="listType.length - 1 == indexType ? '' : 'mb-2'" :key="indexType">
                                    <span class="cursor-pointer">
                                        {{type.name}}
                                    </span>
                                </b-form-checkbox>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="condition.selected"
                                :options="conditions"
                                :preselect-first="false"
                                :show-labels="false"
                                placeholder="Select Condition"
                                label="name"
                                track-by="id"
                                @input="fillterCondition">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                placeholder="Select Brand"
                                v-model="brand_selected"
                                class="multiselect__group"
                                ref="brandFilter"
                                label="name"
                                track-by="brand_id"
                                group-values="child"
                                group-label="name"
                                @select="$refs.brandFilter.deactivate()"
                                :close-on-select="true"
                                :group-select="true"
                                :multiple="true"
                                :options="brands"
                                :show-labels="false"
                                @input="fetchData">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="category_name_selected"
                                :options="categories"
                                :show-labels="false"
                                placeholder="Select Categories"
                                label="category_name"
                                track-by="category_name"
                                :preselect-first="false"
                                @input="subCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div v-if="category_name_selected" class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="subcategory_name_selected"
                                :options="subcategories"
                                :show-labels="false"
                                placeholder="Select Sub Categories"
                                label="subcategory_name"
                                track-by="subcategory_name"
                                :preselect-first="false"
                                @input="detailCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div v-if="category_name_selected && subcategory_name_selected" class="col-md-3">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="detail_category_name_selected"
                                :options="detailcategories"
                                :show-labels="false"
                                placeholder="Select Detail Categories"
                                label="detail_category_name"
                                track-by="detail_category_name"
                                :preselect-first="false"
                                @input="onChange">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="product_id" placeholder="Type Model" @input="handleSearchModel">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <p-check class="p-switch p-fill mr-3" v-model="is_custom" color="primary" @change="fetchData">Custom Model Only</p-check>
                <div><b>Total In-Stock: {{inventory.total_in_stock | 0}}</b></div>
                <button class="btn btn-primary ml-auto mr-3" @click.prevent="resetFilter"> Reset Filter</button>
                <button class="btn btn-primary mr-3" @click="exportPDF" :disabled="inventory.items.length == 0">Export PDF</button>
                <button class="btn btn-primary" @click="exportCSV" :disabled="inventory.items.length == 0">Export CSV</button>
            </div>
        </div>
        <div class="mt-4">
            <admin-table-available
                ref="tableInventory"
                :store_id="store_id"
                :location_id="location_id"
                :product_id="product_id"
                :brands="brand_selected.length > 0 ? brand_selected.map(v=> {return v.name}) : []"
                :category_name="category_name"
                :subcategory_name="subcategory_name"
                :detail_category_name="detail_category_name"
                :available_condition="available_condition"
                :tagged_stock_only="tagged_stock_only"
                :available_stock_only="available_stock_only"
                :typeSelected="typeSelectedFormated.toString()"
                :is_custom="is_custom"
                @set-perpage="setPerpage"
                @changeSortBy="changeSortBy"
                @changeSortDesc="changeSortDesc" />
        </div>
    </section>
</template>
<script>
    import AdminTableAvailble from '@/components/admin/table/AvailableStock.vue';
    import ActionAvailableStock from '@/components/admin/action/AvailableStock.vue';
    import PrettyCheck from 'pretty-checkbox-vue/check'
    import { mapActions, mapState, mapMutations } from 'vuex'
    import _ from 'lodash'
    import Select from 'vue-multiselect'
    export default {
        async asyncData({ store, route}){
            await Promise.all([
                store.dispatch('store/getStores', 'all'),
                store.dispatch('brand/getBrandNames'),
                store.dispatch('category/getCategories'),
                store.dispatch('inventory/getCurrentInventory', {
                    page: 1,
                    store_id: '',
                    location_id: '',
                    product_id: '',
                    brand: '',
                    category_name: '',
                    subcategory_name: '',
                    detail_category_name: '',
                    available_condition: '',
                    perpage : 10,
                    type: null,
                }),
                store.dispatch('inventory/getConditions')
            ])
        },
        data() {
            return {
                showDropdown: false,
                request: null,
                typeSelected: [],
                listType: [
                    {
                        name: 'Requested',
                        value: 'requested'
                    },
                    {
                        name: 'On Order',
                        value: 'on-order'
                    },
                    {
                        name: 'In Stock',
                        value: 'in-stock'
                    },
                    {
                        name: 'Available',
                        value: 'available'
                    },
                    {
                        name: 'Reserved',
                        value: 'reserved'
                    }
                ],
                is_custom: false,
                tagged_stock_only: false,
                available_stock_only: false,
                product_selected:'',
                products:[],
                store_id: '',
                store_selected:'',
                location_id: '',
                location_selected:'',
                product_id: '',
                brand: '',
                brand_selected:[],
                category_name: '',
                category_name_selected:'',
                subcategory_name: '',
                subcategory_name_selected:'',
                detail_category_name: '',
                detail_category_name_selected:'',
                available_condition: '',
                condition:{
                    selected:null,
                },
                action:false,
                showFillter: false,
                perpage: 10,
                sortBy: '',
                sortDesc: false,
            }
        },
        computed: {
            ...mapState('store', {
                stores: state => state.items
            }),
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        items: state.items,
                        meta: state.meta,
                        total_in_stock: state.total_in_stock
                    }
                },
                conditions: state => state.conditions
            }),
            ...mapState('category', {
                categories: state => state.categories,
                subcategories: state => state.subcategories,
                detailcategories: state => state.detailcategories
            }),
            ...mapState('brand', {
                brands: state => state.brands
            }),
            typeSelectedFormated(){
                return this.typeSelected.map(o => {return o.value})
            },
        },
        mounted(){
            this.handleBlurCheck()
        },
        watch: {
            typeSelected(){
                this.fetchData()
            }
        },
        methods: {
            ...mapActions('inventory', ['getCurrentInventory']),
            removeType(index){
                this.typeSelected.splice(index, 1)
            },
            handleBlurCheck(){
                const parent = this.$refs.inputCheckArea
                document.addEventListener('click', e => {
                    let isClickInside = parent.contains(e.target)
                    if (!isClickInside) {
                        this.showDropdown = false
                    }
                })
            },
            changeSortBy(value){
                this.sortBy = value
            },
            changeSortDesc(value){
                this.sortDesc = value
            },
            handleSearchModel: _.debounce(function(){
                this.fetchData()
            }, 800),
            fetchData(){
                if(this.request) this.request.cancel()
                this.request = this.$axios.CancelToken.source()
                const payload = {
                    cancelToken: this.request.token,
                    page: 1,
                    store_id: this.store_id,
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand_selected.length > 0 ? this.brand_selected.map(v => {return v.name}) : [],
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    available_condition: this.available_condition,
                    perpage: this.perpage,
                    is_custom: this.is_custom ? 1 : 0,
                    type: this.typeSelectedFormated.toString(),
                    sortBy: this.sortBy,
                    sortDesc: this.sortDesc
                }
                this.getCurrentInventory(payload)
            },
            setPerpage(value){
                this.perpage = value
            },
            changeProductId(){
                this.product_id = this.product_selected.product_id
                this.fetchData()
            },
            ...mapActions('brand', ['getBrandNames']),
            showAction(){
                this.action = true;
            },
            ...mapActions('product', ['autoCompleteProduct']),
            ...mapActions('store', ['getStores']),
            ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
            ...mapActions('inventory', ['getCSV','downloadCSV', 'getPDF']),
            ...mapMutations('inventory',['SET_INVENTORY_PAGE']),
            fillterStore(){
                this.store_id = this.store_selected.store_id
                this.fetchData()
            },
            fillterLocation(){
                this.location_id = this.location_selected.store_id
                this.fetchData()
            },
            fillterCondition(){
                this.available_condition = this.condition.selected.id
                this.fetchData()
            },
            subCategory() {
                if (this.category_name_selected !== null) {
                    this.category_name = this.category_name_selected.category_name;
                    this.getSubCategories(this.category_name)
                }
                if (this.category_name_selected === null) {
                    this.category_name = null;
                }
                this.subcategory_name_selected = null;
                this.subcategory_name = null;
                this.detail_category_name_selected = null;
                this.detail_category_name = null;
                this.fetchData()
            },
            detailCategory() {
                if (this.category_name_selected !== null && this.subcategory_name_selected !== null) {
                    this.category_name = this.category_name_selected.category_name;
                    this.subcategory_name = this.subcategory_name_selected.subcategory_name;
                    this.getDetailCategories({ category_name: this.category_name, subcategory_name: this.subcategory_name });
                }
                if (this.subcategory_name_selected === null) {
                    this.subcategory_name = null;
                }
                this.detail_category_name_selected = null;
                this.detail_category_name = null;
                this.fetchData()
            },
            onChange(){
                this.detail_category_name = this.detail_category_name_selected !== null ? this.detail_category_name_selected.detail_category_name : null;
                this.fetchData()
            },
            resetFilter(){
                this.tagged_stock_only = false
                this.available_stock_only = false
                this.product_id =''
                this.location_id = ''
                this.store_id =''
                this.brand = ''
                this.available_condition =''
                this.category_name=''
                this.subcategory_name =''
                this.detail_category_name =''
                this.location_selected = null
                this.condition.selected = null
                this.store_selected = null
                this.brand_selected = []
                this.category_name_selected = null
                this.subcategory_name_selected = null
                this.detail_category_name_selected = null
                this.product_selected = null
                this.typeSelected = []
                // this.fetchData()
            },
            exportCSV() {
                this.getCSV({
                    store_id: this.store_id,
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand_selected.length > 0 ? this.brand_selected.map(v => {return v.name}) : [],
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    available_condition: this.available_condition,
                    type: this.typeSelectedFormated.toString(),
                    is_custom: this.is_custom ? 1 : 0,
                    sortBy: this.sortBy,
                    sortDesc: this.sortDesc
                }).then(response => {
                    this.downloadCSV({
                        url: response.data,
                        name: 'inventory-' + this.moment(new Date()).format('YYYY-MM-DD')
                    })
                })
            },
            exportPDF(){
                this.getPDF({
                    store_id: this.store_id,
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand_selected.length > 0 ? this.brand_selected.map(v => {return v.name}) : [],
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    type: this.typeSelectedFormated.toString(),
                    is_custom: this.is_custom ? 1 : 0,
                    available_condition: this.available_condition,
                    sortBy: this.sortBy,
                    sortDesc: this.sortDesc,
                }).then(response => {
                    this.downloadPDF(response.data)
                })
            },
            downloadPDF(url) {
                var anchor = document.createElement('a')
                anchor.href = url
                anchor.target = '_blank'
                anchor.download = url
                anchor.click();
            }
        },
        components:{
            'admin-table-available': AdminTableAvailble,
            'app-action-available-stock': ActionAvailableStock,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>

