<template>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="mr-3">
                <no-ssr>
                    <app-datepicker mode="single" v-model="date" @input="fetchTransferLog">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right" v-width="'220px'">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <no-ssr>
                <app-select
                    v-model="sales_selected"
                    :options="sales_person"
                    placeholder="Select Sales Person"
                    :show-labels="false"
                    label="fullname" 
                    track-by="user_id" 
                    v-width="'250px'"
                    @input="fetchTransferLog"
                />
            </no-ssr>
        </div>
        <app-table :fields="fields" :items="transferLog.data" fixed :busy="loadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
             <template slot="group_name" slot-scope="row">
                <a href="javascript:void(0)" class="text-primary font-weight-600" @click="row.toggleDetails">
                    <i class="fas mr-2" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                    {{row.item.group_name}}
                </a>
            </template>
            <template v-slot:row-details="row">
                <app-table stripped :items="row.item.data" :fields="fieldsDetail" small show-empty />
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total :data="transferLog.meta" @itemPerPage="setPerPage"/>
            <app-pagination v-if="transferLog.data.length > 0 && transferLog.meta.last_page > 1" align="right" :total-rows="100" :per-page="transferLog.meta.per_page" @input="setPage" v-model="currentPage"></app-pagination>
        </div>  
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Select from 'vue-multiselect'

export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-table' : Table,
        'app-pagination' : Pagination,
        'app-total' : TotalRecord,
        'app-select' : Select,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('inventory/getTransferLog', {
                date: new Date().toLocaleDateString(),
                page: 1,
                perpage: 10,
                user_id: null
            }),
            store.dispatch('store/getManagers'),
        ])
    },  
    data: () => ({
        date: new Date(),
        fields: [
            {
                key: 'group_name',
                label: 'Name'
            },
            {
                key: 'quantity',
                label: 'Total Quantity'
            }
        ],
        fieldsDetail: [
            {
                key: 'model'
            },
            {
                key: 'order_no'
            },
            {
                key: 'quantity'
            },
            {
                key: 'condition_name',
                label: 'Condition'
            },
            {
                key: 'username',
                label: 'Sales Person'
            }
        ],
        currentPage: 1,
        perPage: 10,
        sales_selected: null
    }),
    computed: {
        ...mapState(['loadingTable']),
        ...mapState('store', {
            sales_person: state => state.sales_person
        }),
        ...mapState('inventory', {
            transferLog : state => state.transferLog
        }),
    },
    methods: {
        ...mapActions({
            getTransferLog: 'inventory/getTransferLog'
        }),
        setPage(value){
            this.currentPage = value
            this.fetchTransferLog()
        },
        setPerPage(value){
            this.currentPage = 1
            this.perPage = value
            this.fetchTransferLog()
        },
        fetchTransferLog(){
            this.getTransferLog({
                page: this.currentPage,
                perpage: this.perPage,
                date: this.moment(this.date).format('L'),
                user_id: this.sales_selected ? this.sales_selected.user_id : null
            })   
        }
    }
}
</script>

<style>

</style>