<template>
    <div>
        <app-modal :show="popup" size="xl" hide-footer hide-header>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="font-weight-600 mb-0">Announcements</h5>
                <div class="flex-row d-flex align-items-center">
                    <div class="line__wrapper d-flex align-items-center">
                        <div class="line__variant line__variant--alert line__variant--small">
                            <h6 class="mb-0 font-weight-normal light-gray">Alert</h6>
                        </div>
                        <div class="line__variant line__variant--information line__variant--small ml-4">
                            <h6 class="mb-0 font-weight-normal light-gray">Information</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line__wrapper pr-3">
                <div class="d-flex align-items-start" v-for="(item, i) in announcements.data" :key="i">
                    <div class="line__variant mr-4" :class="item.type == 1 ? 'line__variant--alert' : 'line__variant--information'">
                        <div class="d-flex flex-column ml-2 text-center">
                            <h2 class="mb-0 font-weight-600 light-gray">{{moment(item.start_date).date()}}</h2>
                            <p class="mb-0 mt-n1 light-gray">{{moment(item.start_date).format('MMM')}}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1">
                        <div class="mb-4" v-for="(content, index) in item.announcement" :key="index">
                            <div class="d-flex align-items-start">
                                <a href="javascript:void(0)" @click="showLightbox(content.picture)" v-if="content.picture">
                                    <img :src="content.picture" alt="image - annoucement" width="150" class="rounded">
                                </a>
                                <div :class="{'ml-3' : content.picture}">
                                    <p class="mb-2 light-gray">{{content.user.fullname}}</p>
                                    <h6 class="font-weight-600 light-gray mb-2">{{content.title}}</h6>
                                    <p class="mb-0 light-gray break-word">{{content.announcement | lineBreak}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary px-3" @click="closeAnnouncement">Ok, Close</button>
            </div>
        </app-modal>
        <Lightbox v-model="lightbox" :image="imageSelected" @close="hideLightbox" />
    </div>
</template>
<script>
import Modal from '@/components/utilities/Modal'
import Lightbox from '@/components/utilities/Lightbox'
import {mapState, mapMutations, mapActions} from 'vuex'
export default {
    components: {
        'app-modal' : Modal,
        Lightbox
    },
    data: () => ({
        lightbox: false,
        imageSelected: null,
    }),
    computed: {
        ...mapState('announcement', {
            announcements: state => state.popup_data,
            popup: state => state.popup
        })
    },
    methods: {
        ...mapMutations('announcement', ['SET_ANNOUNCEMENT_POPUP']),
        ...mapActions({
            updateCloseStatus: 'announcement/updateCloseStatus'
        }),
        showLightbox(image){
            this.imageSelected = image
            this.lightbox = true
        },
        hideLightbox(){
            this.lightbox = false
            this.imageSelected = null
        },
        closeAnnouncement(){
            this.SET_ANNOUNCEMENT_POPUP(false)
            this.updateCloseStatus()
        },
    }
}
</script>
