<template>
    <div>
        <transition name="fade" mode="in-out">
            <div class="loading-wrapper" v-if="loadingPayment">
              <div class="loading-inner d-flex align-items-center flex-column justify-content-center">
                  <b-progress :value="100"  height="20px" style="width:250px" animated></b-progress>
                  <p class="text-center mt-2">Balance has been paid in full. <br> Your quote is being converted into an order. Please wait.</p>
              </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState([
                'loading',
                'loadingPayment'
            ])
        }
    }
</script>
<style lang="scss">
$blue: #2b8ccd;

.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
  z-index: 1;
  &-inner{
    display: flex;
    flex-direction: column;
  }
  &-wrapper{
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    margin: 0 5px;
    height: 16px;
    width: 16px;
    border: 3px solid $blue;
    border-radius: 100%;
    transform: transformZ(0);
    animation: LOADING 2s infinite;
    &:nth-child(1n) {
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes  LOADING {
  0%   { 
    transform: scale(0.5);
    background: $blue;
  }
  50%   { 
    transform: scale(1);
    background: white;
  }
  100% { 
    transform: scale(0.5);
    background: $blue;
  }
}

</style>

