<template>
    <div class="notification-subcription__wrapper">
        <img v-if="status === 0" src="/icon/reports/unsubcribe-illustration.svg" alt="Icon - Subcribe Illustration" class="mb-4">
        <img v-if="status === 1" src="/icon/reports/subscribe-illustration.svg" alt="Icon - Subcribe Illustration" class="mb-4">
        <div class="content-subcription">
            <p class="title">{{ title }}</p>
            <p class="description">{{ description }}</p>
            <span class="subcribe" @click="doUpdateSubcription">{{ subcribeText }}</span>
        </div>
    </div>
</template>

<script>

// Packages
import { mapActions } from "vuex";

export default {
    name: 'NotificationSubcription',
    props: {
        status: {
            type: Boolean,
            default: false,
        },
        title: {
            type: String,
            default: null,
        },
        description: {
            type: String,
            default: null,
        },
        subcribeText: {
            type: String,
            default: null,
        },
        type: {
            type: String,
            default: null,
        },
    },
    methods: {
        ...mapActions("userSetting", ["updateSubcription"]),
        doUpdateSubcription() {
            this.updateSubcription({
                name: this.type,
                status: this.status === 1 ? 0 : 1,
            }).then(() => {
                this.$root.$bvToast.toast(`${this.type} Subcription Updated!`, {
                    title: `${this.status === 1 ? 'Unsubcribe Success' : 'Subscribe Success'}`,
                    variant: "success",
                    solid: true,
                });
            })
        }
    }
}
</script>
