<template>
    <div v-if="unscannedItems">
        <b-alert variant="info" class="d-flex align-items-center justify-content-between" show>
            {{unscannedItems.message}}
            <a href="javascript:void(0)" class="font-weight-600" @click="modal = true">View items</a>
        </b-alert>
        <app-modal title="Unscanned Items" hide-footer :show="modal" @hide="modal = false">
            <app-table :items="unscannedItems.data" :fields="fields">
                <template slot="order_no" slot-scope="row">
                    <nuxt-link tag="a" :to="{name: 'my-orders-edit-id', params: {id: row.item.order_no}}" class="font-weight-600" @click.native="modal = false">{{row.item.order_no}}</nuxt-link>
                </template>
            </app-table>
        </app-modal>
    </div>
</template>

<script>
import {mapState} from 'vuex'
import Modal from '@/components/utilities/Modal'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'

export default {
    components: {
        'app-modal' : Modal,
        'app-table' : Table
    },
    data: () => ({
        fields: [
            {
                key: 'order_no'
            },
            {
                key: 'product_model',
                label: 'Model'
            },
            {
                key: 'quantity_left',
                label: 'Quantity'
            }
        ],
        modal: false
    }),
    computed: {
        ...mapState('delivery', {
            unscannedItems : state => state.unscannedItems
        })
    }
}
</script>

<style>

</style>