<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Location</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-locations-create'}">Create New Location</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <app-table-store @row-clicked="showAction" />
        </div>
        <!-- <app-action-store v-model="action"/> -->
    </section>
</template>

<script>
    import { mapActions } from 'vuex'

    import AdminTableStore from '@/components/admin/table/Stores.vue'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    // import ActionStore from '@/components/admin/action/Store.vue'

    export default {
        async asyncData ({ store }) {
            await store.dispatch('store/getStores')
            return
        },
        data(){
            return{
                action:false
            }
        },
        methods: {
            showAction(){
                this.action= true;
            },
        },
        components: {
            'app-table-store': AdminTableStore,
            // 'app-action-store': ActionStore
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
<style>
    .fade-enter-active{
    transition: opacity .5s;  
    }
    .fade-leave-active {
    transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
</style>

