<template>
    <div>
        <h3 class="font-weight-600 mb-5">Inventory Adjustment</h3>
        <div class="d-flex align-items-center mb-3">
            <div class="icon icon-left mr-3">
                <input type="text" class="form-control form-icon" v-model="order_no" placeholder="Search Order No" v-width="'250px'" @input="handleInputFilter">
                <i class="fas fa-search"></i>
            </div>
            <div class="icon icon-left mr-3">
                <input type="text" class="form-control form-icon" v-model="model" placeholder="Search Model" v-width="'250px'" @input="handleInputFilter">
                <i class="fas fa-search"></i>
            </div>
            <no-ssr>
                <app-select
                    v-model="condition_selected"
                    :options="conditions"
                    :allow-empty="false"
                    track-by="id"
                    label="name"
                    class="mr-3"
                    placeholder="Select Condition"
                    :show-labels="false"
                    v-width="'300px'"
                    @input="fetchInventoryAdjustment" />
                <app-select
                    :loading="isFetchSore"
                    v-model="store_selected" 
                    :allow-empty="false"
                    :options="stores" 
                    :show-labels="false"
                    placeholder="Select Location" 
                    label="store_name" 
                    track-by="store_id" 
                    v-width="'300px'"
                    @input="fetchInventoryAdjustment" />
            </no-ssr>
        </div>
        <div class="d-flex align-items-center">
            <no-ssr>
                <p-check class="p-switch p-fill mr-3" v-model="requested" color="primary" @change="handleChangeToggle($event, 'requested')">Requested Stock</p-check>
                <p-check class="p-switch p-fill mr-3" v-model="on_order" color="primary" @change="handleChangeToggle($event, 'on-order')">On Order Stock</p-check>
                <p-check class="p-switch p-fill mr-3" v-model="reserved" color="primary" @change="handleChangeToggle($event, 'reserved')">Reserved Stock</p-check>
            </no-ssr>
        </div>
        <TableInventoryAdjustment @setPage="setPage" @setPerPage="setPerPage" :location="store_selected" @getData="fetchInventoryAdjustment" ref="table" class="mt-4" />
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import TableInventoryAdjustment from '@/components/admin/table/InventoryAdjustment'
import PrettyCheck from 'pretty-checkbox-vue/check'
import {mapState, mapActions} from 'vuex'
import _ from 'lodash'
export default {
    components: {
        'app-select' : Select,
        TableInventoryAdjustment,
        'p-check' : PrettyCheck
    },
    data: () => ({
        requested: false,
        on_order: false,
        reserved: false,
        isFetchSore: false,
        order_no : '',
        model: '',
        condition_selected: null,
        available_stock: 0,
        store_selected:null,
        type: [],
        page: 1,
        perpage: 10
    }),
    mounted(){
        this.fillFilter()
        .then(async () => {
            await Promise.all([
                this.fetchInventoryAdjustment(),
                this.fetchStore()
            ])
        })
    },
    computed: {
        ...mapState('inventory', {
            conditions: state => state.conditions
        }),
        ...mapState('store', {
            stores: state => state.items
        }),
    },
    methods: {
        ...mapActions({
            getInventoryAdjustment: 'inventory/getInventoryAdjustment',
            getStores: 'store/getStores'
        }),
        setPage(value){
            this.page = value
            this.fetchInventoryAdjustment()
        },
        setPerPage(value){
            this.perpage = value
            this.fetchInventoryAdjustment()
        },
        handleChangeToggle($event, type){
            if($event) this.type.push(type)
            else this.type.splice(this.type.indexOf(type), 1)
            this.fetchInventoryAdjustment()
        },
        handleInputFilter: _.debounce(function(){
            this.fetchInventoryAdjustment()
        }, 500),
        fillFilter(){
            return new Promise((resolve, reject) => {
                let filterData = JSON.parse(localStorage.getItem('filter-adjustment'))
                if(filterData){
                    let indexCondition = this.conditions.findIndex(v => {return v.name == filterData.condition})
                    this.model = filterData.model
                    if(indexCondition != -1) this.condition_selected = this.conditions[indexCondition]
                    else this.condition_selected = null
                    if(filterData.type == 'requested') this.requested = true
                    else if(filterData.type == 'on-order') this.on_order = true
                    else this.reserved = true
                    this.type.push(filterData.type)
                    this.store_selected = filterData.store
                }
                resolve()
            })
        },
        async fetchStore(){
            this.isFetchSore = true
            await this.getStores({type: 'all'})
            .then(() => {
                this.isFetchSore = false
            })
        },
        async fetchInventoryAdjustment(){
            this.$refs.table.isLoading = true
            await this.getInventoryAdjustment({
                order_no: this.order_no,
                model: this.model,
                condition: this.condition_selected ? this.condition_selected.id : null,
                type: this.type.toString(),
                store_id: this.store_selected ? this.store_selected.store_id : null,
                page: this.page,
                perpage: this.perpage
            })
            .then(() => {
                this.$refs.table.isLoading = false
            })
        },
    },
    layout: 'admin',
    transition: 'slide'
}
</script>

<style>

</style>