<template>
    <div>
        <h3 class="font-weight-600 mb-0">Sales by Product</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getData">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <div class="form-group mb-0">
                <no-ssr>
                    <app-select
                        v-model="store_selected" 
                        v-width="'250px'"
                        :options="stores" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                        :show-labels="false"
                        @input="getData">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr>
                    <app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :show-labels="false"
                        :preselect-first="false"
                        @input="getData">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <no-ssr>
                    <app-select
                        v-width="'300px'"
                        placeholder="Select Brand" 
                        v-model="brand_selected" 
                        class="multiselect__group"
                        ref="brandFilter"
                        label="name" 
                        track-by="brand_id" 
                        group-values="child"
                        group-label="name"
                        @select="$refs.brandFilter.deactivate()"
                        :close-on-select="true"
                        :group-select="true"
                        :multiple="true"
                        :options="brands"
                        :show-labels="false"
                        @input="getData($event)">
                    </app-select>
                </no-ssr>
            </div>
            <div class="form-group mb-0 ml-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Model #" @input="searchAction">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex ml-3 align-items-center mt-2">
                  <p-check class="p-switch p-fill" v-model="custom_product_only" @change="getData" color="primary"></p-check>
                  <p class="mb-0 ml-2">Custom Product Only</p>
            </div>
        </div>
        <div class="mt-3">
            <app-table-sales-feed/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableSalesByProduct from '@/components/admin/table/SalesByProduct.vue'
    import _ from 'lodash'
     
    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     ;

    export default {
        async fetch ({ store, route }) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            await Promise.all([
                store.dispatch('accounting/getSalesByProduct',{
                    start: today,
                    end: today
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
                store.dispatch('brand/getBrandNames')
            ])
        },
        data() {
            return {
                custom_product_only: false,
                search: null,
                date: {
                    start: new Date(),
                    end: new Date()
                },
                // date: null,
                with_warranty: false,
                sales_selected:'',
                brand_selected : [],
                store_selected:'',
                isLoading2: false
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            ...mapState('brand', {
                brands: state => state.brands
            }),
        },
        methods: {
            ...mapActions('accounting', ['getSalesByProduct']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations(['SET_LOADING_TABLE']),
            getData(){
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getSalesByProduct({
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    brands : this.brand_selected.length > 0 ? this.brand_selected.map(o => {return o.name}) : [],
                    search: this.search,
                    custom_product_only: this.custom_product_only
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.store_selected = ''
                this.sales_selected = ''
                this.brand_selected = []
                this.search = null
                this.getData()
            },
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.getData()
                }
            }, 500),
            viewPdf() {
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                this.getPDF({ 
                    type: 'live-feed',
                    search: this.search,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    with_warranty: this.with_warranty,
                    sales_person: sales_person,
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                this.getCSV({ 
                    type: 'live-feed', 
                    search: this.search,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    with_warranty: this.with_warranty,
                    sales_person: sales_person,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl
                    })
                })
            }
        },
        components: {
            'app-table-sales-feed': TableSalesByProduct,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>