<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Appointments</h3>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex flex-row">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="In Store" @click="$router.push({name:'online-appointments-index-in-store'})" :active="$route.name == 'online-appointments-index-in-store'"></b-tab>
                <b-tab title="Phone Call" @click="$router.push({name:'online-appointments-index-phone-call'})" :active="$route.name == 'online-appointments-index-phone-call'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild />
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableAppointment from '@/components/table/Appointment.vue'

    export default {
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('appointment/getAppointment', {
                    page: 1,
                    perpage: 10,
                    search: '',
                    method: 'in-store'
                })
            ])
            return
        },
        data() {
            return {
                search: null,
                perpage: 10
            }
        },
        methods: {
            ...mapMutations('appointment', [
                'SET_PAGE'
            ]),
            ...mapActions('appointment', [
                'getAppointment'
            ]),
            setPerpage(value){
                this.perpage = value
            },
        },
        watch: {
            search: {
                immediate: true,
                handler(newValue, oldValue) {
                    if (typeof oldValue != 'undefined') {
                        this.SET_PAGE(1)
                        this.getAppointment({
                            search : this.search,
                            perpage: this.perpage,
                            method: 'in-store'
                        })
                    }
                }
            }
        },
        components: {
            'app-table-appointment': TableAppointment,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>