<template>
    <section>
        <div class="d-flex align-items-center">
           <div class="d-flex flex-row mr-3">
               <h3 class="font-weight-600 mb-0">Account Receivable Report</h3>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-4">
            <b-tabs>
                <b-tab title="All" @click="$router.push({ name : 'reports-account-receivables-index-all'})" :active="$route.name == 'reports-account-receivables-index-all'"></b-tab>
                <b-tab title="Not Paid" @click="$router.push({ name : 'reports-account-receivables-index-not-paid'})" :active="$route.name == 'reports-account-receivables-index-not-paid'"></b-tab>
                <b-tab title="Paid" @click="$router.push({ name : 'reports-account-receivables-index-paid'})" :active="$route.name == 'reports-account-receivables-index-paid'"></b-tab>
            </b-tabs>
        </div>
        <nuxt-child 
            @sales-selected="sales_selected = $event" 
            @date="date = $event" 
            @status="status = $event" 
            @location-selected="location_selected = $event" 
            @delivery-status="status_selected = $event"
        />
    </section>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

    export default {
        data() {
            return {
                date: null,
                sales_selected:'',
                location_selected:'',
                status_selected: null,
                status: ''
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
        },
        methods: {
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            viewPdf() {
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD') : ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD') : ''
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.location_selected ? this.location_selected.store_id : ''
                this.getPDF({ 
                    type: 'account-receivable',
                    start: start,
                    end: end,
                    sales_person: sales_person,
                    store: store,
                    delivery_status: this.status_selected ? this.status_selected.value : null,
                    status: this.status
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD') : ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD') : ''
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.location_selected ? this.location_selected.store_id : ''
                this.getCSV({ 
                    type: 'account-receivable',
                    start: start,
                    end: end,
                    sales_person: sales_person,
                    store: store,
                    delivery_status: this.status_selected? this.status_selected.value : null,
                    status: this.status
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: 'account',
                        end: 'receivable'
                    })
                })
            }
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>