<template>
    <div>
        <app-modal-meta edit />
    </div>
</template>

<script>
import ModalMeta from "@/components/admin/modal/Meta.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("meta/getMeta", route.params.id);
    },
    components: {
        "app-modal-meta": ModalMeta,
    },
    transition: "slide",
    layout: "admin",
};
</script>
