<template>
    <div>
        <app-modal-quotes />
    </div>
</template>

<script>
import ModalQuotes from "@/components/modal/QuoteRequest.vue";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";

export default {
    name: "EditOnlineQuotes",
    layout: "admin",
    transitions: "slide",
    async fetch({ store, route, app }) {
        await Promise.all([
            store.dispatch("quoteRequest/getRequestQuote", route.params.id),
        ]);
    },
    data() {
        return {
            showModal: false,
            isLeave: false,
            isLeaveSales: false,
            showModalSales: false,
        };
    },
    components: {
        "app-modal-quotes": ModalQuotes,
        "app-modal": Modal,
    },
};
</script>
