<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Manage Directory</h3>
            <div class="form-group mb-0">
                <div class="icon icon-left">
                    <input type="text" placeholder="Search Dashboard & Support" class="form-control form-icon" v-width="'500px'">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <app-tab :data="tab"></app-tab>
        <nuxt-child></nuxt-child>
    </section>
</template>

<script>
    import Tab from '@/components/utilities/Tab.vue'

    export default {
        data() {
            return {
                tab: [
                    {
                        name: 'Company Directory',
                        to: {
                            name: 'directory-company'
                        }
                    },
                    {
                        name: 'Calendar',
                        to: {
                            name: 'directory-calendar'
                        }
                    },
                ]
            }
        },
        components: {
            'app-tab': Tab,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>