<template>
    <div>
        <app-modal-user-permission />
    </div>
</template>

<script>
import ModalUserPermission from "@/components/admin/modal/UserPermission.vue";

export default {
    name: "AddUserPermission",
    layout: "admin",
    transition: "slide",
    async asyncData({ route, store }) {
        await Promise.all([
            store.dispatch("permission/getUsers", { type: "all" }),
            store.dispatch("role/getRoles"),
            store.dispatch("permission/getInactiveMenu", route.params.id),
            store.dispatch("permission/getUserFeature", route.params.id),
            store.dispatch("permission/getNavigation"),
            store.dispatch("permission/getFeaturePermission"),
        ]);
        return;
    },
    components: {
        "app-modal-user-permission": ModalUserPermission,
    },
};
</script>
