<template>
    <ModalDriver />
</template>

<script>
import ModalDriver from '@/components/admin/modal/Driver'
export default {
    components: {
        ModalDriver
    },
    transition: 'slide',
    async asyncData({store, params}){
        await Promise.all([
            store.dispatch('delivery/getDeliveryMethodRouting'),
        ])
    }
}
</script>

<style>

</style>