<template>
    <div>
        <app-modal-meta />
    </div>
</template>

<script>
import ModalMeta from "@/components/admin/modal/Meta.vue";

export default {
    components: {
        "app-modal-meta": ModalMeta,
    },
    transition: "slide",
    layout: "admin",
};
</script>
