<template>
    <modal-gateway />
</template>

<script>
import ModalGateway from "@/components/admin/modal/GatewayPriceTag";
export default {
    name: "AddGateway",
    transition: "slide",
    layout: "admin",
    components: {
        ModalGateway,
    },
};
</script>
