<template>
    <div>
        <BackLink :link="{name: 'index'}" title="My Profile" />
        <div class="card-default">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-start">
                        <img :src="employee.dp" :alt="employee.fullname" class="img-fluid rounded-lg mr-4" width="100" height="100">
                        <div class="flex-row">
                            <h3 class="mb-1">{{employee.fullname}}</h3>
                            <h6 class="mb-3 text-gray">{{employee.email}}</h6>
                            <h5 class="text-uppercase mb-1">{{employee.job_title}}</h5>
                            <p class="mb-0">{{employee.job_description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="form-group">
                        <label for="#" class="font-weight-600">Phone Number</label>
                        <app-phone-input v-model="phone_number" :label="''" v-validate="'required'" name="PhoneNumber" data-vv-as="phone number" :error="errors.has('PhoneNumber')" />
                        <span v-show="errors.has('PhoneNumber')" class="text-danger">{{ errors.first('PhoneNumber') }}</span>
                        <b-form-checkbox
                            id="show-invoice"
                            class="mt-2"
                            v-model="show_phone_invoice"
                            name="show-invoice">
                            Show on invoice
                        </b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <label for="#" class="font-weight-600">Direct Line</label>
                        <input type="text" class="form-control" v-model="extension_number" v-validate="'max:15'" name="extensionNumber" :class="{'is-invalid': errors.has('extensionNumber')}">
                        <span v-show="errors.has('extensionNumber')" class="text-danger">{{ errors.first('extensionNumber') }}</span>
                    </div>
                    <div class="form-group">
                        <label for="#" class="font-weight-600">Default Location</label>
                        <app-select
                            v-model="default_store"
                            :options="stores"
                            label="store_name"
                            track-by="store_id"
                            placeholder="Select Location"
                            :show-labels="false"
                            :allow-empty="false" />
                    </div>
                    <div class="form-group mb-4">
                        <label for="#" class="font-weight-600">Photo</label>
                        <b-form-file v-model="photo" :class="{'is-invalid' : errors.has('photo')}" v-validate data-vv-rules="image|size:5000" name="photo"  plain />
                        <span class="text-danger mt-2 d-block" v-if="errors.has('photo')">{{ errors.first('photo') }}</span>
                    </div>
                    <button class="btn btn-primary" @click="save" :disabled="isSave">
                        <span class="mx-2" v-if="isSave">
                            <b-spinner variant="light" small  />
                        </span>
                        <span v-else>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BackLink from '@/components/utilities/BackLink'
import Select from 'vue-multiselect'
import PhoneInput from '@/components/utilities/PhoneInput'
import {mapState, mapActions} from 'vuex'
export default {
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch('employee/getEmployee', route.params.id),
            store.dispatch('store/getStores', 'all')
        ])
    },
    layout: 'admin',
    transitions: 'slide',
    components:{
        BackLink,
        'app-select' : Select,
        'app-phone-input': PhoneInput,
    },
    data: () => ({
        phone_number: null,
        show_phone_invoice: null,
        extension_number: null,
        default_store: null,
        photo: null,
        isSave: false,
    }),
    created(){
        this.phone_number = this.employee.phone_number
        this.show_phone_invoice = this.employee.show_phone_invoice == 1 ? true : false
        this.extension_number = this.employee.extension_number
        this.default_store = {
            store_name: this.employee.store.store_name,
            store_id: this.employee.store.store_id
        }
    },
    computed: {
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('employee', {
            employee: state => state.data
        })
    },
    methods: {
        ...mapActions('employee',[
            'updateEmployee',
            'getEmployee'
        ]),
        save(){
            this.$validator.validate().then(result => {
                if(result){
                    this.isSave = true
                    let formData = new FormData()
                    formData.append('user_id', this.$route.params.id)
                    formData.append('first_name', this.employee.first_name)
                    formData.append('last_name', this.employee.last_name)
                    formData.append('job_title', this.employee.job_title)
                    formData.append('job_description', this.employee.job_description)
                    formData.append('email', this.employee.email)
                    formData.append('phone_number', this.phone_number)
                    formData.append('show_phone_invoice', this.show_phone_invoice == true ? 1 : 0)
                    formData.append('extension_number', this.extension_number)
                    formData.append('store_default', JSON.stringify(this.default_store))
                    formData.append('is_admin', this.employee.is_admin)
                    formData.append('is_sales_person', this.employee.is_sales_person)
                    formData.append('is_display', this.employee.show_photo)
                    formData.append('image', this.photo)
                    this.updateEmployee(formData).then(() => {
                        this.$auth.fetchUser()
                        this.getEmployee(this.$route.params.id)
                        this.$root.$bvToast.toast(`Profile Updated`, { title: 'Success!', variant:'success', solid: true})
                        this.photo = null
                        this.isSave = false
                    })
                }
            })
        }
    }
}
</script>

<style>

</style>
