<template>
    <div>
        <div class="grid-container">
            <tab-customer-notification
                v-for="(notificationEmail, notificationIndex) in customerNotificationEmail"
                :key="notificationIndex"
                :notification="notificationEmail"
                :selected-id="selectedId"
                @click.native="selectTab(notificationEmail)"
            />
        </div>
        <transition name="fade">
            <form-customer-notification
                v-if="selectedId && selectNotificationEmail().status === '1'"
                :selected-id="selectedId"
                :selected-notification="selectNotificationEmail()"
            />
        </transition>
        <transition name="fade">
            <div v-if="selectedId === null" class="no-selected">
                Please select notification type above to edit
            </div>
        </transition>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import TabCustomerNotification from "@/components/utilities/TabCustomerNotification.vue";
import FormCustomerNotification from "@/components/form/CustomerNotification.vue";

export default {
    name: "CustomerNotificationEmail",
    transition: "slide",
    layout: "admin",
    data() {
        return {
            selectedId: null,
        };
    },
    components: {
        TabCustomerNotification,
        FormCustomerNotification,
    },
    async asyncData({ store }) {
        await store.dispatch("customerNotification/getCustomerNotificationEmail");
    },
    methods: {
        selectTab(notification) {
            if (notification.status === '0') return;

            this.selectedId = null;

            this.$nextTick(() => {
                this.selectedId = notification.id;
            })
        },
        selectNotificationEmail() {
            return this.customerNotificationEmail.find((notificationEmail) => {
                return notificationEmail.id === this.selectedId;
            });
        },
    },
    computed: {
        ...mapGetters({
            customerNotificationEmail:
                "customerNotification/customNotificationEmailList",
        }),
    },
};
</script>
<style lang="scss" scoped>
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.no-selected {
    height: 11rem;
    background-color: #f9f9f9;
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
</style>
