<template>
    <div>
        <h3 class="mb-4 font-weight-600">Reports</h3>
        <div class="form-group mb-5">
            <div class="icon icon-left">
                <input type="text" class="form-control form-control__lg form-icon" v-model="search" placeholder="Search menu...">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <transition name="fade" mode="out-in">
            <div class="card-default" v-if="menus.length === 0" key="1">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="fas fa-exclamation-circle fa-2x mr-3"></i>
                    <h5 class="mb-0 font-weight-600">Menu not found.</h5>
                </div>
            </div>
            <div key="2" v-else>
                <transition-group name="fade" tag="div" class="reports-container"  mode="out-in">
                    <div class="card-default d-block text-dark h-100" v-for="menu in menus" :key="menu.id">
                        <img :src="getIcon(menu.name)" :alt="menu.name" class="mb-3">
                        <h4 class="mb-4 font-weight-600">{{ menu.name }}</h4>
                        <p class="mb-4 text-gray">{{ menu.description }}</p>
                        <nuxt-link tag="a" :to="{name: childMenu.slug}" v-for="childMenu in menu.child" :key="childMenu.id" class="text-primary d-block mb-3">
                            <u>
                                {{ childMenu.name }}
                            </u>
                        </nuxt-link>
                    </div>
                </transition-group>
            </div>
        </transition>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "ReportIndex",
    layout: "admin",
    transition: "slide",
    async asyncData({ store, app }) {
        const settingsId = app.$auth.user.navigations.filter(
            (navigation) => navigation.name === "Reports"
        )[0].id;
        await store.dispatch("navigation/getNavigation", settingsId);
    },
    data: () => ({
        search: ''
    }),
    computed: {
        ...mapState("navigation", {
            navigation: (state) => state.navigation_selected,
        }),
        menus(){
            return this.navigation.child.map(navigation => {
                return {
                    ...navigation,
                    child: navigation.child.filter(childMenu => childMenu.name.toLowerCase().indexOf(this.search.toLowerCase()) >= 0)
                }
            })
            .filter((filterNavigation) => filterNavigation.child.length !== 0)
            .filter((menu) => menu.status)
        }
    },
    methods: {
        getIcon(name){
            const menuName = name.replace(/\s/g, '-').toLowerCase()
            const iconPath = `/icon/reports/${menuName}.svg`
            return iconPath
        }
    }
};
</script>
<style lang="scss" scoped>
.reports-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
</style>
