<template>
    <div>
        <div class="mb-4">
            <b-tabs>
                <b-tab title="Limit" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-limit-index-limit' })" :active="$route.name == 'settings-delivery-settings-index-delivery-limit-index-limit'"></b-tab>
                <b-tab title="Capacity" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-limit-index-capacity' })" :active="$route.name == 'settings-delivery-settings-index-delivery-limit-index-capacity'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild />
    </div>
</template>
<script>
    export default {
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

