<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Truck</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-truck-create'}">Create New Truck</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-truck></admin-table-truck>
        </div>
    </section>
</template>
<script>
    import { mapMutations } from 'vuex'
    import AdminTableTruck from '@/components/admin/table/Truck.vue'

    export default {
        async asyncData ({ store }) {
            await store.dispatch('truck/getTrucks')
            return
        },
        beforeRouteLeave(to, from, next) {
            this.SET_TRUCK_TABLE_DEFAULT()
            next()
        },
        methods: {
            ...mapMutations('truck', [
                'SET_TRUCK_TABLE_DEFAULT',
            ]),
        },
        components:{
            'admin-table-truck': AdminTableTruck,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

