<template>
    <div>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getReport">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr>
                        <app-select
                            v-model="sales_selected" 
                            :show-labels="false"
                            v-width="'230px'"
                            :options="sales_person" 
                            placeholder="Sales Person" 
                            label="fullname" 
                            track-by="user_id" 
                            @input="getReport">
                        </app-select>
                    </no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr>
                        <app-select
                            v-width="'250px'"
                            v-model="location_selected" 
                            :options="stores" 
                            :show-labels="false"
                            placeholder="Select Location" 
                            label="store_name" 
                            track-by="store_id" 
                            @input="getReport">
                        </app-select>
                    </no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr>
                        <app-select
                            v-width="'230px'"
                            v-model="status_selected" 
                            :options="deliveryStatus" 
                            :show-labels="false" 
                            placeholder="Delivery Status" 
                            label="name" 
                            track-by="value" 
                            @input="getReport">
                        </app-select>
                    </no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <h6 class="mb-0 font-weight-600 text-capitalize">Total account receives: <span v-money :key="account_receivable.meta.total_all_balance_due">{{account_receivable.meta.total_all_balance_due}}</span></h6>
            </div>
        </div>
        <div class="mt-3">
            <app-table-receivable/>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import TableReceivable from '@/components/table/accountReceivable.vue'
    
import Select from 'vue-multiselect'

export default {
    created(){
        this.$emit('status', this.status)
    },
    async asyncData ({ store, route }) {
        await Promise.all([
            store.dispatch('accountReceivables/GET_ACCOUNT_RECEIVABLE',{status: 'paid'}),
            store.dispatch('store/getManagers'),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('delivery/getDeliveryStatus')
        ])
    },
    data() {
        return {
            date: null,
            sales_selected:'',
            location_selected:'',
            status_selected: null,
            status: 'paid'
        }
    },
    computed: {
        ...mapState('accounting', {
            pdfUrl: state => state.pdfUrl
        }),
        ...mapState('store', {
            sales_person: state => state.sales_person
        }),
        ...mapState('store',{
            stores : state => state.items
        }),
        ...mapState('delivery',{
            deliveryStatus : state => state.deliveryStatus
        }),
        ...mapState('accountReceivables', {
            account_receivable: state => {
                return {
                    meta: state.meta
                }
            }
        }),
    },
    methods: {
        ...mapActions('accountReceivables', ['GET_ACCOUNT_RECEIVABLE']),
        ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
        getReport(){
            this.$emit('sales-selected', this.sales_selected)
            this.$emit('date', this.date)
            this.$emit('status', this.status)
            this.$emit('delivery-status', this.status)
            this.$emit('delivery-status', this.status_selected)
            let start = this.date ? this.moment(this.date.start).format('Y-MM-DD') : ''
            let end = this.date ? this.moment(this.date.end).format('Y-MM-DD') : ''
            let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
            let store = this.location_selected ? this.location_selected.store_id : ''
            this.GET_ACCOUNT_RECEIVABLE({
                start: start,
                end: end,
                sales_person: sales_person,
                store: store,
                delivery_status: this.status_selected ? this.status_selected.value : null,
                status: 'paid'
            })
        },
    },
    components: {
        'app-table-receivable': TableReceivable,
        'app-select': Select,
    },
    transition: 'slide',
    layout: 'admin'
}
</script>