<template>
    <div>
        <BackLink :link="historyRouteQuotes" title="Quotes" />
        <app-loading-payment />
        <app-form-quotes ref="formQuotes" :data="quote" :edit="true"/>

        <app-modal title="Warning!" centered :show="showModal" @hide="showModal = false">
            <p class="m-3">You are about to save a quote with no products. If you continue your quote will automatically be deleted.</p>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger mr-3" @click="destroyQuote">Delete Quote</button>
                    <button class="btn btn-outline-primary" @click="showModal = false">Go Back</button>
                </div>
            </div>
        </app-modal>

        <app-modal title="Warning!" centered :show="showModalSales" @hide="showModalSales = false">
            <p class="m-3">Unable to saving data, please select a sales person before.</p>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger mr-3" @click="leavePage">Delete Quote</button>
                    <button class="btn btn-outline-primary" @click="showModalSales = false">Go Back</button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapMutations, mapState, mapActions } from 'vuex'
    import FormQuotes from '@/components/form/Quotes'
    import Modal from '@/components/utilities/Modal'
    import LoadingPayment from '@/components/Loading'
    import BackLink from '@/components/utilities/BackLink'

    export default {
        destroyed(){
            this.SET_INSTALL_SELECTED_DEFAULT()
            this.SET_WARRANTY_SELECTED_DEFAULT()
        },
        async fetch({ store, route, app, redirect }) {
            await store.dispatch('quote/getQuoteStatus',route.params.id).then(response => {
                if(response.quote_status == '1'){
                    redirect({name: 'my-orders-edit-id', id:route.params.id})
                }
            })
            await store.commit('rebate/SET_REBATE_PERPAGE', 5)
            await Promise.all([
                store.dispatch('quote/getQuote', route.params.id)
                .then((response) => {
                    store.commit('customer/SET_CUSTOMER_SELECTED', response.customer)
                    store.commit('salesPerson/SET_SALES_PERSON_SELECTED', response.sales_person)
                }),
                store.dispatch('inventory/getConditions'),
                store.dispatch('customer/getCustomers'),
                store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('deliveryMethod/getDeliveryMethods'),
                store.dispatch('store/getStores'),
                store.dispatch('rebate/getRebateData', {
                    type: 'all',
                    order_no: route.params.id
                }),
                store.dispatch('province/getProvinces')
            ])
            store.commit('install/SET_INSTALL_FIELDS', [
                {
                    key: 'install_name',
                    label: 'Name'
                },
                {
                    key: 'description',
                    label: 'Description'
                },
                {
                    key: 'install_price',
                    label: 'Price'
                }
            ])
            store.commit('warranty/SET_WARRANTY_FIELDS', [
                {
                    key: 'name',
                    label: 'Warranty Name'
                },
                {
                    key: 'price',
                    label: 'Warranty Price'
                },
            ])
            return
        },
        data() {
            return {
                showModal: false,
                isLeave: false,
                isLeaveSales: false,
                showModalSales: false,
                routeQuote: null,
                historyRouteQuotes: {
                    name: 'index'
                }
            }
        },
        beforeRouteEnter(to, from, next){
            next(vm =>{
                vm.SET_SAVE_LOADING(false)
                next()
            })
        },
        beforeRouteLeave(to, from, next) {
            if (to.query.is_deleted) return next()
            let index = this._.findIndex(this.detail_quote, function(o) {
                return o.product.product_id == null || o.product.product_id == ''
            })
            if(to.name == 'my-quotes-changelog-id' || to.name == 'my-orders-edit-id'){
                next()
            }else if ((this.detail_quote.length == 0 && this.quote.payment.length == 0) || (this.detail_quote.length == 1 && index == 0 && this.quote.payment.length == 0)) {
                this.showModal = true
                if (this.isLeave) {
                    next()
                }
                next(false)
            } else {
                let check = this.$refs.formQuotes.$refs['customSelect'].selected
                if (check == null && from.name == 'my-quotes-edit-id') {
                    this.showModalSales = true
                    if (this.isLeaveSales) {
                        next()
                    }
                    next(false)
                } else {
                    this.SET_ORDER_DATA_DEFAULT()
                    this.SET_CUSTOMER_TABLE_DEFAULT()
                    this.SET_CUSTOMER_ERRORS(null)
                    this.SET_WARRANTY_TABLE_DEFAULT()
                    this.SET_WARRANTY_FIELDS_DEFAULT()
                    next()
                }
            }
        },
        mounted(){
            this.backRoute()
        },
        computed: {
            ...mapState('quote', {
                quote: state => state.quote,
                detail_quote: state => state.detail_quote
            })
        },
        methods: {
            ...mapMutations(['SET_SAVE_LOADING']),
            ...mapMutations('order', [
                'SET_ORDER_DATA_DEFAULT',
            ]),
            ...mapMutations(['SET_LOADING_PAYMENT']),
            ...mapMutations('customer', [
                'SET_CUSTOMER_TABLE_DEFAULT',
                'SET_CUSTOMER_ERRORS',
                'SET_CUSTOMER_SELECTED',
            ]),
            ...mapMutations('salesPerson', [
                'SET_SALES_PERSON_TABLE_DEFAULT',
            ]),
            ...mapMutations('install', [
                'SET_INSTALL_TABLE_DEFAULT',
                'SET_INSTALL_FIELDS_DEFAULT',
                'SET_INSTALL_SELECTED_DEFAULT'
            ]),
            ...mapMutations('warranty', [
                'SET_WARRANTY_TABLE_DEFAULT',
                'SET_WARRANTY_FIELDS_DEFAULT',
                'SET_WARRANTY_SELECTED_DEFAULT'
            ]),
            ...mapActions('quote', ['deleteQuote']),
            destroyQuote() {
                this.deleteQuote().then(() => {
                    this.isLeave = true
                    this.$router.push({ name: 'my-quotes-index-active' })
                    this.showModal = false
                })
            },
            leavePage() {
                this.isLeaveSales = true
                this.$router.push({ name: 'my-quotes-index-active' })
            },
            getHistoryQuote(){
                return new Promise((resolve, reject) =>{
                    this.routeQuote = localStorage.getItem('history-route-quote')
                    resolve()
                })
            },
            backRoute(){
                this.getHistoryQuote()
                .then( () =>{
                    if(this.routeQuote.includes('/customers/detail')){
                        this.historyRouteQuotes = {path: this.routeQuote}
                    }else {
                        this.historyRouteQuotes = {name: this.routeQuote}
                    }
                })
            }
        },
        components: {
            'app-form-quotes': FormQuotes,
            'app-modal': Modal,
            'app-loading-payment': LoadingPayment,
            BackLink
        },
        layout: 'admin',
        transition: 'slide'
    }
</script>