<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Manage Report</h3>
            <div class="form-group mb-0 mt-4">
                <div class="icon icon-left">
                    <input type="text" placeholder="Search Dashboard & Support" class="form-control form-icon" v-width="'500px'">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <nuxt-child></nuxt-child>
    </section>
</template>

<script>
    import Tab from '@/components/utilities/Tab.vue'

    export default {
        data() {
            return {
                
            }
        },
        components: {
            'app-tab': Tab,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>