<template>
    <div>
        <b-alert :show="newItemsCount > 0" fade dismissible variant="info" class="mb-4">
            <div class="d-flex align-items-center">
                <img src="/icon/info-24px.svg" alt="" width="60">
                <div class="flex-row ml-3">
                    <h5 class="mb-1 font-weight-600 text-primary">Information</h5>
                    <p class="mb-0 text-primary">There are {{ newItemsCount }} new feeds since you were last here</p>
                </div>
            </div>
        </b-alert>
        <h3 class="font-weight-600 mb-0">Live Feed</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" @input="getLiveFeed">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                        @input="getLiveFeed"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <div class="form-group mb-0">
                        <div class="icon icon-left">
                            <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Orders / Model #" @input="searchAction">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex ml-3 align-items-center">
                  <p-check class="p-switch p-fill" v-model="with_warranty" @change="getLiveFeed" color="primary"></p-check>
                  <p class="mb-0 ml-2 mr-2">With warranty</p>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-live-feed/>
        </div>
        <!-- <app-action-sale v-model="action"/> -->
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import PrettyCheck from 'pretty-checkbox-vue/check'
    import TableLiveFeed from '@/components/table/liveFeed.vue'
    import _ from 'lodash'
     
    import Select from 'vue-multiselect'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     ;

    export default {
        async asyncData ({ store, route }) {
            // var today = new Date();
            // var dd = today.getDate();
            // var mm = today.getMonth() + 1;
            // var yyyy = today.getFullYear();
            // if (dd < 10) {
            //     dd = '0' + dd;
            // }

            // if (mm < 10) {
            //     mm = '0' + mm;
            // }
            await Promise.all([
                store.dispatch('liveFeed/GET_LIVE_FEED',{}),
                store.dispatch('store/getManagers'),
            ])
            return
        },
        data() {
            return {
                search: null,
                // date: {
                //     start: new Date(),
                //     end: new Date()
                // },
                date: null,
                with_warranty: false,
                sales_selected:'',
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('liveFeed', {
                page: state => state.page,
                perpage: state => state.perpage,
                newItemsCount: state => state.newItemsCount
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person
            }),
        },
        methods: {
            ...mapActions('liveFeed', ['GET_LIVE_FEED']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations('liveFeed',['SET_LIVE_FEED_PAGE']),
            ...mapMutations(['SET_LOADING_TABLE']),
            getLiveFeed(pageChange = true){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                pageChange ? this.SET_LIVE_FEED_PAGE(1) : ''
                this.GET_LIVE_FEED({
                    search: this.search,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    with_warranty: this.with_warranty,
                    sales_person: sales_person,

                })
            },
            resetFilter() {
                this.date = null
                this.search = null
                this.with_warranty = false
                this.sales_selected = ''
                this.getLiveFeed()
            },
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.SET_LOADING_TABLE(true)
                    let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                    this.getLiveFeed()
                    // .then( ()=>{
                        this.SET_LOADING_TABLE(false)
                    // })
                }
            }, 500),
            viewPdf() {
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                this.getPDF({ 
                    type: 'live-feed',
                    search: this.search,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    with_warranty: this.with_warranty,
                    sales_person: sales_person,
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                this.getCSV({ 
                    type: 'live-feed', 
                    search: this.search,
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    with_warranty: this.with_warranty,
                    sales_person: sales_person,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl
                    })
                })
            }
        },
        components: {
            'app-table-live-feed': TableLiveFeed,
            'p-check': PrettyCheck,
            'app-select': Select,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
<style lang="scss" scoped>
.dark-blue{
    color: #1273AD;
}
</style>