<template>
    <damage-allowance-report type="resolved" @getData="getData" />
</template>

<script>
import DamageAllowanceReport from "@/components/admin/table/DamageAllowanceReport.vue";

export default {
    name: "DamageAllowanceReportResolved",
    components: {
        DamageAllowanceReport,
    },
    methods: {
        getData() {
            this.$emit("getData");
        },
    },
};
</script>
