<template>
    <div>
        <app-modal-rebate />
    </div>
</template>

<script>
import modalRebate from "@/components/admin/modal/Rebate.vue";
import { mapMutations } from "vuex";
export default {
    components: {
        "app-modal-rebate": modalRebate,
    },
    created() {
        this.SET_NEW_REBATES(true);
    },
    methods: {
        ...mapMutations("rebate", ["SET_NEW_REBATES"]),
    },
    transition: "slide",
    layout: "admin",
};
</script>
