<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Employees</h3>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="form-group mb-0" v-if="$route.name != 'settings-employees-index-our-team'">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon" placeholder="Search Employee" v-model="query" @keyup="search" v-width="'250px'">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <button class="btn btn-outline-primary mr-3" @click="$router.push({name: 'settings-user-permission'})">User Permission</button>
                <button class="btn btn-outline-primary mr-3" @click="showModalInvite">Invite Employee</button>
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-employees-create'}">Create New Employee</nuxt-link>
            </div>
        </div>
        <app-modal size="lg" title="Invite Employee" centered @hide="closeModalInvite" v-model="modalInvite">
            <template>
                <div class="form-group">
                    <input type="text" v-validate="'required|email'" name="email" placeholder="Email Adress" v-model="email" class="form-control" :class="{'is-invalid': errors.has('email')}">
                    <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
                    <p class="text-danger" v-if="error_validation.email">{{ error_validation.email[0] }}</p>
                </div>
                <div class="alert alert-success" v-if="message">{{ message }}</div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end btn-employees">
                    <div class="btn btn-primary mr-3" @click="saveInvite">Invite</div>
                    <div class="btn btn-danger" @click="closeModalInvite">Cancel</div>
                </div>
            </div>
        </app-modal>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Active" @click="$router.push({name:'settings-employees-index-active'})" :active="$route.name == 'settings-employees-index-active'"></b-tab>
                <b-tab title="Archive" @click="$router.push({name:'settings-employees-index-archive'})" :active="$route.name == 'settings-employees-index-archive'"></b-tab>
                <b-tab title="Our Team" @click="$router.push({name:'settings-employees-index-our-team'})" :active="$route.name == 'settings-employees-index-our-team'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild @clear-search="clearSearch" />
    </section>
</template>
<script>
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import { mapActions, mapState, mapMutations } from 'vuex'
    import _ from 'lodash'

    export default {
        data() {
            return {
                action: false,
                modalInvite: false,
                email: '',
                query: null,
                perpage: 10
            }
        },
        computed: {
            ...mapState(['message']),
            ...mapState('employee', {
                error_validation: state => state.validation
            })
        },
        mounted () {
            localStorage.setItem('history-page', 'settings-employees-index-active/1')
        },
        methods: {
            ...mapActions('employee', ['sendEmailInvitation']),
            ...mapMutations('employee', ['SET_EMPLOYEE_PAGE', 'CLEAR_VALIDATION_MESSAGE']),
            ...mapMutations(['SET_MESSAGE']),
            ...mapMutations(['SET_LOADING_TABLE']),
            showAction(){
                this.action= true
            },
            showModalInvite() {
                this.email = ''
                this.SET_MESSAGE('')
                this.modalInvite= true
            },
            closeModalInvite() {
                this.modalInvite= false
            },
            setPerpage(val){
                this.perpage = val
            },
            saveInvite() {
                this.CLEAR_VALIDATION_MESSAGE()
                this.$validator.validate().then(result =>{
                    if(result){
                        this.sendEmailInvitation({ email: this.email }).then((res) => {
                            this.SET_MESSAGE(res.data)
                            setTimeout(() => {
                                this.modalInvite= false
                            }, 3000)
                        })
                    }
                })
            },
            clearSearch(){
                this.query = null
            },
            search: _.debounce(function (e) {
                if(this.query != null){
                    let status = this.$route.name == 'settings-employees-index-active' ? 'active':'archive'
                    this.SET_EMPLOYEE_PAGE(1)
                    this.SET_LOADING_TABLE(true)
                    this.$store.dispatch('employee/getEmployees', {
                        status: status,
                        search: this.query,
                        perpage: this.perpage
                    }).then( () =>{
                        this.SET_LOADING_TABLE(false)
                    })
                }
            }, 800),
        },
        destroyed() {
            this.SET_EMPLOYEE_PAGE(1)
        },
        components:{
            'app-modal': Modal,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

