<template>
    <div>
        <div class="d-flex justify-content-end mb-3">
            <nuxt-link
                tag="a"
                :to="{
                    name: 'settings-delivery-settings-delivery-install-time-add',
                }"
                class="btn btn-primary"
                ><i class="fas fa-plus"></i> Add Delivery/Install
                Time</nuxt-link
            >
        </div>
        <card-border
            variant="transparent"
            v-for="(installTime, installIndex) in item.data"
            :key="`install-time-${installIndex}`"
        >
            <div class="row">
                <div class="col-6">
                    <table class="table table-borderless mb-2">
                        <thead>
                            <tr>
                                <th class="title bg-white w-40">Categories</th>
                                <th class="px-0 title bg-white w-60">
                                    Sub Categories
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(
                                    category, categoryIndex
                                ) in installTime.categories"
                                :key="`category-${categoryIndex}`"
                                class="content"
                            >
                                <td class="align-baseline">
                                    <div
                                        class="
                                            d-inline-block
                                            border
                                            rounded
                                            bg-white
                                            mb-2
                                            p-2
                                            pointer
                                        "
                                        @click="
                                            editDeliveryTime(installTime.id)
                                        "
                                    >
                                        {{ category.category_name }}
                                    </div>
                                </td>
                                <td class="sub-category px-0">
                                    <span
                                        v-for="(
                                            subCategory, index
                                        ) in category.subcategory"
                                        :key="`sub-category-${categoryIndex}`"
                                        class="
                                            border
                                            rounded
                                            bg-white
                                            mr-2
                                            mb-2
                                            p-2
                                            pointer
                                        "
                                        v-b-tooltip.hover.html="
                                            tooltipSubCategory(
                                                subCategory.detail_category_name
                                            )
                                        "
                                        @click="
                                            editDeliveryTime(installTime.id)
                                        "
                                    >
                                        {{ subCategory.subcategory_name }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <div class="pt-3 title text-center">Delivery Time</div>
                    <div
                        class="
                            d-flex
                            align-items-center
                            justify-content-center
                            h-75
                        "
                    >
                        <h2 class="font-weight-bold mb-0">
                            {{ installTime.time }}
                        </h2>
                        <span class="content ml-1">minutes</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="pt-3 title text-center">Install Time</div>
                    <div
                        class="
                            d-flex
                            align-items-center
                            justify-content-center
                            h-75
                        "
                    >
                        <h2 class="font-weight-bold mb-0">
                            {{ installTime.install_time }}
                        </h2>
                        <span class="content ml-1">minutes</span>
                    </div>
                </div>
                <div
                    class="
                        col-2
                        d-flex
                        justify-content-center
                        align-items-center
                    "
                >
                    <a
                        role="button"
                        class="text-danger"
                        @click="showModalDelete(installTime.id)"
                        ><i class="fas fa-trash"></i
                    ></a>
                </div>
            </div>
        </card-border>
        <div class="d-flex justify-content-end">
            <b-pagination
                v-model="page"
                :total-rows="rows"
                :per-page="perPage"
            ></b-pagination>
        </div>
        <modal title="Delete" :show="modal.delete" @hide="hideModalDelete">
            <h6 class="my-4">Are you sure want to delete this data?</h6>
            <template slot="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a
                        href="javascript:void(0)"
                        class="text-primary mr-4 font-weight-600"
                        @click="hideModalDelete"
                        >Cancel</a
                    >
                    <button
                        class="btn btn-danger btn-sm"
                        :disabled="isDelete"
                        @click="handleDelete"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </modal>
    </div>
</template>
<script>
import CardBorder from "@/components/utilities/CardBorder.vue";
import Modal from "@/components/utilities/Modal";
import { BPagination } from "bootstrap-vue";

import { mapState, mapActions } from "vuex";

export default {
    name: "SettingDeliveryInstallTime",
    transition: "slide",
    layout: "admin",
    data() {
        return {
            page: 1,
            perPage: 10,
            rows: 10,
            isDelete: false,
            selected: {
                id: null,
            },
            modal: {
                delete: false,
            },
        };
    },
    computed: {
        ...mapState("deliveryTimes", {
            item: (state) => state.unloadTime,
        }),
    },
    mounted() {
        this.getDeliveryTimes();
    },
    watch: {
        page() {
            window.scrollTo({ top: 0, behavior: "smooth" });

            this.getUnloadTimes({
                page: this.page,
                perpage: this.perpage,
            });
        },
    },
    components: {
        CardBorder,
        Modal,
        BPagination,
    },
    methods: {
        ...mapActions({
            deleteDeliveryTime: "delivery/deleteDeliveryTime",
            getUnloadTimes: "deliveryTimes/getUnloadTimes",
        }),
        tooltipSubCategory(detailCategories) {
            if (detailCategories.length > 0) {
                return `
                    <div class="text-left">
                    ${
                        detailCategories.length < 2
                            ? detailCategories[0]
                            : detailCategories.toString()
                    }
                    </div>
                `;
            }
        },
        showModalDelete(id) {
            this.selected.id = id;
            this.modal.delete = true;
        },
        hideModalDelete() {
            this.selected.id = null;
            this.modal.delete = false;
        },
        editDeliveryTime(id) {
            this.$router.push({
                name: "settings-delivery-settings-delivery-install-time-edit-id",
                params: { id: id },
            });
        },
        async getDeliveryTimes() {
            const result = await this.getUnloadTimes(
                "deliveryTimes/getUnloadTimes",
                {
                    page: this.page,
                    perpage: this.perpage,
                }
            );

            const { current_page, per_page, total } = result;

            this.page = current_page;
            this.perPage = per_page;
            this.rows = total;
        },
        async handleDelete() {
            this.isDelete = true;
            const result = await this.deleteDeliveryTime(this.selected.id);

            if (result.status === "success") {
                this.isDelete = false;

                this.hideModalDelete();
                this.getDeliveryTimes();

                this.$root.$bvToast.toast(`Data Delivery Time Deleted`, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
            }
            if (result.status === "failed") {
                this.isDelete = false;

                this.$root.$bvToast.toast(`Data Failed To Delete`, {
                    title: "Failed!",
                    variant: "danger",
                    solid: true,
                });
            }
        },
    },
};
</script>
<style lang="scss" scoped>
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.title {
    font-size: 14px;
    font-weight: 400;
}
.content {
    font-size: 14px;
    font-weight: 400;
    color: #3d464c;
}
table.table.table-borderless {
    tbody {
        tr {
            line-height: 1em;
            vertical-align: top;
            td {
                padding-top: 0;
                padding-bottom: 0;
                vertical-align: top;
            }
            .sub-category {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }
}
</style>
