<template>
    <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="font-weight-600">Customers <span v-if="$route.name == 'customers-index-credit-line'"> Credit Line</span></h3>
            <nuxt-link class="btn btn-primary" tag="a" :to="{ name: 'customers-create'}" v-if="$route.name != 'customers-index-credit-line'" @click.native="setCustomerRoute">Create Customer</nuxt-link>
        </div>
        <div class="mt-3" v-if="$route.name != 'customers-index-credit-line'">
            <b-tabs>
                <b-tab @click="$router.push({name : 'customers-index-individual'})" :active="$route.name == 'customers-index-individual'">
                    <template slot="title">
                        <div class="d-flex align-items-center">
                            <img src="/customer/ico-individual.png" alt="" class="ico-customer">
                            <p class="mb-0 ml-3">Individual</p>                                    
                        </div>
                    </template>
                </b-tab>
                <b-tab @click="$router.push({name : 'customers-index-company'})" :active="$route.name == 'customers-index-company'">
                    <template slot="title">
                        <div class="d-flex align-items-center">
                            <img src="/customer/ico-company.png" alt="" class="ico-customer ico-company">
                            <p class="mb-0 ml-3">Company</p>                                    
                        </div>
                    </template>
                </b-tab>
            </b-tabs>
        </div>
        <NuxtChild />
    </section>
</template>
<script>
    import {mapState, mapMutations, mapActions} from 'vuex'
    import _ from 'lodash'

    export default {
        data(){
            return{
                name: '',
                company: '',
                phoneNumber:'',
                billingAddress:'',
                shippingAddress:'',
                email:'',
                action: false,
                showFillter : true,
                perpage: 10
            }
        },
        // created(){
        //     if(this.customer.selected != null){
        //         this.name = this.customer.selected[0].name
        //         this.phoneNumber = this.customer.selected[0].phoneNumber
        //         this.search()
        //     }
        // },
        destroyed(){
            this.SET_CUSTOMER_TABLE_DEFAULT()
            this.SET_CUSTOMER_SELECTED(null)
        },
        computed:{
             ...mapState('customer', {
                customer: state => {
                    return {
                        selected: state.selected,
                    }
                }
            }),
        },
        methods: {
            ...mapMutations('customer',[
                'SET_CUSTOMER_SELECTED',
                'SET_CUSTOMER_TABLE_DEFAULT',
                'SET_CUSTOMER_PAGE'
            ]),
            ...mapActions('customer', [
                'getCustomers',
                'searchCustomer'
            ]),
            setPerpage(value){
                this.perpage = value
            },
            resetFillter(){
                this.name='';
                this.phoneNumber='';
                this.billingAddress='';
                this.shippingAddress='';
                this.email='';
                this.getCustomers({perpage: this.perpage})
            },
            setCustomerRoute(){
                localStorage.setItem('history-route-customer', this.$router.currentRoute.name)
            },
            search: _.debounce(function (e) {
                this.SET_CUSTOMER_PAGE(1)
                this.$store.dispatch('customer/searchCustomer', {
                    name: this.name,
                    company: this.company, 
                    phoneNumber: this.phoneNumber, 
                    billingAddress: this.billingAddress, 
                    shippingAddress: this.shippingAddress, 
                    email: this.email,
                    perpage: this.perpage 
                })
            }, 800)
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

