<template>
    <div>
        <h3 class="font-weight-600 mb-0">Payment Breakdown Report</h3>
        <div class="mt-3 d-flex align-items-start justify-content-between">
            <div class="form-group mb-0 mr-2">
                <div class="icon icon-left">
                    <no-ssr><app-datepicker mode="range" v-model="params.date" >
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker></no-ssr>
                </div>
            </div>
            <no-ssr>
                <app-select
                    placeholder="Select Payment Method"
                    v-model="params.payment_method_selected"
                    :options="payment_methods"
                    class="multiselect__group"
                    ref="multiSelect"
                    label="payment_method"
                    track-by="payment_method"
                    group-values="child"
                    group-label="name"
                    @select="$refs.multiSelect.deactivate()"
                    :close-on-select="true"
                    :group-select="true"
                    :multiple="true"
                    :show-labels="false"
                    v-width="'300px'" />
            </no-ssr>
            <div class="form-group mb-0 ml-2">
                <no-ssr><app-select
                    v-model="params.store_selected"
                    v-width="'250px'"
                    :options="stores"
                    :close-on-select="true"
                    :hide-selected="true"
                    :preserve-search="true"
                    :select-label="'Select'"
                    placeholder="Location"
                    label="store_name"
                    track-by="store_id"
                    :preselect-first="false"
                >
                </app-select></no-ssr>
            </div>
            <div class="form-group mb-0 ml-2">
                <no-ssr><app-select
                    v-model="params.sales_person_selected"
                    v-width="'250px'"
                    :options="salesPersons"
                    :close-on-select="true"
                    :hide-selected="true"
                    :preserve-search="true"
                    :select-label="'Select'"
                    placeholder="Sales Person"
                    label="fullname"
                    track-by="user_id"
                    :preselect-first="false"
                >
                </app-select></no-ssr>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <!-- <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewCSV">Export CSV</button>
                    </div> -->
                    <div class="flex-row">
                        <button class="btn btn-primary" @click="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-payment
                :params="params"
            />
        </div>
    </div>
</template>
<script>
import Select from 'vue-multiselect'
import TablePayment from '@/components/admin/table/PaymentBreakDownReport'
import {mapState, mapActions} from 'vuex'

// let printJs;
// if (process.client) {
//     printJs = require('print-js')
// }

export default {
    name: 'PaymentBreakDownReport',
    async fetch({store}){
        var today = new Date().toLocaleString("en-us", {timeZone: "America/Chicago"});
        await Promise.all([
            store.dispatch('payment/getPaymentMethods'),
            store.dispatch('salesPerson/getSalesPersons'),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('payment/getPaymentData', {
                page: 1,
                perpage : 10,
                start: today,
                end: today,
            })
        ])
    },
    data(){
        return{
            params: {
                date: {
                    start: new Date(),
                    end: new Date()
                },
                store_selected: '',
                sales_person_selected: '',
                payment_method_selected : [],
            }
            // page: 1
        }
    },
    methods: {
        ...mapActions('accounting', ['getPDF', 'getSummary', 'getCSV', 'downloadCSV']),
        ...mapActions('payment', ['getPaymentData']),
        resetFilter(){
            this.params.payment_method_selected = []
            this.params.store_selected = ''
            this.params.sales_person_selected = ''
            this.params.date = {
                start: new Date(),
                end: new Date()
            }
        },
    },
    computed:{
        ...mapState('payment', {
            payment_methods: state => state.payment_methods,
            // data: state => state.data
        }),
        ...mapState('store', {
            stores : state => state.items
        }),
        ...mapState('salesPerson', {
            salesPersons: state => state.items
        }),
        ...mapState('accounting', {
            pdfUrl: state => state.pdfUrl
        }),
    },
    components: {
        'app-select': Select,
        'app-table-payment': TablePayment,
    },
    transition: 'slide',
    layout: 'admin'
}
</script>
