@mixin media($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

@mixin media-xs {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin media-sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin bg-opacity($color) {
    @for $i from 1 through 10 {
        &-opacity-#{$i} {
            background-color: rgba($color, $i * 0.1);
        }
    }
}