$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #ebedef;
$gray-300: #d6d9dc;
$gray-400: #c2c7cc;
$gray-500: #85898c;
$gray-600: #70767c;
$gray-700: #495057;
$gray-800: #3d454d;
$gray-900: #2b333b;
$black: #000;

$blue: #0055C0;
$blue-light: #c2e2f2;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f44336;
$orange: #fd7e14;
$yellow: #ffc107;
$yellow-light: #FFF3E0;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$brown: #856404;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$primary-light: #eaf4ff;

$theme-colors: (
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
    "black": $black,
    "white": $white,
    'primary-light': $primary-light,
);

$font-size-base: 1rem * 0.8125;
$spacing: 10px;