// CDN
@import url('https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css');

// Main
@import './variable';
@import './mixin';

// Node
@import '@/node_modules/bootstrap/scss/bootstrap.scss';
// @import '@/node_modules/v-calendar/lib/v-calendar.min.css';
@import '@/node_modules/fullcalendar/dist/fullcalendar.css';

// Custom Component
@import './components/animation';
@import './components/button';
@import './components/lightbox';
@import './components/card-popup';
@import './components/dropdown';
@import './components/input-icon';
@import './components/input';
@import './components/loading';
@import './components/modal-form';
@import './components/multiselect';
@import './components/radio-switcher';
@import './components/sidebar';
@import './components/table';
@import './components/tabs';
@import './components/utilities';
@import './components/content';
@import './components/chat';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import './components/navbar';
@import './components/timeline';
@import './components/rws';
@import './components/stripe';
@import './components/esl';
@import './components/calendar';
@import './components/step';
@import './components/card-notification';
@import './components/card-notification-type';
@import './components/badge';
@import './components/my-notification';
@import './components/lightbox';
@import './components/badge';
@import './components/notification-subcription';
@import './components/upload-file';
//Icon
@import './icon/icofont.min';

//Pages
@import './pages/routing';

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", helvetica, arial, sans-serif;
}

a {
    &:hover {
        color: $blue;
        text-decoration: none;
    }
}
.content {
    margin-left: 240px;
}

.pagination {
    .page-item {
        .page-link {
            color: $blue;
            padding: 0.3rem .75rem 0.5rem .75rem;
            box-shadow: unset;
        }
        &.active {
            .page-link {
                color: $white;
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}

.custom-input {
    input {
        &.form-control {
            padding: 24px 16px;
        }
    }
    textarea {
        resize: none;

        &.form-control {
            padding: 16px 16px;
        }
    }
    // &.border {
    //     &:not(:nth-child(2)) {
    //         border-top: unset !important;
    //     }
    // }
    &:focus-within {
        border-bottom-color: $blue !important;

        .bg-grey-lighter {
            background-color: $blue-light !important;
        }
    }
    .multiselect {
        &__tag {
            margin: 6px;
        }
        &__tags {
            min-height: 48px;
            border: unset;
            border-radius: unset;
        }
        &__select {
            top: 4px;
            padding: 0px 8px;
        }
        &__single {
            font-family: inherit;
            font-size: 13px;
            padding: 6px 0 0 8px;
            color: $blue;
        }
        &__option {
            padding: 12px 16px;
            color: $blue;

            &--highlight {
                background-color: $blue-light;

                &:after {
                    background-color: $blue-light;
                    color: $blue;
                }
            }
        }
        &__input {
            padding: 5px 0 0 7px;
            font-family: inherit;
            font-size: 13px;

            &::placeholder {
                font-family: inherit;
                font-size: 13px;
                color: $gray-400;
            }
        }
        &:focus-within {
            .multiselect {
                &__tags {
                    border-top: $blue solid 1px;
                    border-left: $blue solid 1px;
                    border-right: $blue solid 1px;
                }
                &__content-wrapper {
                    border-left: $blue solid 1px;
                    border-right: $blue solid 1px;
                    border-bottom: $blue solid 1px;
                    border-radius: unset;
                }
            }
        }
    }
}

//placeholder loading
.ph-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
}

.ph-item,
.ph-item *,
.ph-item :after,
.ph-item :before {
    box-sizing: border-box
}

.ph-item:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation .8s linear infinite;
    animation: phAnimation .8s linear infinite;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, .35) 50%, hsla(0, 0%, 100%, 0) 54%) 50% 50%
}

.ph-item>* {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    padding-right: 0 !important;
	padding-left: 0 !important
}

.ph-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5px
}

.ph-row div {
    height: 10px;
    margin-bottom: 7.5px;
    background-color: #f2f3f5;
    border-radius: 7px;
    padding:  0 !important;
}

.ph-row .big,
.ph-row.big div {
    height: 20px;
    margin-bottom: 15px
}

.ph-row .empty {
    background-color: hsla(0, 0%, 100%, 0)
}

.ph-col-2 {
    flex: 0 0 16.66667%
}

.ph-col-4 {
    flex: 0 0 33.33333%
}

.ph-col-6 {
    flex: 0 0 50%
}

.ph-col-8 {
    flex: 0 0 66.66667%
}

.ph-col-10 {
    flex: 0 0 83.33333%
}

.ph-col-12 {
    flex: 0 0 100%
}
.ph-col-bullet{
    flex: 0 0 2%;
}
.ph-col-xs{
    flex: 0 0 8.66667%;
}

.ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    background-color: #f2f3f5;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden
}

.ph-avatar:before {
    content: " ";
    display: block;
    padding-top: 100%
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: #f2f3f5;
    margin-bottom: 15px;
    border-radius: 7px;
    &--sm{
        height: 90px;
    }
    &--lg{
        min-height: 300px;
    }
}

@-webkit-keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }

    to {
        transform: translate3d(30%, 0, 0)
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }

    to {
        transform: translate3d(30%, 0, 0)
    }
}

@media(max-width: 640px){
    .ph-picture{
        &--lg{
            min-height: 200px;
        }
    }
}
.loading > div,
.loading{
    width: 100%;
}
.product-select-placeholder{
    margin-bottom: 0;
    .placeholder-inline{
        display: flex;
        align-items: center;
    }
    .ph-picture{
        width: 45%;
        margin-bottom: 0;
        height: 40px;
    }
    .ph-row{
        width: 80%;
        margin-bottom: 0;
    }
    .ph-row div{
        height: 7px;
    }
}
.select-product{
    .multiselect__option{
        .loaded{
            display: flex;
            flex-basis: 100%;
            -webkit-box-align: start;
            align-items: flex-start;
        }
    }
}

.product-select-placeholder--dashboard{
    .ph-picture{
        width: 15% !important;
    }
}

.progress-bar{
    border-radius: 10px;
    opacity: 0.7;
}

.VueCarousel {
    .VueCarousel-wrapper {
        .VueCarousel-inner {
            gap: 0.5rem;
        }
        .VueCarousel-slide {
            flex-shrink: 1;
        }
    }
    .VueCarousel-navigation {
        .VueCarousel-navigation-prev {
            left: 3%;
        }
        .VueCarousel-navigation-next {
            right: 3%;
        }
    }
}

.flex {
    margin: 30px;
    display: flex;
    flex-direction: row;

    padding: 5px; /* this */
}

.flex > .child-item {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;  /* and that, will result in a 10px gap */
}
