<template>
    <app-modal-customer edit />
</template>

<script>
import { mapActions } from "vuex";

import ModalCustomer from "@/components/modal/Customer.vue";

export default {
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch("customer/getCustomer", route.params.id),
            store.dispatch("province/getProvinces"),
        ]);
        return;
    },
    methods: {
        ...mapActions("customer", ["getCustomer"]),
    },
    components: {
        "app-modal-customer": ModalCustomer,
    },
    transition: "slide",
    layout: "admin",
};
</script>
