<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Product</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="form-group mb-0">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon" v-model="product_id" @keyup="search" placeholder="Search Product">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <!-- <div class="flex-row ml-auto mr-3">
                <nuxt-link tag="a" class="btn btn-outline-primary" :to="{ name:'settings-manage-product-setting'}">Setting Product</nuxt-link>
            </div> -->
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-manage-product-create'}">Create New Product</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-manage-product @row-clicked="showAction" />
        </div>
        <app-action-product v-model="action"/>
    </section>
</template>
<script>
    import AdminTableManageProduct from '@/components/admin/table/ManageProduct.vue'
    import ActionProduct from '@/components/admin/action/Product.vue'
    import _ from 'lodash'

    export default {
        async asyncData({store}){
            await store.dispatch('product/getProducts', {
                product_id: '',
                // type: ''
            })
        },
        data(){
            return{
                action:false,
                product_id: ''
            }
        },
        methods:{
            showAction(){
                this.action = true;
            },
            search: _.debounce(function (e) {
                this.$store.dispatch('product/getProducts', {
                    product_id: this.product_id
                })
            }, 1000)
        },
        components:{
            'admin-table-manage-product': AdminTableManageProduct,
            'app-action-product': ActionProduct,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

