<template>
    <app-modal-changelog />
</template>

<script>
import ModalChangelog from "@/components/modal/ChangelogOnline";

export default {
    name: "ChangelogIndex",
    transition: "slide",
    layout: "admin",
    async asyncData({ store, route }) {
        await Promise.all([
            store.dispatch("changelog/getChangelog", {
                id: route.params.id,
                type: 0,
            }),
        ]);
    },
    components: {
        "app-modal-changelog": ModalChangelog,
    },
};
</script>
