<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Kitchen Uploads</h3>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Pending" @click="$router.push({name:'online-kitchen-uploads-index-pending'})" :active="$route.name == 'online-kitchen-uploads-index-pending'"></b-tab>
                <b-tab title="Approved" @click="$router.push({name:'online-kitchen-uploads-index-approved'})" :active="$route.name == 'online-kitchen-uploads-index-approved'"></b-tab>
                <b-tab title="Rejected" @click="$router.push({name:'online-kitchen-uploads-index-rejected'})" :active="$route.name == 'online-kitchen-uploads-index-rejected'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild />
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import KitchenUploads from '@/components/table/KitchenUploads'

    export default {
        components: {
            'app-table-kitchen': KitchenUploads,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>