<template>
    <div>
        <app-modal-announcement />
    </div>
</template>

<script>
    import ModalAnnouncement from '@/components/modal/Announcement'

    export default {
        components: {
            'app-modal-announcement': ModalAnnouncement,
        },
        transition: "slide",
        layout: "admin",
    }
</script>