<template>
    <div>
        <app-modal-truck edit />
    </div>
</template>

<script>
    import ModalTruck from '@/components/admin/modal/Truck.vue'

    export default {
        async asyncData({ store, route}){
            await store.dispatch('truck/getTruck', route.params.id)
        },
        components: {
            'app-modal-truck': ModalTruck,
        },
        transition: 'slide',
    }
</script>