<template>
    <app-modal-employee edit />
</template>

<script>
import ModalEmployee from "@/components/admin/modal/Employee.vue";

export default {
    async asyncData({ store, route }) {
        if (typeof route.params.id != "undefined") {
            await store.dispatch("employee/getEmployee", route.params.id);
            await store.dispatch("store/getStores", "all");
        }
        return;
    },
    components: {
        "app-modal-employee": ModalEmployee,
    },
    transition: "slide",
    layout: "admin",
};
</script>
