<template>
    <app-modal-customer />
</template>

<script>
import ModaCustomer from "@/components/modal/Customer.vue";

export default {
    async asyncData({ store }) {
        // return await store.dispatch('state/getSates')
        await store.dispatch("province/getProvinces");
        return;
    },
    components: {
        "app-modal-customer": ModaCustomer,
    },
    layout: "admin",
    transition: "slide",
};
</script>
