<template>
    <div>
        <modal-delivery-capacity></modal-delivery-capacity>
    </div>
</template>

<script>
import ModalDeliveryCapacity from "@/components/admin/modal/DeliveryCapacity";

export default {
    name: "EditPageDeliveryCapacity",
    layout: "admin",
    transitions: "slide",
    components: {
        ModalDeliveryCapacity,
    },
    async asyncData({ store, params }) {
        await store.dispatch("deliveryMethod/getDeliveryMethods", {type: 'all'})
        await store.dispatch("delivery/showDeliveryCapacity", params.id)
    },
};
</script>
