<template>
    <div ref="scanOutArea">
        <div class="d-flex align-items-start">
            <h3 class="font-weight-600 mb-0">Scan Out Inventory</h3>
            <div class="ml-auto" v-if="$route.name === 'deliveries-scan-out-index-scan'">
                <button class="btn btn-sm btn-primary mr-3" @click="handleClickRegister">Register UPC Code</button>
                <button class="btn btn-sm btn-primary" @click="handleClickRegisterModel">Register Model Number</button>
            </div>
        </div>
        <b-tabs class="mt-4 mb-3">
            <b-tab title="Scan Out" @click="$router.push({ name : 'deliveries-scan-out-index-scan'})" :active="$route.name == 'deliveries-scan-out-index-scan'"></b-tab>
        </b-tabs>
        <NuxtChild ref="child" />
    </div>
</template>

<script>
export default {
    layout: 'admin',
    transition: 'slide',
    methods: {
        handleClickRegister(){
            this.$refs.child.showModalRegister()
        },
        handleClickRegisterModel(){
            this.$refs.child.showModalRegisterModel()
        },
    },
    mounted(){
        setTimeout(() => {
            this.$refs.scanOutArea.scrollIntoView({behavior: "smooth"})
        }, 500)
    }
}
</script>

<style>

</style>
