<template>
    <div>
        <app-notification-subcription v-bind="{
                title: 'Subscribe to Return Feed     Notifications',
                description:
                    subscription.status === 1
                    ? 'You are currently subscribed to notifications for this page, to unsubscribe, click button Unsubscribe below.'
                    : 'Subscribing to notifications for this page will include you in an Automated Email Notification each time a new entry is created on this page. To turn these off simply return to this page',
                subcribeText: subscription.status === 1 ? 'Unsubscribe': 'Subscribe Now',
                status: subscription.status,
                type: 'Return Feed  '
            }"
        />
        <section>
            <h3 class="font-weight-600 mb-0">Return Feed</h3>
            <div class="d-flex align-items-center mt-3">
                <div class="d-flex flex-row mr-3">
                    <div class="form-group mb-0">
                        <div class="icon icon-left">
                            <no-ssr>
                                <app-datepicker mode="range" v-model="date">
                                    <template :type='inputState.type' slot-scope='{ inputValue }'>
                                        <div class="icon icon-right" v-width="'220px'">
                                            <input type="text" placeholder="Select date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                            <i class="far fa-calendar-alt text-primary"></i>
                                        </div>
                                    </template>
                                </app-datepicker>
                            </no-ssr>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="form-group mb-0 mr-3">
                        <no-ssr><app-select
                            v-model="refund.selected"
                            v-width="'230px'"
                            :options="refund.data"
                            :close-on-select="true"
                            :clear-on-select="false"
                            :hide-selected="true"
                            :preserve-search="true"
                            :select-label="''"
                            placeholder="Select Refund Mehtod"
                            label="name"
                            track-by="name"
                            :preselect-first="false"
                            @input="fillterRefund"
                        >
                        </app-select></no-ssr>
                    </div>
                    <div class="form-group mr-3 mb-0">
                        <no-ssr>
                            <app-select
                                v-model="location_selected"
                                :options="stores"
                                :close-on-select="true"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                :select-label="''"
                                placeholder="Select Location"
                                label="store_name"
                                track-by="store_id"
                                :preselect-first="false"
                                v-width="'250px'"
                            >
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="flex-row ml-auto">
                    <button class="btn btn-primary" @click.prevent="resetFilter"> Reset Filter</button>
                </div>
            </div>
            <div class="mt-3">
                <admin-table-feed :date="date" :refund_method="refund_method" @row-clicked="showAction"></admin-table-feed>
            </div>
            <app-action-return-feed v-model="action"/>
        </section>
    </div>
</template>
<script>

    // Packages
    import {mapActions, mapMutations, mapState}  from 'vuex'
    import Select from 'vue-multiselect';

    // Components
    import AdminTableFeed from '@/components/admin/table/ReturnFeed.vue'
    import ActionReturnFeed from '@/components/admin/action/ReturnFeed.vue'
    import NotificationSubcription from '@/components/NotificationSubcription.vue'

    export default {
        async asyncData({store}) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = yyyy + '-' + mm + '-' + dd;
            await Promise.all([
                store.dispatch('order/getReturnFeed', {
                    from: today,
                    to: today,
                    location: '',
                    sales: '',
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch("userSetting/getSubcriptions"),
            ])
        },
        data() {
            return {
                location_selected: null,
                action: false,
                date: {
                    start: new Date(),
                    end: new Date(),
                },
                refund_method: '',
                refund:{
                    selected: '',
                    data:[
                        {
                            name: 'CASH'
                        },
                        {
                            name: 'CHECK'
                        },
                        {
                            name: 'CARD'
                        },
                        {
                            name: 'OTHER'
                        }
                    ]
                }
            }
        },
        watch: {
            date: {
                handler: function(newValue) {
                    this.SET_LOADING_TABLE(true)
                    this.getReturnFeed({ from: this.moment(newValue.start).format('Y-MM-DD'), to: this.moment(newValue.end).format('Y-MM-DD'), refund_method: this.refund_method, store: this.location_selected ? this.location_selected.store_id : '' })
                    .then( () =>{
                        this.SET_LOADING_TABLE(false)
                    })
                },
                deep: true
            },
            refund_method() {
                this.SET_LOADING_TABLE(true)
                this.getReturnFeed({ from: this.moment(this.date.start).format('Y-MM-DD'), to: this.moment(this.date.end).format('Y-MM-DD'), refund_method: this.refund_method, store: this.location_selected ? this.location_selected.store_id : '' })
                .then( () => {
                    this.SET_LOADING_TABLE(false)
                })
            },
            location_selected() {
                this.SET_LOADING_TABLE(true)
                this.getReturnFeed({ from: this.moment(this.date.start).format('Y-MM-DD'), to: this.moment(this.date.end).format('Y-MM-DD'), refund_method: this.refund_method, store: this.location_selected ? this.location_selected.store_id : '' })
                .then( () => {
                    this.SET_LOADING_TABLE(false)
                })
            },
        },
        methods: {
            ...mapActions('order', ['getReturnFeed']),
            ...mapMutations(['SET_LOADING_TABLE']),
            showAction(){
                this.action = true
            },
            fillterRefund(){
                this.refund_method = this.refund.selected.name
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.refund_method = '',
                this.refund.selected = null
                this.location_selected = null
            }
        },
        computed:{
            ...mapState('store', {
                stores: state => state.items
            }),
            ...mapState("userSetting", {
                subscription: (state) => state.userSettingNotifications.find((userSettingNotification) => userSettingNotification.name === 'Return Feed'),
            }),
        },
        mounted() {
            console.log(this.$route);
        },
        components:{
            'admin-table-feed': AdminTableFeed,
            'app-select': Select,
            'app-action-return-feed': ActionReturnFeed,
            'app-notification-subcription': NotificationSubcription,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

