<template>
    <div>
        <h3 class="font-weight-600 mb-3">Group Role Permission</h3>
        <div class="d-flex aling-items-center mb-3">
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="searchBox" v-width="'250px'" @keyup="search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" :to="{ name:'settings-user-permission'}" class="text-gray text-underlined mr-3">Back to user permission</nuxt-link>
                <nuxt-link tag="a" :to="{ name:'settings-user-permission-role-add'}" class="btn btn-primary">Create New Group Role</nuxt-link>
            </div>
        </div>
        <div>
            <app-table-role-user-permission @change="getValue" @set-perpage="setPerpage" :search="searchBox"/>
        </div>
    </div>
</template>
<script>
import UserRolePermission from '@/components/admin/table/UserRolePermission.vue'
import _ from 'lodash'
import { mapState, mapMutations } from 'vuex';

export default {
    async asyncData({route, store}) {
        await store.dispatch('role/getRoles')
        return
    },
    data(){
        return{
            searchBox: '',
            totalSelect: 0,
            perpage: 10,
            selected:''
        }  
    },
    computed: {
        ...mapState('role', {
            page: state => state.page
        })
    },
    methods: {
        ...mapMutations('role', ['SET_PAGE']),
        search: _.debounce(function (e) {
            this.page == 1 ? this.$store.dispatch('permission/getRoles', { search: this.searchBox, perpage: this.perpage }) : this.SET_PAGE(1)
        }, 800),
        getValue(val) {
            this.totalSelect = val.length
            val.length == 1 ? this.selected = val : ''
        },
        setPerpage(value){
            this.perpage = value
        },
    },
    components:{
        'app-table-role-user-permission': UserRolePermission
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

