<template>
    <section>
        <h3 class="font-weight-600 mb-0">Orders Feed</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr>
                            <app-datepicker mode="range" v-model="date">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group mb-0 mr-3">
                    <no-ssr>
                        <app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                        @input="fillterSales" />
                    </no-ssr>
                </div>
                <div class="form-group mb-0 mr-3">
                    <no-ssr>
                        <app-select
                            v-model="store_selected" 
                            v-width="'250px'"
                            :options="stores" 
                            :close-on-select="true" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            :select-label="'Select'"
                            placeholder="Location" 
                            label="store_name" 
                            track-by="store_id" 
                            :preselect-first="false"
                            @input="fillterStore" />
                    </no-ssr>
                </div>
                <div class="form-group mb-0">
                    <no-ssr>
                        <app-select
                            v-width="'250px'"
                            placeholder="Select Delivery Method" 
                            label="delivery_method_name" 
                            track-by="delivery_method_id" 
                            v-model="delivery_method" 
                            :options="deliveryMethods" 
                            :preserve-search="true"
                            :select-label="'Select'"
                            :preselect-first="false"
                            :allow-empty="false"
                            :show-labels="false"
                            @input="filterDeliveryMethod">
                        </app-select>
                    </no-ssr>
                </div>
            </div>
            <button class="btn btn-circle btn-sm p-2 ml-3 text-white" v-if="$route.name == 'order-index-all'" :class="is_house_deal ? 'btn-success' : 'btn-secondary'" @click="is_house_deal = !is_house_deal"><i class="fas fa-home fa-lg"></i></button>
            <div class="form-group mb-0 ml-3">
                <p-check class="p-switch p-fill" v-model="has_reserved" color="primary" @change="handleChangeReserved">Reserved Stock</p-check>
            </div>
            <div class="form-group mb-0 ml-3">
                <p-check class="p-switch p-fill" v-model="has_no_tag" color="primary" @change="handleChangeReserved">No Tag</p-check>
            </div>
            <div class="flex-row ml-auto">
                <button class="btn btn-primary" @click="resetFilter">Reset Filter</button>
            </div>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="All" @click="rowClicked('order-index-all')" :active="$route.name == 'order-index-all'"></b-tab>
                <b-tab title="Schedule Delivery" @click="rowClicked('order-index-open')" :active="$route.name == 'order-index-open'"></b-tab>
                <b-tab title="Pending Delivery" @click="rowClicked('order-index-closed')" :active="$route.name == 'order-index-closed'"></b-tab>
                <b-tab title="Delivered" @click="rowClicked('order-index-completed')" :active="$route.name == 'order-index-completed'"></b-tab>
            </b-tabs>
        </div>
        <!-- <NuxtChild @clear-search="resetFilter" /> -->
        <NuxtChild :house_deal="is_house_deal" @getData="getSortedData"/>
    </section>
</template>
<script>
     
    import { mapActions, mapState, mapMutations } from 'vuex'
    import PrettyCheck from 'pretty-checkbox-vue/check'
    import Select from 'vue-multiselect'
    export default {
        async asyncData({store, route}){
            await Promise.all([
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
                store.dispatch('deliveryMethod/getDeliveryMethods', {not_set: true, type:"all"})
            ])
        },
        beforeRouteLeave (to, from, next) {
            if(to.name != "my-orders-edit-id"){
                this.resetFilter()
            }
            next()
        },
        async created() {
            this.created = true
            await this.initiateField()
            this.created = false
        },
        data() {
            return {
                is_house_deal: false,
                action: false,
                date: null,
                has_reserved: false,
                location: '',
                sales: '',
                sales_selected:'',
                // stores: [],
                store_selected:'',
                perpage: 10,
                created: false,
                sort: true,
                has_no_tag: false,
                delivery_method: null
            }
        },
        computed: {
            ...mapState('store', {
                sales_person: state => state.sales_person
            }),
            ...mapState('store',{
                stores : state => state.items
            }),
            ...mapState('order',{
                filter : state => state.filter,
                page : state => state.page
            }),
            ...mapState('deliveryMethod', {
                deliveryMethods: state => state.items
            }),
            status(){
                if(this.$route.name == 'order-index-all'){
                    return ''
                }else if(this.$route.name == 'order-index-open'){
                    return 'open'
                }else if(this.$route.name == 'order-index-closed'){
                    return 'completed'
                }else{
                    return 'closed'
                }
            }
        },
        watch: {
            date: {
                handler: function(newValue) {
                    if(this.date != null){
                        if(this.created == false){
                            this.setFilter()
                            if(this.page == 1){
                                this.generateOrderFeed()
                            } else {
                                this.SET_ORDER_PAGE(1)
                            }
                        }
                    }
                },
                deep: true
            },
            sales() {
                if(this.sales != ''){
                    if(this.created === false){
                        this.setFilter()
                        if(this.page == 1){
                            this.generateOrderFeed()
                        } else {
                            this.SET_ORDER_PAGE(1)
                        }
                    }
                }
            }, 
            location() {
                if(this.location != ''){
                    if(this.created == false){
                        this.setFilter()
                        if(this.page == 1){
                            this.generateOrderFeed()
                        } else {
                            this.SET_ORDER_PAGE(1)
                        }
                    }
                }
            },
            delivery_method() {
                if(this.delivery_method){
                    if(this.created == false){
                        this.setFilter()
                        if(this.page == 1){
                            this.generateOrderFeed()
                        } else {
                            this.SET_ORDER_PAGE(1)
                        }
                    }
                }
            },
            is_house_deal(){
                this.generateOrderFeed()
            },
        },
        methods: {
            ...mapMutations(['SET_LOADING_TABLE']),
            ...mapActions('order', ['getOrderFeed']),
            ...mapMutations('order', [
                'SET_ORDER_PAGE',
                'SET_ORDER_FILTER'
            ]),
            handleChangeReserved(){
                this.setFilter()
                this.generateOrderFeed()
            },
            initiateField(){
                this.sales = this.filter.sales_selected
                this.sales_selected = this.filter.sales_field_selected
                this.location = this.filter.store_selected
                this.store_selected = this.filter.store_field_selected
                this.date = this.filter.date
                this.has_reserved = this.filter.has_reserved
            },
            rowClicked(value){
                localStorage.setItem('history-route-customer', this.$router.currentRoute.name)
                this.$router.push({name: value})
            },
            setFilter(){
                this.SET_ORDER_FILTER({
                    date : this.date,
                    sales_selected: this.sales,
                    sales_field_selected: this.sales_selected,
                    store_selected: this.location,
                    store_field_selected: this.store_selected,
                    has_reserved: this.has_reserved,
                    has_no_tag: this.has_no_tag,
                    delivery_method: this.delivery_method ? this.delivery_method.delivery_method_id : null
                })
            },
            generateOrderFeed() {
                this.SET_LOADING_TABLE(true)
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
                this.getOrderFeed({ 
                    from: start,
                    to: end, 
                    page: 1,
                    location: this.location, 
                    sales: this.sales,
                    perpage: this.perpage,
                    status: this.status,
                    sort: this.sort,
                    house_deal: this.$route.name == 'order-index-all' ? this.is_house_deal : false,
                    has_reserved: this.has_reserved,
                    has_no_tag: this.has_no_tag,
                    delivery_method: this.delivery_method ? this.delivery_method.delivery_method_id : null
                }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            fillterSales(){
                this.sales = this.sales_selected.user_id
            },
            fillterStore(){
                this.location = this.store_selected.store_id
            },
            resetFilter() {
                this.SET_ORDER_FILTER({
                    date: null,
                    store_selected: '',
                    sales_field_selected: '',
                    sales_selected: '',
                    store_field_selected: '',
                    has_reserved: false,
                    delivery_method: null
                })
                this.delivery_method = null 
                this.date = null
                this.location = ''
                this.sales = ''
                this.sales_selected = null,
                this.store_selected = null
                this.has_reserved = false
                this.has_no_tag = false
                this.generateOrderFeed()
            },
            getSortedData(value){
                this.sort = value
                this.generateOrderFeed()
            }
        },
        components:{
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>