// Transition
.slide- {
    &enter {
        opacity: 0;
        
        &-active {
            animation: slide-in .3s ease-out forwards;
            transition: opacity .3s;
        }
    }
    &leave {
        &-active {
            animation: slide-out .3s ease-out forwards;
            opacity: 0;
            transition: opacity .3s;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.scale-enter-active, .scale-leave-active {
    transition: all .2s ease-in-out;
}
.scale-enter, .scale-leave-to {
    transform: scale(.9);
    opacity: 0;
}

.slide-down {
    &enter {
        
        &-active {
            animation: slide-out .2s ease-in-out;
        }
    }
    &leave {
        &-active {
            animation: slide-in .2s ease-in-out;
        }
    }
}

// Animation
@keyframes slide-in {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);
    }
}

.slide-left-enter-active {
    transition: all .3s cubic-bezier(0.57, 0.01, 0.01, 0.93);
}

.slide-left-leave-active {
    transition: all .3s cubic-bezier(0.57, 0.01, 0.01, 0.93);
}

.slide-left-enter,
.slide-left-leave-to
{
    transform: translateX(100%);
    opacity: 0;
}

.slide-fade{
    &-enter{
        opacity: 0;
        transform: translateX(5px);
    }
    &-enter-to,
    &-leave{
        opacity: 1;
        transform: translateX(0px);
    }
    &-leave-to{
        opacity: 0;
        transform: translateX(-5px);
    }
    &-enter-active,
    &-leave-active{
        transition: opacity .4s, transform .5s;
    }
}