@import '../normalize/components/badge.scss';

.#{$prefix}-badge {
    border-radius: $border-radius;
    font-weight: $font-weight;

    @mixin badgeColor($name, $color: black, $bgColor: grey) {
        &.#{$prefix}-badge--#{$name} {
            color: $color;
            background-color: $bgColor;
        }
    }

    @mixin badgeSize($name, $height: 20px, $fontSize: 12px, $padding: 2px 6px 2px 6px) {
        &.#{$prefix}-badge--#{$name} {
            font-size: $fontSize;
            height: $height;
            padding: $padding;
            min-height: $height;
            max-height: $height;
            width: max-content;
        }
    }

    // loop over $colors
    @each $badgeColorVariant in $colorVariants {
        // Find the current index of $colors...
        $index: index($colorVariants, $badgeColorVariant);
        // ... to pull the right value $buttonColors
        @include badgeColor($badgeColorVariant, nth($colors, $index), nth($bgColors, $index));
    }

    // loop over $colors
    @each $badgeSize in $sizes {
        // Find the current index of $colors...
        $index: index($sizes, $badgeSize);
        // ... to pull the right value $buttonColors
        @include badgeSize($badgeSize, nth($heights, $index), nth($fontSizes, $index), nth($paddings, $index));
    }
}
