.btn {
    padding: 9.5px 16px;
    font-weight: 600;
    &-circle{
        border-radius: 100%;
    }
}
.btn:focus, .btn.focus{
    box-shadow: none !important;
}
.btn-rounded{
    border-radius: 100%;
    &__sm{
        font-size: 8px;
        padding: 0;
        height: 17px;
        width: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.btn-collapse{
    background-color: #f5a623;
    border-color: #f5a623;
    &:hover,
    &:active,
    &:focus{
        background-color: #f5a623 !important;
        border-color: #f5a623 !important;
    }
    &::before{
        content: "\f068";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 8px;
        color: #fff;
    }
    &.collapsed{
        background-color: #28a745;
        border-color: #28a745;
        &:hover,
        &:active,
        &:focus{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
        }
        &::before{
            content: "\f067";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 8px;
            color: #fff;
        }
    }
}
.btn-purple{
    background-color: #8d46a7;
    border-color: #8d46a7;
    color: #fff;
    &:hover{
        background-color: #793094;
        border-color: #793094;
        color: #fff;
    }
}

.btn-dark-blue{
    background-color: #0d5fb5;
    border-color: #0d5fb5;
    color: #fff;
    transition: all .3s ease-in-out;
    &:hover{
        background: #0b53a0;
        border-color: #0b53a0;
        color: #fff;
    }
}
.btn-outline-dark-blue{
    border-color: #0d5fb5;
    background-color: #fff;
    color: #0d5fb5;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: #0d5fb5;
        color: #fff;
    }
}

.btn-xl{
    width: 100%;
    font-size: 22px;
    font-weight: normal;
    padding: 25px 16px;
}


.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #0d5fb5;
    color: #fff;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0b53a0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.btn-google{
    color: #505e77;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
    background: #fff;
    transition: all .3s ease-in-out;
    &:focus{
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
    }
    &:hover{
        background: #efefef;
    }
}

.btn-group > .btn.active{
    z-index: unset !important;
}