.calendar{
    &__custom{
        .fc{
            &-h-event{
                padding: 10px;
                box-shadow: 0px 4px 10px 1px #2f2f2f52;
                margin-bottom: 5px;
                cursor: pointer;
            }
            &-title{
                font-weight: bold;
                font-size: .75rem;
            }
        }
        &--notime{
            .fc{
                &-time{
                    display: none;
                }
            }
        }
    }
}
.vc-text-gray-400{
    cursor: initial !important;
}