.card {
    &-popup {
        width: 400px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        position: fixed;
        border-radius: 0;

        .card-body {
            overflow: scroll;
        }
        .card-header {
            min-height: 65px;
        }
        .card-footer {
            min-height: 65px;
        }
    }
}