.card-notification-type {
    display: flex;
    border-radius: 10px;
    min-height: 80px;
    height: 80px;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &.active {
        background-color: #ebf4fa;
    }

    &.not-active {
        opacity: 0.5;
    }

    &.urgent {
        border: 2px solid #F44336;
    }

    &.high {
        border: 2px solid #FFC107;
    }

    &.low {
        border: 2px solid #28A745;
    }

    &.no-priority {
        border: 2px solid #3D464C;
    }

    &__image {
        width: 40px;
        height: 40px;
        margin-right: 0.75rem;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: #3d464c;
    }
}
