.card-notification {
    border-radius: 10px;
    min-height: 85px;
    height: 85px;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    &:active {
        border: 2px solid #0056b9;
        background-color: #ebf4fa;
    }

    &.active {
        border: 2px solid #0056b9;
        background-color: #ebf4fa;
    }

    &.disable {
        background-color: lightgray;
        opacity: 0.8;
    }

    &__wrapper {
        display: flex;
    }

    &__content {
        display: block;
    }

    &__image {
        width: 40px;
        height: 40px;
        margin-right: 0.75rem;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: #3d464c;
        margin-bottom: 0;
    }
}
