$color-primary: #0d5fb5;

.chat{
    position: fixed;
    bottom: 20px;
    z-index: 1040;
    right: 5%;
    &__button{
        background: $color-primary;
        padding: 13px 20px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1040;
        box-shadow: 1px 1px 14px 8px rgba(221, 221, 221, 0.5);
        .icon__bubble{
            width: 20px;
            height: auto;
        }
        .counter{
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 10px;
            width: 20px;
            height: 20px;
            font-weight: 600;
            border: 2px solid #fff;
            &-unread{
                top: 0;
                width: 15px;
                height: 15px;
            }
        }
    }
    &__header{
        background: $color-primary;
        border-radius: 7px;
        .form-control{
            background-color: transparent;
            border: 0;
            border-radius: 0 !important;
            padding-top: 7px !important;
            padding-bottom: 7px !important;
            color: #fff;
            border-bottom: 1px solid #fff;
            &::placeholder{
                color: #fff;
            }
        }
    }
    &__inner{
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 7px;
            transition: all .3s ease-in-out;
        }
        &::-webkit-scrollbar-track {
            border-radius: 7px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #c1c1c1; 
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #a5a5a5; 
            width: 10px;
        }
        &--chat{
            min-height: 385px;
            max-height: 385px;
        }
    }
    &__wrapper{
        min-width: 325px;
        max-width: 325px;
        border-radius: 7px;
        box-shadow: 0 0 8px 4px rgba(95, 95, 95, 0.2);
        background-color: #fff;
        .tabs{
            .nav-tabs{
                border-bottom: 0 !important;
            }
            .nav-link{
                padding-bottom: 10px !important;
                &.active{
                    color: $color-primary !important;
                    border-color: $color-primary !important;
                }
                &:hover{
                    color: $color-primary !important;
                }
            }
        }
    }
    &__contact{
        &--item{
            transition: all .2s ease-in-out;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover{
                background-color: #f5f5f5;
            }
            &-image{
                max-width: 35px;
                img{
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    object-position: center;
                }
                &-sm{
                    max-width: 30px;
                    img{
                        max-width: unset;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &-offline{
                opacity: .5;
            }
        }
        &--status{
            position: absolute;
            bottom: 0;
            right: -5px;
            i{
                color: #6fda2b;
            }
        }
    }
    &__bubble{
        padding: 8px 10px;
        border-radius: 10px;
        display: inline-block;
        font-size: 12px;
        &--left{
            border-top-left-radius: 0;
            background-color: #f1f0f0;
            margin-right: 10%;
        }
        &--right{      
            border-top-right-radius: 0;
            background-color: $color-primary;
            margin-left: 10%;
        }
        &--wrapper{
            margin-bottom: 10px;
            p{
                margin-top: 5px;
            }
        }
    }
    .text-area{
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        .form-control{
            border-radius: 0;
            resize: none;
            background-color: transparent !important;
            padding-top: 11px;
            padding-bottom: 11px;
        }
    }
    .spinner-wrapper__chat{
        right: 0;
        width: 100%;
        align-items: flex-start !important;
    }
    .icon__chat{
        &--action{
            width: 20px;
            height: auto;
        }
    }
    &__action{
        .badge-primary{
            background-color: $color-primary !important;
            border-radius: 5px;
        }
        .multiselect{
            &__tag{
                background-color: $color-primary !important;
                &-icon{
                    &::after{
                        color: #fff !important;
                    }
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
            &__option{
                &::after{
                    display: none !important;
                }
            }
        }
    }
    .text-primary{
        color: $color-primary !important;
    }
    .delivery{
        &__status{
            &--icon{
                width: 12px;
                height: auto;
            }
        }
    }
    &__typing{
        .chat__bubble{
            border-radius: 5px !important;
            i{
                animation: typing-animation 1.5s infinite ease-in-out both;
                opacity: .5;
                &:nth-child(2){
                    animation-delay: .2s;
                }
                &:last-child(){
                    animation-delay: .4s;
                }
            }
        }
    }
    &__group{
        &--action{
            max-width: 300px;
            position: absolute;
            top: 55px;
            right: 5%;
            box-shadow: 0 0 8px 4px rgba(95, 95, 95, 0.2);
            z-index: 99;
        }
        &--item{
            transition: all .2s ease-in-out;
            &:hover{
                background-color: #f5f5f5;
            }
        }
    }
    &__minimized{
        &--wrapper{
            position: fixed;
            right: 33px;
            bottom: 120px;
            z-index: 99;
        }
        &--item{
            box-shadow: 1px 1px 14px 8px rgba(221, 221, 221, 0.5);
            border-radius: 100%;
            &:hover{
                cursor: pointer;
                .chat__minimized--close{
                    opacity: 1;
                }
            }
            .counter{
                position: absolute;
                bottom: 0;
                right: 0;
                border: 2px solid #fff;
            }
        }
        &--close{
            background: #afadad;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            border: 2px solid #fff;
            opacity: 0;
            transition: all .2s ease-in-out;
        }
        &--image{
            max-width: 50px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    &__attachment{
        &--icon{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 7px;
        }
        &--wrapper{
            min-width: 235px;
            max-width: 235px;
        }
        &--file{
            flex-basis: 85%;
        }
        &--dl{
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 5px;
        }
        &--image{
            img{
                width: 100%;
                height: 100px;
                object-fit: cover;
                object-position: center;
                border-radius: 7px;
            }
        }
    }
    &__upload{
        &--wrapper{
            padding: 8px;
            padding-left: 5px;
            padding-right: 10px;
            position: absolute;
            bottom: 0;
            left: 10px;
            width: 70%;
            background: #f8f9fa;
        }
        &--icon{
            flex-basis: 20%;
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin-right: 10px;
        }
        &--progress{
            flex-basis: 75%;
        }
    }
    .attachment--disabled{
        pointer-events: none;
        opacity: .5;
    }
    .alert__upload{
        padding: 8px 10px;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        bottom: 70px;
        z-index: 99;
        right: 0;
        left: 0;
        margin: 0 15px;
    }
    &__online{
        &--count{
            font-size: 10px;
            &::before,
            &::after{
                content: '';
                display: block;
                width: 85%;
                height: 1px;
                background-color: #85898c;
            }
            span{
                width: 100%;
                margin: 0 3px;
                text-align: center;            
            }
        }
    }
}
.modal-chat{
    .modal-header{
        border-bottom: 0;
    }
    .modal-footer{
        border-top: 0;
        div{
            width: 100%;
        }
    }
}
.card{
    &__member{
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        &--item{
            border-bottom: 1px solid #ddd;
            &:last-child{
                border-bottom: 0 !important;
            }
        }
    }
}
@keyframes typing-animation {
    0%,
    80%,
    100% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.0);
    }
}
#EmojiPicker{
    position: absolute;
    bottom: 58px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    .emoji{
        border : 0 !important;
    }
    .container-emoji{
        height: 157px !important;
    }
    .category.active{
        border-color: $color-primary;
        filter: none !important;
    }
}