a{
    &.disabled{
        pointer-events: none !important;
        opacity: .5 !important;
    }
}
.slide-down-enter-active, .slide-down-leave-active {
    transition: all .3s ease-in-out;
}
.slide-down-enter, .slide-down-leave-to {
    /* margin-bottom: -200px; */
    transform: translateY(-10px);
    opacity: 0;
}
.slide-down-enter-to, .slide-down-leave {
    transform: translateY(0);
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.red{
    color: red;
}
.red:hover{
    color: red;
}
.multiselect.is-invalid .multiselect__tags{
    border-color: #f44336 !important;
}
.text-blue{
    color: #0E5FB5;
}
.text-gray{
    color: #85898c
}
.card-default{
    box-shadow: 1px 1px 10px 4px rgba(138, 138, 138, .15);
    padding: 30px;
    border-radius: 5px;
    &__sm{
        max-width: 450px;
        min-width: 450px;
        min-height: 300px;
    }
}
.form-control__lg{
    height: calc(2.25rem + 12px);
}


//reset password
.reset-password{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-default__sm{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .btn{
            margin-bottom: 20px;
        }
    }
}
.icon i{
    z-index: 0 !important;
}
.input-password{
    &__wrapper{
        position: relative;
    }
    &__show{
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
}
.Password__strength-meter{
    margin-bottom: 10px !important;
}

.custom-control-label::after,
.custom-control-label::before{
    box-shadow: none !important;
}

.modal-record-payment{
    .modal-body,
    .card-header{
        padding: 0;
    }
    .nav-pills{
        background: #fff;
        border-right: 1px solid #ddd;
        .nav-link{
            border-radius: 0;
            padding: 14px 40px;
        }
        .nav-item{
            flex-grow: 1;
            border-bottom: 1px solid #ddd;
            &:last-child{
                border-bottom: 0;
            }
            .nav-link{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }
    .btn-sm{
        padding: 0.25rem 0.5rem !important;
        font-size: 0.71094rem !important;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}


.Password{
    margin-left: 0 !important;
}
.text-password--orange{
    color: orange;
}
.text-password--light-green{
    color: #9acd32;
}
.text-password--green{
    color: green;
}
.delivery-method__table tbody tr:first-child{
    background: rgba(143, 209, 158, 0.5);
}

.v-dropdown-container{
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    box-shadow: none !important;
    margin-top: -5px !important;
}
div.v-suggest input[type=text]{
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    height: 40px !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    border: 1px solid #c2c7cc !important;
    color: #8b9095 !important;
}
div.v-suggest input[type=text]::placeholder{
    color: #8b9095 !important;
}
div.v-suggest div.sg-clear{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.sg-results li.sg-results__row{
    padding: 12px 16px !important;
    font-size: 13px !important;
    color: #85898c !important;
}
ul.sg-results{
    font-family: unset !important;
    padding: 0 !important;
}
div.v-suggest ul.sg-results li.sg-results__row.sg-over{
    background: #f8f9fa !important;
}

.nav.nav-tabs{
    outline: none !important;
}
.centered-badge{
    .badge{
        margin-top: 8px;
        margin-left: 5px;
    }
}


.menu-list{
    list-style: none;
    padding-left: 0;
    &__item{
        &:last-child{
            margin-bottom: 0;
        }
        margin-bottom: 5px;
        &--inner{
            list-style: none;
            padding-left: 30px;
            li:first-child{
                margin-top: 5px;
            }
            li{
                margin-bottom: 5px;
                position: relative;
            }
            li:before{
                content: "\f3be";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 5px;
                position: absolute;
                left: -15px;
            }
        }
    }
}

.outline{
    &--blue{
        border-color: $primary !important;
    }
}
.form-editable{
    input{
        border-color: $primary !important;
        color: $primary !important
    }
    i{
        color: $primary !important
    }

}

.form-editable-warning{
    input{
        border-color: #ca3622 !important;
        color: #ca3622 !important
    }
    i{
        color: #ca3622 !important
    }

}

.gray{
    color: #767b7b;
}
.combine-collapse--btn{
    width: 100%;
    text-align: left;
    background: transparent;
    border-color: #ddd;
    color: #000;
}
.collapse-card--recordpayment{
    .card-body{
        padding: 15px !important;
    }
    a{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #000;
        &:hover{
            color: #000;
        }
    }
}
.card-notes{
    max-height: 450px;
    overflow: auto;
}
.content-txt{
    color: #e83e8c;
}
.nav-link.active{
    .ico-customer{
        filter: invert(26%) sepia(99%) saturate(1750%) hue-rotate(201deg) brightness(80%) contrast(107%);
    }
}
.nav-tabs .nav-item .nav-link:not(.active):hover{
    .ico-customer{
        filter: invert(26%) sepia(99%) saturate(1750%) hue-rotate(201deg) brightness(80%) contrast(107%);
    }
}
.ico-customer{
    width: 10px;
    filter: invert(48%) sepia(8%) saturate(350%) hue-rotate(169deg) brightness(92%) contrast(87%);
}
.ico-company{
    width: 20px;
}
.alert-notif {
    width: 300px;
    position: fixed;
    right: 30px;
    top: 80px;
    z-index: 99;
    &--offset-top{
        top: 30px;
    }
    &--center{
        right: 0;
        left: 0;
        margin: auto;
    }
}


.select-searcheable.multiselect--active{
    .multiselect__tags{
        border-color: $blue !important;
        border-radius: 5px !important;
    }
    .multiselect__content-wrapper{
        border-top: 0 !important;
    }
}
.__nuxt-error-page{
    height: 100vh;
}
tbody tr{
    outline: none !important;
}

.image-wrapper{
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    &__lg{
        height: 90px;
        width: 90px;
    }
    &__sm{
        height: 35px;
        width: 35px;
    }
}

.progress-bar__wrapper{
    position: absolute;
    z-index: 999;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        margin-bottom: 0;
        margin-top: 15px;
        text-align: center;
    }
}

.dashboard{
    .form-search{
        &__wrapper{
            display: flex;
            align-items: center;
            box-shadow: 1px 1px 14px 8px rgba(221, 221, 221, 0.5);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            button{
                flex-basis: 10%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &__select{
            .multiselect__spinner{
                top: 0;
                bottom: 0;
                height: 100%;
            }
            .multiselect__tags{
                height: 85px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .multiselect__select{
                top: 0;
                padding: 0px 8px;
                bottom: 0;
                height: 100%;
            }
            .multiselect__placeholder,
            .multiselect__input::placeholder{
                color: #bec0c1;
                opacity: .6;
            }
            .multiselect__placeholder,
            .multiselect__input::placeholder,
            .multiselect__input,
            .multiselect__single{
                font-size: 18px;
                color: #9ea1a5;
                // padding-left: 20px !important;
            }
            .multiselect__content-wrapper{
                border: 0;
                border-top: 1px solid #ddd;
                background: #fff;
                box-shadow: 0px 9px 14px 8px rgba(127, 124, 124, 0.15);
            }
            &:first-child{
                flex-basis: 70%;
                .multiselect__tags{
                    border: 0;
                    border-right: 1px solid #ddd;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                .multiselect__option{
                    padding: 12px 35px;
                }
            }
            &:nth-child(2){
                flex-basis: 20%;
                .multiselect__tags{
                    border: 0;
                    border-radius: 0;
                }
            }
        }
    }
    .outlined-blue{
        .multiselect__tags,
        .multiselect__content-wrapper{
            border-color: #0d5fb5;
        }
        .multiselect__single,
        .multiselect__option{
            color: #0d5fb5;
        }
        .multiselect__select::before{
            border-color: #0d5fb5 transparent transparent;
        }
    }
}

.text-green{
    color: #2fb754;
}
.search__dashboard{
    .multiselect__option--group{
        pointer-events: none !important;
        background: #fff !important;
        font-size: 12px;
        text-transform: capitalize;
        opacity: .4;
    }
}
// .vue-slider-component .vue-slider-dot{
//     z-index: 1 !important;
// }
// .vue-slider-component .vue-slider-process{
//     z-index: inherit !important;
// }
// .multiselect__content-wrapper{
//     z-index: 99 !important;
// }
.vue-slider-component{
    z-index: 1 !important;
}
.multiselect__content-wrapper{
    z-index: 99 !important;
}

.bs-tooltip-top .arrow{
    display: none !important;
}
.table.b-table > thead > tr > th[aria-sort], .table.b-table > tfoot > tr > th[aria-sort]{
    outline: none !important;
}

.tab-pane{
    position: relative;
}

.badge{
    padding: 4px 10px;
    border-radius: 10px;
    color: #fff;
    &-success{
        background-color: #2ecc71;
    }
    &-danger{
        background-color: #e74c3c;
    }
}

.app-select{
    &--outline-blue{
        .multiselect__tags{
            border-color: $primary;
        }
        .multiselect__select::before{
            border-color: $primary transparent transparent;
        }
        .multiselect__single{
            color: $primary;
        }
    }
}

.collapse-rebate{
    .card-body{
        max-height: 310px;
        overflow: auto;
    }
}
.icon-right{
    i{
        right: 0;
    }
}
.rounded-lg{
    border-radius: 10px !important;
}

.alert-notif{
    &--top{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: 0;
        right: 0;
        min-height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cursor-pointer{
    cursor: pointer;
}
.cursor-grab{
    cursor: grab;
}

.rebates{
    &-option{
        overflow: auto;
        max-height: 195px;
    }
    &-item{
        transition: all .2s ease-in-out;
        &:hover{
            cursor: pointer;
            background: #E2F4FF;
        }
    }
}

.select-content-rebates{
    max-height: 400px !important;
}
.counter{
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 8px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &-red{
        background: $red;
    }
    &-blue{
        background: $primary;
    }
    &-green{
        background: $success;
    }
    &-brown{
        background: $brown;
    }
    &-light{
        background: #818182;
    }
    &--sm{
        width: 15px;
        height: 15px;
    }
}

.modal{
    &-body{
        &--scrollable{
            max-height: 500px;
            overflow-y: auto;
        }
    }
}

.counter-from--two{
    list-style-type: none;
    counter-reset: lis 1;
    li{
        counter-increment: lis;
        &::before{
            content: counter(lis)" ";
            font-size: 20px;
            color: #7B7B7B;
        }
    }
}

.light-gray{
    color: #7B7B7B !important;
}

.revenue-progress--list{
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

.progress{
    &-purple{
        .progress-bar{
            background-color: #925FD3 !important;
        }
    }
    &-cyan{
        .progress-bar{
            background-color: #00AABB !important;
        }
    }
}
.sales-filter{
    &__wrapper{
        position: relative;
    }
    &__value{
        position: absolute;
        top: 0;
    }
    &__month{
        input{
            color: transparent;
            position: relative;
            z-index: 1;
            background: transparent;
            border: 0;
            outline: none;
            padding: 0;
            max-width: 145px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.card-loader{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: rgba(255, 255, 255, 0.8) !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: 9 !important;
    .lds-ring,
    .lds-ring div{
        width: 50px;
        height: 50px;
    }

}

.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .next:not(.disabled):hover{
    background: transparent !important;
}

.tab-no-border{
    .nav-tabs{
        border-bottom : 0;
    }
}
.long-table{
    th.table-light{
        background-color: #ebedef !important;
    }
}
.b-table-sticky-header{
    max-height: 500px !important;
}
.collapse-delivery{
    i{
        transform: none;
        transition: all .2s ease-in-out;
    }
    &.collapsed{
        i{
            transform: rotate(-90deg);
        }
    }
}
.notvalid__model{
    &:hover{
        .notvalid__model{
            &--alert{
                visibility: visible;
                opacity: 1;
                top: -10px;
            }
        }
    }
    &--alert{
        position: absolute;
        z-index: 9;
        left: 0;
        top: -5px;
        border-radius: 3px;
        width: 445px;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
}

.break-word{
    white-space: pre-line;
}


.el-time-panel__content::after,
.el-time-panel__content::before{
    top: 53%;
}
.fc-title,
.fc-event{
    color: #fff !important;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-view,
.fc-view > table{
    z-index: 0 !important;
}
.fc-v-event{
    padding: 5px !important;
}

.popover-origin .popover-content-wrapper .popover-content.align-left:after{
    display: none !important;
}
.static{
    .list-group-item:hover{
        cursor: unset !important;
    }
}

.vdp-datepicker:not(.monthpicker__text-only){
    input{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c2c7cc;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        padding: 19px 16px;
        &:focus{
            outline: none !important;
        }
    }
}

.montpicker__input{
    .vdp-datepicker__calendar{
        top: 50px;
    }
}

.preview-svg{
    svg{
        max-height: 100%;
        max-width: 100%;
        border: none!important;
        background: #f3f6fd;
        display: block;
    }
}

.pointer-none{
    pointer-events: none !important;
}


.rounded{
    &-top{
        &-left{
            &--0{
                border-top-left-radius: 0;
            }
        }
        &-right{
            &--0{
                border-top-right-radius: 0;
            }
        }
    }
    &-bottom{
        &-left{
            &--0{
                border-bottom-left-radius: 0;
            }
        }
        &-right{
            &--0{
                border-bottom-right-radius: 0;
            }
        }
    }
}
.table-align-middle{
    td,th{
        vertical-align: middle !important;
    }
}
.table-rounded{
    thead{
        tr{
            th{
                border-top: 0;
                &:first-child{
                    border-left: 0;
                }
                &:last-child{
                    border-right: 0;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                &:first-child{
                    border-left: 0;
                }
                &:last-child{
                    border-right: 0;
                }
            }
            &:last-child{
                td{
                    border-bottom: 0;
                }
            }
        }
    }
}
.modal{
    overflow: auto;
    &-footer{
        *{
            margin: 0;
        }
    }
    &-open{
        overflow: hidden;
        @include media-xl{
            padding-right: 15px;
        }
    }
    &-content{
        border: 0;
        border-radius: 7px;
    }
}
.sticky-column{
    box-shadow: 1px 0 #ddd;
    z-index: 9;
}

.sticky-left{
    position: sticky;
    left: 0;
}

.destination{
    &__list{
        min-width: 330px;
        max-width: 330px;
        min-height: 180px;
        &--truck{
            min-width: 300px;
            max-width: 300px;
        }
    }
    &__wrapper{
        min-height: 100px;
        min-width: 300px;
    }
    &__truck{
        .destination__list{
            margin-left: 0 !important;
            margin-bottom: 1rem !important;
            min-width: 100% !important;
            max-width: 100% !important;
        }
    }
}
.table-sm td, .table-sm th {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.modal{
    overflow: auto;
    &-footer{
        *{
            margin: 0;
        }
    }
    &-open{
        overflow: hidden;
        @include media-lg{
            padding-right: 15px;
        }
    }
    &-content{
        border: 0;
        border-radius: 7px;
    }
}
.collapsible__wrapper:not(.collapsed){
    .fa-caret-right{
        transform: rotate(90deg);
    }
}

body{
    scroll-behavior: smooth;
}
.customer--link{
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification{
    &__icon{
        .fa-bell{
            font-size: 20px;
        }
        i{
            color: #C3C8CC;
        }
        .counter{
            position: absolute;
            top: -12px;
            right: -8px;
            border: 2px solid #fff;
            width: 20px;
            height: 20px;
            font-weight: 600;
        }
    }
    &__menu{
        position: absolute;
        background: #fff;
        z-index: 99;
        width: 350px;
        right: 0;
        padding: 20px;
        margin-top: 7px;
        transform: scale(.95);
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in-out;
        &--show{
            visibility: visible;
            opacity: 1;
            transform: none;
        }
        &--inner{
            max-height: 300px;
            min-height: 300px;
            overflow-y: auto;
        }
    }
    &__item{
        transition: .2s ease-in-out;
        &.is--read,
        &:hover{
            background-color: #F9F9F9;
        }
        border-bottom: 1px solid #efefef;
        &:last-child{
            border-bottom: 0;
        }
    }
    &__loading{
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(243,243,243,1));
        position: absolute;
        z-index: 99;
        bottom: 0;
        width: 96%;
        text-align: center;
    }
}

.pac-container{
    z-index: 9999 !important;
}

.delivery-routing{
    .rounded-lg{
        border-radius: 15px !important;
    }
}

.icon__move{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active{
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
.password.form-control.is-invalid {
    background-position: right calc(2.5em + 0.1875rem) center;
}


.break-word{
    white-space: break-spaces;
}
