.dropdown {
    &-toggle{
        &::after{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f078";
            font-size: 10px;
            margin-left: 6px;
            display: inline-block;
            border: 0;
            vertical-align: unset;
        }
    }
    .dropdown-menu {
        box-shadow: 1px 1px 5px 1px rgba(6, 6, 6, .15);
        border-radius: 7px;
        border: 0;
        padding: 7px 0;
        &.dropdown-border {
            .dropdown-item {
                color: $gray-600;
                padding: 10px 15px;
                &.active, 
                &:active,
                &:focus, 
                &:hover {
                    color: $gray-600;
                    background-color: $blue-light;
                }
                &:not(:last-child) {
                    border-bottom: solid $gray-400 1px;
                }
            }
        }
    }
    &__arrow{
        &--left{
            .dropdown{
                &-menu{
                    top: 5px !important;
                    left: 10px !important;
                    box-shadow: 0 0 25px 0 rgba(37, 36, 36, .2) !important;
                    &::before{
                        content: '';
                        display: block;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f0da";
                        font-size: 32px;
                        color: #fff;
                        position: absolute;
                        top: -24px;
                    }
                }
            }
        }
    }
    &__menu{
        &--lg{
            .dropdown-menu{
                min-width: 300px;
            }
        }
    }
    &__form{
        &.show{
            .dropdown-toggle{
                background-color: transparent;
            }
        }
        .dropdown-toggle{
            background: transparent;
            border: 1px solid #c2c7cc;
            display: flex;
            justify-content: space-between;
            &:hover,
            &:focus,
            &:active{
                background: transparent !important;
            }
        }
        &--sm{
            .dropdown-toggle{
                padding: 4px 10px;
                font-size: 10px;
            }
            .dropdown-item{
                padding: 0.25rem 1rem;
                font-size: 12px;
            }
        }
    }
    &__child{
        .dropdown-item{
            padding-left: 30px !important;
        }
    }
    &-item{
        &:active{
            color: #20262c !important;
            text-decoration: none;
            background-color: #f8f9fa !important;
        }
    }
}
.select--custom{
    height: auto;
    position: relative;
}
.select-wrapper{
    position: relative;
    .icon-right{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        z-index: 1;
        color:#c2c7cc;
        font-size: 16px;
        .fa-caret-down{
            transition: all .2s ease-in-out;
            transform: none;
        }
    }
    .form-control{
        padding-right: 40px;
        border: 1px solid #c2c7cc;
        &:focus{
            + .icon-right .fa-caret-down{
               transform: rotate(180deg) ;
           }

        }
        &::placeholder{
            color: #70767c;
        }
    }
}
.select-content{
    border: 1px solid #c2c7cc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 45px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    &__inner{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__items{
        padding: 12px 16px;
        color: #70767c;
        &.selected{
            background-color: #ff6a6a !important;
            color: #fff !important;
            &:hover{
                background-color: #ff6a6a !important;
            }
        }
        &.hovered{
            background-color: #f8f9fa !important;   
            color: #70767c !important;
        }
        &:hover{
            cursor: pointer;
            background-color: #f8f9fa;
        }
        &.selected{
            background-color: #f8f9fa;
        }
    }
}

.v-select{
    li > a{
        padding: 12px 16px!important;
        font-size: 13px!important;
    }
    .dropdown-menu{
        padding: 0 !important;
        box-shadow: none !important;
    }
    .dropdown-toggle{
        min-height: 120px;
        max-height: 120px;
        overflow-y: auto;
        padding: 10px !important;
        align-items: flex-start;
    }
    .open-indicator{
        display: none !important;
    }
    .selected-tag{
        font-size: 14px;
        background-color:$primary !important;
        border-color:$primary !important;
        color: #fff !important;
        padding: 3px 10px !important;
        justify-content: space-between;
    }
    .close{
        margin-left: 10px !important;
        text-shadow: none !important;
        opacity: 1 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        span{
            display: none !important;
        }
        &::before{
            content: "\F057";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-left: 10px;
            font-size: 12px;
            color: #fff;
        }
    }
} 


.dropdown-action{
    .dropdown-menu{
        padding-top: 10px;
        padding-bottom: 10px;
        li > .dropdown-item{
            padding: 0.35rem 1.5rem;
            &:active{
                div{
                    color: #fff !important;
                }
            }
        }
    }
}
.dropdown-menu{
    li{
        &.active{
            background-color: #f8f9fa;
        }
    }
}

.child-name{
    i.fa-chevron-right{
        font-size: 10px;
    }
}
.dropdown-discount{
    .dropdown-menu{
        min-width: 300px !important;
        max-height: 320px;
        overflow: auto;
    }
}
.dropdown.b-dropdown .b-dropdown-form:focus{
    outline: none !important;
}

.dropdown-item{
    white-space: normal;
    @include media-xl(){
        white-space: nowrap;
    }
}

.no-transition{
    .dropdown-menu{
        transition: none !important;
    }
}