$esl-blue: #478DF8;
$esl-purple: #857DFB;
$esl-cyan: #0DB3E3;
$esl-pink: #FE6FB3;
$esl-orange: #FFC372;

.esl{
    &__inidcator{
        transition: all .3s ease-in-out;
    }
    &__bg{
        &--blue{
            background-color: $esl-blue;
        }
        &--purple{
            background-color: $esl-purple;
        }
        &--cyan{
            background-color: $esl-cyan;
        }
        &--pink{
            background-color: $esl-pink;
        }
    }
    &__color{
        &--blue{
            color: $esl-blue;
        }
        &--orange{
            color: $esl-orange;
        }
    }
    &--loading{
        opacity: .7;
    }
    &__chart{
        &--wrapper{
            max-height: 450px;
            min-height: 450px;
        }
    }
}