// Icon
.icon {
	position: relative;
    
    >.fas,
    >.far {
        position: absolute;
        top: 0;
        padding: 13.5px;
        color: $gray-400;
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 1;
        transition: color 0.15s ease-in-out;
    }
    // Input
    .form-icon {
        &.focus,
        &:focus {
            + .fas,
            + .far {
                color: $blue;
            }
        }
    }
    // Table
    .table {
        + .fas,
        + .far {
            width: 25px;
            height: 25px;
            top: 14px;
            padding: 5.5px 6.5px;
        }
    }
    // Direction
    &-left {
        .table {
            + .fas,
            + .far {
                left: -12.5px;
            }
        }
        >.form-icon {
            padding-left: 40px !important;

            + .fas,
            + .far {
                left: 0px;
            }
        }
    }
    &-right {
        .table {
            + .fas,
            + .far {
                right: -12.5px;
            }
        }
        >.form-icon {
            padding-right: 40px !important;

            + .fas,
            + .far {
                right: 0px;
            }
        }
    }
}