.form-control {
  padding: 19px 16px;

  &.focus,
  &:focus {
    box-shadow: unset;
    border-color: $blue;
  }
  &::placeholder {
    color: $gray-400;
  }
}

.multiselect--disabled .multiselect__select {
  top: 1px;
  padding: 0px 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-editable {
  .form-control {
    &::placeholder {
      color: $blue !important;
    }
  }
}

.form-notes {
  &--note {
    position: absolute;
    max-width: 40%;
    padding: 15px;
  }
}
.ql {
  &-container {
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: "Montserrat", helvetica, arial, sans-serif !important;
  }
  &-toolbar {
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: "Montserrat", helvetica, arial, sans-serif !important;
  }
  &-editor {
    font-size: 14px !important;
  }
}
.is-invalid {
  .ql-container {
    border-color: #f44336 !important;
  }
  .ql-toolbar {
    border-color: #f44336 !important;
  }
}
.form-upload {
  padding: 8px 12px !important;
  height: 40px !important;
}

.select-product .multiselect__option .loaded {
  display: flex;
  flex-basis: 100%;
  align-items: flex-start;
}
.select-product .multiselect__content-wrapper {
  overflow-x: hidden;
}
.select-product .multiselect__option .loaded img {
  flex-basis: 30%;
  object-fit: contain;
}
.select-product .multiselect__option .loaded p {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 10px;
}
.select-product .multiselect__option .loaded p span {
  white-space: pre-wrap;
}
.radio__button {
  .btn-outline-secondary {
    &.active,
    &:hover {
      background-color: #fff !important;
      color: $primary !important;
      border-color: $primary !important;
    }
  }
}
.form-control--uppercase {
  text-transform: uppercase !important;
  &::placeholder {
    text-transform: none !important;
  }
}

.datepicker-disabled {
  pointer-events: none;
}
.form {
  &__spinner {
    button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0 !important;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0 !important;
      }
    }
  }
}
.input {
  &__check {
    position: relative;
    &--form {
      display: block;
      width: 100%;
      padding: 10px 16px;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c2c7cc;
      border-radius: 0.25rem;
    }
    &--filled {
      padding: 2px 16px;
    }
    &--menu {
      position: absolute;
      width: 100%;
      z-index: 99;
    }
  }
}

.custom__filter {
  .form-control {
    padding: 5px 10px;
    font-size: 10px;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    font-weight: 500;
    &:focus {
      border-color: #c2c7cc;
    }
  }
  .dropdown__datepicker {
    .dropdown-toggle {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .compared__text {
    font-size: 8px;
  }
  .vdp-datepicker {
    input {
      padding: 5px 10px !important;
      font-size: 10px !important;
      background: #fff;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: 0 !important;
      font-weight: 500 !important;
      height: calc(1.5em + 0.5rem + 2px) !important;
      cursor: pointer;
    }
    & > div:first-child() {
      &::after {
        content: "\f073";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        position: absolute;
        right: 7px;
        top: 3px;
        color: #c2c7cc;
      }
    }
  }
}

.vdp-datepicker {
  &__calendar {
    .prev {
      color: transparent;
      text-indent: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: "\f053";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        display: block;
        color: #2b333b;
        position: absolute;
        margin-left: 20px;
      }
      &::after {
        display: none;
      }
    }
    .next {
      color: transparent;
      text-indent: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        display: block;
        color: #2b333b;
        position: absolute;
        margin-right: 20px;
      }
      &::after {
        display: none;
      }
    }
  }
}

.vdp-datepicker {
  &__calendar {
    border-radius: 8px;
    background: #fff !important;
    position: absolute;
    top: 30px;
    padding: 10px;
    border: 1px solid #cbd5e0 !important;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
    &[style="display: none;"] {
      display: block !important;
      visibility: hidden;
      opacity: 0;
      transform: translateY(5px);
    }
    .cell {
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      &.selected {
        background: $primary !important;
        border-color: $primary !important;
        color: #fff !important;
      }
      &:not(.selected) {
        &:hover {
          border-color: #ccd6e04d !important;
          background: #ccd6e04d !important;
        }
      }
    }
  }
}
.monthpicker {
  &__right {
    .vdp-datepicker__calendar {
      right: 0;
    }
  }
  &--disabled {
    pointer-events: none;
    input {
      background-color: #f8f9fa !important;
    }
  }
}

.sb-radio {
  &__button {
    .btn {
      font-weight: normal;
      color: #85898c;
      border: 1px solid #c2c7cc;
    }
    .btn-outline-primary {
      &.active {
        background-color: rgba(0, 85, 192, 0.2) !important;
        border-color: $primary !important;
        color: $primary !important;
      }
      &:hover:not(.active) {
        background-color: transparent !important;
      }
    }
    .btn-group > .btn:not(:first-child),
    .btn-group > .btn-group:not(:first-child) {
      margin-left: 0;
    }
  }
}
.picture {
  &__upload {
    width: 65px;
    height: 65px;
    border: 1px solid $gray-300;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .icon__upload {
      color: $gray-300;
    }
    &--image {
      position: absolute;
      width: 65px;
      height: 65px;
      object-fit: cover;
      border-radius: 100%;
    }
    &--remove {
      background: $danger;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
    }
    &--download{
      position: absolute;
      bottom: 0;
      right: 0px;
      width: 20px;
      height: 20px;
      text-align: center;
      background: $primary;
      border-radius: 100%;
      &:hover,
      &:focus{
        background: $primary;
      }
    }
  }
}
.dropable-form{
  position: relative;
  .custom-file{
      min-height: 100px;
  }
  &--lg{
      .custom-file{
          min-height: 200px;
      }
  }
  .custom{
      &-file-label{
          background-color: #F9F9F9;
          border-style: dashed;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after{
              display: none;
          }
      }
      &-file-input{
          height: 100%;
      }
  }
  &__content{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
