.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1070;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content{
        max-width: 70%;
        position: relative;
    }
    &__next{
        position: absolute;
        right: -10%;
        top: 45%;
        z-index: 2;
    }
    &__prev{
        position: absolute;
        left: -10%;
        top: 45%;
        z-index: 2;
    }
    &__slider {
        overflow: hidden;
        position: relative;
        width: 600px;
        height: 600px;
    }
    &__image {
        max-width: 100%;
        max-height: 75vh;
        object-fit: contain;
    }
    &__close{
        color: #fff;
        font-size: 2.3rem;
        font-weight: 300;
        position: absolute;
        top: 0;
        z-index: 1;
        right: 15px;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
    }
    &__nav{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
