.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 135, 252, 0.6);
    z-index: 99999;
    overflow: hidden;
}

.loader {
    border: 15px solid transparent;
    border-top: 15px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 99999;
    margin: auto;
    left: -10px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;

    &-line {
        border: 5px solid white;
        border-radius: 50%;
        width: 240px;
        height: 240px;
        position: absolute;
        z-index: 99999;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spinner-wrapper{
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--top{
      align-items: start;
    }
}
.lds-ring {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 2px solid $primary;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color:$primary transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loading-bottom{
  background: linear-gradient(180deg, rgba(255,255,255,.7) 1%, rgba(255, 255, 255, 1) 75%);
}