.modal-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    border-radius: 0;

    &>.card-body {
        overflow-y: auto;
    }
    &>.card-header {
        min-height: 65px;
    }
}