.multiselect {
	&__tag {
		margin: 2px;
		background: $primary;
		span {
			color: $white;
		}
		&-icon{
			&::after{
				color: $white !important;
			}
			&:hover{
				background: $primary;
			}
		}
	}
	&__tags {
		min-height: 40px;
        padding: 6px 40px 0 8px;
        border: $gray-400 solid 1px;
	}
	&__select {
		top: 4px;
		padding: 0px 8px;

		&::before {
			color: $primary;
			border-color: $gray-400 transparent transparent;
			top: 55%;
		}
	}
	&__single {
		font-family: inherit;
		font-size: 13px;
		padding: 3px 0 0 8px;
		// color: $primary;
	}
	&__option {
		padding: 12px 16px;
		font-size: 13px;
		color: $gray-500;
		
		&--highlight {
			background-color: $light;

			&:after {
				background-color: $light;
				color: $gray-500;
			}
		}
    }
    &__placeholder {
        padding: 3px 0 0 8px;
        font-family: inherit;
        font-size: 13px;
        color: $gray-600;
    }
	&__input {
		padding: 2px 0 0 8px;
		font-family: inherit;
		font-size: 13px;

		&::placeholder {
			font-family: inherit;
			font-size: 13px;
			color: $gray-600;
		}
	}
	&--above {
		.multiselect__content-wrapper {
			border-top: $gray-400 solid 1px;
            border-bottom: $gray-400 solid 1px;
			border-left: $gray-400 solid 1px;
			border-right: $gray-400 solid 1px;
		}
	}
	&__content-wrapper {
        border-top: $gray-400 solid 1px;
		border-bottom: $gray-400 solid 1px;
		border-left: $gray-400 solid 1px;
		border-right: $gray-400 solid 1px;
	}
	&--disabled{
		opacity: 1 !important;
		.multiselect__tags,
		.multiselect__single{
			background: #ebedef;
		}
		.multiselect__select{
			display: none !important;
		}
	}
	&__spinner{
		background: transparent !important;
	}
	&--active{
		z-index: 99 !important;
	}
	&__group{
		.multiselect{
			&:not(.multiselect__group--no-indent){
				&__option:not(.multiselect__option--group){
					padding-left: 30px;
				}
			}
			&__option{
				&--group{
					&.multiselect__option--highlight{
						background: #ededed;
						color: #85898c;
					}
					font-weight: 600;
					display: flex;
					align-items: center;
					:not(.multiselect__option--group-selected){
						&::after{
							content: 'Deselect All';
							display: block;
							background: $red;
							padding: 0;
							line-height: unset;
							padding: 3px 10px;
							border-radius: 5px;
							font-size: 10px;
							color: #fff;
							position: unset;
							margin-left: 5px;
							opacity: 0;
							transition: all .2s ease-in-out;
						}
					}
					&::after{
						content: 'Select All';
						display: block;
						background: $primary;
						padding: 0;
						line-height: unset;
						padding: 3px 10px;
						border-radius: 5px;
						font-size: 10px;
						color: #fff;
						position: unset;
						margin-left: 5px;
						opacity: 0;
						transition: all .2s ease-in-out;
					}
					&:hover{
						&::after{
							opacity: 1;
							margin-left: 15px;
						}
					}
					&-selected{
						&::after{
							content: 'Deselect All';
							background: $red;
						}
					}
					span{
						&::after{
							display: none !important;
						}
					}
				}
			}
			&__select{
				margin-right: 5px;
			}
			&__tags{
				max-height: 100px;
				overflow-y: auto;
			}
		}
	}
	&--sm{
		min-height: 30px;
		&.multiselect{
			&--active{
				.multiselect{
					&__select{
						&::before{
							top: 70%;
						}
					}
				}
			}
		}
		.multiselect{
			&__single{
				font-size: 10px;
				padding-top: 0;
				margin-bottom: 0;
			}
			&__tags{
				min-height: 30px;
				padding-top: 4px;
			}
			&__select{
				height: 29px;
				&::before{
					border-width: 4px 4px 0;
				}
			}
			&__option{
				min-height: 30px;
				padding: 8px 15px;
				font-size: 10px;
			}
		}
	}
}


.select-content--expand{
	.multiselect__content-wrapper{
		width: unset !important;
	}
}

.select-product{
	.multiselect{
		&__option{
			&--selected{
				background-color: #f8f9fa;
				color: #85898c;
				font-weight: 400;
			}
		}
	}
}
