.my-notifications {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .my-notification {
        border-radius: 10px;
        min-height: 80px;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        &.urgent {
            border: 2px solid #F44336;
            &.active {
                background-color: #FDDFDD;
            }
        }

        &.high {
            border: 2px solid #FFC107;
            &.active {
                background-color: #FFF6DB;
            }
        }

        &.low {
            border: 2px solid #28A745;
            &.active {
                background-color: #E2F8E7;
            }
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                font-size: 14px;
                font-weight: 700;
                color: #3d464c;
            }
        }

        &__description {
            color: #0056B9;
            font-weight: 500;
            font-size: 14px;
        }

        &__date {
            color: #6A6A6A;
            font-weight: 400;
            font-size: 12px;
        }
    }
}
