.navbar{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include media-xl{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .dropdown-menu{
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform: translateY(7px);
    }
    .dropdown-menu.show{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .dropdown-item{
        padding: 6px 20px;
    }
    .child-name{
        position: relative;
        &:hover{
            .dropdown-inner__wrapper{
                visibility: visible;
                opacity: 1;
                transform: translateX(0)
            }
        }
    }
    .dropdown-inner{
        &__wrapper{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background: #fff;
            right: -190px;
            top: -6px;
            min-width: 163px;
            max-width: 163px;
            background-clip: padding-box;
            transition: all .2s ease-in-out;
            transform: translateX(-5px);
            box-shadow: 1px 1px 5px 1px rgba(6, 6, 6, .15);
            border-radius: 7px;
            border: 0;
            padding: 7px 0;
        }
    }
    &__top{
        .nav-link{
            padding: 0 1rem;
            @include media-xl{
                padding: .5rem 1rem;
            }
        }
    }
}
#logo {
    width: auto;
    max-height: 70px;
}
.nav-link{
    &__dropdown{
        color: rgb(110, 116, 122) !important;
        padding: 10px 15px !important;
    }
}
.user-icon{
    font-size: 20px;
}
.navbar-dark .nav-link{
    position: relative;
    display: block;
    color: rgba(255, 255, 255, .5);
    transition: all .2s ease-in-out;
    &::before{
        content: '';
        width: 10%;
        opacity: 1;
        transition: all .2s ease-in-out;
    }
    &.active{
        color: #fff;
    }
}
.navbar-dark .nav-link:hover::before,
.navbar-dark .nav-link.active::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 4px;
    background: #fff;
    left: 0;
    right: 0;
    bottom: -8px;
    margin: auto;
    display: none;
    @include media-xl(){
        display: block;
    }
}

.search{
    &__card{
        position: absolute;
        width: 100%;
        z-index: 99;
        box-shadow: 1px 1px 5px 1px rgba(6, 6, 6, .15);
        max-height: 400px;
        overflow-y: auto;
    }
    &__list{
        &:hover{
            background-color: #f8f9fa;
        }
    }
    &__title{
        opacity: .6;
    }
}

.navbar__collapse{
    &--menu{
        background:#343a40;
        position: fixed;
        top: 0;
        z-index: 99999;
        height: 100%;
        width: 30%;
        box-shadow: 3px 1px 10px 0px rgba(68, 66, 66, .3);
        overflow-y: auto;
        visibility: hidden;
        transition: all .3s ease-in-out;
        transform: translateX(-100%);
    }
    &--backdrop{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
    }
    &.show{
        .navbar__collapse{
            &--menu{
                transform: none;
                visibility: visible;
            }
            &--backdrop{
                opacity: .5;
                visibility: visible;
            }
        }
    }
}