.notification-subcription {
    &__wrapper {
        background-color: #DDDDDD80;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        .content-subcription {
            .image {
                width: 65px;
                height: 55px;
            }
            .title {
                font-weight: 700;
                font-size: 14px;
                color: #000000;
                margin-bottom: 1rem;
            }
            .description {
                font-weight: 400;
                font-size: 12px;
                color: #000000;
                margin-bottom: 1rem;
            }
            .subcribe {
                font-weight: 600;
                font-size: 12px;
                color: #0056B9;
                margin-bottom: 1rem;
                cursor: pointer;
            }
        }
    }

}
