// Radio Switcher
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 15px;
    margin: 10px 0;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            + .slider {
                background-color: $cyan;

                &::before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    line-height: 35px;
                    text-align: center;
                    background-color: $teal;
                    color: rgb(247, 237, 237);
                    transform: translateX(26px);
                }
            }
        }
        &:focus {
            + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
        }
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    
    &::before {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        line-height: 35px;
        text-align: center;
        z-index: 3;
        position: absolute;
        height: 35px;
        width: 35px;
        left: 0px;
        bottom: -10px;
        background-color: $red;
        color: white;
        transition: .4s;
        border-radius: 50%;
    }
}