.rws{
    &__brand{
        &:last-child{
            border-bottom: 0 !important;
        }
        &--selected{
            .multiselect__tag-icon{
                &::after{
                    color: $white !important;
                }
                &:hover{
                    background: #186a92 !important;
                }
            }
        }
        &--progress{
            min-height: 300px;
        }
    }
    &__options{
        z-index: 9;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        &--wrapper{
            max-height: 200px;
            overflow: auto;        
        }
        &--item{
            &:last-child{
                margin-bottom: 0 !important;
            }
        }
    }
}
.card{
    &__rws{
        cursor: text;
    }
}
.modal{
    &__rws{
        &--warning{
            .modal{
                &-body{
                    padding-top: 0 !important;
                }
                &-header{
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}