.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $white;
    background-color: $gray-900;
    width: 240px;
    
    .nav-pills {
        &#profile {
            padding: 0px 16px 0px 24px;
        }
        .nav-link {
            font-weight: 500;
            color: $gray-500;
            padding: 0;
            border-radius: 0;
            padding: 11px 16px 11px 24px;
    
            &.active,
            &:hover {
                color: $white;
                background-color: $gray-800;
            }
        }
    }
    hr {
        background-color: $gray-500;
    }
}