.step{
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        width: 100%;
        border-top: 2px dashed #ddd;
        z-index: 1;
    }
    &__item{
        z-index: 2;
        &--circle{
            width: 25px;
            height: 25px;
            border-radius: 100%;
            transition: .2s ease-in-out;
            &-hover{
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}