.table {
    &-hover {
        tbody {
            tr {
                cursor: pointer;

                &:hover {
                    background-color: $blue-light;
                }
            }
        }
    }
    td,
    th {
        padding: 1rem;
        vertical-align: middle
    }
    thead {
        background-color: $gray-200;
    }
    &-header{
        &--fixed{
            thead{
                position: sticky;
                top: 0;
                z-index: 99;
            }
        }
    }
}

tfoot{
    tr{
        th{
            &::before{
                display: none !important;
            }
        }
    }
}

.table{
    &__custom{
        &--header{
            thead{
                tr:first-child{
                    th{
                        border-bottom: 0 !important;
                        padding-bottom: 0;
                    }
                }
                tr:last-child{
                    th{
                        border-top: 0 !important;
                    }
                }    
            } 
        }
    }
    &--align{
        &-top{
            td,th{
                vertical-align: top;
            }
        }
        &-middle{
            td,th{
                vertical-align: middle;
            }
        }
    }
    &-header{
        &--fixed{
            thead{
                position: sticky;
                z-index: 99;
            }
        }
    }
}

.table-hover{
    .b-table-details,
    .table-detail tr{
        background-color: unset !important;
        cursor: unset !important;
    }
}
.table-sm td, 
.table-sm th {
    padding: .3rem 1rem;
}
.py-table--sm{
    tbody{
        td,th{
            padding: .6rem 1rem;
        }
    }
}
