.nav-tabs {
    border-bottom: 1px solid $gray-300;

    .nav-item {
        margin: 0px 16px 0px 16px;

        .nav-link {
            font-weight: 600;
            color: $gray-600;
            padding: 11px 0 17px;
            border: unset;
            border-top-left-radius: unset;
            border-top-right-radius: unset;
            outline: none !important;

            &.active {
                color: $blue;
                border-bottom: 5px solid $blue;
            }
            &:not(.active) {
                &:hover {
                    color: $blue;
                    border-top: unset;
                    border-bottom: unset;
                    border-left: unset;
                    border-right: unset;
                }
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}