.timeline{
    &__outter{
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__items{
        position: relative;
        padding-bottom: 15px;
        &::before{
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            background: #2996cc;
        }
        &::after{
            content: '';
            background: #94CAE5;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 3px solid #2996cc;
            position: absolute;
            z-index: 2;
        }
        &-left,
        &-right{
            flex-basis: 50%;
        }
        &-left{
            padding-right: 30px;
        }
        &-right{
            padding-left: 30px;
            ul{
                padding-left: 15px;
            }
        }
    }
    &__single{
        .timeline{
            &__item{
                opacity: .5;
                transition: all .2s ease-in-out;
                &::before{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 100%;
                    background: #ddd;
                    position: absolute;
                    left: 17px;
                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
                &.active{
                    opacity: 1;
                    .timeline__count{
                        background-color: $primary;
                    }
                }
            }
            &__count{
                width: 36px;
                height: 36px;
                font-size: 14px;
                border-radius: 100%;
                border: 4px solid #fff;
                background: $secondary;
            }
        }
    }
}