.upload-file {
    width: 75px;
    height: 75px;
    border: 1px dashed gray;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__remove {
        position: absolute;
        color: white;
        top: 0;
        right: 5%;
        background-color: red;
        border-radius: 9999px;
        padding: 0 0.3rem;
        z-index: 5;
        cursor: pointer;
    }
    &__select {
        cursor: pointer;
    }
    &__image {
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        cursor: pointer;
    }
}
