.table__clone{
    &-header{
        .table-light, 
        .table-light > th, 
        .table-light > td{
            background-color: #fff;
            border-top: 0;
            &:hover{
                background-color: #fff;
            }
        }
    }
}
// Font Weight
.font-weight- {
    &300 {
        font-weight: 300;
    }
    &400 {
        font-weight: 400;
    }
    &500 {
        font-weight: 500;
    }
    &600 {
        font-weight: 600;
    }
    &700 {
        font-weight: 700;
    }
}

// Pointer
.pointer {
    cursor: pointer !important;
}

.resize-none{
    resize: none;
}

.line{
    &__modal{
        .modal{
            &-header{
                border-bottom: 0;
                padding: 1rem 1.5rem 0;
            }
            &-body{
                padding: 1rem 1.5rem;    
            }
            &-content{
                border: 0;
            }
        }
        .line{
            &__variant::before{
                margin-right: 10px;
            }
        }
    }
    &__wrapper{
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        &-lg{
            max-height: 65vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    &__variant{
        display: flex;
        align-items: center;
        &::before{
            content: '';
            width: 5px;
            border-radius: 3px;
            height: 50px;
            background-color: #ddd;
            display: block;
            margin-right: 10px;
        }
        &--small{
            &::before{
                height: 20px;
            }
        }
        &--alert{
            &::before{
                background-color: #FF6363;
            }
        }
        &--information{
            &::before{
                background-color: #3B96CC;
            }
        }
        &--visit-store{
            &::before{
                background-color: #17CED2;
            }
        }
        &--phone-call{
            &::before{
                background-color: #B36AE8;
            }
        }
    }
}
.badge-rounded{
    border-radius: 3px !important;
}
.icon-transition{
    transition: all .2s ease-in-out;
}
.table-top{
    td{
        vertical-align: top;
    }
}
.list-style-none{
    list-style: none;
}
.align-top{
    td{
        vertical-align: top;
    }
}
.disabled-row{
    opacity: .4;
}
.bg-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 99;
}

.font-family-bebas{
    font-family: 'Bebas Neue', cursive !important;
}

.shadow{
    &--success{
        box-shadow: 0 0 10px 1px rgba(40, 167, 69, .5) !important;
    }
    &--danger{
        box-shadow: 0 0 10px 1px rgba(244, 67, 54, .5) !important;
    }
}

.tooltip{
    &-custom{
        &--success{
            .tooltip{
                &-inner{
                    padding: 10px !important;
                    box-shadow: 0 0 6px 1px rgba(96, 150, 109, 0.4);
                }
            }
        }
    }
}
.placeholder{
    &--sm::placeholder{
        font-size: 12px;
    }
}

.card{
    &__delivery{
        min-height: 165px;
        max-height: 165px;
        max-width: 150px;
        @include media-xl {
            min-height: 200px;
            max-height: 200px;    
        }
        @include media(1367) {
            min-height: 240px;
            max-height: 240px;    
            max-width: 195px;
        }
        &--infomarks{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            @include media-xl(){
                font-size: 24px;
            }
        }
        &--text{
            font-size: .75rem;
            @include media(1367){
                font-size: 1rem;
            }
        }
        &--counter{
            font-size: 3rem;
            @include media(1367){
                font-size: 5.5rem;
            }
        }
    }
}
.dragable{
    &__card{
        &--icon{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: grab;
            z-index: 1;
            &:active{
                cursor: grabbing;
            }
        }
    }
}

.object-fit{
    &-cover{
        object-fit: cover;
    }
}

.row__sales{
    .column__sales{
        &:first-child(){
            border-right: 1px solid #d6d9dc;
            border-bottom: 1px solid #d6d9dc;
            @include media-xl{
                border-bottom: 0;
            }
        }
        &:nth-child(2){
            border-bottom: 1px solid #d6d9dc;
            @include media-xl{
                border-bottom: 0;
                border-right: 1px solid #d6d9dc;
            }
        }
        &:nth-child(3){
            border-right: 1px solid #d6d9dc;
        }
    }
}

.row__appointment{
    .column__appointment{
        &:first-child{
            border-right: 1px solid #d6d9dc;
        }
    }
}

.cursor{
    &-move{
        cursor: move;
    }
}

.border{
    &-sm{
        border-width: thin !important;
    }
    &-md{
        border-width: medium !important;
    }
    &-lg{
        border-width: thick !important;
    }
}

.badge{
    &-warning{
        &--light{
            background-color: $yellow-light;
            color: $yellow !important;
        }
    }
}

.border-dashed{
    border-style: dashed !important;
}