<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
            <div class="form-group mb-0">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon" placeholder="Search" v-model="search" v-width="'250px'" @input="handleSearch">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nuxt-link :to="{name: 'settings-delivery-settings-index-driver-add'}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Driver</nuxt-link>
        </div>
        <TableDriver @changePage="changePage" @changePerpage="changePerpage" />
    </div>
</template>

<script>
import TableDriver from '@/components/admin/table/TableDriver'
import {mapActions} from 'vuex'
import _ from 'lodash'
export default {
    transition: 'slide',
    layout: 'admin',
    components: {
        TableDriver
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('delivery/getDeliveryMethodRouting'),
            store.dispatch('driver/getDriversData', {page: 1, perpage: 10, search: null})
        ])
    },
    data: () => ({
        search: '',
        page: 1,
        perpage: 10
    }),
    methods: {
        ...mapActions({
            getDriversData : 'driver/getDriversData'
        }),
        changePerpage(value){
            this.page = 1
            this.perpage = value
            this.fetchDriversData()
        },
        changePage(value){
            this.page = value
            this.fetchDriversData()
        },
        fetchDriversData(){
            this.getDriversData({
                search: this.search,
                page: this.page,
                perpage: this.perpage
            })
        },
        handleSearch: _.debounce(function(){
            this.page = 1
            this.fetchDriversData()
        }, 500)
    }
}
</script>

<style>

</style>