<template>
	<div>
        <ScreenTimeout ref="screenTimeout" :message="message" v-if="$route.name != 'login'"/>
        <app-sidebar :store="store"/>
        <div class="section">
            <nuxt class="p-xl-5 p-4"/>
        </div>
        <AnnouncementModal />
        <MyNotifications />
        <OfflineStatus />
	</div>
</template>
<script>
    // Components
    import Sidebar from '@/components/layout/Sidebar.vue'
    import ScreenTimeout from '@/components/utilities/ScreenTimeout'
    import AnnouncementModal from '@/components/AnnouncementModal'
    import MyNotifications from '@/components/modal/MyNotifications'
    import OfflineStatus from '@/components/utilities/OfflineStatus'

    // Utils
    import { __titleCase } from "@/utils/kebab-case-to-snake-case.js";

    import {mapState, mapMutations } from 'vuex'

    export default {
        name: 'LayoutAdmin',
        head() {
            return {
                title: `${this.headTitle}`,
            }
        },
        data: () => ({
            message: ''
        }),
        created(){
            this.initialAnnouncement()
        },
        mounted() {
            if(this.$auth.loggedIn){
                localStorage.setItem('email-login', this.$auth.user.email)
            }
            Echo.private('logout')
            .listen('Logout', (e) => {
                this.message = e.data.message
                this.$refs.screenTimeout.showModalTimeOut()
            })
            this.watchPermissionUpdate()
            this.initialIntercom()
            this.listenLogoutUser()
            this.checkNetworkStatus()
        },
        watch:{
            '$route' : function(){
                if(this.$route.name != 'login'){
                    // this.$store.dispatch('orderSchedule/getDeliveryCounter')
                }

            }
        },
        computed:{
            ...mapState('store',{
                store : state => state.items
            }),
            headTitle() {
                const route = this.$route.path;
                const routeSplit = route.split('/').filter((route) => route !== '');

                return `${__titleCase(routeSplit[0]) === undefined ? `POS Slyman Brothers Appliance Centers of Missouri` : `${__titleCase(routeSplit[0])} - POS Slyman Brothers Appliance Centers of Missouri`}`
            }
        },
        components: {
            'app-sidebar': Sidebar,
            ScreenTimeout,
            AnnouncementModal,
            MyNotifications,
            OfflineStatus
        },
        methods: {
            ...mapMutations(['SET_LOGOUT_MESSAGE']),
            listenLogoutUser(){
                Echo.private(`logout-${this.$auth.user.user_id}`)
                .listen('LogoutUser', (e) => {
                    this.logout(e.message)
                })
            },
            async logout(message) {
                Echo.leave(`logout-${this.$auth.user.user_id}`)
                await this.$auth.logout()
                this.SET_LOGOUT_MESSAGE(message)
                this.$router.push('/login')
            }
        }
    }
</script>
