<template>
	<div>
		<ScreenTimeout ref="screenTimeout" :message="message" v-if="$route.name != 'login'"/>
		<nuxt/>
		<AnnouncementModal />
	</div>
</template>

<script>
	import {mapMutations} from 'vuex'	
	import ScreenTimeout from '@/components/utilities/ScreenTimeout'
	import AnnouncementModal from '@/components/AnnouncementModal'
 	export default {
		components: {
			ScreenTimeout,
			AnnouncementModal
		},
		data: () => ({
			message: ''
		}),
		created(){
            this.initialAnnouncement()
        },
		mounted() {
			if(this.$auth.loggedIn){
                localStorage.setItem('email-login', this.$auth.user.email)
            }
			Echo.private('logout')
            .listen('Logout', (e) => {
                this.message = e.data.message
                this.$refs.screenTimeout.showModalTimeOut()
            })
			this.watchPermissionUpdate()
			this.initialIntercom()
		},
		methods: {
			...mapMutations(['SET_LOGOUT_MESSAGE']),
            async logout(e) {
                await this.$auth.logout()
				this.$router.push('/login')
				this.SET_LOGOUT_MESSAGE(e.data)
            }
        }
	}
</script>
