<template>
    <section>
        <!-- <h3 class="font-weight-600 mb-0">Orders Schedule Delivery</h3> -->
        <b-alert :show="counter > 0" fade dismissible variant="info" class="mb-4">
            <div class="d-flex align-items-center">
                <img src="/icon/info-24px.svg" alt="" width="60">
                <div class="flex-row ml-3">
                    <h5 class="mb-1 font-weight-600 text-primary">Information</h5>
                    <p class="mb-0 text-primary">There are <b>{{counter}}</b> new deliveries since someone last exported CSV</p>
                </div>
            </div>
        </b-alert>
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="font-weight-600 mb-0">Deliveries</h3>
            <nuxt-link tag="a" :to="{name: 'deliveries-scan-out-index-scan'}" class="btn btn-primary" v-if="$route.name == 'deliveries-index'">Scan Out Inventory</nuxt-link>
        </div>
        <b-tabs v-model="tab" class="mt-4">
            <b-tab title="Deliveries" @click="$router.push({ name : 'deliveries-index'}); changeTab(0)" :active="$route.name === 'deliveries-index'"></b-tab>
            <b-tab v-if="isTabDeliveryRouting" title="Routing" @click="$router.push({ name : 'deliveries-index-routing'}); changeTab(1)" :active="$route.name === 'deliveries-index-routing'"></b-tab>
            <b-tab title="Scan Out Log" @click="$router.push({ name : 'deliveries-index-log'})" :active="$route.name == 'deliveries-index-log'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </section>
</template>
<script>
    import AdminTableDelivery from '@/components/admin/table/Delivery.vue'
    import ActionOrderSchedule from '@/components/admin/action/OrderSchedule.vue'

    import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'
    import Select from 'vue-multiselect'
    import Modal from '@/components/utilities/Modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import _ from 'lodash'
    export default {
        async asyncData({store, app}) {
            await Promise.all([
                // await store.dispatch('orderSchedule/getScheduleDeliveryFeed', {
                //     date: {
                //         start: new Date(),
                //         end: new Date()
                //     },
                //     delivery_method :'',
                //     perpage: 10,
                //     q: ''
                // }),
            store.dispatch('deliveryMethod/getDeliveryMethods',  {type : "all"}),
            store.dispatch('store/getStores', 'all'),
            await store.dispatch('store/getManagers')
            ])
            // let truck_data = await store.dispatch('truck/getTrucks', {type: 'all'})
            // return{
            //     trucks : truck_data.data,
            // }
            const settingsId = app.$auth.user.navigations.filter(
                (navigation) => navigation.name === "Deliveries"
            )[0].id;
            await store.dispatch("navigation/getNavigation", settingsId);
        },
        data() {
            return {
                date: {
                    start: new Date(),
                    end: new Date()
                },
                truck: '',
                trucks: [],
                truck_selected:'',
                delivery_method_id: null,
                delivery_method: '',
                search: null,
                action: false,
                perpage: 10,
                store_selected: '',
                sales_selected:'',
                sales: '',
                location: '',
            }
        },
        watch: {
            date() {
                this.generateScheduleDelivery()
            },
            location() {
                this.generateScheduleDelivery()
            },
            sales() {
                this.generateScheduleDelivery()
            }
            // truck() {
            //     this.generateScheduleDelivery(this.moment(this.date).format('Y-MM-DD'), this.truck)
            // }
        },
        computed:{
            ...mapState('orderSchedule', {
                page: state => state.page,
                fileUrl: state => state.fileUrl,
                previewFields: state => state.preview.fields,
                previewItems: state => state.preview.items,
                items_schedule_delivery: state => state.items_schedule_delivery,
                params: state => state.params,
                counter : state => state.countNewItem
            }),
            ...mapState('deliveryMethod', {
                deliveries: state => state.items
            }),
            ...mapState('delivery', {
                tab: state => state.tab,
            }),
            ...mapState('store', {
                stores: state => state.items,
                sales_person: state => state.sales_person,
            }),
            ...mapGetters({
                isTabDeliveryRouting: "navigation/isShowDeliveryRouting",
            }),
        },
        mounted() {
            this.setTab();
        },
        methods: {
            ...mapMutations('orderSchedule', ['SET_SCHEDULE_DELIVERY_PAGE', 'SET_PARAMS_DELIVERY']),
            ...mapMutations('delivery', ['SET_TAB']),
            ...mapMutations(['SET_LOADING_TABLE']),
            ...mapActions('truck', ['getTrucks']),
            setTab() {
                if (this.$route.name === 'deliveries-index') this.SET_TAB(0);
                if (this.$route.name === 'deliveries-index-routing' && this.isTabDeliveryRouting) this.SET_TAB(1);
                if (this.$route.name === 'deliveries-index-log') this.SET_TAB(2);
            },

            changeTab(tab) {
                this.SET_TAB(tab)
            },
            gotoPreview(){
                localStorage.setItem('params', JSON.stringify({
                        date: {
                            start: this.moment(this.date.start).format('Y-M-D'),
                            end: this.moment(this.date.end).format('Y-M-D')
                        },
                        location: this.store_selected ? this.store_selected : null,
                        sales: this.sales_selected ? this.sales_selected : null,
                        delivery_method: this.delivery_method ? this.delivery_method : null,
                        q: this.search
                    })
                )
                this.$router.push({
                    name: 'deliveries-preview',
                })
            },
            ...mapActions('orderSchedule', ['getScheduleDeliveryFeed','getCSV','getCSVAlt','downloadCSV', 'getDeliveryCounter']),
            generateScheduleDelivery() {
                this.SET_LOADING_TABLE(true)
                this.page == 1 ? this.getScheduleDeliveryFeed({
                    date: {
                        start: this.moment(this.date.start).format('Y-M-D'),
                        end: this.moment(this.date.end).format('Y-M-D')
                    },
                    // truck: truck,
                    delivery_method: this.delivery_method_id,
                    perpage: this.perpage,
                    location: this.location,
                    sales: this.sales,
                    q: this.search
                })
                .then(() => this.SET_LOADING_TABLE(false)):this.SET_SCHEDULE_DELIVERY_PAGE(1)
            },
            setPerpage(val){
                this.perpage = val
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                }
                this.delivery_method = null
                this.delivery_method_id = ''
                this.sales = ''
                this.location = ''
                this.sales_selected = ''
                this.store_selected = ''
                this.search = ''
                // this.truck = '',
                // this.truck_selected = null
            },
            filterDeliveryMethod(){
                this.delivery_method_id = this.delivery_method.delivery_method_id
                this.generateScheduleDelivery()
                // this.truck = this.truck_selected.truck_id
            },
            fillterSales(){
                this.sales = this.sales_selected.user_id
            },
            fillterStore(){
                this.location = this.store_selected.store_id
            },
            showAction(){
                this.action = true
            },
            asyncFind: _.debounce(function(val){
                this.generateScheduleDelivery()
            }, 800),
            getCsv(){
                this.getCSV(
                    {start: this.moment(this.date.start).format('Y-MM-DD'),
                    end: this.moment(this.date.end).format('Y-MM-DD'),
                    delivery_method: this.delivery_method_id,
                    location: this.location ? this.location : null ,
                    sales: this.sales ? this.sales : null,
                    q: this.search,
                    user_id: this.$auth.$state.user.user_id,
                    user_name: this.$auth.$state.user.fullname,
                    sales_person_name: this.sales_selected ? this.sales_selected.fullname : null,
                    delivery_method_name: this.delivery_method ? this.delivery_method.delivery_method_name : null,
                    location_name: this.store_selected ? this.store_selected.format_store_name : null,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.fileUrl,
                        start: this.moment(this.date.start).format('Y-MM-DD'),
                        end: this.moment(this.date.end).format('Y-MM-DD')
                    })
                    this.getDeliveryCounter()
                    this.generateScheduleDelivery()
                })
            },
            getCsvAlt(){
                this.getCSVAlt(
                    {start: this.moment(this.date.start).format('Y-MM-DD'),
                    end: this.moment(this.date.end).format('Y-MM-DD'),
                    delivery_method: this.delivery_method_id,
                    location: this.location ? this.location : null ,
                    sales: this.sales ? this.sales : null,
                    q: this.search
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.fileUrl,
                        start: this.moment(this.date.start).format('Y-MM-DD'),
                        end: this.moment(this.date.end).format('Y-MM-DD')
                    })
                })
            },
            fillterLocation(){
                this.location = this.location_selected.store_id
            },
        },
        components:{
            'admin-table-delivery': AdminTableDelivery,
            'app-select': Select,
            'app-action-order-schedule':ActionOrderSchedule,
            'app-modal' : Modal,
            'app-table': Table
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

