<template>
    <div v-if="data.length > 0">
        <h5 class="my-4">Reschedule Log</h5>
        <div class="rounded px-3 reschedule-log__wrapper">
            <div 
                class="py-3" v-for="(item, index) in data" :key="item.id"
                :class="{'border-bottom' : index != data.length - 1}">
                <p class="text-primary font-weight-600 mb-2"># {{item.order_no}}</p>
                <div class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-weight-600 mb-0">Model Number</p>
                            <p class="mb-2">- {{item.sku}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-weight-600 mb-0">Serial Number</p>
                            <p class="mb-2">- {{item.serial_number}}</p>
                        </div>
                    </div>
                    <p class="mb-0 font-weight-600">Reschedule Notes</p>
                    <p>{{item.note ? item.note: '-'}}</p>
                    <div class="bg-light rounded py-2 px-3 mt-2 d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-clock"></i>
                            <p class="mb-0 ml-2 font-weight-600">Rescheduled At</p>
                        </div>
                        <p class="mb-0 ml-auto d-flex align-items-center">
                            <span>{{item.date}}</span>
                            <i class="fas fa-circle dot-icon mx-1"></i>
                            <span>{{item.time}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'RescheduleLog',
    props: {
        data: {
            type: Array,
            default: []
        }
    }
}
</script>
<style lang="scss" scoped>
.dot-icon{
    font-size: 3px;
}
</style>