<template>
    <div class="border rounded px-3 py-4 w-100 bg-white" :class="`truck-${data.color}`">
        <div class="d-flex justify-content-end mt-n2 mb-2" v-if="data.is_completed != 0">
            <div class="bg-success rounded py-1 small text-white px-2">
                Completed <span class="fas fa-check-circle ml-1" /> 
            </div>
        </div>
        <div class="mb-2 small">
            <p class="mb-0 font-weight-600">Start</p>
            <p class="mb-0">{{data.start_address}}</p>
        </div>
        <div class="row mb-2">
            <div class="col-6 small">
                <p class="mb-0 font-weight-600">Total Time</p>
                <p class="mb-0">{{routeChange || data.total_time === '' ? '-' : data.total_time}}</p>  
            </div>
            <div class="col-6 small">
                <p class="mb-0 font-weight-600">Actual Time</p>
                <p class="mb-0">{{data.actual_time ? data.actual_time : '-'}}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 small">
                <p class="mb-0 font-weight-600">Total Distance</p>
                <p class="mb-0">{{routeChange ? '-' : data.total_distance.toFixed(2)}} Miles</p>  
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object
        },
        routeChange: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style>

</style>