<template>
    <div>
        <BackLink :link="{name: 'settings-announcement'}" :title="$route.params.id ? 'Edit Announcement' : 'Add Announcement'" />
        <div class="card-default">
            <app-form-announcement ref="formAnnouncement" />
            <div class="d-flex align-items-center justify-content-end">
                <button class="btn btn-danger mr-3" @click="showModalDelete" v-if="$route.params.id">Delete</button>
                <button class="btn btn-primary" @click="save" :disabled="isLoading">
                    <span class="mx-2" v-if="isLoading">
                        <b-spinner variant="light" small />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>
        <app-modal title="Delete Announcement" size="lg" @hide="showModalDelete" :show="modalDelete">
            <h5>Are you sure want to delete this announcement ?</h5>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-danger mr-3" @click="destroyAnnouncement">Delete</button>
                    <button class="btn btn-outline-primary" @click="showModalDelete">Cancel</button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import FormAnnouncement from '@/components/form/Announcement'
import BackLink from '@/components/utilities/BackLink'
import Modal from '@/components/utilities/Modal'
import {mapActions} from 'vuex'
export default {
    data(){
        return {
            modalDelete : false,
            isLoading: false
        }
    },
    transition: 'slide',
    layout: 'admin',
    components : {
        'app-form-announcement' : FormAnnouncement,
        'app-modal' : Modal,
        BackLink
    },
    methods:{
        ...mapActions('announcement', ['deleteAnnouncement']),
        destroyAnnouncement(){
            this.deleteAnnouncement(this.$route.params.id)
            .then( () =>{
                this.$router.push({name : 'settings-announcement'})
                this.showModalDelete()
            })
        },
        showModalDelete(){
            this.modalDelete = !this.modalDelete
        },
        save(){
            this.isLoading = true
            this.$refs.formAnnouncement.submit()
            .then(() => {
                this.isLoading = false
            })
        }
    }
}
</script>
<style lang="scss">

</style>