<template>
    <div>
        <back-link title="Changelog" @goBack="goBack" />
        <div class="card-default">
            <b-tabs class="tab-no-border" content-class="mt-3">
                <b-tab title="Quote" @click="gotoQuote"></b-tab>
                <b-tab title="Changelog" active></b-tab>
            </b-tabs>
            <div class="border rounded p-4">
                <h4 class="mb-4">Latest Changelog</h4>
                <app-timeline />
            </div>
        </div>
    </div>
</template>

<script>
import BackLink from "@/components/utilities/BackLink";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";

export default {
    name: "ChangelogOnline",
    data() {
        return {
            routeQuote: null,
        };
    },
    methods: {
        gotoQuote() {
            this.$router.push({
                name: "online-quotes-id",
                params: { id: this.$route.params.id },
            });
        },
        goBack() {
            this.getHistoryQuote().then(() => {
                this.$router.push({ name: this.routeQuote });
            });
        },
        getHistoryQuote() {
            return new Promise((resolve, reject) => {
                this.routeQuote = localStorage.getItem(
                    "history-route-online-quotes"
                );
                resolve();
            });
        },
    },
    components: {
        "app-modal": Modal,
        "back-link": BackLink,
    },
};
</script>
