<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0" tag="a" to="/">&times;</router-link>
            <h2 class="mb-0">Change Location</h2>
            <div>
                <a href="#" class="btn btn-primary mr-3" @click.prevent="submit">Save</a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <app-form-change-location @newlocation="getLocation" ref="form" />
            </div>
        </div>
    </div>
</template>

<script>

    import ChangeLocation from '@/components/form/ChangeLocation.vue'

    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import { mapActions } from 'vuex'

    export default {
        components: {
            'app-modal': Modal,
            'app-form-change-location': ChangeLocation,
        },
        methods: {
            ...mapActions('dashboard', ['changeStoreLocation']),
            submit() {
                this.$refs.form.submit()
            },
            getLocation(val) {
                if (val) {
                    this.changeStoreLocation(val).then(() => {
                        this.$router.push({ name: 'index' })
                    })
                }
            }
        }
    }
</script>