<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0" tag="a" :to="{ name: 'quotes-create' }">&times;</router-link>
            <h2 class="mb-0 mr-auto ml-auto">Choose Customer</h2>
            <!-- <div>
                <a href="#" class="btn btn-primary mr-3" @click.prevent="submit">Save</a>
            </div> -->
        </div>
        <div class="card-body">
            <div class="container">
                <div class="form-group">
                    <label for="#">Search Customer Name</label>
                    <input type="text" class="form-control" placeholder="Customer Name">
                </div>
                <app-table :items="items" :fields="fields" class="table-customer--wrapper">
                    <template slot="action" slot-scope="row">
                        <p-check class="p-default p-curve p-thick p-smooth p-bigger" :key="row" color="primary-o" v-model="checked"></p-check>
                    </template>
                    <template slot="customer" slot-scope="row">
                        <div>
                            <b-btn v-b-toggle.collapse2 class="m-1" :key="row">Jake Smith</b-btn>
                            <b-collapse id="collapse2" class="mt-3">
                                <b-card>
                                    <app-form-customer />
                                </b-card>
                            </b-collapse>
                        </div>
                    </template>
                </app-table>
            </div>
        </div>
    </div>
</template>

<script>

    import FormChooseCustomer from '@/components/form/Customer.vue'

    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    export default {
        data(){
            return{
                fields: [ 'action', 'customer'],
                items: [
                    { action: '', customer: ''},
                ],
                checked:false
            }
        },
        components: {
            'app-modal': Modal,
            'app-form-customer': FormChooseCustomer,
            'p-check': PrettyCheck,
            'app-table':Table
        }
    }
</script>
<style lang="scss">
.table-customer--wrapper th:first-child{
    width: 100px !important;
}
.table-customer--wrapper .btn-secondary,
.table-customer--wrapper .btn-secondary:active{
    background: transparent !important; 
    color: #2996cc !important;
    border: 0;
    padding: 0;
}
.table-customer--wrapper .btn-secondary:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.table-customer--wrapper{
    .btn-secondary:not(:disabled):not(.disabled):active:focus, 
    .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > 
    .btn-secondary.dropdown-toggle:focus{
        box-shadow: none !important;
    }
}
</style>
