<template>
    <div>
        <back-link v-if="edit" title="Edit Customer" @goBack="$router.push({name: 'customers-index-individual'})" />
        <back-link v-else-if="show" title="Customer Detail" @goBack="goBack()" />
        <back-link v-else title="Create a Customer" @goBack="goBack()" />
        <div class="card-default">
            <div class="text-right mb-4" v-if="$route.name != 'customers-create'">
                <button
                    v-if="show"
                    class="btn btn-danger"
                    @click="
                        showModalCustomerDelete(
                            customer.data.id,
                            customer.data.firstName,
                            customer.data.lastName
                        )
                    "
                >
                    Archive
                </button>
                <button
                    v-if="show && $auth.$state.user.is_sales_person"
                    class="btn btn-primary"
                    @click="addQuote"
                    :disabled="isCreatingQuote"
                >
                    <b-spinner
                        v-if="isCreatingQuote"
                        variant="light"
                        class="mx-3"
                        small
                    />
                    <span v-else>New Quote</span>
                </button>
                <button v-if="show" class="btn btn-primary" @click="actionEdit">
                    Edit Customer
                </button>
            </div>
            <app-form-customer
                :validated="validated"
                @validating="validation"
                ref="formCustomer"
                :data="customer.data"
                v-bind="bind"
            />
            <div class="text-right">
                <button
                    v-if="!show"
                    href="javascript:void(0)"
                    class="btn btn-primary"
                    @click="submit"
                    :disabled="saveLoading"
                >
                    <span class="mx-2" v-if="saveLoading">
                        <b-spinner variant="light" small />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>

        <app-modal
            size="lg"
            title="Archive Customer"
            centered
            @hide="closeModalCustomerDelete"
            :show="modalCustomerDelete"
        >
            <div v-if="countRelated > 0">
                <b-alert variant="danger" class="p-4" show>
                    <h5 class="mb-0 text-center font-weight-normal">
                        This customer is already connected with some quotes or
                        orders
                    </h5>
                </b-alert>
            </div>
            <div v-else>
                <template>
                    <h5>
                        Are you sure to delete customer
                        <span class="content-txt"
                            >{{ customer.data.firstName }}
                            {{ customer.data.lastName }}</span
                        >
                        ?
                    </h5>
                </template>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button
                        class="btn btn-danger mr-3"
                        @click="deleteCustomer"
                        :disabled="countRelated > 0"
                    >
                        Archive
                    </button>
                    <button
                        class="btn btn-primary"
                        @click="closeModalCustomerDelete"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FormCustomer from "@/components/form/Customer.vue";
import BackLink from "@/components/utilities/BackLink.vue";
import Modal from "@/components/utilities/Modal";

export default {
    data() {
        return {
            id: "",
            modal: {
                delete: false,
            },
            validated: null,
            modalCustomerDelete: false,
            isCreatingQuote: false,
            saveLoading: false            
        };
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        edit: {
            type: Boolean,
            default: false,
        },
        quotes: {
            type: Boolean,
            default: false,
        },
        isFromQuoteOrder: {
            type: String,
        },
    },
    computed: {
        ...mapState("customer", {
            customer(state) {
                return {
                    data: state.data,
                    errors: state.errors,
                    creditLimit: state.creditLimit,
                };
            },
        }),
        ...mapState("userMode", {
            user_mode: (state) => state.user_mode,
        }),
        bind() {
            if (this.show) {
                return {
                    show: true,
                };
            } else if (this.edit) {
                return {
                    edit: true,
                };
            }
        },
        countRelated() {
            if (this.edit == false && this.show == false) {
                return 0;
            } else if (this.edit) {
                return 0;
            } else {
                return (
                    this.customer.data.quotes.length +
                    this.customer.data.orders.length +
                    this.customer.data.quote_request.length +
                    this.customer.data.check_in.length
                );
            }
        },
    },
    methods: {
        ...mapActions("customer", [
            "postCustomer",
            "putCustomer",
            "destroyCustomer",
        ]),
        ...mapActions("quote", ["createQuote"]),
        ...mapActions("changelog", ["postChangelog"]),
        addQuote() {
            this.isCreatingQuote = true;
            let data = {
                customer_code: this.$route.params.id,
                expiration_date: 14,
                ship_is_different: false,
                store: {
                    store_id: this.$auth.$state.user.default_store,
                },
                user: {
                    user_id: this.$auth.$state.user.user_id,
                },
            };
            this.createQuote(data).then((response) => {
                this.createQuoteChangelog(response.quote_no);
                this.$router.push({
                    name: "my-quotes-edit-id",
                    params: { id: response.quote_no },
                });
                this.isCreatingQuote = false;
            });
        },
        createQuoteChangelog(quoteNo) {
            return new Promise((resolve, reject) => {
                this.postChangelog({
                    order_no: quoteNo,
                    user_id: this.$auth.$state.user.user_id,
                    type: 0,
                    note: `Quote <span class="text-primary">${quoteNo}</span> created`,
                }).then(() => {
                    resolve();
                });
            });
        },
        validation(e) {
            this.validated = e;
        },
        actionEdit() {
            this.$router.push({
                name: "customers-edit-id",
                params: { id: this.$route.params.id },
            });            
        },
        submit() {
            this.$refs.formCustomer.submit().then(() => {
                this.saveLoading = true
                if (!this.$route.params.id) {                    
                    this.postCustomer({
                        type: "create",
                        customer_code: "",
                    }).then((res) => {
                        if (
                            typeof res.error == "undefined" &&
                            this.customer.errors == null
                        ) {                           
                            this.$router.push({ name: "customers-index-individual" });
                            this.saveLoading = false
                        }
                    });
                } else {
                    this.putCustomer({
                        type: "edit",
                        customer_code: this.$route.params.id,
                    }).then((res) => {
                        if (res.status == "success") {
                            this.$router.push({ name: "customers-index-individual" });
                            this.saveLoading = false
                        }
                    });
                }
            });
        },
        showModalCustomerDelete(id, firstName, lastName) {
            (this.id = id), (this.modalCustomerDelete = true);
        },
        closeModalCustomerDelete() {
            this.modalCustomerDelete = false;
        },
        deleteCustomer() {
            if (this.countRelated == 0) {
                this.destroyCustomer(this.id).then(() => {
                    this.modalCustomerDelete = false;
                    this.goBack();
                });
            }
        },
        goBack() {
            if (this.$route.name != "customers-create") {
                let routeFrom = localStorage.getItem("history-route-from");
                if (routeFrom) {
                    if (routeFrom.includes("customers-detail-id"))
                        this.$router.push({
                            name: "customers-index-individual",
                        });
                } else {
                    if (this.isFromQuoteOrder.length > 0)
                        this.$router.push(this.isFromQuoteOrder);
                    else
                        this.$router.push({
                            name: localStorage.getItem(
                                "history-route-customer"
                            ),
                        });
                }
            } else {
                this.$router.push({ name: "customers-index-individual" });
            }
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-customer": FormCustomer,
        "back-link": BackLink,
    },
};
</script>
