<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <!-- <router-link class="h1 font-weight-300 mb-0" tag="a" :to="backLink">&times;</router-link> -->
            <a href="#" @click="goBack" class="h1 font-weight-300 mb-0">&times;</a>
            <h2 class="mb-0 ml-auto mr-auto" v-if="edit">Edit Customer</h2>
            <h2 class="mb-0 ml-auto mr-auto" v-else-if="show">Customer</h2>
            <h2 class="mb-0 ml-auto mr-auto" v-else>Create a Customer</h2>
            <button class="btn btn-danger mb-0 mr-2" @click="showModalCustomerDelete(customer.data.id, customer.data.firstName, customer.data.lastName)">Archive</button>
            <button class="btn btn-primary ml-2" v-if="show" @click="actionEdit">Edit</button>
            <a href="#" class="btn btn-primary d-block" @click.prevent="submit" v-if="!show">Save</a>
        </div>
        <div class="card-body">
            <div class="container">
                <app-form-customer :validated="validated" @validating="validation" ref="formCustomer" :data="customer.data" v-bind="bind"/>
            </div>
        </div>

        <app-modal size="lg" title="Delete Customer" centered @hide="closeModalCustomerDelete" v-model="modalCustomerDelete">
            <template>
                <h5>Are you sure to delete customer <span class="content-txt">{{ customer.data.firstName }} {{ customer.data.lastName }}</span> ?</h5>        
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger mr-3" @click="deleteCustomer" :disabled="countRelated > 0">Archive</button>
                    <button class="btn btn-primary" @click="closeModalCustomerDelete">Cancel</button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import FormCustomer from '@/components/form/CustomerCreditLine.vue'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        created() {
            // let user_mode = this.$auth.$state.user.is_admin ? 'admin' : 'user'
            // this.user_mode == null ? this.SET_USER_MODE(user_mode) : ''
            // this.backLink = this.user_mode == 'admin' ? { name: 'admin-customers-individual' } : { name: 'customers-individual' }
        },
        data() {
            return {
                id: '',
                modal: {
                    delete: false
                },
                validated: null,
                modalCustomerDelete: false,
                // backLink: null
            }
        },
        props: {
            show: {
                type: Boolean,
                default: false
            },
            edit: {
                type: Boolean,
                default: false
            },
            quotes: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('customer', {
                customer(state) {
                    return {
                        data: state.data,
                        errors: state.errors,
                        creditLimit : state.creditLimit
                    }
                }
            }),
            ...mapState('userMode', {
                user_mode : state => state.user_mode
            }),
            bind() {
                if(this.show) {
                    return {
                        show: true
                    }
                } else if(this.edit) {
                    return {
                        edit: true
                    }
                }
            },
            countRelated() {
                if( this.edit == false && this.show == false){
                    return 0
                } else if (this.edit){
                    return 0
                }else{
                    return this.customer.data.quotes.length + this.customer.data.orders.length + this.customer.data.quote_request.length + this.customer.data.check_in.length
                }
            }
        },
        methods: {
            ...mapActions('customer', [
                'postCustomer', 'putCustomer', 'destroyCustomer'
            ]),
            // ...mapMutations('userMode', ['SET_USER_MODE']),
            validation(e){
                this.validated = e
            },
            actionEdit(){
                this.$router.push({ name: 'customers-edit-id', params: { id: this.$route.params.id }})
                // this.edit = true
            },
            submit() {
                this.$refs.formCustomer.submit().then(() => {
                    if (typeof this.$route.params.id == 'undefined') {
                        // if (this.validated){
                            this.postCustomer({
                                type: 'create',
                                customer_code: ''
                            }).then((res) => {
                                if (typeof res.error == 'undefined' && this.customer.errors == null) {
                                    // this.postCreditLimit({
                                    //     customer_code: res.customer_code, 
                                    //     term: this.customer.creditLimit.term, 
                                    //     credit_limit: this.customer.creditLimit.credit_limit })
                                    // .then(this.goBack())
                                    this.goBack()
                                }
                            })
                        // }
                    // } else if (this.validated){
                    } else {
                        this.putCustomer({
                            type: 'edit',
                            customer_code: this.$route.params.id
                        }).then((res) => {
                            if (res.status == 'success') {
                                // this.editCreditLimit({
                                //     customer_code: this.$route.params.id,
                                //     term: this.customer.creditLimit.term, 
                                //     credit_limit: this.customer.creditLimit.credit_limit })
                                // .then(this.goBack())
                                this.goBack()
                            }
                        })
                    }
                })
            },
            showModalCustomerDelete(id, firstName, lastName){
                this.id = id,
                this.modalCustomerDelete= true;
            },
            closeModalCustomerDelete(){
                this.modalCustomerDelete= false;
            },
            deleteCustomer(){
                if (this.countRelated == 0) {
                    this.destroyCustomer(this.id).then(() => {
                        this.modalCustomerDelete= false;
                        this.goBack()
                    })
                }
            },
            goBack() {
                this.$router.push({ name: localStorage.getItem('history-route-customer') })
                // this.$router.push(this.link) 
            },
        },
        components: {
            'app-modal': Modal,
            'app-form-customer': FormCustomer,
        }
    }
</script>