<template>
    <div>
        <BackLink title="Preview CSV" :link="{name: 'deliveries-index'}" />
        <div class="card-default position-relative">
            <transition name="fade" mode="out-in">
                <div class="py-4" key="1" v-if="isLoading">
                    <CardLoader />  
                </div>
                <div v-else key="2">
                    <div class="text-right mb-4">
                        <button class="btn btn-primary" @click="getCsv" :disabled="loadingExport">
                            <div class="px-4" v-if="loadingExport">
                                <b-spinner class="align-middle" small></b-spinner>
                            </div>
                            <span v-else>Export CSV</span>
                        </button>
                    </div>
                    <div class="row" v-if="previewMeta">
                        <div class="col-md-6">
                            <p>Date : <b>{{moment(params.date.start).format('MM/DD/YYYY')}} - {{moment(params.date.end).format('MM/DD/YYYY')}}</b></p>
                            <p>Sales Person : {{params.sales ? params.sales.fullname : '-'}}</p>
                            <p>Delivery Method : {{params.delivery_method ? params.delivery_method.delivery_method_name : '-'}}</p>
                            <p>Location : {{params.location ? params.location.store_name : '-'}}</p>
                            <p>Search : {{params.q ? params.q : '-'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>Total Stops : <b>{{previewMeta.total_order}}</b></p>
                            <p>Total Pieces : <b>{{previewMeta.total_data}}</b></p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <app-table-preview v-if="previewMeta" />
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import TablePreview from '@/components/table/PreviewCsv'
import BackLink from '@/components/utilities/BackLink'
import CardLoader from '@/components/utilities/CardLoader'
import {mapState, mapActions} from 'vuex'

export default {
    data: () => ({
        loading: false,
        params: null,
        loadingExport: false
    }),
    computed:{
        ...mapState('orderSchedule', {
            previewMeta : state => state.preview.meta,
            fileUrl: state => state.fileUrl,
        })
    },
    beforeMount(){
        let data = JSON.parse(localStorage.getItem('params'))
        this.params = data
    },
    props: {
        isLoading: {
            type: Boolean,
            default: false
        }
    },
    methods:{
        ...mapActions('orderSchedule', ['getCSV','downloadCSV', 'getDeliveryCounter']),
        goBack(){
            localStorage.removeItem('params')
            this.$router.push({name: 'deliveries-index'})
        },
        getCsv(){
            this.loadingExport = true
            this.getCSV({
                start: this.moment(this.params.date.start).format('Y-MM-DD'),
                end: this.moment(this.params.date.end).format('Y-MM-DD'),
                delivery_method: this.params.delivery_method ? this.params.delivery_method.delivery_method_id : null,
                location: this.params.location ? this.params.location.store_id : null,
                sales: this.params.sales ? this.params.sales.user_id : null,
                user_id: this.$auth.$state.user.user_id,
                user_name: this.$auth.$state.user.fullname,
                sales_person_name: this.params.sales ? this.params.sales.fullname : null,
                delivery_method_name: this.params.delivery_method ? this.params.delivery_method.delivery_method_name : null,
                location_name: this.params.location ? this.params.location.format_store_name : null,
                q: this.params.q ? this.params.q : null    
            })
            .then((res) => {
                this.downloadCSV({
                    url: this.fileUrl,
                    start: this.moment(this.params.date.start).format('Y-MM-DD'),
                    end: this.moment(this.params.date.end).format('Y-MM-DD')
                })
                this.loadingExport = false
                this.getDeliveryCounter()
            })
        }
    },
    components: {
        'app-table-preview': TablePreview,
        BackLink,
        CardLoader
    }
}
</script>
<style lang="scss" scoped>
    // .card-preview{
    //     &--csv{
    //         min-height: 50vh;
    //     }
    // }
</style>