<template>
    <app-modal size="lg" title="Haul Away" centered @hide="closeModalHaulAway" :show="modalHaulAway">
        <h5>How many pieces will be hauled away ?</h5>
        <div class="form-group">
            <input type="number" @keypress="isNumber" min="0" class="form-control" v-model="haulItem" placeholder="Enter amount">
            <!-- <p class="text-danger" v-if="haulItem > totalQty">Please input amount less than or equal than quantity</p> -->
        </div>
        <div slot="modal-footer" class="w-100">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-3" @click="submit">Save</button>
                <button class="btn btn-outline-primary" @click="closeModalHaulAway">Cancel</button>
            </div>
        </div>
    </app-modal>
</template>
<script>
import Modal from '@/components/utilities/Modal'
export default {
    components:{
        'app-modal': Modal,
    },
    data(){
        return{
            haulItem: 0,
            modalHaulAway : false,
        }
    },
    props: {
        quoteHaul: {
            type: Number,
            required: true,
            default: 0
        },
        totalQty: {
            type: Number,
            required: true,
            default: 0
        }
    },
    methods:{
        showModalHaulAway(val){
            this.haulItem = val
            this.modalHaulAway= true;
        },
        closeModalHaulAway(){
            if (this.quoteHaul == 0){
                this.$emit('closed')
            }
            this.haulItem = 0
            this.modalHaulAway = false;
        },
        submit() {
            // if (this.haulItem <= this.totalQty) {
                this.$emit('haulItem', parseInt(this.haulItem))
                // this.closeModalHaulAway()
                this.haulItem = 0
                this.modalHaulAway = false;
            // }
        }
    }
}
</script>

