<template>
    <div>
        <back-link title="Kitchen Uploads" @goBack="$router.go(-1)" />
        <div class="card-default">
            <b-card class="mb-3 mt-0 p-3">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <h5 class="mb-3">User Information</h5>
                        <div class="d-flex align-items-center mb-2">
                            <i class="far fa-user-circle mr-2"></i>
                            <h6 class="mb-0">{{ items.name }}</h6>
                        </div>
                    </div>
                    <div
                        class="col-md-4"
                        v-if="items.status_label != 'Pending'"
                    >
                        <div class="form-group mb-0 mr-0 float-right">
                            <no-ssr
                                ><app-select
                                    v-model="status"
                                    v-width="'230px'"
                                    :options="status_option"
                                    :close-on-select="true"
                                    :hide-selected="true"
                                    :preserve-search="false"
                                    placeholder="Status"
                                    label="status_label"
                                    track-by="status"
                                    :preselect-first="false"
                                    @input="changeStatus($event)"
                                >
                                </app-select
                            ></no-ssr>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="far fa-envelope mr-2"></i>
                    <h6 class="mb-0">{{ items.email }}</h6>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    <h6 class="mb-0">{{ items.city }}</h6>
                </div>
            </b-card>
            <b-card class="p-3">
                <h5 class="mb-4">User Photo</h5>
                <div class="row" v-if="items.status != 1">
                    <div
                        class="col-md-3"
                        v-for="(image, i) in items.owner"
                        :key="i"
                    >
                        <div
                            class="kitchen-uploads--img mb-4"
                            :style="{
                                'background-image':
                                    'url(' + image.url_image + ')',
                            }"
                            @click="setImageSelected(image.url_image)"
                        ></div>
                    </div>
                </div>
                <div class="row mt-4" v-else>
                    <div class="col-md-12">
                        <div
                            class="row mb-4 align-items-center"
                            v-for="(image, i) in items.owner"
                            :key="i"
                        >
                            <div class="col-md-4">
                                <div
                                    class="kitchen-uploads--img"
                                    :style="{
                                        'background-image':
                                            'url(' + image.url_image + ')',
                                    }"
                                    @click="setImageSelected(image.url_image)"
                                ></div>
                            </div>
                            <div class="col-md-8">
                                <label for="#">Tagging</label>
                                <app-select
                                    v-model="items.owner[i].tag"
                                    class="tagging-product select-product"
                                    :preserve-search="true"
                                    tag-placeholder="Add this as new tag"
                                    placeholder="Search model number"
                                    label="sku"
                                    track-by="sku"
                                    :select-label="''"
                                    :searchable="true"
                                    :options="listProduct"
                                    :multiple="true"
                                    :taggable="true"
                                    @input="
                                        addTagData(items.owner[i].id, $event, i)
                                    "
                                    :loading="isLoading"
                                    @search-change="searchChange($event)"
                                >
                                    <template slot="option" slot-scope="props">
                                        <div class="d-flex align-items-start">
                                            <img v-lazy="props.option.image" width="50" height="50">
                                            <div class="ml-3">
                                                <p class="mb-1">{{ props.option.product_id }}</p>
                                                <p class="mb-0 break-word">{{ props.option.brand + ' ' + props.option.short_description }}</p>
                                            </div>
                                        </div>
                                    </template>
                                </app-select>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
            <div class="text-right mt-3">
                <template v-if="items.status_label == 'Pending'">
                    <button class="btn btn-danger" @click="reject">
                        Reject
                    </button>
                    <button class="btn btn-success" @click="approve">
                        Approve
                    </button>
                </template>
                <button
                    class="btn btn-primary"
                    v-if="items.status_label == 'Approved'"
                    @click="saveTagImage"
                >
                    <b-spinner small v-if="loadingSave"></b-spinner>
                    <div v-else>Save</div>
                </button>
            </div>
        </div>
        <transition name="fade">
            <div class="kitchen-uploads--popup" v-if="imageSelected != null">
                <div
                    class="kitchen-uploads--popup-image"
                    :style="{
                        'background-image': 'url(' + imageSelected + ')',
                    }"
                ></div>
                <a href="#" class="text-white popup-close" @click="closePopup">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </transition>
    </div>
</template>

<script>
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink";
import { mapState, mapActions, mapMutations } from "vuex";
import Select from "vue-multiselect";
import _ from "lodash";

export default {
    created() {
        this.items.owner.forEach((item) => {
            if (item.tag.length > 0) {
                var tags = item.tag.map(function (value) {
                    return value.tag;
                });
                this.dataTag.push({
                    id: item.id,
                    tag: tags,
                });
            }
        });
        this.status = {
            status: this.items.status,
            status_label: this.items.status_label,
        };
    },
    computed: {
        ...mapState("kitchenUploads", {
            items: (state) => state.items.data,
        }),
        ...mapState("product", {
            listProduct: (state) => state.listProduct,
        }),
        ...mapState(["loadingSave"]),
    },
    data() {
        return {
            value: [],

            status_option: [
                { status: 1, status_label: "Approved" },
                { status: 2, status_label: "Rejected" },
            ],
            imageSelected: null,
            isLoading: false,
            dataTag: [],
        };
    },
    components: {
        "app-modal": Modal,
        "app-select": Select,
        "back-link": BackLink,
    },
    methods: {
        ...mapMutations(["SET_SAVE_LOADING"]),
        ...mapActions("kitchenUploads", ["updateStatus", "editTagImage"]),
        ...mapActions("product", ["getListProduct"]),
        changeStatus(val) {
            console.log(val);
            if (val.status == 1) {
                this.approve();
            } else {
                this.reject();
            }
        },
        approve() {
            this.updateStatus({
                id: this.items.id,
                status: 1,
            }).then((response) => {
                this.$router.push({
                    name: "online-kitchen-uploads-index-approved",
                });
            });
        },
        reject() {
            this.updateStatus({
                id: this.items.id,
                status: 2,
            }).then((response) => {
                this.$router.push({
                    name: "online-kitchen-uploads-index-rejected",
                });
            });
        },
        setImageSelected(image) {
            this.imageSelected = image;
        },
        closePopup() {
            this.imageSelected = null;
        },
        searchChange: _.debounce(function (event) {
            this.isLoading = true;
            this.getListProduct(event).then(() => {
                this.isLoading = false;
            });
        }, 300),
        addTagData(id, tag, i) {
            var tag = tag.map(function (value) {
                return value.sku;
            });
            this.dataTag[i] = {
                id: id,
                tag: tag,
            };
        },
        saveTagImage() {
            this.SET_SAVE_LOADING(true);
            this.editTagImage({ data: this.dataTag }).then((response) => {
                this.SET_SAVE_LOADING(false);
                this.$router.push({
                    name: "online-kitchen-uploads-index-approved",
                });
            });
        },
    },
};
</script>
<style lang="scss">
.kitchen-uploads--img {
    min-height: 200px;
    width: 200px;
    background-size: 150%;
    background-position: center;
    border-radius: 10px;
    border-radius: 10px;
    transition: background-size 0.3s ease-in-out;
    &:hover {
        background-size: 180%;
        cursor: pointer;
    }
}
.kitchen-uploads--popup {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
    img {
        max-width: 200px;
        margin: auto;
    }
    .popup-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
    }
    &-image {
        min-height: 400px;
        max-height: 400px;
        margin: auto;
        width: 650px;
        background-size: cover;
        background-position: center;
    }
}
.tagging-product {
    .multiselect__element {
        span[data-select="Add this as new tag"] {
            display: none !important;
        }
    }
}
.tagging-product .multiselect__option .loaded {
    align-items: center !important;
    p {
        margin-bottom: 0 !important;
        margin-left: 20px !important;
    }
}
</style>
