<template>
    <BottomSheet
        v-model="isShowBottomSheet"
        height="80vh"
        width="100%"
        radius="10px"
    >
        <div class="d-flex align-items-center justify-content-between">
            <transition name="scale" mode="out-in">
                <h3 v-if="isSettingNotification" class="font-weight-bold mb-0">Notification Settings</h3>
                <h3 v-if="!isSettingNotification" class="font-weight-bold mb-0">My Notifications</h3>
            </transition>
            <div class="icon-notifications">
                <i class="fas fa-compress fa-lg pointer" @click="hideModalAllNotifications"></i>
                <transition name="scale" mode="out-in">
                    <b-dropdown
                        v-if="!isSettingNotification"
                        right
                        variant="link"
                        toggle-class="text-decoration-none p-0"
                        no-caret
                    >
                        <template #button-content>
                            <a href="javascript:void(0)">
                                <i class="fas fa-ellipsis-v fa-lg pointer text-gray"></i>
                            </a>
                        </template>
                        <b-dropdown-item
                            class="d-flex align-items-center"
                            @click="handleReadAll"
                        >
                            <i class="far fa-envelope-open mr-2"></i>
                            <span>Mark all as read</span>
                        </b-dropdown-item>
                    </b-dropdown>
                </transition>
                <transition name="scale" mode="out-in">
                    <i v-if="!isSettingNotification" class="fas fa-cog fa-lg pointer" @click="isSettingNotification = !isSettingNotification"></i>
                    <i v-if="isSettingNotification" class="fas fa-arrow-left fa-lg pointer" @click="isSettingNotification = !isSettingNotification"></i>
                </transition>
            </div>
        </div>
        <transition name="slide-fade" mode="out-in">
            <MyNotification v-if="!isSettingNotification" />
            <div v-if="isSettingNotification" class="notification__menu--inner notification__setting d-flex flex-column" key="1">
                <div class="px-4 py-2">
                    <b-form-checkbox v-model="setting.status" value="1" unchecked-value="0" class="mb-2 text-gray" v-for="(setting, indexSetting) in notification.setting" :key="indexSetting">
                        <span class="cursor-pointer">{{setting.name}}</span>
                    </b-form-checkbox>
                </div>
                <div class="border-top d-flex align-items-center justify-content-end px-4 py-3 mt-auto">
                    <a href="javascript:void(0)" class="text-gray d-inline-block mr-3" @click="isSettingNotification = false">Cancel</a>
                    <button class="btn btn-primary" :disabled="isSaveSetting" @click="handleSaveSetting">Save</button>
                </div>
            </div>
        </transition>
    </BottomSheet>
</template>

<script>

// Components
import MyNotification from '@/components/myNotification/MyNotification.vue';
import BottomSheet from '@/components/BottomSheet.vue';

// Packages
import { mapState } from "vuex";

export default {
    name: 'MyNotifications',
    data() {
        return {
            isSettingNotification: false
        };
    },
    components: {
        MyNotification,
        BottomSheet,
    },
    computed: {
        ...mapState(["isShowBottomSheet", 'notification']),
    },
    methods: {
        hideModalAllNotifications() {
            this.$store.commit('SET_SHOW_BOTTOM_SHEET', false);
            this.$store.commit('SET_SHOW_NOTIFICATION', true);
        },
        handleReadAll() {
            this.$store.dispatch('readAllNotifications')
            .then(() => {
                this.$store.dispatch('getUserNotification');
            });
        },
        handleSaveSetting(){
            this.isSaveSetting = true
            this.$store.dispatch('updateUserSetting', {
                id: this.$auth.user.user_id,
                setting: this.notification.setting
            })
            .then(() => {
                this.isSaveSetting = false
                this.$root.$bvToast.toast(`Your notification settings has been saved`, { title: 'Success!', variant:'success', solid: true})
            })
        },
    }
};
</script>
<style lang="scss" scoped>
.icon-notifications {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    color: gray !important;
}
</style>
