<template>
    <div class="card modal-form modal-order">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <a href="javascript:void(0)" @click="goBack" class="h1 font-weight-300 mb-0">&times;</a>
            <h2 class="mb-0" v-if="edit">Order</h2>
            <h2 class="mb-0" v-else-if="show">Order</h2>
            <h2 class="mb-0" v-else>Create a Order</h2>
            <div>
                <button class="btn btn-primary" @click="submit" v-if="edit" :disabled="isLoading">
                    <div class="px-2" v-if="isLoading">
                        <b-spinner small></b-spinner>
                    </div>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid px-0 px-xl-3">
                <app-form-order ref="formOrder" :data="order.data" :edit="edit"/>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import FormOrder from '@/components/form/Order.vue'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                tablePosition: null,
                showModal: false,
                modalDeleteOrder: false,
                link: '',
                routeOrder: null,
                routeQuote: null,
                isLoading: false,
            }
        },
        props: {
            show: {
                type: Boolean,
                default: false
            },
            edit: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('order', {
                order(state) {
                    return {
                        data: state.data,
                        detailData: state.detailData
                    }
                }
            }),
            ...mapState('userMode', {
                user_mode : state => state.user_mode
            })
        },
        methods: {
            ...mapActions('order', [
                'putOrder',
                'getOrder'
            ]),
            submit() {
                if(this.edit) {
                    let check = this.$refs.formOrder.$refs['customSelect'].selected
                    if (check == null) {
                        alert('Please select sales person')
                    } else {
                        this.$refs.formOrder.checkState()

                        let detail_order = this.$refs.formOrder.order.detailData
                        let index = this._.findIndex(detail_order, function(o) {
                            return o.is_filled == false
                        })

                        if (index > -1) {
                            this.$refs.formOrder.showRecordPayment()
                        } else {
                            this.isLoading = true
                            this.putOrder(this.$route.params.id)
                            .then(() => {
                                this.getOrder(this.$route.params.id)
                                .then(() => {
                                    this.isLoading = false
                                    this.$refs.formOrder.hideEditDelivery()
                                    this.$refs.formOrder.hideEditBilling()
                                })
                                // this.$router.push({name: 'my-orders-index-all'})
                                // this.goBack()
                                // this.$router.push({ name: 'order-open', params: { id: this.$route.params.id } })
                            })
                        }
                    }
                }
            },
            goBack() {
                this.getHistoryOrder().then( () =>{
                    if(this.routeOrder){
                        if(this.routeOrder.includes('product-search-id')) this.$router.push(JSON.parse(this.routeOrder))
                        else if(this.routeOrder.includes('/customers/detail') || this.routeOrder.includes('/inventory/stock-movement')) this.$router.push({ path: this.routeOrder})
                        else this.$router.push({ name: this.routeOrder})
                    }else{
                        this.$router.push({name: 'index'})
                    }
                })
            },
            getHistoryOrder(){
                return new Promise((resolve, reject) =>{
                    this.routeOrder = localStorage.getItem('history-route-order')
                    resolve()
                })
            },
            getHistoryQuote(){
                return new Promise((resolve, reject) =>{
                    this.routeQuote = localStorage.getItem('history-route-quote')
                    resolve()
                })
            },
            showModalDeleteOrder(){
                this.modalDeleteOrder= true;
                
            },
            closeModalDeleteOrder(){
                this.modalDeleteOrder= false;
            },
            removeOrder(){
                this.modalDeleteOrder= false;
            },
        },
        components: {
            'app-modal': Modal,
            'app-form-order': FormOrder,
        }
    }
</script>
<style>
.modal-order .card-header{
    z-index: 999;
    position: relative;
}
</style>