<template>
    <div class="card modal-form view-order">
        <div class="card-header bg-white d-flex align-items-center">
            <a href="#" class="h1 font-weight-300 mb-0" @click="$router.go(-1)">&times;</a>
            <div class="d-flex align-items-center mx-auto">
                <h2 class="mb-0">Order Return #{{$route.params.id}}</h2>
                <span class="badge badge-success ml-2" v-if="order.package_pricing">Package Pricing</span>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="form-group mb-4">
                    <label for="#"><strong>Return Date</strong></label>
                        <no-ssr><app-datepicker mode="single" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right" v-width="'250px'">
                                    <input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </div>
                <div class="d-flex align-items-center justify-content-end mb-3">
                    <p class="mb-0 mr-2">Set a partial refund:</p>
                    <label class="switch">
                        <input type="checkbox" v-model="isPartial">
                        <span class="slider"></span>
                    </label>
                    <!-- <div class="haul-away-circle" v-if="quote.qty_haul">{{ quote.qty_haul }}</div> -->
                </div>
                <app-table :items="detailData" :fields="field" class="table-return">
                    <template slot="check" slot-scope="row">
                        <b-form-checkbox :id="'item-'+row.index"
                            :name="'item-'+row.index"
                            :disabled="isPartial || row.item.disable"
                            v-model="row.item.is_check"
                            :value="true"
                            :unchecked-value="false"
                            @change="changeReturn($event, row)">
                        </b-form-checkbox>
                    </template>
                    <template slot="qty_return" slot-scope="row">
                        <div class="d-flex align-items-center">
                            <app-select
                                :disabled="row.item.is_check ? false : true"
                                v-model="row.item.qty_return"
                                v-width="'80px'"
                                placeholder="Quantity"
                                :allow-empty="false"
                                :preselect-first="false"
                                :searchable="false"
                                :close-on-select="true"
                                :show-labels="false"
                                :options="detailData[row.index].returned"
                            />
                            <template v-if="row.item.inventory_order_report != null && !row.item.disable">
                                <!-- <i class="fas fa-info-circle text-info cursor-pointer ml-3" v-b-tooltip.hover :title="`You can only return ${row.item.inventory_order_report.pending_quantity} of ${row.item.qty}`" v-if="row.item.inventory_order_report.pending_quantity != row.item.qty"></i> -->
                            </template>
                            <template v-else-if="row.item.disable">
                                <i class="fas fa-exclamation-triangle text-danger cursor-pointer ml-3" v-b-tooltip.hover :title="row.item.message"></i>
                            </template>
                        </div>
                        <!-- <p class="small text-danger mb-0 mt-2" v-if="row.item.qty_return == 0">Fill quantity first to return</p> -->
                    </template>
                    <template slot="serial" slot-scope="data">
                        <p v-html="data.item.serial" class="mb-0"></p>
                    </template>
                    <template slot="price" slot-scope="row">
                        <p class="mb-0" v-money>{{row.item.product}}</p>
                    </template>
                    <template slot="warranty" slot-scope="row">
                        <div class="d-flex align-items-center" :class="{ 'mt-4' : row.item.is_check}">
                            <!-- <p class="mb-0" :key="_.sumBy(row.item.warranty_selected, (item) => parseFloat(item.price))" v-money>{{ _.sumBy(row.item.warranty_selected, (item) => parseFloat(item.price)) }}</p>  -->
                            <p class="mb-0" :key="row.item | sumWarrantyCharge" v-money>{{ row.item | sumWarrantyCharge }}</p>
                            <b-badge variant="info" class="ml-2">{{ row.item.warranty_selected.length }} Warranty selected</b-badge>
                        </div>
                        <template v-for="(warranty, index) in row.item.warranty_selected">
                            <div class="border-bottom d-flex align-items-start py-2" :key="index">
                                <a href="javascript:void(0)" class="text-danger mr-2" @click.prevent="setWarrantySelected(warranty, index)"><i class="fas fa-times"></i></a>
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between">
                                        <p class="mb-0" v-width="'85%'">{{warranty.name}}</p>
                                        <div class="counter counter-red ml-1">
                                            {{warranty.qty}}
                                        </div>
                                    </div>
                                    <p class="mb-0" :key="warranty.price" v-money>{{warranty.price}}</p>
                                </div>
                            </div>
                        </template>
                        <a href="#" class="mt-1 d-block" v-if="row.item.is_check" @click.prevent="showModalWarranty(row.index)">Select Warranty <i class="far fa-edit"></i></a>
                    </template>
                    <template slot="install" slot-scope="row">
                        <div class="d-flex align-items-center" :class="{ 'mt-4' : row.item.is_check}">
                            <p class="mb-0" :key="row.item | sumInstallCharge " v-money>{{ row.item | sumInstallCharge }}</p>
                            <b-badge variant="info" class="ml-2">{{ row.item.install_selected.length }} Install selected</b-badge>
                        </div>
                        <template v-for="(install, index) in row.item.install_selected">
                            <div class="border-bottom d-flex align-items-start py-2" :key="index">
                                <a href="javascript:void(0)" class="text-danger mr-2" @click.prevent="setInstallSelected(install, index)"><i class="fas fa-times"></i></a>
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between">
                                        <p class="mb-0" v-width="'85%'">{{install.name}}</p>
                                        <div class="counter counter-red">
                                            {{install.qty}}
                                        </div>
                                    </div>
                                    <p class="mb-0" :key="install.price" v-money>{{install.price}}</p>
                                </div>
                            </div>
                        </template>
                        <a href="#" class="mt-1 d-block" v-if="row.item.is_check" @click.prevent="showModalInstall(row.index)">Select Install <i class="far fa-edit"></i></a>
                    </template>
                    <template slot="total_price" slot-scope="row">
                        <p class="mb-0"
                            :key="row.item | sumTotalPrice"
                            v-money>
                            {{ row.item | sumTotalPrice }}
                        </p>
                    </template>
                </app-table>
                <!-- <div class="mb-3" v-show="totalReturn > 0 && subtotal > order.discount && checkIfDiscountUsed"> -->
                <div class="mb-3" v-show="subtotal > order.discount && checkIfDiscountUsed">
                    <h6 class="mb-2">Available Discount</h6>
                    <b-form-checkbox
                        id="checkbox-1"
                        v-model="status"
                        name="checkbox-1"
                        :value="true"
                        :unchecked-value="false"
                    >
                    <p class="small mb-0">{{order.instant_rebate_name}}</p>
                    <p class="mb-0 font-weight-bold" v-money>{{order.discount}}</p>
                    </b-form-checkbox>
                </div>
                <div class="mb-3" v-if="order.delivery_charge > 0 && !isPartial">
                    <h6 class="mb-2">Delivery Charge</h6>
                    <b-form-checkbox
                        id="checkbox-delivery"
                        v-model="deliveryChargeCheck"
                        name="checkbox-delivery"
                        :value="true"
                        :unchecked-value="false"
                    >
                        <p class="mb-0 font-weight-bold cursor-pointer" v-money>{{order.delivery_charge}}</p>
                    </b-form-checkbox>
                </div>
                <button class="btn btn-primary mb-4 mt-2" v-if="isPartial || returnValidation || deliveryChargeCheck" @click="showRecordPayment">Refund Payment</button>
                <!-- <button class="btn btn-primary mb-4 mt-2" v-if="allowed" @click="showRecordPayment">Return Payment</button> -->
                <div class="card p-4" :class="{ 'mt-5': totalReturn == 0}">
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <h5>Subtotal Return Payment</h5>
                                    <h5>Tax Return Payment</h5>
                                    <h5>Total Return Payment</h5>
                                    <h5>Payment</h5>
                                </div>
                                <div class="col-4" :key="payment.date">
                                    <h5>: <span v-money :key="subtotal">{{ payment.date != '-' ? subtotal:0 }}</span></h5>
                                    <h5>: <span v-money :key="totalTax">{{ totalTax }}</span></h5>
                                    <h5>: <span v-money :key="calculatedTotal">{{ payment.date != '-' ? calculatedTotal:0 }}</span></h5>
                                    <!-- <h5>: <span v-money>{{ calculatedTotalPayment }}</span></h5> -->
                                    <h5>: <span v-money :key="payment.amount">{{ payment.amount }}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <h5>Return Payment Date</h5>
                                    <h5>Return Payment Option</h5>
                                    <h5>Transaction / Check Number</h5>
                                    <h5>Note</h5>
                                </div>
                                <div class="col-4">
                                    <h5>: <span>{{ payment.date }}</span></h5>
                                    <h5>: <span>{{ payment.option }}</span></h5>
                                    <h5>: <span>{{ payment.number }}</span></h5>
                                    <h5>: <span>{{ payment.note }}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#"><strong>Reason for return <span class="text-danger">*</span> </strong></label>
                        <textarea class="form-control" cols="30" rows="7" v-model="reason"></textarea>
                    </div>
                    <button class="btn btn-primary" @click.prevent="submit(false)" :disabled="disabledProcessReturn || loadingSave" v-width="'200px'">
                        <b-spinner small v-if="loadingSave && !modalConfirm"></b-spinner>
                        <div v-else>
                            Process Return
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <app-modal size="lg" title="Select Warranty" centered @hide="closeWarranty" :show="modal.warranty">
            <app-table :fields="fields.warranty" :items="warranties">
                <template slot="check" slot-scope="data">
                    <b-form-checkbox :id="'warranty-'+data.index"
                        :name="'warranty-'+data.index"
                        v-model="data.item.is_check"
                        :disabled="data.item.qty == 0"
                        :value="_.findIndex(detailData[return_index].warranty_selected, (item) => { return item.id == data.item.id }) == -1 ? true : false"
                        @change="changeWarranty($event, data.item)"
                        >
                    </b-form-checkbox>
                </template>
                <template slot="qty" slot-scope="data">
                    <app-select
                        :disabled="_.findIndex(detailData[return_index].warranty_selected, (item) => { return item.id == data.item.id }) == -1 ? true : false"
                        v-model="data.item.qty"
                        v-width="'100%'"
                        placeholder="Quantity"
                        :preselect-first="true"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        @input="updateQtyWarranty(data.item.qty, data.item)"
                        :options="data.item.qty_options">
                    </app-select>
                </template>
                <!-- <template slot="name" slot-scope="data">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">{{data.item.name}}</p>
                        <i class="fas fa-check text-success ml-2" v-if="_.findIndex(detailData[return_index].warranty_selected, (item) => { return item.id == data.item.id }) != -1"></i>
                    </div>
                </template> -->
                <template slot="price" slot-scope="data">
                    <p class="mb-0" v-money>{{data.item.price}}</p>
                </template>
            </app-table>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <!-- <button class="btn btn-outline-primary" @click="closeInstall">Cancel</button> -->
                    <button class="btn btn-primary" @click.prevent="submitWarranty">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Select Install" centered @hide="closeInstall" :show="modal.install">
            <app-table :fields="fields.install" :items="installs">
                <template slot="check" slot-scope="data">
                    <b-form-checkbox :id="'install-'+data.index"
                        :name="'install-'+data.index"
                        v-model="data.item.is_check"
                        :disabled="data.item.qty == 0"
                        :value="_.findIndex(detailData[return_index].install_selected, (item) => { return item.id == data.item.id }) == -1 ? true : false"
                        :unchecked-value="false"
                        @change="changeInstall($event, data.item)"
                        >
                    </b-form-checkbox>
                </template>
                <template slot="qty" slot-scope="data">
                    <app-select
                        :disabled="_.findIndex(detailData[return_index].install_selected, (item) => { return item.id == data.item.id }) == -1 ? true : false"
                        v-model="data.item.qty"
                        v-width="'100%'"
                        placeholder="Quantity"
                        :preselect-first="true"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        @input="updateQtyInstall(data.item.qty, data.item)"
                        :options="data.item.qty_options">
                    </app-select>
                </template>
                <template slot="install_name" slot-scope="data">
                    <p class="mb-0">{{data.item.name}}</p>
                    <!-- <div class="d-flex align-items-center">
                        <i class="fas fa-check text-success ml-2" v-if="_.findIndex(detailData[return_index].install_selected, (item) => { return item.id == data.item.id }) != -1"></i>
                    </div> -->
                </template>
                <template slot="install_price" slot-scope="data">
                    <p class="mb-0" v-money>{{data.item.price}}</p>
                </template>
            </app-table>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary" @click="closeInstall">Cancel</button>
                    <button class="btn btn-primary" @click.prevent="submitInstall">Save</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" :customTitle="true" centered @hide="closeModalRecordPayment" :show="modalRecordPayment" :modal-class="'modal-record-payment'">
            <template slot="modal-title">
                <div class="d-flex align-items-center justify-content-between mr-3 mt-1">
                    <h6 class="mb-0">Refund Payment</h6>
                </div>
            </template>
            <template>
                <div class="alert alert-success mb-0" v-if="remainCreditLine > 0">Your history payment using Credit Line is <strong v-money>{{ paymentWithCreditLine }}</strong>. Your maximum return using Credit Line is <strong v-money>{{ remainCreditLine }}</strong>.</div>
                <b-tabs pills card vertical lazy v-model="recordPaymentTab">
                    <b-tab title="Cash" :disabled="remainCreditLine > 0" :active="remainCreditLine == 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="0"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            type="cash"
                            cash
                            mode="Return"
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                    <b-tab title="Credit Card" :disabled="remainCreditLine > 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="0"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            mode="Return"
                            type="credit_card"
                            credit
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                    <b-tab title="Account Credit" :disabled="remainCreditLine > 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="0"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            type="account_credit"
                            accountCredit
                            mode="Return"
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                    <b-tab title="Check" :disabled="remainCreditLine > 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="0"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            mode="Return"
                            type="check"
                            check
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                    <b-tab title="Other" :disabled="remainCreditLine > 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="0"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            mode="Return"
                            type="Other"
                            other
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                    <b-tab title="Credit Line" @click="creditLineTabClick" :active="remainCreditLine > 0" v-if="remainCreditLine > 0">
                        <app-form-payment
                            ref="formPayment"
                            :balance="parseFloat(getBalanceDueCreditLine)"
                            :return_total="remainBalance"
                            :remain_credit_line="remainCreditLine"
                            :warning_return_package="warningReturnPackage"
                            :is-return-partial="isPartial"
                            creditLine
                            type="credit_line"
                            mode="Return"
                            returnCreditLine
                            @payment="submitPayment"
                            @disabled="disabledApply" />
                    </b-tab>
                </b-tabs>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" :disabled="disabledButton" @click="applyPayment">Apply Payment</button>
                </div>
            </div>
        </app-modal>
        <app-modal title="Returned Quantity" :show="modalConfirm" @hide="hideModalConfirm">
            <div class="alert alert-info mb-3">
                <h6 class="mb-0">This models bellow will added back to inventory available stock <br> are you sure want to continue? </h6>
            </div>
            <app-table small class="mb-3" :fields="fieldsModelReturned" :items="modelReturned" show-empty></app-table>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-outline-danger mr-3" @click="hideModalConfirm">Cancel</button>
                    <button class="btn btn-primary" @click="submit(true)" :disabled="loadingSave">
                        <div class="px-5" v-if="loadingSave">
                            <b-spinner small></b-spinner>
                        </div>
                        <div v-else>
                            Process Return
                        </div>
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
    // import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Modal from '@/components/utilities/Modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import RecordPayment from '@/components/form/RecordPayment'
    import Select from 'vue-multiselect'
    import {mapState, mapActions, mapMutations} from 'vuex'

    import _ from 'lodash'



    export default {
        destroyed(){
            this.SET_SAVE_LOADING(false)
        },
        data(){
            return{
                modalConfirm: false,
                fieldsModelReturned: [
                    {
                        key: 'model'
                    },
                    {
                        key: 'quantity'
                    }
                ],
                modelReturned: [],
                deliveryChargeCheck: false,
                isPartial: false,
                isCheck: [],
                check: false,
                modal:{
                    warranty: false,
                    install: false,
                },
                fields:{
                    warranty: [  {key: 'check', label: '', thStyle: {width: '50px !important'}}, { key: 'qty', thStyle: {width: '50px !important'} }, { key : 'name', label: 'Warranty Name'}, { key: 'price', label: 'Warranty Price'}],
                    install: [ {key: 'check', label: '', thStyle: {width: '50px !important'}}, { key: 'qty', thStyle: {width: '50px !important'} }, { key : 'install_name', label: 'Instal Name'}, { key: 'install_price', label: 'Install Price'}]
                },
                warranty:{
                    selected: []
                },
                status: false,
                date: new Date(),
                optionsQty:['0','1','2'],
                qty_return:'',
                field:[ {key: 'check', label: '', thStyle:{width: '50px !important'}}, {key:'qty_return', label: 'Qty Return', thStyle:{width: '150px'}},'model',{key:'serial', label:'Serial', thStyle:{width: '100px !important'}},'qty', 'price', 'warranty', 'install', {key:'total_price', label: 'Total Price', thStyle:{width: '150px !important'}} ],
                modalRecordPayment: false,
                payment: {
                    date: '-',
                    option: '-',
                    number: '-',
                    note: '-',
                    order_no: '',
                    amount: 0,
                    amountReturned: 0
                },
                recordPaymentTab: 0,
                reason: '',
                return_index: 0,
                warranties: [],
                installs: [],
                disabledButton: false,
            }
        },
        filters: {
            sumWarrantyCharge(row) {
                return _.sumBy(row.warranty_selected, (item) => row.qty_return > 0 ? parseInt(row.qty_return) * parseFloat(item.price) : parseInt(item.qty) * parseFloat(item.price))
            },
            sumInstallCharge(row) {
                return _.sumBy(row.install_selected, (item) => row.qty_return > 0 ? parseInt(row.qty_return) * parseFloat(item.price) : parseInt(item.qty) * parseFloat(item.price))
            },
            sumTotalPrice(row) {
                return (parseInt(row.qty_return) * parseFloat(row.product)) + parseFloat(_.sumBy(row.warranty_selected, (item) => row.qty_return > 0 ? parseInt(row.qty_return) * parseFloat(item.price) : parseInt(item.qty) * parseFloat(item.price) )) + parseFloat(_.sumBy(row.install_selected, (item) => row.qty_return > 0 ? parseInt(row.qty_return) * parseFloat(item.price) : parseInt(item.qty) * parseFloat(item.price)))
            }
        },
        components: {
            'app-modal': Modal,
            'app-table': Table,
            'app-select': Select,
            'app-form-payment': RecordPayment,
        },
        watch:{
            isPartial(value){
                if(value){
                    this.detailData.forEach(v =>{
                        v.is_check = false
                        v.qty_return = 0
                    })
                    this.deliveryChargeCheck = false
                }
            }
        },
        computed: {
            ...mapState('return', {
                detailData: state => state.detailData
            }),
            ...mapState(['loadingSave']),
            ...mapState('order', {
                recordPayment: state => state.recordPayment.data,
                order: state => state.data,
                orderDetail : state => state.detailData
            }),
            returnValidation(){
                let totalQty = _.sumBy(this.detailData, (item) => item.qty_return)
                let totalWarranty = _.sumBy(this.detailData, (item) => item.warranty_selected.length)
                let totalInstall = _.sumBy(this.detailData, (item) => item.install_selected.length)
                if(totalQty > 0 || totalWarranty > 0 || totalInstall > 0) return true
                else return false
            },
            getBalanceDueCreditLine() {
                if(this.order.payment_credit_line.length > 0){

                    const creditLine = this.order.payment_credit_line.filter(payment => payment.type == 0)
                    const creditLineBalance = _.sumBy(creditLine, (item) => parseFloat(item.amount))

                    const paymentCreditList = this.order.payment_credit_line.filter(payment => payment.type == 1)
                    const totalPaymentCredit = _.sumBy(paymentCreditList, (item) => parseFloat(item.amount))

                    const returnCreditLine = this.order.return_payment.filter(payment => payment.return_payment_option === 'credit_line')

                    const totalReturnCredit = _.sumBy(returnCreditLine, (item) => parseFloat(item.return_amount))

                    const calucaltedCredit = Math.floor((creditLineBalance - totalPaymentCredit) * 100) / 100

                    const totalBalanceDue = calucaltedCredit - totalReturnCredit

                    return totalBalanceDue < 0 ? 0 : totalBalanceDue
                }
                return 0
            },
            totalTax() {
                let vm = this
                return this._.sumBy(this.detailData, function(q) {
                    if (vm.order.tax_exempted == 0) {
                        if (q.is_taxed) {
                            return ((parseInt(q.qty_return) * parseFloat(q.product)) * parseFloat(vm.order.tax)) / 100
                        }
                    }
                    return 0
                })
            },
            totalReturn() {
                return this._.sumBy(this.detailData, function(o) { return o.qty_return })
            },
            subtotal() {
                let vm = this
                let total = this._.sumBy(this.detailData, function(o) {
                    // let warranty = vm._.sumBy(o.warranty_selected, (item) => parseInt(o.qty_return) * parseFloat(item.price))
                    // let install = vm._.sumBy(o.install_selected, (item) => parseInt(o.qty_return) * parseFloat(item.price))
                    let warranty = vm._.sumBy(o.warranty_selected, (item) =>  parseInt(item.qty) * parseFloat(item.price))
                    let install = vm._.sumBy(o.install_selected, (item) => parseInt(item.qty) * parseFloat(item.price))
                    return (parseInt(o.qty_return) * parseFloat(o.product)) + parseFloat(warranty) + parseFloat(install)
                })

                // return parseFloat(total) - Math.abs(parseFloat(this.order.discount))
                let discount = this.status ? parseFloat(this.order.discount):0
                return (parseFloat(total) - discount)
            },
            calculatedTotal() {
                return Number(parseFloat(this.subtotal + this.totalTax).toFixed(2))
            },
            checkIfDiscountUsed() {
                let discount = parseFloat(this.order.discount)
                return discount > 0 && parseFloat(this.order.discount_used) == 0
            },
            remainCreditLine() {
                let creditIn = this._.sumBy(this.order.payment_credit_line, function(item) {
                    return item.type == 1 ? parseFloat(item.amount):0
                })

                let creditOut = this._.sumBy(this.order.payment_credit_line, function(item) {
                    return item.type == 0 ? parseFloat(item.amount):0
                })

                return  Number(parseFloat(creditOut - creditIn).toFixed(2))
            },
            calculatedRemain() {
                let creditIn = this._.sumBy(this.order.payment_credit_line, function(item) {
                    return item.type == 1 ? parseFloat(item.amount):0
                })

                let creditOut = this._.sumBy(this.order.payment_credit_line, function(item) {
                    return item.type == 0 ? parseFloat(item.amount):0
                })

                let credit_line = Number(parseFloat(creditOut - creditIn).toFixed(2));
                let remain = 0;
                if(credit_line == 0){
                    let total = this.order.total;
                    let returns = this._.sumBy(this.order.return_payment, function(item) {
                        return parseFloat(item.return_amount)
                    })

                    remain = total - returns;
                    if(remain == total || remain != this.subtotal){
                        return Number(parseFloat(this.subtotal + this.totalTax).toFixed(2))
                    }
                    return  Number(parseFloat(remain).toFixed(2))
                }else{
                    let subtotal = this.subtotal + this.totalTax;
                    if(credit_line > 0 && credit_line < subtotal){
                        return credit_line
                    }else{
                        return Number(parseFloat(this.subtotal + this.totalTax).toFixed(2))
                    }
                }
            },
            remainBalance(){
                if(this.order.package_pricing && this.totalReturn == this.totalQty){
                    return this.maxTotalReturn
                }else{
                    return this.calculatedRemain + this.deliveryCharge
                }
            },
            maxTotalReturn(){
                if(this.order.package_pricing){
                    let total = Number(this.subtotal) + Number( this.order.subtotal) + Number(this.order.tax_price) + Number(this.deliveryCharge)
                    return total.toFixed(2)
                }
            },
            deliveryCharge(){
                return this.deliveryChargeCheck ? Number(this.order.delivery_charge) : 0
            },
            calculatedTotalPayment() {
                return this.remainCreditLine > 0 ? this.payment.amount + this.remainCreditLine:this.payment.amount
            },
            disabledProcessReturn() {
                // if(this.isPartial != true){
                    // return this.totalReturn == 0 || this.reason == '' || this.payment.date == '-'
                    return this.reason == '' || this.payment.date == '-'
                // }else{
                //     return false
                // }
            },
            paymentWithCreditLine() {
                return this._.sumBy(this.order.payment, function(item) {
                    return item.payment_method == 'credit_line' ? parseFloat(item.amount):0
                })
            },
            totalQty(){
                return this._.sumBy(this.detailData, function(o) { return o.qty })
            },
            warningReturnPackage(){
                if(this.order.package_pricing && this.totalReturn != this.totalQty && this.subtotal > 0) return true
                else return false
            }
        },
        methods:{
            ...mapActions('return', ['submitReturned', 'getReturnedData']),
            ...mapActions('deliveryDetail', ['subtmiDispatchTrack']),
            ...mapMutations(['SET_SAVE_LOADING']),
            ...mapActions('changelog', ['postChangelog']),
            hideModalConfirm(){
                this.modalConfirm = false
            },
            showModalConfirm(){
                this.modalConfirm = true
            },
            submitChangelog(item){
                return new Promise((resolve, reject) =>{
                    this.postChangelog({
                        order_no : this.$route.params.id,
                        user_id : this.order.sales_person.user_id,
                        type: 1,
                        note : item.note
                    })
                })
            },
            changeWarranty($event, item){
                this.setWarrantySelected(item)
            },
            updateQtyWarranty(qty, item){
                this.detailData[this.return_index].warranty_selected.forEach(v =>{
                    if(v.id == item.id){
                        v.qty = qty
                    }
                })
            },
            updateQtyInstall(qty, item){
                this.detailData[this.return_index].install_selected.forEach(v =>{
                    if(v.id == item.id){
                        v.qty = qty
                    }
                })
            },
            changeInstall($event, item){
                this.setInstallSelected(item)
            },
            showModalInstall(index){
                this.return_index = index
                this.modal.install = true

                this.installs = []
                let qtyExist = null
                for(let i = 0; i < this.detailData[this.return_index].installs.id.length; i++) {
                    let qtyOptions = []
                    for(let q = 1; q <= this.detailData[this.return_index].installs.qty[i]; q++){
                        qtyOptions.push(q)
                    }
                    this.detailData[this.return_index].install_selected.forEach(v =>{
                        if(v.id == this.detailData[this.return_index].installs.id[i]){
                            qtyExist = v.qty
                        }
                    })
                    this.installs.push({
                        id: this.detailData[this.return_index].installs.id[i],
                        name: this.detailData[this.return_index].installs.name[i],
                        price: this.detailData[this.return_index].installs.price[i],
                        qty: qtyExist != null ? qtyExist : this.detailData[this.return_index].installs.qty[i] > 0 ? 1 : 0,
                        qty_options: qtyOptions,
                        is_check: this.detailData[this.return_index].installs.is_check[i]
                    })
                }
            },
            changeReturn($event, row){
                if($event != true && (row.item.warranty_selected.length > 0 || row.item.install_selected.length > 0)){
                    row.item.warranty_selected = []
                    row.item.install_selected = []
                }
                if($event != true){
                    row.item.qty_return = 0
                }
                $event ? this.isCheck.push(row.index) : this.isCheck.splice(-1, 1)
                // $event ? item.qty_return = 1 : item.qty_return = 0
            },
            closeInstall(){
                this.modal.install = false
            },
            setInstallSelected(item, index){
                let findIndex = this._.findIndex(this.detailData[this.return_index].install_selected, (selected) => {
                    return selected.id == item.id
                })

                if (findIndex == -1 && item.qty > 0) {
                    this.detailData[this.return_index].install_selected.push(item)
                } else {
                    this.detailData[this.return_index].install_selected.splice(findIndex, 1)
                }
            },
            submitInstall(){
                this.modal.install = false
            },
            showModalWarranty(index){
                this.return_index = index
                this.modal.warranty = true

                this.warranties = []
                let qtyExist = null
                for(let i = 0; i < this.detailData[this.return_index].warranties.id.length; i++) {
                    let qtyOptions = []
                    for(let q = 1; q <= this.detailData[this.return_index].warranties.qty[i]; q++){
                        qtyOptions.push(q)
                    }
                    this.detailData[this.return_index].warranty_selected.forEach(v =>{
                        if(v.id == this.detailData[this.return_index].warranties.id[i]){
                            qtyExist = v.qty
                        }
                    })
                    this.warranties.push({
                        id: this.detailData[this.return_index].warranties.id[i],
                        name: this.detailData[this.return_index].warranties.name[i],
                        price: this.detailData[this.return_index].warranties.price[i],
                        qty: qtyExist != null ? qtyExist : this.detailData[this.return_index].warranties.qty[i] > 0 ? 1 : 0,
                        qty_options: qtyOptions,
                        is_check: this.detailData[this.return_index].warranties.is_check[i],
                    })
                }
            },
            setWarrantySelected(item, index){
                let findIndex = this._.findIndex(this.detailData[this.return_index].warranty_selected, (selected) => {
                    return selected.id == item.id
                })

                if (findIndex == -1 && item.qty > 0) {
                    this.detailData[this.return_index].warranty_selected.push(item)
                } else {
                    this.detailData[this.return_index].warranty_selected.splice(findIndex, 1)
                }
            },
            closeWarranty(){
                this.modal.warranty = false
            },
            submitWarranty(){
                this.modal.warranty = false
            },
            showRecordPayment(){
                this.modalRecordPayment = true
            },
            closeModalRecordPayment(){
                this.modalRecordPayment = false
            },
            applyPayment() {
                this.$refs.formPayment.submit()
            },
            submitPayment(val) {
                if (val) {
                    this.payment = {
                        date: this.recordPayment.payment_date != null ? this.moment(this.recordPayment.payment_date).format('L'):'-',
                        option: this.recordPayment.payment_method != null ? this.recordPayment.payment_method:'-',
                        number: this.recordPayment.payment_method == 'credit' || this.recordPayment.payment_method == 'check' ? this.recordPayment.note:this.recordPayment.note2,
                        note: this.recordPayment.payment_method == 'cash' || this.recordPayment.payment_method == 'other' ? this.recordPayment.note:this.recordPayment.note2,
                        order_no: this.recordPayment.order_no,
                        amount: this.recordPayment.amount,
                        amountReturned: this.calculatedTotal,
                        creditLineUsed: this.remainCreditLine
                    }
                    this.modalRecordPayment= false;
                }
            },
            submit(bypass) {
                let note = null
                let filterReturn = this.detailData.filter(v =>{
                    return v.is_check == true
                })
                let selectedReturn  = []
                _.forEach(filterReturn, (item) =>{
                    if(item.qty > 0){
                        selectedReturn.push(item)
                    }
                })
                let listProduct = []
                for(var i = 0; i < selectedReturn.length; i++){
                    listProduct.push(`<li class="text-primary text-uppercase">${selectedReturn[i].model + ' ' + `(${selectedReturn[i].qty_return})`}</li>`)
                }
                if(this.isPartial == 1){
                    note = 'Return order with partial refund'
                }else if(listProduct.length > 0){
                    note = `Return order product : <br>` + `<ul>${listProduct.join('')}</ul>`
                }
                // if (this.totalReturn > 0) {
                    this.SET_SAVE_LOADING(true)
                    this.submitReturned({
                        bypass: bypass,
                        payment: this.payment,
                        reason: this.reason,
                        returned_date: this.moment(this.date).format('L'),
                        return_type: this.isPartial ? 1 : 0,
                        discount: this.status,
                        subtotal: this.subtotal
                    })
                    .then(response => {
                        this.SET_SAVE_LOADING(false)
                        if(Array.isArray(response)){
                            this.modelReturned = response
                            this.showModalConfirm()
                        }else{
                            this.hideModalConfirm()
                            this.getReturnedData(this.$route.params.id)
                            this.SET_SAVE_LOADING(false)
                            this.submitChangelog({
                                note : note
                            })
                            this.$router.push({ name:'my-orders-edit-id', params:{ 'id': this.$route.params.id}})
                        }
                    })
                // }
            },
            dispatchTrackAPISubmit() {
                let id = []
                let qty = []
                let note = []
                _.forEach(this.detailData, function(item) {
                    if (item.qty_return > 0) {
                        id.push(item.id)
                        qty.push(item.qty_return)

                        let change_note = ''
                        if (item.returned[item.returned - 1] == item.qty_return) {
                            change_note = item.qty_return + ' item model #'+ item.model +' has been removed from Dispatch Track Order #'+ this.$route.params.id +' because of return'
                        }
                        note.push(change_note)
                    }
                });
                this.subtmiDispatchTrack({
                    id: id.join(','),
                    store_id: '',
                    store_name: '',
                    from_to: '',
                    qty: qty.join(','),
                    type: 'return',
                    note: note.join(','),
                    change_log: ''
                })
            },
            disabledApply(value){
                this.disabledButton = value
            },
            creditLineTabClick() {
                this.$refs.formPaymentCreditLine.returnCreditDisabledButton()
            }
        }
    }
</script>
<style lang="scss">
    .table-return{
        td{
            vertical-align: unset;
        }
    }
</style>
