<template>
    <div>
        <back-link title="Online Quote" @goBack="goBack" />

        <div class="card-default">
            <app-form-quotes />
        </div>
    </div>
</template>

<script>
import FormQuotes from "@/components/form/QuoteRequest.vue";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink.vue";

export default {
    name: "ModalEditOnlineQuotes",
    data() {
        return {
            routeQuote: null,
        };
    },
    methods: {
        goBack() {
            this.getHistoryQuote().then(() => {
                this.$router.push({ name: this.routeQuote });
            });
        },
        getHistoryQuote() {
            return new Promise((resolve, reject) => {
                this.routeQuote = localStorage.getItem(
                    "history-route-online-quotes"
                );
                resolve();
            });
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-quotes": FormQuotes,
        "back-link": BackLink,
    },
};
</script>
<style>
.modal-quotes .card-header {
    z-index: 999;
    position: relative;
}
</style>
