<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="goBack" v-if="$route.name == 'my-orders-scan-out-id'">&times;</a>
            <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$router.go(-1)" v-else>&times;</a>
            <h2 class="mb-0 mx-auto">Scan Out</h2>
            <!-- <button class="btn btn-primary px-3" @click="save">Save scan out</button> -->
        </div>
        <div class="card-body">
            <div class="container">
                <div class="d-flex align-items-start mb-3">
                    <div>
                        <h4 class="font-weight-600 mb-2">Scan Out Inventory</h4>
                        <p class="mb-0">Use a scanner to scan each model number into system</p>
                    </div>
                    <div class="ml-auto">
                        <button class="btn btn-primary mr-3" @click="showModalRegister">Register UPC Code</button>
                        <button class="btn btn-primary" @click="showModalRegisterModel">Register Model Number</button>
                    </div>
                </div>
                <div class="d-flex align-items-start">
                    <no-ssr>
                        <div class="mr-3">
                            <app-select
                                label="delivery_method_name"
                                track-by="delivery_method_name"
                                placeholder="Select delivery method"
                                :options="deliveryMethods"
                                :show-labels="false"
                                v-model="delivery_method"
                                v-validate="'required'"
                                data-vv-as="delivery method"
                                name="deliveryMethod"
                                :class="{'is-invalid' : errors.has('deliveryMethod')}"
                                v-width="'250px'"
                            />
                            <span class="text-danger" v-if="errors.has('deliveryMethod')">{{errors.first('deliveryMethod')}}</span>
                        </div>
                        <app-datepicker mode="range" v-model="date" v-if="!isPickUp">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right" v-width="'220px'">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </div>
                <div class="border rounded p-4 mt-4">
                    <div class="row mb-3 align-items-center" v-for="(item, index) in scanoutModels" :key="index">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label for="#" class="font-weight-bold">UPC Code/Model Number</label>
                                <input type="text" class="form-control" ref="upcModel" v-model="item.model" :disabled="isScanOrder" @input="handleInputModel(index)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0 ml-3">
                                <label for="#" class="font-weight-bold">Serial Number</label>
                                <input type="text" class="form-control" ref="serialNumber" v-model="item.serial_number" :disabled="isScanOrder" @input="handleInputSerial(index)">
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <b-spinner variant="primary" class="mt-4" small v-if="isScanOrder" />
                        </div> -->
                        <!-- <div class="col-md-2">
                            <a href="javascript:void(0)" class="text-danger mt-3 d-inline-block" v-if="index != 0" @click="removeInput(index)"><i class="fas fa-minus-circle fa-lg"></i></a>
                        </div> -->
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-primary px-5 py-2" @click="fetchScanOrder" :disabled="isScanOrder">
                            <b-spinner variant="light" class="mx-1" small v-if="isScanOrder" />
                            <span v-else>Scan</span>
                        </button>
                    </div>
                </div>
                <hr class="my-5">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="font-weight-600">Preview Data</h4>
                    <button class="btn btn-primary px-3" :disabled="isSave || items.length == 0" @click="save">
                        <div class="mx-3" v-if="isSave">
                            <b-spinner variant="light" small />
                        </div>
                        <span v-else>Process</span>
                    </button>
                </div>
                <app-table
                    :fields="fields"
                    :items="items"
                    :busy="loadingTable"
                    :current-page="currentPage"
                    :per-page="perPage"
                    show-empty>
                    <div slot="table-busy" class="text-center text-blue my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="order_no" slot-scope="row">
                        <span class="mt-3 d-inline-block">{{row.item.order_no}}</span>
                        <a href="javascript:void(0)" @click="row.toggleDetails" class="text-primary d-flex align-items-center mt-2">
                            <i class="fas fa-lg" :class="row.item._showDetails ? 'fa-caret-down' : 'fa-caret-right'"></i>
                            <p class="mb-0 ml-2 font-weight-600">Info Detail</p>
                        </a>
                    </template>
                    <template slot="model" slot-scope="row">
                        <div class="d-flex align-items-center position-relative">
                            <app-select
                                label="product_id"
                                track-by="product_id"
                                placeholder="Type to edit"
                                :options="productOptions"
                                :searchable="true"
                                :loading="isLoading"
                                :preserve-search="true"
                                :internal-search="false"
                                :options-limit="300"
                                :max-height="600"
                                :show-no-options="false"
                                :show-labels="false"
                                :show-no-results="false"
                                v-model="row.item.product_selected"
                                @search-change="getProduct($event)"
                                @input="updateItem(row.item)"
                                v-width="'100%'"
                                class="search__bulk">
                                <template slot="option" slot-scope="props">
                                    <div class="option__desc">
                                        <span class="option__title">
                                            {{ props.option.product_id }}
                                        </span>
                                        <br>
                                        <span class="option__small">{{ props.option.brand }}</span>
                                    </div>
                                </template>
                            </app-select>
                            <!-- <input type="text" class="form-control mt-4" v-model="row.item.model" :disabled="true" v-width="'180px'"> -->
                            <div class="d-flex align-items-center mt-4" v-if="!row.item.is_valid">
                                <div class="notvalid__model">
                                    <a href="javascript:void(0)" class="text-danger ml-3">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </a>
                                    <div class="notvalid__model--alert text-white bg-danger p-2 small" v-width="'325px'">
                                        {{row.item.invalid_message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-slot:row-details="row">
                        <div class="mt-n3 mb-2 d-flex align-items-center">
                            <div>
                                <p class="font-weight-600 mb-2">Product Detail</p>
                                <p class="mb-0 text-gray">{{row.item.product_detail.short_description ? row.item.product_detail.short_description : '-'}}</p>
                            </div>
                        </div>
                    </template>
                    <template slot="serial_number" slot-scope="row">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" v-model="row.item.serial_number" @blur="updateItem(row.item)">
                        </div>
                    </template>
                    <template slot="brand" slot-scope="row">
                        <p class="mb-0">{{row.item.product_detail.category ? row.item.product_detail.brand : '-'}}</p>
                    </template>
                    <template slot="category" slot-scope="row">
                        <p class="mb-0">{{row.item.product_detail.category ? row.item.product_detail.category : '-'}}</p>
                    </template>
                    <template slot="action" slot-scope="row">
                        <a href="javascript:void(0)" class="text-danger" @click="showModalDelete(row.item)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </template>
                </app-table>
                <div class="d-flex justify-content-between align-items-center mt-4" v-if="items.length > 1">
                    <div class="d-flex align-items-center">
                        <app-total :data="scanout.meta" @itemPerPage="setPerPage"/>
                        <p class="mb-0 ml-1">of {{totalRows}} items</p>
                    </div>
                    <app-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        class="mb-0"
                    >
                    </app-pagination>
                </div>
            </div>
        </div>
        <app-modal size="lg" title="Order Number" :hide-footer="true" :show="modalOrder" @hide="hideModalOrder">
            <template v-if="items_order">
                <div class="d-flex align-items-center mb-3">
                    <div class="form-group mb-0 mr-3">
                        <div class="icon icon-left">
                            <input type="text" class="form-control form-icon" placeholder="Search" v-width="'200px'" v-model="searchOrder" @input="handleSearchOrder">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <app-table :fields="fieldsOrder" :items="items_order.data" show-empty :busy="isScanOrder" hover @row-clicked="selectOrder">
                    <div slot="table-busy" class="text-center text-blue">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="order_no" slot-scope="row">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{row.item.order_no}}</span>
                            <i class="fas fa-check text-success" v-if="row.item == selectedOrder"></i>
                        </div>
                    </template>
                </app-table>
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <div class="d-flex align-items-center">
                        <app-total :data="items_order.meta" @itemPerPage="setPerPageOrder"/>
                    </div>
                    <app-pagination
                        v-model="items_order.meta.current_page"
                        :total-rows="items_order.meta.total"
                        :per-page="items_order.meta.per_page"
                        @change="setPageOrder"
                        class="mb-0 ml-auto">
                    </app-pagination>
                </div>
            </template>
            <!-- <template slot="modal-footer">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary px-3" :disabled="selectedOrder == null || isProcess" @click="process">
                        <div class="mx-3" v-if="isProcess">
                            <b-spinner variant="light" small />
                        </div>
                        <span v-else>Process</span>
                    </button>
                </div>
            </template> -->
        </app-modal>
        <app-modal size="md" title="Register UPC Code" :show="modalRegister" @hide="hideModalRegister">
            <div class="form-group">
                <label for="#" class="font-weight-600">UPC Code</label>
                <input type="text" class="form-control" v-model="register.upc">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Number</label>
                <app-select
                    label="product_id"
                    track-by="product_id"
                    placeholder="Choose model number"
                    :open-direction="'bottom'"
                    :options="productOptions"
                    :searchable="true"
                    :loading="isLoading"
                    :preserve-search="true"
                    :internal-search="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-options="false"
                    :show-labels="false"
                    :show-no-results="false"
                    v-model="register.model_number"
                    @search-change="getProduct($event)"
                    class="select-product">
                    <template slot="option" slot-scope="props">
                        <div class="option__desc">
                            <span class="option__title">
                                {{ props.option.product_id }}
                            </span>
                            <br>
                            <span class="option__small">{{ props.option.brand }}</span>
                        </div>
                    </template>
                </app-select>
            </div>
            <template slot="modal-footer">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegister" :disabled="isRegister">Cancel</button>
                <button class="btn btn-primary" @click="submitRegister" :disabled="isRegister">
                    <b-spinner variant="light" small v-if="isRegister" />
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" @click="deleteItem">Delete</button>
                </div>
            </div>
        </app-modal>
        <app-modal size="md" title="Register Model Number" :show="modalRegisterModel" @hide="hideModalRegisterModel">
            <div class="form-group">
                <label for="#" class="font-weight-600">Scan Model from Barcode</label>
                <input type="text" class="form-control" ref="barcodeInput" v-model="modelBarcode" @input="handleInputBarcode">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Number</label>
                <input type="text" class="form-control" v-model="register_model.model_number" v-validate="'required'" name="modelNumber" data-vv-as="model number" :class="{'is-invalid' : errors.has('modelNumber')}">
                <span class="text-danger" v-if="errors.has('modelNumber')">{{errors.first('modelNumber')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">UPC Code</label>
                <input type="text" class="form-control" v-model="register_model.upc" name="upc">
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Model Name</label>
                <input type="text" class="form-control" v-model="register_model.model_name" v-validate="'required'" name="modelName" data-vv-as="model name" :class="{'is-invalid' : errors.has('modelName')}">
                <span class="text-danger" v-if="errors.has('modelName')">{{errors.first('modelName')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Brand Name</label>
                <app-select
                    track-by="brand_name"
                    label="brand_name"
                    :show-labels="false"
                    :options="brands"
                    v-model="register_model.brand"
                    placeholder="Select Brand"
                    v-validate="'required'"
                    name="brand"
                    :class="{'is-invalid' : errors.has('brand')}"
                />
                <span class="text-danger" v-if="errors.has('brand')">{{errors.first('brand')}}</span>
            </div>
            <div class="form-group">
                <label for="#" class="font-weight-600">Appliance Type</label>
                <app-select
                    track-by="category_id"
                    label="category_name"
                    :show-labels="false"
                    :options="categories"
                    v-model="register_model.category"
                    placeholder="Select Appliance Type"
                    v-validate="'required'"
                    name="applianceType"
                    data-vv-as="appliance type"
                    :class="{'is-invalid' : errors.has('applianceType')}"
                />
                <span class="text-danger" v-if="errors.has('applianceType')">{{errors.first('applianceType')}}</span>
            </div>
            <template slot="modal-footer">
                <button class="btn btn-outline-primary mr-3" @click="hideModalRegisterModel" :disabled="isRegisterModel">Cancel</button>
                <button class="btn btn-primary" @click="submitRegisterModel" :disabled="isRegisterModel">
                    <b-spinner variant="light" small v-if="isRegisterModel" />
                    <span v-else>Save</span>
                </button>
            </template>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSkipped" @hide="hideModalSkipped">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-5">These product models below cannot be added because not in tagged or in the order</h5>
                <ul>
                    <li v-for="(item, i) in skipped_model" :key="i">{{item}}</li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" @click="hideModalSkipped">Close</button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalInvalid" @hide="hideModalInvalid">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <!-- <h5 class="mt-4 mb-5">This process contain invalid model number <br> are you sure want to continue ?</h5> -->
                <h5 class="mt-4 mb-5">This process contain invalid model number</h5>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-outline-danger w-100" @click="hideModalInvalid">Cancel</button>
                    <!-- <button class="btn btn-primary w-100 ml-3" @click="bypassSave">Bypass and continue</button> -->
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalUnavailable" @hide="hideModalUnavailable">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-3">Opps!</h5>
                <h6 class="mb-5">{{errorMessage}}</h6>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalSuccess" @hide="hideModalSuccess">
            <div class="px-5 text-center">
                <img src="/icon/success.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Success!</h5>
                <p class="my-3">Your data has been successfully save</p>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import Modal from '@/components/utilities/Modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import TotalRecord from '@/components/utilities/TotalRecord'
    import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'

    import PrettyCheck from 'pretty-checkbox-vue/check'
    import Select from 'vue-multiselect'
    import _ from 'lodash'



    export default {
        data() {
            return {
                // isFromDeliveries: false,
                modelBarcode: '',
                isPickUp: false,
                delivery_method: null,
                errorMessage: null,
                isSave: false,
                modalUnavailable: false,
                isRegister: false,
                register: {
                    upc: null,
                    model_number: null
                },
                modalRegister: false,
                date: {
                    start: new Date(),
                    end: new Date()
                },
                selectedOrder: null,
                searchOrder: '',
                isScanOrder: false,
                perPageOrder: 10,
                pageOrder: 1,
                isDeliveryDate: true,
                modalOrder: false,
                modalSuccess: false,
                modalInvalid: false,
                loadingTable: false,
                tempData: null,
                modalDelete: false,
                modalSkipped: false,
                isProcess: false,
                routeOrder: null,
                routeQuote: null,
                isLoading: false,
                scanoutModels: [],
                perPage: 10,
                currentPage: 1,
                skipped_model: [],
                modalRegisterModel : false,
                isRegisterModel: false,
                register_model: {
                    model_name: null,
                    model_number: null,
                    brand: null,
                    category: null,
                    upc : null
                },
                scanout: {
                    meta: {
                        to: 0,
                        from: 0,
                        total: 0,
                    }
                },
                fieldsOrder: [
                    {
                        key: 'order_no'
                    },
                    {
                        key: 'product_model',
                        label: 'Model'
                    },
                    {
                        key: 'qty_left',
                        label: 'Quantity'
                    },
                    {
                        key: 'order_date'
                    }
                ],
                fields: [
                    {
                        key: 'order_no',
                        label: 'Order No'
                    },
                    {
                        key: 'model',
                        thStyle: {
                            width: '300px'
                        }
                    },
                    {
                        key: 'serial_number',
                        thStyle: {
                            width: '300px'
                        }
                    },
                    {
                        key: 'order_no',
                        label: 'Order No'
                    },
                    {
                        key: 'brand',
                        label: 'Brand'
                    },
                    {
                        key: 'category',
                        label: 'Category'
                    },
                    {
                        key: 'stock',
                        label: 'Quantity'
                    },
                    {
                        key: 'action',
                        label: ''
                    }
                ]
            }
        },
        props: {
            isFromDeliveries: {
                type: Boolean,
                default: false
            }
        },
        created() {
            this.scanoutModels.push({
                model: null,
                serial_number: null,
                order_no: null
            })
        },
        watch: {
            isFromDeliveries(){
               this.fillFilter()
            },
            delivery_method(){
                if(this.delivery_method != null){
                    if(this.delivery_method.is_pickup == 1){
                        this.date = null
                        this.isPickUp = true
                    }else{
                        this.isPickUp = false
                        this.date = {
                            start : new Date(),
                            end: new Date()
                        }
                    }
                }
            },
        },
        mounted(){
            this.fillFilter()
            this.$refs.upcModel[0].focus()
        },
        computed: {
            ...mapState('bulkInventory', {
                items : state => state.items_scanout,
                items_order: state => state.items_order
            }),
            ...mapState('product', {
                productOptions: state => state.items
            }),
            totalRows() {
                return this.items.length
            },
            ...mapState('category', {
                categories: state => state.categories
            }),
            ...mapState('brand', {
                brands: state => state.brands
            }),
            ...mapState('deliveryMethod',  {
                deliveryMethods: state => state.items
            })
        },
        methods:{
            ...mapActions('bulkInventory', ['postScanOut' ,'getBulkInventory', 'updateScanOut', 'deleteBulkInventory', 'saveBulkInventory', 'getScanOrder', 'registerUpc', 'registerModel']),
            ...mapActions('product', ['getProductOrder']),
            handleInputBarcode: _.debounce(function(){
                if(this.modelBarcode.length > 0){
                    this.register_model.model_number = this.modelBarcode.replace('-', '')
                }
            }, 300),
            fillFilter(){
                let dataFilter = JSON.parse(localStorage.getItem('deliveries-filter'))
                if(this.isFromDeliveries){
                    if(dataFilter){
                        this.date = null
                        this.date = {
                            start : new Date(dataFilter.date.start),
                            end: new Date(dataFilter.date.end)
                        }
                        this.delivery_method = dataFilter.delivery_method
                    }
                }
            },
            hideModalUnavailable(){
                this.modalUnavailable = false
                this.errorMessage = null
                this.hideModalOrder()
                this.$refs.upcModel[0].focus()
            },
            submitRegister(){
                this.isRegister = true
                this.registerUpc({
                    upc: this.register.upc,
                    model_number: this.register.model_number.product_id
                })
                .then(() => {
                    this.isRegister = false
                    this.hideModalRegister()
                })
                .catch(() => {
                    this.isRegister = false
                })
            },
            showModalRegister(){
                this.isRegister = false
                this.modalRegister = true
            },
            hideModalRegister(){
                this.modalRegister = false
                this.register.upc = null
                this.register.model_number = null
            },
            selectOrder(item){
                this.isScanOrder = true
                this.selectedOrder = item
                this.process()
            },
            handleSearchOrder: _.debounce(function() {
                this.fetchScanOrder()
            }, 500),
            setPerPageOrder(value){
                this.perPageOrder = value
                this.fetchScanOrder()
            },
            setPageOrder(value){
                this.pageOrder = value
                this.fetchScanOrder()
            },
            showModalOrder(){
                this.modalOrder = true
            },
            hideModalOrder(){
                this.selectedOrder = null
                this.scanoutModels = [{
                    model: null,
                    serial_number: null,
                    order_no: null
                }]
                this.modalOrder = false
                this.$refs.upcModel[0].focus()
            },
            getProduct: _.debounce(function($event) {
                this.isLoading = true
                this.getProductOrder({product_id: $event, search_type: ''})
                .then(() => {
                    this.isLoading = false
                })
            }, 500),
            goBack() {
                let from_quote = localStorage.getItem('from_quote')
                if(from_quote){
                    this.getHistoryQuote().then( () =>{
                        localStorage.removeItem('from_quote')
                        if(this.routeQuote.includes('/customers/detail')){
                            this.$router.push({ path: this.routeQuote})
                        }else {
                            this.$router.push({ name: this.routeQuote})
                        }
                    })
                } else {
                    localStorage.removeItem('from_quote')
                    this.getHistoryOrder().then( () =>{
                        if(this.routeOrder.includes('/customers/detail')){
                            this.$router.push({ path: this.routeOrder})
                        }else {
                            this.$router.push({ name: this.routeOrder != "null" ? this.routeOrder : 'my-orders-index-all'})
                        }
                    })
                }
            },
            getHistoryOrder(){
                return new Promise((resolve, reject) =>{
                    this.routeOrder = localStorage.getItem('history-route-order')
                    resolve()
                })
            },
            getHistoryQuote(){
                return new Promise((resolve, reject) =>{
                    this.routeQuote = localStorage.getItem('history-route-quote')
                    resolve()
                })
            },
            handleInputModel: _.debounce(function(index){
                this.$validator.validateAll()
                let formatedValue = this.scanoutModels[index].model.split(' ')
                if(formatedValue[1] != undefined){
                    let modelNumber
                    let serialNumber
                    if(formatedValue[1].includes(',')){
                        let formatedSerial = formatedValue[1].split(',')
                        let formatedModelNumber = formatedValue[0] + ' ' + formatedSerial[0]
                        modelNumber = formatedModelNumber.replace('.', '')
                        serialNumber = formatedSerial[1]
                    }else if(formatedValue[1].length > 2){
                        modelNumber = formatedValue[0].replace('.', '')
                        serialNumber = formatedValue[1]
                    }else{
                        modelNumber = this.scanoutModels[index].model
                        serialNumber = this.scanoutModels[index].serial_number
                    }
                    this.scanoutModels[index].model = modelNumber
                    this.scanoutModels[index].serial_number = serialNumber
                }
                if(this.scanoutModels[index].model.length > 0 ){
                    this.$refs.serialNumber[index].focus()
                }
            }, 300),

            fetchScanOrder(){
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll().then(result => {
                        if(result){
                            this.isScanOrder = true
                            this.getScanOrder({
                                perpage: this.perPageOrder,
                                page: this.pageOrder,
                                q: this.searchOrder,
                                start: this.date != null ? this.moment(this.date.start).format('YYYY-MM-DD') : null,
                                end: this.date != null ? this.moment(this.date.end).format('YYYY-MM-DD') : null,
                                model: this.scanoutModels[0].model,
                                serial_number: this.scanoutModels[0].serial_number,
                                delivery_method_id: this.delivery_method.delivery_method_id
                            })
                            .then(response => {
                                this.isScanOrder = false
                                if(response.status != 404){
                                    this.errorMessage = null
                                    if(response.data.length == 1 && this.searchOrder.length == 0){
                                        this.selectedOrder = response.data[0]
                                        this.scanoutModels[0].id = response.data[0].id;
                                        this.scanoutModels[0].date = this.moment(this.date).format('L');
                                        this.process()
                                    }else{
                                        this.showModalOrder()
                                    }
                                }else{
                                    this.errorMessage = response.message
                                    this.modalUnavailable = true
                                }
                                this.$refs.upcModel[0].focus()
                                resolve(response)
                            })
                        }
                    })
                })
            },
            handleInputSerial: _.debounce(function(index) {
                this.$validator.validateAll().then(result => {
                    if(result){
                        if(this.scanoutModels[index].serial_number.length > 0){
                            this.fetchScanOrder()
                        }
                    }
                })
            }, 300),
            // handleInputSerial: _.debounce(function(index){
            //     if(!this.isProcess){
            //         if(this.scanoutModels[index].model != null && this.scanoutModels[index].serial_number != null) {
            //             if(this.scanoutModels[index].model.length > 0 && this.scanoutModels[index].serial_number.length > 0 || this.scanoutModels[index].model != null && this.scanoutModels[index].serial_number != null){
            //                 this.scanoutModels.push({
            //                     model: null,
            //                     serial_number: null,
            //                     order_no: this.$route.params.id
            //                 })
            //             }
            //         }
            //     }
            // }, 300),
            removeInput(index){
                this.scanoutModels.splice(index, 1)
            },
            process() {
                this.isProcess = true
                this.loadingTable = true
                this.scanoutModels[0].order_no = this.selectedOrder.order_no
                this.scanoutModels[0].date = this.moment(this.selectedOrder.order_date).format('YYYY-MM-DD')
                this.postScanOut({
                    params: {
                        truck:this.selectedTruck
                    },
                    payload:this.scanoutModels[0],
                })
                .then((response) => {
                    this.skipped_model = response.models
                    if(response.status == 'failed'){
                        this.showModalSkipped()
                    }
                    this.getBulkInventory({
                        type: 2
                    }).then(() => {
                        this.loadingTable = false
                        this.isProcess = false
                        this.isScanOrder = false
                        setTimeout(() => {
                            this.$refs.upcModel[0].focus()
                        }, 500)
                        this.hideModalOrder()
                    })
                })
            },
            hideModalDelete(){
                this.modalDelete = false
                this.tempData = null
            },
            showModalDelete(item){
                this.tempData = item
                this.modalDelete = true
            },
            deleteItem(){
                this.deleteBulkInventory({
                    id: this.tempData.id
                })
                .then(() => {
                    this.getBulkInventory({
                        type: 2
                    })
                    .then(() => {
                        this.hideModalDelete()
                    })
                })
            },
            updateItem(item){
                this.updateScanOut({
                    id: item.id,
                    model: item.product_selected.product_id,
                    serial_number: item.serial_number
                })
                .then(() => {
                    this.getBulkInventory({
                        type: 2
                    })
                })
            },
            showModalSkipped(){
                this.modalSkipped = true
            },
            hideModalSkipped(){
                this.modalSkipped = false
            },
            showModalInvalid(){
                this.modalInvalid = true
            },
            hideModalInvalid(){
                this.modalInvalid = false
            },
            bypassSave(){
                this.isSave = true
                this.saveBulkInventory()
                .then(() => {
                    this.hideModalInvalid()
                    this.getBulkInventory({
                        type: 2
                    })
                    .then(() =>{
                        this.isSave = false
                        this.showModalSuccess()
                    })
                })
            },
            save() {
                let indexInvalid = this.items.findIndex(v => {return v.is_valid == false})
                if(indexInvalid != -1){
                    this.showModalInvalid()
                }else{
                    this.bypassSave()
                }
            },
            showModalSuccess() {
                this.modalSuccess = true
            },
            hideModalSuccess() {
                this.modalSuccess = false
                this.$router.push({name: 'deliveries-index'})
            },
            setPerPage(value) {
                this.perPage = value
                this.currentPage = 1
            },
            submitRegisterModel(){
                this.$validator.validateAll().then(result => {
                    if(result){
                        this.isRegisterModel = true
                        this.registerModel({
                            raw_model: this.modelBarcode,
                            model_name: this.register_model.model_name,
                            model_number: this.register_model.model_number,
                            category: this.register_model.category.category_id,
                            brand_id: this.register_model.brand.brands,
                            upc: this.register_model.upc,
                        })
                        .then(() => {
                            this.isRegisterModel = false
                            this.hideModalRegisterModel()
                        })
                        .catch(() => {
                            this.isRegisterModel = false
                        })
                    }
                })
            },
            showModalRegisterModel(){
                this.modalRegisterModel = true
                this.$nextTick(() => {
                    this.$refs.barcodeInput.focus()
                })
            },
            hideModalRegisterModel(){
                this.$refs.upcModel[0].focus()
                this.modelBarcode = ''
                this.modalRegisterModel = false
                this.register_model.model_number = null
                this.register_model.model_name = null
                this.register_model.brand = null
                this.register_model.category = null
                this.register_model.upc = null
            }
        },
        components: {
            'p-check': PrettyCheck,
            'app-modal': Modal,
            'app-table' : Table,
            'app-select': Select,
            'app-total' : TotalRecord,
            'app-pagination' : Pagination
        }
    }
</script>
