<template>
    <div class="card modal-form view-order">
        <div class="card-header bg-white d-flex align-items-center">
            <a href="#" class="h1 font-weight-300 mb-0" @click="$router.go(-1)">&times;</a>
            <h2 class="mb-0 ml-auto mr-auto">View Order</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-end mb-3">
                    <button :class="order.order_status == 0 ? 'btn btn-success':'btn btn-danger'" v-if="order.balance_due == 0 && detail_order.length > 0 && order.order_status != 2" @click="showModalCompleteOrder">{{ order.order_status == 0 ? 'Complete Order':'Cancel Complete Order' }}</button>
                </div>
                <div class="d-flex justify-content-end align-items-center mb-4">
                    <nuxt-link tag="a" class="btn btn-danger mr-3 text-white" :to="{ name: 'order-return-id', parasm: { id: order.order_no } }" v-if="order.balance_due == 0 && order.order_status == 0 && detail_order.length > 0" >Return</nuxt-link>
                    <!-- <nuxt-link tag="a" class="btn btn-warning mr-3 text-white" :to="{ name:'delivery-schedule-delivery-id', params:{ 'id': $route.params.id }}" v-if="order.order_status == 0">Schedule Delivery</nuxt-link> -->
                    <button class="btn btn-warning mr-3 text-white" @click.prevent="checkScheduleDelivery" v-if="order.order_status == 0">Schedule Delivery</button>
                    <button class="btn btn-success mr-3" @click="showModalNote">Note</button>
                    <button class="btn btn-primary mr-3" @click="showRecordPayment" v-if="order.balance_due != 0">Record Payment</button>
                    <button class="btn btn-info mr-3" @click="showModalEmail">Email</button>
                    <button class="btn btn-warning mr-3 text-white" @click="showModalPrintOrder">Print</button>
                    <button class="btn btn-success mr-3" @click="showModalPdfOrder">PDF</button>
                    <nuxt-link tag="a" :to="{ name:'order-edit-id', params: { id: order.order_no } }" class="btn btn-primary mr-3" v-if="order.order_status == 0">Edit</nuxt-link>
                    <button class="btn btn-danger" @click="showModalDeleteOrder" v-if="order.order_status == 0">Delete</button>
                </div>
                <b-card>
                    <div class="row mb-4">
                        <div class="col-6">
                            <h3 class="font-weight-600 mb-4">Invoice # {{ $route.params.id }}</h3>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <h5 class="font-weight-600">Date</h5>
                                </div>
                                <div class="col-8">
                                    <h5>{{ order.order_date }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="font-weight-600">Sales Person</h5>
                                </div>
                                <div class="col-8">
                                    <h5>{{ order.sales_person.fullname}}</h5>
                                    <h5>{{ order.sales_person.email }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <h5 class="text-lg-right">Phone : {{ order.store.store_phone_number }}</h5>
                                </div>
                                <div class="col-7">
                                    <h5 class="text-lg-right">{{ order.store.store_name }}</h5>
                                    <h5 class="text-lg-right">{{ store_address1 }}</h5>
                                    <h5 class="text-lg-right">{{ store_address2 }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <h4>Bill To :</h4>
                            <h5>{{ order.bill_name }}</h5>
                            <!-- <h5>{{ order.formatted_billing_address.name }}</h5> -->
                            <h5 v-html="order.formatted_billing_address.formatted"></h5>
                            <h5>{{ order.bill_phone_number }}</h5>
                        </div>
                        <div class="col-6">
                            <h4>Deliver To :</h4>
                            <h5>{{ order.ship_name }}</h5>
                            <!-- <h5>{{ order.formatted_shipping_address.name }}</h5> -->
                            <h5 v-html="order.formatted_shipping_address.formatted"></h5>
                            <h5>{{ order.ship_phone_number }}</h5>
                        </div>
                    </div>
                    <app-table :items="detail_order" :fields="fields" show-empty foot-clone>
                        <template slot-scope="row" slot="product">
                            <p class="mb-0">{{ row.item.product.product_id}}</p>
                        </template>
                        <template slot-scope="row" slot="description"> 
                            <p class="mb-0">{{ row.item.description.name}}</p>
                        </template>
                        <template slot-scope="row" slot="delivery">
                            <p class="mb-0" v-if="row.item.delivery_date != null">Date: {{ row.item.delivery_date }}</p>
                            <p class="mb-0" v-else>Date: -- </p>  
                            <p class="mb-0">Method: {{ row.item.delivery.delivery_method_name}}</p>
                        </template>
                        <template slot-scope="row" slot="price">
                            <p class="mb-0" v-money>{{ row.item.price }}</p>
                        </template>
                        <template slot-scope="row" slot="total">
                            <p class="mb-0" v-money>{{ row.item.price * row.item.qty}}</p>
                        </template>
                        <!-- Footer -->
                        <template slot="FOOT_product" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_description" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_delivery" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_price" slot-scope="row">
                            <div :key="row.field.label">
                                <p class="font-weight-light">Subtotal</p>
                                <!-- <p class="font-weight-light">Sales Tax ({{ outOfState == true ? 'Out of state' : order.tax +'%' }})</p> -->
                                <p class="font-weight-light">Sales Tax ({{ outOfState == true ? 'Out of state':'' }})</p>
                                <p class="font-weight-light" v-if="hasWarranty">Extended Warranty Charge</p>
                                <p class="font-weight-light" v-if="hasInstall">Install Charge</p>
                                <p class="font-weight-light">Delivery Charge</p>
                                <p class="font-weight-light" v-if="environmental_fee > 0">Environmental Fee</p>
                                <p class="font-weight-light">Total</p>
                                <div class="amount-paid__wrapper" v-if="order.payment">
                                    <div class="amount-paid__inner" v-for="(itemPayment, i) in order.payment" :key="'detail_payment' + i">
                                        <p class="mb-0"><strong>Amount Paid</strong></p>
                                        <p class="font-weight-light mb-0">Payment : <span class="text-uppercase">{{ itemPayment.payment_method}}</span></p>
                                        <p class="font-weight-light mb-0">Transaction Number :<br><span>{{itemPayment.note}}</span></p>
                                        <p class="font-weight-light">Date: {{ itemPayment.payment_date}}</p>
                                    </div>
                                </div>
                                <p class="font-weight-light" v-if="is_payment_cash >= 0 && order.change_due > 0">Change Due</p>
                                <p>Balance Due</p>
                                <div class="amount-paid__wrapper" v-if="order.return_payment.length > 0">
                                    <div class="amount-paid__inner" v-for="(val_return, index_return) in order.return_payment" :key="'refund' + index_return">
                                        <p class="mb-0 text-danger"><strong>Refund</strong></p>
                                        <p class="font-weight-light mb-0 text-danger">Payment : <span class="text-uppercase">{{ val_return.return_payment_option }}</span></p>
                                        <p class="font-weight-light mb-0 text-danger" v-if="val_return.return_payment_option == 'credit' || val_return.return_payment_option == 'check'">Transaction Number :<br><span>{{ val_return.return_payment_number }}</span></p>
                                        <p class="font-weight-light text-danger">Date: {{ val_return.return_payment_date }}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template slot="FOOT_qty" slot-scope="row">
                            <div  :key="row.field.label">
                            </div>
                        </template>
                        <template slot="FOOT_total" slot-scope="row">
                            <div :key="row.field.label">
                                <p class="font-weight-light" v-money>{{ subtotal }}</p>
                                <p class="font-weight-light" v-money>{{ salesTax }}</p>
                                <p class="font-weight-light" v-money v-if="hasWarranty">{{ warrantyCharge }}</p>
                                <p class="font-weight-light" v-money v-if="hasInstall">{{ installCharge }}</p>
                                <p class="font-weight-light" v-money>{{ order.delivery_charge }}</p>
                                <p class="font-weight-light" v-money v-if="environmental_fee > 0">{{ environmental_fee }}</p>
                                <p class="font-weight-light" v-money>{{ total }}</p>
                                <div class="amount-paid__wrapper" v-if="order.payment">
                                    <div class="amount-paid__inner" v-for="(val, i) in order.payment" :key="'total_payment' + i">
                                        <p v-money class="font-weight-light mb-0">{{ val.amount }}</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                    </div>
                                </div>
                                <p class="font-weight-light" v-if="is_payment_cash >= 0 && order.change_due > 0" v-money>{{ order.change_due }}</p>
                                <p v-money>{{ order.balance_due }}</p>
                                <div class="amount-paid__wrapper" v-if="order.return_payment.length > 0">
                                    <div class="amount-paid__inner" v-for="(total_return, index) in order.return_payment" :key="'total_return' + index">
                                        <p v-money class="mb-0 text-danger">{{ total_return.return_amount }}</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light">&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </app-table> 
                    <div class="order-return__wrapper" v-if="order.returned.length > 0">
                        <h4 class="text-danger mb-3">Order Return</h4>
                        <app-table :items="order.returned" :fields="return_field" class="text-danger"></app-table>
                    </div>
                    <div class="note-wrapper mt-3" v-if="external_notes.length > 0">
                        <div class="bs-callout bs-callout-success">
                            <h4>Customer Notes</h4>
                        </div>
                        <template>
                            <div class="bs-callout bs-callout-primary" v-for="(row, index) in external_notes" :key="'external' + index">
                                <div class="note-action d-flex justify-content-end align-items-center mb-3">
                                    <a href="#" @click="showModalEditNote(row.id)" class="mr-3" v-b-tooltip.hover title="Edit Note">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" class="mr-3 red" @click="showModalDeleteNote(row.id)" v-b-tooltip.hover title="Delete Note">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                                <p>{{ row.note }}</p>  
                            </div>
                        </template>
                    </div>       
                </b-card>
                <div class="note-wrapper mt-4" v-if="internal_notes.length > 0">
                    <div class="bs-callout bs-callout-success">
                        <h4>Company Notes</h4>
                    </div>
                    <template>
                        <div class="bs-callout bs-callout-primary" v-for="(row, index) in internal_notes" :key="'internal' + index">
                            <div class="note-action d-flex justify-content-end align-items-center mb-3">
                                <a href="#" @click="showModalEditNote(row.id)" class="mr-3" v-b-tooltip.hover title="Edit Note">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="mr-3 red" @click="showModalDeleteNote(row.id)" v-b-tooltip.hover title="Delete Note">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                            <p>{{ row.note }}</p>  
                        </div>
                    </template>
                </div>       
            </div>
        </div>
        <app-modal size="lg" title="Note Section" centered @hide="closeModalNote" v-model="modalNote">
            <template>
                <div class="form-group">
                    <label for="external-note">Add Customer Notes</label>
                    <textarea id="external-note" class="form-control" v-model="notes.external" cols="30" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <label for="internal-note">Add Company Notes</label>
                    <textarea id="internal-note" class="form-control" v-model="notes.internal" cols="30" rows="8"></textarea>
                </div>
            </template>
            <div class="card border-danger mb-3" v-if="error">
                <div class="card-body text-danger">
                    <p class="card-text text-center">At least one field must be assigned</p>
                </div>
            </div>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-primary mr-3" @click="saveNote">Save</div>
                        <div class="btn btn-outline-primary" @click="closeModalNote">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Email Order" centered @hide="closeModalEmail" v-model="modalEmail">
            <template>
                <div class="form-group">
                    <label for="external-note">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" v-model="email.subject">
                </div>
                <div class="form-group">
                    <no-ssr><vue-editor v-model="email.content"></vue-editor></no-ssr>
                </div>
                <p class="mb-3">Email this quote to {{ order.customer.email }} ?</p>
                <no-ssr><p-check class="p-default p-curve p-thick p-smooth p-bigger mb-3" color="primary-o" v-model="email.checked">Use Different Email</p-check></no-ssr>
                <div class="form-group" v-if="email.checked == true">
                    <input type="email" class="form-control" v-model="email.email" placeholder="Email">
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-primary mr-3" @click="saveEmailWithSpec">With Spec Sheets</div>
                        <div class="btn btn-primary mr-3" @click="saveEmailWithoutSpec">Without Spec Sheets</div>
                        <div class="btn btn-outline-primary" @click="closeModalEmail">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Delete Order" centered @hide="closeModalDeleteOrder" v-model="modalDeleteOrder">
            <template>
                <b-alert :show="delete_message != ''">{{ delete_message }}</b-alert>
                <h5 class="mt-0 mb-4">Are You Sure to Delete Order <span class="content-txt">{{ order.order_no }}</span> ?</h5>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="removeOrder">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteOrder">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Edit Note" centered @hide="closeModalEditNote" v-model="modalEditNote">
            <template>
                <div class="form-group">
                    <label for="external-note">Edit Note</label>
                    <textarea id="external-note" class="form-control" cols="30" rows="6" v-model="edit_note.note"></textarea>
                </div>
            </template>
            <div class="card border-danger mb-3" v-if="error">
                <div class="card-body text-danger">
                    <p class="card-text text-center"> {{error}}</p>
                </div>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="submitNote">Save</div>
                    <div class="btn btn-outline-primary" @click="closeModalEditNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Delete Note" centered @hide="closeModalDeleteNote" v-model="modalDeleteNote">
            <template>
                <h5>Are you sure to delete this note ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteNote">Delete</div>
                    <div class="btn btn-outline-primary" @click="closeModalDeleteNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Warning" :header-bg-variant="'danger'" :header-text-variant="'light'" centered @hide="closeModalScheduleDelivery" v-model="modalScheduleDelivery">
            <template>
                <h5>There is currently an unpaid balance on this order. In order to schedule delivery please collect the entire amount owed.</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary" @click="closeModalScheduleDelivery">Close</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Record Payment" centered @hide="closeModalRecordPayment" v-model="modalRecordPayment" class="modal-record-payment">
            <template>
                <b-tabs pills card vertical v-model="recordPaymentTab">
                    <b-tab title="Cash">
                        <app-form-payment ref="formPaymentCash" :balance="parseFloat(order.balance_due)" @payment="submitPayment" />
                    </b-tab>
                    <b-tab title="Credit Card"><app-form-payment ref="formPaymentCredit" :balance="parseFloat(order.balance_due)" credit @payment="submitPayment" /></b-tab>
                    <b-tab title="Check"><app-form-payment ref="formPaymentCheck" :balance="parseFloat(order.balance_due)" check @payment="submitPayment" /></b-tab>
                    <b-tab title="Other"><app-form-payment ref="formPaymentOther" :balance="parseFloat(order.balance_due)" other @payment="submitPayment" /></b-tab>
                </b-tabs>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click.prevent="applyPayment">Apply Payment</button>
                    <!-- <div class="btn btn-outline-primary" @click="closeModalRecordPayment">Close</div> -->
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Print Order" centered @hide="closeModalPrintOrder" v-model="modalPrintOrder">
            <template>
                <h5>Choose your print sheets :</h5>
                <div class="d-flex align-items-center mt-3">
                    <div class="btn btn-primary mr-2" @click.prevent="printPdfWithSpec">With Spec Sheets</div>
                    <div class="btn btn-primary" @click.prevent="printPdfWithoutSpec">Without Spec Sheets</div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary" @click="closeModalPrintOrder">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="PDF Order" centered @hide="closeModalPdfOrder" v-model="modalPdfOrder">
            <template>
                <h5>Choose your PDF sheets :</h5>
                <div class="d-flex align-items-center mt-3">
                    <div class="btn btn-primary mr-2" @click.prevent="printPdfWithSpec">With Spec Sheets</div>
                    <div class="btn btn-primary" @click.prevent="printPdfWithoutSpec">Without Spec Sheets</div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary" @click="closeModalPdfOrder">Cancel</div>
                </div>
            </div>
        </app-modal>
         <app-modal size="lg" title="Complete Order" centered @hide="closeModalCompleteOrder" v-model="modalCompleteOrder">
            <template>
                <h5>Are you sure to {{ order.order_status == 1 ? 'cancel':'' }} complete order <span class="content-txt">{{ $route.params.id }}</span> ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="CompleteOrder('')">Yes</div>
                    <div class="btn btn-outline-primary" @click="closeModalCompleteOrder">No</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import PrettyCheck from 'pretty-checkbox-vue/check'
    let VueEditor
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import RecordPayment from '@/components/form/RecordPayment'
    import Select from 'vue-multiselect'
    import {mapState, mapActions, mapMutations} from 'vuex'

    var printJs
    if (process.client) {
        VueEditor = require('vue2-editor').VueEditor
        printJs = require('print-js')
    }

    export default {
        props:{
            returned:{
                type: Array
            },
            return_payment:{
                type: Array
            }
        },
        data() {
            return{
                is_payment_cash: null,
                hasInstall: null,
                hasWarranty: null,
                date: new Date(),
                modalCompleteOrder: false,
                fields: [ 
                    {
                        key:'product',
                        label: 'Product'
                    },
                    {
                        key:'description',
                        label: 'Description',
                        thStyle:{
                            width:"250px"
                        }
                    },
                    {
                        key:'delivery',
                        label:'Delivery'
                    },
                    {
                        key:'price',
                        label:'Price'
                    }, 
                    {
                        key:'qty',
                        label:'Quantity'
                    },
                    {
                        key:'total',
                        label: 'Total'
                    }
                ],
                return_field:['date_returned','product','qty'],
                modalNote:false,
                modalPrintOrder: false,
                modalPdfOrder: false,
                modalEmail: false,
                modalDeleteOrder: false,
                modalEditNote: false,
                modalDeleteNote: false,
                modalRecordPayment: false,
                modalScheduleDelivery: false,
                delete_message: '',
                selected_note:'',
                store_address1 : null,
                store_address2 : null,
                notes: {
                    external: '',
                    internal: ''
                },
                edit_note: {
                    id: '',
                    note: ''
                },
                email: {
                    subject: 'Slyman Bros',
                    email: '',
                    content: null,
                    checked: false,
                    type: null
                },
                recordPaymentTab: 0
            }
        },
        components: {
            'app-modal': Modal,
            'app-table': Table,
            'p-check': PrettyCheck,
            'app-select': Select,
            'app-form-payment': RecordPayment,
            VueEditor
        },
        computed:{
            ...mapState('order',{
                order: state => state.data,
                detail_order: state => state.detailData,
                order_notes: state => state.notes,
                urlPDF: state => state.urlPDF,
                error:  state => state.errors
            }),
            subtotal() {
                return this._.sumBy(this.detail_order, (item) => parseFloat(item.price) * parseFloat(item.qty))
            },
            outOfState(){
                if(this.order.ship_address != null){
                    if(this.order.ship_address.includes("MO") || this.order.ship_address.includes("Missouri") ){
                        return false
                    }
                    return true
                }
            },
            salesTax() {
                let vm = this
                if(!this.outOfState ) {
                    return this._.sumBy(this.detail_order, function(item) {
                        return item.taxed ? ((parseFloat(item.price) * parseFloat(item.qty)) * parseFloat(vm.order.tax)) / 100 :0
                    })
                } else {
                    return 0
                }
            },
            warrantyCharge() {
                return this._.sumBy(this.detail_order, (item) => parseFloat(this._.sumBy(item.warranty, (item_warranty) => parseFloat(item_warranty.price))) * parseFloat(item.qty))
            },
            installCharge() {
                return this._.sumBy(this.detail_order, (item) => item.install != null ? parseFloat(item.install.install_price) * parseFloat(item.qty) : 0)
            },
            environmental_fee() {
                return this.order.qty_haul * parseFloat(4.00)
            },
            total() {
                return parseFloat(this.subtotal) + parseFloat(this.salesTax) + parseFloat(this.warrantyCharge) + parseFloat(this.installCharge) + parseFloat(this.environmental_fee)
            },
            internal_notes() {
                return this.order.notes.filter(i => i.from_note == 'INTERNAL')
            },
            external_notes() {
                return this.order.notes.filter(i => i.from_note == 'EXTERNAL')
            },
        },
        created(){
            let temp = this.order.store.store_address.split(',')
            let temp2 = temp[2]
            temp2 = temp2.split(' ')
            temp2.length = temp2.length -1
            temp2.shift()
            if(temp2[0] != null){
                this.area = temp2[0]
            } else {
                this.area = temp[2].split(' ')[1]
            }
            this.is_payment_cash = this.order.payment.findIndex(function(val) {
                return val.payment_method == 'cash'
            })
            let storeName = this.order.store.store_name.split(')')
            storeName.splice(1,1,this.area)
            this.store_name = storeName[0] + ', ' + storeName[1] + ')'
            this.store_address1 = temp[0]
            this.store_address2 = temp[1] + ', ' + temp[2]
            this.detail_order.forEach(element => {
                element.install ? this.hasInstall++: ''
                element.warranty.length > 0 ? this.hasWarranty++ :''
            });
        },
        methods:{
            ...mapActions('order', [
                'deleteOrder', 'addNotes', 'getOrder', 'editNotes', 'updateNotes', 'deleteNotes', 'sendMail',
                'getPdfWithoutSpec', 'getPdfWithSpec', 'postOrderRecordPayment',
                'completeOrder'
            ]),
            ...mapMutations('order', ['SET_ORDER_ERRORS']),
            showModalNote(){
                this.notes = {
                    external: '',
                    internal: ''
                },
                this.modalNote= true
            },
            closeModalNote(){
                this.notes = {
                    external: '',
                    internal: ''
                },
                this.SET_ORDER_ERRORS(null)
                this.modalNote= false;
            },
            saveNote(){
                this.addNotes({
                    order_no: this.order.order_no,
                    internal: this.notes.internal,
                    external: this.notes.external
                }).then((response) => {
                    this.getOrder(this.$route.params.id).then(() => {
                        this.closeModalNote()
                    })
                })
            },
            showModalEmail(){
                this.modalEmail= true;
            },
            closeModalEmail(){
                this.modalEmail= false
                this.email.type = null
            },
            saveEmail(){
                this.sendMail({
                    subject: this.email.subject,
                    email: this.email.email,
                    message: this.email.content,
                    type: this.email.type,
                    order_no: this.order.order_no
                }).then(() => {
                    this.email = {
                        subject: 'Slyman Bros',
                        email: '',
                        content: null,
                        checked: false,
                        type: null
                    }
                    this.modalEmail= false
                })
            },
            saveEmailWithSpec() {
                this.email.type = 'with'
                this.saveEmail()
            },
            saveEmailWithoutSpec() {
                this.email.type = 'without'
                this.saveEmail()
            },
            showModalDeleteOrder(){
                this.modalDeleteOrder= true;
                
            },
            closeModalDeleteOrder(){
                this.modalDeleteOrder= false;
            },
            removeOrder(){
                this.delete_message = ''
                this.deleteOrder(this.order.order_no).then((res) => {
                    if (res.status == 'success') {
                        this.modalDeleteOrder= false;
                        this.$router.push({ name: 'order-open' })
                    } else {
                        this.delete_message = res.data
                    }
                })
            },
            showModalEditNote(id){
                this.editNotes(id).then((response) => {
                    this.edit_note = {
                        id: response.id,
                        note: response.note
                    }
                    this.modalEditNote= true;
                })
            },
            closeModalEditNote(){
                this.edit_note = {
                    id: '',
                    note: ''
                }
                this.SET_ORDER_ERRORS(null)
                this.modalEditNote= false;
            },
            submitNote(){
                this.updateNotes(this.edit_note).then(() => {
                    this.getOrder(this.$route.params.id).then(() => {
                        this.closeModalEditNote()
                    })
                })
            },
            showModalDeleteNote(id){
                this.edit_note.id = id
                this.modalDeleteNote= true;
            },
            closeModalDeleteNote(){
                this.edit_note.id = ''
                this.modalDeleteNote= false;
            },
            deleteNote(){
                this.deleteNotes(this.edit_note.id).then(() => {
                    this.getOrder(this.$route.params.id).then(() => {
                        this.closeModalDeleteNote()
                    })
                })
            },
            showRecordPayment(){
                this.modalRecordPayment = true
            },
            closeModalRecordPayment(){
                this.modalRecordPayment= false
            },
            // goBack() {
            //     let path = localStorage.getItem('history-route-order') != null ? localStorage.getItem('history-route-order'):'order-open'
            //     this.$router.push({ name:  path })
            // },
            applyPayment() {
                if(this.recordPaymentTab == 0) {
                    this.$refs.formPaymentCash.submit()
                }
                else if(this.recordPaymentTab == 1) {
                    this.$refs.formPaymentCredit.submit()
                }
                else if(this.recordPaymentTab == 2) {
                    this.$refs.formPaymentCheck.submit()
                }
                else if(this.recordPaymentTab == 3) {
                    this.$refs.formPaymentOther.submit()
                }
            },
            submitPayment(val) {
                if (val) {
                    this.postOrderRecordPayment('order')
                    .then(response => {
                        this.getOrder(this.$route.params.id).then((res) => {
                            if (res.balance_due == 0) {
                                this.completeOrder({ 
                                    order_no: this.$route.params.id, 
                                    status: 2
                                }).then(() => this.order.order_status = 2)
                            }
                            this.$refs.formPaymentCash.reset()
                            this.closeModalRecordPayment()
                        })
                    })
                }
            },
            showModalPrintOrder(){
                this.modalPrintOrder= true;
            },
            closeModalPrintOrder(){
                this.modalPrintOrder= false;
            },
            showModalPdfOrder(){
                this.modalPdfOrder= true;
            },
            closeModalPdfOrder(){
                this.modalPdfOrder= false;
            },
            printPdfWithoutSpec() {
                this.getPdfWithoutSpec(this.order.order_no)
                .then((res) => {
                    printJs({ printable: this.urlPDF, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            printPdfWithSpec() {
                this.getPdfWithSpec(this.order.order_no)
                .then((res) => {
                    printJs({ printable: this.urlPDF, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            showModalCompleteOrder(){
                this.modalCompleteOrder= true;
            },
            closeModalCompleteOrder(){
                this.modalCompleteOrder= false;
            },
            CompleteOrder(val){
                this.completeOrder({ 
                    order_no: this.$route.params.id, 
                    status: val == 2 ? val:this.order.order_status == 1 ? 0:1 
                })
                .then((response) => {
                    let name = response.data.order_status == 0 ? 'order-open':response.data.order_status == 1 ? 'order-completed':'order-closed'
                    this.$router.push({ name: name })
                })
            },
            closeModalScheduleDelivery() {
                this.modalScheduleDelivery = false
            },
            checkScheduleDelivery() {
                if (this.order.balance_due > 0) {
                    this.modalScheduleDelivery = true
                } else {
                    this.$router.push({ name:'delivery-schedule-delivery-id', params:{ 'id': this.$route.params.id }})
                }
            }
        }
    }
</script>
<style lang="scss">
.content-txt{
    color: #e83e8c;
}

</style>
