<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex align-items-center">
            <nuxt-link tag="a" class="h1 font-weight-300 mb-0" :to="{ name:'quotes'}" v-if="$route.params.edit">&times;</nuxt-link>
            <a href="#" class="h1 font-weight-300 mb-0" @click="$router.go(-1)" v-else>&times;</a>
            <h2 class="mb-0 ml-auto mr-auto">View Quotes</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="form-group mb-0">
                        <!-- <no-ssr><app-select
                            v-model="status.selected" 
                            :options="status.data" 
                            :close-on-select="true" 
                            :clear-on-select="false" 
                            :hide-selected="true" 
                            :preserve-search="true"
                            :select-label="'Select'"
                            placeholder="Select Status" 
                            label="name" 
                            track-by="name" 
                            :preselect-first="true"
                            v-width="'200px'"
                            @input="setStatus($event)"
                        >
                        </app-select></no-ssr> -->
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-success mr-3" @click="showModalNote">Note</button>
                        <button class="btn btn-primary mr-3" @click="showRecordPayment" v-if="quote.balance_due != 0">Record Payment</button>
                        <button class="btn btn-info mr-3" @click="showModalEmail">Email</button>
                        <button class="btn btn-warning mr-3 text-white" @click="showModalPrintQuote">Print</button>
                        <button class="btn btn-success mr-3" @click="showModalPdfQuote">PDF</button>
                        <nuxt-link tag="a" :to="{ name:'quotes-edit-id', params: { id: quote.quote_no }}" class="btn btn-primary mr-3">Edit</nuxt-link>
                        <button class="btn btn-danger" @click="showModalDeleteQuotes">Delete</button>
                    </div>
                </div>
                <b-card>
                    <div class="row mb-4">
                        <div class="col-6">
                            <h3 class="font-weight-600 mb-4">Quote #{{ quote.quote_no }}</h3>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <h5 class="font-weight-600">Date</h5>
                                </div>
                                <div class="col-8">
                                    <h5>{{ quote.quote_date }}</h5>
                                </div>
                            </div>
                            <div class="row mb-3" v-if="quote.payment.length == 0">
                                <div class="col-4">
                                    <h5 class="font-weight-600">Expiration Date</h5>
                                </div>
                                <div class="col-8">
                                    <h5>{{ quote.valid_quote_date }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="font-weight-600">Sales Person</h5>
                                </div>
                                <div class="col-8">
                                    <h5>{{ quote.user.fullname }}</h5>
                                    <h5>{{ quote.user.email }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <h5 class="text-lg-right">Phone : {{ quote.user.store.store_phone_number }}</h5>
                                </div>
                                <div class="col-7">
                                    <h5 class="text-lg-right">{{ store_name }}</h5>
                                    <h5 class="text-lg-right">{{ store_address1 }}</h5>
                                    <h5 class="text-lg-right">{{ store_address2 }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <h4>Bill To :</h4>
                            <h5>{{ quote.bill_name }}</h5>
                            <h5>{{ quote.formatted_billing_address.name }}</h5>
                            <h5>{{ quote.bill_phone_number }}</h5>
                        </div>
                        <div class="col-6">
                            <h4>Deliver To :</h4>
                            <h5>{{ quote.ship_name }}</h5>
                            <h5>{{ quote.formatted_shipping_address.name }}</h5>
                            <h5>{{ quote.ship_phone_number }}</h5>
                        </div>
                    </div>
                    <app-table :items="detail_quote" :fields="fields" show-empty foot-clone>
                        <template slot="product" slot-scope="data">
                            <p class="mb-0">{{ data.item.product.product_id }}</p>
                        </template>
                        <template slot="description" slot-scope="data">
                            <p class="mb-0">{{ data.item.description.name }}</p>
                            <p class="mb-0" v-if="data.item.install != null">Install: {{ data.item.install.install_name }}</p>
                            <p class="mb-0" v-if="data.item.install != null">Install Price: {{ data.item.install.install_price }}</p>
                            <template v-for="(warranty, index) in data.item.warranty">
                                <p class="mb-0" :key="'name' + index"><strong>Warranty: </strong> {{ warranty.name }}</p>
                                <p class="mb-0" :key="'price' + index"><strong>Price: </strong> <span v-money>{{ warranty.price }}</span></p>
                            </template>
                        </template>
                        <template slot="price" slot-scope="data">
                            <p class="mb-0" v-money>{{ data.item.price }}</p>
                        </template>
                        <template slot="qty" slot-scope="data">
                            {{ data.item.qty }}
                        </template>
                        <template slot="total" slot-scope="data">
                            <p class="mb-0" v-money>{{ data.item.price * data.item.qty }}</p>
                        </template>
                        <!-- footer -->
                        <template slot="FOOT_product" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_brand" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_description" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_price" slot-scope="row">
                            <div :key="row.field.label">
                                <p class="font-weight-light">Subtotal</p>
                                <!-- <p class="font-weight-light">Sales Tax ({{ outOfState ? 'out of state' : quote.tax+'%' }})</p> -->
                                <p class="font-weight-light">Sales Tax ({{ outOfState ? 'out of state':'' }})</p>
                                <p class="font-weight-light" v-if="hasWarranty">Extended Warranty Charge</p>
                                <p class="font-weight-light" v-if="hasInstall">Install Charge</p>
                                <p class="font-weight-light">Delivery Charge</p>
                                <p class="font-weight-light" v-if="environmental_fee > 0">Environmental Fee</p>
                                <p>Total</p>
                                <div class="amount-paid__wrapper" v-if="quote.payment">
                                    <div class="amount-paid__inner" v-for="(itemPayment, i) in quote.payment" :key="'detail_payment' + i">
                                        <p class="mb-0"><strong>Amount Paid</strong></p>
                                        <p class="font-weight-light mb-0">Payment : <span class="text-uppercase">{{ itemPayment.payment_method}}</span></p>
                                        <p class="font-weight-light mb-0">Transaction Number :<br><span>{{itemPayment.note}}</span></p>
                                        <p class="font-weight-light">Date: {{ itemPayment.payment_date}}</p>
                                    </div>
                                </div>
                                <p v-if="is_payment_cash >= 0 && quote.change_due > 0">Change Due</p>
                                <p>Balance Due</p>
                            </div>
                        </template>
                        <template slot="FOOT_qty" slot-scope="row"><div :key="row.field.label"></div></template>
                        <template slot="FOOT_total" slot-scope="row">
                            <div :key="row.field.label">
                                <p class="font-weight-light" v-money>{{ subtotal }}</p>
                                <p class="font-weight-light" v-money>{{ salesTax }}</p>
                                <p class="font-weight-light" v-money v-if="hasWarranty">{{ totalWarranty }}</p>
                                <p class="font-weight-light" v-money v-if="hasInstall">{{ totalInstall }}</p>
                                <p class="font-weight-light" v-money>{{ quote.delivery_charge }}</p>
                                <p class="font-weight-light" v-money v-if="environmental_fee > 0">{{ environmental_fee }}</p>
                                <p v-money>{{ total }}</p>
                                <div class="amount-paid__wrapper" v-if="quote.payment">
                                    <div class="amount-paid__inner" v-for="(val, i) in quote.payment" :key="'total_payment' + i">
                                        <p v-money class="font-weight-light mb-0">{{ val.amount }}</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                        <p class="font-weight-light mb-0">&nbsp;</p>
                                    </div>
                                </div>
                                <p v-if="is_payment_cash >= 0 && quote.change_due > 0" v-money>{{ quote.change_due }}</p>
                                <p v-money>{{ quote.balance_due }}</p>
                            </div>
                        </template>
                    </app-table> 
                    <div class="note-wrapper">
                        <div class="bs-callout bs-callout-success" v-if="external_notes.length > 0">
                            <h4>Customer Notes</h4>
                        </div>
                        <template>
                            <div class="bs-callout bs-callout-primary" v-for="(note, index) in external_notes" :key="index">
                                <div class="note-action d-flex justify-content-end align-items-center mb-3">
                                    <!-- <nuxt-link tag="a" class="mr-3" :to=""'/'"" v-b-tooltip.hover title="Edit Note"><i class="fa fa-edit"></i></nuxt-link> -->
                                    <a href="#" @click="showModalEditNote(note.id, note.note)" class="mr-3" v-b-tooltip.hover title="Edit Note">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" class="mr-3 red" @click="showModalDeleteNote(note.id)" v-b-tooltip.hover title="Delete Note">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                                <p>{{ note.note }}</p>  
                            </div>
                        </template>
                    </div>      
                </b-card>
                <div class="note-wrapper mt-4" v-if="internal_notes.length > 0">
                    <div class="bs-callout bs-callout-success">
                        <h4>Company Notes</h4>
                    </div>
                    <template>
                        <div class="bs-callout bs-callout-primary" v-for="(note, index) in internal_notes" :key="index">
                            <div class="note-action d-flex justify-content-end align-items-center mb-3">
                                <!-- <nuxt-link tag="a" class="mr-3" :to=""'/'"" v-b-tooltip.hover title="Edit Note"><i class="fa fa-edit"></i></nuxt-link> -->
                                <a href="#" @click="showModalEditNote(note.id, note.note)" class="mr-3" v-b-tooltip.hover title="Edit Note">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="mr-3 red" @click="showModalDeleteNote(note.id)" v-b-tooltip.hover title="Delete Note">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                            <p>{{ note.note }}</p>
                        </div>
                    </template>
                </div>       
            </div>
        </div>
        <app-modal size="lg" title="Note Section" centered @hide="closeModalNote" v-model="modalNote">
            <template>
                <div class="form-group">
                    <label for="external-note">Add Customer Notes</label>
                    <textarea id="external-note" class="form-control" v-model="notes.external" cols="30" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <label for="internal-note">Add Company Notes</label>
                    <textarea id="internal-note" class="form-control" v-model="notes.internal" cols="30" rows="8"></textarea>
                </div>
            </template>
            <div class="card border-danger mb-3" v-if="error">
                <div class="card-body text-danger">
                    <p class="card-text text-center">At least one field must be assigned</p>
                </div>
            </div>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-primary mr-3" @click="saveNote">Save</div>
                        <div class="btn btn-outline-primary" @click="closeModalNote">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Email Quote" centered @hide="closeModalEmail" v-model="modalEmail">
            <template>
                <div class="form-group">
                    <label for="external-note">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" v-model="emails.subject">
                </div>
                <div class="form-group">
                    <no-ssr><vue-editor v-model="emails.content"></vue-editor></no-ssr>
                </div>
                <p class="mb-3">Email this quote to {{ quote.customer.email }} ?</p>
                <no-ssr><p-check class="p-default p-curve p-thick p-smooth p-bigger mb-3" color="primary-o" v-model="emails.checked">Use Different Email</p-check></no-ssr>
                <div class="form-group" v-if="emails.checked == true">
                    <input type="email" class="form-control" placeholder="Email" v-model="emails.email">
                </div>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-primary mr-3" @click="saveEmailWithSpec">With Spec Sheets</div>
                        <div class="btn btn-primary mr-3" @click="saveEmailWithoutSpec">Without Spec Sheets</div>
                        <div class="btn btn-outline-primary" @click="closeModalEmail">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Delete Quote" centered @hide="closeModalDeleteQuotes" v-model="modalDeleteQuotes">
            <template>
                <h5 class="mt-0 mb-4">Are You Sure to Delete Quote <span class="content-txt">{{ quote.quote_no }}</span> ?</h5>
            </template>
                <div slot="modal-footer" class="w-100">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-danger mr-3" @click="removeQuotes">Delete</div>
                        <div class="btn btn-primary" @click="closeModalDeleteQuotes">Cancel</div>
                    </div>
                </div>
        </app-modal>
        <app-modal size="lg" title="Edit Note" centered @hide="closeModalEditNote" v-model="modalEditNote">
            <template>
                <div class="form-group">
                    <label for="external-note">Edit Note</label>
                    <textarea id="external-note" class="form-control" cols="30" rows="6" v-model="selected_note"></textarea>
                </div>
            </template>
            <div class="card border-danger mb-3" v-if="error">
                <div class="card-body text-danger">
                    <p class="card-text text-center">{{error}}</p>
                </div>
            </div>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="submitNote">Save</div>
                    <div class="btn btn-outline-primary" @click="closeModalEditNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Delete Note" centered @hide="closeModalDeleteNote" v-model="modalDeleteNote">
            <template>
                <h5>Are you sure to delete this note ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteNote">Delete</div>
                    <div class="btn btn-outline-primary" @click="closeModalDeleteNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Print Quote" centered @hide="closeModalPrintQuote" v-model="modalPrintQuote">
            <template>
                <h5>Choose your print sheets :</h5>
                <div class="d-flex align-items-center mt-3">
                    <div class="btn btn-primary mr-2" @click.prevent="printPdfWithSpec">With Spec Sheets</div>
                    <div class="btn btn-primary" @click="printPdfWithoutSpec">Without Spec Sheets</div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary" @click="closeModalPrintQuote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="PDF Quote" centered @hide="closeModalPdfQuote" v-model="modalPdfQuote">
            <template>
                <h5>Choose your PDF sheets :</h5>
                <div class="d-flex align-items-center mt-3">
                    <div class="btn btn-primary mr-2" @click.prevent="printPdfWithSpec">With Spec Sheets</div>
                    <div class="btn btn-primary" @click="printPdfWithoutSpec">Without Spec Sheets</div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary" @click="closeModalPdfQuote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Record Payment" centered @hide="closeModalRecordPayment" v-model="modalRecordPayment" class="modal-record-payment">
            <template>
                <b-tabs pills card vertical v-model="recordPaymentTab">
                    <b-tab title="Cash">
                        <app-form-payment ref="formPaymentCash" :balance="parseFloat(quote.balance_due)" @payment="submitPayment" />
                    </b-tab>
                    <b-tab title="Credit Card"><app-form-payment ref="formPaymentCredit" :balance="parseFloat(quote.balance_due)" credit @payment="submitPayment" /></b-tab>
                    <b-tab title="Check"><app-form-payment ref="formPaymentCheck" :balance="parseFloat(quote.balance_due)" check @payment="submitPayment" /></b-tab>
                    <b-tab title="Other"><app-form-payment ref="formPaymentOther" :balance="parseFloat(quote.balance_due)" other @payment="submitPayment" /></b-tab>
                </b-tabs>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-3" @click.prevent="applyPayment">Apply Payment</button>
                    <!-- <div class="btn btn-outline-primary" @click="closeModalRecordPayment">Close</div> -->
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import PrettyCheck from 'pretty-checkbox-vue/check';
    let VueEditor
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import RecordPayment from '@/components/form/RecordPayment'
    import Select from 'vue-multiselect'
    import { mapState, mapActions, mapMutations } from 'vuex'

    var printJs;
    if (process.client) {
        VueEditor = require('vue2-editor').VueEditor
        printJs = require('print-js')
    }

    export default {
        destroyed(){
            this.SET_CUSTOMER_SELECTED(null)
        },
        created() {
            // this.status.selected = {
            //     name: this.quote.quote_status == 0 ? 'Pending':'Accept'
            // }
            let temp = this.quote.user.store.store_address.split(',')
            let temp2 = temp[2]
            temp2 = temp2.split(' ')
            temp2.length = temp2.length -1
            temp2.shift()
            if(temp2[0] != null){
                this.area = temp2[0]
            } else {
                this.area = temp[2].split(' ')[1]
            }
            this.is_payment_cash = this.quote.payment.findIndex(function(val) {
                return val.payment_method == 'cash'
            })
            let storeName = this.quote.user.store.store_name.split(')')
            storeName.splice(1,1,this.area)
            this.store_name = storeName[0] + ', ' + storeName[1] + ')'
            this.store_address1 = temp[0]
            this.store_address2 = temp[1] + ', ' + temp[2]
            this.detail_quote.forEach(element => {
                element.install ? this.hasInstall++: ''
                element.warranty.length > 0 ? this.hasWarranty++ :''
            })
        },
        data() {
            return{
                fields: [ 'product', 'brand', 'description', 'price', 'qty', 'total' ],
                // items: [
                //     { product: '11-29-2018', brand: '15-24613', description: 'Jake Smith', price: '$1,936.08', qty:'2', total:''},
                // ],
                hasInstall: null,
                hasWarranty: null,
                modalNote:false,
                modalPrintQuote: false,
                modalPdfQuote: false,
                modalEmail: false,
                modalDeleteQuotes: false,
                selected_note:'',
                modalEditNote: false,
                modalDeleteNote: false,
                selected_note_id:'',
                is_payment_cash: null,
                status:{
                    selected: null,
                    data:[
                        {
                            name:'Accepted'
                        },
                        {
                            name:'Pending'
                        }
                    ]
                },
                notes: {
                    external: '',
                    internal: ''
                },
                emails: {
                    subject: 'Slyman Bros',
                    email: '',
                    content: null,
                    checked: false,
                    type: null
                },
                store_name : null,
                area : null,
                store_address1 : null,
                store_address2 : null,
                modalRecordPayment: false,
                recordPaymentTab: 0
            }
        },
        components: {
            'app-modal': Modal,
            'app-table': Table,
            'p-check': PrettyCheck,
            'app-select': Select,
            'app-form-payment': RecordPayment,
            VueEditor
        },
        computed: {
            ...mapState('quote', {
                quote: state => state.quote,
                detail_quote: state => state.detail_quote,
                urlPDF: state => state.urlPDF,
                error: state => state.errors
            }),
            internal_notes() {
                return this.quote.notes.filter(i => i.from_note == 'INTERNAL')
            },
            external_notes() {
                return this.quote.notes.filter(i => i.from_note == 'EXTERNAL')
            },
            ...mapState('customer', {
                customer(state) {
                    return {
                        selected: state.selected
                    }
                }
            }),
            ...mapState('salesPerson', {
                salesPerson(state) {
                    return {
                        items: state.items,
                        selected: state.selected
                    }
                }
            }),
            ...mapState('product', {
                product(state) {
                    return {
                        items: state.items,
                        selected: state.selected,
                        stock: state.stock
                    }
                }
            }),
            ...mapState('install', {
                install(state) {
                    return {
                        items: state.items,
                        selected: state.selected,
                        form: state.data
                    }
                }
            }),
            ...mapState('warranty', {
                warranties: state => state.items
            }),
            ...mapState('store', {
                stores: state => state.items
            }),
            subtotal() {
                return this._.sumBy(this.detail_quote, (item) => parseFloat(item.price) * parseFloat(item.qty))
            },
            salesTax() {
                if(!this.outOfState){
                    let vm = this
                    return this._.sumBy(this.detail_quote, function(item) {
                        return item.is_taxed ? ((parseFloat(item.price) * parseFloat(item.qty)) * parseFloat(vm.quote.tax)) / 100 :0
                    })
                } else {
                    return 0
                }
                
            },
            totalWarranty() {
                let vm = this
                return this._.sumBy(this.detail_quote, function(item) {
                    return vm._.sumBy(item.warranty, (val) => parseFloat(val.price))
                })
            },
            totalInstall() {
                return this._.sumBy(this.detail_quote, function(item) {
                    return item.install != null ? item.install.install_price:0
                })
            },
            environmental_fee() {
                return this.quote.qty_haul * parseFloat(4.00)
            },
            total() {
                return parseFloat(this.subtotal) + parseFloat(this.totalWarranty) + parseFloat(this.totalInstall) + parseFloat(this.salesTax)
            },
            outOfState(){
                if(this.quote.ship_address != null){
                    if(this.quote.ship_address.includes("MO") || this.quote.ship_address.includes("Missouri") ){
                        return false
                    }
                    return true
                }
            },
        },
        methods:{
            ...mapActions('quote', [
                'changeStatus', 
                'deleteQuote', 
                'addQuoteNotes',
                'deleteQuoteNote',
                'updateQuoteNote',
                'getQuote',
                'sendEmail',
                'getPdfWithoutSpec',
                'getPdfWithSpec'
            ]),
            ...mapMutations('customer', ['SET_CUSTOMER_SELECTED']),
            ...mapActions('order', ['postOrderRecordPayment']),
            ...mapMutations('quote', ['CLEAR_QUOTE', 'SET_QUOTE_ERRORS']),
            showModalNote(){
                this.modalNote= true;
            },
            closeModalNote(){
                this.notes = {
                    external: '',
                    internal: ''
                }
                this.SET_QUOTE_ERRORS(null),
                this.modalNote= false;
            },
            saveNote() {
                this.addQuoteNotes({ notes: this.notes, user_id: this.salesPerson.selected.user_id }).then(() => {
                    this.getQuote(this.$route.params.id)
                    this.error ? '' : this.closeModalNote()
                })
            },
            showModalEmail(){
                this.modalEmail= true
            },
            closeModalEmail(){
                this.modalEmail= false
                this.emails.type = null
            },
            saveEmail(){
                this.sendEmail({
                    subject: this.emails.subject,
                    email: this.emails.email,
                    message: this.emails.content,
                    type: this.emails.type,
                    quote_no: this.quote.quote_no
                }).then(() => {
                    this.emails = {
                        subject: 'Slyman Bros',
                        email: '',
                        content: null,
                        checked: false,
                        type: null
                    }
                    this.modalEmail= false
                })
            },
            saveEmailWithSpec() {
                this.emails.type = 'with'
                this.saveEmail()
            },
            saveEmailWithoutSpec() {
                this.emails.type = 'without'
                this.saveEmail()
            },
            showModalDeleteQuotes(){
                this.modalDeleteQuotes= true
            },
            closeModalDeleteQuotes(){
                this.modalDeleteQuotes= false
            },
            removeQuotes(){
                this.deleteQuote().then(() => {
                    this.modalDeleteQuotes= false;
                    this.$router.push({ name: 'quotes' })
                })
            },
            setStatus(e) {
                this.changeStatus({ status: e.name }).then(() => {
                    this.$router.push({ name: 'quotes' })
                })
            },
            showModalEditNote(id, note){
                this.selected_note = note
                this.selected_note_id = id 
                this.modalEditNote= true;
            },
            closeModalEditNote(){
                this.SET_QUOTE_ERRORS(null)
                this.modalEditNote= false;
            },
            submitNote(){
                this.updateQuoteNote({
                    id : this.selected_note_id,
                    note : this.selected_note
                }).then(() =>{
                    this.getQuote(this.$route.params.id)
                    this.modalEditNote= false;
                })
            },
            showModalDeleteNote(id){
                this.selected_note_id = id 
                this.modalDeleteNote= true;
            },
            closeModalDeleteNote(){
                this.modalDeleteNote= false;
            },
            deleteNote(){
                this.deleteQuoteNote({
                    id : this.selected_note_id
                }).then(() =>{
                    this.getQuote(this.$route.params.id)
                    this.modalDeleteNote= false;
                })
            },
            printPdfWithoutSpec() {
                this.getPdfWithoutSpec(this.quote.quote_no)
                .then((res) => {
                    printJs({ printable: this.urlPDF, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            printPdfWithSpec() {
                this.getPdfWithSpec(this.quote.quote_no)
                .then((res) => {
                    printJs({ printable: this.urlPDF, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            showModalPrintQuote(){
                this.modalPrintQuote= true;
            },
            closeModalPrintQuote(){
                this.modalPrintQuote= false;
            },
            showModalPdfQuote(){
                this.modalPdfQuote= true;
            },
            closeModalPdfQuote(){
                this.modalPdfQuote= false;
            },
            showRecordPayment(){
                this.modalRecordPayment = true
            },
            closeModalRecordPayment(){
                this.modalRecordPayment= false
            },
            applyPayment() {
                if(this.recordPaymentTab == 0) {
                    this.$refs.formPaymentCash.submit()
                }
                else if(this.recordPaymentTab == 1) {
                    this.$refs.formPaymentCredit.submit()
                }
                else if(this.recordPaymentTab == 2) {
                    this.$refs.formPaymentCheck.submit()
                }
                else if(this.recordPaymentTab == 3) {
                    this.$refs.formPaymentOther.submit()
                }
            },
            submitPayment(val) {
                if (val) {
                    this.postOrderRecordPayment('quote')
                    .then(response => {
                        this.getQuote(this.$route.params.id).then((res) => {
                            if (res.balance_due <= 0) {
                                this.changeStatus('').then(() => {
                                    this.$router.push({ name: 'order-view-id', params: {id: this.$route.params.id } })
                                })
                            }
                            this.$refs.formPaymentCash.reset()
                            this.closeModalRecordPayment()
                        })
                    })
                }
            }
        }
    }
</script>
<style>
.content-txt{
    color: #e83e8c;
}
</style>
