<template>
    <ModalCondition></ModalCondition>
</template>

<script>
import ModalCondition from "@/components/admin/modal/Condition.vue";

export default {
    name: "AddCondition",
    transition: "slide",
    layout: "admin",
    components: {
        ModalCondition,
    },
};
</script>
