<template>
    <modal-product edit />
</template>

<script>
import ModalProduct from "@/components/admin/modal/ProductPriceTag";
export default {
    name: "EditProduct",
    components: {
        ModalProduct,
    },
    transition: "slide",
    layout: "admin",
};
</script>
