<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-4">Inventory</h3>
            <div class="form-group mb-0 d-flex align-items-center">
                <nuxt-link v-if="$route.name == 'inventory-index-current-inventory'" class="btn btn-outline-primary" :to="{ name: 'order-report-index-pending-orders' }"><span class="mr-2"><i class="far fa-file-alt"></i></span> Order Reports</nuxt-link>
                <nuxt-link v-if="$route.name == 'inventory-index-current-inventory'" class="btn btn-outline-primary ml-3" :to="{ name: 'inventory-transfer-inventory-index-transfer' }"><span class="mr-2"><i class="fas fa-exchange-alt"></i></span> Transfer Inventory</nuxt-link>
                <nuxt-link v-if="$route.name == 'inventory-index-current-inventory'" class="btn btn-outline-primary ml-3 d-flex align-items-center btn-datamatch" :to="{ name: 'inventory-inventory-data-match-index-match' }">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-datamatch mr-2" width="15" height="15" viewBox="0 0 28.35 26.36" fill="#0055C0">
                        <defs>
                            <style>
                            .cls-1 {
                                fill: none;
                            }

                            </style>
                        </defs>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1"
                                d="M9.89,4.82A2.44,2.44,0,0,0,9,3.9a2.5,2.5,0,0,0-1.31-.35,2.46,2.46,0,0,0-1.3.35,2.54,2.54,0,0,0-.92.92,2.46,2.46,0,0,0-.35,1.3,2.46,2.46,0,0,0,.35,1.3,2.39,2.39,0,0,0,.92.92,2.47,2.47,0,0,0,1.3.36A2.51,2.51,0,0,0,9,8.34a2.48,2.48,0,0,0,.91-.91,2.51,2.51,0,0,0,.36-1.31A2.47,2.47,0,0,0,9.89,4.82ZM7.15,7.42,5.87,6.12l.37-.37.91.93,2-2,.36.38Z" />
                            <polygon points="9.11 4.71 7.15 6.68 6.24 5.75 5.87 6.12 7.15 7.42 9.47 5.09 9.11 4.71" />
                            <polygon points="19.94 21.69 19.03 20.76 18.66 21.13 19.94 22.43 22.26 20.09 21.89 19.71 19.94 21.69" />
                            <path
                                d="M27.11,10.42,26.5,9.9a.49.49,0,0,0-.69.06l-.44.52V6.37a.83.83,0,0,0-.83-.83h-9V2.16a.84.84,0,0,0-.84-.83H8.15l-.73-1A.85.85,0,0,0,6.75,0H.83A.83.83,0,0,0,0,.83v9.75a.83.83,0,0,0,.83.83H14.61a.83.83,0,0,0,.83-.83V7.2H23.6v3.31L23.13,10a.49.49,0,0,0-.69-.06l-.61.52a.49.49,0,0,0-.06.68l2.13,2.58a.74.74,0,0,0,1.13,0l2.14-2.58A.49.49,0,0,0,27.11,10.42Zm-17.22-3A2.48,2.48,0,0,1,9,8.34a2.51,2.51,0,0,1-1.31.36,2.47,2.47,0,0,1-1.3-.36,2.39,2.39,0,0,1-.92-.92,2.46,2.46,0,0,1-.35-1.3,2.46,2.46,0,0,1,.35-1.3,2.54,2.54,0,0,1,.92-.92,2.46,2.46,0,0,1,1.3-.35A2.5,2.5,0,0,1,9,3.9a2.44,2.44,0,0,1,.91.92,2.47,2.47,0,0,1,.36,1.3A2.51,2.51,0,0,1,9.89,7.43Z" />
                            <path
                                d="M27.52,16.28h-6.6l-.81-1.1a.85.85,0,0,0-.67-.34H13.52a.83.83,0,0,0-.83.83v4.82H6.84V16.72l.57.68a.5.5,0,0,0,.69.06l.61-.53a.48.48,0,0,0,.06-.68L6.64,13.68a.73.73,0,0,0-1.12,0L3.38,16.25a.49.49,0,0,0,.05.68l.62.52a.48.48,0,0,0,.68-.05l.56-.66v4.58a.83.83,0,0,0,.83.83H12.8v3.38a.83.83,0,0,0,.83.83H27.52a.83.83,0,0,0,.83-.83V17.11A.83.83,0,0,0,27.52,16.28Zm-4.84,6.15a2.51,2.51,0,0,1-.91.92,2.57,2.57,0,0,1-3.53-.92,2.51,2.51,0,0,1-.35-1.3,2.46,2.46,0,0,1,.35-1.3,2.54,2.54,0,0,1,2.22-1.28,2.6,2.6,0,0,1,1.31.35,2.51,2.51,0,0,1,.91.92,2.55,2.55,0,0,1,0,2.61Z" />
                            </g>
                        </g>
                    </svg>
                    Inventory Data Match
                </nuxt-link>
                <template v-if="inventoryAdjustment">
                    <nuxt-link class="btn btn-outline-primary ml-3" :to="{ name: 'add-inventory' }"><span class="mr-2"><i class="fas fa-plus"></i></span> Add Inventory</nuxt-link>
                    <nuxt-link class="btn btn-outline-primary ml-3" :to="{ name: 'bulk-inventory-index-add' }"><span class="mr-2"><i class="fas fa-plus"></i></span> Add Bulk Inventory</nuxt-link>
                </template>
            </div>
        </div>
        <b-tabs>
            <b-tab title="Current Inventory" @click="$router.push({name:'inventory-index-current-inventory'})" :active="$route.name == 'inventory-index-current-inventory'"></b-tab>
            <b-tab title="Returned Inventory" @click="$router.push({name:'inventory-index-returned-inventory-index-pending'})" :active="$route.name.includes('inventory-index-returned-inventory')"></b-tab>
        </b-tabs>
        <NuxtChild class="mt-3" />
    </section>
</template>

<script>
    import Tab from '@/components/utilities/Tab.vue'
    export default {
        components:{
            'app-tab': Tab
        },
        transition: 'slide',
        layout: 'admin',
        data: () => ({
            inventoryAdjustment: false
        }),
        created(){
            let indexFeature = this.$auth.user.features.findIndex(v => {return v.name === 'Inventory Management'})
            if(indexFeature != -1) this.inventoryAdjustment = true
            else this.inventoryAdjustment = false
        }
    }
</script>
<style lang="scss">
.btn-datamatch{
    &:hover{
        .svg-datamatch{
            fill: #fff !important;
        }
    }
}
</style>