<template>
    <div>
        <div class="d-flex align-items-center mb-4">
            <div class="mr-3">
                <no-ssr>
                    <app-datepicker mode="single" v-model="date" @input="handleFilter">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right" v-width="'220px'">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <div class="mr-3">
                <no-ssr>
                    <app-select
                        v-model="sales_selected"
                        :options="sales_person"
                        placeholder="Select Sales Person"
                        :show-labels="false"
                        label="fullname"
                        track-by="user_id"
                        v-width="'250px'"
                        @input="handleFilter"
                    />
                </no-ssr>
            </div>
            <div class="form-group mb-0">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Orders / Model #" @input="handleSearch">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <ScanOutReport @setPage="setPage" @setPerPage="setPerPage" :handle-filter="handleFilter"/>
    </div>
</template>

<script>
import Select from 'vue-multiselect'
import ScanOutReport from '@/components/admin/table/ScanOutReport'
import {mapState, mapActions} from 'vuex'
import debounce from 'lodash/debounce'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-select' : Select,
        ScanOutReport
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('bulkInventory/getScanLog', {
                type: 1,
                user_id: null,
                model: null,
                date: new Date().toLocaleDateString(),
                page:1,
                perpage: 10
            }),
            store.dispatch('store/getManagers'),
        ])
    },
    data: () => ({
        date: new Date(),
        sales_selected: null,
        search: '',
        page: 1,
        perpage: 10
    }),
    computed: {
        ...mapState('store', {
            sales_person: state => state.sales_person
        })
    },
    methods: {
        ...mapActions({
            getScanLog: 'bulkInventory/getScanLog'
        }),
        handleFilter(){
            this.page = 1
            this.fetchScanLog()
        },
        handleSearch: debounce(function(){
            this.handleFilter()
        }, 500),
        setPage(value){
            this.page = value
            this.fetchScanLog()
        },
        setPerPage(value){
            this.perpage = value
            this.fetchScanLog()
        },
        fetchScanLog(){
            this.getScanLog({
                date: this.moment(this.date).format('YYYY-MM-DD'),
                page: this.page,
                perpage: this.perpage,
                model: this.search,
                user_id: this.sales_selected ? this.sales_selected.user_id : null,
                type: 1
            })
        }
    }
}
</script>
