<template>
    <div>
        <h3 class="font-weight-600 mb-0">Leaderboard</h3>
        <div class="d-flex mt-4">
            <div class="d-flex flex-row">
                <div class="mb-0">
                    <el-date-picker
                        v-model="month"
                        type="monthrange"
                        format="MM-yyyy"
                        align="right"
                        unlink-panels
                        range-separator="-"
                        start-placeholder="Start month"
                        end-placeholder="End month"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-leaderboard @row-clicked="showAction" :month="selected" :year="selectyear" @set-perpage="setPerpage" ref="table"/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'

    import TableLeaderboard from '@/components/table/Leaderboard.vue'
    import Select from 'vue-multiselect'

    export default {
        async asyncData ({ store, route }) {
            var today = new Date()
            var mm = today.getMonth() + 1
            var yyyy = today.getFullYear()
            if (mm < 10) {
                mm = '0' + mm;
            }
            var start_month = yyyy + '-' + mm + '-01';
            var end_month = new Date(yyyy, mm, 0).getDate();
            var end_month = yyyy + '-' + mm + '-' + end_month;

            await store.dispatch('leaderboard/getLeaderboards', {
                start_month: store.state.topSalesPersonFilter.length > 0 ? store.state.topSalesPersonFilter[0] : start_month,
                end_month: store.state.topSalesPersonFilter.length > 0 ? store.state.topSalesPersonFilter[1] : end_month,
                perpage: 10
            })
            return
        },
        destroyed() {
            this.SET_LEADERBOARD_SELECTED(null)
            this.SET_LEADERBOARD_PAGE(1)
            this.CLEAR_SALES_PERSON_FILTER()
        },
        created(){
            if(this.topSalesPersonFilter.length > 0){
                this.month = [new Date(this.topSalesPersonFilter[0]), new Date(this.topSalesPersonFilter[1])]
            }
        },
        data() {
            return {
                month: [
                    new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                    new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
                ],
                pickerOptions: {
                    shortcuts: [
                        {
                            text: 'This month',
                            onClick(picker) {
                                picker.$emit('pick', [new Date(), new Date()]);
                            }
                        }, 
                        {
                            text: 'This year',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date(new Date().getFullYear(), 0);
                                picker.$emit('pick', [start, end]);
                            }
                        }, 
                        {
                            text: 'Last 6 months',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setMonth(start.getMonth() - 6);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                },
                selectedMonth : [],
                selected: this.moment().format('MMMM'),
                selectyear: this.moment().format('Y'),
                data: [
                    'January',
                    'February',
                    'March',
                    'April',
                    'May',
                    'June',
                    'July',
                    'August',
                    'September',
                    'October',
                    'November',
                    'December'
                ],
                years: [],
                perpage: 10
            }
        },
        computed: {
            ...mapState('leaderboard', {
                leaderboard(state) {
                    return {
                        selected: state.selected
                    }
                }
            }),
            ...mapState(['topSalesPersonFilter'])
        },
        methods: {
            ...mapMutations('leaderboard', [
                'SET_LEADERBOARD_SELECTED',
                'SET_LEADERBOARD_PAGE'
            ]),
            ...mapMutations(['SET_LOADING_TABLE', 'CLEAR_SALES_PERSON_FILTER']),
            ...mapActions('leaderboard', [
                'getLeaderboards'
            ]),
            setPerpage(val){
                this.perpage = val
            },
            generateLeaderboard(date) {
                this.SET_LOADING_TABLE(true)
                this.getLeaderboards({ start_month: date.start_month, end_month: date.end_month, perpage: this.perpage }).then( () =>{
                    this.SET_LOADING_TABLE(false)
                })
            }
        },
        watch: {
            search: {
                immediate: true,
                handler(newValue, oldValue) {
                    if (typeof oldValue != 'undefined') {
                        this.generateLeaderboard()
                    }
                    this.SET_LEADERBOARD_PAGE(1)
                }
            },
            month(val) {
                let firstMonth = val[0]
                let firstDate = new Date(firstMonth.getFullYear(), firstMonth.getMonth(), 1)
                let lastMonth = val[1]
                let lastDate = new Date(lastMonth.getFullYear(), lastMonth.getMonth() + 1, 0)
                this.generateLeaderboard({ start_month:  this.moment(firstDate).format('YYYY-MM-DD'), end_month: this.moment(lastDate).format('YYYY-MM-DD')})
            },
            selectyear() {
                this.$refs.table.page == 1 ? this.generateLeaderboard():this.SET_LEADERBOARD_PAGE(1)
            }
        },
        components: {
            'app-table-leaderboard': TableLeaderboard,
            'app-select': Select
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>