<template>
    <div>
        <app-select
            v-width="'250px'"
            class="mb-4"
            placeholder="Select Delivery Method"
            v-model="delivery_method_selected"
            :options="deliveryMethods"
            :searchable="false"
            track-by="delivery_method_id"
            label="delivery_method_name"
            :show-labels="false"
            :allow-empty="false"
            @input="fetchDeliveryTime"
        />
        <admin-table-delivery-times />
    </div>
</template>
<script>
import { mapMutations, mapState, mapActions } from 'vuex'
import AdminTableDeliveryTimes from '@/components/admin/table/DeliveryTimes'
import Select from 'vue-multiselect';

export default {
    async asyncData ({ store, route }) {
        const deliveryMethod = await store.dispatch("deliveryMethod/getDeliveryMethods", {type: 'all'})
        const deliveryMethodDefault = deliveryMethod.data.find(item => item.is_default)
        await store.dispatch('deliveryTimes/getDeliveryTimes', {delivery_method_id: deliveryMethodDefault.delivery_method_id})
    },
    data: () => ({
        delivery_method_selected: null
    }),
    created(){
        const deliveryMethodDefault = this.deliveryMethods.find(item => item.is_default)
        this.delivery_method_selected = deliveryMethodDefault
    },
    beforeRouteLeave(to, from, next) {
        this.SET_DELIVERY_TIMES_PAGE(1)
        next()
    },
    methods: {
        ...mapMutations('deliveryTimes', [
            'SET_DELIVERY_TIMES_PAGE',
        ]),
        ...mapActions({
            getDeliveryTimes : 'deliveryTimes/getDeliveryTimes'
        }),
        fetchDeliveryTime(){
            this.getDeliveryTimes({
                delivery_method_id: this.delivery_method_selected.delivery_method_id
            })
        }
    },
    computed: {
        ...mapState("deliveryMethod", {
            deliveryMethods: state => state.items 
        }),
    },
    components:{
        'admin-table-delivery-times': AdminTableDeliveryTimes,
        'app-select' : Select
    },
    transition: 'slide',
    layout: 'admin',
}
</script>

