<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Online Quotes</h3>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex flex-row">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Quotes">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Not Assigned" @click="$router.push({name:'online-quotes-index-not-assigned'})" :active="$route.name == 'online-quotes-index-not-assigned'"></b-tab>
                <b-tab title="Assigned" @click="$router.push({name:'online-quotes-index-assigned'})" :active="$route.name == 'online-quotes-index-assigned'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild :search="search" @clear-search="clearSearch" />
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import _ from 'lodash'

    export default {
        destroyed() {
            this.SET_ORDER_SELECTED(null)
        },
        data() {
            return {
                search: '',
                action: false,
                perpage: 10
            }
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_SELECTED'
            ]),
            ...mapMutations('quoteRequest', [
                'SET_QUOTE_PAGE'
            ]),
            ...mapActions('quoteRequest', [
                'getRequestQuotes'
            ]),
            ...mapMutations(['SET_LOADING_TABLE']),
            clearSearch(){
                this.search = null
            },
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.SET_LOADING_TABLE(true)
                    if(this.page == 1){
                        this.getRequestQuotes({
                            search : this.search,
                            perpage: this.perpage,
                            type: this.$route.name == 'online-quotes-index-not-assigned' ? 'not-assigned' : 'assigned'
                        }).then( ()=>{
                            this.SET_LOADING_TABLE(false)
                        })
                    } else {
                        this.SET_QUOTE_PAGE(1)
                    }
                }
            }, 800)

        },
        computed: {
            ...mapState('quoteRequest', {
                page: state => state.page,
            }),
        },
        watch: {
            search(){
                this.searchAction()
            }
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>