<template>
    <section>
        <h3 class="font-weight-600 mb-0">Sell Through Data</h3>
        <div class="d-flex align-items-start mt-3">
           <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr>
                            <app-datepicker mode="range" v-model="date">
                                <template :type='inputState.type' slot-scope='{ inputValue }'>
                                    <div class="icon icon-right">
                                        <input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                        <i class="far fa-calendar-alt text-primary"></i>
                                    </div>
                                </template>
                            </app-datepicker>
                        </no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr>
                        <app-select
                            placeholder="Select Brand" 
                            v-model="brand_selected" 
                            class="multiselect__group"
                            ref="brandFilter"
                            label="name" 
                            track-by="brand_id" 
                            group-values="child"
                            group-label="name"
                            v-width="'280px'"
                            @select="$refs.brandFilter.deactivate()"
                            :close-on-select="true"
                            :group-select="true"
                            :multiple="true"
                            :options="brands"
                            :show-labels="false"
                            @input="changeBrandSelected">
                        </app-select>
                    </no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf" :disabled="loadingPDF || item_sell.length == 0">
                            <b-spinner small v-if="loadingPDF"></b-spinner>
                            <div v-else>
                                Export PDF
                            </div>
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv" :disabled="loadingCSV || item_sell.length == 0">
                            <b-spinner small v-if="loadingCSV"></b-spinner>
                            <div v-else>
                                Export CSV
                            </div>
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-sell-through ref="table" @setPage="setPage" @setPerPage="setPerPage" :date="date"></admin-table-sell-through>
        </div>
    </section>
</template>
<script>
    import AdminTableSellThrough from '@/components/admin/table/SellThrough.vue'
    import { mapActions, mapMutations, mapState} from 'vuex'
     
    import Select from 'vue-multiselect'
    import _ from 'lodash'
    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }
    export default {
        async asyncData({store}) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = yyyy + '-' + mm + '-' + dd;
            await Promise.all([
                 store.dispatch('accounting/getSellThroughs', {
                    from: today,
                    to: today,
                    perpage: 10,
                    is_paginate: true,
                    page: 1
                }),
                store.dispatch('brand/getBrandNames')
            ])
        },
        data() {
            return {
                date: {
                    start: new Date(),
                    end: new Date(),
                },
                brand_selected : [],
                isLoading2: false,
                page: 1,
                perpage: 10,
                loadingPDF: false,
                loadingCSV: false,
                scrolledBottom: true
            }
        },
        components:{
            'admin-table-sell-through': AdminTableSellThrough,
            'app-select' : Select
        },
        watch: {
            date: {
                handler: function(newValue) {
                    this.page = 1
                    this.generateSell('table')
                },
                deep: true
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('brand', {
                brands: state => state.brands
            }),
            ...mapState('accounting', {
                item_sell: state => state.item_sell,
                raw_sell: state => state.raw_sell,
            })
        },
        methods: {
            ...mapMutations(['SET_LOADING_TABLE']),
            ...mapActions('brand',['getBrands']),
            setPage(value){
                this.page = value
                this.generateSell()
            },
            setPerPage(value){
                this.perpage = value
                this.page = 1
                this.generateSell()
            },
            resetFilter() {
                this.page = 1
                this.brand_selected = []
                this.date = {
                    start: new Date(),
                    end: new Date()
                }
            },
            changeBrandSelected(value){
                this.page = 1
                this.generateSell('table')
            },
            searchChange: _.debounce(function(event){
                this.isLoading2 = true
                this.getBrands(event).then( () =>{
                    this.isLoading2 = false
                }) 
            }, 300),
            ...mapActions('accounting', ['getSellThroughs', 'getPDF','downloadCSV','getCSV']),
            generateSell(type) {
                return new Promise((resolve, reject) => {
                    let brands = this.brand_selected.map(function(value){
                        return value.name
                    })
                    this.getSellThroughs({
                        from: this.moment(this.date.start).format('Y-MM-DD'),
                        to: this.moment(this.date.end).format('Y-MM-DD'), 
                        is_paginate: true,
                        perpage: this.perpage,
                        brands: brands,
                        page: this.page
                    })
                    .then(() => {
                        resolve()
                    })
                })
            },
            viewPdf() {
                this.loadingPDF = true
                let from = this.moment(this.date.start).format('Y-MM-DD')
                let to = this.moment(this.date.end).format('Y-MM-DD')
                let brands = this.brand_selected.map(function(value){
                    return value.name
                })
                this.getPDF({
                    type: 'sell-throughs',
                    from: from,
                    to: to, 
                    brands: brands
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                    this.loadingPDF = false
                })
            },
            getCsv(){
                this.loadingCSV= true
                let from = this.moment(this.date.start).format('Y-MM-DD')
                let to = this.moment(this.date.end).format('Y-MM-DD')
                let brands = this.brand_selected.map(function(value){
                    return value.name
                })
                this.getCSV({ 
                    type: 'sell-throughs',
                    from: from,
                    to: to, 
                    brands: brands
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: from,
                        end: to
                    })
                    this.loadingCSV= false
                })
            }
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scooped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

