<template>
    <div>
        <modal-bulk />
        <app-modal
            :noBorder="true"
            :show="modalWarning"
            @hide="hideModalWarning"
        >
            <div class="px-4 text-center">
                <h5 class="mb-0 font-weight-normal">
                    Are you sure want to leave this page? <br />
                    unsaved data will be lost!
                </h5>
                <div
                    class="
                        d-flex
                        align-items-center
                        justify-content-center
                        mt-4
                    "
                >
                    <button
                        class="btn btn-secondary flex-grow-1"
                        :disabled="isDelete"
                        @click="hideModalWarning"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger ml-3 flex-grow-1"
                        :disabled="isDelete"
                        @click="leaveBulk"
                    >
                        Leave
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import ModalBulk from "@/components/admin/modal/EslBulkInsert";
import Modal from "@/components/utilities/Modal";
import { mapActions, mapGetters } from "vuex";
export default {
    name: "BulkInsert",
    transition: "slide",
    layout: "admin",
    components: {
        ModalBulk,
        "app-modal": Modal,
    },
    data: () => ({
        isDelete: false,
        routePath: null,
        modalWarning: false,
    }),
    computed: {
        ...mapGetters({
            eslDraftData: "priceTag/eslDraftData",
        }),
    },
    destroyed() {
        this.routePath = null;
    },
    beforeRouteLeave(to, from, next) {
        this.routePath = to;
        if (this.eslDraftData.data.length > 0) {
            this.showModalWarning();
            next(false);
        } else {
            next();
        }
    },
    methods: {
        ...mapActions({
            deleteEslDraft: "priceTag/deleteEslDraft",
            getEslDraft: "priceTag/getEslDraft",
        }),
        showModalWarning() {
            this.modalWarning = true;
        },
        hideModalWarning() {
            this.modalWarning = false;
        },
        leaveBulk() {
            this.isDelete = true;
            this.getEslDraft().then(() => {
                this.isDelete = false;
                this.hideModalWarning();
                this.$router.push({ name: this.routePath.name });
            });
        },
    },
};
</script>

<style>
</style>
