<template>
    <div>
        <h3 class="font-weight-600 mb-0">Instant Rebate Report</h3>
        <div class="d-flex align-items-end my-4">
            <div class="mr-4">
                <label for="#" class="font-weight-600">Order Date</label>
                <no-ssr>
                    <app-datepicker mode="range" v-model="order_date" @input="fetchData">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <div class="mr-4">
                <label for="#" class="font-weight-600">Delivery Date</label>
                <no-ssr>
                    <app-datepicker mode="single" v-model="delivery_date" @input="fetchData">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr>
            </div>
            <div class="mr-4">
                <label for="#" class="font-weight-600">Type</label>
                <app-select
                    v-model="type.selected"
                    :options="type.options"
                    :show-labels="false"
                    :searchable="false"
                    v-width="'200px'"
                    placeholder="Select Type"
                    label="name"
                    track-by="value"
                    @input="fetchData"
                />
            </div>
            <div class="mr-4">
                <label for="#" class="font-weight-600">Rebate</label>
                <app-select
                    v-model="rebate.selected"
                    :options="rebate.options"
                    :show-labels="false"
                    :searchable="false"
                    v-width="'300px'"
                    placeholder="Select Rebate"
                    label="name"
                    track-by="name"
                    @input="fetchData"
                />
            </div>
            <div class="ml-auto">
                <button class="btn btn-primary" @click="resetData">Reset Filter</button>
            </div>
        </div>
        <app-table
            show-empty
            :busy="loadingTable"
            :fields="field_rebate"
            :items="item_rebate">
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="amount" slot-scope="data">
                <span v-money :key="data.item.amount">{{data.item.amount}}</span>
            </template>
            <template slot="order_no" slot-scope="data">
                <a href="javascript:void(0)" @click="goToOrder(data.item.order_no)">{{data.item.order_no}}</a>
            </template>
        </app-table>
        <div class="d-flex justify-content-between align-items-center">
            <app-total
                :data="meta_rebate"
                @itemPerPage="setPerPage"
                :value="perpage"
            />
            <app-pagination
                v-if="meta_rebate.last_page > 1"
                align="right"
                :total-rows="meta_rebate.total"
                v-model="meta_rebate.current_page"
                :per-page="meta_rebate.per_page"
                @change="setPage"
            />
        </div>
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import AppSelect from 'vue-multiselect'
import AppTable from '@/node_modules/bootstrap-vue/es/components/table/table'
import AppPagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import AppTotal from '@/components/utilities/TotalRecord'
export default {
    transition: 'slide',
    layout: 'admin',
    components: {
        AppSelect,
        AppTable,
        AppPagination,
        AppTotal
    },
    async asyncData({store}){
        await store.dispatch('accounting/getInstantRebateReport', {
            start_date: '',
            end_date: '',
            delivery_date: '',
            type: '',
            page:1,
            perpage: 10
        })
    },
    mounted() {
        this.getInstantRebateList();
    },
    data: () => ({
        order_date: null,
        delivery_date: null,
        rebate: {
            selected: null,
            options: [],
        },
        instantRebateList: [],
        type: {
            selected: null,
            options: [
                {
                    name: 'Percent',
                    value: 0
                },
                {
                    name: 'Amount',
                    value: 1
                }
            ]
        },
        page: 1,
        perpage: 10
    }),
    computed: {
        ...mapState('accounting', {
            item_rebate: state => state.item_rebate,
            meta_rebate: state => state.meta_rebate,
            field_rebate: state => state.field_rebate
        }),
        ...mapState(['loadingTable'])
    },
    methods: {
        ...mapActions({
            getInstantRebateReport: 'accounting/getInstantRebateReport'
        }),
        setPage(value){
            this.page = value
            this.fetchData()
        },
        setPerPage(value){
            this.perpage = value
            this.page = 1
            this.fetchData()
        },
        goToOrder(order_no){
            localStorage.setItem('history-route-order', this.$router.currentRoute.name)
            this.$router.push({ name: 'my-orders-edit-id', params: {'id' : order_no}})
        },
        fetchData(){
            this.getInstantRebateReport({
                start_date: this.order_date ? this.moment(this.order_date.start).format('L') : null,
                end_date: this.order_date ? this.moment(this.order_date.end).format('L') : null,
                delivery_date: this.delivery_date ? this.moment(this.delivery_date).format('L') : null,
                type: this.type.selected ?  this.type.selected.value : null,
                rebate: this.rebate.selected ?  this.rebate.selected.name : null,
                page: this.page,
                perpage: this.perpage
            })
        },
        getInstantRebateList() {
            this.$store.dispatch('accounting/getInstantRebateList')
            .then((response) => {
                this.rebate.options = response;
            }).catch((error) => {
                new Error(error);
            })
        },
        resetData(){
            this.order_date = null
            this.delivery_date = null
            this.type.selected = null
            this.rebate.selected = null;
            this.fetchData()
        }
    }
}
</script>

