<template>
    <section>
        <h3 class="font-weight-600 mb-4">Manage Brand</h3>
        <b-tabs class="mb-3">
            <b-tab
                title="Filter Brand"
                :active="$route.name === 'settings-brands-index-filter-brands'"
                @click="$router.push({name : 'settings-brands-index-filter-brands'})"
            />
            <b-tab
                title="Website Active Brand"
                :active="$route.name === 'settings-brands-index-active-brands'"
                @click="$router.push({name : 'settings-brands-index-active-brands'})"
            />
        </b-tabs>
        <NuxtChild />
    </section>
</template>

<script>
export default {
    name: "BrandsIndex",
    transition: "slide",
    layout: "admin",
};
</script>
