<template>
    <div>
        <BackLink :link="historyRouteQuotes" title="Quotes Confirmation" />
        <transition name="fade" mode="in-out">
            <app-loader v-if="loadingSave" />
        </transition>
        <app-form-quotes/>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import BackLink from '@/components/utilities/BackLink'
    import FormQuotes from '@/components/form/Quotes'
    import Loader from '@/components/utilities/Loader'

    export default {
        async fetch({ store, app }) {
            await Promise.all([
                store.dispatch('customer/getCustomers'),
                store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
                store.dispatch('salesPerson/getSalesPersonStore', app.$auth.$state.user),
                store.dispatch('store/getStores'),
                store.dispatch('province/getProvinces')
            ])
        },
        data: () => ({
            routeQuote: null,
            historyRouteQuotes: {
                name: 'index'
            }
        }),
        beforeRouteLeave(to, from, next) {
            this.SET_ORDER_DATA_DEFAULT()
            this.SET_CUSTOMER_TABLE_DEFAULT()
            this.SET_CUSTOMER_ERRORS(null)
            this.SET_SALES_PERSON_TABLE_DEFAULT()
            next()
        },
        computed:{
            ...mapState(['loadingSave'])
        },
        created() {
            this.CLEAR_QUOTE()
            this.CLEAR_CUSTOMER_SELECTED()
        },
        mounted(){
            this.backRoute()
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_DATA_DEFAULT',
            ]),
            ...mapMutations('customer', [
                'SET_CUSTOMER_TABLE_DEFAULT',
                'SET_CUSTOMER_ERRORS',
                'CLEAR_CUSTOMER_SELECTED'
            ]),
            ...mapMutations('salesPerson', [
                'SET_SALES_PERSON_TABLE_DEFAULT',
            ]),
            ...mapMutations('quote', ['CLEAR_QUOTE']),
            getHistoryQuote(){
                return new Promise((resolve, reject) =>{
                    this.routeQuote = localStorage.getItem('history-route-quote')
                    resolve()
                })
            },
            backRoute(){
                this.getHistoryQuote()
                .then( () =>{
                    if(this.routeQuote.includes('/customers/detail')){
                        this.historyRouteQuotes = {path: this.routeQuote}
                    }else {
                        this.historyRouteQuotes = {name: this.routeQuote}
                    }
                })
            }
        },
        components: {
            'app-form-quotes': FormQuotes,
            BackLink,
            'app-loader': Loader
        },
        layout: 'admin',
        transition: 'slide',
    }
</script>