<template>
    <div>
        <h3 class="mb-4 font-weight-600">Settings</h3>
        <div class="form-group mb-5">
            <div class="icon icon-left">
                <input type="text" class="form-control form-control__lg form-icon" v-model="search" placeholder="Search menu...">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <transition name="fade" mode="out-in">
            <div class="card-default" v-if="menus.length === 0" key="1">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="fas fa-exclamation-circle fa-2x mr-3"></i>
                    <h5 class="mb-0 font-weight-600">Menu not found.</h5>
                </div>
            </div>
            <div key="2" v-else>
                <transition-group name="fade" tag="div" class="row" mode="out-in">
                    <div class="col-md-3 mb-4" v-for="menu in menus" :key="menu.id">
                        <nuxt-link tag="a" :to="{name: menu.slug}" class="card-default d-block text-dark h-100">
                            <img :src="getIcon(menu.name)" :alt="menu.name" class="mb-3">
                            <h4 class="mb-1 font-weight-600">{{menu.name}}</h4>
                            <p class="mb-0 text-gray">{{menu.description}}</p>
                        </nuxt-link>
                    </div>
                </transition-group>
            </div>
        </transition>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    layout: 'admin',
    transition: 'slide',
    async asyncData({store, app}){
        const settingsId = app.$auth.user.navigations.filter(navigation => navigation.name === 'Settings')[0].id
        await store.dispatch('navigation/getNavigation', settingsId)
    },
    data: () => ({
        search: ''
    }),
    computed: {
        ...mapState('navigation', {
            navigation : state => state.navigation_selected
        }),
        menus(){
            return this.navigation.child.filter(navigation => {
                return navigation.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
            })
        }
    },
    methods: {
        getIcon(name){
            const menuName = name.replace(/\s/g, '-').toLowerCase()
            const iconPath = `/icon/settings/${menuName}.svg`
            return iconPath
        }
    }
}
</script>