<template>
    <div>
        <app-modal-warranties edit />
    </div>
</template>

<script>
import ModalWarranties from "@/components/admin/modal/Warranties.vue";

export default {
    // async asyncData({ store, route }) {
    //     // return await store.dispatch('warranty/getWarranty', route.params.id)
    //     // if (typeof route.params.id != 'undefined') {

    //     // }
    //     // else{
    //     //     this.isLoading = false
    //     // }
    // },
    async asyncData({ store, route, _ }) {
        let { data } = await store.dispatch(
            "warranty/getWarranty",
            route.params.id
        );
        let categories = await store.dispatch("category/getCategories");
        return;
    },
    components: {
        "app-modal-warranties": ModalWarranties,
    },
    transition: "slide",
    layout: "admin",
};
</script>
