<template>
    <section>
        <h3 class="font-weight-600 mb-0">Website Message</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-website-message-create'}">Add New Message</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-message></admin-table-message>
        </div>
    </section>
</template>
<script>
    import { mapMutations } from 'vuex'
    import AdminTableMessage from '@/components/admin/table/Message.vue'

    export default {
        async asyncData ({ store }) {
            await store.dispatch('message/getMessageData')
            return
        },
        components:{
            'admin-table-message': AdminTableMessage,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

