<template>
    <section>
        <div class="mt-3">
            <admin-table-inventory-order-report 
                ref="table"
                :location_id="location_id" 
                :product_id="product_id" 
                :brand="brand" 
                :category_name="category_name" 
                :subcategory_name="subcategory_name" 
                :detail_category_name="detail_category_name" 
                :status="status"
                @set-perpage="setPerpage"
                @setPage="setPage">
            </admin-table-inventory-order-report>
        </div>
    </section>
</template>
<script>
    import inventoryOrderReport from '@/components/admin/table/inventoryOrderReport.vue'
    import PrettyCheck from 'pretty-checkbox-vue/check'
    import _ from 'lodash'
    import Select from 'vue-multiselect'
    export default {
        async asyncData({ store, route}){
            await Promise.all([
                store.dispatch('store/getStores', 'all'),
                store.dispatch('brand/getBrandNames'),
                store.dispatch('category/getCategories'),
                store.dispatch('inventory/getInventoryOrderReport', {
                    status: 'pending'
                })
            ])
            return
        },
        data() {
            return {
                status: 'pending',
            }
        },
        props: {
            location_id: {
                type: String
            },
            product_id: {
                type: String
            },
            brand: {
                type: Array
            },
            category_name: {
                type: String
            },
            subcategory_name: {
                type: String
            },
            detail_category_name: {
                type: String
            },
        },
        methods: {
            fetchData: _.debounce(function(){
                this.$refs.table.page = 1
                this.$refs.table.getResponse()
            }, 300),
            setPerpage(value){
                this.$emit('setPerPage', value)
            },
            setPage(value){
                this.$emit('setPage', value)
            }
        },
        components:{
            'admin-table-inventory-order-report': inventoryOrderReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        // beforeRouteLeave (to, from, next) {
        //     this.SET_INVENTORY_PAGE(1)
        //     next()
        // },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

