<template>
  <section>
    <div class="d-flex align-items-center">
      <h3 class="font-weight-600 mb-0">Delivery Settings</h3>
      <!-- <div class="d-flex align-items-center ml-auto">
                <div class="d-flex align-items-center ml-3" v-for="(rule, indexRule) in ruleData" :key="indexRule">
                    <template v-if="rule.rule == 'Schedule Delivery Tagged Stock'">
                        <p-check class="p-switch p-fill" v-model="rule.status" color="primary" @change="changeRule(rule)">
                            <span class="font-weight-600">{{ rule.rule == 'Schedule Delivery Tagged Stock' ? 'Require Tagged Stock' : rule.rule}}</span>
                        </p-check>
                        <i class="fas fa-info-circle text-gray cursor-pointer ml-n1" v-if="rule.rule == 'Schedule Delivery Tagged Stock'" v-b-tooltip.hover :title="rule.description"></i>
                    </template>
                </div>
            </div> -->
    </div>
    <div class="mt-3 mb-4">
      <b-tabs>
          <b-tab title="General Settings" @click="$router.push({ name: 'settings-delivery-settings-index-general' })" :active="$route.name == 'settings-delivery-settings-index-delivery-methods'"></b-tab>
          <b-tab title="Delivery Methods" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-methods' })" :active="$route.name == 'settings-delivery-settings-index-delivery-methods'"></b-tab>
          <b-tab title="Delivery Limit" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-limit-index-limit' })" :active="$route.name.includes('delivery-limit')"></b-tab>
          <!-- <b-tab title="Next Day Delivery Cut off Time" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-cut-off' })" :active="$route.name == 'settings-delivery-settings-index-delivery-cut-off'"></b-tab> -->
          <b-tab title="Load Times" @click="$router.push({ name: 'settings-delivery-settings-index-load-times' })" :active="$route.name == 'settings-delivery-settings-index-load-times'"></b-tab>
          <b-tab title="Delivery/Install Time" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-install-time' })" :active="$route.name == 'settings-delivery-settings-index-delivery-install-time'"></b-tab>
          <!-- <b-tab title="Damage Waiver" @click="$router.push({ name: 'settings-delivery-settings-index-damage-waiver' })" :active="$route.name == 'settings-delivery-settings-index-damage-waiver'"></b-tab> -->
          <b-tab title="Driver" @click="$router.push({ name: 'settings-delivery-settings-index-driver' })" :active="$route.name == 'settings-delivery-settings-index-driver'"></b-tab>
          <!-- <b-tab title="Max Drive Time" @click="$router.push({ name: 'settings-delivery-settings-index-time-limit' })" :active="$route.name.includes('time-limit')"></b-tab> -->
          <!-- <b-tab title="Delivery Rules" @click="$router.push({ name: 'settings-delivery-settings-index-delivery-rules' })" :active="$route.name.includes('delivery-rules')"></b-tab> -->
      </b-tabs>
    </div>
    <NuxtChild />
  </section>
</template>

<script>
import PrettyCheck from "pretty-checkbox-vue/check";
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
    layout: "admin",
    transition: "slide",
    components: {
        "p-check": PrettyCheck,
    },
    // async asyncData({store, app}){
    //     let indexRequireTag = app.$auth.user.features.findIndex(v => {return v.name == 'Require Tag Stock'})
    //     let promises = [store.dispatch('rule/getRule', {rule: 'Auto Delivered'})]
    //     if(indexRequireTag != -1) promises.push(store.dispatch('rule/getRule', {rule: 'Schedule Delivery Tagged Stock'}),)
    //     await Promise.all([...promises])
    // },
    data: () => ({
        status: false,
        rule_auto_delivered: false,
    }),
    destroyed() {
        this.clearRule();
    },
    computed: {
        ...mapGetters({
            ruleData: "rule/ruleData",
        }),
        rules() {
            return this.ruleData.filter((o) => {
                return o.rule != "Delivery Cut Off Time";
            });
        },
    },
    methods: {
        ...mapMutations({
            clearRule: "rule/CLEAR_RULE",
        }),
        ...mapActions({
            updateRule: "rule/updateRule",
        }),
        changeRule(rule) {
            this.updateRule({ id: rule.id, status: rule.status ? 1 : 0 });
        },
    },
};
</script>
