<template>
  <div>
    <DamageWaiverForm />
  </div>
</template>

<script>
import DamageWaiverForm from "@/components/form/DamageWaiver.vue";

export default {
  name: "DamageWaiver",
  components: {
    DamageWaiverForm,
  },
};
</script>
