<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">Order Reports</h3>
        </div>
        <div class="fillter-responsive--wrapper mt-4">
            <div class="row">
                <div v-if="$route.name !== 'order-report-index-pending-orders'" class="col-3">
                    <no-ssr>
                        <app-datepicker mode="range" v-model="date" @input="fetchData">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker>
                    </no-ssr>
                </div>
                <div :class="[ $route.name !== 'order-report-index-pending-orders' ? 'col-3' : 'col-4' ]">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="location_selected"
                                :options="stores"
                                :preserve-search="true"
                                :show-labels="false"
                                placeholder="Select Location"
                                label="store_name"
                                track-by="store_id"
                                :preselect-first="false"
                                @input="fillterLocation">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div :class="[ $route.name !== 'order-report-index-pending-orders' ? 'col-3' : 'col-4' ]">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                placeholder="Select Brand"
                                v-model="brand_selected"
                                class="multiselect__group"
                                ref="brandFilter"
                                label="name"
                                track-by="brand_id"
                                group-values="child"
                                group-label="name"
                                @select="$refs.brandFilter.deactivate()"
                                :close-on-select="true"
                                :group-select="true"
                                :multiple="true"
                                :options="groupBrands"
                                :show-labels="false"
                                @input="fetchData"
                            >
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div :class="[ $route.name !== 'order-report-index-pending-orders' ? 'col-3' : 'col-4' ]">
                    <no-ssr>
                        <app-select
                            v-model="product_selected"
                            label="product_id"
                            track-by="product_id"
                            placeholder="Type model"
                            open-direction="bottom"
                            :options="products"
                            :searchable="true"
                            :show-labels="false"
                            :internal-search="false"
                            :options-limit="300"
                            :max-height="600"
                            :show-no-results="false"
                            :show-no-options="false"
                            @search-change="asyncFind"
                            @input="changeProductId">
                        </app-select>
                    </no-ssr>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="category_name_selected"
                                :options="categories"
                                placeholder="Select Categories"
                                label="category_name"
                                track-by="category_name"
                                :show-labels="false"
                                :preselect-first="false"
                                @input="subCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="subcategory_name_selected"
                                :options="subcategories"
                                placeholder="Select Sub Categories"
                                label="subcategory_name"
                                track-by="subcategory_name"
                                :show-labels="false"
                                :preselect-first="false"
                                @input="detailCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <no-ssr>
                            <app-select
                                v-model="detail_category_name_selected"
                                :options="detailcategories"
                                placeholder="Select Detail Categories"
                                label="detail_category_name"
                                track-by="detail_category_name"
                                :show-labels="false"
                                :preselect-first="false"
                                @input="onChange">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <b-tabs>
            <b-tab title="Requested" @click="goTo('order-report-index-pending-orders')" :active="$route.name == 'order-report-index-pending-orders'"></b-tab>
            <b-tab title="On Order" @click="goTo('order-report-index-ordered')" :active="$route.name == 'order-report-index-ordered'"></b-tab>
        </b-tabs>
        <NuxtChild
            :location_id="location_id"
            :product_id="product_id"
            :brand="brand_selected.length > 0 ? brand_selected.map(i => {return i.name}) : []"
            :category_name="category_name"
            :subcategory_name="subcategory_name"
            :detail_category_name="detail_category_name"
            :date="date"
            ref="child" />
    </section>
</template>

<script>
    import Tab from '@/components/utilities/Tab.vue'
    import { mapActions, mapState, mapMutations } from 'vuex'
    import _ from 'lodash'
    import Select from 'vue-multiselect'

    export default {
        async asyncData({ store }) {
            store.dispatch('brand/getBrandGroup');
        },
        data() {
            return {
                date: null,
                product_selected:'',
                products:[],
                store_selected:'',
                location_id: '',
                location_selected:'',
                product_id: '',
                brand: '',
                brand_selected:[],
                category_name: '',
                category_name_selected:'',
                subcategory_name: '',
                subcategory_name_selected:'',
                detail_category_name: '',
                detail_category_name_selected:'',
                perpage: 10,
                page: 1,
            }
        },
        computed: {
            ...mapState('store', {
                stores: state => state.items
            }),
            ...mapState('inventory', {
                inventory(state) {
                    return {
                        items: state.items,
                        meta: state.meta
                    }
                },
                pdfUrl: state => state.pdfUrl
            }),
            ...mapState('category', {
                categories: state => state.categories,
                subcategories: state => state.subcategories,
                detailcategories: state => state.detailcategories
            }),
            ...mapState('brand', {
                groupBrands: state => state.groupBrands
            })
        },
        methods: {
            goTo(val){
                this.product_selected =''
                this.products =[]
                this.store_selected =''
                this.location_id = ''
                this.location_selected =''
                this.product_id = ''
                this.brand = ''
                this.brand_selected =[]
                this.category_name = ''
                this.category_name_selected =''
                this.subcategory_name = ''
                this.subcategory_name_selected =''
                this.detail_category_name = ''
                this.detail_category_name_selected =''
                this.perpage = 10
                this.$router.push({name:val})
            },
            setPerpage(value){
                this.perpage = value
            },
            setPage(value){
                this.page = value
            },
            changeProductId(){
                this.product_id = this.product_selected.product_id
                this.fetchData();
            },
            asyncFind: _.debounce(function(val){
                if (val.length > 0){
                    this.autoCompleteProduct({product_id: val, type: 'inventory'}).then((response) => {
                        this.products = response.data
                    })
                }else{
                    this.products = []
                }
            }, 300),
            ...mapActions('brand', ['getBrandNames']),
            showAction(){
                this.action = true;
            },
            ...mapActions('product', ['autoCompleteProduct']),
            ...mapActions('store', ['getStores']),
            ...mapActions('category', ['getCategories', 'getSubCategories', 'getDetailCategories']),
            ...mapActions('inventory', ['getInventoryOrderReport']),
            ...mapMutations('inventory',['SET_INVENTORY_PAGE']),
            ...mapActions('inventory',['getCSVOrderReport']),
            ...mapActions('accounting', ['downloadCSV']),
            fillterLocation(){
                this.location_id = this.location_selected.store_id
                this.fetchData();
                // this.fetchData()
            },
            subCategory() {
                this.category_name = this.category_name_selected.category_name
                this.getSubCategories(this.category_name)
                this.fetchData();
            },
            detailCategory() {
                this.category_name = this.category_name_selected.category_name
                this.subcategory_name = this.subcategory_name_selected.subcategory_name
                this.getDetailCategories({ category_name: this.category_name, subcategory_name: this.subcategory_name })
                this.fetchData();
            },
            onChange(){
                this.detail_category_name = this.detail_category_name_selected.detail_category_name
                this.fetchData();
            },
            resetFilter(){
                this.product_id =''
                this.location_id = ''
                this.brand = ''
                this.date = null;
                this.category_name=''
                this.subcategory_name =''
                this.detail_category_name =''
                this.location_selected = null
                this.store_selected = null
                this.brand_selected = []
                this.category_name_selected = null
                this.subcategory_name_selected = null
                this.detail_category_name_selected = null
                this.product_selected = null
                this.fetchData();
            },
            getCsv(){
                this.getCSVOrderReport({
                    type: 'order-report',
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand_selected.length > 0 ? this.brand_selected.map(i => {return i.name}) : [],
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    status: 'pending'
                    })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        name: this.moment().format('Y-MM-DD')+'-appliance-order-report',
                    })
                })
            },
            fetchData(){
                this.getInventoryOrderReport({
                    page: this.page,
                    store_id: this.store_id,
                    location_id: this.location_id,
                    product_id: this.product_id,
                    brand: this.brand_selected.length > 0 ? this.brand_selected.map(i => {return i.name}) : [],
                    category_name: this.category_name,
                    subcategory_name: this.subcategory_name,
                    detail_category_name: this.detail_category_name,
                    perpage: this.perpage,
                    start_date: this.date !== null ? this.moment(this.date.start).format('L') : null,
                    end_date: this.date !== null ? this.moment(this.date.end).format('L') : null,
                    status: this.$route.name == 'order-report-index-pending-orders' ? 'pending' : 'ordered',
                })
            }
        },
        components:{
            'app-tab': Tab,
            'app-select': Select,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
