<template>
    <div >
        <h3 class="font-weight-600 mb-0">Inventory Data Match</h3>
        <b-tabs class="mt-4 mb-3">
            <b-tab title="Match" @click="$router.push({ name : 'inventory-inventory-data-match-index-match'})" :active="$route.name == 'inventory-inventory-data-match-index-match'"></b-tab>
            <b-tab title="Match Log" @click="$router.push({ name : 'inventory-inventory-data-match-index-log'})" :active="$route.name == 'inventory-inventory-data-match-index-log'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </div>
</template>

<script>
export default {
    layout: 'admin',
    transition: 'slide',
}
</script>

<style>

</style>