<template>
    <div>
        <div class="d-flex align-items-center mb-3">
            <div class="form-group mr-3">
                <label for="#" class="font-weight-600">Scan By</label>
                <app-select 
                    v-model="scanby.selected"
                    placeholder="Scan By"
                    label="label"
                    trackBy="id"
                    v-width="'200px'"
                    :searchable="false"
                    :show-labels="false"
                    :options="scanby.options"
                    :class="{'is-invalid' : errors.has('scanBy')}"
                    v-validate="'required'"
                    name="scanBy"
                    data-vv-as="scan by"
                    @input="handleInputScanby"/>
                <span class="text-danger" v-if="errors.has('scanBy')">{{errors.first('scanBy')}}</span>
            </div>
            <template v-if="scanby.selected">
                <div class="form-group mr-3" v-if="scanby.selected.id == 1">
                    <label for="#" class="font-weight-600">Category</label>
                    <app-select
                        v-model="category_selected" 
                        :options="categories" 
                        :show-labels="false"
                        :searchable="false"
                        v-width="'200px'"
                        placeholder="Select Category" 
                        label="category_name" 
                        track-by="category_name"
                        :class="{'is-invalid' : errors.has('category')}"
                        v-validate="'required'"
                        name="category"
                        data-vv-as="category"
                        @input="focusInputModel" />
                    <span class="text-danger" v-if="errors.has('category')">{{errors.first('category')}}</span>
                </div>
            </template>
            <div class="form-group mr-3">
                <label for="#" class="font-weight-600">Location</label>
                <app-select
                    v-model="location_selected" 
                    :options="stores" 
                    :show-labels="false"
                    :searchable="false"
                    v-width="'250px'"
                    placeholder="Select Location" 
                    label="store_name" 
                    track-by="store_id"
                    :class="{'is-invalid' : errors.has('location')}"
                    v-validate="'required'"
                    :allow-empty="false"
                    name="location" />                
                <span class="text-danger" v-if="errors.has('location')">{{errors.first('location')}}</span>
            </div>
            <div class="form-group mr-3">
                <label for="#" class="font-weight-600">Condition</label>
                <app-select 
                    v-model="condition_selected"
                    placeholder="Condition"
                    track-by="id"
                    label="name"
                    v-width="'220px'"
                    :searchable="false"
                    :show-labels="false"
                    :options="conditions"
                    :class="{'is-invalid' : errors.has('condition')}"
                    v-validate="'required'"
                    name="condition"
                    data-vv-as="condition"
                    :allow-empty="false"
                    @input="focusInputModel" />
                <span class="text-danger" v-if="errors.has('condition')">{{errors.first('condition')}}</span>
            </div>
        </div>
        <template v-if="scanby.selected">
            <template v-if="scanby.selected.id == 2 || (scanby.selected.id == 1 && category_selected)">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center mr-3">
                        <input type="text" class="form-control mr-3 form-control--uppercase" ref="inputForm" v-width="'300px'" placeholder="Model number" v-model="temporary_model" @input="handleInputModel">
                        <b-spinner variant="primary" small v-if="isLoading"></b-spinner>
                    </div>
                </div>
                <textarea class="form-control text-uppercase resize-none" ref="textArea" cols="30" rows="10" v-model="model" :disabled="isLoading"></textarea>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-primary px-4" @click="scanInventory" :disabled="isScanInventory">
                        <span class="mx-3" v-if="isScanInventory">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Scan</span>
                    </button>
                </div>
            </template>
        </template>
        <hr class="my-5">
        <div class="d-flex align-items-start justify-content-between mb-3">
            <h5 class="mb-0">Data Match</h5>
            <!-- <button class="btn btn-primary" @click="handleFinish" :disabled="isFinish">
                <span class="mx-5" v-if="isFinish">
                    <b-spinner variant="light" small />
                </span>
                <span v-else>Done Match Inventory</span>
            </button> -->
        </div>
        <app-table :fields="fields" :items="matchData" :busy="isLoadingTable" show-empty>
            <div slot="table-busy" class="text-center text-blue my-2">
                <b-spinner class="align-middle"></b-spinner>
            </div>
            <template slot="model" slot-scope="row">
                <span>{{row.item.model}} <i class="fas fa-info-circle text-info cursor-pointer ml-2" v-if="row.item.status == 1" v-b-tooltip.hover :title="`Model ${row.item.model} quantities/quantity matches!`"></i></span>
            </template>
            <template slot="available_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span :key="row.item.available_quantity">{{row.item.available_quantity}}</span>
                    <a href="javascript:void(0)" class="badge badge-primary rounded ml-2" :class="{disabled: row.item.status == 1}" @click="handleClickAvailable(row.item)"><i class="fas fa-arrow-right"></i></a>
                </div>
            </template>
            <template slot="tagged_quantity" slot-scope="row">
                <div class="d-flex align-items-center">
                    <span :key="row.item.tagged_quantity">{{row.item.tagged_quantity}}</span>
                    <a href="javascript:void(0)" class="badge badge-primary rounded ml-2" :class="{disabled: row.item.status == 1}" @click="handleClickReserved(row.item)"><i class="fas fa-arrow-right"></i></a>
                </div>
            </template>
            <template slot="action" slot-scope="row">
                <i class="fas fa-circle text-success cursor-pointer" v-if="row.item.status == 1"  v-b-tooltip.hover :title="`Model ${row.item.model} quantities/quantity matches!`"></i>
                <i class="fas fa-circle text-danger cursor-pointer" v-else v-b-tooltip.hover :title="`Model ${row.item.model} quantities/quantity not matches!`"></i>
            </template>
        </app-table>
        <app-modal :noBorder="true" :show="modalNotFound" @hide="modalNotFound = false">
            <div class="px-4 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="Warning - Icon" class="mb-4">
                <h5 class="mt-4 mb-5 font-weight-normal">{{errorMessage}}</h5>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalConfirm" @hide="modalConfirm = false">
            <div class="px-4 text-center">
                <img src="/icon/warning-icon.svg" alt="Warning - Icon" class="mb-4">
                <div class="mt-4 mb-5 text-center">
                    <h5 class="mb-2 font-weight-normal">{{errorMessage}}</h5>
                    <h5 class="mb-2 font-weight-normal">Are you sure want to continue?</h5>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-secondary px-4 mr-3" @click="modalConfirm = false">Cancel</button>
                    <button class="btn btn-primary" @click="bypassScan" :disabled="isScanInventory">
                        <span class="mx-4" v-if="isScanInventory">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Continue</span>
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Data Match - Available" :hideFooter="true" :show="modalAvailable" @hide="hideModalAvailable(true)">
             <template v-if="inventoryAdjustmentMeta.tempData">
                <div class="d-flex justify-content-end mb-3" v-if="inventoryAdjustmentMeta.tempData.quantity > inventoryAdjustmentMeta.tempData.in_stock">
                    <button class="btn btn-primary btn-sm px-3" @click="showModalAdd"><i class="fas fa-plus"></i> Add</button>
                </div>
                <app-table 
                    :items="inventoryAdjustmentData.data" 
                    :fields="inventoryAdjustmentMeta.fields.filter(v => v.key != 'order_no' && v.key != 'created_date' && v.key != 'sales_person' && v.key != 'delivery_date')" 
                    :busy="inventoryAdjustmentMeta.isLoading" 
                    show-empty>
                    <div slot="table-busy" class="text-center text-blue my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="qty" slot-scope="row">
                        <span>{{row.item.quantity}}</span>
                    </template>
                    <template slot="action" slot-scope="row">
                        <button class="btn btn-sm btn-danger" :disabled="inventoryAdjustmentMeta.isLoadingDelete" @click="deleteItemAdjustment(row.item, 'delete')">Delete</button>
                    </template>
                </app-table>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <app-total :data="inventoryAdjustmentData.meta" @itemPerPage="setPerPageAdjustment" />
                    <app-pagination class="mb-0" v-if="inventoryAdjustmentData.data.length > 0 && inventoryAdjustmentData.meta.last_page > 1" align="right" :total-rows="inventoryAdjustmentData.meta.total" v-model="inventoryAdjustmentData.meta.current_page" @change="setPageAdjustment" :per-page="inventoryAdjustmentData.meta.per_page"></app-pagination>
                </div>
            </template>
        </app-modal>
         <app-modal title="Add Available" :show="modalAdd" @hide="hideModalAdd">
            <template v-if="inventoryAdjustmentMeta.tempData">
                <div class="form-group">
                    <label for="#" class="font-weight-600">Model Number</label>
                    <input type="text" class="form-control" v-model="inventoryAdjustmentMeta.tempData.model" disabled>
                </div>
                <div class="form-group">
                    <label for="#" class="font-weight-600">Quantity</label>
                    <input type="number" class="form-control" min="1" :max="inventoryAdjustmentMeta.tempData.quantity - inventoryAdjustmentMeta.tempData.in_stock" @input="maxQtyAvailable" v-model.number="inventoryAdjustmentMeta.quantity">
                </div>
            </template>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-outline-danger mr-3" :disabled="isAddBlank" @click="hideModalAdd">Cancel</button>
                    <button class="btn btn-primary" :disabled="isAddBlank" @click="submitAddBlank">Save</button>
                </div>
            </template>
        </app-modal>
        <app-modal size="xl" title="Data Match - Reserved" :hideFooter="true" :show="modalReserved" @hide="hideModalReserved(true)">
             <template v-if="inventoryAdjustmentMeta.tempData">
                <app-table 
                    :items="inventoryAdjustmentData.data" 
                    :fields="inventoryAdjustmentMeta.fields" 
                    :busy="inventoryAdjustmentMeta.isLoading" 
                    show-empty>
                    <div slot="table-busy" class="text-center text-blue my-2">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                    <template slot="qty" slot-scope="row">
                        <span>{{row.item.tagged_quantity}}</span>
                    </template>
                    <template slot="order_no" slot-scope="row">
                        <span v-if="row.item.order_no != ''">{{row.item.order_no}}</span>
                        <span v-else>-</span>
                    </template>
                    <template slot="delivery_date" slot-scope="row">
                        <span v-if="row.item.delivery_date">{{row.item.delivery_date}}</span>
                        <span v-else>-</span>
                    </template> 
                    <template slot="action" slot-scope="row">
                        <button class="btn btn-sm btn-danger mr-3" :disabled="inventoryAdjustmentMeta.isLoadingDelete" @click="deleteItemAdjustment(row.item, 'delete')">Delete</button>
                    </template>
                </app-table>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <app-total :data="inventoryAdjustmentData.meta" @itemPerPage="setPerPageAdjustment" />
                    <app-pagination class="mb-0" v-if="inventoryAdjustmentData.data.length > 0 && inventoryAdjustmentData.meta.last_page > 1" align="right" :total-rows="inventoryAdjustmentData.meta.total" v-model="inventoryAdjustmentData.meta.current_page" @change="setPageAdjustment" :per-page="inventoryAdjustmentData.meta.per_page"></app-pagination>
                </div>
            </template>
        </app-modal>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4">
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">Do you really want to delete this data? <br> This proccess cannot be undone</p>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" :disabled="isDelete" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" :disabled="isDelete" @click="deleteItem">
                        <span class="mx-3" v-if="isDelete">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Delete</span>
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modalWarning" @hide="modalWarning = false">
            <div class="px-4 text-center">
                <h5 class="mb-0 font-weight-normal">Are you sure want to leave this page? <br> unsaved data will be lost!</h5>
                <div class="d-flex align-items-center justify-content-center mt-4">
                    <button class="btn btn-secondary flex-grow-1" :disabled="isDelete" @click="modalWarning = false">Cancel</button>
                    <button class="btn btn-danger ml-3 flex-grow-1" :disabled="isDelete" @click="leavePage">
                        <span class="mx-3" v-if="isDelete">
                            <b-spinner variant="light" small />
                        </span>
                        <span v-else>Leave</span>
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'
import Select from 'vue-multiselect'
import {mapState, mapActions} from 'vuex'
import Modal from '@/components/utilities/Modal'
import _ from 'lodash'
export default {
    layout: 'admin',
    transition: 'slide',
    components: {
        'app-select' : Select,
        'app-modal' : Modal,
        'app-table' : Table,
        'app-pagination': Pagination,
        'app-total':TotalRecord,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('inventory/getConditions'),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('category/getCategories'),
            store.dispatch('inventory/getInventoryMatch'),
        ])
    },
    data: () => ({
        model: '',
        temporary_model: '',
        isLoading: false,
        routePath: null,
        modalWarning:false,
        tempData: null,
        modalDelete: false,
        isDelete: false,
        isFinish: false,
        modalReserved: false,
        isAddBlank: false,
        modalAdd: false,
        modalAvailable: false,
        isLoadingTable: false,
        errorMessage: null,
        modalNotFound: false,
        modalConfirm: false,
        isScanInventory: false,
        category_selected: null,
        location_selected:null,
        condition_selected: null,
        model_number: null,
        scanby: {
            selected: null,
            options: [
                {
                    label: 'Main Category',
                    id: 1
                },
                {
                    label: 'Model Number',
                    id: 2
                }
            ]
        },
        fields: [
            {
                key: 'model'
            },
            {
                key: 'category'
            },
            {
                key: 'store.store_name_only',
                label: 'Location'
            },
            {
                key: 'quantity'
            },
            {
                key: 'available_quantity',
                label: 'Available Stock'
            },
            {
                key: 'in_stock'
            },
            {
                key: 'tagged_quantity',
                label: 'Reserved'
            },
            {
                key: 'action',
                label: ''
            }
        ],
        match_data: [],
        inventoryAdjustmentMeta: {
            quantity: 1,
            order: null,
            modalDelete: false,
            modalAssign: false,
            isLoading: false,
            tempData: null,
            tempDataItem: null,
            page: 1,
            perpage: 10,
            fields: [
                {
                    key:'no'
                },
                {   
                    key: 'qty',
                    label: 'Qty'
                },
                {
                    key: 'model',
                },
                {
                    key: 'order_no',
                },
                {
                    key: 'created_date',
                    label: 'Order Date'
                },
                {
                    key: 'sales_person'
                },
                {
                    key: 'delivery_date',
                },
                {
                    key: 'action',
                    label:''
                },
            ]
        },
    }),
    computed:{
        ...mapState('store', {
            stores: state => state.items
        }),
        ...mapState('inventory', {
            conditions: state => state.conditions,
            matchData: state => state.matchData,
            inventoryAdjustmentData : state => state.inventoryAdjustment
        }),
        ...mapState('category', {
            categories: state => state.categories,
        }),
    },
    created(){
        this.location_selected = this.stores.filter(store => {return store.is_warehouse})[0]
        this.condition_selected = this.conditions.filter(condition => {return condition.name == 'New'})[0]
    },
    // mounted(){
    //     let data = JSON.parse(localStorage.getItem('inventory-data-match'))
    //     if(data){
    //         this.location_selected = data.location_selected
    //         this.condition_selected = data.condition_selected
    //         this.scanby.selected = data.scanby_selected
    //         this.category_selected = data.category_selected
    //         this.focusInputModel()
    //     }
    // },
    beforeRouteLeave(to, from, next){
        localStorage.removeItem('inventory-data-match')
        next()
    },
    watch: {
        temporary_model(){
            this.isLoading = true
        },
        model(){
            this.isLoading = false
        }
    },
    methods: {
        ...mapActions({
            postInventoryMatch: 'inventory/postInventoryMatch',
            getInventoryMatch: 'inventory/getInventoryMatch',
            finishInventoryMatch: 'inventory/finishInventoryMatch',
            getInventoryAdjustment: 'inventory/getInventoryAdjustment',
            deleteInventoryMatch: 'inventory/deleteInventoryMatch',
            untagInventory: 'inventory/untagInventory',
            updateQtyGeneral: 'inventory/updateQtyGeneral',
        }),
        handleInputScanby(){
            if(this.scanby.selected.id != 1){
                this.focusInputModel()
            }
        },  
        handleInputModel: _.debounce(function(){
            let model = this.temporary_model
            this.model += model + '\n'
            this.temporary_model = ''
            let textarea = this.$refs.textArea
            textarea.scrollTop = textarea.scrollHeight
            this.$refs.inputForm.focus()
        }, 1000),
        leavePage(){
            this.isDelete = true
            localStorage.removeItem('inventory-data-match')
            this.deleteInventoryMatch('all')
            .then(() => {
                this.fetchInventoryMatch()
                .then(() => {
                    this.$router.push({name: this.routePath.name})
                    this.isDelete = true
                    this.modalWarning = false   
                })
            })
        },
        showModalDelete(item){
            this.tempData = item
            this.modalDelete = true
        },
        hideModalDelete(){
            this.modalDelete = false
            this.tempData = null
        },
        deleteItem(){
            this.isDelete = true
            this.deleteInventoryMatch(this.tempData.id)
            .then(() => {
                this.fetchInventoryMatch()
                .then(() => {
                    this.hideModalDelete()
                    this.isDelete = false
                })
            })
        },
        focusInputModel(){
            this.$nextTick(() => {
                this.$refs.inputForm.focus()
            })
        },
        saveLocalstorage(){
            let data = {
                location_selected: this.location_selected,
                condition_selected: this.condition_selected,
                scanby_selected: this.scanby.selected,
                category_selected: this.category_selected
            }
            localStorage.setItem('inventory-data-match', JSON.stringify(data))
        },
        scanInventory(){
            this.$validator.validateAll().then(result => {
                if(result){
                    this.isScanInventory = true
                    let formatedModels = this.model.replace(/\n/g, ",");
                    this.postInventoryMatch({
                        model: formatedModels,
                        category: this.scanby.selected.id == 1 ? this.category_selected.category_name : null,
                        store_id: this.location_selected.store_id,
                        condition: this.condition_selected.id
                    })
                    .then(response => {
                        if(response.status == 404){
                            this.errorMessage = response.message
                            this.modalNotFound = true
                            this.isScanInventory = false
                        }else if(response.status == 400){
                            this.errorMessage = response.message
                            this.modalConfirm = true
                            this.isScanInventory = false
                        }else{
                            this.fetchInventoryMatch()
                            .then(() => {
                                this.isScanInventory = false
                                this.resetField()
                            })
                        }                  
                    })
                }
            })
        },
        bypassScan(){
            this.isScanInventory = true
            this.postInventoryMatch({
                model: this.model_number,
                category: this.scanby.selected.id == 1 ? this.category_selected.category_name : null,
                store_id: this.location_selected.store_id,
                condition: this.condition_selected.id,
                bypass : 1
            })
            .then(() => {                   
                this.fetchInventoryMatch()
                .then(() => {
                    this.isScanInventory = false
                    this.modalConfirm = false
                    this.resetField()
                })
            })
        },
        fetchInventoryMatch(){
            return new Promise((resolve, reject) => {
                this.isLoadingTable = true
                this.getInventoryMatch()
                .then(() => {
                    this.isLoadingTable = false
                    resolve()
                })
            })
        },
        resetField(){
            this.temporary_model = ''
            this.$validator.reset()
        },
        handleClickAvailable(item){
            this.inventoryAdjustmentMeta.tempData = {...item, type: 'available'}
            this.fetchInventoryAdjustment()
            .then(() => {
                this.showModalAvailable()  
            })
        }, 
        handleClickReserved(item){
            this.inventoryAdjustmentMeta.tempData = {...item, type: 'reserved'}
            this.fetchInventoryAdjustment()
            .then(() => {
                this.showModalReserved()  
            })
        },  
        fetchInventoryAdjustment(){
            this.inventoryAdjustmentMeta.isLoading = true
            return new Promise((resolve, reject) => {
                this.getInventoryAdjustment({
                    order_no: null,
                    model: this.inventoryAdjustmentMeta.tempData.model,
                    condition: this.inventoryAdjustmentMeta.tempData.condition,
                    type: this.inventoryAdjustmentMeta.tempData.type,
                    store_id: this.inventoryAdjustmentMeta.tempData.store_id,
                    page: this.inventoryAdjustmentMeta.page,
                    perpage: this.inventoryAdjustmentMeta.perpage,
                    match: 1
                })
                .then(() => {
                    this.inventoryAdjustmentMeta.isLoading = false
                    resolve()  
                })
            })
        },
        showModalAvailable(){
            this.modalAvailable = true
        },
        hideModalAvailable(clearData){
            this.modalAvailable = false
            if(clearData) this.resetMetaInventoryAdjustment()
        },
        resetMetaInventoryAdjustment(){
            this.inventoryAdjustmentMeta.tempData = null
            this.inventoryAdjustmentMeta.page = 1
            this.inventoryAdjustmentMeta.perpage = 10
        },
        setPageAdjustment(value){
            this.inventoryAdjustmentMeta.page = value
            this.fetchInventoryAdjustment()
        },
        setPerPageAdjustment(value){
            this.inventoryAdjustmentMeta.page = 1
            this.inventoryAdjustmentMeta.perpage = value
            this.fetchInventoryAdjustment()  
        },
        deleteItemAdjustment(item, action){
            this.inventoryAdjustmentMeta.isLoadingDelete = true
            this.untagInventory({
                id: item.id,
                inventory_id: item.inventory_id,
                quantity: this.inventoryAdjustmentMeta.tempData.type == 'available' ? 1 : item.total_qty,
                is_from: item.is_from,
                type: this.inventoryAdjustmentMeta.tempData.type,
                action: action,
                params: {
                    match: 1 
                }
            })
            .then(() => {
                this.fetchInventoryAdjustment()
                .then(() => {
                    this.inventoryAdjustmentMeta.isLoadingDelete = false
                    this.fetchInventoryMatch()
                })

            })
        },
        showModalAdd(){
            this.modalAdd = true
            this.hideModalAvailable(false)
        },
        hideModalAdd(){
            this.modalAdd = false
            this.inventoryAdjustmentMeta.quantity = 1
            this.purchaseOrderNumber = null
            this.showModalAvailable()
        },
        showModalReserved(){
            this.modalReserved = true
        },
        hideModalReserved(clearData){
            this.modalReserved = false
            if(clearData) this.resetMetaInventoryAdjustment()
        },
        submitAddBlank(){
            this.isAddBlank = true
            this.updateQtyGeneral({
                id: this.inventoryAdjustmentMeta.tempData.inventory_id,
                quantity: this.inventoryAdjustmentMeta.quantity,
                field_name : 'quantity',
                estimated_availability: null,
                purchase_order_number: null,
                params: {
                    match: 1 
                }
            })
            .then(() => {
                this.fetchInventoryAdjustment()
                .then(() => {
                    this.fetchInventoryMatch()
                    .then(() => {
                        this.isAddBlank = false
                        this.hideModalAdd()
                    })
                })
            })
        },
        maxQtyAvailable(){
            if(this.inventoryAdjustmentMeta.tempData){
                let maxQty = this.inventoryAdjustmentMeta.tempData.quantity - this.inventoryAdjustmentMeta.tempData.in_stock
                if(this.inventoryAdjustmentMeta.quantity > maxQty) this.inventoryAdjustmentMeta.quantity = maxQty
            }
        },
        handleFinish(){
            this.isFinish = true
            this.finishInventoryMatch()
            .then(() => {
                localStorage.removeItem('inventory-data-match')
                this.fetchInventoryMatch()
                .then(() => {
                    this.$router.push({name:'inventory-index-current-inventory'})
                })
            })
        }
    }
}
</script>

<style>

</style>