<template>
  <section>
    <h3 class="font-weight-600 mb-0">Daily Sales Report</h3>
    <div class="d-flex align-items-center mt-3">
      <div class="d-flex flex-row mr-3">
        <div class="form-group mb-0">
          <div class="icon icon-left">
            <no-ssr>
              <app-datepicker mode="range" v-model="date">
                <template :type='inputState.type' slot-scope='{ inputValue }'>
                  <div class="icon icon-right">
                    <input type="text" placeholder="11/20/2018" id="date" class="form-control form-icon" :value='inputValue'
                      readonly>
                    <i class="far fa-calendar-alt text-primary"></i>
                  </div>
                </template>
              </app-datepicker>
            </no-ssr>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="form-group mb-0 mr-3">
          <no-ssr>
            <app-select v-width="'230px'" v-model="sales_person_selected" :options="sales_person" :close-on-select="true"
              :clear-on-select="false" :hide-selected="true" :preserve-search="true" :select-label="'Select'"
              placeholder="Sales Person" label="fullname" track-by="user_id"
              :preselect-first="false" id="sales_person" @input="filterSalesPerson">
            </app-select>
          </no-ssr>
        </div>
        <div class="form-group mb-0">
          <no-ssr>
            <app-select :class="'mr-3'" v-width="'230px'" v-model="location_selected" :options="stores"
              :close-on-select="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true"
              :select-label="'Select'" placeholder="Location" label="store_name" track-by="store_id"
              :preselect-first="false" id="location" @input="fillterLocation">
            </app-select>
          </no-ssr>
        </div>
      </div>
      <div class="flex-row ml-auto">
        <div class="d-flex">
          <div class="flex-row">
            <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export</button>
          </div>
          <div class="flex-row">
            <button class="btn btn-primary" @click.prevent="resetFilter"> Reset Filter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <admin-table-daily-sales @row-clicked="showAction"></admin-table-daily-sales>
    </div>
    <app-action-daily-sales v-model="action" />
  </section>
</template>
<script>
  import AdminTableDailySales from '@/components/admin/table/DailySales.vue'
  import ActionDailySales from '@/components/admin/action/DailySale.vue'
  import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
  import Select from 'vue-multiselect'
  import {
    mapActions, mapMutations, mapState
  } from 'vuex'

  var printJs;
  if (process.client) {
    printJs = require('print-js')
  }

  export default {
    async asyncData({store}) {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = yyyy + '-' + mm + '-' + dd;
        await store.dispatch('accounting/getDaily', {
            from: today,
            to: today,
            user_id: '',
            location: '',
        })
        let stores_data = await store.dispatch('store/getStores', 'all')
        // let delivery_method_data = await store.dispatch('accounting/getDelivery')
        await store.dispatch('salesPerson/getSalesPersons', { type: true })
        return{
            stores : stores_data.data,
            // delivery : delivery_method_data
        }
    },
    data() {
      return {
        date: {
          start: new Date(),
          end: new Date()
        },
        test: [],
        // delivery_selected: '',
        sales_person_selected: '',
        location_selected: '',
        delivery: [],
        stores: [],
        // delivery_method: '',
        user_id: '',
        location: '',
        action: false
      }
    },
    watch: {
      date: {
        handler: function (newValue) {
          this.generateDailyReport(this.moment(newValue.start).format('Y-MM-DD'), this.moment(newValue.end).format(
            'Y-MM-DD'), this.user_id, this.location)
        },
        deep: true
      },
      user_id() {
        this.generateDailyReport(this.moment(this.date.start).format('Y-MM-DD'), this.moment(this.date.end).format(
          'Y-MM-DD'), this.user_id, this.location)
      },
      location() {
        this.generateDailyReport(this.moment(this.date.start).format('Y-MM-DD'), this.moment(this.date.end).format(
          'Y-MM-DD'), this.user_id, this.location)
      }
    },
    computed: {
      ...mapState('accounting', {
        pdfUrl: state => state.pdfUrl
      }),
      ...mapState('salesPerson', {
        sales_person: state => state.items
      })
    },
    destroyed(){
        this.ASSIGN_DAILY_SALES(null)
    },
    methods: {
      ...mapActions('accounting', ['getDaily', 'getDelivery', 'getPDF']),
      ...mapActions('store', ['getStores']),
      ...mapMutations(['SET_LOADING_TABLE']), 
      ...mapMutations('accounting',[
          'ASSIGN_DAILY_SALES'
      ]),
      generateDailyReport(from, to, user_id, location) {
        this.SET_LOADING_TABLE(true)
        this.getDaily({
          from: from,
          to: to,
          // delivery: delivery,
          user_id: user_id,
          location: location
        }).then(() => {
          this.SET_LOADING_TABLE(false)
        })
      },
      // fillterDelivery() {
      //   this.delivery_method = this.delivery_selected.delivery_method_id
      // },
      fillterLocation() {
        this.location = this.location_selected.store_id
      },
      filterSalesPerson() {
        this.user_id = this.sales_person_selected.user_id
      },
      resetFilter() {
        this.date = {
          start: new Date(),
          end: new Date()
        }
        this.location = ''
        this.user_id = ''
      },
      showAction() {
        this.action = true;
      },
      viewPdf() {
        this.getPDF({ 
          type: 'daily-sales', 
          from: this.moment(this.date.start).format('Y-MM-DD'), 
          to: this.moment(this.date.end).format('Y-MM-DD') ,
          user_id: this.user_id,
          store_id: this.location
        })
        .then((res) => {
          printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
        })
      }
    },
    components: {
      'admin-table-daily-sales': AdminTableDailySales,
      'app-select': Select,
      'app-action-daily-sales': ActionDailySales
    },
    transition: 'slide',
    layout: 'admin',
  }
</script>
<style scooped>
  select.form-control {
    height: calc(1.96875rem + 9px);
  }
</style>