<template>
    <div>
        <app-modal-stores edit />
    </div>
</template>

<script>
import ModalStore from "@/components/admin/modal/Stores.vue";

export default {
    async asyncData({ store, route }) {
        await store.dispatch("store/getStore", route.params.id);
        await store.dispatch("store/getManagers", route.params.id);
    },
    // asyncData ({ store, route }) {
    //     return store.dispatch('store/getStore', route.params.id)
    //     // console.log(route.params.id)
    // },
    // methods: {
    //     ...mapActions('store', [
    //         'getStore'
    //     ])
    // },
    components: {
        "app-modal-stores": ModalStore,
    },
    transition: "slide",
    layout: "admin",
};
</script>
