<template>
    <section>
        <h3 class="font-weight-600 mb-0">Manage Install</h3>
        <div class="d-flex align-items-center mt-3">
            <div class="flex-row ml-auto">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name:'settings-installs-create'}">Create New Install</nuxt-link>
            </div>
        </div>
        <div class="mt-3">
            <admin-table-installs />
        </div>
    </section>
</template>
<script>
    import { mapMutations } from 'vuex'
    import AdminTableInstalls from '@/components/admin/table/Installs.vue'

    export default {
        async asyncData({ store, route }) {
            return await store.dispatch('install/getInstalls')
        },       
        methods: {
            ...mapMutations('install', [
                'SET_INSTALL_TABLE_DEFAULT',
                'SET_INSTALL_FIELDS_DEFAULT',
                'SET_INSTALL_SELECTED_DEFAULT'
            ]),
        },
        created(){
            this.SET_INSTALL_FIELDS_DEFAULT()
        },
        components:{
            'admin-table-installs': AdminTableInstalls,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
</style>

