<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center">
                <div class="icon icon-left">
                    <input
                        type="text"
                        class="
                            form-control form-icon
                            rounded-top-right--0
                            rounded-bottom-right--0
                        "
                        v-model="search"
                        v-width="'250px'"
                        placeholder="Search"
                        @keypress.enter="searchEsl"
                    />
                    <i class="fas fa-search"></i>
                </div>
                <button
                    class="
                        btn btn-primary
                        rounded-top-left--0
                        rounded-bottom-left--0
                    "
                    @click="searchEsl"
                >
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <button
                    class="btn btn-outline-danger mr-3"
                    v-if="dataSelected.length > 0"
                    @click="showDeleteModal"
                >
                    Delete
                </button>
                <button
                    class="
                        btn btn-outline-primary
                        d-flex
                        align-items-center
                        mr-3
                    "
                    @click="showModalBind"
                >
                    <i class="material-icons mr-2 fa-lg mb-n1">insert_link</i>
                    <span>Bind All</span>
                </button>
                <button
                    class="
                        btn btn-outline-primary
                        d-flex
                        align-items-center
                        mr-3
                    "
                    @click="showModalUnbound"
                >
                    <i class="material-icons mr-2 fa-lg mb-n1">insert_link</i>
                    <span>Unbound Rebind</span>
                </button>
                <nuxt-link
                    tag="a"
                    :to="{
                        name: 'settings-digital-price-tags-esl-bulk-insert',
                    }"
                    class="btn btn-primary"
                    ><span><i class="fas fa-plus"></i></span> Bulk
                    Insert</nuxt-link
                >
            </div>
        </div>
        <table-esl
            ref="table"
            @setPage="changePage"
            @setPerPage="changePerPage"
            @setSelected="catchSelected"
            :loading="isLoading"
            @getEslData="fetchEslData"
        />
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0" v-if="dataSelected.length > 0">
                Are you sure want to delete {{ dataSelected.length }} ESL?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteEsl"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteEsl"
                        @click="deleteEsl"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal title="Bind" :show="modalBind" @hide="hideModalBind">
            <h6 class="my-3">
                Are you sure to bind all the ESL in the current store to the
                gateway?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-secondary mr-3"
                        :disabled="isBindEsl"
                        @click="hideModalBind"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-primary"
                        :disabled="isBindEsl"
                        @click="bindEsl"
                    >
                        OK
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal title="Bind" :show="modalUnbound" @hide="hideModalUnbound">
            <h6 class="my-3">
                Are you sure you want to rebind all unbound ESL in the current
                store?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-secondary mr-3"
                        :disabled="isUnboundEsl"
                        @click="hideModalUnbound"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-primary"
                        :disabled="isUnboundEsl"
                        @click="unboundEsl"
                    >
                        OK
                    </button>
                </div>
            </template>
        </app-modal>
        <app-modal
            title="Rebind status"
            :show="modalUnboundStatus"
            @hide="hideModalUnboundStatus"
        >
            <ul class="my-2 pl-4">
                <li v-for="(item, index) in messageUnbound" :key="index">
                    <h6
                        class="mb-2"
                        :class="{ 'text-danger': item.errorcode != 200 }"
                    >
                        {{ "Gateway " + item.gateway + ": " + item.message }}
                    </h6>
                </li>
            </ul>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-primary"
                        @click="hideModalUnboundStatus"
                    >
                        OK
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>

<script>
import TableEsl from "@/components/admin/table/EslPriceTag";
import Modal from "@/components/utilities/Modal";
import { mapActions, mapMutations, mapState } from "vuex";
import _ from "lodash";

export default {
    transition: "slide",
    data: () => ({
        search: "",
        page: 1,
        perpage: 10,
        modalDelete: false,
        modalBind: false,
        modalUnbound: false,
        modalUnboundStatus: false,
        isBindEsl: false,
        isUnboundEsl: false,
        isLoading: false,
        isDeleteEsl: false,
        dataSelected: [],
        messageUnbound: [],
    }),
    components: {
        TableEsl,
        "app-modal": Modal,
    },
    watch: {
        location() {
            this.fetchEslData();
        },
        search(value) {
            if (value.length == 0) this.fetchEslData();
        },
    },
    computed: {
        ...mapState("priceTag", {
            location: (state) => state.location,
        }),
    },
    async created() {
        await this.fetchEslData();
    },
    methods: {
        ...mapMutations(["SET_LOADING_TABLE"]),
        ...mapActions({
            getEslList: "priceTag/getEslList",
            deleteEslBatch: "priceTag/deleteEslBatch",
            bindAllEsl: "priceTag/bindAllEsl",
            unboundRebindEsl: "priceTag/unboundRebindEsl",
        }),
        showDeleteModal() {
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.modalDelete = false;
        },
        showModalBind() {
            this.modalBind = true;
        },
        hideModalBind() {
            this.modalBind = false;
        },
        bindEsl() {
            this.isBindEsl = true;
            this.bindAllEsl().then(() => {
                this.isBindEsl = false;
                this.hideModalBind();
                this.$refs.table.showAlert(
                    "All binding instructions are sent successfully, please refresh the page to get the latest status!",
                    "success"
                );
            });
        },
        showModalUnbound() {
            this.modalUnbound = true;
        },
        hideModalUnbound() {
            this.modalUnbound = false;
        },
        unboundEsl() {
            this.isUnboundEsl = true;
            this.unboundRebindEsl().then((response) => {
                this.isUnboundEsl = false;
                this.hideModalUnbound();
                this.showModalUnboundStatus(response.data.body);
            });
        },
        showModalUnboundStatus(res) {
            let formatMessage = res.map((i) => {
                let message =
                    "Send rebinding instruction to gateway successfully";
                let gateway = i.errmsg.replace("网关繁忙中", "");
                let errorcode = i.errcode;

                if (i.errcode != 200) {
                    message =
                        "The gateway is busy, please wait for the gateway to finish processing before resending the instruction";
                }
                return {
                    message,
                    gateway,
                    errorcode,
                };
            });
            this.messageUnbound = formatMessage;
            this.modalUnboundStatus = true;
        },
        hideModalUnboundStatus() {
            this.modalUnboundStatus = false;
            this.messageUnbound = [];
        },
        async deleteEsl() {
            this.isDeleteEsl = true;
            let data = this.dataSelected.map((i) => {
                return i.uuid;
            });
            await this.deleteEslBatch({ data: data })
                .then(() => {
                    this.isDeleteEsl = false;
                    this.dataSelected = [];
                    this.hideModalDelete();
                    this.fetchEslData();
                })
                .catch((error) => {
                    this.isDeleteEsl = false;
                    this.hideModalDelete();
                });
        },
        catchSelected(value) {
            this.dataSelected = value;
        },
        changePage(value) {
            this.page = value;
            this.fetchEslData();
        },
        changePerPage(value) {
            this.perpage = value;
            this.fetchEslData();
        },
        async fetchEslData() {
            this.isLoading = true;
            await this.getEslList({
                perpage: this.perpage,
                page: this.page,
                search: this.search,
            })
                .then(() => {
                    this.isLoading = false;
                })
                .catch((error) => {
                    this.isLoading = false;
                });
        },
        searchEsl: _.debounce(function () {
            this.SET_LOADING_TABLE(true);
            this.fetchEslData().then(() => {
                this.SET_LOADING_TABLE(false);
            });
        }, 500),
    },
};
</script>

<style>
</style>
