<template>
    <div>
        <BackLink :link="{name: 'index'}" title="Product Details" />
        <div class="card-default rounded">
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <img v-lazy="resultProduct.image" :alt="$route.params.id" class="w-100">
                        </div>
                        <div class="col-md-9">
                            <div class="product-desc">
                                <div class="mb-2">
                                    <div v-if="resultProduct != null">
                                        <h4> <span class="text-uppercase">{{resultProduct.brand_name}}</span> {{resultProduct.short_description}}</h4>
                                    </div>
                                    <div v-else>
                                        <h4>{{product.short_description}}</h4>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <b-badge :variant="resultProduct.status == 'Active' ? 'success':'danger'">{{resultProduct.status}}</b-badge>
                                        <a class="ml-2" :href="'https://slymanbros.com/' + resultProduct.category_slug + '/' + resultProduct.subcategory_slug + '/' + resultProduct.detail_category_slug + '/' + $route.params.id" target="_blank">Website Page <i class="fas fa-external-link-alt fa-sm"></i></a>
                                    </div>
                                </div>
                                <div class="mt-3" v-if="resultProduct.competitive_price != undefined">
                                    <div class="row mb-2">
                                        <div class="col-md-5 pr-0">
                                            <h6 class="mb-0">Lowest Advertised Price</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money>{{resultProduct.competitive_price.lowest_price.price}}</span></h6>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-5 pr-0">
                                            <h6 class="mb-0">Website Price</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money>{{resultProduct.competitive_price.website_price}}</span></h6>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-5 pr-0">
                                            <h6 class="mb-0">Lowe's Price</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money>{{resultProduct.competitive_price.last_lowes_history}}</span></h6>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-5 pr-0">
                                            <h6 class="mb-0">HomeDepot Price</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money>{{resultProduct.competitive_price.home_depot_price}}</span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5 pr-0">
                                        <h6 class="mb-0">MSRP Price</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money v-if="resultProduct.price > 0">{{resultProduct.price}}</span> <span class="ml-2" v-else>Not Available</span> </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-0">
                                        <h6 class="mb-0">MAP Price</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <h6 class="mb-0">: <span class="font-weight-600 ml-2" v-money v-if="resultProduct.price_sale > 0">{{resultProduct.price_sale}}</span> <span class="ml-2" v-else>Not Available</span></h6>
                                    </div>
                                </div>
                                <div class="product-feature mt-4" v-if="resultProduct != null">
                                    <h5>Product Feature</h5>
                                    <ul>
                                        <template v-for="(feature, i) in resultProduct.product_feature">
                                            <li :key="i" v-if="feature.value">{{feature.value}}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <no-ssr>
                            <label for="#" class="font-weight-600">Category</label>
                            <app-select
                                :disabled="true"
                                v-model="resultProduct.category_name"
                                :options="resultProduct.categories"
                                :close-on-select="true"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Select Category"
                                track-by="id"
                                :preselect-first="true"
                                @input="subCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                    <div class="form-group">
                        <no-ssr>
                            <label for="#" class="font-weight-600">Sub Category</label>
                            <app-select
                                :disabled="true"
                                v-model="resultProduct.subcategory_name"
                                :options="resultProduct.subcategories"
                                :close-on-select="true"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Select Sub Category"
                                track-by="pkID"
                                :preselect-first="true"
                                @input="detailCategory">
                            </app-select>
                        </no-ssr>
                    </div>
                    <div class="form-group">
                        <no-ssr>
                            <label for="#" class="font-weight-600">Detail Category</label>
                            <app-select
                                :disabled="true"
                                v-model="resultProduct.detail_category_name"
                                :options="resultProduct.detail_categories"
                                :close-on-select="true"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Select Detail Category"
                                track-by="pkID"
                                :preselect-first="true">
                            </app-select>
                        </no-ssr>
                    </div>
                </div>
            </div>
            <h5 class="mb-3">Price History</h5>
            <app-table
                :items="priceHistory.items"
                :fields="priceHistory.fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :busy="loadingTable"
                show-empty
                no-local-sorting
                hover
                @row-clicked="rowClicked"
                responsive="sm">
                <div slot="table-busy" class="text-center text-blue my-2">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
                <template slot="price" slot-scope="row">
                    <p class="mb-0" :key="row.item.price" v-money>{{row.item.price}}</p>
                </template>
                <template slot="delivery_date" slot-scope="row">
                    <p class="mb-0" :key="row.item.delivery_date">{{row.item.delivery_date ? row.item.delivery_date : 'No Date Set'}}</p>
                </template>
            </app-table>
            <div class="d-flex justify-content-between align-items-center">
                <app-total :data="priceHistory.meta" @itemPerPage="setPerPage"/>
                <app-pagination class="mb-0" align="right" :total-rows="priceHistory.meta.total" v-model="page" :per-page="priceHistory.meta.perPage" @change="setPage" v-if="priceHistory.items && priceHistory.meta.last_page > 1"/>
            </div>
        </div>
    </div>
</template>

<script>
import BackLink from '@/components/utilities/BackLink'
import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
import Select from 'vue-multiselect'
import {mapState, mapActions, mapMutations} from 'vuex'
import Pagination from '@/node_modules/bootstrap-vue/es/components/pagination/pagination'
import TotalRecord from '@/components/utilities/TotalRecord'

export default {
    transition: 'slide',
    layout: 'admin',
    components:{
        'app-select': Select,
        'app-table': Table,
        'app-pagination': Pagination,
        'app-total': TotalRecord,
        BackLink,
    },
    async asyncData({store, route}){
        await store.dispatch('product/getSearchProduct', route.params.id)
        .then(async (response) => {
            await store.dispatch('product/getPriceHistory', {sku: route.params.id, pkProduct: response.data.pkProduct, page:1, perpage: 10} )
        })
    },
    data: () => ({
        sortBy: '',
        sortDesc: true,
        page: 1,
        perpage: 10,
    }),
    computed: {
        ...mapState('product',{
            resultProduct: state => state.searchProduct,
            productDetail: state => state.productDetail,
            priceHistory: state => state.priceHistory
        }),
        ...mapState(['loadingTable'])
    },
    watch: {
        sortBy(){
            this.getResponse()
        },
        sortDesc(){
            this.getResponse()
        }
    },
    methods: {
        ...mapMutations('product', ['SET_PRODUCT_DATA_DEFAULT','SET_SEARCH_PRODUCT_DATA','SET_PRICE_HISTORY_PAGE']),
        ...mapActions('product', ['submitProduct','getPriceHistory']),
        ...mapMutations(['SET_LOADING_TABLE']),
        rowClicked(item){
            localStorage.setItem('history-route-order', JSON.stringify({name: this.$router.currentRoute.name, params: {id: this.$route.params.id}}))
            this.$router.push({ name:'my-orders-edit-id', params:{'id':item.order_no}})
        },
        getResponse(){
            this.SET_LOADING_TABLE(true)
            this.getPriceHistory({
                sortBy: this.sortBy,
                sortDesc: this.sortDesc,
                pkProduct: this.resultProduct.pkProduct,
                sku: this.resultProduct.product_id,
                page: this.page,
                perpage: this.perpage
            }).then( () =>{
                this.SET_LOADING_TABLE(false)
            })
        },
        setPage(value) {
            this.page = value
            this.getResponse()
        },
        setPerPage(value){
            this.perpage = value
            this.page = 1
            this.getResponse()
        },
    }
}
</script>

<style>

</style>
