<template>
    <div>
        <div class="d-flex align-items-center">
            <div class="form-group mb-0 mr-4">
                <label for="#" class="font-weight-600">Time</label>
                <el-time-picker
                    :disabled="!status"
                    format="hh:mm A"
                    value-format="hh:mm A"
                    class="w-100"
                    v-model="time"
                    placeholder="00:00"
                    @change="handleInputTime">
                </el-time-picker>
            </div>
            <div class="form-group mb-0 ml-3">
                <label for="#" class="font-weight-600 d-block mb-3">Status</label>
                <p-check class="p-switch p-fill" v-model="status" color="primary" @change="changeRule" />
            </div>
        </div>
    </div>
</template>

<script>
import PrettyCheck from 'pretty-checkbox-vue/check'
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    components: {
        'p-check' : PrettyCheck
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('rule/getRule', {rule: 'Delivery Cut Off Time'})
        ])
    },
    data: () => ({
        time: null,
        status: false,
    }),
    destroyed(){
        let indexCutOff = this.ruleData.findIndex(o => {return o.rule == 'Delivery Cut Off Time'})
        if(indexCutOff != -1) this.removeRule(indexCutOff)
    },
    created(){
        this.time = this.rules[0].rule_detail
        this.status = this.rules[0].status == 1 ? true : false
    },
    computed: {
        ...mapGetters({
            ruleData: 'rule/ruleData'
        }),
        rules(){
            return this.ruleData.filter(o => {return o.rule == 'Delivery Cut Off Time'})
        },
    },
    methods: {
        ...mapActions({
            updateRule: 'rule/updateRule'
        }),
        ...mapMutations({
            removeRule : 'rule/REMOVE_RULE'
        }),
        handleInputTime(){
            this.changeRule()
        },
        changeRule(){
            this.updateRule({
                id: this.rules[0].id, 
                rule_detail: this.time,
                status: this.status ? 1 : 0
            })
        }
    }
}
</script>

<style>

</style>