<template>
    <create-delivery-method
        :edit="true"
        :response="response"
    ></create-delivery-method>
</template>

<script>
import CreateDeliveryMethod from "@/components/admin/modal/DeliveryMethod";

export default {
    name: "PageCreateDeliveryMethod",
    layout: "admin",
    components: {
        CreateDeliveryMethod,
    },
    async asyncData({ store, route }) {
        let data;
        if (typeof route.params.id != "undefined") {
            await store
                .dispatch("deliveryMethod/getDeliveryMethod", route.params.id)
                .then((response) => {
                    data = response.data;
                });
        }
        return { response: data };
    },
};
</script>
