<template>
    <modal-esl />
</template>

<script>
import ModalEsl from "@/components/admin/modal/EslPriceTag";
export default {
    name: "ShowPriceTag",
    transition: "slide",
    layout: "admin",
    components: {
        ModalEsl,
    },
};
</script>
