<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">My Quotes</h3>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex flex-row">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Quotes">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <a href="#" class="btn btn-primary" @click.prevent="goToQuote">Create New Quote</a>
                <!-- <nuxt-link tag="a" class="btn btn-primary" :to="{ name: 'my-quotes-create' }">Create New Quote</nuxt-link> -->
            </div>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Active" @click="$router.push({ name: 'my-quotes-index-active' })" :active="$route.name == 'my-quotes-index-active'"></b-tab>
                <b-tab title="Expired" @click="$router.push({ name: 'my-quotes-index-expired' })" :active="$route.name == 'my-quotes-index-expired'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild @clear-search="clearSearch" />
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableQuote from '@/components/table/Quotes.vue'
    import _ from 'lodash'

    export default {
        data() {
            return {
                search: null,
                perpage: 10
            }
        },
        methods: {
            goToQuote(){
                this.$router.push({name: 'my-quotes-create'})
                localStorage.setItem('history-route-quote', this.$router.currentRoute.name)
                // localStorage.setItem('history-route-order', null)
                localStorage.setItem('history-route-order', 'index')
            },
            ...mapActions('quote', [
                'getQuotes'
            ]),
            clearSearch(){
                this.search = null
            },
            ...mapMutations('quote',['SET_QUOTE_PAGE']),
            ...mapMutations(['SET_LOADING_TABLE']),
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.SET_QUOTE_PAGE(1)
                    this.SET_LOADING_TABLE(true)
                    this.getQuotes({
                        search : this.search,
                        type: this.$route.name == 'my-quotes-index-active' ? 'active' : 'expired',
                        perpage: this.perpage
                    }).then( () =>{
                        this.SET_LOADING_TABLE(false)
                    })
                }
            }, 800)
        },
        watch: {
            search(){
                this.searchAction()
            }
        },
        components: {
            'app-table-quote': TableQuote,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>