<template>
    <div>
        <div class="text-right">
            <button
                class="btn btn-primary"
                @click="$router.push({ name: 'add-group-brand' })"
            >
                <i class="fas fa-plus"></i>
                Add Group Name
            </button>
        </div>
        <CardBorder
            variant="transparent"
            v-for="(groupBrand, groupBrandIndex) in groupBrands"
            :key="`group-brand-${installIndex}`"
        >
            <div class="row">
                <div class="col-10">
                    <table class="table table-borderless mb-2">
                        <thead>
                            <tr>
                                <th class="title bg-white w-25">Group Name</th>
                                <th class="px-0 title bg-white w-60">Brands</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-baseline">
                                    <div
                                        class="
                                            d-inline-block
                                            border
                                            rounded
                                            bg-white
                                            mb-2
                                            p-2
                                        "
                                    >
                                        {{ groupBrand.name }}
                                    </div>
                                </td>
                                <td class="brand-child px-0">
                                    <span
                                        v-for="(
                                            brandChild, index
                                        ) in groupBrand.child"
                                        :key="`brand-child-${categoryIndex}`"
                                        class="
                                            border
                                            rounded
                                            bg-white
                                            mr-2
                                            mb-2
                                            p-2
                                        "
                                    >
                                        {{ brandChild.name }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="
                        col-2
                        d-flex
                        gap
                        justify-content-center
                        align-items-center
                    "
                >
                    <a
                        role="button"
                        class="text-primary"
                        @click="goToFormGroupBrand(groupBrand)"
                        ><i class="fas fa-edit"></i
                    ></a>
                    <a
                        role="button"
                        class="text-danger"
                        @click="showModalDelete(groupBrand.id)"
                        ><i class="fas fa-trash"></i
                    ></a>
                </div>
            </div>
        </CardBorder>
        <Modal title="Delete" :show="modal.delete" @hide="hideModalDelete">
            <h6 class="my-4">Are you sure want to delete this data?</h6>
            <template slot="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a
                        href="javascript:void(0)"
                        class="text-primary mr-4 font-weight-600"
                        @click="hideModalDelete"
                        >Cancel</a
                    >
                    <button
                        class="btn btn-danger btn-sm"
                        :disabled="isDelete"
                        @click="deleteGroupBrand"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </Modal>
    </div>
</template>

<script>
// Components
import CardBorder from "@/components/utilities/CardBorder.vue";
import Modal from "@/components/utilities/Modal";

// Packages
import { mapState } from "vuex";

export default {
    name: "ActiveBrandsIndex",
    async asyncData({ store }) {
        await store.dispatch("brand/getBrandGroup");
        return;
    },
    data() {
        return {
            selected: {
                id: null,
            },
            modal: {
                delete: false,
            },
        };
    },
    components: {
        CardBorder,
        Modal,
    },
    computed: {
        ...mapState("brand", {
            groupBrands: (state) => state.groupBrands,
        }),
    },
    methods: {
        goToFormGroupBrand(groupBrand) {
            this.$store.commit(`brand/ASSIGN_SELECTED_BRAND`, groupBrand);

            this.$router.push({ name: 'add-group-brand' });
        },
        showModalDelete(groupdBrandId) {
            this.selected.id = groupdBrandId;
            this.modal.delete = true;
        },
        hideModalDelete() {
            this.selected.id = null;
            this.modal.delete = false;
        },
        deleteGroupBrand() {
            this.$store.dispatch(`brand/deleteBrandGroup/`, this.selected.id)
                .then(() => {
                    this.$root.$bvToast.toast(`Date Delete`, {
                        title: "Success!",
                        variant: "success",
                        solid: true,
                    });
                });
        },
    }
};
</script>
<style lang="scss" scoped>
table.table.table-borderless {
    tbody {
        tr {
            line-height: 1em;
            vertical-align: top;
            td {
                padding-top: 0;
                padding-bottom: 0;
                vertical-align: top;
            }
            .brand-child {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }
}
.gap {
    gap: 1rem;
}
</style>
