<template>
    <div>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <no-ssr>
                        <app-monthpicker :minimumView="'month'" ref="monthPicker" :maximumView="'month'" format="MMMM, yyyy" class="montpicker__input" v-model="date" @input="filterDate" />
                    </no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="store_selected" 
                        v-width="'250px'"
                        :options="stores" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                        @input="getData"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0 ml-3">
                    <no-ssr><app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                        @input="getData"
                    >
                    </app-select></no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" :disabled="isExport" @click.prevent="getEpicCsv">Export EPIC CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-warranty/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableWarrantyEpicReport from '@/components/admin/table/WarrantyEpicReport'
    import _ from 'lodash'
     
    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }     

    export default {
        async fetch ({ store, route }) {
            let currentYear = new Date().getFullYear()
            let month = new Date().toLocaleString("en-US", { month: "long", timeZone: "America/Chicago" })
            await Promise.all([
                store.dispatch('accounting/getWarrantyEpicReport',{
                    month: month,
                    year: currentYear,
                    sales_person: '',
                    is_csv: false,
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
            ])
        },
        data() {
            return {
                isExport: false,
                sales_selected:'',            
                store_selected:'',
                isLoading2: false,                
                date: this.moment(new Date(new Date().toLocaleString("en-US", {timeZone: "America/Chicago"}))).format('MMMM, YYYY'),
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl,
                item: state => state.item_warranty_epic_report,
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            ...mapState('deliveryMethod', {
                deliveries: state => state.items
            }),
        },
        methods: {
            ...mapActions('accounting', ['getWarrantyEpicReport']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            ...mapMutations(['SET_LOADING_TABLE']),
            filterDate(value){
                let formatedMonth = this.moment(value).format('MMMM, YYYY')
                this.date = formatedMonth
                this.getData()
            },
            getData(){
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getWarrantyEpicReport({        
                    month: this.moment(this.date).format('MMMM'),
                    year: this.moment(this.date).format('YYYY'),
                    store: store,
                    sales_person: sales_person,
                    is_csv: false
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            resetFilter() {
                this.date = this.moment(new Date(new Date().toLocaleString("en-US", {timeZone: "America/Chicago"}))).format('MMMM, YYYY')
                this.store_selected = ''
                this.sales_selected = ''
                this.getData()
            },           
            getEpicCsv(){
                this.isExport = true
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getCSV({ 
                    type: 'warranty-epic-report', 
                    month: this.moment(this.date).format('MMMM'),
                    year: this.moment(this.date).format('YYYY'),
                    user_id: this.$auth.$state.user.user_id,
                    user_name: this.$auth.$state.user.fullname,
                    sales_person_name: this.sales_selected ? this.sales_selected.fullname : null,
                    store_name: this.store_selected ? this.store_selected.format_store_name : null,
                    store: store,
                    is_csv: true,
                    sales_person: sales_person,
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        name: '56313'+ this.moment(new Date().toLocaleDateString()).format('YYMMDD')
                    })
                    this.isExport = false   
                })
            }
        },
        components: {
            'app-table-warranty': TableWarrantyEpicReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>