<template>
    <FormTimeLimit />
</template>

<script>
import FormTimeLimit from '@/components/admin/form/FormTimeLimit';

export default {
    name: "DeliverySettingTimeLimit",
    async asyncData({ store }) {
        await store.dispatch("timeLimit/getTimeLimits");
    },
    components: {
        FormTimeLimit,
    }
};
</script>
