<template>
<div>
    <!-- <div class="d-flex align-items-center mb-4">
        <h3 class="font-weight-600 mr-3 mb-0">Minimum Commission</h3>
        <p-check class="p-switch p-fill" v-model="rule" color="primary"></p-check>
    </div> -->
    <h3 class="font-weight-600 mb-4">Minimum Commission Amount</h3>
    <div class="d-flex align-items-center">
        <div class="form-group mb-0 mr-4">
            <label for="#" class="font-weight-600">Amount</label>
            <price-input disabled v-model="amount" />
        </div>
        <div class="form-group mb-0 mr-3">
            <label for="#" class="font-weight-600 d-block mb-3">Warning Message</label>
            <p-check class="p-switch p-fill" v-model="warningMessage" color="primary"></p-check>
        </div>
    </div>
</div>
</template>

<script>
import PriceInput from '@/components/utilities/PriceInput'
import PrettyCheck from 'pretty-checkbox-vue/check'
export default {
    layout: 'admin',
    components: {
        'price-input': PriceInput,
        'p-check': PrettyCheck,
    },
    async asyncData({store}){
        await Promise.all([
            store.dispatch('rule/getRule', {rule: 'Schedule Delivery Tagged Stock'})
        ])
    },
    data: () => ({
        rule: false,
        amount: 175,
        warningMessage: false
    })
}
</script>

<style>

</style>