<template>
    <div>
        <BackLink :link="historyRouteQuotes" title="Changelog" />
        <b-tabs content-class="mt-3">
            <b-tab title="Quote" @click="$router.push({name: 'my-quotes-edit-id', params: {id: $route.params.id}})" />
            <b-tab title="Changelog" active></b-tab>
        </b-tabs>
        <div class="border rounded p-4">
            <app-timeline />
        </div>
    </div>
</template>

<script>
    import Timeline from '@/components/utilities/Timeline'
    import BackLink from '@/components/utilities/BackLink'
    export default {
        async asyncData({store, route}){
            await Promise.all([
                store.dispatch('changelog/getChangelog', {id: route.params.id, type: 0}),
                store.dispatch('quote/getQuote', route.params.id)
            ])
        },
        data(){
            return{
                isLeave : false,
                routeQuote: null,
                historyRouteQuotes: {
                    name: 'index'
                }
            }
        },
        methods: {
            getHistoryQuote(){
                return new Promise((resolve, reject) =>{
                    this.routeQuote = localStorage.getItem('history-route-quote')
                    resolve()
                })
            },
            backRoute(){
                this.getHistoryQuote()
                .then( () =>{
                    if(this.routeQuote.includes('/customers/detail')){
                        this.historyRouteQuotes = {path: this.routeQuote}
                    }else {
                        this.historyRouteQuotes = {name: this.routeQuote}
                    }
                })
            }
        },
        components: {
            'app-timeline': Timeline,
            BackLink
        },
        layout: 'admin',
        transition: 'slide',
    }
</script>