<template>
    <damage-allowance-report type="open" @getData="getData" @perpage="setPerPage" @page="setPage" />
</template>

<script>
import DamageAllowanceReport from "@/components/admin/table/DamageAllowanceReport.vue";

export default {
    name: "DamageAllowanceReportOpen",
    components: {
        DamageAllowanceReport,
    },
    methods: {
        getData() {
            this.$emit("getData");
        },
        setPerPage(value){
            this.$emit("perpage", value)
        },
        setPage(value){
            this.$emit("page", value)
        }
    },
};
</script>
