<template>
    <div>
        <app-modal-installs edit />
    </div>
</template>

<script>
import ModalInstalls from "@/components/admin/modal/Installs.vue";

export default {
    async asyncData({ store, route, _ }) {
        let { data } = await store.dispatch(
            "install/getInstall",
            route.params.id
        );
        let categories = await store.dispatch("category/getCategories");
        return;
    },
    components: {
        "app-modal-installs": ModalInstalls,
    },
    transition: "slide",
    layout: "admin",
};
</script>
