<template>
    <div>
        <BackLink :link="{name: 'inventory-index-current-inventory'}" title="Add Inventory" />
        <div class="card-default">
            <app-form-inventory ref="formInventory" />
        </div>
    </div>
</template>

<script>

    import BackLink from '@/components/utilities/BackLink'
    import FormInventory from '@/components/admin/form/AddInventory'

    export default {
        name: 'AddInventory',
        head: {
            title: 'Inventory - POS Slyman Brothers Appliance Centers of Missouri'
        },
        async asyncData({ store, route}){
            await Promise.all([
                store.dispatch('store/getStores'),
                store.dispatch('salesPerson/getSalesPersonStore'),
                store.dispatch('inventory/getConditions')
            ])
        },
        components: {
            'app-form-inventory' : FormInventory,
            BackLink
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
