<template>
    <div>
        <div class="d-flex align-items-center">
            <app-select
                v-model="operation.type"
                :options="logsFilter.type"
                label="name"
                trackBy="id"
                :loading="isLoadingFilter"
                :show-labels="false"
                placeholder="Choose operation types"
                v-width="'250px'"
                class="mr-3"
                @input="fetchHistoryData"
            />
            <app-select
                v-model="operation.result"
                :options="logsFilter.results"
                label="name"
                trackBy="id"
                :loading="isLoadingFilter"
                :show-labels="false"
                placeholder="Choose operation results"
                v-width="'300px'"
                class="mr-3"
                @input="fetchHistoryData"
            />
            <div class="d-flex align-items-center">
                <div class="icon icon-left">
                    <input type="text" class="form-control form-icon rounded-top-right--0 rounded-bottom-right--0" v-model="search" v-width="'250px'" placeholder="Search" @keypress.enter="searcHistory">
                    <i class="fas fa-search"></i>
                </div>
                <button class="btn btn-primary rounded-top-left--0 rounded-bottom-left--0" @click="searcHistory"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <table-history class="mt-4" :loading="isLoading" @setPerPage="changePerPage" @setPage="changePage" />
    </div>
</template>

<script>
import TableHistory from '@/components/admin/table/HistoryPriceTag'
import Select from 'vue-multiselect'
import {mapActions, mapGetters, mapState} from 'vuex'
import _ from 'lodash'

export default {
    transition: 'slide',
    components: {
        'app-select' : Select,
        TableHistory
    },
    data: () => ({
        operation:{
            type: {
                id: 0,
                name: 'All operation types'
            },
            result: {
                id: 0,
                name: 'All operation results'
            }
        },
        page: 1,
        perpage: 10,
        search: '',
        isLoading: false,
        isLoadingFilter: false,
    }),
    watch: {
        location(){
            this.fetchData()
        },
        search(value){
            if(value.length == 0) this.fetchHistoryData()
        }
    },
    computed: {
        ...mapGetters({
            logsFilter: 'priceTag/logsFilter'
        }),
        ...mapState('priceTag', {
            location: state => state.location
        })
    },
    async created(){
        await this.fetchData()
    },
    methods: {
        ...mapActions({
            getLogsFilter: 'priceTag/getLogsFilter',
            getHistory: 'priceTag/getHistory'
        }),
        async fetchData(){
            await Promise.all([
                this.fetchFilter(),
                this.fetchHistoryData()
            ])
        },
        async fetchFilter(){
            this.isLoadingFilter = true
            await this.getLogsFilter()
            .then(() => {
                this.isLoadingFilter = false
            })
        },
        async fetchHistoryData(){
            this.isLoading = true
            await this.getHistory({
                page: this.page, 
                perpage: this.perpage, 
                type: this.operation.type.id != 0 ? this.operation.type.id : '', 
                result: this.operation.result.id != 0 ? this.operation.result.id : '', 
                search: this.search
            })
            .then(() => {
                this.isLoading = false
            })
        },
        searcHistory: _.debounce(function(){
            this.fetchHistoryData()
        }, 500),
        changePerPage(value){
            this.perpage = value
            this.fetchHistoryData()
        },
        changePage(value){
            this.page = value
            this.fetchHistoryData()
        }
    }
}
</script>

<style>

</style>