<template>
    <div class="mt-3">
        <app-table-report @setPerPage="changePerPage" @setPage="changePage" @fetchData="fetchReport" />
    </div>
</template>

<script>
import CustomItemTable from '@/components/admin/table/CustomItemReport'
import {mapActions} from 'vuex'
export default {
    components: {
        'app-table-report' : CustomItemTable
    },
    transition: 'slide',
    async asyncData({store, $auth}){
        await Promise.all([
            store.dispatch('customItemReport/getCustomItemReport', {
                store_id: '',
                q: '',
                perpage: 10,
                page: 1,
                status: 2,
            })
        ])
    },
    data: () => ({
        page:1,
        perpage: 10
    }),
    props: {
        search: {
            type: String
        },
        location: {
            type: Object
        }
    },
    destroyed(){
        this.$emit('clearFilter')
    },
    methods: {
        ...mapActions({
            getCustomItemReport : 'customItemReport/getCustomItemReport'
        }),
        changePage(value){
            this.page = value
            this.fetchReport()
        },
        changePerPage(value){
            this.perpage = value
            this.fetchReport()
        },
        fetchReport(){
            return new Promise((resolve, reject) => {
                this.getCustomItemReport({
                    store_id: this.location  != null ? this.location.store_id : '',
                    page: this.page,
                    perpage: this.perpage,
                    q: this.search,
                    status: 2
                })
                .then(() => {
                    resolve()
                })
            })
        },
    }
}
</script>

<style>

</style>