<template>
    <div>
        <div class="d-flex align-items-center mt-3">
            <app-select
                v-width="'250px'"
                placeholder="Select Delivery Method"
                v-model="delivery_method_selected"
                :options="deliveryMethods"
                :searchable="false"
                track-by="delivery_method_id"
                label="delivery_method_name"
                :show-labels="false"
                :allow-empty="false"
                @input="onChangeMethod"
            />
            <div class="flex-row ml-auto">
                <nuxt-link
                    tag="a"
                    class="btn btn-primary"
                    :to="{
                        name: 'settings-delivery-settings-delivery-capacity-create',
                    }"
                    >Add new capacity</nuxt-link
                >
            </div>
        </div>
        <div class="mt-3">
            <table-delivery ref="table" :deliveryMethods="delivery_method_selected" />
        </div>
    </div>
</template>
<script>
import {mapState} from 'vuex'
import TableDelivery from "@/components/admin/table/DeliveryCapacity";
import Select from 'vue-multiselect';
import {debounce} from 'lodash'
export default {
    transition: "slide",
    layout: "admin",
    components: {
        TableDelivery,
        'app-select' : Select
    },
    async asyncData({ store }) {
        const deliveryMethod = await store.dispatch("deliveryMethod/getDeliveryMethods", {type: 'all'})
        const deliveryMethodDefault = deliveryMethod.data.find(item => item.is_default)
        await Promise.all([
            store.dispatch("delivery/getDeliveryCapacity", {
                page: 1,
                perpage: 10,
                delivery_method_id: deliveryMethodDefault.delivery_method_id
            }),
        ]);
    },
    data: () => ({
        delivery_method_selected: null
    }),
    created(){
        const deliveryMethodDefault = this.deliveryMethods.find(item => item.is_default)
        this.delivery_method_selected = deliveryMethodDefault
    },
    computed: {
        ...mapState("deliveryMethod", {
            deliveryMethods: state => state.items 
        }),
    },
    methods: {
        onChangeMethod: debounce(function(){
            this.$refs.table.page = 1
            this.$refs.table.fetchDeliveryCapacity()
        }, 300)
    }
};
</script>

