<template>
    <div>
        <back-link
            :link="{ name: 'admin-settings-locations' }"
            title="Assign Manager"
        />
        <div class="card-default">
            <app-form-assign-manager
                ref="formAssignManager"
                @dataManager="valueManager"
            />

            <div class="text-right">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    @click.prevent="submit"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FormAssignManager from "@/components/admin/form/AssignManager.vue";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink";

export default {
    data() {
        return {
            modal: {
                delete: false,
            },
        };
    },
    methods: {
        ...mapActions("store", ["assignManager"]),
        submit() {
            this.$refs.formAssignManager.submit();
        },
        valueManager(val) {
            this.assignManager(val).then((res) => {
                this.$router.push({
                    name: "admin-settings-locations",
                });
            });
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-assign-manager": FormAssignManager,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>
