<template>
    <div>
        <back-link
            v-if="$route.params.id != null"
            :link="{ name: 'settings-condition' }"
            title="Edit Condition"
        />
        <back-link
            v-else
            :link="{ name: 'settings-condition' }"
            title="Add Condition"
        />
        <div class="card-default">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <FormCondition ref="form" />

                    <div class="text-right mt-3">
                        <button
                            v-if="$route.params.id != null"
                            class="btn btn-danger"
                            @click="showModalDelete"
                        >
                            Delete
                        </button>
                        <button
                            class="btn btn-primary"
                            @click="save"
                            :disabled="isLoading"
                        >
                            <div class="px-2" v-if="isLoading">
                                <b-spinner variant="light" small />
                            </div>
                            <template v-else>Save</template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0">Are you sure want to delete this condition?</h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteCondition"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteCondition"
                        @click="handleDeleteCondition"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Modal from "@/components/utilities/Modal";
import { mapState, mapActions } from "vuex";
import FormCondition from "@/components/admin/form/Condition";
import BackLink from "@/components/utilities/BackLink";

export default {
    name: "ModalCondition",
    data: () => ({
        modalDelete: false,
        isDeleteCondition: false,
    }),
    components: {
        "app-modal": Modal,
        FormCondition,
        BackLink,
    },
    computed: {
        ...mapState({
            isLoading: (state) => state.loadingSave,
        }),
    },
    methods: {
        ...mapActions({
            deleteCondition: "condition/deleteCondition",
        }),
        showModalDelete() {
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.modalDelete = false;
        },
        handleDeleteCondition() {
            this.isDeleteCondition = true;
            this.deleteCondition(this.$route.params.id).then(() => {
                this.isDeleteCondition = false;
                this.hideModalDelete();
                this.$router.push({ name: "settings-condition" });
            });
        },
        save() {
            this.$refs.form.submit().then(() => {
                this.$router.push({ name: "settings-condition" });
            });
        },
    },
};
</script>
