<template>
    <div>
        <div class="bg-white d-flex justify-content-between align-items-center">
            <back-link                
                :link="{
                    name: 'settings-delivery-settings-index-delivery-limit-index-capacity',
                }"
                :title="$route.params.id ? 'Edit Delivery Capacity' : 'Create New Delivery Capacity'"
            />           
        </div>
        <div class="card-default">
            <app-form ref="form" />
        </div>
    </div>
</template>

<script>
import FormDeliveryCapacity from "@/components/admin/form/DeliveryCapacity";
import BackLink from "@/components/utilities/BackLink";

export default {
    name: "CreateDeliveryCapacity",
    components: {
        "app-form": FormDeliveryCapacity,
        "back-link": BackLink,
    },
};
</script>

