<template>
    <div>
        <back-link
            :link="{
                name: $route.name.includes('delivery-install-time') ? 'settings-delivery-settings-index-delivery-install-time' : 'settings-delivery-settings-index-load-times',
            }"
            :title="getTitleForm"
        />

        <div class="card-default">
            <FormDeliveryTime ref="form" />

            <div class="text-right mt-3">
                <button
                    class="btn btn-primary"
                    :disabled="isLoading"
                    @click="submit"
                >
                    <div class="mx-2" v-if="isLoading">
                        <b-spinner variant="light" small />
                    </div>
                    <template v-else>Save</template>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import FormDeliveryTime from "@/components/admin/form/DeliveryTime";
import BackLink from "@/components/utilities/BackLink";

export default {
    transition: "slide",
    components: {
        FormDeliveryTime,
        BackLink,
    },
    data: () => ({
        category_selected: null,
        isLoading: false,
    }),
    methods: {
        submit() {
            this.isLoading = true;
            this.$refs.form.submit().then(() => {
                if (this.$route.name.includes("delivery-install-time"))
                    this.$router.push({
                        name: "settings-delivery-settings-index-delivery-install-time",
                    });
                else
                    this.$router.push({
                        name: "settings-delivery-settings-index-load-times",
                    });
                this.isLoading = false;
            });
        },
    },
    computed: {
        getTitleForm() {
            let titleForm = "";

            if (this.$route.name.includes("delivery-install-time")) {
                if (this.$route.params.id) {
                    titleForm = "Edit Delivery/Install";
                }

                if (!this.$route.params.id) {
                    titleForm = "Add Delivery/Install";
                }
            }

            if (!this.$route.name.includes("delivery-install-time")) {
                if (this.$route.params.id) {
                    titleForm = "Edit Load Time";
                }

                if (!this.$route.params.id) {
                    titleForm = "Add Load Time";
                }
            }

            return titleForm;
        },
    },
};
</script>
