<template>
    <div>
        <div class="bg-white d-flex justify-content-between align-items-center">
            <back-link
                v-if="edit"
                :link="{
                    name: 'settings-delivery-settings-index-delivery-methods',
                }"
                title="Edit Delivery Method"
            />
            <back-link
                v-if="!edit"
                :link="{
                    name: 'settings-delivery-settings-index-delivery-methods',
                }"
                title="Create New Delivery Method"
            />
        </div>
        <div class="card-default">
            <app-form-delivery
                ref="formDelivery"
                :edit_default="edit"
                :response="response"
            />
        </div>
    </div>
</template>

<script>
import FormDelivery from "@/components/admin/form/DeliveryMethod.vue";
import BackLink from "@/components/utilities/BackLink";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";

export default {
    data() {
        return {};
    },
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
        response: {
            type: Object,
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-delivery": FormDelivery,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>
