<template>
    <div class="card modal-form mt-0">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <a href="#" class="h1 font-weight-300 mb-0" @click.prevent="$router.go(-1)">&times;</a>
            <h2 class="mb-0 mr-auto ml-auto">{{ $route.params.id != null ? 'Edit Driver' : 'Add Driver'}}</h2>
            <button class="btn btn-danger mr-3" @click="showModalDelete" v-if="$route.params.id != null">Delete</button>
            <button class="btn btn-primary" @click="save" :disabled="isLoading">
                <div class="px-2" v-if="isLoading">
                    <b-spinner variant="light" small />
                </div>
                <span v-else>Save</span>
            </button>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <FormDriver ref="form" />
                    </div>
                </div>
            </div>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0">Are you sure want to delete this driver?</h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-outline-primary mr-3" :disabled="isDeleteDriver" @click="hideModalDelete">Cancel</button>
                    <button class="btn btn-danger" :disabled="isDeleteDriver" @click="handleDeleteDriver">Delete</button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Modal from '@/components/utilities/Modal'
import {mapActions, mapGetters} from 'vuex'
import FormDriver from '@/components/admin/form/Driver'
export default {
    data: () => ({
        isLoading : false,
        modalDelete : false,
        isDeleteDriver: false
    }),
    components: {
        'app-modal' : Modal,
        FormDriver
    },
    methods:{
        ...mapActions({
            deleteDriver: 'driver/deleteDriver'
        }),
        showModalDelete(){
            this.modalDelete = true
        },
        hideModalDelete(){
            this.modalDelete = false
        },
        handleDeleteDriver(){
            this.isDeleteDriver = true
            this.deleteDriver(this.$route.params.id)
            .then(() => {
                this.isDeleteDriver = false
                this.hideModalDelete()
                this.$router.push({name: 'settings-delivery-settings-index-driver'})
            })
        },
        save(){
            this.isLoading = true
            this.$refs.form.submit()
            .then(() => {
                this.isLoading = false
                this.$router.push({name: 'settings-delivery-settings-index-driver'})
            })
            .catch(() => {
                this.isLoading = false
            })
        }
    }
}
</script>
<style lang="scss">

</style>