<template>
    <div>
        <back-link            
            :title="edit ? 'Edit Employee' : 'Create New Employee'"
            :link="{ name: 'settings-employees-index-active'}"
        />
        <div class="card-default">
            <div class="text-right" v-if="edit">
                <a
                    href="javascript:void(0)"
                    class="btn btn-danger mr-2"
                    @click="
                        showModalDeleteEmployee(
                            employee.data.user_id,
                            employee.data.fullname,
                            employee.data.email
                        )
                    "
                    >Archive</a
                >
                <nuxt-link
                    tag="a"
                    :to="
                        '/settings/employees/set-password/' +
                        employee.data.user_id
                    "
                    class="btn btn-info mr-2"
                    >Change Password</nuxt-link
                >
            </div>
            <app-form-employee
                ref="employeeForm"
                v-bind="bind"
                :response="response"
            />
            <div class="text-right">
                <button
                    class="btn btn-primary"
                    @click.prevent="submitForm"
                    :disabled="loadingSave"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <div v-else>Save</div>
                </button>
            </div>
        </div>
        <app-modal
            size="lg"
            title="Archive Employee"
            centered
            @hide="closeModalDeleteEmployee"
            v-model="modalDeleteEmployee"
        >
            <template>
                <b-alert :show="countRelated > 0"
                    >You can't archive this employee</b-alert
                >
                <h5 class="mt-0 mb-4">
                    Are You Sure to Archive This Employee ?
                </h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Email</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ employee.data.email }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ employee.data.fullname }}</h5>
                    </div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button
                        class="btn btn-danger mr-3"
                        @click="deleteEmployee"
                        :disabled="countRelated > 0"
                    >
                        Archive
                    </button>
                    <button
                        class="btn btn-primary"
                        @click="closeModalDeleteEmployee"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import FormEmployee from "@/components/admin/form/Employee.vue";
import BackLink from "@/components/utilities/BackLink.vue";

import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";

export default {
    data() {
        return {
            modalDeleteEmployee: false,
            goBack: "settings-employees-index-active",
            page: 1,
        };
    },
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
        response: {
            type: Object,
        },
    },
    computed: {
        bind() {
            if (this.edit) {
                return {
                    edit: true,
                };
            }
        },
        countRelated() {
            return 0;
        },
        ...mapState(["loadingSave"]),
        ...mapState("employee", {
            employee(state) {
                return {
                    data: state.data,
                };
            },
        }),
    },
    methods: {
        ...mapActions("employee", ["saveEmployee", "updateEmployee"]),
        ...mapActions("employee", ["destroyEmployee"]),
        showModalDeleteEmployee(user_id, fullname, email) {
            this.user_id = user_id;
            this.email = email;
            this.fullname = fullname;
            this.modalDeleteEmployee = true;
        },
        closeModalDeleteEmployee() {
            this.modalDeleteEmployee = false;
        },
        deleteEmployee() {
            this.destroyEmployee(this.employee.data.user_id).then(() => {
                this.modalDeleteEmployee = false;                
                this.$router.push({
                    name: "settings-employees-index-active",
                });
            });
        },
        submitForm() {
            this.$refs.employeeForm.submit();
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-employee": FormEmployee,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>
