<template>
    <div>
        <back-link
            :link="{ name: 'settings-digital-price-tags-index-esl' }"
            title="Digital Price Tags Bulk Insert"
        />
        <div class="card-default">
            <h4 class="mb-3">Add Digital Price Tags in Bulk</h4>
            <p>Use a scanner to scan each model number into the system</p>
            <div class="alert alert-warning" role="alert">
                Only 50 quantities are allowed at a time.
            </div>
            <textarea
                class="form-control resize-none"
                cols="30"
                rows="8"
                v-model="macs"
            ></textarea>
            <div class="text-right mt-3">
                <button
                    class="btn btn-primary px-5 py-2"
                    @click="processEsl"
                    :disabled="isLoading"
                >
                    Process
                </button>
            </div>
            <hr class="my-4" />
            <h4 class="mb-3">Preview Data</h4>
            <div class="d-flex align-items-center justify-content-end mb-3">
                <div class="icon icon-left search__bulk mr-3">
                    <input
                        type="text"
                        class="form-control form-control form-icon"
                        v-model="search"
                        v-width="'250px'"
                        placeholder="Search Mac"
                        @input="searchMac"
                    />
                    <i class="fas fa-search d-flex align-items-center px-3"></i>
                </div>
                <button
                    class="btn btn-primary px-5 py-2"
                    @click="submitEsl"
                    :disabled="isAddEsl || isLoading"
                >
                    Add Price Tag
                </button>
            </div>
            <app-table
                :fields="fields"
                :items="eslDraftData.data"
                :busy="isLoading"
                show-empty
            >
                <div slot="table-busy" class="text-center text-blue my-2">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
                <template slot="action" slot-scope="row">
                    <a
                        href="javascript:void(0)"
                        class="text-danger"
                        @click="showModalDelete(row.item)"
                        ><i class="fas fa-trash"></i
                    ></a>
                </template>
            </app-table>
            <div
                class="d-flex justify-content-between align-items-center mt-3"
                v-if="eslDraftData.data.length > 0"
            >
                <app-total
                    :data="eslDraftData.meta"
                    @itemPerPage="setPerPage"
                />
                <app-pagination
                    v-if="
                        eslDraftData.data.length > 0 &&
                        eslDraftData.meta.last_page > 1
                    "
                    align="right"
                    :total-rows="eslDraftData.meta.total"
                    v-model="eslDraftData.meta.current_page"
                    @input="setPage"
                    :per-page="eslDraftData.meta.per_page"
                ></app-pagination>
            </div>
        </div>
        <app-modal :noBorder="true" :show="modalDelete" @hide="hideModalDelete">
            <div class="px-5 text-center">
                <img src="/icon/remove.svg" alt="" class="mb-4" />
                <h5 class="font-weight-600">Are you sure ?</h5>
                <p class="my-3">
                    Do you really want to delete this data? <br />
                    This proccess cannot be undone
                </p>
                <div
                    class="
                        d-flex
                        align-items-center
                        justify-content-center
                        mt-4
                    "
                >
                    <button
                        class="btn btn-secondary flex-grow-1"
                        :disabled="isDelete"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger ml-3 flex-grow-1"
                        :disabled="isDelete"
                        @click="deleteItem"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </app-modal>
        <app-modal :noBorder="true" :show="modal.bulkDigital" @hide="hideModalDigital">
            <div class="px-5 text-center">
                <img src="/icon/warning-icon-danger.svg" alt="" class="mb-4">
                <h5 class="mt-4 mb-3">Oops!</h5>
                <h6 class="mb-5">Unable to process bulk Digital Price Tags more than 50 Quantities due 3rd party policies.</h6>
            </div>
        </app-modal>
    </div>
</template>
<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Modal from "@/components/utilities/Modal";
import Pagination from "@/node_modules/bootstrap-vue/es/components/pagination/pagination";
import BackLink from "@/components/utilities/BackLink";
import TotalRecord from "@/components/utilities/TotalRecord";
import { mapActions, mapGetters } from "vuex";
import _ from "lodash";
export default {
    transition: "slide",
    data: () => ({
        macs: "",
        isAddEsl: false,
        tempData: null,
        isLoading: false,
        isDelete: false,
        modalDelete: false,
        page: 1,
        perpage: 10,
        search: null,
        fields: [
            {
                key: "mac",
                label: "Mac Address",
            },
            {
                key: "action",
            },
        ],
        modal: {
            bulkDigital: false,
        }
    }),
    components: {
        "app-table": Table,
        "app-modal": Modal,
        "app-pagination": Pagination,
        "app-total": TotalRecord,
        "back-link": BackLink,
    },
    async created() {
        await this.$store.dispatch("priceTag/authPriceTag").then(async () => {
            await this.$store.dispatch("priceTag/getActiveStore");
        });
        await this.fetchDraftData();
    },
    computed: {
        ...mapGetters({
            eslDraftData: "priceTag/eslDraftData",
        }),
    },
    methods: {
        ...mapActions({
            createBulkEsl: "priceTag/createBulkEsl",
            getEslDraft: "priceTag/getEslDraft",
            deleteEslDraft: "priceTag/deleteEslDraft",
            addEsl: "priceTag/addEsl",
            bindAllEsl: "priceTag/bindAllEsl",
        }),
        hideModalDigital() {
            this.modal.bulkDigital = false;
        },
        showModalDigital() {
            this.modal.bulkDigital = true;
        },
        processEsl() {
            let formatedMacs = this.macs.split("\n");
            if(formatedMacs.length + this.eslDraftData.meta.total > 50) {
                this.showModalDigital();
                return;
            }

            this.isLoading = true;
            this.createBulkEsl({ labels: formatedMacs }).then(() => {
                this.macs = "";
                this.fetchDraftData();
            });
        },
        async fetchDraftData() {
            this.isLoading = true;
            await this.getEslDraft({
                page: this.page,
                perpage: this.perpage,
                search: this.search,
            }).then(() => {
                this.isLoading = false;
            });
        },
        setPerPage(value) {
            this.perpage = value;
            this.fetchDraftData();
        },
        setPage(value) {
            this.page = value;
            this.fetchDraftData();
        },
        searchMac: _.debounce(function () {
            this.fetchDraftData();
        }, 500),
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.modalDelete = false;
            this.tempData = null;
        },
        deleteItem() {
            this.isDelete = true;
            this.deleteEslDraft({ id: this.tempData.id, all: "" }).then(() => {
                this.isDelete = false;
                this.hideModalDelete();
                this.fetchDraftData();
            });
        },
        submitEsl() {
            this.isAddEsl = true;
            this.addEsl().then(() => {
                this.bindAllEsl().then(() => {
                    this.fetchDraftData().then(() => {
                        this.isAddEsl = false;
                        this.$router.push({
                            name: "settings-digital-price-tags-index-esl",
                        });
                    });
                });
            });
        },
    },
};
</script>
<style lang="scss">
</style>
