<template>
    <div>
        <back-link
            :link="{ name: 'settings-digital-price-tags-index-esl' }"
            title="ESL Detail"
        />
        <div class="card-default">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-4 font-weight-600">Device Information</h5>
                    <template v-if="eslData != null">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">
                                    Manufacturer
                                </h6>
                            </div>
                            <div class="col-md-8">
                                {{ eslData.manufacturer }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">
                                    Battery level
                                </h6>
                            </div>
                            <div class="col-md-8">{{ eslData.battery }}%</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">
                                    Temperature
                                </h6>
                            </div>
                            <div class="col-md-8">
                                {{ eslData.temperature }}&deg;C
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">RSSI@1m</h6>
                            </div>
                            <div class="col-md-8">{{ eslData.rssi }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">
                                    Frimware Version
                                </h6>
                            </div>
                            <div class="col-md-8">
                                {{ eslData.firmware }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <h6 class="mb-0 font-weight-600">
                                    Screen Info
                                </h6>
                            </div>
                            <div class="col-md-8">
                                {{
                                    eslData.screenSize.size +
                                    '" ' +
                                    "(" +
                                    eslData.screenSize.resolution +
                                    ")"
                                }}
                            </div>
                        </div>
                    </template>
                </div>
                <div class="col-md-6">
                    <div class="border rounded p-3">
                        <b-alert
                            variant="info"
                            show
                            class="mb-3"
                            v-if="templatePreview == null && !isFetchTemplate"
                        >
                            <p class="mb-0">
                                <span
                                    ><i class="fas fa-info-circle mr-2"></i
                                ></span>
                                The ESL is not bound to the product
                            </p>
                        </b-alert>
                        <h6 class="mb-3 font-weight-600">Preview</h6>
                        <div class="d-flex align-items-center mb-3">
                            <a
                                href="javascript:void(0)"
                                class="
                                    btn btn-outline-success
                                    rounded-circle
                                    p-2
                                    mr-3
                                "
                                :class="{ active: ledActive == 2 }"
                                @click="updateLed(2)"
                            >
                                <i class="far fa-lightbulb fa-lg mx-1"></i>
                            </a>
                            <a
                                href="javascript:void(0)"
                                class="
                                    btn btn-outline-primary
                                    rounded-circle
                                    p-2
                                    mr-3
                                "
                                :class="{ active: ledActive == 1 }"
                                @click="updateLed(1)"
                            >
                                <i class="far fa-lightbulb fa-lg mx-1"></i>
                            </a>
                            <a
                                href="javascript:void(0)"
                                class="
                                    btn btn-outline-danger
                                    rounded-circle
                                    p-2
                                "
                                :class="{ active: ledActive == 3 }"
                                @click="updateLed(3)"
                            >
                                <i class="far fa-lightbulb fa-lg mx-1"></i>
                            </a>
                        </div>
                        <div class="text-center py-5" v-if="isFetchTemplate">
                            <b-spinner variant="primary"></b-spinner>
                        </div>
                        <div
                            v-else-if="
                                templatePreview != null && !isFetchTemplate
                            "
                        >
                            <div id="previewTemplate" class="preview-svg"></div>
                        </div>
                        <p
                            class="mb-0 text-center"
                            v-show="templatePreview == null && !isFetchTemplate"
                        >
                            Preview template not found!
                        </p>
                        <div class="d-flex align-items-center my-3">
                            <h6 class="font-weight-600 mb-0">Bound Label</h6>
                            <button
                                class="btn btn-primary btn-sm ml-auto px-3 py-2"
                                :disabled="
                                    productData.length > 0 || isFetchProduct
                                "
                                @click="showModalAdd({ edit: false })"
                            >
                                <span><i class="fas fa-plus mr-1"></i></span>
                                Add
                            </button>
                        </div>
                        <app-table
                            :items="productData"
                            :fields="fields"
                            :busy="isFetchProduct"
                            show-empty
                        >
                            <div
                                slot="table-busy"
                                class="text-center text-blue my-2"
                            >
                                <b-spinner class="align-middle"></b-spinner>
                            </div>
                            <template slot="action" slot-scope="row">
                                <div class="d-flex align-items-center">
                                    <a
                                        href="javascript:void(0)"
                                        class="mr-3 d-block"
                                        @click="
                                            showModalAdd({
                                                edit: true,
                                                ...row.item,
                                            })
                                        "
                                        ><i class="fas fa-edit"></i
                                    ></a>
                                    <a
                                        href="javascript:void(0)"
                                        class="text-danger"
                                        @click="showModalDelete(row.item)"
                                        ><i class="fas fa-trash"></i
                                    ></a>
                                </div>
                            </template>
                        </app-table>
                    </div>
                </div>
            </div>
        </div>
        <app-modal
            size="lg"
            :show="modalAdd"
            @hide="hideModalAdd"
            :scrollable="isExisting ? false : true"
            :custom-title="true"
            :modal-class="!isEdit ? 'add-esl-modal' : ''"
        >
            <template slot="modal-title" v-if="!isEdit">
                <b-tabs class="mb-0">
                    <b-tab
                        title="Existing Product"
                        @click="isExisting = true"
                        active
                    ></b-tab>
                    <b-tab
                        title="New Product"
                        @click="isExisting = false"
                    ></b-tab>
                </b-tabs>
            </template>
            <div class="px-3 py-2">
                <template v-if="isExisting">
                    <div class="form-group">
                        <label
                            for="Id"
                            class="font-weight-600"
                            :class="{ 'text-danger': errors.has('id') }"
                            >ID</label
                        >
                        <app-select
                            v-model="selectedProduct"
                            :options="productOptions"
                            :show-labels="false"
                            label="label4"
                            track-by="id"
                            placeholder="Type to search"
                            ref="searchProduct"
                            class="select-product"
                            :show-no-results="false"
                            :show-no-options="false"
                            :preserve-search="true"
                            :internal-search="false"
                            :loading="isLoading"
                            :disabled="isEdit"
                            v-validate="'required'"
                            name="id"
                            @search-change="getProducts"
                            @input="setProduct"
                        >
                            <span slot="caret" v-show="false"></span>
                            <template slot="singleLabel" slot-scope="props">
                                <span class="option__title">{{
                                    props.option.id
                                }}</span>
                            </template>
                            <template slot="option" slot-scope="props">
                                <p class="mb-1">{{ props.option.id }}</p>
                                <p class="mb-0 break-word">{{ props.option.label7 + " " + props.option.label4}}</p>
                            </template>
                        </app-select>
                        <span v-show="errors.has('id')" class="text-danger">{{
                            errors.first("id")
                        }}</span>
                    </div>
                    <div class="form-group">
                        <label
                            for="#"
                            class="font-weight-600"
                            :class="{ 'text-danger': errors.has('template') }"
                            >Template</label
                        >
                        <app-select
                            v-model="templateSelected"
                            placeholder="Choose Template"
                            label="demoName"
                            :options="
                                templateList != undefined ? templateList : []
                            "
                            :show-labels="false"
                            :open-direction="'bottom'"
                            name="template"
                            v-validate="'required'"
                            :class="{ 'is-invalid': errors.has('template') }"
                        />
                        <span
                            v-show="errors.has('template')"
                            class="text-danger"
                            >{{ errors.first("template") }}</span
                        >
                    </div>
                </template>
                <template v-else>
                    <form-product ref="form" :is-esl="true" />
                </template>
            </div>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-primary mr-4 py-2 px-3"
                        :disabled="isSaveTemplate"
                        @click="addTemplate"
                    >
                        Save template
                    </button>
                    <a
                        href="javascript:void(0)"
                        class="text-danger font-weight-600 mr-3"
                        @click="hideModalAdd"
                        >Cancel</a
                    >
                </div>
            </template>
        </app-modal>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0 my-3" v-if="tempData != null">
                Are you sure to remove the binding between the ESL
                {{ $route.params.id }} and the product {{ tempData.id }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteProduct"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteProduct"
                        @click="deleteEsl"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import Modal from "@/components/utilities/Modal";
import BackLink from "@/components/utilities/BackLink";
import FormProduct from "@/components/admin/form/ProductPriceTag";
import Select from "vue-multiselect";
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";
import _ from "lodash";
export default {
    transition: "slide",
    data: () => ({
        isExisting: true,
        isEdit: false,
        productOptions: [],
        isLoading: false,
        selectedProduct: null,
        isSaveTemplate: false,
        isDeleteProduct: false,
        idProduct: null,
        templateSelected: null,
        isLoading: false,
        ledActive: 0,
        eslData: null,
        isFetchProduct: false,
        isFetchTemplate: false,
        modalAdd: false,
        modalDelete: false,
        productData: [],
        tempData: null,
        templateData: null,
        fields: [
            {
                key: "id",
                label: "ID",
            },
            {
                key: "label4",
                label: "Name",
            },
            {
                key: "action",
            },
        ],
    }),
    components: {
        "app-table": Table,
        "app-modal": Modal,
        "app-select": Select,
        "form-product": FormProduct,
        "back-link": BackLink,
    },
    computed: {
        ...mapGetters({
            templateList: "priceTag/templateList",
            templatePreview: "priceTag/templatePreview",
        }),
        ...mapState("product", {
            product(state) {
                return {
                    items: state.items,
                };
            },
        }),
    },
    async mounted() {
        const data = localStorage.getItem("esl-device-selected");
        this.eslData = JSON.parse(data);
        await this.fetchData();
    },
    destroyed() {
        this.productData = [];
    },
    watch: {
        isFetchTemplate(value) {
            if (!value && this.templatePreview != null) {
                setTimeout(() => {
                    let element = document.getElementById("previewTemplate");
                    const { inch, rgbtype, transpose, ...rest } =
                        this.templatePreview.demoData;
                    if (this.productData.length > 0) {
                        Object.entries(this.productData[0]).forEach(
                            ([key, valueText]) => {
                                if (valueText != null) {
                                    if (rest.text[key] != undefined) {
                                        rest.text[key]["content"] = valueText;
                                    }
                                }
                            }
                        );
                        if (rest.icons != undefined) {
                            Object.entries(rest.icons).forEach(
                                ([keyIcon, valueIcon]) => {
                                    rest.icons[keyIcon]["icon"] =
                                        valueIcon.content;
                                    rest.icons[keyIcon]["content"] =
                                        this.getIconCode(
                                            rest.icons[keyIcon]["icon"]
                                        );
                                }
                            );
                        }
                        if (rest.grapcodes != undefined) {
                            if (rest.grapcodes.qrcode != undefined) {
                                rest.grapcodes.qrcode["content"] =
                                    this.productData[0].qrcode;
                            }
                            if (rest.grapcodes.barcode != undefined) {
                                rest.grapcodes.barcode["content"] =
                                    this.textToBase64Barcode(
                                        this.productData[0].id
                                    );
                                rest.grapcodes.barcode["width"] = 140;
                                rest.grapcodes.barcode["height"] = 20;
                            }
                        }
                    }
                    this.generateSvg(rest, element);
                }, 300);
            }
        },
    },
    methods: {
        ...mapActions({
            getEslTemplatePreview: "priceTag/getEslTemplatePreview",
            getProductByMac: "priceTag/getProductByMac",
            deleteEslProduct: "priceTag/deleteEslProduct",
            changeLed: "priceTag/changeLed",
            getTemplateList: "priceTag/getTemplateList",
            singleApplyTemplate: "priceTag/singleApplyTemplate",
            findProductPriceTag: "priceTag/getPriceTagProduct",
        }),
        ...mapMutations({
            setTemplatePreview: "priceTag/SET_TEMPLATE_PREVIEW",
        }),
        getProducts: _.debounce(function (e) {
            this.isLoading = true;
            if (
                this.$refs.searchProduct.$el
                    .querySelector(".multiselect__input")
                    .className.split(" ")
                    .indexOf("uppercase") === -1
            ) {
                let product = this.$refs.searchProduct.$el.querySelector(
                    ".multiselect__input"
                );
                product.className = product.className + " uppercase";
            }
            this.findProductPriceTag({ search: e, autocomplete: true }).then(
                (res) => {
                    this.isLoading = false;
                    this.productOptions = res.data;
                }
            );
        }, 500),
        async fetchProduct() {
            this.isFetchProduct = true;
            await this.getProductByMac({ mac: this.$route.params.id })
                .then((response) => {
                    response.data.errcode != 10000330
                        ? this.productData.push(response.data.body)
                        : (this.productData = []);
                    if (response.data.errcode != 10000330) {
                        this.fetchTemplateProduct(response.data.body.id);
                    } else {
                        this.isFetchTemplate = false;
                        this.templateData = null;
                    }
                    this.isFetchProduct = false;
                })
                .catch((error) => {
                    this.isFetchProduct = false;
                    this.isFetchTemplate = false;
                });
        },
        async fetchTemplateProduct(id) {
            this.isFetchTemplate = true;
            await this.getEslTemplatePreview({ id: id }).then(() => {
                // this.templateData = response.data.body.data[0]
                this.isFetchTemplate = false;
            });
        },
        async fetchTemplateList() {
            await this.getTemplateList({
                screen_size: this.eslData.screenSize.key,
            });
        },
        async fetchData() {
            await Promise.all([this.fetchProduct(), this.fetchTemplateList()]);
        },
        async deleteEsl() {
            this.isDeleteProduct = true;
            await this.deleteEslProduct(this.templatePreview.mac).then(() => {
                this.isDeleteProduct = false;
                this.setTemplatePreview(null);
                this.fetchProduct();
                this.hideModalDelete();
            });
        },
        updateLed(value) {
            this.ledActive = value;
            this.changeLed({
                mac: this.$route.params.id,
                color: this.ledActive,
            });
        },
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempData = null;
            this.modalDelete = false;
        },
        showModalAdd(data) {
            const { edit, ...rest } = data;
            this.isEdit = edit;
            if (edit) {
                this.selectedProduct = {
                    id: rest.id,
                };
                this.idProduct = rest.id;
                this.templateSelected = this.templatePreview;
            }
            this.modalAdd = true;
            this.$validator.resume();
        },
        hideModalAdd() {
            this.modalAdd = false;
            this.tempData = null;
            this.isExisting = true;
        },
        resetForm() {
            this.$validator.pause();
            this.idProduct = null;
            this.selectedProduct = null;
            this.templateSelected = null;
        },
        applyTemplate() {
            this.selectedProduct.label6 = Number(
                this.selectedProduct.label6
            ).toFixed(2);
            this.singleApplyTemplate({
                product: this.selectedProduct,
                demoId: this.templateSelected.demoId,
                mac: this.$route.params.id,
            }).then(() => {
                this.isSaveTemplate = false;
                this.productData = [];
                this.hideModalAdd();
                this.resetForm();
                this.fetchProduct();
            });
        },
        addTemplate() {
            this.$validator.validate().then((result) => {
                if (result && this.isExisting) {
                    this.isSaveTemplate = true;
                    this.applyTemplate();
                } else {
                    this.isSaveTemplate = true;
                    this.$refs.form.submit().then((res) => {
                        const { templateSelected, ...rest } = res;
                        this.selectedProduct = rest;
                        this.templateSelected = templateSelected;
                        this.applyTemplate();
                    });
                }
            });
        },
        setProduct() {
            this.idProduct = this.selectedProduct.id;
        },
    },
};
</script>
<style lang="scss">
.add-esl-modal {
    .modal {
        &-header {
            padding-bottom: 0;
        }
    }
    .nav.nav-tabs {
        border-bottom: 0;
    }
}
</style>
