<template>
    <div>
        <back-link
            v-if="$route.params.id !== undefined"
            :link="{ name: 'settings-digital-price-tags-index-gateway' }"
            title="Edit Gateway"
        />
        <back-link
            v-else
            :link="{ name: 'settings-digital-price-tags-index-gateway' }"
            title="Add Gateway"
        />
        <div class="card-default">
            <div class="row">
                <div class="col-12">
                    <form-gateway ref="form" @setLoading="changeLoading" />

                    <div class="text-right mt-3">
                        <button
                            class="btn btn-primary"
                            @click="save"
                            :disabled="isLoading"
                        >
                            <div class="px-2" v-if="isLoading">
                                <b-spinner variant="light" small />
                            </div>
                            <template v-else>Save</template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FormGateway from "@/components/admin/form/GatewayPriceTag";
import BackLink from "@/components/utilities/BackLink";

export default {
    components: {
        "form-gateway": FormGateway,
        "back-link": BackLink,
    },
    data: () => ({
        isLoading: false,
        name: null,
        mac: null,
    }),
    methods: {
        save() {
            this.$refs.form.saveGateway();
        },
        changeLoading(value) {
            this.isLoading = value;
        },
    },
};
</script>
<style lang="scss">
</style>

