<template>
    <div>
        <back-link
            :link="{ name: 'settings-installs' }"
            :title="edit ? 'Edit Installs' : 'Create New Installs'"
        />
        <div class="card-default">
            <app-form-installs ref="fromInstall" :edit="edit" />

            <div class="text-right mt-3">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    :disabled="loadingSave"
                    @click="submitForm"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <div v-else>Save</div>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import FormInstalls from "@/components/admin/form/Installs.vue";
import BackLink from "@/components/utilities/BackLink.vue";

import { mapState } from "vuex";

export default {
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapState("install", {
            install(state) {
                return {
                    data: state.data,
                };
            },
        }),
        ...mapState(["loadingSave"]),
    },
    methods: {
        submitForm() {
            this.$refs.fromInstall.submit();
        },
    },
    components: {
        "app-form-installs": FormInstalls,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>
