<template>
  <div class="card modal-form">
    <div class="card-header bg-white d-flex justify-content-center align-items-center">
      <!-- <router-link class="h1 font-weight-300 mb-0 mr-auto" tag="a" :to="{ name:'admin-schedule-delivery'}">&times;</router-link> -->
      <router-link class="h1 font-weight-300 mb-0 mr-auto" tag="a" :to="{ name:'deliveries'}">&times;</router-link>
      <h2 class="mb-0 mr-auto">Load Truck</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="drag row">
          <div class="col-4 mb-4" v-for="(data, index) in items" :key="index">
            <div class="drag-title">
              <h5 class="mb-0">{{ data.truck_name }}</h5>
            </div>
            <draggable v-model="data.data" class="drag-area" v-bind="{group:'people'}" @start="onStart(data,index)" :move="checkMove" @add="onEnd(data,index)">
              <div class="drag-item" v-for="(element, i) in data.data" :key="i">
                <p class="mb-0">
                  {{ element.ship_address }}
                  <br>
                  # {{element.quantity}} Pieces
                  <br>
                  Order: <a href="#" @click.prevent="showModalOrder(element.order_no)">{{ element.order_no }}</a> 
                  <!-- <nuxt-link tag="a" :to="{ name: 'my-orders-edit-id', params:{'id': element.order_no}}">{{ element.order_no }}</nuxt-link> -->
                </p>
              </div>
            </draggable>
          </div>
        </div>
      </div>
    </div>
    <app-modal size="lg" title="Order is Already Closed" centered @hide="closeModal" v-model="is_failed">
      <template>
          <h5 class="mt-0 mb-4">This Order is Already Closed!</h5>
          <div class="d-flex row">
              <div class="label col-3">
                  <h5>Delivery Date:</h5>
              </div>
              <div class="content-txt col-8">
                  <h5>{{ delivery_date }}</h5>
              </div>
          </div>
          <div class="d-flex row">
              <div class="label col-3">
                  <h5>Order No:</h5>
              </div>
              <div class="content-txt col-8">
                  <h5>{{ order_no }}</h5>
              </div>
          </div>
          <div class="d-flex row">
              <div class="label col-3">
                  <h5>Truck ID:</h5>
              </div>
              <div class="content-txt col-8">
                  <h5>{{ from_truck_id }}</h5>
              </div>
          </div>
      </template>
          <div slot="modal-footer" class="w-100">
              <div class="d-flex justify-content-end">
                  <div class="btn btn-primary" @click="closeModal">Ok</div>
              </div>
          </div>
    </app-modal>
    <app-modal size="lg" :title="'Order #' + order.data.order_no" centered @hide="closeModalOrder" v-model="modalOrder">
          <div class="modal-body">
            <div class="card outline--blue p-4 mb-2">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-600 mb-0">Billing Information</h4>
                        </div>
                        <hr>
                        <app-address-format 
                                    :is_company="order.data.is_company"
                                    :company="order.data.company_name"
                                    :builders_code="order.data.builders_code"
                                    :name="order.data.bill_name"
                                    :address="order.data.formatted_billing_address ? order.data.formatted_billing_address.formatted:''"
                                    :phone_number="order.data.bill_phone_number">
                        </app-address-format>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-600 mb-0">Delivery Information</h4>
                        </div>
                        <hr>
                        <div>
                            <app-address-format 
                                :is_company="order.data.is_ship_company"
                                :company="order.data.ship_company_name"
                                :builders_code="order.data.ship_builders_code"
                                :name="order.data.ship_name"
                                :address="order.data.formatted_shipping_address ? order.data.formatted_shipping_address.formatted:''"
                                :phone_number="order.data.ship_phone_number" >
                            </app-address-format>
                        </div>
                    </div>
                </div>
            </div>
            <app-table :items="order.detailData" :fields="table.fieldsCreate" show-empty>
              <template slot="product" slot-scope="row">
                <div class="d-flex flex-column">
                  <span class="text-uppercase">{{ row.item.brand }}</span>
                  <span class="option__title">{{ row.item.product.product_id }}</span>
                </div>
              </template>
              <template slot="description" slot-scope="row">
                <div class="d-flex flex-column">
                  <span class="text-uppercase">{{ row.item.description.name }}</span>
                </div>
              </template>
              <template slot="price" slot-scope="row">
                <div class="d-flex flex-column">
                  <span v-money>{{ row.item.price }}</span>
                </div>
              </template>
            </app-table>
          </div>
          <div slot="modal-footer" class="w-100">
              <div class="d-flex justify-content-end">
                <nuxt-link tag="a" :to="{ name: 'my-orders-edit-id', params:{'id': order.data.order_no}}" class="btn btn-primary">View Detail</nuxt-link>
                  <!-- <button class="btn btn-primary" @click="viewOrder(order.data.order_no)">View Detail</button> -->
              </div>
          </div>
    </app-modal>
  </div>
</template>

<script>
  import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
  import Select from 'vue-multiselect'
  import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
  import FormatAddress from '@/components/utilities/Address.vue'
  import {
    mapActions,
    mapState
  } from 'vuex'
  import draggable from 'vuedraggable'

  export default {
    data() {
      return {
        order_no:null,
        child: null,
        delivery_date: null,
        from_truck_id: null,
        truck_id: null,
        is_failed: false,
        indexFrom: null,
        indexTo: null,
        temp: null,
        modalOrder: false,
        table:{
          fieldsCreate: [
                {
                  key: 'product',
                  label: 'Product',
                  thStyle: {
                      width: '250px'
                  },
              },
              {
                  key: 'description',
                  label: 'Description',
                  thStyle: {
                      width: '300px'
                  }
              },
              {
                  key: 'price',
                  label: 'Price',
                  thStyle: {
                      width: '250px'
                  }
              },
              {
                  key: 'qty',
                  label: 'Qty',
                  thStyle: {
                      width: '100px'
                  }
              },
          ],
        }
        // items: null,
      }
    },
    props:{
      items: Array
    },
    computed:{
      ...mapState('order', {
            order(state) {
                return {
                    data: state.data,
                    detailData: state.detailData,
                }
            }
        }),
    },
    methods: {
      ...mapActions('orderSchedule',[
        'postLoadTruckDelivery'
      ]),
      closeModalOrder(){
        this.modalOrder= false
      },
      // viewOrder(id){
      //   this.$router.push({
      //       name:'my-orders-edit-id', params: this.order.data.order_no
      //   })
      // },
      showModalOrder(id){
        this.$store.dispatch('order/getOrder', id)
        .then(response =>{
          this.$store.commit('customer/SET_CUSTOMER_SELECTED', response.customer)
          this.$store.commit('salesPerson/SET_SALES_PERSON_SELECTED', response.sales_person)
          this.modalOrder = true
          console.log(this.order)
        })
      },
      checkMove(evt){
        this.temp = evt.draggedContext.element
        this.order_no = evt.draggedContext.element.order_no
      },
      closeModal(){
        this.is_failed = false
      },
      onStart(data, index){
        this.indexFrom = index
        const date = new Date(this.$route.params.id);
        let delivery_date = this.moment(date).format('Y-MM-DD')
        this.delivery_date = delivery_date
        this.from_truck_id = data.truck_id
      },
      onEnd(data ,index){
        this.indexTo = index
        this.truck_id = data.truck_id
        this.postLoadTruckDelivery({
          order_no : this.order_no,
          delivery_date : this.delivery_date,
          from_truck_id : this.from_truck_id,
          truck_id : this.truck_id
        })
        .then(response => {
          this.is_failed = response.status == 'failed' ? true : false
          if(this.is_failed){
            let order_no = this.order_no
            let temp_idx = this.items[this.indexTo].data.findIndex(function(val){
              return val.order_no == order_no
            })
            this.items[this.indexTo].data.splice(temp_idx,1)
            this.items[this.indexFrom].data.push(this.temp)
          }
        })
      },
    },
    components: {
      'app-modal': Modal,
      'app-address-format':FormatAddress,
      'app-table' : Table,
      'app-select': Select,
      draggable
    },
    transition: 'slide'

  }
</script>
<style>
  .drag-title{
      background: #3eaaef;
      color: #fff;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px;
  }
  .drag-area{
    min-height: 200px;
    height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .drag-item:hover{
    cursor: move;
  }
  .drag-item{
    background: #fff;
    width: 225px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(221, 221, 221, 0.78);
    margin: 10px 0;
  }
  .drag-item:first-child{
    margin-top: 20px;
  }
  .drag-item:last-child{
    margin-bottom: 20px;
  }
</style>