<template>
    <div>
        <back-link
            :link="{ name: 'settings-website-message' }"
            :title="edit ? 'Edit Message' : 'Add New Message'"
        />
        <div class="card-default">
            <app-form-message ref="messageForm" />

            <div class="text-right mt-3">
                <button
                    type="button"
                    class="btn btn-primary"
                    @click.prevent="submitForm"
                    :disabled="loadingSave"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import FormMessage from "@/components/admin/form/Message.vue";
import { mapState } from "vuex";
import BackLink from "@/components/utilities/BackLink.vue";

export default {
    data() {
        return {
            modal: {
                delete: false,
            },
        };
    },
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapState(["loadingSave"]),
    },
    components: {
        "app-form-message": FormMessage,
        "back-link": BackLink,
    },
    methods: {
        submitForm() {
            this.$refs.messageForm.submit();
        },
    },
    transition: "slide",
};
</script>



