<template>
    <div>
        <back-link
            :link="{ name: 'settings-meta' }"
            :title="edit ? 'Edit Meta' : 'Add New Meta'"
        />
        <div class="card-default">
            <app-form-meta ref="metaForm" />

            <div class="text-right mt-3">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    :disabled="loadingSave"
                    @click.prevent="submitForm"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import FormMeta from "@/components/admin/form/Meta.vue";
import { mapState } from "vuex";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink.vue";

export default {
    data() {
        return {
            modal: {
                delete: false,
            },
        };
    },
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        // ...mapState('meta', {
        //     truck(state) {
        //         return {
        //             data: state.data
        //         }
        //     }
        // })
        ...mapState(["loadingSave"]),
    },
    components: {
        "app-modal": Modal,
        "app-form-meta": FormMeta,
        "back-link": BackLink,
    },
    methods: {
        submitForm() {
            this.$refs.metaForm.submit();
        },
    },
    transition: "slide",
};
</script>


