<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0" tag="a" :to="{ name:'settings-manage-product'}">&times;</router-link>
            <h2 class="mb-0" v-if="edit">Edit Product</h2>
            <h2 class="mb-0" v-else>Create New Product</h2>
            <div>
                <a href="#" class="btn btn-primary mr-3" @click="submitForm" :disabled="loadingSave">
                    <b-spinner small v-if="loadingSave"></b-spinner>
                    <div v-else>
                        Save
                    </div>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <app-form-product ref="productForm" v-bind="bind" />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'
    import FormProduct from '@/components/admin/form/Product.vue'

    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                
            }
        },
        props:{
            edit:{
                type: Boolean,
                default: false
            }
        },
        computed:{
            bind() {
                if(this.edit) {
                    return {
                        edit: true
                    }
                }
            },
            ...mapState('product', {
                product(state) {
                    return {
                        data: state.data
                    }
                }
            }),
            ...mapState(['loadingSave'])
        },
        methods: {
            ...mapActions('product', [
                'postProduct',
                'putProduct' 
            ]),
            submitForm() {
                this.$refs.productForm.submit()
            }
        },
        components: {
            'app-modal': Modal,
            'app-form-product': FormProduct,
        },
        transition: 'slide'
    }
</script>