<template>
    <div>
        <back-link
            v-if="$route.params.id !== undefined"
            :link="{ name: 'settings-digital-price-tags-index-product' }"
            title="Edit Product"
        />
        <back-link
            v-else
            :link="{ name: 'settings-digital-price-tags-index-product' }"
            title="Add Product"
        />

        <div class="card-default">
            <div
                class="row"
                :class="
                    $route.params.id != null ? '' : 'justify-content-center'
                "
            >
                <div
                    :class="[
                        [
                            $route.params.id !== undefined
                                ? 'col-md-7'
                                : 'col-md-12',
                        ],
                    ]"
                >
                    <form-product
                        ref="form"
                        @fetchTemplate="fetchTemplate"
                        @refreshTemplate="refreshTemplate"
                        @setLoading="setLoading"
                    />

                    <div class="text-right mt-3">
                        <button
                            class="btn btn-primary"
                            @click="save"
                            :disabled="isLoading"
                        >
                            <div class="px-2" v-if="isLoading">
                                <b-spinner variant="light" small />
                            </div>
                            <template v-else>Save</template>
                        </button>
                    </div>
                </div>
                <div class="col-md-5" v-if="$route.params.id != null">
                    <div class="sticky-top">
                        <div class="border rounded p-3">
                            <div v-if="productData != null">
                                <div
                                    v-show="
                                        productData.status != '已绑定' &&
                                        previewData.length == 0
                                    "
                                >
                                    <b-alert variant="info" show>
                                        <p class="mb-0">
                                            <span
                                                ><i
                                                    class="
                                                        fas
                                                        fa-info-circle
                                                        mr-2
                                                    "
                                                ></i
                                            ></span>
                                            The product is not bound to the ESL
                                        </p>
                                    </b-alert>
                                </div>
                                <div
                                    class="text-center py-5"
                                    v-show="isFetchPreview"
                                >
                                    <b-spinner variant="primary"></b-spinner>
                                </div>
                                <div
                                    v-if="
                                        !isFetchPreview &&
                                        previewData.length > 0
                                    "
                                >
                                    <h6 class="mb-3 font-weight-600">
                                        Preview
                                    </h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <a
                                            href="javascript:void(0)"
                                            class="
                                                btn btn-outline-success
                                                rounded-circle
                                                p-2
                                                mr-3
                                            "
                                            :class="{ active: ledActive == 2 }"
                                            @click="updateLed(2)"
                                        >
                                            <i
                                                class="
                                                    far
                                                    fa-lightbulb fa-lg
                                                    mx-1
                                                "
                                            ></i>
                                        </a>
                                        <a
                                            href="javascript:void(0)"
                                            class="
                                                btn btn-outline-primary
                                                rounded-circle
                                                p-2
                                                mr-3
                                            "
                                            :class="{ active: ledActive == 1 }"
                                            @click="updateLed(1)"
                                        >
                                            <i
                                                class="
                                                    far
                                                    fa-lightbulb fa-lg
                                                    mx-1
                                                "
                                            ></i>
                                        </a>
                                        <a
                                            href="javascript:void(0)"
                                            class="
                                                btn btn-outline-danger
                                                rounded-circle
                                                p-2
                                            "
                                            :class="{ active: ledActive == 3 }"
                                            @click="updateLed(3)"
                                        >
                                            <i
                                                class="
                                                    far
                                                    fa-lightbulb fa-lg
                                                    mx-1
                                                "
                                            ></i>
                                        </a>
                                    </div>
                                    <div
                                        id="previewTemplate"
                                        ref="previewTemplate"
                                        class="preview-svg"
                                    ></div>
                                </div>
                                <h6 class="mb-3 font-weight-600 mt-4">
                                    Bound Label
                                </h6>
                                <app-table
                                    :items="previewData"
                                    :fields="fields"
                                    :busy="isFetchPreview || isRefresh"
                                    show-empty
                                >
                                    <div
                                        slot="table-busy"
                                        class="text-center text-blue my-2"
                                    >
                                        <b-spinner
                                            class="align-middle"
                                        ></b-spinner>
                                    </div>
                                    <template slot="result" slot-scope="row">
                                        <span>{{
                                            row.item.result == 1
                                                ? "Update Succeed"
                                                : "Update Failed"
                                        }}</span>
                                    </template>
                                    <template slot="action" slot-scope="row">
                                        <div class="d-flex align-items-center">
                                            <a
                                                href="javascript:void(0)"
                                                class="mr-3 d-block"
                                                @click="refreshHandler"
                                                ><i class="fas fa-sync-alt"></i
                                            ></a>
                                            <a
                                                href="javascript:void(0)"
                                                class="text-danger"
                                                @click="
                                                    showModalDelete(row.item)
                                                "
                                                ><i class="fas fa-trash"></i
                                            ></a>
                                        </div>
                                    </template>
                                </app-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0" v-if="tempData != null">
                Are you sure wan to delete {{ tempData.mac }}?
            </h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteEsl"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteEsl"
                        @click="deleteEsl"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Table from "@/node_modules/bootstrap-vue/es/components/table/table";
import BackLink from "@/components/utilities/BackLink";
import FormProduct from "@/components/admin/form/ProductPriceTag";
import Modal from "@/components/utilities/Modal";
import { mapActions, mapGetters } from "vuex";

export default {
    data: () => ({
        isLoading: false,
        isDeleteEsl: false,
        isFetchPreview: false,
        isRefresh: false,
        tempData: null,
        ledActive: 0,
        modalDelete: false,
        productData: null,
        previewData: [],
        fields: [
            {
                key: "mac",
                label: "Mac Address",
            },
            {
                key: "demoName",
                label: "Template",
            },
            {
                key: "result",
                label: "Status",
            },
            {
                key: "action",
            },
        ],
    }),
    components: {
        "form-product": FormProduct,
        "app-table": Table,
        "app-modal": Modal,
        "back-link": BackLink,
    },
    watch: {
        isFetchPreview(value) {
            if (!value && this.previewData.length > 0) {
                this.$nextTick(() => {
                    // let element = document.getElementById('previewTemplate')
                    let element = this.$refs.previewTemplate;
                    let data = this.previewData[0].demoData;
                    const { inch, rgbtype, transpose, ...rest } = data;
                    console.log(rest);
                    if (this.productData != null) {
                        Object.entries(this.productData).forEach(
                            ([key, valueText]) => {
                                if (valueText != null) {
                                    if (rest.text[key] != undefined) {
                                        rest.text[key]["content"] = valueText;
                                    }
                                }
                            }
                        );
                    }
                    if (rest.icons != undefined) {
                        Object.entries(rest.icons).forEach(
                            ([keyIcon, valueIcon]) => {
                                rest.icons[keyIcon]["icon"] = valueIcon.content;
                                rest.icons[keyIcon]["content"] =
                                    this.getIconCode(
                                        rest.icons[keyIcon]["icon"]
                                    );
                            }
                        );
                    }
                    if (rest.grapcodes != undefined) {
                        if (rest.grapcodes.qrcode != undefined) {
                            // rest.grapcodes.qrcode['content'] = this.$route.params.id
                            rest.grapcodes.qrcode["content"] =
                                this.productData.qrcode;
                        }
                        if (rest.grapcodes.barcode != undefined) {
                            rest.grapcodes.barcode["content"] =
                                this.textToBase64Barcode(this.$route.params.id);
                            rest.grapcodes.barcode["width"] = 140;
                            rest.grapcodes.barcode["height"] = 20;
                        }
                    }
                    this.generateSvg(rest, element);
                });
            }
        },
    },
    methods: {
        ...mapActions({
            getEslTemplatePreview: "priceTag/getEslTemplatePreview",
            deleteEslProduct: "priceTag/deleteEslProduct",
            changeLed: "priceTag/changeLed",
            refreshProduct: "priceTag/refreshProduct",
        }),
        refreshTemplate(data) {
            this.productData = data;
            this.fetchEslPreview();
        },
        async fetchTemplate(data) {
            if (this.$route.params.id != null) {
                this.productData = data;
                if (this.productData.status == "已绑定") {
                    await this.fetchEslPreview();
                }
            }
        },
        async fetchEslPreview() {
            this.isFetchPreview = true;
            await this.getEslTemplatePreview({
                id: this.$route.params.id,
            }).then((response) => {
                this.previewData = response.data.body.data;
                this.isFetchPreview = false;
            });
        },
        async deleteEsl() {
            this.isDeleteEsl = true;
            await this.deleteEslProduct(this.tempData.mac).then(() => {
                this.isDeleteEsl = false;
                this.fetchEslPreview();
                this.hideModalDelete();
            });
        },
        async refreshHandler() {
            this.isRefresh = true;
            await this.refreshProduct({ id: this.$route.params.id }).then(
                (response) => {
                    this.previewData = response.data.body.data;
                    this.isRefresh = false;
                }
            );
        },
        updateLed(value) {
            this.ledActive = value;
            this.changeLed({
                mac: this.previewData[0].mac,
                color: this.ledActive,
            });
        },
        showModalDelete(item) {
            this.tempData = item;
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.tempData = null;
            this.modalDelete = false;
        },
        setLoading(value) {
            this.isLoading = value;
        },
        save() {
            this.$refs.form.submit();
        },
    },
};
</script>
<style lang="scss">
</style>
