<template>
    <div>
        <back-link
            title="Custom Role Permission"
            :link="{ name: 'settings-user-permission-role' }"
        />
        <div class="card-default">
            <div class="form-group mb-5">
                <label for="#" class="font-weight-bold"
                    >Name Group Role :</label
                >
                <input type="text" class="form-control" v-model="name" />
            </div>
            <label for="#" class="font-weight-bold">Role Permission :</label>
            <b-card class="p-4">
                <div class="row">
                    <div class="col-12 mb-5">
                        <label for="#" class="font-weight-bold"
                            >Feature :</label
                        >
                        <div
                            class="list-group-item d-flex align-items-center"
                            v-for="(item, i) in feature"
                            :key="i"
                        >
                            {{ item.name }}
                            <p-check
                                class="p-switch p-fill ml-auto"
                                v-model="item.status"
                                color="success"
                            ></p-check>
                        </div>
                    </div>
                    <div class="col-6">
                        <b-card class="outline--blue card-list-menu">
                            <label for="#" class="font-weight-bold mb-4"
                                >Active Menu :</label
                            >
                            <div>
                                <no-ssr>
                                    <draggable
                                        class="list-group"
                                        :list="activeMenu"
                                        group="people"
                                        @change="log"
                                    >
                                        <transition-group
                                            type="transition"
                                            name="flip-list"
                                        >
                                            <div
                                                v-for="element in activeMenu"
                                                :key="element.id"
                                            >
                                                <div
                                                    class="
                                                        list-group-item
                                                        outline--blue
                                                        d-flex
                                                        align-items-center
                                                        justify-content-between
                                                    "
                                                >
                                                    <div>
                                                        <i
                                                            class="
                                                                fas
                                                                fa-arrows-alt
                                                                mr-3
                                                            "
                                                        ></i>
                                                        {{ element.name }}
                                                    </div>
                                                    <div
                                                        class="
                                                            badge badge-danger
                                                        "
                                                        v-if="
                                                            element.status ==
                                                            true
                                                        "
                                                    >
                                                        Admin
                                                    </div>
                                                    <div
                                                        class="badge badge-info"
                                                        v-else
                                                    >
                                                        Employee
                                                    </div>
                                                </div>
                                                <div
                                                    v-if="element.child != null"
                                                >
                                                    <div
                                                        class="
                                                            ml-5
                                                            list-group-item
                                                            outline--blue
                                                            d-flex
                                                            align-items-center
                                                        "
                                                        :class="{
                                                            'inactive-menu':
                                                                childItem.status ==
                                                                true
                                                                    ? false
                                                                    : true,
                                                        }"
                                                        v-for="(
                                                            childItem, i
                                                        ) in element.child"
                                                        :key="i"
                                                    >
                                                        <i
                                                            class="
                                                                fas
                                                                fa-arrows-alt
                                                                mr-3
                                                            "
                                                        ></i>
                                                        {{ childItem.name }}
                                                        <p-check
                                                            class="
                                                                p-switch p-fill
                                                                ml-auto
                                                            "
                                                            v-model="
                                                                childItem.status
                                                            "
                                                            color="success"
                                                        ></p-check>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </draggable>
                                </no-ssr>
                            </div>
                        </b-card>
                    </div>
                    <div class="col-6">
                        <b-card class="outline--blue card-list-menu">
                            <label for="#" class="font-weight-bold mb-4"
                                >Inactive Menu :</label
                            >
                            <no-ssr>
                                <draggable
                                    class="list-group"
                                    :list="inactiveMenu"
                                    group="people"
                                    @change="log"
                                >
                                    <transition-group
                                        type="transition"
                                        name="flip-list"
                                    >
                                        <div
                                            v-for="element in inactiveMenu"
                                            :key="element.id"
                                        >
                                            <div
                                                class="
                                                    list-group-item
                                                    outline--blue
                                                    d-flex
                                                    align-items-center
                                                    justify-content-between
                                                "
                                            >
                                                <div>
                                                    <i
                                                        class="
                                                            fas
                                                            fa-arrows-alt
                                                            mr-3
                                                        "
                                                    ></i>
                                                    {{ element.name }}
                                                </div>
                                                <div
                                                    class="badge badge-danger"
                                                    v-if="
                                                        element.status == true
                                                    "
                                                >
                                                    Admin
                                                </div>
                                                <div
                                                    class="badge badge-info"
                                                    v-else
                                                >
                                                    Employee
                                                </div>
                                            </div>
                                            <div v-if="element.child != null">
                                                <div
                                                    class="
                                                        ml-5
                                                        list-group-item
                                                        outline--blue
                                                        d-flex
                                                        align-items-center
                                                    "
                                                    v-for="(
                                                        childItem, i
                                                    ) in element.child"
                                                    :key="i"
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-arrows-alt
                                                            mr-3
                                                        "
                                                    ></i>
                                                    {{ childItem.name }}
                                                    <!-- <p-check class="p-switch p-fill ml-auto" v-model="childItem.active" color="success"></p-check> -->
                                                </div>
                                            </div>
                                        </div>
                                    </transition-group>
                                </draggable>
                            </no-ssr>
                        </b-card>
                    </div>
                </div>
            </b-card>

            <div class="text-right mt-3">
                <button class="btn btn-outline-danger" @click="showModalReset">
                    Reset to Default
                </button>
                <button
                    class="btn btn-primary ml-3"
                    @click.prevent="submitForm"
                >
                    Save
                </button>
            </div>
        </div>
        <app-modal
            size="lg"
            title="Reset Default"
            centered
            @hide="closeModalReset"
            v-model="modalReset"
        >
            <template>
                <h5>Are you sure want to reset to default ?</h5>
            </template>
            <div slot="modal-footer" class="w-100 mt-3 text-right">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    @click="resetDefault"
                >
                    Yes
                </button>
                <button
                    type="button"
                    class="btn btn-danger"
                    @click="closeModalReset"
                >
                    Cancel
                </button>
            </div>
        </app-modal>
    </div>
</template>
<script>
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import draggable from "vuedraggable";
import PrettyCheck from "pretty-checkbox-vue/check";
import BackLink from "@/components/utilities/BackLink.vue";
import { mapState, mapActions, mapMutations } from "vuex";
import _ from "lodash";

export default {
    destroyed() {
        this.SET_NAVIGATION_DEFAULT();
    },
    data() {
        return {
            modalReset: false,
            inactiveMenu: [],
            activeMenu: [],
            activeFeature: [],
            inactiveFeature: [],
            name: "",
        };
    },
    created() {
        if (this.$route.name == "settings-user-permission-role-add") {
            this.inactiveMenu = this.navigation;
            this.inactiveFeature = this.feature;
        } else {
            this.name = this.role.role.role;
            this.inactiveMenu = this.role.inactive;
            this.activeMenu = this.role.active;
            this.inactiveFeature = this._.filter(
                this.role.feature,
                (val) => val.status == 0
            );
            this.activeFeature = this._.filter(
                this.role.feature,
                (val) => val.status == 1
            );
            this.SET_FEATURE(this.role.feature);
        }
    },
    components: {
        "app-modal": Modal,
        draggable,
        "p-check": PrettyCheck,
        "back-link": BackLink,
    },
    computed: {
        ...mapState("permission", {
            navigation: (state) => state.navigation,
            feature: (state) => state.feature,
        }),
        ...mapState("role", {
            role: (state) => state.role,
        }),
    },
    methods: {
        ...mapActions("role", ["createRoles", "updateRole"]),
        ...mapMutations("permission", [
            "SET_NAVIGATION_DEFAULT",
            "SET_FEATURE",
        ]),
        // changeFeatureStatus(val, item){
        //     if(val){
        //         this.activeFeature.push(item)
        //     } else {
        //         this._.remove(this.activeFeature, function(val){
        //             return val.id == item.id
        //         })
        //     }
        // },
        submitForm() {
            if (this.$route.name == "settings-user-permission-role-add") {
                this.createRoles({
                    role: this.name,
                    navigations: this.activeMenu,
                    feature: this.feature,
                }).then(() => {
                    this.$router.push({
                        name: "settings-user-permission-role",
                    });
                });
            } else {
                this.updateRole({
                    id: this.$route.params.id,
                    navigations: this.activeMenu,
                    role: this.role.role,
                    role_name: this.name,
                    feature: this.feature,
                }).then(() => {
                    this.$router.push({
                        name: "settings-user-permission-role",
                    });
                });
            }
        },
        showModalReset() {
            this.modalReset = true;
        },
        closeModalReset() {
            this.modalReset = false;
        },
        log: function (evt) {
            window.console.log(evt);
        },
        resetDefault() {
            this.activeMenu = [];
            this.inactiveMenu = this.navigation;
            this.closeModalReset();
        },
    },
    transition: "slide",
};
</script>
<style>
.list-group span {
    min-height: 1750px;
}
.list-group-item {
    border-radius: 5px !important;
    margin-bottom: 8px !important;
    cursor: move;
}
.list-group-item:hover {
    cursor: move;
}
.list-group-item {
    transition: all 0.3s ease;
}
.inactive-menu {
    border-color: #ddd !important;
    color: #ddd;
}
.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
</style>
