<template>
    <div>
        <back-link
            title="Set Password Employee"
            :link="{
                name: 'settings-employees-edit-id',
                params: { id: employee.data.user_id },
            }"
        />
        <div class="card-default">
            <app-set-password ref="setPassword" :response="response" />

            <div class="text-right">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    @click="submitForm"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import FormSetPassword from "@/components/admin/form/SetPasswordEmployee.vue";
import BackLink from "@/components/utilities/BackLink.vue";

export default {
    props: {
        response: {
            type: Object,
        },
    },
    components: {
        "app-modal": Modal,
        "app-set-password": FormSetPassword,
        "back-link": BackLink,
    },
    computed: {
        ...mapState("employee", {
            employee(state) {
                return {
                    data: state.data,
                    error: state.errors,
                };
            },
        }),
    },
    methods: {
        ...mapActions("employee", ["updatePassword"]),
        submitForm() {
            this.$refs.setPassword.submit();
            // this.updatePassword().then(() => {
            //     this.$router.push({
            //         name: 'admin-settings-employees'
            //     })
            // })
        },
    },
    transition: "slide",
    layout: "admin",
};
</script>


