<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0" tag="a" :to="{ name:'settings-manage-product'}">&times;</router-link>
            <h2 class="mb-0">Setting Product</h2>
            <div>
                <a href="#" class="btn btn-primary mr-3" @click="submitForm">Save</a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <app-form-setting-product ref="formSetting" />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    import FormSettingProduct from '@/components/admin/form/SettingProduct.vue'

    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                modal: {
                    delete: false
                }
            }
        },
        methods:{
            ...mapActions('product', [
                'postProductSetting'                
            ]),
            submitForm() {
                this.$refs.formSetting.submit()
                this.postProductSetting().then(() => {
                    this.$router.push({
                        name: 'settings-manage-product'
                    })
                })
            }
        },
        components: {
            'app-modal': Modal,
            'app-form-setting-product': FormSettingProduct,
        },
        transition: 'slide'
    }
</script>