<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0 mr-auto" tag="a" :to="{ name:'admin-customers'}">&times;</router-link>
            <h2 class="mb-0 mr-auto">Customer Profile</h2>
            <button class="btn btn-danger" @click="showModalCustomerDelete(id, firstName, lastName)">Delete</button>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="customer-detail mb-4 mt-4">
                    <div class="row">
                        <div class="label col-3">
                            <h5>Customer Code</h5>
                        </div>
                        <div class="col-3">
                            <h5>{{ id }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col-3">
                            <h5>Name</h5>
                        </div>
                        <div class="col-3">
                            <h5>{{ firstName }} {{lastName}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col-3">
                            <h5>Company / Builder Code</h5>
                        </div>
                        <div class="col-3">
                            <!-- <h5>CUSTOMER0005</h5> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col-3">
                            <h5>Phone Number</h5>
                        </div>
                        <div class="col-3">
                            <h5>{{ phone_number }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col-3">
                            <h5>Billing Address</h5>
                        </div>
                        <div class="col-3">
                            <h5>{{ billingAddress }}</h5>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="label col-3">
                            <h5>Delivery Address</h5>
                        </div>
                        <div class="col-3" v-for="(rowShipping, index) in shippingAddress" :key="index">
                            <h5>{{ rowShipping.name }}</h5>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="label col-3">
                            <h5>Email</h5>
                        </div>
                        <div class="col-3">
                            <h5>{{ email }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col-3">
                            <h5>Tax Exempted</h5>
                        </div>
                        <div class="col-3">
                            <div v-if="tax_exempted == false">
                                <h5>No</h5>
                            </div>
                            <div v-else>
                                <h5>Yes</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="mb-4">Orders Data</h3>
                <app-table :items="items_orders" :fields="fields_quote" class="mb-4" show-empty>
                    <template slot="total" slot-scope="row">
                        <p v-money :class="'mb-0'">{{ row.item.total}}</p>
                    </template>
                </app-table>
                <h3 class="mb-4">Quotes Data</h3>
                <app-table :items="items" :fields="fields" show-empty>
                    <template slot="total" slot-scope="row">
                        <p v-money :class="'mb-0'">{{ row.item.total}}</p>
                    </template>
                </app-table>
            </div>
        </div>
        <app-modal size="lg" title="Delete Customer" centered @hide="closeModalCustomerDelete" v-model="modalCustomerDelete">
            <template>
                <h5>Are you sure to delete customer <span class="content-txt">{{ firstName }} {{lastName}}</span> ?</h5>        
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteCustomer">Delete</div>
                    <div class="btn btn-primary" @click="closeModalCustomerDelete">Cancel</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>

    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import {mapActions} from 'vuex'

    export default {
        created() {
            if (this.response) {
                this.id = this.$route.params.id
                this.firstName = this.response.firstName
                this.lastName = this.response.lastName
                this.phone_number = this.response.phone_number
                this.billingAddress = this.response.billingAddress
                this.billingStreetNumber =  this.response.formatted_billing_address.number
                this.billingStreetName = this.response.formatted_billing_address.street
                this.billingCity =  this.response.formatted_billing_address.city
                this.billingState =  this.response.formatted_billing_address.state
                this.billingPostalCode =  this.response.formatted_billing_address.postal_code
                this.billingCountry =  this.response.formatted_billing_address.country
                this.shippingAddress = this.response.shippingAddress
                this.tax_exempted = this.response.tax_exempted
                this.email = this.response.email
                this.items = this.response.quotes
                this.items_orders = this.response.orders
            }
        },
        props: {
            response: {
                type: Object
            }
        },
        watch:{
            billingAddress(){
                this.formattedBillingAddress()
            }
        },
        data() {
            return{
                fields: [
                    {
                        key: 'quote_date',
                        label: 'Date'
                    },
                    {
                        key:'quote_no',
                        label: 'Quote'
                    },
                    {
                        key:'customer_code',
                        label: 'Customer'
                    },
                    {
                        key:'total',
                        label: 'Amount'
                    }

                ],
                fields_quote: [
                    {
                        key: 'order_date',
                        label: 'Date'
                    },
                    {
                        key:'order_no',
                        label: 'Order'
                    },
                    {
                        key:'customer_code',
                        label: 'Customer'
                    },
                    {
                        key:'total',
                        label: 'Total'
                    }

                ],
                items: [],
                items_orders: [],
                id:'',
                firstName:'',
                lastName:'',
                phone_number:'',
                billingAddress:'',
                shippingAddress:'',
                tax_exempted:'',
                email:'',
                modalCustomerDelete: false
            }
        },
        components: {
            'app-modal': Modal,
            'app-table': Table
        },
        methods:{
            ...mapActions('customer',[
                'destroyCustomer'
            ]),
            showModalCustomerDelete(id, firstName, lastName){
                this.id = id,
                this.modalCustomerDelete= true;
            },
            closeModalCustomerDelete(){
                this.modalCustomerDelete= false;
            },
            deleteCustomer(){
                this.destroyCustomer(this.id).then(() => {
                    this.modalCustomerDelete= false;
                    this.$router.push({ name:'admin-customers'})
                })
            },
            formattedBillingAddress() {
                if (this.billingStreetNumber != '' && this.billingStreetName != '' && this.billingCity != '' && this.billingState != '' && this.billingPostalCode != '' && this.billingCountry) {
                    this.billingAddress = this.billingStreetNumber + ' ' + this.billingStreetName + ', ' + this.billingCity + ', ' + this.billingState + ' ' + this.billingPostalCode + ', ' + this.billingCountry 
                } else {
                    this.billingAddress = ''
                }
            },
        },
        transition: 'slide'
    }
</script>
<style>
.content-txt{
    color: #e83e8c;
}
</style>
