<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-center align-items-center">
            <a href="#" class="h1 font-weight-300 mb-0 mr-auto" @click="updateSchedule">&times;</a>
            <h2 class="mb-0 mr-auto">Show Delivery</h2>
            <div class="d-flex align-items-center">
                <!-- <button class="btn btn-outline-primary mr-3" @click="$router.push({name: 'admin-schedule-delivery-load-truck-id', params: {id: delivery_date}})">Load Truck</button> -->
                <button class="btn btn-outline-primary mr-3" @click="showModalNote">Add Note</button>
                <button class="btn btn-primary" @click="showModalPrint">Print</button>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="card-body--inner">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="font-weight-600">ORDER #{{ data.order_no }}</h2>
                            <div class="form-group">
                                <label for="#" class="font-weight-bold mb-0">Sales Person :</label>
                                <h5 class="font-weight-600">{{data.sales_person.fullname}}</h5>
                            </div>
                            <div class="card p-4 outline--blue">
                                <h4 class="font-weight-600 mb-0">Delivery Information</h4>
                                <hr>
                                 <app-address-format 
                                        :is_company="data.is_company"
                                        :company="data.company_name"
                                        :builders_code="data.builders_code"
                                        :name="data.ship_name"
                                        :address="data.formatted_shipping_address ? data.formatted_shipping_address.formatted:''"
                                        :phone_number="data.bill_phone_number"
                                        >
                                </app-address-format>
                                <!-- <h5>{{ data.ship_name }}</h5>
                                <h5>{{ data.ship_address }}</h5>
                                <h5>{{ data.zip_code }}</h5>
                                <h5>{{ data.phone_number }}</h5> -->
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <h4>Assign to all</h4>
                            <div class="form-group">
                                <label for="#">Set Truck</label>
                                <no-ssr>
                                    <app-select
                                        v-model="assign_truck_all_selected" 
                                        :options="items" 
                                        :close-on-select="true" 
                                        :hide-selected="true" 
                                        :preserve-search="true"
                                        :select-label="'Select'"
                                        placeholder="Select Truck" 
                                        label="truck_name" 
                                        track-by="truck_id" 
                                        :preselect-first="false"
                                        @input="onChangeTruck"
                                    >
                                    </app-select>
                                </no-ssr>
                            </div>
                            <div class="form-group">
                                <label for="#">Set Time Slot</label>
                                <no-ssr>
                                    <app-select v-model="assign_time_slot_all_selected" :options="time_slot" placeholder="Select Time Slot" @input="onChangeTime"></app-select>
                                </no-ssr>
                            </div>
                        </div> -->
                    </div>
                    <table class="table mt-4">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Delivery Method</th>
                                <th scope="col">Model</th>
                                <th scope="col">Serial #</th>
                                <th scope="col">Qty</th>
                                <th scope="col" style="width: 135px !important;">Delivery Date</th>
                                <!-- <th scope="col">Requested Time</th>
                                <th scope="col">
                                    Truck
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(row, index) in data.order_detail">
                                <tr :key="'row' + index">
                                    <td class="align-top">{{ row.delivery_method_name }}</td>
                                    <td class="align-top">{{ row.product_model }}</td>
                                    <td class="align-top">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" placeholder="Serial" v-model="row.serial_number" :readonly="row.delivery_status">
                                        </div>
                                    </td>
                                    <td class="align-top">{{ row.quantity }}</td>
                                    <td class="align-top">{{ row.delivery_date }}</td>
                                    <!-- <td class="align-top">
                                        <div class="form-group mb-0">
                                            <no-ssr>
                                                <app-select
                                                    v-model="row.time_slot" 
                                                    :options="time_slot" 
                                                    v-width="'160px'"
                                                    :close-on-select="true" 
                                                    :hide-selected="false" 
                                                    :preserve-search="true"
                                                    :select-label="'Select'"
                                                    placeholder="Select Time Slot" 
                                                    :readonly="row.delivery_status" 
                                                    :disabled="row.delivery_status"
                                                >
                                                </app-select>
                                            </no-ssr>
                                        </div>
                                    </td>
                                    <td class="align-top">
                                        <div class="form-group mb-2">
                                            <no-ssr>
                                                <app-select
                                                    v-model="row.truck" 
                                                    :options="items" 
                                                    v-width="'180px'"
                                                    :close-on-select="true" 
                                                    :hide-selected="true" 
                                                    :preserve-search="true"
                                                    :select-label="'Select'"
                                                    placeholder="Select Truck" 
                                                    label="truck_name" 
                                                    track-by="truck_id" 
                                                    :readonly="row.delivery_status" 
                                                    :disabled="row.delivery_status"
                                                >
                                                </app-select>
                                            </no-ssr>
                                        </div>
                                        <p-check class="p-switch p-fill" v-model="row.delivery_status" @change="changeDeliveryStatus">
                                            <div v-if="row.delivery_status == true">
                                                Closed
                                            </div>
                                            <div v-else>
                                                Open
                                            </div>
                                        </p-check>
                                    </td> -->
                                </tr>
                                <tr :key="'col' + index">
                                    <!-- <td colspan="7" class="text-area">
                                        <label for="#">Note</label>
                                        <textarea ols="30" rows="5" class="form-control" v-model="row.delivery_note_order"></textarea>
                                    </td> -->
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <div class="notes-wrapper mt-4 mb-3" v-if="deliveryNotes.length > 0">
                        <label for="#" class="font-weight-bold">Delivery Notes</label>
                        <div class="d-flex align-items-center mb-3" v-for="(row, index) in deliveryNotes" :key="'deliveryNotes' + index">
                            <div class="bs-callout bs-callout-primary w-100 mb-0 mt-0">
                                <sup class="badge badge-secondary mb-1">{{ row.user.fullname }} - {{ moment(row.date_note).format('M/D/Y h:mm a') }}</sup>
                                <p>{{row.note}}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#" @click="showModalEditNote(row.id, row.note)"><i class="fas fa-edit ml-2 mr-2"></i></a>
                                <a href="#" @click="showModalDeleteNote(row.id)" class="red"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="notes-wrapper" v-if="externalNotes.length > 0">
                        <label for="#" class="font-weight-bold">Customer Notes</label>
                        <div class="d-flex align-items-center mb-3" v-for="(row, index) in externalNotes" :key="'customerNotes' + index">
                            <div class="bs-callout bs-callout-success w-100 mb-0 mt-0">
                                <sup class="badge badge-secondary mb-1">{{ row.user.fullname }} - {{ moment(row.date_note).format('M/D/Y h:mm a') }}</sup>
                                <p>{{row.note}}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#" @click="showModalEditNote(row.id, row.note)"><i class="fas fa-edit ml-2 mr-2"></i></a>
                                <a href="#" @click="showModalDeleteNote(row.id)" class="red"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notes-wrapper mt-3" v-if="companyNotes.length > 0">
                    <label for="#" class="font-weight-bold">Company Notes</label>
                    <div class="d-flex align-items-center mb-3" v-for="(row, index) in companyNotes" :key="'companyNotes' + index">
                        <div class="bs-callout bs-callout-success w-100 mb-0 mt-0">
                            <sup class="badge badge-secondary mb-1">{{ row.user.fullname }} - {{ moment(row.date_note).format('M/D/Y h:mm a') }}</sup>
                            <p>{{row.note}}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" @click="showModalEditNote(row.id, row.note)"><i class="fas fa-edit ml-2 mr-2"></i></a>
                            <a href="#" @click="showModalDeleteNote(row.id)" class="red"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-modal size="lg" title="Add Notes" centered @hide="closeModalNote" v-model="modalNote">
            <template>
                <b-tabs>
                    <b-tab title="Delivery">
                        <div class="form-group mt-3">
                            <!-- <label for="external-note">Add Delivery Notes</label> -->
                            <textarea id="external-note" class="form-control" cols="30" rows="6" v-model="notes[0].note"></textarea>
                        </div>
                    </b-tab>
                    <b-tab title="Customer">
                        <div class="form-group mt-3">
                            <!-- <label for="external-note">Add Customer Notes</label> -->
                            <textarea id="external-note" class="form-control" cols="30" rows="6" v-model="notes[1].note"></textarea>
                        </div>
                    </b-tab>
                    <b-tab title="Company">
                        <div class="form-group mt-3">
                            <!-- <label for="internal-note">Add Company Notes</label> -->
                            <textarea id="internal-note" class="form-control" cols="30" rows="6" v-model="notes[2].note"></textarea>
                        </div>
                    </b-tab>
                </b-tabs>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="saveNote">Add</div>
                    <div class="btn btn-outline-primary" @click="closeModalNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Edit Note" centered @hide="closeModalEditNote" v-model="modalEditNote">
            <template>
                <div class="form-group">
                    <label for="external-note">Edit Note</label>
                    <textarea id="external-note" class="form-control" cols="30" rows="6" v-model="selected_note"></textarea>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="submitNote">Save</div>
                    <div class="btn btn-outline-primary" @click="closeModalEditNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Delete Note" centered @hide="closeModalDeleteNote" v-model="modalDeleteNote">
            <template>
                <h5>Are you sure to delete this note ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-danger mr-3" @click="deleteNote">Delete</div>
                    <div class="btn btn-outline-primary" @click="closeModalDeleteNote">Cancel</div>
                </div>
            </div>
        </app-modal>
        <app-modal size="lg" title="Print Delivery" centered @hide="closeModalPrint" v-model="modalPrint">
            <template>
                <h5>Choose your print sheets :</h5>
                <!-- <no-ssr>
                    <app-datepicker v-model="date">
                        <template :type='inputState.type' slot-scope='{ inputValue }'>
                            <div class="icon icon-right">
                                <input type="text" placeholder="Select Date" v-validate="'required'" id="date" class="form-control form-icon" name="delivery_date" :class="{'is-invalid': errors.has('delivery_date')}" :value='inputValue'
                                readonly>
                                <i class="far fa-calendar-alt text-primary"></i>
                            </div>
                        </template>
                    </app-datepicker>
                </no-ssr> -->
                <select class="form-control" v-model="date">
                    <option value="">Choose Date</option>
                    <option v-for="(row, index) in data.order_detail" :key="'delivery_date' + index" :value="row.delivery_date">{{ row.delivery_date }}</option>
                </select>
                <div class="d-flex align-items-center mt-3">
                    <button class="btn btn-primary mr-2" @click="sendPrint">Print</button>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-primary" @click="closeModalPrint">Cancel</button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import Table from '@/node_modules/bootstrap-vue/es/components/table/table'
    import PrettyCheck from 'pretty-checkbox-vue/check';
    import { mapState, mapActions } from 'vuex'
    import Select from 'vue-multiselect'
    import FormatAddress from '@/components/utilities/Address.vue'

    

    var printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     

    export default {
        data() {
            return {
                delivery_date: '',
                date: '',
                time_slot: ['AM', 'PM', 'All Day'],
                assign_truck: '',
                assign_truck_all_selected:'',
                assign_truck_selected:'',
                assign_time_slot: '',
                assign_time_slot_all_selected: '',
                assign_time_slot_selected:'',
                modalNote: false,
                modalEditNote: false,
                modalDeleteNote: false,
                checked: '',
                selected_note_id:'',
                selected_note : '',
                user_id: '',
                modalPrint: false,
                notes:[
                    {
                        order_no: '',
                        user_id: '',
                        note:'',
                        from_note:'DELIVERY NOTE'
                    },
                    {
                        order_no: '',
                        user_id: '',
                        note:'',
                        from_note:'EXTERNAL'
                    },
                    {
                        order_no: '',
                        user_id: '',
                        note:'',
                        from_note:'INTERNAL'
                    }
                ]
            }
        },
        mounted() {
            if (localStorage.getItem('delivery_date')) {
                this.delivery_date = localStorage.getItem('delivery_date')
            } else {
                this.$router.push({name: 'deliveries'})
            }
        },
        computed: {
            ...mapState('orderSchedule', {
                data: state => state.data
            }),
            ...mapState('truck', {
                items: state => state.items
            }),
            deliveryNotes(){
                return this.data.delivery_notes.filter(i => i.from_note == 'DELIVERY NOTE')
            },
            externalNotes(){
                return this.data.delivery_notes.filter(i => i.from_note == 'EXTERNAL')
            },
            companyNotes(){
                return this.data.delivery_notes.filter(i => i.from_note == 'INTERNAL')
            }
        },
        watch: {
            assign_truck_all_selected(val) {
                let vm = this
                if (val != '') {
                    // console.log(val)
                    _.forEach(this.data.order_detail, function(item, key) {
                        if( vm.data.order_detail[key].delivery_status != true){
                            vm.data.order_detail[key].truck = val
                        }
                    })
                }
            },
            assign_time_slot_all_selected(val) {
                let vm = this
                if (val != '') {
                    _.forEach(this.data.order_detail, function(item, key) {
                        if( vm.data.order_detail[key].delivery_status != true){
                            vm.data.order_detail[key].time_slot = val
                        }
                    })
                }
            }
        },
        methods: {
            showModalPrint(){
                this.modalPrint = true
            },
            closeModalPrint(){
                this.modalPrint = false
            },
            changeDeliveryStatus(){
                this.updateScheduleDelivery()
            },
            updateSchedule(){
                for (var i in this.data.order_detail){
                    var data = this.data.order_detail[i]
                    data.truck_id = data.truck ? data.truck.truck_id:''
                }
                this.updateScheduleDelivery({ truck: this.assign_truck, time_slot: this.assign_time_slot }).then(() => {
                    this.assign_truck = ''
                    this.assign_time_slot = ''
                }).then(() =>{
                    // this.$router.push({
                    //     name:'admin-schedule-delivery'
                    // })
                    this.$router.push({ name:'deliveries' })
                })
            },
            ...mapActions('truck', ['getTrucks']),
            ...mapActions('orderSchedule', [
                'showDelivery', 
                'updateScheduleDelivery',
                'postNotes',
                'showDelivery',
                'updateNote',
                'destroyNote'
            ]),
            ...mapActions('deliveryDetail', [
                'getPdfScheduleDelivery'
            ]),
            showModalNote(){
                this.modalNote= true;
            },
            closeModalNote(){
                this.modalNote= false;
            },
            saveNote(){
                for(var i in this.notes){
                    var data = this.notes[i]
                    data.order_no = this.$route.params.id
                    data.user_id = this.data.sales_person.user_id
                }
                this.postNotes({
                    notes : this.notes
                }).then(() =>{
                    this.showDelivery(this.$route.params.id)
                    this.notes[0].note = '';
                    this.notes[1].note = '';
                    this.notes[2].note = '';
                    this.modalNote= false;
                })
            },
            showModalEditNote(id, note){
                this.selected_note_id = id
                this.selected_note = note
                this.modalEditNote= true;
            },
            closeModalEditNote(){
                this.modalEditNote= false;
            },
            submitNote(){
                this.updateNote({
                    id : this.selected_note_id,
                    note : this.selected_note
                }).then(() =>{
                    this.showDelivery(this.$route.params.id)
                    this.modalEditNote= false;
                })
            },
            showModalDeleteNote(id){
                this.selected_note_id = id 
                this.modalDeleteNote= true;
            },
            closeModalDeleteNote(){
                this.modalDeleteNote= false;
            },
            deleteNote(){
                this. destroyNote({
                    id : this.selected_note_id
                }).then(() =>{
                    this.showDelivery(this.$route.params.id)
                    this.modalDeleteNote= false;
                })
            },
            onChangeTruck(){

                this.assign_truck = this.assign_truck_all_selected.truck_id
            },
            onChangeTime(){
                this.assign_time_slot = this.assign_time_slot_all_selected
            },
            sendPrint() {
                if (this.date != '') {
                    let delivery_date = this.date.split('/')
                    this.getPdfScheduleDelivery({
                        order_no: this.$route.params.id,
                        date: delivery_date[2] + '-' + delivery_date[0] + '-' + delivery_date[1]
                        // date: this.moment(this.date).format('Y-MM-DD')
                    })
                    .then((res) => {
                        printJs({ printable: res.data, type: 'pdf', showModal: true, onPdfOpen: true })
                    })
                }
            }
        },
        components: {
            'app-modal': Modal,
            'app-table': Table,
            'p-check': PrettyCheck,
            'app-select': Select,
            'app-address-format': FormatAddress,
        },
        transition: 'slide'
    }
</script>
<style scoped>
    td.text-area{
        border-top: 0;
        border-bottom: 1px solid #d6d9dc;
    }
    .card-body--inner{
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }
    .highlighted-grey{
        background: #ebedef;
        padding: 10px 0;  
    }
    .form-control {
        padding: 19px 16px;
    }
</style>
