<template>
    <div>
        <back-link            
            :link="{ name: 'settings-locations' }"
            :title="edit ? 'Edit Location' : 'Create Location'"
        />
        <div class="card-default">
            <app-form-stores ref="formStore" :data="store.data" />

            <div class="text-right mt-3">
                <button
                    type="button"
                    class="btn btn-danger mr-3"
                    @click="showModalDeleteStore"
                    v-if="$route.name != 'settings-locations-create'"
                >
                    Delete
                </button>
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    @click="submit"
                    :disabled="loadingSave"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>

        <app-modal
            size="lg"
            title="Delete Store"
            centered
            @hide="closeModalDeleteStore"
            v-model="modalDeleteStore"
            v-if="modalDeleteStore"
        >
            <template>
                <b-alert :show="countRelated > 0"
                    >This store cannot be deleted</b-alert
                >
                <h5 class="mt-0 mb-4">Are you sure to delete this store ?</h5>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Location Code</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ store_code }}</h5>
                    </div>
                </div>
                <div class="d-flex row">
                    <div class="label col-2">
                        <h5>Name</h5>
                    </div>
                    <div class="content-txt col-8">
                        <h5>{{ store_name }}</h5>
                    </div>
                </div>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <button
                        class="btn btn-danger mr-3"
                        @click="removeStore"
                        :disabled="countRelated > 0"
                    >
                        Delete
                    </button>
                    <button
                        class="btn btn-primary"
                        @click="closeModalDeleteStore"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import FormStores from "@/components/admin/form/Stores.vue";
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink";

export default {
    data() {
        return {
            modalDeleteStore: false,
            store_id: "",
            store_code: "",
            store_name: "",
        };
    },
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapState(["loadingSave"]),
        ...mapState("store", {
            store(state) {
                return {
                    data: state.data,
                    selected: state.selected,
                };
            },
        }),
        countRelated() {
            if (this.store.selected != null) {
                let store = this.store.selected;
                parseInt(store.check_in_count) +
                    parseInt(store.inventory_location_count) +
                    parseInt(store.order_count) +
                    parseInt(store.quote_count) +
                    parseInt(store.quote_request_count) +
                    parseInt(store.stock_inventory_count) +
                    parseInt(store.user_count);
            }
            return 0;
        },
    },
    methods: {
        ...mapActions("store", ["postStore", "updateStore", "deleteStore"]),
        submit() {
            this.$refs.formStore.submit();
        },
        closeModalDeleteStore() {
            this.modalDeleteStore = false;
        },
        showModalDeleteStore() {
            this.modalDeleteStore = true;
            this.store_id = this.store.data.store_id;
            this.store_code = this.store.data.store_code;
            this.store_name = this.store.data.store_name;
        },
        removeStore() {
            if (this.countRelated == 0) {
                this.deleteStore(this.store_id).then(() => {
                    this.modalDeleteStore = false;
                    this.$router.push({ name: "settings-locations" });
                });
            }
        },
    },
    components: {
        "app-modal": Modal,
        "app-form-stores": FormStores,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>
<style scoped>
.content-txt {
    color: #e83e8c;
}
</style>
