<template>
    <div>
        <back-link
            :link="{ name: 'settings-terminal' }"
            :title="$route.params.id ? 'Edit Terminal' : 'Add Terminal'"
        />
        <div class="card-default">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <FormTerminal ref="form" />

                    <div class="text-right mt-3">
                        <button class="btn btn-danger" @click="showModalDelete">
                            Delete
                        </button>
                        <button
                            class="btn btn-primary"
                            @click="save"
                            :disabled="isLoading"
                        >
                            <div class="px-2" v-if="isLoading">
                                <b-spinner variant="light" small />
                            </div>
                            <template v-else>Save</template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-modal title="Delete" :show="modalDelete" @hide="hideModalDelete">
            <h6 class="mb-0">Are you sure want to delete this terminal?</h6>
            <template slot="modal-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <button
                        class="btn btn-outline-primary mr-3"
                        :disabled="isDeleteTerminal"
                        @click="hideModalDelete"
                    >
                        Cancel
                    </button>
                    <button
                        class="btn btn-danger"
                        :disabled="isDeleteTerminal"
                        @click="handleDeleteTerminal"
                    >
                        Delete
                    </button>
                </div>
            </template>
        </app-modal>
    </div>
</template>
<script>
import Modal from "@/components/utilities/Modal";
import { mapActions, mapGetters } from "vuex";
import FormTerminal from "@/components/admin/form/Terminal";
import BackLink from "@/components/utilities/BackLink";

export default {
    data: () => ({
        isLoading: false,
        modalDelete: false,
        isDeleteTerminal: false,
    }),
    components: {
        "app-modal": Modal,
        FormTerminal,
        BackLink,
    },
    methods: {
        ...mapActions({
            deleteTerminal: "terminal/deleteTerminal",
        }),
        showModalDelete() {
            this.modalDelete = true;
        },
        hideModalDelete() {
            this.modalDelete = false;
        },
        handleDeleteTerminal() {
            this.isDeleteTerminal = true;
            this.deleteTerminal(this.$route.params.id).then(() => {
                this.isDeleteTerminal = false;
                this.hideModalDelete();
                this.$router.push({ name: "settings-terminal" });
            });
        },
        save() {
            this.isLoading = true;
            this.$refs.form.submit().then(() => {
                this.isLoading = false;
                this.$router.push({ name: "settings-terminal" });
            });
        },
    },
};
</script>
<style lang="scss">
</style>
