<template>
    <div class="card modal-form">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <router-link class="h1 font-weight-300 mb-0" tag="a" :to="{ name:'settings-truck'}">&times;</router-link>
            <h2 class="mb-0" v-if="edit">Edit Truck</h2>
            <h2 class="mb-0" v-else>Create New Truck</h2>
            <div>
                <a href="#" class="btn btn-primary mr-3" @click.prevent="submitForm">Save</a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <app-form-truck ref="truckForm" />
            </div>
        </div>
    </div>
</template>
<script>
    import FormTruck from '@/components/admin/form/Truck.vue'
    import { mapActions, mapState } from 'vuex'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'

    export default {
        data() {
            return {
                modal: {
                    delete: false
                }
            }
        },
        props:{
            edit:{
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('truck', {
                truck(state) {
                    return {
                        data: state.data
                    }
                }
            })
        },
        components: {
            'app-modal': Modal,
            'app-form-truck': FormTruck,
        },
        methods: {
            submitForm() {
                this.$refs.truckForm.submit()
            }
        },
        transition: 'slide'
    }
</script>