<template>
    <div>
        <back-link
            :link="{ name: 'settings-user-permission' }"
            title="Edit User Permission"
        />
        <div class="card-default">
            <b-alert variant="danger" class="mb-4" :show="alert"
                >You must select user first to assign user permission</b-alert
            >
            <div class="form-group mb-5">
                <label for="#" class="font-weight-bold">Assigned To :</label>
                <no-ssr>
                    <v-select
                        multiple
                        v-model="selected"
                        :options="users.data"
                        item-value="fullname"
                        label="fullname"
                    ></v-select>
                </no-ssr>
            </div>
            <label for="#" class="font-weight-bold"
                >Role User Permission :</label
            >
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user-existing-permission"
                                    >Used Existing Permission</label
                                >
                                <select
                                    v-model="role_selected"
                                    class="form-control"
                                    @change="getInactive"
                                >
                                    <option value="">Choose</option>
                                    <option
                                        v-for="(row, index) in roles"
                                        :value="row.id"
                                        :key="index"
                                    >
                                        {{ row.role }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mb-5">
                            <label for="#" class="font-weight-bold"
                                >Feature :</label
                            >
                            <div
                                class="
                                    border
                                    rounded
                                    mb-2
                                    d-flex
                                    align-items-center
                                    p-3
                                "
                                v-for="(item, i) in user_feature"
                                :key="i"
                            >
                                {{ item.parent.name }}
                                <p-check
                                    class="p-switch p-fill ml-auto"
                                    color="success"
                                    v-model="item.status"
                                ></p-check>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <b-card class="outline--blue card-list-menu">
                        <label for="#" class="font-weight-bold mb-4"
                            >Active Menu :</label
                        >
                        <div>
                            <no-ssr>
                                <draggable
                                    class="list-group"
                                    :list="activeMenu"
                                    group="people"
                                    @change="log"
                                    :filter="'.static'"
                                >
                                    <transition-group
                                        type="transition"
                                        name="flip-list"
                                    >
                                        <div
                                            v-for="element in activeMenu"
                                            :key="element.id"
                                            :class="{
                                                static:
                                                    element.name ==
                                                    'Accounting',
                                            }"
                                        >
                                            <div
                                                class="
                                                    list-group-item
                                                    d-flex
                                                    align-items-center
                                                    justify-content-between
                                                "
                                                :class="
                                                    element.name != 'Accounting'
                                                        ? 'outline--blue'
                                                        : 'border'
                                                "
                                            >
                                                <div>
                                                    <i
                                                        class="
                                                            fas
                                                            fa-arrows-alt
                                                            mr-3
                                                        "
                                                        v-if="
                                                            element.name !=
                                                            'Accounting'
                                                        "
                                                    ></i>
                                                    {{ element.name }}
                                                </div>
                                                <div
                                                    class="badge badge-danger"
                                                    v-if="
                                                        element.status == true
                                                    "
                                                >
                                                    Admin
                                                </div>
                                                <div
                                                    class="badge badge-info"
                                                    v-else
                                                >
                                                    Employee
                                                </div>
                                            </div>
                                            <div v-if="element.child != null">
                                                <div
                                                    class="
                                                        ml-5
                                                        list-group-item
                                                        d-flex
                                                        align-items-center
                                                        border
                                                    "
                                                    :class="{
                                                        'inactive-menu':
                                                            childItem.status ==
                                                            true
                                                                ? false
                                                                : true,
                                                        'outline--blue':
                                                            element.name !=
                                                            'Accounting',
                                                    }"
                                                    v-for="(
                                                        childItem, i
                                                    ) in element.child"
                                                    :key="i"
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-arrows-alt
                                                            mr-3
                                                        "
                                                        v-if="
                                                            element.name !=
                                                            'Accounting'
                                                        "
                                                    ></i>
                                                    {{ childItem.name }}
                                                    <p-check
                                                        class="
                                                            p-switch p-fill
                                                            ml-auto
                                                        "
                                                        v-model="
                                                            childItem.status
                                                        "
                                                        color="success"
                                                        :disabled="
                                                            childItem.slug ==
                                                            'accounting-part-report'
                                                        "
                                                    ></p-check>
                                                    <!-- <p-check class="p-switch p-fill ml-auto" v-model="part_order" color="success" v-else disabled></p-check> -->
                                                </div>
                                            </div>
                                        </div>
                                    </transition-group>
                                </draggable>
                            </no-ssr>
                        </div>
                    </b-card>
                </div>
                <div class="col-6">
                    <b-card class="outline--blue card-list-menu">
                        <label for="#" class="font-weight-bold mb-4"
                            >Inactive Menu :</label
                        >
                        <no-ssr>
                            <draggable
                                class="list-group"
                                :list="inactiveMenu"
                                group="people"
                                @change="log"
                            >
                                <transition-group
                                    type="transition"
                                    name="flip-list"
                                >
                                    <div
                                        v-for="element in inactiveMenu"
                                        :key="element.id"
                                    >
                                        <div
                                            class="
                                                list-group-item
                                                outline--blue
                                                d-flex
                                                align-items-center
                                                justify-content-between
                                            "
                                        >
                                            <div>
                                                <i
                                                    class="
                                                        fas
                                                        fa-arrows-alt
                                                        mr-3
                                                    "
                                                ></i>
                                                {{ element.name }}
                                            </div>
                                            <div
                                                class="badge badge-danger"
                                                v-if="element.status == true"
                                            >
                                                Admin
                                            </div>
                                            <div
                                                class="badge badge-info"
                                                v-else
                                            >
                                                Employee
                                            </div>
                                        </div>
                                        <div v-if="element.child != null">
                                            <div
                                                class="
                                                    ml-5
                                                    list-group-item
                                                    outline--blue
                                                    d-flex
                                                    align-items-center
                                                "
                                                v-for="(
                                                    childItem, i
                                                ) in element.child"
                                                :key="i"
                                            >
                                                <i
                                                    class="
                                                        fas
                                                        fa-arrows-alt
                                                        mr-3
                                                    "
                                                ></i>
                                                {{ childItem.name }}
                                                <!-- <p-check class="p-switch p-fill ml-auto" v-model="childItem.active" color="success"></p-check> -->
                                            </div>
                                        </div>
                                    </div>
                                </transition-group>
                            </draggable>
                        </no-ssr>
                    </b-card>
                </div>
                <div class="col-12">
                    <div class="text-right mt-3">
                        <button
                            class="btn btn-outline-danger"
                            @click="showModalReset"
                        >
                            Reset to Default
                        </button>
                        <a
                            href="#"
                            class="btn btn-primary ml-3"
                            @click.prevent="submitForm"
                            :disabled="loadingSave"
                        >
                            <b-spinner small v-if="loadingSave"></b-spinner>
                            <div v-else>Save</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <app-modal
            size="lg"
            title="Reset Default"
            centered
            @hide="closeModalReset"
            v-model="modalReset"
        >
            <template>
                <h5>Are you sure want to reset to default ?</h5>
            </template>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary mr-3" @click="resetDefault">
                        Yes
                    </div>
                    <div class="btn btn-danger" @click="closeModalReset">
                        Cancel
                    </div>
                </div>
            </div>
        </app-modal>
    </div>
</template>
<script>
import Modal from "@/node_modules/bootstrap-vue/es/components/modal/modal";
import BackLink from "@/components/utilities/BackLink";
import draggable from "vuedraggable";
import PrettyCheck from "pretty-checkbox-vue/check";
import { mapState, mapActions, mapMutations } from "vuex";

export default {
    destroyed() {
        this.SET_NAVIGATION_DEFAULT();
    },
    data() {
        return {
            // selected: ['Indra Ardiansah','Jonathon Slyman'],
            // options: ['Indra Ardiansah','Chris Slyman','Jonathon Slyman','Gordon Kassen','Jake Waterkotte','Bob Slyman','Cody Coleman','Darlene Kassan','Derick Foster','Diane Slyman','Ian Moreland','Joe Gibbs','Jon Slyman','Josh Reagan'],
            alert: false,
            modalReset: false,
            selected: [],
            inactiveMenu: [],
            activeMenu: [],
            inactiveFeature: [],
            activeFeature: [],
            role_selected: "",
            part_order: true,
        };
    },
    // created(){
    //     if(this.navigation){
    //         this.activeMenu = this.navigation
    //     }
    // },
    mounted() {
        this.selected = JSON.parse(localStorage.getItem("user_select"));
        this.inactiveFeature = this.feature;
        if (this.selected.length > 1) {
            this.inactiveMenu = this.navigation;
            this.activeMenu = [];
        } else {
            this.inactiveMenu = this.inactive;
            this.activeMenu = this.active;
            this.role_selected = this.selected[0].role_id;
        }
    },
    components: {
        "app-modal": Modal,
        draggable,
        "p-check": PrettyCheck,
        BackLink,
    },
    computed: {
        ...mapState(["loadingSave"]),
        ...mapState("permission", {
            users: (state) => state.users,
            feature: (state) => state.feature,
            user_feature: (state) => state.user_feature,
            navigation: (state) => state.navigation,
            inactive: (state) => state.inactive.inactive,
            active: (state) => state.inactive.active,
        }),
        ...mapState("role", {
            roles: (state) => state.items,
        }),
    },
    watch: {
        selected(val) {
            if (val.length > 1) {
                this.activeMenu = [];
                this.inactiveMenu = this.navigation;
                this.alert = false;
            } else {
                this.inactiveMenu = this.inactive;
                this.activeMenu = this.active;
                this.alert = false;
            }
            if (val.length == 0) {
                this.activeMenu = [];
                this.inactiveMenu = this.navigation;
                this.alert = true;
            }
        },
    },
    methods: {
        ...mapActions("permission", ["postPermission"]),
        ...mapActions("role", ["getMenu"]),
        ...mapMutations("permission", [
            "SET_NAVIGATION_DEFAULT",
            "SET_USER_FEATURE",
        ]),
        changeFeatureStatus(val, item, idx) {
            var feature = this._.clone(this.user_feature);
            feature[idx].status = val;
            this.SET_USER_FEATURE(feature);
        },
        getInactive() {
            this.getMenu(this.role_selected).then((res) => {
                this.inactiveMenu = res.data.inactive;
                this.activeMenu = res.data.active;
                var temp_user_feature = this._.clone(this.user_feature);
                res.data.feature.forEach((val) => {
                    let idx = this._.findIndex(temp_user_feature, (el) => {
                        return el.parent.name == val.name;
                    });
                    temp_user_feature[idx].status = val.status;
                });
            });
        },
        ...mapMutations(["SET_SAVE_LOADING"]),
        submitForm() {
            this.SET_SAVE_LOADING(true);
            this.postPermission({
                features: this.user_feature,
                users: this.selected,
                navigations: this.activeMenu,
                role_id: this.role_selected,
                type_update: "location",
            }).then((res) => {
                this.SET_SAVE_LOADING(false);
                this.$router.push({
                    name: "settings-user-permission",
                });
                this.$auth.fetchUser();
            });
        },
        showModalReset() {
            this.modalReset = true;
        },
        closeModalReset() {
            this.modalReset = false;
        },
        log: function (evt) {
            window.console.log(evt);
            this.role_selected = "";
        },
        resetDefault() {
            this.activeMenu = [];
            this.inactiveMenu = this.navigation;
            this.closeModalReset();
        },
    },
    transition: "slide",
};
</script>
<style>
.list-group span {
    min-height: 1750px;
}
.list-group-item {
    border-radius: 5px !important;
    margin-bottom: 8px !important;
    cursor: move;
}
.list-group-item:hover {
    cursor: move;
}
.list-group-item {
    transition: all 0.3s ease;
}
.inactive-menu {
    border-color: #ddd !important;
    color: #ddd;
}
.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
</style>
