<template>
    <div>
        <back-link
            :link="{ name: 'settings-warranties' }"
            :title="edit ? 'Edit Warranties' : 'New Warranties'"
        />
        <div class="card-default">
            <app-form-warranties ref="warrantyForm" />

            <div class="text-right mt-3">
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    :disabled="loadingSave"
                    @click="submitForm"
                >
                    <span class="mx-2" v-if="loadingSave">
                        <b-spinner small variant="light" />
                    </span>
                    <span v-else>Save</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import FormWarranties from "@/components/admin/form/Warranties.vue";
import { mapActions, mapState } from "vuex";
import BackLink from "@/components/utilities/BackLink";

export default {
    props: {
        edit: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        ...mapState("warranty", {
            warranty(state) {
                return {
                    data: state.data,
                };
            },
        }),
        ...mapState(["loadingSave"]),
    },
    methods: {
        ...mapActions("warranty", ["postWarranty", "putWarranty"]),
        submitForm() {
            this.$refs.warrantyForm.submit();
            // if (typeof this.$route.params.id == 'undefined') {
            //     this.postWarranty().then(() => {
            //         this.$router.push({
            //             name: 'admin-settings-warranties'
            //         })
            //     })
            // } else {
            //     this.putWarranty().then(() => {
            //         this.$router.push({
            //             name: 'admin-settings-warranties'
            //         })
            //     })
            // }
        },
    },
    components: {
        "app-form-warranties": FormWarranties,
        "back-link": BackLink,
    },
    transition: "slide",
};
</script>

