<template>
    <div>
        <h3 class="font-weight-600 mb-4">Terminal</h3>
        <div class="d-flex align-items-center">
            <no-ssr>
                <app-select
                    class="mr-auto"
                    v-model="store_selected"
                    v-width="'250px'"
                    :options="stores"
                    :show-labels="false"
                    placeholder="Select Location"
                    label="store_name"
                    track-by="store_id"
                    :preselect-first="false"
                    @input="fetchTerminal"
                />
            </no-ssr>
            <button class="btn btn-outline-primary mr-3" @click="resetFilter">
                Reset Filter
            </button>
            <nuxt-link
                tag="a"
                :to="{ name: 'settings-terminal-create' }"
                class="btn btn-primary"
                >Add New Terminal</nuxt-link
            >
        </div>
        <TerminalTable
            class="mt-4"
            @changePerpage="setPerPage"
            @changePage="setPage"
        />
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Select from "vue-multiselect";
import TerminalTable from "@/components/admin/table/Terminal";
export default {
    name: "TerminalList",
    layout: "admin",
    transition: "slide",
    components: {
        "app-select": Select,
        TerminalTable,
    },
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch("store/getStores", "all"),
            store.dispatch("terminal/getTerminals", {
                perpage: 10,
                page: 1,
                store_id: null,
            }),
        ]);
    },
    data: () => ({
        store_selected: null,
        perpage: 10,
        page: 1,
    }),
    computed: {
        ...mapState("store", {
            stores: (state) => state.items,
        }),
    },
    methods: {
        ...mapActions({
            getTerminals: "terminal/getTerminals",
        }),
        setPerPage(val) {
            this.perpage = val;
            this.fetchTerminal();
        },
        setPage(val) {
            this.page = val;
            this.fetchTerminal();
        },
        fetchTerminal() {
            this.getTerminals({
                store_id: this.store_selected
                    ? this.store_selected.store_id
                    : null,
                page: this.page,
                perpage: this.perpage,
            });
        },
        resetFilter() {
            this.store_selected = null;
            this.fetchTerminal();
        },
    },
};
</script>

<style>
</style>
