<template>
    <section>
        <app-table-quote class="mt-3" @set-perpage="setPerpage" :search="search"/>
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableQuote from '@/components/table/QuoteRequest.vue'

    export default {
        destroyed(){
            this.$emit('clear-search')
        },
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('quoteRequest/getRequestQuotes', {
                    page: 1,
                    perpage: 10,
                    type: 'assigned'
                })
            ])
            return
        },
        data() {
            return {
                // search: null,
                action: false,
                perpage: 10
            }
        },
        props: {
            search: {
                type: String
            }
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_SELECTED'
            ]),
            ...mapMutations('quote', [
                'SET_QUOTE_PAGE'
            ]),
            ...mapActions('quote', [
                'getRequestQuotes'
            ]),
            getPage(val) {
                this.page = val
            },
            setPerpage(value){
                this.perpage = value
            }
        },
        components: {
            'app-table-quote': TableQuote,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>