<template>
    <div>
        <h3 class="font-weight-600 mb-0">Part Report</h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
               <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date" v-width="'215px'" @input="getData">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
                <div class="form-group mb-0 ml-3">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'200px'" placeholder="Search Part" @input="searchPart">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="viewPdf">Export PDF</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn mr-3 btn-outline-primary" @click.prevent="getCsv">Export CSV</button>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <app-table-warranty/>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableWarrantyReport from '@/components/admin/table/PartReport.vue'
    import _ from 'lodash'
     
    import Select from 'vue-multiselect'
    import PrettyCheck from 'pretty-checkbox-vue/check'

    let printJs;
    if (process.client) {
        printJs = require('print-js')
    }

     ;

    export default {
        async asyncData ({ store, route }) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            await Promise.all([
                store.dispatch('accounting/getPartReport',{
                    start: new Date(),
                    end: new Date(),
                    search: ''
                }),
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers'),
            ])
        },
        data() {
            return {
                search: null,
                // delivery_method: '',
                date: {
                    start: new Date(),
                    end: new Date()
                },
                // date: null,
                sales_selected:'',
                // brand_selected : [],
                store_selected:'',
                isLoading2: false,
                delivered_only: false
            }
        },
        computed: {
            ...mapState('accounting', {
                pdfUrl: state => state.pdfUrl,
                item: state => state.item_part_report,
            }),
            ...mapState('store', {
                sales_person: state => state.sales_person,
                stores : state => state.items
            }),
            // ...mapState('brand', {
            //     brands: state => state.brands
            // }),
            ...mapState('deliveryMethod', {
                deliveries: state => state.items
            }),
        },
        methods: {
            ...mapActions('accounting', ['getPartReport']),
            ...mapActions('accounting', ['getPDF','getCSV','downloadCSV']),
            // ...mapActions('brand',['getBrands']),
            ...mapMutations(['SET_LOADING_TABLE']),

            // searchChange: _.debounce(function(event){
            //     this.isLoading2 = true
            //     this.getBrands(event).then( () =>{
            //         this.isLoading2 = false
            //     }) 
            // }, 300),
            searchPart: _.debounce(function() {
                this.getData()
            }, 500),
            getData(){
                this.SET_LOADING_TABLE(true)
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getPartReport({
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only,
                    // delivery_method_id: delivery_method_id, 
                    search: this.search,
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            resetFilter() {
                this.date = {
                    start: new Date(),
                    end: new Date()
                },
                this.store_selected = ''
                this.sales_selected = ''
                this.delivered_only = false
                this.search = null
                this.getData()
            },
            // searchAction: _.debounce(function(e){
            //     if(this.search != null){
            //         this.getData()
            //     }
            // }, 500),
            viewPdf() {
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getPDF({ 
                    type: 'part-report',
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only
                })
                .then((res) => {
                    printJs({ printable: this.pdfUrl, type: 'pdf', showModal: true, onPdfOpen: true })
                })
            },
            getCsv(){
                let sales_person = this.sales_selected ? this.sales_selected.user_id : ''
                let store = this.store_selected ? this.store_selected.store_id : ''
                this.getCSV({ 
                    type: 'part-report', 
                    start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                    end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    store: store,
                    sales_person: sales_person,
                    delivered_only : this.delivered_only
                })
                .then((res) => {
                    this.downloadCSV({
                        url: this.pdfUrl,
                        start: this.date ? this.moment(this.date.start).format('Y-MM-DD') : null,
                        end: this.date ?  this.moment(this.date.end).format('Y-MM-DD') : null,
                    })
                })
            },

        },
        components: {
            'app-table-warranty': TableWarrantyReport,
            'app-select': Select,
            'p-check': PrettyCheck,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>