<template>
    <section>
        <app-table-appointment class="mt-3" @set-perpage="setPerpage" :search="search"/>
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableAppointment from '@/components/table/Appointment.vue'

    export default {
        async asyncData ({ store, app }) {
            await Promise.all([
                store.dispatch('appointment/getAppointment', {
                    page: 1,
                    perpage: 10,
                    search: '',
                    method: 'phone'
                }),
                store.dispatch('salesPerson/getSalesPersons')
            ])
            return
        },
        data() {
            return {
                search: null,
                perpage: 10
            }
        },
        methods: {
            ...mapMutations('appointment', [
                'SET_PAGE'
            ]),
            setPerpage(value){
                this.perpage = value
            },
        },
        components: {
            'app-table-appointment': TableAppointment,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>