<template>
    <div>
        <b-tabs class="mb-4">
            <b-tab title="Pending" @click="$router.push({name:'inventory-index-returned-inventory-index-pending'})" :active="$route.name == 'inventory-index-returned-inventory-index-pending'"></b-tab>
            <b-tab title="Resolved" @click="$router.push({name:'inventory-index-returned-inventory-index-resolved'})" :active="$route.name == 'inventory-index-returned-inventory-index-resolved'"></b-tab>
        </b-tabs>
        <NuxtChild />
    </div>
</template>

<script>
export default {
    transition: 'slide'
}
</script>

<style>

</style>