<template>
    <app-modal-employee />
</template>

<script>
import ModalEmployee from "@/components/admin/modal/Employee";

export default {
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch("store/getStores"),
            store.dispatch("role/getRoles"),
            store.dispatch("permission/getNavigation"),
        ]);
    },
    components: {
        "app-modal-employee": ModalEmployee,
    },
    transition: "slide",
    layout: "admin",
};
</script>
