<template>
    <section>
        <admin-table-employee class="mt-3" :query="query" @set-perpage="setPerpage" ref="table"/>
    </section>
</template>
<script>
    import AdminTableEmployee from '@/components/admin/table/EmployeeAccess.vue'
    import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
    import { mapActions, mapState, mapMutations } from 'vuex'
    import _ from 'lodash'

    export default {
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('employee/getEmployees', {
                    page: 1,
                    status: 'active',
                    search: ''
                })
            ])
            return
        },
        data() {
            return {
                action: false,
                modalInvite: false,
                email: '',
                query: '',
                perpage: 10
            }
        },
        methods: {
            ...mapMutations('employee', ['SET_EMPLOYEE_PAGE']),
            setPerpage(val){
                this.perpage = val
            }
        },
        destroyed() {
            this.$emit('clear-search')
            this.SET_EMPLOYEE_PAGE(1)
        },
        components:{
            'admin-table-employee': AdminTableEmployee,
            'app-modal': Modal,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

