<template>
    <div>
        <app-notification-subcription v-bind="{
                title: 'Subscribe to Damage Allowance Report Notifications',
                description:
                    subscription.status === 1
                    ? 'You are currently subscribed to notifications for this page, to unsubscribe, click button Unsubscribe below.'
                    : 'Subscribing to notifications for this page will include you in an Automated Email Notification each time a new entry is created on this page. To turn these off simply return to this page',
                subcribeText: subscription.status === 1 ? 'Unsubscribe': 'Subscribe Now',
                status: subscription.status,
                type: 'Damage Allowance Report'
            }"
        />

        <h3 class="font-weight-600 mb-0">Damage Allowance Report</h3>
        <div class="d-flex align-items-center my-3">
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr
                            ><app-datepicker
                                mode="range"
                                v-model="date"
                                @input="getData"
                            >
                                <template
                                    :type="inputState.type"
                                    slot-scope="{ inputValue }"
                                >
                                    <div class="icon icon-right">
                                        <input
                                            type="text"
                                            placeholder="Select Date"
                                            id="date"
                                            class="form-control form-icon"
                                            :value="inputValue"
                                            readonly
                                        />
                                        <i
                                            class="
                                                far
                                                fa-calendar-alt
                                                text-primary
                                            "
                                        ></i>
                                    </div>
                                </template> </app-datepicker
                        ></no-ssr>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <no-ssr
                        ><app-select
                            v-model="driver_selected"
                            v-width="'250px'"
                            :options="drivers"
                            :close-on-select="true"
                            :hide-selected="true"
                            :preserve-search="true"
                            :select-label="'Select'"
                            placeholder="Drivers"
                            label="name"
                            track-by="id"
                            :preselect-first="false"
                            @input="getData"
                        >
                        </app-select
                    ></no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <div class="d-flex">
                    <div class="flex-row">
                        <button
                            class="btn mr-3 btn-outline-primary"
                            @click.prevent="viewPdf"
                        >
                            Export PDF
                        </button>
                    </div>
                    <div class="flex-row">
                        <button
                            class="btn mr-3 btn-outline-primary"
                            @click.prevent="getCsv"
                        >
                            Export CSV
                        </button>
                    </div>
                    <div class="flex-row">
                        <button
                            class="btn btn-primary"
                            @click.prevent="resetFilter"
                        >
                            Reset Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <b-tabs>
            <b-tab
                title="Open"
                @click="
                    changeTab(1);
                    $router.push({
                        name: 'reports-damage-allowance-report-index-open',
                    });
                "
                :active="
                    $route.name ==
                    'reports-damage-allowance-report-index-open'
                "
            ></b-tab>
            <b-tab
                title="Resolved"
                @click="
                    changeTab(2);
                    $router.push({
                        name: 'reports-damage-allowance-report-index-resolved',
                    });
                "
                :active="
                    $route.name ==
                    'reports-damage-allowance-report-index-resolved'
                "
            ></b-tab>
        </b-tabs>
        <div class="mt-3">
            <NuxtChild
                ref="child"
                @resetFilter="resetFilter"
                @getData="getData"
                @page="setPage"
                @perpage="setPerPage"
            />
        </div>
    </div>
</template>

<script>

// Packages
import { mapState, mapMutations, mapActions } from "vuex";
import Select from "vue-multiselect";
import PrettyCheck from "pretty-checkbox-vue/check";

// Components
import NotificationSubcription from '@/components/NotificationSubcription.vue'

let printJs;
if (process.client) {
    printJs = require("print-js");
}

export default {
    name: "DamageAllowanceReportIndex",
    data() {
        return {
            date: {
                start: null,
                end: null,
            },
            driver_selected: "",
            isLoading2: false,
            status: 1,
            perpage: 10,
            page: 1,
        };
    },
    async fetch({ store, route }) {
        const status =
            route.name === "accounting-damage-allowance-report-index-resolved"
                ? 2
                : 1;

        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        if (dd < 10) {
            dd = "0" + dd;
        }

        if (mm < 10) {
            mm = "0" + mm;
        }
        await Promise.all([
            store.dispatch("accounting/getDamageAllowanceReport", {
                // start: today,
                // end: today,
                status: status,
            }),
            store.dispatch("driver/getDrivers"),
            store.dispatch("userSetting/getSubcriptions"),
        ]);
    },
    computed: {
        ...mapState("accounting", {
            pdfUrl: (state) => state.pdfUrl,
            item: (state) => state.item_damage_allowance_report,
        }),
        ...mapState("driver", {
            drivers: (state) => state.drivers,
        }),
        ...mapState("userSetting", {
            subscription: (state) => state.userSettingNotifications.find((userSettingNotification) => userSettingNotification.name === 'Damage Allowance Report'),
        }),
    },
    methods: {
        ...mapActions("accounting", ["getDamageAllowanceReport"]),
        ...mapActions("accounting", ["getPDF", "getCSV", "downloadCSV"]),
        // ...mapActions('brand',['getBrands']),
        ...mapMutations(["SET_LOADING_TABLE"]),

        // searchChange: _.debounce(function(event){
        //     this.isLoading2 = true
        //     this.getBrands(event).then( () =>{
        //         this.isLoading2 = false
        //     })
        // }, 300),
        async changeTab(status) {
            this.status = status;
            // this.perpage = 10
            this.page = 1

            await this.getData();
        },
        setPage(value){
            this.page = value
            this.getData()
        },
        setPerPage(value){
            console.log('accepted')
            this.perpage = value
            this.getData()
        },
        getData() {
            this.SET_LOADING_TABLE(true);
            const driver = this.driver_selected ? this.driver_selected.id : "";
            this.getDamageAllowanceReport({
                start: this.date && this.date.start
                    ? this.moment(this.date.start).format("Y-MM-DD")
                    : null,
                end: this.date && this.date.end
                    ? this.moment(this.date.end).format("Y-MM-DD")
                    : null,
                driver_id: driver,
                perpage: this.perpage,
                page: this.page,
                with_paginate: true,
                status: this.status,
            }).then(() => {
                this.SET_LOADING_TABLE(false);
            });
        },
        resetFilter() {
            this.page = 1
            // this.perpage = 10
            this.date = {
                start: null,
                end: null,
            }
            this.driver_selected = ""
            this.getData();
        },
        // searchAction: _.debounce(function(e){
        //     if(this.search != null){
        //         this.getData()
        //     }
        // }, 500),
        viewPdf() {
            let driver = this.driver_selected ? this.driver_selected.id : "";
            this.getPDF({
                type: "damage-allowance-report",
                start: this.date
                    ? this.moment(this.date.start).format("Y-MM-DD")
                    : null,
                end: this.date
                    ? this.moment(this.date.end).format("Y-MM-DD")
                    : null,
                driver_id: driver,
                status: this.status,
            }).then((res) => {
                printJs({
                    printable: this.pdfUrl,
                    type: "pdf",
                    showModal: true,
                    onPdfOpen: true,
                });
            });
        },
        getCsv() {
            let driver = this.driver_selected ? this.driver_selected.id : "";
            this.getCSV({
                type: "damage-allowance-report",
                start: this.date
                    ? this.moment(this.date.start).format("Y-MM-DD")
                    : null,
                end: this.date
                    ? this.moment(this.date.end).format("Y-MM-DD")
                    : null,
                driver_id: driver,
                status: this.status,
            }).then((res) => {
                this.downloadCSV({
                    url: this.pdfUrl,
                    start: this.date
                        ? this.moment(this.date.start).format("Y-MM-DD")
                        : null,
                    end: this.date
                        ? this.moment(this.date.end).format("Y-MM-DD")
                        : null,
                });
            });
        },
    },
    created() {
        if (this.$route.name === 'reports-damage-allowance-report') {
            this.$router.push({
                name: 'reports-damage-allowance-report-index-open',
            })
        }
    },
    components: {
        "app-select": Select,
        "p-check": PrettyCheck,
        'app-notification-subcription': NotificationSubcription,
    },
    transition: "slide",
    layout: "admin",
};
</script>
