<template>
    <div>
        <div class="form-group">
            <div class="icon icon-left">
                <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search" @input="handleInputSearch">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <TableReturned @changePerpage="changePerpage" @changePage="changePage" />
    </div>
</template>

<script>
import TableReturned from '@/components/admin/table/ReturnedInventory'
import _ from 'lodash'
import {mapActions} from 'vuex'
export default {
    transition: 'slide',
    components: {
        TableReturned
    },
    async asyncData({store}){
        await store.dispatch('inventory/getReturnedInventoryResolved', {search: '', page: 1, perpage: 10})
    },
    data: () => ({
        search: '',
        page: 1,
        perpage: 10
    }),
    methods: {
        ...mapActions({
            getReturnedInventoryResolved: 'inventory/getReturnedInventoryResolved'
        }),
        handleInputSearch: _.debounce(function(){
            this.page = 1
            this.fetchReturned()
        }, 500),
        changePerpage(value){
            this.page = 1
            this.perpage = value
            this.fetchReturned()
        },
        changePage(value){
            this.page = value
            this.fetchReturned()
        },
        fetchReturned(){
            this.getReturnedInventoryResolved({
                page: this.page,
                perpage: this.perpage,
                search: this.search
            })
        }
    }
}
</script>

<style>

</style>