<template>
    <div>
        <BackLink :link="historyRouteOrder" title="My Orders" />
        <app-form-order :data="order.data" :edit="true"/>
        <app-modal title="Leave Page?" centered v-model="showModal">
            <p class="m-3">Are you sure? You haven't finished your order yet. Do you want to leave without saving data?.</p>
            <div slot="modal-footer" class="w-100">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-outline-primary mr-3" @click="destroyOrder">Leave Page</div>
                    <div class="btn btn-danger" @click="showModal = false">Cancel</div>
                </div>
            </div>
        </app-modal>
    </div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import BackLink from '@/components/utilities/BackLink'
import Modal from '@/node_modules/bootstrap-vue/es/components/modal/modal'
import FormOrder from '@/components/form/Order'

export default {
    async fetch({ store, route, app }) {
        await Promise.all([
            store.dispatch('order/getOrder', route.params.id)
            .then((response) => {
                store.commit('customer/SET_CUSTOMER_SELECTED', response.customer)
                store.commit('salesPerson/SET_SALES_PERSON_SELECTED', response.sales_person)
            }),
            store.dispatch('order/getSubOrder', route.params.id),
            store.dispatch('order/getParts', route.params.id),
            store.dispatch('order/getDamage', route.params.id),
            store.dispatch('order/getProductDamage', route.params.id),
            store.dispatch('customer/getCustomers'),
            store.dispatch('salesPerson/getSalesPersons', { type: true, store_id: app.$auth.$state.user.default_store }),
            store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
            store.dispatch('store/getStores', 'all'),
            store.dispatch('province/getProvinces'),
            store.dispatch('driver/getDrivers'),
            store.dispatch('inventory/getConditions'),
            store.dispatch('deliveryMethod/getDeliveryMethods', {type : "all"}),
        ])
        store.commit('install/SET_INSTALL_FIELDS', [
            {
                key: 'install_name',
                label: 'Name'
            },
            {
                key: 'install_price',
                label: 'Price'
            }
        ])
        store.commit('warranty/SET_WARRANTY_FIELDS', [
            {
                key: 'name',
                label: 'Warranty Name'
            },
            {
                key: 'price',
                label: 'Warranty Price'
            },
        ])
    },
    data() {
        return {
            showModal: false,
            isLeave: false,
            routeOrder: null,
            historyRouteOrder: {
                name: 'index'
            }
        }
    },
    beforeRouteLeave(to, from, next) {
        let index = this._.findIndex(this.order.detailData, function(o) {
            return o.product == null && o.description.name == null
        })
        if (this.order.detailData.length == 0 || (this.order.detailData.length == 1 && index == 0)) {
            this.showModal = true
            if (this.isLeave) {
                next()
            }
            next(false)
        } 
        else {
            next()
        }
    },
    destroyed(){
        this.SET_CUSTOMER_TABLE_DEFAULT()
        this.SET_CUSTOMER_ERRORS(null)
        this.SET_INSTALL_TABLE_DEFAULT()
        this.SET_INSTALL_FIELDS_DEFAULT()
        this.SET_WARRANTY_TABLE_DEFAULT()
        this.SET_WARRANTY_FIELDS_DEFAULT()
        this.SET_INSTALL_SELECTED_DEFAULT()
        this.SET_WARRANTY_SELECTED_DEFAULT()
    },
    computed: {
         ...mapState('order', {
            order(state) {
                return {
                    data: state.data,
                    detailData: state.detailData
                }
            }
        })
    },
    beforeRouteEnter(to, from, next){
        next( vm =>{
            vm.SET_LOADING_PAYMENT(false)
            next()
        })
    },
    mounted(){
        this.backRoute()
    },
    methods: {
        ...mapActions('order', ['deleteOrder']),
        ...mapMutations('order', [
            'SET_ORDER_DATA_DEFAULT'
        ]),
        ...mapMutations('customer', [
            'SET_CUSTOMER_TABLE_DEFAULT',
            'SET_CUSTOMER_ERRORS',
        ]),
        ...mapMutations([
            'SET_LOADING_PAYMENT'
        ]),
        ...mapMutations('salesPerson', [
            'SET_SALES_PERSON_TABLE_DEFAULT',
        ]),
        ...mapMutations('install', [
            'SET_INSTALL_TABLE_DEFAULT',
            'SET_INSTALL_FIELDS_DEFAULT',
            'SET_INSTALL_SELECTED_DEFAULT'
        ]),
        ...mapMutations('warranty', [
            'SET_WARRANTY_TABLE_DEFAULT',
            'SET_WARRANTY_FIELDS_DEFAULT',
            'SET_WARRANTY_SELECTED_DEFAULT'
        ]),
        destroyOrder() {
            this.deleteOrder(this.$route.params.id).then(() => {
                this.isLeave = true
                this.$router.push({ name: 'order-open' })
            })
        },
        getHistoryOrder(){
            return new Promise((resolve, reject) =>{
                this.routeOrder = localStorage.getItem('history-route-order')
                resolve()
            })
        },
        backRoute(){
            this.getHistoryOrder()
            .then(() => {
                if(this.routeOrder){
                    if(this.routeOrder.includes('product-search-id')) this.historyRouteOrder = JSON.parse(this.routeOrder)
                    else if(this.routeOrder.includes('/customers/detail')) this.historyRouteOrder = {path: this.routeOrder}
                    else this.historyRouteOrder = {name: this.routeOrder}
                }else{
                    this.historyRouteOrder = {name: 'index'}
                }
            })
        }
    },
    components: {
        'app-modal': Modal,
        'app-form-order': FormOrder,
        BackLink

    },
    transition: 'slide',
    layout: 'admin'
}
</script>