<template>
    <section>
        <app-table-quote class="mt-3" @set-perpage="setPerpage" :search="search"/>
    </section>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import TableQuote from '@/components/table/Quotes.vue'

    export default {
        async asyncData ({ store }) {
            await Promise.all([
                store.dispatch('quote/getQuotes', {
                    page: 1,
                    type: 'expired',
                    perpage: 10
                })
            ]) 
            return
        },
        destroyed() {
            this.$emit('clear-search')
            this.SET_ORDER_SELECTED(null)
        },
        data() {
            return {
                search: null,
                action: false,
                perpage: 10
            }
        },
        methods: {
            ...mapMutations(['SET_LOADING_TAB']),
            ...mapMutations('order', [
                'SET_ORDER_SELECTED'
            ]),
            ...mapMutations('quote', [
                'SET_QUOTE_PAGE'
            ]),
            ...mapActions('quote', [
                'getQuotes'
            ]),
            getPage(val) {
                this.page = val
            },
            setPerpage(value){
                this.perpage = value
            },
        },
        components: {
            'app-table-quote': TableQuote,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>