<template>
    <app-modal-kitchen edit />
</template>

<script>
import ModalKitchen from "@/components/modal/KitchenUploads";

export default {
    name: "EditKitchenUpload",
    transition: "slide",
    layout: "admin",
    async asyncData({ store, route }) {
        if (typeof route.params.id != "undefined") {
            await store.dispatch(
                "kitchenUploads/getKitchenUpload",
                route.params.id
            );
            await store.dispatch("product/getListProduct", "");
        }
        return;
    },
    components: {
        "app-modal-kitchen": ModalKitchen,
    },
};
</script>
