<template>
    <section>
        <admin-table-order class="mt-3" @set-perpage="setPerpage" :date="filter.date" :location="filter.store_selected" :sales="filter.sales_selected" ref="table" @getData="getSortedData"></admin-table-order>
    </section>
</template>
<script>
    import AdminTableOrder from '@/components/admin/table/Order.vue'
     
    import { mapActions, mapState, mapMutations } from 'vuex'
    import Select from 'vue-multiselect'
    import moment from 'moment'
    export default {
        // destroyed(){
        //     this.$emit('clear-search')
        // },
        async asyncData({store}) {
            let filter = store.state.order.filter
            let from = filter.date ? moment(filter.date.start).format('Y-MM-DD'):''
            let to = filter.date ? moment(filter.date.end).format('Y-MM-DD'):''
            await Promise.all([
                store.dispatch('order/getOrderFeed', {
                    page: store.state.order.page,
                    location: filter.store_selected,
                    sales: filter.sales_selected,
                    from: from || '',
                    to: to || '',
                    status: '',
                    sort: true,
                    house_deal: false,
                    perpage: 10,
                    has_reserved: filter.has_reserved,
                    has_no_tag: filter.has_no_tag,
                    delivery_method: filter.delivery_method
                })
            ])
        },
        data() {
            return {
                action: false,
                // date: null,
                location: '',
                sales: '',
                sales_selected:'',
                stores: [],
                store_selected:'',
                perpage: 10,
                sort: true
            }
        },
        props: {
            house_deal: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            ...mapState('store', {
                sales_person: state => state.sales_person
            }),
            ...mapState('order',{
                filter : state => state.filter
            }),
        },
        watch: {
            date: {
                handler: function(newValue) {
                    if(this.$refs.table.page == 1){
                        this.generateOrderFeed()
                    }
                    this.SET_ORDER_PAGE(1)
                },
                deep: true
            },
            sales() {
                if(this.$refs.table.page == 1){
                    this.generateOrderFeed()
                }
                this.SET_ORDER_PAGE(1)
            }, 
            location() {
                if(this.$refs.table.page == 1){
                    this.generateOrderFeed()
                }
                this.SET_ORDER_PAGE(1)
            }
        },
        methods: {
            ...mapMutations(['SET_LOADING_TAB']),
            ...mapActions('order', ['getOrderFeed']),
            ...mapMutations('order', [
                'SET_ORDER_PAGE'
            ]),
            generateOrderFeed() {
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
                this.getOrderFeed({ 
                    from: start,
                    to: end, 
                    location: this.location, 
                    sales: this.sales,
                    perpage: this.perpage,
                    status: '',
                    house_deal: this.house_deal,
                    has_reserved: this.filter.has_reserved,
                    has_no_tag: this.filter.has_no_tag,
                    delivery_method: this.filter.delivery_method,
                    sort: this.sort
                })
            },
            getSortedData(value){
                this.$emit('getData', value)
                this.sort = value
            },
            setPerpage(val){
                this.perpage = val
            },
            showAction(){
                this.action = true;
            },
            fillterSales(){
                this.sales = this.sales_selected.user_id
            },
            fillterStore(){
                this.location = this.store_selected.store_id
            },
            resetFilter() {
                this.date = null
                this.location = ''
                this.sales = ''
                this.sales_selected = null,
                this.store_selected = null
            }
        },
        components:{
            'admin-table-order': AdminTableOrder,
            'app-select': Select
        },
        transition: 'slide',
        layout: 'admin',
        beforeRouteLeave (to, from, next) {
            if(to.name != "my-orders-edit-id"){
                this.SET_ORDER_PAGE(1)
            }
            next()
        },
    }
</script>
<style scoped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>