<template>
    <section>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="font-weight-600 mb-0">My Orders</h3>
        </div>
        <div class="d-flex align-items-center mt-3">
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <input type="text" class="form-control form-icon" v-model="search" v-width="'250px'" placeholder="Search Orders">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <no-ssr>
                        <app-select
                            v-model="type"
                            :options="typeOptions"
                            v-width="'250px'"
                            :close-on-select="true"
                            :preserve-search="true"
                            :show-labels="false"
                            placeholder="Select Type"
                            label="name"
                            track-by="id"
                            :preselect-first="false"
                        />
                    </no-ssr>
                </div>
            </div>
            <button class="btn btn-circle btn-sm p-2 ml-3 text-white" :class="is_house_deal ? 'btn-success' : 'btn-secondary'" v-b-tooltip.hover title="House Deal"  @click="is_house_deal = !is_house_deal"><i class="fas fa-home fa-lg"></i></button>
            <!-- <p-check class="p-switch p-fill ml-3" v-model="has_reserved" color="primary" @change="handleChangeReserved">Reserved Stock</p-check>
            <p-check class="p-switch p-fill" v-model="has_no_tag" color="primary" @change="handleChangeReserved">No Tag</p-check> -->
            <!-- <div class="d-flex flex-row align-items-center">
                <nuxt-link tag="a" class="btn btn-primary" :to="{ name: 'my-orders-create' }">Create an Order</nuxt-link>
            </div> -->
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="All" @click="$router.push({ name : 'my-orders-index-all'})" :active="$route.name == 'my-orders-index-all'"></b-tab>
                <b-tab title="Schedule Delivery" @click="$router.push({ name : 'my-orders-index-schedule-delivery'})" :active="$route.name == 'my-orders-index-schedule-delivery'"></b-tab>
                <b-tab title="Pending Delivery" @click="$router.push({ name : 'my-orders-index-pending-delivery'})" :active="$route.name == 'my-orders-index-pending-delivery'"></b-tab>
                <b-tab title="Delivered" @click="$router.push({ name : 'my-orders-index-delivered'})" :active="$route.name == 'my-orders-index-delivered'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild @clear-search="clearSearch" :search="search" :start="date ? date.start : null" :end="date ? date.end : null" />
    </section>
</template>

<script>
    import {mapState, mapMutations, mapActions } from 'vuex'
    import PrettyCheck from 'pretty-checkbox-vue/check'
    import Select from 'vue-multiselect'
    import _ from 'lodash'

    export default {
        data() {
            return {
                date: null,
                search: null,
                type: null,
                action: false,
                typeOptions: [
                    {
                        id : 1,
                        name : 'Not Yet Requested'
                    },
                    {
                        id : 2,
                        name : 'Requested'
                    },
                    {
                        id : 3,
                        name : 'On Order'
                    },
                    {
                        id : 4,
                        name : 'In Stock & Reserved'
                    }
                ],
                perpage: 10,
                is_house_deal: false,
                has_reserved: false,
                has_no_tag: false
            }
        },
        computed: {
            status(){
                if(this.$route.name == 'my-orders-index-all'){
                    return ''
                }else if(this.$route.name == 'my-orders-index-schedule-delivery'){
                    return 'open'
                }else if(this.$route.name == 'my-orders-index-pending-delivery'){
                    return 'completed'
                }else{
                    return 'closed'
                }
            },
            ...mapState('order', {
                page: state => state.page
            })
        },
        methods: {
            ...mapMutations('order', [
                'SET_ORDER_PAGE',
                'SET_ORDER_FILTER'
            ]),
            ...mapMutations(['SET_LOADING_TABLE']),
            ...mapActions('order', [
                'getOrders'
            ]),
            clearSearch(){
                this.search = null
                this.date = null
            },
            searchAction: _.debounce(function(e){
                if(this.search != null){
                    this.getResponse()
                }
            }, 800),
            handleChangeReserved(){
                this.SET_ORDER_FILTER({ has_reserved: this.has_reserved, has_no_tag: this.has_no_tag })
                this.getResponse()
            },
            getResponse(){
                this.SET_ORDER_PAGE(1)
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
                this.getOrders({
                    search: this.search,
                    status: this.status,
                    perpage: this.perpage,
                    start: start,
                    end: end,
                    type: this.type ? this.type.id : null,
                    house_deal:this.is_house_deal,
                    has_reserved : this.has_reserved,
                    has_no_tag: this.has_no_tag,
                    page: this.page
                })
            }
        },
        watch: {
            search(){
                this.searchAction()
            },
            date(){
                this.getResponse()
            },
            type(){
                this.getResponse()
            },
            is_house_deal(){
                this.getResponse()
            }
        },
        components:{
            'p-check': PrettyCheck,
            'app-select': Select,
        },
        transition: 'slide',
        layout: 'admin'
    }
</script>
