<template>
    <div>
        <app-modal-product-setting />
    </div>
</template>

<script>
    import ModalProductSetting from '@/components/admin/modal/SettingProduct.vue'

    export default {
        async asyncData({ store, route}){
            return await store.dispatch('product/getProductSetting')
        },
        components: {
            'app-modal-product-setting': ModalProductSetting,
        },
        transition: 'slide',
    }
</script>