<template>
    <div>
        <app-modal-truck />
    </div>
</template>

<script>
    import ModalTruck from '@/components/admin/modal/Truck.vue'

    export default {
        components: {
            'app-modal-truck': ModalTruck,
        },
        transition: 'slide',
    }
</script>