<template>
    <section>
        <h3 class="font-weight-600 mb-0">
            <span v-if="$route.name == 'quotes-index-active'">Active</span><span v-else>Expired</span> Quotes Feed
        </h3>
        <div class="d-flex align-items-center mt-3">
           <div class="d-flex flex-row mr-3">
                <div class="form-group mb-0">
                    <div class="icon icon-left">
                        <no-ssr><app-datepicker mode="range" v-model="date">
                            <template :type='inputState.type' slot-scope='{ inputValue }'>
                                <div class="icon icon-right">
                                    <input type="text" placeholder="Select Date" id="date" class="form-control form-icon" :value='inputValue' readonly>
                                    <i class="far fa-calendar-alt text-primary"></i>
                                </div>
                            </template>
                        </app-datepicker></no-ssr>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group mb-0 mr-3">
                    <no-ssr><app-select
                        v-model="sales_selected" 
                        v-width="'230px'"
                        :options="sales_person" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Sales Person" 
                        label="fullname" 
                        track-by="user_id" 
                        :preselect-first="false"
                        @input="fillterSales"
                    >
                    </app-select></no-ssr>
                </div>
                <div class="form-group mb-0">
                    <no-ssr><app-select
                        v-model="store_selected" 
                        v-width="'250px'"
                        :options="stores" 
                        :close-on-select="true" 
                        :hide-selected="true" 
                        :preserve-search="true"
                        :select-label="'Select'"
                        placeholder="Location" 
                        label="store_name" 
                        track-by="store_id" 
                        :preselect-first="false"
                        @input="fillterStore"
                    >
                    </app-select></no-ssr>
                </div>
            </div>
            <div class="flex-row ml-auto">
                <button class="btn btn-primary" @click.prevent="resetFilter">Reset Filter</button>
            </div>
        </div>
        <div class="mt-3">
            <b-tabs>
                <b-tab title="Active" @click="$router.push({name:'quotes-index-active'})" :active="$route.name == 'quotes-index-active'"></b-tab>
                <b-tab title="Expired" @click="$router.push({name:'quotes-index-expired'})" :active="$route.name == 'quotes-index-expired'"></b-tab>
            </b-tabs>
        </div>
        <NuxtChild @clear-search="resetFilter" :date="date" :location="location" :sales="sales" />
    </section>
</template>
<script>
     
    import { mapActions, mapState, mapMutations } from 'vuex'
    import Select from 'vue-multiselect'

     ;
    export default {
        async asyncData({store}){
            await Promise.all([
                store.dispatch('store/getStores', 'all'),
                store.dispatch('store/getManagers')
            ])
            return
        },
        data() {
            return {
                date: null,
                location: '',
                sales: '',
                sales_selected:'',
                // stores: [],
                store_selected:'',
                perpage: 10
            }
        },
        watch: {
            date: {
                handler: function(newValue) {
                    if(this.date != null){
                        this.generateQuoteFeed()
                        this.SET_ORDER_PAGE(1)
                    }
                },
                deep: true
            },
            location() {
                if(this.location != ''){
                    this.generateQuoteFeed()
                    this.SET_ORDER_PAGE(1)
                }
            },
            sales() {
                if(this.sales != ''){
                    this.SET_ORDER_PAGE(1)
                    this.generateQuoteFeed()
                }
            }
        },
        computed: {
            ...mapState('store', {
                sales_person: state => state.sales_person
            }),
            ...mapState('store',{
                stores: state => state.items
            })
        },
        methods: {
            ...mapMutations(['SET_LOADING_TABLE']),
            generateQuoteFeed() {
                this.SET_LOADING_TABLE(true)
                let start = this.date ? this.moment(this.date.start).format('Y-MM-DD'): ''
                let end = this.date ? this.moment(this.date.end).format('Y-MM-DD'): ''
                this.getQuoteFeed({ 
                    from: start,
                    to: end,
                    location:  this.location,
                    sales: this.sales,
                    perpage: this.perpage,
                    type: this.$route.name == 'quotes-index-active' ? 'active' : 'expired'
                }).then( ()=>{
                    this.SET_LOADING_TABLE(false)
                })
            },
            ...mapActions('order', ['getQuoteFeed']),
            ...mapMutations('order', [
                'SET_ORDER_PAGE'
            ]),
            fillterSales(){
                this.sales = this.sales_selected.user_id
            },
            fillterStore(){
                this.location = this.store_selected.store_id
            },
            ...mapActions('store', ['getStores', 'getManagers']),
            resetFilter() {
                this.date = null
                this.location = ''
                this.sales = ''
                this.sales_selected= null,
                this.store_selected= null
            },
        },
        components:{
            'app-select': Select,
        },
        transition: 'slide',
        layout: 'admin',
    }
</script>
<style scooped>
    select.form-control{
        height: calc(1.96875rem + 9px);
    }
</style>

